[2020-05-13 10:17] MysterAitch commented on #2666
Something that comes to mind to explore -- what is `this::isNotEmpty` picked up as _(off the top of my head I'm not sure what it should be)_? And is it resolved correctly?

Similarly, what is the return type of `.filter(this::isNotEmpty)`?

... and how does this differ to the return types when using `s -> isNotEmpty(s)`?

Figuring out where the differences are here looks like an interesting thing

[2020-05-14 02:55] corradomio opened #2668 "JavaSymbolResolver used in parallel"
In this moment, it is not possible to use **JavaSymbolResolver** in parallel.
The problem is in **JavaParserFacade**, in the static method **get:**

    public static JavaParserFacade get(TypeSolver typeSolver) {
        return instances.computeIfAbsent(typeSolver, JavaParserFacade::new);
    }

**instances** is a **WeakHashMap** but this class is not thread-safe.
It can be enough to convert this

[2020-05-14 03:03] corradomio opened #2669 "Infinite recursin on "java.lang.Object""
When the JDK is used with ""JarTypeSolver""  and not with a "ClassLoaderTypeSolver", there is a problem in the class **JavassistClassDeclaration**:

1) the method **getSuperClass()** generates a "StackOverflow" when it try to retrieve the superclass of `java.lang.Object`, because the superclass of `java.lang.Object` is itself.
It is possible to resolve adding and extra check:

[code]

It is necess

[2020-05-14 03:13] corradomio opened #2670 "Missing Support for Jmod file"
With Java 9, a library can be distributed also as a ".jmod" file.
This is a compressed file as the classic ".jar" one, BUT the classes are saved in the subdirectory **classes/**.  it  can be a good idea to add the support to "JarTypeSolver".

It is enough correct the implementation of **entryPathToClassName()**.

[2020-05-14 03:23] corradomio opened #2671 "It is not possible to use JavaSymbolSolver in a multithreading context"
The current implementation of JavaSymbolSolver  can be NOT used in a multithreading application. It is necessary to reimplement some classes and to control the access to some internal data structures.

The main problem is that it uses too memory: this because a type resolver is a dictionary and it is necessary to create the hierarchy of type solvers for each source code analyzed. BUT the content o

[2020-05-14 06:23] Julien-JLT commented on #1815
This issue is quite old but it doesn't appear to be resolved, and I'm experiencing it on my projet.

I have the exact same message (ArrayIndexOutOfBoundsException: 16) and stack, although it does not appear on a lambda expression, but on a regular method definition in an interface when trying to resolve the parameter name:
[code]

I have found nothing out of the ordinary on that class or method de

[2020-05-14 09:01] MysterAitch commented on #2670
Interesting!

Seems this was introduced in JEP261:

http://openjdk.java.net/jeps/261

At the risk of being lazy :wink: would you be able to prepare a few test cases please? I'm not sure which ones are relevant -- presumably a single one-file "hello world", presumably one which includes some jdk files, and maybe something else?

There is much that I don't fully grasp/understand here also re: the us

[2020-05-14 09:16] MysterAitch commented on #2671
I see that the goal is to deprecate and remove `JavaParserFacade` in favour of using : #1377

More than happy to have improvements made until that happens though :)

Modules and multi-threading are two of my weakest areas, so some extra support from you on these would be very gratefully received.

Personally I'm a fan of the idea supporting multi-threading, I'm just not sure what is needed to make

[2020-05-14 09:24] MysterAitch commented on #2669
Really appreciate this report, thanks!

I know that something similar was corrected recently - seems we missed the Javassist side of things.

Looks like this should be fairly straightforward to sort out given that you've been really helpful in pinning it down and providing a fix.

The only comment I have at the moment is that returning null is something we aim to avoid, instead favouring returning

[2020-05-14 10:40] MysterAitch commented on #1815
Could you provide a reproducible JUnit test (or similar) please?

[2020-05-14 12:32] corradomio commented on #2669
Another method to correct (in the same class as before) is **getAncestors()**

[code]

[2020-05-14 13:48] corradomio commented on #2670
I suppose, for now, I can be enough to consider the jmod files as"jar"
files, because inside the directory "classes/" you find the same classes as
in a normal ".jar".

On Thu, May 14, 2020 at 1:01 PM Roger Howell <notifications@github.com>
wrote:

[2020-05-14 15:42] mindajalaj opened #2673 "How to find the scope of variable via JavaSymbolParser"
I am trying to identify the occurrence of a variable in the entire code and the scope of it. By using AST and symbol parser I am able to find the variable and corresponding type of variable in the codebase. Although it also lists down duplicates if there exists a variable declaration with same name and same type in another method or block , so the question is how to identify the scope of variable.

[2020-05-14 20:11] MysterAitch commented on #2673
An interesting question!

I don't have an immediate answer, but you are right that it's not entirely straightforward as there is a subtractive element to it where variables can be overridden. Maybe this means that a second pass will be required. Or maybe a lookup table with statements/blocks/text ranges as keys. Possibly a few different approaches depending on what you are trying to achieve.

It g

[2020-05-14 20:17] MysterAitch commented on #2673
I've just remembered that there are some methods along the lines of `getDeclaration()` or similar -- after you resolve a reference/method call, you could get the declaration and perform some logic on that.

It's not something I've used though, so can't say much about it, and this is some speculation while I'm away from a computer.

Do let us know how you get on, and a bit more information about wh

[2020-05-14 23:09] MysterAitch commented on #2671
A reply I got on chat when I asked for comment about this issue is that we would usually advise not using JP across threads whenever similar questions are asked (somewhat paraphrasing here -- note that I'm still quite new and @matozoid has been around a lot longer than I have, so I'm inclined to trust him more than I trust my own views here!).

My presumption is that it would be a _substantive_ am

[2020-05-15 01:34] corradomio commented on #2671
There are some ""philosophical observations"" to consider:

1) if you must process 30.000 or 100.000 sources (my project) and you have a 64core+HT machine (or, 10core+HT) and ONLY 32GB of ram,  it is not smart not to use all the available computing power -> sequential analysis is not a solution!

1.1) it is possible, and simple to create the AST (parsing the code) in parallel.

2) to resolve a sym

[2020-05-15 01:54] corradomio commented on #2671
At the moment, "JavaParserFacade.get()" IS ""the problem""because

1) it is a GLOBAL/STATIC method
2) it caches ALL type solvers
3) it is used in several places inside the library
4) it is NOT synchronized

I tried to remove it, but I have not implemented this part.
The current ""possible"" solution is

1) to create a JavaParserFacadeFactory that contains the map typesolver -> JavaParserFacade (th

[2020-05-15 07:22] mindajalaj commented on #2673
Thanks for the quick response.

I am trying to highlight all the statements which refer to that variable along the line of its scope. And if it gets passed as parameter to a method or used via inheritance, perform it recursively for that as well.

I did not get how to use `getDeclaration()` w.r.t. variable and what will it return? Is it something like getQualifiedSignature() for methods ? Can you

[2020-05-15 08:25] MysterAitch commented on #2671
It'll take me a few more read-throughs before I can properly understand, and then intelligently reply to, what you have written...

First though, I wanted to drop a note sooner rather than later to say that I really appreciate the detailed and clearly well thought out comments -- thank you!

[2020-05-15 14:40] jlerbsc commented on #2673
@mindajalaj your test case doesn't compile, you cannot declare variable abc twice in a method declaration. Despite everything i think your question is related to the issue #2257 , and for the moment there is no solution in javaparser to compute the variable or method usage. In the case of a variable, first you have to resolve the variable declaration and define the scope of the variable for exempl

[2020-05-17 17:08] MysterAitch opened #2676 "LexicalDifferenceCalculator -- not handling change of literal values"
Note that there is also a problem with `char` (to be handled in the same way as the fix in #2643 but with single quotes rather than double quotes).

- [x] `String` -- fixed by @lemoncurry in #2643
- [x] `char` -- needs similar fix as with String
- [x] `boolean`
- [ ] ~~`null` -- NA, as this is replaced rather than edited~~
- [ ] ~~`byte` -- Not handled separately in JavaParser~~
- [ ] ~~`short` --

[2020-05-17 17:11] #2382 closed, assigned to nobody

[2020-05-17 17:37] MysterAitch opened #2677 "`CsmTextBlock` not used anywhere"
As part of #2676, I've come to realise that textblocks are treated as `CsmString`.

Looking further, I've seen that `CsmTextBlock` isn't referred to at all.

[2020-05-17 17:57] MysterAitch opened #2678 "Some categories of token are incorrectly set as keyword rather than literal"
Note that values such as `false`, `true`, `null` are literal values, rather than keywords.

https://github.com/javaparser/javaparser/blob/cdf31ab586e3a6c09631780441ab8e508d32abe2/javaparser-core/src/main/java/com/github/javaparser/TokenTypes.java#L140-L171

[2020-05-17 18:03] MysterAitch commented on #2677
Might be simpler than I thought if this is the only place that it needs to be edited:

https://github.com/javaparser/javaparser/blob/cdf31ab586e3a6c09631780441ab8e508d32abe2/javaparser-core/src/main/java/com/github/javaparser/printer/concretesyntaxmodel/CsmElement.java#L63-L65

[2020-05-17 18:27] #2676 closed, assigned to MysterAitch

[2020-05-17 18:27] #2678 closed, assigned to MysterAitch

[2020-05-17 23:42] MysterAitch opened #2681 "Verify the behaviours of `Position`"
Reading through `Position.java`, there seem to be some strange behaviours and areas for improvement.

- The constructor allows a column of 0, but the first column is explicitly stated to be 1 in multiple places
- `orIfInvalid()` -- when both `this` and the "other" position are both invalid, it returns "this" position.. is this intentional? My interpretation is that it should return the "other" pos

[2020-05-18 09:07] corradomio opened #2682 "JavaParser consider as ClassOrInterfaceType 'java', 'io' in 'java.io.IOException'"
Using JavaParser library 3.15.22, analyzing this code:

[code]

using

[code]

I obtain the following list of 'ClassOrInterfaceType' objects:

[code]

[2020-05-18 10:12] matozoid commented on #2682
The cause of this is that a parser does not know what the scope is. io might be a type, java might be a type. It guesses ClassOrInterfaceType. I think there is an issue somewhere to pick a new type of node for this.

The fix is probably to work on more granular node types, not ClassOrInterfaceType. To find out which ones, try examining the AST.

[2020-05-18 10:24] corradomio commented on #2682
I suppose it is necessary to handle the concept of ""Namespace/Package", because there are two cases to consider (at minimum):

[code]

There are the following symbols to consider (when used in other parts of the code):

[code]

However, in Java you can use OR the class name, resolved using the imports and "java.lang" OR the full qualified name of the class. A class as, for example 'Test.Other' ca

[2020-05-18 11:37] matozoid commented on #2682
Correct, and there is a tool for that: the symbol solver. It's best to take an hour or two to read through the docs if you haven't already: https://leanpub.com/javaparservisited and https://javaparser.org/inspecting-an-ast/

[2020-05-18 11:44] d-kay23 commented on #2666
In addition to previous problem, I found one more stream issue. I didn't dive to the parser code, so maybe the root cause of the problem is the same, but the following code isn't resolved as well:
[code]
Exception:
[code]
If I use ```Integer::compareTo``` method reference, the solver doesn't throw the exception.

[2020-05-18 11:48] corradomio commented on #2682
I am sorry but I AM USING the symbol solver, and the problem is that the Symbol Solver is not able to solve namespaces. I am patching the SS to avoid these problems.

A "TypeSolver" is able to understand if a symbol is a "namespace":
1) in the source code, it is the "package"
2) in a jar file, a .class file has name "directory"/"classname".class or "directory"/"classname"$"innerclass".class. The "

[2020-05-18 12:21] MysterAitch commented on #2666
This last example seems like it might be "unbound non-static methods" that aren't handled. I've still got some reading to do to figure out what that means though!

Note `public int compareTo(Integer anotherInteger) {` vs `public static int compare(int x, int y) {`.

https://www.javaworld.com/article/2946534/java-101-the-essential-java-language-features-tour-part-7.html

[2020-05-18 16:57] MysterAitch commented on #2682
After giving this some thought, I have come to the conclusion that our grammar needs rectifying _(personal opinion -- my rationale is shown below, but I'm more than open to being convinced otherwise!)_.

Specifically, the parts to the left of the `ClassOrInterfaceType` should be a `Name`, not `ClassOrInterfaceType`.

We then have `NameCategory.AMBIGUOUS_NAME` within the symbol solver to allow flag

[2020-05-18 18:40] matozoid commented on #2682
Here's the issue: #2442 - not exactly the same, but the same kind of issue.

With epiphany, do you mean you found the possible nestings of qualifiers? I haven't gone into it that deep before. Do you have an approach for a fix?

[2020-05-18 19:25] MysterAitch commented on #2661
Duplicate of #2647 oops!

[2020-05-18 19:25] #2661 closed, assigned to nobody

[2020-05-19 12:53] corradomio opened #2684 "JavaSymbolSolver is not able to solve "System" in "System.out.println()""
I suppose this is another instance of the same problem.
JSS 3.15.22

Test class:

[code]

parser & type solver:

[code]

I try to solve all 'NameExpr' nodes

[code]

It is not able to solve the symbol "System" in "System.out.println()"
Reference: JLS [8..14] Chapter 6: "Names"

[2020-05-19 19:31] matozoid opened #2686 "Update LanguageLevel"
LanguageLevel.CURRENT should be 14, and maybe Java 8 is not the most popular one anymore (but it probably still is.) Bleeding edge should be Java 15 then.

[2020-05-19 21:27] maartenc commented on #2671
What is the problem you encounter in a multithreaded environment?
I'm using the JSS on to analyse all our projects (the biggest one has 60000 source files) with 3 concurrent threads. I didn't notice any threading-issue yet.

Maarten

[2020-05-19 22:31] corradomio commented on #2671
I have already described the problems in the previous posts.
SymbolSolver NOT JavaParser

1) memory used by type solvers
2) WeakHaskMap (used in JavaParserFacade.get(...) USED INSIDE JSS) that, when updated in parallel, creates loops in the internal linked list handled by ""WeakHaskMap.table"". Method:  "WeakHaskMap.get(...)". In Java 8 source code, file WeakHaskMap.java, line 403.

[code]

JavaPa

[2020-05-20 16:14] matozoid opened #2688 "Document the metamodel"
Either write a chapter in the book, or an article on javaparser.org. Explain what it is supposed to do and some examples of how to use it.

Also go through the Javadoc and complete it.

(The metamodel is basically statically typed introspection for the AST nodes)

[2020-05-20 17:14] MysterAitch commented on #2686
Not sure how to label this. But yes.

I can see that this will not necessarily affect the JavaParserConfiguration default as that is currently set to a specific version. Changing the config default perhaps warrants its own issue.

[code]

[2020-05-20 17:43] matozoid commented on #2686
Oh is it? I would have thought that would be set to the most popular.

[2020-05-21 09:18] MysterAitch opened #2691 "Method naming inconsistency"
**ResolvedMethodLikeDeclaration.java**

[code]

**MethodUsage.java**
[code]

[2020-05-21 10:41] matozoid commented on #2691
Also: when renaming the nodes to have consistent naming (a JP 3.0.0 task) I went for the full name when it was the only word ("Expression") or the common shortcut when it is only part ("FieldAccessExpr") - mainly because I found the shortcuts immensely confusing at first.

I would suggest not using "params" - it's lazy naming - and calling these "getNumberOfParameters" or "getParameterCount" (alth

[2020-05-21 11:01] MysterAitch commented on #2691
I wholly agree re: using full words! :+1: :+1:

[2020-05-22 15:40] MysterAitch commented on #2669
PR submitted..

I have just added many thoughts/comments, including a few thoughts/fixmes/todos that I didn't catch at the time of writing and need to go back to do...

@migliorabile -- if you have a moment, please do take a look through, but it should be included within the next release

_(the next release should be before the end of the weekend, but I want to also convert `getTypeDeclaration()`

[2020-05-22 15:43] MysterAitch commented on #2668
Just wanted to flag up these really helpful / thoughtful comments from @migliorabile in a separate issue, to give some more context:

https://github.com/javaparser/javaparser/issues/2671#issuecomment-628973761

https://github.com/javaparser/javaparser/issues/2671#issuecomment-628979560

[2020-05-23 10:23] #2668 closed, assigned to nobody

[2020-05-23 17:38] corradomio commented on #2669
Thanks a lot!

[2020-05-23 19:29] MysterAitch opened #2695 "Return empty collections rather than null"
`CompilationUnit#getImports()` can return null

To fix this would require the property generator to be edited to have `setImports()` initialise the value to an empty collection and/or `getImports()` return an empty collection in the case of a null value.

While I see this specifically for `CompilationUnit#getImports()`, it is likely true for all properties that are collections.

[2020-05-23 19:34] MysterAitch commented on #2695
An interim step to make is ensure that all calls within our codebase to e.g. `getImports()` have the appropriate null checks.

[2020-05-23 21:09] matozoid commented on #2695
But how? All the constructors delegate to the main constructor, which uses the setter, which has an assertNotNull.

[2020-05-23 22:04] MysterAitch commented on #2695
Ah yes, you're right -- `setImports()` does have a null check:

https://github.com/javaparser/javaparser/blob/c19b232f26ca098564f2218493409c70829d6067/javaparser-core/src/main/java/com/github/javaparser/ast/CompilationUnit.java#L217-L235

Looks like the javadoc here needs to be updated then!

https://github.com/javaparser/javaparser/blob/c19b232f26ca098564f2218493409c70829d6067/javaparser-core/src

[2020-05-24 12:10] MysterAitch opened #2696 "Investigate distinction between implicit/explicit ancestors"
This is possibly well defined already (if so we can just close this issue), but it requires a deeper investigation than I am able to do as part of #2693 . Ideally we'll need a set of tests for this too.

[2020-05-24 12:15] MysterAitch commented on #2696
To kick things off, here is some terminology that I've been able to find from a cursory search.

The next step would be to determine:
1. Is it intended to include explicitly specified ancestors (extends/implements)
2. Is it intended to include implicitly specified ancestors (`java.lang.Object` and `java.lang.Enum`)
3. Is the javadoc consistent?
4. Is the _actual_ return types for the different mod

[2020-05-24 12:38] MysterAitch commented on #2696
Further context re: my initial confusion whether getAncestors/getDirectAncestors etc include implicit/explicit ancestors:

https://github.com/javaparser/javaparser/pull/2693/files/5f06176f074805fcc32a0f18989b031af5aadae0#r429632045

[2020-05-24 14:13] MysterAitch commented on #2696
**ResolvedReferenceType**

This javadoc seems to indicate that `getDirectAncestors()` _**sometimes**_ includes `java.lang.Object` -- but only when another class is not explicitly extended? And avoid adding an implicit super type of itself.

[code]

[2020-05-24 14:35] #2669 closed, assigned to MysterAitch

[2020-05-24 17:28] MysterAitch commented on #1701
Commented on #2637:

I'm leaving this issue open though, as there are likely better ways to do it than the small tweaks I added to #2637

[2020-05-24 17:50] #2667 closed, assigned to nobody

[2020-05-24 18:51] #2666 closed, assigned to nobody

[2020-05-24 19:29] matozoid commented on #2695
Ah right, yeah that might need a full AST Javadoc check for "null" to find more occurrences :-# The nodes used to have everything nullable, and I guess it had null when lists were empty. All for performance. Sadly, that led to a lot of issues where people were stuffing nulls in unexpected places. That was tightened in 3.0.0, so we're looking at ancient Javadoc here :-)

[2020-05-26 17:32] #2647 closed, assigned to nobody

[2020-05-26 17:34] MysterAitch commented on #2647
Merged in #2685

If the input is unambiguously CR/LF/CRLF, then use that... otherwise default to the system's line separator for "new" code being injected.

As you say, this is less than ideal and there should probably be a warning or similar in this case. That can be added via another issue/PR though :+1:

I'll add a couple more issues in a moment.

[2020-05-26 17:39] MysterAitch opened #2698 "Improve EOL support / robustness."
Initial line separator support was added within #2685 -- by default, using the source code's line separator for any generated code.

- If the input unambiguously uses CR/LF/CRLF then any generated code will use that.

- Where it can be ambiguous is if the destination is a single line (thus contains no line separators to analyse) or already contains mixed line separators. In these cases, #2685 will

[2020-05-26 17:41] MysterAitch opened #2699 "Add line separator configuration"
As noted within #2647, the line separator behaviour would benefit from additional configuration options.

- Which line separator to use for "new" code (e.g. inserting a new field)
- Which line separator to use for printing (e.g. pretty printing, lexical preserving printer, etc.)

[2020-05-26 20:03] stefanleh commented on #1815
Hate to say that, but, after investing like 2-3 workdays in the problem, i moved on to Spoon cause of this issue. I had a long and good discussion on the matter with the JavaParser guys and understood that its really complicated to resolve method signatures right in Java. Please read on in https://github.com/javaparser/javaparser/issues/1783#issuecomment-415432154

[2020-05-27 15:22] MysterAitch opened #2700 "Lexical preservation not yet enabled on the generators"
Lexical preservation is currently disabled on the generators:

https://github.com/javaparser/javaparser/blob/dbea9d069ba0d6335f7285c3884ce84a07ff9db8/javaparser-core-generators/src/main/java/com/github/javaparser/generator/core/CoreGenerator.java#L43-L50

As it is, any generators that touch but do not modify a file leads to many unrelated changes.

There probably needs to be a better description t

[2020-05-27 19:00] sharath2106 commented on #2625
@MysterAitch Are you working on this? If not, I'm willing to take this up.

[2020-05-27 19:30] matozoid commented on #2700
It's not enabled because of bugs in the printer. Those may be gone now. (I think there is an older issue for this too)

[2020-05-27 19:51] MysterAitch commented on #2625
Please do! :+1:

I think I did some bits, but then got distracted -- oops!

Incremental improvements are very welcome -- doing every class would be awesome, but if you get bored halfway through then contributing just that would be gratefully received :)

[2020-05-27 20:01] MysterAitch commented on #2625
One of the things I had in mind for the "longer term" is to create a `NotYetImplementedException` or similar to indicate cases where there is a work in progress or a todo or similar and it _might/should_ be supported in the future.

There could also be another exception to indicate places where it _shouldn't ever_ be supported and is never likely to be implemented in the future (I can't think of a

[2020-05-27 20:04] MysterAitch commented on #2700
I did do a quick/lazy search for existing issues but didn't spot anything #oops

Do feel free to close this as a duplicate with a link if you have a link to hand! :)

But yes, I'm currently trying to work through issues in the lexpres printer and wanted a separate issue to refer to. Might not come to anything if it ends up being too hard! :stuck_out_tongue_winking_eye:

[2020-05-28 09:37] MysterAitch opened #2701 "Have the language level take account of preview features or not"
An extension of #2686 will be to include additional detail for including/excluding incubator/preview features.

I've added this as a separate issue as it's a bit more of a substantial change and needs some additional thought on how to achieve this.

Initial ideas:

- Additional enum values e.g. `LanguageLevel.JAVA_14` and `LanguageLevel.JAVA_14_ENABLE_PREVIEW`
- Add a configuration option that mir

[2020-05-28 09:41] MysterAitch commented on #2701
Question: Are there any examples of preview features changing substantially between versions? e.g. TextBlocks is now on 2nd preview

If there are substantial changes, then it might be the case that Java 14 preview textblocks implementation might need to be different to the Java 13 preview textblocks implementation.

My presumption is that this is minimal and won't affect us **IF** there are any ex

[2020-05-28 09:47] matozoid commented on #2701
Switch expressions moved from "break 123" to "yield 123". I decided not to support the first version anymore because it made the BreakStatementNode less specific, which is less user friendly. I guarantee that nobody will ever miss it because it needed a compiler switch to turn it on, it is no longer implemented in any supported Java compiler, and no sane person will have released code based on it.

[2020-05-28 09:53] MysterAitch commented on #2701
I think where this is coming from is surprise that if I specify "JAVA_14", then by default this includes the preview features.

Perhaps additional documentation might reduce this surprise as a way of solving this?

100% I am wary of this potential rabbit hole -- and I'm not volunteering to take this work on _(we're not building a compiler! :wink:)_, but at the same time I would really like to have

[2020-05-28 10:25] matozoid commented on #2701
Everything depends on how much effort you want to spend on it. I can imagine only supporting previews for the latest version, for example, and taking them out of older versions. Or maybe not support the in-between releases from the last years at all. Some of the older language levels are there more for fun, for example. Who is ever going to use those seriously? Did any Java 1.0 code survive? Who w

[2020-05-28 11:11] MysterAitch commented on #2701
The main thing being that if somebody wanted to use JavaParser to upgrade a Java 1.0 codebase to Java 14, then we (presumably) currently support it -- a rather nifty thing to be able to brag about :wink:

+1

[2020-05-28 12:29] zyj183247166 opened #2702 "it will go into an endless loop when analyzing the fieldaccessExpr as a.a.a"
Using JavaParser to resolve the type of `a.a.a(a fieldaccessExpr)` , it will go into an endless loop.
The analyzed program that has expressions as a.a.a is as follow:
[code]

You can use the `FieldAccessExpr` of JavaParser to analyze `a.a.a` and try to resolve the type of the first `a` or the second `a`. And you will find that it go into an endless loop.

[2020-05-28 12:34] zyj183247166 commented on #2702
If you need the analyzed program and the program that is written using JavaParser, you can contact me. zyj183247166@qq.com
I will send you the program that is written using JavaParser and the analyzed program that has the FieldAccessExpr a.a.a.
You just run the program, and it will go into an endless loop.
I have debug the program and find the bug is in FieldAccessContext.java.
You just need debug

[2020-05-31 16:35] MysterAitch opened #2703 "SourceRoot has two places to set the printer"
Why does `SourceRoot` have its own copy of a field for a printer, when it also has a parser configuration option available too?

This leads to odd situations like within the generators where specifying that we wish to use lexical preserving printer must be done via BOTH the configuration AND via the source root setter method.

Personally I think it would be fine to remove the field and have get/se

[2020-05-31 17:07] matozoid commented on #2703
I've wanted to clean up that whole class, tried it a few times and stopped again. I guess this particular issue is because some people want to pass the SourceRoot around without having to pass the ParserConfiguration too? It makes sense to keep them together since SourceRoot has read and write actions that can be far apart, but have to use the same config.

On the other hand, JP embraces mutabilit

[2020-05-31 17:49] MysterAitch commented on #2703
The problem I've come up against is that setting one or the other doesn't work well.

Pretty sure that reality is more complicated than this but from what I can gather, lexical preservation applies only after it is "setup" as changes to the AST need to be logged (or "observed"). Would need to go back and step through again to recall for sure.

Whatever actually happens, I can only confirm for sure

[2020-05-31 18:15] MysterAitch commented on #1701
Hmm, interesting..!

I've just stumbled across this bunch of JUnit5 annotations (among a bunch of others):

- `@DisabledOnJre(value= JRE.JAVA_10)`
- `@EnabledOnJre(value= JRE.JAVA_10)`
- `@EnabledForJreRange(min = JAVA_9, max = JAVA_11)`
- `@DisabledForJreRange(min = JAVA_9, max = JAVA_11)`

Maybe this would negate the need for JRE-agnostic test cases?

https://junit.org/junit5/docs/current/user-g

[2020-05-31 18:37] MysterAitch commented on #2700
Ah yes, I now see #1301 -- closing this as a duplicate.

[2020-05-31 18:37] #2700 closed, assigned to nobody

[2020-05-31 18:46] MysterAitch opened #2705 "Condense the generators into a single module"
As far as I can tell, there is no reason not to merge the two generator modules -- i.e. the one for javaparser-core and the one for the metamodels.

My preference to replace them both with a more generically named `javaparser-generator` or similar which handles all generator-related behaviours.

Any improvements made re: #771 would then make this a module that other users might actually end up usi

[2020-05-31 23:08] #1916 closed, assigned to nobody

[2020-05-31 23:19] #2437 closed, assigned to nobody

[2020-06-01 01:15] MysterAitch opened #2707 "Idea - null / not null annotation"
As an idea, we could have our own `@Nullable` and `@NotNull` annotations on method parameters.

We could then use a generator to ensure that the first lines of the method include a null check (e.g. `assertNotNull()` or `Objects.requireNonNull()` or similar).

Maybe this could be extended out to fields?

[2020-06-01 01:18] MysterAitch opened #2708 "Improve generated code"
There are some improvements that can be made to the generated code:

- Missing `@Override` annotations (not sure offhand where we might check to see if a generated method is overriding something)

- Unnecessary casts within the `PropertyGenerator` (easy enough to add in a check to see if the type being returned matches the current class name)

Maybe some other bits

[2020-06-01 01:34] MysterAitch commented on #2033
Closing this issue as it seems to no longer apply to the current code.

_( #2033 seems to have been fixed in dea27fa )_

[2020-06-01 01:34] #2033 closed, assigned to ftomassetti

[2020-06-01 10:10] matozoid commented on #1701
In my mind the solution is to rewrite tests that use classes from the classloader that the compiler is currently using in a significant way (testing methods on `java.util.Object` or so) to use other classes that are under full control (like some extra classes in the test sources.) Another approach could be to direct the reflection solver to use a specific classloader, and to have a few test classe

[2020-06-01 10:37] MysterAitch commented on #1701
Indeed -- one of the things that make me nervous about version-specific tests is that (presumably) it is really easy to forget to also test the other versions to ensure full coverage of versions.

I don't understand classloaders enough but using the reflection solver only makes me nervous as the solvers aren't always synchronised (e.g. it might pass with the reflection solver but not necessarily w

[2020-06-01 10:41] MysterAitch commented on #1701
PS: It's probably a bit more nuanced than "Tests that fail depending on _the JDK used_"

e.g. I wholeheartedly agree if we're talking Oracle JDK vs OpenJDK and similar (i.e. "the _JDK vendor_ used"), but I'm a little more fuzzy when talking about "the _Java/JDK major version_ used".

[2020-06-01 16:48] sharath2106 opened #2709 "Improve naming of methods and classes"
Hi

While working on the issue - https://github.com/javaparser/javaparser/issues/2625

I've come across methods and classes which could've been named better. Screenshots attached.

Please let me know if I can also work on this. So that I can create a PR against this issue.

<img width="909" alt="Screenshot 2020-06-01 at 10 17 40 PM" src="https://user-images.githubusercontent.com/25933070/83431916-

[2020-06-01 17:10] matozoid commented on #1701
To be very specific: the cases I've seen where when fields, methods, parameters from standard Java classes were checked as the result of.. uh... some code that analysed those classes. So go from Java x to Java y, and suddenly, secretly, new fields and methods pop up, and tests fail! Sneaky sneaky.

I might be overdramatizing the amount of work, btw. I think there was already work done a while ago

[2020-06-01 17:18] MysterAitch commented on #2709
Before making this change, which names are you looking to change and what would you suggest is an alternative?

As far as I can tell, `breakTarget` is used only once and that is within the same class it is defined (and that method `exitTheStatement` is never called at all?).

[2020-06-01 17:39] matozoid commented on #2707
Here's the history, check the oldest issues: https://github.com/javaparser/javaparser/issues?q=is%3Aissue+nullable

[2020-06-01 17:51] matozoid commented on #2705
That's from an outdated design decision to supply a module for people wanting to write their own generators. They're not going to write their own metamodel generators though, so that was another module. I don't think either of these modules currently gets released? (It would be good to put notes like these in ADR's)

[2020-06-01 18:16] MysterAitch commented on #2705
That seems like reasonable rationales! :)

Both currently get released:
https://mvnrepository.com/artifact/com.github.javaparser/javaparser-core-generators

[2020-06-01 18:32] matozoid commented on #2705
Oh, well that's a little pointless :-) Nobody has any use for the metamodel generator as a dependency!

[2020-06-02 13:33] MysterAitch commented on #2701
How would you feel about defaulting to whatever the runtime java version is?

It would be a pretty clear message that "you get the language features of your current JRE/JDK, but if you care about specific features then you should edit the configuration" and would avoid surprises like not being able to parse e.g. module info files even if you're running the latest JDK.

That said, it could lead to

[2020-06-02 15:33] matozoid commented on #2701
I was thinking that it was a nice idea until I thought: but what if someone makes an application using JP, spreads it to users, and now those users get parse errors because they are using an older JRE that the developer? Maybe defaulting to the latest Java version is better, or what someone else suggested: making a clearer error that your language level is set wrong.

[2020-06-03 16:32] MysterAitch commented on #2257
This comes up a few times and is something I would likely make use of, so I'm commenting to add a +1 :+1:

It should be done have a configuration option to enable/disable it though -- starting with a default of "off".

Depending on the implementation, it could get a bit messy ensuring that it is clear that it will only find results within code that has been "resolved" though (and even then it gets

[2020-06-04 03:09] sharath2106 commented on #2709
First, apologies for the delayed response as I was caught up with other items here. The change with respect to naming the class and methods is to improve the readability (which can be achieved just by spelling it better)

For example -

BreakStmt can be renamed to BreakStatement
EnclosedExpr can be renamed to EnclosedExpression

<img width="346" alt="Screenshot 2020-06-04 at 8 37 36 AM" src="https

[2020-06-04 07:39] MysterAitch commented on #2709
All good!

One of the things we strongly encourage is that contributing to open source should be fun (or, at least, not a chore or annoyance!).

That, and your "real life" comes first -- i.e. family and school and work that pays the bills!

These changes affect the public API of the program -- this means that this would be a breaking change for users of JavaParser!

Breaking the public API means t

[2020-06-04 08:05] MysterAitch opened #2714 "ADRs - Architecture Design Records"
ADR - Architecture Design Records

@matozoid talked about these and they do seem like a really good idea!

Here are some ideas off the top of my head:

- [ ] Metamodel - WIP #2710
- [ ] Generators for the metamodel - WIP #2710
- [ ] Naming conventions (e.g. `Statement` when used on its own, and abbreviated when part of a longer name such as `BreakStmt`)
- [ ] Places where we have deviated from the

[2020-06-04 08:50] MysterAitch opened #2715 "Document dependencies"
Some dependencies within the POMs are obvious (e.g. JUnit is used during test compile and run time).

Some are used ONLY by developers **developing** JavaParser, and some are used by developers **using** JavaParser.

It would be helpful to have a simple one-pager documenting what dependencies are used, when, and to whom they are relevant.

[2020-06-04 09:13] d-kay23 opened #2716 "Cannot resolve sorted() in streams"
Hello everyone.
Here is one more issue (looks like a bug) in Symbol Solver (reproduced in the latest version 3.16.1). The sorted() method can't be resolved in a stream. I've prepared simple class example where the problem is appeared:
[code]

When I try to resolve the methods of the class using the following code, Solver throws the exception:
[code]
Exception:
[code]
The exception is caused by res

[2020-06-04 09:53] MarcosCosmos commented on #2688
It occurs to me that one very useful way of documenting this would be to provide ~a class diagram~ an entity-relationship model/diagram.

I've given a bit of thought as to how this could be done:

AFAIK the diagram can be generated and embedded directly into the package level doc comments for the `com.github.javaparser.metamodel` package as javadoc supports HTML content.

Note that whilst the meta

[2020-06-04 11:24] MysterAitch commented on #2716
I'll mark it as a bug because it sounds like it is, but I'm not sure of the cause or if it is another manifestation of an existing report.

[2020-06-04 17:01] sharath2106 commented on #2709
I agree with your point here. And yes, it is not an easy task to make this change. Reason for me raising the issue is because of the readability. Maybe we can make this change at a later point of time.

So, should I go ahead and rename this?

[2020-06-04 19:14] MysterAitch commented on #2709
Completely up to you!

Personally I have no strong feelings either way given that "diff" is an extremely common shortened version of "difference", but would welcome it it as a first time PR to get the ball rolling as a contributor 😊

[2020-06-05 14:25] zyj183247166 commented on #2702
So how to correct this error?
Just not to analyze the type of a.a.a. So before analyze the type of some node or expression, add some statements to judge if it belongs to the type of a.a.a(FieldAccessExpr)
`
private ResolvedType getNodeDescribeRT(Node node) {
	        ResolvedType rt = null;
	        if(node instanceof FieldAccessExpr) {
	        	Expression scope =((FieldAccessExpr) node).getScope

[2020-06-07 21:17] PELock opened #2717 "BreakStmt without a label - break empty?"
I have just updated my Maven dependency (core) to 3.16.1 and I'm using this:

`BreakStmt breakStmt = new BreakStmt();`

and getting this in output source code

`break empty;`

I have tried to do it like this:

`BreakStmt breakStmt = new BreakStmt("");`

but at runtime it throws an error that the label is empty

`java.lang.AssertionError: A string was unexpectedly empty.`

So how am I suppose to ge

[2020-06-07 21:22] PELock commented on #2717
Meh I have found this method:

`breakStmt.removeLabel();`

but it broke my old code and by default the label should be null if initialized like this:

`BreakStmt breakStmt = new BreakStmt();`

[2020-06-08 10:00] MysterAitch commented on #2702
Apologies, I tend to work out of GitHub notifications and somehow missed this one -- nothing personal in ignoring you, I promise! :smile:

I don't have an easy answer to hand, but I do seem to recall reading somewhere that symbol resolution:
1. removes the last element of the reference/name
2. tries to resolve it
3a. if it is resolved, great -- used it
3b. if it is NOT resolved, jump to (1) by rem

[2020-06-08 11:46] MysterAitch commented on #2717
Hi @PELock -- What version are you upgrading from?

Looking at the file history, there haven't been any code changes in the last six months or so (just javadoc changes) so I can only presume there has been a change somewhere else.

I don't use the code generation side of things, so I'm not familiar with how it normally behaves etc.

[2020-06-08 12:00] matozoid commented on #2717
Quick background: the default constructor initializes every field that cannot be null to a default value like "empty". Since this parameter *can* be null, it was a mistake to initialize it with "empty". (My bad.) I suggest to change the initial value of this parameter to null. Nobody should be using the default value, so this should not break anything.

[2020-06-08 21:25] shaifulcse opened #2718 "Identify test methods"
I can find all the Java methods from a given repository. I am interested to make two classes. One for source methods, and one for test methods. What would be the best approach to identify if a java method is a source or test method. I know I can look for certain directories, but that's not consistent across projects. Also, the approach should be independent of test library (e.g., junit).

[2020-06-08 21:59] MysterAitch commented on #2718
How do you, as a human, identify your runnable tests?

My first suggestion would be to identify methods which have the annotation `@Test` -- then resolve it (or scan through the imports for a JavaParser-core only solution) to verify it's the JUnit annotation i.e. in the expected package.

Beyond this (e.g. for other test libraries), I refer back to my first paragraph --- you'll need to better defi

[2020-06-08 22:13] shaifulcse commented on #2718
Thank you.. I totally understand your point. The problem is I wanted to have 100% precision and recall. If I set my own rules, it would be hard to achieve that. For example, looking for @Test annotation would give you 100% precision, but not 100% recall.

[2020-06-09 10:00] MysterAitch commented on #2718
It that case you might need to adjust your expectations somewhat, especially if you want this to be 100% automatic.

---

Thinking about this somewhat further, if you have previously setup an eclipse/netbeans/intellij project then you might be able to read their configuration files.

For example, there is an XML file (usually, iirc) within the project structure that keeps track of how directories

[2020-06-09 17:08] MysterAitch commented on #2717
My understanding based on @matozoid 's update is that this should be easy enough to fix (just change the default value), so can be targeted at the next release (hopefully before the end of this week).

We can always undo this if it looks tricky or if I have misunderstood!

@PELock - would you be interested in submitting a PR to address this? 😊

[2020-06-11 06:47] MarcosCosmos opened #2722 "com.github.javaparser.printer.Printable is underutilised, and implemented without being declared as 'implements'"
There are quite a few occurrences of this interfaces function `String asString()` - my IDE's 'find in path' search counted - but only two of the classes are declared as `implements Printable`: `com.github.javaparser.ast.expr.BinaryExpr.Operator` and `com.github.javaparser.ast.expr.AssignExpr.Operator`.

Both of these are enums which occur as attributes in the node meta model. There are a number of

[2020-06-11 07:03] ch710798472 commented on #1239
hi, How do you solve this problem

[2020-06-11 07:18] jlerbsc commented on #1239
If i understand correctly there is no problem. @matozoid said "a compilation unit always has a 1:1 correspondence with a Java file". You have to take into account this postulate to resolve your functionality. I think you don't need a global AST for the application but a dependency graph which models the relationships between the different classes. Isn't it?

[2020-06-11 07:30] ch710798472 commented on #1239
To be honest, I just want to get global AST to implement the intelliJ idea find usages, that like a usage graph

[2020-06-11 07:38] jlerbsc commented on #1239
To my knowledge, there is no global AST or "usage" functionality in the javaparser project. What you want is a global dependency graph that covers what you want.

[2020-06-11 07:44] ch710798472 commented on #1239
thanks, so can you give me some advise to solve this? I want to use CompilationUnit to analyze dependency graph

[2020-06-11 09:32] MysterAitch commented on #1239
Hi @ch710798472 ,

These two queries (working across multiple files and finding usages) comes up every once in a while.

The second has an open issue with some discussion around this (I'll edit in the number later unless somebody else finds it first :smile: ).

@jlerbsc is 100% correct that there is no "global AST" or other form of AST that spans across multiple files. The root of an AST is the `C

[2020-06-11 09:59] ch710798472 commented on #1239
thanks, i am prepare to use ```ProjectRoot``` to  get all project ```CompilationUnit```

[2020-06-11 13:46] jlerbsc commented on #1239
@ch710798472, if you want to build a dependency graph from all compilationUnits, you have to build it by yourself. You have to think the graph with nodes which represent the classes and the edges which represent the dependencies between the classes. When you parse java files, as things progress, you can build your graph. Once the graph is constructed you can, browse it as you want from node to nod

[2020-06-12 03:28] ch710798472 commented on #1239
thanks

[2020-06-12 10:31] #1878 closed, assigned to ftomassetti

[2020-06-15 08:54] for-just-we opened #2724 "Could I get which class a method belong to from MethodCallExpr"
like code below
`
import  java.util.concurrent.Executors;
........
ScheduledExecutorService scheduledExecutorService = Executors.newScheduledThreadPool(10);
`
and if I override visit(MethodCallExpr n, )
could I get a result like method newScheduledThreadPool belong to class
java.util.concurrent.Executors

[2020-06-15 09:51] MysterAitch commented on #2724
Hi @for-just-we - yes!

There are a couple of steps involved:

1. Resolve the **method usage** -- this will give you a **method declaration**
2. Once you have a **method declaration**, you can then query it for which class it is within.

If you need a hand with any of these individual steps let us know :)

Edit: I hit submit then noticed you asked about overriding `visit(MethodCallExpr n, )` -- fo

[2020-06-15 14:05] for-just-we commented on #2724
thanks, this help me a little, actually I don't really understand what step 1 mean. Should I resolve **method declaration** first? actually my need is if threre is a method call:
`obj.fun()` and obj is a Object of class xxx.xxx.xxx.Obj.
the result is like **"method name:fun  class name:xxx.xxx.xxx.Obj"**

And I don't really know how to do  step1

[2020-06-15 14:17] for-just-we opened #2725 "should I compile a java project before analyse it."
create a test maven project. define 3 classes foo, foo1, foo2  without compile.
the code of foo is

[code]

And I analyse it with code

[code]

**`/home/prophe/projects/java/staticAnalysis/test/simpleTest`** is the path of the maven project.

There is always **`UnsolvedSymbolException{context='null', name='foo1', cause='null'}`**

And I don't know what the problem is

[2020-06-15 18:28] MarcosCosmos opened #2726 "Refactoring the Metamodel + Printer"
Details can be found in the gitter comments that inspired this issue:

[2020-06-18 03:52] ishtiaque05 opened #2727 "How can I obtain parsed file path by java-symbol-solver?"
I am using the latest version of javaparser-symbol-solver-core and I have the following code ``MethodCallExpr.resolve().getQualifiedName()`` which gives me the qualified method name. However, I want to obtain the file path of the method called. Is there a way to do this?

[2020-06-18 20:57] ishtiaque05 commented on #2727
I found the answer myself and thus posting the snippet below:
`` resolvedMethod.toAst().get().getParentNode().get().findCompilationUnit().get().getStorage().get().getPath()``

[2020-06-18 20:57] #2727 closed, assigned to nobody

[2020-06-21 10:36] LinWanCen opened #2731 "Generic QualifiedSignature different for MethodDeclaration and MethodCallExpr"
[code]
![image](https://user-images.githubusercontent.com/14926671/85186569-607b7e80-b2cc-11ea-8b9a-056850485d9b.png)

[2020-06-24 16:14] jlerbsc opened #2733 "what is the PhantomNodeLogic class for?"
Hi,
I not sure but i think there is a memory leak in this class. I am using lexical preservation when parsing a project. I took a heap dump during the java files processing. MemoryAnalyzer said me that 70% of the heap (12Go) is retained by this class.

![memory_leak](https://user-images.githubusercontent.com/5850581/85590805-00c30180-b645-11ea-8e36-fbd88ad02b0d.png)

[2020-06-24 23:00] poxu opened #2734 "RuntimeException is thrown when resolving variable used inside case statement, because not existing method is called after switch"
I have this small code snippet
[code]

I am looking for all method calls and then try to resolve first child node of method call, which is the object containing the method.
It works for dto.getNumber() , but for the second method call **result.getNumber()** result variable can not be resoved.

What is also weird is that RuntimeException is generated instead of UnsolvedSymbolException. And error me

[2020-06-25 05:55] jlerbsc commented on #2733
Probably caused by an issue on my own project.

[2020-06-25 05:55] #2733 closed, assigned to nobody

[2020-06-25 13:09] DmitriZamysloff opened #2736 "Generation. Print. Avoid fully qualitfied names."
Hi,
Javaparser is very interesting.  Thank you for your engagement.

Im my generator I am defining Names of classes with qualifiers. These I use in compilation unit to define import statements. And the same Names I want to be able to use in Field declarations, Generic types, etc. Everything is fine, but by printing the compilation unit out I am getting over all full qualified names. How can I cont

[2020-06-28 03:04] MornSunShine opened #2737 "confused on MethodDeclaration"
Nested function calls may not been resolved.
new Query.Builder().setSortOrder(sortOrder).build() can be solved ,
however,
like new Query.Builder().addFilter(Filters.eq(SearchableField.TITLE, "glucosio.realm")) , arguments of the method are MethodCallExpr nodes, JavaParserFacade will  throw exception,
java.lang.RuntimeException: Unable to calculate the type of a parameter of a method call.

Are the

[2020-06-28 03:08] MornSunShine commented on #2716
maybe, it failed to solve the call expression with calls as arguments. I run into similar problems

[2020-06-28 03:54] SunilDC opened #2738 "UnsolvedSymbolException while trying to ResolvedMethodDeclaration from MethodCallExpr"
Hello,

I am trying to fetch method callers. In that i have a case with method overloaded.
I need to check the arguments type to identify the respective methods. So i am calling `resolve()` method from `MethodCallExpr`.
I am facing `UnsolvedSymbolException` while executing `resolve()` method. Please find the below code snap.
Please help me to solve the issue.

JavaParser Configuration:
-----------

[2020-06-29 05:35] jlerbsc commented on #2738
Hi SunilDC could you give us a full test case please because extract cannot help us to find any issue?

[2020-06-29 09:04] SunilDC commented on #2738
Hello @jlerbsc ,

Thanks for your replay.
I have use case to fetch call hierarchy of selected method from a class. Here I have use case that class having overloaded methods with different types(sub type). I need to retrieve exact method getting called. Please find the below test case:

Class A{
//Method1
B(Type1 arg1)
{
}

//Method2 overloaded and Type2 is sub type of Type1
B(Type2 arg2)
{
}
}

Te

[2020-06-29 11:22] MornSunShine opened #2739 "bug resulted from Boolean.FALSE and false"
JavaParserFacade.solveMethodAsUsage throw exception,
when solving source code "Filters.eq(SearchableField.TRASHED, false)",
the former is "SearchableMetadataField<Boolean>",
the latter is boolean.
However, for type variable, boolean and java.lang.Boolean can be considered as same type.
when matchTypeParameters, the exception is thrown.

[2020-06-29 13:21] MornSunShine opened #2740 "bug MethodCallExpr exception"
[code]

above on, when solve code `t.add(10)`, with `JavaParserFacade.get(typeSolver).solve(callExpr9);` exception will be thrown, like

[code]
If I make some adjustment, it will be successful. like the following,

[code]

I think it is bug

[2020-06-30 10:38] MornSunShine commented on #2740
Maybe, new fields declared in the anonymous class are rare, and anonymous class is corresponded to ObjectCreationExpr, However, the search of declaration is ignored.

[2020-06-30 12:51] MornSunShine commented on #2740
I fix the bug in the source code.
For the following test code,
[code]
The access identifier of variable 't' is private. However, in the method, com.github.javaparser.symbolsolver.javaparsermodel.contexts.AnonymousClassDeclarationContext.solveSymbol(String name),
[code]
I correct it as
[code]

[2020-06-30 13:34] MornSunShine commented on #2739
Many similar bug,like
String and CharSequence
int, long, boolean, ... vs Integer, Long, Boolean

[2020-06-30 16:07] DehengYang opened #2741 "How can I use the DifferenceElementCalculator class which is not visible in JavaParser?"
Dear authors,

Sorry for interrupting you with this issue. I am trying to parse the Java file and obtain the differences between two Nodes using JavaParser. However, when obtaining the differences between Nodes, the DifferenceElementCalculator class, which is seemingly able to deal with this case, is not visible. Therefore, I would like to ask that if there is any solution for using the **Differen

[2020-07-01 07:53] MornSunShine commented on #2741
Reflection may help you. The technology makes methods or classes which are private be accessed as the public.

[2020-07-01 09:03] jlerbsc commented on #2741
DifferenceElementCalculator has a default visibility you cannot use it directly. To obtain difference between 2 nodes you can, for exemple, compare string representation of the 2 nodes with the org.apache.commons.text.diff.StringsComparator library. I'm not sure javaparser provides this functionality.

[2020-07-01 10:14] 2625180201 opened #2742 "How can I judge which class a method belongs to when I use [methodcallexpr]"
How can I judge which class a method belongs to when I use [methodcallexpr] to call methods of other classes in the current class. Eg:

class X { public static int x() { return 1 + 1.0 - 5; } }

class Y { int y() { return x(); } }

How do I know that x () is a method of X when parsing y class.

[2020-07-01 11:47] DehengYang commented on #2741
@jlerbsc Thank you so much for the suggestion. I may first use org.apache.commons.text.diff.StringsComparator to get the textDiff between 2 nodes, and then transfrom it into the corresponding astNodeDiff that I actually need.

@MornSunShine Thank you very much for the help. Next, I plan to 1) figure out the usage of DifferenceElementCalculator  via debugging the javaparser in IDE; 2) if the Differ

[2020-07-01 15:53] jlerbsc commented on #2742
This test case doesn't compile.

    class X { public static int x() { return 1 + 1 - 5; } }

    class Y { int y() { return X.x(); } }

X is the scope of your method call expression. You can resolve the scope.

    ResolvedType rt = mce.getScope().get().calculateResolvedType();
    System.out.println(rt.asReferenceType().getQualifiedName());

[2020-07-02 07:45] MornSunShine opened #2744 "Duplicate code of classes, implementing Context"
From the source code of Context class in the package, com.github.javaparser.symbolsolver.javaparsermodel.contexts, there is much duplicate code.

Like method sloveSymbol and solveSymbolAsValue, they share similar logic, and default realization of solveSymbolAsValue in class, Context is enough.

So, why not make any changes to beautify the code?

[2020-07-02 11:47] MornSunShine opened #2745 "Bugs and redundant logic in JavassistUtils"
In com.github.javaparser.symbolsolver.javassistmodel.JavassistUtils, I think there are some slow operations.
For example, getMethodUsage,
Why not search and judge the most applicable usage?
As the current logic, search all methods of the same name, then make the judgment.
It will slow the operation and increase complexity.

[2020-07-02 13:41] MornSunShine commented on #2745
Not only slow operations, but also some bugs are found.
Search methods just by name, and method, findMostApplicableUsage, will throw java.lang.IndexOutOfBoundsException. Because the number of parameters contained in the methods may be different.

[2020-07-03 02:06] MornSunShine opened #2746 "@Deprecated and Recommendation"
While inspecting the source code, I found many methods with annotation, @Deprecated.
So, where can I found the methods recommended?
Because, when I found some bugs in methods with annotation, @Deprecated,
I'm confused whether I need to correct them.

[2020-07-03 08:02] jlerbsc opened #2747 "How to obtain the wrapped class type from parameter"
I'm trying to access to wrapped class from a parameter. Is it possible to get it?

[2020-07-03 09:37] 2625180201 opened #2748 "A problem of code encapsulation"
before:
 public static String getV4IP() {
        String ip = "";
        ip="xxx";
        ip="aaa";
       return ip;
    }
after:
 public static String getV4IP() {
        String ip = "";
       doSome(ip);
       return ip;
    }
public static void doSome(String ip){
        ip="xxx";
        ip="aaa";
        return ip;
}
When I split code, how do I know which blocks of code I split need to b

[2020-07-04 19:21] michaelhkay opened #2749 "Generated XML is invalid"
Using XmlPrinter, the code fragment

[code]
produces the ill-formed XML output:

`<statement type='ThrowStmt'><expression type='ObjectCreationExpr'><type type='ClassOrInterfaceType'><name type='SimpleName' identifier='IllegalArgumentException'></name></type><arguments><argument type='BinaryExpr' operator='PLUS'><left type='BinaryExpr' operator='PLUS'><left type='StringLiteralExpr' value='Unrecogni

[2020-07-04 19:28] michaelhkay opened #2750 "Generated XML contains duplicated "type" attribute"
The source code fragment

`protected int xsdVersion = XSD11;`

results in the XML output

`<variable type='VariableDeclarator'><initializer type='NameExpr'><name type='SimpleName' identifier='XSD11'></name></initializer><name type='SimpleName' identifier='xsdVersion'></name><type type='PrimitiveType' type='INT'></type></variable>`

which is invalid because the `type` element has two `type` attribu

[2020-07-04 20:35] michaelhkay commented on #2749
Easily fixed by changing the `XmlPrinter.attribute()` method to

[code]

A bit disconcerting, though, to find such a basic flaw.

[2020-07-04 20:38] michaelhkay commented on #2750
Obvious fix is to use a different attribute name for the node type, one that isn't going to be used elsewhere, e.g.

[code]

But I don't know enough about the project to know how you manage the backwards compatibility issues. The bug is so basic that it's hard to believe anyone is actually using this code.

[2020-07-05 22:43] michaelhkay commented on #1409
FWIW, I've been working on an XSLT stylesheet that converts the XML representation of the AST back to Java source code (which you can parse to get back to an AST, of course). The idea is that you can then use XSLT to tweak the Java code. Contact me if interested. At present I've done the 20% of the work needed to solve 80% of the problem...

[2020-07-06 09:33] michaelhkay opened #2751 "Generated XML does not distinguish "new HashSet()" from "new HashSet<>()""
The XML serializer does not distinguish an empty NodeList property from a null NodeList property.

In consequence "new HashSet()" and "new HashSet<>()" produce the same output: in one case type.typeArguments is null, in the other case it is empty.

[2020-07-06 10:27] michaelhkay commented on #2751
I've changed XmlPrinter so it now outputs an empty NodeList property as an empty element: with `new HashSet<>(40)` we now get

[code]

(Note the empty `<typeArguments/>` element). This gives me the information needed to distinguish these two cases. I realise that doing this for all empty NodeLists could (a) inflate the XML size, and (b) cause backwards compatibility issues for existing users, but

[2020-07-06 10:43] michaelhkay commented on #2751
Making this change for all properties of all nodes does turn out to be rather disruptive. So perhaps the change needs to be confined to cases where there is actually a semantic difference between a null property and an empty property? Unfortunately it's not easy to enumerate those cases.

[2020-07-07 08:39] MarcosCosmos opened #2752 "[metamodel] Some metamodels incorrectly declare an 'annotations' property which is illegal for their subclasses."
This makes "getAllPropertyMetaModels()" inaccurate for the affected subclasses, and implicitly means that getDeclaredPropertyMetaModels() is also incorrect for the parent type.

More specifically:
BodyDeclarationMetaModel: illegal for InitializerDeclaration.
TypeMetaModel: illegal for UnionType, UnknownType, VoidType, and VarType.

Note that I did some additional testing, and is seems that getCons

[2020-07-07 15:03] Aupateli opened #2753 "How to resolve method calls from a standard library (jre)"
Hi all,  this is really a powerful parser.

I want to resolve method calls from a standard library like **java.lang.Object**. But I don't have the source code of java standard library, I cannot resolve method calls like what you do in the JAVAPARSER:VISITED book:

`CompilationUnit cu = StaticJavaParser.parse(new File(FILE_PATH));`
`cu.findAll(MethodCallExpr.class).forEach(mce -> ...(mce.resolveInv

[2020-07-08 08:32] jlerbsc commented on #2753
Hi @Aupateli, you have to setup the solver (see chapters How to setup the JavaSymbolSolver? ou Resolving a type using an absolute name)

[2020-07-09 21:33] michaelhkay opened #2754 "UnsupportedOperationException in SymbolSolver handling a lambda expression"
Handling this code fragment:

[code]

and calling `calculateResolvedType` on the `FieldAccessExpr` representing `kvp.key`, I get:

[code]

The UnsupportedOperationException is thrown when solving the symbol "kvp", if the parent of the expression is not a `MethodCallExpr`, `VariableDeclarator`, or `ReturnStmt`; in this case it is an `ObjectCreationExpr` corresponding to `new MappingJavaIterator<>(g

[2020-07-09 22:35] michaelhkay commented on #2754
Repro attached. Run Issue2754Repro from the command line with no arguments; it processes the source code in Issue2754TestClass.java.

[Issue2754Repro.java.txt](https://github.com/javaparser/javaparser/files/4899834/Issue2754Repro.java.txt)
[Issue2754TestClass.java.txt](https://github.com/javaparser/javaparser/files/4899835/Issue2754TestClass.java.txt)

[2020-07-14 08:50] MarcosCosmos opened #2757 "The PropertyMetaModel.equals(Object) is flawed (e.g. SimpleName.identifier and Name.identifier are distinct but compare equal)"
This is mainly an issue in that it breaks from convention, other types such as those extending LiteralStringValueExpr share their property in the metamodel, so the equals comparison makes some sense.

However the contract breaks down in the case of SimpleName and Name, and can lead to logical errors in some circumstances, particularly if trying to upwardly traverse the metamodel. E.g.:
[code]

Thi

[2020-07-17 16:13] vjjangid opened #2760 "How do I get line information of class and methods?"
I am writing code for getting line details of all the classes and functions in given java code file.
Line number here means from which line number class is declared and  on which line number its definition is completed in text editor.
Can it be done using javaparser?

[2020-07-18 18:32] #2760 closed, assigned to nobody

[2020-07-19 11:19] corradomio opened #2761 "JavassistInterfaceDeclaration unsupports "isAssegnableBy""
The current implementation of "isAssegnableBy" JavassistInterfaceDeclaration throws the exception "UnsupportedOperationException".

I suppose this error can be resolved using the implementation in JavassistClassDeclaration (confirmed!)

[2020-07-19 17:49] corradomio opened #2762 "JavassistClassDeclaration isAssegnableBy throws NotFoundException when a class/interface is defined in another Jar"
There is a "problem" with the current implementation of

JavassistClassDeclaration::isAssegnableBy(ResolvedType)   (line 267)

the problems are in lines:

281:  this.ctClass.getSuperclass()
285: for (CtClass interfaze : ctClass.getInterfaces())

when ctClass is of type:  CtClassType.

For example, the implementation of "CtClassType::getInterfaces()" is

[code]

where the implementation of "ClassPo

[2020-07-20 18:56] jmflorezff opened #2764 "UnsupportedOperationException when resolving symbol inside for statement initialization"
I am getting an exception when resolving a `NameExpr` inside of a `UnaryExpr` inside of a for statement initialization. See the following example (resolving name expression `e`):

[code]

The error is explicitly caused by [this line](https://github.com/javaparser/javaparser/blob/6b9344dcd41302a1e81d8ff55baa8f8ff43dc5e6/javaparser-symbol-solver-testing/src/test/test_sourcecode/javasymbolsolver_0_6_

[2020-07-28 09:26] zhizhixiongxuwei opened #2767 "RuntimeException when resolving MethodCallExpr"
When I write this code
`MethodCallExpr mce = (MethodCallExpr)node; // invokeWrapExceptions`
`ResolvedMethodDeclaration rmd = mce.resolve();`

it throws a RuntimeException Unable to calculate the type of a parameter of a method call. Method call: `invokeWrapExceptions(innerSetter, bean, value)`, Parameter: bean

[2020-07-28 09:29] zhizhixiongxuwei commented on #2767
Test file is here
[BeanPropertySet.txt](https://github.com/javaparser/javaparser/files/4987261/BeanPropertySet.txt)

[2020-07-29 22:01] duanasour opened #2768 "Fail to handle method that has this as a parameter"
Hi JP developers,

Thanks for creating this great tool!

Not sure if this is valid but I see people write methods like

void someMethod(SomeClass this)

and JP rewrites it to

void someMethod(SomeClass this, )

Is it something we should fix on JP side?

Thanks!
Tao

[2020-07-30 06:37] jlerbsc commented on #2768
Hi, could you provide a test case because it seems to work fine with JP 3.15.22

     @Test
    public void test() {
        String expected =
                "public class Foo {" + EOL +
                "  public void someMethod(Foo this) {" + EOL +
                "  }" + EOL +
                "}";

        CompilationUnit cu = StaticJavaParser.parse(expected);
        LexicalPreservingPrinter.s

[2020-07-30 18:20] duanasour commented on #2768
I didn't use LexicalPreservingPrinter. Here is the code I tried.
[code]
And the class to parse:
[code]

[2020-08-02 14:14] navkumar258 commented on #2717
Hi team, looking for my first contribution here, is someone working on it or can i take it up...? thanks :smile:

[2020-08-03 07:48] YinWangPing opened #2771 "Illegal line feed of comments"
Test Case：
[code]

Result:
[code]

[2020-08-04 00:29] IT-Jiang opened #2773 "Fatal error compiling: java.lang.NoClassDefFoundError"
HI,I use the StaticJavaParser in AbstractProcessor

@SupportedAnnotationTypes( "XXX" )
@SupportedSourceVersion( SourceVersion.RELEASE_8 )
public class XXXProcessor extends AbstractProcessor {
	@Override
	public boolean process(final Set< ? extends TypeElement > annotations,
	        final RoundEnvironment roundEnv) {

               **CompilationUnit unit = StaticJavaParser.parse(file);**
     }
}

[2020-08-04 02:01] IT-Jiang commented on #2773
maybe I added the following dependency into pom

               <dependency>
			<groupId>com.sun</groupId>
			<artifactId>tools</artifactId>
			<version>1.8</version>
			<scope>system</scope>
			<systemPath>${basedir}/lib/tools.jar</systemPath>
		</dependency>

[2020-08-04 02:01] #2773 closed, assigned to nobody

[2020-08-05 01:46] pavlajak commented on #1455
Is there a way to identify the usage of generic types? I would not mind leaving the class in question not parsed. However I cannot find a way to notice this issue before causing overflow.

[2020-08-05 10:01] jlerbsc commented on #2773
Have you added the javaparser library to your dependencies?

[2020-08-09 06:59] shankyty opened #2778 "Solving Symbols from gradle/maven jars"
I am building a tool need to be aware of all external symbols java class is using.
Here is sample code:
[code]

I get error like this
`
At line:55
 ERR Unsolved symbol in Modifier.publicModifier() : Modifier
`
where Modifier is coming from grade depenedecies

My actually task is to find all static method invocation in target method.

[2020-08-09 07:15] jlerbsc commented on #2768
Hi xiaotaoduan,
Which version are you using?
Did you try to reproduce it with a junit test case ?

I connot reproduce it with this test case

    String expected =
                "public class Foo {" + EOL +
                EOL +
                "    public void someMethod(Foo this) {" + EOL +
                "    }" + EOL +
                "}";

        CompilationUnit cu = StaticJavaParser.pars

[2020-08-09 17:05] jlerbsc commented on #2778
To solve classes declared in libraries (i think you are speaking about gradle project) you have to add JarTypeSolver for each libraries.

[2020-08-10 03:00] duanasour commented on #2768
Hi Jean,

I am using 3.5.11 downloaded Maven.

Could it be caused by sourceRoot.saveAll()? Since I noticed this error in the output file.

[2020-08-10 06:02] jlerbsc commented on #2768
Internally SourceRoot use PrettyPrinter class (default) to print a node (here a CompilationUnit). I have modified the test case to use this printer but i cannot reproduce this problem. Please, with this code base could you try to reproduce your error.

    @Test
    public void test() {
        String expected =
                "public class Foo {" + EOL +
                EOL +
                "

[2020-08-13 05:46] mindajalaj commented on #2703
Hi @MysterAitch and @matozoid , can you please share a working code snippet of Lexical preserving printer along with source root? I am trying a bunch of things couldn't get it working, sharing the code snippet here

How do we call setPrinter() on source root for Lexical preserving printer ?

        CombinedTypeSolver typeSolver = new CombinedTypeSolver(

[2020-08-13 09:13] zhangziqiang1 opened #2781 "resolve Stack overflow occurs when the name of the interface implemented by the class is the same as the name of the internal class."
### When I use the symbol parser, I find an error. The following is an example. In this case, the result cannot be obtained through the symbol parser. Instead, a stack overflow occurs, and an infinite recursion occurs in the system. As a result, the stack overflows.
Case One
[code]
Case Two

[code]

[2020-08-13 13:51] jlerbsc commented on #2764
This issue is fixed. Thank you for taking the time to report this case.

[2020-08-13 13:58] jlerbsc commented on #2748
This is not an issue related to javaparser or symbol solver!

[2020-08-13 16:42] #2764 closed, assigned to nobody

[2020-08-13 16:44] MysterAitch commented on #2764
Just a heads up that my IDE complained about `e` not being initialised, but that is unrelated to parsing/solving here.

Thank you @jlerbsc for the fix!

[2020-08-14 06:29] jlerbsc commented on #2738
Could you provide a runnable test case please because the test case below don't reproduce this issue.

    @BeforeEach
    void setUp() {
        TypeSolver typeSolver = new ReflectionTypeSolver();
        ParserConfiguration config = new ParserConfiguration();
        config.setSymbolResolver(new JavaSymbolSolver(typeSolver));
        StaticJavaParser.setConfiguration(config);
    }

    @Test

[2020-08-14 07:11] jlerbsc commented on #2725
Hi for-just-we, below is a late answer to your question which may possibly help other people.
First you cannot parse a project with compilation errors.
Second JavaParserTypeSolver must be initialized with java source folder (in your case  /home/prophe/projects/java).

[2020-08-14 07:42] jlerbsc commented on #2702
Hi zyj183247166 , Could you elaborate because the test case below

    @BeforeEach
    void setUp() {
        TypeSolver typeSolver = new ReflectionTypeSolver();
        ParserConfiguration config = new ParserConfiguration();
        config.setSymbolResolver(new JavaSymbolSolver(typeSolver));
        StaticJavaParser.setConfiguration(config);
    }

    @Test
    void test2702() {
        String c

[2020-08-14 09:00] jlerbsc commented on #2736
Hi DmitriZamysloff, I think you have to modify the variable or parameter type by yourself. Below an exemple

    @Test
    void test() {
        // original code
        String code =
                "class A {" +
                "  void m1(b.Z z) {" +
                "    System.out.println(b.Z.z);" +
                "  }" +
                "}";

        CompilationUnit cu = StaticJavaParser.pars

[2020-08-14 15:30] #2595 closed, assigned to nobody

[2020-08-14 15:32] MysterAitch commented on #2717
@navkumar258 - you would be very welcome to take this up! :)

[2020-08-14 16:12] navkumar258 commented on #2717
@MysterAitch As suggested by @matozoid , did the below change in my fork, but don't know how to proceed with testing the change whether it breaks something or not...please suggest. thanks !

![image](https://user-images.githubusercontent.com/7344604/90269916-0552ac00-de77-11ea-9343-7f53499dc1f3.png)

[2020-08-14 16:27] MysterAitch commented on #2717
Tests break down into the following steps:

1. **Setup the pre-conditions** -- what is true/setup before we do anything?
	e.g. if we want to test adding a record to a database, we first need a database connection (in our case, we need to setup JavaParser with the relevant configuration).
2. **Do something with a side-effect** -- this is the action we're testing
	e.g. trigger adding a record to the

[2020-08-14 16:27] #1454 closed, assigned to ftomassetti

[2020-08-16 20:38] duanasour commented on #2768
Hi Jean,

I switched to the latest version 3.16.1 and tested. The problem was gone. It seems this was just an issue in the old (3.5.11) releases.

Sorry for the false alarm and thanks for looking into this!

best,
Tao

[2020-08-16 20:38] #2768 closed, assigned to nobody

[2020-08-17 12:02] Maths-Maths opened #2784 "JavaParser 3.16.1 using LexicalPreservingPrinter.setup leaks memory"
I am using JavaParser 3.16.1,

Whenever I use LexicalPreservingPrinter.setup(CompilationUnit node) the memory usage keeps going up.

I keep going through a folder full of java files and using javaparser.parse I parse each files , I get a return value of type CompilationUnit after this I call LexicalPreservingPrinter.setup(CompilationUnit node). This is in a plugin. I see the memory usage keeps goi

[2020-08-17 12:41] jlerbsc commented on #2784
LexicalPreservingPrinter store NodeText for each node so it is normal that the memory consumption is higher.

[2020-08-17 12:59] MysterAitch commented on #2768
Hi @xiaotaoduan , thank you for the report and the update! :)

[2020-08-17 13:01] Maths-Maths commented on #2784
How do I release it, as I told you this is in a plugin, the memory consumption has to be brought down. Each java file is read one after another and the memory keeps going up, there must be a way to let the garbage collector pick up these.

[2020-08-17 14:08] Maths-Maths commented on #2784
Each java file is read one after another and the memory keeps going up, there must be a way to let the garbage collector pick up these. I would be grateful if you could suggest a solution. I have about 2 months of work behind this.

[2020-08-17 16:42] jlerbsc commented on #2784
Oddly, I have a project that parses several thousand java source files and I have not identified this problem. Could you profile your project to identify java heap hot spot?

[2020-08-17 16:53] Maths-Maths commented on #2784
The reason for that is you don’t have the project running all the time like a daemon or a plug-in in an integrated development environment. You will the see that the garbage collector never is able to reclaim the memory if LexicalPreservingPrinter.setup(CompilationUnit node) is called on the Compilation Unit returned by JavaParser.parse file.

[2020-08-18 13:47] Maths-Maths commented on #2784
I think the problem is in this code.

public class LexicalPreservingPrinter {
private static AstObserver observer;

If you could change the static or remove the reference at the end the memory issue would go away. Hope you would be kind enough to do it. Please look at the setup code and node.registerForSubtree observer. You will see what I am talking about.

Can you also take a look at the static

[2020-08-18 14:40] jlerbsc commented on #2784
You mean that after having profiled your plugin the memory is retained by the ASTObserver and LexicalPreservingPrinter classes.

[2020-08-18 14:44] Maths-Maths commented on #2784
I went through the code, if you look at what I pointed you will understand why memory is accumulating please keep in mind the node_text_data and node.setdata node_text_data also

[2020-08-18 15:00] jlerbsc commented on #2784
Data is setted in node to provide lexical preservation, "i.e., the ability of parsing a Java source file, modifying the AST and get back the modified Java source code keeping the original layout". The lexical preservation has a counter part. This article explain a little more the concept.
https://tomassetti.me/lexical-preservation-javaparser/#:~:text=Many%20users%20of%20JavaParser%20are,code%20kee

[2020-08-18 15:02] Maths-Maths commented on #2784
Just try removing static from both node_text_data and observer. LexicalPreservingPrinter should be used as a normal object. Garbage Collector would have reclaimed the memory

[2020-08-19 12:44] jlerbsc commented on #2784
@Maths-Maths I cannot reproduce your issue so i cannot fix it. If you have a good understanding of what to do, you can provide a PR to javaparser project leaders.  In fact LexicalPreservingPrinter has a static API so i think that accessing instance field from static methods is not a best practice and modifying static methods has many impacts to the javaparser community. Perhaps you can use another

[2020-08-19 13:28] realSchoki commented on #1621
Is there some progress on this?

I got the Exception on `annotation.calculateResolvedType()` in

[code]

[2020-08-19 16:45] jlerbsc commented on #1621
Correct, this test code throws an UnsupportedOperationException. It seems that you cannot resolve an annotation expression.

    String code =
                        "import org.junit.jupiter.api.Test;\n" +
                        "public class Foo {\n" +
                        "    @Test\n" +
                        "    public void test() {\n" +
                        "    }\n" +

[2020-09-03 17:41] uslswk opened #2790 "Changing all private methods to protected in com.github.javaparser.printer.PrettyPrintVisitor so extending class can call them"
I am extending `PrettyPrintVisitor` class to add some custom formatting. I wanted to override `printMembers(final NodeList<BodyDeclaration<?>> members, final Void arg)` method, but it is not possible now because it has modifier 'private' . I have overriden `visit(final ClassOrInterfaceDeclaration n, final Void arg)` method that calls `printMembers(final NodeList<BodyDeclaration<?>> members, final

[2020-09-04 10:02] Marcono1234 opened #2792 "Expression.calculateResolvedType() has incorrect javadoc"
It appears the javadoc of `Expression.calculateResolvedType()` is incorrect because it says "This constructor":
https://github.com/javaparser/javaparser/blob/4c0589c430ae3b2657872773685523c97944acbc/javaparser-core/src/main/java/com/github/javaparser/ast/expr/Expression.java#L560-L565

[2020-09-05 07:38] jlerbsc commented on #2778
Did you fix your problem with this comment?

[2020-09-11 06:29] IT-Jiang opened #2794 "can javaparser use into maven-plugin project?"
HI,I use the StaticJavaParser in a maven-plugin project

pom.xml

	<modelVersion>4.0.0</modelVersion>
	<groupId>xxx</groupId>
	<artifactId>xxx-maven-plugin</artifactId>
	<packaging>maven-plugin</packaging>
	<version>0.1</version>

	<dependencies>
		<dependency>
			<groupId>com.github.javaparser</groupId>
			<artifactId>javaparser-symbol-solver-core</artifactId>
			<version>3.16.1</version>
		</dep

[2020-09-11 08:17] jlerbsc commented on #2794
It seems like a problem with the plugin version or perhaps  the dependency configuration
https://stackoverflow.com/questions/44312695/custom-maven-plugin-fail-java-lang-arrayindexoutofboundsexception-3379-at-org

[2020-09-11 11:51] hunan889 opened #2796 "UnsupportedOperationException thrown when solving method calls contains Varargs"
Exception will be thrown in MethodCallExprContext when solve a method contains statements like:
[code]

Call stack:
[code]

[2020-09-12 21:57] alufers commented on #2781
I can confirm that this bug indeed does occur.

I have the following class, and resolving any type inside of this class results in an StackOverflowError:
[code]
After removing the `implements Status` part the resolution works normally.

The stack trace looks like this:
[code]
the `at com.github.javaparser.symbolsolver.javaparsermodel.contexts.JavaParserTypeDeclarationAdapter.checkAncestorsForType`

[2020-09-14 01:48] IT-Jiang commented on #2794
cool!!
I change plugin version 3.2 to 3.5 it work now!
@jlerbsc thank you

[2020-09-14 01:48] #2794 closed, assigned to nobody

[2020-09-14 07:44] jlerbsc commented on #2794
You're welcome

[2020-09-14 20:23] dblevins commented on #1483
Found this via google search trying to figure out if there is a way to force a vertical alignment.  Is there a useful link/doc that shows how to force each enum element to be on its own line?

[2020-09-15 05:58] jlerbsc commented on #2790
Can you specify what you want to achieve. Internally the PrettyPrintVisitor class uses the SourcePrinter class. Perhaps what you want instead is to be able to provide your own implementation of the SourcePrinter class?

[2020-09-15 06:47] jlerbsc commented on #1483
LexicalPreservingPrinter adds new members with vertical alignment, but preserves existing formatting.
Perhaps can you use another printer for example

    PrettyPrinterConfiguration config = new PrettyPrinterConfiguration();
    config.setMaxEnumConstantsToAlignHorizontally(1);
    PrettyPrintVisitor v = new PrettyPrintVisitor(config);
    v.visit(<your node>, null);
    System.out.println(v.toStr

[2020-09-15 08:47] jlerbsc commented on #2781
What version of javaparser are you using?
@alufers Could you provide a simple test case (with no compilation error) please.

[2020-09-15 09:48] jlerbsc commented on #2050
@xiphirx i tested your case with javaparser 3.16.1 but i cannot reproduce your issue. Do you still have this problem?

[2020-09-15 09:57] jlerbsc commented on #2349
Seems to be related to the issue #2050 . It cannot be reproduced with javaparser 3.16.1

[2020-09-15 10:20] jlerbsc commented on #2767
@zhizhixiongxuwei What javaparser version are you using? How have you initialized SymbolSolver? If you use external libraries you have to use CombinedTypeSolver and add a JavaParserTypeSolver for each library.

[2020-09-16 02:39] vignesh0710 opened #2799 "Get Comments outside method Body"
Is there any way to get comments outside method body? For example,I am using the following code to get all the comments related to the method

[code]

This prints the following  OP:

`comment inside method`

But is there any way to get the comments outside the `method body`?

Expected OP:

[code]

[2020-09-16 03:17] vignesh0710 commented on #2799
Sorry, had it resolved with `md.getJavadocComment()`

[2020-09-16 03:17] #2799 closed, assigned to nobody

[2020-09-17 21:22] alufers commented on #2781
I am using version 3.16.1.
[code]
I will provide a test case in a few days, have to get access to my computer.

[2020-09-18 07:40] jlerbsc opened #2802 "Is the project stopped?"
Historical contributors no longer appear on this project. So we can ask ourselves the question of the life cycle of this project.

[2020-09-21 08:41] #2796 closed, assigned to nobody

[2020-09-23 08:24] matozoid commented on #2802
Officially, the maintainer is @MysterAitch.

@ftomassetti may be available for hire.

I have stopped since May or so, but am willing to transfer knowledge to anyone willing to maintain JavaParser. I believe this is a great opportunity to take the wheel of a medium-sized, successful open source project!

[2020-09-23 10:58] maartenc commented on #2802
I'm willing to help @matozoid , but my knowledge of the project is limited to the symbol solving part for now...

[2020-09-23 11:05] matozoid commented on #2802
@maartenc - that would be great! In my opinion the minimal job is to make releases, and respond to issues (even if it is "I don't know"). @MysterAitch - can you please pop up so we can get this going? You're the one who knows how to get everything set up for releasing :-)

[2020-09-23 11:12] ftomassetti commented on #2802
I guess I can be considered an "historical contributor" :D

Over time my consulting business took over more and more time and I was no longer available to contribute to the project.
That said, I would be happy to help with knowledge transfer and promotion of the project as much as I can.

@maartenc I think that the symbol solving part is the most complex one, so it is very good to have someone abl

[2020-09-23 12:26] jlerbsc commented on #2802
I'm willing to help too.

[2020-09-23 12:36] matozoid commented on #2802
@ftomassetti - can you add @maartenc and @jlerbsc to the core team with all rights? Aw, add me back too if you like.

[2020-09-23 13:59] ftomassetti commented on #2802
I have added you and invited them

[2020-09-23 14:13] jlerbsc commented on #2802
Thank you i will try to be up to the task ;-).

[2020-09-24 06:22] matozoid commented on #2802
@jlerbsc @maartenc - can you join the "javaparser" room on JP's Gitter? I'll see if I can get you to make a release :-)

[2020-09-24 06:23] matozoid commented on #2802
In the meantime: feel free to respond to issues, organize them, and pull them.

[2020-09-25 06:58] jlerbsc commented on #2778
@shankyty Can we close this issue?

[2020-09-25 07:03] jlerbsc commented on #2748
Hi @2625180201, your sample doesn't work as excpected because String are immutable.
Your question does not highlight a problem with the javaparser project, perhaps it would be more efficient to post your question on another site stackoverflow?

[2020-09-25 07:03] #2748 closed, assigned to nobody

[2020-09-25 12:12] mdproctor commented on #2659
oh wow, this looks like a fun thread 👍 Feel like i'm watching an episode of of my favourite tv soap :)

That said, I have been looking over JavaCC21, it does look really nice. We are interested in this, as the "includes" may make it easier for modular language development, so we can developer our Java language  extensions in a maintainable way. In addition having more advanced parser constructs, t

[2020-09-25 12:33] ftomassetti commented on #2659
There was no "heat" in the conversation, just a person insulting others. The same person continued, unprovoked, to insult via email and involve other persons in such conversation. Later he registered a domain related to JP and forked it to harm this community.

It should be clear it was not an "heated conversation", it was simply someone harassing us, without any reason.

ANTLR is per-se very well

[2020-09-25 13:16] jlerbsc commented on #2742
Hi @2625180201 Did this answer help you? If yes could you close this issue please?

[2020-09-25 13:45] jlerbsc commented on #2739
Hi @MornSunShine , i cannot reproduce your issue with this test case. Could you provide us an improvement of it?

    void test() throws FileNotFoundException {
        String s =
                "public class Foo {" +
                "  public void m() {" +
                "    b(1);" +
                "    b(true);" +
                "    b(Boolean.TRUE);" +
                "  }" +

[2020-09-25 14:20] jlerbsc commented on #2703
Hi @mindajalaj internaly SourceRoot use a printer to print CompilationUnit. printer is defined by Function<CompilationUnit, String>. So you can create a function which use LexicalPreservingPrinter to return a String.

    sourceRoot.setPrinter(cu -> LexicalPreservingPrinter.print(cu)); //this example has not been tested

[2020-09-25 16:45] jlerbsc commented on #2684
Hi @corradomio did the fix solve your issue? If yes, could you close your issue please?

[2020-09-25 17:02] signed opened #2806 "EOL separator problems on windows"
Hi, I'm running into a problem on windows when adding and import to an existing source file that uses `\n` line endings.
This happens when using `setLexicalPreservationEnabled(true)` and printing with `LexicalPreservingPrinter`.
I'm currently updating to `javaparser 3.16.1`.

I have a [minimal example](https://github.com/signed/convert-junit4-to-junit5/blob/e5e91942510d8499ca86bc273e0de2b162565fda

[2020-09-28 21:54] ghost opened #2808 "How can I get the set of parameters, local variables and fields of a given method and their types?"
I'm trying to get the set of parameters, local variables, fields, and classes used in a given method and their types.

For example, given method `getX`, I want to get the set ({**_key_, _u2_, _props_, _U1_**}) and their types ({**String, U2, Properties, U1**})
[code]

My code is as follows, but I don't know how to continue.

[code]

[2020-09-29 01:20] zhizhixiongxuwei commented on #2808
You can choose the corresponding visit method to get.  Like visit(FieldAccess) ...

[2020-09-29 02:50] zhizhixiongxuwei commented on #2808
This is my test code.
[code]

[code]

[2020-09-29 03:31] ghost commented on #2808
@zhizhixiongxuwei Thank you very much for your code. I also wrote some code just now according to your suggestion.

[code]
But I can't get the fields which are accessed directly, for example:
[code]
I only get the field `NONE`, and the code ignores the other fields like `literals_file`. Besides, the describe() only returns the name of the Type which defines the field, for example:

[code]

I'll te

[2020-09-29 05:31] zhizhixiongxuwei commented on #2808
There are several syntax errors in your code. I am not sure JavaParser can parse it correctly. I will post a entire demo project later.

[2020-09-29 06:24] zhizhixiongxuwei commented on #2808
[testcode.zip](https://github.com/javaparser/javaparser/files/5296815/testcode.zip)
You can download the zip file.
And my test code is shown below
[code]

Use your code, the output is
**********************
Method: xx.yy.C1.getX
Local Variable: u2, Type: ReferenceType{xx.yy.zz.U2, typeParametersMap=TypeParametersMap{nameToValue={}}}
Parameter: key, Type: ReferenceType{java.lang.String, typeParamet

[2020-09-29 17:48] ghost commented on #2808
@zhizhixiongxuwei Thank you for your effort. I find that if the fields are declared in the same class with a given method, then the `FieldAccessExpr` will not find them. It only returns the fields declared in other classes.

I try to find if a given method uses some specific types, so I find that only analyzing callees' types and their arguments' types are generally enough.
I use your code. And it

[2020-09-29 21:33] #2792 closed, assigned to nobody

[2020-09-29 22:20] ghost opened #2810 "How to capture the fields which are accessed without calling with the class name?"
For example, the `address` is directly accessed, and I cannot get the field it using the FieldAccessExpr. The code is shown below.
[code]

[code]

Any help is appreciated.

[2020-09-30 01:45] zhizhixiongxuwei commented on #2810
address="9" should be assignExpr（address is nameExpr）. And if you can use this.address you will get what u want.

[2020-09-30 01:53] zhizhixiongxuwei commented on #2810
I am not sure if you have some experience about parsing tool like Eclipse-JDT.  But xx.address is different with address.

[2020-09-30 02:13] ghost opened #2811 "How to visit the static block?"
Some classes may have `static` block, but I don't find the `visit` method for it.

[code]

[2020-09-30 02:26] ghost commented on #2810
@zhizhixiongxuwei Thank you for your fast reply. I thought that a statement containing a field meant access to the field.
You clarify it. Accessing a field should mean using its value.

But, in the following case, the fields (i.e., alias_ratio, literals_file, and literals_level) are directly used, and they are not identified. However, `ClassLiteralsMode.NONE` can be identified.

[code]

[2020-09-30 02:44] zhizhixiongxuwei commented on #2810
identified, but alias_ratio, literals_file, and literals_level  shoule be nameExpr. ClassLiteralsMode.NONE can be identified as FieldAccess?  I  can't reproduce this problem(your code is not complete).

[2020-09-30 02:58] zhizhixiongxuwei commented on #2810
I simplify your code as below
[code]
if you use this.alias_ratio(FieldAccessExpr)  use alias_ratio directly will nameExpr. Because FieldAccessExpr is defined  like this:  scope + name. scope can be thisExpr or other object.

[2020-09-30 03:04] ghost commented on #2810
@zhizhixiongxuwei
Thank you~

- The code is from Randoop; you can find it attached (please modify its extension name). [GenInputsAbstract.txt](https://github.com/javaparser/javaparser/files/5302909/GenInputsAbstract.txt)

- I just tested the `this`.  A field does have to be accessed with `this` to be identified as a `FieldAccessExpr`.
But for the static fields, they cannot be accessed using `this`

[2020-09-30 03:33] zhizhixiongxuwei commented on #2810
I don't know why u focus on collect these information. As I known, you can visit nameExpr and call nameExpr.resolveVariableDeclaration to check whether it is field or not. And visit(FieldAccessExpr) to cover another situation.

[2020-09-30 04:52] MornSunShine commented on #2739
I'm sorry for the late reply.
I found the bug when I parse one android project files.
Firstly, the project is OK.
When I parse the code block, one exception is threw as the following:
[code]
The Exception as:
[code]
I parsed the code file with the following code:
[code]
Partial effective output is the following:
[code]

[2020-09-30 04:55] MornSunShine commented on #2739
I try to solve the bug. I found two context to solve the TypeExtractor. One is Ok, and the other failed. However, I have no enough time to solve the bug thoroughly.

[2020-09-30 06:20] jlerbsc commented on #2811
This is an InitializerDeclaration. I think to better understand or use AST you should use a debugger to understand its structure. Personally that's what I do regularly ;-)

[2020-09-30 08:57] jlerbsc commented on #2806
@signed You are right. Thanks for reporting this issue which is related to the Difference processing since the end of line has been refactored.

[2020-09-30 10:08] signed commented on #2806
@jlerbsc thank you for taking the time to look into the report and providing a fix.
Are there snapshot releases of javaparser that I can use until the next release is published?

[2020-09-30 12:26] jlerbsc commented on #2806
@signed For the moment tests fail but i don't know why! So be patient ;-)

[2020-09-30 13:16] #2806 closed, assigned to nobody

[2020-09-30 13:44] jlerbsc commented on #2739
@MornSunShine Could you confirm that stacktrace is not related to the issue previously declared "bug resulted from Boolean.FALSE and false". It would be easier to help you if we had a usable test case.

[2020-09-30 14:37] ghost commented on #2810
@zhizhixiongxuwei Thanks a lot.

[2020-09-30 15:12] ghost commented on #2811
@jlerbsc Thank you.

[2020-09-30 15:13] #2811 closed, assigned to nobody

[2020-09-30 15:13] #2808 closed, assigned to nobody

[2020-09-30 15:14] #2810 closed, assigned to nobody

[2020-09-30 16:00] ghost opened #2814 "How to get the name of the class which the given FieldAccessExpr and ObjectCreationExpr are located in?"
I'm computing the dependency between classes.

So I  visit the `MethodCallExpr`, `FieldAccessExpr`, and `ObjectCreationExpr` to get their types and which classes they are located in.

**I want to distinguish between outer classes and inner classes.**

For example, in the following code, when analyzing the `MethodCallExpr` of class `Main`, I want to only focus on the method `m1()` and ignore `m2()`

[2020-09-30 19:26] jlerbsc commented on #2814
@liuyuanOUC what you are trying to do is not very clear. Have you try to resolve the FieldAccessExpr or the ObjectCreationExpr? Have you try to use debugger to understand the AST produced by your test code? Have you setup the SymbolSolver?

[2020-09-30 20:02] ghost commented on #2814
@jlerbsc Thank you for your attention.

I have set up the SymbolSolver by `SymbolSolverCollectionStrategy`.

Sorry for my confused description . You can see the following code.
[code]
Take `ObjectCreationExpr` as an example, I can get the declaring type of `c1` using the following code:
[code]

But how can I get the type that contains the _object creation expression_ (i.e., `new C1()`)? In the exa

[2020-10-01 03:01] ghost commented on #2810
@zhizhixiongxuwei Hi, I study the field access without the qualifier (i.e., class name or `this`) again. And the method `resolveVariableDeclaration` cannot be associated with a nameExpr. But I solve it using the following code.

[code]

By the way, the AST is very useful to study the API usage of JavaParser.

[2020-10-01 05:56] jlerbsc commented on #2814
@liuyuanOUC I understand that you want to access to the ClassOrInterfaceDeclaration which contains the ObjectCreationExpr.
Use of findAncestor method give you a mean to do that.

     ObjectCreationExpr oce = cu.findFirst(ObjectCreationExpr.class).get();
     oce.findAncestor(ClassOrInterfaceDeclaration.class).ifPresent(d-> System.out.println(d.getFullyQualifiedName().get()));

produces

    Exter

[2020-10-01 17:21] ghost commented on #2814
@jlerbsc Thank you. It works fine.

[2020-10-01 17:21] #2814 closed, assigned to nobody

[2020-10-01 17:35] ghost commented on #2684
@jlerbsc I have the same problem (JSS 3.16.1). I think the latest JSS doesn't fix this issue.

When analyzing the `System.out.println("x")` . The code `nameExpr.resolve()` still reports an exception.

[code]

[code]

[code]

[2020-10-02 06:12] jlerbsc commented on #2684
@liuyuanOUC, As far as I understand JP there is no declaration corresponding to System in your example. If you want to know the type you can use calculateResolvedType method.

    System.out.println(ne.calculateResolvedType().describe());

returns

    java.lang.System

[2020-10-02 08:15] matozoid commented on #2802
@jlerbsc can you check gitter and take action?

[2020-10-02 09:04] #2802 closed, assigned to nobody

[2020-10-02 11:47] jlerbsc commented on #2790
Hi @uslswk have you try to implement SourcePrinter to resolve your issue?

[2020-10-02 12:03] #1467 closed, assigned to nobody

[2020-10-03 04:12] ghost commented on #2684
@jlerbsc Thank you for your reply and help.

Actually, I want to identify if a variable used in a method is a field.

I know that the `FieldAccessExpr` can be useful, and it can identify two access patterns with `scope`: `this.field` and `Class.field`.
But for the direct access pattern, such as the `name` in the following code, `FieldAccessExpr` doesn't work.

So I used the `NameExpr` to handle th

[2020-10-03 10:32] jlerbsc commented on #1467
This issue is closed because i cannot reproduce your issue. Of course you are free to create a new issue if you see this problem again with a newer version of JP ;-)

[2020-10-03 10:46] jlerbsc commented on #2235
Hi @maximjev, could you tell us if you are having the same problem with the latest version of JP. Furthermore, it would be more useful to provide us with a textual test case versus an image.

[2020-10-03 12:24] jlerbsc commented on #2269
Hi @tronicek have you try this turnaround (ParserConfiguration.setPreprocessUnicodeEscapes(..)?

[2020-10-03 13:30] jlerbsc commented on #263
I'm not sure to understand what you want to say by "dumping the parsed file". When we try to print the compilation unit there is no issue in JP 3.16.1... comments are printed too. Could you give us a test case please? Perhaps this issue is too old. I'm trying to test/close very old issues.

[2020-10-03 15:03] jlerbsc commented on #307
It seems that this issue could be closed. No comment has been lost.

    @Test
    void test() {
        String actual =
                "public class CommentTestCase {\n" +
                "    public static void main(String[] args) throws Exception {\n" +
                "        if (true) { // what a weird bug?\n" +
                "            // Another comment\n" +
                "

[2020-10-03 15:03] #307 closed, assigned to nobody

[2020-10-03 15:17] jlerbsc commented on #498
This issue seems to be resolved . I cannot reproduce it with this test case.

    void test() {
        String actual =
                "public class TestDumpVisitor {\n" +
                        "\n" +
                        "   public boolean test() {\n" +
                        "       // line 1\n" +
                        "       // line 2\n" +
                        "       // line 3\n"

[2020-10-03 15:17] #498 closed, assigned to nobody

[2020-10-03 16:43] jlerbsc commented on #576
In the ast there can only be one comment for a node so in this exemple the javadoc comment cannot be setted into the node because at this stage a line comment is already attached to the node (in this case EnumConstantDeclaration). The javadoc comment is considered as an orphan node and is attached to the orphan comments of the parent node. See CommentsInserter.insertComments(..).

    public enum

[2020-10-03 23:30] tronicek commented on #2269
Yes. It works for me. I currently do not have any problem with JavaParser.

[2020-10-04 07:49] jlerbsc commented on #2269
@tronicek Very well could you close this issue please?

[2020-10-04 08:38] jlerbsc commented on #2684
@liuyuanOUC In this statement "System.out.println(name);" name is a NameExpr. If symbolsolver is configured all expressions that implement the Resolvable interface can be resolved and it allows you to access the declaration. NameExpr is Resolvable. If the declaration corresponding to the method call expression could not be resolved  JP throws a UnsolvedSymbolException. So you can catch this except

[2020-10-04 11:58] tronicek commented on #2269
See @matozoid's comment: "The grammar could be changed to support this by default, so let's leave this open." If @matozoid changed his mind, he can close it by himself.

[2020-10-04 16:13] ghost commented on #2684
@jlerbsc Thank you for your reply and help. I reconfigure my symbolsolver as follows.
[code]

It still throws an exception:
[code]
So, does this mean that `System` as `NameExpr` cannot be resolved?

By the way, do you have other better ideas to identify the fields that are accessed without `scope`, like the `name` in the statement `System.out.println(name);`?

Thank you again.

[2020-10-04 17:22] jlerbsc commented on #2771
@YinWangPing Could you give us more inputs please?

[2020-10-05 06:12] jlerbsc commented on #2684
@liuyuanOUC First JavaParserTypeSolver must point to the src directory but it's not related to your issue. You don't need to set the rt.jar

    typeSolver.add(new JavaParserTypeSolver(new File("D:\\testJavaparser\\src\\main\\java")));

"If the declaration corresponding to the expression could not be resolved JP throws a UnsolvedSymbolException. So you can catch this exception and continue.". In y

[2020-10-05 13:15] ghost commented on #2684
@jlerbsc I see, thanks a lot.

[2020-10-05 13:31] jlerbsc commented on #2762
@corradomio Thanks for reporting this issue.

[2020-10-05 14:43] jlerbsc commented on #2762
Hi @matozoid , @maartenc , @ftomassetti The easiest way to solve this problem is probably to make the JarTypeSolver.addPathToJar (..) method public and offer the possibility to initialize JarTypeSolver with multiple jar files like this. What do you think of this proposal?

    JarTypeSolver jSolver= new JarTypeSolver("src/test/resources/jar1.jar");
    jSolver.addPathToJar("src/test/resources/jar2

[2020-10-05 15:15] uslswk commented on #2790
Hi, no i don't need my own implementation of SourcePrinter. I wanted to change how  `printMembers(final NodeList<BodyDeclaration<?>> members, final Void arg)` prints members so it prints them separated only by one newline character.  Now it prints them like this:

[code]
And i wanted something like this:
[code]
So i had to change implementation of method `printMembers(final NodeList<BodyDeclaratio

[2020-10-05 17:18] #2790 closed, assigned to nobody

[2020-10-05 20:48] #2747 closed, assigned to nobody

[2020-10-05 20:58] matozoid commented on #2762
I think there is some issue where we were trying to have JarTypeSolver contain only a single jar, because it is pretty confusing to have multiple in there.

[2020-10-05 21:00] jlerbsc commented on #2753
Hi @Aupateli, you don't need to have the source code of the java standard library . All you have to do is to setup the JavaSymbolSolver . This is an example of how you can do it.

     public void test() {
        String actual =
                "public class Foo{\n" +
                "    public void m(Object o){\n" +
                "        o.toString();\n" +
                "    }\n" +

[2020-10-05 21:12] jlerbsc commented on #2741
@DehengYang Did this answer answer your question? if yes maybe you can close the issue?

[2020-10-05 21:41] maartenc commented on #2762
I think the real problem here is that we use the `CtClass.getSuperClass()` and `CtClass.getInterfaces()` methods directly. This requires that the jars containing these ancestor classes should be known to Javassist.

Providing extra methods to add these jars to the javassist classpool would be good, but the real fix is imho not to use these 2 methods mentioned above, but instead use the TypeSolver

[2020-10-06 06:50] jlerbsc commented on #2762
Hi @matozoid, @maartenc  you are referring to the issue #2547.  I think this issue was due the statement below that add the same JarTypeSolver instance multiple time.

    combinedTypeSolver.add(JarTypeSolver.getJarTypeSolver(jar));

This is not the same as adding a single instance of JarTypeSolver which contains all the jar files.
I tested this solution which passes all the tests. It may be a tem

[2020-10-06 16:46] jlerbsc commented on #2738
Hi @SunilDC do classes A and B (in your exemple) belong to different libraries? have you resolved this issue?

[2020-10-06 17:51] jlerbsc commented on #2737
Hi @MornSunShine Please could update this test case to reproduce your issue?

    public void test() {
        String actual =
                "public class Query {\n" +
                "    public static class Order {\n" +
                "        String order;\n" +
                "\n" +
                "        public Order(String o) {\n" +
                "            this.order = o;\n" +

[2020-10-06 18:29] ctubbsii opened #2820 "Incorrect "Try with resources only supports variable declarations" problem"
I have valid Java 11 code that parses unsuccessfully and generates one problem:

[code]

Note: line 114 is the `try (client)` line below:

[code]

This problem occurs most recently with version 3.16.1, but also seems to affect older versions as well.

The reason this is valid Java code, and the parser Problem is wrong is because of https://bugs.openjdk.java.net/browse/JDK-7196163 where Java 9 and

[2020-10-06 19:28] jlerbsc commented on #2820
Hi @ctubbsii Did you set the language level in ParserConfiguration?

[2020-10-06 19:53] ctubbsii commented on #2820
No, I did not. Thank you for the tip. I will close this issue, as it does not occur when the language level is set correctly. I will need to make my own code determine the language level before it instantiates the parser.

[2020-10-06 19:53] #2820 closed, assigned to nobody

[2020-10-06 19:54] jlerbsc commented on #2820
JAVA8 is used by default.

[2020-10-06 21:21] ctubbsii commented on #2820
Thanks @jlerbsc ; I was able to fix my issue in revelc/impsort-maven-plugin#37

[2020-10-06 21:50] bojanv55 opened #2821 "Question: Getting all callers to external library"
My project is using Spring and RabbitAMQP library.

Is it possible to do the following: parse my whole project, and find all possible code invocations of some method in external maven dependency lib (in this case rabbitmq lib), like this one `void createQueue(String name)`?

e.g. My code could be:

[code]

and the output I would just need is:
1 -> called as `createQueue(String "someQueueName")` an

[2020-10-07 04:18] DehengYang commented on #2741
Thank you for your help. I did not find the function I want in JavaParser and I started to revise JavaParser to obtain the diff between two nodes, and I am still working on this. Thank you!

[2020-10-07 04:18] #2741 closed, assigned to nobody

[2020-10-07 06:30] jlerbsc commented on #2821
Hi @bojanv55 First of all, can you define "all possible code invocations". Do you only want method calls? I think it's possible. You have to setup SymbolSolver, use a visitor to resolve each expression (for exemple MethodCallExpr) and filter on the qualified signature .

    CombinedTypeSolver typeSolver = // create and initialize the CombinedTypeSolver
    ParserConfiguration config = new ParserC

[2020-10-07 07:48] bojanv55 commented on #2821
Thanks. I just tried this, but the problem is that it is loading only first class in the project (class that I specified in `StaticJavaParser.parse(<your class>)`). Is it possible to give `src/main/java` to analyzer? I found `ProjectRoot projectRoot = new SymbolSolverCollectionStrategy()...` and this one goes over all files, but it creates separate `CompilationUnit` and I guess I would need this t

[2020-10-07 08:53] bojanv55 commented on #2821
btw got this Runtime Exception when parsing project:

[code]

where TypeReference is from jackson core:

[code]

[2020-10-07 09:33] jlerbsc commented on #2821
@bojanv55 I only provide you an example not a solution to your problem. If it's the first time you work with JP i recommand you to read JP userguide. I am not familiar with @Import annotation so i don't know if your use case is supported by JP.

The other issue "Unable to calculate the type of a parameter of a method call" you are facing with is probably related to the issue #2762. There is curren

[2020-10-07 11:05] ronansayao commented on #1640
Is there any updates on this?
I'd like to help to develop KotlinParser.
I need some help, somebody can help-me?

[2020-10-07 11:49] ftomassetti commented on #1640
I would love KotlinParser. I would just suggest to use ANTLR instead of JavaCC.
Also, I would check if the official Kotlin compiler has a parser you could just use.

[2020-10-07 13:36] ronansayao commented on #1640
@ftomassetti Thanks.

[2020-10-08 12:34] jlerbsc commented on #2762
Hi @matozoid, @maartenc I think an alternative would be to share a single instance of Javassist ClassPool between all instances of JarTypeSolver.

[2020-10-08 14:56] maartenc commented on #2762
Hi @jlerbsc , I don't think a shared Javassist ClassPool across all instance of JarTypeResolver is a good idea, because that way different CombinedTypeSolver instances could see each others classes.

[code]

If the ClassPool is shared, solver1 could see classes of bar.jar and vice versa.

[2020-10-08 14:59] maartenc commented on #2762
Hmz, it seems `JarTypeSolver` only can find classes that are present in it's jars. So ignore my previsous comment.
Although I still think it's not a good idea to 'share' some state accross the different TypeSolvers.

[2020-10-08 15:18] jlerbsc commented on #2762
and vice versa

    CombinedTypeSolver solver1 = new CombinedTypeSolver();
    solver1.add(new JarTypeSolver("foo.jar"));

    CombinedTypeSolver solver2 = new CombinedTypeSolver();
    solver2.add(new JarTypeSolver("foo.jar"));

loads the same classes twice in different ClassPool

In fact ClassPool acts as a classpath for javassists. So I don't understand your apprehension but I don't know JP eno

[2020-10-09 08:37] jlerbsc commented on #1017
In JP 3.16.1 this test case generate a parsing  error

    Failed to parse lambda expression! Please create an issue at https://github.com/javaparser/javaparser/issues]

So i think this issue is resolved.

[2020-10-09 09:34] jlerbsc commented on #1385
In version 3.16.1 this issue is corrected and the parsing result is

    public class a {

    /**
     * @param a
     * @param b
     * @return
     */
    public int add(int a, int b) {
        // Noncompliant
        a = a + b;
        // Noncompliant
        // Seems like the parameter is returned as is
        return a;
    }
}

[2020-10-09 09:34] #1385 closed, assigned to nobody

[2020-10-09 09:45] jlerbsc commented on #1411
In JP 3.16.1 JavaSymbolSolver.resolveDeclaration(..) contains a an if checking for Nodes which are of type ObjectCreationExpr so i think this issue could be closed.

    if (node instanceof ObjectCreationExpr) {
            SymbolReference<ResolvedConstructorDeclaration> result = JavaParserFacade.get(typeSolver).solve((ObjectCreationExpr) node);
            if (result.isSolved()) {

[2020-10-09 09:45] #1411 closed, assigned to nobody

[2020-10-09 10:50] dwen77 opened #2823 "Get UnsolvedSymbolException when trying to resolve type"
Hi people,

I am facing an issue at this moment,  a `UnsolvedSymbolException` is thrown when resolving ```FieldAccessExpr``` object.

Basically, I want to resolve the type of an object which field is accessed. You could reproduce the error by the following steps.

- Create a java Class `ClassA`
[code]

- Create a second java class `ClassB`

[code]

- Create a third class `TestClass` which is the j

[2020-10-09 15:03] jlerbsc commented on #2823
Hi @dwen77 Could you confirm that "PATH_TO_ROO_PACKAGE" means the path to the source directory.

[2020-10-09 15:06] dwen77 commented on #2823
Yes, the value is `/project-absolute-path/src/main/java`

[2020-10-09 17:33] stbischof opened #2825 "javaparser-symbol-solver-core is not an OSGi Bundle"
- it should be an bundle refs #2824
- is should use more Optional Import-Package

[2020-10-09 19:01] jlerbsc commented on #2823
Thank you for reporting this bug.

[2020-10-09 19:18] matozoid commented on #1017
Oh, I don't think that particular error should ever be shown! It is there to see if bugs remain in the lambda parsing implementation.

[2020-10-09 23:23] dwen77 commented on #2823
Thank you for checking it!

[2020-10-10 06:57] jlerbsc commented on #1017
Hi @matozoid Do you want this issue to remain open?

[2020-10-10 10:08] matozoid commented on #1017
Do as you please (open a new issue?) - but this error is never supposed to happen.

[2020-10-10 21:30] Deaglancb opened #2826 "IllegalStateException/UnsupportedOperationException when adding extended type to a ClassOrInterfaceDeclaration"
Hi folks,

 Working on a project I wanted one class to extend another. The simple example being:
I want Customer to extend Person

`public class Person {}
`
`public class Customer{}
`

However an IllegalStateException is bring thrown which was confusing me:

)}, Kept{com.github.javaparser.printer.concretesyntaxmodel.CsmUnindent@2}, Kept{token(})}]}
	at com.github.javaparser.printer.lexicalpreserva

[2020-10-11 07:47] jlerbsc commented on #2826
I think there is bug in DifferenceElementCalculator.calculate(..) but it's a complex algorithm that takes a long time to understand how it works.

[2020-10-11 08:29] jlerbsc commented on #2762
Hi @ftomassetti Could you share your opinion on this topic please?

[2020-10-12 15:39] jlerbsc commented on #2784
Hi @Maths-Maths I'm sorry for this late reply, you are right when you setup the lexical preservation there is memory retention. The principal suspect is PhantomNodeLogic which has a static cache that you can clear with the static method PhantomNodeLogic.cleanUpCache(). I think this should be enough to reduce JP memory consumption. @ftomassetti @matozoid Could you explain us what is this concept of

[2020-10-12 15:51] jlerbsc commented on #2784
For total transparency, to analyze this issue i use the jps command to identify the test process id, generate a heap dump with the command jcmd <pid> GC.heap_dump dump.hprof and analyze it's content with Memory analyzer.

a test case

    @Test
    void test() throws IOException, InterruptedException {
        ParserConfiguration config = new ParserConfiguration();
        config.setLexicalPreserv

[2020-10-12 19:31] signed commented on #2806
@jlerbsc is there already and ETA for the next release?

[2020-10-12 21:30] jlerbsc commented on #2806
What is an ETA?

[2020-10-13 05:29] d6ms opened #2829 "Exceeded the file descriptors limit during looping JarTypeSolver"
Hi people,

I am using javaparser 3.16.1 in my project.
While parsing Java projects, I faced the following error.

[code]

This is caused by this code.

[code]

`JarTypeSolver` adds classes in a jar file into classpath and not removes from classpath automatically when it destructs. This may not be the problem as far as simply parsing a few projects. But I am parsing very many projects for machine

[2020-10-13 08:35] jlerbsc commented on #2829
Hi @d6ms Thanks for reporting this bug. Could you share with us your system and user limit (open files) and the full stacktrace.
It seems that JarTypeSolver.addPathToJar(..) add a JarFile's to a Map which are never closed. It may be the source of your issue.

[2020-10-13 08:40] jlerbsc commented on #2829
Hi @maartenc, maybe we could provide a method in the TypeSolver interface to possibly free the resources. The default implementation would take no action. In the case of the JarTypeSolver class it would browse all the jar files and close them. AarTypeSolver would delegate this task to the internal JarTypeSolver. What do you think of this proposal?

[2020-10-13 09:27] d6ms commented on #2829
@jlerbsc Thanks for responding.

As for "open files" limit, they are 315982184 as OS limit and 1048576 as user limit respectively. In addition, when I encountered these errors, 51200 were permitted for my Java process. Since this is shared computing cluster environment, I cannot change the limit easily.

My system was running as many concurrent threads, so I faced a lot of such errors. One of the

[2020-10-13 10:24] maartenc commented on #2829
Are we sure the JarTypeSolver is the problem here?
I would expect the garbage collector to cleanup the unused JarTypeSolver instances, this should close the JarFiles as well.

@d6ms : Can you take a look at the open file handles to check that most of them are referencing jar files? And are you sure you don't hold a reference to these JarTypeSolver instances anywhere so they can be cleaned up by th

[2020-10-13 10:31] jlerbsc commented on #2829
@maartenc I'm not sure the gc is freeing system resources in this case. This can be easily demonstrated using the lsof command (lsof -p <pid>)

[2020-10-13 11:31] maartenc commented on #2829
Yes, when the JarTypeSolver, and eventually, the JarFile itself is gc'ed, the JarFile is closed by its finalize() method.

But nonetheless, having some kind of cleanup() method on TypeSolver could be usefull. It can be tricky to implement it correctly because you'll have to recreate the JarFile instance when the TypeSolver wants to solve another type. Another option could be to not keep the JarFil

[2020-10-13 12:05] jlerbsc commented on #2829
@maartenc You are right.

[2020-10-13 18:35] himamis opened #2830 "Type resolving inside block code"
I am trying to parse and resolve symbols for this java file
[code]
But when I visit the node `a.method()` with the following code
[code]
I get a `UnsolvedSymbolException{context='a.method()', name='a', cause='UnsolvedSymbolException{context='a', name='Solving a', cause='null'}'}` at the resolve call.

This does not happen, if I remove the wrapping `{}` brackets around the `a.method()` call. Any id

[2020-10-13 18:37] himamis commented on #2830
Maybe a duplicate of https://github.com/javaparser/javaparser/issues/2477? This looks like a big issue.

[2020-10-14 06:09] jlerbsc commented on #2829
@d6ms Could you check what types of file are mostly referenced (with lsof -p)?

[2020-10-14 06:10] jlerbsc commented on #2830
Thanks for reporting this issue.

[2020-10-14 07:06] d6ms commented on #2829
@jlerbsc
Sorry, I had another work. I will be able to check it before long.

[2020-10-14 07:31] d6ms commented on #2829
This is the result of `lsof -p` of my system. Open jar files increase as time to go. And most of the open files are jar files.

[code]

[2020-10-14 07:37] d6ms commented on #2829
Also, I implemented a minimum program to reproduce the problem.

[code]

If a JarTypeSolver that is not referenced still has opened jar files, this process will exceed the open files limit. But in fact, this program produces no errors.

So, it should be wrong that JarTypeSolver does not free file descriptors, and what @maartenc said would be right. My program may accidentally have reference to Jar

[2020-10-14 08:11] #2830 closed, assigned to nobody

[2020-10-14 08:53] d6ms commented on #2829
Anyway, the cause of the problem would not be javaparser implementations. So, I will close this issue and continue to debug my program. If I can find some errors, I will reopen this issue or create another.

Thanks for your advice, @jlerbsc and @maartenc !

[2020-10-14 08:53] #2829 closed, assigned to nobody

[2020-10-14 10:27] jlerbsc commented on #2778
Hi @shankyty we don't have any response so i think this issue is resolved. Let us know if it is not.

[2020-10-14 10:27] #2778 closed, assigned to nobody

[2020-10-14 17:14] jlerbsc commented on #2754
Hi @michaelhkay thanks for reporting this. I have reproduce your issue with your test case. I'm not sure I can fix this quickly because it's a relatively complex part of the symbol solver component that requires a deep understanding of how it works.

[2020-10-14 18:44] jlerbsc commented on #1448
In JP 3.16.1 this issue cannot be reproduced with this test case.

    String actual =
                  "import java.time.DayOfWeek;\n"
                + "import java.time.temporal.TemporalAccessor;\n"
                + "public class Foo{\n"
                + "    public DayOfWeek from(TemporalAccessor ta ) {\n"
                + "       return DayOfWeek.from(ta);"
                + "    }\n"

[2020-10-14 18:44] #1448 closed, assigned to ftomassetti

[2020-10-14 21:26] signed commented on #2806
Estimated time of arrival (ETA). Sorry, should have just asked if there is already a date for the next release.

[2020-10-15 07:24] jlerbsc commented on #2806
Hi @maartenc Have you planned a new release these days?

[2020-10-15 08:21] maartenc commented on #2806
I'm working on it, I hope to create a new release within the next couple of days.

[2020-10-15 10:10] jlerbsc commented on #2806
Fantastic. Thanks

[2020-10-15 14:28] jlerbsc commented on #1479
Hi @ErtelJessica You are right, you cannot cast the corresponding declaration with JavaParserFieldDeclaration class because in the case of inherited field the corresponding declaration is an inner anonymous class which implements ResolvedFieldDeclaration interface (see JavaParserClassDeclaration.getAllFields()).

     JavaParserFieldDeclaration decl = (JavaParserFieldDeclaration) fieldDeclaration.

[2020-10-15 19:54] #1479 closed, assigned to nobody

[2020-10-15 20:29] ghost opened #2835 "Get the FieldDeclaration for a field inherited from a parent class."
The field `name2` is declared in the child class `C2`. Its initialization contains a field `name` which is inherited from `C2`'s parent class `C1`.
[code]
Given the FieldDeclaration of  name2 (i.e., `public String name2 = name + "xxx"`), I try to get the FieldDeclaration of `name` using the following code.

[code]
`name` corresponds to `bExprLeft`, and "xxxx" corresponds to `bExprRight`. Then `bEx

[2020-10-15 20:33] ghost commented on #2835
The AST tree of `public String name2 = name + "xxx";` is shown in following figure.
![image](https://user-images.githubusercontent.com/27879832/96182879-b5867480-0efb-11eb-9840-8223fed15da4.png)

[2020-10-16 06:00] jlerbsc commented on #2835
Hi @liuyuanOUC Your issue seems to be related to the issue #1479 which was solved yesterday. The fix will be available in the next version of JP which should arrive shortly. In the next version you could do this like it

     ResolvedFieldDeclaration leftValue = bExprLeft.asNameExpr().resolve().asField();;
     Optional<FieldDeclaration> bLeft = = leftValue.toAst();

[2020-10-16 08:20] #1456 closed, assigned to ftomassetti

[2020-10-16 08:27] jlerbsc commented on #1456
This issue is related to an incorrect configuration of the symbol solver component. When the symbol solver is correctly configured it's seems there is no issue. That's why I'm closing this issue. You are free to create a new one if you encounter a problem of this type again (without configuration problem).

[2020-10-16 08:36] jlerbsc commented on #1455
@pavlajak Can you provide us with a simple test case that allows us to reproduce the problem. thanks.

[2020-10-16 14:55] #1480 closed, assigned to nobody

[2020-10-16 15:03] jlerbsc commented on #1514
A test case would be welcome. I consider that it is a question on JP or SymbolSolver but it doesn't seem like we're talking about a bug.

[2020-10-16 20:11] #1518 closed, assigned to nobody

[2020-10-16 20:43] maartenc commented on #2806
@signed : we've released a new version today.
Could you give it a try?

[2020-10-16 21:33] ghost commented on #2835
Hi @jlerbsc. Nice! Thank you very much for your consistent help.

[2020-10-16 21:34] #2835 closed, assigned to nobody

[2020-10-17 12:05] matozoid commented on #1514
The way to find the declaration of a type is to use a symbol solver. If you write your own algorithm to do this, you are writing your own solver. There are reasons to write your own.

I'm guessing the original question's answer was something like "call the toAst() method" or whatever it was - I'm not a solver user or even involved in the project anymore :-)

Since the original poster hasn't replie

[2020-10-17 17:01] jlerbsc commented on #1514
Hi @matozoid Thank you for your response. I agree with you.

[2020-10-17 17:01] #1514 closed, assigned to nobody

[2020-10-17 19:54] jlerbsc commented on #1597
Now JavassistMethodDeclaration.accessSpecifier() method is implemented but without minimal test case we can't verify anything. You are free to create a new issue if the problem persists.

[2020-10-17 19:54] #1597 closed, assigned to ftomassetti

[2020-10-17 20:58] #1599 closed, assigned to ftomassetti

[2020-10-18 08:25] jlerbsc commented on #1783
A simple test case illustrating the problem would be much appreciated and save time. This issue was created over 2 years ago, it is difficult to say if it has been resolved. I close this issue but you are free to create a new one if you encounter this case again.

[2020-10-18 08:25] #1783 closed, assigned to nobody

[2020-10-18 15:41] #1793 closed, assigned to nobody

[2020-10-18 16:22] jlerbsc commented on #1771
This issue is probably linked to issue #2762

[2020-10-18 18:20] #1713 closed, assigned to ftomassetti

[2020-10-18 19:50] #1769 closed, assigned to ftomassetti

[2020-10-19 06:49] #1766 closed, assigned to ftomassetti

[2020-10-19 07:47] #1757 closed, assigned to ftomassetti

[2020-10-19 14:07] MorMundHS-MA opened #2857 "Node hashCode() collides almost always"
Demonstration (in Kotlin):
[code]

This will cause collisions for almost any simple source node, like literals. The simplest example is `BooleanLiteralExpr` always returning a `hashCode()` of 0 and 31 for `false` and `true` literals respectively.

Apologies if this is intended behavior and I just missed the relevant documentation. However the HashCodeVisitor class seems to be intended to be collis

[2020-10-19 16:05] signed commented on #2806
@maartenc `3.16.2` looks good, thank you

[2020-10-20 06:24] minhnguyenvan95 opened #2859 "findAll(ThrowStmt.class) not list Optional.orElseThrow exception"
findAll(ThrowStmt.class) not list Optional.orElseThrow exception

TransferPaymentTransactionNotFoundException is not listed when trying to call findAll(ThrowStmt.class)

orElseThrow(TransferPaymentTransactionNotFoundException::new) is known as MethodReferenceExpr

[code]

[2020-10-20 08:20] jlerbsc commented on #2859
Hi @minhnguyenvan95, using a debbuger it seems that arguments of the below expression is resolved to MethodReferenceExpr with a TypeExpr.

    Optional.ofNullable(new Object()).orElseThrow(UnsupportedOperationException::new);

[2020-10-21 06:27] jlerbsc commented on #2859
@minhnguyenvan95 Does this answer to your question suit you?

[2020-10-21 06:37] jlerbsc commented on #2857
Hi @MorMundHS-MA the code shows that the hashcode method is based on the HashCodeVisitor class is is defined like this :

    A visitor that calculates a deep hash code for a node by using the hash codes of all its properties, and the hash codes of all its child nodes (by visiting those too.)

So i think this is intended behavior.
If you have a more specific bug to report feel free to create a new

[2020-10-21 06:40] jlerbsc commented on #2825
@maartenc Do you know how to handle this issue/PR?

[2020-10-21 12:55] jlerbsc commented on #1621
But if you use the resolve() method to obtain a declaration you can get the qualified name.

    ParserConfiguration config = new ParserConfiguration();
        config.setSymbolResolver(new JavaSymbolSolver(new ReflectionTypeSolver()));
        StaticJavaParser.setConfiguration(config);

        String s =
                        "public class Foo {\n" +
                        "    @Override\n" +

[2020-10-21 12:55] #1621 closed, assigned to ftomassetti

[2020-10-21 13:45] Z13NDELS opened #2863 "When adding a new SourceRoot to ProjectRoot, this root is not added to the CombinedTypeSolver"
TItle says quite all : If I try to create a ProjectRoot with a `CombinedTypeSolver`, the combined type solver is in fact replaced in `SymbolSolverCollectionStrategy` in these lines

[code]

This is a blocker for me, as I want to read source code from multiple maven modules and be able to chain method discovery.
To overcome that, I'll have to replace the `ParserConfiguration` with an anonymous subc

[2020-10-21 14:27] jlerbsc commented on #1601
There is an issue when you try to modify directly argument type list but you can have the expected result with a new variable type created from previous type.

    class Issue1601Test extends AbstractLexicalPreservingTest  {

    @Test
    public void changingTypeArgument() {
        String s =
                "public class Foo {\n" +
                "  List<A> a;\n" +
                "}";

[2020-10-21 14:27] #1601 closed, assigned to nobody

[2020-10-21 14:58] jlerbsc commented on #2863
Thanks for reporting this issue. It will be corrected in the next version.

[2020-10-21 15:46] #2863 closed, assigned to nobody

[2020-10-21 22:26] shaifulcse opened #2865 "SymbolSolver does not resolve some of the methods' signaturer"
I am applying the symbol solver on the checkstyle project (https://github.com/checkstyle/checkstyle, checked out at e454ccdc73d393bed3fbd3713249b5f8d8219a3b).

I have parsed total 3180 methods but failed to resolve the fully qualified signature for 129 of them. Although some are having issues with syntax (that's fine), some of the cases do not make enough sense. Are these happening because of Symb

[2020-10-22 06:16] minhnguyenvan95 commented on #2859
But I think UnsupportedOperationException::new should recognize as ThrowStmt too

[2020-10-22 06:22] jlerbsc commented on #2865
Hi @shaifulcse could you tell us how you initialize JP and in particular JSS and RefectionTypeSolver? By default RefectionTypeSolver will only resolve types from the java or javax packages.

[2020-10-22 06:39] jlerbsc commented on #2859
In AST UnsupportedOperationException::new is a MethodReferenceExpr argument of a MethodCallExpr. You can verify this yourself with a debugger as I did.

[2020-10-22 06:58] Z13NDELS commented on #2863
I'm using JavaParser 3.16.1.
When is the next version expected ? Do you think I can try locally ? Maybe cloning/building/using the snapshot will do the job ?

[2020-10-22 07:04] jlerbsc commented on #2863
JP 3.16.2 has been released last week so you can clone and build the current snapshot.

[2020-10-22 09:35] jlerbsc commented on #1638
It's right the issue is caused by the extra space after the annotation @Override. If we remove this space from the test case, the following character is a line separator character is not treated in the same way.

[2020-10-22 10:08] jlerbsc commented on #1660
@kgeilmann Why didn't you do a PR on JP project for this issue? I have reported your solution on a repository and it resolved this issue. Thanks

[2020-10-22 11:19] #1660 closed, assigned to ftomassetti

[2020-10-22 11:52] jlerbsc commented on #1795
This issue is resolved since it was declared.

    @Test
    public void testWithLexicalPreservationEnabled() {

        String actual =
                "public class Foo {\n" +
                "  void m() {\n" +
                "    System.out.println();\n" +
                "    System.out.println();\n" +
                "  }\n" +
                "}";

        final ParserConfiguration parserCon

[2020-10-22 11:52] #1795 closed, assigned to nobody

[2020-10-22 12:01] jlerbsc commented on #1815
Hi @Julien-JLT could you provide us a simple test case to reproduce this issue. Thanks.

[2020-10-22 12:19] jlerbsc commented on #1819
The issue pointed by this one is resolved.

    public class Issue1817Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {

        Path testResources= adaptPath("src/test/resources/issue1817");

        CombinedTypeSolver typeSolver = new CombinedTypeSolver();
        typeSolver.add(new ReflectionTypeSolver());
        typeSolver.add(new JavaParserTypeSolver(testResourc

[2020-10-22 12:37] jlerbsc commented on #1827
This issue seems to be resolved. The unit tests implemented in class ConstructorsResolutionTest work and do not generate an error.

[2020-10-22 12:37] #1827 closed, assigned to nobody

[2020-10-22 12:54] #1819 closed, assigned to nobody

[2020-10-22 16:39] jlerbsc commented on #1862
The method (JavassistUtils.parseTypeParameters) no longer exists in JP so it's difficult to reproduce this issue. Of course you are free to create a new issue if you encounter this problem again.

[2020-10-22 16:39] #1862 closed, assigned to ftomassetti

[2020-10-22 18:58] jlerbsc commented on #1868
This issue is now resolved.

    public class Issue1868Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {

        Path testResources= adaptPath("src/test/resources/issue1868");

        CombinedTypeSolver typeSolver = new CombinedTypeSolver();
        typeSolver.add(new ReflectionTypeSolver());
        typeSolver.add(new JavaParserTypeSolver(testResources));

[2020-10-22 19:50] kgeilmann commented on #1660
It's easy, I didn't consider it as solution but as hack.

[2020-10-22 20:16] #1868 closed, assigned to ftomassetti

[2020-10-22 22:12] shaifulcse commented on #2865
To download all the jar files, I first used the command: `mvn dependency:copy-dependencies`

Here is my code:

[code]

[code]

[2020-10-23 02:54] #2859 closed, assigned to nobody

[2020-10-23 06:33] jlerbsc commented on #1660
Why did you consider it  as hack?

[2020-10-23 06:37] jlerbsc commented on #2865
Could you try to initialize CombinedTypeSolver with

    combinedTypeSolver.add(new ReflectionTypeSolver(false));

Because by default RefectionTypeSolver will only resolve types from the java or javax packages.

[2020-10-23 10:57] MorMundHS-MA commented on #2857
@jlerbsc Apologies for the vague explanation.

The issue is not really related to the HashCodeVisitor itself.

The problem is that for many Node classes the .hashCode() function returns the same value for clearly different object instances.
This simplest example of this would be:
[code]
Even though the two `true` literals are a different Node and have different ranges and token ranges, their `hash

[2020-10-23 12:36] jlerbsc commented on #2857
I can not answer this question because I am not experienced enough on JP. @maartenc @ftomassetti @matozoid do you have more explanation on this subject?

[2020-10-23 13:33] jlerbsc commented on #1879
In this example ind variable is an int and numSamples is a long (see https://github.com/apache/hadoop/blob/trunk/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-core/src/main/java/org/apache/hadoop/mapred/lib/InputSampler.java). I cannot reproduce this issue with the test code below. I close this issue but you are free to reopen it if you encounter this problem again. But

[2020-10-23 13:33] #1879 closed, assigned to ftomassetti

[2020-10-23 16:00] jlerbsc commented on #1913
I don't know if it's an issue and how to resolve it but we can reproduce it with these unit tests.
The NodeText of the VariableDeclarationExpr, used by LexicalPreservingPrinter  to print the node's state, has not been modified with the replacement.

So to change the VariableDeclaration's type it is safer to change the type rather than to change the type's name.

    class Issue1913Test extends Abs

[2020-10-23 16:19] jlerbsc commented on #1938
It seems this issue is resolved

    class Issue1938Test extends AbstractLexicalPreservingTest {

    @Test
    void test() {
        String src =
                "public class SampleParent {\n" +
                "    @NeedParcel\n" +
                "    public String test;\n" +
                "    int parent=0;\n" +
                "\n" +
                "}";

        considerCode(src);

[2020-10-23 16:19] #1938 closed, assigned to ftomassetti

[2020-10-23 16:25] kgeilmann commented on #1660
The root cause for the problem is the ResolvedUnionType, which is something not really existent in Java. So I think the real solution would be to remove the ResolvedUnionType (which is doable, because the language spec clearly defines what the type of the exception inside a multi catch should be). -> The last spec I looked into was Java 8, so this might not be valid anymore.

The hack just adds an

[2020-10-23 16:51] matozoid commented on #2857
@jlerbsc the suggestion that "a" and "b" give the same hashcode would mean that the SimpleName node always has the same hashcode. You could look at the hashcode visitor to see what it does there.

[2020-10-23 17:46] shaifulcse commented on #2865
Thanks so much. It solved most of the problems. Grateful to this community.

[2020-10-23 17:46] #2865 closed, assigned to nobody

[2020-10-23 19:29] jlerbsc commented on #2857
Thanks @matozoid  for your tip.

LiteralBooleanExpr hashcode is based on the value and comment.

    public Integer visit(final BooleanLiteralExpr n, final Void arg) {
        return (n.isValue() ? 1 : 0) * 31 + (n.getComment().isPresent() ? n.getComment().get().accept(this, arg) : 0);
    }

For the others nodes you have to consider HashCodeVisitor.

The unit test below prints recursivly class, c

[2020-10-23 19:43] matozoid commented on #2857
Ah, I see that we're talking about "true" always returning the same hashcode. But that's expected.

[2020-10-25 03:01] mf1832146 opened #2869 "I use java-symbol-solver to resolve this file , then it raises a error: java.lang.StackOverflowError"
The analyzed file:

[BatteryStatsImpl.txt](https://github.com/javaparser/javaparser/files/5434105/BatteryStatsImpl.txt)

The code I used as below:
[code]

That is a bug or I wrote the wrong code ?

[2020-10-25 07:17] jlerbsc commented on #2869
Hi @mf1832146 we lack a lot of information to be able to help you including a unit test case. In fact we can't use your test class because it uses dependencies that we don't have.
You can use this one to verify what is wrong in your context.

    public class Issue2869Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() throws IOException {

        Path testResources= ada

[2020-10-27 00:40] mf1832146 commented on #2869
Thank you for your prompt reply. I found that my issue is the same as [2781](https://github.com/javaparser/javaparser/issues/2781).  I solved it by putting the resolving process into a thread, and then just skip it when the process goes wrong. Hoping the issue could be solved soon.

[2020-10-27 08:27] jlerbsc commented on #2869
How did you initialize symbol solver? BatteryStatsImpl class extends android.os.BatteryStats class which is probably defined in a library?

[2020-10-27 08:53] mf1832146 commented on #2869
I am trying to extract the JDK API call sequences from a java code corpus, so I just use the JavaSymbolSolver to initialize. The method calls in android.jar are then ignored. The code I used is copied from the user guide as belows:
`
        ParserConfiguration parserConfiguration = new ParserConfiguration().setAttributeComments(false);
        StaticJavaParser.setConfiguration(parserConfiguration

[2020-10-27 09:12] jlerbsc commented on #2869
I think to avoid your problem you have to correctly initialize the symbol solver by integrating the android jar in a CombinedTypeSolver.

    CombinedTypeSolver typeSolver = new CombinedTypeSolver(new ReflectionTypeSolver(false),
                new JarTypeSolver(<path_to_library>), new JavaParserTypeSolver(<path_to_sources>));
    JavaSymbolSolver symbolSolver = new JavaSymbolSolver(typeSolver);

[2020-10-27 15:56] jlerbsc commented on #2869
If you do not include libraries in the symbol solver, you risk causing inappropriate symbol resolution strategies. This is what happens when classes have the same name in different packages.

For exemple to resolve proc.addSpeedStepTimes, symbol solver first search for methods declared in BatteryStatsImpl.Uid.Proc and all this ancestors. BatteryStatsImpl.Uid.Proc extends BatteryStats.Uid.Proc (whi

[2020-10-28 12:25] jlerbsc commented on #2050
This issue cannot be reproduced.

    public class Issue2050Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() throws IOException {

        Path testResources = adaptPath("src/test/resources/issue2050");
        Path pathToSourceFile = adaptPath(testResources.toString() + "/com/foo/Derived.java");

        CombinedTypeSolver typeSolver = new CombinedTypeSolver();

[2020-10-28 12:25] #2050 closed, assigned to ftomassetti

[2020-10-28 12:30] jlerbsc commented on #2031
The issue #1599 is closed so this issue is probably resolved if not you are free to open a new issue and provide a simplified test case.

[2020-10-28 12:30] #2031 closed, assigned to nobody

[2020-10-29 17:24] jlerbsc commented on #2064
This issue is resolved now.

Package name is java.math
Class name is BigDecimal

[2020-10-29 17:24] #2064 closed, assigned to nobody

[2020-10-30 07:30] jlerbsc commented on #263
This issue is already resolved.

[2020-10-30 07:30] #263 closed, assigned to nobody

[2020-10-30 07:50] jlerbsc commented on #2069
The original issue seems to be resolved now.

    @Test
    public void test() {

        TypeSolver typeSolver = new ReflectionTypeSolver(false);
        ParserConfiguration config = new ParserConfiguration();
        config.setSymbolResolver(new JavaSymbolSolver(typeSolver));
        StaticJavaParser.setConfiguration(config);

        String s =
                "public class Test {\n" +

[2020-10-30 07:50] #2069 closed, assigned to nobody

[2020-10-30 08:29] jlerbsc commented on #1634
We can reproduce this issue with this test case

    public class Issue1634Test extends AbstractLexicalPreservingTest  {

    @Test
    public void testWithLexicalPreservationEnabled() {

        String actual =
                "package com.wangym.test;\nclass A{ }";

        StaticJavaParser.setConfiguration(new ParserConfiguration());

        CompilationUnit cu = StaticJavaParser.parse(actual);

[2020-10-30 13:01] jlerbsc commented on #1675
This issue seems to be resolved.

    public class Issue1675Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {
        final Path testRoot = adaptPath("src/test/resources/issue1675");
        TypeSolver reflectionTypeSolver = new ReflectionTypeSolver();
        JavaParserTypeSolver javaParserTypeSolver = new JavaParserTypeSolver(testRoot);
        CombinedTypeSolver co

[2020-10-30 13:01] #1675 closed, assigned to ftomassetti

[2020-10-30 15:14] #1726 closed, assigned to ftomassetti

[2020-11-01 09:05] jlerbsc commented on #1950
This issue is reproducible with the following simplified test case based on @HoldYourWaffle one.
In this case i'm not sure this is really an issue. This unit test fails with

    com.github.javaparser.resolution.MethodAmbiguityException: Ambiguous method call: cannot find a most applicable method:
    JavaParserMethodDeclaration{wrappedNode=public static <T> void method(Callable<T> lambda) {    },

[2020-11-01 16:43] jlerbsc commented on #2083
This issue seems to be resolved

    public class Issue2083Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {

        TypeSolver typeSolver = new ReflectionTypeSolver(false);
        ParserConfiguration config = new ParserConfiguration();
        config.setSymbolResolver(new JavaSymbolSolver(typeSolver));
        StaticJavaParser.setConfiguration(config);

        Str

[2020-11-01 16:43] #2083 closed, assigned to nobody

[2020-11-02 09:20] jlerbsc commented on #1985
This issue seems to be resolved

     class Issue1985Test extends AbstractResolutionTest {

    @Test()
    void test() throws IOException {
        Path rootSourceDir = adaptPath("src/test/resources/issue1985");

        String src =
                "import foo.Example;\n" +
                "public class Bar {\n" +
                "  public void m() {\n" +
                "    Example v1 = Exampl

[2020-11-02 09:20] #1985 closed, assigned to ftomassetti

[2020-11-03 09:18] #2132 closed, assigned to nobody

[2020-11-03 10:34] jlerbsc commented on #2137
Adding a test case.

    public class Issue2137extends AbstractLexicalPreservingTest  {
    @Test
    void test() {
        String EOL ="\n";
        String code =
                "public class Foo {" + EOL +
                "  void mymethod1() {}" + EOL +
                "  void mymethod2() {}" + EOL +
                "}";
        String expected =
                "public class Foo {" + EOL +

[2020-11-03 11:07] jlerbsc commented on #2190
It seems that this issue is resolved

    public class Issue2190 extends AbstractSymbolResolutionTest {

    @Test
    public void test() {

        TypeSolver typeSolver = new ReflectionTypeSolver(false);
        ParserConfiguration config = new ParserConfiguration();
        config.setSymbolResolver(new JavaSymbolSolver(typeSolver));
        StaticJavaParser.setConfiguration(config);

        St

[2020-11-03 11:07] #2190 closed, assigned to nobody

[2020-11-03 13:20] jlerbsc commented on #2193
It seems to be resolved

    public class Issue2193Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {
        final Path testRoot = adaptPath("src/test/resources/issue2193");
        TypeSolver reflectionTypeSolver = new ReflectionTypeSolver();
        JavaParserTypeSolver javaParserTypeSolver = new JavaParserTypeSolver(testRoot);
        CombinedTypeSolver combinedTyp

[2020-11-03 13:20] #2193 closed, assigned to nobody

[2020-11-03 13:31] jlerbsc commented on #2199
I cannot reproduce this issue with the simplified unit test bellow

    public class Issue2199Test extends AbstractLexicalPreservingTest  {

    @Test
    public void test() {

        String actual =
                "public class A {\n" +
                "    public static void main(String[] args) {\n" +
                "        m();\n" +
                "        m();\n" +
                "    }\

[2020-11-03 13:31] #2199 closed, assigned to nobody

[2020-11-03 13:52] jlerbsc commented on #2205
Hi @mr-rajeshrathod can you check you have always this issue with the lastest JP version and provide us a simple unit test. Thanks.

[2020-11-03 15:54] jlerbsc commented on #2213
No news it may not be worth keeping this issue open

[2020-11-03 15:54] #2213 closed, assigned to nobody

[2020-11-03 19:39] #2236 closed, assigned to nobody

[2020-11-03 20:01] jlerbsc commented on #2261
It seems this issue is resolved. It cannot be reproduced with this unit test.

    public class Issue2261Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {
        String code = String.join(System.lineSeparator(),
                "public class Issue2261<T> {\n" +
                        "   public int[] foo() {\n" +
                        "       System.out.println(\"

[2020-11-03 20:01] #2261 closed, assigned to nobody

[2020-11-04 09:48] matozoid commented on #263
(side note: DumpVisitor is the old name of the PrettyPrintVisitor. Maybe it should have remained DumpVisitor because it is more of a quick dump than a well-configurable prettyprinter.)

[2020-11-04 10:22] #2283 closed, assigned to nobody

[2020-11-04 17:55] #2284 closed, assigned to nobody

[2020-11-04 20:43] #2289 closed, assigned to nobody

[2020-11-04 23:43] ghost opened #2878 "Unable to find the constructor declaration when the argument list contains multiple "Optional.empty()" for different Optional<T>."
Given the following two classes: U9 and U10.
[code]

[code]
I use the following code to find `ObjectCreationExpr` in method `U10.mian()`.
[code]

Then for `u2`, `u3`, and `u4`, I can get their `className`. But for `u1`, I get the following exception:
[code]

I think that it may be a bug. But I don't have enough time to debug it. Any suggestions are welcome!

[2020-11-05 08:28] jwaataja opened #2879 "Crash on annotated varargs parameter"
JavaParser has helped significantly in a project I'm working on, but I get a crash in one specific edge case. It occurs when a method takes a varargs parameter of primitive type with an annotation. I'm running this code.
[code]

Here's the crash:
[code]

The parsed code compiles with javac, so I assume it's valid. The crash doesn't occur if I change `int` to `String` or `Object` so the problem see

[2020-11-05 16:31] jlerbsc commented on #2878
@liuyuanOUC Thanks for reporting this issue.

[2020-11-05 17:36] #2878 closed, assigned to nobody

[2020-11-05 18:04] jlerbsc commented on #2869
Hi @mf1832146 Did these tips help you?

[2020-11-05 20:17] alitarfa opened #2881 "Resolve a type from contex"
Hello friends,
I have a Spring boot project and I want to parse it and file the dependencies  between classes I am using the JavaSymbolSolver to find out the Class Name

[code]

I am facing this issue

[code]
- could you tell me if it is necessary to indicate all the libraries used by the project to parse it or there is another way for that

[2020-11-05 22:35] jlerbsc commented on #2881
Could you provide us a simple test case that isolates the problem please. What can we find in this place /usr/lib/jvm/java-11-openjdk-amd64/? libraries or source files?

[2020-11-05 22:51] ghost commented on #2878
@jlerbsc Thank you for your kind work and fast reply.

[2020-11-05 23:31] boyang9602 opened #2882 "findAll does not work correctly for Comment.class."
[Testfile.txt](https://github.com/javaparser/javaparser/files/5498000/Testfile.txt)
Parse the attached file and call `List<Comment> comments = compilationUnit.findAll(Comment.class);`. It cannot get all the comments in the file.

[2020-11-06 05:36] alitarfa commented on #2881
-  /usr/lib/jvm/java-11-openjdk-amd64/? libraries or source files?
You can find the java JDK
- /home/tarfa/MySpace/Tekit/soon-back/src/main/java/
In this directory you find the source code

[2020-11-06 07:01] jlerbsc commented on #2881
Hi @alitarfa where the SecurityContextHolder class is declared? Is it a spring class?
I think that CombinedTypeSolver is badly initialized. For jar libraries you have to use JarTypeSolver and for java classes ReflectionTypeSolver generally does the job.

[2020-11-06 07:08] jlerbsc commented on #2882
Hi @boyang9602 Did you try compilationUnit.getAllContainedComments()?

[2020-11-06 07:39] alitarfa commented on #2881
Hi @jlerbsc
Yes, SecurityContextHolder is a spring class.
do you mean by using CombinedTypeSolver, I need to use JarTypeSolver like this
[code]

-It's mandatory to specify all **Jars** used by the project? it there any way to avoid this?

[2020-11-06 08:12] jlerbsc commented on #2881
yes you are right. JarTypeSolver is used to solve classes in library (bytecode) and JavaParsertypeSolver is used to solve java source files. You can discover libraries automatically depending on whether you parse a maven project or other type org.jboss.shrinkwrap.resolve can help you.

[2020-11-06 08:18] alitarfa commented on #2881
@jlerbsc
- My question now is it's mandatory to specify all **Jars** one by one like this ? or no.
- **Is there another way to resolve the dependencies from the pom.xml file of the maven project automatically**

[code]

Because the project is so huge and uses a lot of Libraries it's so hard to specify all the jars files

[2020-11-06 08:29] jlerbsc commented on #2881
If you need to solve symbol you have to provide all entries to JavaSymbolSolver otherwise you may get errors UnsolvedSymbolException. Since it is a maven project i advise you to use org.jboss.shrinkwrap.resolve to find all dependencies from pom.xml files.
Finally you can add JarTypeSolver from CombinedTypeSolver "public void add(TypeSolver typeSolver)" method.

[2020-11-06 08:31] alitarfa commented on #2881
@jlerbsc Thank you so much for your response I will try out the solution and I will come back

[2020-11-06 09:17] jlerbsc commented on #2879
This syntaxe doesn't generate ParseProblemException.

    public void method( int @MyAnnos[] ... param) {}

@maartenc, @MysterAitch,  i think (but I'm not sure) this PrimitiveType declaration generates this parsing exception.

	ReferenceType ReferenceType(NodeList<AnnotationExpr> annotations):
	{
		Type type;
		ArrayBracketPair arrayBracketPair;
		List<ArrayBracketPair> arrayBracketPairs = new Arr

[2020-11-06 09:41] alitarfa commented on #2881
@jlerbsc
- Is possible to parse a project if it has a compilation problem ? or there is no relation between the compilation and compilation

[2020-11-06 09:43] jlerbsc commented on #2881
To my knowledge this is not possible to parse a project if it has a compilation problem.

[2020-11-06 10:14] alitarfa commented on #2881
@jlerbsc Thanks

[2020-11-06 13:34] boyang9602 commented on #2882
Yes. `getAllContainedComments()` works. I am wondering why `compilationUnit.findAll(Comment.class)` does not work.

[2020-11-06 14:21] jlerbsc commented on #2882
Certainly because some comments are tied to nodes while others are orphan comments

[2020-11-06 14:22] boyang9602 commented on #2882
Oh ok, is that the expected behavior? Because from the API docs, I cannot get this information.

[2020-11-06 14:48] jlerbsc commented on #2882
It's clear for me. Could you close this issue if there is no more question please?

    /**
     * This is the list of Comment which are contained in the Node either because
     * they are properly associated to one of its children or because they are floating
     * around inside the Node
     *
     * @return all Comments within the node as a list
     */

[2020-11-06 14:54] boyang9602 commented on #2882
I mean the `findAll()`'s doc. It says
[code]

[2020-11-06 22:04] #2882 closed, assigned to nobody

[2020-11-06 22:08] jlerbsc commented on #2882
You are right but there is another method which is more explicit on the management of comments.

[2020-11-07 07:55] jlerbsc commented on #2881
Hi @alitarfa I'm closing this issue because it was not related to a real problem but you are free to open a new issue if you have another question.

[2020-11-07 07:55] #2881 closed, assigned to nobody

[2020-11-07 09:26] #2823 closed, assigned to nobody

[2020-11-07 09:32] jlerbsc commented on #2295
Since the issue is already fixed we can close it.

[2020-11-07 09:32] #2295 closed, assigned to nobody

[2020-11-07 15:42] MysterAitch opened #2886 "JDK15 / JEP 371: Hidden Classes"
I'm not yet entirely clear on what exactly "hidden classes" are, but it looks like there's a chance JEP371 might introduce changes if they're available via reflection (the symbol solver), so this issues is a reminder to dig a bit deeper (and an invitation for others to comment if you know more than I do about them! :+1: ).

https://openjdk.java.net/jeps/371

[2020-11-07 15:43] MysterAitch commented on #2445
JDK 15 has this as a second preview:
https://openjdk.java.net/jeps/375

~~I've not yet looked to see if there are any substantive differences between the two JEPs.~~

[2020-11-07 15:46] MysterAitch opened #2887 "JDK15 / JEP 378: Text Blocks"
JDK 15 has text blocks as a release feature: https://openjdk.java.net/jeps/378

Fingers crossed we can just close this off once we confirm there are no substantive differences between the two preview/release JEPs.

[2020-11-07 16:01] MysterAitch opened #2888 "JEP 360: Sealed Classes (Preview)"
Multiple examples available at: https://openjdk.java.net/jeps/360

[2020-11-07 18:50] f71uday opened #2890 "Differentiate between the two child classes which extends the same super class"
Here is a sample class for which I am building an AST using JavaParser , then trying to resolve the function calls using JavaSymbolSolver
[code]

If I am trying to resolve method calls `nextInt()`  in above code snippet using using below  code

[code]

but both method calls get resolved as `java.util.Random.nextInt()` , I think this is because `SecureRandom` Class in Java extends `Random` Class, b

[2020-11-07 19:41] MysterAitch commented on #2890
`MethodUsage` has a method `getDeclaration()`. From there, you can determine which class / compilation unit the declaration exists within.

Hope this helps! If not, or if I've misunderstood your question, let us know and we'll get you a fuller reply :)

[2020-11-07 19:55] MysterAitch commented on #2825
Just having a look into this and I see that for `javaparser-core` we generate the `bnd.bnd` file, but we don't do this for `javaparser-symbol-solver-core` or the other submodules.

That seems to be what @stbischof is asking about / flagging up, and PR #2824 seems to use the bnd generator plugin to generate it.

@stbischof  -- I don't use the OSGi side of things and have extremely limited knowledge

[2020-11-08 01:17] MysterAitch commented on #2857
While I can't speak to the original intention, I understand the answer here to be "yes, it is deliberate" and I would be (generally) against including the range in the hashcode for nodes.

In part, this is because not all nodes will have a range but my main concern is that adding/removing an import (or any other newline) would cause every node after it to have its hashcode recalculated. As a resul

[2020-11-08 01:22] MysterAitch commented on #2857
The javadoc for the `HashCodeVisitor` could probably use some editing/clarification to highlight whatever the outcome of this conversation is though!

e.g. adding a note to clarify "of all its **non-range** properties", or perhaps some other similar phrasing to show that the hashcode is calculated based on that node and its children (NOT its parents).

[code]

https://github.com/javaparser/javapar

[2020-11-08 01:31] MysterAitch commented on #2746
Hi @MornSunShine -- could you give some examples please?

Wherever something is marked as `@Deprecated` and it doesn't have javadoc explaining it, that is something that should be fixed :)

_edit: It should be fixed by adding the javadoc to explain why it is deprecated (assuming that we can find a reason)_

[2020-11-08 01:48] MysterAitch commented on #2731
Hi,

I can't comment on your specific example without more detail, but it seems reasonable.

Note that the signature of the method declaration may differ from the signature of the method usage / method call.

As an example, you might have a method whose declaration indicates that it accepts a `List` as a parameter. When you actually use this method, you might provide a `LinkedList` or an `ArrayLis

[2020-11-08 03:12] MysterAitch commented on #2725
Hi @for-just-we -- if you still have questions, please do post a reply either here or in a new issue :) :+1:

[2020-11-08 03:12] #2725 closed, assigned to nobody

[2020-11-08 03:37] MysterAitch commented on #2879
@jlerbsc I think you're not far off, but I don't believe it would be that part of the grammar.

See also this section which defines a "parameter":
https://github.com/javaparser/javaparser/blob/f20d6fdc306bb8ae135e9a9639ca1b04acecd976/javaparser-core/src/main/javacc/java.jj#L1120-L1137

It definitely is not the most readable thing in the world, but it indicates that a parameter is defined as:

- a

[2020-11-08 03:43] MysterAitch commented on #2879
... or this commented version might make it more readable too:

[code]

[2020-11-08 04:25] MysterAitch commented on #2879
Here's the grammar defining parameters to a method declaration.

It shows that the `...` may be preceeded by an annotation, but the identifier itself must not.

https://docs.oracle.com/javase/specs/jls/se15/html/jls-8.html#jls-8.4.1

[code]

... And here is some experimentation re: confirming where parameters may be located:

![image](https://user-images.githubusercontent.com/1537214/98456636-0e06

[2020-11-08 04:48] MysterAitch commented on #2879
Going up a level, here is the grammar for a method declaration:

[code]

In terms of the JavaParser grammar here, there is some oddity going on with arraybracketpairs that I can't explain -- it's probably all fine, but `arrayBracketPair` and `arrayBracketPairs` are used later as parameters to `juggleArrayType()` which I haven't yet dug into.

[code]

[2020-11-08 04:53] MysterAitch commented on #2879
... and in spite of everything I posted above, I suspect that I have just come full circle into (potentially) agreeing with you here! :D

I see that the line you've added asterisks to for emphasis ends in `+` to indicate "one or more" array bracket pairs for primitive types, whereas the asterisk `*` is used for `ClassOrInterfaceType` to indicate "zero or more" array bracket pairs.

Maybe there is

[2020-11-08 06:05] f71uday commented on #2890
Thnaks @MysterAitch , it worked!.

[2020-11-08 06:05] #2890 closed, assigned to nobody

[2020-11-08 08:41] #2290 closed, assigned to nobody

[2020-11-08 09:28] jlerbsc commented on #2296
This issue is no longer reproducible

    public class Issue2296Test extends AbstractLexicalPreservingTest {

    @Test
    public void test() {
        String EOL = LineSeparator.SYSTEM.asRawString();

        considerCode(
                "enum A {" + EOL +
                        " E1" + "," + EOL +
                        ";" + EOL +
                        "}");
        EnumDeclaration ed = c

[2020-11-08 09:28] #2296 closed, assigned to nobody

[2020-11-08 09:39] jlerbsc commented on #2310
It can be reproducible with

    public class Issue2310Test {

    @Test
    public void test() {
        new ArrayList<>(Arrays.asList("String[] args", "String args[]")).forEach(
                sample -> {
                    System.out.println("====" + sample + "====");
                    String code = "public class Demo {\npublic static void main(" + sample + ") {\n}\n}";

[2020-11-08 09:44] jlerbsc commented on #2324
There have been no comments for a very long time so I think this issue can be closed

[2020-11-08 09:44] #2324 closed, assigned to nobody

[2020-11-08 09:49] jlerbsc commented on #2326
This issue is not reproducible

    public class Issue2326Test extends AbstractLexicalPreservingTest {

    @Test
    public void test() {

        String code =
            "// Big copyright comment\n" +
            "package x.y.z;\n" +
            "\n" +
            "/**\n" +
            " * JavaDoc goes here\n" +
            " */\n" +
            "class C{}\n";

        StaticJavaParser.setConf

[2020-11-08 09:49] #2326 closed, assigned to nobody

[2020-11-08 09:55] jlerbsc commented on #2328
This issue is not reproducible with JP 3.16.3

    public class Issue2328Test {
    @Test
    public void test() {
        String code =
                "public class HelloWorld {\n" +
                "    private Object o;\n" +
                "    public HelloWorld() {\n" +
                "    }\n" +
                "\n" +
                "    public static void main(String[] args) {\n" +

[2020-11-08 09:55] #2328 closed, assigned to nobody

[2020-11-08 16:56] jlerbsc commented on #2330
This issues seems to be resolved in JP 3.16.3

    public class Issue2330Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {
        final Path testRoot = adaptPath("src/test/resources/issue2330");
        TypeSolver reflectionTypeSolver = new ReflectionTypeSolver();
        JavaParserTypeSolver javaParserTypeSolver = new JavaParserTypeSolver(testRoot);
        Combined

[2020-11-08 16:56] #2330 closed, assigned to nobody

[2020-11-08 16:58] jlerbsc commented on #2869
Hi @mf1832146 could you tell us if this issue is resolved?

[2020-11-08 17:06] jlerbsc commented on #2781
@alufers Could you provide us a simple test case please.

[2020-11-08 17:51] jlerbsc commented on #2349
This issue is already resolved

    public class Issue2349Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {
        final Path testRoot = adaptPath("src/test/resources/issue2349");
        TypeSolver reflectionTypeSolver = new ReflectionTypeSolver();
        JavaParserTypeSolver javaParserTypeSolver = new JavaParserTypeSolver(testRoot);
        CombinedTypeSolver comb

[2020-11-08 17:51] #2349 closed, assigned to nobody

[2020-11-08 18:20] jlerbsc commented on #2373
Hi @gpr-indevelopment We have provided a unit test which reproduces the case. The return type of the method has been dynamically defined. This is one way of responding to this issue. We cannot do more about this problem. If you have other questions on this issue you can open a new issue or comment on this one.

[2020-11-08 18:20] #2373 closed, assigned to nobody

[2020-11-08 21:51] #2393 closed, assigned to nobody

[2020-11-09 03:18] vnique commented on #1950
I got the same problem when I use lambda's express.

[2020-11-09 13:20] #2406 closed, assigned to nobody

[2020-11-09 14:41] jlerbsc commented on #2477
Hi @httpdigest It seems that javax.vecmath is an external dependency and  new ReflectionTypeSolver(true) cannot resolve all the classes included in it. You have to setup JarTypeSolver with this library.

    public class Issue2477Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {

        TypeSolver typeSolver = new ReflectionTypeSolver(false);
        ParserConfigurat

[2020-11-09 14:56] jlerbsc commented on #2577
This issue cannot be reproduce with this test case. Of course you can comment on this ticket if the test case is not completely correct.

    public class Issue2577Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {
        final Path testRoot = adaptPath("src/test/resources/issue2577");
        TypeSolver reflectionTypeSolver = new ReflectionTypeSolver(false);

[2020-11-09 14:56] #2577 closed, assigned to nobody

[2020-11-09 16:18] MysterAitch opened #2897 "`...` and `::` are (wrongly) categorised as operators, rather than separators"
It seems that `...` and `::` are (wrongly) categorised as operators, rather than separators.

Should be a fairly easy one to fix (the grammar in `java.jj` and `JavaToken.Category` in `TokenTypes.java`)

Relevant JLS:
https://docs.oracle.com/javase/specs/jls/se15/html/jls-3.html#jls-3.11
https://docs.oracle.com/javase/specs/jls/se15/html/jls-3.html#jls-3.12

Older JLS versions:
https://docs.oracle.

[2020-11-10 11:25] jlerbsc commented on #2484
MethodResolutionLogic.isAssignableMatchTypeParametersMatchingQName(..) tries to compare the qualified name from each type parameters. MyClass.Ibaz is different from java.lang.Object so the MethodResolutionLogic.findMostApplicable(..) method fails.

[2020-11-10 13:28] maartenc commented on #2484
The getClass() method is something special which is not treated well by the symbolsolver.

The javadoc of getClass() states:

[2020-11-10 15:11] jlerbsc commented on #2826
This issue is resolved in the current version (JP 3.16.4-snapshot).

    public class Issue2826Test extends AbstractLexicalPreservingTest {

    @Test
    public void test() {

        StaticJavaParser.setConfiguration(new ParserConfiguration());

        String s = "public class Person  {}";
        CompilationUnit cu = StaticJavaParser.parse(s);
        LexicalPreservingPrinter.setup(cu);

[2020-11-10 15:11] #2826 closed, assigned to nobody

[2020-11-10 15:24] MysterAitch opened #2899 "Confusing / Muddled logic in the grammar?"
I'm doing some work to verify the grammar and I can't quite get my head around the two parts below. Note the `// TODO/FIXME: Investigate` lines below for details on each.

The cyclical-ness / recursiveness of it is muddling by brain a little -- the JLS seems to indicate that a `ConditionalOrExpression` can be just `ConditionalAndExpression` (which, recursively, can be `ConditionalOrExpression`..?)

[2020-11-10 16:09] #2489 closed, assigned to nobody

[2020-11-10 17:12] matozoid commented on #2899
As far as I can see this is simply how operator precedence is done in "normal" parser generators, check https://github.com/javacc/javacc/blob/master/grammars/CParser.jj#L501 for the same construction in JavaCC sample C grammar. Or do you mean something else?

[2020-11-10 17:25] MysterAitch commented on #2899
That helps me to understand actually, precedence makes  thank you! I also realised I needed to look a bit closer to spot the subtle distinctions between `ConditionalOrExpression` and `InclusiveOrExpression` (i.e. meaning not as recursive as I first feared).

That said, I'm not yet sure JP _doesn't_ have a problem though.

Note that:

[code]

Alternatively, this shorter version:
[code]

And this sh

[2020-11-10 22:36] #2062 closed, assigned to nobody

[2020-11-11 08:48] jlerbsc commented on #2495
Hi @oxisto , @maartenc @MysterAitch it seems that the use case provided has compilation error so it makes sense that we have an operational error. I'm not sure this issue is relevant.

    "The method onlyOuter() is undefined for the type OuterClass.NestedClass"

[2020-11-11 09:56] matozoid commented on #2899
It should be straightforward to unit test that. Parse an expression like `true||false&&true`, then add EnclosedExpr around all the resulting nodes. Print it, and you should get something like `(((true)||(false))&&(true))`. It could very well be that there are no precedence tests - so maybe test things like `1+2*3` is `((1)+((2)*(3)))` too. (Maybe be a little less extreme with the EnclosedExpr's ;-

[2020-11-11 10:11] oxisto commented on #2495
Hi @jlerbsc, yes the use case has an intentional error. Back in January, when you parsed the code with JavaParser you did not get an operational error, but rather the parse continued and associated a wrong method to it. So it could be that this is issue was fixed by some other changes in the mean time.

[2020-11-11 16:12] jlerbsc commented on #2495
To my knowledge the expected behavior is that the code must compile before you can you JP/JSS. It is not the case in your sample. If you think that the issue is solved you can close this issue or give us a simple unit test from this one.

    public class Issue2495Test extends AbstractSymbolResolutionTest {

    @Test
    public void test() {

        TypeSolver typeSolver = new ReflectionTypeSolv

[2020-11-11 16:28] MysterAitch commented on #2495
Yes, this is generally the case!

Some exceptions do occur -- the grammar / parser is permissive in some places, and does allow some code that is syntactically valid but doesn't compile. This is generally picked up later in the language level checking stage.

As a result, it is possible to make use of `LanguageLevel.RAW` to take advantage of this if you're only wanting to parse and possibly modify

[2020-11-11 18:32] #2613 closed, assigned to nobody

[2020-11-11 19:01] #2495 closed, assigned to nobody

[2020-11-11 19:01] MysterAitch commented on #2310
I'm inclined to believe this to be a grammar bug. Specifically in `VariableDeclaratorId()`.

Note that the token range for the variable name/identifier seems to be manually overridden so that it includes the array brackets.

[code]

![image](https://user-images.githubusercontent.com/1537214/98852866-3af43a80-2450-11eb-8ba5-135047985c13.png)

[2020-11-11 19:07] oxisto commented on #2495
Closing this.

Unrelated to the issue but related to what  @MysterAitch  has said: There are some use cases (including the one we use JP for) where it makes sense to only analyse the syntactic structure of a program, since from a pure AST point of view the program is valid. We for example, are analysing just snippets of code where you possibly have no idea what kind of class the object you are loo

[2020-11-11 21:03] jlerbsc commented on #2517
This unit test reproduces the bug. The issue seems to be located in DifferenceElementCalculator.calculate(..)

    public class Issue2517Test extends AbstractLexicalPreservingTest {

    @Test
    public void testMethoCallExpr() {

        String code = "public class A {\n" +
                "    public A(String a , String b) {\n" +
                "    }\n" +
                "    public static A

[2020-11-12 01:40] MysterAitch commented on #2899
Putting together some tests for this, everything seems to be working out fine...

I just can't seem to rationalise why it works, given that the inconsistencies described above...

Will take another look tomorrow with some fresh eyes :+1:

[2020-11-12 14:04] deadlocklogic opened #2909 "Unexpected result when solving an outer class reference"
Consider this example:
[code]
Using a visitor on the compilation unit, when reaching the `ThisExpr` node and resolving the node with `calculateResolvedType()` the `ResolvedType` corresponds unexpectedly to the `OuterClass.InnerClass`.
Of course, the expected type should've been `OuterClass` as `OuterClass.this` references the outer class.
Looks like the SymbolSolver is erroneously dismissing `This

[2020-11-12 16:08] deadlocklogic commented on #2909
**Edit:**
Actually using fully qualified class name yields correct result when `ThisExpr `is solved.
[code]
So it is actually a bug,

I am trying to dig the code responsible for it.
I found this method to branch differently between these 2 cases and I think it is where the issue lies:
https://github.com/javaparser/javaparser/blob/e3240fc48b1ed205fa90009f698a60adf58d66f1/javaparser-symbol-solver-co

[2020-11-12 16:48] jlerbsc commented on #2909
Thanks for reporting this issue.

[2020-11-12 17:15] deadlocklogic commented on #2909
With pleasure, by the way javaparser-core is really mature and robust!
My issue is within symbol-solver, many other problems I am facing with it so far (some are duplicates).

Actually, going a lit bit deeper in `JavaParserTypeSolver` I found this method to be surprisingly worrisome :
[code]
It tries to resolve the class type from name by fetching in the source directory for a direct match, which

[2020-11-12 20:07] #2879 closed, assigned to nobody

[2020-11-12 20:12] jlerbsc commented on #2909
I can suggest a patch that fixes this bug but I'm not sure it fixes all similar cases

[2020-11-12 22:10] MysterAitch commented on #2899
I think I'm getting there... but the bottom line is that I now don't think there's anything to worry about! :+1:

In terms of how it works, the left-hand side of the operator is first tested to see if it is the higher-precedence operator. Once this is done, the right-hand side of the operator is tested too. That is why `ret` and `right` are consistently the same.

Note that we can't define the jav

[2020-11-13 08:53] jlerbsc commented on #2535
Hi @MysterAitch it seems it's the expected behavior. There are some unit tests to validate this behavior for example in PrettyPrintVisitorTest.blockcommentGetsNoFormatting(..). I don't know if we have an issue to resolve or if we have to update unit tests too.

[2020-11-13 09:46] MysterAitch commented on #2535
@jlerbsc my view is that the unit tests likely need to be updated too

[2020-11-13 14:50] #2578 closed, assigned to nobody

[2020-11-13 15:53] f71uday opened #2917 "How do i get the wrapper node from resolvedType"
After resolving a Name expression
and Loging the resolved  object in below code snippet , log shows there is a object named wrapperNode inside resolved Node , how can I access that wrapperNode.

I didnt found any method in ResolvedValueDeclaration class which can take me to wrapper Node and If I missed any thing please guide me

[code]

`LOG:  JavaParserSymbolDeclaration{name='cmd', wrappedNode=cm

[2020-11-13 15:56] f71uday commented on #2917
@MysterAitch It would be  a great pleasure , if you help me resolve this issue.

[2020-11-13 16:27] MysterAitch commented on #2917
I'm on mobile so can't check, but have you tried `getParentNode` or similar?

[2020-11-13 16:52] f71uday commented on #2917
ResolvedValueDeclaration class does not have any method like `getParentNode`

[2020-11-13 17:59] jlerbsc commented on #2917
If the declaration is associated to an AST node method toAst() returns it, otherwise it returns empty.

[2020-11-13 23:42] MysterAitch commented on #2917
As @jlerbsc mentions, the correct method is `toAst()` (I was wrong above, sorry!).

An example of this is `ResolvedFieldDeclaration` which extends `AssociableToAST<FieldDeclaration>` (`AssociableToAST` gives the `toAst()` method)

Looking a bit more closely, I don't see anything similar for `NameExpr` speficially. The screenshot below shows some classes that do implement it. Are you able to make u

[2020-11-13 23:44] #2535 closed, assigned to nobody

[2020-11-13 23:46] MysterAitch commented on #2917
Sidenote: I'm not sure whether `NameExpr` _should_ be associable to the AST -- ~~I don't immediately see why not (other than not having a `wrappedNode` field), but I've been away for a while and there might be a really obvious reason this is the case!~~

**Edit: scratch that -- the `NameExpr` itself shouldn't have it.**

Instead, the thing that the name expr represents should implement it (e.g. if

[2020-11-14 00:25] MysterAitch opened #2919 "Travis -- issues with extended delays, and travis-ci.org is closing down"
Looks like Travis is being a pain again.

It seems like it is primarily a travis problem, unrelated to the github api limit problems faced earlier this year (#2582).

A tldr (short summary) is at the end :+1:

## The "pain point"

In the Travis community forums, and elsewhere online, there are a large number of reports of travis ci builds being queued for extended periods of time (multiple hours)

[2020-11-14 06:32] f71uday commented on #2917
@MysterAitch

i tried below code and it help me getting me wrapperNode
[code]

However i tried your solutions as well , both are working ,

Raising an issue and talking to community about the issue always helps gathering more knowledge.
Thank you @MysterAitch @jlerbsc .

[2020-11-14 06:40] deadlocklogic commented on #2909
Hey guys, I tried this patch and it worked to this specific test but still didn't solve the initial problem when full qualified `OuterClass` name isn't provided.
The test works of course as in: https://github.com/javaparser/javaparser/blob/efb242d42b3e165115f31f18c44cd4a6abbc228d/javaparser-symbol-solver-testing/src/test/java/com/github/javaparser/symbolsolver/Issue2909Test.java#L25-L37
Now try to

[2020-11-14 09:43] jlerbsc commented on #2909
This implementation can be refactored in CompilationUnit to provide a new method that can get a local ClassOrInterfaceDeclaration from a class name. Actually the method getClassByName(..) tries to get a top level class declaration by its name.

[2020-11-14 11:15] jlerbsc commented on #2917
Hi @f71uday we are glad we were able to help you. Now if you have no further questions on this subject could you close this issue please?

[2020-11-14 15:44] #2917 closed, assigned to nobody

[2020-11-15 09:50] jlerbsc commented on #2702
Hi @zyj183247166 could you tell us if you still have this problem. If yes, can you provide us with simple unit test.

[2020-11-15 13:52] MysterAitch opened #2923 "Discussion -- Versioning -- switch to semver?"
So far we've pretty much stayed as version 3.x.y with x (loosely) indicating breaking / substantial changes, and y indicating additional non-breaking functionality/patch releases.

This has been a bit "loosely defined" though.

Personally I'm favouring "semantic versioning" (semver) recently, where the version bump is determined based on what kinds of changes are being made. This is helpful with e

[2020-11-15 13:52] MysterAitch commented on #2923
For convenience, here's the definition of semver from https://semver.org/

[2020-11-15 15:18] jlerbsc commented on #2923
I'm voting for "semantic versioning" and when we push PR we can specify by convention if there is an incompatible api change

[2020-11-15 23:29] ovesh opened #2926 "NoSuchElementException in PhantomNodeLogic after adding node"
I have the following logic to add a call in the middle of a few chained calls:
[code]

When I try to print the resulting file with `LexicalPreservingPrinter`, I get this exception stack trace:
[code]

[2020-11-16 08:10] jlerbsc commented on #2926
Hi @ovesh did you setup the LexicalPreservingPrinter? I cannot reproduce your issue with this unit test

    @Test
    public void test() {
        String code = "public class A {\n" +
                "  public void m() {\n" +
                "     a.withA().withB().withC().build;\n" +
                "  }\n" +
                "}\n";

        CompilationUnit cu = StaticJavaParser.parse(code);

[2020-11-16 08:56] maartenc commented on #2923
ok for me

[2020-11-16 10:48] matozoid commented on #2613
Neat!

[2020-11-16 11:00] deadlocklogic commented on #2909
Sorry to bump this issue again but still the patch works for this specific test. I will try giving a general test including different corner cases and what needs to be changed. Actually I patched this issue on my other machine but can't submit a PR right now.
### Defects with the current implementation:

**1.** Any class in the default package sharing same `typeName` of `ThisExpr` to be resolved i

[2020-11-16 14:55] ovesh commented on #2926
I can reproduce with this test case:
[code]

(the biggest change being that I moved where I set up the printer to the end)

[2020-11-16 16:29] deadlocklogic commented on #2909
All the results should return `test.Program.FarOuterClass.OuterClass`

[2020-11-16 16:36] deadlocklogic commented on #2909
I believe my workaround is the correct solution not because just all the tests passes, but because this is how inner classes should be resolved, keeping in mind that `this` can only point to instance class, or instance enclosing class.
So we should first check if **_typename_**.`this` refers to a local class (be it member or enclosing) by bubbling through the hierarchy and last we should use the s

[2020-11-16 18:56] jlerbsc commented on #2926
But LexicalPreservingPrinter must be setup before the compilation unit is updated.

[2020-11-16 19:49] jlerbsc commented on #2909
Thank you for providing us with such a rich test case.

[2020-11-17 01:40] deadlocklogic commented on #2909
No problem.
But the test should be:
[code]
instead of (other than that the OuterClass.java in the default package makes no sense):
https://github.com/javaparser/javaparser/blob/818946fa5d9a5a6cb1aa19058b8b44be38ae2cfb/javaparser-symbol-solver-testing/src/test/java/com/github/javaparser/symbolsolver/Issue2909Test.java#L76-L78

[2020-11-17 02:51] ovesh commented on #2926
Yeah, I realized that thanks to your comment. I still think the stack trace is a little inscrutable for most users. It can be fixed by catching the exception and throwing something with a hint in the error message. I can create a PR if you think it's worth it.

[2020-11-17 04:01] deadlocklogic commented on #2909
Ok so now I set up my machine, I am back on my horse. Here is PR #2928 where I give an example which breaks your implementation. Please no offense, but I am easily figuring out counter-arguments because I worked out the correct solution myself. Of course I saw your attempt to search this time with using `endsWith`, and from bottom of the hierarchy, I repeat once again this simple approach won't wo

[2020-11-17 07:12] jlerbsc commented on #2909
Hi @deadlocklogic Thanks for this work. Did you try to run all the unit tests of the project before doing your PR?

[2020-11-17 07:28] deadlocklogic commented on #2909
Yes, they passed for the current test, but the method `test` was incomplete as I stated before, you forgot to include a `JavaParserTypeSolver` as it should be
[code]
What the point of creating `OuterClass.java` in the default package in `resources/issue2909` if not using it in the solver then?
Yes I even added a new test that it will fail will the default implementation.

[2020-11-17 07:31] deadlocklogic commented on #2909
You can check my PR #2928, I dissected every step possible, it is not that huge PR thought, 10 min at best you will figure out all the changes and what is wrong with this current implementation.

[2020-11-17 08:25] jlerbsc commented on #2926
You are right the stacktrace is not user friendly (but it's a bug!). I will patch the bug on Optional.get() usage. Thank you for your comment.

[2020-11-17 12:55] MysterAitch commented on #2887
Yup, no changes! :tada:

[2020-11-17 12:55] #2887 closed, assigned to nobody

[2020-11-17 13:04] MysterAitch commented on #2446
JDK14 - preview:
https://openjdk.java.net/jeps/359

JDK15 - second preview:
https://openjdk.java.net/jeps/384

JDK 16 - Targeted for release:
https://openjdk.java.net/jeps/395

Looks like additional changes are planned:

ere as follows:

[2020-11-17 13:10] MysterAitch commented on #2445
**JDK14 - Preview:**
https://openjdk.java.net/jeps/305

**JDK15 - Second Preview**
https://openjdk.java.net/jeps/375

**JDK16 - Targeted for release:**
https://openjdk.java.net/jeps/394

[2020-11-17 13:25] #2926 closed, assigned to nobody

[2020-11-17 23:16] ovesh commented on #2926
I tried this out locally, and it ends up reporting an error further down, which I think is not really helpful (something like the node is missing a range). In addition to fixing the unsafe `Optional.get()` calls, it would make sense IMO to throw an exception that suggests to check if the printer is initialized.

[2020-11-18 07:45] Elfe-w opened #2932 "How do I resolve MethodCallExpr in a. Java file when I don't have the original Java project file"
hello,I want to get the function signature information of the called function in. Java file (such as the name of the function, parameter type, etc.), but when using JavaParserTypeSolver,MethodCallExprs that are in the same package but different Java files can be parsed correctly if the input path is one level above the package path. If there is packages only Java file, how should I deal with it?

[2020-11-18 07:50] jlerbsc commented on #2932
Hi @Elfe-w you have to setup JavaParserTypeSolver with the root path to the source directory. In your case it's e:/test/src

[2020-11-18 07:55] Elfe-w commented on #2932
Thank you for your prompt reply, but are there any other solutions?

[2020-11-18 08:12] jlerbsc commented on #2932
Have you try a test with the correct setup of the JavaParserTypeSolver ?

[2020-11-18 08:16] Elfe-w commented on #2932
Do you mean set it like this:Path src=Paths.get("E:/test/src")?Yes, I tested it this way and got the right results, but there was no way I could create a root path for each file with a large number of Java files.

[2020-11-18 08:23] jlerbsc commented on #2932
You need to initialize a JavaParserTypeSolver (with the root path of java files) for each source root. For example for a classic maven project if you want to parse (and resolve) main and test source files you have to setup a JavaParserTypeSolver for each directory. that's all.

    new JavaParserTypeSolver("src/main/java");
    new JavaParserTypeSolver("src/test/java");

[2020-11-18 08:25] Elfe-w commented on #2932
Ok, thank you for your answer.

[2020-11-18 08:30] jlerbsc commented on #2932
When I reread your question in fact I realize that I do not understand what you want?

     If there is packages only Java file, how should I deal with it?

[2020-11-18 08:46] Elfe-w commented on #2932
Oh sorry, I made a mistake, it should be: no package paths just Java files.
For example, I have  two Java files, and if I want to initialize a JavaParserTypeSolver  for each source root, I have to open it and look at its Packagename to create its root path.like this:
[code]
[code]
}
But with a large number of Java files, it is very difficult to initialize a JavaParserTypeSolver for each source pat

[2020-11-18 09:10] jlerbsc commented on #2932
Not "each source path" but each root source path in your case there seems to be only one root source path "E:/test/src"

[2020-11-18 10:40] Elfe-w commented on #2932
OK，I got that.

[2020-11-18 11:27] jlerbsc commented on #2932
if you have no more questions maybe you can close this issue

[2020-11-18 11:52] MysterAitch commented on #2932
If you have multiple source roots, this article is helpful:

https://javaparser.org/setting-up-for-analysing-a-whole-project/

It sounds like this isn't quite what you're asking about though -- is it correct that you have all source files within the same folder?

JavaParser does assume that all files are to be found in the correct directory structure (one that matches the packages).

This would be

[2020-11-18 12:16] Elfe-w commented on #2932
Ah, thank you for your solution. The problem you are talking about is exactly what I have encountered.I apologize for my inaccurate question and thank you for your help.

[2020-11-18 12:16] #2932 closed, assigned to nobody

[2020-11-18 15:25] jlerbsc commented on #2909
From my point of view this issue can be closed. A simple solution was found to the problem posed. Of course you are free to open a new issue if you encounter a problem again.

[2020-11-18 15:27] jlerbsc commented on #2869
No comment so i think this issue is resolved.

[2020-11-18 15:27] #2869 closed, assigned to nobody

[2020-11-18 15:34] jlerbsc commented on #2821
Hi @bojanv55 if you have no more questions can you close this issue please.

[2020-11-18 15:37] jlerbsc commented on #2784
Hi @Maths-Maths perhaps you can close this issue and open a new one with the subject "what is this concept of "Phantom" nodes"

[2020-11-18 15:43] jlerbsc commented on #2781
@zhangziqiang1 can you provide us a simple test case that reproduce this issue. Can you also make sure you still get this error with the latest version of JP. Thanks.

There is a compilation error in the example provided by @alufers. So it's logical that the symbol solver has unpredictable behavior.

    Cycle detected: the type Redacted.Status cannot extend/implement itself or one of its own memb

[2020-11-18 15:45] #2821 closed, assigned to nobody

[2020-11-18 15:47] jlerbsc commented on #2767
There is no comment for a long time so i think this issue is resolved.

[2020-11-18 15:47] #2767 closed, assigned to nobody

[2020-11-18 17:57] jlerbsc commented on #2771
We can reproduce this issue with the pretty printer

    public void test() {
        String code =
                "public class A {\n" +
                "  public static int calculate(int []nums){\n" +
                "        if(nums.length<10){\n" +
                "            return nums.length/10\n" +
                "                    +1000000;// return the result\n" +
                "

[2020-11-18 18:11] jlerbsc commented on #2771
This issue is raised because the comment is associated to the right hand of the binary expression (the IntegerLiteralExpr represented by "1000000"). Pretty printer which is used by default when you call cu.toString() prints IntegerLiteralExpr with the following steps : 1- print orphan comment 2- print comment on the node 3- print the value of the node

If you want to keep the original format you h

[2020-11-18 18:22] MorMundHS-MA commented on #2857
@MysterAitch Yep, that's what I did. I had to wrap the nodes in another class anyway.

Agreed. Calculating the hash code from mutable properties is bad design. And making all nodes immutable sounds impractical too. But, I guess this is technical a problem already.

The problem with documenting this is that no one calls hashCode or the HashCodeVisitor directly. Most use-cases will be maps or sets,

[2020-11-18 18:28] deadlocklogic commented on #2909
You know what? The word **simple solution** struck me like a thunder😛 So I had to restore my dignity as a tester.
This test fails:
[code]

[2020-11-18 18:32] danvega opened #2933 "Extract everything between comments"
In a perfect world, each of these "exercises" would be in their own method but that isn't the case. Is there anyway for me to extract each of these blocks?

[code]

I know I can extract the comments using:

`List<Comment> comments = cu.getAllComments();`

Unfortunately, the node for that comment includes the comment and the first variable declared. Any help is appreciated.

[2020-11-18 19:50] jlerbsc commented on #2909
Where is the error?

    OuterClass.this is resolved to test.Program.OuterClass
    OuterClass.this is resolved to test.Program.OuterClass
    Program.OuterClass.this is resolved to test.Program.OuterClass
    Program.OuterClass.this is resolved to test.Program.OuterClass
    test.Program.OuterClass.this is resolved to test.Program.OuterClass
    test.Program.OuterClass.this is resolved to test.Pr

[2020-11-18 20:09] deadlocklogic commented on #2909
Oh snap! I thought I pulled yesterday after you merged. My mistake!!! Yes indeed all tests pass, including this one. So I think this issue should be solved.

[2020-11-18 20:09] #2909 closed, assigned to nobody

[2020-11-18 22:59] MysterAitch commented on #2933
I'm not sure I follow.

Here's the test I run to understand what is being returned, and I don't see any variables - am I doing something wrong, or misunderstanding what you are asking about?

[code]

[code]

[2020-11-18 23:11] MysterAitch commented on #2771
Personally I am still unsure what the question is, but I agree with @jlerbsc that it hasn't been possible to see any problems with JavaParser itself (perhaps the problem is setting up the lexical preserving printer as noted above?).

Given this I'll close this issue, but @YinWangPing please do comment if there's something we've missed and we can reopen it and help you! :+1:

---

Sidenote: Here is

[2020-11-18 23:11] #2771 closed, assigned to nobody

[2020-11-19 08:29] matozoid commented on #2857
Sorry I forgot about this: such a map (and set and list) is available here https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/utils/VisitorMap.java

[2020-11-19 09:46] cyberjj999 opened #2934 "Extracting all Java Methods in a Java File (i.e. myFile.Java)"
Hi everyone, I would love like to extract all Java Methods in a Java File as mentioned in the title of this question.
To give an example of what I mean

[code]
Given the following code, I should be able to get back the 2 method entirely (including the method header, body and return statement etc)

P.S. I am not sure if Javaparser is the best tool for this, but I am certainly open to other tools. I

[2020-11-19 10:23] jlerbsc commented on #2934
hi @cyberjj999 what informations would you want to get? the name? the qualifed signature?...

[2020-11-19 10:28] cyberjj999 commented on #2934
Hello @jlerbsc I would need the entire method, it would be very ideal if it is possible to identify the name, qualified signature etc. But if anything, the most important thing is getting the entire method as a String.

In this example, i would want to get the whole string of both methods, i.e.
[code]

And to be clear, if I can separate the strings and not get it in a chunk it would be ideal, i.e.

[2020-11-19 10:29] jlerbsc commented on #2934
Below an example to extract the method signatures

    @Test
    public void test() {
        String code =
                "public class A {\n" +
                "  public static List<String> getLinks(String url) throws IOException {\r\n" +
                "    List<String> result = new ArrayList<String>();\r\n" +
                "    Document doc = Jsoup.connect(url).get();\r\n" +

[2020-11-19 12:18] cyberjj999 commented on #2934
Hi @jlerbsc . My apologises for the late response as I was having dinner just now.
I'm not looking to only retrieve the method header in a test.java file - I actually am looking to get the whole method (including header, body and return msg etc.) as a string, like the example I gave above.
May I know if its possible to do it with Java Parser?

Edit: I would like to also eventually pass the output

[2020-11-19 12:58] MysterAitch commented on #2934
@cyberjj999 This may be of interest to you:

https://javaparser.org/inspecting-an-ast/

https://plugins.jetbrains.com/plugin/14245-javaparser-ast-inspector

You can search for all method declarations within a compilation unit and, once you have that, you can extract anything you want. For example, you can print the whole thing and you can extract specific parts.

In @jlerbsc 's example above, a li