[2020-11-19 14:05] danvega commented on #2933
@jlerbsc My exercises are contained within a public static void main, does that matter?

[2020-11-19 15:03] MysterAitch commented on #2933
@danvega -- I don't expect that it would.

Can you give an example of what the "wrong" output you are seeing please? And what you would like it to look like.

[2020-11-19 16:01] danvega commented on #2933
This is my class

[code]

The code used to get the comment node

[code]

The output:

Optional[/*
            1. Add two numbers
         */
int addOne = 10;]
Optional[/*
            2. Multiply two numbers
         */
int multOne = 10;]

Thanks for the help, sorry If I am asking the wrong question.

[2020-11-19 16:50] MysterAitch commented on #2933
Yes -- note this line which returns the node that the comment has been attributed to (i.e. the commented node).

Comments are (generally) attributed to the next line - in this case, the block comment is attributed to the variable declaration. That variable declaration node has also a reference to the comment, which gets printed when printing the node -- which is why you're seeing both the node and

[2020-11-19 18:35] #2784 closed, assigned to nobody

[2020-11-19 18:36] jlerbsc opened #2935 "what is this concept of "Phantom" nodes"

[2020-11-20 00:27] MysterAitch commented on #2825
Please note the comments made within the PR.

Also, dropping this here for reference / a reminder for future research:

https://github.com/immutables/immutables/issues/1223#issuecomment-701873941

That comment/thread raises the issue of dashes within (I think) module names when using automatic naming. Given that we have dashes within our artifact IDs, this will presumably affect us too.

That said

[2020-11-20 13:25] jlerbsc commented on #814
This exception no longer exists so i think we can close the issue.

[2020-11-20 14:49] MysterAitch commented on #814
I can't comment on the issue, but there is a `TokenMgrException` that is generated - it can be found at:

`javaparser-core/target/generated-sources/javacc/com/github/javaparser/TokenMgrException.java`

[2020-11-20 16:55] jbmestelan opened #2936 "Differing behavior between printers, when removing one value from an annotation type element"
Hello, and thanks for JavaParser.

When modifying an annotation, and removing one value among a list in the annotation type element, I find that this has no effect on its lexically printed representation. The compilation unit has taken the change into account, but it seems that it will just print unchanged.

Conversely, the pretty print will reflect those changes.

You can find the code to reprodu

[2020-11-20 17:23] matozoid commented on #814
I'm not sure about this anymore either, but I'm pretty sure we never want a TokenMgrException to happen because it is a problem with lexing (we want errors to happen later, during parsing or during validation) so it is at most very low priority, or just close the thing.

[2020-11-20 17:25] matozoid commented on #2784
@ftomassetti made these phantom nodes. I think it is when the lexical preserving printer works on a node that is not explicitly modelled or so. I think you can figure it out if you check where they are used.

[2020-11-20 19:26] MysterAitch commented on #2936
What does this mean? Could you give an example of the actual output and your desired output please?

[2020-11-20 19:36] MysterAitch commented on #2784
#2935

[2020-11-20 19:41] jbmestelan commented on #2936
Yes, sorry.

Starting from this class:
[code]

and after the manipulations described [here](https://github.com/Mestelan/JavaParser_report/blob/main/src/main/java/AnnotationRemoverVisitor.java), which remove the `"bad"` value, we get this output:

[code]

I expect the value to be removed, whichever way is used to print back the result of the manipulation. Am I doing the transformation in a unexpect

[2020-11-20 19:43] MysterAitch commented on #2935
It's a while since I last looked at them, but my understanding is that phantom nodes are classes/objects which are present in JavaParser but do not necessarily represent an AST node.

IIRC this is typically where we have a `NodeList` of e.g. modifiers or declarations (which are containers containing properties of a node, rather than being a node itself). There might be other examples too.

To give

[2020-11-20 19:55] MysterAitch commented on #2936
Cheers - that makes more sense, thanks! (was a bit tricky navigating multiple files in nested directories using just the github UI!)

The only thing that jumps out is using `iterator.remove()` -- I'm not entirely sure whether that is effective, or whether the `Node#remove()` must be used (I don't use the visitor side of JavaParser).

Edit: Dipping into the source code for `NodeList.java`, the list

[2020-11-20 20:41] jbmestelan commented on #2936
Thank you. It is right that, if I replace the call to `iterator.remove()` with `Node#remove()`, the test has the expected behaviour!

Here is the transformation, rewritten to directly manipulate the nodes:

This way of deleting, using `Iterator.remove`, causes the problem:
[code]
Result
[code]

This other way, using `Node#remove()`, does not cause the problem :
[code]
Result
[code]
And indeed, I j

[2020-11-20 20:46] jbmestelan commented on #2936
Now, knowing this, we can work around this behaviour, and find alternate ways to iterate over the nodes to selectively remove some items. I have used a `break` here, which works in my use-case, because each value should occur only once. Or I suppose we could delete the elements over several loops...

[2020-11-20 21:02] jbmestelan commented on #2936
But maybe the `NodeList#iterator` should return an implementation which fails fast when its `remove` method is invoked?

[2020-11-20 21:12] MysterAitch commented on #2936
Personally, my default approach would be to use the `findAll()` method and stream filters to collect a list of nodes to remove, then iterate over that list calling `Node#remove()`.

Again, not sure if that'll work with the visitors but I don't immediately see why it wouldn't.

I'm currently looking at fixing this with a custom iterator. If I don't get anywhere fast with that (maybe it's not as sim

[2020-11-20 22:14] divad1998 opened #2937 "Methods accessible by a PackageDeclaration instance"
Hello JP, *smiles*
So I'm working on this really interesting library which requires that this method: 'setJavadoc(Javadoc javadoc)' becomes accessible by a PackageDeclaration instance. My project is currently on hold due to the absence of this feature, so I'm actually suggesting an inclusion of this feature in your library.
Patiently hoping this suggestion is considered and the library updated.
Th

[2020-11-20 23:50] MysterAitch commented on #2937
Hi @divad1998 :)

Are you actually trying to add javadoc comment to the package declaration? I ask as there is subtle nuance around what a comment gets attributed/attached to versus where it is positioned in the file.

Alternatively, do you just want it at the top of the file? (e.g. for a copyright notice)

Also: I don't have it available but, if you do, can you confirm if the javadoc tool allows

[2020-11-21 07:57] jlerbsc commented on #2937
The JLS says that "It is recommended that package-info.java, if it is present, take the place of package.html for javadoc and other similar documentation generation systems. If this file is present, the documentation generation tool should look for the package documentation comment immediately preceding the (possibly annotated) package declaration in package-info.java. In this way, package-info.ja

[2020-11-21 08:01] jlerbsc commented on #2937
There is also a sonar rule that identify a minor violation "Packages should have a javadoc file 'package-info.java'"
"Each package in a Java project should include a package-info.java file. The purpose of this file is to document the Java package using javadoc and declare package annotations."
https://rules.sonarsource.com/java/tag/convention/RSPEC-1228

[2020-11-21 09:14] JonasKvarnstrom commented on #1771
(Apologies in advance if I'm adding this to the wrong issue.  There seem to be many interlinked issues with similar problems.)

(Edited: Referenced the wrong class; should be com.github.javaparser.symbolsolver.javassistmodel.JavassistConstructorDeclaration)

I have a similar issue with many student projects that I am trying to analyze.

For example, many projects use MigLayout which uses two separ

[2020-11-21 09:57] JonasKvarnstrom commented on #2899
You're looking at the difference between specifying a sequence iteratively and recursively.

What we really want is that a ConditionalOrExpression contains a sequence of *one or more* ConditionalAndExpressions, separated by `||`.

In the JLS this is specified by saying an `OR` is either just `AND` or `OR || AND`.  In the second case, the first `OR` can (recursively) be just an `AND`, so we have `A

[2020-11-21 10:12] JonasKvarnstrom commented on #2899
Something like this:

* Something calls ConditionalOrExpression()
* ... which calls ConditionalAndExpression()
* ... which calls InclusiveOrExpression()
* ... lots of levels where you just do the first call
* ... which calls PrimaryPrefix()
* ... which calls Literal()
* ... which tests various options and eventually calls ret = BooleanLiteral()
* ... which tests "true", then "false", then returns

[2020-11-21 11:00] MysterAitch commented on #2919
https://ropensci.org/technotes/2020/11/19/moving-away-travis/

[2020-11-21 15:56] divad1998 commented on #2937
I intend adding a javadoc comment before the package declaration line

[2020-11-21 15:59] divad1998 commented on #2937
I intend adding a javadoc comment before the package declaration line.

[2020-11-21 17:05] jlerbsc commented on #1771
This is an old issue on which no one has decided, for the moment, on the strategy to adopt. @MysterAitch an idea?

[2020-11-21 17:19] jlerbsc commented on #2937
I understand what you want to do but my point is just to remember that it is not JLS compliant and that tools like SonarQube detect issues like this. I am not sure that we want to integrate features into JP that are not recommended by the JLS.  @MysterAitch what is your opinion?

[2020-11-21 17:36] MysterAitch commented on #2937
I agree -- if there's anything to show that this is supported anywhere else, I would be open to it.

If you could share some more details about what it is you're trying to achieve (e.g. is it just to insert the comment, or do you want to replace an existing comment, or to add a copyright header, or something else), we might be able to give figure out how to make it happen! :)

---

Thinking out lo

[2020-11-21 17:38] jlerbsc commented on #1771
Javassists CtConstructor doesn't have another method to get the number of parameters. :-(

[2020-11-21 17:38] divad1998 commented on #2937
I'm not going against JLS actually. What I want to do is: read the package-info.java file, get and edit the javadoc comment on top of the package declaration line, and replace/set it.

[2020-11-21 17:41] divad1998 commented on #2937
I intend editting and replacing an existing comment

[2020-11-21 17:48] MysterAitch commented on #1771
I'm not sure I understand the question/issue.

Is there any particular reason that one jar containing an implementation of an interface in a separate jar is a problem?

For example, if I include the android (or the JavaParser) libraries as a JAR file then implement an interface from either then that is fine iirc. Ditto for the Log4J implementations where Log4J defines the interface but many other

[2020-11-21 17:49] jlerbsc commented on #2937
Sorry I did not understand your request. I let @MysterAitch help you.

[2020-11-21 17:55] MysterAitch commented on #2937
Could you elaborate further please? Is this one file vs a few vs thousands etc? Will it be run once or do you intend to repeat it? Will the package line (and it's comment) be the first lines of the file?

In the immediate term, to get you going ASAP with a solution, perhaps this article will help:

https://javaparser.org/inspecting-an-ast/

If you can identify where the existing comment is added/a

[2020-11-21 18:02] jlerbsc commented on #1771
There are cases where we try to resolve something in a jar but there is a dependency with another object declared in another jar but JarTypeSolver can only access classes declared in the jar associated with it.

[2020-11-21 18:17] MysterAitch commented on #1771
So... Just to spell out a scenario:

Which results in a problem because project B's typesolver can't access project C's types..?

- I know that the combined typesolver iterates through all typesolvers when trying to solve types.

- I also recall that the typesolvers can have a parent / child structure. Not sure if this is used in practice though.

- Given this, my expectation is that the typesolve

[2020-11-21 18:47] JonasKvarnstrom commented on #1771
I'm not sure if I'm using the correct JavaParser terminology here.  What I'm doing is the following.

I have an IntelliJ IDEA project where I have access to the sources of that project.  The project also uses two distinct MigLayout JAR files, `miglayout-core-5.2.jar` and `miglayout-swing-5.2.jar`.

In IntelliJ IDEA, I can run the project without any problems by adding the two JAR files to the proj

[2020-11-21 18:49] divad1998 commented on #2937
`@PackageDoc(description = "...", version = "1.0", since = "2020-11-21")
package org.unidoc;
`
So, my project introduces commenting java codes with annotations. I also intend building a commandline tool which internally converts these comments to javadoc commenting style for effective javadoc documentation. So far I've completed the necessary codes for converting ClassDeclaration comments and othe

[2020-11-21 19:02] divad1998 commented on #2937
It would be all package-info.java files and It would be run whenever the programmer tries generating a javadoc documentation file. And yes, it would be the first lines in the files.

[2020-11-21 19:10] JonasKvarnstrom commented on #1771
So CtMember gets its declaringClass in the CtMember constructor.  This information is forwarded from CtBehavior(), which gets it from CtConstructor().

Since I don't understand the JavaParser code structure, I set a couple of breakpoints.  This shows that when I have a ResolvedReferenceType and call getTypeDeclaration().get(), the result is a JavassistClassDeclaration for a ctClass that has a clas

[2020-11-21 19:27] divad1998 commented on #2937
The above solutions you suggested aren't apt

[2020-11-21 20:26] MysterAitch commented on #2937
It sounds like a really interesting project! 😊😊

Personally I lean towards being permissive in allowing cases where things are "allowed, but discouraged".

For example, if we're "supposed" to put package documentation in `package-info.java` but it's fine to add it at the top of each Java file then this is developer choice and a case of best practices -- and it would not necessarily JavaParser's ro

[2020-11-21 20:43] MysterAitch commented on #1771
Thank you for the detailed helpful comments @JonasKvarnstrom (here and elsewhere)!

You're correct that JavaParser doesn't do the JAR side of things (instead we rely on javassist). Given that the compiled `.class` files within a jar don't expose as much information as the sources they're handled separately.

It sounds like there's a potential can of worms to open if we start adding class paths bet

[2020-11-22 07:24] JonasKvarnstrom commented on #1771
Again I'm not so familiar with the internals of JavaParser or Javassist, but it does look like that to me.

I don't think so.

The problem arises when you are using Javassist to find out information about a class in JAR-based classpath entry A, and that class references a class in classpath entry B, where B is different from A and B isn't the path appended by appendSystemPath (which seems to be th

[2020-11-22 10:08] jlerbsc commented on #1771
@MysterAitch , @maartenc made some interesting remarks on the issue issue #2762

[2020-11-22 13:48] MysterAitch commented on #2899
~~I assumed this to be the case, but I couldn't get it to do so...~~

Filling in the blanks above:

- ConditionalOrExpression
- ConditionalAndExpression
- InclusiveOrExpression
- ExclusiveOrExpression
- AndExpression
- EqualityExpression
- InstanceOfExpression
- RelationalExpression
- ShiftExpression
- AdditiveExpression
- MultiplicativeExpression
- UnaryExpression
- PreIncrementExpression / PreDe

[2020-11-22 15:53] divad1998 commented on #2937
After studying the page associated with the link, I observed that the section which contains the subsection: 'Placement of comments' only specifies the placement of doc comments in source code files.

[2020-11-22 16:20] MysterAitch commented on #2937
To confirm: this means that we are in agreement about the quoted section applying to documentation comments (i.e. javadoc), yes?

If so: package declarations cannot have documentation comments (javadoc), thus it is inappropriate to add `PackageDeclaration#setJavadoc(Javadoc javadoc)`.

Do you have another interpretation?

[2020-11-22 17:12] MysterAitch commented on #2936
I've just pushed a custom iterator implementation that delegates to the arraylist's iterator implementation. It'll be merged once the CI is complete (travis delays.. #2919).

As far as I can tell the spliterator doesn't need to be done too because it doesn't allow modification, but I might be mistaken (please do correct me!). If it does, that can be added as a separate issue/PR though.

[2020-11-22 17:33] #2936 closed, assigned to nobody

[2020-11-22 18:21] divad1998 commented on #2937
Actually, we didn't reach an agreement. Why? package-info.java isn't a source code file. Remember I intend reading a package-info.java file.

[2020-11-22 18:42] divad1998 commented on #2937
In other words, the quoted section doesn't apply to package-info.java files(which are not source code files).

[2020-11-22 19:17] MysterAitch commented on #2937
I think I finally understand.

You are not wanting to add the comment into the `package-info.java` file. My (mis-)understanding earlier is that you wanted to read from `package-info.java` and then insert it into e.g. `MyClass.java`.

This means you are correct that the `PackageDeclaration` CAN have javadoc attached, but only when it is within a file name `package-info.java`. Thank you! :+1:

[2020-11-22 19:29] MysterAitch commented on #2937
I see that the `setComment()` method allows you to specify any kind of comment (including javadoc comments). This means you can add javadoc comments, just not via `setJavaDoc()`. The only catch is that the next time you parse it, it will be attached to the compilation unit.

The good news here is that you can get going ASAP before any fixes are applied!  :smiley:

Hope this helps! :)

See below fo

[2020-11-23 09:59] zcbbpo opened #2940 "compareConsideringTypeParameters issue"
Hi ,
I have some code use
```javaParserFacade.getType(expression);```
This was return
[code]
I have see the source code ```com.github.javaparser.resolution.types.ResolvedReferenceType#compareConsideringTypeParameters```
[code]
I want to confrim it possible miss else if ReferenceTypeImpl?
can i add ```else if (thisParam instanceof ResolvedReferenceType && otherParam instanceof ResolvedReferenceType

[2020-11-23 10:51] divad1998 commented on #2937
I would come to you with the result of trying this approach. *thumbs-up*

[2020-11-23 13:18] jlerbsc commented on #2940
Hi @zcbbpo Can you give us more information on what you are trying to do and a simple test case that reproduces the issue you are facing?

[2020-11-23 13:19] #2935 closed, assigned to nobody

[2020-11-23 19:06] divad1998 commented on #2937
So, after editting the doc comments in the package-info.java file, I wrote the result to another file and got this output:
[code]

Apparently the setComment(JavadocComment) method wraps the entire contents of the file in an array. Very surprising.

When I tried to replace the square brackets, commas and superfluous spaces so it becomes a proper java doc comment:

[code]
It didn't work.

[2020-11-23 19:28] MysterAitch commented on #2937
Please share the actual code you have used to do this.
There is no reason I am aware of that it would return as an array.

Possibly worth highlighting that `compilationUnit.toString()` will return a pretty-printed string showing the contents of the compilation unit. If you're getting an array in there, something very strange is going on.

_(Note that you can use this as `String fileContents = comp

[2020-11-23 19:29] divad1998 commented on #2937
[code]

[2020-11-23 19:32] divad1998 commented on #2937
oops! I see a List.

[2020-11-23 19:41] divad1998 commented on #2937
I've observed the bug.

[2020-11-23 19:45] divad1998 commented on #2937
Thanks for the assistance! boom! *grinning*

[2020-11-23 19:49] divad1998 commented on #2937
Really grateful.

[2020-11-23 19:49] #2937 closed, assigned to nobody

[2020-11-23 20:30] MysterAitch opened #2941 "Javadoc on `PackageDeclaration` in `package-info.java` files"
Follow up to #2937

Standard java files do not allow the package declaration to have a javadoc comment added, per:

https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html

Firstly, we should double check that JavaParser is consistent with this (or any updated reference guide/materials).

Secondly, the `package-info.java` file is a legitimate place for javadoc to be added to the

[2020-11-23 20:31] MysterAitch commented on #2941
A workaround is available - `setComment()` allows you to pass a `JavaDocComment` and it will add it.

Existing comments will normally be added as a comment to the compilation unit (accessible via `compilationUnit.getComment()`) -- assuming that the package declaration is the first node in the file.

This means that if a modified file is parsed again, the javadoc comment will not be attributed to t

[2020-11-23 21:09] MysterAitch commented on #2935
Is this something that warrants documentation updates, perhaps?

[2020-11-24 05:06] zcbbpo commented on #2940
Hi jlerbsc,
I see ```com.github.javaparser.resolution.types.ResolvedReferenceType#compareConsideringTypeParameters```
[code]
It's will call ```javassist.CtClassType.equals```
and ```javassist.CtClassType.equals``` was call java.lang.Object.equals
They was compare object pointer.
I see the two CtClassType has the same attributes, field but they has different memory address, this method
[code]
will

[2020-11-24 07:44] jlerbsc commented on #2940
Please can you give us a simple test case that reproduces the issue you are facing.

[2020-11-24 09:36] zcbbpo commented on #2940
Hi @jlerbsc
When I use ```javaParserFacade.getType(expression);``` I have few issue.
The blew is my two jar
The download link:
[javaparse-test-1.0-SNAPSHOT.jar](https://www.dropbox.com/s/n64c8mhbofmp8s2/javaparse-test-1.0-SNAPSHOT.jar?dl=0)
[javaparse-test-common-1.0-SNAPSHOT.jar](https://www.dropbox.com/s/ksxqddb7md3k8xq/javaparse-test-common-1.0-SNAPSHOT.jar?dl=0)

The one jar(javaparse-test-com

[2020-11-24 10:12] MysterAitch commented on #2940
This sounds similar to #1771 and #2762

[2020-11-24 10:36] zcbbpo commented on #2940
Hi @MysterAitch ,
Thanks your reply.
I feel it's two issue.
The one issue is many JarTypeSolver dependency .
I was use
[code]
to ignore it.
The next issue is:
[code]
It's look like generic parameter issue....

[2020-11-24 12:45] jlerbsc commented on #2940
Hi @MysterAitch  I agree with you. A quick win in my opinion would be to have a single classpool instance shared between the different jartypesolver. But this solution did not seem to have the consensus. This would initially unblock the issues and possibly allow time to think about another solution.

[2020-11-25 02:56] zcbbpo commented on #2940
Hi @jlerbsc
[code]
Your means ```return fooService.query(new QueryDto<AppDto>());``` was cause by different jartypesolver classpool?

[2020-11-25 07:15] jlerbsc commented on #2940
Hi @zcbbpo yes each JarTypeSolver references it's own classpool.

[2020-11-25 09:57] zcbbpo commented on #2940
@jlerbsc Thanks~

[2020-11-25 10:00] zcbbpo commented on #2940
Hi @jlerbsc
Could you please help me check the other issue of [NullType must not fail matchTypeParameters](https://github.com/javaparser/javaparser/pull/2939)

[2020-11-25 10:25] zcbbpo commented on #2940
Do we have any hard codes to quick fixed it at user side

[2020-11-25 13:43] qzchenwl opened #2943 "UnsolvedSymbolException thrown on Stream.<func>(<some lambda>)."
When parsing following code:
[code]

When trying to resolve the `MethodCallExpr`, I get the following exception:
[code]

For reproduction:
[code]

[2020-11-25 16:06] jlerbsc commented on #2940
I would try to look at this tonight.

[2020-11-25 21:19] jlerbsc commented on #2943
@MysterAitch I need your help to solve this issue. I cannot determine the point where the logic is not correct.
What I understood is when JP tries to solve the type of

    Stream.of(1,2,3).peek(info -> { System.out.println(info); })

it tries to solve a MethodCallExpr with one parameter of type LambdaExpr
it solves the argument expression "info -> { System.out.println(info);}" to a ResolvedVoidTy

[2020-11-26 08:42] jlerbsc commented on #2063
This issue seems to be related to #1771 #2940 #2762

[2020-11-26 13:28] jlerbsc commented on #2066
It is not easy to install the test case. There are also classes that no longer exist in the current version of JP. I think this issue can be closed even if the problems still exist. I don't know of any support that would keep such a general issue open. People who have problems should take the time to implement as simple a test case as possible that reproduces the problem.

[2020-11-26 13:36] jlerbsc commented on #2067
We cannot reproduce this issue in JP 3.17.0 with this simplified test case.

    @Test
    void test() {
        String code =
                "import java.util.stream.Stream;\n" +
                "\n" +
                "public class A {\n" +
                "    public void test(){\n" +
                "        Stream.of(\"a b c\").map(l -> l.split(\" \"));\n" +
                "    }\n" +

[2020-11-26 13:36] #2067 closed, assigned to ftomassetti

[2020-11-26 13:56] jlerbsc commented on #2070
It seems that this problem is not reproducible since we cannot develop a unit test that demonstrates the problem. This issue should be probably closed.

[2020-11-26 13:58] jlerbsc commented on #1393
This is not a bug because there is no issue related to it. Probably an improvement.

[2020-11-26 14:01] jlerbsc commented on #1394
In method public ResolvedType visit(LambdaExpr node, Boolean solveLambdas)
Probably because we want to continue.

[2020-11-26 14:04] #1017 closed, assigned to nobody

[2020-11-26 17:38] jlerbsc commented on #2740
Hi @MornSunShine This issue  is reproducible with the following test case and the proposed modification solve it. But the PR does a lot of things whose seem to not be directly related to this issue. Perhaps you can open a new issue for others problems and give us a simple test case.

    @Test()
    void test() {
        String code =
                "import java.util.function.Consumer;\n" +

[2020-11-26 18:11] #2740 closed, assigned to nobody

[2020-11-26 18:59] jlerbsc commented on #1455
The projet https://github.com/treejames does not exist any more. It's difficult to resolve this issue without a minimal reproducible test case.

[2020-11-26 18:59] #1455 closed, assigned to nobody

[2020-11-26 19:56] MysterAitch commented on #2070
There is mention of the class path and jar solver above.

Could this be another duplicate of #2762 and co, perhaps?

Either way, I agree that closing it seems reasonable and @bennewi or others can comment/reopen this if not :+1:

[2020-11-26 19:56] #2070 closed, assigned to nobody

[2020-11-26 20:06] MysterAitch commented on #2940
@zcbbpo I appreciate it's likely just a text-communication thing (maybe I'm being oversensitive/misinterpreting), but:

- Sometimes replies/fixes will be fast (@jlerbsc has been amazing with this recently!!) but we should not _expect_ or _demand_ this to always be the case
- Sometimes work/family/etc will interrupt (reasonably) causing replies to be slower - or in some cases it might just be a rea

[2020-11-27 02:28] zcbbpo commented on #2940
If my reply caused your misunderstanding, I am very sorry.
I just comfrim this issue.
Very thanks for @jlerbsc.
Have a nice day~

[2020-11-28 07:23] JonasKvarnstrom commented on #1771
After I've thought a bit more about this, it seems to me that the perfect match for the JavaParser symbol solver would be a library that works more like the JavaParser source parser, but on bytecode -- in other words, something that gives you the *names* of all classes in a JAR file, the names of all methods in each class, the names of the parameter types and return types for those methods, and so

[2020-11-28 08:28] zhangziqiang1 commented on #2781
@jlerbsc I'll test the new version to see if it's resolved.

[2020-11-28 09:18] zhangziqiang1 commented on #2781
@jlerbsc This problem also exists in the latest version, and I'll provide a case to illustrate this problem. I'm using version 3.17.0.
[JavaParserSample.zip](https://github.com/javaparser/javaparser/files/5610318/JavaParserSample.zip)

[2020-11-28 11:45] qzchenwl opened #2951 "Cannot solve function with List<byte[]> argument defined in jar"
When parsing the following code:
[code]
where `foo.A` is defined in a jar:
[code]
When trying to resolve the `MethodCallExpr`, I get the following exception:
[code]

------

Code to reproduce:
[code]
[a.jar.rename.txt](https://github.com/javaparser/javaparser/files/5610518/a.jar.rename.txt)

[2020-11-28 14:51] #2951 closed, assigned to nobody

[2020-11-28 15:28] qzchenwl opened #2953 "UnsolvedSymbolException throw when resolving method in enum class implement in interface by default."
When parsing the following code:
[code]
where Foo.A is defined in jar:
[code]
When trying to resolve the MethodCallExpr, I get the following exception:
[code]

---

Code to reproduce:

[code]

[2020-11-28 15:45] jlerbsc commented on #2781
@zhangziqiang1 Thanks for the test case that allows us to reproduce the problem. It seems this is caused by that AiProducerListener is at the same time an interface and an inner class and JSS did not anticipate this scenario. But we will solve this problem very soon I think  :-)
The defect is caused by the fact that when JSS tries to define the type of a class it starts by checking if there is not

[2020-11-28 22:39] #2781 closed, assigned to nobody

[2020-11-29 03:11] MysterAitch commented on #2445
I have stopped faffing around and actually merged PR #2654 now :laughing:

- That PR implements the grammar. I believe this to be complete.
- I believe that PR handles most solving situations, but is not definitely complete when comparing it against the JEP.

An example of the incomplete behaviour is "flow scoping" - an example of this can be found within [JEP394](https://openjdk.java.net/jeps/394

[2020-11-29 03:14] MysterAitch commented on #2445
I was worried about cases where the result of a condition is not known at compile time (e.g. the snippet that follows), but I **THINK** that this might be a non-issue thus not worth considering based on my (limited) experimentation with this particular example:

[code]

Note this quote from the JEP which suggests that this code snippet should not compile (emphasis mine):

[2020-11-29 03:25] #2953 closed, assigned to nobody

[2020-11-29 05:40] #2686 closed, assigned to nobody

[2020-11-29 06:45] MysterAitch commented on #2007
I'm a little confused about what this means -- could you expand on this a little please @matozoid ?

[2020-11-29 06:48] qzchenwl opened #2960 "Cannot resolve MethodCallExpr with generic type argument."
Parsing the following code:
[code]
while `A` and `B` is defined:
[code]
when solve `MethodCallExpr` `a.a(b.b())`, throws exception:
[code]

---
Code to reproduce:
[code]

[2020-11-29 07:27] qzchenwl commented on #2960
Maybe `ReferenceTypeImpl(Long).isAssignableBy(TypeVariable(T))` should return true.

Reference issue: https://github.com/javaparser/javasymbolsolver/issues/247

[2020-11-29 10:10] jlerbsc commented on #2943
Thanks @qzchenwl for your contribution.

[2020-11-29 12:50] matozoid commented on #2886
This look like a runtime feature to me, and can be happily ignored.

[2020-11-29 17:23] MysterAitch commented on #2886
From gitter:

[2020-11-29 17:24] MysterAitch commented on #2886
Seems like I'm overthinking it... :)

What I had in mind is something like:

[code]

It looks like my thoughts/worries were likely unfounded though, given this quote - emphasis mine:

[2020-11-29 17:24] #2886 closed, assigned to nobody

[2020-11-29 17:58] MysterAitch opened #2962 "Double check test case - return within a void method"
Follow up of comments (and a change to the test) in #2961 - https://github.com/javaparser/javaparser/pull/2961#discussion_r532243328

This test case has a `return` within a void method:

https://github.com/javaparser/javaparser/blob/master/javaparser-symbol-solver-testing/src/test/resources/LambdaVoid.java.txt#L6-L13

While I don't _think_ it affects the test, it is an example that does not compil

[2020-11-29 18:10] #2943 closed, assigned to nobody

[2020-11-29 19:43] matozoid commented on #2007
Yeah, didn't mention this one yet. Take a look at BulkParseTest.java. It is documented :-)
The point of it is to figure out how compliant the parser is right now. The bulk test case is a copy of some OpenJDK source code which they use to test for bugs, features, and general weirdness. When run it will update a file with all the results, and the changes have to be inspected. Do we expect a failure

[2020-11-29 19:49] mckeederek opened #2964 "From version 3.16.2 onwards the com.github.javaparser.JavaParser class is no longer thread safe."
From version 3.16.2 onwards the com.github.javaparser.JavaParser class is no longer thread safe.  There seems to be some kind of race condition occurring  with the parsing and tokenising of annotations with the side effect being incomplete annotation names (letters missing).
Version 3.16.1 is thread safe even under a high level of concurrency.  My parser implementation entails partitioning a large

[2020-11-29 20:21] MysterAitch commented on #2007
I've not been able to find any langtools for any recent versions of java...

Following instructions I can see that the website goes up to JDK 10, but beyond that they're all in a JDK-Updates folder with no langtools available.

![image](https://user-images.githubusercontent.com/1537214/100552533-ac6d1f00-327f-11eb-8670-49abea610f23.png)

JDK9 - 13.2 MiB
http://hg.openjdk.java.net/jdk9/jdk9/langtoo

[2020-11-29 20:34] matozoid commented on #2007
Is this it? https://github.com/openjdk/jdk/tree/master/test/langtools

[2020-11-29 20:46] MysterAitch commented on #2007
It appears to be!

and it seems different versions can be gotten via the git tags like so:

https://github.com/openjdk/jdk/tree/jdk-15+36/test/langtools

Not quite sure if that can be downloaded as a zip in isolation though.

[2020-11-29 20:50] MysterAitch commented on #2007
Ah, just realised from your git link that the langtools are now in the test directory, and that prompted me to look for the same paths on the mercurial repo.

Turns out that it is visible online at e.g.: http://hg.openjdk.java.net/jdk-updates/jdk15u/file/ac639af55573/test/langtools

Again, not sure how that directory can be downloaded in isolation though.

[2020-11-29 21:23] MysterAitch commented on #2964
Hi @mckeederek ,

JavaParser was never designed to be thread safe - if it doesn't cause problems in a multi threaded environment then this is by accident and not deliberate.

That said, we're open to making specific tweaks. Do you know which change caused this?

[2020-11-29 21:25] MysterAitch commented on #2964
For reference, here's the diff between 3.16.1 and 3.16.2 :

https://github.com/javaparser/javaparser/compare/javaparser-parent-3.16.1...javaparser-parent-3.16.2

[2020-11-30 08:07] matozoid commented on #2007
It probably can't? Then the bulk test is getting bulkier :-)

[2020-11-30 21:02] jlerbsc commented on #1945
I think this issue is located in MethodCallExprContext.solveMethodAsUsage(..) which replaces the return type of the method in certain situations, in particular in the case of the unbounded type. I'm trying to reproduce it with a simple test case but it looks like I managed to fix this problem after long hours of debugging with the provided test case. :-(

[2020-12-01 15:11] #1945 closed, assigned to ftomassetti

[2020-12-01 21:55] MysterAitch opened #2968 "Improve release documentation / process"

[2020-12-01 22:36] MysterAitch commented on #2968
To help with documenting , I created these shell scripts based on the actions I manually took to perform tonight's release, and added documentation / output making notes as I went along:

https://github.com/javaparser/javaparser/commit/16074e4797e8364c7ad34de6d3e006edbcf8717c

I accidentally pushed it to master rather than going via a PR (oops!), but some thoughts would be appreciated on based on

[2020-12-01 22:36] MysterAitch commented on #2968
iirc, to push a release, the "onboarding" needs to include the following accounts / access rights:

- [ ] Commit access to https://github.com/javaparser/javaparser/ -- by being added to the JavaParser team / organisation on GitHub?
- [ ] Joining the JavaParser team on Bintray
- [ ] Setup of local git configuration to be able to pull/push using SSH
- [ ] Setup of local maven configuration to includ

[2020-12-02 21:48] jlerbsc commented on #2964
Hi @mckeederek can you further explain the problem you are having?

[2020-12-12 08:08] jlerbsc commented on #2059
To my knowledge it is not yet implemented but it does not seem very complex to do starting from MethodDeclaration class.

[2020-12-13 17:16] f71uday opened #2975 "Is there any way to know if nameExpr value is being assigned again after declaration."
In case of below Example:

[code]
If I resolve the `Class.functionCall` function call argument i.e `value` which a NameExpr , it will take me to 1st Line i.e `String value = "hello world"` , how can i know if the `value` NameExpr was assigned again.

[2020-12-14 11:43] #2059 closed, assigned to nobody

[2020-12-15 16:04] jlerbsc commented on #2975
It seems to be related to #2257

[2020-12-15 16:16] jlerbsc opened #2978 "Manage poly expression"
It seems that the poly expression (versus standalone expression) are not quite implemented as described in the specification (https://docs.oracle.com/javase/specs/jls/se10/html/jls-15.html#jls-15.25). There is an implementation in ExpressionHelper but there are many cases which are not treated. I think this could be implemented as a behavior carried by the Expression class hierarchy (versus a clas

[2020-12-15 20:49] jlerbsc opened #2980 "How to print with JP"
There are several printers in JP. Printers which are not directly used in AST to String transformation and pretty print which is the default printer you used when you convert an AST node to a string.

DotPrinter, XmlPrinter, YamlPrinter are printers that output respectively a Graphviz diagram of the AST, an XML or a YAML file containing the AST. You can use them like this

    XmlPrinter.print(nod

[2020-12-16 07:56] jlerbsc commented on #1743
Reference conditional expression refer to #2978

[2020-12-16 09:01] jlerbsc commented on #2978
Related to issue #1434

[2020-12-16 21:04] jlerbsc commented on #2975
Hi @f71uday i'm not sure this issue should be closed. It's an interesting feature but we must find the right direction to implement it.

[2020-12-16 21:08] f71uday commented on #2975
Hi , referred the issue you mentioned that answers my question, that issue
mentioned the way you can work it out , Thanks jean
JavaParser community is the best.

Regards,
Uday Singh

[2020-12-17 20:02] jlerbsc commented on #1743
This issue is resolved but we have to manage case of conditional reference expression and poly expression.

[2020-12-18 14:18] jlerbsc opened #2985 "Empty type parameters list on ObjectCreationExpr"
In this ObjectCreationExpr, getTypeArguments() returns null but it should return String! Is this bug or misunderstanding?

    new ArrayList<String>();

actually

    String code = "class A { List<String> l = new ArrayList<String>();}";
    ObjectCreationExpr expr = StaticJavaParser.parse(code).findFirst(ObjectCreationExpr.class).get();
    expr.getType().getTypeArguments().get().get(0).asString()

[2020-12-18 18:38] f71uday opened #2986 "Unlike JavaParserFieldDeclaration why ReflectionFieldDeclaration does not have property wrappedNode"
Including Snippet from Source Code

[code]
[code]

[2020-12-18 20:27] jlerbsc commented on #2986
It seems to me that ReflectionfieldDeclaration has no wrapped node because the declaration does not come from a source code.

[2020-12-19 13:28] f71uday commented on #2986
Okay

[2020-12-19 13:29] #2986 closed, assigned to nobody

[2020-12-20 23:43] mfarsikov opened #2987 "StackOverflow error"
Solving method call causes StackOverflow error on `v3.18.0`.
Parsed class:
[code]

Setup:
[code]

[code]

[2020-12-21 06:41] nixfuerdiecharts opened #2988 "get Name of FieldDeclaration as in MethodDeclaration"
Why is there no getName() for FieldDeclaration as it is present for MethodDeclaration?

[2020-12-21 06:43] #2988 closed, assigned to nobody

[2020-12-21 06:44] nixfuerdiecharts commented on #2988
Because FieldDeclaration can contain multiple Variables.

[2020-12-22 12:36] zhangziqiang1 commented on #2987
Try use 3.18.0 to solve it

[2020-12-22 12:46] zhangziqiang1 opened #2990 "calculateResolvedType cannot be stopped."
### I've had a very weird problem, and this doesn't seem to happen.
I had a strange problem and this shouldn't have happened, but it happened and I tried to call  `methodCallExpr.getScope().get().calculateResolvedType();
`
The program cannot be stopped.
Here's my case.

[code]

[code]
[JavaParserSample.zip](https://github.com/javaparser/javaparser/files/5729907/JavaParserSample.zip)

[2020-12-22 12:53] zhangziqiang1 commented on #2990
@jlerbsc Thank you for taking the time to look at this question. I have provided a test case and I use version 3.18.0.

[2020-12-22 19:34] f71uday opened #2991 "Add Support for CombinedTypeSolver to accept List<JarTypeSolver> as constructor argument"

[2020-12-22 20:58] jlerbsc commented on #2990
Hi @zhangziqiang1 i think a quick workaround is to use the qualified name for AttackFactory.

[2020-12-23 17:36] jlerbsc commented on #2990
I fact it's not a bug but an issue related to performance.

[2020-12-24 12:37] zhangziqiang1 commented on #2990
That's not a problem. I hope you can solve this performance problem. It doesn't seem to happen here.

[2020-12-24 12:55] jlerbsc commented on #2990
I'm working on it. " It doesn't seem to happen here.Y you mean with the proposed workraround?

[2020-12-24 13:01] zhangziqiang1 commented on #2990
I'm glad to see you're dealing with this. Expect a new version

[2020-12-25 09:17] jlerbsc commented on #2990
I tried to implement a thread local cache with dynamic proxy decorator (and Cacheable method anotation) on StatementContext but I failed to pass the slow tests :-( . So I deleted this PR.

[2020-12-26 10:11] arkaanni opened #2993 "Static imported field from other class is not treated as FieldAccessExpr"
hi, I have a question about static imported field. Let say we have a class with a static field called "a":
[code]

and another class that access the static field "a":

[code]
When I try to find nodes with ```findAll(FieldAccessExpr.class)``` the "a" field is not showing.

In my opinion the "a" field that accessed in Test class  should be a ```FieldAccessExpr``` (because it's a field from StaticFie

[2020-12-26 10:19] jlerbsc commented on #2993
Hi @arkaanni In your example "a" is not a field access expression as defined in the JLS https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.11

    FieldAccess:
    Primary . Identifier
    super . Identifier
    TypeName . super . Identifier

[2020-12-26 10:40] arkaanni commented on #2993
So if we do a static import of a field from other class and use it directly it will not treated as a field access expression?
Because if we do instead of static importing a field but using it's reference (```StaticField.a``` in this case) the JP will treat it as field access expression. Sorry I'm so confused with this xd

[2020-12-26 16:55] jlerbsc commented on #2993
Is the JLS not sufficiently clear on this subject? What i understand is : it's not related to a JP specific implementation! The JLS defines what is a field access expression.

[2020-12-26 19:28] arkaanni commented on #2993
Yes but it's clear to me now, thank you!

[2020-12-26 23:58] #2993 closed, assigned to nobody

[2020-12-28 07:24] jlerbsc commented on #1743
Poly expression is resolved with PR #2994

[2020-12-28 12:48] deadlocklogic opened #2995 "Cannot resolve ClassOrInterfaceType of nested ObjectCreationExpr"
Trying to resolve the `ClassOrInterfaceType` of nested `ObjectCreationExpr` fails:
This is a simple test snippet:
[code]
Simple `new Inner1()` works thought, the problem is with nested types.

[2020-12-28 14:49] jlerbsc commented on #2995
Thanks for reporting this bug.

[2020-12-28 14:59] frevib opened #2996 "LexicalPreservationEnabled causes memory leak"
Hi,

In parsing a couple of thousand Java source files, the following happens when `LexicalPreservationEnabled` is enabled, which results in an out of memory error after a while:

![Screenshot 2020-12-28 at 15 39 11](https://user-images.githubusercontent.com/5623111/103221782-b9833980-4923-11eb-813f-2d49897780a2.png)

![Screenshot 2020-12-28 at 15 43 25](https://user-images.githubusercontent.com/5

[2020-12-28 15:03] jlerbsc commented on #2996
PhantomNodeLogic.cleanUpCache() should resolve your issue.

[2020-12-28 15:13] frevib commented on #2996
Thanks you so much, that solved it!

![Screenshot 2020-12-28 at 16 09 42](https://user-images.githubusercontent.com/5623111/103223878-467bc200-4927-11eb-8f71-86ff5ca1341c.png)

Fixed code:

[code]

[2020-12-28 15:15] jlerbsc commented on #2996
Don't close this issue please. I have to push a definitve solution to this problem.

[2020-12-28 17:13] jlerbsc commented on #2996
Hmm! it's a little more complicated than I thought because the cache is global to the whole JVM and the multithreaded tests fail.

[2020-12-28 20:02] frevib commented on #2996
Maybe you could at least update JavaDoc or add a note here https://github.com/javaparser/javaparser/blob/54496f6448666296769b275dfa3dbc04e87447b4/javaparser-core/src/main/java/com/github/javaparser/ParserConfiguration.java#L339 for now? I had to find the leak by trail and error as there is no hint to be found on Google or the docs.

[2020-12-29 08:29] jlerbsc commented on #2996
I didn't say that I was going to leave this subject aside ;-) I'm looking for a solution. for the moment i think about a cache
 by compilation unit which would be stripped when the finalize method is invoked on the object CompilationUnit

[2020-12-30 06:16] jalajmsft opened #2998 "Unable to remove node in only for LexicalPreservingPrinter"
I am trying to remove a node - variable Declaration, getting the following error only when using LexicalPreservingPrinter, if commented out the node is getting removed as expected and no exception is raised.

**Exception raised**

**Parser.java**
[code]

**SimpleFile.java**

[code]

[2020-12-30 08:28] jlerbsc commented on #2998
Hi @jalajmsft what version of JP are you using?

[2020-12-30 16:49] jlerbsc commented on #2996
I  think the best solution is to remove the cache and keep the attribute 'isPhantomNode" in node's data. So there is no need to manage the cache and JP will manage his memory better.

[2020-12-30 18:54] #2996 closed, assigned to nobody

[2020-12-30 19:42] frevib commented on #2996
So this means there is no call to `PhantomNodeLogic.cleanUpCache()` needed any more?

[2020-12-30 19:44] jlerbsc commented on #2996
Yes

[2020-12-30 20:03] frevib commented on #2996
Heap memory usage is much more stable compared to using `PhantomNodeLogic.cleanUpCache()`

<img width="527" alt="Screenshot 2020-12-30 at 20 55 53" src="https://user-images.githubusercontent.com/5623111/103378095-7a024c00-4ae1-11eb-945f-937912f4e29e.png">

Very nice solution 👍

[2020-12-30 20:06] jlerbsc commented on #2996
Thank you for your answer because I could not really test this solution under the same conditions as you

[2020-12-31 13:23] jlerbsc commented on #2987
Hi @mfarsikov have you try the version 3.18.0? Is this issue still present in this version?

[2020-12-31 13:28] jlerbsc opened #3003 "Manage lub (least upper bound) function"
It seems that the lub function is not quite implemented as described in the specification (https://docs.oracle.com/javase/specs/jls/se8/html/jls-4.html#jls-4.10.4). There is an implementation in TypeHelper.leastUpperBound but there are many cases which are not treated.

[2020-12-31 13:29] #2980 closed, assigned to nobody

[2020-12-31 13:33] #2934 closed, assigned to nobody

[2020-12-31 13:37] jlerbsc commented on #2857
Do these responses answer your questions? If yes maybe can you close this issue.

[2020-12-31 13:41] jlerbsc commented on #2998
You are right you cannot remove VariableDeclarator with vd.remove() but you can remove VariableDeclarator in VariableDeclarationExpr.

[2020-12-31 13:53] jlerbsc commented on #1704
Is there a way to get a test case on this issue or should we consider that is solved?

[2020-12-31 14:36] jlerbsc commented on #1743
TODO manage lub function (in TypeHelper.leastUpperBound) and update TypeExtractor.visit(ConditionalExpr node, Boolean solveLambdas) to manage reference conditional expression.

[2020-12-31 14:49] mfarsikov commented on #2987
Hi @jlerbsc! Yes, as I mentioned, I use `3.18.0`

[2020-12-31 14:53] #1770 closed, assigned to ftomassetti

[2020-12-31 16:51] #2987 closed, assigned to nobody

[2021-01-01 20:22] #1774 closed, assigned to nobody

[2021-01-02 13:05] MysterAitch opened #3009 "Update changelog for printer changes"
There needs to be an entry in the deprecated/removed section to highlight the printer changes.

https://github.com/javaparser/javaparser/compare/javaparser-parent-3.18.0...master

* Introduction of the interface `Printer`
* Package change for the printer configuration
* Configuration of indents has changed - more flexible/configurable?
* `PrettyPrinterConfiguration` is now interface `PrinterConfig

[2021-01-02 14:09] jlerbsc commented on #3009
Hi @MysterAitch and happy new year.
Maybe is this enough of reference this issue https://github.com/javaparser/javaparser/issues/2980?

[2021-01-03 20:55] #2701 closed, assigned to nobody

[2021-01-03 21:05] MysterAitch opened #3016 "Make #3011 permanent"
The visitors are generated, which means the manual re-ordering within #3011 gets reset/overridden whenever the generators are run next.

[2021-01-04 11:15] Vampire opened #3017 "Tests are sensitive to version control mangling EOLs"
The tests depend on the version control mangling EOLs.
I personally hate it as hell if a version control tool thinks it should modify my files at will, like replacing end of line characters to system EOL.
I usually have `core.autocrlf` for Git set to `input` so that is does not change EOLs on checkout.
But the tests, for example `CommentsInserterTest.issue412` depend on files having the system EOL

[2021-01-04 11:52] Vampire opened #3018 "Code generation is locale-sensitive and thus produces illegal Java code"
There are locales, where lower-case / upper-case mappings are not what you expect.
If you for example have a turkish locale (`tr`), the lower-case version of `I` is not `i` but `ı` (no dot).
In version 3.6.8 this for example caused `public` to be `publıc` and thus non-valid Java code due to `final String codeRepresentation = this.name().toLowerCase();` in the `Modifier` enum.
This changed in 3.9.0

[2021-01-04 14:32] #2995 closed, assigned to nobody

[2021-01-04 14:50] jlerbsc commented on #1434
There is now an isPolyExpression in class Expression that is redefined in subclasses. Several cases were treated. This issue is related to #1743. This can be improved on a case-by-case basis

[2021-01-04 14:50] #1434 closed, assigned to nobody

[2021-01-04 14:53] jlerbsc commented on #2978
Poly expression is now implemented in Expression class and subclasses in the method isPolyExpression.

[2021-01-04 14:53] #2978 closed, assigned to nobody

[2021-01-04 15:12] jlerbsc commented on #2066
This issue is closed because there are no new comments on whether this issue can be produced. Furthermore a simplified test case should also be provided to allow us to reproduce the error without spending too much time on it.

[2021-01-04 15:12] #2066 closed, assigned to nobody

[2021-01-04 17:48] koply commented on #3018
+1

[2021-01-04 21:14] #1634 closed, assigned to nobody

[2021-01-06 15:19] MysterAitch commented on #3018
Cheers @Vampire - really appreciate the report!

Is the fix as straightforward as just setting the locale to english (or root?) on all the case conversions? e.g. one of these?
[code]
For java-specific things and "internal" keywords/tokens (e.g. `int` and `final`) this seems reasonable, but I'm not sure how this might have knock-on effects in other places (e.g. some of the utility methods).

Perhap

[2021-01-06 15:35] MysterAitch commented on #3017
I'm not sure how best to categorise it - e.g. enhancement vs bug vs something else.

Yes, there are definitely some tests that rely on there being different line endings in the repo - I'm certainly open to better defining/standardising how this is achieved (e.g. defaulting to one line ending with specific exceptions).

Would this not be a problem regardless of autocrlf?

[2021-01-07 08:36] daiwenlong opened #3023 "UnsolvedSymbolException when trying to solve set/get methods generated with lombok library"
code like this...

    @ApiOperation(value = "注册账户信息", tags = "账户")
    public JsonResponseEntity<String> register(@RequestBody @Valid BankAccountDTO dto) {
        UserBasic user = UserUtil.getUserInfo();
        MobileInfo mobileInfo = new MobileInfo(dto.getContactPhone(), dto.getVerificationCode());
        String status = accountServiceApplication.register(null, user.getUid(), user.getUsername

[2021-01-07 09:37] wuyqcode opened #3024 "methodCallExpr.resolve() StackOverflowError"
Hi.when i  use methodCallExpr.resolve() in this code, StackOverflowError happened.
Can anyone see what caused this. Thanks

## version
[code]
##  code
[code]

## error log
[code]

[2021-01-07 10:40] MysterAitch commented on #3023
Hi @daiwenlong, where is `BankAccountDTO` defined?

[2021-01-07 10:51] daiwenlong commented on #3023
@MysterAitch
![image](https://user-images.githubusercontent.com/30766058/103884326-5eb6c280-5119-11eb-8491-ab9cd6fa244b.png)

[2021-01-07 10:56] daiwenlong commented on #3023
@MysterAitch
`import com.maniujk.merchant.account.controller.dto.request.*;`

Can a definition be found in this way？

[2021-01-07 11:12] jlerbsc commented on #3024
It's reproducible with your test case, thanks for reporting this bug.

[2021-01-07 11:16] MysterAitch commented on #3023
Nothing obvious is jumping out to me - it seems that it is setup correctly, but I would need to try it at a computer to test this.

Are you able to reduce it to a simple, reproducible, test case please?

E.g., does the same error happen when you remove the annotations? Or when you remove the other methods?

[2021-01-07 11:47] daiwenlong commented on #3023
package com.maniujk.merchant.account.controller;

import com.maniujk.merchant.account.application.AccountServiceApplication;
import com.maniujk.merchant.account.controller.dto.request.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web

[2021-01-07 16:37] #3024 closed, assigned to nobody

[2021-01-07 16:55] jlerbsc commented on #3024
Resolution of the scope of the method call expression is delegated to parent context. In this case the parent context is an object creation expression [Test.getInstance().new InnerClass()] that have a method call expression scope [Test.getInstance()]. So JP loops indefinitely. To avoid this Jp must ensure that the scope of the parent context is not the same as the current node.

[2021-01-07 22:29] 4everTheOne opened #3027 "Unable to parse class with generic parameter using JavaParserTypeSolver"
Hello guys.
First of all, thanks for this amazing tool!

When I was working with it, i noticed that sometimes the _JavaParserTypeSolver_ was unable to resolve some of the Classes.
When diving deeper in what was going on, noticed that all of them were generic types, like the class C in the example below.

[code]

During debuging found out the issue was related with the **JavaParserTypeSolver** that

[2021-01-07 23:27] MysterAitch commented on #3027
Thank you for the detailed report!

[2021-01-08 08:18] jlerbsc commented on #3027
At this stage i'm not sure that JP have to throw an UnsolvedSymbolException exception perhaps just returns an unsolved SymbolReference.

[2021-01-08 08:54] greggers123 opened #3028 "IndexOutOFBoundsException when resolving with multiple varargs methods available."
I found this issue when resolving code containing calls to log4j but have now recreated the issue with some much simpler code that has no dependencies on other libraries:

[code]
The parsing code I used was very simple, here is the main class:
[code]
And the Collector:
[code]
The execution of the above yields an IndexOutOfBoundsException:
[code]

The javaparser is expecting to find multiple argume

[2021-01-08 10:35] greggers123 commented on #3028
I had a quick look at the Java specification and it states that the method that is more specific is called. In the case above the generic Supplier is called. If instead the methods had String... and Object... the String method would be called as it is more specific than object and is inherited from Object.

In the MethodResolutionLogic class isMoreSpecific method because the number of arguments in

[2021-01-08 10:45] jlerbsc commented on #3028
Thank you for this detailed analysis.

[2021-01-08 10:49] greggers123 commented on #3028
No problem - If you are good with my analysis, I was going to try to fix it.

[2021-01-08 12:09] #3027 closed, assigned to nobody

[2021-01-08 13:48] jlerbsc commented on #3028
Choosing the most specific method is not trivial part of the jls (https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.12.2.5) but of course you can submit a PR

[2021-01-08 15:57] 4everTheOne opened #3030 "NoSuchElementException when solving type"
There's a bug in the class _JavaParserClassDeclaration_ that doesn't allow the resolution of the following example code.
This example was taken from [Guava Collect Spliterators](https://github.com/google/guava/blob/master/guava/src/com/google/common/collect/CollectSpliterators.java) as a sample:

[code]

#### Expected Behavior

When executing the test with the example above the field type should b

[2021-01-09 10:27] #3030 closed, assigned to nobody

[2021-01-10 23:01] greggers123 commented on #3028
I don't think the logic for finding the most specific method needs to change, the code just needs a tweak to deal with the lack of the call specifying a vararg.

I've made the change in a fork as per your process - just running the tests now.

[2021-01-11 08:09] #3028 closed, assigned to nobody

[2021-01-11 13:35] 4everTheOne commented on #2985
Hello @jlerbsc,

I tried to reproduce this issue in versions 3.18.0 and 1.18.1-SNAPSHOT and the test succeeded in both versions.

Can you confirm if it's fixed for you too?

[code]

[2021-01-11 21:02] jlerbsc commented on #2985
I won't be able to check in the next few days. I will do it as soon as possible.

[2021-01-11 21:38] 4everTheOne commented on #2397
Hello guys,

I think i found the solution for the issue. The issue was related with the ClassOrInterfaceDeclaration, since it required the return of a ResolvedReferenceType. When we are working with TypeParameters, we needed to return a ResolvedTypeVariable that doesn't extend the ResolvedReferenceType. The only interface in common between them is the ResolvedType.

So to make it work, had to demo

[2021-01-13 13:46] twelveand0 opened #3036 "AST Serializable Request"
This is a great project! I'm using it to do some work. In my work, sometime I need to store  AST on disk to reuse it in future. However, I didn't find that javaparser can do this. So, I want to know if it's possible to add AST serializable support. Thanks!

[2021-01-13 14:11] #3036 closed, assigned to nobody

[2021-01-14 14:37] greggers123 opened #3037 "Overloaded Functional Interface Handling - Method Ambiguity Exception"
java.io.File contains the overloaded method 'listFiles', one takes a FileFilter and the other a FilenameFilter, both of which are functional interfaces, the former taking a single File argument and the later taking File and String arguments.

When the parser sees a call like this, it struggles to work out which method is being called and throws a MethodAmbiguityException:

File[] newFilesToRegiste

[2021-01-15 16:14] mr-rajeshrathod commented on #1771
Hey guys, Is there any way to fix this issue? I am also hitting a similar problem in my project which is kind of blocker for us.

[2021-01-16 13:48] oxisto opened #3038 "Update to JavaParser 3.18.0 from 3.17.0 causes MethodCallExpr::resolve to hang"
When analysing the file https://github.com/Fraunhofer-AISEC/codyze/blob/59da2a92a5d6623d0066efb4bbae8d860a8485aa/src/test/resources/java/jca/AESCTR.java we encounter an endless loop in our analysis program.

The root cause of this seems to be the call to `resolve`  of the expression `System.out.printf("update  %2d: %32s [%s]\n", i, Utils.bytesToHex(ciphertextblock), Utils.bytesToHex(mac));`. Once

[2021-01-18 13:30] twelveand0 opened #3041 "Not consider implicit type conversion when resolve ConditionalExpr"
I found a bug (maybe) when using SymbolSolver to resolve type of ConditionalExpr.

## lib version:
javaparser-symbol-solver-core: 3.18.0

## testcases

### 1.
ConditionalExpr:
[code]
When trying to resolve type of expr "**flag ? null : a**", javaparser-symbol-solver
Output: null
Expected: ClassA

However, when I tried to resolve type of expression "**flag ? a : null**", javaparser-symbol-solver ou

[2021-01-18 16:26] DiogoTheCoder opened #3042 "Comment appearing twice in CompilationUnit"
Parsing a Java file, and I'm getting a comment in the file appearing twice in the CompilationUnit, as both `ForEachStmt` and `LineComment`

This results in the comment appearing twice when I try to print the `CompilationUnit`:
[code]

![image](https://user-images.githubusercontent.com/31896387/104940609-e4ecc780-59a9-11eb-8e21-7d0f74ed548d.png)

Java Code (being parsed):
[code]

JavaParser code
[c

[2021-01-18 16:36] DiogoTheCoder commented on #2539
Facing similar issues as well, https://github.com/javaparser/javaparser/issues/3042

[2021-01-20 11:10] twelveand0 commented on #2987
I have encountered the same StackOverflow error when resolving ConditionalExpr. However, I found this error didn't happen in version 3.16.1.

[2021-01-20 22:09] jlerbsc commented on #3041
There is no problem with the current version. Unit test below

    @Test
    public void test() {
        String code =
                "public class A {\n" +
                "    public void foo() {\n" +
                "        Object obj = flag  ? null : new Object();\n" +
                "    }\n" +
                "}";
        StaticJavaParser.getConfiguration()
                .setSymbolReso

[2021-01-21 09:25] twelveand0 commented on #3041
Thanks for your reply.

[code]

When using 3.18.0 release version, the above Unit test returns "null". I don't test the latest code in master branch. According to your test, I think this problem has not existed in current code.

[2021-01-21 18:11] 4everTheOne opened #3045 "Unexpected exception when solving type inside an Anonymous class"
When trying to resolve a return type that is contained in a unsolvable anonymous class it throws an UnsupportedOperationException.
Using the example below, when trying to solve the return type of the method _apply_ i would expect to throw an UnsolvedSymbolException due to the parent class not being solvable.

[code]

## Expected behavior
When unable to resolve it should return an _com.github.javap

[2021-01-21 18:16] 4everTheOne commented on #3045
I think one way of resolving this issue is by adding an if condition to check symbol is solved before accessing the declaration.
If not, then throw an unsupported exception.

https://github.com/javaparser/javaparser/blob/2903fc918dd87be53192aa1065047392f7adf4d1/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/declarations/JavaParserAnonymousClassDeclar

[2021-01-22 16:34] Vampire commented on #3018
I'm sorry, I have too much on my plate right now to knit another PR.
But yeah, using en or root locale should be fine for the places where it is appropriate.
That means for example when calling it on technical terms like keywords and so on.

It should basically always use the local of the text actually.
If a turkish person calls `lowerCaseMe("I live in Indiana")` it should probably result in `"i l

[2021-01-22 16:41] Vampire commented on #3017
Yes, of course it is regardless of `autocrlf`.
As I said.
But the current tests require that the files have certain line endings while this cannot really be guaranteed.
One could copy the files from one system to another.
One could have `autocrlf` set to `input`.
....

If the test needs the file in a certain shape, then you should make sure it is in that shape.
One way would be to use `.gitattribu

[2021-01-24 16:34] jlerbsc commented on #3018
@MysterAitch i propose you to create two utility methods (toLowerCase() and toUpperCase()) in Utils class and a variant with a specified locale parameter. By default we have to use Locale.ENGLISH (i don't know the side effect of Locale.ROOT). And we can convert all calls to toLowerCase and toUpperCase to Utils.toLowerCase() or Utils.toUpperCase(). If we encounter side effects here and there we can

[2021-01-24 17:53] jlerbsc commented on #3041
Hi @twelveand0 if you have validated your case with the current JP version perhaps can you close this issue?

[2021-01-24 17:57] jlerbsc commented on #3038
Hi @oxisto Could you provide a simple test case that reproduces this issue?

[2021-01-24 18:05] jlerbsc commented on #3023
Hi @daiwenlong Are the getter / setter methods generated by lombok?

[2021-01-25 16:18] 4everTheOne opened #3048 "JavaParserSymbolDeclaration#localVar returning old declaration"
The static method JavaParserSymbolDeclaration#localVar(VariableDeclarator, TypeSolver) is used in different contexts to create a reference to a variable. During testing, noticed that the declaration was using an old class _JavaParserSymbolDeclaration_ that was later replaced by _JavaParserVariableDeclaration_.

## Test

[code]
## Observed behavior
When we call isVariable() of the returned _Resolve

[2021-01-25 20:04] jlerbsc commented on #3048
Hi @ftomassetti could you validate this proposal?

[2021-01-26 23:30] blacelle opened #3050 "StaticJavaParser might not be thread safe"
It seems StaticJavaParser is not thread-safe as com.github.javaparser.Providers.PreProcessor seems not thread-safe.

The following code burns CPU until the issue happens:

[code]

Which gives at some point (in a few seconds max):
[code]

I pretend the issue is in (com.github.javaparser.LineEndingProcessor):

[code]

Concurrent calls led to multiple StaticjavaParser instances sharing the same '_lin

[2021-01-27 07:24] jlerbsc commented on #3050
Hi @blacelle thanks for reporting this issue but as you can read in https://javaparser.org/the-quick-and-the-full-api-of-javaparser/  a JavaParser instance is not thread safe. JavaParser is not designed to be used/shared in a multithreaded application. From my point of view StaticjavaParser class is a utility class mainly used to develop tests.

[2021-01-27 08:19] jlerbsc commented on #3050
Related to issue #2113 and #2183

[2021-01-27 08:57] blacelle commented on #3050
@jlerbsc In fact, it is https://github.com/javaparser/javaparser/issues/2113 comment thread which make me think StaticJavaParser would definitely be ThreadSafe.

Typically, some other methods explicitelystates they are not thread-safe:

    com.github.javaparser.symbolsolver.javaparsermodel.JavaParserFacade.get(TypeSolver)

...

Reading again this comment make me understand the signal is not only

[2021-01-27 09:02] blacelle commented on #3050
After having gone through https://javaparser.org/the-quick-and-the-full-api-of-javaparser/, I get mainly that:

But here, the issue occurs due to ParserConfiguration (or more exactly com.github.javaparser.LineEndingProcessor) not being thread-safe. `StaticJavaParser.parse` make a new JavaParser instance on each call.

[2021-01-27 09:18] jlerbsc commented on #3050
This issue can be reproduced by this simple unit test that does not use symbol solver. So I review my analysis there is certainly a bug in the java parser library

    @Test
    public void test() {
        String code =
                "public class Test {\n"
                + "}";

        IntStream.range(0, 16).parallel().forEach(i -> {
            while (true) {
                StaticJavaParse

[2021-01-27 11:47] blacelle commented on #3050
@jlerbsc This is because `StaticJavaParser `relies on `StaticJavaParser.configuration`, and the thread-safety issue is in `ParserConfiguration `shared instance of `LineEndingProcessor`

[2021-01-27 13:36] jlerbsc commented on #3050
I will take a closer look at this point. Thanks for the tip.

[2021-01-27 15:39] jlerbsc commented on #3050
As a quick turnaround i tried to replace static ParserConfiguration with a threadlocal one and it seem to resolve this problem.
I don't know how to resolve it without an impact on JP users without using this technical solution. In my mind StaticJavaParser is a utility class that should only be used to facilitate the development of unit tests.

[2021-01-27 16:26] #3050 closed, assigned to nobody

[2021-01-28 09:23] #3041 closed, assigned to nobody

[2021-01-28 10:21] udit-dasari opened #3053 "Discussion : Does javaparser provides any support for these features ?"
Hi, i and my team want to know more about the various features that javaparser may support, so we came up with some requirements for our project :

1. Control flow analysis
2. support for binaries
3. will it be maintained in future
4. lexeme related data
5. Data Dependancy graph
6. Incremental support
7. Data flow analysis
8. any other features ?
9. GotoDef edges
10. Reference edges
11. filtering

[2021-02-01 02:34] daiwenlong commented on #3023
@jlerbsc yes, getter / setter methods generated by lombok.

[2021-02-01 08:35] jlerbsc commented on #3023
So it's not an issue because in your example SymbolSover analyses the source code that does not contain get/set methods generated by lombok. I think that if you want to solve set/get methods you have to setup SymbolSolver with your project jar file.

[2021-02-01 10:05] jlerbsc commented on #3053
Hi @udit-dasari, after a brief consultation in the team here is my vision.

Control flow analysis: not implemented in JP project
support for binaries: Can you clarify your thought
will it be maintained in future: yes how it has been for years
lexeme related data: Can you clarify your thought
Data Dependancy graph: not implemented in JP project
Incremental support: Can you clarify your thought
Data

[2021-02-01 10:31] #1834 closed, assigned to nobody

[2021-02-01 13:22] Tejas8079 opened #3056 "Optional<MethodDeclaration> of method call expression returns "No Value Present"."
I want the Optional<MethodDeclaration> of method call expression written in constructor.
Suppose I have method methodA() from class A which is called inside B class constructor.
Class B{
B(){
methodA();
}
}

Excepted Output : "Optional<MethodDeclaration> callerMethodOpt = mCallExp.findAncestor(MethodDeclaration.class);"
this statement should return B() constructor. It is working fine except constr

[2021-02-01 13:53] jlerbsc commented on #3056
MethodDeclaration is different from ConstructorDeclaration.
So you have to use

    mCallExp.findAncestor(ConstructorDeclaration.class)

to get the expected result.

[2021-02-01 13:58] Tejas8079 commented on #3056
Thanks @jlerbsc

[2021-02-01 14:00] #3056 closed, assigned to nobody

[2021-02-02 09:18] jlerbsc commented on #3048
Hi @4everTheOne I do not know precisely what is the use of the class JavaParserSymbolDeclaration (perhaps @ftomassetti or @matozoid or @MysterAitch can give you clarification on this topic) but if you use

     ResolvedValueDeclaration localVar = new JavaParserVariableDeclaration(variableDeclarator, new ReflectionTypeSolver(false));
     assertTrue(localVar.isVariable());

The result is correct.

[2021-02-02 10:23] jlerbsc commented on #2539
It seems to be related to CommentsInserter.attributeLineCommentsOnSameLine that sets the comment on all child nodes in the same line. This issue seems to be easy to solve but we have to define what is the expected result.

[2021-02-02 12:41] 4everTheOne commented on #3048
Hello @jlerbsc. Thanks for the feedback! I totally agree with you, I think it could be fixed by replacing the use of JavaParserSymbolDeclaration with the JavaParserVariableDeclaration.
When I was debug the issue, noticed that the parser by default uses this static method:
https://github.com/javaparser/javaparser/blob/2903fc918dd87be53192aa1065047392f7adf4d1/javaparser-symbol-solver-core/src/main/j

[2021-02-02 14:06] jlerbsc commented on #3048
I think your PR goes beyond the problem encountered but in my opinion the localVar method should return an object of type JavaParserVariableDeclaration. I will do some tests this evening to check my understanding of this problem.

[2021-02-02 15:00] 4everTheOne opened #3057 "isField and isParameter throwing UnsupportedOperationException"
When i try to check if a JavaParserTypeVariableDeclaration is a field or a parameter, it throws an unsupported exception.

https://github.com/javaparser/javaparser/blob/e9af3e337100645141534e3a73004f2b45c2f572/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/declarations/JavaParserTypeVariableDeclaration.java#L137-L145

Looking into ResolvedDeclaration

[2021-02-02 15:03] jlerbsc commented on #3057
You are right usually this means that the feature is not yet implemented.

[2021-02-02 15:07] 4everTheOne commented on #3057
I think it can be easily fixed by simply removing the definition of both methods in JavaParserTypeVariableDeclaration and inherit from the super class. I will give it a try

[2021-02-02 16:43] #3057 closed, assigned to nobody

[2021-02-03 15:39] 4everTheOne opened #3061 "JavaParserInterfaceDeclaration#containerType() throwing IllegalArgumentException"
When trying to get the container type of a JavaParserInterfaceDeclaration is throwing an IllegalArgumentException.
[code]
[code]

The stack trace is the following:
[code]

[2021-02-03 16:02] 4everTheOne commented on #3061
After additional testing, noticed that this issue also affects classes and enums.

[code]

[2021-02-03 18:14] jlerbsc commented on #3061
What is the expected result? According to you what is the **container** type of a ClassOrInterfaceDeclaration?

[2021-02-03 18:34] 4everTheOne commented on #3061
To be honest, i still learning about the terms used, and the term "container type" is not fully clear what it is.
But my interpretation of the container is where the class is declared. In this case, since it is in the compilation unit i would expect to be the compilation unit itself or an empty container.

[2021-02-04 10:11] jlerbsc commented on #3061
I believe the term refers to the container node that contains the current node. This is also what is implemented. The container node is a CompilationUnit which does not represent a type. So i don't think there is an issue in this case.

[2021-02-04 14:59] 4everTheOne commented on #1940
Hello @ftomassetti, i think we can say this issue was fixed here https://github.com/javaparser/javaparser/commit/b96e84c26f49380bf984c1febacf4935aa998fb4.

[2021-02-04 15:40] jlerbsc commented on #1940
Not sure if we take into account this answer but I let @ftomassetti answer your question.

[2021-02-04 15:49] 4everTheOne commented on #1940
I can see what you mean. Do you think PR #3063 can help on that?

[2021-02-04 15:59] jlerbsc commented on #1940
But cannot validate the impact of your PR #3063 because i'm not experienced enough on JP but I feel that there is a modification of the public API which can impact other users/projects. @MysterAitch @matozoid can you give your opinion on this subject and PR #3063 ?

[2021-02-04 16:52] Bricktricker opened #3064 "Failed to parse lambda expression"
Parsing the following class:
[code]
generates a Problem: `(line 6,col 158) Failed to parse lambda expression! Please create an issue at https://github.com/javaparser/javaparser/issues`

Parsing code:
[code]

Printing the the parsed CompilationUnit outputs:
[code]
As you can see the last lambda is not parsed correctly.

Testet with `javaparser-core` version `3.18.0`

[2021-02-05 13:39] dimizisis opened #3065 "Prevent JarTypeSolver from Analysing"
I wrote the following code, in order to create a symbol solver instance:

[code]

But after some code analysis I observed that JarSymbolSolver is triggered, too (I only want Java source code analysis). Is there any way to prevent JarTypeSolver from analyzing the jars in the project? For now, I just delete all the jars.

Sorry for possible dump question, it's my first issue opening. :)

Tested with

[2021-02-05 14:12] jlerbsc commented on #3065
It's curious are you sure?

[2021-02-05 14:16] dimizisis commented on #3065
I believe I am. I encountered an error in projects that had dummy jars. When I deleted them, the analysis was successful.

Here's a snapshot of the error I kept (unfortunatelly is not complete):

[code]

[2021-02-05 14:59] jlerbsc commented on #3065
It seems that SymbolSolverCollectionStrategy uses JarTypeSolver.

[2021-02-05 15:00] miguelvelezmj25 opened #3066 "Difference between javaparser and Soot"
I just found javaparser, and it seems like a pretty neat tool! I have some experience using Soot and I was wondering what are the main differences between javaparser and Soot. For instance, I have used Soot to build and analyze call graphs, and there is a lot of theory behind the different algorithms that Soot uses to build call graphs with different precision and accuracies. Can javaparser build

[2021-02-05 15:06] dimizisis commented on #3065
Any ideas on how to edit the collection strategy?

[2021-02-05 15:25] jlerbsc commented on #3065
What do you mean?

[2021-02-05 15:36] dimizisis commented on #3065
Is there any way to give instruction to the SymbolSolverCollectionStrategy, in order not to use JarTypeSolver?

[2021-02-05 15:41] jlerbsc commented on #3065
You can maybe change strategy and use the class ParserCollectionStrategy

[2021-02-05 15:59] 4everTheOne commented on #3048
Sorry but i'm not seeing why you say it goes beyond the problem, could you give me more detail so i can improve it accordingly.
Also, thanks for you time.

[2021-02-05 16:16] jlerbsc commented on #3048
I didn't really understand what you want to do! Sorry. But I don't know enough about JP to know what the JavaParserSymbolDeclaration class really represents. Personally I cannot validate this PR. Maybe another team member will.

[2021-02-05 16:30] 4everTheOne commented on #3048
Oh ok, thanks!. I'll try to explain it better to make the issue clear for the other members.

According to the documentation this class should not be used anymore since there's a new replacement for it (See [JavaParserVariableDeclaration](https://github.com/javaparser/javaparser/blob/1ce7d85c2b1653a192169ea245c14c537a99132b/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolso

[2021-02-05 17:18] jlerbsc commented on #3048
So JavaParserSymbolDeclaration become a factory for field/parameter/variable declaration and is no longer a ResolvedValueDeclaration

[2021-02-05 17:19] 4everTheOne commented on #3048
Exactly that

[2021-02-05 18:15] DiogoTheCoder commented on #3042
Having a space between the code and the comment, seems to fix the issue

[2021-02-05 18:23] jpmenichetti commented on #3066
I’m currently working on a project to create PlantUML sequence diagrams from Java source code using Javaparser. I’m creating the call graph detecting specific nodes in the AST.

[2021-02-05 18:42] miguelvelezmj25 commented on #3066
Nice! Is there a specific algorithm that you are using to build the call graph?

[2021-02-07 14:20] jlerbsc commented on #1837
According to the jls there is no notion of field in an enumeration only of methods and elements. It therefore seems coherent to throw an exception if we try to invoke the getFields method on an enumeration

[2021-02-07 14:20] #1837 closed, assigned to nobody

[2021-02-07 14:51] jlerbsc commented on #2081
I'm not sure this is a bug. It's more an improvement.

[2021-02-07 15:04] jlerbsc commented on #2109
There is no issue in the current version 3.18.0+.Te result of this test case is

    Type: java.lang.String
    Type: app.infra.ConfigData

[2021-02-07 15:04] #2109 closed, assigned to nobody

[2021-02-07 15:15] jlerbsc commented on #2123
There is no more issue in current version. This test case

    String code =
                "import java.util.Optional;\n" +
                "import java.util.function.Predicate;\n" +
                "\n" +
                "public class Boo {\n" +
                "    \n" +
                "    public static <B> Predicate<Optional<Object>> method1(Class<B> typeB) {\n" +
                "        r

[2021-02-07 15:15] #2123 closed, assigned to nobody

[2021-02-08 05:05] lingchaochen opened #3069 "StackOverflowError when get all method invocations and resolve them"
When I am trying to get all method invocations in a file and resolve them, I get StackOverflowError when the source code likes:
[code]
The stack trace shows as following:
[code]

My solver is using:
[code]

[2021-02-08 06:00] Col-E commented on #3038
Can confirm this occurs, issue seems to be based on some nearly infinite looping [`StementContext.java` around lines 242-255](https://github.com/javaparser/javaparser/blob/2903fc918dd87be53192aa1065047392f7adf4d1/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/contexts/StatementContext.java#L242) due to changes introduced in #2654

The code I'm lookin

[2021-02-08 07:32] jlerbsc commented on #3069
Hi @lingchaochen There is no parsing error in the current JP version and the unit test below doesn't generate  any exception

    @Test
    void d() {
        String code =
                "public class Pair<K, V> {\n" +
                **"    K key;\n" +
                "    V value;" +**
                "    @Override\n" +
                "    public boolean equals(Object o) {\n" +

[2021-02-08 07:38] jlerbsc commented on #3038
It may be the same problem as #2990

[2021-02-08 07:44] jlerbsc commented on #3038
In the current JP version there is no issue using this test case. Can you provide more details please and a unit test that reproduces this issue?

    @Test
    void e() {
        String code = "public class Foo{\n" +
                "    public static void main(String[] args) {\n" +
                "        String s0   = \"hello\";\n" +
                "        String s1   = \"hello\";\n" +

[2021-02-08 07:47] Col-E commented on #3038
~~I've updated my prior comment with the test.~~ It explicitly is something with `NameExpr` but in the test case you whipped up I see you're using `MethodCallExpr`. Swap it out and that should cause the issue. In my case trying to resolve `Foo` as a `NameExpr` does it.

Edit: Oh wait I uploaded the wrong file that was supposed to be the unit test, but yeah just swap the class type in `findAll` in

[2021-02-08 08:40] Col-E commented on #3038
[code]
Letting it run, I'll let you know when it finishes.

 - 200s passed so far
 - 700s
 - 1200s
 - 2500s
 - 4000s
 - 4500s, shutting down manually

[2021-02-08 16:13] lingchaochen commented on #3069
Hi @jlerbsc, thanks for your reply. When I run the unit test I still get the same exception.
[code]

I am building with Maven 3.6.3, Java 1.8.0_131, OS macos 10.16, Javaparser 3.18.0.
Is it because of my environment configuration?

[2021-02-08 16:32] jlerbsc commented on #3069
Can you try with the snapshot version?

[2021-02-08 16:59] lingchaochen commented on #3069
Sure, I just try with the lasted 3.18.1-SNAPSHOT on Github. It still has the same error.

[2021-02-08 17:03] jlerbsc commented on #3069
On my side the result is

    key.equals(oP.key) resolved to java.lang.Object.equals
    value.equals(oP.value) resolved to java.lang.Object.equals

[2021-02-08 17:23] lingchaochen commented on #3069
I try another machine on Unbuntu 18.04.2. It works well.

[2021-02-09 02:11] Col-E commented on #3038
I'm going to open a new issue that explicitly declares the `NameExpr` resolve issue. I'll also open a PR to address it. If it also resolves this issue that'd be cool, but I don't have a case of `MethodExpr` taking forever yet.

[2021-02-09 02:16] Col-E opened #3071 "Update to JavaParser 3.18.0 from 3.17.0 causes NameExpr::resolve to hang"
Possibly a duplicate of #3038 as I have only encountered this when explicitly resolving `NameExpr`

Attempting to resolve the `NameExpr` of `Foo` in the following code will take over an hour to resolve _(I stopped it after 75 minutes)_  if the set symbol solver has no way to access `Foo`

[code]

This is due to what I believe is an oversight in `StatementContext#solveSymbol` where resolving the na

[2021-02-09 12:09] corradomio opened #3073 "CompilationUnit object is not serializable using 3rd part serialize libraries"
JavaParser offers the service to serialize/de-serialize a CompilationUnit object with JavaParserJson(De)Serializer.

There are more fast libraries available as, for example "kryo" (https://github.com/EsotericSoftware/kryo).
Little problem: to use this library (and similar libraries), the class of all serialized objects must have the default constructor.
Inside JavaParser library there is a very li

[2021-02-09 13:14] kawaiifoxx opened #3074 "Unable to delete .jar files after parsing and using symbol solver."
I am having difficulties deleting .jar files after I parse them, I am using ProjectRoot for reading root directory.

After I parse the files and  use symbol solver to get resolved declarations and  then  I try to delete root directory after I am done with my work, I try to delete files and I can delete every file except .jar files.

I tried deleting root directory of files which I am trying to par

[2021-02-09 14:38] jlerbsc commented on #3074
This may be related to the fact that when parsing jar files the JarFile.close () method is not invoked to free the resources.

[2021-02-09 14:43] kawaiifoxx commented on #3074
So, is there some way to fix this. so, that I can delete whole root directory some how.

[2021-02-09 16:46] jlerbsc commented on #3074
Could you test this version https://github.com/jlerbsc/javaparser before i push a PR i think it should solve your problem

[2021-02-09 17:36] kawaiifoxx commented on #3074
I tested this version and unfortunately, I still can't delete .jar files.

[2021-02-09 17:45] jlerbsc commented on #3074
It's curious because this version close all JarFile in a ShutDownHook. So resources used by these files are freed.

[2021-02-10 04:07] kawaiifoxx commented on #3074
Hey, jlerbsc Thanks for your quick reply.
I see the problem here, the problem for me is that I want  JarTypeSolver to release all resources after I am done parsing and symbol solving but it does that only when vm terminates.

So, I added this piece of code in ShutDownHookRegistry:
[code]

And to delete files in my project I did this:
[code]

And all files get deleted successfully.

[2021-02-10 06:46] jlerbsc commented on #3074
Yes you are right ShutDownHook is executed when VM stops. I had misunderstood the execution context. I thought you were unable to delete files when software was finished.

[2021-02-10 07:30] #3074 closed, assigned to nobody

[2021-02-10 07:34] jlerbsc commented on #3074
You can use JarTypeSolver.ResourceRegistry.getRegistry().cleanUp() to explicitly freeing resources.

[2021-02-10 07:49] kawaiifoxx commented on #3074
@jlerbsc  Thanks for fixing the issue.

[2021-02-10 17:11] 4everTheOne opened #3077 "MethodReferenceExpr was not parsed properly"
If we try to parse a lambda function that uses a `ThisExpr` or `NameExpr` as scope it shows in the tree as `TypeExpr`.

As an example lets use the following code:
[code]

In this code snippet we are just making a copy of the list with lambdas.

When the parser tries to parse `copy::add` he assumes it's going to be a `TypeExpr` instead of a `ThisExpr` or `NameExpr` resulting in a wrong structure li

[2021-02-10 18:30] 4everTheOne opened #3078 "Question: Uniquely identify a node"
Imagine the following situation:
[code]

Given this example i would like to check if the parameters are the same, but when using the `equals` or` hashCode` they are equals because have identical children.

Is there an alternative way to check if they are the same, based on the parent path for example or in a unique identifier?

[2021-02-11 14:04] 4everTheOne commented on #3078
There's an alternative way of doing it, by using == instead of equals

[2021-02-11 14:04] #3078 closed, assigned to nobody

[2021-02-12 10:32] michaelhkay opened #3080 "TypeSolver does not resolve org.xml.sax.* names"
Attempting to resolve a name such as Locator (which is actually org.xml.sax.Locator) fails.

I think the problem is probably at ReflectionTypeSolver line 21 which reads

[code]

but I haven't succeeded in rebuilding from source to check whether the obvious change fixes it.

[2021-02-12 11:21] michaelhkay commented on #3080
I can work around the problem by doing

[code]

so this definitely appears to be the cause.

[2021-02-12 21:55] jlerbsc commented on #3080
Can you try to instanciate ReflectionTypeSolver like this

    new ReflectionTypeSolver(false)

[2021-02-12 22:41] michaelhkay commented on #3080
Yes, on my travels with the debugger I realised that would be an alternative workaround (though it's possible it could have unwanted side-effects, I don't know). But I would expect the org.xml and org.w3c classes in the JDK to be treated in exactly the same way as all other classes in the JDK - certainly I didn't see any documentation that suggested otherwise.

[2021-02-13 08:17] jlerbsc commented on #3080
The javadoc says "This is an easy way to say" I need a JRE to solve classes, and the one that is currently running is fine. If false, will resolve any kind of type. ". This is not a workaround, it's just the way to go in your case.

[2021-02-14 09:36] jlerbsc commented on #3069
Did you solve this issue? Maybe is it related to your environment?

[2021-02-14 09:40] jlerbsc commented on #3065
Did you try ParserCollectionStrategy ?

[2021-02-14 09:46] jlerbsc commented on #3066
There is no functionnality to create call graphs in JP. This could be an improvment.

[2021-02-14 10:22] jlerbsc commented on #3064
Can you confirm that your code can be compilated without errors and share with us a complete and simple test case?

[2021-02-14 10:23] #3053 closed, assigned to nobody

[2021-02-14 10:34] jlerbsc commented on #3042
This issue is not reproducible with this test case

    @Test
    void g() {
        String code =
                "import java.util.ArrayList;\n" +
                "import java.util.Arrays;\n" +
                "import java.util.List;\n" +
                "\n" +
                "public class Refactor {\n" +
                "\n" +
                "  public static void main(String[] args) {\n" +

[2021-02-14 10:35] #3023 closed, assigned to nobody

[2021-02-14 14:35] dimizisis commented on #3065
Sorry for the delayed response,

I tried this:

[code]

and this:

[code]
Indeed, now it does not try to parse JAR files. So to my understanding, with this code I only parse Java files, given a source root? If yes, that's exactly what I need. I'm not sure about the necessity of ReflectionTypeSolver, though.

Thanks!

[2021-02-14 15:42] jlerbsc commented on #3065
If you need to solve symbols you have to configure the symbol solver otherwise you don't need to configure a TypeSolver.

[2021-02-14 15:45] #3065 closed, assigned to nobody

[2021-02-14 16:05] Bricktricker commented on #3064
Not sure what test case you need, as I already posted a reproducible test case above:
(copied from above)
[code]
And yes, the original code can be compiled without errors.

[2021-02-14 20:13] jlerbsc commented on #3064
Can you provide the full original code or simplify your sample?

[2021-02-14 22:18] Bricktricker commented on #3064
Unfortunately I can't provide the original source code. But I managed to simplify the test case a bit:
[code]
It look like the parser has a problem when using a nested ternary operator and the last false statement is a lambda. Note that the error still exists when using a field for the first two lambdas:
[code]

A test case:
[code]
This generate the following problem: `(line 6,col 81) Failed to pa

[2021-02-15 10:44] jlerbsc commented on #3064
You are right. It seems that the GeneratedJavaParserBase class does not support ConditionalExpr when generating a lambda expression. Personally I do not know how to work on this part. Perhaps @MysterAitch or @matozoid do they know how to do it?

[2021-02-16 04:07] JeewoongKim opened #3083 "There is a declared method but, MethodAmbiguityException occurred"
Hi, this is my first time using JSS 3.18.
This may a question rather than an issue.

I faced a problem when resolving the arguments in a method call expression.
It seems that the `CollectionUtils.get(expected, 0)` at line 6 is a cause.
The related JARS are added through lines 22-25 including a classpath (i.e., CollectionUtils' parent dir) that is declared the method

Sorry for not being able to ex

[2021-02-16 08:37] jlerbsc commented on #3083
Hi @JeewoongKim

No you don't have to declare this package because ReflectionTypeSolver can scan it for you.
Unfortunately this exception is probably caused by a bug! We will have to isolate the problem first with a simpler test case before we can help you solve this problem. It would have been faster if you had sent us a simplified test case :-)

[2021-02-16 09:29] jlerbsc commented on #3083
We can reproduce it with this unit test

    @Test
    void test() {
        String code =
                "class A {\n" +
                "        public void getFromMap() {\n" +
                "            final java.util.Map<String, String> expected = new java.util.HashMap<>();\n" +
                "            java.util.Map.Entry<String, String> entry = get(expected, 0);\n" +

[2021-02-16 10:57] #3083 closed, assigned to nobody

[2021-02-16 12:21] JeewoongKim commented on #3083
@jlerbsc Thanks for fixing the issue.

[2021-02-16 13:51] MysterAitch opened #3086 "JFrog / Bintray sunsetting"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Summary (emphasis mine):

Also:

[2021-02-16 18:47] 4everTheOne opened #3087 "IllegalArgumentException while solving"
When the symbol solver, tries to resolve `EntrySet<Object, Object>` from the code below it throws an IllegalArgumentException.

[code]

I think the problem here, is when the symbol solver tries to find a class with the name `EntrySet` it finds first the class `A.Bar.EntrySet` rather than `A.EntrySet`.

<details>
<summary>Stack trace</summary>

[code]
</details>

<details>
<summary>Unit test</summa

[2021-02-16 20:08] kris-scheibe opened #3088 "UnsovedSymbolException when resolving "var" variable in 3.19.0"
When resolving the operator `o1` in the snippet below by calling `calculateResolvedType()` on the `NameExpr` an `UnresolvedSymbolException` is thrown:

[code]

[code]

Test-case that still works on 3.18.0:
[code]

[2021-02-16 20:52] #3061 closed, assigned to nobody

[2021-02-17 08:57] #3087 closed, assigned to nobody

[2021-02-17 10:31] jlerbsc commented on #3088
Note: I'm not sure but it seems that the type of the VariableDeclarator is a ClassOrInterfaceType instead a VarType. Not sure if this is an issue in the parser configuration or if we have to handle this case in JavaParserFacade.convertToUsage(). To investigate.

[2021-02-17 20:57] 4everTheOne opened #3090 "Race condition in JavaParserTypeSolver"
`JavaParserTypeSolver` has an `JavaParser` instance that is used to parse the files. At the moment it is not thread safe which makes it throw weird exceptions when parsing from different threads. The limitation here is `JavaParser` because it can only parse one instance at a given time.

I think a simple fix for this issue, could be make the parser synchronized to avoid the concurrency.

## Stack

[2021-02-17 21:53] dimizisis opened #3092 "Parse all classes of a JAR file only"
I would like to parse every class inside a jar file. I wrote the following code for the initialization of JavaSymbolSolver:

[code]

But when I do
[code]

I get the following error:
[code]

Am I doing something wrong? My final goal is to parse every CompilationUnit of the JAR file.

Thanks!!

[2021-02-18 06:46] corradomio opened #3093 "JavaParser uses too memory"
I am processing (in parallel ;-) ) Elasticssearch.
The project is composed by ~15.000 files.

The problem is that, ONLY to parse ALL files, I need MORE that 64GB ram and the 95% of the ram is allocated by the AST saved in memory/cache, and the 95% of this 95% is used by strings.

Note: there is a problem with the "'local caches"" used by JavaParser that I resolved implementing a ""custom"" version

[2021-02-18 07:47] jlerbsc commented on #3093
How did you parse source files? Did you use LexicalPreservationPrinter? Can you give us more information?

[2021-02-18 07:57] jlerbsc commented on #3092
There is no bytecode parser in JP. JP parses only source files. Can you confirm that the jar file contains source files? If yes, you can explode the jar file in a temporary directory and parse java source files. Moreover you don't need to use SymbolSolver to parse sources files.

[2021-02-18 08:26] corradomio commented on #3093
I implemented two classes:
"JavaParserPool"
and
"JavaParserRootsTypeSolver"

Both use the same GLOBAL cache: in this way, when a file is parsed, it not necessary to reparse it another time if it is already in cache.

The system we are implementing is able to analyze SEVERAL java projects in parallel: there are some tricks to be sure that EACH instance of JavaParserPool & JavaParserRootsTypeSolver

[2021-02-18 09:15] jlerbsc commented on #3093
Thanks for this additional information. Your issue is probably due to the fact that you put CompilationUnit in cache. Why are you doing this? If you encounter other issues you are free to declare a new issue with a simplified test case allowing to reproduce the problem.

[2021-02-18 10:00] corradomio commented on #3093
We analyze the source files to create the ""dependency graph""

A) We parse each file 4 times (I know, in theory it is not necessary BUT in this way I can decide if to execute a step or not)
1) to collect the list of define classes/interfaces/annotations/enums (the
""types"")
2) to create the graph of "type dependencies" (a type extends/implements other types, a type uses other types in its implem

[2021-02-18 10:35] jlerbsc commented on #3093
That's what I thought, you don't need to parse multiple files. I implemented this functionality (dependency graph) in a personal context by only parsing each class once.

Moreover this assumption is false. "when I use the symbol resolver to resolve a symbol, it can use the
type/method definition present in another source file. In this case **it has
to compile** the file and saves it in its LOCAL c

[2021-02-18 10:43] jlerbsc commented on #3090
Maybe you can just create new instances of JavaParserTypeSolver, one for each thread.

[2021-02-18 10:51] dimizisis commented on #3092
Ok. That was clear enough. The jar file indeed contains source files. I will try that out. Thank you!!

[2021-02-18 10:51] #3092 closed, assigned to nobody

[2021-02-18 11:04] 4everTheOne commented on #3090
That for sure could be a workaround for the issue, but there are a some situation that we can take advantages of using the same configuration for all of them. Imagine that we have a project with multiple modules:

Module A - Base code
Module B - Uses code from module A
Module C - Uses code from module A

Since we are talking about some modules of the current project they share a lot of dependencie

[2021-02-18 11:05] 4everTheOne commented on #3090
Also, I forgot to mention that each module is processed in a different thread to speed up the process.

[2021-02-18 16:27] corradomio commented on #3093
Just as experiment, I implemented the ""simple"" method and applied it to Deeplearning4J (dl4j) and Elasticsearch (es)
Parsing ALL files and replacing all strings with an UNIQUE instance (using the described map) I obtained the following (gross) results:
There is ONLY the 4% of unique symbols (dl4j -> 4%, es -> 3%)
We need ONLY the 8% of memory (dl4j -> 8%, es -> 6%)

This means that is is possibl

[2021-02-18 17:11] jlerbsc commented on #3093
Depending on java version you are using, maybe you can use JVM flags -XX:+UseStringDeduplication (-XX:+PrintStringDeduplicationStatistics) to achieve the same goal.

[2021-02-18 17:30] corradomio commented on #3093
May be and may be not:  you may not have permission to change the VM flags!

[2021-02-18 18:54] jlerbsc commented on #3093
I try to help you in my free time if that doesn't help i'm sorry.

[2021-02-18 20:35] 4everTheOne opened #3094 "Unable to solve NameExpr in Annotation"
I have the following class
[code]
When i try to resolve the reference, it throws a UnsupportedOperationException. This happens because method `getAllFields` is not implemented `JavaParserAnnotationDeclaration` and according to issue https://github.com/javaparser/javaparser/issues/1837 annotations should not have fields. The problem gets confusing when the AST parses the annotation with a field dec

[2021-02-18 21:38] corradomio commented on #3093
thanks, but in this case it is not necessary. I already added this idea in my application. I think this update is very useful for JP, independently by my specific case.

[2021-02-19 07:03] corradomio opened #3095 "JavaSymbolResolver doesn't support Lombok (and similar libraries) injected code"
Project Lombok is able to inject automatically fields (as `log` using `@Slf4j`) and methods (as `getAnInt()` using `@Data`).
Without a specific support, JavaSymbolResolver is not able to resolve these symbols.

[code]

https://projectlombok.org/
https://github.com/rzwitserloot/lombok
https://github.com/google/auto/tree/master/value

[2021-02-19 07:32] jlerbsc commented on #3093
This is an application problem independent of JP. This is more of an architectural issue within the application using JP. The memory is not expandable it must be managed. In this case, it is the application which is developed which retains the memory used by JP.

[2021-02-19 07:32] #3093 closed, assigned to nobody

[2021-02-19 07:39] jlerbsc commented on #3095
It's because JP does not know anything about lombok. It works on java source code and resolve symbols from declared libraries.
When you talk about a code injection are you talking about the build phase of the application or the runtime? Anyway this code does not exist in java source files.
If you use Lombok, you are technically not writing valid Java code and JP will not be able to parse it. The s

[2021-02-19 10:26] jlerbsc commented on #3094
It seems that AnnotationTypeMemberDeclaration can be can be a ConstantDeclaration (https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-AnnotationTypeBody 9.6.1. Annotation Type Elements). I'm not sure that these constante declarations must be returned by getAllFields method. @matozoid , @MysterAitch @ftomassetti have you an idea on this topic?

[2021-02-19 10:37] 4everTheOne commented on #3094
Looking at the documentation, the definition of Constant Declaration (https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-ConstantDeclaration) shows:

With this I think it's safe to say it's a field. What is the team opinion?

[2021-02-19 11:08] MysterAitch commented on #3094
I originally got muddled between `AnnotationTypeElementDeclaration` (the ones with the `()` at the end that indicate members of the annotation) versus regular fields. This led down a rabbit hole of having it extend field etc... I was wrong there! Turns out we can have both :)

Summary: My understanding is that annotation declarations _can_ have fields (and nested-classes/interfaces/enums etc), so

[2021-02-19 11:15] MysterAitch commented on #3095
See also #2263 and #2436

It is not possible to do this using JavaParser alone -- other tools such as [Delombok](https://projectlombok.org/features/delombok) allow you to work with the code generated by Lombok.

Alternatively you might package your code into a jar and use that as a source, or perhaps first compile your code and point JavaParser at the generated source code.

[2021-02-19 11:16] MysterAitch commented on #3095
I'll close this now -- if the linked issues and the comment didn't help, comment again and we'll re-open this :+1:

[2021-02-19 11:16] #3095 closed, assigned to nobody

[2021-02-19 11:17] 4everTheOne commented on #3094
Thank you for the feedback MysterAitch! Can I submit a PR with the fix for this?

[2021-02-19 11:41] MysterAitch commented on #3090
Thread safety is something that JP explicitly doesn't make any guarantees about or support, but in the past has included some tweaks that have blocked people from implementing their own workarounds (e.g., #2668 / #2694).

Personally I don't have any objections to improving thread safety, but any PR that does get merged will need sufficient documentation/comments to highlight that there are no guar

[2021-02-19 11:55] 4everTheOne commented on #3090
I understand your point.

I think this a tiny tweak in JP could make it easier to work it in threads, but off course without guarantees of being thread safe. In PR #3091 i suggest a tweak that solves this issue.

Should I add comments to the PR highlighting that there are no guarantee despiste the tweak?

[2021-02-19 17:53] corradomio opened #3098 "TypeParameter (after extends/implements) parsed as ClassOrInterfaceType"
Given the following classes:

1) ```public interface ParameterSpace<P> { }```
2) ```public abstract class AbstractParameterSpace<T> implements ParameterSpace<T> { }```
3) ```public class RealParameterSpace implements ParameterSpace<Double> { }```

Using a Visitor I obtain:

1) ```P``` is parsed as ```TypeParameter```
2) ```T``` in ```ParameterSpace<T>``` is parsed as ```ClassOrInterfaceType```

[2021-02-19 20:00] 4everTheOne opened #3099 "IllegalArgumentException when solving ClassOrInterfaceType"
JP Symbol Solver throws a `IllegalArgumentException` when we have a type definition that matches the name of a implemented type.

### Example project
#### File structure:
[code]
#### Files content
Alpha.java
[code]

Beta.java
[code]

### Explanation
The solver solves `CustomInterface` as `Alpha.CustomInterface` instead of  `Beta.CustomInterface`.

### Possible fix
I think this issue is related wit

[2021-02-19 21:01] 4everTheOne commented on #3099
Looks like the issue is not that simple. Tried to reorder the logic, but it creates side effects.

[2021-02-19 21:05] 4everTheOne commented on #3099
To make it easier to test the issue, here is a branch with the test case.
https://github.com/4everTheOne/javaparser/blob/test-case/3099/javaparser-symbol-solver-testing/src/test/java/com/github/javaparser/symbolsolver/Issue3099Test.java

[2021-02-19 23:40] corradomio opened #3100 "JavaSymbolSolver unable to resolve an inner class defined in a base class"
Given the following classes:

[code]

[code]
[code]

JavaSymbolResolver is not able to resolve "Convolution2D.Builder" because it try to find "Builder" inside "Convolution2D" and not also inside "ConvolutionLayer".

ref: Navigator.java, method: "findType()"

Note: I am analyzing Deeplearning4J.

[2021-02-20 03:40] corradomio commented on #3090
JavaParser, during the analysis, creates the AST of the current file using a LOCAL FIELD as storage (```JavaParser.astParser```).
It is absolutely MANDATORY to have a DIFFERENT instance of JavaParser FOR EACH THREAD/FILE processed.

You can REUSE the same instance ONLY after completing the previous analysis.

The best solution to use JavaParser in parallel is being able to use multiple instances i

[2021-02-20 04:03] corradomio opened #3101 "JavaParser parses the package of a fully qualified class name as a ClassOrInterfaceType"
Given the class
[code]

JP parses ' java.util.concurrent.atomic' as a 'ClassOrInterfaceType'.
If it is not simple to understand that ```java.util.concurrent.atomic```, a solution could be to use ```TypeSolver.isNamespace(String name)```
Each implementation of ```TypeSolver``` interface is able to understand if a symbol is a namespace:

1) type solvers based on byte code know the full qualified nam

[2021-02-20 07:04] corradomio opened #3102 "JavaParser parses local variables in a method reference as a ClassOrInterfaceType"
Given the class

[code]

```statsStorageForSession``` in ```statsStorageForSession::get``` is parsed as ```ClassOrInterfaceType```

[2021-02-20 08:47] corradomio commented on #3100
Another strange case.
Given the following classes:

[code]
[code]
JSS is not able to solve "Node" (as "Trie.Node") in " trie.new Node()"

[2021-02-20 10:39] corradomio opened #3103 "JavaSymbolSolver unable to solve JDK classes inside a inner class implementing an interface"
Given the class

[code]

JSS is unable to solver ```String```, ```List<String>```, ```StringBuilder```
BUT, removing ```Runnable```, JSS works fine.

[2021-02-20 10:59] corradomio commented on #3071
Exactly the same problem! With JP/JSS 3.19.1
I hack JSS to use a timeout to abort the resolution of the symbol.

A possible solution is to use "memoization" techniques:

https://en.wikipedia.org/wiki/Memoization

Because its implementation uses some GLOBAL/STATIC cache, it is useful to find a solution that permit the parallelism.

[2021-02-20 11:23] Col-E commented on #3071
I am almost certain that this is just an oversight in the implemented algorithm. Check the linked PR. The included test with the fix runs perfectly fast and there are no other behavior regressions in the test suite.

[2021-02-20 11:38] corradomio commented on #3071
I don't understand: I am using JP/JSS 3.19.1.
Is this version already patched?
I am analyzing Deeplearning4J and I have exactly the same problem.
However if you can specify the (more or less) line of code where is located the problem, I can add some extra log to identify the "new" case, not considered in the unit tests.

I found

```public SymbolReference<? extends ResolvedValueDeclaration> solveS

[2021-02-20 11:43] Col-E commented on #3071
JP 3.19 does not have this issue fixed. I'm saying that I've provided a fix in the linked PR #3072 and to me I think that the cause of this bug is simply an oversight in the resolving logic, not necessarily a slow algorithm in need of optimization via something like memoization.

[2021-02-20 11:51] corradomio commented on #3071
I understand ;-)
Little problem: you ""describe"" the solution, I have to ""implement"" it ;-)
If possible, obviously, can you post the changed part of code?
In this way I can implement the same fix ;-)

[2021-02-20 11:53] Col-E commented on #3071
Just click on the PR link and look at the _"[Files changed](https://github.com/javaparser/javaparser/pull/3072/files)"_ tab. It'll show you the git-diff. Its quite a small change.

[2021-02-20 11:54] corradomio commented on #3071
Thanks 1.000.000.000 ;-)

[2021-02-20 11:58] Col-E commented on #3093
resolve a SINGLE symbol.

Just a note but the 3rd point mentioned in this issue is replicated in #3071 and a fix is provided in #3072

[2021-02-20 12:37] 4everTheOne commented on #3103
Hello corradomio, i tried to reproduce the issue but i was unable to. I tried with the following unit test and it resolved with sucess:
[code]

Do you have any stack trace of it? Which type solvers were you using?

[2021-02-20 13:05] corradomio commented on #3103
Very strange.
I am using my ""custom"" type solvers, BUT I am analyzing Deeplearning4J, composed by ~5800 java files and I found just a single case of this strange behavior.
I am using JP/JSS 3.19.0 + the patch for NameExpr (issue 3072).
I check if I obtain the same result using ""standard"" type solvers.
I don't use "ReflectionTypeSolver", but a "JarTypeSolver" collecting the JDK jars located in

[2021-02-20 14:30] corradomio commented on #3103
Update:
Using EXACTLY your code, I obtain the same result

[code]

If I comment out "Runnable" it works fine.
JP/JSS 3.19.0, JDK 1.8.0_281 x64

[2021-02-20 16:49] jlerbsc commented on #3100
I cannot reproduce your issue with this test case

    @Test
    void test() {
        String code =
                "public class NodeTest {\n" +
                "\n" +
                "    public void testNode() {\n" +
                "        Trie trie = new Trie();\n" +
                "        Trie.Node node = trie.new Node();\n" +
                "    }\n" +
                "}";
        Path

[2021-02-20 16:53] jlerbsc commented on #3103
We can't help you with so little information. Please share more information.

[2021-02-20 17:03] jlerbsc commented on #3093
It is not the same issue . This issue refers to poor memory management by the client application.

[2021-02-20 17:12] jlerbsc commented on #3103
The same unit test provided by @4everTheOne works perfectly. Please verify your application and try to isolate this issue.

[2021-02-20 17:22] corradomio commented on #3100
I use this type of code:

[code]

[2021-02-20 17:27] corradomio commented on #3100
Same for the previous bug (with Comvolution2D.java & ConvolutionLayer.java in "src/test/resources/issue3100"):

[code]

[2021-02-20 18:03] Col-E commented on #3093
I am not confident that the 3rd point is actually because of memory issues. They specifically point out in their 3rd point `NameExpr` resolution which currently has a exponentially increasing resolve time with the number of adjacent `NodeWithStmnt` types.

While their main issue is memory based this specific sub-item may not be caused by that, but by the bug referenced in the issue I linked.

The

[2021-02-20 18:29] Col-E commented on #3103
I can confirm in my branch for #3072 that this still works, so you may want to check out how your custom type resolver is implemented.

I added more checks to the case that @4everTheOne provided just in case.

[code]

[2021-02-20 18:48] Col-E commented on #3071
To clarify I see that this issue seems to be classified as a _"performance problem"_ by the developers as indicated by this response: https://github.com/javaparser/javaparser/issues/2990#issuecomment-750402142

The linked PR in this issue shows that the same expected behavior of JavaParser can be achieved without this performance hit if we assume the underlying issue in 2290 is the same one descri

[2021-02-21 09:06] jlerbsc commented on #3103
I close this issue because we cannot reproduce it with the same test case. You can comment on this issue again if you have additional information to enable us to reproduce the case.

[2021-02-21 09:06] #3103 closed, assigned to nobody

[2021-02-21 10:40] jlerbsc commented on #3102
This is probably a lack in the JavaParser grammar. @MysterAitch what do you think about that?
TypeExpr is defined as a scopes for MethodReferenceExpr nodes to encapsulate Types. By default the internal type is a ClassOrInterfaceType. I'm not sure the JSL (https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.13) provides more information in this case.

[2021-02-21 10:49] MysterAitch commented on #3102
I'll need to double check once I'm at a computer but the current behaviour does seem reasonable (unless I'm missing something).

Could you share some more details about the `ClassOrInterfaceType` that gets returned -- specifically, is it referring to `Function` with type parameters?

Note that at compile time, it's not possible to determine whether the declared type is a class vs interface (vs rec

[2021-02-21 12:45] MysterAitch opened #3104 "PR / Issue templates"
We currently have a fairly basic PR template in place:

https://github.com/javaparser/javaparser/blob/master/PULL_REQUEST_TEMPLATE.md

Let's improve this :)

[2021-02-21 13:11] MysterAitch commented on #3104
I was going to add a comment here, but instead draft PR #3105 is probably a better way to share a work in progress / suggested tweak.

[2021-02-21 22:47] MysterAitch commented on #3071
I think your description of the current behaviour being `O(n!)` is correct -- and is a mistake/needs to be corrected.

There are multiple "solve" methods within various "contexts", where the logic of where to search happens.

For example, here is the `StatementContext` where the "start at the current statement and work backwards" logic is:

https://www.github.com/javaparser/javaparser/tree/master/

[2021-02-21 22:55] MysterAitch commented on #3071
My understanding is that this comment was (rightly) stating that it is the correct behaviour happening very slowly -- as in, it'll give the right answer _eventually_ -- as a reason for removing the bug report label.

Happy to be corrected on that though if I've misread it!

_(...there is a whole other debate to be had about whether inefficient algorithms are bugs or not, but let's save that for an

[2021-02-22 00:08] andilem opened #3106 "Wrong descriptor for primitive type long"
In com.github.javaparser.ast.type.PrimitiveType.Primitive, the Primitive LONG has the descriptor `L`, but the correct Java descriptor for long is `J` (because `L` stands for class).

[2021-02-22 07:56] jlerbsc commented on #3106
Yes you are right. Thank you for reporting this bug.

[2021-02-22 08:59] MysterAitch commented on #3101
There are two user facing stages.

The first stage is "parsing" the given source code using ONLY that file and the relative locations of _tokens_ to classify them (based on the _grammar_).

The second stage is "resolving", where cross references inside and outside of the files.

During parsing, it's not possible to do this because there's no way to figure out if something refers to a class or an i

[2021-02-22 09:01] MysterAitch commented on #3101
Sidenote: the name `ClassOrInterface` is something that might change in the future.

[2021-02-22 09:06] MysterAitch commented on #3098
You should be able to resolve it to determine the type.

If that doesn't work, it is a bug :+1:

[2021-02-22 09:10] MysterAitch commented on #3023
See also #3095 for Lombok related comments/information/links.

[2021-02-22 09:13] #3106 closed, assigned to nobody

[2021-02-22 12:01] 4everTheOne opened #3108 "Simplify the use of JavaParser"
Currently working with JavaParser requires some unnecessary boilerplate (See conversation at https://github.com/javaparser/javaparser/pull/3081).

The intention of the issue is to allow a conversation with possible solutions for this problem.

[2021-02-22 12:12] 4everTheOne commented on #3108
A suggestion to simplify usage of `JavaParser` without breaking the current API could be using a method like the following:
[code]
This method unpacks the result (basically the boilerplate code that is always required) and if the compilation fails a `ParseProblemException` is thrown (similar to how `StaticJavaParser` handles it). This allows us to keep the old JavaParser API and also implement a s

[2021-02-22 12:43] MysterAitch commented on #3108
I hesitate to agree that it is _"unnecessary"_ boilerplate :wink:

Personally, as mentioned in #3081, I'm open to adding methods like this into the main `JavaParser` class :+1:

I say this with the caveat that @jlerbsc and others are more than welcome to chip in with reasons this is a bad idea -- I shan't be offended!

Here's an example for the other parse methods to explicitly highlight that thes

[2021-02-22 12:45] MysterAitch commented on #3108
I would also lean towards the method being named to match the naming of the wrapper methods and what they do.

Perhaps something like:
- `unpackResult` (to match the above) or
- `unwrapResult` (to indicate we're returning a child object)
- `parseAndGetStatement` (to match optional's `get` method)

[2021-02-22 13:13] jlerbsc commented on #3108
Personally I think this API was introduced previously by the project leaders to deal with parsing issues. If a user wants to manage a different strategy it is very easy to adapt the current behavior with an "adapter" pattern. I'm not convinced this is a boilerplate code, especially since it's only used in one place. Maybe a better documentation would suffice to describe how to start or parse with

[2021-02-22 13:28] 4everTheOne commented on #2635
I think this issue might been already fixed with issue #2936.
https://github.com/javaparser/javaparser/blob/c579b8d1a9cb60db3babbe9384f514690fec13b8/javaparser-core/src/main/java/com/github/javaparser/ast/NodeList.java#L134-L138

Can you confirm if it's fixed @MysterAitch please? :)

[2021-02-23 07:05] jlerbsc commented on #3102
In the AST ClassOrInterfaceType has a SimpleName child. I'm not sure I answer the question ;-)

[2021-02-23 19:21] 4everTheOne opened #3111 "Unable to resolve Parameter in LambdaExpr due to NoSuchElementException"
Given the following example:
[code]

I would like to resolve the item parameter. When I try to execute `Parameter::resolve()` on it, a  `NoSuchElementException` is thrown.

I think the issue may be related with the following lines, more specific with line 241. The logic to solve the parameter tries to find a callable declaration that is implemented by `ContructorDeclaration` and `MethodDeclaration

[2021-02-24 05:49] deadlocklogic opened #3112 "StackOverflowError while resolving ClassOrInterfaceType of nested ObjectCreationExpr"
Similar to #2995  but with slightly different test case.
[code]
Thanks.

[2021-02-24 08:26] jlerbsc commented on #3112
Note: This issue occurs when JP tries to solve the type of the ObjectCreationExpr `new Inner1() {}` (that contains an empty body declaration). When JP creates `AnonymousClassDeclarationContext ` it needs to solve the `Inner1 ` type. It does that from the parent context  `new Inner1(){}.new Inner2()`. The scope of this expression  is the previous ObjectCreationExpr `new Inner1() {}`. This introduce

[2021-02-25 14:33] kernkat97 opened #3113 "Arrow missing in Switch Expression + jumbled up in LexicalPreservingPrinter"
Hi,
I stumbled across a problem that is probably related to issue #2636 - I have the same problem with parsing Java 12 switch expressions, the arrows are replaced with colons. When the resulting CompilationUnit is later passed to the LexicalPreservingPrinter, the arrows are there, but the expression after "case" is appended to the end of the line.
Here's a minimal code example:
[code]

After execu

[2021-02-25 19:22] 4everTheOne opened #3115 "Coveralls report not updating"
Hello, I was looking at the [Coveralls report](https://coveralls.io/github/javaparser/javaparser) and looks like it was not updated since November 2020.

Was it intentional?

[2021-02-25 19:36] 4everTheOne commented on #3102
I think issue #3077 is also related with this :)

[2021-02-26 02:36] bonbunpiw opened #3116 "Resolving a type in a context"
I got 2 issues after tried this code example when update FILE_PATH and SRC_PATH to my specific project.

1. reflectionTypeSolver.setParent(reflectionTypeSolver);
error:
Exception in thread "main" java.lang.IllegalStateException: The parent of this TypeSolver cannot be itself.
	at com.github.javaparser.symbolsolver.resolution.typesolvers.ClassLoaderTypeSolver.setParent(ClassLoaderTypeSolver.java:60

[2021-02-26 14:10] MysterAitch commented on #3116
You're correct that it's the project path that's the problem.

Currently, `SRC_PATH` seems to refer to what I call the "project root".

Instead, the source root is required (the directory to which packages are relative) -- usually the `src/main/java/` directory within maven projects.

[2021-02-27 16:45] f71uday opened #3117 "Java Symbol Solver not able to resolve Symbol containing FieldAccessExpr as Argument"
File 1 :   Test.java

[code]
File 2 : JavaFiletobeResolved.java
[code]

File 3:  ResolveMethodCalling.java

[code]
Note :  Test.java and JavaFiletobeResolved.java are in same package.

Java Symbol Solver not able to be resolve FieldAccessExpr passed as Argument in ` SSLContext.getInstance(Test.A);`

Error msg :
[code]

[2021-02-27 17:05] f71uday commented on #3117
@jlerbsc
a Helping hand would be great.

and if you find this as a real issue , would like to work on it as well

[2021-02-28 07:56] f71uday commented on #3117
Issue resolved !!  I was passing the wrong path in the JavaParserTypeSolver

[2021-02-28 12:41] esoftGithub opened #3118 "ParseProblemException"
hello
I have a class that used in my android app that compiled correctly and class use room annotation as you see in below:

[code]

why when I want to pars my class i get error:
[code]

thanks

[2021-02-28 18:40] thiagodnf opened #3119 "Partial SymbolSolver for Map/HashMap"
Hello everyone,

I am trying to use the SymbolSolver to resolve `Map<String, CloneFailedException>`. The problem is because `CloneFailedException` comes from a library that I didn't include (in fact, I don't want to include it), so JavaParser is throwing an exception about the missing of this class.

I would like to know if it is possible to resolve just "Map" and "String"? In other words, is it p

[2021-02-28 21:33] IjazAhmed opened #3120 "Instrumenting Java code"
// code before instrumentation test.java
public class test{
public void m (int a, b){
a=a+b;
b=a*b;
}
}

**Question:**
I traversed the file test.java (given above) with the help of ASTVisitor, and generated some assert statements as a String. Now, I want to instrument test.java code with the generated assert statements as shown below. Very specifically,  I am supposed to add assert statements at t

[2021-03-01 08:25] jlerbsc commented on #3120
Hi @IjazAhmed, Did you take some time to read this book https://github.com/javaparser/javaparser-visited ?

[2021-03-01 22:49] nareshgnT opened #3122 "How to add new method call in existing method call chain in return statement"
Thank you all for your efforts and this library is very useful.
[code]
`javaparser-core:3.18.0`
In the above code, I want to add another method `myNewMethod(Myclass.class)` after `.globalOperationParameters(getParameters())`. expected output as follows

[code]

I tried multiple options but nothing worked. The only way could be to get `ReturnStmt.getExpression.getChildNodes.add` but `getChildNodes`

[2021-03-02 11:47] jlerbsc commented on #3122
This operation is not as easy as it seems, may be this example can help you.

    @Test
    public void addingMethodCallExpr() {
        String code = "public class SwaggerConfig {\n" +
            "    @Bean\n" +
            "    public Docket api() {\n" +
            "        return new Docket(DocumentationType.SWAGGER_2)\n" +
            "                .select()\n" +
            "

[2021-03-02 13:01] jlerbsc commented on #3118
May be you have to define the annotation like this

    @Entity(tableName = \"user\", indices = {})

[2021-03-02 15:13] nareshgnT commented on #3122
Thank you @jlerbsc very much for your quick response, it worked like a charm!! Please close this issue.

[2021-03-02 15:55] #3122 closed, assigned to nobody

[2021-03-02 16:17] jlerbsc commented on #3120
This is an exemple of what you can do.

    @Test
    public void c() {
        String code = "public class Test {\n" +
                " public void m(int a, int b) {\n" +
                "  a=a+b;\n" +
                "  b=a*b;\n" +
                " }\n" +
                "}\n";

        CompilationUnit cu = StaticJavaParser.parse(code);
        MethodDeclaration md = cu.findFirst(MethodDeclara

[2021-03-03 05:02] esoftGithub commented on #3118
but that compiled correctly. (I want to check java files that already exist and dont want create them)

[2021-03-03 05:19] ghost opened #3123 "calculateResolvedType() for MethodCallExpr.getscope().get() is not responding"
I'm analyzing the callees inside a given method and using the following snippet to get the classes declaring the callees.
[code]

However, calculateResolvedType() is not responding when resolving the following method call statement.
[code]
The output is:
[code]
There aren't any warnings and errors.
All libraries have been included in the path, and everything is ok for other methodcallexprs, such a

[2021-03-03 05:20] ghost commented on #3123
I've been waiting for half an hour and it still hasn't responded.

Any help is appreciated. Thanks in advance.

[2021-03-03 07:51] jlerbsc commented on #3118
I don't know if it's a correct syntax but you can see an example (declaration and usage) in

    https://docs.oracle.com/javase/tutorial/java/annotations/declaring.html

or

    https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-AnnotationTypeBody (see Endorsers annotation)

[2021-03-03 08:00] jlerbsc commented on #3123
Please can you provide us a simple test case to reproduce this issue?

[2021-03-03 09:32] IjazAhmed commented on #3120
Thank you for your detailed help. The guided example modifies the AST only, and changes are not reflected in the source code. So, if I want to persist the changes in source code, what should I do. Once again, thank you for your help.

[2021-03-03 09:36] jlerbsc commented on #3120
You are right this example show you how to insert assert statement in your compilation unit. You have to write this result in the java source file probably using the LexicalPreservingPrinter.

[2021-03-03 09:36] #3120 closed, assigned to nobody

[2021-03-03 11:47] ghost commented on #3123
@jlerbsc Thank you for your prompt reply.

Please find the test-case from my GitHub [repo](https://github.com/liuyuanOUC/test-case), and run the `MethodSolver.java` which analyzes the Traccar software.

You can get the following result:
![image](https://user-images.githubusercontent.com/27879832/109797891-06053100-7c55-11eb-8425-4cc624cafaf9.png)

The exception occurs in line 201 in `traccar-4.6/s

[2021-03-03 13:41] jlerbsc commented on #3123
There is no issue with this simple test case. Can you use this simple test case to reproduce your issue?

    @Test
    void issue3123() throws IOException {
        Path pathToJar = Paths.get("D:\\tmp\\test-case\\dataset\\traccar-4.6\\lib\\netty-all-4.1.39.Final.jar");
        ParserConfiguration config = new ParserConfiguration();
        CombinedTypeSolver cts = new CombinedTypeSolver();

[2021-03-04 00:32] ghost commented on #3123
@jlerbsc Thank you. It works. But I want to test it using the whole project which contains multiple source files and depends on multiple jars.
So how can I set the path (a directory) for `JarTypeSolver ` and `StaticJavaParser`?
I previously set it up using the following, but would have the problem of no response as mentioned above.
[code]

[2021-03-04 09:37] jlerbsc commented on #3123
Hi @liuyuanOUC, i do not recommend you to use StaticJavaParser (it's mainly for test purpose).
SymbolSolverCollectionStrategy  find all libraries and java source files and configures itself automatically. So this code snippet does the job

    String ROOT_Directory = "/Users/liuyuan/Downloads/dataset/traccar-4.6";
    Path rootPath = Paths.get(ROOT_Directory);
    SymbolSolverCollectionStrategy sy

[2021-03-04 12:06] vinaysshenoy commented on #2760
@vjjangid I am attempting to do something similar. Where you able to figure out how to do this using javaparser?

[2021-03-04 13:11] vinaysshenoy commented on #2760
Thank you for the reply! I was able to solve by problem by searching Github issues and found what I needed in https://github.com/javaparser/javaparser/issues/1373.

[2021-03-04 17:44] MysterAitch commented on #3120
You are correct that it is an in-memory change, not affecting the file on disk.

The `SourceRoot` object has a method `save` that allows you to save the compilation unit to disk. Whether you have direct access to it will depend on how you've setup your parsing.

Alternatively, you can use one of the `printer` classes to convert the source code to a string and then manually write the string to a fi

[2021-03-04 18:47] #3094 closed, assigned to nobody

[2021-03-04 20:15] cargaji opened #3128 "ResolvedValueDeclaration#isType() throws an exception when the value is resolved to a Parameter"
Hi! I'm using JavaParser to create a [program slicer for Java](/mistupv/JavaSDGSlicer), and I think I found a bug.

Most implementations of `ResolvedValueDeclaration#isType()` return either `true` or `false`, but `JavaParserResolvedParameter` throws an exception. Is this the expected behaviour? What check should be performed to avoid the exception when calling `isType()`?

[2021-03-04 20:19] #2708 closed, assigned to nobody

[2021-03-04 20:42] MysterAitch commented on #3128
Looks like an interesting program @cargaji ! :+1:

I can't find `ResolvedValueDeclaration#isType()` or `JavaParserResolvedParameter` -- could you double check these for typos?

[2021-03-05 01:00] ghost commented on #3123
@jlerbsc Thank you for your reply.

I tried your code snippet on Mac (OPENJDK-16 and Javaparser-3.19.0 ) and Windows (JDK15 and Javaparser-3.19.0 ). Unfortunately, it doesn't work because of unable to find jars.

On Mac, it can run. But when it encounters a Type declared in a third-party Jar, it will throw an exception:
[code]

On Windows, it will check for all dependencies immediately on startup,

[2021-03-05 02:07] 4everTheOne commented on #3128
Hello! Is it related with `JavaParserParameterDeclaration`?

I can confirm there was an issue with the code of `JavaParserParameterDeclaration` that force the throw of `UnsupportedOperationException` instead of returning the default `false`. 👍
https://github.com/javaparser/javaparser/commit/a7128210025323a9dbb9a3f20f71fef0a59fc980#diff-61ccf1ba5988e12d1ffa20f3302dbbab7edf0db5a2c5bda9dd3da5151cf819

[2021-03-05 07:38] jlerbsc commented on #3123
Considering that the library is configured correctly, i think the NotFoundException is related to this issue # 1771. I'll push a fix today but tests I realized yesterday showed that there were certainly other problems mainly related to performance (I think). We'll see if this happens in your environment. I have already made small improvements in the version under development after analyzing how yo

[2021-03-05 08:10] ghost commented on #3123
@jlerbsc Thanks again~
Hope everything goes well!

[2021-03-05 08:23] cargaji commented on #3128
Yes, it is `JavaParserParameterDeclaration`, it seems I'm on 3.17.0 still, and browsing through the repo I found the current implementation without the `throw new UnsupportedOperationException...`. Looks like time to update to 3.19.0. Thank you!

[2021-03-05 08:23] #3128 closed, assigned to nobody

[2021-03-05 08:55] esoftGithub commented on #3118
thanks and sorry. that was kotlin syntax.

[2021-03-05 08:55] #3118 closed, assigned to nobody

[2021-03-05 09:09] esoftGithub opened #3135 "why this method without return type compiled?"
hello
int getMax() {}  // correct syntax is -> int getMax(){ return 3;}
this issue is also for int getMax();

thanks

[2021-03-05 09:31] jlerbsc commented on #3135
Can you clarify your problem please?

[2021-03-05 09:43] deadlocklogic opened #3136 "ThisExpr isn't resolved correctly when it is in the scope of an ObjectCreationExpr"
Test case:
[code]
This test fails with:
[code]
After a little digging the issue is really trivial and is related to this method:
https://github.com/javaparser/javaparser/blob/c6ea436d0d520f0526ed0294ffa02f3f76e39181/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/JavaParserFacade.java#L604-L616
In the same spirit, 1 similar functions requires to chang

[2021-03-05 09:52] esoftGithub commented on #3135
I want to read the classes and also check their syntax problems, but for example, in the User class, the getMax method does not have the correct syntax as mentioned above , but the following code works correctly:
**CompilationUnit cu = StaticJavaParser.parse(new File( "User.java"));**
**ClassOrInterfaceDeclaration myClass = cu.getClassByName("User").isPresent() ? cu.getClassByName("User").get() :

[2021-03-05 11:53] ghost opened #3138 "Can't find its parameter type declared in another jar file for a method declared in a jar file."
I'm trying to get the method signature using this one:
[code]

The test case above is:
[code]

In `SerializationConfig` class, there are multiple `without` method:
[code]
`SerializationFeature` is declared in `jackson-databind-2.9.9.jar`. `FormatFeature` and `JsonGenerator`( whose inner type is `Feature`) are declared in `jackson-core-2.9.9.jar`.

I get this exception:
[code]

[2021-03-05 13:02] ghost commented on #3138
Please find the attached (jackson-databind-2.9.9.jar & jackson-core-2.9.9.jar).
[libs.zip](https://github.com/javaparser/javaparser/files/6090608/libs.zip)

[2021-03-05 13:26] ghost opened #3139 "Can't find the Type extended by an inner interface of a class declared in a jar file"
In the following case, `ServletContextHandler` is declared in a jar named `jetty-servlet-...jar`. `ServletContextHandler` contains an inner interface named `ServletContainerInitializerCaller` which extends a class named `LifeCycle`. `LifeCycle` is declared in `jetty-util...jar`.

I'm finding the method signature for a `methodcallexpr` using this code:
[code]

It throws an exception:
[code]

I thin

[2021-03-05 14:31] jlerbsc commented on #3138
Normally this issue was resolved this morning. Can you use the current snapshot and tell us if you have always this issue?

[2021-03-05 14:34] jlerbsc commented on #3139
There is no need to open issues for all the similar issues you may encounter. see #3138

[2021-03-05 14:34] #3139 closed, assigned to nobody

[2021-03-05 15:38] ghost opened #3140 "When resolve a MethodCallExpr, throws 'java.lang.UnsupportedOperationException'"
Test case:
[code]
The code `str` comes from traccar-4.6's `SecurityRequestFilter.java` file, line 108.

The jar is attached here.
[jakarta.annotation-api-1.3.4.zip](https://github.com/javaparser/javaparser/files/6091521/jakarta.annotation-api-1.3.4.zip)

[2021-03-05 17:01] jlerbsc commented on #3140
It's because there are functions which are not implemented when resolving an annotation from a library. Here JP tries to find the ancestors of the annotation and there is no implementation for the moment. I will try to add the implementation this weekend

[2021-03-05 17:17] 4everTheOne commented on #3140
I can confirm the issue. I reproduced the issue and implementing the method for `JavassistAnnotationDeclaration` fixed it. @jlerbsc do you mind if i submit the PR?

[2021-03-05 20:22] jlerbsc commented on #3140
I don't understand if I take the time to analyze the problem why are you doing the same?

[2021-03-05 20:34] 4everTheOne commented on #3140
I just asked if you didn't mind, because I started to take a look at it before doing any comment on the issue because I was not sure if i was able to solve it. But during the process I manage to understand it and implement a fix for it. After that I saw your message and I asked if you didn't mind, because i don't want to waste your time on it.

I'm sorry about this, I should have written a message

[2021-03-05 21:52] MysterAitch commented on #3135
JavaParser is primarily a parser / resolver, not a compiler. Given this, JavaParser is more permissive than e.g. javac would be.

See the grammar and the validators for details about what JavaParser specifically checks for.

The other substantial factor to bear in mind is that JavaParser also deals with partial / modification-in-progress syntax trees.

What I mean by this is that we might create a

[2021-03-05 22:09] MysterAitch commented on #3119
Not to my knowledge.

There might be workarounds like providing a stub for the other library's classes (variable feasibility -- e.g. just a couple of classes vs a whole library), but this isn't something I've personally tried so your feedback here would be appreciated!

[2021-03-05 22:12] MysterAitch commented on #3117
Apologies I didn't reply sooner!

Really glad you got it sorted in the end :+1:

[2021-03-05 22:12] #3117 closed, assigned to nobody

[2021-03-06 00:51] ghost commented on #3140
@jlerbsc @4everTheOne Thanks for your attention and help.

[2021-03-06 13:31] f71uday opened #3143 "JavaParser Position API should provide a method to return first position and last position from a list of positions"
Java Parser Position API should provide a method to compare a list of position and tell which position appears first and which position appears last

 public Position firstPosition(List<Position> positions);

public Position lastPosition(List<Position> positions);

**this help in finding the uses of NameExpr and SimpleName**

[2021-03-06 20:21] MysterAitch commented on #3143
You might find `PositionUtils` of interest - that has some helper methods which could help you.

I also see that `Position` implements `Comparable` - you can use a sorted collection of positions to figure out first / last.

Hope this helps, but feel free to post again if you need a bit more.

[2021-03-07 13:45] f71uday commented on #3143
HI @MysterAitch  `PositionUtils` fits right

Thank you so much for helping Out !!!

[2021-03-07 13:47] MysterAitch commented on #3143
Wonderful! 🤗🤗

[2021-03-07 13:48] #3143 closed, assigned to nobody

[2021-03-07 14:52] renovate[bot] opened #3146 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/javaparser/javaparser).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Open

[2021-03-07 15:43] #2717 closed, assigned to navkumar258

[2021-03-07 16:20] MysterAitch opened #3147 "JUnit Pioneer v1 issues"
Looks like I was wrong -- I'll revert the commit shortly.

Specifically, note that this update causes the tests to fail, but maven reports a pass:

[code]

_Originally posted by @MysterAitch in https://github.com/javaparser/javaparser/issues/3121#issuecomment-792304197_

[2021-03-07 16:26] MysterAitch commented on #3147
The tell-tale sign of this is that the build time dropped to <2mins which is abnormally short.

Additionally, the number of tests run drops to 0 -- iirc there is a surefire/maven configuration option available to fail when no tests run, but the pressing concern is to revert commit 1f586bb per PR #3121

[2021-03-07 17:56] MysterAitch commented on #1771
Apologies @jlerbsc -- looks like my bad merge earlier made the test suite (incorrectly) pass, which means I need to revert the PR in #3134 and reopen this issue.

See #3148 for the PR where this revert is happening.

[2021-03-07 18:16] jlerbsc commented on #1771
Hi @MysterAitch could you tell me why did you revert "Use a singleton javassist classpool to fix issue #1771 and all related issues #362 and #1851". Is there a problem with this modification?

[2021-03-07 18:24] MysterAitch commented on #1771
Yes, of course @jlerbsc -- apologies I didn't include more of a description before.

See the two commits within #3148 -- note that the build/test for first commit (which reverts only the junit pioneer change) fails, but it passes after _also_ reverting #3134

I didn't get very far with debugging, but there was strange behaviour when testing locally that I suspect to be related to singleton/static

[2021-03-07 18:39] MysterAitch commented on #1771
@jlerbsc -- I have just added more detail within #3134 , and I am about to merge #3151 which will (hopefully) prevent maven from (misleadingly) building successfully when tests are not run

While I am reasonably confident in my interpretations of the logs, Please do correct me if I have misunderstood anywhere! :+1:

[2021-03-07 19:41] jlerbsc commented on #1771
It's strange because all tests passed in my environment.
To resolve the exception "org.junit.platform.commons.util.UnrecoverableExceptions" i had to downgrade the junit-jupiter- * dependency version

[2021-03-07 20:04] #3071 closed, assigned to nobody

[2021-03-07 20:19] MysterAitch commented on #1771
@jlerbsc - Sounds like I might have been mistaken in my haste to get a release prepared, sorry!

Could you try submitting it again, perhaps?

I don't mind doing it but want it (correctly) attributed to you :+1:

[2021-03-07 21:06] #2991 closed, assigned to nobody

[2021-03-08 07:20] ghost commented on #3138
@jlerbsc Hi, this issue may still exist. I'm using the latest JavaParser (3.20.0), but it also throws the above errors.
[code]
Is there any setting should I perform? Thanks.

[2021-03-08 07:25] jlerbsc commented on #3138
Hi @liuyuanOUC there was a revert on this PR this weekend (beyond my control). I don't know exactly why? It seemed that this PR was blocking the build of the project. It's amazing. I will be looking more specifically at this in these days.

[2021-03-08 08:12] ghost commented on #3138
Hi @jlerbsc thank you for your efforts on this wonderful project, and your attention on this issue. Hope everything goes well.

[2021-03-08 09:00] jlerbsc commented on #1771
Hi @MysterAitch I don't know why i don't see the problem before i pushed the PR #3134 . It's my fault and now i understood what happens. Some tests fail because they load multiple versions of a library. This is the case for example of the JavassistClassDeclarationTest class.

[2021-03-08 09:20] jlerbsc commented on #1771
Now I fully understand the problem. The PR #3134 resolve the issue related to relation between librairies but i added A PR #3126 (commit 73e0428)  which should improve the performance of JP when trying to get the javassists definition of a class via the ClasspathElement.toCtClass () method. The modification consisted in creating a class (in the javassists sense) only when it did not exist. However

[2021-03-08 13:23] MysterAitch commented on #2762
My feeling/preference is to wholly avoid shared state (including statics/singletons) wherever possible, which aligns with @maartenc 's comments above.

This might be a naive assumption (still catching up on all of the threads), but does a `CombinedTypeSolver` not work when provided with multiple JARs?

My (naive) understanding is that including multiple solvers within a `CombinedTypeSolver` is ana

[2021-03-08 13:31] maartenc commented on #2762
I think the problem with solver2 is that the JarTypeSolvers don't share the same javassist ClassPool. This can give issues if a class A in foo.jar for instance extends a class B in bar.jar. In that case, the first JarTypeSolver cannot find the superclass B through javassist (which is the root cause of the problem in my opionion because JavaParser shouldn't use javassist in the first place to find

[2021-03-08 14:39] MysterAitch commented on #2762
A few more test cases / descriptions of desired behaviour that completely ignores what JavaParser _currently_ does, instead focusing on what it _should_ be doing.

.... and lots and lots of questions to consider! :grin:

----

[code]

1. Trigger solving `a.b.c.Foo` as an interface of `Bar`
2. Fail, because `a.b.c.Foo` isn't defined within the same JAR as `Bar`
3. (catch the failure/error and) Esca

[2021-03-08 15:15] maartenc commented on #2762
I think order is important: just like the java compiler/runtime takes the first class on it their classpath, JavaParser should do the same.
So solver4 should take the one from foo2.jar. Solver5 should work without a problem.

The issue here is caused because we use constructs like `CtClass.getSuperClass()` and `CtClass.getInterfaces()` at several locations, instead, we should use the typesolvers t

[2021-03-08 15:43] MysterAitch commented on #2762
I agree :+1:

There might be a good reason it can't happen, but if there turns out to be a good reason to use `CtClass.get...` but could we not just catch the exception and _then_ retry using alternative typesolvers?

Note that both methods mentioned [throw `NotFoundException` ](http://www.javassist.org/html/javassist/CtClass.html#getSuperclass()) when the superclass/interfaces can't be found.

_(

[2021-03-08 15:54] maartenc commented on #2762
Agreed, if we catch that exception and retry finding the type with the TypeSolvers.
Although probably not 100% correct, I think it will be good enough for almost all JavaParser use cases.

[2021-03-08 15:56] MysterAitch commented on #2762
Let's aim for 100% correct! :+1:

[2021-03-08 16:04] maartenc commented on #2762
Well, the 100% correctness is always to use the TypeSolvers I'm afraid, probably losing some performance. (maybe we should test this, it might be not an issue ?)

Consider this example:

CombinedTypeSolver solver = new CombinedTypeSolver();
solver.add(new JarTypeSolver("foo.jar")); // contains interface a.b.c.Foo
solver.add(new JarTypeSolver("foobar.jar")); // also contains interface a.b.c.Foo and

[2021-03-08 21:02] #3038 closed, assigned to nobody

[2021-03-08 21:19] jlerbsc commented on #1913
This does not seem to correspond to a bug but maybe it would be necessary to further document the best practices to modify a source code with JP. In this case we need to document how to change the type of a variable.

[2021-03-08 21:19] #1913 closed, assigned to nobody

[2021-03-09 07:44] #3135 closed, assigned to nobody

[2021-03-09 13:18] cargaji opened #3159 "JavaParserSymbolDeclaration is used to represent variables, but #isVariable() always returns false"
A simple example could be:

[code]

When applying `#resolve()` on the `NameExpr` that represents `a` in the condition for the `WhileStmt`, it returns a `JavaParserSymbolDeclaration`. This class reads in its javadoc that it should be merged with `JavaParserVariableDeclaration`. In the meantime, symbol declaration's `#isVariable()` returns `false` in all cases, but in this case (and possibly others)

[2021-03-09 14:32] jlerbsc commented on #3159
Hi @cargaji You are right. Thanks you for reporting this bug.

[2021-03-09 15:11] jlerbsc commented on #2762
You have debated this subject and raised a lot of interesting ideas. It is a pity that the creators of the project do not intervene to tell us what they wanted to put in place or what should be put in place.
Anyway even if I think that the most common case is solved using a single instance of Classpool and that the marginal case where we could have several versions of the same class is not, it see

[2021-03-09 17:57] #3159 closed, assigned to nobody

[2021-03-10 17:34] IjazAhmed opened #3162 "AST and Comments"
Lets assume,  the original code of ClassB is given below.

 public class ClassB {
	int b;
	/*@ public normal_behavior
	 @ requires a > 5;
	 @ ensures b == 16;
	@*/
	public  void test1 (int a) {
	   b=16; // This is my comment.

}
I am using "org.eclipse.jdt.core.dom.AST" to parse and modify classB. After modifying the original code (indeed AST), I saved the modified AST with the aid of "ICompilati

[2021-03-10 20:15] jlerbsc commented on #3162
Why did you parse and modify class with "org.eclipse.jdt.core.dom.AST". It's not a JP API.
Also it seems that in your example the Java Modeling Language syntax is not correct.

Comments and JML are preserved in the example below :

    @Test
    public void test1() {
        String code =
                "public class ClassB {\n" +
                " int b;\n" +
                " /*@ public normal_

[2021-03-10 21:34] #3080 closed, assigned to nobody

[2021-03-10 21:38] #2753 closed, assigned to nobody

[2021-03-10 21:40] #2742 closed, assigned to nobody

[2021-03-11 11:10] IjazAhmed commented on #3162
Thank you for your consistent support. I am also very close to achieve my goal, albeit with the aid of orthodox ""...core.dom.AST" :).  I googled the jar file for "StaticJavaParser", but I could not find a one. Can you please direct me to the link of the jar file?

Regards

[2021-03-11 11:27] 4everTheOne commented on #2762
Looking into the issue, I think maartenc has a point when he says that sharing a ClassPool could solve the problem.

Based on that principle I got a suggestion for the implementation, but not sure if it's simple to use for the end user. The ideia is to add a "special" combined type solver (that i'll call it `SharedClassPoolTypeSolver`) that can only accept `JarTypeSolver's`. This type solver has a

[2021-03-11 12:43] jlerbsc commented on #2762
With a solution of this type, users must know the dependencies between libraries, hoping that this does not raise other issues.

[2021-03-11 12:49] jlerbsc commented on #3162
StaticJavaParser is a JP class mainly uses in tests. You cannot use StaticJavaParser with another parser . What is this project org.eclipse.jdt.core.dom.AST ? Why did you use org.eclipse.jdt.core.dom.AST and Javaparser at the same time? I don't really understand what you are doing? Can you explain to us what you want to do from JP?

[2021-03-11 13:16] IjazAhmed commented on #3162
In my post, "org.eclipse.jdt.core.dom.AST" means JDT APIs. I am not using JDT APIs and JP API at the same time. Currently, I programmed the application by using JDT APIs. But I too want to explore JP APIs, so that in future I may port my application to JP, if required. Anyhow, thank you for your guidance regarding  StaticJavaParser and JP.

Regards

[2021-03-11 13:20] jlerbsc commented on #3162
Interesting. What is the pros and cons of JDT APIs (versus JP or another solution)?

[2021-03-12 00:38] ghost opened #3164 "Contruct the CFG for a give method"
Hi, I’m trying to get the customized types (i.e., classes, interfaces, and enums) in a statement.
For example, line 3 is expected to return types that are referenced or used: C1 and C2.

[code]

Because I concern the appearance order of types. So I first construct the CFG (flow-sensitive and path-sensitive) for a given method; then I extract the declaring types of variables and methods for each no

[2021-03-12 14:36] WanliZhong commented on #3113
Our group try to solve this problem and would like to get some advice. Thank you! @jlerbsc

SE_SUSTech

[2021-03-13 14:00] jlerbsc commented on #3113
Maybe there is a parsing issue or LexicalPreservingPrinter issue. We can reproduce this with this unit test.

    @Test
    public void issue3113() {
        StaticJavaParser.getConfiguration().setLanguageLevel(ParserConfiguration.LanguageLevel.JAVA_12);

        String originalSourceCode = "public class HelloWorld {\n" +
                "  public static void main(String[] args) {\n" +

[2021-03-13 22:11] 4everTheOne commented on #2762
Yes, you right. That may bring more problems than what it solves.

Taking a fresh look at it, and like corradomio has mentioned the issue is related with the USE `ctClass.getSuperClass()` and `ctClass.getInterfaces()` when we need to check if the supper class is assignable by another. The ideal workaround for it (which have also been mentioned by corradomio) would be to solve on type solver instea

[2021-03-13 22:18] maartenc commented on #2762
Yes, I'm trying that approach now.
See #3167 (still work in progress)

[2021-03-14 08:25] #1950 closed, assigned to ftomassetti

[2021-03-14 11:19] IjazAhmed commented on #3162
sure. I will write once my study complete.

Regards
Ijaz

[2021-03-14 11:19] #3162 closed, assigned to nobody

[2021-03-15 03:14] audreyseo commented on #2738
Hello, I think I have the exact same problem as @SunilDC. Here are two test classes, which I minimized a lot (originally the type parameter `C` in class `B` also extended `Comparable<C>`. It is actually necessary though for the type parameter `K` to extend `Comparable<C>` to reproduce the bug, at least on my end.)

[code]

[code]

Here is the code that I was running that exposes the bug (imports o

[2021-03-15 03:20] audreyseo commented on #2738
(Pinging @jlerbsc just in case, since I know this is a bit of an old issue.)

[2021-03-15 03:27] audreyseo commented on #2738
Hmm, on re-reading @SunilDC's original posts, perhaps my issue is a bit different since it has nothing to do with subclassing and overriding methods, and instead seems a little bit more related to type parameters that need to be superclasses of some other type. If need be, I can submit another issue.

[2021-03-16 11:01] maartenc commented on #3138
Hi @liuyuanOUC , I don't know if it is possible for you to test if the PR #3167 solves your problem?

[2021-03-16 13:08] ghost commented on #3138
@jlerbsc Thanks for letting me know. I'm testing it.

[2021-03-16 13:17] maartenc commented on #3140
PR #3167 also contains a fix for this

[2021-03-16 13:41] ghost commented on #3138
thank you @jlerbsc Well done. It works.

[2021-03-16 13:45] ghost commented on #3140
@jlerbsc well done, thank you. And I'll close this issue.

[2021-03-16 13:46] #3140 closed, assigned to nobody

[2021-03-16 13:46] #3138 closed, assigned to nobody

[2021-03-16 15:09] jlerbsc commented on #3138
@liuyuanOUC I had nothing to do with it, it was maartenc who made the change ... so thank you @maartenc ;-)

[2021-03-16 15:11] jlerbsc commented on #3140
Thank you @maartenc ;-)

[2021-03-16 18:00] jlerbsc commented on #2738
@audreyseo we do not have enough information to know if the 2 cases are identical or not. In the absence of a real test from @SunilDC case we will assume that these are the same problems. However your example does not compile but perhaps you would write that (see type parameter in class B).

    public class A<K extends Comparable<K>> {
        public void doNothing() {
            System.out.prin

[2021-03-16 18:08] jlerbsc commented on #2738
@maartenc @MysterAitch i think this issue is caused by the fact that when determining whether one ResolvedTypeVariable is assignable by another, JP compares the name of the variable types. In the example it compares K and C instead of comparing, in the case of an upper bounded type, the types of the variables (here Comparable). But I am not sure of my analysis.

[2021-03-16 19:33] #1615 closed, assigned to ftomassetti

[2021-03-16 19:39] #2761 closed, assigned to nobody

[2021-03-16 19:39] #2762 closed, assigned to nobody

[2021-03-16 19:40] #1771 closed, assigned to ftomassetti

[2021-03-16 21:57] maartenc commented on #3123
I think this issue has been fixed by #3167 as well.
Feel free te reopen it if that is not the case.

[2021-03-16 21:57] #3123 closed, assigned to nobody

[2021-03-18 01:28] ghost commented on #3140
@maartenc thank you.

[2021-03-18 01:30] ghost commented on #3123
@maartenc thank you for your effort.

[2021-03-18 10:45] dimizisis opened #3171 "Using resolve() method in multithreading context"
I would like to be able to resolve symbols (ClassOrInterfaceDeclaration or MethodDeclaration etc.) in a multithreading context. As I've seen in some issues posted, there is a possibility of declaring a SymbolSolver for each thread. Is there any example code to be guided with? I tried declaring a symbol solver for every thread (inside my Visitor class) and tried using resolveDeclaration() method, b

[2021-03-18 11:31] MysterAitch commented on #3171
I do see talk of people doing it, though the official position is that support for using JavaParser across multiple threads is explicitly not supported/encouraged.

_(i.e., if it works then that is great, but there are no promises/warranty/guarantees etc!)_

That said, we are open to making changes to improve on this and having discussions / recommendations.

[2021-03-18 12:52] maartenc commented on #3171
Since some recent changes, StaticJavaParser isn't suitable to use in a multithreaded environment this way.
You have to create your own JavaParser instance and reuse it accross your threads.

[code]

[2021-03-19 22:40] deadlocklogic opened #3173 "Add isAnnotation() and asAnnotation() methods for ResolvedTypeDeclaration"
This is a suggestion rather than an issue but it is a completion feature and should be very easy to add.
Add `isAnnotation()` and `asAnnotation()` methods for `ResolvedTypeDeclaration` and implement them accordingly in `ResolvedAnnotationDeclaration`.
In `ResolvedTypeDeclaration`:
[code]
In `ResolvedAnnotationDeclaration`:
[code]
I can submit a short PR if you want.
Thanks.
By the way, I have 2 su

[2021-03-20 06:44] zhangziqiang1 commented on #2990
This problem has been resolved in 3.20.0.

[2021-03-20 06:44] #2990 closed, assigned to nobody

[2021-03-20 15:02] #3136 closed, assigned to nobody

[2021-03-20 16:30] #3090 closed, assigned to nobody

[2021-03-21 10:55] MysterAitch opened #3176 "Generate the changelog"
At the moment I populate the changelog manually each release based on the closed PRs for that version/milestone.

@jlerbsc gave a kind nudge that this kind of work could/should be automated, so here's an issue to track this! :+1:

It will also help to avoid silly errors on my part such as #3155 :laughing:

[2021-03-21 11:14] MysterAitch commented on #3176
I have no doubt that there are likely better options available :sweat: but the [Spring Github Changelog Generator](https://github.com/spring-io/github-changelog-generator) is the project/tool that I intend to be run with for this. Specifically, [my fork of it]( https://github.com/spring-io/github-changelog-generator) that is much more configurable and whose output can now be configured to match th

[2021-03-21 11:44] maartenc commented on #3176
I didn't specify the milestone when merging PR's last week, does this mean these PR's will not be listed in the changelog?

[2021-03-21 12:04] MysterAitch commented on #3176
It's fine - when preparing a release I go through and add the merged PRs (and associated issues) to the "next release" milestone -- the "recently updated" sort and scanning down for merged PRs that don't have a milestone is easy enough to work through :+1:

![image](https://user-images.githubusercontent.com/1537214/111904235-c0f74200-8a3d-11eb-953e-17ac3e270dc7.png)

See here for the Issues/PRs ne

[2021-03-21 14:20] MysterAitch commented on #3147
Turns out that despite the fuss, we're not actually using JUnit Pioneer :scream:

Let's remove it! :-1:

[2021-03-21 14:43] #3147 closed, assigned to nobody

[2021-03-21 23:42] #3086 closed, assigned to nobody

[2021-03-22 08:26] zhizhixiongxuwei commented on #3164
据我所知应该没有，如果想要CFG等信息可能用wala会好点？

[2021-03-22 08:27] jlerbsc commented on #3164
Building a cfg (control flow graph) is not a trivial task but it can be done from the AST.

[2021-03-22 08:31] jlerbsc commented on #3119
Hi @thiagodnf if @MysterAitch answered your question can you close this issue please?

[2021-03-22 08:39] jlerbsc commented on #3116
Answers have been given to these questions. I'm closing this issue but you can reopen it if you want more information.
For the first question the message " The parent of this TypeSolver cannot be itself."  seems to be explicit enough. It doesn't make sense to create a solver-like hierarchy that reference each other. It would certainly produce an infinite loop.

[2021-03-22 08:39] #3116 closed, assigned to nobody

[2021-03-22 08:44] jlerbsc commented on #3164
@zhizhixiongxuwei can you use english to answer this would allow everyone to understand your answer.

[2021-03-22 09:57] ghost commented on #3164
@jlerbsc thank you. I think so, I'll close this issue.
@zhizhixiongxuwei thank you. I'll try Wala. (我抽空瞧瞧，谢谢老哥)

[2021-03-22 09:57] #3164 closed, assigned to nobody

[2021-03-22 11:36] zhangziqiang1 opened #3181 "In some scenarios, version 3.20.0 of type resolution differs greatly from version 3.15.13."
[JavaParserSample3.zip](https://github.com/javaparser/javaparser/files/6181800/JavaParserSample3.zip)

I provided HTML Schema test cases in Java Parser Sample 3. I tested them using 3.20.0 and 3.15.13, and the performance difference was dozens of times.

use 3.20.0 version
[code]

use  3.15.13
[code]

[2021-03-22 11:41] zhangziqiang1 commented on #3181
@Col-E Seems a little like [https://github.com/javaparser/javaparser/pull/3072](https://github.com/javaparser/javaparser/pull/3072)

[2021-03-22 13:03] MysterAitch commented on #3181
@zhangziqiang1 -- could you comment on whether you consider the behaviour before or after to be more correct? i.e., are you reporting a bug?

[2021-03-22 13:20] Col-E commented on #3181
It could be the case that a similar design pattern is being used elsewhere, I only noticed it in the place I did because I had a use case where it was very obvious to me.

Edit: Oh I peeked at the sample source, I see what this issue is showing now. And yeah, I am almost 100% sure its an issue in the same vein as #3071

I can investigate a fix later today. I'm hoping that the [secondary item](http

[2021-03-22 14:00] MysterAitch commented on #3048
I've just added a couple of comments on the PR ~about the process (deprecated first vs remove immediately - I have no strong views)~, but the content seems good :+1:

[2021-03-22 16:18] #3048 closed, assigned to nobody

[2021-03-22 18:39] mfarsikov opened #3183 "Method call resolution fails with `UnsolvedSymbolException` if passed parameter is a list of two or more elements"
I'm using Javaparser `3.18.0`.
The file to parse `src/test/resources/MyClass.java`:
[code]

The parser (in Kotlin):
[code]

In the attempt to resolve the method call it fails:
[code]

But if in parsed file list consists of a single element:
`Files.write(null, Arrays.asList("", ""));` -> `Files.write(null, Arrays.asList(""));`
it is solved correctly.

[2021-03-22 20:46] deadlocklogic opened #3184 "Unable to get the resolved type of class ResolvedReferenceType from T"
[code]
Basically the bug appears when trying to resolve a type argument. I still have many tests which fail on this subject involving different resolution but I hope they will get resolved when this bug gets fixed.
Otherwise I will fill a separate issue.
I will try to submit a PR after some code analysis.
Thanks.

[2021-03-22 23:52] deadlocklogic commented on #3184
Actually the problem is pretty easy but the solution is kinda tricky because the API might need to change slightly.
Type arguments are stored as `ClassOrInterfaceType`, but when `ClassOrInterfaceType` are resolved they expect a `ResolvedReferenceType` or throw an `UnsupportedOperationException`.
https://github.com/javaparser/javaparser/blob/21928852fcb3e5509abf456ebd7106bcbb77c578/javaparser-core/

[2021-03-23 00:33] deadlocklogic commented on #3184
Actually, I was able to easily fix this issue but my solution is quite ugly.
I introduced a method in `Type` class:
[code]
and instead of calling `resolve` on type arguments now I call `resolveWithTypeArgument`, I know it is ugly but it works.
After searching the issue list a bit, I believe that this bug was reported before.
Any better solution?

[2021-03-23 00:53] deadlocklogic commented on #3184
Still this solution is naïve because it doesn't solve further issues like this next one which is kinda weird (Why the first test in method1 even passes!):
[code]

[2021-03-23 01:11] zhangziqiang1 commented on #3181
This is not a mistake, this is a performance issue. @MysterAitch

[2021-03-23 02:46] Col-E commented on #3181
Just confirmed the secondary item does significantly cut down on the time to resolve nodes in the provided demo.

Before: ![image](https://user-images.githubusercontent.com/21371686/112087067-b20aaf80-8b63-11eb-9ad5-d1953f16605e.png)

After: ![image](https://user-images.githubusercontent.com/21371686/112087142-cf3f7e00-8b63-11eb-931c-f7014e1ef821.png)

I'll run a full test of the resolve core to e

[2021-03-23 03:37] Col-E commented on #3181
Opened a PR to address this #3185

Edit: I apparently misjudged the layout o this code and its similarity to the #3072 case, but its still a relevant PR. Further below is a proper fix for this issue.

[2021-03-23 06:13] zhangziqiang1 commented on #3181
[JavaParserSample4.zip](https://github.com/javaparser/javaparser/files/6187279/JavaParserSample4.zip)
@Col-E The performance of this case is limited by the number of lines of code in the same block, which does not seem reasonable.

[2021-03-23 06:21] zhangziqiang1 commented on #3181
This should be a similar case.

[2021-03-23 10:09] zhangziqiang1 commented on #3181
@Col-E For JavaParserSample3.zip, local validation shows no significant performance improvement.

[2021-03-23 11:26] Col-E commented on #3181
@zhangziqiang1 I'll take a look at these too

[2021-03-23 11:37] zhangziqiang1 commented on #3181
I find that most of the time is spent on this, and I'm still working on the details. @Col-E [https://github.com/javaparser/javaparser/commit/0dc492a8653c197b8fc5b32c378993763c99e3a7](https://github.com/javaparser/javaparser/commit/0dc492a8653c197b8fc5b32c378993763c99e3a7)

[2021-03-23 17:21] Col-E commented on #3181
Ok so if we copy the resolve logic from `StatementContext` into `BlockStmtContext` it resolves the items from 0dc492a8653c197b8fc5b32c378993763c99e3a7 in a fraction of the time, again it scales with the type of input. A long flat scope like the attached case will trigger it moreso than some average code.

Before:
![image](https://user-images.githubusercontent.com/21371686/112189989-f4230800-8bda-1

[2021-03-23 17:33] Col-E commented on #3181
I was going to put up a PR but it looks like @jlerbsc beat me to it with #3189
His PR achieves similar performance.

#3185 still has improvements for similar situations but not this explicit one _(Edit, meant 3185, not 3182. I've not looked at 3182 but a quick look over it looks like it's 👍 too)_

[2021-03-23 17:41] jlerbsc commented on #3181
Sorry for this intrusion but @zhangziqiang1 pinged me on this topic and I didn't know you had it in charge.

[2021-03-23 17:45] jlerbsc commented on #3181
@zhangziqiang1 to avoid this type of situation it is preferable that there is only one person who works on a topic. I understand that you are in a hurry but it is frustrating for a person to work on a subject and not be able to complete it.

[2021-03-23 17:50] Col-E commented on #3181
All good 👍

The only thing I'd add to the test cases here is some generation of arbitrary variable declarations to show the `O(n * n)` has been resolved. I included some of that in an updated 2477 test case and got the performance metrics I posted above. Your PR matches mine in terms of runtime speed on my modified test.

[2021-03-23 19:38] Col-E commented on #3119
If you do end up going with the stubbed classes approach, I'd recommend checking out [JPhantom](https://github.com/gbalats/jphantom). It can automate the process pretty easily for you. I have a fork open with some improvements and the artifact is tossed up on Jitpack if anything in the latest PR interests you.

[2021-03-23 19:43] #3173 closed, assigned to nobody

[2021-03-23 19:48] MysterAitch opened #3190 "Investigate code coverage issues"
Codecov is reporting some methods as being not covered (therefore indicating 0% patch coverage), but running the tests within the debugger with breakpoints on the relevant line shows that it is executed.

More info / example within #3187

[2021-03-23 19:52] MysterAitch commented on #3190
Some screenshots of the codecov "0%" patch coverage

![image](https://user-images.githubusercontent.com/1537214/112208988-e2f4ee00-8c10-11eb-8667-fc0a5df39d4a.png)

![image](https://user-images.githubusercontent.com/1537214/112209096-0029bc80-8c11-11eb-91d5-6150ee61ce49.png)

---

![image](https://user-images.githubusercontent.com/1537214/112209289-3404e200-8c11-11eb-8865-3c5e9c30f0f0.png)

---

!

[2021-03-23 19:57] jlerbsc commented on #3119
It seems to me that the approach of the JP project leaders has been to avoid as much as possible including external libraries but it is interesting to have this in mind.

[2021-03-24 01:12] zhangziqiang1 commented on #3181
Thank you both. I'm probably in a hurry. @jlerbsc @Col-E All good

[2021-03-24 01:19] timo-a opened #3191 "LexicalPreservingPrinter ignores change in Javadoc"
I want to change the Javadoc of a method but the change is ignored by `LexicalPreservingPrinter`

[code]
prints out:
[code]

I would expect LexicalPreservingPrinter to observe my changes.

[2021-03-24 01:22] #3181 closed, assigned to nobody

[2021-03-24 01:27] MysterAitch commented on #3115
Mostly yes -- with the need to move away from Jenkins, the integration with coveralls wasn't there any more.

I forget the rest of the rationale but this led to switching the codecov instead.

Perhaps we could do both? :)

[2021-03-24 01:36] MysterAitch commented on #3077
I'm not sure what it *should* return, but it's not _necessarily_ a type in the same way that a type isn't necessarily a class or interface (hence `ClassOrInterface`).

The problem seems to be caused by not knowing during the parse stage what the thing on the left hand side is (e.g., it could be `this` or a variable (`NameExpr`) or a type -- i.e. it's ambiguous.

I'll have a closer look after some

[2021-03-24 02:07] MysterAitch opened #3192 "Parity between the different JSS models"
At the moment we have multiple models within the symbol solver (iirc the reflection model, the jar one, and the javaparser (source code) one).

Not all areas are consistent with each other -- often rightly so -- but a quick audit doing a side by side comparison between the three would be helpful to identify any inconsistencies.

Documentation that cross references between them might be good too, b

[2021-03-24 03:55] deadlocklogic commented on #3192
Indeed, there are also many missing helpful methods which can be added to the API.
Btw I was studying `javaparser-solver` module a bit because I was dealing with many issues which I was trying to fix. There are plenty of weaknesses with the generic and anonymous classes resolution parts which need drastic changes. I made tons of various tests which fail. I believe the first step to write more rigo

[2021-03-24 04:19] deadlocklogic commented on #3192
Actually, I am including many of my own snippets of my side projects in my fixes (as I mentioned before, I am building a java transpiler and a refactoring tool). So I already got an almost drop-in-place PR for the first issue.
For instance imagine this situation:
[code]
The `InnerClass2` class inside the `ObjectCreationExpr` body `getFullyQualifiedName()` is `Program.InnerClass2` and insanely wron

[2021-03-24 07:22] jlerbsc commented on #3191
It seems there is no LexicalPreservingPrinter observer on comment but if you modify your code like this, the comment update is reflected

    //  md.getComment().get().setContent("new content");
    Comment comment = new JavadocComment("new content");
    md.setComment(comment);

[2021-03-24 10:55] jlerbsc commented on #3192
I think this example is an illustration of a bug in JP but if you put this description in this issue it will be difficult to manage this issue.
The actual problem in this case is that the TypeDeclaration.getFullyQualifiedName() try to compose the fqn from TypeDeclaration ancestor. The comment is explicit "Returns the fully qualified name of this type, derived only from information available in thi

[2021-03-24 14:08] deadlocklogic commented on #3192
Yes, I know that it is a bug, in fact there are plenty of bugs of this kind that I am facing mainly related to generic/anonymous and `ObjectCreationExpr` parts where the solver is relatively weak.
Objectively speaking the `new InnerClass1()` type in this case should be named `Program$1` and the inner class inside it should be named `Program$1$InnerClass2` not `"Anonymous-" + UUID.randomUUID()` and

[2021-03-24 17:56] deadlocklogic commented on #3113
It is a parsing issue.
After a little digging I found the offending part but I will leave it to the maintainers to fix the issue/create a PR.
Of course I can dig further, but maybe someone is already familiar with the parser/knows other corner cases.
Offending lines:
https://github.com/javaparser/javaparser/blob/890979ad9844e3e71df454e72ee102f9647846ee/javaparser-core/src/main/javacc/java.jj#L4355

[2021-03-24 23:21] thiagodnf commented on #3119
Thanks everyone for the comments and also @4everTheOne for trying to submit a pull request that tries to address my issue (in fact, you went beyond of my issue)

I think what you did @4everTheOne could be useful to me but, of course, I don't want to break the entire code. Regarding the stubbed classes, it looks also interesting but the problem is I don't know how to create stubs "dynamically" (it

[2021-03-25 02:43] deadlocklogic commented on #3183
I believe that this is a mix of an inference bug + maybe other bug (after a little analysis).
Actually consider this little related test:
[code]
The solved type is calculated as `java.util.List<T>` which is clearly wrong, it should be `java.util.List<java.lang.String>`.
Again, the generic part needs a lot of analysis/improvement.

[2021-03-25 04:28] deadlocklogic opened #3195 "Resolved methods in outer classes not inferred correcly"
Test case:
[code]
Test fails:
[code]
This issue might be the reason for many other active issues.

[2021-03-25 07:14] maartenc commented on #3183
Yes I think the bug is in `MethodCallExprContext`, the method `resolveMethodTypeParameters` doesn't handle varargs properly I think. I tried to fix it in #3194 by reusing some other code that resolves type parameters as well, but now some other tests fail. I'll try to look into this

[2021-03-25 07:24] maartenc commented on #3195
@deadlocklogic I think this is fixed by PR #3194 as well, could you try?

[2021-03-25 07:29] deadlocklogic commented on #3183
Yes as I remember correctly, the problem is exclusively when it tries to solve the usage of a `MethodCallExprContext` with a scope, otherwise the behavior is correct. So any calls to generic methods in outer classes will not be inferred correctly. I tried to create a patch but there is absolutely no documentation on any private methods called which is kinda frustrating and time consuming. So I hav

[2021-03-25 07:34] deadlocklogic commented on #3195
But this PR fails all tests, I don't think someone will touch it if at least it passes al the tests other than codecov maybe.

[2021-03-25 08:03] maartenc commented on #3195
Yes I know it fails, but it would be good to get an indication if we are looking at to right place in the code.
But never mind, I've tried it myself and your example works with the change in #3194 :-)
Now let's look why some other tests fail

[2021-03-25 08:11] deadlocklogic commented on #3195
As remember correctly, this snippet was offending in my case:
https://github.com/javaparser/javaparser/blob/491dcb9fadda45d3caa1633fa16fa6af70532a46/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/contexts/MethodCallExprContext.java#L100-L115
The inference wasn't working correctly on the `MethodUsage`.
Not sure other parts have any effect on this matt

[2021-03-25 08:19] maartenc commented on #3195
Yes, it is in the method `resolveMethodTypeParameters` which doesn't handle varargs correctly I believe

[2021-03-25 14:26] 4everTheOne commented on #3115
Oh ok, thanks for the explanation :)

Also just for curiosity, why is JP SS Core not included in Codecov analysis?

[2021-03-25 14:53] MysterAitch commented on #3115
Likely a mistake :+1:

[2021-03-25 20:45] oneturkmen opened #3198 "How to get annotation's annotations via AnnotationDeclaration or ResolvedAnnotationDeclaration"
My goal is to get the values of `@Target` and `@Retention` of some annotation from its annotation declaration.

For example, for the `@MyAnnotation` below,

[code]

I would like to get the value of `@Target`, which is `ElementType.METHOD`.

How can I do that given that neither [AnnotationDeclaration](https://www.javadoc.io/doc/com.github.javaparser/javaparser-core/latest/com/github/javaparser/ast/

[2021-03-25 21:35] MysterAitch commented on #3198
Hi @oneturkmen ,

It should be possible, and if it's not then there's a bug somewhere :grinning:

Annotations are tricky because there are a few different types:
[code]

Looking at the AST for your example, we can see that the annotation is a `SingleMemberAnnotationExpr`:
![image](https://user-images.githubusercontent.com/1537214/112543437-a6aac480-8dad-11eb-9bea-5eae62bf12f5.png)

In code we don'

[2021-03-25 21:48] MysterAitch commented on #3115
Thinking about it, this would explain #3190 if the symbol solver code always reports 0% coverage.

[2021-03-25 21:49] MysterAitch commented on #3190
It seems this might be due to codecov not picking up on symbol solver coverage result (hence symbol solver code always having 0% coverage).

[2021-03-25 21:54] MysterAitch commented on #3190
Update - definitely the case.

Looking through recent action runs, codecov isn't picking up the jacoco results for the symbol solver tests, but it does for the core tests (screenshots below).

Just need to figure out if this is because the file isn't created/written to, or if codecov isn't finding it.

![image](https://user-images.githubusercontent.com/1537214/112548721-934f2780-8db4-11eb-897b-144

[2021-03-26 09:30] zhangziqiang1 opened #3200 "The type is parsed in an anonymous internal class. The method calling with this is parsed. The parsing fails."
Consider this scenario

[code]
Invoking `resolve` on `getContext(Test.this);` I get the following error

[code]

[2021-03-26 10:33] MysterAitch commented on #3192
I cannot comment on it all, but I suspect that some of it will likely the result of "history" -- with different functionality being implemented at different times e.g. adding javassist later, once everything else was already implemented.

[2021-03-26 14:02] deadlocklogic commented on #3192
Yes most likely.
Still there is a major part which I missed talking about and which is immensely needed: improved documentations for symbolsolver, especially private methods because fixing a single bug might take days with the current situation. You need to dig every other methods (which most of them have similar naming and sometimes different functionality) and try to figure out what is the diffe

[2021-03-26 21:12] jlerbsc commented on #2145
@MysterAitch, @maartenc, It seems to me that in ResolvedReferenceTypeDeclaration the actual method getAllAncestors is a Depth First Search algorithm. Maybe the most natural algorithm is the breadth-first search. What do you think about this?

Actually (Depth First Search algorithm)

    default List<ResolvedReferenceType> getAllAncestors() {
        List<ResolvedReferenceType> ancestors = new Arra

[2021-03-26 23:58] nashid opened #3205 "Can JavaParser be used for static slicing?"
It appears JavaParser is more geared towards parsing. I am wondering whether JavaParser can be used for static program slicing?

If someone already did it using this library, would love to hear that as well.

[2021-03-27 00:06] MysterAitch commented on #3205
Could you expand a little on what you mean by static program slicing please?

[2021-03-27 00:16] nashid commented on #3205
@MysterAitch I was asking whether JavaParser would be a fit for performing static program slicing like forward slicing, backward slicing as an example.

https://en.wikipedia.org/wiki/Program_slicing

[2021-03-27 02:28] ghost opened #3207 "Bug Report: `java.lang.StackOverflowError` when analyzing a static method call expression"
I want to get the fully-qualified name of the type referenced in a method call expression. The core code is as follows:
[code]
When I analyze the following method within [PageData.java](https://github.com/unclebob/fitnesse/blob/master/src/fitnesse/wiki/PageData.java) of [fitnesse](https://github.com/unclebob/fitnesse):
[code]
I got an `StackOverflowError` error, described as follows:
[code]

The s

[2021-03-27 02:30] ghost commented on #3205
@nashid I have also been looking for an implementation of the slicing algorithm, I think Soot or Wala is more applicable.

[2021-03-27 02:38] ghost commented on #3207
I have tried the latest JavaParser version packaged by the master branch, it doesn't work.

[2021-03-27 07:15] ghost commented on #3207
In addition, by testing a single java file including `StringUtils.remove(content, '\r')`, I don't think it was caused by the conflicting jars feed to `JarTypeSolver `.

So I think this may be a bug.

[2021-03-27 13:36] MysterAitch commented on #3190
Multiple PRs here:

#3199, #3201, #3203, #3208

[2021-03-27 14:02] MysterAitch commented on #3190
The change within #3199 (and then re-implemented within #3208) is confirmed to now allow the jacoco test / coverage reports be produced. Without this, the file `jacoco.xml` fails to be produced.

Manually checking the reports via codecov.io shows that it now picks these up, and the code coverage increases accordingly.

[2021-03-27 14:02] MysterAitch commented on #3190
**Here is a screenshot of an arbitrary "older" commit, showing only javaparser-core**

![image](https://user-images.githubusercontent.com/1537214/112722714-05358700-8f03-11eb-8ffc-740c77b0a2ea.png)

**Here is a screenshot of #3208 "in progress" - note that it picks up the symbol solver code / directories now:**

![image](https://user-images.githubusercontent.com/1537214/112722825-8b51cd80-8f03-11e

[2021-03-27 14:08] MysterAitch commented on #3190
The problem which prompted the later changes/tests is that there are delays with having the 54 coverage reports to be received, merged together, AND THEN also update Github -- both the PR comment and the status check.

Also seen at : https://github.com/javaparser/javaparser/pull/3208#issuecomment-808737905

![image](https://user-images.githubusercontent.com/1537214/112722777-5180c700-8f03-11eb-857

[2021-03-27 14:09] MysterAitch commented on #3190
Cross-post: https://github.com/javaparser/javaparser/pull/3208#issuecomment-808738241

[2021-03-27 14:40] MysterAitch commented on #3190
I just posted to the codecov forums to see if they're able to assist:

~https://community.codecov.io/t/github-status-check-no-coverage-information-found-on-head-and-pr-comment-missing/2689~

~EDIT: Hmm, I've hit the spam filter! I shall give a little time and see what happens... As a new user, maybe my post must be manually approved?~
~![image](https://user-images.githubusercontent.com/1537214/112

[2021-03-27 19:09] MysterAitch commented on #3190
Per comment in #3208, the code coverage stuff is now being reported "fine", just the PR comments from the codecov app and the status checks to sort out.

This might self-resolve now that PR is merged and other (new?) PRs are created using this commit as a "base" (educated guess/speculation).

[2021-03-27 19:22] MysterAitch commented on #3190
A dump of screenshots for future reference re: #3208 :

![image](https://user-images.githubusercontent.com/1537214/112732333-33ca5680-8f31-11eb-8610-3c7628c32a0c.png)

![image](https://user-images.githubusercontent.com/1537214/112732360-670ce580-8f31-11eb-9b63-d783e47cb0d4.png)

![image](https://user-images.githubusercontent.com/1537214/112732356-5f4d4100-8f31-11eb-8f2a-232a0c264f3f.png)

![image]

[2021-03-27 19:30] MysterAitch commented on #3205
Based on my limited understanding, I believe that JP could be used to _implement_ program slicing, but JP itself doesn't currently have that feature.

If/when some call-graph analysis is implemented (i.e. not now) it may become easier in the future to do it.

I shall defer to the expertise of @liuyuanOUC and others who have explored this topic already re: recommendations for how best to achieve th

[2021-03-28 09:51] jlerbsc commented on #3205
https://en.wikipedia.org/wiki/Program_slicing

[2021-03-28 12:49] sniederm opened #3211 "JavadocParser public class?"
Shouldn't JavadocParser be a public class or did I miss something how to use it correctly?

https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/JavadocParser.java

BTW: Great work, keep going!

[2021-03-29 19:40] matozoid commented on #3211
Oh, I remember this one. Since the StaticJavaParser class acts as the main entrypoint for javaparser-core, it also has the entrypoint for parsing Javadoc: `StaticJavaParser.parseJavadoc`. If you reason that way, JavadocParser.parse(String) should *not* be public, and JavadocParser.parse(JavadocComment), hmmm, I thought that could be called from JavadocComment nodes, but it seems to be unused?

Oka

[2021-03-30 02:45] oneturkmen commented on #3198
Thanks a lot, it definitely helps!

[2021-03-30 02:45] #3198 closed, assigned to nobody

[2021-03-31 07:41] zhangziqiang1 opened #3214 "calculateResolvedType Type error"
Consider this case

[code]
 The current result is `ReferenceType{StrangerContactSettingsContract.View,typeParametersMap=TypeParametersMap{nameToValue={}}}，`
This result is wrong.

The correct result should be
`ReferenceType{View, typeParametersMap=TypeParametersMap{nameToValue={}}}`

[2021-04-02 06:59] tangyoucheng opened #3216 "LexicalPreservingPrinter add Wrong indentation when removing comments"
I'm using Javaparser 3.20.2.
correctly removing the comment double indentation are added before the field or the method.

[code]

[2021-04-02 12:13] abolfazl-sh opened #3217 "Add () as expression"
Hello. does it possible add a method to do like this:
`Expression e = new BodyExp(BodyExp.parentheses, cExpression);`
for example above code make any wanted expression(here it's "cExpression") in parentheses.
BodyExp can contain "()" (and maybe"{}").
thanks a lot.

[2021-04-02 12:35] jlerbsc commented on #3217
There is already a BlockStmt. Does it not meet your needs?

[2021-04-02 13:06] abolfazl-sh commented on #3217
I checked it. it's for adding {}. I need () too.

[2021-04-02 15:35] dimizisis opened #3218 "GetSourceRoots() does not return all source roots"
This happened only with apache's log4j (https://github.com/apache/log4j), I have never experienced this problem before. Here's the code I'm executing:

[code]
Where projectRootStr is the absoulute path to log4j's directory (Example: C:/Users/user/Desktop/log4j-trunk).

The size of list (sourceRoots) returned is 5, whereas the original size is much bigger. Am I missing something?

Thank you for you

[2021-04-02 16:03] #3171 closed, assigned to nobody

[2021-04-02 20:41] MysterAitch commented on #3217
I think I understand, but would appreciate you sharing an example to be sure.

Do you want to do this, for example?

[code]

What I recommend doing here is using JavaParser to create an AST of the before and after code, then compare to see the differences :)

This article may help:
https://javaparser.org/inspecting-an-ast/

As might this this plugin:
https://plugins.jetbrains.com/plugin/14245-java

[2021-04-02 20:47] MysterAitch commented on #3218
Thanks for the report - we'll have a look!

Out of curiosity, what source roots are you expecting and what is actually returned? Or, which ones are missing?

Cheers

[2021-04-02 20:49] MysterAitch commented on #3216
Thanks for the report @tangyoucheng !

[2021-04-02 20:54] MysterAitch commented on #3211
Not one I have an opinion on currently.

I know that there was work on the javadoc parser quite a while back but it mostly passed me by as I don't use it.

[2021-04-02 20:56] MysterAitch commented on #3207
Thank you for the detailed report @liuyuanOUC !

[2021-04-02 22:18] dimizisis commented on #3218
I'm getting:

1. SourceRoot at log4j-trunk
2. SourceRoot at log4j-trunk/contribs/Jamie Tsao
3. SourceRoot at log4j-trunk/contribs/CekiGulcu
4. SourceRoot at log4j-trunk/contribs/JimMoore
5. SourceRoot at log4j-trunk/contribs/ThomasFenner

I was expecting:

1. SourceRoot at log4j-trunk/src/main/javadoc
2. SourceRoot at log4j-trunk/src/performance/java
3. SourceRoot at log4j-trunk/src/main/java
4. S

[2021-04-03 06:26] abolfazl-sh commented on #3217
what I want is exactly what you say, but I didn't get your idea.
but I sure what you said don't help to modify AST . I want to make nested parentheses, something like below:
`((a + b) * ((x - y) + pow(x,2))) / (z * a)`
I have all the variables and I want to make above expression.(you know in fact I want to use parentheses to ordering some part of the code to use in future. it's a little hard to ex

[2021-04-03 09:32] matozoid commented on #3211
Yes, that was good work that needs to be picked up again, but it was far from finished.

[2021-04-04 10:42] matozoid opened #3219 "The stars have been mangled in the JavadocComment Javadoc"
`&#42;` doesn't seem to be something Javadoc understands: https://javadoc.io/doc/com.github.javaparser/javaparser-core/latest/com/github/javaparser/ast/comments/JavadocComment.html

[2021-04-04 19:43] 4everTheOne commented on #3217
Maybe [EnclosedExpr](https://www.javadoc.io/doc/com.github.javaparser/javaparser-core/latest/com/github/javaparser/ast/expr/EnclosedExpr.html) could help you with that.

You can do something like:
[code]

And the result would match the provided by MysterAitch.

[2021-04-05 11:22] abolfazl-sh commented on #3217
@4everTheOne, `EnclosedExpr` is exactly what I need. thanks a lot.

[2021-04-05 11:22] #3217 closed, assigned to nobody

[2021-04-05 12:13] MysterAitch commented on #3217
@abolfazl-sh - My comments above were a guide to export the parsed code as e.g. YAML or DOT for the "before" and "after", then compare the differences :+1:

Once you know the type of node that you are trying to create, it becomes easy :smile:

Here are some examples of the output you might see:

[code]
[code]

[code]

[code]

Here is a full class, output using a custom DOT format (makes it pretty

[2021-04-06 07:04] tangyoucheng opened #3223 "LexicalPreservingPrinter prints Wrong Import position when there is comment in the ClassOrInterface"
I'm using Javaparser 3.20.2.
Correctly add import in the ClassOrInterface  that there is comment.
LexicalPreservingPrinter prints wrong Import position.

[code]

[2021-04-06 23:19] #2897 closed, assigned to nobody

[2021-04-09 12:36] jlerbsc commented on #3223
Hi @tangyoucheng you are right it's mainly because Lexical preserving printer try generally to insert comments before to handle others elements. I can push a PR to solve this, but there is still a problem (there is no new line character between the inserted import and the javadoc comment. I don't have a solution to this yet and the printer code is very complex as there are so many different cases

[2021-04-10 00:52] ramidzkh commented on #3064
I've also encountered the same issue with https://github.com/MinecraftForge/MinecraftForge/blob/1.16.x/patches/minecraft/net/minecraft/block/AbstractBlock.java.patch#L18
It seems to actually be in the same form of the original issue report

[2021-04-10 06:01] abolfazl-sh commented on #3217
@MysterAitch, now I get you and thanks. I will use your idea in future.
and thanks again for Detailed answer.

[2021-04-10 09:53] matozoid commented on #3064
Aw, I guess there still is a hole in the grammar then... With a little luck it is nothing too special - write a few tests and modify the grammar a bit in exactly the right position. @MysterAitch knows best nowadays.

[2021-04-10 10:35] tangyoucheng commented on #3223
@jlerbsc
Thank you for your assistance.
Currently, there are few files to be modified,
so I have modified them manually.
Hope to find a perfect solution.

[2021-04-10 13:41] jlerbsc commented on #3223
OK, so for the moment i don't push anything to resolve this issue.

[2021-04-14 21:00] oneturkmen opened #3227 "Get annotations on reference types (class or interface)"
Hello,

I am parsing fields and their types, I would like to see if there is a way to get annotations on the type declaration?

Example

[code]

I want to be able to ask "Are there any annotations on type `Bar`?" and get `@Good` as the answer (or a list if there are multiple annotations).

I currently have the following setup:

[code]

But as you can see, the inner `if` block is never reached beca

[2021-04-14 22:04] MysterAitch commented on #3227
To confirm, are you wanting to examine a class declaration and query the annotations of that type declaration?

If this one, here's an example of it working:

[code]

Or do you have a reference to a type (e.g. a variable type, or a method return type) and you want to query whether this type has annotations?

If this second one, yes you are correct that the symbol solver is needed to be able to jum

[2021-04-14 22:30] oneturkmen commented on #3227
Second approach works for me! Thanks a lot!

[2021-04-14 22:30] #3227 closed, assigned to nobody

[2021-04-15 07:57] xiexiangwei0928 opened #3228 "Can javaparser be encapsulated in IDEA as a plugin"
If I need a plugin that works like javaparser, do you have any suggestions?

[2021-04-15 14:02] MysterAitch commented on #3228
Which functionality do you want to use as part of a plugin?

[2021-04-16 02:11] xiexiangwei0928 commented on #3228
For example, generating code, incrematically updating code, including changing references to code, javaparser we were going to use on the server side, and now we are going to do it through the IDEA plugin, which we think will have the same capabilities as javaparser

[2021-04-16 05:02] hfutyezi opened #3232 "JavaSymbolSolver can resolve MethodDeclaration find method param type is use generic?there is a exception"
method :

[code]

my JavaSymbolSolver
[code]

exception:
[code]

[2021-04-16 06:32] hfutyezi commented on #3232
i found
`protected ApiRequestInfo<List<DpGoodsResultBo>> handle(GetOutletGoodsInfoComponentV2Event event, List<Object> requestParams) `

is this MethodDeclaration , `List<Object>` works ok,it will translate to List

but

`private GoodsFilterComponentRequest getGoodsFilterComponentRequest(DpInputContext<FapiParam> context)`

`DpInputContext<FapiParam>` throw an exception

[2021-04-16 07:13] jlerbsc commented on #3232
Hi @hfutyezi where is the type FapiParam defined? Is it in a library or in your source directory?

[2021-04-16 07:27] hfutyezi commented on #3232
in my  source directory,like this
`import com.aa.bb.FapiParam;`

[2021-04-16 07:33] jlerbsc commented on #3232
I'm not sure to understand your answer. This class or interface com.aa.bb.FapiParam is defined in your source code directory. Is it right? I'm not speaking about import declaration! Could you provide us a simple test case to reproduce this result?

[2021-04-16 08:00] hfutyezi commented on #3232
hello,i has updated an java file,.FapiParam is defined in my project ,i just import it in my class

[2021-04-16 08:14] hfutyezi commented on #3232
[GetOutletGoodsInfoComponentV2EventHandler.txt](https://github.com/javaparser/javaparser/files/6323499/GetOutletGoodsInfoComponentV2EventHandler.txt)