[2017-03-15 22:44] ftomassetti commented on #866
The first thing I noticed is that looking at the calculated different it would expect to find some annotation to delete before the protected keyword.

However it find the protected keyword in first position and not the annotation so it complains
![screen shot 2017-03-15 at 23 43 02](https://cloud.githubusercontent.com/assets/439078/23974000/2e5b58c0-09d9-11e7-964a-58084dde123b.png)

[2017-03-15 22:52] ftomassetti commented on #866
This happens because looking at the CSM it expects to find the annotation _before_ the protected keyword, while it is after

![screen shot 2017-03-15 at 23 50 33](https://cloud.githubusercontent.com/assets/439078/23974208/4ddec9ec-09da-11e7-9897-f31077e23c24.png)

This is something that would require special handling I think, because it is a case in which some elements can be in an unexpected orde

[2017-03-15 23:03] ThLeu commented on #866
Yes the "unexpected order" to say it nicely with your words :) is kind of the problem with our legacy code (problably not only ours) that is why I would like to refactor some things mostly automatically but keep everyhting else in place, hence it would be nice to use the LexicalPreservingPrinter for this.

[2017-03-16 08:54] arturbosch commented on #864
good idea +1 :)

[2017-03-16 09:36] arturbosch commented on #663
This issue is trickier than I thought :)

`JavaParser.parseExpression("25L")` is saved as 25L, so `Long.parseLong(value)` will throw an exception. Would testing for a `L` at the end of the string be enough?

I think that parsing `JavaParser.parseExpression("\\n")` should not be allowed as java does not allow this sequence as a char value. `\\\n` is not parsable which is right, why we support parsi

[2017-03-16 10:00] matozoid commented on #663
I forward you to the JLS :) https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.10 - it has to be able to parse everything. Also check the `decode` methods that or `Integer` etc.

The JLS should supply a nice test set with all kinds of odd formats.

About parsing \\\n: if you look at this in Java source code, you will first see the character "backslash", then the character "n". So t

[2017-03-16 10:09] coderlindacheng opened #868 "Is this tool can use in java 7 ?"
hello,

my question is just as the title.

thanks.

[2017-03-16 10:12] matozoid commented on #868
This is a Java 8 library. Version 2.5.1 is Java 6 compatible, but it is no longer supported.

Java 7 has been end-of-life for two years and is now a security risk. http://www.oracle.com/technetwork/java/eol-135779.html#Java7-end-public-updates

[2017-03-16 11:40] coderlindacheng commented on #868
thanks your replies

but my project is depended on java 7,i can't change the production situation.but i want to make some sugars into my project(aka i want to generate some code automatically).

so,what you means is , this tool just satisfy in java 6 and java 8,not in java 7 ? is that right.

[2017-03-16 11:44] coderlindacheng commented on #868
by the way, i found this project because project lombok.
i want to custom it,but i found is to difficult.
so ,i just want to find some tool to help me writing a project to do so

[2017-03-16 12:07] matozoid commented on #868
This tool will *parse* all Java version up to 8 (and a little of 9.)
To *use* this tool you will need at least JDK version 8.

I understand that many companies use outdated Java version, I see this often in my job. I think that is irresponsible, and maybe you can use JavaParser as a reason to move to Java 8.

To make JP run with an older JDK would take a lot of work. Also see #722

You can search

[2017-03-16 16:12] matozoid commented on #865
@ftomassetti should I mark this as a bug?

[2017-03-16 16:23] matozoid commented on #788
For now I can only find the JLS diff for project Jigsaw.

[2017-03-16 16:24] matozoid commented on #787
http://aruld.info/private-interface-methods-in-java-9/
http://openjdk.java.net/jeps/213
https://bugs.openjdk.java.net/browse/JDK-8071453

[2017-03-16 16:31] matozoid commented on #787
Looks like the only things added are...
[code]

[2017-03-16 16:45] ftomassetti commented on #865
yes, I think so

[2017-03-16 18:56] mlangkabel opened #2062 "Type inference issue for method arguments"
Please consider the following code snippet.

[code]

For this code the JSS is unable to find a declaration for the method call to `bar` because the argument type is solved as `Optional<Derived>` where Java actually would infer `Optional<Base>`. At least I think that this causes the issue.

[2017-03-16 20:02] klaushauschild1984 commented on #722
It would be nice to have the information about the major java version for every language feature. With that in hand you can "go" through all the projects sources, detect language features that have to be down graded and transform them into something compatible for your need.

[2017-03-16 20:23] klaushauschild1984 commented on #723
For preparation there should be a structured byte code representation. Is there any useable library arround?
Another question: Is the magic happening in javac or eclipse-compiler well document and this would be just a re-implementation?

[2017-03-16 20:30] klaushauschild1984 commented on #723
Something like that http://blog.jamesdbloom.com/JavaCodeToByteCode_PartOne.html

[2017-03-16 20:39] klaushauschild1984 commented on #723
Would you do all this by hand or use kind of middle-ware like http://jasmin.sourceforge.net/

[2017-03-16 21:53] matozoid commented on #723
Hey, good articles! I say go and play around - it's a fun project idea, it's a suggestion for people looking for a cool project. If that's you - good luck and let us know how things are going :-) Come hang out on the Gitter channel if you like to discuss things.

[2017-03-16 21:56] matozoid commented on #722
That actually sounds like a hilarious project - in a good way :) A Java source level downgrader! I'll make a new cool project idea for it.

[2017-03-16 21:59] matozoid opened #870 "Create a Java source code level downgrader"
Sometimes people are forced to use an older version of Java. That means that more and more libraries will become unusable as they upgrade. Wouldn't it be nice to have a tool that replaces all the newer language features with older ones? It could remove annotations, replace for-each with explicit iterators, change lambda's into anonymous class syntax, etc.

[2017-03-16 22:00] matozoid commented on #722
#870

[2017-03-16 22:14] ftomassetti commented on #866
I think we have two options to resolver this:

1. An ad-hoc solution for MethodDeclaration (and ConstructorDeclaration?)
2. A generalized solution to permite mixed elements in the CSM

The first one should be relatively easy. What do you think?

[2017-03-16 22:20] ftomassetti commented on #865
It seems to work for me. I added this test:

[code]

And it pass. I had just to remove the parenthesis on `@Override` (it was expecting to find `@Override()` instead of `@Override`).

Did I wrote the test correctly? Could you help us reproduce the issue?

[2017-03-16 22:33] matozoid commented on #866
I think modifiers can be found in many places (about ten,) so it should be fixed everywhere. I can't think of another place where things can be mixed like this, so it can be a solution specific to modifiers and annotations.

[2017-03-17 02:47] huangwaylon opened #871 "Parse error for non-fully-qualified types in JavaParser 2.4.0"
I am using version 2.4.0 of JavaParser (due to a need to maintain Java 7 compatibility, I cannot upgrade to the latest version of JavaParser).

I am interested in simplifying type names.
For instance, the line:
`org.apache.commons.lang3.math.Fraction fraction0 = org.apache.commons.lang3.math.Fraction.ONE_QUARTER;`

should be simplified to the line:
`Fraction fraction0 = Fraction.ONE_QUARTER;`

aft

[2017-03-17 07:16] arturbosch commented on #663
So basically your saying we need to support conversions for binary, octal, hex etc formats too :D ?
And `underscores`? Will they still valid in Java9?

We do not have Float-, Byte- and ShortLiterals, you they should also be handled by Integer- and DoubleLiterals?

If you are looking at `\\n` in Java source code, you see see an CompileError. In JavaParser `"'\\n'"` is correct syntax in my editor no

[2017-03-17 18:17] klaushauschild1984 commented on #870
Is there some meta model to determine the language level for every node?

[2017-03-17 22:37] ThLeu commented on #865
You are absolutely right, sorry, I did another change which i forgot to mention.
With this test you you should be able reproduce it.
[code]

I also played around with this input
[code]
and  changing addMarkerAnnotation to addAnnotation again, which gives a different error.
But it might be the same problem as you mentioned in #866 about the unexpected order of protected and the annotation.

[2017-03-18 17:41] matozoid commented on #663
Yes, I think most of those are covered in the standard `decode` methods though!

Hadn't thought about that, but yes: float is handled by `DoubleLiteralExpr` etc, if you want me to check the grammar for what goes into what, just shout.

`\\n` is actually valid Java: it's an escaped backslash and an `n`. I'll take a look at what you're doing and see if I can break it :)

[2017-03-18 17:46] matozoid commented on #870
Nope, language changes are more complex than that. We simply parse a wide definition of the Java rules so that all Java levels parse. In the last few weeks we have started work on adding semantic validation on Java version by using the new validator framework. Not much there yet, though.

Note that to do this correctly, you'll spend months searching through the JLS, finding all kinds of obscure ed

[2017-03-18 19:22] matozoid commented on #871
Okay, indeed 2.4.0 has many bugs that have been solved. There is no support on that version. On the other hand: if someone wants to release a 2.4.1 we will help do the release.

Two things:
- how about switching to 2.5.1? Does that solve it?
- you say parseStatement fails on a certain kind of string. Do you have an example string?

[2017-03-18 19:27] huangwaylon commented on #871
Hi, thanks for the comment!

The String that parseStatement fails on is:
`Fraction fraction0 = Fraction.ONE_QUARTER;`
since that statement doesn't contain the fully qualified type name for Fraction.

However, I was able to figure this out. Instead of parsing statement by statement, I parse the entire compilation unit instead - this doesn't throw a `ParseException`. So I write the compilation unit

[2017-03-18 19:44] #871 closed, assigned to nobody

[2017-03-18 20:28] matozoid commented on #871
Okay, I don't see why `parseStatement` doesn't do the trick, but I guess it's one of the many bugs that were solved. I still recommend upgrading at least to 2.5.1!

Good luck :)

[2017-03-19 12:35] matozoid commented on #868
I guess this is answered?

[2017-03-19 12:35] #868 closed, assigned to nobody

[2017-03-19 12:53] matozoid opened #872 "Add validation: no "module" expected in Java 8"

[2017-03-19 13:01] matozoid opened #873 "Add basic source levels for major Java versions"
They can have validations for a few of the major things. This will force us to think about how we implement reuse in the validators.

[2017-03-19 22:55] matozoid commented on #774
Hey @Parth-Mehrotra - are you still on this?

[2017-03-19 22:56] matozoid commented on #754
This is being worked on.

[2017-03-19 22:56] #754 closed, assigned to nobody

[2017-03-19 22:57] matozoid commented on #726
@ftomassetti - is this what you did a few weeks ago?

[2017-03-19 22:59] matozoid commented on #678
@ftomassetti ?

[2017-03-19 23:05] #496 closed, assigned to nobody

[2017-03-20 08:42] ftomassetti commented on #678
oh, I was pinged a few times on this one...

[2017-03-20 08:42] ftomassetti commented on #678
We have two PRs merged, I would close this one

[2017-03-20 08:42] #678 closed, assigned to nobody

[2017-03-20 08:43] ftomassetti commented on #726
Yes, so that we could generate that flag for ObservableProperty. Closing.

[2017-03-20 08:43] #726 closed, assigned to nobody

[2017-03-21 10:26] mlangkabel commented on #2056
The [Maven Invoker](https://maven.apache.org/shared/maven-invoker/) is something I just came across. It looks like having much fewer dependencies than the maven embedder!

[2017-03-21 11:19] coderlindacheng commented on #868
yes,thanks lot

[2017-03-21 14:53] JKazma commented on #845
@ThLeu Sure thing.

Here you can find the files I used.
https://gist.github.com/JKazma/89e4a7c19c5d5003d808c79c779bf1f3

You'll have to change the paths on line 40 and 122 in the LogParserTest.java file.

**This is the complete stack trace when using the lexical preservation which does not happen without it:**
/usr/lib/jvm/java-1.8.0/bin/java -Didea.launcher.port=7537 -Didea.launcher.bin.path=/opt

[2017-03-23 09:42] matozoid commented on #264
@ftomassetti @SmiddyPence - shall we change this into "remove the samples from the wiki and point people to the book?"

[2017-03-23 14:21] matozoid commented on #553
Looks like this issue will have to wait until we start *compiling* javaparser with JDK 9, or we need to do some trickery.
https://maven.apache.org/plugins/maven-compiler-plugin/examples/module-info.html

[2017-03-23 14:31] matozoid opened #875 "Gather statistics about how compatible public source code is."
Make a diagram of how much of public source code (like the code on github) will parse without problems when validating for Java 1.0, 1.1, 1.2...9.

[2017-03-23 14:44] matozoid opened #876 "Deprecate PrettyPrintVisitor and let PrettyPrinter use the CSM"
It's wasteful to have two pieces of code that do approximately the same thing.

[2017-03-23 14:45] matozoid opened #877 "Let CSM double-check if all comments have been printed"
To prevent any more "lost comment" issues.

[2017-03-23 14:49] matozoid commented on #553
@gunnarmorling can we use your plugin for this? I'd like to avoid the double compilation stuff that the link above mentions if possible.

[2017-03-23 21:12] gunnarmorling commented on #553
Hi @matozoid, not yet, but it will be possible eventually. Working towards it; also would need a release to Maven Central first.

[2017-03-23 21:24] matozoid commented on #553
@gunnarmorling if you need help releasing, just ask on our Gitter.

[2017-03-23 21:29] gunnarmorling commented on #553
Thanks!

Mainly I'm waiting for a release of ASM 6 Alpha2 which is needed for the
latest Java 9 changes (hoping they produce Java 8 compatible byte code
btw.). Currently I'm working with a copy of the ASM sources.

[2017-03-23 22:06] gunnarmorling commented on #553
So I've pushed an update to https://github.com/moditect/moditect which you could play with if you feel adventureous. You'd have to build ModiTect using Java 9 (`mvn clean install`, it'll emit Java 8 bytecode). And then configure the plug-in in your build which you then can run with Java 8:

    <plugin>
        <groupId>org.moditect</groupId>
        <artifactId>moditect-maven-plugin</artifactId>

[2017-03-26 18:18] #787 closed, assigned to matozoid

[2017-03-26 18:18] #872 closed, assigned to matozoid

[2017-03-26 18:19] #873 closed, assigned to matozoid

[2017-03-27 01:29] user1derek opened #878 "Let setters do nothing when set value == current value"
Greetings.

I am using an extended ModifierVisitor to change (add/change and remove code) an AST. I also wanted to use the AstObserver (with propagation) to monitor the changes I make to the AST.

My approach is to only override the ModifierVisitor methods that I'm interested in (eg. BlockStmt). However, the ModifierVisitor methods I don't override reconstruct each Node to essentially create an id

[2017-03-27 08:21] matozoid commented on #878
Well, looks like `ModifierVisitor` lives up to its name ;-) I can imagine adding checks so the visitor only calls the setter if a value is actually changed - that would be a nice addition.

... that would mean changing the generator for this visitor, it's going to be interesting to see how we deal with `NodeList`s then.

[2017-03-27 09:10] matozoid commented on #878
@ftomassetti - is there a reason that we get change events for things that haven't changed?

[2017-03-27 11:41] user1derek commented on #878
Thanks for your quick response and help. Yes it sure does live up to its name. ;)

For my case I could check for equality between the old and new value in the `propertyChange` method of my `AstObserverAdapter` class. For example, the BinaryExpr code I showed above does trigger a `propertyChange` even if the Binary Expression hasn't changed. But the old value and the new value are, not surprisingly

[2017-03-27 12:03] matozoid commented on #878
I called for @ftomassetti because he is the one who built the observer functionality, and he's using it for the lexical preservation code. Honestly, I have no idea why anybody would ever want to know that a field is set to the value it already had :) But good that you've already fixed your problem!

[2017-03-27 13:14] ftomassetti commented on #878
All calls to setters cause notifications, the notified object can decide if to ignore the change or not. Deciding if some change is irrelevant should be probably done case by case: in some cases the fact the old value and the new one are equals (but not the same object!) could be a reason to ignore the change, while in others we may want to get identity.

[2017-03-27 13:30] matozoid commented on #878
Uhuh, but in case the new object == the old one? It's a meaningless operation to the AST, and the `ModifierVisitor` only does these `set`s because it is lazy.

[2017-03-27 13:33] ftomassetti commented on #878
Well, for identity equality we could solve this in 3 ways:
* avoding calling setters if the value remain the same
* having a check in all setters and return if the value is the same as the old value
* having the check in the Lexical Preservation observer

[2017-03-27 14:00] matozoid commented on #878
Check 2 would be easy to generate code for.

[2017-03-27 14:02] ftomassetti commented on #878
Should we go for check 2 then?

[2017-03-27 14:41] matozoid commented on #878
It seems to me to fix all all future problems of this kind. Let's do it!

[2017-03-29 15:54] ftomassetti commented on #878
PR sent

[2017-03-29 18:32] #878 closed, assigned to nobody

[2017-03-29 18:33] ftomassetti commented on #878
@user1derek when you have time it would be great if you let us know if the last patch on master fix your issue

[2017-03-30 03:07] user1derek commented on #878
I downloaded and built the 3.1.5 SNAPSHOT. Only the comment property is now firing a `propertyChange ` for files that have no changes. Since almost every (all?) node can have a comment there are lots of changes like the following:

property=comment
oldValue = null
newValue = null

I also put a bunch of the JavaParser source files through my test and noticed many `parentChange `events for nodes "ra

[2017-03-30 03:28] snakemia opened #880 "How can I get all identifers in a method?"
I know MethodDeclaration and VariableDeclarationExpr can get all identifers seperately. But can I get them by different methods? I mean, get all identifiers(method name, parameters names...) of a method.

[2017-03-30 08:30] matozoid commented on #880
This:
[code]
gives this:
[code]
Is this what you're looking for?

[2017-03-30 08:32] matozoid commented on #878
Of course, one or two setters are not generated because they contain all kinds of custom code, and `setComment()` is one of them. @ftomassetti would you like to manually add a check to it?

[2017-03-30 09:30] snakemia commented on #880
Yes, thank you very much!

[2017-03-30 12:23] matozoid commented on #880
Cool! Closing the issue :)

[2017-03-30 12:23] #880 closed, assigned to nobody

[2017-03-30 18:47] JKazma opened #881 "Memory leak"
I think I found a memory leak using the JavaParserFacade. Here's the code I used.

https://gist.github.com/JKazma/bc31d700beaf55935fd8a66467892ec4

Using the JVM Debugger Memory View plugin with intelliJ, I noticed that alot of objects were being created and never collected by the garbage collector. This does not happen if I comment out the 57th line in the code above. Below you can find a few scr

[2017-03-30 18:52] #881 closed, assigned to nobody

[2017-03-30 18:53] JKazma commented on #881
Posted in https://github.com/javaparser/javasymbolsolver/issues/189 instead.

[2017-03-30 20:10] matozoid commented on #881
Okay :)

[2017-04-01 06:50] fruffy opened #882 "CallableDeclaration: Add method to retrieve signature"
In Java a signature is defined as

However, this feature is not present in CallableDeclaration.
getDeclarationAsString() always includes the return type.
I ran into trouble here when comparing the MethodDeclaration of JavaParser vs the MethodDeclaration of Java-Symbol-Solver, which both have a different naming behaviour.

So I added a method to all CallableDeclaration types which is very similar t

[2017-04-01 10:08] matozoid commented on #882
Thanks for the feedback!

Lots of remarks here:
- `getDeclarationAsString()` is something I've been tolerating in the codebase for a while, but I'm not happy with it
- It would be nice to have `getSignature()` return a new `Signature` type. Functionally meaningful information shouldn't be passed around in a string.
- instead of `toString`, use `asString`. `toString` does pretty printing, `asString

[2017-04-01 13:23] #663 closed, assigned to nobody

[2017-04-02 11:39] matozoid opened #883 "Add VarType"
Just for fun: implement the proposed `var` keyword and put it in the tree as a special type.

[2017-04-02 12:05] matozoid commented on #806
Also check: cannot be on a static method or in a constructor.

[2017-04-02 19:30] matozoid commented on #806
For version 3.x we only make a minimal implementation so it does not fail on receiver parameters.

For version 4.0.0 we should implement a new `ReceiverParameter` node and see how that works out. It would be incredibly annoying to bother everyone with receiver parameters all the time when 99.9999% of the time we simply want a normal parameter.

[2017-04-02 19:34] #806 closed, assigned to matozoid

[2017-04-03 06:34] snakemia commented on #880
Sorry, mind if I ask, there are more than 1 method to parse, how can I store their identifiers separately?

[2017-04-03 07:24] matozoid commented on #880
Type.getMethods.foreach is the part that handles every method in turn

[2017-04-03 12:21] snakemia commented on #880
Sorry, let me make the question straight forward. How can I print a new line between different methods' identifiers (if there are more than 1 method)?

I mean, for a piece of code like:
class X
{
    void abc(int xyz, double www)
    {
        a.b.c.D bbb=ccc;
    }

    void test()
    {
        ccc = bb;
    }
}

The expected output would be:
ccc
bbb
D
c
b
a
abc
xyz
www
------------I want to pri

[2017-04-03 17:37] matozoid commented on #880
I've changed the foreach calls to for loops so it becomes more obvious:
[code]

[2017-04-03 23:05] snakemia commented on #880
Thank you so much, it works perfectly!

[2017-04-06 19:31] danwyryunq opened #886 "Question about Exception throwing for the visit methods?"
Hi guys, I'd like to know if there is any particular reason why visitor methods are not provided a throws Exception  signature as it a possibility that any user that implement them would eventually run across an Exception throwing situation, being forced to either throw only RuntimeExceptions or add the corresponding ' 'throws' to every visit and accept methods as well.
Am I missing something here

[2017-04-06 19:32] matozoid commented on #883
Hmmm, that would mean breaking software that happens to use this as a class name. Better leave it alone until it is official.

[2017-04-06 19:43] matozoid commented on #886
This decision has been made before any of the current team was working on it, so here is my best guess: adding "throws Exception" to every visit method would force everyone using a visitor to catch Exception when using it. I have not seen any visitors that want to throw an exception yet, so I would say that was a good decision.

In my opinion, with the decision to make lambda's really awkward to u

[2017-04-06 19:45] ftomassetti commented on #886
Agreed. It seems to me that many are just abandoning checked exceptions and few languages after Java have used them. While there are drawbacks either way I think it is more practical to not have them in the interface

[2017-04-06 19:51] matozoid commented on #715
@ftomassetti we have several derived properties now. Are we done here? (I don't see `isGeneric` yet though)

[2017-04-06 19:52] matozoid commented on #753
@ryan-beckett hey Ryan, are you still around?

[2017-04-06 19:56] ryan-beckett commented on #753
@matozoid: Yup. Just needed a few weeks to clear my head and try and learn this code base. It's ironic you've messaged considering I just pulled the project up in my browser. Makes me think you're alerted of who views the project. Anyways, I had planned on taking a stab at the implementing DOT format.

[2017-04-06 19:58] ftomassetti commented on #715
I think we can close this one

[2017-04-06 19:58] #715 closed, assigned to ftomassetti

[2017-04-06 20:17] danwyryunq commented on #886
I also thought about something like that, more like a Failable result type.
Great guys, that's good to me.
i'm closing this right away.

[2017-04-06 20:17] #886 closed, assigned to nobody

[2017-04-06 20:19] matozoid commented on #753
Cool! Don't tell anyone about the hidden webcam streamer I put in JavaParser okay?

[2017-04-06 20:22] ryan-beckett commented on #753
@matozoid: Lol, I won't.

[2017-04-12 02:20] phamanhminh1208 opened #887 "Duplicate default modifier of interface's default method in java 8"
I use javaparser version 3.2.0 to modify existing java 8 source code but it always duplicate the default modifier of default method of interface like below:

Before modifying:
[code]
But after modifying it became:
[code]
P/S: I'm sure that I just modify inner source code in method and do not modify modifier of any method in project.

[2017-04-13 08:12] niharikaepuri opened #888 "Is there a way to list superclasses of all the classes in a file/folder?"
public static void main(String[] args) throws Exception
{
inner = new DefaultMutableTreeNode("InnerClasses");
tree1 = new JTree(inner);
File projectDir = new File("/home/iiitb/Desktop/projects/pl/tree/GUI/one2");

files_list = listClasses(projectDir);
CompilationUnit cu;
for(int i =0; i< files_list.size(); i++)
	{
		try (FileInputStream in = new FileInputStream(files_list.get(i)))
		{
			cu = Java

[2017-04-13 08:14] ftomassetti commented on #888
You asked this question already on the JSS project (https://github.com/javaparser/javaparser/issues/888). Closing this duplicate issue.

[2017-04-13 08:14] #888 closed, assigned to nobody

[2017-04-13 16:11] matozoid commented on #887
Woops! This bug was created in the latest release, `default` was turned into a normal modifier instead of a dedicated field, and the pretty printer prints the modifiers (which now include `default`) but also still checks the dedicated field.

It will be fixed in the next version (and shouldn't occur in the previous version.)

[2017-04-13 20:36] matozoid commented on #882
@FRuffy - could you take a look at the PR and check if it is correct and sufficient for your needs?

[2017-04-13 20:58] matozoid commented on #264
I'm starting a blog to put all kinds of code snippets on. The rest can be in the book.

[2017-04-13 20:58] #264 closed, assigned to nobody

[2017-04-13 21:07] ftomassetti commented on #264
Starting a blog? Cool!

Federico

On Thu, 13 Apr 2017 at 22:58, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2017-04-13 21:33] matozoid commented on #264
Look at my awesome blog :-( https://matozoid.github.io/ :-(

[2017-04-14 01:28] fruffy commented on #882
Yes, it works great. thanks a lot! There is one thing, I had to add a temporary toString() method to make it comparable with the javasymbolsolver `getSignature()` call. I am going to make a suggestion to implement the `Signature` type in javasymbolsolver too.
[code]

[2017-04-14 05:07] ftomassetti commented on #264
Impressive: simple and elegant :)
On Thu, 13 Apr 2017 at 23:33, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2017-04-14 12:24] matozoid commented on #882
@ftomassetti - pay attention to this issue pleaaaase :)

[2017-04-14 12:27] ftomassetti commented on #882
Mmm, maybe returning a Signature object would be the best solution. That Signature object could have 2 methods, one to produce a string with return type and one without. It would also make declarationAsString redundant

[2017-04-14 12:34] matozoid commented on #882
@ftomassetti - what about interoperability with JSS? Do we want to have a single `Signature` class for both?

[2017-04-14 12:35] matozoid commented on #882
And can I deprecate all `declarationAsString` methods? Please? They are a maintenance nightmare...

[2017-04-14 12:37] ftomassetti commented on #882
yes. Depending on how we design the Signature object we could reuse it. The fact is the fact is that in JavaParser we have "shallow types" while in JSS we have "resolved types", so I am not sure we can reuse it, maybe making it generic...

[2017-04-14 12:38] matozoid commented on #882
I'm actually not sure what @FRuffy is doing, what he's trying to compare, why we need to compare signature in the parser and the solver. @FRuffy ?

[2017-04-14 12:40] matozoid commented on #882
And @ftomassetti - are you sure you want the return type optionally in the signature? It is not officially part of it. Why would we want that?

[2017-04-14 12:42] ftomassetti commented on #882
I think in some cases people want it, in others they don't

[2017-04-14 13:11] matozoid commented on #882
I'm running into all kinds of trouble because of generics. These should be stripped out of the signature.

[2017-04-14 13:50] matozoid commented on #882
Well, there's new stuff in the PR.

[2017-04-14 16:16] matozoid opened #892 "Make some starter projects"
Make projects that function like maven archetypes - only you fork or download them instead of typing in some archaic maven command line.

- https://github.com/javaparser/bootstrap-project: a project with a pom.xml and a sample java file that parses a file, transforms it by expanding all symbols to their qualified name, and writes it in another directory.
- https://github.com/javaparser/bootstrap-m

[2017-04-14 20:28] matozoid opened #894 "Loosen Validator classes"
Looks like several of the `TypedValidator` children are typed too tightly: most want a `Validator` where a `BiConsumer<? extends Node, ProblemReporter>` would do fine.

Also: Java9Validator removes "noLambdas" but that is already done in Java8Validator.

[2017-04-15 13:17] matozoid opened #895 "Add validator that checks the non-emptiness of properties"
The metamodel already has all the necessary information, so this should be easy.

[2017-04-15 13:32] matozoid commented on #883
Implementing this would mean implementing some kind of post-processing phase, just like we have the validation phase now.

Why? Because from Java 10 (or so) a variable declaration with a type named `var` will become special: it's not just a `ClassOrInterfaceType` but a new type, `VarType` or `InferredType` or so. Since we have only one parser, and that parser should parse every Java version, we sh

[2017-04-16 12:15] matozoid opened #897 "Make bnd maven plugin fail on warnings"
Too many times have we forgotten to add a new package to `bnd.bnd`. See if we can configure the plugin to fail the build instead of just warning.

[2017-04-16 12:33] matozoid opened #899 "Move to latest JavaCC"
Version 7 is out!

[2017-04-16 12:59] #887 closed, assigned to matozoid

[2017-04-16 13:00] #789 closed, assigned to matozoid

[2017-04-16 13:00] #882 closed, assigned to matozoid

[2017-04-17 00:13] DeepSnowNeeL commented on #883
Can't we detect "var" as a token and create a VarType directly on regular
parse phase ? I guess var is a reserved keyword with java 10 ?
And I guess VarType should be a direct subclass of Type ?

Le sam. 15 avr. 2017 à 15:32, Danny van Bruggen <notifications@github.com>
a écrit :

[2017-04-17 10:26] matozoid commented on #883
Yes we can, but then the grammar would be incompatible with java 1-9! They have no concept of `VarType`.

About var: it's seen as a special type name, not a keyword. So if we find a type called `var` in a variable declaration starting from Java 10 (or whenever it will be implemented) it means "infer the actual type here."

Yes, VarType extends Type. There are already a few other funny types there.

[2017-04-22 11:05] matozoid opened #902 "Generate "range" constructors"
In preparation for letting nodes point to tokens.

[2017-04-22 11:10] matozoid opened #903 "Stop releasing javaparser-testing"
http://stackoverflow.com/questions/14296170/how-to-skip-the-release-or-specific-modules-in-the-maven-repo

[2017-04-23 09:44] #902 closed, assigned to matozoid

[2017-04-23 09:44] #770 closed, assigned to nobody

[2017-04-23 21:03] matozoid commented on #830
Done for node generators, not yet for visitor generators.

[2017-04-24 06:43] sckimos opened #905 "Import statement of inner class contains dollar($) sign."
Hi.

When importing inner class with CompliationUnit.addImport(Class) method,
class name contains a dollar($) sign.

[code]

But I think it should be a dot(.)

[code]

I tested with javaparser-core-3.2.0 , and here is my test code.

[code]

Thank you.

[2017-04-24 10:23] matozoid commented on #905
Yes, this is quite obviously wrong.

We'll have to walk through all the builder methods that accept a `Class` and see how to fix this nicely.

[2017-04-24 10:25] DeepSnowNeeL commented on #905
If $ is illegal in package name we can be done with a replace.
My bad btw, Assign me on this

Le lun. 24 avr. 2017 à 12:23, Danny van Bruggen <notifications@github.com>
a écrit :

[2017-04-24 12:01] matozoid commented on #905
Cool, can you check if there are other types of classes that might fail? (I was thinking of anonymous classes for example)

[2017-04-24 22:36] DeepSnowNeeL opened #906 "Error on InitializeConstructorParametersStatementsGenerator while mvn install"
In InitializeConstructorParametersStatementsGenerator#findFieldInClass

I get :
[code]

Since nodeClass can only be null at this position.

[2017-04-25 13:18] RaulGracia opened #2063 "Problem Resolving Lambdas Types of Apache Spark RDDs"
Hi all,

As a preliminar stage of my work, I used JSS to find types of Java8 lambdas and it worked well so far. Now, I want to extend the use of JSS to lambdas executed on RDDs of the [Apache Spark](http://spark.apache.org/) framework. However, this is not working, and I would like to know if there is a possible solution to that.

Let us consider a very simple Spark program:

[code]

As Spark is a

[2017-04-25 14:43] sischnei opened #907 "Javadoc block tag parsing issues"
Hi guys,

I'm having issues with parsing of Javadoc block tags. Given the following javadoc:

    /*
    * Add a field to this and automatically add the import of the type if needed
    *
    * @param typeClass the type of the field
    * continued in a second line
    * @param name the name of the field
    */

I would expect two block tags for the two params, however with version 3.2.3-SNAPSHOT

[2017-04-25 15:42] sischnei commented on #907
Actually I just realise that I have been mixing up block comments and online comments (which start with '{@'), so actually it should be enough to just group block tags over multiple lines and keep everything else the same. I'll try to come up with a PR for it!

[2017-04-25 17:55] matozoid commented on #907
Cool, thanks!

[2017-04-25 18:02] matozoid commented on #906
Hi, nice to see you active again :)

I don't understand how you're getting this one - it's part of the build and that works fine here. Windows issue again?

[2017-04-25 18:19] DeepSnowNeeL commented on #906
Yep windows

[2017-04-26 12:33] sischnei commented on #907
Ok, so I hope that my PR can be merged (I don't know why AppVeyor build fails).
One thing I'm not sure about yet is tab handling, eg. given the javadoc

    /*
    * Add a field to this and automatically add the import of the type if needed
    *
    * @param typeClass the type of the field
    *     continued in a second line
    * @param name the name of the field
    */

It would currently resu

[2017-04-26 20:24] matozoid commented on #907
@ftomassetti - for that last remark above: do you try to keep original formatting or do you reformat everything while parsing?

[2017-04-26 21:02] ftomassetti commented on #907
I would say that keeping the original formatting would be optimal

[2017-04-26 21:09] sischnei commented on #907
Ok, well right now it should keep everything, except of course the newline. But if required, I can adapt it so that it keeps also the newline but still parses it into one block tag...

[2017-04-27 08:52] matozoid commented on #907
@ftomassetti - what do you do when parsing the first part of the javadoc? Keep or remove EOLs?

[2017-04-27 08:55] ftomassetti commented on #907
What I do is not necessarily what is right to do :)
I would say we can throw away all the EOLs that we can reconstruct later

[2017-04-27 18:26] #906 closed, assigned to matozoid

[2017-04-27 18:34] matozoid commented on #906
Did everything work after recompiling core?

[2017-04-30 20:10] #907 closed, assigned to nobody

[2017-04-30 20:11] #905 closed, assigned to DeepSnowNeeL

[2017-04-30 20:11] #903 closed, assigned to nobody

[2017-05-02 22:54] mattsnider opened #912 "FieldDeclaration or MethodDeclaration should not auto-reorder the nodes (or provide a way to get the original raw text if necessary)"
I was trying to use this parser to validate that annotations are added in the correct order. The validation function is provided an instance of either FieldDeclaration or MethodDeclaration, and needs to determine if the annotations are in the correct order. The following, for example, would be valid:

@Nullable private int mVariable = 1;

But the following, would not:

private @Nullable int mVaria

[2017-05-03 09:21] matozoid commented on #834
Considering #912, maybe simply mix up annotations and modifiers in the same list.

[2017-05-03 09:23] matozoid commented on #912
Changes for this are considered for version 4, which will probably be released next year.

Maybe @ftomassetti can add some direct tips, since he created the lexical preservation code?

[2017-05-03 09:34] ftomassetti commented on #912
Mmm, I am not an expert in annotations but the I think that they are now allowed to be used in all sort of crazy places. I wonder if the second example you reported should be considered as an annotation to the return type, instead than an annotation to the whole method. In that case we will need to reflect it into the AST. If instead it is just equivalent to the first case we should consider it di

[2017-05-03 09:36] ftomassetti commented on #834
Yes, things seem to push in this direction

[2017-05-03 10:38] matozoid commented on #912
Modifiers are reduced to a set of enums, so there is no more information than "exists or not". This should change in 4, but it will break too much code to do it now. We could make it available in the LP code, but should it be? If it is only to temporarily fix the modifier problem, we would want to reverse it when that is fixed...

[2017-05-03 10:39] matozoid commented on #912
Additional, and pretty horrible way to do it: look through the token list...

[2017-05-03 12:47] ftomassetti commented on #2063
Hi Raul, sorry for the late reply. Your approach does not seem wrong. I am wondering why it is unable to resolve `map`.  Could ve useful to examine how JSS reconstruct `JavaRDD`. It should be able to figure out that it implements `Stream` but apparently it does not...

[2017-05-03 16:48] mattsnider commented on #912
Thanks for the quick replies. The  Lexical Preservation sounds exactly like what I'm looking for. In the meantime, if I wanted to look through the token list what's the best way?

[2017-05-03 17:03] DeepSnowNeeL commented on #912
I think you can look at the range too ? and just compare the positions that
way for now ?

Le mer. 3 mai 2017 à 18:49, Matt Snider <notifications@github.com> a écrit :

[2017-05-04 07:54] matozoid commented on #912
The token list can be accessed in the `ParseResult` when using the "full API" - look at https://github.com/javaparser/javaparser/wiki/Migration-Guide which has a paragraph about it.

@DeepSnowNeeL - modifiers don't have ranges :-(

[2017-05-04 12:44] RaulGracia commented on #2063
Hi Federico,

Just to be sure that I get my point across, [JavaRDD](https://spark.apache.org/docs/2.1.0/api/java/index.html?org/apache/spark/api/java/JavaRDD.html) does not implement Stream; JavaRDD is a completely different class contained in an external jar (spark_core_XX.jar), and even the functions that this class handles (map(function)) are not java.util.Function, but org.apache.spark.api.jav

[2017-05-04 20:02] matozoid opened #913 "FieldAccessExpr.scope should not be optional"
It currently is. I don't think accessing a field of nothing is a useful expression.

[2017-05-07 07:38] loicfortin commented on #2062
Hi @mlangkabel

I tried your problem and couldn't get a declaration for `bar` too.

However, with the code below

[code]

the first call of `bar(o)` was solved as `Base.bar(java.util.Optional<Base>)`. The two other calls of `bar` couldn't be solved.

I will try to take a look at this problem in the next weeks (I won't have enough time before :/).

[2017-05-07 14:30] matozoid commented on #894
Nah, it's fine as it is. It's nice to talk about `Validator` instead of some functional smear, and you can use lambda syntax for Visitor too, so fine.

[2017-05-07 17:11] ftomassetti opened #918 "Override NodeList.toString"
So that we can print something nicer

[2017-05-08 08:48] matozoid commented on #918
Any suggestions on format?

[2017-05-08 18:39] matozoid commented on #918
I guess simply toString the items in the list and append them.

[2017-05-08 18:48] matozoid opened #919 "Use enums as parameters to the metamodel classes instead of booleans."

[2017-05-08 20:46] ftomassetti commented on #918
that would do

[2017-05-09 17:06] ftomassetti opened #920 "An empty field access is printed as "empty""
[code]

Printing this method I get:
[code]

[2017-05-09 17:40] matozoid commented on #920
It's a feature :-) You forgot to set values for scope and name, and to prevent the node from becoming illegal it uses the default values `this` and `empty`.

When empty string would have been the default, instead of `this.empty = aField;` we would get `. = aField;`. That's what I mean with illegal.

[2017-05-10 15:30] staslev commented on #2062
+1

I'm seeing similar issues related to type inference, but in a slightly different use-case:

[code]

[code]

I believe I have managed to pinpoint the problem and will have a PR shortly.
I'm afraid I can't tell for sure whether we are being bitten by the same issue.

[2017-05-10 16:16] loicfortin commented on #2062
Hi @staslev

Here is the result of my test with your code

[code]

Is this supposed to be the right solution ?

What i've changed is in `MethodCallExprContext#matchTypeParameters`. I added this test case

[code]

in the 2nd `else if(...)`. But this is just a test i've added after the first call (with the same error than you). I need to do more research to understand what the method is used for, et

[2017-05-10 16:26] staslev commented on #2062
Thanks for testing!

I think the root cause is that `actualType.asReferenceType().typeParametersValues()` comes up empty if it does not have type parameters which may not be ideal for instance, in the following case:
[code]

`NonGeneric` will state it has no type arguments, and if a method's signature demands that all the generic type parameters of its argument are fulfilled, it may try to travers

[2017-05-11 13:01] loicfortin commented on #2062
Yes you're right, the error `IndexOutOfBoundsException` happens when `typeParametersValues()` is empty. Your PR fixed that issue.

Regarding your question, `typeParametersValues` try to match each generic type from `expectedType` with the one in `actualType` but does not consider parent's types. Thus adding the if condition does not change the method behavior (except the exception thrown).
I'm not

[2017-05-12 06:28] ftomassetti opened #921 "Use enums or helper methods to create static and asterisk imports"
This method call is not obvious:

[code]

Alternatives:
[code]

[2017-05-12 06:32] ftomassetti commented on #921
Similarly for `ClassOrInterfaceDeclaration`, the flag telling us if it is a class or an interface

[2017-05-12 06:38] ftomassetti opened #922 "All MethodCallExpr should take either SimpleName or a String"
So that they are consistent

[2017-05-12 09:57] wompers opened #2064 "Issue calculating the type of the scope of MethodCallExprContext"
Hi!

I have a code that looks like this:

[code]

and my visit implementation looks like this:

[code]

However, I am encountering this error:
[code]

How should a code like this be parsed?
Thanks!

[2017-05-12 10:45] matozoid opened #923 "The type parameter of ReferenceType seems to be no longer in use"
Clean it up.

[2017-05-12 10:51] matozoid commented on #922
The constructors you mean? Yes, they are a bit of a mess.

[2017-05-12 10:52] matozoid commented on #920
@ftomassetti do you agree that it's a feature, or would you like a change?

[2017-05-12 11:02] ftomassetti commented on #920
Well, it is a feature but maybe `empty` is not so 110% obvious. We could consider renaming it to `unspecified` but it is definitely not something I would feel strongly about

[2017-05-12 11:03] ftomassetti commented on #922
Yes, I meant the constructors. I am the worst issue opener on earth :D

[2017-05-12 11:34] matozoid commented on #920
We'll address it for 4.0.

[2017-05-12 11:52] #923 closed, assigned to nobody

[2017-05-12 12:20] adhesivee opened #926 "LexicalPreservingPrinter BlockStmt addStatement is not added on a new line"
I currently have JavaParser working with `LexicalPreservingPrinter`. The problem that I have is that when I add a statement in `MethodDeclaration` it is added to end of the line, instead of a new line. I have method:
[code]

When I want to add a statement it will result in:
[code]

My snippet to add the test2.
[code]

[2017-05-12 12:47] matozoid commented on #921
It may be flagged easy, but be sure to *deprecate* the methods with the booleans, not *remove*.

[2017-05-12 16:11] RaulGracia opened #2065 "Problem resolving type of lambda with Math method invocation inside"
Hi all,

I found a problem in JSS when lambdas contain calls to Math methods:

Let us consider this simple example:

[code]

When I use JSS (via a JavaParserFacade) to infer the type of  (a, b) -> Math.max(a, b), I got the following exception (full stacktrace can be found at the end of this mail):

If I change `Math.max `by any other expression, like `a+b` or `a*b` JSS correctly infers the input t

[2017-05-12 19:58] matozoid commented on #788
I'm pretty sure we're complete, unless they make a last minute change to Jigsaw.

[2017-05-12 20:57] DeepSnowNeeL commented on #788
like not going for modules or delay it :P since IBM & red hat are not happy
with it :p

Le ven. 12 mai 2017 à 21:58, Danny van Bruggen <notifications@github.com> a
écrit :

[2017-05-12 22:15] matozoid commented on #788
Uhuh, that will certainly be in the news :-)

[2017-05-14 11:52] #895 closed, assigned to nobody

[2017-05-14 11:52] #894 closed, assigned to nobody

[2017-05-14 11:52] #913 closed, assigned to matozoid

[2017-05-14 11:52] #774 closed, assigned to nobody

[2017-05-14 11:53] #859 closed, assigned to matozoid

[2017-05-14 11:53] #922 closed, assigned to nobody

[2017-05-15 17:57] ftomassetti commented on #926
Working on solving this one on top of PR #929
The bad thing is that I have a stack overflow because we are building the NodeText for a bunch of nodes at the same time and there are issues related to indentation, that is the root of all evil...

[2017-05-15 18:33] ftomassetti commented on #926
Resolved that particular issue, I am getting closer to a solution but there are still issues related to guess what... indentation :D

Currently I am getting:

[code]

which is correct beside the last line that should have an indentation of 4 instead of 8.

[2017-05-17 21:04] ftomassetti commented on #866
Ok, a solution is almost ready. The only issue is now related to whitespace reconciliation: I get an extra whitespace... I introduced a new concept named CsmMix to handle CsmElement that can be in random order. It is quite tricky because we want to understand how the position of new elements is related to position of old elements to determine the right order.

[2017-05-18 07:49] RaulGracia commented on #2065
As an update, just in case it can help you; JSS works if we set an explicit casting on the call to Math.max:

[code]

By the way, this has been tested with JSS version 0.5.4 (maven repository).

Thanks,
Raúl.

[2017-05-18 08:37] ftomassetti opened #931 "Add Node.replace method"
Followint a question I have received I realized that it would be nice to have a way to replace a given element (for example a statement or an expression).

This would work similarly to remove because it is about setting the node in the parent.

[2017-05-19 10:18] matozoid commented on #931
I guess this is rather easy to do, since you just have to copy a generator and adjust it a bit

[2017-05-19 10:46] RaulGracia commented on #2065
(UPDATED) This problem still persists after deleting a duplicate JavaParser dependency (see issue#234).

Sorry, a change in the code masked the fact the problem still persists.

Thanks,
Raúl.

[2017-05-20 18:41] matozoid opened #934 "Attempt refactoring lambda support"
The lambda support currently uses a lot of Java code inside the grammar. See if we can solve this in a more grammary way.

[2017-05-20 18:45] matozoid commented on #199
This is unsolvable with the `CommentsInserter` class, and it seems a workaround was found.

[2017-05-20 18:45] #199 closed, assigned to nobody

[2017-05-20 19:10] matozoid commented on #324
I'm happy to say that with the current version, this:
[code]
outputs
[code]
which looks a little funny because the comment is not indented, but it's there at least.

[2017-05-20 19:10] #324 closed, assigned to nobody

[2017-05-20 20:11] matozoid opened #935 "Assign line comment to first non-empty line"
Issue #764 forgets the `// now make two midi events` comment because it is followed by empty lines. See if we can improve `CommentsInserter` to assign the comment to the first following non-empty line.

[2017-05-20 20:11] matozoid commented on #764
Continued in #935

[2017-05-21 11:39] #866 closed, assigned to nobody

[2017-05-21 11:41] ftomassetti commented on #926
This should now be solved in the next release.

[2017-05-21 11:41] #926 closed, assigned to nobody

[2017-05-21 12:19] ftomassetti commented on #865
I can confirm this has been corrected. I added tests to double check it in #936

[2017-05-21 12:19] #865 closed, assigned to ftomassetti

[2017-05-22 13:16] arturbosch opened #937 "Add NodeWithCondition interface"
When analyzing conditional statements, I miss such an interface for easier unification of the task.
Instead of many `instanceOf's`, one would be sufficient. What do you think? I can provide a PR ^^

[2017-05-22 15:20] matozoid commented on #937
Sounds good, which nodes would that be?

[2017-05-22 16:25] arturbosch commented on #937
IfStmt, DoStmt, WhileStmt are the obvious ones, ForStmt has a compare expression which should also be a condition. That's it?

[2017-05-22 16:31] DeepSnowNeeL commented on #937
You should make a Node.isConditional() or maybe better
Statement.isConditional()

Le lun. 22 mai 2017 à 18:25, Artur Bosch <notifications@github.com> a
écrit :

[2017-05-22 16:42] arturbosch commented on #937
Well than I still have to cast it to a specific Node to retrieve the condition.

[code]

[2017-05-22 16:59] matozoid commented on #937
@arturbosch I've quickly added it so it can go in tonight's release.

@DeepSnowNeeL that's not a pattern we normally follow. Would you like a complete set like `isStatement` `isExpression` etc etc?

[2017-05-22 17:11] matozoid commented on #937
I think we should have a fancy Java 8 `ifConditional(Consumer<NodeWithConditional>)` then. Open another issue if one of you wants that, because it will involve code generation magic :)

[2017-05-22 17:33] #937 closed, assigned to nobody

[2017-05-22 20:01] #842 closed, assigned to matozoid

[2017-05-27 13:59] junzii opened #940 "cannot get extended type with the form,AAA.BBB"
the parsing code is like this:
class A extends BB.CC{
}
I try to get parent class with ClassOrInterfaceDeclaration.getExtendedTypes(), but only CC can be got. Actually, it should be BB.CC

[2017-05-29 13:08] matozoid commented on #940
"BB" is in field `scope`. Fully qualified name = scope.scope.scope.name + "." + scope.scope.name + "." + scope.name + "." + name (and so on.)

Does this solve your problem?

[2017-05-30 18:29] matozoid opened #941 "Figure out where the openJDK zip downloads went"
and use that to fix the BulkParseTest

[2017-05-31 14:34] #812 closed, assigned to matozoid

[2017-05-31 14:50] matozoid opened #943 "Integrate java-symbol-solver"
Somewhere in the future :-)

[2017-05-31 16:49] xryanyjy opened #944 "Cannot import the javaparser class after adding the dependency of pom.xml"
After adding dependency of the pom.xml file, the javaparser-core-3.2.5 jar package has appeared in external library, however, I still can't import javaparser class. I have tried other javaparser by adding dependency like japa.parser.* and it can be imported successfully. I don't know why and hope to ask for some help, big thanks!

[2017-05-31 16:53] xryanyjy commented on #944
By the way, big sorry for such easy and maybe stupid question.

[2017-05-31 19:11] matozoid commented on #944
japa.parser looks like a very old package name?

Anyway, here is a small, complete project: https://github.com/matozoid/java-logic-positivizer

[2017-05-31 20:18] matozoid commented on #892
https://github.com/matozoid/javaparser-maven-plugin-dependencies and https://github.com/matozoid/java-logic-positivizer are already pretty nice.

[2017-05-31 20:50] sourabhsparkala opened #945 "I want to add a new statement or expression to the body at any given position in the Body list of statements"
Is this possible in javaparser-core?

[2017-05-31 23:27] xryanyjy commented on #944
Big thanks for the quick reply! japa.parser is probably an old package and I just want to try it to find what's the problem of my configuration because I'm new to java orz.

By cloning your small project, I found I have the same problem that the javaparser package classes cannot be imported.  After adding dependency of the pom.xml, the javaparser-core jar package appeared in the external library b

[2017-06-01 11:22] abhay-iy97 opened #946 "How can I access the body of an if-else block?"
I'm trying to calculate the cyclomatic complexity of a program and am trying to count the number of if-else clauses within the code. Problem I'm facing is how do I access a given "if" block and look within it for more such if-else clauses?
I use the getElseStmt() with recursion to obtain the outer if-else if clauses but how can I obtain access to their blocks?
For Example:
`if(condition)
{ if(cond

[2017-06-01 12:50] matozoid commented on #945
Yes it is.
Please give more context (some code for example) for a better answer.

[2017-06-01 12:54] matozoid commented on #946
Your approach is valid, but it looks like you are writing all AST traversal logic yourself - but that has already been written for you.

If you just want to count the if statements, you can use a visitor that visits only `IfStmt`, or you can look at the size of a call to `compilationUnit.getChildNodesByType(IfStmt.class)`.

[2017-06-01 12:57] matozoid commented on #944
Okay, it is really a problem of setup on your side. It would be easiest if you let someone at your place take a look.

One thing I can do: can you show me your complete pom? I think you're specifying "pom" in the dependency or so.

[2017-06-01 20:00] sourabhsparkala commented on #945
before://
method(){
   int a;
   int b;
}

after://
method(){
   int a;
   int b;
  SOP(a/10);
}

the print statement should be possible if there is a integer variable 'a' already declared. So in this case, I am using the visit(VariableDeclarator,null) to check the presence of the variable with name = 'a'. But I do not know how to add the next SOP statement to CompilationUnit from the visit() func

[2017-06-01 20:02] sourabhsparkala commented on #945
@Override
    public Node visit(VariableDeclarator declarator, Void args) {
        if (declarator.getNameAsString().equals("a") && declarator.getInitializer().isPresent()) {
            Expression expression = declarator.getInitializer().get();
            if (expression instanceof IntegerLiteralExpr) {
                          //The statement to add the new SOP statement here? How to get the Me

[2017-06-02 06:00] abhay-iy97 commented on #946
`public void visit(IfStmt n, Void arg)
	    	    {
	    	    	System.out.println("Found an if statement @ " + n.getBegin());
	    	    }`
This visitor function only gives the outermost "if" statement as output and ignores the inner block's "if"
I need to count the "if" , "else if" and "else" statements. How can that be achieved by means of a visitor?

I applied the second part of your answer in my

[2017-06-02 09:43] matozoid commented on #945
[code]

In short: for all variable declarations called `a` with an initializer that are at some point contained in `BlockStmt` (which may misfire, when they are in a `for(int a=2;...;....){}` for example) I add a new statement to the end of that `BlockStmt`.

Figuring out how to deal with for-statements and other anomalies is left as an exercise for the student ;-)

[2017-06-02 09:46] matozoid commented on #946
The visitor has its travel logic inside the visit methods. If you override one and don't call super, it will not go inside the node, so that's what's missing there :-)

Second part: else is not a node, it is a property of `IfStmt`. So you can go over the list of `IfStmt` and count simple if-statements as 1, and `IfStmt`s that have an else as 2. (If I understand your goal correctly.)

This would be

[2017-06-02 10:33] abhay-iy97 commented on #946
Ah.
Yes, I included the super.visit call and it does work now. The line numbers(for every `if` clause) do appear a bit skewed up due to the recursion. So I guess I'll go with the getChildNodesByType method.

With reference to the second part,
How do I check for an else? For instance, there could be programs wherein the `if` and `else-if` satisfy all conditions and therefore there is no need to add

[2017-06-02 10:40] abhay-iy97 commented on #946
This is the piece of code I've been playing around with and it works except for the `else `clause dilemma. What more  additions should I make such that it identifies `else` as well?
[code]

[2017-06-02 11:30] matozoid commented on #946
[code]

If you want to do it with a visitor, the logic should be about the same.

[2017-06-02 12:29] xryanyjy commented on #944
Big thanks for your kind help! It seems I can't upload the picture in my comment, thus I pasted what I write here.

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.

[2017-06-02 12:30] abhay-iy97 commented on #946
Right I've tried your code.
This is the case I'm testing just to check the functionality. The correct count of if-else clauses is returned (YAY :-)) but the line numbers are a bit messed up. Please correct me if I'm wrong but is it because `else` isn't a node itself therefore we just iterate the `count` in the case the `else` clause is present in the code and we aren't actually moving to the else

[2017-06-02 14:48] sourabhsparkala commented on #945
Thank you for the solution. This helped a lot

[2017-06-02 15:15] sourabhsparkala opened #947 "Get list of all possible accessible methods ,class variables from a method using javaparser"
class A{
     public static int d;
}
class B{
    method(){
          SOP(A.d);
     }
}

In this example, is there a way to find if class B has access to the static variable 'd' in class A using the parser. Does it consider the access specifiers of the respective variables and classes? And also is it possible to find all the dependent and related classes and their accessible variables and methods

[2017-06-02 18:53] matozoid commented on #944
Okay, that's exactly the same as the sample indeed :) When you do a `mvn clean install` from the command line this should give no trouble. Beyond that, it's a tool problem and I will have to send you off to the people making those tools.

[2017-06-02 18:58] matozoid commented on #946
Ummm, do you have a chunk of code that I can try instead of snippets? That would save me a lot of time.

I don't really get what you're trying to say about the line numbers, but I noticed one thing: the `else` *is* a node, so you can ask it for its position.

Oh, and you're making a mistake with visitor usage: never directly call `visit` - always call `accept` on a node.

Don't forget we have a bo

[2017-06-02 18:58] matozoid commented on #945
Good luck!

[2017-06-02 18:58] #945 closed, assigned to nobody

[2017-06-02 19:01] matozoid commented on #947
In short: no. This library is a parser. It shuffles source code into a tree and nothing else.

Long answer: our side project https://github.com/javaparser/javasymbolsolver is a library that takes that tree and figures out how things are tied together. @ftomassetti knows all about it.

[2017-06-02 19:58] arturbosch commented on #946
Hey take a look at this class: [CyclomaticComplexityVisitor.groovy](https://github.com/arturbosch/SmartSmells/blob/master/src/main/groovy/io/gitlab/arturbosch/smartsmells/common/visitor/CyclomaticComplexityVisitor.groovy).

[2017-06-02 23:03] xryanyjy commented on #944
Thank you for your reply! What is the exact meaning of tool problem? I found other jar packages like eclipse jdt can be used after adding the dependencies. Will it be solved if I re-install the maven tool? It seems that other people can successfully use the javaparser.

[2017-06-03 09:56] matozoid commented on #944
If the sample project doesn't work, some tool (maven, eclipse, intellij, java, linux, windows, etc...) on your side is malfunctioning. That means that this is no longer a question about JavaParser. Please ask people near you, or maybe ask on StackOverflow or so?

[2017-06-03 12:44] ftomassetti commented on #947
You need JSS for that.

1. You can use JSS to try to resolve `d` in `A.d`: it could either be able to resolve the symbol or not. If it resolves it that means the symbol was visible and not shadowed by other symbols
2. What do you mean with related classes and their accessible variables and methods ?

[2017-06-03 16:23] Yangseon-Ryu opened #948 "I guess LamdaExpr's Range is wrong"
I am using javaparser 3.1.3. and I make source code line counting using Node class's Range.

just run javaparser to parsing javaparser 3.1.3's code,

then in com.github.javaparser.CommentsInserter's Line 102~107

[code]
- first filter argument "c -> c.getRange().isPresent()" com.github.javaparser.ast.expr.LambdaExpr's  getRange - Optional[(line 104,col 37)-(line 104,col 37)]
- second filter argume

[2017-06-03 18:06] matozoid commented on #948
Indeed!

[code]

This shows that the range is the range of the variable name, not the whole expression. Will look into this.

[2017-06-03 19:13] matozoid commented on #948
Okay, fixed. It will be in tomorrow's release.

[2017-06-03 19:14] #856 closed, assigned to matozoid

[2017-06-03 20:08] matozoid commented on #940
No answer, closing.

[2017-06-03 20:08] #940 closed, assigned to nobody

[2017-06-03 20:58] matozoid opened #950 "Validate imports can not appear after a declaration"

[2017-06-04 09:46] #948 closed, assigned to nobody

[2017-06-04 09:54] #841 closed, assigned to nobody

[2017-06-04 09:54] #380 closed, assigned to nobody

[2017-06-05 05:27] abhay-iy97 commented on #946
If `else` is a node then how can I obtain it's line number? Also you mentioned above in the comments that `else` is not a node? I don't follow. Please explain. @matozoid
This is the code I'm using now.
[code]

By line numbers I mean, I want to print the line number wherever an` if `,` else-if` or an `else` clause is present. So in the example  presented above with the line numbers **I wanted the o

[2017-06-05 10:50] matozoid commented on #946
Okay, I see where I was confusing. I meant to say: there is no node class called `ElseStmt`, *but* below the `IfStmt` node, there is a `Statement` node which is in the property `elseStmt`. The important thing: there is not `visit(ElseStmt)` method in the visitors, because there is no such type - you'll have to visit `IfStmt` and get `elseStmt`.

I'll go look at your code now.

[2017-06-05 11:17] matozoid commented on #946
Ha, you're doing something pretty complex, and I don't think it's necessary: mixing `getChildNodesByType` and a visitor. Instead of trying to fix this, can you tell me what my approach above is missing, or what's missing from @arturbosch's implementation?

[2017-06-05 11:24] abhay-iy97 commented on #946
I'm attempting to print the line number at which the `if` `else-if `and `else `nodes are found.
This printing takes place in the visit function. That's pretty much why I'm calling `visit` at least in this case.
Both your codes gives me the count of the nodes which is fine but I'm also trying to add this line printing feature. So would this be the right way to go about it?
It does seem to work but

[2017-06-05 11:36] matozoid commented on #946
[code]

Now it prints the line numbers where it finds complexity. (They should be sorted, but if they aren't it shouldn't be very hard to put them in a list and sort them.)

[2017-06-05 11:37] matozoid commented on #946
In @arturbosch's file you could do the same: print the line in `countMcc()`

[2017-06-05 11:49] abhay-iy97 commented on #946
Yes, this is very close to the output I need. I will have to sort it. Thanks
Can you please explain the `printLine` function?
What exactly does the getRange().ifPresent() function do?

And why can't I use the visitor itself to print the line? Where is my code going wrong?

[2017-06-05 12:23] matozoid commented on #946
For your code I would say: for a simpel case like this, use a visitor OR `getChildNodesByType` - I don't want to spend my holiday debugging that :-)

A node can or can not have a range, that's why it's `Optional`. It's a Java 8 feature --> http://www.oracle.com/technetwork/articles/java/java8-optional-2175753.html

[2017-06-05 13:49] sourabhsparkala commented on #947
Thank you for the reply.

When i say accessible variables. Please find the example below.

Say
public class A{
public static int d;
private int c;
protected int b;
}
class B extends A{
methodA(){
//List of accessible variables from methodA() would be static int d, b
}

//Say there is another method
methodC(){
int temp;
int temp2;
//List of accessible variables from methodC() would be static int d,

[2017-06-05 19:53] matozoid opened #955 "Make Problems point at nodes"
Make it possible to point a `Problem` at (from least specific to most specific):
- nothing
- `Range` (old situation)
- `TokenRange` (current situation)
- `Node` (interesting new situation)

[2017-06-05 19:54] matozoid commented on #955
This was thought up while adding recovery in the grammar, since we are explicitly creating a node that has a clear problem: it didn't parse. It would be nice if the `Problem` could directly point at that node, well, that would be very clean.

[2017-06-05 19:56] matozoid commented on #955
Of course, if we know the `TokenRange`, we know the `Range`, and if we know the `Node` we know the `TokenRange`.

[2017-06-06 08:41] ftomassetti opened #2066 "Error on Lambda resolution"
_Reported by Ameya Sanjay Sanjay Ketkar to me._

 have set up the environment, as in the examples.
![dep](https://cloud.githubusercontent.com/assets/439078/26820830/8825ae30-4aa4-11e7-9c45-28745097f62d.png)
Problem I am facing:
![visitor](https://cloud.githubusercontent.com/assets/439078/26820835/8f891fd6-4aa4-11e7-929c-811a6c0731e5.png)

When I do this in the ASTVisitor, I am unable to resolve th

[2017-06-06 08:42] ftomassetti commented on #2066
See files:
https://gist.github.com/ftomassetti/f8a3fc024beaf8c1cb6598ecdd35dfad

[2017-06-07 18:34] matozoid commented on #946
If this question is answered, please close it.

[2017-06-07 18:35] #944 closed, assigned to nobody

[2017-06-07 18:36] matozoid commented on #947
You'll get better help if you move your question to https://github.com/javaparser/javasymbolsolver

[2017-06-07 18:36] #947 closed, assigned to nobody

[2017-06-08 01:52] adudurant opened #956 "How to get the line number from ClassTree or MethodTree"
I use the Javaparser to analyze some java code.But how to  get the line number from ClassTree or MethodTree?  In fact ,I know that  the node or the statement have the API to get the line number.However,how to get from the Tree?

[2017-06-08 04:58] abhay-iy97 commented on #946
Thank you for all the help :)

[2017-06-08 04:58] #946 closed, assigned to nobody

[2017-06-08 08:44] matozoid commented on #956
I'm not sure what you mean with ClassTree or MethodTree - is it the output of `compilationUnit.getMethods()` or so? A little code example would help.

In general: every type of node has fields `range` and `tokenRange`. `range` points to `line,col` coordinates in the file. `tokenRange` points to the tokens for this node, and these tokens include their `line,col` coordinates too.

[2017-06-08 12:00] adudurant commented on #956
@matozoid
	static class VariableScanner extends TreeScanner<List<String>, List<String>>
	{
		@Override
		public List<String> visitVariable(VariableTree node,List<String> p)
		{
			System.out.println("variable "+node.toString());
			p.add(node.toString());
			return p;
		}

	}

How to get the var line number？

[2017-06-08 12:01] adudurant commented on #956
@matozoid  or how to get the Variable line number?

[2017-06-08 12:09] adudurant commented on #956
@matozoid   I  couldn't solve this problem， for  too few document to refer to。

[2017-06-08 12:46] adudurant commented on #956
The code as  follow

public class JDKParser {
	private ParserFactory factory;
	private static int counter = 0;
	public JDKParser() {
		factory = getParserFactory();
	}
	public List<String> parseMethodDefs(String file) throws IOException {
		JCCompilationUnit unit = parse(file);
		MethodScanner scanner = new MethodScanner();
		return scanner.visitCompilationUnit(unit, new ArrayList<String>());
	}

[2017-06-08 17:23] matozoid commented on #956
Okay, your code is from another project. `TreeScanner` and `MethodScanner` are from the JDK Compiler Tree API.

This project, JavaParser, is a completely independent implementation of a parser for Java. You will need to ask your question elsewhere, sorry!

[2017-06-08 18:39] matozoid commented on #956
(or, of course, you switch to this project. We have some documentation and helpful people ;-) )

[2017-06-09 09:03] adudurant commented on #956
Well ，anyone could help？

[2017-06-09 11:19] matozoid commented on #956
What is your project? I could explain if JavaParser is a good for for it.

[2017-06-11 01:15] adudurant commented on #956
You are so kind.Well,I want to get code about  the class the var  the method and so on from a java file.What 'more ,the file is from a project and I don't want to compile it. The JDKParser would help,could you show me some code meet my need so that I could begin?

[2017-06-11 11:18] matozoid commented on #956
This is within the scope of this library.
Here is our front page, it is recommended to read the book: http://javaparser.org/ (you can pay $0 if you like)
Here is a starter project: https://github.com/matozoid/java-logic-positivizer . You want to remove the modifier visitor and put a `VoidVisitorAdapter<Void>` there. Then you can add visit methods like the code you sent.

[2017-06-11 13:35] #589 closed, assigned to matozoid

[2017-06-11 13:35] #581 closed, assigned to matozoid

[2017-06-12 10:48] RaulGracia opened #2067 "Error solving type of String split() method in lambda function"
Hi,

I realized in my tests that JSS is having problems to resolve the type of the split() method of String.
This is a simple code to reproduce the problem I'm experiencing:

[code]

The test outputs the types found by JSS:

As you can see, JSS works well for the first lambda; however, after making use of the split() method, the rest of types cannot be resolved.

If we replace the return type of t

[2017-06-12 14:06] sourabhsparkala opened #957 "JavaParser.parseStatement() the second if block is completely ignored"
If I have a string given below to be parsed as Statement
String s="if (false)
        {
            i = 0;
        }
        else
        {
            data = 4;
        }
        if (true)
        {
            System.out.println(i);
        }";

JavaParser.parseStatement(s) ignores the 2nd 'if' block i.e
if (true)
        {
            System.out.println(i);
        }

[2017-06-12 14:07] lodart opened #2068 "Problem solving method call "System.out.println()""
Hi ! I'm going to need to use JavaParser and JSS for a project for an Internship, and I'm a bit struggling with the TypeSolver. I tried to adapt the piece of code from the JavaParserVisited pdf to Test classes and ended with this error when `System.out.println()` was present on one of my parsed files :

Here's how I built my CombindeTypeSolver :

        TypeSolver javaParserTypeSolver = new JavaP

[2017-06-12 15:53] arturbosch commented on #957
Maybe because that are two statements and the parseStatement just expects one?

[2017-06-12 16:15] matozoid commented on #957
Correct, please open an issue to make parsing fail if the stream isn't completely consumed or so.

[2017-06-12 21:15] sourabhsparkala commented on #957
Thank you for the repsonse

After the fix would JavapParser.parseStatements() be able to consume the entire stream?

[2017-06-12 21:21] matozoid commented on #957
No, it would fail because it is supposed to parse only one statement. You can use parseBlock to parse multiple statements. Just surround your piece of code with { and }

[2017-06-13 11:33] lodart commented on #2068
Well, I don't know what I did wrong, but now it seems to work.

[2017-06-13 13:31] lodart commented on #2068
Never mind, I'm confused :/

[2017-06-13 14:32] lodart opened #958 "Parse error. Found "/""
I've got an error when parsing this file : [https://github.com/SilenceIM/Silence/blob/master/src/org/smssecure/smssecure/attachments/AttachmentServer.java](url)
The error says :

	Exception in thread "main" com.github.javaparser.ParseProblemException: (line 0,col 0) Parse error. Found "/", expected one of  ";" "@" "\u001a" "abstract" "class" "default" "enum" "final" "import" "interface" "module" "

[2017-06-13 14:56] #958 closed, assigned to nobody

[2017-06-13 14:58] lodart commented on #958
Ok, my bad, I did
`CompilationUnit cu = JavaParser.parse(new File("AttachmentServer.java"));`
and not
`CompilationUnit cu = JavaParser.parse(new FileInputStream("AttachmentServer.java"));`

[2017-06-14 06:25] ftomassetti commented on #958
It happens even to the best ones. Feel free to report all the errors you are running to: we are here to help

[2017-06-14 06:27] ftomassetti commented on #2068
Could you provide more details, like the whole code you were using, the files you were trying to parse, etc.?

[2017-06-14 06:41] ftomassetti commented on #2067
Thanks for the details. Today I am leaving for a business trip but I hope to be able to work on this next week

[2017-06-14 09:21] matozoid commented on #2068
It's a javaparser.jar/java-symbol-solver.jar version mismatch again. Please remove the javaparser dependency from you pom.xml.

[2017-06-14 12:47] lodart commented on #2068
@matozoid @ftomassetti  My bad, I was juggling between projects and didn't realise this one was on 0.5.1 (I had only one java-symbol-solver-core dependency, though).
Changed it to 0.5.5, and now it works.
In the meantime, I tried parsing source code of larger projects ([https://github.com/SilenceIM/Silence](https://github.com/SilenceIM/Silence) for instance), but I've got a lot of unsolved Method

[2017-06-14 12:52] ftomassetti commented on #2068
please note that if your are using libraries (like the Android libraries) you need to add the corresponding JarTypeSolver otherwise method resolution will fail

[2017-06-14 13:05] ftomassetti opened #959 "Version constant"
Many users have issues with JSS because they use the wrong version of JP. Maybe we could have a check if we had a constant in JP telling us which version of JP we are using. On the JSS side we could use a static initializer to throw an exception if needed.

What do you guys think?

[2017-06-14 13:46] lodart commented on #2068
Thank you ! That helped, but now it seems like I'm stuck in an infinite loop after solving some method calls :
[code]

[2017-06-14 16:53] matozoid commented on #959
Do you know of any maven tools to do this easily?

[2017-06-14 16:56] matozoid commented on #959
Personally I think it's a beginner's mistake that shouldn't be fixed with more complexity on our side - I have no idea why suddenly this minor change triggered three issues though :-/

[2017-06-15 01:10] jjYBdx4IL opened #960 "GenericVisitorAdapter: print tree?"
Hi!

Is there an easy way (some already existing dump utility for debugging etc.) to "visually" print/log the AST? Ie. use traversal depth as indentation size or something similar and print out all nodes?

TY!

[2017-06-15 01:23] ryan-beckett opened #961 "Eclipse Project Setup Guide in Wiki"
Would you guys like to add this Eclipse project setup [guide](https://gist.github.com/ryan-beckett/bfe820707f55ddee4f84c7bd26a4ec19) as a Wiki page? It's in markdown and ready to be copied and pasted into a new page. I can do it myself, but I figured I'd ask first.

[2017-06-15 10:30] matozoid commented on #960
See #753 - @ryan-beckett is working on it. In the mean time I use the debugger from my IDE ;)

[2017-06-15 10:34] matozoid commented on #961
Wow, that's elaborate! It's only missing a note to set the correct formatting as seen here: https://github.com/javaparser/javaparser/wiki/Coding-Guidelines

Do add it to the wiki, I guess "contributer help" is the header to file it under.

[2017-06-15 12:55] ftomassetti commented on #959
Beginner mistakes have a cost on our time :)
It is also something surprising for more people that they do not need to use JavaParser when using JavaSymbolSolver.
Maybe it could be solved at the maven/gradle level checking if a dependency appear twice, it could be worth looking into that.

[2017-06-15 15:01] ryan-beckett commented on #961
Done.

[2017-06-15 15:01] #961 closed, assigned to nobody

[2017-06-15 18:48] UMLBuilder opened #962 "inner classes don't show"
How do i identify inner classes since they do not show a complete name as class$innerclass. And how do i prevent inner classes methods from showing up on the outter class again.

[2017-06-16 09:57] matozoid commented on #961
Thanks!

[2017-06-16 10:11] matozoid commented on #962
Using this terminology: https://docs.oracle.com/javase/tutorial/java/javaOO/nested.html
- `class$innerClass` is a notation that is used after the parsing step. While parsing, we only take the text from the source file and put it into a tree. The name of a class is literally what is in the source file.
- there is a helper method that tells you if a class is nested: `isNested()` - this may be what y

[2017-06-16 10:26] matozoid opened #963 "Add isInnerClass()"
See https://docs.oracle.com/javase/tutorial/java/javaOO/nested.html

Looks like it is simply `isNestedClass() && !isStatic()`

[2017-06-16 13:05] UMLBuilder commented on #962
IsNested() will solve part of my problem, how can I get to the parent class so that I can construct the naming chain class$innerclass? I saw a getparent() which returns an Optional<node>, but could not figure out how to grab the data out of this Node.

Also,

I want to list the methods of the nested classes on its class (that I was able to do), but when I list the methods of the outer class, all t

[2017-06-16 13:29] matozoid commented on #962
- to do something with the parent node, you will have to cast it. Beware of unexpected situations like...
[code]
My approach is to use an IDE with a debugger, and examine the AST for a piece of code in the variable window.
I think `getAncestorOfType(TypeDeclaration.class)` should get you started.

- I meant `isNestedType()` by the way, sorry!

- are you using a visitor to list the methods? If so,

[2017-06-16 13:43] UMLBuilder commented on #962
I tried to cast it the parent node to ClassOrInterfaceDeclaration, but it failed, even though I know that was the correct type of node (I saw on the debugger).

From: Danny van Bruggen [mailto:notifications@github.com]
Sent: Friday, June 16, 2017 9:30 AM
To: javaparser/javaparser <javaparser@noreply.github.com>
Cc: Renato Levy <rlevy@i-a-i.com>; Author <author@noreply.github.com>
Subject: Re: [jav

[2017-06-16 14:19] jjYBdx4IL commented on #960
My problem with GenericVisitorAdapter is that, like in that other issue stated somewhere similarly, that I'd have to override a lot of methods, and on top of that, I wouldn't be sure that an update wouldn't introduce a new method/type that I'd miss then. So, a practical solution would be to simply add a single visit method like visit(Node, Object payload) and call it from any of the visit methods,

[2017-06-16 14:36] UMLBuilder commented on #962
TypeDeclaration is not visitable.

From: Danny van Bruggen [mailto:notifications@github.com]
Sent: Friday, June 16, 2017 9:30 AM
To: javaparser/javaparser <javaparser@noreply.github.com>
Cc: Renato Levy <rlevy@i-a-i.com>; Author <author@noreply.github.com>
Subject: Re: [javaparser/javaparser] inner classes don't show (#962)

  *   to do something with the parent node, you will have to cast it. Bew

[2017-06-16 16:57] matozoid commented on #960
I'll move what we have into the next release.

[2017-06-16 17:13] matozoid commented on #960
See #964

[2017-06-16 17:15] matozoid commented on #962
- are you sure you aren't casting `Optional` to a node? Here's a guide if needed: http://www.oracle.com/technetwork/articles/java/java8-optional-2175753.html

- Of course, TypeDeclaration is abstract. Sorry! But, same story but with its children: EnumDeclaration, AnnotationDeclaration and ClassOrInterfaceDeclaration.

[2017-06-16 19:03] UMLBuilder commented on #962
I figured I had to invoke get() again to get to a Node per se, and I can retrieve the name by asking it to ToString(), but it still would not let me cast it.

In the case of the methods, I still need to visit each method in the context of the class to verify method invocation in other classes. But I need to avoid repeating nested/Inner class methods. Any ideas?

From: Danny van Bruggen [mailto:not

[2017-06-16 20:30] UMLBuilder commented on #962
Got it all done by inspecting the parent node, first child….

From: Danny van Bruggen [mailto:notifications@github.com]
Sent: Friday, June 16, 2017 1:16 PM
To: javaparser/javaparser <javaparser@noreply.github.com>
Cc: Renato Levy <rlevy@i-a-i.com>; Author <author@noreply.github.com>
Subject: Re: [javaparser/javaparser] inner classes don't show (#962)

·         are you sure you aren't casting Opti

[2017-06-16 23:51] matozoid commented on #962
You mean the issue is fixed? If not, it would be good to look at some code because I keep having to guess what you're doing.

[2017-06-17 00:45] ryan-beckett commented on #753
@matozoid: I'm going to implement the others in the way you did the `XXXDump.java` files. It's the most straightforward way. IMO, patterning or abstracting any more is just overkill. It'll be:

[code]

[2017-06-17 11:07] matozoid commented on #753
Okay, #964 was updated

[2017-06-17 20:27] #136 closed, assigned to nobody

[2017-06-17 20:27] matozoid commented on #136
Check out https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-06-17 21:13] matozoid commented on #758
Okay, there is a disadvantage here: the type parameter is there only for the return type of the setters. Now, if I want to remove it, I have to move all the implemented `NodeWith...` interfaces down from the abstract nodes to the concrete nodes, because there I can definitely tell the interface what setter return type they should have.

But that means you can't use those interface on the abstract

[2017-06-17 21:28] matozoid commented on #758
... I may be able to fix that if I get rid of the type parameter on the `NodeWith...` interface too, and simply depend on what's-it-called, return type reduction or so.

[2017-06-18 02:30] ryan-beckett commented on #753
Two questions:

1. Format the output or leave it without unnecessary white space. I.e.:

[code]
vs

[code]

I know there are tools to format the output, but it would it be such a bad idea for it to be done automatically?

2. Which example will suffice in terms of output. I think the second is verbose, but are there cases where that verbosity is necessary? I feel like someone manually processing th

[2017-06-18 06:49] ftomassetti commented on #758
Could you give an example, just to be sure I do not misunderstand? I think that the higher in the hierarchy we use the NodeWith interfaces the better it is. I agree that the type returned by the setters is not _that_ important

[2017-06-18 06:53] ftomassetti opened #967 "Split ClassOrInterfaceDeclaration into two classes"
With maybe a common ancestor, or maybe both extending TypeDeclaration directly.

I think the name is long and it can be a bit confusing. It also led to use `isInterface` a lot

[2017-06-18 09:28] matozoid commented on #753
1. People request this to get an overview of the AST, just to examine it by eye. So formatting would make sense.
2. Phew, maybe read through the original issues to see what they were after. Both are nice (although the first is missing the property names, which would make it less uhhh... informative?)

[2017-06-18 09:39] matozoid commented on #758
Yeah, I guessed I was being unclear :)

Current:
[code]

My first attempt to remove the `<?>` from `TypeDeclaration`:

[code]
As you can see, I need to move the interface.
If I also implement it on TypeDeclaration as NodeWithSomething<TypeDeclaration>,
the compiler complains that I shouldn't reimplement it with a different type parameter in COID.

Idea:
[code]

I think this last one should work...

[2017-06-18 09:52] #963 closed, assigned to matozoid

[2017-06-18 10:18] matozoid opened #968 "Make a side project that transforms the AST into a weakly typed AST"
The current AST is nice and type safe, but it is very hard to extend. We could create a weakly typed AST alternative that only has a Node class, but we would have to be able to switch the parser from generating one type of AST to another. So instead of having `new`s in the grammar, we could call a factory there, the default factory containing those `new`s. Now we can switch out the factory and cre

[2017-06-18 10:40] matozoid opened #969 "Fix Coveralls badge"
It comes up broken on PR's all the time

[2017-06-18 13:37] ryan-beckett commented on #753
Yeah, essentially the first is stripped of Metadata. We'll go with the 2nd then.

[2017-06-18 14:32] matozoid commented on #753
I've put a preliminary XmlPrinter and JsonPrinter on master so people have something to play with, you should see them when you merge master.

[2017-06-18 16:03] #959 closed, assigned to matozoid

[2017-06-18 18:20] ryan-beckett commented on #753
Cool. I altered your code a little so that it prints indented content. I'll submit pull requests when I finish.

[2017-06-19 13:14] UMLBuilder commented on #962
The issue is fixed, I’m able to identify the inner class all the way to the package, and create the proper $ full name. I’m also able to use the parent node to verify if the method is on the current method or left over from an inner class (same thing can be done with variables and constructors).

In my personal opinion, the visitor should have alternative parameters to shun off nested/inner class,

[2017-06-19 13:58] UMLBuilder commented on #962
Do you want me to update the thread and explain how I did it?

From: Danny van Bruggen [mailto:notifications@github.com]
Sent: Friday, June 16, 2017 7:52 PM
To: javaparser/javaparser <javaparser@noreply.github.com>
Cc: Renato Levy <rlevy@i-a-i.com>; Author <author@noreply.github.com>
Subject: Re: [javaparser/javaparser] inner classes don't show (#962)

You mean the issue is fixed? If not, it would

[2017-06-19 16:58] matozoid commented on #962
No, it's fine, I just wanted to know if the question is answered so we can close this one. Let us know when you have some diagrams to see - we can give you a shout out on Twitter and so on :-)

[2017-06-19 17:01] matozoid commented on #962
About additional visitor parameters (I assume methods, not parameters) - the current ones use the visitor pattern exactly as you would expect. But I too have wondered if I could make a few new ones that also visitor the `NodeWith...` interfaces for example. That would mean the same node gets visited multiple times. I'll make an issue.

[2017-06-19 17:05] UMLBuilder commented on #962
Yes, I meant cover methods with additional parameters. But, you are right, other solutions can cover the capability without breaking the pattern.

From: Danny van Bruggen [mailto:notifications@github.com]
Sent: Monday, June 19, 2017 1:02 PM
To: javaparser/javaparser <javaparser@noreply.github.com>
Cc: Renato Levy <rlevy@i-a-i.com>; Author <author@noreply.github.com>
Subject: Re: [javaparser/javapa

[2017-06-19 17:19] 4ndygu opened #971 "parsing classes in the same directory"
Say that I'm running javaparser over some class A, but class A is using some object instance of class B in the same directory and package, so it doesn't really need an import statement. If, say, I'm looking for all Assignment Expressions and their types, how would I be able to take this into account with JavaParserTypeSolver?

pointing a JavaParserTypeSolver to the root directory works for importe

[2017-06-19 17:30] matozoid commented on #962
Here, take a look at this, I think it does more or less what you want:

[code]

[2017-06-19 17:32] matozoid commented on #971
Sorry for the extra effort, but your issue will be handled better if you put it on JavaSymbolSolver's issue list: https://github.com/javaparser/javasymbolsolver/issues

[2017-06-19 17:48] 4ndygu commented on #971
thanks!

[2017-06-19 17:48] #971 closed, assigned to nobody

[2017-06-19 17:57] UMLBuilder commented on #962
Thanks. There was more then the code I sent, I actually analyze the code within the method to figure out how certain classes are used, and that’s why I had the method separated on code. But, your contribution is greatly appreciated.

From: Danny van Bruggen [mailto:notifications@github.com]
Sent: Monday, June 19, 2017 1:31 PM
To: javaparser/javaparser <javaparser@noreply.github.com>
Cc: Renato Lev

[2017-06-19 19:09] matozoid commented on #962
Cool! See you in another issue :-)

[2017-06-19 19:09] #962 closed, assigned to nobody

[2017-06-20 06:40] ftomassetti commented on #968
Interesting!

[2017-06-20 06:41] ftomassetti commented on #758
And anyway you have to redeclare the actual method in the concrete class to implement it, right? So I guess it makes sense

[2017-06-20 10:52] matozoid commented on #758
Yeah, the type parameter made the return type narrowing automatic. I feel a little bad about all the super-calls, but at least we don't bother people with odd `<?>`'s anymore.

[2017-06-20 18:04] matozoid commented on #956
No response, closing.

[2017-06-20 18:04] #956 closed, assigned to nobody

[2017-06-20 18:05] matozoid commented on #960
You can find `XmlPrinter` and `JsonPrinter` in version 3.2.8

[2017-06-21 15:50] jjYBdx4IL commented on #960
TY!

[2017-06-21 15:50] #960 closed, assigned to nobody

[2017-06-21 20:25] matozoid opened #972 "Stop ignoring excess code when parsing parts"
See #957 - when parsing parts of Java, check that the whole stream is consumed when parsing is done and fail if it isn't.

[2017-06-21 20:26] matozoid commented on #957
I assume this is answered. If not, please reopen or create a new issue.

[2017-06-21 20:26] #957 closed, assigned to nobody

[2017-06-22 09:47] arjunbinsevarghese opened #973 "Is it possible to visit a method's definition from a call to it"
Hi, I am trying to generate a control flow graph for the functions inside a java project. I am able to find the methods called inside a method body. But now i want to visit the method's which are called. This has to be done recursively. Is it possible to do it with javaparser and javasymbolsolver?

[2017-06-22 12:42] matozoid commented on #973
@ftomassetti should know.

[2017-06-22 17:26] ftomassetti commented on #973
Yes and no. With JavaSymbolSolver is possible to find the corresponding [MethodDeclaration](http://static.javadoc.io/com.github.javaparser/java-symbol-solver-model/0.5.5/com/github/javaparser/symbolsolver/model/declarations/MethodDeclaration.html). This can correspond to:
* a method loaded from a JAR
* a method obtained through reflection (typically for java.* classes)
* a method declared in a sou

[2017-06-23 13:37] matozoid commented on #968
This won't work actually, since I can't vary the return types of the parser rules. A factory might return MyCustomExpression but the grammar still wants `com.github.javaparser.expr.Expression`.

Another way to do this is simply generate a visitor that turns the usual AST into another AST. Simple!

[2017-06-26 13:14] bartoszmajsak opened #976 "Invalid POM for 3.2.8"
While building the project against version `3.2.8` I'm getting following error:

[code]

Debug logging doesn't really say much more than that or I am not able to see the correct information in all this noise :)

#### My environment

[code]

[2017-06-26 13:51] matozoid commented on #976
Good thing we don't have any transitive dependencies :-) I'll take a look.

[2017-06-26 13:52] bartoszmajsak commented on #976
Yeah otherwise it would fail ;)

[2017-06-26 15:27] sourabhsparkala opened #977 "Find Unused codes or DeadCodes using JavaParser or JavaSymbolSolver"
Find unnecessary (dead) public java code. For example public classes, methods or fields which have no references.

I want to know if it is possible to use JavaParser or JavaSymbolSolver static analysis to find these dead codes in the source code. Could I get a starting point or an example snippet to understand, how to accomplish this?

Regards

[2017-06-26 17:51] matozoid commented on #977
@ftomassetti - your turn again

[2017-06-26 21:36] Gottox opened #979 "FieldDeclaration with multiple VariableDeclarators: Type of Declarator may point to wrong parent."
Testcode:
[code]
AssertionError on the first `assertEquals`:
[code]

[2017-06-27 18:13] arturbosch commented on #977
Here you [go](https://github.com/arturbosch/SmartSmells/blob/master/src/main/groovy/io/gitlab/arturbosch/smartsmells/smells/deadcode/DeadCodeVisitor.groovy)

I have a visitor which finds unused code declared as private (private members, parameters and locale variables). It is not really good code to look at as I was new to groovy and javaparser back then but it does it's job good enought. With Sym

[2017-06-27 18:29] sourabhsparkala commented on #977
Thank you so much. This really helped a lot....

Regards
Sourabh

[2017-06-27 18:29] #977 closed, assigned to nobody

[2017-06-27 20:32] matozoid commented on #979
Ah yes, the type node is reused for all variables, so first it is the type of `a` so it has parent `a`, then `b` is initialized and its type is set to exact the same type, but we now set its parent to `b` and, being the same object, parent `a` is overwritten... Oops!

[2017-06-28 10:02] ftomassetti commented on #758
I think we should focus on the user point of view. We can privately suffer for the super-calls for the sake of the greater benefit

[2017-06-28 11:38] matozoid commented on #758
Uhuh, but I'm also thinking of stacktraces with with several identical set methods above each other :-O

[2017-06-29 17:39] #979 closed, assigned to nobody

[2017-06-29 17:39] matozoid commented on #976
Fixed in next release!

[2017-06-29 17:39] #976 closed, assigned to nobody

[2017-06-29 17:41] matozoid commented on #976
Oh, it was a property definition under the same name as the placeholder inside it. So a recursive one. I think I got that suggestion from Google somewhere, so that suggestion was wrong :-)

[2017-06-30 08:14] #931 closed, assigned to nobody

[2017-06-30 08:21] matozoid commented on #968
So I'm thinking of the opposite of what we have now: have a single `Node` that contains a few default properties like a `TokenRange`, a `String type`, and a `Map<String, Object>` of properties. Those properties can be nodes, strings, lists, whatever. Useful for people who want to play with extending or otherwise mutilating Java. The project should have some support code too, maybe a simple functio

[2017-06-30 08:26] ftomassetti commented on #968
Makes sense. I think this project would be interesting and we should try to understand better the scenario in which it will be used and the requirements for that scenario.

In a more general way I think that as we gain more popularity we should have some sort of strategic sessions: we could gather and discuss where to focus our energies and try to understand what is most important for the project.

[2017-06-30 12:20] lodart opened #983 "Save the AST ?"
Hi !
Is it possible to save the AST (couldn't do it with Serialization) to use it later ?
Here's what I have to do : I parse some source code, I gather all Callable Declarations, and I compute all the calls between them (mainly with JSS). Then I analyse stuff.
But I'd like to avoid all the first part each time I run an analysis.

Thank you !

[2017-06-30 12:27] drdrwhite opened #984 "Possible bug in Statement.remove where syntatically identical statements appear?"
If I call .remove() on a statement in a block, and there is another syntactically identical statement in the same block, then I get an exception when pretty printing the compilation unit.

Minimal example below.

I note discrepancies between the updated childNodes and statement arrays of the parent block statement object after the remove.

I'm using JavaParser-core 3.2.8 from Maven.

It may be tha

[2017-06-30 14:56] codykenb commented on #984
[EqualsVisitor.nodeEquals() line: 100](https://github.com/javaparser/javaparser/blob/javaparser-parent-3.2.8/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/EqualsVisitor.java#L100) checks if the nodes are equal, they are not, but the function continues to check all children recursively and eventually returns true.

If the nodes are not the same, should nodeEquals() return false im

[2017-06-30 18:49] matozoid commented on #983
Why can't you do it with serialization? Because we didn't put `Serializable` on everything?

I guess the most straightforward way would be to use one of the popular XML, JSON, YAML, etc mappers.

But it seems you want to save more than just the AST?

[2017-06-30 18:51] matozoid opened #985 "Organize a miniconference"
As suggested in #968, it would be nice to have (virtual) meetings to coordinate things a bit more.

[2017-06-30 19:02] matozoid commented on #984
Ouch, that's a nasty mix of using `==` and `equals`. Debugging...

[2017-06-30 19:18] matozoid commented on #984
@drdrwhite - thanks for the excellent sample code! It has now become a unit test :-) See #986

[2017-06-30 19:23] matozoid commented on #984
@codykenb - that would be true if the `EqualsVisitor` compared on object identity - but then you could simply do `a==b` on any two nodes and get your answer. `EqualsVisitor` gives you a comparison on content, not identity. `a==4` and `a==4` are equal according to this visitor, even if they come from completely different source files.

[2017-06-30 19:24] matozoid commented on #969
It fixed itself.

[2017-06-30 19:24] #969 closed, assigned to nobody

[2017-06-30 19:24] matozoid commented on #984
Oh, and thanks for the compliment, @drdrwhite :)

[2017-07-01 06:32] ftomassetti commented on #985
Ideally I would like to hear from users. The problem is that is hard to reach them.

Then I would like to hear what we think are our priorities: what we think is needed, what we are excited about, what we think we can build in the next six months or so, etc.

[2017-07-03 06:28] lodart commented on #983
Yes, basically, I wan't to save a list of "WrappedNodes" (that contain a JP Node + some infos, like it's "parents" and "children"). I couldn't serialize those as I got NotSerializableException, and I don't wan't them to be transient as I could need them later.
I'll have a look on those mappers, thank you !

[2017-07-03 06:29] #983 closed, assigned to nobody

[2017-07-03 09:16] anql opened #987 "How to get parameter String's package name "java.lang"?"
Sample Java Code:
[code]

I can get String class 's SimpleName from 'com.github.javaparser.ast.body.Parameter'.
But how to get String's package name "java.lang"?

[2017-07-03 09:17] matozoid commented on #987
Please take a look at the Java symbol solver project.

[2017-07-03 09:19] anql commented on #987
Thank you!

[2017-07-03 09:19] #987 closed, assigned to nobody

[2017-07-03 12:46] matozoid opened #988 "Deal with the updated parsing method for "require transitive""
"A further ten character sequences are restricted keywords: open, module, requires, transitive, exports, opens, to, uses, provides, and with. These character sequences are tokenized as keywords solely where they appear as terminals in the ModuleDeclaration and ModuleDirective productions (§7.7). They are tokenized as identifiers everywhere else, for compatibility with programs written prior to Jav

[2017-07-03 13:16] drdrwhite commented on #984
Thanks very much for addressing this so quickly @matozoid

When is this likely to be released to Maven? I ask as this was discovered by the [Gin Project](https://github.com/drdrwhite/gin) and we have a PR blocked on it.

...btw, the Gin project is a research project that in essence searches code spaces for optimisations... these methods tend to generate pretty funky code, so we will be giving Java

[2017-07-03 13:22] ftomassetti commented on #984
I think it is already in version 3.2.9 which was released yesterday

[2017-07-03 13:34] matozoid commented on #983
Something like Jackson has a pretty simple API, good luck!

[2017-07-03 13:36] matozoid commented on #984
Looking forward to hopefully not too many bug reports, @drdrwhite ;-)

[2017-07-03 15:07] #984 closed, assigned to nobody

[2017-07-03 15:08] matozoid commented on #973
No more response, assuming answered.

[2017-07-03 15:08] #973 closed, assigned to ftomassetti

[2017-07-05 13:57] matozoid opened #989 "Update versions on javaparser.org"
Ouch, so outdated!

[2017-07-05 14:02] ftomassetti commented on #989
It has also its own set of issues: https://github.com/javaparser/javaparser-website/issues/new

[2017-07-05 15:44] matozoid commented on #989
That I never really look at :-(

[2017-07-06 09:06] ftomassetti commented on #192
Well, almost 2 years are passed now, so I suggest you move to JavaParser 3.2.10 and verify if the problem is still present.

Version 2.3.0 is not supported anymore.

[2017-07-06 09:06] ftomassetti commented on #989
This should be done now, closing

[2017-07-06 09:06] #989 closed, assigned to nobody

[2017-07-06 09:32] vidyat11 commented on #192
Thanks for the quick reply. I will check and update you

[2017-07-06 09:35] vidyat11 commented on #192
Still am facing the same problem

[2017-07-06 09:40] matozoid commented on #192
@ftomassetti - I'm keeping the comment support issues open until we rewrite the whole thing.

[2017-07-06 09:42] ftomassetti commented on #192
Yes, when we will discuss the big picture we should probably put the comment support rewriting among the priorities

[2017-07-06 09:42] ariannab opened #990 "Unextracted Javadoc comments"
If there are additional comments between the Javadoc and the method declaration, the Javadoc comments are not correctly extracted.
See for example this Guava source:
https://github.com/google/guava/blob/master/guava/src/com/google/common/collect/ConcurrentHashMultiset.java

At line 259, you see a block comment. This is the only comment extracted for that `MethodDeclaration`, while its `Javadoc` wi

[2017-07-06 09:56] matozoid commented on #990
Thanks! We're going to redo the comment support, you can check here: #638

As you can see, the system currently in place is based on a few simple heuristics, while users expect it to be exact, leading to lots of issues: https://github.com/javaparser/javaparser/labels/Comment%20support

The fundamental problem is putting information that can appear in any position in the source text into an Abstrac

[2017-07-06 10:08] vidyat11 commented on #192
@ftomassetti Any other version will support for this issues

[2017-07-06 10:09] ftomassetti commented on #192
@vidyat11 I am not sure what you mean

[2017-07-06 14:47] mernst commented on #638
This approach:

is not quite right.  After encountering a Javadoc documentation comment (one that starts with `/**`), if the next non-comment node is a module, package, class, interface, constructor, method, or field declaration, then the Javadoc comment should be attached to it.  However, if the next non-comment node is anything else, then the Javadoc comment should be treated as a normal comment

[2017-07-06 18:21] matozoid commented on #192
@vidyat11 the current approach to comments can never completely restore all comments in the correct position. We are rethinking comment support in issue #638.

[2017-07-06 18:26] matozoid commented on #638
Thanks, corrected in the top post.

If you or anyone else has any suggestions on how to deal with other comments, that would be useful too.

[2017-07-08 16:37] ftomassetti opened #992 "The parent of the javaparser-core-generators is not updated"
It is 3.2.9-SNAPSHOT. Idealy we should change it automatically

[2017-07-08 17:10] ftomassetti commented on #731
Ok, I started looking into this one

[2017-07-08 20:13] matozoid commented on #731
We should have a brainstorm about how to do pretty printing and comment manipulation now we have the CST and lexical preservation.

[2017-07-08 20:15] matozoid commented on #992
Hmmm, what I can do is make them part of the build again, but take out the part where they are run during the build. Then we do the running from the scripts, or with a special profile or so.

[2017-07-09 10:06] ftomassetti commented on #731
For now I am using the CST metamodel to generate the PrettyPrintVisitor

[2017-07-09 19:19] matozoid commented on #992
Let's not tag stuff "easy" that we don't want new people to do :-D

[2017-07-10 05:58] vidyat11 commented on #192
@matozoid thanks for reply

[2017-07-10 11:49] ftomassetti commented on #992
Right, I will use the tag easy more carefully

[2017-07-10 13:49] sourabhsparkala commented on #538
Hello,

Is this feature implemented. What I need is a way to print the Compilation Unit in the Tree Structure format, or an XML format.

Regards
Sourabh

[2017-07-10 14:25] matozoid commented on #538
We currently have an XmlPrinter and a JsonPrinter available, but remember that they are not meant for serious serialization tasks, only for visualisation, and they are not yet final.

You could use those, or copy them and write your own, or if you need serialization use one of the well known serialization libraries out there.

[2017-07-10 17:30] matozoid opened #995 "Improve utility method "add""
This one: `static <T extends Node> NodeList<T> add(int pos, NodeList<T> list, T obj)`

It's only used for prepending obj to the list, so why not call it `prepend` and remove the `pos` parameter?

[2017-07-10 18:59] #992 closed, assigned to matozoid

[2017-07-10 18:59] #988 closed, assigned to matozoid

[2017-07-12 16:48] matozoid opened #1001 "Inspect Intellij inspections on CSM & lex pres"
There are quite a few "condition is always false" "wrong type in collection" and other warnings on this code. Needs a careful inspection!

[2017-07-16 20:03] #995 closed, assigned to matozoid

[2017-07-17 09:44] matozoid opened #1002 "Categorize tokens"
We're suggesting more and more that people take a look at the tokens when they want to work with comments. It would be nice if we could ask a token if it is a comment (meaning: it is javadoc, a line comment, or a block comment.) We could do that with a `isComment` method, but the thing we're doing seems to be categorization of tokens. The JLS has some categories already: https://docs.oracle.com/ja

[2017-07-17 11:48] lodart opened #1003 "StackOverflowError when there are a lot of "//" comments"
I have a StackOverflowError on [this file](https://pastebin.com/QzTrGVVi), that disappears when I [delete all `//` comments](https://pastebin.com/vd94GKSa) (and there are a lot).
This file comes from a decompiled Apk (and the comments come from the decompiler) so I could just remove all comments before parsing, but I just wanted to warn you, guys :)

	Exception in thread "main" java.lang.StackOver

[2017-07-17 11:53] ftomassetti commented on #1003
I wonder if the cause is this comment:
[code]

[2017-07-17 11:57] lodart commented on #1003
I don't think so. It parses well when I remove all comments but the `// ERROR //` ones, and it doesn't when I remove `// ERROR //` ones and leave the others.

[2017-07-17 12:30] matozoid commented on #1003
Hmm, my default advice would simple be to increase the JVM stack size, but this one is odd, no real reason to have stack overflows here I guess. Yes, looks like a bug. Thanks!

[2017-07-17 12:33] matozoid commented on #1003
Oh, I think I got it already. This method calls itself for every "special token" that is attached to the current token. Comments and whitespace are special tokens, and you produced a long, long stretch of only special tokens. Solvable by increasing stack size, but I think the code is simple enough to refactor.

[2017-07-17 17:04] matozoid opened #1004 "Token list modification methods"
We have a token stream, but no real way to change it, but we do expect users to manipulate it.

We could use...:

On `JavaToken`:
- `remove()`
- `replace()`
- `insertBefore()` and `insertAfter()`
- setters for all fields
... with warnings that these might make the data in some `TokenRange`s invalid because a `begin` or `end` pointer points to a moved, removed, or replaced `JavaToken`.

On `TokenRa

[2017-07-17 18:03] matozoid commented on #192
@ftomassetti - oh, sorry for my comments here. I see that @vidyat11 reopened this issue with another issue.

@vidyat11 - please open another issue, I just wasted my time trying to fix the issue from @mahendrakariya ...

[2017-07-17 18:03] #192 closed, assigned to nobody

[2017-07-17 19:50] matozoid opened #1005 "Make a cursor API"
Create an API where you can move a virtual cursor through the token list and do things like...

[code]

[code]

So that we have an easier time manipulating the tokens (probably easier than in #1004 )

Primary goal is to deal with comments without dealing with the AST.

[2017-07-17 19:58] matozoid commented on #1005
Inspiration is https://xmlbeans.apache.org/docs/2.0.0/reference/org/apache/xmlbeans/XmlCursor.html

[2017-07-18 08:13] matozoid commented on #1005
This will also give the possibility to make the precise adjustments that a source code formatter needs to make. You could express "set the cursor to the start of this block statement (that's just before the opening brace), delete all the existing whitespace here, and insert a space" or "... insert a newline and indent."

[2017-07-18 12:55] ftomassetti commented on #731
I am facing a significant issues with the VariableDeclarator because of the array levels and the associated annotations.

[2017-07-18 13:46] ftomassetti commented on #845
It seems there is a problem with calculating the range of cast expressions, at least when intersection types are used

[2017-07-18 13:59] ftomassetti commented on #845
The problem seems that we call generateLambda to hack the token range of lambdas but later we did not correct the parent range

[2017-07-18 14:28] ftomassetti commented on #845
Also, the range of the intersection type is too wide

[2017-07-18 16:09] matozoid commented on #731
I am not surprised. :-D

[2017-07-19 15:10] ftomassetti commented on #731
Do you think are we going to remove the PrettyPrintVisitor? In that case should we drop this task?

[2017-07-19 16:42] matozoid commented on #731
Well, I have this idea because you suggested we could use the CST for pretty printing :-) And that cursor API can be used for reformatting, for example.

[2017-07-19 16:46] #1001 closed, assigned to ftomassetti

[2017-07-19 17:07] ftomassetti commented on #731
Ok, then I will leave it for now and we could close the ticket as we delete the PrettyPrintVisitor. If we instead end up keeping it we will finish this work.

[2017-07-19 17:11] matozoid commented on #731
Okay, do follow up on the array bracket trouble in the AST/CST

[2017-07-19 17:11] #731 closed, assigned to ftomassetti

[2017-07-19 17:28] matozoid commented on #1005
Hmmm, I don't think we need a separate API for this - all of these methods can be put directly on `JavaToken`.

[2017-07-20 13:23] martinlippert commented on #589
I wonder how I can use this recovering feature for the parser. When I am parsing a file with an error, like:

[code]

I get the error report correctly, but the compilation unit doesn't contain any child nodes. Is there maybe something that I am doing wrong here?

[2017-07-20 21:37] wietlol opened #1009 "Float literals recognized as double literals"
The code "0.0f" is recognized as DoubleLiteralExpr.
This would break many things as a double is not a float.

[2017-07-21 06:07] ftomassetti commented on #1009
The documentation of `DoubleLiteralExpr` states: "A float or a double constant. This value is stored exactly as found in the source.". So it means that the user has the responsibility of looking at the text and check if it ends with an "f" or not.

I would agree this could be improved.

[2017-07-21 06:15] ftomassetti commented on #1009
What we could do is:

- create FloatLiteralExpr in version 4
- add the methods `isFloat` and `isDouble` to DoubleLiteralExpr in version 3

@matozoid what do you think?

[2017-07-21 06:31] wietlol commented on #1009
I prefer consistency above anything else...
I assume IntegerLiteralExpr vs LongLiteralExpr is a similar situation

[2017-07-21 08:17] matozoid commented on #1009
Thanks! It's a duplicate though: #664. The idea is to release it in version 4, but if it is really in the way we could put this change on a branch, and you could use that version?

[2017-07-21 08:19] matozoid commented on #589
@martinlippert - here's a bit of documentation: https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-07-21 08:37] matozoid opened #1010 "EnclosedExpr::getInner should not be optional"
It currently is, because the parser temporarily uses an EnclosedExpr for lambda parameters. This is gone by the time it reaches the user though.

[2017-07-21 08:48] matozoid opened #1011 "TryStmt.tryBlock should not be optional"

[2017-07-21 09:14] sdrgroup opened #1012 ""enum" should not be a reserved keyword in Java 1.4 and lower"
private static void cloneChildren(JMeterTreeNode to, JMeterTreeNode from)
    {
        **Enumeration enum = from.children();**
        while (enum.hasMoreElements())
        {
            JMeterTreeNode child = (JMeterTreeNode) enum.nextElement();
            JMeterTreeNode childClone = (JMeterTreeNode) child.clone();
            childClone.setUserObject(
                ((TestElement) child.getU

[2017-07-21 09:17] ftomassetti commented on #1012
enum is a keyword in Java since Java 6 I think. Which version of Java is being used for compiling this code?

[2017-07-21 09:49] matozoid commented on #1012
It's some custom enumeration, that's not it.

This is a snippet of code, not a compilation unit. What method are you using to parse it?

[2017-07-21 10:08] ftomassetti commented on #1012
Yes, you are right that maybe he is not using the right method to parse this piece of code, however the name of the variable is "enum", which is a keyword so that will cause also an error even if he uses the right method to parse the code, I think.

[2017-07-21 12:22] matozoid opened #1013 "Add to ObjectCreationExpr Javadoc what "scope" is for"
[code]

`new B()` is the scope

[2017-07-21 12:26] matozoid commented on #1012
Ahhhh I overlooked that. Yes, reproduced it.

[2017-07-21 12:29] matozoid commented on #1012
It can be fixed by accepting `enum` as an identifier. I guess we should do the same for other keywords that weren't available in Java 1.0.

[2017-07-21 14:48] ftomassetti commented on #1012
But it depends on the language level, right? I mean, in Java 9 `enum` cannot be an identifier: it is just a keyword

[2017-07-21 15:05] matozoid opened #1016 "Make required nodes replaceable"
The replace method generator is such an exact copy of the delete method generator that it also disallows replaceing required nodes. No need for that though, they can just be `set` to the new value.

[2017-07-21 15:12] matozoid commented on #1012
True, so with the motto "the parser accepts as much as possible. The validators will flag the errors." the parser should accept these as identifiers, and validators should be written that will add a `Problem` when an identifier is called `enum` starting from Java 5 or 6 or so.

[2017-07-22 02:43] sdrgroup commented on #1012
Yes. they are old codes.
I will close this issue.
Thank you.

[2017-07-23 16:43] Trasd commented on #325
Has there been progress with this addition?  Has Javadoc parsing been fully integrated?

I'm not currently working on a project that needs this capability (so I haven't dug too deep), but kicking around an idea for the future.

Thanks.

[2017-07-23 17:45] matozoid commented on #1012
I'll keep this open until the issue is solved.

[2017-07-23 17:48] matozoid commented on #325
@Trasd the issue is closed and marked solved in 3.0.1. The pull request for it that I just linked (#699) has some info.

[2017-07-23 17:56] Trasd commented on #325
@matozoid Yes, thank you.  Sorry to clutter it up.  I noticed it was closed **after** I posted.

As I said, I'm not ready yet, but I got interested and have uncovered a lot since my post.

Nice work guys!

[2017-07-23 17:57] matozoid commented on #325
Thanks! Feel free to clutter stuff up a bit :-)

[2017-07-23 19:50] matozoid opened #1017 "LambdaExpr left side too permissive"
This is accepted: `class X{int x(){ a(1+1 -> 10);}}`

Maybe add a validation to check this.

[2017-07-25 12:57] matozoid opened #1019 ""assert" should not be a reserved keyword in Java 1.3 and lower"
This is a nasty one, since `assert abc;` will be interpreted as a variable declaration when we do the make-the-keyword-a-valid-identifier trick.

[2017-07-25 12:58] matozoid opened #1020 ""strictfp" should not be a keyword in Java 1.1 and below"

[2017-07-25 13:00] matozoid opened #1021 "Create a performance test suite"
We're currently unable to track the performance impact of a new feature.

[2017-07-25 13:04] ftomassetti commented on #1021
Yes, this would be useful, but I would not know how to implement it correctly

[2017-07-25 13:12] matozoid commented on #1021
Hmmm, maybe the simplest way to start would be to take the unit test that currently parses all JP source code and time it.

[2017-07-25 13:25] DeepSnowNeeL commented on #1021
To do it right, we could use JMH
http://openjdk.java.net/projects/code-tools/jmh/ ?

Le mar. 25 juil. 2017 à 15:12, Danny van Bruggen <notifications@github.com>
a écrit :

[2017-07-25 18:11] matozoid commented on #1021
:-O I didn't that existed, looks cool!

[2017-07-26 07:02] ftomassetti opened #1024 "Grammar for float literals"
Why is this expressed in this way?
[code]

I do not understand the "+" and "*" followin the DECIMAL_LITERAL, because DECIMAL_LITERAL should represent already a sequence of digits, not just one digit.

[2017-07-26 09:31] matozoid commented on #1024
Stop it with all the grammar bugs already :-D

[2017-07-26 09:32] ftomassetti commented on #1024
As soon as you stop with the comments bugs :D
Anyway I am not sure it is really a bug because it works anyway, but I thought it was the case to look into this and clarify

[2017-07-26 16:50] matozoid commented on #968
The Go people created a "Universal AST" defined here: https://doc.bblf.sh/uast/uast-specification.html

Using code generation to create a visitor that transforms our AST into that AST might be a good topic for the book.

[2017-07-26 17:23] #1024 closed, assigned to matozoid

[2017-07-26 17:23] #1020 closed, assigned to matozoid

[2017-07-26 17:23] #1016 closed, assigned to matozoid

[2017-07-26 17:23] #1013 closed, assigned to matozoid

[2017-07-26 17:23] #1012 closed, assigned to matozoid

[2017-07-26 17:23] #1010 closed, assigned to matozoid

[2017-07-26 17:24] #1011 closed, assigned to matozoid

[2017-07-26 17:24] #1002 closed, assigned to matozoid

[2017-07-26 17:29] #845 closed, assigned to ftomassetti

[2017-07-27 07:31] CoolAcsi opened #2053 "How to find the begin line and paramters's full name in some method simply？"
Hi,
I want to reslove the mapping about that one method call another method，and get these methods‘s begin line ,package name ,class name and so on...

Can I do it simply? As a matter of fact, I haven't found a solution yet.

If you wrap a javaparser.MethodDeclaration in javasymbolsolver.MethodDeclaration? I think it will be very convenient to do something.

[2017-07-27 11:57] ftomassetti commented on #2053
Yes, you can.

You can use the symbol solver to find the MethodDeclaration corresponding to a method call. Once you have that you can find all the information you need (package name, class name, line, etc).

For details I suggest you get a look on the chapter on JavaSymbolSolver of [this book](https://leanpub.com/javaparservisited) (available for free) and then if you have question feel free to as

[2017-07-28 03:09] CoolAcsi commented on #2053
@ftomassetti  thanks for your answer.And I'm sorry, my English is very poor...
I have read this book in javaparservisited,and I know how to  find the MethodDeclaration corresponding to a method call. But javaSymbolSolver.MethodDeclaration's methods is very little and I can't find what I need...

Another question is, if i just use JavaParserTypeSolver, i will be not able to find the MethodDeclarati

[2017-07-28 07:54] ftomassetti commented on #2053
Which questions you cannot answer once you get the JSS MethodDeclaration?

The JavaDoc for that class is [here](http://static.javadoc.io/com.github.javaparser/java-symbol-solver-model/0.5.6/com/github/javaparser/symbolsolver/model/declarations/MethodDeclaration.html).

- you cannot find the begin line for all the method declarations, only for the ones coming from source code. If you MethodDeclarat

[2017-07-28 09:26] CoolAcsi commented on #2053
Thank you ,It helps me a lot~

[2017-07-28 18:08] sourabhsparkala opened #1027 "Support for Java 8 and 9 ....Just a question"
Hello,

I have some projects built with Java8 features. Hence I was wondering if there is support for Java8 in place? Will JavaParser handle the Java8 implemented projects

Will this support Java9 as well?

Regards
Sourabh

[2017-07-28 18:26] ftomassetti commented on #1027
It has been supporting Java 8 for years (I think it is reported very clearly in the homepage of this project) and since some months supports Java 9 as well

[2017-07-28 18:36] #1027 closed, assigned to nobody

[2017-08-01 19:29] ftomassetti commented on #2062
Regarding the first example, the fact is that we would probably need special support for generic arguments that are inferred:

[code]

It is like we are postponing taking a decision on the type of `Optional.of(new Derived())` until we consider the context. It seems a tricky one to me.

[2017-08-03 08:00] ftomassetti commented on #2053
I think we answered it. Please reopen it if it is unclear.

[2017-08-04 14:17] sourabhsparkala opened #1029 "Insert new nodes while traversing through AST using TreeVisitor"
Could you please help me with TreeVisitor Abstract class. I am running a preorder tree traversal, and I am visiting each node. Say, I reach a respective node, I want to insert new nodes 'Before' and 'After' the respective node. Sometimes, the inserting node may be a 'Statement' or a 'Comment'. Is there a way to to do that? or is there some other awesome class already implemented for doing simple m

[2017-08-07 09:11] matozoid commented on #1029
Would you be helped with (not yet existing) methods `NodeList.insertBefore(Node)` and `NodeList.insertAfter(Node)`? Or maybe the more complex to implement `some_node.insertBeforeXxx(Xxx)` and `some_node.insertAfterXxx(Xxx)` where `Xxx` is something like `Statement` or `ImportDeclaration` ?

[2017-08-07 14:10] sourabhsparkala commented on #1029
Hello @matozoid  ,

Thank you for the reply.

I was thinking something more like

1. some_node.insertBefore(some_other_node), some_node.insertAdfter(some_other_node), here the node could be anything, say some_other_node is a FieldDeclaration (int i = 0) and some_node is new BlockComment()

2. I observed that, the Node.getChildNodes() returns an unmodifiableList List<Node>, if you could implement a

[2017-08-07 18:24] matozoid commented on #1029
Ooh, that list is immutable for a reason - it's pretty complex to keep it up to date correctly, and inserting something into that list is pretty much meaningless. What would it mean to insert a second `Name` into a type declaration? Does it have two names now? If I insert a node of a type that is not allowed to be a child, what do we do? If I delete a child node that is a required field, uh, pleas

[2017-08-07 18:30] matozoid commented on #1029
Okay, what is the actual use case? I see you adding comments here and there. You're adding comments about something?

Note that comment support is iffy - we're going to rework that for 4.0: https://github.com/javaparser/javaparser/issues/638

[2017-08-07 18:45] sourabhsparkala commented on #1029
@matozoid , thank you for the insight. I understand the challenges involved.

1. I am using TreeVisitor to traverse through each node of the AST  from the parsed .java file and annotate an identifier
2. I am trying to surround the respective node with an identifier, as a blockComment
3.
[code]

4. The output will be
[code]
4. From the above Identified annotated list of nodes : I want to swap the n

[2017-08-09 10:07] matozoid opened #1030 "Make a utility that recalculates the positions for every token"
Now, when we start changing the AST or the tokens, all positions stored in `range` and `tokenRange` are immediately outdated. It shouldn't be that hard to run through the token list and recalculate the positions.

Since it's not something that anybody ever requested, this should probably just be a utility, not something that is done continuously.

[2017-08-09 10:36] matozoid commented on #1029
Right, I was trying to work on this, it is a good test case for the new API for modifying the token list. Little problem: the API isn't there yet :-)

Here is the idea: if you add comments to the AST like you do, you run into all the problems described in #638. There is just no way to represent every kind of comment in the AST. Therefore we should look a level lower: the token list. This would loo

[2017-08-09 11:30] matozoid commented on #1029
You can follow my progress over here: https://github.com/matozoid/javaparser/blob/issue_1005_cursor_api/javaparser-core/src/main/java/tmp/Issue1029.java

[2017-08-10 03:41] vidyat11 opened #1031 "How to set parent node using methodcallexpr"
If i have condition  if(list.size()>0){-----}                       is there a way to change as if(list.isEmpty){-----} want to replace size()>0 into isEmpty.

[2017-08-10 05:47] phax commented on #788
A public draft is available: http://cr.openjdk.java.net/~iris/se/9/java-se-9-pr-spec-01/java-se-9-annex-3.html

[2017-08-10 12:12] matozoid commented on #788
Let's have another look then

[2017-08-10 12:17] matozoid commented on #1031
Try comparing the AST's for both pieces of code in the debugger or with `JsonPrinter` or one of its friends. You'll see that the right one is a `MethodCallExpr`, but the left one is a `MethodCallExpr` in another node (I guess `ConditionalExpr`?)

So you'll have to replace the whole conditional expr with a method call expr. Use `IfStmt.setCondition` for that.

[2017-08-10 12:38] ghost commented on #1986
Has this been thought about recently? When analyzing large projects with >80000 LoC I get 100k+ exceptions which are simply way too many. Performance tanks significantly because of that and even
methods of JavaParserFacade like isSolved() and isReferenceType() throw exceptions which is kind of silly, imo.

Both, Expressions and Declarations, need to return something instead of throwing Exceptions

[2017-08-10 13:49] vidyat11 commented on #1031
Thanks so much for reply

I have tired like this..
[code]
but still am facing the same problem

[2017-08-10 14:57] matozoid commented on #1986
Maybe some more `Optional` pollution can be applied like in JavaParser? ;-)

[2017-08-10 17:31] matozoid commented on #1031
Are you using version 3.3.0?

[2017-08-10 18:13] matozoid commented on #1031
[code]

[2017-08-10 21:21] matozoid commented on #638
#1005 and and #1004 will help when manipulating comments without having them associated with a node.

[2017-08-11 10:56] kay commented on #307
I'm trying to find the right place to raise an issue without duplicating things. Is this issue related to this example/behaviour I'm seeing

Given
[code]

I receive this output:

[code]

Note that the comment on the `if (a < b) {` line has been removed. Seems to only happen if a comment attached to an IfStmt is followed by a comment attached to another  IfStmt.

[2017-08-12 07:03] ftomassetti commented on #307
Yeah, probably related. The reason is that we assign some comments to node so "Another comment" is assigned to the if. "What a weird bug" is an orphan comment and the code printing Java does not remember to print orphan comments in all places

[2017-08-12 07:06] ftomassetti commented on #1986
Agreed that `isSolved` should not return errors. PRs are always welcome to correct silly situations :)
SymbolReference is similar to an Optional: it can be solved or unsolved. If it is solved it contains the declaration.

[2017-08-13 20:48] matozoid opened #1037 "Make JavaParser use lexical preservation by default"
Well, why not? It currently uses the pretty printer which is known to drop some comments.

[2017-08-13 20:49] matozoid opened #1038 "SourceRoot should be able to delete files."
... in case of a dead code remover, for example.

[2017-08-13 20:53] matozoid commented on #1009
@wietlol - I'm going to close this and keep #664 open.

[2017-08-13 20:53] #1009 closed, assigned to nobody

[2017-08-13 21:28] jimshowalter opened #1039 "Provide a way to configure SourceRoot to not output "Parsing <file name>""

[2017-08-13 21:29] jimshowalter opened #1040 "Typo in parameter name in SourceRoot.parse(String packag, String filename)"
Should be "package".

[2017-08-13 21:30] jimshowalter opened #1041 "Maven coordinates are out of date in Getting Started section of javaparser.org site"
http://javaparser.org/gettingstarted.html

Ideally the site would read the latest coordinates from github. Or you could just link to the pom and not post the coordinates there (but that doesn't help with the Gradle section).

[2017-08-13 21:35] jimshowalter opened #1042 "GC limit exceeded when running SourceRoot.tryToParse in Eclipse on a large codebase"
We have 4M+ lines of code in 19593 Java files and 7114 Java test files.

Running latest Neon.

eclipse.ini:

--launcher.appendVmargs
-vmargs
-Dosgi.requiredJavaVersion=1.8
-Dosgi.instance.area.default=@user.home/eclipse-workspace
-XX:+UseG1GC
-XX:+UseStringDeduplication
-Xms1G
-Xmx14G

It failed on the  same file after changing the memory settings, which seems impossible.

Tried removing the file

[2017-08-13 21:37] jimshowalter commented on #1042
The code looks like this:

public class DeadCodeRemoverUtils {

	public static void preamble(String rootSourceDir, Logger logger) {
		StringBuilder builder = new StringBuilder();
		builder.append(DeadCodeRemoverMojo.class.getSimpleName());
		builder.append(": removing dead code and class references by string with settings: rootSourceDir=");
		builder.append(rootSourceDir);
		builder.append(", buil

[2017-08-13 21:41] jimshowalter opened #1043 "Add info to the ebook ordering page explaining how to get the complete version after buying the incomplete version"
Or, if that won't be possible, add a note to that effect (but that will kill sales, so hopefully it's going to be possible).

https://leanpub.com/javaparservisited

[2017-08-13 22:36] jimshowalter commented on #1042
Switching to the SourceRoot.Callback fixed the problem.

[2017-08-13 22:46] jimshowalter commented on #1039
There are several places in that class where a call is made to Log.info("Parsing etc.

[2017-08-13 22:47] jimshowalter opened #1044 "Please don't make JavaParser (or other classes) final"
I saw your exchange in chat:

"Dwooll94 @Dwooll94 Jul 28 13:18
Hey, just a quick question, is there a particular reason why the JavaParser class is Final? If there were any way that it could not be final, that would be really convenient for use in projects alongside Mockito.

Federico Tomassetti @ftomassetti Jul 29 01:16
Having classes final is considered a best practice, unless they are specifica

[2017-08-13 22:48] jimshowalter commented on #1039
Finals also get in the way of testing tools like Mockito (v1, not v2).

[2017-08-13 23:01] jimshowalter opened #1045 "Make root member variable protected instead of private in SourceRoot"
I'm subclassing SourceRoot to create a version locally that doesn't output Log.info("Parsing for every file. I can assign Path root locally, or call getRoot(), but if it was protected my subclass could access it directly.

[2017-08-13 23:05] jimshowalter commented on #1045
Also make methods protected instead of private. Subclassing and overriding public SourceRoot parse(String startPackage, JavaParser javaParser, Callback callback) throws IOException fails because the save method is private.

[2017-08-13 23:34] jimshowalter commented on #1044
When I started writing Java, I made everything private and final that could be made private and final, but eventually realized it just made testing and subclassing more difficult. It doesn't increase security, because anyone can use reflection to get to any field (unless blocked by Java's security manager, which almost nobody seems to use).

[2017-08-14 01:55] jimshowalter opened #1046 "Use threads to visit directories and parse files in parallel in SourceRoot"
We're getting:

[info] Parsed 26810 files
[info] ELAPSED: 70 (383 files/second)

We wrote a regex-based tool that isn't as powerful as a Java compiler front-end, but still does a lot of work, and with that we're getting:

26707 all Java files
32581 total files
[info] ELAPSED: 19 (1714 files/second)

It's likely that much of the difference in speed is due to the 1000 threads and 500 open files allo

[2017-08-14 03:18] jimshowalter opened #1047 "Test failures in javaparser"
Tried building javaparser and got a test failure:
Failed tests: removeAllOnRequiredProperty(com.github.javaparser.ast.NodeTest): expected:<class X {[(..)
testSimplePropertyWithGenericReplace(com.github.javaparser.ast.ReplaceNodeTest): expected:<package z;[(..)
testListProperty(com.github.javaparser.ast.ReplaceNodeTest): expected:<package x;[(..)

I'm on Windows 10. Is it possible the tests assume

[2017-08-14 03:19] jimshowalter opened #1048 "Maven warning in javaparser-visited"
[WARNING] Some problems were encountered while building the effective model for com.github.javaparser:javaparser-book:jar:1.0-SNAPSHOT
[WARNING] 'build.plugins.plugin.version' for org.apache.maven.plugins:maven-compiler-plugin is missing. @ line 12, column 21

[2017-08-14 03:20] jimshowalter opened #1049 "No Maven build for javasymbolsolver"
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 0.078 s
[INFO] Finished at: 2017-08-13T20:19:52-07:00
[INFO] Final Memory: 14M/479M
[INFO] ------------------------------------------------------------------------
[ERROR] The goal you specified requires a project to execute but there is no POM in this directory (C:\git\javasymbo

[2017-08-14 06:52] ftomassetti commented on #1049
If this is an error related to the javasymbolsolver you should [open a ticket in the javasymbolsolver project](https://github.com/javaparser/javasymbolsolver/issues/new).

That said, JSS uses gradle, not maven. It is possible to generate a pom using a gradle task but the build system is gradle.

[2017-08-14 06:58] ftomassetti commented on #1046
Well, a regex-based tool does probably a fraction of the work of JavaParser so I would say it is a pretty good comparison for JavaParser

[2017-08-14 07:03] ftomassetti commented on #1044
Making a class non-final has a meaning: it tells others that the class has been designed to be extended. Most new languages create final classes by default (e.g., Kotlin does that). As the designers of a library we must decide what can be safely extended. We cannot just leave all classes as non-final because aside being a bad practice it could lead to users running into issues. That means they wou

[2017-08-14 07:04] ftomassetti commented on #1045
This is an example of the fact that designing classes to be subclasses is not as simple as removing the final keyword :)

[2017-08-14 07:07] ftomassetti commented on #1039
Note that you can use `Log.setAdapter` to specify a `Log.Adapter` that reacts to info by doing nothing. Would that solve your issue?

[2017-08-14 07:09] ftomassetti commented on #1043
It is definitely possible: you will just have access to the new version on LeanPub. Authors can also email you to let you know about the new version, if you leave your email to LeanPub (it would not be visible to authors).

[2017-08-14 07:10] ftomassetti commented on #1040
It cannot be package because that is a keyword in Java. For this reason we had to change it to something else.

[2017-08-14 07:11] ftomassetti commented on #1037
+1

[2017-08-14 08:21] matozoid commented on #1041
https://github.com/javaparser/javaparser-website/issues/14

[2017-08-14 08:24] matozoid commented on #1047
They shouldn't, but they do. This has been one the backlog for quite a while because none of our contributors seem to be working on Windows. See also #713

[2017-08-14 08:27] matozoid commented on #1049
@ftomassetti I found gradle to be incredibly confusing to get started with - is there a page with build instructions?

[2017-08-14 08:29] matozoid opened #1050 "Make a javaparser config option to turn off the token list"
It's a nice feature and all, but it does take a lot of memory.

[2017-08-14 08:31] matozoid commented on #1046
Good suggestion though - this would be a nice one for a user contribution since the issue is constrained to one file.

[2017-08-14 08:33] matozoid commented on #1044
Hmmm, I can imagine wanting to add more "parse" methods to it. If so, don't forget to tell us so we can add them for the next release!

[2017-08-14 08:36] matozoid commented on #1045
Take a look at https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/utils/Log.java

You can use `Log.setAdapter` to an implementation that does nothing.

[2017-08-14 08:38] matozoid commented on #1043
@ftomassetti should we state it explicitly somewhere?

[2017-08-14 08:39] #1040 closed, assigned to nobody

[2017-08-14 09:07] jimshowalter commented on #1045
Apologies--I didn't realize you'd written your own. This gives good control over logging, and means this can be closed. Thank you!

[2017-08-14 09:11] jimshowalter commented on #1040
Yes, that is correct. However, the current choice *looks* like a typo.

The convention for "class" when it's not a .class is clazz. Perhaps you can think of a clever scheme for "package" that's similar?

Or perhaps "aPackage", "thePackage"?

Or at least a comment?

[2017-08-14 09:12] jimshowalter commented on #1043
Yes, you should state it explicitly on the ordering page. Would clear up a
lot of confusion. I suspected it was upgradeable, but didn't want to part
with $15 on spec.

On Mon, Aug 14, 2017 at 1:38 AM, Danny van Bruggen <notifications@github.com

[2017-08-14 09:19] #1045 closed, assigned to nobody

[2017-08-14 09:20] jimshowalter commented on #1044
I've written Java for 15+ years. I'm pretty good at it. There's a dogma that classes should be final to indicate that they shouldn't be extended, but why shouldn't they? I get that a security module shouldn't allow extension, but why anything else? The designers of the classes aren't omniscient and can't possibly think of all of the ways someone else might want to use them. How exactly would users

[2017-08-14 09:20] ftomassetti commented on #1049
I think the main issue is the usage of Groovy, at least for me. I agree that it takes some time to learn how to write it, however for just using it to build a project you can run:

`./gradlew compile`

[2017-08-14 09:21] ftomassetti commented on #1049
Should we list the main tasks to be used in the README?

[2017-08-14 09:24] jimshowalter commented on #1046
I hope to have a user contribution for you soon.

Regarding "a pretty good comparison for JavaParser", don't sell yourselves short. The parser is fine. But you're running it synchronously. On an 8-way box, expect to see a corresponding 8x improvement in speed.

Our Jenkins server runs on a 48-core box.

Threads are good.

[2017-08-14 09:25] jimshowalter commented on #1047
I can try to fix them.

[2017-08-14 09:28] jimshowalter commented on #1049
Why would you have two projects, ostensibly targeting the same general outcome, using two different build systems? The more polyglot, the more confusing. Plus, Gradle is the latest ant. It's not declarative. It's scripted. Which means you can't write programs that reason about the build system, unless you parse the scripts. It seems to be the revenge of the Maven-haters.

[2017-08-14 09:31] ftomassetti commented on #1049
We have two build system because JSS was born as an external project and later moved under the JavaParser umbrella. I understand you do not like Gradle, I have a different opinion. I prefer it to Maven and I find it more powerful. From the point of view of the user it does not make a difference, the only difference is for persons who contribute to JSS. So far no contributors to JSS had an issue wi

[2017-08-14 09:35] jimshowalter commented on #1049
That's fine. Your perogative. It just means you'll never get a pull request from me.

[2017-08-14 09:50] ftomassetti commented on #1044
In my opinion and in the opinion of many other experienced developers ideally a class should be either designed for extension or final.

The reason is that leaving a class not intended for extension open could lead to issue because the developer extending it would risk to face unexpected behaviors or run into difficulties trying to achieve what it wants too. This would lead to more issues. Over 60

[2017-08-14 12:58] DeepSnowNeeL commented on #1044
While I agree a bit with both of you, when I encounter final classes and
want to try something, I just clone the repo and do the changes in it, if
you find it suits your needs after altering the existing thing, you can
even send a pull request, how wonderful !

Le lun. 14 août 2017 à 11:50, Federico Tomassetti <notifications@github.com>
a écrit :

[2017-08-14 13:22] matozoid commented on #1037
It could have impact on users parsing huge amounts of files. Let's see if there's a smart way to do this.

[2017-08-14 13:38] matozoid commented on #1040
We went for the clever scheme of leaving the final "e" off :-) I've seen people use underscores, but ugh :-(

[2017-08-14 13:41] matozoid commented on #1047
Do try to fix them the right way, like described in #713 :-)

[2017-08-14 13:42] matozoid commented on #1049
There are (distant) plans to merge everything, that will make the whole discussion moot.

[2017-08-14 13:42] matozoid commented on #1049
(Give Gradle a try someday, by the way. Pretty nice stuff once it runs)

[2017-08-14 13:43] matozoid commented on #1044
There's so much text here that I'm tempted to simply remove `final` everywhere so we can get on with more important stuff :-)

[2017-08-14 15:23] #1004 closed, assigned to matozoid

[2017-08-14 15:24] matozoid commented on #1005
Dropped in favour of integrating the `LexicalPreservingPrinter` structure of mixed tokens and child nodes.

[2017-08-14 15:24] #1005 closed, assigned to matozoid

[2017-08-14 16:30] jimshowalter commented on #1049
I'll look at it. Incremental compilation would be useful on our project. What bugs me about Gradle is that nearly every Java project has been set up to use Maven for over a decade, including all of org.apache. Tools expect Maven to be there. Developers expect Maven to be there. Along comes a new build system, which is fine--technology evolves. But unless Gradle conquers the world, we're going to w

[2017-08-14 16:43] jimshowalter commented on #1044
It's your project. I was just trying to point out that while you may think locking things down is helping, it actually gets in the way of experimenting. Yes, I can clone the whole repo, except in the case of JSS now I also have to install and learn a new build system. All I wanted to be able to do is take SourceRoot, subclass it locally, and experiment with making it parse on multiple threads to s

[2017-08-14 18:43] matozoid commented on #1044
Uhuh, that's the thing with this library: it's pretty ancient, and was originally set up as a parser + a bunch of POJO's. Mutability all over the place. If we were to start over, this would not be how it would be done anymore. One of our contributors split off and did something more like that over here: https://github.com/ptitjes/jlato . We (I?) made a decision to keep JP like it is - last century

[2017-08-14 18:45] jimshowalter commented on #1044
Fair enough. It's clearly a reasoned decision. I'll let you know if a final gets in the way.

[2017-08-14 18:45] matozoid commented on #1042
Cool :-) Can I close this then?

[2017-08-14 18:46] matozoid commented on #1044
Cool! Thanks for all the feedback by the way - it's very valuable!

[2017-08-14 18:48] matozoid commented on #1041
This is fixed (for this week ;) ) Thanks for reporting!

[2017-08-14 18:48] #1041 closed, assigned to nobody

[2017-08-14 18:51] jimshowalter commented on #1042
Yes. You might want to add something in the documentation that says hey, dummy, if you have millions of lines of code, you should probably use the callback mechanism. In restrospect it's obvious: it's similar to DOM vs. SAX for large XML files.

[2017-08-14 18:53] matozoid commented on #1049
True, and I don't see the companies I work for moving to Gradle.

Anyway, open this issue on https://github.com/javaparser/javasymbolsolver if you would like to push @ftomassetti a little more ;-)

[2017-08-14 18:53] #1049 closed, assigned to nobody

[2017-08-14 19:12] matozoid commented on #1040
Well, I was editing the file anyway, and it looked like we were mixing `packag` and `pkg` so I made all of it `pkg` now.

[2017-08-14 19:16] jimshowalter commented on #1040
Nice!

[2017-08-14 19:17] jimshowalter commented on #1040
Somebody asked Thompson (or maybe it was Ritchie) if he'd change anything in the API if he had a chance (years after he helped write Unix). He said he wished he'd called it "create" instead of "creat".

[2017-08-14 22:39] jimshowalter commented on #1046
It's ironic that you labelled this easy, because I just blew six hours on it. Everything I tried just made it slower. It threaded, and it wrote out the number of parses done in background vs. synchronous (it throttled), but the thread performance was abysmal compared to no threading. I used the same pattern we've used numerous times in other tools at my company.

[2017-08-15 02:08] jimshowalter opened #1052 "Add method to ImportDeclaration that returns class name for static imports"
Otherwise to get the class name requires getName().replaceAll("[.][^.]+$", "").

[2017-08-15 08:32] lodart opened #1053 "Differentiate "radical" and "composite" expressions"
As I was working working on my internship project, I realised I had to manipulate differently "radical" expressions (ie, expressions that have no child Expression, like `NameExpr`, or `LiteralExpr`) and "composite" expressions (like `a+b` or `a.append(b)`).

Maybe there could be a way to differentiate those with an Interface ? I don't know if it would be really useful, but I thought that if I woul

[2017-08-15 08:49] ftomassetti commented on #1053
I think 1/2 marker interface(s) could make sense. Like BasicExpression/ElementExpression and CompositeExpression

[2017-08-15 09:05] matozoid commented on #1053
If I hear marker interface I think annotations. Not sure what's the best since we use interfaces royally already, so maybe not deviate from that.

[2017-08-15 09:06] matozoid commented on #1053
For now: you could inspect the meta model for the node

[2017-08-15 09:08] matozoid commented on #1052
Name is qualified, can you look at its members to see if it's easy enough to get the info without regexes?

[2017-08-15 09:10] matozoid commented on #1046
:-D yes, it's one of the worst labels we have. It should be "a good first contribution" or so. We had more easy tasks explode like this

[2017-08-15 09:40] lodart commented on #1053
Thank you for this :) Actually, for now, I'm doing things like

	if (expr instanceof NameExpr){...}
	if (expr instanceof MethodCallExpr){...}
	...
but I don't know if it is a good way :/

[2017-08-15 10:02] matozoid commented on #1053
Try calling getMetaModel on the node you are looking at :)

[2017-08-15 10:25] lodart commented on #1053
Oh right, I can get its type from here :) Thank's a lot !

[2017-08-15 10:25] #1053 closed, assigned to nobody

[2017-08-15 12:33] matozoid commented on #1052
Some background info: `ImportDeclaration` was subclassed by its four variants for a while during the version 3 alpha builds. These had more specific getters. Since we had several complaints about that being too complicated, I reverted it back to this single node type for version 3.

(Then someone complained that the four subclasses were missing :-( )

[2017-08-15 17:58] SmiddyPence commented on #1048
https://github.com/javaparser/javaparser-visited/issues/1

Resolved.

[2017-08-15 17:58] #1048 closed, assigned to nobody

[2017-08-15 18:59] jimshowalter commented on #1052
What were the four subclasses?

If you added getImportedClassNameAsString(), it could return the imported class when non-static, and the class with the method being statically imported when static, and I could remove a regex.

[2017-08-15 19:21] matozoid commented on #1052
Have you looked at the members of `Name` as suggested? I'm pretty sure `getIdentifier` will get you the class and `getQualifier` the package.

The four types were modeled after this section in the JLS: https://docs.oracle.com/javase/specs/jls/se8/html/jls-7.html#jls-7.5 - I assume that will explain everything :-)

[2017-08-15 19:21] #1044 closed, assigned to nobody

[2017-08-15 19:23] matozoid commented on #1043
Moved it to the correct project.

[2017-08-15 19:23] #1043 closed, assigned to nobody

[2017-08-15 19:29] matozoid commented on #1029
Okay, in version 3.3.1, this will get you the comments you want inserted:
[code]

[2017-08-15 19:34] matozoid commented on #1029
For the next step I need more info. In your comment you say "I want to swap node 3 and 5" - why did you take 3 and 5? Is it the intention to replace the method name with the return value? What would happen when the return value is a complex expression like ` return (10+5)*100;`?

[2017-08-15 19:37] matozoid commented on #1039
I think this was the answer.

[2017-08-15 19:37] #1039 closed, assigned to nobody

[2017-08-15 19:39] jimshowalter opened #1055 "Missing finals in method signatures in VoidVisitorAdapter"
All of the methods appear to be generated, so fixing these in the generator will fix these.

	public void visit(SimpleName n, A arg) {
	public void visit(ArrayType n, A arg) {
	public void visit(ArrayCreationLevel n, A arg) {
	public void visit(NodeList n, A arg) {
	public void visit(ModuleDeclaration n, A arg) {
	public void visit(ModuleRequiresStmt n, A arg) {
	public void visit(ModuleExportsStm

[2017-08-15 19:41] jimshowalter opened #1056 "Can you use <?> to get rid of the raw type warning for this signature?"
VoidVisitorAdapter.public void visit(NodeList n, final A arg) {

[2017-08-15 19:52] matozoid commented on #1056
I tried a lot of things there, but didn't succeed. If there is a way, I don't know it.

[2017-08-15 20:00] sourabhsparkala commented on #1029
@matozoid Thank you so much for this implementation.

I am trying to develop a wrapper around javaparser, which would provide me with the code elements;

Also the wrapper would expose APIs for mutations of the code with operations like delete, swap, insert node elements of the AST. As mentioned **3 and 5 are identifiers of individual code node elements and the selection is random**

1. delete elem

[2017-08-15 20:10] matozoid commented on #1029
If you really want to be able to replace any kind of node with any kind of node, then JavaParser's nodes will not help. There are many protections against creating an invalid AST in it.

To have a clean solution will be quite a bit of (mostly boring) work, I suggest writing a visitor that will copy each node to your own custom kind of node. You can design this node to do whatever you like. Maybe y

[2017-08-15 20:13] matozoid commented on #1055
Will be in the next release. Thanks!

[2017-08-15 20:45] matozoid commented on #1053
Okay, I see now that I didn't really understand the question. Can you explain how I could figure out by looking at the properties of a node if it is complex or not?

[2017-08-15 23:00] jimshowalter commented on #1056
You can't add <?> in the base and propagate that down the inheritance?

[2017-08-15 23:17] jimshowalter commented on #1052
Sorry, I'd missed your comment about name qualification. I'll take a look. Thanks!

[2017-08-16 00:32] jimshowalter commented on #1052
Worked perfectly. Thanks!

[2017-08-16 07:01] lodart commented on #1053
Well, I know I can do it already, for instance by looking `if (expression.getChildNodesByType(Expression.class).size()  > 0)` but I thought maybe there could be a cleaner way to do it ?
I hope I'm not being obvious ^^ And if you think that is not worth it adding something to the project / confusing, that is okay too :)

[2017-08-16 08:50] matozoid commented on #1056
I can't remember what exactly the problems were, but I know I tried everything I could. So unless someone contributes a fix it will stay this way.

[2017-08-16 08:51] matozoid commented on #1052
Cool! I'll close this then

[2017-08-16 08:51] #1052 closed, assigned to nobody

[2017-08-16 10:36] matozoid commented on #1053
So the definition is "a complex node is one that has one or more children of type Expression"? What about node types that take an optional expression - is it sometimes complex, sometimes not?

[2017-08-16 11:25] lodart commented on #1053
This definition seems fine to me. But, I didn't think of optional expressions :/ (Just to be sure, for example : `VariableDeclarationExpr` has some `VariableDeclarator` that may, or may not have an initializer `Expression`, right ? ).
I guess they are sometimes complex, and sometimes not, so in that case, I don't think there is a point modifying the library...

Well at least, I really increase my

[2017-08-16 13:09] matozoid commented on #1053
Hahaha, good luck! :-)

[2017-08-17 01:30] jimshowalter opened #2075 "Support filtering in JavaParserTypeSolver"
We have some directories with cruft code mixed with actual code. Yes, we could clean that up, but if we could pass a filter to the constructor, then when iterating the directory the solver could skip the files we don't want.

[2017-08-17 10:09] ftomassetti opened #1060 "Pair Class should define equals"
And also methods as hashCode and toString

[2017-08-17 14:05] lodart opened #1061 "Make equals/hashcode configurable"
Hi ! When parsing this portion of code :
[code]
I realised both `NameExpr` `a` share the same HashCode, so I can't use them as a key in a HashMap. `.equals` returns also true. Is this normal behaviour ?

Thank you :)

[2017-08-17 14:54] matozoid commented on #1061
I wanted to say "yes, that is expected behaviour, but you can change it by changing the visitors used by `Node`" - but it looks like that wasn't implemented yet. Putting it on the backlog for next release!

[2017-08-17 14:55] matozoid commented on #1056
Did you experiment with this? Do you hate Java yet? ;-)

[2017-08-17 14:58] lodart commented on #1061
Thank you :)

[2017-08-17 16:47] matozoid commented on #1061
Oh, I've been thinking this over for a bit: when I do what I originally planned, things will break horribly. A lot of code depends on the default behaviour of equals and hashcode in `Node`. So I'm going to see if I can make a `VisitorMap` :-)

[2017-08-17 18:31] matozoid commented on #1061
@lodart would it be possible for you to take the source code from this repo: https://github.com/matozoid/javaparser.git

branch `visitor_map`

and see if this works for you?

[2017-08-18 02:11] jimshowalter commented on #1056
I haven't tried it yet.

[2017-08-18 08:23] lodart commented on #1061
Unfortunately, I don't think it has worked :/ [Here's what I got](https://lut.im/vSlEhtcpgw/gCdfvZLDoz71sqph). I must have done something wrong, though. I struggled adding the library to IntelliJ (I'm used to just copying Maven dependencies :) ).
So I cloned the repo (the branch `visitor_map`), I did `mvn clean install`, then I imported the module and added the module dependency. Then, [I removed

[2017-08-18 10:42] lodart commented on #1061
Oh I didn't see #1062 ! It works nicely :) Thank you so much !

[2017-08-18 11:41] matozoid commented on #1056
It would be nice if there was some kind of fix, because I wasn't too happy with this solution :-)

[2017-08-18 11:46] matozoid commented on #1061
Do use Maven or Gradle or so. Here's an example setup: https://github.com/matozoid/java-logic-positivizer

[2017-08-18 16:24] matozoid commented on #1037
I'm starting to think SourceRoot should be two classes - one that parses files as quick as possible, and one that lets you modify and save back the parsed files. I designed it for the second task, and added something for the first, but they have completely different goals.

[2017-08-20 21:05] matozoid commented on #1031
Assuming this is answered.

[2017-08-20 21:05] #1031 closed, assigned to nobody

[2017-08-20 21:05] matozoid commented on #1029
Assuming this is answered.

[2017-08-20 21:05] #1029 closed, assigned to nobody

[2017-08-20 21:06] #1060 closed, assigned to matozoid

[2017-08-20 21:06] #1061 closed, assigned to matozoid

[2017-08-20 21:06] #1042 closed, assigned to nobody

[2017-08-20 21:06] #1055 closed, assigned to matozoid

[2017-08-23 12:52] matozoid commented on #941
Maybe use the Ubuntu package? https://packages.ubuntu.com/xenial/java/openjdk-9-source

[2017-08-23 14:25] lodart opened #1065 "VisitorMap duplicates keys for same object."
Before, different objects were considered the same key, but thanks to your  VisitorMap, @matozoid, this is no longer the case. The problem is that now, even the same objects produces several keys !
If I take your Test example :
[code]
it returns :
[code]

[2017-08-23 18:05] matozoid commented on #1065
Okay, problem found. It will be in next weekend's release, or you can copy `VisitorMap.java` to your own project to get it now :-)

[2017-08-24 06:59] lodart commented on #1065
Thank's, but I think there is still a problem :/ `System.out.println(normalMap.get(x1));` still returns me `null` ...
I think you forgot  to change
[code]
to
[code]
`containsKey(Object)` is also still bugged.

[2017-08-24 11:12] matozoid commented on #1065
I'm sorry for putting this thing together so quickly, this is a little embarrassing. Would you be interested in building a PR for this so it is correct right away? :-)

[2017-08-24 11:43] lodart commented on #1065
I'm on it ! This will be my first PR ever, so be indulgent ;)

[2017-08-24 12:29] matozoid commented on #1065
You can now put "contributed to an open source project" on your resume ;-)

[2017-08-24 19:52] ryan-beckett commented on #1046
@jimshowalter: What do you, "synchronously"? Single-threaded?

__Edit:__ Nevermind, I understand.

[2017-08-24 20:08] jimshowalter commented on #1046
The idea is to visit directories on separate threads and parse files on separate threads, up to a tunable limit. I wrote a tool that does that for a different application. The trick is to avoid needing to synchronize, and the way to do that is to make each visited directory a separate object that contains a set of files parse in that directory, and a set of subdirectories. At the end, you visit th

[2017-08-24 20:43] matozoid commented on #1046
That reminded me to build this thing: https://github.com/javaparser/javaparser/pull/1069 :-)

[2017-08-24 20:44] matozoid commented on #1037
Maybe enable lex pres by default in the parser :-O

[2017-08-24 22:35] ryan-beckett commented on #1046
Or another idea is to leave the visit/parse synchronous, but break up each task into worker threads.

Did you profile the memory?

[2017-08-24 23:42] jimshowalter commented on #1046
I looked at memory consumption and it was around 7 GB, but there was 14 available. It was acting more like CPU-bound.

[2017-08-25 22:26] ryan-beckett commented on #1046
@jimshowalter: Wouldn't this be an IO-bound issue? does this somehow correspond with your server hardware configuration

For parsing ~12k files, I was able to go from ~356 secs to ~136 secs, with a negligible increase in memory, by putting the call to **JavaParser.parse** in the callback of a multi-threaded recursive tree walk class. If you want the code, let me know and I'll post it.

I'll work o

[2017-08-25 22:26] ryan-beckett commented on #1046
@jimshowalter: Mind you I'm running an Athlon II X3.

[2017-08-25 23:52] ryan-beckett commented on #1046
@jimshowalter: I see what you mean. Using SourceRoot to parse many files uses way more memory!

[2017-08-26 00:47] ryan-beckett commented on #1046
@jimshowalter , @matozoid: I'm going to pass on this issue in favor of users using [this code](https://gist.github.com/ryan-beckett/f298ab6fe84f3fb8025aa4cb28b8c793) to parallelize parsing. It's uses a fraction of the memory and finishes way faster than using SourceRoot. I tried parallelizing SourceRoot, but it made the memory consumption worse.

[2017-08-26 01:02] jimshowalter commented on #1046
That was fast! And "I tried parallelizing SourceRoot, but it made the memory consumption worse." sounds very familiar.

[2017-08-26 01:05] ryan-beckett commented on #1046
@jimshowalter: What was fast? Yeah, I don't know what's going on with the SourceRoot. The purely recursive nature of the implementation explains the memory consumption, but I don't know why parallelizing it didn't help. I don't know the codebase well enough to bother trying to figure out. Perhaps it's the caching or relativizing paths... IDK.

[2017-08-26 01:09] jimshowalter commented on #1046
You implementing a solution was fast. (And the solution is fast.)

On Fri, Aug 25, 2017 at 6:05 PM, Ryan Beckett <notifications@github.com>
wrote:

[2017-08-26 01:17] ryan-beckett commented on #1046
Ah, yes, but if I can only integrate it. I'm sure users would be quite happy! I'll take another stab at it tomorrow.

[2017-08-26 19:51] #1050 closed, assigned to matozoid

[2017-08-26 19:51] #972 closed, assigned to matozoid

[2017-08-26 19:52] matozoid commented on #1065
So do you think we're done with this issue?

[2017-08-27 08:49] ftomassetti opened #2074 "Make FieldDeclaration.declaringType returns a ReferenceTypeDeclaration"
Remove all casts and instanceof that are unnecessary following this change.

[2017-08-27 18:16] #1065 closed, assigned to matozoid

[2017-08-28 01:01] ryan-beckett commented on #1046
@matozoid: I've developed a working multi-thread source root, but there's an issue. Since **JavaParser** isn't thread safe, I have to either (1) create a new parser for each file, or (2) use a pool. (2) adds more complexity and I'd rather avoid it for now. (1) doubles the memory for **SourceRoot.parse(String, JavaParser, Callback)** for 3k files, but isn't an issue since the memory usage is ~30MB.

[2017-08-28 12:42] ryan-beckett commented on #1046
@matozoid: Another idea is to add my implementation as a new class **AsynchronousSourceRoot** to be used experimentally, but I still need a way to copy the parser.

[2017-08-28 13:18] matozoid commented on #1046
@ryan-beckett I have been thinking of splitting `SourceRoot` in two, and it sounds like this is the right time. My idea for the split was to have one class that focuses on quickly traversing a tree, where your stuff would end up, and the other would be the one that is more focused on live code modification, using the cache and `save()` etc.

Let me play around with this for a bit tonight.

Instanc

[2017-08-28 13:21] matozoid opened #1072 "Create VisitorList and VisitorSet like VisitorMap"
... for completeness.

[2017-08-28 13:48] ryan-beckett commented on #1046
Doesn't this potentially break client code? If it ain't broke, don't try to fix it... I'm just trying to address the problem that @jimshowalter brought up. You're good with the architectural stuff.

I was hoping to either (1) do a PR for **SourceRoot** with the my implementation, or (2) do a PR for **AsynchronousSourceRoot** to be used experimentally. I say (2) because I just want to ensure end-us

[2017-08-28 15:35] matozoid opened #1074 "Pass ParserConfiguration to SourceRoot instead of a JavaParser"
There's nothing interesting a user can do to a `JavaParser` instance. All configuration is in `ParserConfiguration`.

[2017-08-29 19:53] #1003 closed, assigned to nobody

[2017-08-29 22:07] ryan-beckett commented on #1038
Do CompilationUnits have the ability to rewrite their respective files?

[2017-08-30 09:43] matozoid commented on #1038
Yes, check out the `storage` field. It won't help much for this issue, since `SourceRoot` will simply rewrite the file when you call `saveAll()`. So I was looking for some way to flag a CU for deletion (or skip flagging and delete right away, and delete from the cache too.)

Okay, that's for the non-callback functionality. For the callback we have a return enum containing SAVE and DONT_SAVE. It wo

[2017-08-30 13:25] RedBlackTreei opened #1079 "Parse java files from a zip or jar"
for example I have a jar called `commons-collections4-4.1-sources.jar`, How can I get the classes and methods, I have read the wiki, but I  didn't find anything about this.

In addition, does javaparser support fuzzy matching like eclipse or IDEA(eg. *Facade)

[2017-08-30 14:29] matozoid commented on #1079
- this parser parses source files only. Maybe you want https://github.com/javaparser/javasymbolsolver ?
- that's functionality for you to build, it's not the job of a parser, or maybe there is something in (see previous question)

[2017-08-30 14:42] ryan-beckett commented on #1079
@Matozoid: Does adding JAR support into the source root sound like something worthwhile?

[2017-08-30 15:01] matozoid commented on #1079
@ryan-beckett well, what would it do? JP's task is to parse java files, and `SourceRoot` is built for one thing: look at source files under a root directory.

[2017-08-30 19:45] ryan-beckett commented on #1079
It would extract the files then parse through them, but then does **saveAll()** write source back to its file then zip the files? It's stuff like that's kind of hassling when thinking about the API in my opinion. Whatever, I just want your thoughts. There are other things I can work on.

[2017-08-30 19:55] matozoid commented on #1079
Oh right, I completely missed that we're talking about a jar of source files! Sorry!

Here's what I wrote to do the test of the full openjdk source code (which disappeared, so it's not working right now) - https://github.com/javaparser/javaparser/blob/master/javaparser-testing/src/test/java/com/github/javaparser/manual/BulkParseTest.java

A bit disappointing maybe that I just unzip the whole thing

[2017-08-30 20:10] matozoid commented on #876
I guess we're moving towards not having a pretty printer at all, but a code formatter.

[2017-08-30 21:02] ryan-beckett commented on #1079
@matozoid: Do you want to create a **Source** interface/base class? Or, does adding a new **SourceZip** class suffice for now?  Also, should this class support everything the **SourceRoot** currently does, or does supporting a non-cached parse w/ callback suffice for the moment?

Also, do you plan on taking a look at my pull request? I think it's ready to go.

[2017-08-31 07:57] matozoid commented on #1079
@ryan-beckett I did respond to your first PR, but you keep opening new ones for some reason :-) I don't expect anymore comments so I'll pull it.

Hmm, if you can see some use for a base interface, go ahead.

If we have a `SourceZip`, should we have a `SourceJar`?

Just do the callback thing for now, I haven't seen interest in more than that yet.

[2017-08-31 09:32] matozoid opened #1084 "Mark files generated by JavaCC with the Generated annotation too"
It's nicer than the current comment-warning.

[2017-08-31 14:26] ryan-beckett commented on #1079
@matozoid: Awesome. Yeah, sorry about that, I'm OCDish about my code and I'm still learning Git.

No need for a base class, unless you can think of other types of sources, and if we do in the future maybe we can add one. **SourceZip** can parse jars and zips. For now, I'll just have **SourceZip.parse(Path, Callback)** and we'll build upon that as needed.

[2017-08-31 21:39] matozoid commented on #921
F*** this "asterisk" nonsense, the name is "on demand" and now you're getting it :-)

[2017-08-31 21:50] matozoid commented on #921
I'll skip the interface flag since that's not easy to do without breaking stuff, and we have #967 on the backlog.

[2017-08-31 21:54] matozoid commented on #921
I currently have
[code]
... but I don't like the names "ScopeStaticness" and "ScopeSize". Any ideas @ftomassetti or others?

[2017-08-31 21:55] ryan-beckett commented on #1046
@matozoid: We can close this now.

[2017-08-31 21:57] matozoid commented on #1046
Yeah, I'll do the management stuff :-)

[2017-09-01 09:58] ftomassetti commented on #921
ImportLevel?
ImportGranularity?
ImportScope?

[2017-09-01 12:29] matozoid commented on #921
Okay, I guess `ImportDeclaration.Scope` isn't bad. How about `ImportDeclaration.Staticness`? :-/

[2017-09-01 17:11] ftomassetti commented on #921
that also sounds reasonable

[2017-09-01 21:44] matozoid commented on #897
So many snippets of documentation for that plugin, but no clear overview :-(

[2017-09-02 17:39] matozoid commented on #500
NodeList doesn't solve the same problem.

[2017-09-02 17:39] #500 closed, assigned to nobody

[2017-09-02 18:43] matozoid commented on #540
Agreeing with @DeepSnowNeeL that this is really basic visitor usage.

[2017-09-02 18:43] #540 closed, assigned to nobody

[2017-09-02 18:44] matozoid commented on #539
No reply, closing.

[2017-09-02 18:44] #539 closed, assigned to nobody

[2017-09-02 20:32] matozoid opened #1092 "Recover ImportDeclaration to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:33] matozoid opened #1093 "Recover ExtendsList and ImplementsList to ,"

[2017-09-02 20:35] matozoid opened #1094 "Recover EnumDeclaration to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:37] matozoid opened #1095 "Recover TypeParameters to >"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:38] matozoid commented on #1093
This will probably not work very well...

[2017-09-02 20:38] #1093 closed, assigned to nobody

[2017-09-02 20:39] matozoid opened #1096 "Recover ClassOrInterfaceBody to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:39] matozoid opened #1097 "Recover FieldDeclaration to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:40] matozoid opened #1098 "Recover ArrayInitializer to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:41] matozoid opened #1099 "Recover Parameters to )"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:42] matozoid opened #1100 "Recover ConstructorDeclaration to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:42] matozoid opened #1101 "Recover ExplicitConstructorInvocation to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:43] matozoid opened #1102 "Recover TypeArguments to >"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:44] matozoid opened #1103 "Recover ArrayCreation to ]"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:45] matozoid opened #1104 "Recover AssertStatement to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:45] matozoid opened #1105 "Recover StatementExpression to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:46] matozoid opened #1106 "Recover SwitchStatement to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:48] matozoid opened #1107 "Recover BreakStatement ContinueStatement ReturnStatement ThrowStatement to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:48] matozoid opened #1108 "Recover ResourceSpecification to )"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:49] matozoid opened #1109 "Recover MemberValueArrayInitializer to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:49] matozoid opened #1110 "Recover AnnotationTypeBody to }"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:49] matozoid opened #1111 "Recover AnnotationTypeMemberDeclaration to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-02 20:50] matozoid opened #1112 "Refactor ModuleStmt into smaller rules and recover them to ;"
### Notes/pointers

- Follow on from #581

- See also https://github.com/javaparser/javaparser/issues/955#issuecomment-333398125

- And https://matozoid.github.io/2017/06/11/parse-error-recovery.html

[2017-09-03 14:44] matozoid commented on #892
I've cleaned up https://github.com/matozoid/java-logic-positivizer and https://github.com/matozoid/javaparser-maven-plugin-dependencies and would like to move these to the javaparser organization as `javaparser-maven-plugin-sample` and `javaparser-maven-sample`.

[2017-09-03 17:12] #1079 closed, assigned to nobody

[2017-09-03 17:16] #582 closed, assigned to nobody

[2017-09-03 17:17] #1084 closed, assigned to matozoid

[2017-09-03 17:42] #899 closed, assigned to matozoid

[2017-09-03 17:42] #1046 closed, assigned to nobody

[2017-09-04 20:23] matozoid opened #1116 "Inspect hex float parsing issue"
Noticed while parsing JDK 8 langtools:

[code]

on

[code]

[2017-09-05 09:43] JoefsMaggie opened #1117 "How do I get a field of parameters for a method?"
I need to parse my java web code as an API, for example:
`@RequestMapping(value = InnerURL.Goods.queryGoodInfoBySku, method = RequestMethod.POST)
    RestResponse<QueryGoodsBySkuToOrderDTO> queryGoodInfoBySku(@Var @Valid QueryGoodInfoBySkuDTO goodsSkuDTO){//...}`
and POJO QueryGoodInfoBySkuDTO have a field  `private String goodsSku;`,
so, what should I do?

[2017-09-05 12:55] matozoid commented on #1117
First, try the manual: https://github.com/javaparser/javaparser/wiki/Manual - it has a sample that goes through methods. Methods have a getter for parameters.

For more information, read the book https://leanpub.com/javaparservisited

[2017-09-06 18:26] matozoid commented on #1116
Ah, underscores weren't added to the hex float literals.

[2017-09-07 18:19] matozoid opened #1120 "Odd parse error"
JavaParser trips on the first "return" but this seems to be valid code:

[code]

[2017-09-07 18:21] matozoid opened #1121 "Method reference not annotatable?"
JavaParser doesn't seem to like the annotation here:

[code]

[2017-09-07 18:35] matozoid opened #1122 "try with resources also accepts a variable since Java 9"
[code]

[2017-09-07 20:36] ghost opened #1124 "Parse Error When multiple parameters added for Java Parser"
Hi,

We get this error when we run it against this source code ( which is an example here)

[code]

Class FILE:-
------------------
[code]

SAMPLE CODE AGAINST WHICH WE GET THIS ERROR:-
----------------------------------------------------------------
[code]
Can you please check why we get this error? What we are trying to do is to get a list of all the annotations ( method,class level, etc) and th

[2017-09-07 21:11] matozoid commented on #1124
Hi! You're getting a parse error on your source code, which means you're passing invalid Java code to the parser.

Since this is not a JavaParser issue (the Java compiler would have given you an error too) I'll forward you to https://docs.oracle.com/cd/E19798-01/821-1841/gipzh/index.html with a tip to watch the { } in the annotations.

If this answer is sufficient, please close the issue. Feel fre

[2017-09-07 21:15] matozoid commented on #788
Thanks you @phax - your link was very useful for adding a new feature that nobody seems to have noticed!

[2017-09-08 17:33] matozoid commented on #1120
Minimal sample is `return @A P::new;`

[2017-09-08 17:34] matozoid commented on #1120
Seems like a duplicate of #1121 then

[2017-09-08 19:05] #1120 closed, assigned to nobody

[2017-09-09 21:08] ryan-beckett commented on #1124
@jbdundas: You're supposed to have multiple strings encased inside braces for the `@Consumes` annotation.

`@Consumes({MediaType.TEXT_PLAIN, MediaType.APPLICATION_XML})`

That produces no parse errors.

[2017-09-09 22:36] ryan-beckett commented on #1056
@matozoid: Were these testing problems? Changing the current code to:

`VoidVisitor.void visit(NodeList<?> n, A arg);`
`VoidVisitorAdapter.public void visit(NodeList<?> n, A arg)`

causes no compilation issues.

[2017-09-10 10:57] #918 closed, assigned to matozoid

[2017-09-10 12:50] matozoid commented on #753
Hey @ryan-beckett - is this one still on your name? It's been more than half a year now with not much progress...

[2017-09-10 16:29] ryan-beckett commented on #753
You've done XML and JSON. Are you referring to the others?

[2017-09-10 19:59] matozoid commented on #753
There's an ASCII art printer that's not done, and the others, your last message suggests you wanted to do more work on it? I pushed it into master because people wanted to use it, not because I thought it was finished.

[2017-09-10 20:45] #1116 closed, assigned to nobody

[2017-09-10 20:47] #941 closed, assigned to nobody

[2017-09-10 21:55] ryan-beckett commented on #753
If the XML and Json versions are fine then I'm going to leave them be and work on the others. What exactly is an ASCII art printer?

[2017-09-11 09:38] DeepSnowNeeL opened #1128 "Missing method addConstructor on EnumDeclaration"
Hey guys, i'm updating from `3.0.0-RC.4` to `3.3.5`

And I used to do :
[code]
but it looks like addConstructor for EnumDeclaration has been deleted ?

That would be great to restore it :)

[2017-09-11 10:56] matozoid opened #1129 "Improve receiver parameter support"
Here's an idea to improve our current hacky receiver parameter support, inspired by @Bohdankm22:
- receiver parameters currently influence the method signature. They should be filtered out when creating a `CallableDeclaration.Signature`
- we could add a helper method or two that parses the receiver parameter (can we have more than one?) correctly (it is a qualified name, not a simple name like the

[2017-09-11 10:57] matozoid commented on #1128
Hmmm, odd. Let's investigate!

[2017-09-11 11:00] matozoid commented on #753
Alright, I'll mark them final then. The ASCII art one is something like this: https://cmatskas.com/generate-ascii-folder-structures-for-windows-with-tree/

If you think XML and JSON are all we need we can also close this issue.

[2017-09-11 12:16] ryan-beckett commented on #753
You can leave them open a little while longer. I don't mind taking a stab at them, but I had started working on 'pointing a **Problem** to a node'.

[2017-09-11 12:27] DeepSnowNeeL commented on #1128
I just created https://github.com/javaparser/javaparser/pull/1130 to fix it :)

[2017-09-11 14:41] AIpeter opened #1131 "Get and set names of FieldDeclaration in Javaparser"
How do I get the name of a `FieldDeclaration` by using the Javaparser?  And how can I edit it?

I am able to get and change the name of a `MethodDeclaration`, but is no such function as getName() or setName() in the [FieldDeclaration Class][1].
I tried to use [this][2], but I don't know where the `VariableDeclarationFragment` and `fragments()` came from.

  [1]: http://static.javadoc.io/com.github

[2017-09-11 15:22] matozoid commented on #1131
- a field declaration can declare multiple variables like `int a, b, c;` - you are interested in `FieldDeclaration.getVariables()`. It contains `VariableDeclarator`s which have a `setName(...)` (or use the constructor).
- the example is for the parser API that has been available from Oracle. JavaParser is a totally independent project.

[2017-09-11 17:18] matozoid opened #1132 "Document Java versions in Node Javadoc"
For all nodes that have different capabilities in different Java versions, document for every Java version where the capabilities changed: what changed, and how that affects the content of the various fields of the node.

For example:
TryStmt: normal Javadoc + "from Java 7, resources are supported. These can be found in the `resources` field. Only `VariableDeclarationExpr` is supported as a resour

[2017-09-11 17:21] matozoid commented on #1117
Assuming this is answered.

[2017-09-11 17:21] #1117 closed, assigned to nobody

[2017-09-11 18:34] matozoid opened #1133 "Add validation for multi-catch (java 7)"

[2017-09-12 06:14] ftomassetti commented on #1129
What is a receiver parameter?

[2017-09-12 08:16] matozoid commented on #1129
@ftomassetti see #806 - this also needs support in JSS

[2017-09-13 16:19] matozoid opened #1136 "Add origin to ArrayType"
We can't figure out where the [] that create an `ArrayType` object come from. Maybe it should have a field that says "after type" "after variable declaration" "after method parameters" and where else you can put them.

[2017-09-13 17:11] matozoid commented on #1132
See `TryStmt` for an example.

[2017-09-13 17:11] matozoid commented on #1124
Assuming this is answered.

[2017-09-13 17:11] #1124 closed, assigned to nobody

[2017-09-13 19:02] matozoid opened #1137 "Fix annotation with ArrayType"
In `@C int @A[] a @B[]` the @C should apply to the element type (int), not to the whole declaration.

[2017-09-13 20:59] matozoid commented on #1137
Actually not true - if it is an annotation that applies to types, yes. It might also apply to the whole declaration. Since we don't know, we put everything on the declaration.

[2017-09-13 21:19] matozoid commented on #1137
Issue found: second type and on of intersection type cannot have annotations.

[2017-09-13 21:20] matozoid commented on #1137
Issue found: primitive type constructor does not have annotations.

[2017-09-13 21:29] matozoid opened #1138 "ClassExpr should be annotatable"

[2017-09-14 10:47] AIpeter commented on #1131
Thank you very much!

It worked for class variables, but how can get and set the name for variables declared in a method?

For example like here:
`public static void test() {`
`    int a = 10;`
`}`

[2017-09-14 19:22] matozoid commented on #1131
If you want to know what node types are used for a piece of code, try this:
[code]

In this case you'll see a `VariableDeclarationExpr`.

Of course, changing the variable name here will not change the variable name where it is used (like `int b = a + 20;`) - that is a lot bigger task, and you will need the Java Symbol Solver project for that.

[2017-09-14 19:31] matozoid opened #1140 "DefaultVisitors"
Create visitors like `VoidVisitorAdapter` and `GenericVisitorAdapter` that by default forward to:

[code]

These should be really easy to generate by copying and slightly modifying the generators for `VoidVisitorAdapter` and `GenericVisitorAdapter`.

[2017-09-14 22:18] matozoid commented on #1138
No it shouldn't.

[2017-09-14 22:18] #1138 closed, assigned to nobody

[2017-09-15 10:04] #1121 closed, assigned to matozoid

[2017-09-15 10:04] #1137 closed, assigned to matozoid

[2017-09-15 13:25] AIpeter commented on #1131
The `VariableDeclarationExpr` works good for me.

When I want to use the Java Symbol Solver, I need the jar of the file, right?

[2017-09-15 17:52] matozoid commented on #1131
As far as I know it works on directories with source code, and to figure out what everything means you add jars or more source. I mean - I can't say what a certain class is or can do if I can't find it. @ftomassetti knows more.

[2017-09-15 19:09] AIpeter commented on #1131
Thank you for your help!

I found a way that the `FieldDeclaration` and `VariableDeclarationExpr` are sufficient for my purpose.

[2017-09-15 19:09] #1131 closed, assigned to nobody

[2017-09-17 05:51] ryan-beckett commented on #753
@matozoid: I feel like the sky is the limit with HTML output. What exactly are we trying to accomplish with it? I was thinking something like [this](http://jsfiddle.net/5Q8rJ/) -- a simple collapsible tree view. However, we need to use Javascript. What are your thoughts? If we're going to do the HTML version, we might as well make or worthwhile, or just scrap it. I'm in favor of scrapping it hones

[2017-09-17 10:08] matozoid commented on #753
Skip the HTML then, this use case has more than enough code by now :-)

ASCII art was suggested by myself because it could be a quick way to output the tree in your console - but I think YAML should take care of that now, right?

[2017-09-17 15:30] ryan-beckett commented on #753
Cool. I'm moving on.

[2017-09-17 17:05] matozoid commented on #753
For completeness, I was also considering that https://github.com/javaparser/javaparser/issues/725 exists.

Not a hint to go work on that, by the way, it's not a core thing :-)

[2017-09-17 17:13] #1140 closed, assigned to matozoid

[2017-09-17 17:38] #753 closed, assigned to nobody

[2017-09-17 17:48] #1128 closed, assigned to matozoid

[2017-09-17 17:50] #1122 closed, assigned to matozoid

[2017-09-17 18:04] ryan-beckett commented on #725
I was actually investigating this last night for eclipse. We'll see, but for now, I'd like to work on stuff that will familiarize me with the codebase more. I'm still trying to understand how all these patterns and components work together, so I can bring forth more powerful contributions.

[2017-09-17 18:16] #1136 closed, assigned to matozoid

[2017-09-17 18:28] matozoid commented on #725
@ryan-beckett here are some significant issues: #801 (long standing issue that needs messing around with JavaCC's internals) #729 (work with generators) - or one of the validations (work with validations, AST structure, and figuring out Java.)

[2017-09-17 18:28] matozoid commented on #725
Everything that is tagged "fun project idea" is not something we're going to pick up. Just suggestions for people looking for a project.

[2017-09-17 23:01] ryan-beckett commented on #1038
@matozoid: Maybe you can shed some light on this. In the code below, the `CompilationUnit` produced as a result of parsing the file at `absolutePath`, has its storage set with `absolutePath`. However, if the result of the callback is `SAVE`, the unit is saved with a storage that points to `path`. Is this a mistake?

[code]

Why not simply say:

[code]

[2017-09-17 23:55] ryan-beckett commented on #1038
@matozoid: I've spent a few hours thinking about this, and I can't think of an elegant solution.

I was able to add the ability to delete files when using the callback methods. If you're interested in adding that only, I'll submit a PR.

[2017-09-18 09:17] matozoid commented on #1038
@ryan-beckett well, that's at least half the problem solved :-) Do submit a PR.

[2017-09-18 09:21] matozoid commented on #1038
@ryan-beckett your remark about saving seems to be correct. `Storage` was added after `SourceRoot` so you may see more code around that seems to think `Storage` does not exist.

[2017-09-18 09:27] matozoid commented on #1038
@ryan-beckett about an elegant solution for the cached version: I think you start with adding a `delete` method to `SourceRoot` that takes a `CompilationUnit`. Then you can choose to do the right-away solution (which is less desirable because it suddenly changes the read-only view of the source directory - suddenly you can make files disappear in the middle of processing!) or find some kind of fla

[2017-09-18 09:46] ryan-beckett commented on #1038
@matozoid: I'll submit it after work. I was thinking the exact same thing regarding the `delete` method, but I feel like it's such an arkward design choice, not to even consider it. Maybe it's time to consult with StackOverflow!

[2017-09-18 10:01] matozoid commented on #1038
If you like, not sure what random people can add here though :-)

[2017-09-18 12:41] lucamolteni opened #1146 "FieldAccessExpr could implement NodeWithOptionalScope"
It'd be useful to recursively navigate up to the root of an heterogeneous expression such as `getAddress().name.startsWith(...)`

It could be implemented as an always present Optional with `Optional.of`

[2017-09-18 12:57] matozoid commented on #1146
Okay, my thoughts:
`NodeWithOptionalScope` has `Optional<Expression> getScope()`.
`FieldAccessExpr` has `Expression getScope()`.

`Optional` is used throughout the library to warn users that a value may be missing. This as a cure for the many null-pointer issues from before 3.0.0.

We could implement `NodeWithOptionalScope` on `FieldAccessExpr`, but:
- this is misleading: it does not have optional

[2017-09-18 13:17] ryan-beckett opened #1147 "HashCodeVisitor Ignores Comments when Generating Hashcode"
The following test passes and it shouldn't considering `HashCodeVisitor` uses comments to generate a hash code.

[code]

[2017-09-18 18:20] matozoid commented on #1147
Ah, it's what I expected: our mediocre comment support. Here's what your YAML export tells me:

p1 looks like this:
[code]

p2 looks like this:
[code]

Exactly the same, because the comment attribution algorithm hasn't managed to assign the other comments to nodes. I'm a little surprised about the starting comments not being attributed to the class, but whatever - for 4.0.0 I'm going to rework all

[2017-09-19 09:50] #1146 closed, assigned to matozoid

[2017-09-19 20:58] matozoid opened #1149 "Let storeTokens also influence tokenrange creation."

[2017-09-20 14:45] #1149 closed, assigned to matozoid

[2017-09-20 18:28] matozoid opened #1154 "Import methods from Java Symbol Solver's "Type""
These are possible:

[code]
... these I don't know. @ftomassetti ?
[code]

Also the question is how much this helps to integrate JSS. Not much I think?

[2017-09-21 08:04] ftomassetti commented on #1154
Agreed that `isReference` and `isReferenceType` are confusing :)

Maybe we can start looking for a common interface defining a Type and see how to move from there.

The problem is that "resolved types" will have some extra methods (like, get all ancestors). I do not know if the implementation in JP should throw exception for those, or maybe look into the data to see if they find a delegate (from J

[2017-09-21 19:16] ElDzi opened #1159 "TokenMgrError"
`Exception in thread "main" com.github.javaparser.TokenMgrError: Lexical error at line 152, column 94.  Encountered: "" (0), after : ""
	at com.github.javaparser.ASTParserTokenManager.getNextToken(ASTParserTokenManager.java:2483)
	at com.github.javaparser.ASTParser.jj_scan_token(ASTParser.java:8950)
	at com.github.javaparser.ASTParser.jj_3R_213(ASTParser.java:8336)
	at com.github.javaparser.ASTPar

[2017-09-21 19:21] matozoid commented on #1159
Do you have the source code that caused this so I can analyse it?

[2017-09-21 19:28] matozoid commented on #1159
One thing is for sure: this exception should have been caught.

[2017-09-22 08:51] matozoid commented on #1154
Would you like...
[code]
?

If so, let's think of a name.
`shared.Type` is annoying: now users have multiple `Type`s to choose from.
`JavaParserTypeInterface` is strange, but clear?

[2017-09-22 15:37] matozoid commented on #1159
Hmmm, `ASTParser` and `TokenMgrError` haven't been in the code for a lot of versions now. @ElDzi - I recommend you upgrade to the latest version and try again. Please open a new issue if things still don't work.

[2017-09-22 15:37] #1159 closed, assigned to nobody

[2017-09-23 12:50] #1056 closed, assigned to nobody

[2017-09-23 12:51] matozoid commented on #1154
@ftomassetti ?

[2017-09-23 12:56] matozoid commented on #1147
Okay, @ryan-beckett - this is unsolvable. The underlying issues are in here: https://github.com/javaparser/javaparser/issues/638 . Can I close this?

[2017-09-23 12:56] ftomassetti commented on #1154
I think it lost my comment (or I forgot to submit it). I think that to decide if to start from JP or JSS Type interface we should consider what this interface should contain, the option I see are 2:
* we have a limited interface (without the methods that decide symbol resolution). In this case we start from JP Type
* we have a richer interface. In this case when symbol resolution is not available

[2017-09-23 13:03] matozoid commented on #1154
Yes, I think. Currently we have JP Type and JSS Type. I think you suggested before to make an additional interface that both could implement. So I suggested a name for that. My feeling is that it's best totake small steps and only put the JP part in there right now. Am I mistaken? (This happens a lot ;-) )

[2017-09-23 13:15] ftomassetti commented on #1154
The problem with putting just the methods for the JP part is that this will be not enough for JSS so that it will need to use a wrapper or some other mechanism to move to the richer interface.

What if we keep the JP Type and the method "toSolvedType"? where SolvedType would be the JSS Type

[2017-09-23 13:17] matozoid commented on #1154
Can you open a PR for this?

(If it is more than just a conversion, maybe `solve` is a better method name?)

[2017-09-23 13:21] ftomassetti commented on #1154
Yes, I will do that late next week (I will be travelling the first half of the week)

[2017-09-23 13:29] matozoid commented on #1154
Thanks!

[2017-09-23 13:30] ftomassetti commented on #1154
Thank you!

[2017-09-23 13:38] matozoid commented on #1154
Thank us!

[2017-09-23 13:40] matozoid opened #1160 "Put test code back into core"
It's currently a separate module, which causes trouble for me: often I run tests against an outdated version. Yes, that's a tooling problem, but the tooling expects us to keep to the normal way of doing: putting test code in src/test/resources of the *same* module.

[2017-09-23 13:44] matozoid commented on #1133
Invalid, it is already validated as a "multi-catch"

[2017-09-23 14:02] #1133 closed, assigned to matozoid

[2017-09-23 16:24] ryan-beckett commented on #1147
Yup, thanks for reviewing it.

[2017-09-24 17:43] #1147 closed, assigned to nobody