[2018-07-07 23:10] malteskoruppa opened #1682 "Use a sharp sign (#) instead of a dot sign (.) in method signatures"
Currently, the signatures generated by JSS by the implementations of `ResolvedMethodLikeDeclaration#getQualifiedSignature()` have the form:

` package.class.method(params)
`

This is a bit non-standard and it makes it difficult to distinguish package, class and method in the String returned by this method (of course, you shouldn't rely on Strings in the first place, but regardless :wink:).

It wou

[2018-07-08 01:42] amriteya commented on #1681
Well, this is an interesting problem statement.

As you mentioned, the latter alternative cannot be a reliable way to distinguish a package-info.java file. The JLS documentation clearly states that even though it is a bad practice to have anything more than package declarations and annotations declaration in the package-info.java, it is allowed to have source code there as well.

On the other hand

[2018-07-08 08:22] ftomassetti commented on #1680
No, there is nothing to do that.

What you could do is:
* finding all symbol declaration in a given context
* look at their type

But there is no direct functionality for this as no one seems to have needed that so far.

[2018-07-08 09:58] ftomassetti commented on #1491
Reading the first problem: [the indicated file](https://github.com/davidar/lljvm/blob/master/java/src/lljvm/runtime/Function.java) on line 22 has a blank line.

I am ignoring the first point and looking at the test code.

[2018-07-08 10:29] ftomassetti commented on #1491
I think the issue here is that `getType` is invoked on the name of a type (as it is used on static field accesses). The problem is that `getType` was intended only to be used on values. So I changed it to allow to be used also on names of types because this seems a common misconception about that method.

[2018-07-08 10:30] ftomassetti commented on #1491
Which by the way was what @malteskoruppa correctly figured out months ago :D

[2018-07-08 10:31] ftomassetti commented on #1491
Removing bug report label as in my opinion is not a bug but it is clearly a confusing API that we should clarify and improve.

[2018-07-08 10:39] matozoid commented on #1681
@amriteya alright, let's leave it open then.

[2018-07-08 10:39] matozoid commented on #1681
I'd better take the easy label off ;-)

[2018-07-08 10:44] matozoid commented on #1491
Isn't it more or less solved now?

[2018-07-08 11:28] ftomassetti commented on #1491
Yes, my understanding is that we can merge the PR and then close this task

[2018-07-08 11:36] peterkt2000 commented on #1680
Thank you Federico. I'd be glad to make those changes and contribute if there's interest. I'll review your contribution guidelines.

I was thinking of making my request more generic and adding a solve method that accepts predicate function reference. Javaparser/java symbol solver maintains the search algorithm while allowing a client to make the inspection and return a boolean. A true value would

[2018-07-08 19:35] UHDante commented on #1674
Hi!! thanks for your time guys. I'm really grateful.
By MultipartFile I mean that my rest api receive this type: `org.springframework.web.multipart.MultipartFile`
A representation of an uploaded file received in a multipart request.
The file contents are either stored in memory or temporarily on disk. In either case, the user is responsible for copying file contents to a session-level or persisten

[2018-07-08 20:00] #1491 closed, assigned to ftomassetti

[2018-07-08 20:05] matozoid commented on #1674
Ah, I think you want to do a `cu.setStorage` with that original filename. Then `getPrimaryType` should work.

[2018-07-09 00:48] ro11ak opened #1685 "Java-symbol-solver - Fetch caller method of method calls"
How can I fetch the caller/parent method in which the methods are called?
For eg:
`void parentMethod(){
a();
b();
}`
I'm able to fetch the details of methods a & b. However, I'm not able to get any details about the caller/parent method i.e.  parentMethod().
Is there a way I can get information about the caller method in the ResolvedMethodDeclarations?

Below is my code:
[code]

[2018-07-09 07:03] malteskoruppa commented on #1685
In your visitor method for `MethodCallExpr`, you don't need to solve the method call expression for `a()` (or `b()`) when all you want to know is the context that you are already in (i.e., when you want to know the method that contains the given call expression, which is `parentMethod()` in your example). In other words, the information you are trying to find doesn't necessitate a symbol solver -

[2018-07-09 07:22] malteskoruppa commented on #1681
Here's my 2 cents -- I agree that trying to distinguish a `package-info.java` from normal Java files by the file contents would be unreliable, and, therefore, a bad idea.

The distinguishing characteristic of a `package-info.java` is, well, its file name. That's all there is to it. So if you do not have the storage information, and thus you do not have a file name, you simply don't know. Period. S

[2018-07-09 07:55] matozoid commented on #1681
The reason I came up with my second paragraph is this part of the JLS: "The following scheme is strongly recommended for file-system-based implementations: ... is placed in a source file called package-info.java"

"Strongly recommended" - thank you JLS, for your 99% certain specifications... :-(

[2018-07-09 08:55] malteskoruppa commented on #1681
I understand. :-)

But, because of the missing 1%, it would feel a bit like "guessing". :-) I think that the JavaParser API should be well-defined and reliable.

If a user calls `isPackageInfo()` and gets a "not sure" answer (because no storage information is available), that user can still decide to apply heuristics themselves, like "Is there only a package declaration in this compilation unit an

[2018-07-09 13:51] malteskoruppa commented on #1491
@ftomassetti Awesome, thanks for this! :-)

[2018-07-09 13:51] ftomassetti commented on #1491
Thank you @malteskoruppa !

[2018-07-09 17:08] MysterAitch commented on #1379
+1

I have come up against this recently (though I don't see it present in the snippet quoted above). Solved it locally by changing "type" to "_type" to avoid the key collision on the assumption that there is unlikely to be an attribute/key of that name naturally occurring. Seems to be working well enough here so far.

[2018-07-09 17:42] matozoid commented on #1379
Note that this doesn't have a high priority, because the JSON is meant to be *looked at* to examine the AST, not to be processed.

[2018-07-09 19:42] UHDante commented on #1674
cu.setStorage is not valid in this case because I have the List<MultipartFile> files stored in memory, writing it to disk is not an option, so i can't get a path. The code I wrote before works fine and it's ok to me.
In any case, I just wanted to suggest a new functionality because MultipartFile is not included on your cu.parse() function and if any one use a normal upload component from angular y

[2018-07-09 20:33] matozoid commented on #1674
If you want to clean it up, try setStorage and Paths.get.

MultipartFile is not part of the JDK, it seems to be part of Spring?. Since JavaParser runs without dependencies, we can't really support it. But this issue will document how to do it, I hope :-)

Thanks! Feel free to suggest more things :-)

[2018-07-10 11:31] beonit opened #1686 "How to create an object hierarchy map"
Our team has our own templates for Restful API documentation. There are many problems with creating hand.
I am creating an this document using the JavaParser.
We need the ability to parse the object and create a hierarchy map(variableName/type) for the controller response type.
However, when using generics in a object (ex. List<Transaction>), I can not determine the type of an object by resolving

[2018-07-10 20:40] matozoid commented on #1686
@ftomassetti ?

[2018-07-11 06:41] malteskoruppa commented on #1686
@beonit It is not clear to me what your problem is. Could you add the actual output as well as the expected output of your test program?

As far as I can see, you're obtaining the return type of the method `test()` in your example code (since that is the only method declaration in your code). This return type is the class `Response`. Then you obtain all fields from that class (i.e., from `Reponse`

[2018-07-11 07:41] ftomassetti commented on #1686
It is also not clear to me what you want to achieve. Do you want to figure out the parameter and return type of all your methods? And then do you want to go and recursively find a definition for the returned type and see what structure they have?

[2018-07-11 09:37] matozoid commented on #1686
I think he wants a tree of...
[code]

[2018-07-11 10:20] malteskoruppa commented on #1686
Ah, ok, that's easy enough. :-)

I think my first post explains how to get to the `ResolvedReferenceType` of `Transaction` from the declaration `private List<Transaction> transactions;`, which is, if I understand correctly, what he doesn't know how to do:

The rest should be fairly straightforward to do. Just build the structure recursively. You should decide how to handle circular dependencies th

[2018-07-11 16:39] matf commented on #1321
@ftomassetti Can reproduce this as well. I get this when printing using LPP after basically any modification.

Shortest possible reproducer:
[code]

[2018-07-12 12:22] matf commented on #1321
I was able to work around the Exception by adding the following block to LexialPreservingParser#interpret at LexicalPreservingParser.java:435. Not sure if that is correct though or if it breaks indendation:

[code]

[2018-07-13 08:01] matozoid opened #1689 "Redesign LexicalPreservingPrinter"
In my opinion, there are two main things mixed up in the logic right now, making everything complex:
- what tokens make up a part of the AST, and
- how do we want to format a source file.

The redesign should split the CSM into two part: the CSM, and the formatting rules. Then the LPP will get two phases: insert/delete/modify the tokens for the changed part, then apply the formatting rules to the

[2018-07-13 08:01] matozoid commented on #1689
@ftomassetti ?

[2018-07-13 09:07] #1321 closed, assigned to ftomassetti

[2018-07-13 09:08] matozoid opened #1690 "Fix TODO in LexicalPreservingPrinter"
[code]

[2018-07-13 12:54] ftomassetti commented on #1689
It is a complex topic, I admit I have no clear ideas on this one :)

It is ture what you say: the CSM both specify what the syntax has strictly to be and some aspects of formatting (for example, where typically we want to get indentation). It could make sense to separate that.

There is one thing I am thinking about: we could need a way to understand where spaces are strictly needed. For example,

[2018-07-13 12:54] ftomassetti commented on #1689
I would love to see a prototype of the idea :D
Any volunteer?

[2018-07-13 14:13] ftomassetti commented on #1485
I tried without specifying the JARs and it works for me. Perhaps it was fixed in the meantime. I will send a PR with the test.

[2018-07-13 14:15] ftomassetti commented on #1456
Where is this happening?

[2018-07-13 14:20] AwesomeLemon commented on #1456
The class I've linked (de.mrapp.android.adapter.list.ListAdapter) is inherited from android.widget.ListAdapter
The problem arises when trying to solve an instance of the first class.

[2018-07-13 14:24] ftomassetti commented on #1456
Ok, but to build a test that depends on Android and a lot of other classes would be a large effort

[2018-07-13 14:26] AwesomeLemon commented on #1456
As I understand it, it's not an Android-related problem. It's the problem when ``namespace1.A`` is inherited from ``namespace2.A``

[2018-07-13 16:40] #1485 closed, assigned to ftomassetti

[2018-07-15 14:21] ftomassetti opened #1694 "Should foreach.variable not be an expression?"
I would expect it not to be an expression because... well it is not. It is a variable declaration but not an expression.

[2018-07-15 14:24] matozoid commented on #1694
According to the JLS you only get to declare a variable there: https://docs.oracle.com/javase/specs/jls/se10/html/jls-14.html#jls-14.14.2

[2018-07-15 14:30] ftomassetti commented on #1694
Then maybe it should be a VariableDeclarator, my point is that it is confusing to have an element that is an expression because that is not an expression

[2018-07-15 14:31] ftomassetti opened #1695 "Create a virtual ValueDeclaration for array.length"
Currently we can resolve a FieldAccessExpr and get a ValueDeclaration, however that does not work for array.length because there is no actual declaration to point to.

[2018-07-15 16:40] ftomassetti opened #1697 "Removing gh-pages"
I think we do not need it anymore. Before deleting it I wanted to be sure :)

[2018-07-16 07:05] matozoid commented on #1697
I think you can check out the wiki pages from another URL, right?

Yes, https://github.com/javaparser/javaparser.wiki.git

[2018-07-16 07:06] matozoid commented on #1694
Ah right, let's look into it.

[2018-07-16 07:07] #1695 closed, assigned to nobody

[2018-07-16 07:16] ftomassetti commented on #1697
The link does not work for me (error 404). I think the gh-pages are different from the wiki. They could be used for the content of the website but I think we use a different hosting for that

[2018-07-16 07:37] matozoid commented on #1697
Well, I haven't used them in years, if ever, so away they go.

The link comes from the wiki - it's in the bottom right. I guess it only works for cloning?

[2018-07-16 07:40] matozoid opened #1698 "Update dependencies"
junit, maven plugins, etc. Just check what the latest version is and see if everything still works.

[2018-07-16 10:09] beonit commented on #1686
Thank you so much for your help.
We decided not to deal with Recursive cases. We decided to simplify the response object structure.
I've got this result.

[code]

[code]

[2018-07-16 10:09] #1686 closed, assigned to nobody

[2018-07-16 13:23] ftomassetti commented on #1697
Removed: it was not modified in 2 years

[2018-07-16 13:23] #1697 closed, assigned to nobody

[2018-07-16 13:38] matozoid commented on #1697
Nice, only master is left.

[2018-07-16 15:10] jjbr opened #1699 "isStatic() throws NullPointerException when called on an enum ResolvedFieldDeclaration"
Take an enum definition as follows:
[code]

Now access an enum value with e.g. `MyEnum.SOME`, parse that expression and call `.resolve()` on it. Call `.isStatic()` on the resulting ResolvedFieldDeclaration (a cast is required beforehand).

Result: A NullPointerException is thrown when `isStatic()` is called. This is due to the fact that `isStatic()` tries to access the `wrappedNode` of the JavaPar

[2018-07-16 16:34] matozoid commented on #1321
If this doesn't fix all the above situations, please reopen.

[2018-07-16 18:03] matozoid commented on #1694
Ah, I think I know why it is like this: a `VariableDeclarator` is a part of a `VariableDeclarationExpr`. By itself, it does not have annotations or modifiers. To do this properly, we need a new node: a `ForEachVariableDeclarator` which consists of annotation, modifiers, a type, and a name.

Maybe it was laziness in the past that got us this construction, maybe it was an attempt to keep the amount

[2018-07-17 07:29] matozoid opened #1701 "Use less volatile classes for tests"
`ReflectionInterfaceDeclarationTest` and `ReflectionClassDeclarationTest` have different results depending on the JDK version used to run it because it analyses java.util.List, which changes a lot every version. Find a good replacement so we don't need all that version logic.

[2018-07-17 07:33] matozoid opened #1702 "Use less volatile test setup"
`AnalyseJavaSymbolSolver060Test` and `AnalyseNewJavaParserTest` need different expectations for different JDK versions. Figure out why and stop it.

[2018-07-17 15:58] Yonka opened #1703 "resolving MethodCallExpr in anonymous classes"
Hi!
I have an issue while resolving type of MethodCallExpr scope variable in anonymous class.
Example:
[code]
And when I try to resolve type of `f` while calling `m.getScope().get().asNameExpr().resolve()` from `public void visit(MethodCallExpr m, Void a)`, I get:
java.lang.UnsupportedOperationException: CorrespondingDeclaration not available for unsolved symbol.

And one more interesting thing. S

[2018-07-18 07:57] IlyasAzeem commented on #1574
Hey, @matozoid I have the same problem. The JavaParser does not remove such block comment before the methods too. e.g. after parsing the following code the comments remain there.
[code]

[2018-07-18 09:37] malteskoruppa commented on #1699
To me it looks like the problem is that a `ResolvedFieldDeclaration` is returned in the first place. It should be a `ResolvedEnumConstantDeclaration` instead. Then, there is no problem with an `isStatic()` method, because `ResolvedEnumConstantDeclaration` doesn't provide that method.

To clarify, let me recap the relevant parts of the JSS architecture. `FieldAccessExpr#resolve()` returns a `Resolv

[2018-07-18 09:40] ftomassetti commented on #1699
mmm, probably you are right, it should be a ResolvedEnumConstantDeclaration after all
@malteskoruppa you are contributing very good points to discussions :)

[2018-07-18 09:41] malteskoruppa commented on #1699
Thank you, I'm happy to help! :blush:

[2018-07-18 12:58] Yonka opened #1704 "resolving MethodCallExpr in lambda"
and one more issue.
In this example:
[code]
 I get `java.lang.RuntimeException: Unable to calculate the type of a parameter of a method call. Method call: message.put(account), Parameter: account`.
But if I replace outer lambda with anonymous class:
[code]
MethodCallExpr for `message.put(account)` resolves successfully.

Is there any way to resolve this method call in first case?

[2018-07-18 13:47] ro11ak commented on #1685
Thanks. That worked!

[2018-07-18 13:47] #1685 closed, assigned to nobody

[2018-07-18 14:34] malteskoruppa commented on #1685
@ronak111091 Cool!

One more thing, mind this: not every method call expression is contained in a method. Consider for instance:

[code]

Here, the method call `foo()` is not contained in a method, and, if you do something like

`Optional<MethodDeclaration> caller = methodCallExpr.findParent(MethodDeclaration.class)
`

...where `methodCallExpr` is the method call expression `foo()`, you get an emp

[2018-07-19 13:59] Yonka opened #1705 "Getting field declaration from field access expression"
I want to get ResolvedFieldDeclaration from FieldAccessExpr. FieldAccessExpr and  ResolvedFieldDeclaration are in different CompilationUnits.
[code]
In the last line "java.lang.IllegalStateException: Symbol resolution not configured: to configure consider setting a SymbolResolver in the ParserConfiguration" is thrown.

I've tried to find the problem. The exception occures in getSymbolResolver meth

[2018-07-19 14:32] matozoid commented on #1705
Hi! Here's a minimal sample of how to set everything up for symbol solving: https://github.com/javaparser/javasymbolsolver-maven-sample/blob/master/src/main/java/com/yourorganization/maven_sample/MyAnalysis.java

and it is recommended to read the book: https://leanpub.com/javaparservisited

[2018-07-19 14:54] Yonka commented on #1705
Hi!
I've configured JavaParser by setting up CombinedTypeSolver (with all source and jars path, and ReflectionTypeSolver) before asking ;) And all CompilationUnits that was parsed via `JavaParser.parse(compilationUnit)` has not null `getData(SYMBOL_RESOLVER_KEY)`.
But the CompilationUnit that we get while `ResolvedFieldDeclaration resolvedField = field.resolve();` does not have this "data".
I've a

[2018-07-19 15:14] matozoid commented on #1705
Is the second `CompilationUnit` coming from one of the type solvers? Check the constructor of the `JavaParserTypeSolver`, it can take a `ParserConfiguration`, which is the one where you can put the solver.

It's a bit annoying to configure all of this, so @ftomassetti - is this how it is supposed to work?

Here's also a quick way to configure everything (if it fits your project structure): http://

[2018-07-19 15:32] Yonka commented on #1705
The second `CompilationUnit` we get in the last line while field.resolve() call:
`field.resolve()` ->
[code]
->
[code]

I've assigned all my solvers combined in CombinedTypeSolver to static configuration:
[code]
Isn't it enough?

[2018-07-19 19:59] matozoid commented on #1705
Have you tried?

[2018-07-20 07:24] Yonka commented on #1705
Yes, I tried and it works!
I've added configuration (`ParserConfiguration configuration = JavaParser.getStaticConfiguration();`) to every JavaParserTypeSolver constructor.
Thank you for your help! And thanks for JavaParser, it's awesome!

[2018-07-20 11:40] matozoid commented on #1705
Cool, have fun :-)

[2018-07-20 11:40] #1705 closed, assigned to nobody

[2018-07-20 12:00] malteskoruppa commented on #1694
This reminds me of issue #1520. There, too, it is confusing that the scope of a `ThisExpr` is an expression, because, well, it's not... it's really a name. :-) Would it maybe make sense to tackle these two issues simultaneously, scheduled for 4.0.0?

[2018-07-21 18:15] matozoid commented on #1694
@malteskoruppa it even looks like a `Type`... Anyway, it's a different issue so new issue please (or we won't be able to handle them separately)

[2018-07-21 20:05] Shoreray opened #1706 "Resolving the constructor invoked in a ObjectCreationExpr"
Hi,

It seems that ObjectCreationExpr.resolvedInvokedConstructor() would always throws an UnsupportedOperationException since this node type is not handled in the JavaSymbolSolver.resolveDeclaration(Node, Class<?>) method.

[2018-07-21 20:13] Shoreray commented on #1706
A related question.
I am trying to get the declaration of fields, methods, enum constants, etc.
Currently I ran into some problem resolving symbols (methods, mostly) related to lambdas, type templates, (and some other peculiar cases).
I'm not sure whether I'm using the symbol solver incorrectly or the solver does not handle some cases for now.
Can I find something that documents the possible limit

[2018-07-21 20:15] Shoreray commented on #1706
Never mind the bug report in the post. I found that it's already fixed in the new version.

[2018-07-21 20:15] #1706 closed, assigned to nobody

[2018-07-21 22:00] MysterAitch opened #1707 "Comment attribution - ignore whitespace between JavaDoc and node"
It appears that the current implementation of comment attribution has a bug in that more than a single newline between the end of a JavaDoc and the start of the next token causes the comment attribution to fail.

In the example below, the only difference in the input is one newline versus two. In the case of two newlines, the JavaDoc is treated as an orphan comment. In Gitter chat, @matozoid confi

[2018-07-21 22:05] ftomassetti commented on #1707
This is intended, we could argue this should be changed

On Sun, Jul 22, 2018, 12:00 AM MysterAitch <notifications@github.com> wrote:

[2018-07-22 02:54] MysterAitch commented on #1707
@ftomassetti - Prompted by your comment I have dug a little further and I now agree with you that it is intended behaviour, with documentation in the wiki and the book referencing the configuration option of `setDoNotAssignCommentsPreceedingEmptyLines()` to toggle this. Apologies for my misunderstanding here! I have also edited the first post to reflect what was actually said in chat.

While I had

[2018-07-22 06:40] ftomassetti commented on #1707
Mmm, I thought the parse method taking a string was static and it was cause
of confusion before

On Sun, 22 Jul 2018 at 04:54, MysterAitch <notifications@github.com> wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2018-07-22 10:27] matozoid commented on #1707
@ftomassetti I played with the javadoc tool a bit, and found out that any amount of whitespace between Javadoc and the commented node is accepted. So I think the `CommentsInserter` should just implement this algorithm. The implementation will be interesting though.

[2018-07-22 20:20] #1425 closed, assigned to ftomassetti

[2018-07-22 20:21] matozoid commented on #1391
@daanschipper any news?

[2018-07-22 20:22] matozoid commented on #1333
This was done and rolled back because it caused really obscure issues.

[2018-07-22 20:22] #1333 closed, assigned to ftomassetti

[2018-07-23 13:42] ftomassetti opened #1709 "Improvements on names"
I think we could consider some use cases regarding names in a way that does not require API changes in V3 and could pave the way to changes to be performed in V4.

These use cases could be immediately useful and in the longer run be needed to implement resolution of generic methods according to the specifications. Some changes in how the JLS describes names could be also due to the introduction of

[2018-07-23 14:44] miho commented on #1640
Sorry for my late response. Was busy with the initial preview release. Here it is:  https://github.com/miho/VMF-Text I'll explain more in the gitter chat you suggested.

[2018-07-23 19:10] ftomassetti opened #1710 "Uses and Provides should have a Name and not a type"
According to [JLS 7.7.1](https://docs.oracle.com/javase/specs/jls/se10/html/jls-7.html#jls-7.7.1) the uses _TypeName_:

[code]

a `TypeName` is defined as:
[code]

We instead are using nodes of type `Type` which can be very different things (arrays, wildcards, etc.)

[2018-07-24 07:38] vicky1146 commented on #1459
This issue also occurs if a line ends with ^M character.

[2018-07-24 08:04] daanschipper commented on #1391
I'll try to free up some time this week to finish up this issue

[2018-07-24 08:18] matozoid commented on #1459
@vicky1146 can you open a new issue? Otherwise your comment will get lost since this issue has been long closed.

[2018-07-24 13:34] daanschipper opened #1711 "Resolving ObjectCreationExpr.ObjectCreationExpr throws StackOverflow"
I'm analysing some code which in itself is very strange, but apparently it's valid Java.
Consider the following class and its builder

[code]

When resolving the `MethodCallExpr` `new Foo().new Bar().build()`, a `StackOverflowError` is thrown:
[code]

[2018-07-25 10:51] malteskoruppa commented on #1711
This problem can be narrowed down further. Essentially, the method call expression (`new Foo().new Bar().build()`) itself is not the problem; rather, it's solving the `ObjectCreationExpr` (`new Foo().new Bar()`) that's causing problems.

Let me clarify using an example:

First, try to resolve the `ObjectCreationExpr` of `InnerClass` here to a `ResolvedConstructorDeclaration`:
[code]
This will work

[2018-07-25 13:24] #1711 closed, assigned to nobody

[2018-07-28 17:26] jGauravGupta opened #1713 "Check isAnnotationPresent with Full Qualified Class name"
`boolean isAnnotationPresent(Class<? extends Annotation> annotationClass)` checks for simple class name instead of full qualified class name , so with current solution, this api could return wrong result.

Is it possible to check annotation presence with FQN ?

Reference Class : https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/nodeTypes/N

[2018-07-28 17:36] matozoid commented on #1713
Yes, you need to resolve the annotation type with the symbol solver for that. Would you like some pointers?

[2018-07-28 18:28] jGauravGupta commented on #1713
Yes, please help, not getting much help from docs.

[2018-07-28 19:59] matozoid commented on #1713
Okay, the book has a chapter on using the symbol solver: https://leanpub.com/javaparservisited
Here's a sample project: https://github.com/javaparser/javasymbolsolver-maven-sample
and maybe this is of use: http://javaparser.org/setting-up-for-analysing-a-whole-project/

[2018-07-28 21:12] jGauravGupta commented on #1713
Thanks @matozoid for the above links, I followed **javasymbolsolver-maven-sample** (and javaparser-symbol-solver-core:3.6.14 dependency) but getting the following exception on calling  `ClassOrInterfaceDeclaration.getAnnotationByClass(XYZAnnot.class).get().calculateResolvedType()` :

[code]

Looks similar to #1621

[2018-07-29 09:48] ftomassetti opened #1714 "Remove ResolvedPrimitiveTypeTest"
This test seems to me to be useless. Am I missing something?

[2018-07-29 10:39] matozoid commented on #1713
@ftomassetti @malteskoruppa ?

[2018-07-29 10:46] ftomassetti commented on #1713
I think we need to override a method in TypeExtractor. Do for MarkerAnnotationExpr something similar to this:

[code]

[2018-07-30 09:50] daanschipper opened #1716 "Resolving reference outside current class"
When trying to get for instance a superclass that resides in another 'source' (read not same class pool of the current typesolver), a `NotFoundException` is thrown and forwarded as `RuntimeException`.

[code]

[2018-07-30 09:52] daanschipper commented on #1716
Discussion from Gitter:

- "perhaps somewhere the JavaParserTypeSolver is not delegating to its parent (the CombinedTypeSolver) the resolution of the type"
- "I am just considering this: we have a CombinedTypeSolver, a JavaParserTypeSolver and a JarTypeSolver"
- "the JavaParserTypeSolver knows about the Java source code (the class extending the other one) but not about the class in the jar"
- "so

[2018-07-30 12:13] daanschipper commented on #1660
@ftomassetti In `MethodResolutionLogic.isApplicable()` with arguments:
- method: `warn(Object, java.lang.Throwable)`
- argumentTypes: [`java.lang.String`, `ResolvedUnionType`]

I noticed that the evaluation `boolean isAssignableWithoutSubstitution = expectedType.isAssignableBy(actualType) ||
                    (method.getParam(i).isVariadic() && new ResolvedArrayType(expectedType).isAssignableBy(

[2018-07-30 12:20] ftomassetti commented on #1660
I do not understand: you have one expected type and actual types?

Maybe the issues is with ResolvedUnionType

[2018-07-30 13:01] daanschipper commented on #1660
This question is more about `ReferenceTypeImpl.isAssignableBy(ResolvedUnionType)` which is a part of `MethodResolutionLogic.isApplicable()`. Should that function return `true` or `false`?

[2018-07-30 14:19] jGauravGupta opened #1718 "FieldDeclaration.getElementType().resolve() cause UnsolvedSymbolException"
Call to `FieldDeclaration.getElementType().resolve()` cause following error :

[code]

Where field type is `List<Employee>` and loaded `Project` class in compilation unit.

Class 1 :
[code]
Class 2 :
[code]

[2018-07-30 14:20] ftomassetti commented on #1718
Which typesolver are you using?

[2018-07-30 16:14] jGauravGupta commented on #1718
Same as mentioned here : https://github.com/javaparser/javasymbolsolver-maven-sample/blob/master/src/main/java/com/yourorganization/maven_sample/MyAnalysis.java

[2018-07-30 16:16] jGauravGupta commented on #1718
Another error for `Integer` type field :

[code]

[2018-07-30 16:46] ftomassetti commented on #1660
well, if the resolved union type has as a common ancestor something that is assignable to that particular reference type then it should return true, otherwise false

[2018-07-30 16:51] ftomassetti commented on #1718
well, that will not work because you need also a JavaParserTypeSolver to solve links across source files

[2018-07-30 17:38] jGauravGupta commented on #1718
Thanks @ftomassetti , `JavaParserTypeSolver` solved the issue.

[2018-07-30 17:38] #1718 closed, assigned to nobody

[2018-08-01 21:13] kgeilmann opened #1720 "calculateResolvedType throws UnsolvedSymbolException when class implements interface"
Hi, I'm trying to find all method calls on a certain static type, but I keep getting UnsolvedSymbolExceptions. I was able to find a quite small example, that already crashes.

I use the following setup:
[code]
Under the given path for the Typesolver I have a file with the following content
[code]

When I execute
[code]
I get the following exception
[code]

First of all: why does the solver not fin

[2018-08-02 11:52] #1710 closed, assigned to matozoid

[2018-08-05 07:26] jGauravGupta opened #1722 "Error on resolving Map field type"
field type : java.util.Map<String, Long>

[code]

[2018-08-05 08:51] ftomassetti commented on #1722
Hi, thanks for reporting this. Some code to reproduce it could be helpful so that when we propose a solution it we can be sure to have actually solved it.

[2018-08-05 12:16] ftomassetti commented on #1720
I think you should add:

[code]

instead of:

[code]

as `java` is the root of the source directory while any seems a package inside it

[2018-08-05 19:45] #1714 closed, assigned to nobody

[2018-08-05 19:46] #1699 closed, assigned to ftomassetti

[2018-08-05 21:17] pfichtner opened #1726 "TypeResolver fails on method with args to static imported fields"
TypeResolver fails when importing fields using static imports and trying to resolve methods with that field as an argument.

Working:
[code]
Failing (UnsolvedSymbolException{context='SECONDS', name='Solving SECONDS', cause='null'})
[code]

[2018-08-06 10:11] malteskoruppa opened #1727 "Duplicate methods: findParent(Class) and getAncestorOfType(Class)"
It seems to me that there are two methods in the JavaParser API which do exactly the same thing:

* `Node#findParent(Class)`
* `HasParentNode#getAncestorOfType(Class)`

Looking at the implementation of these two methods also reveals that they do exactly the same thing.

In the spirit of a minimal and well-defined API with no duplicate methods, would it make sense to remove either of these methods?

[2018-08-06 10:14] matozoid commented on #1727
Ah, getAncestorOfType needs a deprecation and a Javadoc saying to use findParent. The whole "find..." family is supposed to be the new, clean way of functionally accessing the AST.

[2018-08-06 14:15] matozoid commented on #1659
Assuming this is answered.

[2018-08-06 14:15] #1659 closed, assigned to nobody

[2018-08-06 14:16] matozoid commented on #1653
Assuming this is answered.

[2018-08-06 14:16] #1653 closed, assigned to nobody

[2018-08-06 14:16] matozoid commented on #1647
Assuming this is answered.

[2018-08-06 14:16] #1647 closed, assigned to nobody

[2018-08-06 14:18] matozoid opened #1728 "Update changelog with note about #1719"

[2018-08-06 20:21] kgeilmann commented on #1720
Thanks a lot. That solves my problem.

Message to self: always check path depth twice

[2018-08-06 20:21] #1720 closed, assigned to nobody

[2018-08-07 00:56] MysterAitch commented on #590
I'm tinkering around the edges with this one as it's an itch I currently have that JavaParser currently isn't able to scratch, and my initial thoughts are that if we flesh out XML serialisation (or JSON serialisation, which can easily enough be transformed to XML - XML to json being a little trickier) then the XPath query can be performed on the XML structure.

How exactly we then get results back

[2018-08-07 06:59] matozoid commented on #590
If you want to use xpath itself, the first thing to do would be #1353.

However, I've recently built a bunch of find-methods on Node, and it would be a good fit there, just like ANTLR does. Then you would have to write a little parser for the reduced XPath.

Both are fine, I think. Actually, doing this on XML would be better because the whole XPath functionality could stay outside JavaParser, mean

[2018-08-07 08:57] #1716 closed, assigned to nobody

[2018-08-08 00:26] jpaulodiniz opened #1731 "Error on retrieving type of String concatenation operator +"
Type Solver is returning a wrong type for binary expressions when the right operand is a `String` and the left operand is a primitive. I'm using the latest version: **3.6.16**.
For example, the code below creates a compilation unit in which all binary expressions should get `String` as resolved type.

[code]

But I got the output below, which is not the expected for the first 3 subjects:
[code]

T

[2018-08-08 07:11] ftomassetti commented on #1731
I think we had a similar bug in the past, but I thought it was fixed.

[2018-08-08 08:23] matozoid commented on #1731
Your memory fails you, @ftomassetti :-) --> #1589

[2018-08-08 08:48] ftomassetti commented on #1589
We should probably change this method in JavaParserFacade:
[code]

[2018-08-08 10:38] jpaulodiniz commented on #1731
Thank you, @ftomassetti and @matozoid! Should I close this issue, since there is a similar (and more general) one?

[2018-08-08 10:53] ftomassetti commented on #1731
We will close it as we fix it

[2018-08-08 16:49] #1731 closed, assigned to nobody

[2018-08-08 16:50] ftomassetti commented on #1589
Closed via #1732

[2018-08-08 19:43] #1728 closed, assigned to matozoid

[2018-08-09 08:14] #1722 closed, assigned to nobody

[2018-08-10 10:01] #1668 closed, assigned to nobody

[2018-08-11 17:58] matozoid commented on #1353
I'm having a go at JSON serialization, and the Java API for JSON Processing makes the whole dependency question moot :-)

[2018-08-12 07:18] ftomassetti opened #1738 "Doubt about ForStmt initialization"
I am not sure if we discussed this already but I could not find any issue on that.

Consider a For Stmt with 2 variables:

[code]

Now, in this case the forStmt has an initialization NodeList of one element (one VariableDeclarationExpr):

![screen shot 2018-08-12 at 09 17 25](https://user-images.githubusercontent.com/439078/43999625-9f596f90-9e10-11e8-8f87-582e03ba1938.png)

So I wonder: when the

[2018-08-12 07:26] ftomassetti opened #1739 "Doubts about TryStmt"
1. Should it be called "TryWithResourcesStmt"? Is this used both for the common TryStmt and the TryWithResourcesStmt?
2. The resources are defined as Expressions but I think they can only be VariableDeclarationExpr. Should be make it more restrictive?

[2018-08-12 10:52] matozoid commented on #1738
It can be a list of statements as well: https://docs.oracle.com/javase/specs/jls/se10/html/jls-14.html#jls-BasicForStatement
[code]

... the Javadoc is incomplete.

[2018-08-12 10:54] matozoid commented on #1739
Honestly, that's all explained in the very thorough Javadoc for that class.

[2018-08-12 11:50] ftomassetti commented on #1739
My bad, sorry about that.

[2018-08-12 11:50] #1739 closed, assigned to nobody

[2018-08-13 15:53] GeVanCo opened #1742 "visit(MethodDeclaration...) causes visit(BlockStmt...) from being called."
I want to remove the following stuff from my original Java sources:

- Remove package
- Remove all imports
- Remove all comments
- Remove all private stuff (fields, methods, private inner classes,...)
- Remove the complete body from all methods

Therefore, I've created a "generic" `RemoveVisitor` like so:

[code]
Most of the things work fine:
- I can remove the package line
- I can remove all impo

[2018-08-13 16:03] matozoid commented on #1742
Don't forget to call super.visit(m, args)! The parent visitor has the traversal logic.

[2018-08-13 16:16] GeVanCo commented on #1742
Arggg..... :-(

Is it good practise to do this with every `visit(...`?

[2018-08-13 17:51] matozoid commented on #1742
It's up to you: if there is some reason why you do not want to visit the children of the node you can skip it. And some visitors don't have any traversal logic, so no use calling super there.

[2018-08-13 20:52] kgeilmann opened #1743 "ConditionalExpr resolves to wrong type"
The type solver always resolves conditional expressions to the type of the then part, which makes e.g. ```s == null ? null  : s.toString()``` surprisingly being resolved to the null type instead of String.

[2018-08-14 03:33] GeVanCo commented on #1742
Ok, thanks.  I'll close this issue and open another one for the second part of my question...

[2018-08-14 03:33] #1742 closed, assigned to nobody

[2018-08-14 07:58] GeVanCo opened #1744 "Inserting "{}""
I want to change this:
[code]
into this:
[code]
Or this:
[code]
into this:
[code]
In other words: kick out the **_complete_** body of a public method.

I'm using a `visit(BlockStmt...` to remove the body content like so:
[code]
That works find, but in the end, I get this:
[code]
and this:
[code]
So, apparently JavaParser has added the `;` to the end of the string.

What I finally want is an additi

[2018-08-14 09:51] matozoid commented on #1744
Does this work? (I just typed this by hand...)
[code]

[2018-08-14 10:12] GeVanCo commented on #1744
There must be some kind of telepathy going on over here... :-)
About 15 minutes ago, I did that very same modification...

But in the end, the result is the same:  The `{` and `}` are put on separate lines and the `;` is gone.

I've temporarily solved it by applying a regex on the resulting complation unit output like so as a test:
[code]
The result of this is (complete processed testfile output):

[2018-08-14 10:41] matozoid commented on #1744
That semicolon is something I haven't been able to find in the Java specification: it doesn't do anything, but is allowed anyway. JavaParser throws them away while parsing because only meaningful stuff goes in the AST.

My suggestion is to not have those semicolons :-)

[2018-08-14 12:23] GeVanCo commented on #1744
Yeah, you're right: it's not mandatory.  But that's how we defined the "look'n'feel" of the "public" view for the processed Java files...

But it would make the picture complete if I could do all those things from one and the same file processing unit and avoid to have a post-processing alike thing with regex'es...

[2018-08-14 12:29] ftomassetti commented on #1743
The current implementation is wrong and the rules for implementing it correctly are far from trivial. There is a pretty significant part of the JLS discussing about this: https://docs.oracle.com/javase/specs/jls/se10/html/jls-15.html#jls-15.25

[2018-08-14 12:33] matozoid commented on #1744
It's not just not mandatory: it's a meaningless lost semicolon. Someone made a mistake while defining that view.

If you're using toString or the pretty printer, you can extend it (see PrettyPrinter and PrettyPrinterVisitor) and make it add those semicolons. You might not want to add them to each BlockStmt, so you could mark those that should have it by adding metadata with setData/getData.

[2018-08-14 13:45] GeVanCo commented on #1744
Maybe we should indeed reconsider not to have the semicolon.  It was just to visually delineate the method, including the parameters - if present - as a whole.  But you're 500% correct: they're syntactically allowed but totally useless.
Since I anyhow have to use regex'es to do some "aftercleaning" I've also taken the opportunity to kick out all the empty lines in between two methods/variables/inn

[2018-08-14 14:09] matozoid commented on #1744
Thanks! This was a good use case for JP indeed :-) Good luck with the rest!

If you have a blog or so, why not write a bit about your experience?

I am a little curious why you would want this result, still.

Oh, and I just realized you could also have gotten this result with a modified pretty printer visitor :-) No need to remove anything from the AST, just don't print it.

[2018-08-14 14:21] GeVanCo commented on #1744
The reason behind this is the following: we want to be able to **very quickly** see the differences between two SW releases from an API point of view, to know if and what externally accessible classes/methods/... have changed.  We're not interested in the internal "jibberjabber" (if you know _The Big Bang Theory_, you will for sure know what I mean... :-)) but only in what is accessible from the o

[2018-08-14 14:31] #1744 closed, assigned to nobody

[2018-08-14 14:52] matozoid commented on #1744
Nederlander hier :-) Maar het project is erg internationaal!

It's interesting that you half-implemented this project idea here: #776 - with a few days more work you could turn it into a general project!

[2018-08-14 15:16] GeVanCo commented on #1744
If I can contribute, I'm willing to help.  But then I would need some hooks to know exactly what has to be done.  If someone has a "script" and it doesn't deviate too much from what I realised so far, just let me know and I'll see what I can do in my spare time.

For the stuff I'm currently busy with, I'm running it still from the command line (with some small interaction with the user, like "spec

[2018-08-14 16:03] jGauravGupta opened #1745 "ClassloaderTypeSolver support"
JavaParser API provides the support for `ReflectionTypeSolver` but missing custom `Classloader` support.

So would be great, if `ReflectionTypeSolver` can be configured with custom classloader otherwise default to  `ReflectionTypeSolver.class.getClassLoader()`

[2018-08-14 16:56] ftomassetti commented on #1745
I just created a PR for this idea. I created the ClassLoaderTypeSolver which can take any classloader. The ReflectionTypeSolver has been refactored to be a subclass of the new ClassLoaderTypeSolver.

[2018-08-14 17:08] matozoid commented on #1744
I think for JavaParser it would be useful to have the API file stored in Git, and to have a unit test that collects the API and compares it to the stored file. It will fail when the API breaks, and then we can make a note in the release notes or roll it back :-)

[2018-08-14 18:43] ftomassetti commented on #1745
Implemented in #1746

[2018-08-14 18:43] #1745 closed, assigned to nobody

[2018-08-14 19:31] matozoid opened #1748 "ForeachStmt should be ForEachStmt"

[2018-08-14 19:33] matozoid commented on #1738
Oh, the Javadoc is fine: "initialization is a list of expressions. These can be any kind of expression as can be seen in example 3, but the common ones are a single VariableDeclarationExpr (which declares multiple variables) in example 1, or a list of AssignExpr's in example 2."

[2018-08-14 19:33] #1738 closed, assigned to nobody

[2018-08-14 19:34] #1674 closed, assigned to nobody

[2018-08-14 19:35] matozoid commented on #1658
Thanks, @kotari4u !

[2018-08-14 19:35] #1658 closed, assigned to nobody

[2018-08-14 19:36] matozoid commented on #1638
Hi @ThLeu! Are you still around?

[2018-08-14 19:37] #1589 closed, assigned to nobody

[2018-08-14 19:43] matozoid commented on #1473
The one that seems missing is for findAll, but if you really need that much control you can use `walk` instead.

[2018-08-14 19:43] #1473 closed, assigned to nobody

[2018-08-14 19:49] matozoid commented on #1379
@MysterAitch - there is now a Json serialization module.

[2018-08-14 19:51] matozoid commented on #1353
There's now a JSON serializer. If people want more, we can add it.

[2018-08-14 19:51] #1353 closed, assigned to matozoid

[2018-08-14 19:53] #1214 closed, assigned to nobody

[2018-08-14 20:02] ThLeu commented on #1638
Hi @matozoid! Yeah, I am still around, I was on vacation for some time but I definitely plan to contribute again, I'll just have to take it a bit slow.

[2018-08-14 20:25] matozoid commented on #1638
Cool! Take it easy :-)

[2018-08-14 21:01] jGauravGupta opened #1749 "hasDirectlyAnnotation method throws UnsupportedOperationException"
`JavaParserEnumDeclaration.hasDirectlyAnnotation` method throws `UnsupportedOperationException`.
Please execute the following sample to reproduce the issue.

**Stacktrace :**
[code]

**Sample snippet :**
[code]

[2018-08-15 10:10] #1749 closed, assigned to nobody

[2018-08-16 08:45] obcardinal opened #1752 "Getting the JavaToken of the other end of the parentheses"
Hi, I have `JavaToken's` from all source code, which I can to determine brackets.
But can I find the other end of the brackets with `JavaParser` having `JavaToken`?
Or only with `Stack`?

[2018-08-16 08:58] matozoid commented on #1752
If you want to stay at the token level you would need to use a stack, yes.

If you can use the AST, you can find types of nodes that have { and }, and ask for their token range. That range should include the { and } token, although they might not be exactly the first and last.

[2018-08-16 20:34] matozoid commented on #920
How do you feel about this nowadays, @ftomassetti ?

[2018-08-16 22:35] kgeilmann opened #1757 "ObjectCreationExpr with anonymous class body cannot be resolved on interface types"
```JavaParserFacade.get(typeSolver).solve( expr )``` fails with a ClassCastException for ObjectCreationExpr nodes which have an anonymous class body and whose type is an interface, like in
[code]
I've seen it failing with the following exceptions:

java.lang.ClassCastException: com.github.javaparser.symbolsolver.reflectionmodel.ReflectionInterfaceDeclaration cannot be cast to com.github.javaparser

[2018-08-17 08:09] obcardinal commented on #1752
I implemented using `Stack`.

I noticed a good feature of the parser:
If at the end, after `}` there are several spaces, he does not see them. We have to check whether the matching of the caret location and the token was noticed. If not, then take the last token.

Unfortunately, it seems that the parser will not work with tokens in any way, if there is an error in the code. But okay, this problem

[2018-08-17 08:09] #1752 closed, assigned to nobody

[2018-08-17 09:09] matozoid commented on #1752
Oh wait, a few questions about that:
- do you mean that CompilationUnit's TokenRange does not go all the way to the end of the file?
- you can make the parser less sensitive by setting its language level to "RAW", but yes, the source code will need to be reasonable or it will fail. Some attempts have been done to implement error recovery, but that's still very simple.

[2018-08-17 09:12] matozoid opened #1758 "Rerun unicode character generation"

[2018-08-17 09:16] obcardinal commented on #1752
- Yes, after last `}`, he did not see spaces.
- Thanks, I'll try it later.

[2018-08-17 09:18] matozoid opened #1759 "Make sure JP builds with JDK 11"

[2018-08-17 09:19] matozoid commented on #1752
Thanks! I'll open a new issue then :-)

Good luck!

[2018-08-17 09:20] matozoid opened #1760 "CompilationUnit's TokenRange runs to last }, not to EOF"
All trailing whitespace belongs to the CU.

[2018-08-17 09:36] matozoid commented on #1759
We're having this problem: https://hibernate.atlassian.net/browse/HHH-12378

I guess we can make our own annotation for that, for the time being.

[2018-08-17 09:42] matozoid commented on #1759
Surefire is messing up and has no newer version yet:

[code]

[2018-08-17 09:42] matozoid commented on #1759
It's too early to make it buildable, let's wait until everyone has had time to adjust.

[2018-08-17 09:44] matozoid opened #1761 "Remove/fix Generated annotation"
The annotation has been removed from JDK 11. I think we should create our own for the time being.

See #1759

[2018-08-17 10:43] malteskoruppa commented on #1757
Quick comment: This is very similar to #1599.

There, the problem was that one cannot resolve method calls to methods defined in an anonymous class.

Here, the problem is that one cannot resolve object creation expressions to constructors defined in an anonymous class. (In this case, it is an implicit declaration of a default constructor).

This particular class cast expression problem stems from

[2018-08-17 10:47] malteskoruppa commented on #1757
Ah, re-reading that other issue, I see that the very problem mentioned here was already reported there too: https://github.com/javaparser/javaparser/issues/1599#issuecomment-392761331.

[2018-08-17 11:04] obcardinal commented on #1752
@matozoid I think this is done to reduce the number of operations.

Thanks, and good luck to you :)

[2018-08-17 13:21] stefanleh opened #1766 "Problem with LexicalPreservingPrinter"
Hello,

i've got an

**java.lang.UnsupportedOperationException: CsmChild child(MarkerAnnotationExpr)**

when using

     LexicalPreservingPrinter lpp = LexicalPreservingPrinter.setup(ParseStart.COMPILATION_UNIT,
				new StringProvider(getFileContent(p))).b;
        lpp.print(cu);

The Method getFileContent just returns the Code read from the Source File as String.

Best regards,
Stefan

[2018-08-17 13:23] stefanleh commented on #1766
Trace:

	java.lang.UnsupportedOperationException: CsmChild child(MarkerAnnotationExpr)
		at com.github.javaparser.printer.lexicalpreservation.LexicalDifferenceCalculator.calculatedSyntaxModelForNode(LexicalDifferenceCalculator.java:248)
		at com.github.javaparser.printer.lexicalpreservation.LexicalDifferenceCalculator.calculatedSyntaxModelForNode(LexicalDifferenceCalculator.java:128)
		at com.gith

[2018-08-18 19:06] matozoid opened #1768 "Enums missing constructors and interfaces"
See https://github.com/javaparser/javasymbolsolver/issues/194

[2018-08-18 19:08] matozoid opened #1769 "JavaParserFacade for ClassOrInterfaceType"
See https://github.com/javaparser/javasymbolsolver/issues/369

[2018-08-18 19:11] matozoid opened #1770 "UnaryExpr failing to resolve BITWISE_COMPLEMENT operator"
See https://github.com/javaparser/javasymbolsolver/issues/366

[2018-08-18 19:14] matozoid opened #1771 "fail if a type is defined in a JAR, but implements an interface defined in another JAR"
See #362 and #1851

[2018-08-18 21:26] andrewhabib opened #1772 "Access modifiers are lost when printing to Json or Dot?"

[2018-08-19 13:56] ftomassetti opened #1774 "Ensure the correct type is calculated for all binary expressions"
See https://github.com/javaparser/javasymbolsolver/issues/364

[2018-08-19 14:14] ftomassetti commented on #1766
Thanks for reporting this. However to be able to work on that we would need the content of the file you were parsing.

[2018-08-19 14:16] ftomassetti commented on #920
What about throwing an exception here? We could have some validation tells the user that the node is not in a valid state

[2018-08-19 15:12] matozoid commented on #1772
Confirmed.

[2018-08-19 15:16] matozoid commented on #920
That would not work with the rule that the default constructor gives you a node initialized to some defaults, after which you can use setters and adders to complete it. If we throw here, we have to redesign the whole AST.

[2018-08-19 15:19] #1758 closed, assigned to matozoid

[2018-08-19 15:25] andrewhabib commented on #1772
Thanks for confirming. Any heads up on a quick fix?

[2018-08-19 15:36] matozoid commented on #1772
I don't know what you're using it for, but you could try the javaparser-core-serialization jar and its `JavaParserJsonSerializer`.

[2018-08-19 16:13] #1727 closed, assigned to matozoid

[2018-08-19 18:47] #1761 closed, assigned to matozoid

[2018-08-19 18:47] #1379 closed, assigned to matozoid

[2018-08-19 19:25] #1492 closed, assigned to nobody

[2018-08-19 19:30] matozoid commented on #1379
... and I've renamed type to _type.

[2018-08-19 19:44] andrewhabib commented on #1772
Hi again, thanks for your prompt response and action.

I have tried using the (de)serializer as per your recommendation. So far, serialization works fine, but deserialization has many issues.

Will open separate issue.

[2018-08-19 19:44] #1772 closed, assigned to nobody

[2018-08-19 20:00] andrewhabib opened #1776 "Deserialization fails with various errors."
Hi,

Thanks again for the great javaparser.

I am trying to use the (de)serialization of ASTs. So far, serialziation works fine, but deserialization is buggy.

My testing case is simple:

1- parse a .java file (parsing is successful)
2- without applying any modification to the AST, serialize it (work fine)
3- deserializing the step 2 produces various errors:

Don't know how to convert: class com.g

[2018-08-19 20:04] matozoid commented on #1776
Ah, let's fix that in the next release.

[2018-08-19 20:05] matozoid commented on #1776
Thanks for reporting, by the way!

[2018-08-19 20:12] andrewhabib commented on #1776
You are welcome!

Planning new release soon? (eager for the bug fix)

Currently as a temp solution, I am writing my own json to AST :thinking:

[2018-08-19 20:22] matozoid commented on #1776
Releases are every Sunday. The fix will be in there because this is my own silly mistake.

[2018-08-19 20:31] matozoid commented on #1776
Here's a PR so you can copy/paste the corrected code already.

[2018-08-19 21:20] andrewhabib commented on #1776
Ahhh! That's great. Thanks a million!

I confirm it works :smiley:

[2018-08-19 21:20] #1776 closed, assigned to nobody

[2018-08-20 08:10] matozoid commented on #1776
Thanks, I'll merge it then :-)

[2018-08-20 08:12] matozoid opened #1778 "Document serialization artifact"
- show how to include the dependency (like the others)
- write a little article (although it is really straightforward...)

[2018-08-20 13:23] stefanleh commented on #1766
**Testcase**

	@Test
	void testIssue1766() throws IOException {

		File sourceBefore = new File("src/test/resources/SimpleTestClass.java");
		CompilationUnit cu = JavaParser.parse(sourceBefore);

		LexicalPreservingPrinter lpp = LexicalPreservingPrinter.setup(ParseStart.COMPILATION_UNIT,
			new StringProvider(IOUtils.toString(new FileInputStream(sourceBefore)))).b;

		System.out.println(lpp.print(

[2018-08-20 14:34] dpnolte commented on #1776
Thank this also fixes it for me.
If anyone else is using jitpack.io as maven repo, you can use the follow dependency:
`implementation 'com.github.javaparser.javaparser:javaparser-core-serialization:244d595'` with the latest fix

[2018-08-20 15:19] matozoid commented on #1776
Well, the serializer got popular really quickly! 8-o

[2018-08-21 06:37] stefanleh opened #1780 "Placing Linecomments before/after other Elements"
In my current project linecomments are used as markers in the source to apply templated sourcecode.
Unfortunately some of the existing comments are applied to elements they dont really belong to and some others are moved from the end of the source to the beginning of the main class (there are subclasses) of the source. These are two issues on their own, but my main concern is that i dont have any

[2018-08-21 06:39] stefanleh commented on #1780
As Comments arent BlockDeclarations they cant be added before/after other members.
I tried the following without any luck ...

	BodyDeclaration dec = new BodyDeclaration<BodyDeclaration< ? >>() {

		@Override
		public <R, A> R accept(GenericVisitor<R, A> v, A arg) {

			return null;
		}

		@Override
		public <A> void accept(VoidVisitor<A> v, A arg) {

			//

		}

	};
	dec.setLineComment("Testcomme

[2018-08-21 08:41] matozoid opened #1781 "Check @SlowTest and disable them on AppVeyor"
It seems that @SlowTests are always run now? AppVeyor completely dies on them.

[2018-08-21 08:46] matozoid commented on #1780
Hi! If you check this https://github.com/javaparser/javaparser/labels/Comment%20support - you can see that comment support is not perfect. It needs an overhaul before it will be dependable, but for now normal comments should work.

One thing you can consider is taking a node's TokenRange and inserting comment tokens in there. To get the result, you can print all the tokens in order. This is defini

[2018-08-21 12:07] stefanleh commented on #1780
Hello Mr. van Bruggen, thank your answer and the suggestion. Is there a special reason why elements like comments are treated differently from other elements? From my experiences with other tree-oriented parsers it shouldnt be a problem to allow addBefore and addAfter anywhere in the tree.

[2018-08-21 18:06] matozoid commented on #1780
That's a really broad question, is there anything specific you want to know?

[2018-08-22 09:24] stefanleh commented on #1780
Ok, let me ask more specific. Would it be a problem to let Comment extend BodyDeclaration? If it would then we could move the Comments around using e.g. com.github.javaparser.ast.body.TypeDeclaration.getMembers().addBefore(..).

[2018-08-22 09:44] matozoid commented on #1780
That would scratch the immediate itch, but would imply that a comment is a body declaration, which it most definitely is not, and would limit this functionality to where you can put a BodyDeclaration.

The reason I'm a bit avoidant is because a complete answer will take long to write and won't help you :-)

I'm guessing the libraries where this is possibly have much softer typing that JavaParser,

[2018-08-22 14:27] stefanleh commented on #1780
Thanks for pointing to #638. This gave me some deeper understanding.
I consider `int a(int b/*x*/)/*x*/{}` things as corner cases and would be happy if exactly placed linecomments would be possible in the future. As i stated in my initial post our current templating mechanism relies on code between markers which are linecomments (eg. // START_CUSTOM_METHODS and // END_CUSTOM_METHODS). I know thats

[2018-08-22 15:33] stefanleh opened #1782 "Finding static method references with scope"
I like to find method references like Classname.methodName(...) in the tree and would do the following:

	cu.findAll(MethodCallExpr.class, c -> c.getScope().isPresent()).forEach(c -> {
		ResolvedMethodDeclaration rmd = c.resolve();
		if (rmd.isStatic() && StringUtils.equals(rmd.getClassName(), c.getScope().get().toString())) {
			// hit
		}
	});

Is there a simpler/faster way?

[2018-08-22 16:53] matozoid commented on #1780
I don't think JavaParser is currently much help with less than straightforward comments. There's no manpower to improve it any time soon either. Alternatives would be to use ANTLR with the Java grammar (that would be pretty bare bones though) or maybe Spoon?

Or just regexp it yes :-)

[2018-08-22 16:59] matozoid commented on #1782
@ftomassetti ?

[2018-08-23 06:59] ftomassetti commented on #1782
Not that I am aware of. Also, I do not understand why you need `StringUtils.equals(rmd.getClassName(), c.getScope().get().toString()`

[2018-08-23 07:16] stefanleh commented on #1782
Thats cause i need to know if the method is invoked on the class and not on an instance-reference.
Usually its not needed as static calls are done on classes but in my case there can be static calls on instance-references as i am doing a conversion of a complete static project (nearly all methods are static) to dynamic methods and spring beans. Before everything is converted there are temporary st

[2018-08-23 07:18] stefanleh commented on #1780
Ok, thank you for your time @matozoid and i want to add that even without that comment handling JavaParser is very helpful for my current project.

[2018-08-23 07:18] #1780 closed, assigned to nobody

[2018-08-23 09:26] stefanleh opened #1783 "UnsolvedSymbolException for variadic parameter"
When trying to resolve the method call

`rtvElief(getMnudta(MNFIRM), kopf.get(KOBLINR), kopf.get(KOBFINR), fcod, "KOBLINR", LIBLAG)`

i get an

`UnsolvedSymbolException{context='null', name='We are unable to find the method declaration corresponding to rtvElief(getMnudta(MNFIRM), kopf.get(KOBLINR), kopf.get(KOBFINR), fcod, "KOBLINR", LIBLAG)', cause='null'}`.

Does the symbol solver support array

[2018-08-23 09:37] ftomassetti commented on #1783
Do you mean variadic parameters? Yes, it supports them. If you share all the relevant code we can look into that. If you woul dreduce it to a failing test that would make our life even easier and we could get a solution more quickly

[2018-08-23 10:41] stefanleh commented on #1783
Yes, its a variadic parameter, just didnt knew the english name .
Maybe its worth mentioning that the method referenced exists in several versions (overloading).
I will try to put together a testcase for you.

[2018-08-23 11:35] ftomassetti commented on #1783
I also did not know the name before I started working on JavaParser :)
I think the issue could be related to overloading as variadic parameters in general are supported but picking the right overloaded method when variadic parameters are involved could be tricky.

On I side node I would love to learn more about what you are doing with JavaParser.

[2018-08-23 12:17] jjbr opened #1784 "Under certain circumstances types are resolved incorrectly (modifiers are ignored)"
Here is an interesting edge-case which the symbol solver doesn't handle quite right at the moment.

Consider following code:
[code]

Now try to resolve the type of `ResolveMe` in `foo()`, it will resolve this to `ParentClass.ResolveMe` where `Main.ResolveMe` would be correct. The underlying issue here is that the symbol solver (correctly) first checks ParentClass for any applicable types but then

[2018-08-23 12:36] alexbezhan opened #1786 "JAVA_10 parse problem: "var" cannot infer array types"
The following code is parsed fine with both `LanguageLevel.JAVA_8` and `LanguageLevel.JAVA_9`, but it fails with `LanguageLevel.JAVA_10`:
[code]

[code]

Test code that invokes parser(Kotlin):
[code]

[2018-08-23 12:52] matozoid commented on #1786
Okay, that's what I get for building on early spec. Will be fixed ASAP. (JLS 10, 14.4 has the correct rules.)

[2018-08-23 14:13] stefanleh commented on #1783
**Update**: The bug is within `com.github.javaparser.symbolsolver.resolution.MethodResolutionLogic.isApplicable(ResolvedMethodDeclaration, String, List<ResolvedType>, TypeSolver, boolean)` and, of course, hard to find. I would appreciate some comments on what exactly that method checks and why.Unfortunately there arent many useful comments in the code.

[2018-08-23 14:18] stefanleh commented on #1783
I have a project which is a 1:1 conversion from RPG language to java. It was implemented without using the OOP patterns possible with java. Therefore all classes use static methods to call each other. Now i use javaparser to find the classes to the methodcalls and generate spring (@Autowired) references in the classes and change the methodcalls to use them. This enables changing all static methods

[2018-08-23 14:21] ftomassetti commented on #1783
Well, the code is complex also because the problem is complex: take a look at the [specification for resolving method calls ](https://docs.oracle.com/javase/specs/jls/se9/html/jls-15.html#jls-15.12): the whole process is scaringly complicate!
That said the quality of that part of code could be improved and an effort to rewrite it was started. 95% of the complexity is with generics and lambdas that

[2018-08-23 14:22] ftomassetti commented on #1783
Quite interesting! I would love to have an interview/article on this project for my [blog on Language Engineering](https://tomassetti.me)

[2018-08-23 19:59] stefanleh commented on #1783
That said the quality of that part of code could be improved and an effort to rewrite it was started. 95% of the complexity is with generics and lambdas that cause the necessity of having the resolution working in two steps (the whole "loose"/"strict" stuff explained in the JLS).

As i consider myself not as smart enough to deal with that generics/lambdas stuff my shortcut to happyness would be to

[2018-08-23 20:00] stefanleh commented on #1783
I will ask my boss about that as i am not 100% sure what i may share and what not.

[2018-08-24 07:01] ftomassetti commented on #1784
This was fixed by #1789

[2018-08-24 07:01] #1784 closed, assigned to nobody

[2018-08-24 08:18] matozoid opened #1792 "Find AppVeyor alternative"
We really need to check if the library compiles on Windows because of its deviating end-of-line characters and odd default code page. AppVeyor can do this, but the hardware they run on is so limited that it doesn't manage to finish the tests in 90 minutes.

Alternatively we could investigate if the slow tests can be disabled there.

[2018-08-24 14:34] daanschipper commented on #1783
Relevant issue #1660

[2018-08-24 15:38] #1786 closed, assigned to matozoid

[2018-08-24 15:39] matozoid commented on #1786
@alexbezhan the next release is on Sunday.

[2018-08-24 15:40] alexbezhan commented on #1786
@matozoid awesome. Thank you!

[2018-08-24 18:27] olydis opened #1793 "Cloning problems with LexicalPreservingPrinter (using 3.6.18)"
When parsing
[code]
and reprinting the same instance with the `LexicalPreservingPrinter`, everything works fine. However, when printing a clone of the root node, I get
[code]
which has lost its indentation and comments. The code I use looks like this, in case I do something dumb:
[code]
(FYI, I'm cloning because I don't need to perform a single "path" of mutations, but instead a tree. For example

[2018-08-24 18:39] matozoid commented on #1793
Thanks for the compliments :-) Maybe @ftomassetti can say something about this?

[2018-08-24 18:41] olydis commented on #1793
Ha, I just tried setting up the printer *on the clone* and saw that this actually does preserve everything (i.e. parse, clone, setup printer, print), but once I perform edits on one of the statements (after setting up the printer), comment and indentation are lost again, but will investigate further. Ido some cloning of subtrees as part of my edits (inserting the same node multiple times, might un

[2018-08-24 22:15] olydis commented on #1793
Just realized that the `Node` that you get via `Node::getComment` is not included in `Node::getChildNodes`. Maybe that's by design, but it was unexpected to my algorithm and who knows, maybe also related to the disappearing comments issue 🤔

[2018-08-24 23:18] olydis commented on #1793
Not sure if this is intended (please lemme know), but in fact calling `setup` **multiple times** along the way, on each cloned subtree, seems to work! 🎉

![image](https://i.imgur.com/DWrI2JY.gif?noredirect)

Overall:
[code]
Awesome! If this is intended usage, feel free to consider this question answered. Making the printer "clone-aware" would of course be a little more convenient, but I think I'm

[2018-08-26 09:26] matozoid commented on #1793
@ftomassetti ?!?

[2018-08-26 16:57] ftomassetti commented on #1793
I am surprised. What I suspect is that the LPP is saving data associated to the identity of nodes: when we clone them the LPP is not aware where data comes from. We could change that by storing the LPP data into nodes.

This is just an hypothesis, I could be very, very wrong. And I am surprised by this

[2018-08-26 17:59] matozoid commented on #1793
@ftomassetti I remember changing the LPP so that it does indeed store the information in the nodes. Okay, so I guess this needs more investigation then.

[2018-08-26 19:41] matozoid commented on #1760
Hmmm, everything seems okay. I think there was some confusion between CompilationUnit and ClassOrInterfaceType?

[2018-08-26 19:41] #1760 closed, assigned to nobody

[2018-08-26 20:07] matozoid opened #1794 "JavaCC complains about utf-8 chars"
[code]

Let's see what this means.

[2018-08-27 14:05] matozoid opened #1795 "Removal of 2 ExpressionStmt's associated to same parent fails when using LexicalPreserving CompilationUnit"
https://github.com/javaparser/javasymbolsolver/issues/358

[2018-08-27 14:10] matozoid opened #1796 "Use "Providers" class for TypeSolvers"
Just a suggestion. It helped reduce the complexity of JavaParser.java's interface.

[2018-08-27 14:12] matozoid opened #1797 "Pre-index JDK's or other libraries"
https://github.com/javaparser/javasymbolsolver/issues/184

[2018-08-27 14:13] matozoid opened #1798 "Consider using JavaParser's UserData for resolution results"
https://github.com/javaparser/javasymbolsolver/issues/114

[2018-08-27 14:14] matozoid opened #1799 "Answer symbol solver question on SO"
https://stackoverflow.com/questions/42213591/java-source-parsing-finding-method-signatures-with-complete-types

[2018-08-27 14:15] matozoid opened #1800 "Add support for resolving ModuleDeclaration and friends"
https://github.com/javaparser/javasymbolsolver/issues/157 https://github.com/javaparser/javaparser/issues/1800

@ftomassetti is this there yet?

[2018-08-27 15:01] matozoid opened #1801 "Change symbol solver's copyright notice"
See https://github.com/javaparser/javasymbolsolver/issues/316

[2018-08-27 15:03] matozoid opened #1802 "Finding out whether a method is overridden or not"
See https://github.com/javaparser/javasymbolsolver/issues/296

[2018-08-27 15:08] matozoid opened #1803 "Cannot type solve lambdas with parameter inside inner block statements when solving method calls"
See https://github.com/javaparser/javasymbolsolver/issues/200

@ftomassetti - is this one solved in the meantime?

[2018-08-27 15:10] matozoid opened #1804 "Add JavaParser.getJavaTypeSolver"
Similarly to JarTypeSolver.getJarTypeSolver.

[2018-08-27 15:12] matozoid opened #1805 "Expose annotation usages on declarations"
It would be nice if the symbol solver would provide a way to read the annotations that are defined on a class declaration, method declaration or field declaration (and possibly all the others that apply). Since the annotation interface itself might not be present on the classpath it would be necessary to add some kind of wrapper that allows getting the declared annotation values.

For the Javassis

[2018-08-27 15:14] matozoid commented on #1395
See https://github.com/javaparser/javasymbolsolver/issues/292

[2018-08-28 07:19] stefanleh commented on #1805
Im currently using

    final Optional<AnnotationExpr> rpgAnnotation = cu.getClassByName(mainClassInCompilationUnit)
								.get()
								.getAnnotationByClass(RPGSkipFormatter.class);
    if (rpgAnnotation.isPresent()) { ... }

to get the information if a certain annotation is present on a given class.
Is that wrong?

[2018-08-28 09:25] jjbr opened #1806 "Resolution of Enum Constructors Fails"
The symbol solver currently assumes that constructors are always inside of a `ClassOrInterfaceDeclaration`. They can also be found in `EnumDeclarations`, however, which results in a `ClassCastException` when trying to resolve an enum constructor. Test will follow in a moment :).

[2018-08-28 11:19] matozoid commented on #1806
See #1768

[2018-08-28 11:19] matozoid commented on #1805
I have no idea, I was moving issues from the old project to here. @ftomassetti might.

[2018-08-28 11:27] ftomassetti commented on #1805
To me it seems correct.
Damn, we have too many features in this project, I am getting constantly surprised by things JP can do :D

[2018-08-28 12:10] stefanleh commented on #1783
More hints:

Im getting Field instead of FieldDescription as last (variadic) parameter in
   `com.github.javaparser.symbolsolver.javaparsermodel.JavaParserFacade.getTypeConcrete(Node, boolean)`
and those arent assignable by each other.

[2018-08-28 12:23] matozoid commented on #1805
Is the issue right, or is @stefanleh right? Can we close this?

[2018-08-28 12:40] stefanleh commented on #1783
`com.github.javaparser.symbolsolver.core.resolution.Context.solveSymbolAsValue(String, TypeSolver)` returns the wrong type ...

[2018-08-29 07:25] stefanleh commented on #1805
Yes, tnx.

[2018-08-29 07:25] #1805 closed, assigned to nobody

[2018-08-29 16:09] obcardinal commented on #1587
Hi, @everplayed , I implemented my search:
[code]
Input:
[code]
Output:
[code]

[2018-08-29 16:35] matozoid opened #1809 "Check if ObjectCreationExpr ever gets non-null typeargs"
It seems like the typeargs are attached to the type, not the expression.

[2018-08-29 18:31] ftomassetti opened #1811 "Making JavaParser extensible: discussing strategy"
One really cool feature in my opinion would be making JavaParser extensible. I think that it would be enough to make just certain elements of JavaParser extensible, for example statements and expressions.

Is that possible? Well, to do so we should be able to change the behavior of specific methods in the `GeneratedJavaParser` class, which is generated by JavaCC.

For example, to change how Statem

[2018-08-29 19:31] ftomassetti opened #1813 "Consider migrating away from JavaCC"
The syntax is identical and so I would expect this should require minimal effort.

The benefit would be a better maintained project.

See https://github.com/phax/ParserGeneratorCC/issues/17

Some metrics: JavaCC had no commits in the last 10 months. That is roughly the age of ParserGeneratorCC which has 900 commits. For this reason it seems to me a project that could offer better support and perha

[2018-08-30 00:11] dhardtke opened #1814 "StackOverflowError in getAllMethodsVisibleToInheritors() (JSS)"
Hey,

I just recently upgraded to JavaParser 3.6.19 which broke several of my Unit Tests:
[code]

I believe this is related to https://github.com/javaparser/javaparser/pull/1789: Somehow an infinite recursion occurs when the TypeSolver stumbles upon `java.lang.Object`.

I will try to create a minimal test case as reproduction when I've got time for it.

[2018-08-30 06:44] ftomassetti commented on #1814
Thanks for reporting this.
Yes, a test case would greatly help, thank you

[2018-08-30 09:23] stefanleh opened #1815 "ArrayIndexOutOfBoundsException when resolving lambda paramter"
java.lang.ArrayIndexOutOfBoundsException: 16
		at javassist.bytecode.ByteArray.readU16bit(ByteArray.java:27)
		at javassist.bytecode.LocalVariableAttribute.nameIndex(LocalVariableAttribute.java:207)
		at javassist.bytecode.LocalVariableAttribute.variableName(LocalVariableAttribute.java:217)
		at com.github.javaparser.symbolsolver.javassistmodel.JavassistUtils.extractParameterName(JavassistUtils.ja

[2018-08-30 09:25] stefanleh commented on #1815
The bug might be in JavaAssist, please see `com.github.javaparser.symbolsolver.javassistmodel.JavassistUtils.extractParameterName(CtBehavior, int)`.

[2018-08-30 09:43] matozoid commented on #1813
I think there is a new version of JavaCC being worked on, and that is our upgrade path. I'd rather have a cool new version than a pretty but outdated fork. Moving to ANTLR would be preferred though.

[2018-08-30 16:53] ftomassetti commented on #1813
Should I say that we are three options for V4 then?

1. Keep JavaCC
2. Move to ParserGeneratorCC
3. Move to ANTLR

Should we discuss these? Any other option?

[2018-08-30 16:54] ftomassetti commented on #1813
Or add your new GLR parser generator as option 4

[2018-08-30 20:07] matozoid commented on #1813
GLL parser :-) That ought to be another discussion since that will probably perform nowhere near ANTLR and JavaCC.

I wouldn't put any real work into anything but ANTLR.

[2018-08-30 20:08] matozoid commented on #1811
This is crazy :-)

There is quite a bit of research going into extensible parsers. Why not dive into that?

[2018-09-01 06:45] allipierre opened #1818 "java parser old version how to migrate?"

[2018-09-01 07:29] ftomassetti commented on #1818
Hi @allipierre , intereseting project! Could you share more about it with us? Is your project open-source?
I did not think there was a version 1.8 of Javaparser. Anyway it would be very, very old as Javaparser 2 and later Javaparser 3 was released several years ago. Currently we are working on Javaparser 4 :D

[2018-09-01 07:36] ftomassetti opened #1819 "Ensure TypeSolver#tryToSolveType(String) does not return null"
It was pointed out that this method returns null sometimes. Let's fix this.

See discussion on #1817

[2018-09-01 07:41] ftomassetti commented on #1818
Out of curiosity, can you telle us more about your project?

Anyway Javaparser 1.0.8 was released on the 30th of October 2011 and it is no longer supported. We encourage you to migrate to a newer version. So many things changed in Javaparser that probably no one remember how to generate comments with that particular version.

[2018-09-01 08:01] ftomassetti commented on #1818
Sure, you can write to me at federico at tomassetti.me

[2018-09-01 13:40] ThLeu commented on #1811
Hey!
If it is crazy or not, I don't know yet :-)
But what would be a concrete use case for this?
Is it a solution for a problem that does not exist or is this really something people need?

[2018-09-01 18:14] #1814 closed, assigned to nobody

[2018-09-02 09:31] ftomassetti commented on #1811
Regarding why we could want to support extensibility:

1. Two significant projects have forked JavaParser because we do not support extensibility. They are [Drools](https://github.com/kiegroup/drools) and the [checker-framework](https://github.com/typetools/checker-framework). For JavaParser having these two great teams using JavaParser and occasionally helping us making it better would be great
2

[2018-09-02 09:34] ftomassetti commented on #1813
Moving to ANTLR would mean having to use a runtime and it would be significant work.
Moving to ParserGeneratorCC would be much less work.

I can leave with both but for ANTLR I would expect the work not to be trivial mostly because ANTLR generate AST classes so we could not use anymore our AST classes. Sure, unless we change the ANTLR generator, which technically is possible (I have done exactly t

[2018-09-02 09:43] ftomassetti commented on #1813
Funny thing: if we are using a version of ph-javacc-maven-plugin 4+ we have already migrated to ParserGeneratorCC without realizing it as the plugin was using JavaCC in version 3- and ParserGeneratorCC since version 4+

**Update:** nope, we are using version 3

[2018-09-02 15:24] ftomassetti commented on #1813
I tried in a branch to just change the version of ph-javacc-maven-plugin to version 4.0.3 so that it uses ParserGeneratorCC instead of JavaCC. It works like a charm: no changes needed. So the effort to migrate to ParserGeneratorCC is extremely low

[2018-09-02 15:35] matozoid commented on #1813
It's not an option: the upgrade path for JavaCC is JavaCC, not that fork. I expect major new features from JavaCC, and moving to a fork could make that harder. What would it even add? It's nice that the code is refactored, but when the JavaCC is out they can start all over since they failed to work with the project owners. Yes, I know they are impossibly secretive, but the fact remains that the co

[2018-09-02 15:41] matozoid commented on #1818
If you manage to get to version 2.5.1, you can start using the migration guide: https://github.com/javaparser/javaparser/wiki/Migration-Guide

[2018-09-02 15:59] ftomassetti commented on #1813
I understand, I will close this issue. We could open another one if we want to discuss migrating to ANTLR, as the GLL parser you stated could have performance issue at this moment.

Out of curiosity, how come you expect new features from JavaCC? In my impression there is no development going on and no commits for almost one year now

[2018-09-02 16:21] matozoid commented on #1813
Well, I honestly can't find it anymore, I just looked through the issue tracker there. A version 8 is mentioned, and I remember him wanting to implementing a completely new algorithm or so. He was telling some other guy to stop refactoring stuff because it was all going away anyway.

Indeed there's not much going on there anymore. What do you say we put a time limit on it: if there is still no sig

[2018-09-02 16:28] ftomassetti commented on #1813
It seems reasonable to me to re-evaluate in one year. Perhaps at that point your parser will also be a candidate.  After all my concerns are more about the future state of the project than the differences in features we have right now. Just do not updat the ph-javacc-maven-plugin or we will migrate without even realize it :)

[2018-09-02 16:47] matozoid commented on #1813
Right, let's take action around September 2019 then!

[2018-09-02 18:58] #1806 closed, assigned to nobody

[2018-09-02 21:12] ThLeu commented on #1811
Thanks for the explanation!

[2018-09-03 10:13] malteskoruppa commented on #1813
Here's just my 2 cents. :-)

I agree it would not make a lot of sense to move to the fork, at least for now. The project looks nice, but it's unclear how well it will establish itself as a true alternative to JavaCC (I'm rather sceptical) that will be well-maintained for a long time to come. It could be that the only maintainer decides to stop working on it a few months from now. The point is, if

[2018-09-03 10:18] ftomassetti commented on #1813
@malteskoruppa I would agree that I would not move from an established, well-maintained project to one that is uncertain. However my impression is that JavaCC is not maintained at all. This is way I am even considering looking for alternatives

[2018-09-03 10:37] matozoid opened #1821 "Switch toString to LexicalPreservingPrinter when configured"

[2018-09-03 11:57] freddielaure commented on #1663
Hi @matozoid ,

i migrate from 1.0 to 3.0

i have following errors

1- setTypeArgs

    private Type getGenericType(IType typeParameter) {
        if (typeParameter instanceof IParameterizedType) {
            IParameterizedType paramType = (IParameterizedType)typeParameter;
            List<Type> recursiveType = getGenericTypes(paramType.getTypeArguments());
            ClassOrInterfaceType class

[2018-09-03 12:03] jhalliday commented on #1821
On the basis of the API design principle of 'least surprise', I expect that

given
parserConfiguration.setLexicalPreservationEnabled(true);
when
String outputString = JavaParser.parse(inputString).toString();
then
inputString.equals(outputString) == true

However that doesn't work, because cu is not aware of the parser config. Round-trip instead requires code of the form:

outputString = LexicalPr

[2018-09-03 12:39] malteskoruppa commented on #1813
Ok, I haven't worked with JavaCC so far, and I can't really judge how well it is maintained. It's true that the last commit was made 10 months ago. It's certainly a good idea to look for alternatives, if only to know what's out there. It's just that, to me, moving to an almost unknown, very young fork maintained by a single person seems to be a bit of a leap of faith.

ANTLR would be truly awesome

[2018-09-03 12:47] ftomassetti commented on #1813
Maintained by a single person wins against unmaintained :)

I use ANTLR a lot (I also wrote a Kotlin target for it) however there are two issues:
1) It requires a runtime and currently JP core has zero dependencies
2) It generates ugly AST classes, while with JavaCC we can generate our own. Now, we could potentially change that if we want to create our own alternative Java target, which would be d

[2018-09-03 12:53] jjbr opened #1822 "Non-public parent constructors cannot be resolved by the ReflectionTypeSolver"
Say class B extends A and calls a non-public constructor in A (so either package-private or protected) and we try to resolve that explicit constructor call using the `ReflectionTypeSolver`. The call will not be resolved as the `ReflectionClassAdapter` uses the `java.lang.Class`'s `getConstructors()`method instead of the `getDeclaredConstructors()` method. The `getConstructors()` method only return

[2018-09-03 13:37] malteskoruppa commented on #1813
Sure, I get your point. :) But really, either alternative doesn't look particularly attractive to me. :/

[2018-09-03 14:02] malteskoruppa commented on #1813
Interesting. I wasn't aware of that! :astonished:  Intuitively, I thought that JP core depends on JavaCC. But from a quick look, it seems like JavaCC simply generates Java source files from a `.jj` file, which are then subsequently used by JP core. So the JP core itself does not depend on JavaCC. Is that correct?

While that's a neat decoupling of the tools involved in the toolchain, in a sense I

[2018-09-03 14:56] matozoid commented on #1663
Hi @freddielaure! This issue is closed, can you open a new issue for this please?

[2018-09-03 15:39] freddielaure commented on #1663
@matozoid yes. Thanks you

[2018-09-03 15:40] freddielaure opened #1824 "Migration guide 1.0 to 3.0"
Hi @matozoid ,

i migrate from 1.0 to 3.0

i have following Syntax errors

1- setTypeArgs

    private Type getGenericType(IType typeParameter) {
        if (typeParameter instanceof IParameterizedType) {
            IParameterizedType paramType = (IParameterizedType)typeParameter;
            List<Type> recursiveType = getGenericTypes(paramType.getTypeArguments());
            ClassOrInterfaceTyp

[2018-09-03 16:49] matozoid commented on #1824
Hi again!

1. Try setTypeArguments.

2. I guess you want this:
[code]
3. Try some of this:
[code]

[2018-09-03 17:36] freddielaure commented on #1824
HI @matozoid ,

thanks for the quick Feedback. That Help me. Unfortunally setTypeArguments does not works

1- setTypeArguments does not works

[code]

2- Hier too

[code]

3-      setModifiers error

[code]

Here
        int modifier = isPrivate ? ModifierSet.PRIVATE : EnumSet.of(PUBLIC);
        `method.setModifiers(modifier);`

[2018-09-03 17:39] matozoid commented on #1824
Okay, cool. If you want more help with that, please give a little bit of code that compiles (except the setTypeArguments part.)

[2018-09-03 17:42] freddielaure commented on #1824
please give your email adresse. I will share the code with you. Thanks

[2018-09-03 18:02] matozoid commented on #1824
I'm afraid I only answer public questions. I'm sure you can create a sample of a few lines.

[2018-09-04 06:26] ftomassetti commented on #1822
You are right, it is enough to use `getConstructors`. I prepared a PR based on your test case, which sped up things a lot for me. Thank you!

[2018-09-04 06:46] jjbr opened #1827 "Issue resolving a constructor of a class using generics"
Try to resolve the ObjectCreationExpr in line 4 in the following code snippet, it will fail. It has something to do with the fact that the symbol solver cannot determine that the constructor of `ParametrizedClass` is actually applicable, it thinks it isn't. It seems that the symbol solver can't match the argument and parameter types properly due to the use of generics, although I am not sure of th

[2018-09-04 09:41] #1822 closed, assigned to nobody

[2018-09-04 10:19] matozoid commented on #1792
Fixed in #1825

[2018-09-04 10:19] #1792 closed, assigned to nobody

[2018-09-04 10:19] matozoid commented on #1781
Fixed in #1825

[2018-09-04 10:19] #1781 closed, assigned to nobody

[2018-09-04 10:19] matozoid commented on #1513
Fixed in #1825

[2018-09-04 10:19] #1513 closed, assigned to nobody

[2018-09-05 16:51] ftomassetti opened #1829 "Revisiting how solving is done in JP 4"
We could do have a solving method that works on an entire CU.

It explore the AST filling the SymbolTables from top to down and put the results of the symbol resolutions directly in the AST nodes.

If the user changes something in the code he will be able to redo the resolution or just delete the symbol solving information from the nodes with one method.

This should also avoid the need for caches

[2018-09-06 10:23] matozoid commented on #1824
Hey @freddielaure, how is it going?

[2018-09-06 10:30] matozoid commented on #1821
toString has evolved from a quick dump of the AST as Java code to the pretty printer it is calling now. I don't think there's another reason for having the pretty printer there than "it has always been like that."

I think the Lex Pres Printer already stores data in the AST, so it wouldn't even be that difficult to detect when to use it.

[2018-09-06 10:30] matozoid commented on #1821
Since this is a structural discussion, I'd like to hear @ftomassetti 's opinion on this.

[2018-09-06 14:17] malteskoruppa opened #1830 "Storing and retrieving TypeSolver instances in JSS"
I'd like to discuss something that I have been wondering about for some time. It's about the design of JSS, how it was intended to be used by users before it was merged with JP, and how it is intended to be used by users now, after the merge with JP. It could get a little lengthy, so please bear with me. :-) Maybe get a tea or somehing. ;-)

First, a little background:

Once upon a time, JP and JS

[2018-09-06 16:07] matozoid commented on #1830
I'll bring my reason for importing first, although you should pay more attention to what @ftomassetti says :-)

The goal was to have symbol resolution right on the symbols themselves. So in my opinion, the facade is a distraction and should go away. The reason it hasn't happened yet is simply a shortage of manpower.

[2018-09-06 20:30] matozoid opened #1832 "Deprecate JsonPrinter and point to the serialization jar"

[2018-09-07 06:50] ftomassetti commented on #1830
# JavaParserFacade

I agree with @matozoid : The JavaParserFacade should eventually go away.
We could plan to remove it in JP4.
Why is it not gone away? Because not all the features are available through the AST API and because JavaParserFacade is somewhat lower level.

# Why SymbolResolver interface?

This was the way we found to make JP still unaware of JSS. JP-core has no dependencies while JSS

[2018-09-07 07:23] ftomassetti commented on #1821
I agree that it should use LexicalPreservation. I think it is what most people want anyway. Perhaps I would add a way to force pretty printing like a `toPrettyPrintedString()` in case people want to use it even if they have lexical preservation enabled.

[2018-09-07 08:27] matozoid commented on #1821
There's a PrettyPrinter class meant to do that, so that's a solved problem :-)

Let's follow @jhalliday's suggestion then.

[2018-09-07 10:29] ThLeu commented on #1821
I would agree that it should become the standard for `toString()` and that another method like `toPrettyPrintedString()` should be there aswell for convenience at least.
Of course this is a breaking change which has to be considered but in the long run it will make more people use LexicalPreservation hopefully :).

[2018-09-07 11:23] malteskoruppa commented on #1830
I see, thank you for your answers! This definitely makes things clearer. :)

We could plan to remove it in JP4.

Makes sense. It would also be less confusing to new users (it's better if there is a canonical way to solve nodes instead of several different ways where the differences are unclear). Currently, the JavaParserFacade is still used by a lot of JSS methods internally, so it will be quite a

[2018-09-07 13:50] malteskoruppa opened #1834 "Improving annotation support: Implement ResolvedAnnotationDeclaration#getDefaultValue()"
When we have a `ResolvedAnnotationMemberDeclaration`, it would be nice to be able to obtain its default value (if there is one). The interface `ResolvedAnnotationMemberDeclaration` does prescribe a method `getDefaultValue()`, but:

* Its return value is an `Expression` node. This only makes sense for a `JavaParserAnnotationMemberDeclaration`, but not for a `ReflectionAnnotationMemberDeclaration` n

[2018-09-07 18:45] malteskoruppa opened #1835 "Update copyright notice throughout JSS classes"
As mentioned in PR #1833, throughout the JSS classes, there are still copyright notices like:

They should be updated.

[2018-09-07 18:49] malteskoruppa opened #1836 "Improving annotation support: Implement ResolvedAnnotationDeclaration#isAssignableBy(ResolvedType)"
Currently, all three classes `JavaParserAnnotationDeclaration`, `ReflectionAnnotationDeclaration`, and   `JavassistAnnotationDeclaration` implement the method `isAssignableBy(ResolvedType)` by throwing an `UnsupportedOperationException`. This method should be implemented properly in all three classes.

[2018-09-07 18:54] malteskoruppa opened #1837 "Improving annotation support: Implement ResolvedAnnotationDeclaration#getAllFields()"
Currently, all three classes `JavaParserAnnotationDeclaration`, `ReflectionAnnotationDeclaration`, and   `JavassistAnnotationDeclaration` implement the method `getAllFields()` by throwing an `UnsupportedOperationException`. This method should be implemented properly in all three classes.

My suggestion:

Annotations do not have fields. They can only have methods, which are then called *elements*.

[2018-09-07 18:56] malteskoruppa opened #1838 "Improving annotation support: Implement ResolvedAnnotationDeclaration#getDeclaredMethods()"
Currently, all three classes `JavaParserAnnotationDeclaration`, `ReflectionAnnotationDeclaration`, and   `JavassistAnnotationDeclaration` implement the method `getDeclaredMethods()` by throwing an `UnsupportedOperationException`. This method should be implemented properly in all three classes.

My suggestion:

Annotations can have methods, which are then called *elements*. See https://docs.oracle.

[2018-09-07 18:58] malteskoruppa opened #1839 "Improving annotation support: Implement ResolvedAnnotationDeclaration#hasDirectlyAnnotation(String)"
Currently, all three classes `JavaParserAnnotationDeclaration`, `ReflectionAnnotationDeclaration`, and   `JavassistAnnotationDeclaration` implement the method `hasDirectlyAnnotation(String)` by throwing an `UnsupportedOperationException`. This method should be implemented properly in all three classes.

[2018-09-07 19:00] malteskoruppa opened #1840 "Improving annotation support: Implement ResolvedAnnotationDeclaration#getTypeParameters()"
Currently, all three classes `JavaParserAnnotationDeclaration`, `ReflectionAnnotationDeclaration`, and   `JavassistAnnotationDeclaration` implement the method `getTypeParameters()` by throwing an `UnsupportedOperationException`. This method should be implemented properly in all three classes.

My suggestion:

I don't think that annotations can have type parameters. This method should either throw

[2018-09-07 19:02] malteskoruppa opened #1841 "Improving annotation support: Implement ResolvedAnnotationDeclaration#containerType()"
Currently, all three classes `JavaParserAnnotationDeclaration`, `ReflectionAnnotationDeclaration`, and   `JavassistAnnotationDeclaration` implement the method `containerType()` by throwing an `UnsupportedOperationException`. This method should be implemented properly in all three classes.

[2018-09-07 19:09] matozoid commented on #1835
Not a very recent idea: #655 ;-)

[2018-09-08 17:47] malteskoruppa opened #1843 "Problems with hasAnnotation() and hasDirectlyAnnotation()"
Rummaging through the recent annotation issues and the JSS source code, I noticed that `ResolvedReferenceTypeDeclaration` has the following two methods:

[code]

The method `hasAnnotation(String)` assumes that annotations are automatically inherited. This is not so. Annotations are only inherited under special circumstances:

* The element for which we want to find out whether it inherits some ann

[2018-09-08 18:50] malteskoruppa commented on #1835
This also appears to be a direct duplicate of #1801, so let me close this one. :)

[2018-09-08 18:50] #1835 closed, assigned to nobody

[2018-09-08 19:06] matozoid commented on #1835
The good thing about having duplicates is that a single PR can close a lot of issues at once ;-)

[2018-09-08 22:03] malteskoruppa commented on #1838
Actually, I changed my mind:

I think that `getDeclaredMethods()` should either throw an `UnsupportedOperationException` or return an empty set. This is because:

1. For resolved annotation declarations, the method `getAnnotationMembers()` already returns the set of annotation members, so having the method `getDeclaredMethods()` return the same thing would be redundant.

2. The method `getDeclared

[2018-09-10 14:26] matozoid opened #1845 "JEP 325: switch expressions"
http://openjdk.java.net/jeps/325

- [x] Create SwitchExpr
- [x] add SwitchExpr() to grammar
- [x] add "value break"
- [x] add funky -> syntax
- [x] support multiple case values separated by commas.
- [x] add language level validation (don't allow SwitchExpr below JDK12, allow only certain types of labels and amounts of labels)
- [x] add language level validation (value break only allowed inside sw

[2018-09-10 14:27] matozoid opened #1846 "JEP 326: Raw String Literals"
http://openjdk.java.net/jeps/326

[2018-09-11 12:14] UlrichKrennSSI opened #1849 "ModifierVisitor does not visit all occurrences"
I am using JavaParser to migrate some code in our rather large code base to a new API. Currently I am stuck with a problem and I figure I need some help to get it solved.

I wrote a ModifierVisitor that changes occurrences of some method call to some other method call. The problem is that the visit method gets only called for the most outer method call, not for nested ones. I have prepared a short

[2018-09-11 12:41] matozoid commented on #1849
Don't forget to call super :-)

[2018-09-11 13:32] UlrichKrennSSI commented on #1849
Life can be so easy sometimes... :unamused:
Calling super perfectly fixed the issue and the code works now as expected. Thanks for the quick help. Great project by the way. :+1:

[2018-09-11 14:24] matozoid commented on #1849
Thanks! Feel free to ask more :-)

[2018-09-11 14:24] #1849 closed, assigned to nobody

[2018-09-11 15:36] martin-dsa opened #1850 "main method"
How can I get childnodes for a main method?

[2018-09-11 18:52] matozoid commented on #1850
[code]
This is how to find a method called `main`.

Do read https://leanpub.com/javaparservisited for the basic knowledge for this library. It will answer many questions before you have to ask them.

[2018-09-11 20:40] ThLeu commented on #1766
Hey @stefanleh, I had a quick look into this and found out that it seems to work with the non deprecated setup method of the `LexicalPreservingPrinter`. Since this one is deprecated and the not deprecated one seems to work fine I am not sure it is worth looking into deeper.
Could you check if switching to the other setup method fixes the issue for you?

[code]

[2018-09-12 13:03] ro11ak opened #1851 "Unable to resolve parent class"
Hi,
I'm working on an analysis tool that would parse through all the javax.security methods in a class and list out all the invoked methods in that class.

I'm trying to parse a class that extends another class and I'm getting the following exception
[code]

In this case AbstractUsernamePasswordAuthenticationHandler is the parent class.

My code is:

[code]

I have a visitor that parses each metho

[2018-09-13 06:44] jjbr opened #1852 "Visibility of inherited methods: private shadowing"
This relates to #1789 and #1784 - there is still a case where correct resolution of inherited but not accessible types does not work properly. Consider the following example:
[code]

The class ResolveMe in ParentClass shadows the one in SuperParentClass and as it is private makes the public one in SuperParentClass inaccessible as well. The symbol solver currently ignores the private one but instea

[2018-09-13 14:24] ftomassetti commented on #1852
This should be fixed by #1853

[2018-09-13 14:24] #1852 closed, assigned to nobody

[2018-09-13 20:28] wx930910 opened #1854 "NoSuchMethodError"
Hello,

When I try to test the example from **_javaparservisited_**,  I get a NoSuchMethodError when I use:
JavaParser.getStaticConfiguration().setSymbolResolver(symbolSolver);

Here is my code:
[code]
Here is the error message:
[code]

Here is the dependency I used:
[code]

Any help will be greatly appreciated!

[2018-09-14 09:43] matozoid commented on #1854
For these questions we have made a working project setup :-) Can you double-check your configuration with this? https://github.com/javaparser/javasymbolsolver-maven-sample

(A NoSuchMethodError is almost always a project setup problem.)

[2018-09-14 15:36] wx930910 commented on #1854
Thank you @matozoid That helps a lot! I read through the sample and slove the problem!

[2018-09-14 15:36] #1854 closed, assigned to nobody

[2018-09-14 16:15] wx930910 opened #1855 "Question about extracting file call dependency by using javaparser"
Hello,

I am using javaparser and I think it's a very powerful package!

Is there a chance to extract file call dependency by using javaparser or java symbol solver?

For example if I have a the source code for file A, and file A call a method in file B.
[code]

[code]
Can I use javaparser to extract this dependency without the source code for file B?

Any help will be greatly appreciated!

[2018-09-14 17:09] matozoid commented on #1855
Hello! Do you have class B in a jar as a class file, or don't you have class B at all?

[2018-09-14 17:09] matozoid commented on #1854
Great, good luck!

[2018-09-14 17:11] wx930910 commented on #1855
Hello!
@matozoid Thanks for the prompt reply!
In my case, I don't have class B at all.

[2018-09-16 12:44] matozoid commented on #1855
Well, have to call in @ftomassetti then.

[2018-09-16 16:31] #1832 closed, assigned to matozoid

[2018-09-16 16:31] #1839 closed, assigned to nobody

[2018-09-17 09:22] matozoid commented on #1813
I just noticed that JavaCC's development work is done on branches, not on master. You hardly ever see activity there (although there is now a new release).

[2018-09-17 11:16] Lingam8454 opened #1856 "Can I use this tool for java code analysis tools like ASM?"
Can I use this tool for java code analysis tools like ASM ? If yes how can I use this project?

[2018-09-17 11:52] matozoid commented on #1856
Hello!

What this tool does and how it is used is described here: http://javaparser.org/

Do you have a more specific question?

[2018-09-17 14:21] Lingam8454 commented on #1856
We need to construct a java method hierarchy database. Is java parser tool suitable for us?

[2018-09-17 14:47] matozoid commented on #1856
If what you want is: parse file, find classes, find methods, then it is definitely suitable. A method hierarchy is a caller hierarchy? Then you can use the symbol solver module. It has its limits but seems usable for most people.

[2018-09-17 15:51] ftomassetti commented on #1855
ftomassetti answering from Luxembourg City :)

If you do not have class B at all then currently JavaSymbolSolver would tell you that it has no idea what class B is. The problem is this: when you import `a.b.c.d.e` you could import different things like a class named `e` in a package named `a.b.c.d` or a class `e` inside a class `c` in a package named `a.b.c`. In order words this is ambiguous, ther

[2018-09-17 18:43] wx930910 commented on #1855
Thank you so much for ur response @matozoid @ftomassetti :)

I see the problem here! I will try another way to achieve my goal!

[2018-09-17 19:19] izebit opened #1857 "A primitive type as parameter for generic type and JavassistTypeSolver"
When we try to get fields for classes from jar archive we will have `UnsolvedSymbolException`. It happens if a field is parametrized and its generic type is primitive.
For example:

We have the class:
[code]

and we want to get fields from this class:
[code]

After execute the code, which is above, we will see the next stacktrace:

[2018-09-19 12:18] #1857 closed, assigned to nobody

[2018-09-19 21:11] jimshowalter commented on #1049
You merged the projects--congratulations!

[2018-09-20 07:19] freddielaure commented on #1824
Hi @matozoid ,

thanks to ask.

1- DO you know how to replace method.setJavaDoc(comment); ? I have imported that Library
import com.github.javaparser.ast.comments.Comment;
import com.github.javaparser.ast.comments.JavadocComment;

But method.setJavaDoc(comment); does not works. Here is the Error
cannot find symbol;  symbol:   method setJavaDoc(com.github.javaparser.ast.comments.JavadocComment);  l

[2018-09-20 10:11] matozoid commented on #1824
1- that's setJavadocComment now, right? Are you using an IDE? I would expect that method to be easy to find with an IDE, so if you're not using one, try Netbeans, Eclipse, or Intellij or so.

2- as the migration guide points out, all names are now nodes (https://github.com/javaparser/javaparser/wiki/Migration-Guide) so you will have to `new SimpleName` there.

3- same as 2. The nicest way to go fr

[2018-09-20 10:15] ftomassetti commented on #1824
I think it would help us help you to figure out more about the context.
Are you a professional java developer? A student? A developer not familiar
with Java?

On Thu, 20 Sep 2018 at 12:11, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2018-09-20 16:51] matozoid commented on #1391
Hey @daanschipper - it would be wonderful if you could find some time for this!

[2018-09-20 16:53] matozoid commented on #1506
@malteskoruppa - #1491 is now closed, does that mean the other two, and this one, can be closed?

[2018-09-20 16:54] matozoid commented on #1536
@ftomassetti - looks like we missed this question, oops!

[2018-09-20 16:55] matozoid commented on #1548
I guess this can be closed.

[2018-09-20 16:55] #1548 closed, assigned to nobody

[2018-09-20 16:56] matozoid commented on #1587
I'm assuming this can be closed. Do reopen if not.

[2018-09-20 16:56] #1587 closed, assigned to nobody

[2018-09-20 16:57] #1632 closed, assigned to nobody

[2018-09-20 17:00] matozoid commented on #664
The funny thing is: the JLS only has a float literal! https://docs.oracle.com/javase/specs/jls/se10/html/jls-3.html#jls-3.10.2

So the current state is correct according to the JLS.

HOWEVER the JLS also only has an integer literal: https://docs.oracle.com/javase/specs/jls/se10/html/jls-3.html#jls-3.10.1

So that would mean `LongLiteralExpr` has to be removed...

[2018-09-20 17:04] matozoid commented on #1640
Hey @miho - the project is cool! Do you have any ideas about working together? I can't think of much right now.

[2018-09-20 17:04] matozoid commented on #1642
@freefire4547 - did everything work out well?

[2018-09-20 17:05] matozoid commented on #1665
@ftomassetti - we missed this question! :-(

[2018-09-20 17:05] matozoid commented on #1680
@peterkt2000 - how is the project going?

[2018-09-20 17:07] matozoid commented on #1703
@ftomassetti - we missed this question :-(

[2018-09-20 17:08] matozoid commented on #1713
@ftomassetti has this been implemented by now?

[2018-09-20 17:08] matozoid commented on #1782
I guess this is answered?

[2018-09-20 17:08] #1782 closed, assigned to nobody

[2018-09-20 17:09] matozoid commented on #1799
Hey @ftomassetti - want some Stack Overflow credits?

[2018-09-20 17:09] matozoid commented on #1818
Did half the discussion disappear? @allipierre - still need help?

[2018-09-20 17:11] #1818 closed, assigned to nobody

[2018-09-20 17:12] matozoid commented on #1850
@xxj322 - can this issue be closed?

[2018-09-20 17:12] allipierre commented on #1818
I already found my way. Thanks

[2018-09-20 17:13] matozoid commented on #1851
@ftomassetti ?

[2018-09-20 17:41] ftomassetti commented on #1506
I would vote for closing this

[2018-09-20 17:42] ftomassetti commented on #1536
Do we need a policy about answer? Like closing them if they are not unaswered within 2 weeks?

[2018-09-20 17:43] ftomassetti commented on #1642
I would add support to .dex files in a list of features we will eventually do if we get the time and close this issue

[2018-09-20 17:50] ftomassetti commented on #1665
Right. This is the case, in practice now JavaParserSymbolDeclaration is used just for variables. PR coming

[2018-09-20 17:51] ftomassetti commented on #1680
I would add this to a list of low priority features

[2018-09-20 17:54] matozoid commented on #1506
And #1439 and #1480 ?

[2018-09-20 17:54] #1506 closed, assigned to nobody

[2018-09-20 17:55] matozoid commented on #1536
Well, I think it's nice to at least ask @seoj135 if the question is still relevant.

[2018-09-20 17:55] matozoid commented on #1642
This issue is hereby changed into a request for adding dex support :-)

[2018-09-20 17:58] matozoid commented on #1680
We don't really have priorities since everyone does whatever they like anyway ;-)

[2018-09-20 18:01] Shoreray commented on #1665
Great. That simplifies things a lot.
Thanks for the answer.

[2018-09-20 18:01] #1665 closed, assigned to ftomassetti

[2018-09-20 18:20] malteskoruppa commented on #1851
Quick question: Is the symbol solver aware of the class `AbstractUsernamePasswordAuthenticationHandler`? I mean, it doesn't look like this class is part of the standard library, so the `ReflectionTypeSolver` won't help you. So the question is: Will one of your `JavaParserTypeSolver`s help you to resolve that class? In other words, is the `AbstractUsernamePasswordAuthenticationHandler` class define

[2018-09-20 18:29] seoj135 commented on #1536
@ftomassetti @matozoid
Oh! Thank you to concern about it. I done project using javaparser. So I don't need it now.

But if method that convert ResolvedType to Type is supported, It'll be great.

Thank you.

[2018-09-24 13:22] xgulism1 opened #1861 "Unable to resolve dependency"
Hi,

I am trying to create a dependency tree for my project using JavaSymbolSolver, but I keep getting error.
I started with a simple class and interface (each one has separate file, but they are in the same package). I am trying to get the relation between the interface and the class.

weapon.java:
[code]

axe.java:
[code]

The code I use to parse the code:
[code]

The exception I keep getting:
[

[2018-09-24 18:37] miho commented on #1640
Hi @matozoid, here are some ideas :)

We could try to create/generate a Java(un)parser API with VMF-Text to see which features would be necessary to generate something like a full javaparser (minus symbol solver). Would be cool how far one can get with VMF-Text.

Another interesting area would be a multilingual API, e.g. for common combinations like Java and Groovy. This would be a huge additional

[2018-09-25 06:58] Lingam8454 commented on #2064
Any update on this issue?

[2018-09-25 07:10] Lingam8454 opened #1862 "Issue calculating the type of the scope of MethodCallExprContext"
Hi!

I have a code that looks like this:
[code]

and my visit implementation looks like this:
[code]
However, I am encountering this error:

[code]

How should a code like this be parsed?
Thanks!

[2018-09-25 07:11] ftomassetti commented on #2064
I suspect this has been solved, I would need to write a test to double check that

[2018-09-25 07:12] ftomassetti commented on #1862
This does not seem an error but a missing implementation in JSS

[2018-09-25 07:58] matozoid commented on #2064
@Lingam8454 - if you would like to speed this up, you can consider writing a PR with a test.

[2018-09-25 12:42] LunNova commented on #1472
`getChildNodesByType` was deprecated, saying to use `find(class)`. There's no method `find`. If you use `findAll` instead it includes the current node as well as children, which can lead to problems like the one hit here.

https://github.com/javaparser/javaparser/blob/0e77613d30ea6b2e9c53fa8c4e582b5617d1811a/javaparser-core/src/main/java/com/github/javaparser/ast/Node.java#L422

[2018-09-25 17:27] matozoid commented on #1472
I'll correct the doc and make a note of this.

[2018-09-25 17:34] LunNova commented on #1472
Thanks @matozoid

[2018-09-26 02:33] dsanmartins opened #1864 "Method Call and Annotation"
Hello,

I have the following problem:
I am trying to get method calls of several classes but some of these calls involve custom annotations.  So when I resolve the callee it raises an exception: UnsupportedOperationException, which it is correct.

Here is my snippet:

[code]

I use a class visitor to get the method calls:

[code]
My question is how can I ask in the code if the callee is an annotat

[2018-09-28 11:40] un0btanium opened #1865 "Print source code based on line range"
Hello :)

I am currently trying to extract code snippets from a source file. I am already using the begin and end Position ranges the Node objects provide to determine the start and end line. I could now just open the file and extract the lines and print them, but I would like to know if JavaParser already provides such function.

I tested the PrettyPrinter and LexicalPreservingPrinter, however th

[2018-09-28 12:51] malteskoruppa opened #1866 "How to find out if a node is inside a finally block?"
I found it curiously difficult to determine, for a node, whether that node is inside a `finally` block. It feels like this is something that should be fairly easy, yet I ended up with rather complex code. Maybe I'm just overworked and ready for the week-end? :-)

Given a node `node` for which I want to find out whether it is inside a `finally` block, I have this:

[code]

It's really lengthy and r

[2018-09-28 14:14] xgulism1 commented on #1861
Solved it.
I can use this in the visit method:
[code]
Works fine.

[2018-09-28 14:14] #1861 closed, assigned to nobody

[2018-09-28 16:02] malteskoruppa commented on #1866
I just noticed that the first variant which I wrote above (the one that first searches upwards, then downwards again) wouldn't even work properly in some contrived scenarios, e.g., when parsing code such as

[code]

The second variant (which would require a `findAncestor` method with predicate) would work, though.

[2018-09-28 17:09] malteskoruppa commented on #1866
Having rested a bit, I think I indeed did not see the most obvious solution: simply implement a findAncestor(...) method that takes a predicate myself. :grin: It's really a very, very easy-to-write method that simply iteratively traverses the parents and checks the given predicate on each of these parents (and returns on a match).

But nevertheless, it's a method that could be a useful addition to

[2018-09-28 18:59] malteskoruppa commented on #1866
PS. With "implementing it myself", I meant "in my own project, as a helper method". But then I thought, why not just make it a pull request while I'm at it? :-)

[2018-09-28 19:25] malteskoruppa commented on #1864
Question: Is this part even relevant to your problem?

[code]

In other words, do you also get an UnsupportedOperationException if you just do this?

[code]

I suspect you will. Could you try? Just to focus on what's important here. :-)

Also, I am not quite sure I understand: Do you mean that the problem is that you get this exception when you try to resolve a method call expression which has ann

[2018-09-29 12:06] matozoid commented on #1865
Hi! I'm afraid JavaParser is not as impressive as you would like then ;-) The problem is just as you found out: nodes don't correspond nicely to lines. They start and end on a character somewhere. Which makes sense, since Java syntax is not really end-of-line aware like Python or so.

Then again, with the newer Java functionality like `Files.readLines` (or so) it would be very easy to ask a node w

[2018-09-29 12:07] matozoid commented on #1861
Great! Sorry that nobody had time to help yet :-(

[2018-09-29 13:48] un0btanium commented on #1865
That's okay :)

Indeed. It is not a huge deal to just do it manually.

[2018-09-29 13:48] #1865 closed, assigned to nobody

[2018-09-30 17:28] matozoid commented on #1866
Thanks for the PR :-) The whole `find...` API is relatively new and I couldn't think of a reason to have that particular method back then. It seems you found a reason.

Another one that could be useful then would be the `findAllAncestors` one that returns a list, which is more general than both existing methods. But that's for another day.

[2018-09-30 17:31] matozoid commented on #1866
About the initial question: I guess it would have been easy if the AST had a `FinallyBlockStmt` or so, so that you could do a find ancestor on that. Not sure if it is worth adding though, and what other new nodes would have to be introduced, and what breakage would occur in the API.

[2018-09-30 19:47] malteskoruppa commented on #1866
Yes, I actually also thought about that too (but I didn't want to stray away from the issue at hand). I agree though: There are `findFirst` and `findAll` methods to find descendants, with and without predicates, respectively. So there should be `findAncestor` and `findAllAncestors` methods too, with and without predicates, respectively. That sounds like a nice consistent API. :-) (And one _might_

[2018-09-30 20:07] matozoid commented on #1866
Here, I'll tag this "improvement" so we can work on these methods someday.

About find/findAncestor: in my mind this whole API was about walking the tree. There are several algorithms, and I think breadth first is the default one. That means it includes the current node, since that's how these algorithms are defined. After that came walking in the other direction: up the tree through the parents.

[2018-09-30 20:12] malteskoruppa commented on #1866
I see, thanks for the explanations, it makes sense!

That's true too. I think it's fine if the `findAncestor` methods don't consider the start node. Maybe it's enough to simply stress these differences in the Javadocs, i.e., always include the information whether the start node is included or not in all of the `find*` methods. That way, users know for sure what to expect.

[2018-10-01 08:07] matozoid commented on #1866
One reason I'm feeling uncomfortable is because two users already stumbled because `this` was suddenly included while replacing a deprecated call... It's a pitfall, and it would be good to avoid those. Seeing how many questions are answered with "just look at the Javadoc" I would conclude that it does not always get read. Hm.

[2018-10-01 08:57] malteskoruppa commented on #1866
I'm also curious to see what @ftomassetti thinks! :-)

I think in this particular case, users stumbled upon this pitfall because the deprecated method suggested to replace the call with another method that did not exhibit exactly the same behavior. So that came as a surprise. But I don't think that it's a problem to consider the start node per se.

Also, of course an API should be designed in an i

[2018-10-01 14:58] ftomassetti commented on #1866
From my point of view I would say it would be nice if a node knew in which property of its parent its contained. I think we have some logic for this, see for example `findNodeListName` in `LexicalPreservingPrinter`.

Something like:

`if (node.getRole() == ObservableProperty.FINALLY_BLOCK) { ... }`

[2018-10-01 14:59] ftomassetti commented on #1866
where rolecould be implemented re-using some of the logic of `findNodeListName` or similarly using the metadata we have for node types. It would probably not have great performance though

[2018-10-02 13:38] wozuo opened #1868 "Symbol solver with MethodCallExpr exception"
Hi all,

First of all I want to say thank you for this great project, I really appreciate it!

I'm trying to resolve the types of "MethodCallExpr" expressions. And I noticed some inconsistent behavior while doing so. Take for example the following code:
[code]
The first MethodCallExpr `vSocket.setEnabledProtocols(supportedProtocols.toArray(new String[supportedProtocols.size()]))` is not resolved a

[2018-10-02 21:15] malteskoruppa commented on #1868
The problem seems to be that the symbol solver cannot resolve the type of the expression used as a method argument, namely, `supportedProtocols.toArray(new String[supportedProtocols.size()])`. Therefore, it cannot resolve the method call expression where this argument is used in.

Now why the symbol solver isn't able to resolve the type of that expression, I can't tell. In order to resolve the typ

[2018-10-03 11:53] wozuo commented on #1868
Thanks for your detailed answer! That makes sense, is there a way to tell the symbol solver to ignore the arguments? Because at this point I'm only interested in the type of vSocket.

And to elaborate on the code snippets I gave above, `supportedProtocols` is declared and initialized in the same method, here is the full method:
[code]

[2018-10-03 14:34] wozuo opened #1871 "Escape strings in DotPrinter"
Hey everyone,

I just noticed the DotPrinter (https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/printer/DotPrinter.java) doesn't escape strings, so it's possible that one can end up with invalid DOT syntax.

An example I just encountered is the comment `//Log.v(TAG, "getSSLContext()");` will be translated to `n590 [label="content='Log.v(TAG, "

[2018-10-03 18:20] wozuo opened #1872 "JavaParserTypeSolver is not solving symbols"
Hey everyone,

Sorry to bombard you with the next issue, but I'm trying to add a JavaParserTypeSolver to a combinedTypeSolver and it doesn't find the classes it should. This is what I'm doing:

First I create a new `CombinedTypeSolver` and add some type solvers, create a parserConfiguration and then I collect all source roots in `projectFolder.toPath()`:
[code]

After that I'm looping through all

[2018-10-03 19:18] malteskoruppa commented on #1868
You can't tell the symbol solver to ignore the arguments when resolving a method call expression, because resolving the arguments is a necessary precondition to resolve the method call expression.

However, if you are only interested in resolving the _scope_ of the method call expression `vSocket.setEnabledProtocols(supportedProtocols.toArray(new String[supportedProtocols.size()]))`, i.e., given t

[2018-10-03 21:05] malteskoruppa commented on #1872
To me it looks like you're doing everything correctly.

This is just a guess and @ftomassetti will be able to make a better judgment, but I think this may be a missing functionality in the symbol solver. The thing is that the `Builder` class that the code instantiates is a public static member class within the class `OkHttpClient`, and the symbol solver may not handle this case properly.

[2018-10-04 17:32] malteskoruppa commented on #1868
Your code is fine, so the problem has to be in the symbol solver. I just checked, and the reason that you cannot resolve the whole method call expression is indeed that you cannot resolve the argument in that method call expression, and the reason that you cannot resolve the argument is indeed a bug in the symbol solver.

To help whomever will fix this bug in the future, I narrowed it down a littl

[2018-10-04 17:56] wozuo commented on #1872
Hey Malte,

Thanks for your answers and effort! I just can't shake the feeling that I may be doing something wrong, because today I tested more code (a few simpler expressions) and one example is the following code that can't be resolved:
The import is `import org.apache.http.impl.client.DefaultHttpClient;` and the code snippet I'm trying to resolve is the ObjectCreationExpr in `HttpClient client

[2018-10-04 18:29] malteskoruppa commented on #1872
Hey Marc,

I invested some more time and I agree, I think you're doing something wrong. But I'm not sure what. However, I downloaded the OkHttp package mentioned in your original code, and I looked for an object creation expression `new OkHttpClient.Builder()` in there, and I tried to resolve it, and it worked. So (probably) not a bug in the symbol solver. :-)

Here's what I did in detail. Can you

[2018-10-04 19:05] wozuo commented on #1872
Hey thanks I just tested it and this works for me too. This is really weird...

So maybe the problem is the way I add the configuration to `SymbolSolverCollectionStrategy` instead of doing ` JavaParser.getStaticConfiguration().setSymbolResolver(...)`?

[2018-10-04 19:13] malteskoruppa commented on #1872
After experimenting some more, I think I know what's going wrong. The problem is that the combined type solver that you initialize gets overwritten by the collection strategy. The collection strategy builds its own combined type solver and just ignores the one that you configured previously.

You do this:
[code]

That is, you create a parser configuration and you set this configuration to use your

[2018-10-04 19:28] matozoid commented on #1872
Here's a @daanschipper in a box: http://javaparser.org/setting-up-for-analysing-a-whole-project/ :-)

[2018-10-04 19:45] wozuo commented on #1872
Ah yea then that's it! Is this the intended behavior that the symbol solver is overwritten? I mean what's the point of passing it in `SymbolSolverCollectionStrategy(parserConfiguration)` if it is overwritten afterwards? One solution would be to just do `this.parserConfiguration = parserConfiguration;` in the constructor of `SymbolSolverCollectionStrategy`, then one would need to pass in the `Refle

[2018-10-04 19:50] malteskoruppa commented on #1872
Thanks @matozoid for the link! :-)

Unfortunately, I can't find any information on how to solve this particular problem there either. :(

Marc, in the interim, you can modify the constructor of `SymbolSolverCollectionStrategy` as follows. Where it currently has this code:
[code]

Change this like so:
[code]

That way, you have a constructor which uses an initial combined type solver that you can s

[2018-10-04 19:56] malteskoruppa commented on #1872
I guess that the point is that you can configure everything (e.g., the Java language level, etc.) _except_ for the symbol resolver, which is initialized by the collection strategy. That's the very point of the collection strategy, if I understand it correctly. :) It just seems to lack a way of manually adding more type solvers to it, or at least I don't understand how this could currently be done

[2018-10-04 20:18] malteskoruppa commented on #1872
That's not enough. Then the collection strategy won't add `JavaParserSymbolSolver`s for the source roots it finds to your symbol resolver, but to its own (unused) combined type solver. That's likely not what you want. The solution that I provided above takes this into account.

Sure, you need to pass in your own `ReflectionTypeSolver` into your combined type solver, but that's not a problem indeed

[2018-10-04 20:37] matozoid commented on #1872
The `SymbolSolverCollectionStrategy` is a utility that sets up your type solvers for you (if you have a simple project setup.) That's it really.

[2018-10-04 20:48] malteskoruppa commented on #1872
As far as I understand it, the OP basically has a project folder (`projectFolder`, with several source root folders) _and_ some external source root folder (`/Users/marc/Downloads/okhttp-parent-3.8.0/okhttp/src/main/java`) and he wants to configure the symbol solver to add type solvers for all source root folders in that project folder _and_ a type solver for the external source root folder. What

[2018-10-05 13:38] wozuo commented on #1872
Oh nice thats a clever solution!

But if someone wants to use other type solvers as well (e.g. JarTypeSolver) then you would still need a way to add it to the `SymbolSolverCollectionStrategy `.

[2018-10-05 17:13] malteskoruppa commented on #1872
Thanks. Actually I assume it's the intended way. ;) I just didn't realize it immediately, since I never used the collection strategy before and I wasn't familiar with it.

Again, not an expert on the collection strategy, but you can solve this problem in exactly the same way. When you call `collect` on a directory that contains jar files somewhere (or you call `collect` on a jar file directly), ty

[2018-10-07 15:34] matozoid commented on #1871
Thanks! The fix will be released today.

[2018-10-07 17:18] matozoid commented on #1871
Better test this for end-of-line characters too...

[2018-10-07 21:00] matozoid commented on #1871
End of line characters are fine :-)

[2018-10-07 21:00] #1871 closed, assigned to nobody

[2018-10-08 06:52] penelope24 opened #1875 "cannot solve methodcall which contains fileld access as parameters"
trying to solve a method call like this:
[code]
throws exception:
UnsolvedSymbolException{context='unknown', name='BETWEEN', typeSolver=null}

[2018-10-08 07:43] matozoid commented on #1875
Hi! Can it be that you haven't set up a type solver? In that case, take a look at the book for the whole story, or this sample project for a hint: https://github.com/javaparser/javasymbolsolver-maven-sample

[2018-10-08 08:54] ddepddep opened #1876 "Throw exception, when get ancestors of class that extended generic interface"
Hi,

I want to get ancestors of some class or interface. (this could be in source file or class file.)

But when I try to get ancestors of the interface that extended generic interface, it throws exception.

Like below.
[code]

This is my test code.

[code]

And, this is exception stack trace
[code]

and below is contents of ProductRepository.java
[code]

I think JavaParserInterfaceDeclaration is

[2018-10-09 04:36] penelope24 commented on #1875
@matozoid thx for your kind reply! Actually I've set up a CombinedTypeSolver which contains reflections, jars and the package contain the source code. So I got little confused about how to solve this Exception.

[2018-10-09 05:45] penelope24 opened #1877 "final class unsolvable"
I was trying to solve nameExprs, the code is:
[code]
it works fine except when expression is a final class (most of them implements a certain interface or an abstract class), or the expression is a enum class.
the Exception are:
java.lang.UnsupportedOperationException: CorrespondingDeclaration not available for unsolved symbol.

[2018-10-09 06:07] penelope24 commented on #1877
In addition, the scene is I want to catch the caller of a certain field access, so I used getScope() to find the expression who calls a certain field. Things are fine by now.
But when I want to use symbol solver to get the qualified name of that expression, exceptions raises as mentioned above.

[2018-10-10 08:16] boylw123 opened #1878 "Get the returnType crashed."

[2018-10-10 09:18] matozoid commented on #1877
Hi! I can't judge if this is a bug or a misunderstanding, so I'll tag it as question until we dive into it.

[2018-10-10 09:20] matozoid commented on #1875
I'd say that something is missing in your setup code, since "typeSolver=null" - do you have that code for us to see?

[2018-10-10 13:53] eartvit opened #1879 "JSS throws StackOverFlow exception when trying to resolve NameExpr"
Hi,
I am trying to find out if a NameExpr resolves to a primitive type or not. In general it finds out type with the exception of unchecked types.

For example, trying to find out the the resolved type for the IfStmt:
``if (ind != numSamples) { samples.set(ind, key); }``
on line 194 of InputSampler.java from Hadoop branch 3.0.0 always crashes (it enters an infinite loop on JavaParserFactory line 1

[2018-10-11 07:56] teletha opened #1880 "Question about importing private member class."
CompilationUnit#addImport(PrivateMemberClass.class) will generate code like the below
`import package.TopLevelClass.PrivateMemberClass;`

But java compiler reports error "The type PrivateMemberClass is not visible".
(No problem about public, protected or package-private member class)

Is this a bug that CompilationUnit#addImport can't filter private member class?
or
Filtering private member class

[2018-10-11 08:16] matozoid commented on #1880
Hi!

The parser and AST are very happy to let you generate all types of invalid code. It only knows about the AST of a single source file, so it can't say anything about which import is correct, and which is not. It is your responsibility not to import classes that are not visible.

[2018-10-11 08:21] teletha commented on #1880
Thanks for your reply, I will filter them myself.

[2018-10-11 08:21] #1880 closed, assigned to nobody

[2018-10-12 11:32] Chri-Ri opened #1881 "How can I retrieve a qualified signature from MethodDeclaration?"
## The Problem
How can I match the signatures from
`MethodDeclaration.getSignature().getParameterTypes().toString()`
and
`JavaParserFacade
	.get(combinedTypeSolver)
	.solve(MethodCallExpr methodCall)
	.getCorrespondingDeclaration()
	.getSignature()`
?
## Some Details
Given this MethodDeclaration:

`public List<Zustellung> SucheZustForEmpfVonBis(String empfaenger, Date von, Date bis, Boolean ohne)

[2018-10-12 12:03] ftomassetti commented on #1881
Danke sehr für deine clear Erklärung.
Keine Sorge, dein Englisch ist besser als mein Deutsch :)

`JavaParserFacade .get(combinedTypeSolver) .solve(MethodCallExpr methodCall) .getCorrespondingDeclaration()` give you a [ResolvedMethodDeclaration](https://static.javadoc.io/com.github.javaparser/javaparser-core/3.6.25/com/github/javaparser/resolution/declarations/ResolvedMethodDeclaration.html), which

[2018-10-12 12:53] Chri-Ri commented on #1881
How could I overlook that ???
I was digging and digging and digging in the javadoc and I didn't see the wood for the trees.
Yeah, I think this will help.
But I cannot test ths now, because I'm leaving the office. I'll try sometimes in the weekend.
Thank you very much.

[2018-10-12 16:11] matozoid commented on #1881
@Chri-Ri - if you have suggestions on how to improve the documentation, that would be helpful to us.

[2018-10-12 16:18] matozoid opened #1882 "Node#getData should return Optional, not null."
Oooops!

[2018-10-12 17:35] matozoid opened #1883 "Finding lambda return type"
I found the following code in TypeExtractor:
[code]
Does this mean that a lambda expression that contains multiple return statements will always have the type of the first return statement, and the other will be ignored? Shouldn't it return the shared parent of all the return statements types?

@ftomassetti ?

[2018-10-12 18:36] ftomassetti commented on #1883
Well, that is probably the case. I guess we did not have the logic to find the common super type at the time, while now we should have that

[2018-10-13 19:23] NicolaTuccari opened #1885 "Acquiring Method Body from MethodCallExpr"
Hello,
I was trying to acquire the body from a MethodCallExpr. I found this issue [JavaSymbolSolver #163](https://github.com/javaparser/javasymbolsolver/issues/163) and it looks like the method getCorrispondingDeclaration from the line

`MethodDeclaration test = javaParserFacade.solve(n).getCorrespondingDeclaration();`

now returns a ResolvedMethodDeclaration object and not a MethodDeclaration obj

[2018-10-13 21:44] matozoid commented on #1885
You can check if the ResolvedMethodDeclaration is a JavaParserMethodDeclaration, and if it is you can ask it for the wrapped node, which is the AST node, which contains the body.

(Is this correct, @ftomassetti ?)

[2018-10-13 23:33] ftomassetti commented on #1885
Yes. I think we could add a method named toAst which would return an
optional. This seems a common question

On Sat, 13 Oct 2018 at 23:44, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2018-10-14 10:01] NicolaTuccari commented on #1885
Thanks @matozoid ! That's just what I was looking for

[2018-10-14 10:01] #1885 closed, assigned to nobody

[2018-10-14 11:02] matozoid commented on #1882
We could keep this intact if we change the contract into "get the data. If there is no data, illegal state." That would be viable since containsData exists too.

[2018-10-14 18:31] MysterAitch opened #1888 "CollectionStrategy - directory comparison"
It appears that if the collection strategy fails when there is a mismatch between using the windows-style paths with an initial drive letter versus other style paths (e.g. `C:/var/test`) with a leading slash (e.g. `/var/test`).

[code]

[code]

The comparison occurs on the following lines of the following files:

https://github.com/javaparser/javaparser/blob/4f682b22ae276ed7e18a2928cfdabd4813775aa

[2018-10-14 18:36] MysterAitch commented on #1888
To resolve this, I suggest that the paths be converted to the absolute path (or some other normalised version). Example:

`if (dir.toAbsolutePath().equals(current_root.toAbsolutePath())) { `

Does this sound like a reasonable suggestion? Are there any other cases that this might not adequately cover (e.g. network directories such as `\\shared\dir`)?

nb: The same fix may be needed at other locatio

[2018-10-14 19:06] #1882 closed, assigned to nobody

[2018-10-18 10:56] mlg255 opened #1891 "VoidVisitorWithDefaults does not visit nodes"
As I understand, only the very root node is visited with a `VoidVisitorWithDefaults`.

ACTUAL The below program outputs:
[code]
EXPECTED: 3 nodes in all cases

The below code that demonstrates the problem shows that the `ModifierVisitor` works as expected both before and after using the `VoidVisitorWithDefaults` that does not work:

[code]

[2018-10-18 11:32] malteskoruppa commented on #664
Interesting! :-)

However, looking at your link, the JLS does specify "float type suffixes" for float literals:
[code]

Similarly, integers have "integer type suffixes":
[code]

I agree that it would probably be most consistent with the JLS to remove the `LongLiteralExpr`.
In addition, `DoubleLiteralExpr` should be renamed to `FloatLiteralExpr`.

However, I would suggest adding a convenience `getT

[2018-10-18 12:33] matozoid commented on #1891
You want the behaviour of `https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/VoidVisitorAdapter.java`, I think. Do click through the source and Javadoc of all the visitors to see what they offer.

[2018-10-19 10:35] matozoid opened #1893 "Move Travis to JDK11"
JDK 10 support is failing because Oracle removed the download :-(

[2018-10-19 12:27] Chri-Ri commented on #1881
Sorry for don't answering for this long time.
I was very busy in and outside the office this week.
But last weekend I tried resolving from a methoddeclaration and I got the infos needed :)
Thanks again.

[2018-10-19 17:48] abego opened #1894 "Provide a way to add a field "at a given index", not just at the end"
`NodeWithMembers#addField` allows you to add a field, e.g. to a `ClassOrInterfaceDeclaration`. However it will always add the field "at the end".

I had to insert the field "at the beginning". To do so I had to
- get the list of field using `NodeWithMembers#getMembers`,
- "manually" create the field
- add the field to the list using `List#add(int,N)`.

Most of this was just copy of code already im

[2018-10-20 11:16] matozoid commented on #1893
Also switched to openjdk.

[2018-10-20 11:25] matozoid commented on #1893
It's failing with strange errors: https://travis-ci.org/javaparser/javaparser/jobs/444050745

https://github.com/apache/maven-surefire/blob/master/maven-surefire-plugin/src/site/fml/faq.fml

[2018-10-21 19:25] matozoid opened #1895 "Document behaviour of JsonSerializer/Deserializer"
Some new, but not always obvious behaviour (the symbol resolver key part especially) has been added in #1892. It could use some thorough Javadoc.

[2018-10-21 19:27] matozoid opened #1896 "Check if JsonDeserializer works with JavadocComment"
See #1892

[2018-10-21 19:29] matozoid opened #1897 "Avoid strings in Json(de)serializer"
In #1892 several fields are referred to by string. See if we can avoid that.

[2018-10-22 07:04] malteskoruppa opened #1899 "Introduce asNode() in the NodeWith... interfaces"
I am often in the situation where I deal with some abstraction of node types, i.e., I have some object whose type is one of the `NodeWith...` interfaces, and then I need that object as a `Node` for some reason or other (e.g., I want to call a method which expects a `Node` parameter).

In that situation I always have to downcast my `NodeWith...` object to a `Node`, and my IDE rightly warns me that

[2018-10-22 08:53] ftomassetti commented on #1899
It sounds as a good idea to me

[2018-10-22 10:13] matozoid commented on #1899
The correct implementation will need changes to the metamodel, so it's more involved than it seems. But good suggestion anyway.

[2018-10-22 14:19] matozoid commented on #1391
Well, I guess someone else will have to have a go at this.

[2018-10-22 19:49] malteskoruppa commented on #1899
Hey! Oh wow, I just had a quick look at the meta model and the core generators, and it confused the hell out of me. :-D Unfortunately, it is not very self-explanatory code, else I might have tried a PR for this issue. ;-)

However, I could not find any reference to any of the `NodeWith...` interfaces anywhere in the meta model, or in the core generators. I may be looking in the wrong places, of co

[2018-10-23 08:59] matozoid commented on #1899
Here's the short intro:
- The metamodel is more or less typesafe introspection for the AST nodes. You can ask "what nodes are there?" "what properties does this node have?" etc.
- The metamodel was written for the code generators, so they wouldn't need any introspection code. The lexical preserving printer and symbol solver can use it too, but don't, which makes me sad :-(
- The metamodel is gener

[2018-10-23 15:38] malteskoruppa commented on #1899
Thanks for the intro! The metamodel could certainly use a few more comments. ;-)

Since the NodeWith... interfaces are not in the metamodel yet anyway, wouldn't an `asNode()` method be easy to implement right now (by simply adding such a method to all NodeWith... interfaces)? Adding the NodeWith... interfaces to the metamodel seems like a separate issue? Or is it that you would like to implement t

[2018-10-23 16:44] matozoid commented on #1899
I have completely misread the question :-DDDDD

Yes, of course, go make it so if you like!

[2018-10-23 18:21] malteskoruppa commented on #1899
Cool. :-D

Well, I tried. But here's a funny problem. If I add a method `asNode()` to _all_ NodeWith... interfaces, then the node classes that implement several of these interfaces generate a compiler error, because the same method is inherited from more than one interface.

For example, `Node` itself already implements `NodeWithRange` and `NodeWithTokenRange`. So if we have:

[code]

Then the com

[2018-10-23 18:37] matozoid commented on #1899
Go for the new NodeWith...ehhh... `NodeWithAsNode` I guess with a type parameter for the return type, see how far you get :-)

[2018-10-23 19:59] matozoid opened #1901 "NameLogicTestingJss060Test is writing lots to System out"
@ftomassetti - what was your intention there?

Travis log is spammed full: https://travis-ci.org/javaparser/javaparser/builds/445302245?utm_source=github_status&utm_medium=notification

[2018-10-24 11:37] ShiboTanany opened #1905 "VariableDeclarationExpr should not be an Expression"
this code for analysis
[code]
this code that will be parsed
[code]

[2018-10-24 11:59] matozoid commented on #1905
Thanks, I'll take a look at what's happening here when I find some time.

[2018-10-24 12:45] malteskoruppa commented on #1905
Interesting!

Simplified example:

[code]

So you can't parse a variable declaration expression by using `parseExpression(String)`. JavaParser needs more help, you have to use `parseVariableDeclarationExpr(String)`.

The method `NodeWithExpression#setExpression(String)` called by the OP uses `JavaParser#parseExpression(String)` to convert the given string to an expression, so if you give it a vari

[2018-10-24 12:59] ShiboTanany commented on #1905
@malteskoruppa  excuse me i need as example to setexpression with replace this to another i haven't way to do it without setexpression

[2018-10-24 13:59] matozoid commented on #1905
Well, the main problem is trying to do string operations on an AST instead of manipulating the nodes. Ignoring that, a quick would be to use `existedStmt.replace` with the `parseStatement` from @malteskoruppa.

Do read the book: https://leanpub.com/javaparservisited

[2018-10-24 14:16] malteskoruppa commented on #1905
@ShiboTanany Sorry if my post was unclear. It wasn't meant as a solution for your problem. Rather, it was meant to point out what the problem is internally.

I completely agree with @matozoid: You shouldn't manipulate strings. You should manipulate the nodes directly. Also see: http://wiki.c2.com/?StringlyTyped.

And yes, as a quick fix, you can use:

[code]

instead of

[code]

But, meh. You shou

[2018-10-24 14:30] malteskoruppa commented on #1905
@matozoid Nevertheless, wouldn't you consider this a bug?

The method `NodeWithExpression#setExpression(String)` suggests that you can pass it any string that is a valid expression. But if you pass it a string that is a _variable declaration_ expression, it just crashes. Even though a variable declaration expression is a valid expression. It's a somewhat surprising behavior.

More generally, it's

[2018-10-24 15:53] matozoid commented on #1905
Yep, there are two issues even:
- the documentation issue
- setExpression(String) cannot take a variable declaration expression.

It's like "in some places where you can have an expression, you can alternatively put a variable declaration." The JLS doesn't call them expressions, it seems. I guess this is a bit of creativity from aancient times to keep some type safety here (instead of typing all p

[2018-10-24 16:36] malteskoruppa commented on #1905
You are right of course. :-) The JLS is quite right to not call variable declarations "expressions"; they aren't. So they shouldn't be expressions in JavaParser either. That would be an improvement indeed!

Actually, looking at the syntax, a `LocalVariableDeclaration` can _only_ occur in a `LocalVariableDeclarationStatement`, and a `LocalVariableDeclarationStmt` can _only_ occur in a `BlockStateme

[2018-10-24 16:41] matozoid commented on #1905
You can find ample examples in the issue tracker where I was absolutely wrong ;-)

But what would you do about the variable declarations in `for(int i=1;;)` and `try(R r=reader()){}`?

[2018-10-24 18:02] malteskoruppa commented on #1905
Ah, yes, I see. :-)

Well, err, I seem to have missed that a `LocalVariableDeclaration` can _also_ occur in the init-part of a for-loop, even though the link I posted above clearly says so and I did Ctrl+F for "LocalVariableDeclaration" on that page, yet I missed it. ;-) As far as try-with-resource statements are concerned, the JLS declares its very own type for that (`ResourceSpecification`).

On

[2018-10-24 18:51] malteskoruppa commented on #1899
Well I didn't get far. :-)

If I just define an interface `NodeWithAsNode` like so (Javadoc comments and annotations omitted...):

[code]

...and I make all `NodeWith...<N extends Node>` interfaces (which do not already extend another NodeWith... interface) extend `NodeWithAsNode<N>`, then I get problems like:

This is because, as an example, `PackageDeclaration` extends `Node` which implements `N

[2018-10-24 19:37] matozoid commented on #1905
Yes, the usual way would be to just be less specific and use `Node`. That's why I agree that JP is lacking here, but not too eager to change anything because: it's a big breaking change, it reduces type safety, and it has led to only 1 issue (this one) where the real answer is: "please don't do it like you're doing it now."

[2018-10-24 19:41] matozoid commented on #1899
You're hitting a larger problem in the library: some types (like BodyDeclaration) have an ugly, useless generic parameter. It's only there to do builder-like return types for setters in the NodeWith... interfaces. The only way to get rid of them seems to be to put all of the interfaces only on the non-abstract types, keep the implementation required by the interface on BodyDeclaration, and overrid

[2018-10-24 20:27] matozoid commented on #1899
Okay, try `abstract Node asNode()` and implement it only in the leaves, with the type of the leaf as the return type.

[2018-10-25 12:01] ftomassetti commented on #1901
My bad, we should drop this. Marking this as a bug.

[2018-10-26 14:50] #1901 closed, assigned to ftomassetti

[2018-10-26 15:33] dsanmartins commented on #1864
Hello,

Sorry by the late answer. My problem was that somebody implements a custom annotation with some information that is used in some parts of the program. Here is the snippet:

[code]
Then when I was trying to get method calls I got the UnsupportedOperationException exception.

However, I tried a different approach and It worked. I implemented a tool to get method calls and create graphs with

[2018-10-26 15:33] #1864 closed, assigned to nobody

[2018-10-27 18:36] baumato opened #1907 "Error in PrettyPrintVisitor.visit"
I just updated from version 3.5.2 to 3.6.27. Now I have following issue:

Take this class:

[code]
and process it with:

`String code = JavaParser.parse(someClass).toString()`

then the resulting `code` always contains one space more in front of 'multi line comment' than the original source code.

I assume it has something to do with the logic in
`PrettingPrintVisitor.visit(final JavadocComment n,

[2018-10-28 13:22] matozoid commented on #1907
Yes, something is wrong here. Thanks!

[2018-10-29 20:59] Derongan opened #1909 "Parsing public final static field"
I am having trouble resolving NameExpr in a public static final field.

I have the following classes:

`public class A {
    public static final char SOME_CHAR = 'c';
}`

`public class B {
    public static final char SOME_CHAR_COPY = A.SOME_CHAR;
}`

and I am trying to get the Type of A in A.SOME_CHAR using:

[code]

However the NameExpr for A will not resolve.

[2018-10-29 22:50] Derongan commented on #1909
I was using an old version of the symbol solver. Upped the version and now it works.

[2018-10-29 22:50] #1909 closed, assigned to nobody

[2018-10-30 10:17] jjbr opened #1910 "Generify MethodResolutionLogic#solveMethodInType(...) to Allow for External Implementations"
The method [`solveMethodInType(...)` in `com.github.javaparser.symbolsolver.resolution.MethodResolutionLogic` ](https://github.com/javaparser/javaparser/blob/8209c03065e69860be9b2bd65fa0753a27bbf38e/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/resolution/MethodResolutionLogic.java#L578-L619) tries to find a method in a type. It checks which kind of `ResolvedTypeDe

[2018-10-30 12:42] omkarendra opened #1911 "I m not able to get one particular 'then part' of IF-statement"
Hi,
I have one code segment as below

if (fMap.containsKey(filename))
            return (Image) fMap.get(filename);

Now, I am using following iterative process to extract each statement within then block; generally it is successful until I found an issue.

'for (Node n : ifstmt.getThenStmt().getChildNodes())'
{
//Do something with 'n'
}

Here, n is omitting that statement within Then-part is a '

[2018-10-30 13:03] ftomassetti commented on #1910
`ResolvedTypeDeclaration` was never intended to be extended outside the library because, well, Java is Java. I could imagine that someone may want to extend it if they planned to writed a solver for _an extended version of Java_. Is this the case? If it is not, why do you want to extend `ResolvedTypeDeclaration`? To make it able to represent classes defined in other JVM languages?

I would discour

[2018-10-30 13:04] ftomassetti commented on #1910
In other words, I would be happy to work with you on this proposal if you can prepare an initial PR.

[2018-10-30 13:11] matozoid commented on #1911
I assume this is because usually the statement in the then-clause is a `BlockStmt` containing child statements, because usually the then clause has `{` and `}`. In this case there is only the return, so now there is no `BlockStmt`, only a `ReturnStmt`. The child of that statement is the cast to Image.

Consider...
- checking the type of the statement in getThenStmt, or
- using a visitor on it to f

[2018-10-30 13:14] matozoid commented on #1910
(As the maintainer I would like to urge you all to think up a good approach to extending the solver and implement it fully, instead of fixing the direct problem and leaving other extension points for other users to solve ad-hoc.)

[2018-10-30 13:26] jjbr commented on #1910
The reason for me wanting to implement the `ResolvedTypeDeclaration` (well actually more specific types such as the `AbstractClassDeclaration` but that is besides the point) is that I am trying to add another data source to the solver (for regular Java). So far the symbol solver can resolve types using a variety of different data source. The `JavaParserTypeSolver` extracts information from the sou

[2018-10-30 13:37] omkarendra commented on #1911
Thanks.

Yes! I did put a check if it is ReturnStmt.

Thanks for a quick response. :)

[2018-10-30 14:14] ftomassetti commented on #1910
To do that I would need to understand who wants to extend this part of the solving process and for which reason. That is not clear to me yet.

[2018-10-30 14:20] ftomassetti commented on #1910
Could you expand on that? Is that another way to identify Java compilation units? Are those compilation units not on file but on DB or somewhere else (e.g., git repository)?

In general I see this: the typesolver define **where** to find stuff, and the subclasses of `ResolvedTypeDeclaration` deal with the different way of **storing** the information. For now the mapping is basically one to one, so

[2018-10-30 15:57] matozoid commented on #1911
Good! Remember that you can find any kind of statement there, not just return :-)

[2018-10-30 20:44] linh-le opened #1912 "Visit fields in block statment"
Hi there,

I'm trying out Java Parser and have a question. I bought and read the book yet still am unable to figure out this seem to be basic function.
I'm trying to analyze only certain methods. To do that, when I visit the method, I'm getting the block statement, and trying to visit the inner fields of that block. However, nothing happens when I run the code (the InnerFieldVisitor's visit(..) me

[2018-10-31 09:18] abego opened #1913 "LexicalPreservingPrinter does not (always) print renamed Types"
I am using JavaParser to rename some types, say `T1` to `T2`.

I noticed this rewrite is not always reflected in the output generated by LexicalPreservingPrinter.

Interestingly `CompilationUnit#toString()` always returns the correct result.

Here an example:

    class C {

        T1 f;

        T1 m() {
            return f;
        }
    }

When I rename the `T1` to `T2` the LexicalPreservingP

[2018-10-31 09:22] jjbr commented on #1910
I have data stored in a database, exactly.

That is my understanding as well. The one-to-one mapping seems logical, given the fact that the way of storing data usually varies depending on where to find it.

Now upon closer inspection I believe I know what the TODO comment above the method is about. It says to replace `TypeDeclaration.resolveMethod` and is pretty new (from August '18). Quite a few

[2018-10-31 09:40] matozoid commented on #1912
Hi!

A `FieldDeclaration` only exists at class level, not at method level (unless you are dealing with a rare local class.) If you want to see what you are dealing with, you can visualize the AST in several ways: http://javaparser.org/inspecting-an-ast/

[2018-10-31 09:41] matozoid commented on #1913
Thanks! We're very happy with the test case, it makes things a lot easier.

[2018-10-31 09:45] matozoid commented on #1910
When you're on it, @ftomassetti, can you also look at #1395 #1396 #1397 ? These issues are blocking me from cleaning up the code.

[2018-10-31 14:22] marcphilipp opened #1914 "MethodDeclaration should return JavadocComment even if it's followed by a line comment"
For code like the following, the corresponding `MethodDeclaration` currently returns the text of the line comment (TODO ...) for `getComment()` and an empty `Optional` for `getJavadocComment()`.

[code]

I haven't found a way to extract the `JavadocComment`, not even when implementing the `visit(JavadocComment, ...)` method. Would it be possible for a `MethodDeclaration` to have both a regular com

[2018-10-31 15:27] ftomassetti commented on #1914
No, each node can have at most one comment associated. Therefore the other comment is considered an oprhan comment that is contained in the node physically containing this node. Comments are a bit peculiar and are not technically part of the AST, so this is why you cannot find them using visitors.

You could use [Node.getOrphanComments()](https://static.javadoc.io/com.github.javaparser/javaparser-

[2018-10-31 15:32] marcphilipp commented on #1914
On which `Node` would I have to call `getOrphanComments()` in the above example? The enclosing `ClassDeclaration`?

[2018-10-31 15:34] ftomassetti commented on #1914
Yes, the enclosing `ClassDeclaration`.

We save all comments and we associate some of them to specific nodes by using heuristics (the logic is in [CommentsInserter](https://github.com/javaparser/javaparser/blob/6b9344dcd41302a1e81d8ff55baa8f8ff43dc5e6/javaparser-core/src/main/java/com/github/javaparser/CommentsInserter.java)).
The comments not associated to nodes are considered _orphan_.

There ar

[2018-10-31 15:36] marcphilipp commented on #1914
Alright, for now I've changed the offending code in our codebase but it's good to know that there's a workaround, should we need one. Thanks!

[2018-10-31 15:36] #1914 closed, assigned to nobody

[2018-10-31 15:37] ftomassetti commented on #1914
You are welcome, thanks for reporting this

[2018-11-01 10:01] matozoid commented on #1914
I've been pondering this, and I think this is (another) workaround:
- get the first token in the token range for the method.
- find the body declaration preceding the method (interesting when it is the first thing in the class)
- get the last token in the token range for the preceding method.
- walk through last token -> first token.
- check the tokens to see if their type is some kind of comment.

[2018-11-01 10:33] omkarendra commented on #1911
okay! :)

[2018-11-01 12:24] matozoid commented on #1911
@omkarendra - did you intend to reopen this? :-)

[2018-11-01 18:37] omkarendra commented on #1911
Ohh!! no. That was accidental :(. All is fine. :D

[2018-11-01 18:51] matozoid opened #1916 "Mark metamodel classes @Generated"

[2018-11-01 18:51] #1911 closed, assigned to nobody

[2018-11-02 07:56] nkratzke opened #1918 "ForeachStmt (< 3.6) vs ForEachStmt (>= 3.7)"
I found a small difference in a Statement class naming. The foreach statement concept was named in

- in version 3.6 as `ForeachStmt` (partly camel-cased)
- and in version 3.7 as `ForEachStmt` (fully camel-cased).

That is not a big thing, however, it means that the 3.7 API is not fully downward compatible with the 3.6. I am unsure, whether there are simlar "camel-case" renamings happended through

[2018-11-02 08:15] ftomassetti commented on #1918
We decided on purpose to introduce API breakage in JP 3.7. The reason is that we have been waiting for a long time to move to JP 4.0 but we simply do not have the energies necessary for a new release, so we decided instead to introduce these very limited API breaking changes in 3.7.

They are clearly stated in the [changelog](https://github.com/javaparser/javaparser/blob/master/changelog.md).

We

[2018-11-02 08:17] ftomassetti commented on #1918
I forgot:
thank you for opening this issue, these kinds of conversations help us learning how to communicate better and learn how to reduce the impact of the changes we introduce. We appreciate you taking the time to explain the issue you are facing to us because in general it is difficult for us to obtain feedback

[2018-11-02 08:21] nkratzke commented on #1918
OK, seems RTFM issue on my side ;-)
You may close this issue then.

[2018-11-02 08:21] #1918 closed, assigned to nobody

[2018-11-02 08:23] ftomassetti commented on #1918
I would not dare saying that to a Professor, of course ;)

Jokes aside, we realize this can be surprising and surprises in general are bad, so we are learning the best way to do these things

[2018-11-02 09:13] matozoid commented on #1918
@nkratzke so for learning: what would you say is the best place to announce breaking changes like this?

[2018-11-02 09:26] nkratzke commented on #1918
Hard to say. I would not say that there is the one and best answer. However, a best practice from my experience is to announce such changes via @Depracated annotations in the upfront of the change - and of course in the changelog as you have done (or in special documents explaining version upgrades from version x.y.z to x.y+1.z).

[2018-11-02 11:32] ftomassetti opened #1920 "Add method isOverriding on MethodDeclaration"

[2018-11-02 14:38] #1395 closed, assigned to nobody

[2018-11-05 08:03] immerser opened #1921 "How to refactoring variable quickly"
How to refactoring variable quickly

from

[code]

to

[code]

[2018-11-06 20:16] matozoid commented on #1921
Hi @immerser! This functionality is currently not in scope of the project. But the tools you need are there: you will need the symbol solver to find out which "a" is the same variable as another "a", then you need to rename all of them.

If it doesn't need to be 100% correct, you can simply use a visitor to rename all "a" SimpleNames.

[2018-11-09 18:02] matozoid commented on #1912
No response, I guess this has been answered.

[2018-11-09 18:02] #1912 closed, assigned to nobody

[2018-11-09 18:03] matozoid commented on #1891
No response, I guess this has been answered.

[2018-11-09 18:03] #1891 closed, assigned to nobody

[2018-11-09 18:03] #1881 closed, assigned to nobody

[2018-11-09 18:03] matozoid commented on #1877
@ftomassetti ?

[2018-11-09 18:20] linh-le commented on #1912
Yes, thanks for following up. Looking for some alternative that fits our purpose better now.

[2018-11-09 20:29] matozoid commented on #1888
Well, sorry for being so late. I googled a bit and would like to ask if `Files.isSameFile` also works? That seems to be the recommended way. I don't have access to a Windows machine so I can't check it myself.

[2018-11-10 08:29] ftomassetti commented on #1877
Mmm, I would be really surprised if a class being final make it unsolvable. An issue with enums instead could be more probable.

Perhaps what can we do here is to try producing clearer error messages.

[2018-11-11 18:07] matozoid commented on #1910
I'm assuming this issue is now fixed.

[2018-11-11 18:07] #1910 closed, assigned to nobody

[2018-11-11 18:37] matozoid opened #1923 "Upgrade to non-buggy surefire plugin"
I just had to add a workaround to the pom.xml:
[code]

Here's the context: https://issues.apache.org/jira/browse/SUREFIRE-1588?jql=project%20%3D%20SUREFIRE%20AND%20fixVersion%20%3D%203.0.0-M1

We need 3.0.0-M1, but that hasn't been released yet, because randomly breaking builds all over the world is not a very pressing problem, I guess.

[2018-11-12 07:34] ftomassetti opened #1924 "Ensure all tests are running on the build"
I suspect we could be missing some tests

[2018-11-13 10:21] cadrian commented on #1766
I have the same problem sometimes.
I never call LexicalPreservingPrinter.setup directly...
My code:
[code]

[2018-11-14 09:19] l0rinc opened #1926 "`NoClassDefFoundError` on `new CompilationUnit()` when using Byte Buddy agent on Java 10+"
Hey,

Using:
- `implementation(group = "com.github.javaparser", name = "javaparser-core", version = "3.7.1")`
- `implementation(group = "net.bytebuddy", name = "byte-buddy", version = "1.9.3")`
- OpenJDK (or Zulu) `10.0.2` or `11.0.1`

I'm getting:
```java.lang.NoClassDefFoundError: Could not initialize class com.github.javaparser.ast.CompilationUnit``` for `new CompilationUnit()` if there is an a

[2018-11-14 09:46] matozoid commented on #1926
Hi! Does #1925 help?

[2018-11-14 09:49] l0rinc commented on #1926
Thanks @matozoid, it could, when can a release be expected? Or how can I validate it?

[2018-11-14 10:25] matozoid commented on #1926
You can check out that branch and build it, then use that snapshot (it's in my clone of the repo), or you can wait until Sunday's release, because I think I'm mostly done with that PR now.

[2018-11-14 10:26] matozoid commented on #1926
(Honestly I have no idea what influence an agent should have on something as basic as JP-core, so I'm assuming the JDK version is the problem.)

[2018-11-14 10:31] l0rinc commented on #1926
The above example is working without the agent on Java 10, it fails only after adding it

[2018-11-14 13:02] l0rinc commented on #1926
It does seem to be working with Java 8 + agent, though

[2018-11-14 15:35] matozoid commented on #1824
No more replies, so I guess everything is solved.

[2018-11-14 15:35] #1824 closed, assigned to nobody

[2018-11-14 15:37] matozoid commented on #1926
Two potential problems fixed in that PR: I was accidentally using a "@Generated" annotation from a package that was split off into a module, and Mockito was upgraded (which upgrades bytebuddy.)

[2018-11-15 02:43] immerser commented on #1921
How about supply util class to solve this

[2018-11-15 08:59] pvojtechovsky commented on #1921
You can look at the algorithms used in Spoon on https://github.com/INRIA/spoon/blob/master/src/main/java/spoon/refactoring/Refactoring.java
There are similar refactorings already done ... just field rename is not there too. But it is somehow similar to other refactorings. So may be it will be helpful while writing he same for JavaParser

[2018-11-15 10:01] ftomassetti commented on #1921
The point is that writing those refactorings on top of Javaparser would be relatively simple, as other users have already implemented them themselves. What we are careful about is to add new features simply because we would have to _maintain_ them. Javaparser is used by a lot of people on a lot of contexts, having different requirements and also aim to support new releases of Java as soon as they

[2018-11-15 10:05] ftomassetti commented on #1921
@pvojtechovsky thank you for the pointers but I think the API used by Spoon is very different in nature, so when replying to issues in the Javaparser issue tracker it would be best to help users by providing examples based on the JP API

[2018-11-15 10:28] tibcoktredget opened #1927 ""com.github.javaparser.ParseProblemException: Lexical error at" attempting to parse Unicode character '\u005c''"
Using javaparser-core-3.7.1.jar attempting to parse a JavaCC generated Java file that contains the line:

`        jjtn000.setValue(t.image.substring(t.image.indexOf('\u005c'') + 1, t.image.length() - 1));`

as the Unicode escape sequence \u005c is the code for the backslash character this is equivelant to:

`        jjtn000.setValue(t.image.substring(t.image.indexOf('\'') + 1, t.image.length() -

[2018-11-15 10:38] matozoid commented on #1927
Thanks, this issue is all the way in the core parser, so it's high priority.

[2018-11-15 17:31] matozoid commented on #1927
As I promised to @davidsusu, I'll fix this by adding an optional unicode preprocessor.

[2018-11-15 21:13] wx930910 commented on #1855
@ftomassetti Thanks a lot for your perivous reply and it really helps!
Now I am able to include all the classes into the combinedTypeSolver, the problem is:
If a child class extend his parent class and the child class didn't import the parent class (if two classes are in the same folder, they don't need to import  parent class to extend it), I cannot solve the type of the parent class by using Cla

[2018-11-16 09:52] ftomassetti commented on #1855
Glad it helped!

Well, that seems as a bug to me. Could you provide a small and reproducible example of this and open an issue? This would help us a lot

[2018-11-16 14:14] jokster commented on #1615
@ftomassetti But that makes it impossible to work with different class paths on different parsings within the same jvm run.

This wouldn't be so bad, if CombinedTypeResolver would work as expected. But this is prevented by https://github.com/javaparser/javaparser/issues/1771

[2018-11-16 14:14] jokster commented on #1851
I guess that's related to https://github.com/javaparser/javaparser/issues/1771

[2018-11-16 14:27] xgulism1 opened #1929 "Find association between MethodCallExpr and variable"
Hi,
I am trying to do the following:
There is a simple class (simplified version of Composite design pattern):
[code]
Using JavaSymbolSolver I am able to find out, that the `clazz.doSomething();` is calling the `public void doSomething()` method using:
[code]

The question is:
Is it possible to verify, that the `doSomething()` is called by the `clazz` variable, which is the element of the `clazzLi

[2018-11-16 15:57] ftomassetti commented on #1929
You want to simply find the scope of the method call. Once you have found it you have to check it has the right class (`NameExpr` I think) and then resolve it. It should be able to tell you that it is a reference to the variable `Clazz clazz` defined in the foreach.

[2018-11-16 15:59] ftomassetti commented on #1615
Yes, you are right @jokster . This needs some thinking, taking into account the nature of Javassist and the way the ClassPool works

[2018-11-17 15:25] xgulism1 commented on #1929
Thanks for the help!
I managed to get the scope using `getScope()`. However, I think I am still struggling with the next part. I think I am missing something very obvious. I am sorry I am new to JavaParser and JavaSymbolSolver. I have this:
[code]
So from there, is there a way to get to the foreach to get a reference to the `clazzList` please?
I could use `resolved.getType().asReferenceType();`, b

[2018-11-17 15:42] #1929 closed, assigned to nobody

[2018-11-17 15:54] matozoid commented on #1929
@xgulism1 `Optional` gets better with `map` and friends. I liked this article: https://www.oracle.com/technetwork/articles/java/java8-optional-2175753.html

[2018-11-18 13:30] matozoid opened #1930 "Clean up unicode preprocessor"
See  #1928

Specifically:
- the code has a lot of redundant stuff in it.
- it throws a runtime exception when a bad escape is encountered (like `\uz`). It should just pass those characters through. (Which is expected behaviour starting from Java 12, but is nice to have earlier too, because the bad escapes get passed into the parser which can produce a decent error instead of a runtime exception.)

[2018-11-18 15:27] jokster commented on #1615
@ftomassetti I'll try to find a solution tomorrow. If I achieve something working, 'll fork and create a pull request.

[2018-11-18 17:33] matozoid commented on #1927
Okay @tibcoktredget, give it a go.

[2018-11-19 11:18] fayazfaizy opened #1931 "Problem in ResolveMethodCalls.class in Java-parser-visited"
If i parse below class with ResolveMethodCalls parser im getting this errror

"package org.javaparser.examples.chapter5;
class A {
public void foo(Object param) {
**Bar.aMethod();**
System.out.println(1);
System.out.println("hi");
System.out.println(param);
}
}

Error :
**Exception in thread "main" UnsolvedSymbolException{context='Bar.aMethod()', name='Bar', cause='UnsolvedSymbolException{context=

[2018-11-21 14:17] Chri-Ri opened #1932 "CompilationUnit-getPackageDeclaration fails when package not in first line"
Hi.
I've got a simple file ( `package-info.java` ):
[code]

for this file the method getPackageDeclaration returns the string `'@TypeDef(name'`.
My assumption is that this is NOT the desired result.  ;)

Edit: Using version 3.6.18

[2018-11-21 14:58] matozoid commented on #1932
Interesting, thanks!

[2018-11-21 18:15] matozoid commented on #1931
@SmiddyPence answered this in the old issue. Did it help?

[2018-11-21 18:15] #1927 closed, assigned to nobody

[2018-11-21 18:21] matozoid commented on #1932
Oh wait, I thought it wasn't parsing correctly :-)

The package is annotated with those annotations, and `toString()` is a pretty printer, so it prints the package declaration including its annotations.

What did you want to do?

[2018-11-21 18:23] matozoid commented on #1926
Any improvement now?

[2018-11-21 18:23] #1923 closed, assigned to nobody

[2018-11-21 18:35] matozoid commented on #1845
https://bugs.openjdk.java.net/browse/JDK-8192963

[2018-11-21 18:49] matozoid commented on #1845
https://bugs.openjdk.java.net/browse/JDK-8207241

[2018-11-21 18:51] matozoid commented on #1845
@ftomassetti there's work for the symbol solver here. In the new JLS, 5.6.3 describes numeric promotion with switch expressions.

[2018-11-21 20:20] matozoid commented on #1845
If I read the JLS change correctly...
- `case` can now take multiple arguments separated by `,`. `SwitchEntryStmt.label` has to become a `NodeList<Expression>`.
- `switch` is no longer a statement but an expression (so it should be wrapped in an `ExpressionStmt` when it is used "normally".)
- besides statements, we now als have `case` expressions that use `->` instead of `:`. I guess the most stra

[2018-11-21 20:39] matozoid commented on #1846
Aaaargh, I thought this one would be easy, but there are two nasty issues:
- no unicode escape interpration inside the backquotes. Just when I added a preprocessing filter for that purpose...
- the amount of opening backquotes has to match the amount of closing backquotes. This rules, I guess, has to be implemented twice: in the unicode preprocessor AND in the parser.

https://bugs.openjdk.java.ne

[2018-11-21 20:47] matozoid commented on #1846
#1930 for the preprocessing.

[2018-11-21 20:54] matozoid commented on #1846
For matching the amount of backticks, I guess we need to:
- have some kind of backtick aggregator. Match one or more backticks, note the length. If it starts a raw string, keep track of the length in a parser-wide variable and turn the backticks into a token. Match raw characters OR the backtick rule again. If backticks are matched and they are the same size that we just kept track of, the raw str

[2018-11-21 21:46] tibcoktredget commented on #1927
Hi Danny, thanks very much for fixing this so quickly - I am out of the
office this week, so will test it out next week. Thanks again
Keith

On 21 Nov 2018, at 18:15, Danny van Bruggen <notifications@github.com>
wrote:

Closed #1927 <https://github.com/javaparser/javaparser/issues/1927>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://

[2018-11-22 07:18] Chri-Ri commented on #1932
Sorry, the result i posted was the result of trying to extract just the package name from the declaration (splitted at ' ' and returning second entry). this simply processing fails if there are annotations in the declaration. Now I've found in the JavaDoc what I was looking for:
`PackageDeclaration.getName()` returns just what I wanted.
Sorry for bothering you.
I just didn't dig deep enough into t

[2018-11-22 08:36] matozoid commented on #1932
It's okay, feel free to ask more questions :-) Good luck!

[2018-11-22 15:46] matozoid opened #1933 "Check if we support {@systemproperty} by default"
https://bugs.openjdk.java.net/browse/JDK-8211132

[2018-11-22 17:18] un0btanium opened #1934 "Blacklist all external libary classes"
Hello,

I have developed a program that tests code projects of students. Now I want to prevent the students from using external libraries. I think there would be two solutions to accomplish this: Either blacklist all external library classes or whitelist all standard java library classes.

My question: Is there an easy way to determine if a (resolved) class (or method) is part of the standard java

[2018-11-22 17:32] matozoid commented on #1934
Well, I'm not really qualified to answer this, I just maintain a parser, but here goes: I think you can build an index of all classes in a JDK by parsing its source code, and that could be your whitelist. Maybe simply looking at the package would do too: `java.*` and `javax.*`.

[2018-11-23 16:14] wozuo opened #1935 "Get FieldDeclaration from ResolvedFieldDeclaration"
Hi everyone,

I just stumbled upon a small problem. I would like to get the FieldDeclaration of a ResolvedFieldDeclaration. If I understand the documentation correctly, this should be possible using `FieldDeclaration fieldDeclaration = resolvedFieldDeclaration.asField();`. But it appears not to work, I get the following error message instead: `Error:(129, 81) java: incompatible types: com.github.j

[2018-11-24 10:49] l0rinc commented on #1926
Hey @matozoid, thanks for your efforts.
Unfortunately I'm still getting the following (`jdk 11.0.1-zulu`, `byte-buddy-dep:1.9.5`, `javaparser-core:3.8.0`):
[code]

[2018-11-24 21:37] matozoid commented on #1926
Is it this one? https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8174817

[2018-11-24 23:46] l0rinc commented on #1926
No, that was solved in Java 9 & 10 and the above happens with 11, too.
Could it be a byte buddy bug in reality, @raphw?

[2018-11-25 06:22] raphw commented on #1926
What is the agent doing? If it instruments core classes, it probably is a class loading circularity triggered by a specific class loading order.

[2018-11-25 12:12] l0rinc commented on #1926
@matozoid, @raphw, I've created a simple project demonstrating the issue: https://github.com/paplorinc/JP_BB_NCDFE

[2018-11-25 18:48] raphw commented on #1926
The example agent is too invasive. By instrumenting all (!) classes, if a class is loaded during an instrumentation will cause a circularity. This will cause the class loading to fail which causes the no class def found error. You should better scope your instrumentation. Also, try logging the classes you instrument and see what classes are loaded right before the failed class loading.

[2018-11-25 18:49] l0rinc commented on #1926
How can an excessive anything cause a reference to an invalid class/method?

[2018-11-25 18:55] raphw commented on #1926
A class that is being instrumented can fail to load and not be available as a consequence. It is not expected behavior but class loading failures can look quite weird on a stack trace. Try setting `.disableClassFormatChanges()` what might help by making the instrumentation less invasive.

[2018-11-25 18:56] l0rinc commented on #1926
I'll try thanks. I have a feeling this is different, though, since `internal` classes cannot usually be accessed in Java 9+ (i.e. `jdk/internal/reflect/GeneratedMethodAccessor14`)

[2018-11-25 18:59] raphw commented on #1926
An important change is that Java 9 loads many classes on the platform class loader and not the bootstrap loader. The bootstrap loader is ignored by default, the platform loader is not. (Maybe that would be a good default.) Try excluding the platform loader to in the context of this problem.

[2018-11-25 19:38] l0rinc commented on #1926
Something may need the `jdk.unsupported`, the mentioned `jdk/internal/reflect/GeneratedMethodAccessor` usage is probably from http://hg.openjdk.java.net/jdk9/jdk9/jdk/file/65464a307408/src/java.base/share/classes/jdk/internal/reflect/MethodAccessorGenerator.java#l767

I still think there's a bug somewhere, but it's probably not in `javaparser`, so I'll cose the issue.
Thank you @raphw for your inv

[2018-11-25 19:38] #1926 closed, assigned to nobody

[2018-11-25 19:49] l0rinc commented on #1926
Btw, @raphw the exception is first thrown when `net.bytebuddy.agent.builder.AgentBuilder$Default$ExecutingTransformer$ByteBuddy$ModuleSupport` is being instantiated (see: `java.base/jdk/internal/loader/BuiltinClassLoader.java:583`) - even when the behavior is correct, though.

[2018-11-26 13:15] KaiNahrgang opened #1937 "[Question] visit/accept method arg parameter"
Hi,
I was wondering about the purpose of the arg parameters in the visit and accept methods - for example:

com.github.javaparser.printer.PrettyPrintVisitor#visit(com.github.javaparser.ast.stmt.IfStmt, java.lang.Void)
com.github.javaparser.ast.stmt.IfStmt#accept(com.github.javaparser.ast.visitor.VoidVisitor<A>, A)

Can someone please give me clarification on how to I use this correctly?

Thanks an

[2018-11-26 13:36] matozoid commented on #1926
Good luck then :-)

[2018-11-26 16:05] SmiddyPence commented on #1937
Hello Kai

Can I suggest you try the book, it is free if you move the slider: https://leanpub.com/javaparservisited

If you're impatient you can jump to page 13, otherwise I recommend starting from the beginning :)

There is also our chat room for general support and questions: https://gitter.im/javaparser/javaparser

Thanks!

[2018-11-26 16:05] #1937 closed, assigned to nobody

[2018-11-26 19:02] wozuo commented on #1935
Ah never mind, the `asField()` method call is unnecessary (I'm not sure what it's use is?) but it's possible to get the FieldDeclaration by casting it to JavaParserFieldDeclaration and then calling `getWrappedNode()`.

[2018-11-26 19:02] #1935 closed, assigned to nobody

[2018-11-27 08:57] loongchow commented on #1277
it seems not solved,i met the problem too

[2018-11-27 09:09] loongchow opened #1938 "addAndGetAnnotaion and LexicalPreservingPrinter UnsupportedOperationException:"
[code]

the file content as below
[code]

[2018-11-27 09:09] loongchow commented on #1938
Exception in thread "main" java.lang.UnsupportedOperationException: kept child(ClassOrInterfaceType) vs "String"   <89>   (line 8,col 9)-(line 8,col 14)
        at com.github.javaparser.printer.lexicalpreservation.Difference.applyKeptDiffElement(Difference.java:442)
        at com.github.javaparser.printer.lexicalpreservation.Difference.apply(Difference.java:134)
        at com.github.javaparser.p

[2018-11-27 10:30] matozoid commented on #1935
I think we added something for this recently, I think "toAst" or so? @ftomassetti ?

[2018-11-27 10:32] matozoid commented on #1938
Also see #1277

[2018-11-27 10:41] tibcoktredget commented on #1927
Thanks very much for fixing this so quickly Danny - I have tested the new
3.8.0 version and by setting the option:

JavaParser.getStaticConfiguration().setPreprocessUnicodeEscapes(true);

I can now parse:

jjtn000.setValue(t.image.substring(t.image.indexOf('\u005c'') + 1,
t.image.length() - 1));

Without setting this option it still fails to parse the code.

Regards
Keith

On Wed, 21 Nov 2018 at 1

[2018-11-27 10:44] matozoid commented on #1927
Cool! Be sure to read the Javadoc about the disadvantages of this setting.

[2018-11-27 13:23] ftomassetti commented on #1935
We need to implent AssociableToAST in ResolvedFieldDeclaration. However the result could be surprising because a field in the AST can correspond to many resolved fields. One resolvedfield would correspond to a VariableDeclarator inside the AST node for a field declaration

[2018-11-27 13:24] ftomassetti opened #1940 "Implement AssociableToAST in ResolvedFieldDeclaration"
See #1935

[2018-11-27 13:26] ftomassetti commented on #1924
This should have high priority

[2018-11-27 14:00] matozoid commented on #1924
Luckily there is no high priority label.

[2018-11-27 14:14] Symbolk commented on #1802
To judge if a method is overriding another one seems simple now:

[code]

But, is it possible to resolve which method it overrides? I am thinking to search the method in the superclass/implemented interface with exact signature.

[2018-11-27 16:32] ftomassetti commented on #1924
I am very confused.

Looking at logs of [this build](https://travis-ci.org/javaparser/javaparser/builds/456620744) I can see that tests are run in 6 blocks with this number of tests

* 3
* 11
* 908
* 3
* 11
* 805

If I run the tests in my IDE:

* Serialization has 11 tests, all passing
* core-testing has 1460 tests, 6 ignored, 4 failing
* solver-testing has 952 tests, all passing

[2018-11-27 16:35] ftomassetti commented on #1924
Looking at the logs, the two blocks of 3 tests correspond to UnicodeEscapeProcessingProviderTest, which is a test class written in core-testing with the new JUnit Jupiter framework

[2018-11-27 16:37] ftomassetti commented on #1924
The 6 ignored files are aboute the Jave10 validator and the LexicalPreservingPrinter.

[2018-11-27 16:41] ftomassetti commented on #1924
I suspect that mixing Jupiter and old tests confuses the build.

[2018-11-27 16:43] ftomassetti commented on #1924
I have no idea why ResolvedPrimitiveTypeTest are run and FindingAllFields are not

[2018-11-28 15:53] matozoid commented on #1802
Hmmm, the `@Override` optional is sadly optional in Java, so you can't depend on that...

I think you want to make some noise here: #1920

[2018-11-28 20:06] un0btanium commented on #1934
Alright good enough :+1:

[2018-11-28 20:06] #1934 closed, assigned to nobody

[2018-11-29 08:45] Symbolk commented on #1920
Looking forward...

[2018-11-29 09:04] ftomassetti commented on #1920
Contributions are always welcome to speed up things :)

[2018-11-29 14:52] matozoid commented on #1920
@ftomassetti can you give some pointers for how to do this? I assume an algorithm has be built that... searches through parents, looking for something that matches the signature of the method or so? Is there already code that can help? What are classes where you expect changes?

[2018-11-29 17:55] pvojtechovsky commented on #1920
Note that it is not only about equality of method signatures. The method signatures has to be first adapted to types used by a sub type. See this simple example, where adaptation is needed
[code]
This docu https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.4.4 and related links helped me to implement it in Spoon.

[2018-11-30 11:41] ftomassetti commented on #1920
If we want to get this right we should follow the [JLS section 8.4.8.1](https://docs.oracle.com/javase/specs/jls/se10/html/jls-8.html#jls-8.4.8.1)

In general I think we can use the functionality to check if a type is assignable by another type (which we already have). We should also consider type erasure (i.e., throw away generic parameters)

[2018-11-30 13:55] mlg255 opened #1941 "JavaSymbolSolver: get filed's fully qualified name"
I have a simple Java source that accesses `File.separator` (see the multi-line string in the source); I want my program to print `java.io.File.fileseparator`. Instead, after it prints "File.separator", I get `UnsolvedSymbolException{context='File', name='Solving File'}`;

[code]
As I understand, somewhere deep in the Java Symbol Solver it tries to resolve `File` as a value, and of course fails.

*

[2018-11-30 14:57] ftomassetti commented on #1941
I have tried this exact same code and I do not see any exception so you may want to double check and possibly correct the issue you reported.

[2018-11-30 15:01] ftomassetti commented on #1941
When you print the node itself (`System.out.println(n);`) you get `File.separator` because you are printing the expression. If you want the fully qualified name of the scope you can get it easily:

[code]

[2018-11-30 16:11] HoldYourWaffle opened #1942 "Unable to solve MethodCallExpr with enum paramter using ReflectionTypeSolver"
I'm trying to create a JUnit test that checks if all the translation keys I use in my project actually exist in the language definitions.
My (generalised) code is as follows:

[code]

This works for most method calls, but it chokes on the expression `something.equals(Enum.CONSTANT)`, throwing the following exception:
[code]

After a short investigation I found out that [`ReflectionEnumConstantDecl

[2018-12-01 02:28] un0btanium opened #1943 "SymbolSolver is unable to .resolve()"
Hello,

i am trying to find the fully qualified name of interface `main.MyInterface<E>` that is being implemented in class `main.MyClass<E>`.

[code]

[code]

[code]

Sadly, this yields me an exception:

[code]

I am setting a SymbolSolver before I start running `.resolve()`:

[code]

I also double checked without the generic types and it always yields the same exception. Same issue with extending

[2018-12-01 02:50] un0btanium commented on #1943
So apparently `.resolve()` is the problem.

The old fashioned way works:
[code]

It is still weird that it works when checking raw source files and it does not work when checking a JAR file. Is this intended behaviour?

[2018-12-01 09:10] mlg255 commented on #1941
I works after updating to 3.8.0 ! Thx!

[2018-12-01 09:42] mlg255 commented on #1941
One more question: can I do the same for a parameter? (See the lines commented out)
[code]

[2018-12-01 11:44] un0btanium commented on #1942
That is probably why it fails ;)

You can use the `CombinedTypeSolver` to register your dependencies.
[code]

You can also create a `CombinedTypeSolver` and add more JARs one-by-one to it:
[code]

Since I am also using Gradle and ran into a similar problem, I solved it with JVM System Properties. You can send all required information from your gradle task to your java executable with them. In your

[2018-12-01 11:57] un0btanium opened #1944 "Are there Patchnotes?"
Hello,

quick question about the releases: Are there some patchnotes about the releases somewhere? I sometimes wish there would be. I usually just take a look at the JavaParser book (_those damn crazy nastyass honey badgers_), if there is something new worth checking out.

I know making patchnotes is a whole science in itself and takes a lot of effort to create. But maybe only the major and minor

[2018-12-01 15:18] HoldYourWaffle commented on #1942
Thank you for your response! It has helped me come further, but I encountered another error.

<br>

That is probably why it fails ;)

That seems unlikely to me, as [`ReflectionEnumConstantDeclaration.getType`](https://github.com/javaparser/javaparser/blob/d5698c6b118d6741dd8d984c37091196b7a0a810/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/reflectionmodel/Reflecti

[2018-12-01 16:22] HoldYourWaffle opened #1945 "JavaParser choking on multiple generic method calls on the same line"
(Part 2 of #1942)

I'm trying to parse some code using JavaParser, but it fails to resolve a method call involving multiple generic methods on a single line.
I could write a very long description of what this code looks like and how it fails, but since that isn't fun for anybody, I have created a small sample project that replicates my code structure in a *very* simplified way while still reproduc

[2018-12-01 21:36] matozoid commented on #1944
Here are the patch notes: https://github.com/javaparser/javaparser/blob/master/changelog.md

Please tell us how to make these more discoverable, because people aren't seeing them :-(

[2018-12-01 21:38] matozoid commented on #1943
Maybe @ftomassetti knows.

[2018-12-01 21:40] matozoid commented on #1945
That's a really great bug report, thanks!

[2018-12-01 21:43] un0btanium commented on #1944
Oh neat. Thats exactly what I wanted :+1:

I usually expect them on the release page. Just adding the link like this (https://github.com/javaparser/javaparser/blob/master/changelog.md#version-371) would already be enough. Then the changelog does not have to be updated in two places and each release presents its own relevant link within the changelog.

And adding the link at the end of the Readme w

[2018-12-01 21:48] #1944 closed, assigned to nobody

[2018-12-01 21:53] un0btanium commented on #1943
I am using the `com.github.javaparser.utils.SourceZip` class to read the JAR file.

[2018-12-02 12:55] HoldYourWaffle opened #1946 "JavaParser not handling a failed solve correctly when using CombinedTypeSolver"
Please forgive me for the jumbled title. I have no idea how to describe this in a single sentence.
Related to #1942 and (I think) #1945.

I have run into another problem while parsing my source code. Starting to wonder if it's my code being bad, JSS not being stable or me using this completely wrong 😅

It all started with a method call like this:
[code]
Which throws the following exception:
[code]

[2018-12-02 13:52] HoldYourWaffle commented on #1946
That's a lot better 😉

[2018-12-02 14:00] ftomassetti commented on #1946
The problem is that JSS is _incomplete_. We report that very clearly by throwing an `UnsupportedOperationException`. In my opinion the most correct way to solve it is implementing the missing functionality.

[2018-12-02 14:16] ftomassetti commented on #1946
I just submitted a PR for this. In general there are cases where `UnsupportedOperationException` is thrown and they can be straightforward to fix, the only issue is a matter of time. The reflection subsystem is the one that has more of these, as the others are used more frequently.

[2018-12-02 14:17] HoldYourWaffle commented on #1946
That would of course be the best solution, but that doesn't solve the "overlying" issue (which is caused by the underlying problem, the UOE). Please forgive me for my garbage English :)

The fact that a `CombinedTypeSolver` fails when a single solver doesn't support a part of the solving process kind of defeats it's point in my opinion. What's the point of having multiple (backup) solvers if it do

[2018-12-02 14:18] HoldYourWaffle commented on #1946
Oh I see that you responded while I was writing my response.
I completely agree that it's a temporary thing, but I still think catching UOE's would solve an underlying (design) issue.

[2018-12-02 14:20] ftomassetti commented on #1946
Well, the fact is that we really do not want an UnsupportedOperationException to go unnoticed, as it would leave to the false assumption that this thing cannot be solved while it _can_ be, the problem is just with the current implementation. If we swallow the exception we risk to have a bug very difficult to track while here the problem was very obvious.

Regarding the thing with splitting the cod

[2018-12-02 14:21] ftomassetti commented on #1946
Also, thank you very much for the detailed bug report. W.r.t. English, I am Italian so your English sounds just perfect to me.

[2018-12-02 14:24] HoldYourWaffle commented on #1946
That's a really good point. Hadn't thought of that one.

I'll try this soon.

Got another one incoming 😉

That's a great relief! I feel like most of my English is fairly good, but some sentences are just utterly broken. Great to hear it's not a problem.

[2018-12-02 14:37] ftomassetti commented on #1943
Are you setting the symbol solver _before_ parsing?

[2018-12-02 14:37] ftomassetti commented on #1943
the problem seems to be that typesolver is not injected in the nodes

[2018-12-02 14:52] un0btanium commented on #1943
Yes, since my file is ruff spaghetti code, I am very confident that I setup the SymbolSolver before reading any of the source code file. The file looks like this:

[code]

[2018-12-02 14:56] un0btanium commented on #1943
I should really get into streams. The code is embarrassing :D

[2018-12-02 15:54] HoldYourWaffle opened #1948 "InvalidPathException when parsing interface with generic interface ancestors"
Closely related to #1876 (might even be identical), but I think I have some new (and probably better explained) information.
As with my previous issues, there's a [sample project](https://github.com/HoldYourWaffle/JavaParserGenericSuperInterfaceChoke). It mostly speaks for itself this time, there's a diagram in the readme that explains the class hierarchy.

The source of the error is method calls

[2018-12-02 15:56] HoldYourWaffle commented on #1942
This isn't actually solved yet, just a workaround.

[2018-12-02 16:06] ftomassetti commented on #1942
Fixed by #1947

[2018-12-02 16:06] #1942 closed, assigned to nobody

[2018-12-02 16:06] HoldYourWaffle commented on #1946
Just tested it, everything passes with the new code.

[2018-12-02 16:06] ftomassetti commented on #1946
Fixed by #1947
Thank you for testing it @HoldYourWaffle !

[2018-12-02 16:06] #1946 closed, assigned to nobody

[2018-12-02 16:50] un0btanium commented on #1943
I probably should explain it a little bit, so that it might be more helpful when it comes to help figure out what went wrong.

The input is a path to a folder containing source files or a JAR file.
The first part is where I define the `TypeSolver` by adding the path to the JAR file or folder.
Then I have two ways to read the source files. One for the folder, where I just scan it for `.java` files

[2018-12-03 12:36] HoldYourWaffle opened #1949 "JSS can't resolve super-default method reference"
Found another issue. ([Sample project](https://github.com/HoldYourWaffle/JavaParserDefaultMethodChoke))
This one's quite simple, JSS is unable to solve a method call like this one:
[code]

[2018-12-03 13:12] HoldYourWaffle opened #1950 "Unambigous ambiguity call with <Void> generics and lambda's"
JSS can't resolve lambda ambiguities related to `<Void>` generics when there are method overloads like this:
[code]
As always there's a [sample project](https://github.com/HoldYourWaffle/JavaParserGenericVoidAmbiguity). I've added comments in-code explaining why certain calls are non-ambiguous though JSS thinks they are. I don't think it's necessary to repeat it here, it's pretty self-explanatory

[2018-12-03 15:10] matozoid commented on #1689
@jamierocks is volunteering! Let's go for a prototype first, indeed. Maybe just something that takes the AST, juggles the tokens around for a few rules and outputs it.

The most challenging parts of the AST to format are variable/field declarations and method declarations, because:
- array brackets can be all over the place, like `int[] a[], b[][];` and `int[] a()[]{}`
- multiple variables can be

[2018-12-03 15:32] #1698 closed, assigned to nobody

[2018-12-04 17:03] ftomassetti commented on #1950
The very best and ideal thing would be a PR containing a failing test based on the sample project you defined

[2018-12-04 17:03] ftomassetti commented on #1949
This should not be too hard to solve, just a missing functionality

[2018-12-04 20:42] HoldYourWaffle commented on #1950
I'll create one sometime this week

[2018-12-04 20:49] l0rinc opened #1953 "`ObjectCreationExpr` creation should default to the same state as the parser does"
It would seem logical for the following test to pass:
[code]

since however
[code]
defaults to empty type arguments while `JavaParser.parseExpression` defaults to null, they won't be equal.

The following would fix the issue:
[code]

(wanted to provide a PR but wasn't sure where to put tests for `ObjectCreationExpr`)

[2018-12-04 21:39] matozoid commented on #1953
That makes sense. A PR is welcome :-)