[2018-03-06 09:38] ftomassetti commented on #1439
Well, no, they would be classified as static calls because the MethodDeclaration is marked as static

[2018-03-06 09:53] malteskoruppa commented on #1439
Exactly, that's what I mean. And wouldn't this classification be incorrect? I'm not even sure there. :wink: But I tend to think that a method call expression of a static method via an instance variable is still an *instance call* from the caller's point of view. So to be completely accurate, `MethodCallExpr#isStatic()` would have to return `false` in this case (even though the method definition is

[2018-03-06 09:58] ftomassetti commented on #1439
Well, I disagree because to me it would be a static call because that call would not have access to any instance. It would just be a weird usage of the syntax. But I can see that we may want a way to determine if the scope is a value or a type.

[2018-03-06 10:05] AwesomeLemon opened #1456 "SymbolSolver fails with StackOverflow due to incorrect type solving"
Suppose you have a type ``A`` that extends from a type with the same name but from a different namespace, e.g. ``namespace.A``
(Case in point is the class here: https://github.com/michael-rapp/AndroidAdapters/blob/master/library/src/main/java/de/mrapp/android/adapter/list/ListAdapter.java)
When ``A`` is solved, its ancestors are solved. One of those ancestors is ``namespace.A``.
Now suppose that t

[2018-03-06 10:07] malteskoruppa commented on #1439
Yes, that's true; I see that too, which is why I said it would be "arguably" incorrect to classify such a call as static. But I guess you're right, we would be quite justified in calling such a call "static", even though the scope is a value.

I agree, it would be really cool if there was a way to determine this.

[2018-03-06 11:37] AwesomeLemon opened #1457 "SymbolSolver fails with StackOverflow because of incorrect ancestor search order"
Offtop: these stack overflow bugs get funnier the deeper I go.
So in project (https://github.com/KNightWeng/TAkeMeHome) there's a situation that can be simplified like so: there're classes ``name1.A``, ``name1.B``, ``name2.B``. The hierachy is like so: ``name1.A`` extends ``name1.B``, ``name2.B`` extends ``name1.A``.
When solving ``name1.A`` its ancestor is solved, and at ComilationUnitContext:161

[2018-03-06 11:39] ftomassetti commented on #1457
Welcome to my world... :D

This stuff is tricky and very easy to overlook. We definitely need more help with reports like this one. Ideally also Pull Requests would be **VERY** appreciated :D

[2018-03-06 12:05] AwesomeLemon commented on #1457
This one seems straightforward. Created pull request

[2018-03-06 12:43] ftomassetti commented on #1457
Thanks!

[2018-03-06 13:00] #1457 closed, assigned to nobody

[2018-03-06 13:50] malteskoruppa commented on #1439
Concerning that PR for a method `MethodCallExpr.isStaticCall()` that we talked about...

After our discussion I'm not even sure that this would be useful anymore. :wink:

Wouldn't the implementation of that method essentially look like

[code]

This is so easy that I'm wondering whether it actually yields any benefit? It also feels a bit out of place. If `MethodCallExpr` has such a method, then `F

[2018-03-06 18:00] matozoid commented on #1451
Assuming this is answered.

[2018-03-06 18:00] #1451 closed, assigned to nobody

[2018-03-09 03:46] Otanikotani opened #1459 "LexicalPreservationPrinter does not prepend newline to added imports"
This is a unit test for `LexicalPreservingPrinterTest` which currently fails:

[code]

The issue is that when a new import declaration is being added it will look like `import a; import b;` - on the same line.

Locally, I fixed it by adding a new DATA key - Whitespace and specifying what kind of whitespace must be added on any `add` operations. I think it is not a good solution, but if you are int

[2018-03-09 03:50] Otanikotani opened #1460 "Insignificant semicolons make LexicalPreservingPrinter fail"
This is currently failing unit test for `LexicaltPreservingPrinterTest`:

[code]

Error:

[code]

Locally, I fixed it by adding another condition for Difference:517 - `nodeTextEl.isWhiteSpaceOrComment() || nodeTextEl.isSemicolon()` providing the method semicolon, new token type and etc. I think it is not very good, because I don't fully understand processes in `Difference` class and most likely I

[2018-03-09 12:57] nguyentruongtho opened #1461 "Wrong indentation when adding a new annotation"
I am using java-parser for adding a new annotation:
[code]
and I also use `LexicalPreservingPrinter` to preserve the code that doesn't change.

This ended up giving me a wrong format code as following:

before:
[code]

after:
[code]

expect:
[code]

Javaparser version: `3.5.12`

[2018-03-09 18:21] matozoid commented on #1461
Interesting!

[2018-03-10 20:13] Lokendra-Sharma opened #1462 "Method Annotations are not coming Proper"
If a method has multiple annotation and between annotation if there is  commented code then that commented code also concatenate with annotation mentioned after the commented code. example

@Override
// this is commented code
@CustomAnnotation
public void show() {
}

when creating compilation unit for this class and reading ClassOrInterfaceDeclaration then getting methods from cd.getMethods() and

[2018-03-10 21:03] matozoid commented on #1462
Hi!
Can you try playing with `ParserConfiguration.setDoNotConsiderAnnotationsAsNodeStartForCodeAttribution`?

(Hmmm, it's badly named. It should be setDoNotConsiderAnnotationsAsNodeStartForCommentAttribution, or even better `ignoreAnnotationsWhenAttributingComments`.)

[2018-03-11 17:43] matozoid commented on #1460
Hmmm, I need to consult @ftomassetti for this. @ftomassetti - how would we treat a ";" that is ignored during parsing? It can only be found as a token in the token list.

[2018-03-11 17:44] matozoid opened #1465 "Rename javaparser-testing to javaparser-core-testing"

[2018-03-11 18:27] ftomassetti commented on #1460
Why should a semicolon be ignored during parsing?

On Sun, Mar 11, 2018, 6:43 PM Danny van Bruggen <notifications@github.com>
wrote:

[2018-03-11 18:30] ftomassetti commented on #1459
The failing test is precious and I would like to take a look on your
solution

On Fri, Mar 9, 2018, 4:46 AM Andrey Artyukhov <notifications@github.com>
wrote:

[2018-03-11 18:35] matozoid commented on #1460
Like the example above:
[code]
It's meaningless to Java. (Contrast `while(true);` where the semicolon *is* meaningful.)

[2018-03-11 18:37] matozoid commented on #1459
I just fixed it :-D

[2018-03-11 18:39] matozoid commented on #1461
I've put together the test case: https://github.com/matozoid/javaparser/commit/82a96e2c5db9571911966113d31b2a256964418f

[2018-03-11 18:57] matozoid commented on #1453
This only needs links to the articles I wrote.

[2018-03-11 18:59] #1459 closed, assigned to matozoid

[2018-03-11 19:08] matozoid commented on #1459
@ftomassetti respect for your code by the way, I managed to fix a few of these just by tweaking the CSM!

[2018-03-11 19:09] ftomassetti commented on #1459
Eh eh, good to hear!

On Sun, Mar 11, 2018, 8:08 PM Danny van Bruggen <notifications@github.com>
wrote:

[2018-03-12 10:10] ftomassetti commented on #1453
Easy solution: add them manually by adding the links in the resources page

Difficult solution: find how to insert a snippet that automatically list all posts created in the wordpress installation

[2018-03-12 10:12] ftomassetti commented on #1460
Mmm I see. I think we could treat those semicolons as they were comments or space: useful only for presentation purposes.It could be tricky as sometimes semicolons are very relevant...
This is something to be fixed when applying the difference I think: if we see a semicolon on the existing code and we do not expect it we should just leave it as it is.

[2018-03-12 13:34] matozoid commented on #1453
Done manually for now.

[2018-03-12 13:34] #1453 closed, assigned to matozoid

[2018-03-13 11:44] philippehenri-gosselin opened #1467 "Exception thrown when adding a method with body content"
I parse an existing class, than add a new method to this class (I am currently improving EasyUML also on github):

[code]

If I print with LexicalPreservingPrinter, then I get an exception from method "LexicalPreservingPrinter.interpret()":
[code]

If I add the following changes:

[code]

Then everything's fine, except for the generated method:

[code]

[2018-03-14 10:43] ErkoKnoll commented on #1448
Hi,

I don't have any more info, I just noticed those 3 enums behaving as such that are part of the JDK.

[2018-03-14 10:49] ErkoKnoll opened #1468 "Parser fails when the variable name is keyword"
Hi,

I stumbled upon a code in dom4j library where in one of the classes a variable is defined as "enum" and because of that parser fails for this class with the following exception:

Caused by: com.github.javaparser.ParseProblemException: (line 234,col 25) 'enum' cannot be used as an identifier as it is a keyword.
(line 242,col 27) 'enum' cannot be used as an identifier as it is a keyword.
(line

[2018-03-14 11:15] matozoid commented on #1468
Is it old source code? Try this article: http://javaparser.org/setting-java-8-9-10-etc/

[2018-03-14 11:33] ErkoKnoll commented on #1468
This library is indeed very old. But as I'm targeting other sources also and for Java 8 then I figured it is simply easier to rename that variable.

[2018-03-14 11:33] #1468 closed, assigned to nobody

[2018-03-15 15:08] ghost opened #1470 "Equivalent of Roslyn TypeSyntax / Get Types"
Hello,

I am trying to find the fastest way to resolve types.
With Microsoft roslyn all you need to collect are TypeSyntax nodes which reference other Classes, so basically everything inside your file whose origin is from another class in your project. Then you could just get the package name + class name of that Node.

What I used to do last year with JavaParser year was collect multiple nodes li

[2018-03-18 18:28] matozoid commented on #1462
No response, assuming answered.

[2018-03-18 18:28] #1462 closed, assigned to nobody

[2018-03-18 18:29] matozoid commented on #1449
No response, considering answered.

[2018-03-18 18:29] #1449 closed, assigned to ftomassetti

[2018-03-18 18:30] matozoid commented on #1439
@ftomassetti @malteskoruppa - will anything more happen in this issue? :-)

[2018-03-18 18:30] matozoid commented on #1406
Looks like this is answered :-)

[2018-03-18 18:30] #1406 closed, assigned to nobody

[2018-03-18 19:02] Lokendra-Sharma commented on #1462
ParserConfiguration.setAttributeComments(true);
Above mentioned solution is working for me, Now all comments are ignored by this. It worked.

I have one more query.
Could you please tell me, Is there any way to get all implementation classes of an interface by using javaparser-core api, because from class we can get all implemented types but not vice-versa.

[2018-03-18 19:59] matozoid commented on #1462
@Lokendra-Sharma - that is a task for the symbol solver. If you have questions about that, please open a new issue :-) (also: https://github.com/javaparser/javasymbolsolver-maven-sample )

[2018-03-19 14:25] ghost opened #1472 "findAll throws StackOverflowError in recursion"
the findAll() method throws a StackOverflowError where getChildNodesByType() works just fine

JavaParser version 3.5.18

To reproduce:

[code]

And the File:
[code]

[2018-03-19 15:22] matozoid commented on #1472
Hi! It's because the first node that `findAll` looks at is the startnode you supply. Since it is the type you want to find, it will match, and your code will call `recursiveTest` with the same node again.

I'm not sure why there is recursion in your algorithm: findAll finds all nodes in the complete subtree of the type you request.

[2018-03-19 15:24] matozoid opened #1473 "Make variants of all find... methods that take a TreeTraversal argument"
It seems only `findFirst` has one?!

[2018-03-19 15:39] ghost commented on #1472
Thanks for the fast reply
I need it to count lines of code and other metrics. Class A shouldn't have the sum LoC of all inner classes inside it, class B shouldn't have the lines of code of C etc.
I want the metrics to be 100% class specific and not accross multiple classes.

Imagine three Classes with a certain number of lines of code
[code]
A=100LoC, B=50LoC, C=50LoC

I need to traverse the tree

[2018-03-19 15:57] matozoid commented on #1472
There are lots of ways to solve this. I'm thinking you could use a visitor that visits `ClassOrInterfaceDeclaration` and returns the number of lines used by it, plus the number of lines used by its nested classes. Don't forget to call `super.visit` so it will visit those nested classes.

There's more to it, but I'm at work so can't try out things :-) Give it a go and report back if you can't get i

[2018-03-19 16:02] ghost commented on #1472
Nevermind. A simple if(childNode!=node) {recursuion} should have the same effect as getChildNodesByType. Bit on the slow side today :)

Thanks for the help! closing

[2018-03-19 16:02] #1472 closed, assigned to nobody

[2018-03-20 10:30] jlerbsc opened #1474 "How to get a type resolution from a static ExpressionStatement"
I would want to resolve the type of C on this ExpressionStatement but i cannot obtain a FieldDeclaration from the method Navigator.findNodeOfGivenClass. It's probably not the better way to do this. Could you give me a tips?
    C.callStaticC();

[2018-03-20 10:35] ftomassetti commented on #1474
You have just to find the node describing "C". It can be done in different ways. For example you can get the expression inside the ExpressionStatement and cast it to a MethodCallExpr. At this point you call getScope (or something similar) et voila, here you get the node for "C"

[2018-03-20 11:50] malteskoruppa opened #1475 "Which method parameters are declared final in JavaParser?"
I have a question that doesn't directly have anything to do with _using_ JavaParser, but more about the _code style_ used in JavaParser's own  source code. I hope it is not out of place. Otherwise, please feel free to remove it.

I noticed that, throughout the JavaParser source code, many method parameters are declared as `final`. Not all of them, but certainly a noticeable amount.

This led me to

[2018-03-20 18:14] matozoid commented on #1475
Ow, thanks for the compliment :-) In my opinion making method parameters final adds really little. I don't even think it's a sin to change a parameter in the method itself. When I add final to a parameter I'm probably in an "everything should be pretty" mood. On the other hand I do add final to local variables a lot - they reduce the amount of state you have to deal with in a method, and after a w

[2018-03-20 18:32] ftomassetti commented on #1475
I agree with @matozoid . I can only add that in many modern languages (like Kotlin) parameters are immutable. Less state, less headache.

If you use `final` consistently when you do not use it you are communicating to the reader that the particular parameter is going to be changed. If you use it only sometimes you just confuse the reader.

[2018-03-20 18:32] NicoN777 opened #1476 "Removing Constructor"
Hi guys, I am really digging JavaParser!
I ran into an issue with removing a constructor. I am currently using version 3.2.12, as it is the only version supported at my workplace. I was also having some issues with ClassOrInterfaceDeclaration.remove(MethodDeclaration), but found a way to remove some methods with the following sample code:
[code]
I was wondering if there is a way to remove a constr

[2018-03-20 18:35] ftomassetti commented on #1476
Thank you

I wonder why that is the case

Also constructor nodes should have the remove method. You just need to identify the constructor you want to remove. You can do that by looking at the signature typically

[2018-03-20 18:36] ftomassetti commented on #1439
Not sure...

[2018-03-20 18:50] matozoid commented on #1476
Adding to what @ftomassetti said: a `ConstructorDeclaration` is a `BodyDeclaration`, and every `TypeDeclaration` has a list of `BodyDeclaration` called `members` where you can find the constructors.

[2018-03-20 23:13] malteskoruppa commented on #1475
Thanks guys, I agree with you too. :smiley: So I'm going to stay with not adding the `final` keyword to parameters, except where needed (anonymous classes) or where I feel that for some reason I want to communicate to other developers that a given parameter should really really not be reassigned.

I think that making method parameters immutable by default as in Kotlin is a great idea -- that's the

[2018-03-21 10:43] ghost commented on #1470
I should be able to figure this out and most likely will write a guide about it, as no documentation about the new API exists as of right now.

Could I just get clarification which classes exactly are deprecated?
Am I correct in assuming that `CombinedTypeSolver`, [`JavaParserFacade`](https://github.com/javaparser/javaparser/issues/1377) and `JavaParser `(`SourceRoot.getJavaParser()` suggests so)

[2018-03-21 13:07] ghost commented on #1474
This should do the trick as well I think:

[code]

Edit: the difficult part seems to be when someone imports a static method. In that case the actual class is not inside the code anywhere

[2018-03-21 14:57] matozoid opened #1477 "Improving OSGI support"
We have pretty basic osgi support right now. I'm pretty sure it's broken right now because we keep forgetting to add new package to the configuration. We could automatically generate those packages, and maybe set a real version number too.

[2018-03-21 14:58] matozoid commented on #1477
It's easy *for someone who knows osgi* :-)

[2018-03-21 14:58] matozoid commented on #1470
@ftomassetti?

[2018-03-21 15:25] ghost commented on #1470
Oh well, pretty much finished now anyway.

I'll be posting the guide here towards the weekend and then leave this issue up for another week or two before I close it, so other people can see it as well.

[2018-03-21 15:29] jlerbsc opened #1478 "Update JavaParser: visited"
I don't think the book is up to date.
Could you update it with new features and uses non deprecated api in exemples? Thanks

[2018-03-21 15:55] NicoN777 commented on #1476
Thanks for the super fast response!
I was able to achieve the goal with the follwing:
classOrInterface.getMembers().removeIf(member-> member.getMetaModel().is(ConstructorDeclaration.class));

[2018-03-21 15:55] #1476 closed, assigned to nobody

[2018-03-21 23:14] malteskoruppa commented on #1439
Not sure either. :smiley:

Let me sum this up: JavaParser's symbol solver can be used to determine, for a method call expression, whether the called method is static (`resolveInvokedMethod().isStatic()`). However, it cannot be used to determine whether the scope of a `MethodCallExpr` is a type (e.g., `SomeClass.foo()`) or an expression that evaluates to a variable (e.g., `someObj.foo()`). In fact,

[2018-03-22 09:27] matozoid commented on #1476
Heh, I never thought of using the meta model that way. Nice :-)

(But member probably already has `isConstructorDeclaration()`)

[2018-03-22 09:33] ftomassetti commented on #1476
You could have just used instanceof on the member, without the need to pass through the metamodel.

But still, long life to the metamodel :D

[2018-03-22 10:55] ErtelJessica opened #1479 "JavaParserFacade.solve(FieldAccessExpr fieldAccessExpr) doesn't return SymbolReference<ResolvedFieldDeclaration>"
The used Method of JavaParserFacade is
public SymbolReference\<ResolvedFieldDeclaration> solve(FieldAccessExpr fieldAccessExpr) which should return SymbolReference\<ResolvedFieldDeclaration>.

What I'm looking for is the JavaParserFieldDeclaration to get the initializer value for my fieldAccessExpr. My code is

[code]
But I get the following Error:
Exception in thread "main" java.lang.ClassCastExc

[2018-03-22 14:09] malteskoruppa opened #1480 "MethodCallExpr#resolveInvokedMethod() does not work correctly for inherited methods"
As the title says, `MethodCallExpr#resolveInvokedMethod()` does not work correctly when trying to resolve calls to inherited methods.

Consider the following two classes:
Class A:
[code]

Class B:
[code]

When I call `resolveInvokedMethod().getQualifiedName()` on the `MethodCallExpr` that represents the call `foo()`, I get: `org.testapp.A.foo()`. This is incorrect, as the called method is actually

[2018-03-22 14:28] ftomassetti commented on #1480
I disagree on the first point: the method being called is defined in A, so in my opinion it should be the method org.testapp.A.foo, *unless* it was overwritten.

On the second point you are right: inherited private methods should not be visible

[2018-03-22 15:18] malteskoruppa commented on #1480
Well I had a feeling that there may be differing views on the first point. :-)

I understand that method `foo()` is _defined_ in class `A`. However, the method that is being _called_ here is the (implicitly inherited) method `foo()` in class `B`. I think that both are important pieces of information, and I think that the symbol solver should make it possible to retrieve either of them, depending o

[2018-03-22 16:34] ftomassetti commented on #1480
Yes, we have different points of view :)
It seems to me that you want the type on which the method is called.

I still do not understand why would you need to get `B.foo` but currently in JSS that declaration would not exist. Introducing a sort of "virtual" declaration could be complicate.

Regarding case 2, can you see if there is a value and if not assume the scope would correspond to a type? I

[2018-03-22 17:33] malteskoruppa commented on #1480
Exactly! :-)

I don't really need to get `B.foo()`, I just need to know that `foo()` is called on the type `B`. I agree that having virtual declarations, as you say, indeed sounds rather complicated. For me it would already be enough if there was some way to determine the type that a method is called on. :-)

Would you agree that it is a valid question to ask: What's the type on which a method is

[2018-03-23 14:43] daanschipper opened #1482 "[Question] How to get the ResolvedType of a MethodCallExpr within a multi catch?"
How would one get the type of a `MethodCallExpr` within a multi catch? I've provided the following example to illustrate what I exactly mean. Of the two printing statements, I would like to know the types of the arguments. For just the argument `e` I get a ResolvedUnionType of  `java.lang.ArrayIndexOutOfBoundsException | java.lang.ClassCastException`, but when I try to get the type of `e.getMessag

[2018-03-23 14:47] ftomassetti commented on #1482
This is a current limitation of JSS. It should look for common ancestors of all the types involved in the union and use that common ancestor to solve the method calls.

If someone wanted to submit a Pull Request it would be great and we could help him getting done

[2018-03-23 14:52] daanschipper commented on #1482
Why would you like for the common ancestor of all the types and then only resolve the method call for that common ancestor? Isn't it possible to resolve the method call for each type and merge the `ResolvedType`s together in a `ResolvedUnionType`?

[2018-03-23 14:54] ftomassetti commented on #1482
No, that would be wrong I think, because if the two types have two unrelated methods that happen to have the same name and a compatible signature I do not think that would be valid. In this case both are Exception and Exception has the method getMessage, so it is valid to refer to it. If both classes defined independently a method named `foo`, `e.foo()` should not work in my opinion (but I could b

[2018-03-23 15:08] daanschipper commented on #1482
I'm not that familiar with union types. Considering your example, if it is valid to have the same method `foo` defined with different returning types (say `int` and `String`) in a union type environment, wouldn't it make sense that `getType(e.foo())` would return both `int` and `String`?

[2018-03-23 15:10] ftomassetti commented on #1482
no. That call would not be valid. It should not compile at all

[2018-03-23 15:18] matozoid commented on #1482
Here's a demo - @ftomassetti has the right algorithm :-)
[code]

[2018-03-23 15:19] ftomassetti commented on #1482
Still we have to implement it :)

[2018-03-23 17:46] #1465 closed, assigned to matozoid

[2018-03-24 19:15] ozangunalp opened #1483 "Enum Declaration Constant addition with Lexical Preservation"
While using LexicalPreservingPrinter, adding an enum constant always adds the constant inline with the previous constant.

Considering a source enum like :
[code]

If the change adds the enum constant `A2(2)`at the end, it should give
[code]

Instead the LexicalPreservingPrinter writes :

[code]

[2018-03-24 19:55] ghost commented on #1470
It's done https://sdoplace.wordpress.com/2018/03/24/english-how-to-parse-a-project-and-get-types-of-nodes-with-javaparser/ .

If there are graves mistakes or things I missed/that are important please let me know here or on the site.  When I have more time to play with Javaparser, I'll most likely update the guide with new information.

Edit: If you don't necessarily want to leave this issue open f

[2018-03-24 20:00] matozoid commented on #1483
All added code is formatted according to some built in rules. So, it doesn't inspect the enum to see how it is currently formatted. This issue can stay open to implement that functionality. Meanwhile I'll go make sure the alignment is vertical instead of inline.

[2018-03-24 20:33] matozoid commented on #1470
Cool, I'll refer people to that if they have questions :-)

Of course, the state of the documentation is horrible right now: we made a huge change and then we found we had no time to update the docs. So, how would you feel about having your name on the JavaParser book too? You only need to update the symbol solver chapter ;-)

[2018-03-24 22:04] ghost commented on #1470
Haha, I feel like my knowledge is by far not good enough to tackle that right now

Also I just found these [Presentation Slides](https://tomassetti.me/wp-content/uploads/2017/12/JavaParser-JUG-Milano.pdf) which actually are pretty much up to date. Wish I had found them earlier. Should be the best ressource as of right now

[2018-03-25 03:02] BFergerson opened #1485 "StackOverflowError on getBinaryTypeConcrete (double + String)"
The following code causes a StackOverflowError when solving the method call `System.out.println(result.getReal()+","+result.getImaginary());`:
[code]

I took a swing at trying to solve this one but not quite sure how to. From what I can tell it tries to solve the type of the binary expression `result.getReal()+","` and it tries:
https://github.com/javaparser/javaparser/blob/f8700e351207b99d7034e59

[2018-03-25 03:46] BFergerson commented on #1485
Some test code and further clarification:
[code]

I'm manually selecting the jars from the JRE to include because of a prior conflict that's forcing me to explicitly parse using Java 7 even when running on Java 8. I noticed that if I comment out the two lines importing JRE jars and uncomment the `ReflectionTypeSolver` that this code won't cause a StackOverflowError but instead thinks that the refe

[2018-03-25 18:58] #1475 closed, assigned to nobody

[2018-03-26 07:49] ozangunalp commented on #1483
Great! If you point out where to touch I'd be glad to prepare a PR.

[2018-03-26 10:47] matozoid commented on #1483
Oh, I made this one already: #1484 :-)

[2018-03-26 11:02] ozangunalp commented on #1483
👍 that should do it too. Thanks!

[2018-03-26 11:09] matozoid commented on #1483
I'll release a new version tonight with this in it

[2018-03-26 13:37] malteskoruppa commented on #1480
@ftomassetti One more note, or rather, a suggestion for a very small improvement in the JSS API. :-)

In my original post I argued that `resolveInvokedMethod().getQualifiedName()` should return `org.testapp.B.foo()` instead of `org.testapp.A.foo()`. You answered:

As discussed I understand why you want to return `org.testapp.A.foo()`. However, I have a small suggestion: I think in this case it wou

[2018-03-26 13:40] matozoid commented on #1480
I'm all for staying consistent with the JLS. This stuff is confusing enough.

[2018-03-26 17:26] jlerbsc commented on #1474
Hi, I got a java.lang.reflect.InvocationTargetException with this code. Where is the mistake?

    CombinedTypeSolver typeSolver = new CombinedTypeSolver();
    typeSolver.add(new ReflectionTypeSolver());
    ParserConfiguration parserConfiguration = new ParserConfiguration().setSymbolResolver(new JavaSymbolSolver(typeSolver));
    JavaParser parser = new JavaParser(parserConfiguration);

    Stri

[2018-03-26 17:59] leus opened #1486 "PrettyPrinter stack overflow on deep if / else if statement"
I'm generating a Java unit that creates an **_if / else if_** statement which goes something like this:
[code]
When the code generates above a certain number of these "integrations" (on my computer is around 1,947), I get a stack overflow error:

[code]
In the meantime I *think* I can change my generated code, but if I can't, is there a way to get the generated code as string without hitting this

[2018-03-26 18:14] matozoid commented on #1486
Sadly no, the only option is to increase the stack size of the JVM.

If you want to generate slightly different code, try getting rid of the else's:

[code]

[2018-03-26 20:55] ftomassetti commented on #1486
Arguably 1,947 is a big number here...

[2018-03-26 20:56] ftomassetti commented on #1474
In these cases it helps if you report the whole stack trace

[2018-03-26 20:58] ftomassetti commented on #1480
If I remember correctly I did not called it canonical name because I wanted also to use this methods for local classes, which, if I remember correctly, do not have a proper canonical name.

[2018-03-27 06:05] jlerbsc commented on #1474
Sorry i cannot reproduce it. For now i get this stack. Perhaps it's caused by the fact the C class is defined in another compilation unit.
[code]

[2018-03-27 07:33] matozoid commented on #1486
Maybe a lookup in a HashMap would be even better for that code.

[2018-03-27 07:35] matozoid commented on #1480
@ftomassetti any alternatives?

[2018-03-27 12:08] ftomassetti commented on #1480
It is just that "canonical name" to me it seems a definition with a precise meaning, so we must be sure that when we use it we use it as the definition forces us too. I think that we want also a second kind of name that is present even when a canonical name is not technically available

[2018-03-27 12:30] malteskoruppa commented on #1480
@ftomassetti That's true, but a local class does not have a fully qualified name either. Quoting from JLS 6.7 (https://docs.oracle.com/javase/specs/jls/se9/html/jls-6.html#jls-6.7):

So both `getQualifiedName()` and `getCanonicalName()` are equally incorrect from that perspective (in the context of local classes). But `getCanonicalName()` at least has the advantages that I mentioned above.

Actual

[2018-03-27 12:36] ftomassetti commented on #1480
Your comments are appreciated. We focused on getting a decent product with the necessary features done but now that the user base is growing and the features have been implemented we can focus on getting things polished and correct some decisions. Your comments help us doing that.

Still we have the problem of lacking the manpower :)

Yes, I did not even know the JLS had a definition of "qualified

[2018-03-27 13:18] malteskoruppa commented on #1480
I'm happy to hear my comments are appreciated, thank you. :smiley:

Well I think that having a name that is present always, even in the case of a method defined in a local class, is a bit of a different problem and should probably be discussed in a different issue to avoid confusion. But anyway, here's some thoughts:

- Local classes are not the only problem here. It gets even harder with _anonymo

[2018-03-29 05:34] anatolyD opened #1487 "Fluent statements building"
Hi guys,
  I wonder if for the code manipulation we can come up with some fluent approach. For example to build expression: `new ExpressionStmt(new AssignExpr(new NameExpr(outgoingVariable), methodCallExpr, Operator.ASSIGN));`

We could have done: `ExpressionStmt.assign().name(variable).to(methodCallExpr);`
`// Operator.ASSIGN to be the default one for example`

What do you think?

[2018-03-29 06:46] ErtelJessica opened #1488 "JavaParserFieldDeclaration vs. ReflectionFieldDeclaration and how to get initializer"
My challenge is to get the initializer to an FieldAccessExpression.
What I tried so far ist calling public SymbolReference<ResolvedFieldDeclaration> solve(FieldAccessExpr fieldAccessExpr) of JavaParserFacade which should return SymbolReference<ResolvedFieldDeclaration>

That works, if I get an JavaParserFieldDeclaration:
[code]
But sometimes I also get an ReflectionFieldDeclaration instead of a Ja

[2018-03-29 07:59] matozoid commented on #1487
Hi! All setters return `this` for this purpose. The idea is to pick a constructor, then continue with a chain of setters. Can you try that?

[2018-03-29 08:01] matozoid commented on #1488
Hi!
@ftomassetti is able to answer this one.

[2018-03-29 09:09] daanschipper commented on #1445
I think I have found the project that is reading the configuration file! You can find his dependency resolvers [here](https://github.com/hugofmelo/EHExtractor/tree/master/EHExtractor/src/ufrn/dimap/lets/ehmetrics/dependencyresolver)

[2018-03-29 09:35] malteskoruppa commented on #1488
Federico will be able to give you a better answer, but my understanding is that a `JavaParserFieldDeclaration` represents a field declaration in source code that is present in the source code that you have provided to the Java Symbol Solver, i.e., source code for which there actually _exists_ a `FieldDeclaration` node in the code that you are analyzing, because the symbol solver actually *parsed*

[2018-03-29 12:35] anatolyD commented on #1487
yes, they can help.
[code]

but they look a bit more verbose than
[code]

I am not sure how many times do you do chain buildings. maybe it is not that widely required. as even i have only a couple of such cases.

[2018-03-29 12:50] matozoid commented on #1487
Maybe you want to go with https://sookocheff.com/post/java/generating-java-with-jcodemodel/ - it seems you get a little less code with that because it is focused on code generation.

(For my own purposes, I often parse strings with pieces of Java code in it, with placeholders if necessary, so I don't have to go through the new/add/set code for each and every little node)

[2018-03-29 15:07] ErtelJessica commented on #1488
Thank you @malteskoruppa for your answer. Now I do understand the difference.

In fact the resolved field is not contained in a standard library but in another project of mine. So I simply forgot to add the path of the second project to the `CombinedTypeSolver`.

[2018-03-29 15:07] #1488 closed, assigned to ftomassetti

[2018-03-29 15:47] anatolyD commented on #1487
oh no,  you can't pull me off the javaparser )) It's really cool to do the parsing and modification of the AST.
My use case to parse large code base and then change it here and there generating new methods/classes

[2018-03-29 18:18] matozoid commented on #1487
Oh, I'm sorry ;-) Do keep supplying ideas!

[2018-03-29 18:20] matozoid commented on #1487
Did you know JP partially generates its own java files using JP? --> https://github.com/javaparser/javaparser/tree/master/javaparser-core-generators/src/main/java/com/github/javaparser/generator

[2018-03-30 14:58] #1482 closed, assigned to ftomassetti

[2018-03-30 20:18] #1470 closed, assigned to ftomassetti

[2018-04-02 09:26] pierremorel-enactor opened #1490 "Cannot edit/remove method comment if it's duplicated in the class"
I'm trying the following code

[code]

on the following class:

[code]

The issue seems to be that the javadoc comment is exactly the same for both methods.

Stack trace:
[code]

[2018-04-03 07:32] ErtelJessica commented on #1443
Hi @letitb ,

don't know if you already have found a solution but here is mine:
I had a similar problem (https://github.com/javaparser/javaparser/issues/1488) and my solution was to add the source directory of my classes to the `CombinedTypeSolver` like `combinedTs.add(new JavaParserTypeSolver(new File(baseDir + "src/main/java")))`.
So I think your `TypeSolver `is missing your class `LoginPage`.
A

[2018-04-03 14:35] seoj135 opened #1491 "Static MethodCallExpr Resolving Problem"
Hello. When I tried to resolve methodcallexpr, I found some bug.
This is on 3.5.20.

1. Call Static Function on Iterable, ForeachStmt problem.
MethodCallExprContext line 157: context return null. So It Throw RuntimeException
I guess some errors on solveType() function on StatementContext(Wrapped BlockStmt).
Here is target project from git: https://github.com/davidar/lljvm
and positions is src/lljv

[2018-04-04 07:29] matozoid opened #1492 "Configure build to run on Java 8 & 10"

[2018-04-04 09:56] daanschipper commented on #1445
I've written a solution for this problem, but upon testing it I'm stumbling over the following problem. I'm walking over the files of this project (javaparser-parent), adding all `.java` and `.jar` files to the `TypeSolver` and collecting the `SourceRoots`. I've now written a test that picks one `SourceRoot` from the `ProjectRoot` and tries to resolve every `MethodDeclaration`. However, this appro

[2018-04-04 10:13] matozoid commented on #1445
Two quick ideas:
- Parsing fails because the default Java version used is 8 (since it's the most used one). Check http://javaparser.org/setting-java-8-9-10-etc/
- Use the full API if you want to deal with parse errors in a flexible way: http://javaparser.org/the-quick-and-the-full-api-of-javaparser/

If I look at the stack trace, it seems to be the symbol solver itself tripping over parse errors.

[2018-04-04 11:35] daanschipper commented on #1445
It is indeed the symbol solver that is failing, I'm only doing the following
[code]
Setting the java version did unfortunately not work, I've used the API to parse the file within `JavaParserTypeSolver`, and that seemed to solve this particular issue.

[2018-04-04 13:33] matozoid opened #1494 "Let the symbol solver accept unparseable code"
As discussed in #1445 - make the symbol solver not fail hard on bad source.

[2018-04-04 14:37] malteskoruppa commented on #1491
Concerning your second problem, I can answer the question. (But I don't know about the first problem you mentioned).

What's happening here is that in this part of your code:
[code]
...you are visiting the *scope* of the method call expression `B.FUNC3(cls);` within the function `A#FUNC()` of the code that you are parsing. This scope is a `NameExpr` with the name `B`.

You then try to resolve the

[2018-04-04 19:41] matozoid commented on #1492
Looks like they aren't ready yet: https://github.com/travis-ci/travis-ci/issues/9368

[2018-04-05 06:36] ftomassetti commented on #1492
...exactly like no one on earth is :)

On 4 April 2018 at 21:41, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2018-04-05 07:54] daanschipper commented on #1494
I did make a small improvement to this already in #1493 by changing `cu = Optional.of(JavaParser.parse(srcFile));` to `cu = new JavaParser().parse(ParseStart.COMPILATION_UNIT, provider(srcFile)).getResult();`. This wraps a 'bad source' in a unsuccessful ParseResult

[2018-04-05 08:09] sormuras commented on #1492
I am! (:

You may switch to [`install-jdk.sh`](https://sormuras.github.io/blog/2018-03-20-jdk-matrix.html) manually now, or wait a little bit longer...

[2018-04-05 10:27] matozoid commented on #1494
I noticed, so this one goes to next release too :-)

[2018-04-05 12:29] daanschipper opened #1496 "Integration with Gradle"
Integrate Maven/Gradle support for `ProjectRoot`.

[2018-04-05 13:35] matozoid commented on #1496
Can be done in the symbol solver module or in a separate one.

[2018-04-05 14:11] daanschipper commented on #1496
I can work on the Gradle integration already.  I plan on making a `GradleCollectionStrategy` that implements `CollectionStrategy`, and put it under `java-symbol-solver-core/util`. The same can be done for `MavenCollectionStrategy`.

[2018-04-05 14:19] ftomassetti commented on #1496
Great!

[2018-04-05 17:03] matozoid commented on #1486
Assuming this is answered.

[2018-04-05 17:03] #1486 closed, assigned to nobody

[2018-04-05 17:03] matozoid commented on #1487
Assuming this is answered.

[2018-04-05 17:03] #1487 closed, assigned to nobody

[2018-04-05 17:28] malteskoruppa opened #1498 "Failing tests in javaparser-symbol-solver-testing"
There are 20 failing tests in module `javaparser-symbol-solver-testing`. More precisely, the failing tests are all 20 tests in the class `AnalyseJavaSymbolSolver060Test`.

This does not become apparent when running `mvn clean test`, because the class `AnalyseJavaSymbolSolver060Test` belongs to the category `SlowTest` and such tests are excluded in the pom.xml of the `javaparser-symbol-solver-testi

[2018-04-05 18:01] matozoid commented on #1498
@ftomassetti - please take a look at #1425

[2018-04-06 07:17] puneet-soni opened #1499 "Can I read source code of a class in a Jar ?"
I want to read source code of multiple java classes like String and java.util.*. through Jar. Can i do it? I Can some one help me out here on how it can be done ? I understand that giving the source code path can give me details of each class but that is not a liberty I have.

Thank you in advance.

[2018-04-06 07:24] ftomassetti commented on #1499
Does this Jar contains the source code of those classes or just the compiled version (the class files)?

[2018-04-06 09:24] puneet-soni commented on #1499
The class files

[2018-04-06 09:33] ftomassetti commented on #1499
Then the answer is no because there is no source code to read. You are looking for a decompiler.

[2018-04-06 09:33] #1499 closed, assigned to nobody

[2018-04-06 13:57] daanschipper opened #1500 "[explain in book] How to get from ResolvedDeclaration to ResolvedType (or vice versa)"
When trying to achieve the following I'm stumbling across the incompatibility between `ResolvedDeclaration` and `ResolvedType`. I want to find what  an `Expression` outputs when `toString()` is called upon that expression.

First, I'm visiting all the `MethodDeclaration`s, checking if it's a toString method and analysing the return statement. I'm saving this information as pair `ResolvedMethodDecl

[2018-04-06 15:39] ftomassetti commented on #1500
I am not sure I understand what you are doing, please correct me if I misunderstood.

A ResolvedType can representing a bit of stuff: arrays, primitives, and declared type.
If and only if the type is a class, an interface or an enum then you could cast it to the appropriate subclass and get the corresponding declaration.

Are you looking for this?

[code]

[2018-04-07 04:59] se-saurav opened #1501 "Unable to parse code"
Hi,

I am not able to parse the below code using javaparser. How can I get it working?

<pre>package io;

import java.util.ArrayList;
import java.util.*;

public class Example2 {
    public void print(){
        List&lt;String&gt; list = new ArrayList<>();
        list.
    }
}</pre>

It fails at this line of code-

<pre>CompilationUnit cu = JavaParser.parse(file);</pre>

I am using latest javapar

[2018-04-07 08:34] malteskoruppa commented on #1501
Well, your code is not valid Java code, so I would expect it to fail to parse.

Either remove the line `list.` in the code you are parsing or complete it. :-)

[2018-04-07 09:14] se-saurav commented on #1501
Is there any way to at least get some high level data or raw AST data?

I want to show an autocomplete list whenever user enters "." character, in such case code will always be incomplete. I have all other code changes ready but while testing I found that javaparser can't parse incomplete code. Any help?

[2018-04-07 10:57] matozoid commented on #1501
There is some support for error recovery in JavaParser. There seemed to be little interest, so it wasn't developed any further (lots of work, makes a mess of the grammar.) Here is an article: http://javaparser.org/parse-error-recovery/

Since JP is unlikely to ever have sufficient error recovery for a professional IDE (unless someone starts putting a *lot* of effort into it) I'd say: try to make t

[2018-04-07 11:32] ftomassetti commented on #1501
To implement autocompletion is a lot of **difficult** work. Basically you have code that is unparseable all the time (the user is typing the code) and you still need to 1) build an AST that makes sense 2) perform symbol resolution on that broken AST. Doing so for a language like Java is far from being trivial. It is definitely not something you can hack for a little demo. If you really need this a

[2018-04-07 11:57] matozoid commented on #1501
(Side note: JetBrains's [GrammarKit](https://github.com/JetBrains/Grammar-Kit), which they are suggesting to Intellij Idea plugin developers, has support for error recovery built into the generator itself, unlike JavaCC which we are using. Well, it has, but it's not as nicely integrated.)

[2018-04-07 12:18] matozoid commented on #1498
Ah, this code is actually put in place by the maven build. @ftomassetti already warned me it would be confusing, so I'll put the files back into the project.

[2018-04-07 12:24] ftomassetti commented on #1498
I sent a PR to enable slow tests on Travis, so that during development we can run only quick tests by default but at the time a PR is submitted we run all tests

[2018-04-08 10:36] #1445 closed, assigned to nobody

[2018-04-08 18:27] #1494 closed, assigned to nobody

[2018-04-09 07:04] anatolyD commented on #1487
yeap, I am playing with the setX that returns `this`. so far it works pretty enough

[2018-04-09 07:11] anatolyD opened #1505 "Range to have method like getLinesCount"
Hi,

  do u mind if i will add the method getLinesCount into the Range class? I had found doing the following snippet quite some times...

[code]

[2018-04-09 08:05] matozoid commented on #1505
That would fit in the concept of "adding every utility method that more than one user would find useful" :-)

You can make a PR for it if you like?

Do we have ranges with the begin line after the end line? Better not return a magic error value (-1) then, but throw an exception in the constructor when a range like that is created.

[2018-04-09 08:23] daanschipper commented on #1500
Yes, thanks for the explanation! That cleared some confusion on my part.

[2018-04-09 08:39] ftomassetti commented on #1500
Thank you for the question, it helps us understand what we should clarify!

[2018-04-09 09:08] anatolyD commented on #1505
ok, i will add a PR within a couple of days. yeap. the exception it to be.

"adding every utility method that more than one user would find useful" do we have another user who finds it useful? :)

[2018-04-09 09:12] matozoid commented on #1505
Thanks!

Lots of people use JP to implement some kind of basic statistics for a code base - I suspect many of them are students making an assignment ;-)

[2018-04-09 09:13] matozoid commented on #1500
So should this go into the book or into the Javadoc? :-)

[2018-04-09 09:22] ftomassetti commented on #1500
I think it could be part of the book

[2018-04-09 10:09] ErtelJessica opened #1506 "UnsolvedSymbolException when trying to get type of FieldAccessExpression's scope with JavaParcerFacade"
I'm trying to get the fully qualified Name of the scope of an FieldAccessExpression.
My code works fine for the scope of a MethodCallExpression, but not for FieldAccessExpression:

[code]

And the Method is called by

[code]

But JavaParserFacade.get(typeSolver).getType(scope) throws an Exeption:
`com.github.javaparser.symbolsolver.javaparsermodel.UnsolvedSymbolException`

I really don't know, why

[2018-04-09 11:41] daanschipper opened #1507 "Error on calling `methodCallExpr.resolveInvokedMethod().declaringType()` when the MethodCallExpr is instance of UnionType"
When trying to get the declaring type of a `MethodCallExpr` which is a `ResolvedUnionType` by invoking `methodCallExpr.resolveInvokedMethod().declaringType()` an `UnsupportedOperationException` is thrown.

A pr is already in the making.

This is the detailed stack trace:

[code]

[2018-04-09 15:04] #1507 closed, assigned to nobody

[2018-04-10 02:32] wangkang5 opened #1509 "primary class"
When I use `CompilationUnit compilationUnit = JavaParser.parse(inputStream,charset);`
I can't get primary class by `compilationUnit.getPrimaryTypeName()`.
Also,I don't know what fileName or primary className it is

[2018-04-10 07:32] matozoid commented on #1509
Hi! The problem is that an inputstream doesn't have a filename, and we can only find the primary class when we know the filename, since it is defined as "the class that has the same name as the file."

[Here ](https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/JavaParser.java#L213) you can see the code used to set the filename when parsing from

[2018-04-10 08:26] ErtelJessica commented on #1506
Update:
Is it possible, that this is a bug?
I think the problem is, that it is a static call on a class e.g. ClassA.FIELD.

I think the code is first looking for a declaration of ClassA (which would not be found because it's a static call). Afterwards the code checks for static imports. But there is no static import needed.

So I think this is a special case which is not  yet covered by the code.

[2018-04-10 08:37] matozoid commented on #1506
@ftomassetti - wasn't this reported before?

[2018-04-10 11:01] daanschipper commented on #1496
How should I test this? I'm currently testing it on a local project that uses Gradle and seeing if all dependencies are added, but javaparser doesn't use Gradle. I can add an empty Gradle project, but that adds quite some new files.

[2018-04-10 11:11] matozoid commented on #1496
We have complete checkouts of JSS and JP in the repository for testing, I'm sure a gradle project wouldn't be too bad.

Be sure to chuck them in this folder: /javaparser-symbol-solver-testing/src/test/**test_sourcecode** so it won't pollute the classpath.

[2018-04-10 13:23] ftomassetti commented on #1506
Maybe, not sure. I just wonder what is the scope in that situation. Because if it is a static field and we are try to resolve the scope as a value then it is normal that it fails. It is just confusing but it makes sense. In that case we should aim to communicate better the error or perhaps change the API

[2018-04-10 14:07] ErtelJessica commented on #1506
First of all: Thank you for your quick reply. :)

I'm not quiet sure if I correctly understand the way the solver works... If I solve the whole Expression `ClassA.FIELD` the Type would be `String` (if FIELD is a statci String field). But how can I get the class where the Field is defined?

So if it makes sense, that the solver failes, then how could I get the qualified name of the scope? E.g for `

[2018-04-10 14:35] ftomassetti commented on #1506
The thing is that the field access is an expression and has a type, the scope is not an expression because `ClassA` is not a valid expression.

I guess one way to solve it would get the `SymbolSolver` and call `solveType` passing the name of the class (`ClassA` in this case)

[2018-04-10 15:10] ErtelJessica commented on #1506
That doesn't work either...
calling `ResolvedReferenceTypeDeclaration type = typeSolver.solveType(scope.toString()); `causes an error:
[code]

And when calling ```
SymbolReference<ResolvedReferenceTypeDeclaration> type = typeSolver.tryToSolveType(argument.getScope().toString());
``` the type is `SymbolReference{Optional.empty}`.

[2018-04-10 15:15] malteskoruppa commented on #1506
Just FYI - this problem has been discussed before (in the context of static method calls instead of static field accesses, like: `ClasssA.someMethod()`, but it's essentially the same problem).

See:
* https://github.com/javaparser/javaparser/issues/1439
* https://github.com/javaparser/javaparser/issues/1480
* https://github.com/javaparser/javaparser/issues/1491

[2018-04-11 10:01] se-saurav commented on #1501
The Java parser generated by Antlr can parse Java code even if it has some errors. Although the error gets logged in console but we can still get the parsed information. I have combined Antlr's parser with JavaParser and it gives me most of the information that I need for now.

But, I would like to mention that any parser will be considered incomplete if it can not parse the code that has errors.

[2018-04-11 10:14] ftomassetti commented on #1501
Well, @se-saurav you can build and use a parser for different reasons and depending on the kind of reasons you have an error-tolerant parser makes or makes not sense. You could be compilers, code-refactoring tools, simple code analysis scripts. In each case you want something different from your parsers. When you start producing incomplete ASTs all of a sudden you have to verify everywhere if the

[2018-04-11 12:47] se-saurav commented on #1501
I am not disappointed, it is really a great tool and very easy to understand and use. I started using it 5 years back when I remember that it was hosted on "Google Code" hosting and it was called JaPa. For 5 years I believed that it will work in every case and suddenly on this weekend I came to know that it won't handle one of the most important requirement of my product. I am just requesting you

[2018-04-11 17:04] matozoid commented on #1509
Is it working for you?

[2018-04-12 10:37] malteskoruppa opened #1511 "IndexOutOfBoundsException when attempting to resolve super()"
Consider the following file `A.java` that we want to parse:

[code]

This class implicitly extends `java.lang.Object`, and calling `super()` invokes the (default) empty-bodied constructor of `java.lang.Object` (see JLS 8.8.9: _"If the class being declared is the primordial class Object, then the default constructor has an empty body."_).

Now let's try to get the `ExplicitConstructorInvocationStmt

[2018-04-12 12:43] ftomassetti commented on #1511
For me it is a bug: super should be resolved to the default constructor of Object

[2018-04-12 13:54] malteskoruppa commented on #1511
Ok, thank you for the clarification! :-)

[2018-04-13 10:36] matozoid opened #1513 "Investigate slow builds that cause AppVeyor to quit"

[2018-04-13 18:57] SmiddyPence commented on #1501
Hi @se-saurav

Can I recommend you try our book:

https://leanpub.com/javaparservisited

It is, of course, free and considered our principal user documentation, although it is still under development the "Flying Visit Chapter" which is synonymous with a "quick start" guide for developers does actually specify:

As mentioned error recovery is limited and under development, and if you would like to

[2018-04-13 18:57] #1501 closed, assigned to nobody

[2018-04-15 09:39] Lokendra-Sharma opened #1514 "want to get ClassOrInterfaceDeclaration type from ClassOrInterfaceType"
I am getting method parameter as ClassOrInterfaceType. Now i have to read all fields and their annotation for that parameter. I am able to get the symbol solver Referencetype for that parameter but that reference type don't provide any annotation. i need to get ClassOrInterfaceDeclaration type to get field annotations for that parameter.
Could you please tell me how i can get this ?

[2018-04-15 11:55] matozoid commented on #1513
The maven-buildtime-extension just says the obvious thing:
[code]

[2018-04-15 12:00] matozoid commented on #1513
Check if the slow tests somehow got enabled on a normal build.

[2018-04-16 08:25] daanschipper commented on #1514
I think I had a similar question which is answered in #1500. To be short, you can call ```myResolvedType.asReferenceType().getTypeDeclaration()```

[2018-04-16 09:04] Lokendra-Sharma commented on #1514
Yes I am getting ResolvedReferenceTypeDeclaration but from the this I am getting only fields but not the available annotations for that field. I need ClassOrInterfaceDeclaration to get annotations for that field.

[2018-04-16 14:35] ErtelJessica commented on #1479
@matozoid Could you estimate how much time it will take to fix this bug?

[2018-04-16 14:42] matozoid commented on #1479
@ErtelJessica - I'm sorry, I don't work on this part. @ftomassetti is setting up his own business and has currently no time to work on this, so we're dependent on outside contributions for a while (so creating a PR is the fastest way to get this fixed.)

[2018-04-16 14:43] ftomassetti commented on #1479
@ErtelJessica it is difficult to estimate it because our energies are limited and we havecurrently 183 issues open to look into. At the moment this is not considered to have a significanly higher priorities than other bugs so we cannot give you a reliable estimate. However we can help people contribute to it.

[2018-04-16 14:45] ftomassetti commented on #1479
One thing that could help us a lot is one simple failing test

[2018-04-17 05:23] seoj135 opened #1515 "Question. Is Any way to check that CompilationUnit or ClassOrInterfaceDeclaration is solved?"
Hello.
I want(am trying) to automatically analize any open source java project.

Unfortunately, some open source project repository have unnecessary/deprecated source codes.
These code not be solvable. Because of various reasons.
- Having some ImportDeclarations not actually exist.
- Invalid package names
- etc

Even if these code are successfully parsed to CompilationUnit. I hope to drop them.
I

[2018-04-17 07:32] matozoid commented on #1515
I think @daanschipper might know where unparseable compilation units go.

[2018-04-17 07:43] seoj135 commented on #1515
Umm.. unparsable compilation units?
Maybe I'm asking for compilation units not fully solved.

[2018-04-17 07:54] matozoid commented on #1515
Oh okay. Noted.

[2018-04-17 16:59] ataraxie opened #1517 "How to find method by name and original line number?"
First off, thank you for your great library!
I'm trying to find a `MethodDeclaration` in some source code by name and line number. I've been trying with this code:
[code]
My problem is that the `getBegin().get().line` part gives me the line number in the source of the processed AST, i.e. with comments removed etc. So the line number won't match the original line number in the file. How can I obtai

[2018-04-17 17:25] matozoid commented on #1517
Hmmm, `getTokenRange` and `getRange` should point directly to the source code without any processing, so some assumption here is wrong. Can you show some code and what kind of line you're actually looking for?

[2018-04-17 18:04] ataraxie commented on #1517
Thanks for the fast reply! I dug a bit deeper and I think I was on the wrong track here. I think the issue is that I was expecting `getBegin().get().line` to give me the line number where the method name appears, but of course there can be other things in the lines before that belong to the method as well (in my case it was an `@override` annotation).

So now, given a `MethodDeclaration`, I need t

[2018-04-18 07:28] matozoid commented on #1517
That would have been my suggestion too, good luck! :-)

[2018-04-18 07:28] #1517 closed, assigned to nobody

[2018-04-18 13:45] ghost opened #1518 "getQualifiedName() behaviour not uniform"
The result for type.getQualifiedName() is not always what one would expect.

Test1.java:

[code]

App.java:

[code]

Expectet results for qualified Names:

test.example.Test1.Test2 and test.example.Test1.Test3

actual results:

test.example.Test2 and test.example.Test1.Test3

Currently looking into it why this happens, but something I noticed: I can add as many classes as I want, they are all corr

[2018-04-19 17:13] matozoid commented on #1509
Assuming answered.

[2018-04-19 17:13] #1509 closed, assigned to nobody

[2018-04-19 17:59] matozoid commented on #1254
This has been side-stepped by expanding the settings for the language level.

[2018-04-19 17:59] #1254 closed, assigned to nobody

[2018-04-22 11:01] matozoid commented on #1498
I have no idea why I closed this.

[2018-04-23 14:12] daanschipper commented on #1515
I think you overlooked the method `ParseResult<N> parse(ParseStart<N> start, Provider provider)`, which wraps the result in a `ParseResult`. If the parsing is successful, you can access the compilation unit by calling `parseResult.ifSuccessful(compilationUnit -> // do something)`.

Since you want to parse a whole project, I'd suggest looking at the class `ProjectRoot`. You can read up on it [here]

[2018-04-23 14:17] matozoid commented on #1515
@daanschipper - it's more subtle - I think the idea is to recognize which compilation units are parseable, but not solvable (say, a file where someone deleted all the imports.)

Honestly, I think the solution is to drop a compilation unit when an attempt at solving throws an exception?

[2018-04-23 14:56] malteskoruppa opened #1520 "ThisExpr#getClassExpr() and SuperExpr#getClassExpr() oddness"
Consider the following code:

[code]

Calling `getClassExpr()` on the `ThisExpr` that represents `test.foo.this` gives a `FieldAccessExpr`. I think this is incorrect. It should give a `Name` instead.

Generally speaking, I think that the "scope" of a this expression can *only* be a name and nothing else (JLS 15.8.4: https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.8.4). This na

[2018-04-23 14:57] malteskoruppa commented on #1520
PS. The same thing happens for `SuperExpr` too.

PPS. If I am indeed right, the method may be better called `getClassName()` instead of `getClassExpr()`.

[2018-04-23 15:28] daanschipper commented on #1515
Oh, that is a subtle difference but makes it quite more complicated. I'm not sure of the specifics, but my guess is that an `UnsolvedSymbolException` is thrown.

[2018-04-23 15:30] matozoid commented on #1520
Finally something I can solve :-) I'll take a look.

[2018-04-23 15:49] malteskoruppa commented on #1520
Thank you! :-)

I just had a look at the syntax as specified by the JLS (https://docs.oracle.com/javase/specs/jls/se8/html/jls-19.html) to see what it says about this expressions and super expressions, these parts may be relevant:

In addition, there exists no production rule that allows anything else but `TypeName` to occur before `.this`.

It's similar for super expressions.

[2018-04-23 18:27] malteskoruppa commented on #1520
Note: I think it is correct that `getClassExpr()` should return either a `Name` or a `SimpleName`, but if it returns `Name`, this does not necessarily imply the type name used in the this expression is _fully_ qualified. It could also be relatively qualified, like so for instance:

[code]

In fact, you don't even a nested class to be able to use a qualified name. For example, in the above code, an

[2018-04-23 18:51] malteskoruppa commented on #1520
I'd also suggest calling the method `getTypeName()` instead of `getClassName()` (or `getClassExpr()`), since an enclosing instance of an inner class *could* also be an interface. As stated in [JLS 8.1.3](https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-8.1.3):

So you could do this. :-)

[code]

[2018-04-23 19:00] matozoid commented on #1520
This is starting to sound a lot like #1428 !

[2018-04-23 19:03] matozoid commented on #1520
I've at least documented the current behaviour in #1521, hoping that I can get the weekly release done tonight.

[2018-04-23 19:07] matozoid commented on #1520
I've tried getting the parser to produce anything but fieldaccess or nameexpr, but had no luck, so I think it's possible to change that field into a name, and get the name in the AST node with some trickery. Not sure if I should, since #1428 is probably going to change the internals of the grammar to deal with all of this in a better way. That would also avoid having to solve the symbol solver twi

[2018-04-23 19:57] malteskoruppa commented on #1520
Well from a semantic point of view, it would definitely make sense to change that field into a name instead of an expression. But you're the better judge of how much work that would be and if it's be worth the effort. :-)

It does indeed sound like `PackageOrTypeName` ([JLS 6.5.4](https://docs.oracle.com/javase/specs/jls/se9/html/jls-6.html#jls-6.5.4)), if implemented, would be a good fit for the

[2018-04-24 00:00] seoj135 commented on #1515
To throw UnsolvedSymbolException, need to visit all of sub nodes and try to resolve each one.
By the way, I found a solved method is already implemented.
So, if this method can be accessible very pleasure to JSS user.

[2018-04-24 07:47] daanschipper commented on #1515
That solved method is indeed implemented, but if you don't properly insert a SymbolSolver in the compilation unit that method will throw UnsolvedSymbolExceptions all the time.

[2018-04-24 08:20] matozoid commented on #1515
... like this: https://github.com/javaparser/javasymbolsolver-maven-sample/blob/master/src/main/java/com/yourorganization/maven_sample/MyAnalysis.java

[2018-04-24 09:50] malteskoruppa commented on #1520
I've been thinking on how to work around this issue. What I need in the end is the type name of the `ThisExpr`, as a String.

When `getClassExpr()` returns a `NameExpr` this is easy enough.

But when it (incorrectly) returns a `FieldAccessExpr` (instead of a `Name`) I'd need a helper method that recursively puts the String which represents the qualified name together. It looks like the `toString()

[2018-04-24 11:30] matozoid commented on #1520
Quick comment: is there an asString() method there?

[2018-04-24 12:20] malteskoruppa commented on #1520
No, unfortunately, that was my first thought too (remembering [your blog post on the subject](https://matozoid.github.io/2018/02/19/asstring-tostring-gdas-ppv-csm.html)), but `FieldAccessExpr` does not have an `asString()` method. :-)

[2018-04-24 12:38] matozoid commented on #1520
Well, it wouldn't be much more work than recursively walking the scope and appending names and dots, I think?

[2018-04-24 13:06] malteskoruppa commented on #1520
No indeed! :-)

I just thought that if there is a method that already does what I need, there's no need to reinvent the wheel. ;-) However, since the `toString()` method potentially also prints a comment, I wondered whether I might get bugs in cases where there is a comment. Then again, I thought, there is no way for Java code to only put a comment on the qualification of a `ThisExpr` but not on t

[2018-04-24 13:16] matozoid commented on #1520
Do beware of annotations!

[2018-04-24 14:03] malteskoruppa commented on #1520
Thanks for the pointer!

It caused me to have another look at the [Java grammar](https://docs.oracle.com/javase/specs/jls/se8/html/jls-19.html) as well as [JLS 9.7.4: Where Annotations May Appear](https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-9.7.4), and if I understand correctly, you can't annotate the qualification of a this expression like that. I also tried to do so in an ID

[2018-04-24 14:08] matozoid commented on #1520
Ah good! I think adding annotations was the longest running task for JP, so I feel like they can be anywhere now ;-)

[2018-04-24 19:39] matozoid commented on #1520
Here's a quick asString for the scope:
[code]

I saw that not only is `b` in "a.b.this" a FieldAccessExpr, but `a` is a `NameExpr` again?! So this will be filed as a bug :-)

(edit: it was already filed as a bug...)

[2018-04-25 08:09] malteskoruppa commented on #1520
Thank you! :-)

In any kind of `FieldAccessExpr` like `a.b` whose "first" / "innermost" part is a name (instead of a method call etc.), isn't it to be expected that this first part is represented as a `NameExpr`? Given that the scope `a.b` of a `this` expression such as `a.b.this` is represented as a `FieldAccessExpr`, it doesn't surprise me that `a` is a `NameExpr` again. What surprises me is tha

[2018-04-25 09:00] matozoid commented on #1520
Yes, that :-)

[2018-04-25 13:18] malteskoruppa opened #1522 "Cannot resolve constructor declaration from object creation expression with scope"
Consider the following code:

[code]

Calling `resolveInvokedConstructor()` on the object creation expression `new OtherClass()` works great! :smiley:

However, calling `resolvedInvokedConstructor()` on the object creation expression `oc.new InnerClass()` throws an `UnsolvedSymbolException`. :disappointed:

It would appear that the symbol solver cannot cope with object creation expressions that ha

[2018-04-26 01:11] Symbolk commented on #710
For AST diff, we are currently using the **SpoonLabs/gumtree-spoon-ast-diff,** which uses the INRIA/Spoon as the Java code parser but contains several bugs.

[2018-04-26 02:57] Symbolk commented on #538
If I want to compare two ASTs(i.e. AST tree diff) and output the change actions, can I use the Xml or Json format?

[2018-04-26 10:28] matozoid commented on #538
@Symbolk It's only meant for display purposes, so no, I would not advise that. It would very much depend on your algorithm how exactly it would work, but the obvious thing to use is the AST nodes with a visitor or some custom traversal algorithm. Please open a new issue if you want to discuss this.

[2018-04-27 14:20] FMikhaiL opened #1525 "Replace statement / expression with list of BlockStmt statements"
Hello, sorry if if was asked before, but I could not find anything

I have a question:
given a `Node foo` being `int x = 5;` and a `BlockStmt bar`, containing statements `int y = 3;` and `int z = 4`, how can I replace node `foo` with `bar` statemtns but without a pair of `{}` that just calling `foo.replace(bar)` would leave?

[2018-04-27 19:29] matozoid commented on #1525
I have no computer nearby, but here are some things to consider: a BlockStmt always has braces. I think you want to remove that int statement, then insert your statements one by one at that position. You can look at NodeList to see if there are some useful utility methods, otherwise the ones inherited from List should do.

[2018-04-29 16:02] #1522 closed, assigned to nobody

[2018-04-30 17:46] FMikhaiL commented on #1525
Hi @matozoid, thank you for reply!
Unfortunately, I do not understand what should I do. I tried searching for methods you mentioned, but could not find anything so far.
To illustrate my whole situation further:
Imagine I want to parse following code:
[code]

I want to replace whole `if/else` block with `then` statement.
If I understand correctly, parsing this method will yield an `IfStmt ifStmt` o

[2018-05-01 08:42] matozoid commented on #1525
Here you go. If you would like a version without all the functional stuff I can rewrite it.
[code]

[2018-05-01 13:12] FMikhaiL commented on #1525
This works fine, thank you!

However, I do not understand why we have to clone `ifStmt.getThenStmt()` and `thenStmt` in `thenBlock.getStatements().forEach(thenStmt -> ...)`?
I have just tried removing clone from both and it still works fine.

[2018-05-01 21:36] matozoid commented on #1525
You're right, it doesn't matter much in this case. I did it so I didn't risk accidentally altering the AST by altering only stand-alone cloned copies. Every node can have only one parent, if you set it somewhere in the AST, it will be removed from wherever it was.

[2018-05-02 08:18] FMikhaiL commented on #1525
I see, thank you!

[2018-05-02 08:18] #1525 closed, assigned to nobody

[2018-05-02 09:27] seoj135 commented on #1515
@matozoid Well. It took a little longer times to try this method. Because I lost a my whole project.

[code]

This is the best way for it on now. And I close this thread. Thanks.

[2018-05-02 09:27] #1515 closed, assigned to nobody

[2018-05-03 08:47] ErtelJessica opened #1526 "CompilationUnitContext.solveType(String name, TypeSolver typeSolver) checks package and imports in wrong order"
Assume you have a class like this:

[code]
with the imported class
[code]

And in package a.b.c there exists also a class called `a.b.c.DataObjectFactory` but which doesn't has a method called `getDataObject `.
(Please don't argue why it's a bad idea having two classes with the same name - in this case I can't change it anyway).
Now when trying to call `ResolvedType type = JavaParserFacade.get(typ

[2018-05-03 13:16] matozoid commented on #1526
Thanks for the report. If you like to learn how to do contributions, try https://github.com/javaparser/javaparser/wiki/Eclipse-Project-Setup-Guide

Otherwise we'll get to it.

[2018-05-04 11:00] laurenceSaes opened #1527 "NoClassDefFoundError"
Hello,

I get a NoClassDefFoundError when I try to use the latest Maven version of the parser:

`Exception in thread "main" java.lang.NoClassDefFoundError: com/github/javaparser/utils/CollectionStrategy`

[code]

When I use it like this:

`ProjectRoot projectRoot = new CollectionContext(new ParserCollectionStrategy()).collect(Paths.get(rootFolder));
`

This happens when I create an artifact with I

[2018-05-04 11:08] matozoid commented on #1527
Okay, when?

[2018-05-04 11:12] laurenceSaes commented on #1527
Sorry, I accidentally posted the issue too soon.

[2018-05-04 11:37] laurenceSaes commented on #1527
The problem solved itself. Thanks anyway!

[2018-05-04 11:38] #1527 closed, assigned to nobody

[2018-05-04 15:06] matozoid commented on #1527
Those are the best problems. Have fun!

[2018-05-04 15:42] Vampire opened #1528 "Getting all extended interfaces does not work"
The following Groovy script shows the problem:

[code]

I think the problem is that in https://github.com/javaparser/javaparser/blob/9a169f50ad23330d19d44a1553710fcdf7e4aad8/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/declarations/JavaParserInterfaceDeclaration.java#L124-L125 `implementedTypes` is used instead of `extendedTypes`, as of course an i

[2018-05-05 22:27] Vampire commented on #1528
Workarounds I found (I'm totally new to javaparser, if there are better ways I'd happily hear them):

Basically the logic of `getInterfacesExtended` but with `extendedTypes` instead of `implementedTypes` what I still think is the correct fix:
[code]

Or easier, as all ancestor types of an interface are the interfaces it extends, except for `java.lang.Object`:
[code]

[2018-05-05 22:32] Vampire commented on #1528
Or this one:
[code]

[2018-05-06 06:43] andye2004 opened #1529 "Add method values to Annotations"
Firstly, apologies for having to open this question but I couldn't find / work out how to do it from the book.

I have added a new annotation to a class and had it returned as AnnotationExpr and I now want to add a property/value to it. Could someone tell me how this is done please?

Many thanks, Andy.

[2018-05-06 06:49] andye2004 commented on #1529
Apologies once again! I was being a fool and trying to work directly with the AnnotationExpr. For anyone else who might bump into this the solution is below.

[code]
Don't forget to escape the second value if it is a String value. E.g.
[code]

[2018-05-06 11:36] matozoid commented on #1529
I'll close this then. Good luck :-)

[2018-05-06 11:36] #1529 closed, assigned to nobody

[2018-05-06 17:02] matozoid commented on #1528
Okay, I opened a PR so hopefully you won't have to use all these workarounds in a few days :-)

[2018-05-07 10:53] #1528 closed, assigned to matozoid

[2018-05-07 12:56] Hanamaki opened #1531 "class A extends B<T>.C parsing problem"
I find a problem when I try to parse a class like `class A extends B<T>.C` to a `CompilationUnit`.
I just use the method that `JavaParser.parse(filepath)`.
Problem1: After parsing, it will be `class A extends B<T>.C<T>`
Problem2: The `C` is a static class in `B<T>`, so the type of `C` should be `ClassOrInterfaceType`, but after parsing, the `C` is a `SimpleName`.

Reason of Problem1: There is a no

[2018-05-07 13:14] matozoid commented on #1531
Thanks! We'll look into it.

[2018-05-07 16:27] matozoid commented on #1531
When I run this:
[code]
I get this:
[code]
[code]
... which looks fine to me. Can you change it to reproduce your issue?

[2018-05-07 19:40] matozoid commented on #1528
Thanks for the great bug report by the way, that made it possible to solve it already :-)

[2018-05-07 20:24] Hanamaki commented on #1531
I feel so sorry about it. I used the version of JavaParser is 3.2.3 . when I change to the 3.6.4, it worked. Thanks.
However, it's still a question that if class `A` can extend `B<T>.C`, The type of `C` should be a class, but in `CompilationUnit`, the node of `C` is a `SimpleName` type. Can it identify the type  more correctly?

Sorry again.

[2018-05-07 20:35] matozoid commented on #1531
It's okay, glad to help :-)

Here is how you can access the structure:
[code]
As you can see, C is a indeed a class as you want it (or `ClassOrInterfaceType`) but it's name is stored as a `SimpleName`.

(Background: many names used to be stored as strings in JavaParser 2, but someone made the point that you can only use visitors and other tools on AST `Node`s, so they were all changed to `SimpleNa

[2018-05-07 22:57] Vampire commented on #1528
Thanks for being that responsive, works now. :-)

[2018-05-08 00:56] Vampire opened #1533 "curly braces of inline tags part of the text snippet"
The following Groovy

[code]
yields as result
[code]
The curly braces should be considered part of the inline tag, shouldn't they?
Instead they are considered part of the snippet texts.

[2018-05-08 01:05] Vampire opened #1534 "Possibility to solve a JavaDoc inline link tag"
Maybe I just didn't find it, but if it is really not there, I'd like to suggest it as feature.
Would be nice if you could solve a JavaDoc inline `link` tag.
And if it is also missing, of course also `see`-tags.

[2018-05-08 08:09] andye2004 opened #1535 "Add "addSingleMemberAnnotation" util method"
Hi Guys, loving using the tool, the fluent API is so nice to work with. This is really a feature request but I also want to know where the best place was to send feedback for the book?

Anyway, feature Id like to see added is a new NodeWithAnnotationsMethod as below
[code]
Seems that this is the only combination of parameters missing.

Thanks, Andy.

[2018-05-08 08:19] seoj135 opened #1536 "Q: How to convert ResolvedType to Type, To creating VariableDeclarator"
I fellow up issues. But no information was found for this question.

I used `JavaParser.parseClassOrInterfaceType(String)`. I think this method isn't valid to use.

I use for this example
[code]
[code]

[2018-05-08 08:32] matozoid commented on #1535
@SmiddyPence - can you answer the book question?

Sure, we'll add it. If you like you can open a PR yourself :-)

[2018-05-08 08:33] matozoid commented on #1533
Odd.

[2018-05-08 08:36] Vampire commented on #1533
Also maybe the space(s?) between `link` and `Foo` should not be part of the content? Acutally it is the separator between the tag and the content.

[2018-05-08 08:37] matozoid commented on #1534
Interesting. The Javadoc parser is more or less stand alone, so it hasn't got any of the infrastructure that the `JavaParser` class has, meaning there is no easy way to insert a `TypeSolver`. Any idea for an approach to this, @ftomassetti ?

[2018-05-08 08:38] matozoid commented on #1533
Odd too :-)

[2018-05-08 11:54] ftomassetti commented on #1533
Time to improve the Javadoc parser it seems :)

[2018-05-08 11:56] ftomassetti commented on #1533
Regarding the space: if we want to rebuild it we have to keep the space because it is not the only separator that could be used (tabs, newlines, etc.). We may want to add some utility method to get the content trimming the space at the beginning and the end.

[2018-05-08 12:10] ftomassetti commented on #1534
I would try to resolve symbols in the context of the node containing the comment (which is different from the node being commented). Now, how to get that node... Maybe we could inject it in `JavadocComment.parse`

[2018-05-08 12:13] ftomassetti commented on #1528
Some interactions give enthusiasm to do more work :)

[2018-05-08 12:33] Vampire commented on #1533
Or maybe have the space in an extra `separator` field or similar

[2018-05-08 14:09] matozoid commented on #1534
Is it an idea to incorporate all the Javadoc nodes into the `Node` hierarchy? I think I also have a prototype javacc grammar for Javadoc somewhere...

[2018-05-08 14:12] matozoid commented on #1533
Whitespace like that should be in the tokens behind the AST, like the Java AST has it.

[2018-05-08 14:17] ftomassetti commented on #1534
I am not sure about that, but anyway a Javadoc is placed inside a Node physically and we could use it as the context

[2018-05-08 15:09] matozoid commented on #1534
Oh, like that - but does it have any parent/child relationships so that we can find it?

[2018-05-08 15:26] ftomassetti commented on #1534
well, we could just use the position I guess

[2018-05-08 16:06] Vampire opened #1538 "Typo in JavaDoc"
http://static.javadoc.io/com.github.javaparser/javaparser-core/3.6.3/com/github/javaparser/ast/nodeTypes/NodeWithStatements.html#addStatement-java.lang.String-

`It will use JavaParser.parseStatement(String) inside, so it should end with a semi column`

should probably be

`It will use JavaParser.parseStatement(String) inside, so it should end with a semicolon`

:-)

[2018-05-08 19:03] matozoid commented on #1534
Oh, I mean to use a mechanism like we have now where we put the solver in the `CompilationUnit` and look for it by going through parents until we reach the cu.

[2018-05-08 19:35] matozoid commented on #1535
PR is open for review!

[2018-05-09 07:58] Vampire commented on #723
Nice idea, would be really cool. :-D
Afair remember the compilers also do many optimizations like inlining constants and similar stuff.
Not sure whether this is needed wanted though.
But I guess at least javac and the eclipse compiler are both open source.

[2018-05-09 08:22] matozoid commented on #723
I think this would be a nice opportunity to create a basic compiler that people can hack around in :-)

[2018-05-09 09:24] #1535 closed, assigned to matozoid

[2018-05-09 11:38] Vampire opened #1542 "Split columnAlignFirstMethodChain into three settings"
The following Groovy code

[code]

produces

[code]

It would be nice if `columnAlignFirstMethodChain` could be split into three settings:
- one that controls whether to wrap the first method chain
- one that controls whether the wrapped method calls should be aligend at the dot like it is currently always
- one that if the second is `false`, configures the continuation indent, which should by def

[2018-05-09 12:07] Vampire opened #1543 "Wrong indent in code blocks within broken down method call chains"
The following Groovy code

[code]

produces

[code]

but I'd expect it to produce

[code]

So block indent = method call chain indent + configuration.indent instead of current indent + configuration.indent.
Basically the indent of the line where the block started + the configured indent.

[2018-05-09 18:24] matozoid commented on #1543
Hmmmm, the nasty thing is that the method chain indenter is separate from the normal indenter :-/ Ugh!

[2018-05-09 18:27] Vampire commented on #1543
Yep, I know, one detail that made it harder to do when I gave it a quick shot. :-)
Maybe the method chain indenter should be incorporated into the normal indenter?
And then maybe even my other improvement ticket tackled while at the code? :-D

[2018-05-09 18:27] matozoid commented on #1543
I'm trying that now, indeed!

[2018-05-09 18:28] matozoid commented on #1543
One ugly thing is that until now, it didn't matter if you used spaces or a tab as the indent string. Now we need to have knowledge of the tab size though... I think I'm going to postpone that problem for another time.

[2018-05-09 18:34] Vampire commented on #1543
Well, that's always the problem if you align code an use tabs, that's why using tabs is bad. :-)
Maybe make a pretty printer configuration `tabWidth` that has default value of 4?
Or maybe do the additional indent always with spaces, as then the aligning always works, no matter which tab size a viewer uses (basically what is done now too I think).
Or maybe combine both, make two new configuration s

[2018-05-09 18:42] matozoid commented on #1543
In my opinion it's better not to build a feature until someone asks for it. Saves a lot of work :-)

[2018-05-09 18:53] Vampire commented on #1543
Well, I personlly dislike tabs, but I occasionally contribute to projects that like them and if I want to generate there, it would be nice if this works, so feel asked. :-D

[2018-05-09 19:04] matozoid commented on #1543
Please open an issue :-P

[2018-05-09 19:59] Vampire opened #1544 "Please ensure that there is at least one space at the start of a Javadoc line"
If you run the Groovy code
[code]
You get as result
[code]
Which is not too pretty.
Please ensure that there is at least one space whitespace between the leading asterisk and the Javadoc line, but not if there is no text following the asterisk, so the the desired output would be
[code]
without a trailing space at the middle line

[2018-05-09 22:54] ThLeu commented on #1461
As I have also noticed this particular issue and I wanted to have a closer look at the lexical preservation printing anyway I invested some time in this issue.
The following I have found out so far.

Debugging with your test @matozoid it seems to have to do with the "reshuffling" in the difference calculation when the CsmMix element is used. Because the issue seems to be gone when you remove the m

[2018-05-10 02:30] Vampire opened #1547 "Wandering Javadoc"
With the following Groovy code:
[code]
I get the result
[code]
If I add `.trim()` between `content` and `+` it works better.

Interestingly if I instead remove the `.trim()` that is present, I get an empty line between `b` and `c`, but `a` is actually not wandering.

[2018-05-10 13:48] matozoid commented on #1547
That should get fixed with #1546

[2018-05-10 15:18] #1544 closed, assigned to matozoid

[2018-05-10 20:48] parvez2014 opened #1548 "Failing to resolve type of (some) method call receiver expressions"
I am using JSS to resolve the type of method call receiver expression. During testing I observed that in some places JSS failed to resolve type:

1.    When the call is a static method call:
    Code:
    //convert the output into list of lines
    List lineList = IOUtils.readLines(new StringReader(output));

JSS failed to resolve the the type of IOUtils for the method call IOUtils.readLines(...)

[2018-05-10 21:33] matozoid commented on #1548
Thanks! Sounds like #1491.

[2018-05-11 00:40] ThLeu commented on #1461
See PR for potential fix

[2018-05-11 03:52] parvez2014 commented on #1548
Thanks for pointing to these issues. ftomassetti suggested: do not try to solve the scope, solve the method call and let JavaParser figure things out for you (https://github.com/javaparser/javaparser/issues/1439). I am wondering how can I do so. Does this mean something like this:
JavaParserFacade.get(cts).solve(m); where m is the MethodCallExpr and cts is the CombinedTypeSolver
 However, I am rec

[2018-05-11 08:23] #1543 closed, assigned to matozoid

[2018-05-11 08:24] matozoid commented on #1548
@ftomassetti ?

[2018-05-11 08:34] ftomassetti commented on #1548
It is not 100% clear to me but I think the issue is that you are trying to use calls intended for expressions on types and that would not work. The fact is that in Java when you see a name you do not know if it refers to a type or a value. By convention things starting with an uppercase letter are types and things starting with a lowercase letter are values but it is not enforced by the language.

[2018-05-11 09:39] parvez2014 commented on #1548
Thanks much for your reply. I am going to add some test case examples and include a downloadable link. If there is a better way to share code examples, pls. let me know
If possible can you pls. elaborate: you are trying to use calls intended for expressions on types and that would not work. Maybe two examples that show what work and what not. That would be really helpful to understand JSS. Thanks

[2018-05-11 11:22] Vampire opened #1551 "Broken Javadoc parsing with leading spaces"
The Groovy snippet
[code]
does not give you 4 block tags of type `PARAM`, but one block tag of type `UNKNOWN` that also is not formatted properly if you later use that parse result.
If you remove the leading spaces from the lines, the result is correct.

[2018-05-11 12:10] Vampire commented on #843
Would be nice.
If this is done, will it be a complete independent disassembler or would it be feasible to reuse an existing disassembler and just transform the result into a JavaParser AST?

[2018-05-11 12:11] matozoid commented on #843
It's a fun project idea, it's all up to the one who starts that project :-)

[2018-05-11 12:14] Vampire commented on #843
Ok, just thought there might be requirements like Javaparser should not depend on other libs, but always reinvent the wheel or something like that :-D

[2018-05-11 12:17] ftomassetti commented on #843
In the JSS modules we use ASM and I would suggest to use it also for this purpose

[2018-05-11 12:21] matozoid commented on #843
It's not supposed to go into JavaParser - the tag "fun project idea" is for people who are looking for a fun project for themselves. JP is big enough as it is.

[2018-05-11 12:23] Vampire commented on #843
Well, ASM only gives you the bytecode representation.
There is still a lot to be done to rebuild some Java AST or code from that.
And there are multiple libs that do this transformation already like Fernflower or JODE.
It would maybe not be that hard to reuse their stuff to build a Javaparser AST.
But to write a full bytecode -> Java AST logic is probably harder.

[2018-05-11 12:24] Vampire commented on #843
I guess the symbol solver was also not supposed to go into java parser but did. :-D

[2018-05-11 12:24] matozoid commented on #843
Well, that never was a fun project idea :-P

[2018-05-11 12:31] joined opened #1552 "Can't resolve path of method declaration"
I'm using JavaParser and JavaSymbolSolver to extract the method calls from a Java class file.
I'm interested in extracting, for each of the method calls within the class:

1. the line range of the method call
2. the qualified signature of the called method
3. the line range of the called method's declaration
4. the path of the java class containing the called method declaration

So far I had succe

[2018-05-11 13:11] ftomassetti commented on #1552
Ciao Lorenzo,
the fact is that JSS can resolve references to methods that come from different sources. When they come from a Java file they are effectively instances of `JavaParserMethodDeclaration`. However they could come from a JAR or obtained through reflection. In those cases there is no Java file to refer to. In your case you are just using a Reflection and a JavaParser typesolver so your re

[2018-05-11 13:13] ftomassetti commented on #843
It was fun until no one used it!
That said JSS was initially separated but it was very connected to JP so we had to keep them in sync and we wanted more integration because it is easier for users.
But beside this I think that whatever we can keep separate should be kept separate, even if I am sure that @matozoid would love to have more code to maintain :D

[2018-05-11 13:56] matozoid commented on #843
Noooo!!!!

[2018-05-11 15:36] parvez2014 commented on #1548
Consider the following three files:
A. Commit.Java  Note: Represents a commit in Git
B. CommitManager Note: Given a local git repository, it runs git log command, parse the result and collect all the commits and store them into an ArrayList
C. ProcessUtility: Note: this class has a static method (called output) that reads an InputStream and convert that to a String. It is used by the CommitManager

[2018-05-11 17:20] #1538 closed, assigned to nobody

[2018-05-11 23:42] matozoid commented on #1551
Well, I can't find anything that says how many spaces are expected before a block tag, so I'll make that variable.

[2018-05-12 05:54] ftomassetti commented on #1548
First thing first: use the most recent version of JSS:
[code]

So now the problem is not that you do not know how to get the path to the JAR but you get actual exceptions, right? IN that case reporting the stack trace would help.

[2018-05-12 10:39] daanschipper opened #1554 "Performance issue while parsing a large project."
I'm analysing a large software project (20k .java files) and I'm running into performance issues. The time it takes to try and resolve types of certain expressions increases significantly during the duration of the program. I've narrowed it down to one method call to JavaParser, namely `expression.calculateResolvedType`.

At the start of the execution these method calls take most of the time less

[2018-05-12 10:43] daanschipper commented on #1554
I think the problem might be with `JavaParserTypeSolver.tryToSolveType(String name)`, where a cache of `foundTypes` is kept. Might it be the case that this cache just keeps growing as more and more as the program is parsing all the files?

[2018-05-12 11:37] matozoid commented on #1554
Hi! Here's a related issue: #1391

[2018-05-12 11:46] matozoid commented on #1554
A quick glance tells me the caches are Guava caches set to use "soft values" and that means that they behave like this: https://stackoverflow.com/questions/6592183/what-are-the-practical-consequences-of-using-soft-references

Not sure that's the problem though?

[2018-05-12 11:47] matozoid commented on #1554
Anyway, it would be very valuable to this project if you could take the source, experiment a little with the cache settings, and report your experience.

[2018-05-12 14:27] Vampire commented on #1551
Here you have it: https://docs.oracle.com/javase/1.5.0/docs/tooldocs/windows/javadoc.html#blockandinlinetags

[2018-05-12 14:40] Vampire commented on #1353
Why not keep them internal, but add optional dependencies?
If someone want to use it at runtime he has to provide the dependency himself, if not, he doesn't need the additional dependency in his project.

[2018-05-12 14:54] matozoid commented on #1353
In theory that's a good idea. I think that would lead to a lot of issues being opened about "class not found" though. Also: it would be good to remove some bloat from core, especially when writing a full serializer will probably add more classes. Serialization isn't really essential so that's an easy target.

Do you think we have too many modules?

[2018-05-12 14:55] #1551 closed, assigned to matozoid

[2018-05-12 15:01] Vampire commented on #1353
Didn't want to imply that, just wanted to note the possibility of optional dependencies if not requireing on additional libs most users will not need would be the reason to split it off.

If you have other reasons, like clearer structure, it is fine.

About the class not found errors, this could actually be done in a user-friendly and user-unfriendly way.
And if you do all in one module, you might

[2018-05-12 15:13] matozoid commented on #1353
That's a good point - with a decent error message and all the implementation well hidden it should be fine.

[2018-05-12 15:18] Vampire opened #1555 "Misleading error messages due to language level"
If something is not parseable due to language level, the error message is pretty misleading.
On parsing a module descriptor I got the exception `com.github.javaparser.ParseProblemException: (line 2,col 1) Modules are not supported.`.
From this I'd have interpreted that Javaparser is aware of the existence of modules but does not have an implementation to parse them yet.

Would be nice if the error

[2018-05-12 15:22] matozoid commented on #1555
Good one!

[2018-05-12 15:48] Vampire opened #1556 "NullPointerException in module uses statement constructor"
`new com.github.javaparser.ast.modules.ModuleUsesStmt()`

produces

[code]

[2018-05-12 16:07] #1556 closed, assigned to matozoid

[2018-05-12 16:29] Vampire opened #1558 "Parsing a Jigsaw module statement does not work"
Should `JavaParser.parseStatement("exports org.javacord.api.entity.channel.internal to org.javacord.core;");` not work?
Actually `ModuleStmt` does not implement `Statement`, so I guess no, but why?
If there is no reason, I'd suggest to add this, or how are you supposed to parse a single module statement?

[2018-05-12 16:35] Vampire opened #1559 "Module descriptor generation is not very fluently"
Most generation API is pretty fluently and able to use with Strings.
But to generate a simple module descriptor, you have to use

[code]

if I didn't do anything stupid.
Would be nice if we could instead do something like

[code]

[2018-05-12 17:26] matozoid commented on #1558
Hmmm, they are supposed to be called `Directive`, not `Statement`. I guess the draft I was working from was a little premature. I'll add a separate parse method for these.

[2018-05-12 17:31] matozoid opened #1560 "ModuleStmt and children should be called ModuleDirective"

[2018-05-12 18:39] matozoid opened #1562 "Improve ProjectRoot documentation"
It doesn't seem to convey what it is meant to do: contain a collection of source code of a project so that it can be analysed or manipulated as a whole.

[2018-05-13 02:40] parvez2014 commented on #1548
Thanks. I did that. Jar files are loaded successfully and JSS can resolve bindings that are declared in Jar. But when I checked the exceptions, I found that JSS failed where the expression involves classes that are defined in the Java source code. I put the source code folder path in the type solver. Is there any specific way to tell JSS about Java source code that I am missing?
Here are some stac

[2018-05-13 02:49] parvez2014 commented on #1548
I found something really interesting. My project folder name is "JSSTest" and inside that "src" folder is located that contains the source code. Previously, I provided the path to JSSTest to the  CombinedTypeAnalyzer. But as soon as I put the path to "src" folder instead of "JSSTest" folder, all exceptions are gone.

[2018-05-13 10:02] ftomassetti commented on #1548
Well, that is how it should be configured. It should be the root of the source directory.

[2018-05-13 10:03] ftomassetti commented on #1548
Marking as question and not bug report because if I understand correctly it works once using the current version and configure it properly (which should be more intuitive or well explained)

[2018-05-13 10:58] matozoid commented on #1548
Looks like `ProjectRoot` could have helped here too.

[2018-05-13 12:01] ftomassetti commented on #1293
It could be hard to fix this without the original code (which I should have asked immediately). I would tend to close this issue because we have no way to reproduce it.

[2018-05-13 12:55] matozoid commented on #1293
It could be because the poster configures the lexical preserving printer, then outputs with the pretty printer anyway.

[2018-05-13 12:55] #1293 closed, assigned to ftomassetti

[2018-05-13 12:58] parvez2014 commented on #1548
Thanks for the reply.  Let's consider that I am in a folder x of my computer and I run "git clone r", where r is the remote repository path. If the system creates a folder f into x, f is the project root folder. What I understood after using JSS, I should give the folder name that is the root of all packages of my source code (such as ../f/src). Please, correct me if I am wrong.  The term ProjectR

[2018-05-13 17:13] matozoid opened #1566 "CSM conditional should be able to check parent"
In case of `VariableDeclarationExpr` we would want to put annotations on the preceding line when it is a stand alone variable declaration, and right before the variable declaration when it is embedded in, say, `for(int x=2)`. The pretty printer does a check for this: is the parent a `StatementExpr`? The CSM does not support this.

[2018-05-13 17:42] #1558 closed, assigned to matozoid

[2018-05-13 17:46] #1533 closed, assigned to nobody

[2018-05-13 17:47] #1559 closed, assigned to nobody

[2018-05-13 17:47] #1547 closed, assigned to nobody

[2018-05-13 18:15] ThLeu commented on #1461
I guess you can close this now, should be in 3.6.5.

[2018-05-13 18:29] ThLeu opened #1567 "Wrong indentation when removing annotations"
As promised, one of the issues that currently do not work yet with the LexicalPreservingPrinter.

The result of the test below is currently the following
[code]
besides correctly removing the annotation two extra spaces are added before the modifier
**The problem is identical when there is no modifier at all.**

MethodDeclarationTransformationsTest
[code]

[2018-05-13 18:41] ThLeu opened #1568 "Wrong placement of spaces when adding modifiers to a method with annotations"
The other issue.

Result of addingModifiersWithExistingAnnotations
[code]
one space too many gets added

Result of addingModifiersWithExistingAnnotationsShort
[code]
the space seems to get placed at the wrong position

[code]

[2018-05-13 18:41] ThLeu commented on #1568
Might be connected with #1567

[2018-05-13 18:42] ThLeu commented on #1567
Might be connected with #1568

[2018-05-13 19:06] #1461 closed, assigned to nobody

[2018-05-13 21:25] Vampire opened #1569 "Parsing addTypeParameter method"
A `NodeWithTypeParameters.addTypeParameter(String)` method would be nice, so that you can do

[code]

instead of

[code]

[2018-05-13 22:02] Vampire opened #1570 "Indentation of code block in wrapped method call chains still wrong"
The indentation of code blocks in method call chains is still wrong.
Now it is indented too far.
If you change `com.github.javaparser.printer.PrettyPrinterTest#prettyAlignMethodCallChainsIndentsArgumentsWithBlocksCorrectly` to

[code]

and

[code]

You will see the failure :-(

[2018-05-13 22:12] Vampire opened #1571 "add leading space to all JavaDoc lines if adding at all"
The following test has the `3` nicely aligned with the `2` in the set comment, but in the formatted comment it is not aligned anymore but off-by-one, because for line 1 and 2 a leading space is inserted.
It would be nice if all lines get a space prepended if any line has no leading whitespace instead of only adding leading whitespace to those lines that have none.

[code]

[2018-05-13 22:42] Vampire opened #1572 "CompilationUnit#addModule does not actually set the module"
The new `com.github.javaparser.ast.CompilationUnit#addModule` does create a new module and returns it, but it does not actually set it to the CU, so it never gets printed.

[2018-05-13 23:25] Vampire commented on #1570
I think the problem is that within an `if`, or `for` or whatever no call-chain wrapping should be done
[code]
is imho better than
[code]

[2018-05-13 23:29] everplayed opened #1574 "JavaParser doesn't remove comments before package declaration"
I posted this on Stackoverflow, and a maintainer of Javaparser told me to post an issue here.
With his help, I managed to solve my problem with another solution, but I think that this problem should be solved.
Here is my post:

I am writing a Java application that removes comments from Java files.

I wrote this code:

[code]

CompilationUnit cu = JavaParser.parse(projectDir); // projectDir is rece

[2018-05-14 07:03] matozoid commented on #1574
Hi! Thanks for reporting this (I'm the one who asked.) We'll take a look.

[2018-05-14 07:19] ftomassetti commented on #1574
My suspicion: the compilation unit consider itself to starts where the "package" keyword starts, so the comment is not "contained" in the compilation unit and therefore it is not considered and deleted.

[2018-05-14 07:56] matozoid commented on #1574
What I remember is that we hardcoded the cu to start at 0,0 and end at EOL. I'm suspecting an off-by-one error.

[2018-05-14 08:28] matozoid commented on #1572
Congratulations on opening unsolved issue 200 :-)

[2018-05-14 08:30] ftomassetti commented on #1572
Let's cry a little bit to celebrate :)

[2018-05-14 08:35] joined commented on #1552
the fact is that JSS can resolve references to methods that come from different sources. When they come from a Java file they are effectively instances of JavaParserMethodDeclaration. However they could come from a JAR or obtained through reflection. In those cases there is no Java file to refer to. In your case you are just using a Reflection and a JavaParser typesolver so your references will be

[2018-05-14 08:38] ftomassetti commented on #1552
ok, sorry about the confusion then. I think @matozoid knows better about the storage feature. It does not seem to be an issue related to symbol solving. Removing the flag

[2018-05-14 09:03] matozoid commented on #1572
:...(

[2018-05-14 09:05] Vampire commented on #1572
:'''-(

[2018-05-14 14:55] daanschipper commented on #1554
I'll continue this discussion in #1391!

[2018-05-14 14:55] #1554 closed, assigned to nobody

[2018-05-14 16:57] matozoid commented on #1572
Oh, you can't have more than one module per compilation unit, so `setModule` is sufficient. Removing this method completely...

No wait, making a `setModule(String)`...

[2018-05-14 17:19] Vampire commented on #1572
Yeah, `setModule(String)` is probably fine, I just searched with `add...`, as everything else is with `add...`.
But I think it is even stricter if I remember correctly.
I think you can not have anything else in the same compilation unit with the module and to be a valid module descriptor it has to be `module-info.java` without any package.
So maybe it would even make sense not being able to add /

[2018-05-14 18:00] matozoid commented on #1572
`add` is supposed to mean "add to a list," so if you spot a place where we have add but not a list, open an issue :-)
You are absolutely right that it is prettier to have a separate ModuleCompilationUnit or so. I don't think it's worth the additional complexity and work though.

[2018-05-14 18:01] Vampire commented on #1572
Sure, was just an idea. :-)

[2018-05-14 18:02] matozoid commented on #1572
It's appreciated :-)

[2018-05-14 18:31] matozoid opened #1576 "JavaParserTypeSolver should be configurable with ParserConfiguration"
By modifying the configuration you could tell the parser to skip features you don't need, which will speed up the solving process.

[2018-05-14 18:37] matozoid commented on #1552
It's related to both :-) PR is open for review.

Note that JavaParserFacade is the old fashioned API, do check out https://github.com/javaparser/javasymbolsolver-maven-sample/blob/master/src/main/java/com/yourorganization/maven_sample/MyAnalysis.java

[2018-05-14 20:40] #1569 closed, assigned to matozoid

[2018-05-14 20:40] #1572 closed, assigned to matozoid

[2018-05-14 22:26] ThLeu commented on #1160
+1 for this, it is quite frustrating actually when working on something with the test first or TDD approach

[2018-05-15 07:53] matozoid commented on #1160
I'll give it some priority. I don't remember why it's scheduled for 4.0.0 anyway.

[2018-05-15 12:01] whxpro opened #1578 "How can I keep the original source code style after parse?"
I have some source code like this
[code]
but after I call `JavaParser.parse(file)`, I print the `compilationUnit`, the code has changed, like this
[code]
This situation also happened on `switch` statement,
before:
[code]
after:
[code]
How can I keep the original style? It seems like because of the comment, I try to use `ParserConfiguration` but it doesn't work, anyone can help me? thanks :-)

[2018-05-15 12:02] ftomassetti commented on #1578
You are looking for the LexicalPreservingPrinter

[2018-05-15 13:51] daanschipper commented on #1391
I'm currently investigating the problem while parsing many files with JavaParser. I'm running it against a project with ~290 source roots and ~20k .java files.

My findings are:
- The cache in `SourceRoot` is not used since I'm calling `SourceRoot.parseParallelized`. By invoking `tryToParse` or `save` (manually adding a newly created Java file) will add the path to the file together with the compi

[2018-05-15 14:20] daanschipper commented on #1548
Have you seen this [article](http://javaparser.org/setting-up-for-analysing-a-whole-project/)? The ProjectRoot is more detailed explained there. What is does, in a nutshell, is collect all the .java and .jar files in your cloned folder r and construct a TypeSolver. This TypeSolver is then automatically inserted in every compilation unit, which you can access by doing something like ```
projectRoot

[2018-05-15 14:26] ftomassetti commented on #1391
Great stuff @daanschipper ! Thank you for your work.

If my memory is right some caches are not just nice for performance reasons but are really needed because there are situations in which you have a sort of circular dependency in type resolution. For example, to understand the types used in lambda you need to figure out which method is called. But to figure out which method is called you need to

[2018-05-15 14:32] parvez2014 commented on #1548
Thanks for pointing me to this article. No, I did not. This will be really helpful.

[2018-05-15 14:34] ftomassetti commented on #1391
Regarding `Providers.provider()`: I do not see a method there taking no parameters. Dies the tool list the methods as having no parameters even if they have them?

Regarding `ReflectionTypeSolver.tryToSolve()` it try to see if there is a class with a given name. By default it tries to solve only stuff in the java or javax packages. It uses reflection and... when there is qualified name it does not

[2018-05-15 14:43] daanschipper commented on #1391
Fortunately the cache only take up memory. As you say these caches are needed to solve lambdas, but I have the idea many entries are not needed. I think it would be great to somehow control this more, instead of saving **all** the parsed nodes.

Do you see any way the `ReflectionTypeSolver` can be sped up? For me it simply takes too long to process my project. Or do you have tips on how I could sp

[2018-05-15 14:46] daanschipper commented on #1548
If anything is not clear, please say so in #1562!

[2018-05-15 15:04] daanschipper commented on #1391
Another question, `SourceRoot` provides a way to parallel parse the individual `CompilationUnit`s, but I'm constantly asking `expression.calculateResolvedType`. To my knowledge there only exist one `TypeSolver` and `JavaParserFacade` instance, does this parallelisation affect this is any way? Are the threads waiting for one another?

[2018-05-15 15:24] matozoid commented on #1391
Notes about `SourceRoot`s threading are in its Javadoc. I'd say be very, very careful with the callback version - it's your responsibility to avoid concurrency issues there.

A `provider` is an abstraction for the data that is being streamed into the parser. I guess you're seeing disk access time there.

edit: I'm not sure having memory full is a problem (could be) because the caches should remove

[2018-05-15 15:47] cdtpinto opened #1579 "Get total tokens of a Java file"
I want to parse a Java file and get all the Java tokens from it. For what I read [here](https://www.quora.com/What-are-tokens-in-java), Java tokens are basically all the variables, keywords, spcial characters, literals and operators.

So, what would be the best approach?

Should I walk the compilation unit detecting variables, keywords, etc... or JavaParser has an easier way to get the tokens from

[2018-05-15 16:24] cdtpinto commented on #1579
Well, I think I found a solution using the `getTokenRange()` method.
If someone has the same problem in the future, this is the code I wrote:

[code]

This prints every token in the console.

If someone has a better/prettier solution, I would gladly appreciate it.

However, I would like to ask a question to the maintainers of JavaParser. As far as I can see, you consider spaces and line breaks (`\

[2018-05-15 17:17] matozoid commented on #1579
Hi! Yes, those are tokens. Every byte in the input becomes part of a token. Some tokens, like comments and whitespace, can be treated as "unimportant" and get ignored during parsing.

[2018-05-15 17:23] #1552 closed, assigned to matozoid

[2018-05-15 17:23] #1576 closed, assigned to nobody

[2018-05-15 22:43] cdtpinto commented on #1579
Understood. Thanks for the explanation!

[2018-05-15 22:43] #1579 closed, assigned to nobody

[2018-05-16 07:44] daanschipper commented on #1391
Regarding the threading, I'm only visiting the individual nodes and for certain conditions I'm calling `expression.resolve` or `expression.calculateResolvedType` and saving them in a db. I know for certain that the saving to the db is safe, but are the other functions considered thread safe? Otherwise I'll have to implement something to circumvent multiple simultaneous calls to JavaParserFacade.

[2018-05-16 07:56] matozoid commented on #1391
Well, if @ftomassetti says that resolution depends on the content of the cache, and the cache is a single instance, then threads could influence the resolution result of another thread. Most straightforward solution: don't use parallel parsing, just use the sequential one.

[2018-05-16 08:03] daanschipper commented on #1391
I'm now trying to profile the sequential one. If I really want to use the parallel parsing I'll have to implement some queue of nodes that JavaParserFacade can resolve.

[2018-05-16 08:42] matozoid commented on #1391
From my own experience I know that it is noticably slower - tens of percents.

[2018-05-16 08:54] #1571 closed, assigned to nobody

[2018-05-16 09:01] daanschipper commented on #1391
@ftomassetti On your question, VisualVM did not list the method parameters in the sampling mode. I'm now running it with 'Profiler' and that does show the method parameters

[2018-05-16 16:03] joined opened #1580 "Cannot get range of resolved method's declaration"
This issue is related to the issue I opened previously, #1552.
Thanks to pull request #1557 now I am able to obtain the path of the Java class containing the resolved method declaration. I built the project from sources and it's working as expected.
Unfortunately a regression was introduced somewhere between release 3.6.5 and the current master branch that doesn't allow me to retrieve the range of

[2018-05-16 16:31] joined commented on #1580
Ok so seems like the problem lies here https://github.com/javaparser/javaparser/pull/1577/files#diff-b95e1b81b736146aae3a390cd31e21e8R90, @matozoid set the default ParserConfiguration for the JavaParserTypeSolver not to store the tokens, which is not the default behavior of ParserConfiguration which was used before in its default configuration (https://github.com/javaparser/javaparser/pull/1577/fi

[2018-05-16 16:35] ftomassetti commented on #1580
A PR would be really welcome. Thank you for inspecting this one

[2018-05-16 16:37] matozoid commented on #1580
I did that on purpose to speed up parsing and lower memory usage. Well, I guess that people want to do things with the parsed files, so do create a PR :-)

[2018-05-16 21:21] #1580 closed, assigned to nobody

[2018-05-17 07:50] whxpro commented on #1578
@ftomassetti `LexicalPreservingPrinter` works for me, thank you

[2018-05-17 07:50] #1578 closed, assigned to nobody

[2018-05-17 16:19] parvez2014 commented on #1562
My plan is to use Java Symbol Solver (JSS) to resolve type binding. I am using the the ProjectRoot to collect source directories.
`ProjectRoot projectRoot =  new CollectionContext(new SymbolSolverCollectionStrategy()).collect(root);`
To resolve symbol, previously I used the following code:
`JavaParserFacade jpf = JavaParserFacade.get(combinedTypeSolver);
SymbolReference<ResolvedMethodDeclaration>

[2018-05-17 17:50] dmy365 opened #1583 "Split or iterate CompilationUnit in blocks of n lines of code"
What I want to accomplish is to get the content of a Java class and split it in n lines to operate in these blocks of code instead of the whole class.

I tried to split the files into ArrayLists of Strings (having each String the content of n lines of code). However, parsing the entries eventually results in a com.github.javaparser.ParseProblemException: due to the code not being consistent.

So,

[2018-05-17 18:26] matozoid commented on #1583
Hi! That depends on what you're trying to achieve. What kind of operation do you want to do? Why can't it be done on a complete file?

[2018-05-17 19:44] #1570 closed, assigned to matozoid

[2018-05-17 20:18] dmy365 commented on #1583
Hi, thank you for the attention! Basically I want to get a list of the number of operators, keywords and tokens to apply the amount of each to a formula. The problem is that the formula only handles correctly 8 lines of code (more that that will reproduce erroneous results), so I want to apply the formula to each 8 lines of code, sum them up and calculate the average. That's why I need to "split"

[2018-05-17 21:02] matozoid commented on #1583
Well, imagine code like this:
[code]
There's no way to split this to 8 lines. I would look for another solution to this problem.

Why does the algorithm not handle more than 8 lines?

Hmmm, something you could do, if you must do it this way: write a visitor that counts the information you want, and keep checking the line number of the node you're visiting. Every time it gets 8 (or so) higher than

[2018-05-18 08:07] ftao opened #1585 "[Code Generation] toString method do not consider operator precedence"
I am trying to using javaparser to generate java code .
I'm build the ast manually .
It seems the toString method, do not respect operator precedence and do not add "(", ")" .

test code

[code]
got the output
[code]
but I'm expecting
[code]

[2018-05-18 08:15] matozoid commented on #1585
Hi! You need to put the nested binary expr inside a `EnclosedExpr`. Here's an article about figuring out the correct AST for a piece of code: http://javaparser.org/inspecting-an-ast/

[2018-05-18 08:18] ftomassetti commented on #1585
Currently the API has not a feature to figure out for you where you need parenthesis and we did not get request for it so far.

[2018-05-18 08:25] ftao commented on #1585
Thanks for the quick reply .
I am doing some kind of translation work from another language's AST to java AST , then to java source code.

I guese I need to walk the ast , add the EnclosedExpr .
or  inherent PrettyPrintVisitor  to add "(" and ")".

[2018-05-18 08:33] matozoid opened #1586 "Remove annotation support from identifiers in names"
This was erroneously added. It's not hurting anything (except performance)

[2018-05-18 09:04] matozoid commented on #1585
A really simple way would be to pretty print the source AST and parse that source with JavaParser :-)

[2018-05-18 09:15] ftao commented on #1585
The source language is java , so it can not be parsed by JavaParser ..
(I'm using ANLTR build the source language AST.)

My current hack  is just add EnclosedExpr everywhere  because I don't  care the readability of the output .

[code]

[2018-05-18 09:35] daanschipper commented on #1391
Apparently you can't invoke JavaParserFacade in parallel, so I'm now running everything in serial, which seems to perform a lot better. However, it's still not enough.

I've tried to optimise the visitor I'm using, ignoring nodes that are useless for my analysis (`node.getComments()` is quite costly since it's invoke for every node by `VoidVisitorAdapter`).

The project I'm analysing has one gigan

[2018-05-18 09:36] matozoid commented on #1585
Cool, so this is solved then?

[2018-05-18 09:36] ftao commented on #1585
yes.  Close the issue now.

[2018-05-18 09:36] #1585 closed, assigned to nobody

[2018-05-18 09:38] ftomassetti commented on #1391
I am not sure about what kind of analysis you are doing, but would it make sense to run it for subset of the code and store the partial results somewhere. Finally you would merge the partial results

[2018-05-18 09:45] daanschipper commented on #1391
I'm extracting log statements (log.info("some log message")), type hierarchies (A extends B) and the output of toString methods. I'm just extracting this information with a visitor and storing it in a database.

[code]

That is all I'm doing, which is why I'm wondering why it is so slow after a while.

To give some more insight on how I'm extract for instance the type hierarchy, I'm resolving the

[2018-05-18 09:52] matozoid commented on #1391
I'm not sure it was said explicitly, but if you don't need tokens and/or comments, you can turn them off in the ParserConfiguration and use that on `JavaParser` *and* `JavaParserTypeSolver`.

Turning off comments ("do not attribute") will skip the algorithm for placing comments at the right nodes.
Turning off tokens prevents JP from creating a few objects for every token.

[2018-05-18 10:03] daanschipper commented on #1391
What does the `setStoreTokens()` exactly do? I was already using attribute comments.

[2018-05-18 11:16] matozoid commented on #1391
It creates/keeps the list of tokens and gives all nodes a TokenRange that points to it. If you don't access tokens or functionality based on it (lexical preserving printer) you can ignore them.

[2018-05-18 11:38] daanschipper commented on #1562
1. `ProjectRoot` already takes care of initialising the `JavaParserFacade` and automatically injects it in a `CompilationUnit`. Thus to get a `ResolvedMethodDeclaration`, you invoke `methodDeclaration.resolve()`.
2. `ProjectRoot` collects all jar files that are present in the root directory that you give. However, it is currently not able to get the jar files from Gradle or Maven.

Hope this answe

[2018-05-18 11:56] parvez2014 commented on #1562
This clarifies a lot. Thanks. That means whenever I create any new ProjectRoot in my code, they all will be analyzed by JSS. I think I have seen that there is a way to invalidate the cache and I think I can use that to remove the effect of previous ProjectRoot. I have one more question to add in relation to this.
I am analyzing multiple versions of the same program. Let's say that I have put versi

[2018-05-18 12:19] daanschipper commented on #1562
If you add new files, you need to somehow add those files to the JSS. However, I don't think you can do this with the current implementation of `ProjectRoot`...
Just 'pointing' the ProjectRoot to the new source doesn't work, you would have to collect the files again wit a CollectionStrategy in order for the new files to be analysed.

If you would like this functionality you could create a new issu

[2018-05-18 16:02] matozoid commented on #1562
Note that this issue is for improving the documentation, not for questions. You can open a new issue for that.

[2018-05-18 16:12] daanschipper commented on #1562
I thought it would be useful to find out what people don't understand so we could add that to the documentation!

[2018-05-18 16:43] matozoid commented on #1562
Of course, and when we find that out we can comment on this issue.

[2018-05-18 18:30] everplayed opened #1587 "Print methods names and respective variables names in a CompilationUnit"
I want to print all the methods and respective variables declared in them.

I managed to get the methods names, but now I can't manage to get the variables of each.

This what I have so far:

[code]

Can anyone point me in the right direction in order to get the variables names? I thoght about getting the tokens and then checking which were variable declarations, but there is no "isVariable()" met

[2018-05-18 19:07] matozoid commented on #1587
Hi! All of this is explained in the book we wrote. You can get it for free on javaparser.org.

[2018-05-18 19:22] everplayed commented on #1587
I had a look at the book and for what I see, the only  way to get the variables is through the FieldDeclaration, right? But, as page 7 shows, MethodDeclaration doesn't have a VariableDeclarator.

So my guess is that I should get the block statement and from there try to get the variables some way. Is this a possible approach?

[2018-05-18 21:50] everplayed commented on #1587
Alright, I managed to be able to get the variable declarations inside the methods. This way I can get all the local variables in a method, since they have to be declared in order to be used.

[code]

However, what if there is a class variable being used in the method? Like so:

[code]

In this case, "example" is a class variable, so it wasn't declared inside the method. Is there a way for JavaPars

[2018-05-19 10:17] matozoid commented on #1587
For finding what's where in the AST: http://javaparser.org/inspecting-an-ast/

Without the symbol solver, JavaParser is really just a tree structure on top of a source file. So you can take the text of the variable name and compare it to the text of the fields, but it's more or less comparable to pressing "CTRL-F" in the source file and searching for that variable name. It can easily be wrong, bec

[2018-05-20 17:55] parvez2014 commented on #1562
Thanks for the clarifications

[2018-05-21 18:22] Shoreray opened #1589 "Incorrect resolved type of binary expression"
It seems that the method com.github.javaparser.symbolsolver.javaparsermodel.JavaParserFacade.getBinaryTypeConcrete(Node left, Node right, boolean solveLambdas) does not handle type promotion correctly.

For example, when the resolved types of the left and right nodes are byte and char correspondingly, the returned type of the binary expression is byte, instead of the correct type int.

[2018-05-21 19:35] ivanjunckes opened #1590 "Remove unused imports"
How can I remove unused imports programmatically? Can anyone help me on this?

[2018-05-21 19:58] Shoreray commented on #1589
The issue is not limited to promotion of primitive types. When the operator is "+", the right node of the binary expression is a string but the left node is not, the calculated type of the expression is whatever the type of the left node is.

[2018-05-21 20:06] matozoid commented on #1590
I'm guessing: resolve all variables and fields in a compilation unit, then match all imports to all these names, then remove all imports that haven't matched any variable or field.

[2018-05-22 06:47] ftomassetti commented on #1590
That would be a nice example to write. One could also try removing an import and see if any resolution changes.

[2018-05-22 06:48] ftomassetti commented on #1589
Thanks for reporting this one!

[2018-05-22 07:58] matozoid commented on #1589
@ftomassetti any hints for where we should look to solve this?

[2018-05-22 08:01] ftomassetti commented on #1589
The primitive types know about the values to which they can promoted but this is probably not good enough and we should probably change the code that calculates the type of BinaryExpr. There should be a visitor that given an expression returns the type.

[2018-05-22 09:07] matozoid opened #1591 "Note exact feature set and implementation status on javaparser.org"
To prevent disappointment, make clear which features are supported and what the state of their implementation is.

[2018-05-22 09:46] Abhisek1994 opened #1592 "Trying to get line types of every line of code. It is not working. Please help.-"
[code]

[2018-05-22 09:56] ftomassetti commented on #1592
Please read the documentation:
https://leanpub.com/javaparservisited

[2018-05-22 10:20] Abhisek1994 commented on #1592
That was so helpful. I can't stop thanking you.

[2018-05-22 10:27] Abhisek1994 commented on #1592
I have already seen the book. There's no proper example with JavaParser.parseStatement. That's why I asked.

[2018-05-22 10:34] ftomassetti commented on #1592
Well, you wrote a very poor question and honestly I do not think I deserve your sarcastic tone.

You do not explain what you want to achieve, you have put together an example that makes little sense and just demanded someone to solve it for you. We have limited resources and we spend them on users which are more respectful of our time.

[2018-05-22 11:54] Vampire opened #1593 "Method call chain indentation is not reset on expression end"
This test should succeed:

[code]
but it does not produce
[code]
but
[code]
is generated

[2018-05-22 14:01] Abhisek1994 commented on #1592
I apologise for the inconvenience. I got a solution from my seniors. Greatly regret for it.

[2018-05-22 19:36] ivanjunckes commented on #1590
@ftomassetti what you mean by see if any "resolution" changes?

Calling resolve in the class I get: "Symbol resolution not configured: to configure consider setting a SymbolResolver in the ParserConfiguration"

[2018-05-22 19:37] ivanjunckes commented on #1590
@matozoid tried this one, but is very hard to get all the types. Because it can go to annotations recursively etc..

[2018-05-23 00:45] Vampire opened #1595 "Another indentation bug"
[code]

should return

[code]
but returns
[code]

[2018-05-23 05:35] puneet-soni opened #1596 "Can we get Source Line of Code from Javaparser"
Hello all,
Can javaparser as a library provide us the "Source lines of code". https://en.wikipedia.org/wiki/Source_lines_of_code

If Yes how can we do it ?  If No then  what are the alternatives?

Puneet

[2018-05-23 07:39] ghost commented on #1596
As this project is a parser and not a static code analysis tool, counting LoC doesn't really belong here imo. Sonarqube is an opensource tool which already does this for you if you don't need it as a library.

However, it's not that difficult to implement
If you feel like doing it yourself as practice:

1. Get the ClassOrInterfaceDeclaration or EnumDeclaration
2.  Use BufferedReader to read the fi

[2018-05-23 08:49] ftomassetti commented on #1596
It depends how you want to calculate LoC. You can simply open Java files and count the lines. If you need to exclude comments lines or blank lines you may want to use JavaParser. While if you want to count the number of lines for a class that should be trivial: each nodes know its starting and ending position in a source file

[2018-05-23 09:16] matozoid commented on #1590
@ftomassetti is the expert on symbol solving here - isn't it possible to simply "find all `Type` -> resolve" ?

[2018-05-23 09:18] matozoid commented on #1596
Foot note: many people have done this before with JavaParser. With a little searching on github you can find several implementations of code quality checkers including lines of code algorithms.

[2018-05-23 09:41] ftomassetti commented on #1596
Nice, we should list them!

[2018-05-23 09:42] matozoid commented on #1596
A few are here: https://github.com/javaparser/javaparser/wiki/Projects-using-JavaParser

[2018-05-23 09:43] ftomassetti commented on #1590
@ivanjunckes by resolution change I mean taking any symbol in the code and try to resolve it. For example find out that "Foo" is resolved in a certain point as "my.packagez.Foo". Then remove the import and try again. It could happen that Foo is then resolved to another class, maybe in the same package or maybe it is still resolved to the same class because Foo was in the same package or because an

[2018-05-23 09:44] ftomassetti commented on #1590
To find all types I would think that there are utilities to traverse the tree and get all nodes of a certain type. We mainly want SimpleName nodes I think.

[2018-05-23 10:13] matozoid commented on #1590
`SimpleName` is always unqualified. Don't you mean `Name` which can be qualified?

[2018-05-23 12:33] ivanjunckes commented on #1590
@ftomassetti do you know which utility class is that?

[2018-05-23 13:32] parvez2014 opened #1597 "java.lang.UnsupportedOperationException when calling accessspecifier method"
I am using both parser and JSS. For each ResolvedMethodDeclaration instance, I am collecting name, return type and access specifier. The program is working for many of the cases but in some cases, I also receive exceptions when calling the following method on a ResolvedMethodDeclaration instance:

`resolvedMethodDeclaration.accessSpecifier() `
I have received the following exception:

I checked th

[2018-05-23 13:38] ftomassetti commented on #1597
It is actually very easy to find the source code of that Method. It is exactly at [line 174 of the class JavassistMethodDeclaration](https://github.com/javaparser/javaparser/blob/b64b7a425769228e24ee8784c7f535fc7b49d32e/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javassistmodel/JavassistMethodDeclaration.java#L174).

The issue is that the method has not been impl

[2018-05-23 13:42] parvez2014 commented on #1597
Thanks for quick reply. This is a great project and I would like to contribute. Can you give me some additional pointers to help with the issue and how to contribute. Thanks.

[2018-05-23 14:23] matozoid commented on #1590
@ivanjunckes `Node.find...`

[2018-05-23 14:28] matozoid commented on #1597
@parvez2014 here you go: https://github.com/javaparser/javaparser/blob/master/CONTRIBUTING.md

[2018-05-23 17:24] #1592 closed, assigned to nobody

[2018-05-24 09:56] TerryvanWalen opened #1598 "Question: How to get the inherited fields of a class?"
It is possible to solve inherited fields that are declared in the super class and used in the child class but in my usecase I also would like to discover the inherited fields that are not used in the child class.

Is this at all possible?

[2018-05-24 10:24] jjbr opened #1599 "Resolving anonymous classes and methods within them doesn't work"
Currently I am struggling to resolve the type of variables that have anonymous class types and any methods called of those anonymous types. Take following code:

[code]

If I try to calculate the resolved type of `myVar.bar()` I get the `public abstract void bar();` from the original abstract class declaration. If I try to resolve `myVar.bar2()`, I get an `UnsolvedSymbolException`. Similarly, if I

[2018-05-24 10:31] jjbr commented on #1598
Is `getAllAncestors()` perhaps what you are looking for? http://static.javadoc.io/com.github.javaparser/java-symbol-solver-core/0.6.3/com/github/javaparser/symbolsolver/model/typesystem/ReferenceTypeImpl.html#getAllAncestors--

[2018-05-24 10:39] ftomassetti commented on #1598
I think you are looking for this methods:

http://static.javadoc.io/com.github.javaparser/javaparser-core/3.6.6/com/github/javaparser/resolution/declarations/ResolvedReferenceTypeDeclaration.html#getAllFields--

Perhaps we should make it available also in other classes or figure out how to make it easier to find

[2018-05-24 12:11] TerryvanWalen commented on #1598
Thank you. This works.

The code to get all fields (inherited and from the current class)

[code]

To only get the inherited fields you can do something like:
[code]

[2018-05-24 12:11] #1598 closed, assigned to nobody

[2018-05-24 12:32] ftomassetti commented on #1598
Nice, looks easy enough to use

[2018-05-24 12:46] matozoid commented on #1599
Does this have anything to do with #1436?

[2018-05-24 12:52] jjbr commented on #1599
I believe they are related, yes, although the approach described in #1436 seems to be slightly different. From what I can see they may, in essence, come down to the same issue, though.

[2018-05-24 12:59] matozoid commented on #1599
Then I'll declare this a bug report too.

[2018-05-25 15:48] jooyunghan opened #1601 "LexicalPreservingPrinter doesn't work well with FieldDeclaration"
For example, let's consider the following definition,

[code]

I tried to change the type `B` to `String` with following visitor.

[code]

PrettyPrinter works fine with this. However, LexicalPreservingPrinter doens't.
It shows FieldDeclaration's type as unchanged.

I traced it is due to FieldDeclaration's type information is owned by VariableDeclarator and therefore
LexicalPreservingPrinter keeps

[2018-05-25 22:05] freefire4547 opened #1602 "work line by line from source code"
Is it possible to find variables, operators, function calls from a certain single line in the source code ? From each line of source code I need to find what variable is modified,and what variable is accessed and what function call is made.Sorry if this question is too basic, I am novice here.

[2018-05-26 08:57] matozoid commented on #1602
Hi! When you parse, you get `Node`s. You can ask these nodes for the begin and end position.

If you want to get a good start, grab the book: https://leanpub.com/javaparservisited

[2018-05-26 09:27] freefire4547 commented on #1602
So you mean I should first parse full class and then search nodes with specific line number ?

[2018-05-26 14:39] matozoid commented on #1602
I mean that you should read the book, because you do not have the basic knowledge for using this library. You can get it for free if you like.

[2018-05-26 20:50] #1593 closed, assigned to nobody

[2018-05-26 20:50] #1595 closed, assigned to nobody

[2018-05-27 14:31] OmahaCF commented on #1525
Hello,
I am getting an error whenever I try to use this line:
   cu.findAll(IfStmt.class).forEach(ifStmt -> {

The error states findAll is not  defined for the type CompilationUnit.. However I have seen it being used in other places than here. Any idea how to fix that? Also, I have all the imports.

[2018-05-27 17:23] matozoid commented on #1525
Hi @OmahaCF - please open a new issue next time so we can keep the issue tracker clean.

The answer to your question is probably: use the latest version :-)

[2018-05-27 19:28] cdtpinto opened #1603 "Parse MethodDeclaration"
Basically, having a MethodDeclaration object, I  want to parse it.

I checked the available parsing methods and there are methods to parse expressions of variable declarations, to parse package declarations, etc... but there is no `parseMethodDeclaration()`.

What approach should I take in order to do this? Should I get the body declaration and the try to parse it? The problem with this solution i

[2018-05-27 20:57] matozoid commented on #1603
Hi! `MethodDeclaration` is a `BodyDeclaration`, so that's the parse method to use. After that you can cast it to `MethodDeclaration`. Note that it has be complete, so something like `public void example { }`.

[2018-05-28 07:32] ftomassetti commented on #1601
Thank you for this bug report

[2018-05-28 09:13] daanschipper opened #1605 "Unable to save files with callback in parse method"
The following test

[code]
throws a IOException with the message that the location of the source root is a directory

[2018-05-28 11:24] matozoid commented on #1605
Thanks!

[2018-05-28 11:57] matozoid opened #1607 "Remove intellij files from repo"
It was a nice experiment, but I've seen no advantages. There is a disadvantage: we get nonsense changes in PR's on them.

[2018-05-28 12:56] ftomassetti commented on #1607
+1

[2018-05-28 13:55] #1605 closed, assigned to nobody

[2018-05-28 14:00] jooyunghan commented on #1601
[code]

I made a test case revealing this behavior. For now this results ...

[code]

[2018-05-29 00:56] jooyunghan opened #1610 "Transforming BinaryExpr fails"
Following test case fails

[code]

with

[code]

[2018-05-29 07:33] matozoid commented on #1610
Hi! Thanks for the report. I was afraid something like this would happen because the CSM only looks at names of properties, and some of them are ambiguous. This is actually one of the reasons I made the metamodel, to have a reference to every property in the AST. The correct solution would be to use that instead of the current enum with property names.

[2018-05-29 11:20] #1607 closed, assigned to matozoid

[2018-05-29 12:00] daanschipper opened #1613 "Evaluate CompilationUnits within Callback instead of iterating list of all parsed CompilationUnits"
`JavaParserTypeSolver.parseDirectory(Path path)` parses all `.java` files present in the given directory, and returns all `CompilationUnit`s in a list. This function can be largely improved on the memory consumption if it would use `SourceRoot.parse(String startPackage, ParserConfiguration configuration, Callback callback)` for instance, where the `CompilationUnit` is directly evaluated and discar

[2018-05-29 12:40] jjbr commented on #1599
I just stumbled on a case where the core of this issue produces an arguably even less desirable result. If I implement and instantiate an interface with an anonymous implementation and try to resolve the constructor call, JavaParser throws a ClassCastException. Take the following code as example:

[code]

At the end there we get a ClassCastException because the symbol solver first resolves the typ

[2018-05-29 12:47] matozoid commented on #1599
My opinion is that this is required functionality, and missing it is a bug. The only expert at the symbol solving code is currently rather busy and I'm kind of embarrassed that these fundamental bugs stay unfixed for so long.

[2018-05-29 13:12] jjbr commented on #1599
The unfortunate reality in a lot of open-source projects

[2018-05-29 14:31] matozoid commented on #1599
Yep, for the symbol solver and lexical preserving printer we're running on PR's from occassional contributors.

[2018-05-29 15:02] ftomassetti commented on #1599
I agree that this is a bug, obviously. Support for anonymouse classes is really poor at the moment, and this is an example. In this case there is no really a constructor for the interface, am I right? So that should be treated as a special case in the Symbol Solver imho.

@jbrips do you feel like creating a PR with a failing test? Perhaps we can take it from there or guide you in fixing it, if you

[2018-05-29 17:31] matozoid commented on #1531
Looks like this was answered.

[2018-05-29 17:31] #1531 closed, assigned to nobody

[2018-05-29 17:32] matozoid commented on #1583
No response, assuming answered.

[2018-05-29 17:32] #1583 closed, assigned to nobody

[2018-05-29 17:32] #1596 closed, assigned to nobody

[2018-05-29 17:33] matozoid commented on #1590
I assume this is answered.

[2018-05-29 17:33] #1590 closed, assigned to nobody

[2018-05-29 18:54] matozoid opened #1615 "Figure out what JarTypeSolver.getJarTypeSolver is meant to do"
It will build a global `JarTypeSolver` for several jars at once, but why global? Why is it unused? Why doesn't `JarTypeSolver` have a public interface for adding jars?

[2018-05-29 18:58] ftomassetti commented on #1615
I think the reason for having one instance is that in this way we share the ClassPool. We had the problem of having classes in one JAR depends on classes in another JAR and for ASM to work correctly it needs to be aware of all the JARs

[2018-05-29 19:01] matozoid commented on #1615
Ah right. That leaves the question why it is currently unused, and if we can't make that a feature of the class instead of having a static field.

[2018-05-29 19:35] matozoid opened #1617 "Clear up SymbolSolver class hierarchy"
Why is...
`JavaSymbolSolver` a `SymbolResolver` but not a `SymbolSolver`?

[2018-05-29 20:48] ftomassetti commented on #1617
I would start by saying that having a SymbolResolver and a SymbolSolver is scary...

[2018-05-29 21:50] ThLeu commented on #1567
Ok, I looked deeper into this issue and the problem has something to do with the node that is checked for the difference.

Basically, the elements that are considered for the difference application start exactly at the annotation (in this case `@Override`).
There is logic in `Difference.considerCleaningTheLine()` that would remove the two unnecessary spaces in front of the annotation after removin

[2018-05-30 06:46] jjbr commented on #1599
Yes, I will look into it. :)

[2018-05-30 08:02] matozoid commented on #1567
@ftomassetti ?

[2018-05-30 09:05] ftomassetti commented on #1567
Mmm. I am not sure what is happening. One suspicion is that the LPP knows that the method should be indented, therefore it puts four spaces at the start of the line, which is not ideal in this case. However that is the first line of the method so it has no previous line from which to copy the indentation. Ideally it could remember that the annotation used to have only 2 spaces before it.
Just a su

[2018-05-30 18:18] lvillap opened #1621 "How to obtain annotation qualified name using Javasymbol solver?"
I'm writing a library based on JavaParser, using Javasymbol solver to resolve class names on source files. I'm trying to obtain qualified class names of annotations to classes and methods, but at the moment I'm not able to obtain them.

My current code is:

    final CombinedTypeSolver combinedTypeSolver = new CombinedTypeSolver();
    combinedTypeSolver.add(new ReflectionTypeSolver());
    combin

[2018-05-30 18:18] everplayed opened #1622 "Get operators and operands in CompilationUnit"
I am implementing Halstead metrics and am using JavaParser to parse the code from java files.

I need to get the total and uniqueoperators and operands in a file.

I don't know if this is the best idea, but I am thinking about walking the CompilationUnit and checking of the nodes have instances of operators and operands.

Can anyone tell me how can I do this? How can I check if the nodes have inst

[2018-05-30 18:36] matozoid commented on #1621
Hi! One thing to do is to follow the instructions about dependencies: http://javaparser.org/getting-started/

There is no standalone JSS library anymore.

[2018-05-30 19:43] matozoid commented on #1622
Well, `UnaryExpr`, `AssignExpr`, and `BinaryExpr` all have an operator. So if you visit those (check out the book if you need more information) you can find all operators in the `CompilationUnit`. The operands are also in those nodes.

[2018-05-30 23:28] ThLeu commented on #1567
I might have thought of a solution now, I just have to code it now :smile:
If you want you can assign this issue to me.

[2018-05-30 23:34] ThLeu commented on #1567
My idea is to consider all the "Removed" elements in a row and check if the whole line was removed ignoring the spaces that are left.
If the whole line was removed and the indentation of that line is known, the same amount of indentation will be removed on the next line (for this scenario) or on the current line (for other scenarios where the Removed element is not the first in the differenceEleme

[2018-05-31 01:39] everplayed commented on #1622
Thank you very much. I will see what I can do. When I have a solution, I will post it.

[2018-05-31 10:01] TerryvanWalen opened #1624 "Resolve JavaCore corresponding parameter names"
In my application I would like to retrieve the corresponding parameter names to all MethodCallExpr arguments.

Using the following code this does not work well for correspondingMethods in the JAVA CORE packages (Scanning GoogleGuava source: https://github.com/google/guava).

[code]

However I already have a simple solution that works quite well, the problem with this however is that it is slow.

[

[2018-05-31 10:11] ftomassetti commented on #1567
If you want you can assign this issue to me.

My pleasure :D

[2018-05-31 11:50] #1602 closed, assigned to nobody

[2018-05-31 16:42] matozoid commented on #1567
@ThLeu consider yourself assigned!

[2018-05-31 17:02] matozoid opened #1625 "Fix SourceRoot API"
All kinds of combinations of parameters do not exist. Two that I just tried: `parse` with a callback but no parser configuration, and `parse()`. Carefully look at the API and add those that are missing.

Also an inconsistency that we can't easily get rid of: parse with a callback give a ParseResult. A ParseResult is expected from `tryToParse` however

[2018-05-31 17:08] matozoid commented on #1625
It would also be a good idea to somehow make a clean split between methods used for code generation (that store cu's in the internal cache) and the ones for plain traversal.

[2018-05-31 17:30] matozoid commented on #1617
Well, @ftomassetti, you put all of those there :-) Now what do we do?

[2018-05-31 18:11] everplayed commented on #1622
Well, I implemented the logic, but it seems that JavaParser misses the ASSIGN operator in expressions like `String str = "";` . In this case, it doesn't detect = as an operator.

I used [this code](https://pastebin.com/04FxBth4) and JavaParser returned [these results](https://pastebin.com/fm2exJ8U).

The two ASSIGN operators that are missing are the ones in the lines `int z = a + b;` and `boolean

[2018-05-31 18:12] everplayed commented on #1622
BTW, this is the code that I implemented:

[code]
m is a `MethodDeclaration`.

[2018-05-31 20:55] matozoid commented on #1622
Here's probably the most useful article on JP: http://javaparser.org/inspecting-an-ast/
That will give you the ability to find out what code construct maps to what AST :-)

Sorry for the short answer, I've got a headache :-/

[2018-06-02 14:28] matozoid commented on #1603
I assume this is answered.

[2018-06-02 14:28] #1603 closed, assigned to nobody

[2018-06-03 12:06] #1610 closed, assigned to nobody

[2018-06-04 12:34] matozoid opened #1627 "Set language level to definitive"
The enum value is `JAVA_11_PREVIEW`, that should be renamed to `JAVA_11`.

[2018-06-04 12:48] ftomassetti commented on #1617
The `SymbolResolver` represents the interface that JavaParser core sees of the whole symbol resolution thing. Basically the whole JSS stuff has the goal of implementing that interface.

`SymbolSolver` is just a small utility class that was put together to avoid repetitions.

I would say we could rename `SymbolSolver`.

[2018-06-04 13:23] matozoid commented on #1617
I'll do so.

[2018-06-04 17:30] matozoid commented on #1617
@ftomassetti would it make sense to put these methods as default methods on `TypeSolver`? Are they generally useful or only for the library itself?

[2018-06-04 17:39] ivanjunckes opened #1628 "How to get type fields."
Could anyone help to answer this question? I have the same doubt.

https://stackoverflow.com/questions/22680937/how-to-get-class-level-variable-declarations-using-javaparser

[2018-06-04 18:04] ftomassetti commented on #1628
Isn't the answer present already correct?

[2018-06-04 18:09] matozoid commented on #1628
Answered it. Too bad people are posting question on StackOverflow and not here, where they will be answered quckly by the maintainers of the library.

[2018-06-04 18:09] matozoid commented on #1628
@ftomassetti it was in 2014 :-D

[2018-06-04 20:00] matozoid commented on #1617
Oh, never mind, that's in the model module, so it doesn't work with dependencies.

[2018-06-04 20:39] ftomassetti commented on #1617
I would rather just rename it in _something_Util or `SymbolResolutionHelper` o `SymbolResolutionLogic`

[2018-06-04 23:12] freefire4547 opened #1629 "UnsolvedSymbolException on Double.valueOf"
I want to print api calls from code. To get started I wrote following small program. And for testing I am using 'ReversePolishNotation.java' sample file. I have added 'rt.jar' for "java.lang" classes.

[code]
After running this program I get following output with some error

[code]

So it means it is not able to get type from "Double.valueOf ". So what can be the problem as I have added correct ja

[2018-06-05 13:21] freefire4547 commented on #1629
I am not sure about solving this problem, but I am able to get api calls using ` System.out.println(JavaParserFacade.get(combinedTypeSolver).solve(md).getCorrespondingDeclaration().declaringType().getQualifiedName()+"   "+md.getNameAsString());
               `

[2018-06-05 14:14] matozoid commented on #1629
@ftomassetti any idea?

[2018-06-05 14:23] freefire4547 commented on #1629
I understood from https://github.com/javaparser/javaparser/issues/1439 . It was due to 'Double.valueOf' being static method call.

[2018-06-05 14:24] freefire4547 commented on #1629
@matozoid  I am closing the issue.

[2018-06-05 14:25] #1629 closed, assigned to nobody

[2018-06-05 19:32] matozoid opened #1630 "Fix slow tests"
PR #1524 broke the slow tests.

[code]

[2018-06-05 23:32] freefire4547 opened #1631 "Can SymbolSolver be used for android source code files ? Has it been tried ?"

[2018-06-06 07:32] xinluke opened #1632 "Q:How to Modify Class Name without change the class code style？"
when i modify class name finish and save to a file , i find that the code style will be change , but i want to keep the same style with the file before .

i have more file have be modify ,and they maybe have different code style with each other, so i can not explicit defined `compilationUnit.toString(prettyPrinterConfiguration)` to get file content,.

so i want to only modify class name, have any

[2018-06-06 07:38] matozoid commented on #1631
Hi! Yes, it has been tried, you can search the issue list: https://github.com/javaparser/javaparser/issues?utf8=%E2%9C%93&q=is%3Aissue+android

I don't see anything shocking there.

[2018-06-06 07:39] matozoid commented on #1632
Hello @xinluke, that because "toString" calls the pretty printer. Please take a look at the `LexicalPreservingPrinter`.

[2018-06-06 11:45] #1631 closed, assigned to nobody

[2018-06-06 12:05] lvillap commented on #1621
Hello,

I've rewritten the code to use symbol solving using javaparser:
[code]

The code now is:

[code]

... but an exception is still thrown:

java.lang.UnsupportedOperationException: com.github.javaparser.ast.expr.MarkerAnnotationExpr
	at com.github.javaparser.symbolsolver.javaparsermodel.DefaultVisitorAdapter.visit(DefaultVisitorAdapter.java:273)
	at com.github.javaparser.symbolsolver.javapars

[2018-06-06 12:32] ftomassetti commented on #1630
Ok, let's look in these issues but we should probably re-enable as soon as possible the slow tests as part of the build to not be surprised by this

[2018-06-06 12:42] matozoid commented on #1630
I guess we could change the test results so we can enable the tests and look at this later?

[2018-06-06 13:41] ftomassetti commented on #1630
This one is not trivial. The fact is that calls inside argument lists of the constructor seems to be resolved in the wrong context

[2018-06-07 06:24] xinluke opened #1634 "Missing EOL when add imports if the class not exist imports before"
if the class not exist import before .if add import and use  LexicalPreservingPrinter to print, it look like that missing EOL ;

the code like that
[code]
the file we get
[code]
pom.xml info
[code]

[2018-06-07 08:01] matozoid commented on #1634
Thanks for reporting this!

[2018-06-07 13:17] jrfaller opened #1636 "Missing FloatLiteralExpr"
Hi all, and thanks for the awesome javaparser!

I realized that it is missing a float literal expression, therefore I have trouble to generate code where a float typed value is required.

Is there a workaround?

Cheers!

[2018-06-07 13:34] matozoid commented on #1636
Hi! `DoubleLiteralExpr` is taking the role of represeting doubles *and* floats. Can you try using that?

#664 is where we plan to put this right. Somewhere in the future...

[2018-06-07 13:42] jrfaller commented on #1636
Hi and thanks for the quick answer.

Unfortunately I cannot use DoubleLiteralExpr because I end-up with type errors in the generated code. For instance I have coded a program that aims at replacing the body of a float-typed method body by "return 0F;". However using

[code]

I end up with "return 0.0" which triggers a compile error.

Maybe I can generate the code using a lower level expression?

[2018-06-07 13:53] ftomassetti commented on #1636
Can't you use the constructor that is taking a string?
http://static.javadoc.io/com.github.javaparser/javaparser-core/3.6.8/com/github/javaparser/ast/expr/DoubleLiteralExpr.html#DoubleLiteralExpr-java.lang.String-

[2018-06-07 14:05] matozoid commented on #1636
What @ftomassetti says, because the node represents the exact text as found in the source code, so you can make it look like anything you want.

[2018-06-07 14:16] jrfaller commented on #1636
Thanks a lot @ftomassetti and @matozoid! It is working well with this method! I was afraid of using it because of the "considered private" documentation but it does the job really well.

[2018-06-07 14:33] matozoid commented on #1636
Only the one with the `TokenRange` is considered private ;-)

[2018-06-07 14:36] jrfaller commented on #1636
@matozoid ha yes you're right ;)

[2018-06-07 21:05] ThLeu opened #1638 "Further improve correction of whitespace during difference application"
Example that does not work yet, probably because of the extra space after the annotation `@Override`

[code]

[2018-06-07 21:57] Shoreray opened #1639 "Qualified class name parsed as nested FieldAccessExpr"
Hi there.
I have a question about parser behavior (or a bug report, depending what the expected behavior is).

Qualified class name that appear as a scope of a FieldAccessExpr or MethodCallExpr would be parsed incorrectly as nested FieldAccessExpr expressions.

For example, the code `java.lang.System.out` is parsed as nested FieldAccessExpr expressions with 3 layers:
Inner most layer: **{scope:**

[2018-06-07 22:00] ftomassetti commented on #1639
The parser could not possibly be able to do that without the symbol solver because it has no idea that java.lang.System is a class and java.lang or java.lang.System.out are not. This thing looks as a FieldAccessExpr to the parser because syntactically there is no way to differentiate a qualified class name from a field access.

However the symbol solver can tell you what the whole `java.lang.Syste

[2018-06-08 00:42] Shoreray commented on #1639
Thanks for the prompt response!

I'm wondering which API I should use to resolve the names in the FieldAccessExpr in this case, as FieldAccessExpr is not a Resolvable.
It might have been discussed in the documentation but I thought it might be easier to just ask.
Could you point me in the right direction if the answer is not too complex?

[2018-06-08 00:53] Shoreray commented on #1639
I found it.
Thank you very much.

[2018-06-08 00:53] #1639 closed, assigned to nobody

[2018-06-08 19:56] jorgecoca opened #1640 "Does JavaParser work with Kotlin?"
Quick question, is this tool also suitable for inspecting Kotlin code? If not, do you know of any tool that might help on the Kotlin side?

I run this code for a Kotlin file (rootRibBuilder is a Kotlin (*kt) file
[code]
and I got this stacktrace:

[code]

Thanks!

[2018-06-09 09:58] #1567 closed, assigned to ThLeu

[2018-06-10 18:07] matozoid commented on #1630
If I understood correctly, only half of this is fixed.

[2018-06-11 07:26] ftomassetti commented on #1630
I am not sure which is the other half

[2018-06-11 07:27] ftomassetti commented on #1640
Hi @jorgecoca , no, JavaParser does not support Kotlin. We do not have a Kotlin parser. The JavaSymbolSolver would be able to handle referenced to compiled Kotlin code because it can handle bytecode but we miss a Kotlin parser. Would you like to help integrating an existing one?

[2018-06-11 08:22] matozoid opened #1641 "Write unit test for ObjectCreationContext.getAllMethods"
See #1633

[2018-06-11 08:52] matozoid commented on #1630
I guess I misunderstood something as usual.

[2018-06-11 08:52] #1630 closed, assigned to ftomassetti

[2018-06-11 16:53] freefire4547 opened #1642 "JarTypeSolver with jar files that contain .dex file inside them (Android)"
I am trying to use symbol solver for android source code files. Since an android project may contain some dependancies too and when I searched for their jar files inside project, and tried to see their contents , they contain .dex files instead of .class files. So my question is, Is it possible to use JarTypeSolver directly with jar files that contain .dex files inside them

[2018-06-11 19:35] matozoid commented on #1642
I'm not exactly the expert here, but it sounds like we would need a dedicated typesolver for these archives. There is one for .aar files, but nothing for these jars with dex files. What I see on google is that they are more or less class files with information stripped out.

Are you aware of any tools that will convert them back to class files, or tools that will look inside a dex file like Javass

[2018-06-11 22:19] freefire4547 commented on #1642
@matozoid I am attaching sample of those jar files.
[extract first.zip](https://github.com/javaparser/javaparser/files/2091918/extract.first.zip)

[2018-06-11 22:38] freefire4547 commented on #1642
@matozoid  Looks like [https://github.com/pxb1988/dex2jar](url) is that tool. By using it I  got a jar that contains class files, from apk. Will update after trying it with symbolResolver.

[2018-06-12 07:03] ccreeten opened #1643 "Unsupported MethodReferenceExpr to MethodUsage with overloads"
Hey guys, I stumbled on this issue yesterday where somewhere down the line `JavaParserFacade#toMethodUsage(MethodReferenceExpr)` is called and throws an `UnsupportedOperationException`. I really could not find an existing issue, so here goes:

 The case I am encountering is where the method being referenced has multiple overloads. At the end of the `toMethodUsage` method, all methods from the cont

[2018-06-12 07:24] ftomassetti commented on #1643
Selecting one among different potential overloaded methods is difficult. We have implemented that functionality but:
1) You could have find a bug in it
2) It could not be used in the case you are using it

I know we use it to resolve method calls. You can find the core of our logic in `MethodResolutionLogic.findMostApplicable`. The whole class is actually dedicated to this issue.

You have to cons

[2018-06-12 07:33] ftomassetti commented on #1642
Currently we support aar files. Supporting apk files could be easy while supporting dex file could be not trivial. We would like to help on this but so far we did not get many requests for this feature so it would not be on top of the list _unless_ someone wants to work on it with us and our support

[2018-06-12 10:13] ccreeten commented on #1643
Thanks for the very quick response! I guessed it was not trivial, but as I understand it, there are already a lot of cases being tried to resolve the method? In which there may be a bug, or it could not be used?

I did not really have the time to dig around, so I only had the narrow view from within the `toMethodUsage` method. If I'd find some time, I would love to take a shot at solving it the go

[2018-06-12 17:08] dmy365 opened #1647 "Get information of a specific line in the code"
I need to find a way to analyse a specific line of code. For example, I have this code:

[code]

Let's say that I want to analyse line 4 `                + "a String \n"`. In this case, I want to get the information that in that line there is an operator `+` and a String literal `"a String \n"`.

I wondered around the JavaParser methods, but couldn't fint a method that returns the information of a

[2018-06-12 17:39] freefire4547 commented on #1647
You can first visit CompilationUnit using "ExpressionStmt" . You can make HashMap<Position,ExpressionStmt> there to store expression corresponding to each line and from there with line number you can find expression on each line. Then from ExpressionStmt take out things that you want to get.

[2018-06-12 18:14] matozoid commented on #1647
Sound like you might want the tokens. Try compilation.getTokenRange() and see if that suits your need.

[2018-06-12 18:30] freefire4547 opened #1648 "Is it possible to find operator from AssignExpr"
I want to find which operator is used in AssignExpr for ex:- '=', '+=', '*=' etc. Is it possible to do so ?

[2018-06-12 18:31] #1648 closed, assigned to nobody

[2018-06-12 21:12] ThLeu commented on #1490
It seems that this issue is already fixed, I added some tests in PR #1649 and they work fine.

[2018-06-13 00:17] dmy365 commented on #1647
It seems that @matozoid tip fits better for my needs. This way, I can keep track of the `Position` of each token and check if the token if an operator, a String literal, etc...
I am gonna try and code a solution and then post it here.

[2018-06-13 08:11] matozoid commented on #1490
Good news, thanks for coming back to this :-)

[2018-06-13 09:16] stevekv opened #1650 "Annotation with Parameter Enum"
Hello,

I was wondering how one would realize something like this with javaparser:

[code]

I would like to programmatically add the javax.persistence.Temporal Annotation to a field. But it takes an Enum as parameter (javax.persistence.TemporalType). So the NormalAnnotationExpr.addPair(key,value) can not be used?!?

Thanks for any advice.
Steve

[2018-06-13 09:21] ThLeu commented on #1490
hm...I just realised I might not have tested the same case in my PR as is mentioned here.
As I didn't use the LexcialPreservingPrinter in my tests and I would assume that changes only get propagated to the Printer if I use it, not in all cases :smile:.
I will have another look at it later.

[2018-06-13 13:16] matozoid commented on #1650
Hi!

Especially for this type of question we have this article: http://javaparser.org/inspecting-an-ast/ - please take a few minutes to read it.

Also: #1635 has made a change to that method in release 3.6.9, so be sure to upgrade to that.

[2018-06-13 15:05] stevekv commented on #1650
Hi,

that helped a lot, thanks. I can realize it via the addSingleMemberAnnotation().

You may close this question.

Thanks again,
steve

[2018-06-13 15:07] matozoid commented on #1650
Good luck!

[2018-06-13 15:07] #1650 closed, assigned to nobody

[2018-06-13 16:55] dmy365 commented on #1647
So, I am coding the solution and so far I got this:

[code]

As far as I can see, if there are no comments in the file, there is no problem, because every line of code will have at least one token (correct me if I'm wrong). However, if I have, for example this code:

[code]

And I call `getInfoOnLineOfCode(cu, 3);`, `doStuff()` will never be called, because the comment token starts in line 2 and n

[2018-06-13 17:01] matozoid commented on #1647
Your algorithm has a problem with tokens that span more than one line. Try using .end as well.

[2018-06-13 23:14] ThLeu commented on #1490
I added a fix for this issue to the PR #1649 to be able to remove the comment (even the correct one of the two 😉).
The only issue that is left now is the indentation after the removal / replacement.
This can maybe be fixed with #1638.

PS: You could probably give the "Whitespace correction" its own label by now 😄

[2018-06-14 01:47] LQZYC commented on #194
CompilationUnit compilationUnit = JavaParser.parse("package com.xxx.ooo.dynamicclass;\n"
            + "\n"
            + "import java.util.Arrays;\n"
            + "import java.util.HashSet;\n"
            + "import java.util.Map;\n"
            + "import java.util.Set;\n"
            + "import java.util.HashMap;\n"
            + "import java.util.Date;\n"
            + "import java.util.function

[2018-06-14 07:51] matozoid commented on #194
Hi @LQZYC, that's probably another problem. I'm guessing the empty line between the comment and the class is causing this. Can you open a new issue for this?

[2018-06-14 09:59] victorbergar opened #1652 "Where do I write my code to use javaparser?"
Hello. I am a student of computer engineering, just starting in this world.

I have already downloaded javaparser and configured it in my Eclipse.

But now how can I use it? Where should I insert my code? Should I create a new package within the Javaparser-core project?

[2018-06-14 10:17] ftomassetti commented on #1652
Hi Victor,
First of all I wish you all best for your studies.
I think what you need is a tutorial on basic Java concepts. This questions has nothing to do with Javaparser. It is just that you need to understand how to create a project using external libraries and compile it properly. When I was starting out with Java I read "Thinking in Java". I am not sure if it is still a good starting point but

[2018-06-15 05:21] Divya063 opened #1653 "Extracting method Parameters"
Hi, I'm new to JavaParser, and I'm trying to extract the method parameters from the code given blelow.

[code]
I need to extract parameters inside assertEquals and detect, as an example "audio/mpeg" and "x.m2a"
Is there any way to that? Thanks!

[2018-06-15 07:46] matozoid opened #1654 "Fix logo on http://javaparser.org/about/"

[2018-06-15 07:47] matozoid opened #1655 "Fix odd layout on http://javaparser.org/"
The github and intellij links use a lot of space.

[2018-06-15 07:49] matozoid commented on #1653
Hi!
Yes, there is. If the use case is as simple like this, doing a `compilationUnit.findAll(StringLiteralExpr.class)` would give you all strings in the file. If not, you can find all MethodDeclarationExpr's, and find all `MethodCallExpr`'s inside it.

Do read http://javaparser.org/inspecting-an-ast/, and our main documentation is this book: https://leanpub.com/javaparservisited

[2018-06-15 11:26] jorgecoca commented on #1640
Souds good! I need to find some time and get familiar with the project, but I can do it! Thanks! ;)

[2018-06-16 05:36] Divya063 commented on #1653
@matozoid Thanks for the quick reply, I would definitely try that out.

[2018-06-16 14:52] matozoid commented on #1653
Okay, let us know how it worked out.

[2018-06-16 14:55] matozoid commented on #1256
I was thinking a bit while driving, that we should move the static methods to non-static. Then I come here and see I already suggested this half a year ago...

[2018-06-17 20:13] kotari4u commented on #1441
Would like to work on this. Will fork the project and keep posting updates

[2018-06-17 20:29] matozoid commented on #1441
Cool, consider yourself assigned.

Don't forget to judge for yourself if the API is complete, the above is just a quick note.

[2018-06-17 22:37] kotari4u commented on #1441
Made changes and created [PR](https://github.com/javaparser/javaparser/pull/1656)

Also I see that NodeWithMembers.getMethodsByParameterTypes(Class<?>); does not with classes with same simple name but are in different packages. Ex: java.util.List and java.awt.List. This is because NodeWithParameters.hasParameterTypes works on simple name. Is this something you would prefer to overload to check for

[2018-06-18 07:38] matozoid commented on #1441
@kotari4u ah, it is difficult to estimate if these methods are useful or confusing for people. To be correct, these methods would need to call the symbol solver. But we don't do that now.

So... what do you think, should they be there?

[2018-06-18 18:43] matozoid opened #1658 "Make JP buildable on Java 10"
AppVeyor says we have a problem: https://ci.appveyor.com/project/ftomassetti/javaparser/build/2381

[2018-06-19 03:15] kotari4u commented on #1441
Agreed. Also adding more methods might confuse people. We can add if there is any demand. We can close this issue if we are good with the PR

[2018-06-19 03:19] kotari4u commented on #1658
Yes i was able to replicate this when i was working on issue 1441 on java 10. I ran maven in debug mode and see that somewhere in apache utils or so (i did not remember exactly) it is validating version. Did not investigate further, instead reduced  jdk to 8 and built the project. I can check and see whats going on

[2018-06-19 06:11] ftomassetti commented on #1658
Is this error the one causing the build to file?
[code]

[2018-06-19 08:20] matozoid commented on #1658
I haven't looked at it - @kotari4u, consider yourself assigned :-)

[2018-06-19 08:20] matozoid commented on #1441
Good, I'll go merge it.

[2018-06-19 08:20] #1441 closed, assigned to nobody

[2018-06-19 11:08] Arminmsg opened #1659 "Extend JsonPrinter with resolved type for a method"
Hi,
My goal is to have a java file convert it to json file, similar like `JsonPrinter` does, but I additionally want to add the resolved method call type to the json file.

Example:
This is my sample file that I want to convert
[code]

Using the solver
[code]
I get `java.util.ArrayList.add(E)` and I want to extend the result of `JsonPrinter`

This is just an excerpt:
[code]

My initial idea was fo

[2018-06-19 12:12] matozoid commented on #1659
Hi! `JsonPrinter` was not built to print custom fields (or to do serious serialization!) so making a custom copy is a good idea. For custom data storage you can use `Node.data` (it's well documented,) so no need to extend anything.

[2018-06-20 13:42] MathiasBollaert commented on #1636
Hi,

Although I found a workaround, I do also need FloatLiteralExpr to implement a light interpreter over the parser and the solver.

#664 is 1,5 year old, is there any clue on when it will be solved ?

Thanks a lot.

[2018-06-20 21:05] matozoid commented on #1636
Hi @MathiasBollaert, this project is maintained by some people in their spare time, so yes, sometimes issues get pretty old. This one because it is waiting for a major release, which will not be anytime soon because nobody has enough spare time to put in it right now. It's waiting for a major release because we can't do this backwards compatible, and every user will have to pay attention to this c

[2018-06-21 07:50] sumitkumarm commented on #1321
I am facing the same problem. My use case is when I add a lambda function into a method. The code compiles and also updates the method, however fails at the step where LPP.print is called. Code snippets and Exception trace below.

### Exception
[code]

### Code Snippet

[code]

### Lambda update code

[code]

[2018-06-21 11:38] daanschipper opened #1660 "MethodResolutionLogic.findMostApplicable not return correct symbol reference when resolving overloaded method"
I have the following 6 methods:
- `info(Object)`
- `info(Object, Throwable)`
- `info(Object, JSONObject)`
- `info(Object, Object...)`
- `info(Object, Throwable, Object...)`

When I come across a `MethodCallExpr` of one of these functions and I try to resolve it to obtain the qualified signature, I'm receiving a `ResolvedMethodDeclaration` to the wrong method.

[2018-06-21 11:42] daanschipper commented on #1660
I've found the following: `MethodResolutionLogic.findMostApplicable` is called with all 6 relevant methods, but when calculating the applicable methods with
[code]
only one method (`info(Object, Object...)`) 'survives' the filter.

The stacktrace:

[code]

[2018-06-21 11:49] ftomassetti commented on #1660
COuld you please show which method calls are solved incorrectly?
It would ideal if you could provide a failing test for this

[2018-06-21 12:54] daanschipper commented on #1660
I know that `info(Object, Throwable)` with the throwable being a `ResolvedUnionType` fails.

I'm now investigating this MethodCallExpr `log.info("Unable to process request ", e)` where e is either a `ServiceException` or `OAuthException`.
We then end up in `findMostApplicable(List<ResolvedMethodDeclaration> methods, String name, List<ResolvedType> argumentsTypes, TypeSolver typeSolver, boolean wil

[2018-06-21 13:01] daanschipper commented on #1660
`getMethodsWithoutDuplicates(methods)` returns all methods, so that method seems to behave correctly

[2018-06-21 14:00] freefire4547 opened #1661 "get expression on right side of ':' inside foreach expression"
In  `for(int h:var.getArray())` I want to get expression `var.getArray()` . How can I do it ?

[2018-06-21 14:16] MathiasBollaert commented on #1636
Thank you for answering, I didn't realize the backward compatibility issue, otherwise I would have proposed myself to give it a try ;)

[2018-06-21 15:04] daanschipper commented on #1660
The problem is related to resolving a `MethodCallExpr` with a `ResolvedUnionType` as parameter, the resolver seems to not be able to find the corresponding `ResolvedMethodDeclaration`

[2018-06-21 15:12] ftomassetti commented on #1660
I suspect the issue is in finding the common type of the ResolvedUnionType

[2018-06-21 16:04] victorbergar opened #1663 "Migration-Guide HELP 1.0 to 3.0"
Hello, I'm migrating a project made in javaparser 1.0 to javaparser 3.0.

There is no information on migration from Java 1.0 to 2.0.

Can someone give me the information?

I am finding it impossible to know what to do with:
LongLiteralMinValueExpr
EmptyTypeDeclaration
EmptyMemberDeclaration
TypeDeclarationStmt
SwitchEntryStmt
VariableDeclaratorId
((CompilationUnit) nodeHierarchy.get (0)). GetPacka

[2018-06-22 11:57] daanschipper commented on #1391
I found a culprit, the cache in `JavaParserFacade` of `IdentityHashMap<Node, ResolvedType>`! While parsing multiple files this cache just keeps growing and growing. In my case using 384/473 MB of the used memory by my application.

![screen shot 2018-06-22 at 13 53 48](https://user-images.githubusercontent.com/2778477/41775440-2da31fea-7624-11e8-9d3c-7d2ae9c191e1.png)

Clearing this cache with `Ja

[2018-06-22 12:01] ftomassetti commented on #1391
Interesting. If we were using guava we could use some map with a limited size, like a map that keep a list of the last X entries and delete the oldest one when growing too much. We could even build that ourselves and this would remove this issue.

[2018-06-22 12:01] daanschipper commented on #1391
The current implementation of the caches in `JavaParserFacade` allows them to keep growing without any limit. This should really be addressed, making users call `clearInstances` isn't fail proof

[2018-06-22 12:02] daanschipper commented on #1391
You could start indeed with a simple guava cache with a limited number of items. This could of course be improved by using weighted entries based on the number of times an entry is used.

[2018-06-22 12:06] ftomassetti commented on #1391
Right, that is in JSS which is allowed to have dependencies (unlike JP), so yes, why not using a guava map?

[2018-06-22 12:07] daanschipper commented on #1391
As for reference, these are the memory usages of my application while parsing 25k files, the first is without `JavaParserFacade.clearInstances()` and the latter is with. The enormous spikes is because I've let the program run with 12gb of heap space, so jvm utilises it all.

![screen shot 2018-06-22 at 10 53 42](https://user-images.githubusercontent.com/2778477/41775735-69657f5e-7625-11e8-98b4-b18

[2018-06-22 12:08] daanschipper commented on #1391
I'll count how many objects are present in those caches during my run so we can set a meaningful limit

[2018-06-22 12:52] matozoid commented on #1663
Hi! Some of them can be found here: https://github.com/javaparser/javaparser/wiki/Migration-Guide

Nobody of the current team worked on version 1, so we actually cannot write a migration guide... But we'll do our best to help with questions.

- `LongLiteralMinValueExpr` - see #605
- `EmptyTypeDeclaration` - see migration guide
- `EmptyMemberDeclaration` - see migration guide
- `TypeDeclarationStmt

[2018-06-22 12:54] matozoid commented on #1661
Hello! Here are the tools you need: http://javaparser.org/inspecting-an-ast/ . Feel free to ask more questions if you can't figure it out.

[2018-06-22 14:59] matozoid commented on #1622
How is it going here?

[2018-06-22 15:00] matozoid commented on #1624
@ftomassetti - any chance you could answer this?

[2018-06-22 15:06] ftomassetti commented on #1624
I am not sure I understand it: it seems that initially the solving would not work but simply because he was using the wrong typesolver. Then it started working but he was unhappy with the performance. Am I understand it correctly?

Then there are some things that are unsolved, I suspect because the typesolver does not include the dependencies (like the com.google stuff).

[2018-06-22 15:18] freefire4547 commented on #1661
@matozoid Actually, I wanted to know if there is any direct method to get that

[2018-06-22 15:41] TerryvanWalen commented on #1624
Hi @ftomassetti,

Thanks for looking into it.

To clarify a bit, the main problem is the ReflectionTypeSolver. Please correct me if I am wrong but I expected the ReflectionTypeSolver to solve all method calls targetting methods of JAVA CORE like methods in the java.util.* and java.io.* packages. This indeed happens (resolving the method declarations), however the parameter belonging to these solve

[2018-06-22 15:43] ftomassetti commented on #1624
Right! Yes, I miss the point entirely. Well, I think that parameter name can be _optionally_ included in compiled code. Maybe when they are not present we can come up with default name. @matozoid what do you think? Should we use default name or just specify in the documentation that parameter names could potentially be not present?

[2018-06-22 16:04] matozoid commented on #1661
Yes, there is. You need to know which AST node you're looking for, and what its fields are and what they contain. You can read how to do that in the article so that we don't have to explain to people where each and every field is. It's a five minute read with clear examples.

Feel free to ask more questions if you can't figure it out.

[2018-06-22 16:08] matozoid commented on #1624
One example of a library storing parameter names is javaparser-core, as can be seen here: https://github.com/javaparser/javaparser/blob/master/javaparser-core/pom.xml#L134

This is not done by default, and I think it is rare for people to turn this on, so not having parameter names is the default. It can be seen in various libraries that use annotations on parameters and are forced to repeat the n

[2018-06-22 16:10] ftomassetti commented on #1624
We have also to check if ASM actually gave us access to the parameter name

[2018-06-22 16:23] ftomassetti commented on #1624
It turns out that ASM comes up with default names, see tests in PR #1664

[2018-06-22 17:43] freefire4547 commented on #1661
Thanks, I got it !. I needed `ForeachStmt.getIterable()`

[2018-06-22 17:43] #1661 closed, assigned to nobody

[2018-06-22 18:31] matozoid commented on #1658
@kotari4u - can you also add java 10 to the Travis configuration?

[2018-06-22 21:20] Shoreray opened #1665 "Question about resolved value declaration"
Hi,

I was inspecting the classes that implements the interface ResolvedValueDeclaration in the package com.github.javaparser.symbolsolver.javaparsermodel.declarations.
For my purpose, I'm mostly interested in three classes:
-- JavaParserSymbolDeclaration
-- JavaParserFieldDeclaration
-- JavaParserParameterDeclaration

There seems to be some duplication of functionality among them. JavaParserSymbo

[2018-06-24 17:13] matozoid commented on #1474
@ftomassetti @jlerbsc - this issue seems to have stalled. Should I close it?

[2018-06-24 17:14] #1652 closed, assigned to nobody

[2018-06-24 17:14] matozoid commented on #1647
@dmy365 - have you gotten it to work?

[2018-06-24 17:15] matozoid commented on #1642
@freefire4547 - how is it going?

[2018-06-25 01:10] kotari4u commented on #1658
Upgrading jacoco version to 0.8.1 and maven surefire plugin version to 2.21.0 resolved this issue.
I have found test case failures in couple of classes where we have separate logic for java9. I had to write two different methods to support java 10 and anything > jdk9. Please find the [PR](https://github.com/javaparser/javaparser/pull/1666) with checked in code and let me know if you see any issues

[2018-06-25 06:32] jlerbsc commented on #1474
Yes, sorry for the delay.

[2018-06-25 07:22] TerryvanWalen commented on #1624
Looks perfect. Should I close the issue?

[2018-06-25 07:24] ftomassetti commented on #1624
It should be closed automatically when we merge the PR

[2018-06-25 07:32] victorbergar commented on #1663
Thanks so much!!!! Matozoid.

[2018-06-25 09:44] dash-2k commented on #1496
Hi,
is this topic about about adding a Gradle project to JavaParser or supporting Gradle files with JavaParser? I would be very much interested in the latter one and wonder whether there is already a snapshot available.
Thanks by the way for all the work you put in - it's a very useful tool.

[2018-06-25 09:54] daanschipper commented on #1496
It is about the latter one! All the libraries would be gathered from Gradle build and automatically added to the Symbol Solver, at least that's the idea.

[2018-06-25 10:37] dash-2k commented on #1496
Awesome!
Sounds like I do not have to rely on my own tooling anymore to automatically modify Gradle files. Can't wait to replace it.

[2018-06-25 12:51] rnorth opened #1667 "'UnsupportedOperationException: removed child' with LexicalPreservingPrinter"
Thanks for creating this project - it looks excellent!
I'm afraid I've hit a problem that occurs when using `LexicalPreservingPrinter`. I've included a code sample below that hits the problem on v3.6.10.

It could well be that I'm doing something wrong but it's unclear, especially as the problem does not occur when not using `LexicalPreservingPrinter`. (My intention in this code sample was simply

[2018-06-25 13:03] matozoid commented on #1658
Oh, yes, just add oraclejdk10 or whatever is best according to you.

[2018-06-25 13:04] matozoid commented on #1474
Okay, no problem.

[2018-06-25 13:04] #1474 closed, assigned to nobody

[2018-06-25 13:05] #1624 closed, assigned to ftomassetti

[2018-06-25 13:05] matozoid commented on #1624
It gets automatically closed when you put the magic text in the PR description: "Fixes #1234"

[2018-06-25 13:06] matozoid commented on #1663
No problem!

[2018-06-25 13:06] #1663 closed, assigned to nobody

[2018-06-25 13:08] matozoid commented on #1667
Maybe @ThLeu can help? Or else @ftomassetti ?

[2018-06-25 15:12] matozoid commented on #1628
I guess this is answered.

[2018-06-25 15:12] #1628 closed, assigned to matozoid

[2018-06-25 15:13] matozoid commented on #1622
No response.

[2018-06-25 15:13] #1622 closed, assigned to nobody

[2018-06-25 22:14] ThLeu commented on #1667
Hey @matozoid
Sure, I can have a look at it, it may take some time though.
Will have a look as soon as I have a little more free time.

You can assign it to me if you like.

[2018-06-25 22:16] ThLeu commented on #1490
You can close this issue in my opinion, as it was fixed with PR #1649
It doesn't work perfectly yet as mentioned there (whitespace), but the exception that occured is fixed.

[2018-06-26 08:52] matozoid commented on #1667
@ThLeu that would be great! Do you have anything that could help @rnorth right now?

[2018-06-26 08:53] matozoid commented on #1490
Good, I'll close it then.

[2018-06-26 08:53] #1490 closed, assigned to nobody

[2018-06-26 09:10] daanschipper opened #1668 "Resolving VariableDeclaration throws IllegalStateException"
When trying to resolving the stringArray in the following example, JSS throws an `java.lang.IllegalStateException: com.github.javaparser.ast.expr.VariableDeclarationExpr`

Example:
[code]

Stacktrace:
[code]

[2018-06-26 15:57] parvez2014 opened #1670 "Question regarding JavaParserFacade ClearInstance method"
I am using JSS for multi-version program analysis. Consider that I have already analyzed version-1 source files with JSS. Now, I need to analyze version-2, which has 10 new source files and furthermore, some source files in version-1 are modified in version-2 and some are deleted.
From https://github.com/javaparser/javaparser/issues/1562, I found that to analyze version-2 source files, I need to c

[2018-06-26 21:38] ThLeu commented on #1667
I fear not, after looking into it for a few minutes, it seems that this case is simply not supported yet or something with token and child element gets mixed up. Would have to look deeper into it first.

[2018-06-27 07:34] ftomassetti commented on #1670
I think that `JavaParserFacade.clearInstance` should do that but I also think this is not a typical usage of JP so I would double check. I would try to first solve everything in V2 of your project and save that information, then start the process again and solve first V1 and then V2 and verify that this time you get the same information as you did when you solved exclusively V2. That should reassu

[2018-06-27 12:10] daanschipper commented on #1670
The `JavaParserFacade` has a cache of the `Node` it already has solved together with the resulting `ResolvedType`. So this means if you apply some changes to the source code, this isn't reflected by the cache.

However, since you're dealing with different versions of source code, I would suspect that you also have two different `TypeSolver`s, one for V1 and one for V2. By calling `JavaParserFacade

[2018-06-27 12:15] daanschipper commented on #1670
So to answer your question, `JavaParserFacade.clearInstances()` only clears the static `Map<TypeSolver, JavaParserFacade> instances`, with it's corresponding cache of already solved nodes.

If you still need to resolve symbols for V1, keep the `TypeSolver`, otherwise you can clear the instances and collect a new TypeSolver using a collection strategy to clear the cache of the `JavaParserFacade`

[2018-06-27 13:35] parvez2014 commented on #1670
Thank you both. That means I can create different typesolvers. Calling JavaParserFacade.get( TypeSolver) will register the typesolver. Calling ClearInstances will remove all the typesolvers. I will check the result as suggested by fmasseti. I am curious whether there are other caches used by JSS. Can you give me any other related class names ? Thanks again..

[2018-06-27 13:40] daanschipper commented on #1670
Look at #1391, there is an active discussion on the caches used by the symbol solver.

[2018-06-27 19:39] ryan-devrel commented on #576
Any update on this?  There's another case I've encountered similar to this:

[code]

The line comment prevents the JavaDoc comment from being associated with the method. It'd be nice if the JavaDoc was accessible from a MethodDeclaration visitor.

[2018-06-28 08:24] matozoid commented on #576
Have you tried playing with the `doNotAssignCommentsPrecedingEmptyLines` setting in `ParserConfiguration`?

[2018-06-29 01:56] Octogonapus commented on #1640
@ftomassetti What would need to be done? Presumably, make versions of `JavaParser` and `JavaToken` for Kotlin. Anything else you can think of? I am unfamiliar with the existing internal architecture, so I don't know how difficult it might be to put in new lexer/parser implementations.

[2018-06-29 05:23] freefire4547 commented on #1642
@matozoid I was able to move further by the approach in my last comment. But I am seeing symbolResolver working fine but in very few cases it is not able to resolve some inherited attributes of android Activity class and there are some other methods which are getting unresolved. I had tried adding all dependncy jar files, but could not solve my problem.

[2018-06-29 07:33] matozoid commented on #1642
@freefire4547 it would be great if you could open issues for those.

[2018-06-30 11:29] anyOne89 opened #1671 "How to use JarTypeSolver to get all methods"
Hi,

Im struggling to read in a jar file to get a specific class out of it and iterate trough all the methods.

Probably there is a simple way ... In the end I need a BlockStmt from that method to see if the method starts with a if condition .. `	if (method.getBody().get().getChildNodes().get(0) instanceof IfStmt) {`

So I startetd with the following code:
[code]

// Right now I would get a java.i

[2018-06-30 14:49] kotari4u commented on #1658
Thanks added [PR](https://github.com/javaparser/javaparser/pull/1672)

[2018-06-30 19:09] matozoid commented on #1671
Hi! This sounds pretty confused, so let's start with clearing this up:
- JavaParser parses Java source code. A class file is compiled Java code, it can't read that.
- Symbol resolution is about taking source code like "A bla = new A()", and asking "what is this A?". A symbol solver could answer "it's `com.bla.bla.A`, it can be found in xyz.jar". This is what the symbol solver might use jars with c

[2018-07-01 10:43] anyOne89 commented on #1671
OK thnak you now it is a bit clearer I mixed things up.

so my plan iterate trough all methods of a class to see if the BlockStmt if starting with a if condition will only work with Java source code ?

[2018-07-02 05:53] ftomassetti commented on #1671
Hi @anyOne89 , thank you for your question. Please take the time to re-read it and improve the layout of your question as it would make easier to understand it and answer it properly. Written communication is hard, especially between all of us who are not English native speakers.

Now, do you want to examine classes in a JAR? Ok, I think you can just use Javassist. JavaParser is for analyzing clas

[2018-07-02 05:57] ftomassetti commented on #1640
Well, first of all I would suggest to find an existing Kotlin grammar, not writing one from scratch. When you have that it would be nice to give it a similar API to what we have for JavaParser and we could reuse some of the symbol resolution logic probably but most of the code would be different and it should probably stay in a separate project.

[2018-07-02 07:57] matozoid commented on #1640
It should definitely be a separate project: our team is too small to support the features we currently have, so we can't have more features.

Is there no API to Kotlin's parser?

[2018-07-02 13:31] miho commented on #1640
Hi all,

I am working on a ANTLR4 based framework which generates a rich language model API from a labeled .g4 grammar spec. For many use cases it is is similar to javaparser. The framework is very young and not fully released yet (it still lives in a private repo). So far, we have working grammars for JSON, Java 8 and some DSLs that we use in our research group. While we developed it for synchron

[2018-07-02 16:22] matozoid commented on #1640
@miho - that actually looks like what JavaParser would have been if we had had the time to convert everything to ANTLR. It looks pretty awesome - maybe we can remove the JavaCC part of JavaParser and depend on your project. On the other hand - that would make JavaParser pretty much redundant (which is a good thing.)

@ftomassetti - what do you think?

[2018-07-02 16:25] matozoid commented on #1640
@miho oh, to add one more thing: working on JavaParser has made it clear that there is quite a bit of demand for a parser for Java which is easy to use, is up to date and actively maintained, and has a friendly license.

[2018-07-03 06:38] anyOne89 commented on #1671
ok i got it now =)
@ftomassetti thanks I will try it with Javassist.

[2018-07-03 07:31] ftomassetti commented on #1671
Happy to help!
Closing the issue

[2018-07-03 07:31] #1671 closed, assigned to nobody

[2018-07-03 07:45] ftomassetti commented on #1640
I think there are some similarities but I think that JP has a lot of little features we added to make the API usable for a larger audience.

Some not so small features (but admittedly problematic) are:
* lexical preservation: parse code, change it, reprint it keeping the original layout, with adaptations based on the changes
* symbol resolution: "this symbol A in this context is a reference to the

[2018-07-03 07:51] ftomassetti commented on #1640
A thing we do not support but would be cool to support is Java extensions: having the possibility of plugging in a new kind of statements or stuff like that.

[2018-07-03 09:31] miho commented on #1640
Hi @matozoid, hi @ftomassetti,

thanks for your replies!

@matozoid I actually wanted to do it years ago but didn't have the time. But last year I was in the lucky position that I could spend a couple of month on it. It's so cool to just specify a grammar file and yield a bidirectionally mapped API with traverse/iterator support, change notification, undo/redo etc.

@ftomassetti I'm very aware of

[2018-07-03 13:19] ftomassetti commented on #1640
I am not sure about that because there are expectation on the style and ways to do the harmonization of spaces, new lines, and indentation when modifying code that could be surprisingly complex

Well, technically nothing prevent me to add a JavaDoc anywhere I want. Also, If I insert a JavaDoc and then 10 empty lines, does the JavaDoc still refer to thing following it?

We do that and then use some

[2018-07-03 14:46] miho commented on #1640
So you are talking about behavior that can't be extracted from the raw grammar itself. I actually thought about annotating the grammar with style information and generating a formatter from that. It is certainly not easy and since I wasn't able to estimate the amount of work, I didn't pursue it from the beginning. I believe it is possible. But if you think that a manual formatter implementation ma

[2018-07-04 23:32] UHDante opened #1674 "Get primary type name from a JavaParser.parse(MultipartFile)"
I'm new to GitHub, so don't be rough at me for not knowing where to post this :).
Following [this question](https://github.com/javaparser/javaparser/issues/1341)  (Very helpful by the way) i need to use the method "getPrimaryType" but I'm facing this issue:

Working with Angular, I receive the files in a MultipartFile type. So, is there any way to include the constructor JavaParser.parse(multipart

[2018-07-05 13:05] daanschipper commented on #1674
I don't understand the `MultipartFile` that you're talking about. I'm assuming that you have a single file populated with multiple java files, or in JavaParser terms `CompilationUnits`.

So if you want to parse this with I would think that you would need to have some way of splitting the InputStream for each `CompilationUnit`, which you can than parse with JavaParser and get the `PrimaryType`.
I d

[2018-07-05 13:20] daanschipper opened #1675 "UnsolvedSymbolException when trying to resolve FieldDeclaration that is an inner class of an extending type of an extending type"
When trying to resolve the following `FieldDeclaration` I'm getting an UnsolvedSymbolException

[code]

`JavaParserTypeDeclarationAdapter.solveType()` only looks at the internal classes of its direct ancestor, but fails to do this iteratively. So the internal classes of `Y` are checked for a `TypeDeclaration` with name `Foo`, but of course this isn't found. However, the internal types of ancestor

[2018-07-05 14:08] matozoid commented on #1674
Note that `getPrimaryType` only works if you read the source code from a *file*. It compares the filename to the types in the file and returns the one matching the filename. If there is no filename, there is no exact way to say what the primary type is.

[2018-07-05 14:18] matozoid commented on #1640
Sorry, was ill for a few days. @miho I'm curious what your project looks like - let us know when it's release please. At this moment I'm also not really sure how we can help each other, but the more help the better. (We have a chat channel, by the way - https://gitter.im/javaparser/javaparser )

[2018-07-05 14:20] matozoid commented on #1341
Hey @UHDante - as you may have realised it's a good idea to open a new issue instead of adding to a previously closed one :-) I'll delete it here, okay?

[2018-07-06 22:37] malteskoruppa opened #1679 "ReflectionConstructorDeclaration#getName() returns a qualified name instead of a simple name"
Just opening an issue for PR #1678 (and closing) so that this bug in the archives, as requested by @matozoid  :)

The PR fixes the following bug.

Consider this code:

[code]

Now when you try to resolve the constructor declaration that corresponds to the object creation expression `new File("somepath")` using a `ReflectionTypeSolver`, you get a `ReflectionConstructorDeclaration`. So far so good.

[2018-07-06 22:37] #1679 closed, assigned to nobody

[2018-07-07 12:13] peterkt2000 opened #1680 "Solve for symbol in scope that is of a given type"
Thank you for your work on the symbol solver. Does the symbol solver support the following use case:

Given a type (e.g., a class or interface type), find the symbol in scope (e.g., variable declaration, method parameter, etc.) that is of that type. The search would start from a given node in the AST (e.g., a statement in a method). This could use the same scoped search algorithm already in place.

[2018-07-07 17:37] amriteya opened #1681 "Introduce special check for package-info.java"
The `package-info.java` is a special Java file that can be added to any Java source package.  Its purpose is to provide a home for package level documentation and package level annotations.

It'd be nice to have a check if the given Java file is a package-info.java file. This method could be added in `CompilationUnit` built on parsing the Java file.

Here is a [documentation](https://docs.oracle.c

[2018-07-07 20:06] matozoid commented on #1681
Hi! We could add a method like "isPackageInfo" on the `CompilationUnit` that checks if the filename in compilationUnit, getStorage, getFilename is "package-info.java". The only question is whether it should throw an exception or return false or Optional.empty when no storage information is available. (It's only available when a file has been parsed from disk.)

A prettier alternative altogether wo