[2016-11-13 15:58] matozoid commented on #524
We still need the setters.

[2016-11-13 16:00] matozoid commented on #553
Shouldn't be hard since javaparser-core has no dependencies.

[2016-11-13 16:26] #403 closed, assigned to nobody

[2016-11-13 16:27] #516 closed, assigned to nobody

[2016-11-13 16:32] #550 closed, assigned to nobody

[2016-11-13 16:33] #559 closed, assigned to nobody

[2016-11-13 17:35] matozoid commented on #353
Also, since we're getting more and more repetitive code in the nodes, we could generate parts of those classes. Maybe with annotations, like:
@GenerateDefaultConstructor

@GenerateProperty(nullable, ...)

So the generator can read from the javaparser-core source directory, find all annotated methods, replace them and write them back.

[2016-11-14 19:03] rosrossito commented on #499
Hi,
I did not use any script, I made it in IDE using Refactor-rename.
Yes, I found out that there was also changes in licenses, that's why I made
second commit, where I change back license files.

Is it possible to transfer some how changes from my fork to new branch and
make pul request in order do noy loose that changes?

[2016-11-14 20:06] fofiedelly commented on #551
@matozoid  cannot find any occurence of UserData in this project!
As the issue already been closed ?
I'm a newbie in the Opensource world!

[2016-11-14 20:21] ftomassetti commented on #551
See class `Node`, methods `getUserData` and `setUserData`

[2016-11-14 20:33] fofiedelly commented on #551
Am i suppose tho change all occurences of "UserData" to "Data" ? is it case sensitive ?
Since i can see var names like userData in those methods!

[2016-11-14 20:38] matozoid commented on #551
It is all case sensitive, but it's just like general Java coding. Do you know the Java coding guidelines?

[2016-11-14 21:53] ftomassetti opened #565 "Node.remove should invoke the setter"
`Node.remove` directly set the field of the parent while it should call the setter. The setter would notify the observers, otherwise we have changes which cannot be observed.

[2016-11-14 22:13] DeepSnowNeeL commented on #565
on it

[2016-11-14 22:16] DeepSnowNeeL commented on #565
Well actually it uses `setParentNode(null);` so I don't really get it (but I still edited a few things so i'll pr anyway)

[2016-11-14 22:18] ftomassetti commented on #565
I am also working on this one :D
I should have claimed it

[2016-11-14 22:18] ftomassetti commented on #565
Related issue: in NodeList.remove we set the parent of the node to null even if the node is not part of the NodeList

[2016-11-14 22:24] ftomassetti commented on #565
Given you call it first the issue is yours, I will help review it and call it first next time, sorry for the confusion

[2016-11-14 22:25] DeepSnowNeeL commented on #565
Np check #566 and  tell me if I need  to change anything for the Node class ? Since it calls setParentNode(null) it should be okay ? or is there somthing else i'm missing ?

[2016-11-14 22:28] ftomassetti opened #567 "NodeList.remove delete the parent and invoke notifiers even when the node is not found"

[2016-11-14 23:04] ftomassetti opened #569 "Many methods of NodeList do not trigger notifications"
- [ ]  Tests to cover addAll
- [ ] Tests to cover clear
- [ ]  Tests to cover set
- [ ]  Tests to cover removeAll
- [ ]  Tests to cover retainAll
- [ ]  Tests to cover replaceAll
- [ ]  Tests to cover removeIf

[2016-11-15 09:29] ftomassetti commented on #569
Take this code from #566

[code]

[2016-11-15 11:33] #567 closed, assigned to nobody

[2016-11-15 18:00] ftomassetti commented on #569
I could work on this after #570 is merged

[2016-11-16 13:43] matozoid commented on #569
It is now.

[2016-11-16 16:09] sdrgroup commented on #561
I try to get the import information in the java file, but it doesn't support ImportDeclaration in VoidVisitorAdapter. And there are not some other methods can get the import information. I think parsing import in a file is important, but JavaParser should support it now.
The following is the code ,but you know, it cannot work.
The javaparser's version is 3.0.0-alpha.8.
OS is Ubuntu 16.04

public c

[2016-11-16 16:15] ftomassetti commented on #561
Well, this is very surprising. To my knowledge JavaParser support all different forms of imports.

Could you please indicate the source code of one file containing imports which are not recognized?

[2016-11-16 17:56] ftomassetti commented on #561
You may want to do this:

[code]

There are different kinds of imports and the visitor permits to handle them separately.

This should solve your issue. I am going to close this ticket. Please feel free to reopen it if you are facing other problems processing imports.

[2016-11-16 17:56] #561 closed, assigned to nobody

[2016-11-16 22:35] avik-das opened #571 "Unable to parse lambda with cast inside a ternary"
Failing test case:

[code]

It's very specific to this case. The parsing works (though I haven't checked if the AST has any issues) when there's no ternary, when the lambda is on the first branch of the ternary, or if the entire lambda is surrounded by parentheses. Here are some passing cases:

[code]

All of these, both successful and passing, go through `javac` just fine, so they're valid Java.

[2016-11-16 23:11] ptitjes commented on #571
@avik-das Hi ! I took the liberty to add your six test statements to the test suite of [JLaTo](https://github.com/ptitjes/jlato) (In commit https://github.com/ptitjes/jlato/commit/270f36 – your name is cited in the commit title). Indeed, those are passing correctly with the current version of the parser (both in the shape of the AST and the produced lexically-preserving output) but they are failin

[2016-11-17 00:14] avik-das commented on #571
@ptitjes: Thanks so much for including the test cases. I didn't realize this was fixed in the 3.0.0 alphas that are publicly available (in any case I didn't want to switch to a bleeding edge version).

[2016-11-17 00:23] ptitjes commented on #571
@avik-das Hmmm, sorry, I was not clear... I don't know at all if it is fixed in JavaParser 3.0-alpha8. I did include your test cases in another project :) ([JLaTo](https://github.com/ptitjes/jlato))

[2016-11-17 00:27] avik-das commented on #571
@ptitjes: Haha, I wasn't clear either. I tried out 3.0.0-alpha.9, and that fixed it. Whether or not I'm willing to upgrade to it is another matter, but the current latest alpha seems to parse this case correctly. Glad to know me running into this edge case is handy :)

[2016-11-17 00:32] ptitjes commented on #571
@avik-das Perfect !
So either you can close this issue, or maybe you want to contribute an additional test case to ensure that it is still parsed as expected in the upcoming JavaParser versions.

[2016-11-17 00:34] avik-das commented on #571
@ptitjes: Ah yes, good idea. I'll close this ticket as it's fixed, but if I do get time, I'll get the project set up and add a test case. Thanks for (inadvertently) prompting me to try the alpha!

[2016-11-17 00:34] #571 closed, assigned to nobody

[2016-11-17 00:36] ptitjes commented on #571
Glad to be of use! Cheers.

[2016-11-17 07:02] ftomassetti commented on #565
Solve through #566 and #567

[2016-11-17 07:02] #565 closed, assigned to nobody

[2016-11-17 23:13] azscottd opened #573 "Need Help With Visitor"
I've reviewed the examples but am unclear how to achieve the following:

How would one implement a visitor to identify all occurrences of instantiation of object type "Bar" with a parameter of object type "Foo"?

i.e.

Foo o = new Foo();
Bar b = new Bar(o);

I'd like to identify the source file and line number.

Thank you.

[2016-11-18 10:59] ftomassetti commented on #573
Short answer: using JavaParser you can easily find all the object instantiation but using JavaParser alone you can not find the type of values. You can use [JavaSymbolSolver](https://github.com/javaparser/javasymbolsolver) (a project from the same team of JavaParser) to get the type of `o` and so achieve your goal.

Regarding JavaParser: can you create a visitor to get all the `ObjectCreationExprs

[2016-11-18 12:34] mlangkabel opened #574 "Parent of ClassOrInterfaceType node not set correctly?"
I'm using the Javaparser to create an AST for the following snippet of code:
[code]

Now I'm using a visitor to print out the node hierarchy. In addition to the node class of each visited node I'm printing the class name of what the node believes to be its parent:
<pre>
 javaparser.ast.CompilationUnit parent: none...
 | javaparser.ast.PackageDeclaration parent: javaparser.ast.CompilationUnit
 | ja

[2016-11-18 22:29] BCooper63 opened #576 "Javadoc comments ignored/dropped"
I've found two cases where the Javadoc node is dropped, ignored or lost.

1) When there is a blank line between the Javadoc block and the class/enum declaration.
2) When an enum constant declaration if followed by a line common.

The attached files demonstrate these issues. MissingJavadoc.java(.txt) parses the file InputEnum.java(.txt). It then uses a visitor class to visit the Enum declaration an

[2016-11-19 07:55] ftomassetti commented on #353
I am really looking forward to this one!

Were you thinking about having it as a class in JavaParser or as the third project under the JavaParser umbrella?

[2016-11-19 07:56] ftomassetti commented on #265
Now there is a [CONTRIBUTING.md](https://github.com/javaparser/javaparser/blob/master/CONTRIBUTING.md). Should we add more material? What? Where?

[2016-11-19 08:10] ftomassetti commented on #290
I can confirm that this works in the current version (3.0.0-alpha.9). I also opened a PR to add a test to prevent regressions.

Given the issue is solved I am closing this task.

Thanks for reporting it!

[2016-11-19 08:10] #290 closed, assigned to nobody

[2016-11-19 08:21] ftomassetti commented on #498
Thanks @ThLeu for your feedback. We should really focus on Lexical Preservation in the near future.

[2016-11-19 13:23] ftomassetti opened #578 "Range of the compilation unit not including whole file"
Consider this case:
[code]

The comment is considered outside the range of the compilation unit. While I understand it is outside the class I think the comment should be considered part of the compilation unit. The compilation unit should represent the whole file, from the first character to the last one.

What do you think?

[2016-11-19 15:08] matozoid commented on #353
Okay, @DeepSnowNeeL is actually working on this but I'll give you my personal thoughts: something that generates part of JavaParser seems good to have away from the source of JavaParser. I was thinking of a separate module so that at some time in the future a single build will build the generator, generate the visitors and other code, build the parser, and build the core.

[2016-11-19 15:15] matozoid commented on #498
And we will. I think we should somehow be more clear to user that we currently only have support for "this node seems to be commented by that comment," and no rewriting of comments or whitespace support. Only pretty printing is there. This seems to trip up many users.

It is the most important feature on the list, but it is a big task, so no promise that this functionality will be available soon.

[2016-11-20 13:31] #569 closed, assigned to nobody

[2016-11-20 13:47] matozoid commented on #574
When I use this code:

[code]

I get

[code]

This is on the master branch. Which version are you using?

[2016-11-20 13:51] matozoid commented on #576
Thanks! Improved Javadoc support is on the planning after we release 3.0.

[2016-11-20 14:28] matozoid opened #580 "Make a method on Providers for resources."
So that we don't have to go through `getClass().getResourceAsStream("/blah.java"), UTF_8`

[2016-11-20 15:29] #578 closed, assigned to matozoid

[2016-11-20 15:38] #551 closed, assigned to nobody

[2016-11-20 21:14] matozoid opened #581 "Make parse errors in statements recoverable"
These should recover by looking for the next ";"

[2016-11-20 21:14] matozoid opened #582 "Make parse errors in blocks recoverable"
These should look for the next "}"

[2016-11-21 09:11] mlangkabel commented on #574
I was using 3.0.0-alpha.8, but I just tested this case after updating to the alpha.10 tag and now everything looks fine. Awesome!

[2016-11-21 09:32] mlangkabel commented on #574
Oh it seems like I posted this a little bit too early. The system I used to test this was not on the alpha.10 tag at all. I'll inform you as soon as I know more...

[2016-11-21 11:28] matozoid commented on #574
Okay, I'm not aware of this ever being a problem or getting fixed, so I'm curious what caused this :)

[2016-11-21 15:03] matozoid opened #583 "Make a small utility that parses all java files in a directory tree."
This could have the following features:
- specify the start directory (of course)
- collect an overall list of problems (maybe it's time to give each problem a "source" now)
- add a new kind of problem: when the "package" statement does not match the directory

... and the reverse option: write out a CompilationUnit in the location its package statement indicates.

[2016-11-21 20:05] ftomassetti opened #584 "Imports should have a qualified name method"
I am porting JavaSymbolSolver to alpha.10 and I have issues with imports. I miss a method that give me the qualified name. Also, it seems that name ClassOrInterfaceType has a simple name + a scope which should be another ClassOrInterfaceType. However this is often not the case: the scope is just a package. Am I missing something? Today I am pretty tired so I could be missing something obvious here

[2016-11-21 20:40] matozoid commented on #584
COIT having a scope like that is an interesting things that I found a release or two ago. I think it is meant for inner classes: X.Y is COIT Y with scope COIT X. This messes up with something like com.github.X.Y, where github and com are also seen as COITs. I know of no good way to fix this. Heuristics could be a good hack: does a component of the name start with a lower case letter? It's probably

[2016-11-21 21:44] ftomassetti opened #586 "Improve javaparser.org"
I was looking at this presentation: https://www.youtube.com/watch?v=J9moK3Lb5ZE about a project consisting of 80 lines of JavaScript which in this moment has exactly the same number of stars of JavaParser (785). Why? Because it is something more mainstream but also because it is probably better presented than JavaParser. Its website is [here](http://ellekasai.github.io/purplecoat.js).

I think we

[2016-11-21 21:59] matozoid commented on #586
I've been thinking of creating a simple diagram which shows what JavaParser actually does: show a tiny bit of source, the tokens, the AST, then solving a symbol. Just to give a realistic idea what it does.

I would also love an easy way to update stuff and keep any samples compilable. I think asciidoc is good at that - I think @bodiam used it for writing a book about Groovy (but that's just an ide

[2016-11-21 22:02] matozoid commented on #586
How would you define JP in three lines?

[2016-11-22 09:49] DeepSnowNeeL opened #587 "Add exemple in javadoc for every node type"
I often find myself wondering about what WildcardType or TypeParameter represents (among others)

It would be great to have some few exemples of small code which represents the node (with the node corresponding part highlighted) in the node javadoc

Like we already have in all import nodes (SingleStaticImportDeclaration...)

Thanks

[2016-11-22 10:39] matozoid commented on #347
Assuming @gs0510 is not doing the job.

[2016-11-22 10:40] matozoid commented on #587
This is a duplicate of #347, I think it would be good to pick it up during the 3.0 release candidate phase.

[2016-11-22 10:40] #587 closed, assigned to nobody

[2016-11-22 11:27] mlangkabel commented on #574
Ok, I did a lot of testing by now and it appear that you are right. There is nothing wrong with Javaparser :)

I'm working on the JavaSymbolSolver right now and it looks like solving parts of a method actually alters the AST (which it shouldn't). I'll continue looking in that direction right now, so i think we can close this issue. Thanks again for your quick responding @matozoid!

[2016-11-22 11:49] matozoid commented on #574
Thanks for the follow up! Good to know there is no issue :)

[2016-11-22 11:51] #548 closed, assigned to matozoid

[2016-11-22 12:11] mlangkabel commented on #574
Haha, I think I found the real issue! Calling `Parameter.getType()` wraps the Parameter's elementType into an ArrayType and sets the generated ArrayType as the elementType's parent. This modification persists in the AST, even though it is not obvious to the user. Thus my question: Is this intended behavior?

To provide a simple example I just expanded your test code a little bit:

[code]

I get:
[

[2016-11-22 14:47] matozoid commented on #574
Cool, now we have a bug. No, this is not as intended. I think we can fix it by cloning elementType before wrapping it. Will do!

[2016-11-22 14:56] matozoid commented on #574
Background:
In change #237 you can see the whole thought process about ArrayTypes. You can see that I'm pretty relieved to finally find something that works ;) By now I'm starting to think that I shouldn't have gone through all the trouble to keep the brackets in the AST, because they are of little interest to people analysing code. So I'm contemplating a change where the bracket information is no

[2016-11-22 14:58] matozoid commented on #369
@prayashm - we're nearing 3.0 Release Candidate, would you like to join in with #586 ?

[2016-11-22 15:23] mlangkabel commented on #574
I think cloning the elementType would be a good solution, except a user wants to manipulate that node and keep that manipulated node inside the AST. But on the other hand side Parameter.getType() may return an ArrayType node which has never been part of the AST in the first place.

Oh, I've just seen there is also a Parameter.getElementType() method that just returns that field (which can be manip

[2016-11-22 19:50] matozoid commented on #574
And would you vote for having brackets as AST element + a generated type, or the type as AST element?

[2016-11-22 20:14] ftomassetti commented on #584
Heuristics are good in my opinion but not in the core module.

I am just suggesting than maybe the imports without the asterisk could get a method that give me the full name.

[2016-11-22 20:15] ftomassetti commented on #586
"JavaParser is a framework to analyze, refactor and generate Java code programmatically.

You can use it for..."

[2016-11-22 20:20] ftomassetti commented on #574
I think it is important to know which methods would give back a generated node, i.e., a Node that is not part of the tree. In that case we would probably not use those methods in JavaSymbolSolver but use only nodes that are part of the AST because when a type is part of the AST I can figure out its context and use that to resolve type (e.g., navigate until the imports, figuring out that a name ref

[2016-11-22 21:27] mlangkabel commented on #574
So would removing the brackets from the AST mean that a user would have no way to get any info on the bracket locations?

[2016-11-22 21:39] matozoid commented on #584
Check out ImportDeclarationTest.java, is that what you need?

[2016-11-22 21:40] matozoid commented on #574
Yes, in the case of parameters, you would only have the ArrayTypes around the type of each parameter left.

[2016-11-22 21:43] matozoid commented on #586
Framework? Set of tools maybe? JSS included :)

Maybe a line about the advantages? "It's free and well supported."

[2016-11-22 21:52] mlangkabel commented on #574
So the question actually is: Please choose one of the following.
* Use ArrayTypes that wrap some Type (which again can be an ArrayType) and the ArrayType stores the info on the brackets
* Store the bracket info inside whatever node is parent of the ArrayType (this may be a Parameter node)

In this case I'd choose the former option, because "having an array of arrays of stuff" feels more like a tre

[2016-11-22 22:02] matozoid commented on #574
My reason was to keep information about the shape of the source code around. I think I made a mistake there, and am now looking for feedback to see if we should do more work :)

[2016-11-22 22:17] matozoid commented on #574
Anyway, fixed on master, fixed in next alpha.

[2016-11-23 06:16] prayashm commented on #369
@matozoid sorry, into something else now.

[2016-11-23 06:44] mlangkabel commented on #574
Nice to hear that it's fixed.

Haha, we should always do more work ;) Hm, don't get me wrong. I also think that we should store the array information somewhere. When you're saying "keep information about the shape of the source code" do you mean, where the brackets are? In that case I'm totally with you, someone might need the information at some point.
I don't see why it's necessary to keep both

[2016-11-23 10:36] matozoid commented on #574
I see what you mean - the positive thing about having two representations is that in something like `int[] a[]` the int[] isn't a type you really want to use. So that's split up into "element type = int, brackets = [bracketpair]" with the idea that this information is only used when you ask for the type of a.

So would you suggest that we remove elementType (because this has no array information b

[2016-11-23 14:02] matozoid commented on #581
We could insert a "BrokenStatement" in the AST with the literal text of the statement in it.

[2016-11-23 14:03] matozoid commented on #582
We could insert a "BrokenStatement" in the AST with the literal text of the statement in it.

[2016-11-23 14:06] matozoid opened #589 "Make Compilation Unit parse errors recoverable"
Make a recovery strategy that skips to the end of the file, storing the whole file contents in a BrokenCompilationUnit or so. The result of this would be that parsing will always have a result.

Exceptions: when parsing a file and the file is not found, there is nothing to parse.

[2016-11-23 14:10] mlangkabel commented on #574
Ok, now I'm starting to understand the real issue here. I `int[] a[], b, c[][]` the type info `int []` is (part of) the type of `a`, `b` and `c`. And if you ask `c` for its type it *needs* to construct an artificial node because the AST may store array information in a different way (for example in the case mentioned above part of the array information is stored in the `FieldDeclaration` while ano

[2016-11-23 14:35] matozoid opened #590 "Make an XPath node selector like ANTLR's"
[information](http://www.antlr.org/api/Java/org/antlr/v4/runtime/tree/xpath/XPath.html)

[2016-11-23 14:39] matozoid opened #591 "Make pattern/tree matching functionality like ANTLR"
[information](https://github.com/antlr/antlr4/blob/master/doc/tree-matching.md)

Extend the grammar to allow placeholders for certain types of nodes (expressions, statements, types, names...) and put these placeholders in the AST. Add functionality to either find this pattern in the AST, or to fill the placeholders.

[2016-11-23 14:50] matozoid commented on #574
This shows that they didn't care to store information about where exactly the braces are. We can indeed do this, and this is what I was considering, and what you have given me good arguments for. So thanks for the information: this is very helpful!

As an aside: this means I can also kill `EmptyImportDeclaration`, because who cares about that in an AST anyway? :)

[2016-11-23 14:54] matozoid opened #592 "Redo array support"
- do not store a `List<ArrayBracketPair>` anymore
- turn the currently generated `getType()` methods into getters, and do the generating at parse time

because:
- exact bracket location is of little interest to users analysing the AST
- having a generated type is awkward since it is not really part of the AST
- for refactoring and reprinting source code this information is not absolutely necessary

[2016-11-23 14:58] mlangkabel commented on #574
Haha, go, kill it! I mean having it makes kind of sense, but it does not provide any relevant information. So from my perspective as a user of the Javaparser we don't need it.

By the way, I think we can close this issue now ;)

[2016-11-23 15:08] ftomassetti commented on #591
Incidentally we could use something like this also for lexical preservation, maybe.
So we could have the children as placeholders

[2016-11-23 15:14] matozoid opened #593 "Kill EmptyImportDeclaration"
EmptyImportDeclaration is only of interest when we want to reprint the source code, so it has no place in an AST. Since it is currently making our AST overly complex, I would like to throw it out.

[2016-11-23 15:15] matozoid commented on #574
Cool, thanks!

[2016-11-23 15:15] #574 closed, assigned to matozoid

[2016-11-23 15:17] ftomassetti commented on #593
Makes sense

[2016-11-23 16:05] matozoid opened #594 "Create validation framework"
The idea:
[code]
Problems could be "annotations are not supported in Java 1.4" or "try has no catch or finally" and so on.

It would be nice of a validator was simply a collection of validationRules that are applied to the supplied compilationUnit. A validationRule would probably contain some kind of visitor.

Why? There can be many problems with an AST, and currently there is no consistent way to

[2016-11-23 16:58] ftomassetti commented on #584
Looking at these tests:

[code]

In the first three cases I can get what I need calling toString. I would suggest having some other method returning that value because later toString could be changed to include spaces or comments for example, while we want a method giving the complete name now and in the future and with a more meaningful name.

The fourth case seem not covered (at least in the tes

[2016-11-23 17:00] ftomassetti commented on #586
I would put the advantages below, with bullet points:

* It is open source and available under a business-friendly license
* It is well-supported
* It is mature
* It has a growing community
* It is lightweight and easy to use

Set of tools seem good. The only issue is that JavaParser is both one of the tools and also the name of the whole set of tools

[2016-11-23 17:09] ftomassetti commented on #592
For fields and variables we could have:
[code]
Would we be able to figure out the right types?

While for paramters not being able to distinguish between `int[] a[]` and `int[][] a` or `int a[][]` would not be that important.

[2016-11-23 17:10] ftomassetti commented on #594
Should this be a separate project under the JavaParser umbrella?
This could benefit from typechecks I think

[2016-11-23 19:58] matozoid commented on #594
What do you mean with type checks? In what way?

Separate project: I feel that reporting problems for a certain Java version is core business. But only the validators for Java versions.

[2016-11-23 20:00] matozoid commented on #592
`int[] a[], b` would give:
[code]
and the whole expression doesn't mention type, so no more elementType. Where do you suspect a problem?

[2016-11-23 20:01] matozoid commented on #586
Yes, we have a slight branding issue here ;) Well, it can't be helped unless we want to turn the whole place upside down for a new name.

[2016-11-23 20:10] matozoid commented on #584
If you mean the fourth test doesn't show a name, that's the same pattern: getType().toString()

I agree that toString is not the greatest idea here. getName().getString() can be changed to getNameAsString(), would you like a getTypeAsString() ? Would you like these ...AsString() methods to output only the identifiers and the dots?

[2016-11-23 20:14] ftomassetti commented on #584
Yes, I would be very happy if I could be guaranteed that they return only the identifiers and the dots. Ideally I would call it `getFullName, getCompleteName, getQualifiedName, getComposedName` or something similar, but I am not feeling very strongly towards any of them, I would like just not having to call toString to get meaningful information

[2016-11-23 20:20] matozoid commented on #584
Oh, if you like another name than "...AsString", I'm going to show you this method you created a year ago:

[code]
;)

[2016-11-23 20:24] matozoid opened #596 "Fix remaining nullable fields to use Optional"
Some were missed in the previous PR

[2016-11-23 21:16] ftomassetti commented on #584
I meant another name than `toString`. Now that I see this method I found a sign of great programming wisdom to name them `xxxAsString`. I vote to append `asString` to all of our methods :D

[2016-11-23 21:17] matozoid commented on #584
Well, that's settled then :)

[2016-11-24 10:14] ftomassetti opened #597 "Battle test remove"
We could take several Java files, build the AST and try to remove all nodes (starting from the leaves). This would permit to battle-test the remove method.

[2016-11-24 12:18] #510 closed, assigned to nobody

[2016-11-24 12:19] matozoid commented on #281
This was implemented in one of the alphas.

[2016-11-24 12:19] #281 closed, assigned to matozoid

[2016-11-24 12:20] matozoid opened #598 "Generate remove methods for nodes"
Instead of having a fancy introspection remove() method, generate a remove method per node type by using the metamodel that is being considered here: #353

[2016-11-24 12:22] ftomassetti commented on #598
This would be a good idea!
Should we assign it to milestone 4? Create a label for metamodel stuff?

[2016-11-24 12:53] matozoid commented on #598
My planning goes no further than 3.0 ;) We've got so many ideas now that we could plan 3.1, 3.2, 3.3 instead of a big jump to 4.0. But planning what is going to be in 3.1 is impossible because us volunteers do whatever we like anyway ;)

A label? I'm using one for Java 9 so I know when we can claim Java 9 support. How would it help with metamodeling?

[2016-11-24 13:02] DeepSnowNeeL commented on #596
Will do it ! Can we list them ?

[2016-11-24 15:01] matozoid commented on #596
Just look at all TODO's, there are around six that mention null left.

[2016-11-24 15:51] matozoid commented on #573
No response, closing.

[2016-11-24 15:51] #573 closed, assigned to nobody

[2016-11-25 18:17] Gottox opened #599 "Javadoc comments are printed twice on .toString()"
The following code results in the javadoc comment printed twice on 3.0.0-alpha.10:

[code]

Output:
[code]

[2016-11-25 21:22] Gottox commented on #599
Was using an older version due to a buildsystem fuckup.

[2016-11-25 21:22] #599 closed, assigned to nobody

[2016-11-26 09:55] Gottox opened #600 "JavaParser interprets Unicode escape sequences in comments"
In JavaParser 3.0.0 alpha 10 Unicode escape sequences are interpreted. This results in the following behavior:

[code]
expected result:
[code]

actual result:
[code]

[2016-11-26 10:05] ftomassetti commented on #594
Type checks: checks for example if you try to assign an int to a String field

[2016-11-26 10:07] ftomassetti commented on #592
I am happy if they give me the "calculated type" (so `ArrayType(ArrayType(int))` in the case of `a`).
The important thing is that the type is part of the AST (has a valid parent). Otherwise I would prefer to get the type of the field and Array brackets of `a` to build the type myself.

[2016-11-26 10:08] ftomassetti commented on #586
Yes, we have to communicate as well as possible given the current situation :)
Or create a name for the whole brand (JavaTools?)

[2016-11-26 12:43] matozoid commented on #592
That's exactly the problem I want to solve - make the type part of the AST :)

[2016-11-26 12:44] matozoid commented on #594
Oh alright, that goes into another module or project.

[2016-11-26 12:46] matozoid commented on #600
See #209, I'm afraid that's currently unfixable. I'll leave this issue open as a reminder.

[2016-11-27 15:50] #547 closed, assigned to matozoid

[2016-11-27 15:59] matozoid commented on #584
I've accidentally merged this into alpha 11... There are some asString() methods now, but I think the approach is wrong. This should be done with visitors I think. Anyway, the direct need has been addressed.

[2016-11-27 16:03] #584 closed, assigned to matozoid

[2016-11-29 17:25] matozoid opened #602 "Remove IntegerLiteralMinValueExpr and LongLiteralMinValueExpr"
I have no idea why there are special AST nodes for the minimum value of an int or long.

[2016-11-29 17:47] matozoid opened #603 "Restrict reparenting of nodes"
We have the odd case where we can get a node from one AST, and set it in another AST. This will try to remove it from the first AST. This could make its state invalid, like removing the "then" clause from an IfStmt.

Suggestion: once a node's parent is set, it cannot be changed anymore. Setting a node while its parent is set is a runtime error.

New way to use a node from one AST in another is to

[2016-11-29 18:11] ftomassetti commented on #603
Remove a node can fail. If the node cannot be removed that it cannot be added elsewhere.

Maybe we could:
1) let people remove a Node and permit only to add nodes which are unparented.
2) Otherwise we could throw an exception when trying to add a node which has a parent, without even trying to remove the node first
2) We just try to remove nodes which have a parent before adding them, if this fail

[2016-11-29 18:15] ftomassetti commented on #602
It is surprising indeed!

[2016-11-29 18:18] matozoid commented on #603
Okay, could you explain a bit more? Is 1, 2, 3 a sequence?

[2016-11-29 18:23] ftomassetti commented on #603
They were three alternatives but I now realized I should correct them.

**Option 1**: if someone try to add a Node which has a parent we throw `IllegalArgumentException`
**Option 2**: when adding a Node we try to remove the node from the AST. If we cannot we throw `IllegalArgumentException`

In case we go for Option 1 we could still allow to remove a Node manually. So a user could decide to remove

[2016-11-29 18:34] matozoid commented on #603
I see what you mean. How different is the current situation from option 2?

[2016-12-01 08:59] #602 closed, assigned to matozoid

[2016-12-01 17:35] #596 closed, assigned to nobody

[2016-12-01 17:35] #499 closed, assigned to matozoid

[2016-12-04 10:56] theangrydev opened #606 "DumpVisitor should use the Position information to insert appropriate new lines"
Currently, if a chained method call is over multiple lines like:
[code]

Then the `Statement` renders as `foo().bar().whatever()` (without the new lines) when the `toString` method is called (which delegates to the `DumpVisitor`).

The `Position` information in `getBegin` and `getEnd` should hopefully be enough to determine where to insert the new lines to match the original source.

[2016-12-04 11:40] ftomassetti commented on #606
Thanks for sharing this with us. Unfortunately I think that it is not that simple. We are planning to support lexical preservation in the future but this is not going to be as trivial as it seems for a variety of reasons.

Sure, if we parse a source file and then we want to dump it exactly as it is we could use the position and get the original file back. However this is not the case as soon as we

[2016-12-04 12:00] theangrydev commented on #606
For my particular use case, I am using the parser in a read only fashion, not modifying the parse tree at all.

I can appreciate how this is much more difficult when you allow modifications though.

My workaround at the moment is to just copy paste the `DumpVisitor` and change it to suit my needs.

Something that could work even with modifications is having different rendering style options, one o

[2016-12-04 12:36] theangrydev commented on #606
Come to think of it, something like a pretty printer that works in a similar way to e.g. an IDE auto format feature with lots of configurable options makes a lot of sense to me. That also sounds a lot easier to implement than tracking and maintaining the positions when making modifications.

[2016-12-04 17:20] matozoid commented on #606
Hello, for version 3.0 we have renamed DumpVisitor to PrettyPrinter, since that is what it does. No new options for formatting yet, but there are some on the issue list (would you like to comment or contribute?) And as @ftomassetti said, the current version cannot not keep formatting or comments well, but we'll work on that.

[2016-12-05 14:01] matozoid commented on #606
@theangrydev is it okay if I close this? The main issue is here: #124.

[2016-12-05 17:44] theangrydev commented on #606
Sure, fine by me

[2016-12-05 17:44] #606 closed, assigned to nobody

[2016-12-05 17:46] theangrydev commented on #124
As mentioned in #606, I would be interested in seeing some options in the pretty printer around how to format the code. Something similar to the options an IDE gives you for auto formatting.

[2016-12-05 18:01] matozoid commented on #606
Oh, excuse me, the prettyprinter issues are over here: #541, #542, #543, #544, #545, #546.

[2016-12-05 19:05] #424 closed, assigned to nobody

[2016-12-06 01:26] avik-das opened #611 "Package-private constructors always have an unknown begin position"
It seems `ConstructorDeclaration`s don't have valid begin positions. They're always `0-0`. See this minimal test case, which I ran with `3.0.0-RC.1`:

[code]

The output is:

[code]

You can change the constructor to a method, and the begin position will be correctly populated. Adding more constructors doesn't change anything; all the `ConstructorDeclaration`s have an unknown begin position.

[2016-12-06 01:44] avik-das commented on #611
Turns out the issue is actually with package-private ~methods and~ constructors, ones without a visibility modifier. If you add `public` to the constructor above, it works. ~If you create a method that's package-private, it doesn't work.~

[2016-12-06 07:22] ftomassetti commented on #611
We have actually received a patch for this exact issue a few hours ago. I think that your problem should be already solved in the master branch. Unfortunately we merged the patch after releasing the first RC so it will be available in RC2

[2016-12-06 07:27] avik-das commented on #611
@ftomassetti: Perfect, thanks for the heads up. I looked through that patch just now so I can hopefully contribute for these types of cases in the future, but for this one, I'll wait. I'll close this so it doesn't clutter up your bug list, and re-open if it doesn't get fixed in the next RC.

[2016-12-06 07:27] #611 closed, assigned to nobody

[2016-12-06 07:28] ftomassetti commented on #611
perfect, thanks! And thank you also for reporting the issue!

[2016-12-06 10:18] matozoid commented on #611
@avik-das you can expect RC2 coming weekend :)

[2016-12-06 16:58] avik-das commented on #611
@matozoid: Fantastic! I'll keep an eye out. Thanks.

[2016-12-06 20:09] matozoid commented on #592
Here's the newest plan (compare to #237 )

[code]

[2016-12-06 21:08] matozoid opened #612 "Remove VariableDeclaratorId"
Without bracket information, VariableDeclaratorId is identical to SimpleName. Removing it would simplify the AST

[2016-12-07 17:37] matozoid opened #613 "Parser-generated Problems don't have a correct begin position"
The begin position is set to the start of the last token in the rule that creates the problem. It should be the start of the FIRST token.

[2016-12-07 17:38] matozoid opened #614 "Refactor list of tokens"
For several kinds of purposes we need to track the parsed tokens as a linear list, and we need to keep track of the starting tokens of a certain rule. We currently have the tokens, but it is a tree - special tokens are stored non-linearly.

This would allow:
- to keep track of start/end token for an algorithm to regenerate source code (#124)
- to give Problems a begin position  (#613)
- to output

[2016-12-08 09:06] tiaped commented on #580
Hi I would like to work on this issue.
But I've found only three uses of getResourceAsStream and all in tests.

Do you have a use case for this issue?

If the use is limited to tests why not use a TestUtils in package com.github.javaparser of the test project.

Thanks in advance for answers

[2016-12-08 10:06] matozoid commented on #580
Hi, thanks for offering some help.

The core library is not made only to be used in the test module. It is made to be used by users. The Providers class is there to make it easy to pass any kind of input to JavaParser. Since people often use resources, it seems logical to support those in Providers.

[2016-12-08 10:29] tiaped commented on #580
Thanks for the answer.
OK, so let's go.
If I do not mistake, the aim is to use something like this
Charset charset = Charset.forName("US-ASCII");
Providers.provider(Providers.getResource("path/to/resource",charset),charset);

I could also add a providerFromResource(String pathToResource, Charset charset) method, but I do not think it matches current method names

I'll work on getClass().getClassLo

[2016-12-08 10:51] matozoid commented on #580
Okay, cool.

The API should be one call, like `Providers.provider("path", charset)` - if there is an overloading problem, make it `Providers.resourceProvider` or so.
Also have an alternative that defaults charset to UTF_8.

Try it out by writing a test and calling JavaParser with it :)

Oh, make sure to test if everything is closed nicely when parsing is done!

If you could add some Javadoc with a

[2016-12-08 12:49] tiaped commented on #580
Hi again,

I nearly finished. But I have one last question. Sorry in advance for the poor english.
As resources are related to class loaders I added a third alternative that allow to provide the class loader.
Typically when you call a resource, it is in a jar, Java files are rarely present in jars. So I still so not see the use case unless a source files are provided by a specific class loader.

I

[2016-12-08 14:08] matozoid commented on #580
My main use case is: "I've put some source code on /src/main/resources/ and I want to analyse it", so `provider("/template/Abc.java")` would get input from there.

It would be possible that someone puts the source jar of some artifact on the classpath, but I agree that seems far fetched. You choose if you want to support that or not :)

[2016-12-08 16:28] DeepSnowNeeL commented on #580
I actually do this to generate code from my annotation processor :)

Le jeu. 8 déc. 2016 à 15:08, Danny van Bruggen <notifications@github.com> a
écrit :

[2016-12-09 13:12] tiaped commented on #553
Hi I wanted to do this one (it is pretty easy indeed).
But I have few questions :)
* adding this file will imply to use java 9 to build the project right?
** Is it a problem? Will CI continue to work?
** pom should be updated accordingly.
* All packages of the javaparser-core project should be exported, right?

[2016-12-09 13:47] matozoid commented on #553
Wow, wait a moment - the last time I looked at this the specification for this file wasn't even definite :) But maybe it is by now?

As far as I understand, this is simply adding the file and everything works. Better not alienate 100% of users by switching to JDK 9 :)

Yes, export everything, although you might want to try to hide the JavaCC generated files. Check bnd.bnd for an idea.

[2016-12-09 14:29] tiaped commented on #553
Will pick another issue then :)
I believe it will only impact those who build the project.
I'll give a try before leaving this issue

[2016-12-09 14:56] matozoid commented on #375
Since the testcode generator for assertj doesn't make things easier since we already have generated code, let's not do this.

[2016-12-09 14:57] #375 closed, assigned to nobody

[2016-12-09 14:59] matozoid commented on #524
@tiaped - you could pick this one up?

[2016-12-09 15:11] tiaped commented on #524
Yes I can.
I will probably start next week.

[2016-12-09 15:12] matozoid commented on #524
Cool, no hurry.

[2016-12-09 15:47] tiaped commented on #553
There is an issue with bnd and the module-info.class file.
I will stop now.

[2016-12-09 15:53] matozoid commented on #553
What kind of issue? Would be good to note that here.

[2016-12-09 16:17] tiaped commented on #553
I had a NullPointerException while parsing the module-info.class file.
But I had not investigated so much. So it might be an environment issue.
That is why I had not put more information.

[2016-12-09 17:08] matozoid commented on #597
Do you want this in 3.0, or shall I remove the label?

[2016-12-11 04:26] sdrgroup opened #620 "can not parse the source code segment after "new" in a method"
javaparser can not parse the source code like:

		builder.setNegativeButton(R.string.Cancel, new OnClickListener() {
			@Override
			public void onClick(DialogInterface dialog, int which) {
				Controller.getInstance().getAddonManager().onUserChoice(
						mContext,
						mWebView,
						mAddon,
						mAddonAction.getId(),
						true,
						-1);
			}

		});
It can not get the variable and method d

[2016-12-11 12:19] matozoid commented on #620
Here is how to get the method declaration using getters.

I'm not sure what you mean with "the variable."

[code]

[2016-12-11 15:31] #523 closed, assigned to matozoid

[2016-12-11 15:31] #592 closed, assigned to matozoid

[2016-12-11 15:31] #593 closed, assigned to matozoid

[2016-12-11 15:31] #453 closed, assigned to nobody

[2016-12-11 15:31] matozoid commented on #380
Hmmm, this one came back...

[2016-12-11 15:31] #612 closed, assigned to matozoid

[2016-12-11 15:31] #614 closed, assigned to matozoid

[2016-12-11 15:32] #580 closed, assigned to nobody

[2016-12-11 22:29] sdrgroup commented on #620
sorry, I don't describe my question clearly.
I used override visit method to get all the variable declarations, and I got all of them except those after "new". My code is like following:
	@Override
	public void visit(VariableDeclarator vd, Object arg) {
              String variable = vd.getId().getName();
              varList.add(variable);
              super.visit(vd, arg);
        }

[2016-12-12 07:55] ftomassetti commented on #597
I guess we can remove it: if we do it later and we find bugs it would not change the API anyway so I think it is not strictly necessary to have it as part of 3.0.0

[2016-12-12 10:20] matozoid commented on #620
Do you mean like this?

[code]

[2016-12-12 12:21] digulla commented on #600
Note that the Java compiler does the same. Interpretation of Unicode escape sequences happens in the lexer, before tokenization, so the parser never sees the original input.

This is the reason why code like `/* C:\User\... */`doesn't compile ("ser" is not a valid Unicode escape sequence).

[2016-12-12 16:10] matozoid commented on #205
As this seems to be a request to make the tokens public, I guess it's already done.

[2016-12-12 16:10] #205 closed, assigned to nobody

[2016-12-12 16:13] matozoid commented on #265
I have no idea. Let's close this :)

[2016-12-12 16:13] #265 closed, assigned to nobody

[2016-12-12 22:48] ftomassetti commented on #586
I think it would be also useful to get Google analytics to find out who is linking to javaparser.org

[2016-12-12 23:03] sdrgroup commented on #620
got it, Thank you very much.

[2016-12-12 23:03] #620 closed, assigned to nobody

[2016-12-13 09:11] matozoid commented on #586
+1 from me for google analytics.

[2016-12-13 09:16] matozoid commented on #124
@ftomassetti made something interesting: http://tomassetti.me/lexical-preservation-javaparser/

Personally I'd prefer what's the in the PDF. It is comparable, but I think pointing to the original source by pointing at the actual tokens is more reliable, or more direct, than depending on our position information. The position information comes from the tokens :)

[2016-12-13 09:21] ftomassetti commented on #124
Yes, I see that using tokens would be a better solution from an engineering point of view.

I think the only benefit of my solution is to be compatible with JavaParser as it is.

Of we can get access to the tokens within a reasonable timeframe I am all for using them.

[2016-12-13 09:45] matozoid commented on #124
I do think it's awesome that you built something :)

It shouldn't be too hard to get the tokens in the nodes. Currently we're keeping track of the *location* of the begin and end token. We only have to start keeping track of the begin and end token instead of that - so mostly a search/replace.

[2016-12-13 09:57] DeepSnowNeeL opened #621 "Helper for fieldDeclaration.getVariable(0).getType()"
Previously we could do getElementType() directly on a FieldDeclaration,
Now that's been reworked, it would be great to have a helper to directly get the type of the first variable declared by this field.

`getFirstVariableType()` can be cool
Maybe we could have `getFirstVariableIdentifierAsString()` too ?

Thanks

[2016-12-13 11:41] matozoid opened #622 "Make assigning comments optional again"
... with a flag in ParserConfiguration. The default should be to assign them.

[2016-12-13 14:32] matozoid commented on #621
Oh, I thought you wanted something that behaved like the old getElementType() - which would be getVariable(0).getType().getElementType(). Is getVariable(0).getType() so hard to use?

[2016-12-13 15:05] DeepSnowNeeL opened #624 "Problem when parsing (CommentInserter related)"
This is the line which causes the problem : (CommentInserter#178)
 `if (node.getBegin().get().line == lineComment.getBegin().get().line `

And here is the SSCCE to reproduce the bug:
[code]

Using `JavaParser.parse(Paths.get("failparse.java"));` to parse it yields :

[code]

[2016-12-13 15:21] DeepSnowNeeL commented on #621
Well, no it isn't that hard.

But considering java coding standards, i'm certain that 90% of fields are simple ClassOrInterfaceDeclaration followed by only 1 variable identifier so I think it will be usefull :)

[2016-12-13 15:22] matozoid commented on #624
Hmmm, could you check my branch? This new test for your issue doesn't seem to fail: https://github.com/matozoid/javaparser/blob/issue_624_commentsinserter/javaparser-testing/src/test/java/com/github/javaparser/CommentsInserterTest.java

[2016-12-13 15:24] matozoid commented on #621
Well, I'm worried that users will use these methods because they are easy, and introduce bugs because their code fails in the less common situation of multiple variables :(

[2016-12-13 15:52] DeepSnowNeeL commented on #624
Well, when run by JUnit it doesn't fail but when I copy paste Issue624.java.txt and use my main with JavaParser.parse it throws the same error.

Using
[code]
in the junit test yields the error tho, so it might have something to do with JavaParser.parse()

[2016-12-13 15:53] DeepSnowNeeL commented on #621
Yep.. well as you wish :P

[2016-12-13 16:39] matozoid commented on #621
That was not meant to be a final decision :) Putting back getElementType() as a shortcut is fine. What about... `getCommonType()` which checks that all variables have exactly the same type, then return the type node from the first variable?

[2016-12-13 17:38] matozoid opened #629 "Grammar creates UnknownTypes with no range info"
Found while debugging #624

[2016-12-13 17:50] DeepSnowNeeL commented on #621
Returning an Optional if it doesn't ?
I don't really see a benefit from getCommonType() it does slightly the same thing (at least in my case) and has the same drawbacks.

I think if we create the getFirst... it's already in the dev head than it can contain more than one element

getCommonType could be added to, but not useful in my case

[2016-12-13 17:50] DeepSnowNeeL commented on #621
oops

[2016-12-13 17:54] matozoid commented on #621
I was thinking of asserting if it doesn't match - so that the user will be notified that he failed to check for multiple variables :) Is that more useful?

[2016-12-13 17:55] matozoid commented on #621
Anyway, what it would add over "first" is that it will behave like the old getType(). It returns the type that is common to all variables. First means: ignore the other variables, who cares.

[2016-12-13 17:59] DeepSnowNeeL commented on #621
Allright let's go for `getCommonType` then

[2016-12-13 18:14] matozoid commented on #621
Are you sure? ;)

[2016-12-13 19:58] ftomassetti opened #632 "Pretty printing variables with array types"
Currently this `byte[] rawData` is pretty printed as `byte rawData[]`.
I would suggest we pretty print it as `byte[] rawData`. We could check the common type between all the fields and print it in front of the variables, while putting extra brackets behind the variables.

For example:
`int a[], b[][]` -> `int[] a, b[]`
`int[] a[]` -> `int[][] a`
`int[] a, b[]` -> `int[] a, b[]`

What do you think?

[2016-12-13 20:01] ftomassetti commented on #632
If you agree I can send a PR

[2016-12-13 20:11] matozoid commented on #632
Please do send a PR, I know I've taken the lazy solution here :)

[2016-12-14 00:12] avik-das commented on #611
@ftomassetti @matozoid: I wanted to confirm that upgrading to RC2 worked for me. Thanks.

[2016-12-14 00:39] avik-das opened #633 "MethodDeclaration type pulls in Javadoc if annotation precedes it"
Minimal test case:

[code]

On RC2, this test case:

[code]

Prints out:

[code]

Removing either the annotation or the Javadoc, or moving the annotation after the Javadoc correctly reports the type as `void`.

Note that having the annotation before the Javadoc causes the documentation comment from being disassociated from the method: IDEs like IntelliJ report it as a "dangling Javadoc comment" an

[2016-12-14 04:38] kushal256 opened #634 "ImportDeclaration isStatic and isAsterisk are not public"
For v3.0.0-R2, I see these methods are not public, rather, they have default scope.  Not sure of the history of this as in v2.5.1 they are public.  Was this intentional?

[2016-12-14 07:14] ftomassetti commented on #611
@avik-das thanks to you for reporting this issue and help us verifying it !

[2016-12-14 07:16] ftomassetti opened #635 "URL for the organization"
If you visit https://github.com/javaparser you will see that the URL associated to the organization is  http://javaparser.github.io/javaparser/ . I suggest we change it to  http://javaparser.org

Anyone against it?

[2016-12-14 10:16] matozoid commented on #634
Oops! Fixed in https://github.com/javaparser/javaparser/pull/636

[2016-12-14 10:17] matozoid commented on #635
+1

[2016-12-14 10:27] ftomassetti commented on #635
done

[2016-12-14 10:27] #635 closed, assigned to nobody

[2016-12-14 17:42] ftomassetti commented on #632
I can easily find the common type between different fields but to preserve annotations correctly probably we should remember where the brackets were...

[2016-12-14 19:42] avik-das commented on #633
Interestingly, [this quirk is documented in the wiki](https://github.com/javaparser/javaparser/wiki/Comments-%28Attribution%29):

Looks like it's been around for a while. But, it goes a little deeper than just comment attribution. Notice what happens when I print out `.getComment()` on the return type: there's no comment! The comment is considered part of the type itself!

[code]

Output:

[code]

[2016-12-14 19:46] matozoid commented on #632
Well, that certainly makes it more complex, but if you do it right you should be able to add brackets to the type on the left as long as all variables have the same annotations on those brackets...

Or you say "if there are annotations on the brackets I'll just stick all brackets behind the identifiers, as it is now. It's not like I've ever seen an annotated array bracket.

[2016-12-14 19:58] matozoid opened #638 "Comment support refactoring approach brainstorm issue"
- the main problem with comments is that they can be placed much more fine grained than AST nodes. There is no way to deal with these for example: `int a(int b/*x*/)/*x*/{}` because those locations do not have unique nodes. Supplying a comment API based on the AST is always going to be inaccurate, hence all the issues on comment support.
- Lexical preservation code combined with inspecting tokens

[2016-12-14 20:48] #624 closed, assigned to nobody

[2016-12-14 20:51] matozoid opened #639 "Make TAB character size used by JavaCC configurable"
It is set to 8, and all positions are calculated using this number. This may very well be wrong for some cases. I think it is mostly 4 nowadays, but should be configurable.

[2016-12-14 20:51] #621 closed, assigned to nobody

[2016-12-14 21:01] #634 closed, assigned to nobody

[2016-12-14 21:04] matozoid commented on #639
This was found after reading @larsac07's thesis: http://bora.uib.no/bitstream/handle/1956/12756/144804725.pdf

@larsac07 - if you have more suggestions, please add :)

[2016-12-14 22:10] matozoid commented on #633
I've dumped my ideas about our comment support in #638

After 3.0 is out I'd like to see if we can get part of the current issues fixed, then refactor the whole thing. You're welcome to help :)

--> https://github.com/javaparser/javaparser/labels/Comment%20support

[2016-12-14 22:12] matozoid commented on #629
I'm actually no longer certain this is a bug. UnknownType does not have a representation in the source file, so I guess it cannot have a range then. It's just a bit odd.

[2016-12-14 23:44] avik-das commented on #633
@matozoid: Thanks for tracking this. I can provide some more details on this one for anyone who sees this, and in case it helps me understand how I would fix this bug (still wrapping my head around the project). Let me know if it's too much detail :)

This is a problem when the return type is a non-array type. So if the return type is declared as `int`, `java.lang.String` or `String`, the Javadoc

[2016-12-15 14:31] tiaped commented on #524
Hi, I started today in fact.
I think of starting from #558.
Everywhere where a T getXXX(int i) was added, I'll add a void setXXX(int i, T element).
If it seems right, would you like also a void addXXX(T element)?

[2016-12-15 15:40] matozoid commented on #524
Not sure, because if we continue adding methods we might as well copy the whole List interface for every list. You choose if you want set(i, element) or not. I don't think it's a very common thing to do after all.

addXXX: there are already quite a few of these methods. Good plan!

[2016-12-15 19:38] matozoid commented on #524
Forgot to mention: all of our setters return "this"

[2016-12-16 02:39] xiewenya opened #644 "Add visitor property to PrettyPrinter"
How about make visitor configurable in class PrettyPrinter so that we can easily customize the printer. Or maybe add a abstract printer class

[2016-12-16 13:33] matozoid commented on #644
Hmmm, I'm in an architectural discussion with myself about this now :)

Is your request...
1. I would like to use print my AST in a slightly different way by adapting the current PPVisitor?
2. I would like to print the AST in a drastically different way by writing a different visitor?
3. I would like to change the behaviour of toString() ?

Because in my mind, the PrettyPrinter is a package we off

[2016-12-16 15:49] matozoid commented on #638
Removed "Modifiers should be nodes so that they can have a source position"

[2016-12-16 17:59] #629 closed, assigned to nobody

[2016-12-16 19:12] matozoid commented on #194
The following code does output the comment, so I'm assuming this is fixed. Note that the supplied sample code had to be changed to be parseable.

[code]

[2016-12-16 19:12] #194 closed, assigned to nobody

[2016-12-16 21:09] matozoid commented on #353
Here we go again: https://github.com/matozoid/javaparser/commits/issue_353_generate_visitors

[2016-12-16 21:15] ftomassetti commented on #353
But if you use it JavaSymbolSolver does it mean you would java JavaParser depending on JavaSymbolSolver? Or would this be a separate module/project?

[2016-12-16 21:18] matozoid commented on #353
This time I'm not using JSS.

[2016-12-16 21:19] matozoid commented on #353
Look at JavaParserModel, NodeModel and FieldModel (which are far from complete, mind!)

[2016-12-16 21:19] ftomassetti commented on #353
problem solved :D

[2016-12-17 09:10] ftomassetti commented on #124
I am now trying to adapt my experiment to use tokens: we start by saving the list of elements for each Node. Such elements are either placeholder for children or tokens. For example a class could have as elements: `CLASS_KW, SPACE, {, SPACE, fieldA, SPACE ,}` where `fieldA` is a placeholder for the child of type FieldDeclaration

[2016-12-17 23:36] matozoid opened #650 "Add missing optionals to builder methods"
In CompilationUnit I found a few that happily return null. Better check all the nodes.

[2016-12-18 09:05] ftomassetti opened #652 "PrettyPrinter and PrettyPrinterConfiguration have no copyright information"

[2016-12-18 11:14] #652 closed, assigned to nobody

[2016-12-18 11:15] matozoid opened #655 "Automatically generate copyright headers in all source files"
Would be a nice thing for the bootstrap module I'm building.

[2016-12-18 11:26] ftomassetti commented on #655
+1

[2016-12-18 22:09] #632 closed, assigned to nobody

[2016-12-18 22:10] #622 closed, assigned to nobody

[2016-12-18 22:10] #639 closed, assigned to matozoid

[2016-12-18 22:15] matozoid commented on #650
@DeepSnowNeeL can we call upon thee again?

[2016-12-18 22:46] DeepSnowNeeL commented on #650
quite busy right now, I'll take a look when I have time and report the one i've found so you can fix them

[2016-12-18 22:49] matozoid commented on #650
Well, I can do the looking too, since they are well documented :)

[2016-12-19 04:01] xiewenya commented on #644
nice to learn how you think :P
now I understand why the visitor is final in the first place.

I would like to print the AST into h5 format, that's why a configurable visitor would make it much easier.

[2016-12-19 09:11] matozoid commented on #644
Okay, my advice would be to subclass a ...VisitorAdapter and write your own thing, then use the visitor pattern: call accept on a node with that visitor.  That's what the PrettyPrinter does too.

But you do have a point that if someone wants to modify the PP visitor even a little bit, the PrettyPrinter class becomes useless. Okay, we'll pick it up :)

[2016-12-19 11:11] nishant-labs opened #660 "ImportDeclaration to have getImportAsString method to get full import"
`ImportDeclaration` class to have a `getImportAsString` method which will return fully qualified name of import irrespective of implementation of `ImportDeclaration`.

`public abstract String getImportAsString(){ }`

   E.g.
    For code `import java.util.List;`
    output: `java.util.List`
    For code `import static java.lang.System.out;`
    output: `java.lang.System.out`
    For code `import j

[2016-12-19 11:34] matozoid commented on #660
Okay, one question: why would you leave "static" out, and ".*" in?

[2016-12-19 13:07] larsac07 commented on #639
Yay! Someone read my thesis!

[2016-12-19 13:36] matozoid commented on #639
@larsac07 turns out you weren't the only one bothered by the TAB thing, by the way - in the new version it was changed to 1 already :)

[2016-12-19 13:55] nishant-labs commented on #660
usually static is not considered as the part of import, its an access modifier, Additionally it does not provide much information about the class(except static members can be used without qualification).

The idea behind adding `".*"` was to make `getImportAsString` method more meaningful. Once `".*"` is removed from import declaration, it is no longer a valid import(in terms of class/package info

[2016-12-19 14:59] matozoid commented on #561
@sdrgroup - maybe you have some input for issue #660 ?

[2016-12-19 15:51] ftomassetti commented on #660
This method could be useful, we could add it but we have just to be sure the name is very clear.
What about `getImportedElement`?

[2016-12-19 16:20] matozoid commented on #660
@ftomassetti what would you mean with "element" in this case? And certainly it would be `getImportedElementAsString` then? :)

edit: my point is: this part of the declaration doesn't really have a name. It's a type or a package or type and a method.

[2016-12-19 16:25] matozoid commented on #660
@nishantsinha-5 - maybe I'm nitpicking now, but * can officialy not be part of a qualified name since it is made up of identifiers, and * is not an identifier. (See https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html )

Alright, maybe the most important question is: what do you want to use this for? Do you simply want to print it out? Because if you want to interpret it, using the info in

[2016-12-19 18:58] matozoid opened #662 "Add relative position to comments"
A lot of complaints about comment support seems to come from comments moving around. I assume (assumption alert!) that one common problem is that we always print comments before a node, even though the attribution system sometimes assigns a node a comment that is behind it! So initially, we could have an enum that indicates "above" or "to the right" and if we want more control in the future we can

[2016-12-19 18:59] matozoid commented on #662
@ftomassetti am I missing something here?

[2016-12-19 20:15] ftomassetti commented on #662
It seems a reasonable way to do this.

I am not 100% sure just because we want to support also modification and maybe a comment printed on the right of a short expression should be printed on top of it if the expression becomes long.

[2016-12-19 21:57] matozoid opened #663 "Make helper methods to access literal values"
All literal integers, doubles, etc, are stored as strings. Add methods to get and set these as their native type.

[2016-12-19 22:18] ftomassetti commented on #663
+1

[2016-12-19 22:47] matozoid opened #664 "Untangle DoubleLiteralExpr"
There is an IntegerLiteralExpr and a LongLiteralExpr. However, there is a DoubleLiteralExpr but *no* FloatLiteralExpr. I suggest we add it.

[2016-12-20 09:22] matozoid opened #666 "Generate getNodeLists() methods"
The metamodel will have information on all fields, so that can be used to correcly generate these methods.

[2016-12-20 10:56] nishant-labs commented on #660
@ftomassetti is there any specific reason/logic behind using `Element`

@matozoid
You are right,  * is not a part of qualified name, what are you suggesting !!
I am not sure but then we can think of below implementation.
for code `java.util.*`
Shall we use use `java.util` as the value of `getImportAsString` and use `abstract boolean isAsterisk();` method to get asterisk info.

Let me give informat

[2016-12-20 12:02] matozoid commented on #660
I was just going to suggest adding `getPathAsString` and include .* in it, after I realized that what we're talking about is a kind of path, a selector, for one of more Java classes or methods :)

`toString()` is even more tricky than you think: it can have comments in it.

The parse methods on JavaParser link directly to the internal parser, that's why it wants import and a ;. The nice thing is t

[2016-12-20 14:44] nishant-labs commented on #660
@matozoid Thanks :)

I have never heard or seen (java docs) using "path" to denote an import.

Its not that problematic, I was just thinking of cleaner code as "import" and ";" has to be applied for all import string we parse.

[2016-12-20 15:10] matozoid commented on #660
Neither have I, but I have never heard any term for this part of an import :) I find getImportAsString too general, "Element" doesn't really make things any clearer, and if it's not "path," then it's your turn to suggest something again :)

It's actually a decent piece of functionality to add (or restore, really.) I think I'll also make ImportDeclaration itself visitable again. People are not resp

[2016-12-20 16:01] matozoid opened #667 "SuperExpr and ThisExpr can have ClassOrInterfaceType as scope"
It is now an expression, but I think you can only have a COIT here.

[2016-12-21 14:23] nishant-labs commented on #660
I was going through [Java doc](https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html#jls-6.5.5.2)

I think `getQualifiedTypeName` could be a better candidate for serving our purpose.

[2016-12-21 18:10] matozoid commented on #660
Like in the other thread, `java.lang.System.out` is not a type, and neither is `java.util`.

[2016-12-21 19:08] matozoid opened #668 "TypeDeclarationStmt can only declare classes"
... so it can be renamed to ClassDeclarationStmt, and its field can be a ClassOrInterfaceDeclaration.

Note that this is the utterly obscure https://docs.oracle.com/javase/specs/jls/se8/html/jls-14.html#jls-14.3

[2016-12-21 22:40] #667 closed, assigned to nobody

[2016-12-21 22:50] matozoid opened #670 "Reintroduce ImportDeclaration level functionality"
Namely, a factory method for creating imports, and having ImportDeclaration visitable.

[2016-12-21 22:51] matozoid commented on #660
Also see #670

[2016-12-22 11:47] matozoid commented on #660
If we can't get to an agreement, I'll put "getQualifiedNamePartAsString()" in the API :)

[2016-12-22 20:13] mlangkabel opened #671 "ParseProblemExceptions when Parsing Multithreaded"
When concurrently parsing multiple files the JavaParser occasionally thows `ParseProblemException`s with the message: "Encountered unexpected token."

I think this has something to do with the `defaultInstance` member of the `JavaParser` class. After reverting the line

`ParseResult<T> result = defaultInstance.parse(context, provider);`

in the `JavaParser.simplifiedParse(...)` to

`ParseResult<T>

[2016-12-23 00:37] matozoid commented on #671
*scratches head*
Not sure if I should call this a bug or a feature... :)

Let's call it a bug. The static parse method are supposed to be quick & easy. Concurrency problems aren't easy. We should roll this back.

[2016-12-23 08:22] xiewenya commented on #660
I encountered the same problem with different ankle.  When parsing the import section, each part is parsed as class by calling `visit(ClassOrInterfaceType n, Void arg)`.

For example, when parsing `import java.util.Map` , the `java.util` is parsed as `ClassOrInterfaceType`. I think it should be the package name.

[2016-12-23 12:35] matozoid commented on #660
@xiewenya - I just merged in the Javadoc, you can look at the Javadoc for ClassOrInterfaceType to see what the problem is.

[2016-12-23 13:32] xiewenya commented on #660
@matozoid just read the javadoc, that's an awkward situation.  But if there is no way to make it 100% correct, why choose the rare case( as `ClassOrInterfaceType` ) over the common one (as package name).

In IDE like Idea, if you declare a field as `Entry` , Idea will automatically change the field declaration to `Map.Entry` and import it as `java.util.Map`. So at least in Idea, the import part wi

[2016-12-23 14:28] matozoid commented on #660
@xiewenya you know, I wanted to say "but this is not a rare case" - but of course for an import it is the common case. I'm considering reverting the splitting up of ImportDeclaration into its four subclasses, because it seems it is not very intuitive, you're not the first one to run into trouble...

[2016-12-23 14:46] nishant-labs commented on #660
@matozoid I too was finding it difficult come into a conclusion, anyways `getQualifiedNamePartAsString()` looks promising.

[2016-12-23 14:47] matozoid commented on #660
@nishantsinha-5 would you say having four separate classes for imports instead of one is an advantage or a disadvantage?

[2016-12-23 15:30] nishant-labs commented on #660
In my opinion, It is a disadvantage for user because it created complexity while visiting ImportDeclaration types.
However I like the idea of splitting import text into types(here I would suggest to use Identifier instead of "ClassOrInterfaceType" because as per java specification each word separated by dots is called an Identifier).

But we need this `getQualifiedNamePartAsString()` :)

[2016-12-23 16:28] matozoid commented on #660
Okay, let's turn the API back into...
[code]
For qualified names we have ```Name``` - that supports the dots, and it has "asString()" to give you the complete name as a String.

Is that okay?

[2016-12-23 16:29] matozoid commented on #660
... in this case, because it will no longer clash with subclasses (because we remove them) we can also turn getQNPAS into getName.

[2016-12-23 16:51] nishant-labs commented on #660
@matozoid did you get chance to look at my message in gitter.im
API changes looks good and probably all issues related to this will get resolved. Thanks

[2016-12-24 14:56] DeepSnowNeeL commented on #660
The separation to 4 class was annoying to use for me too, cool you changed
it back :)

Le ven. 23 déc. 2016 à 17:51, Nishant Kumar Sinha <notifications@github.com>
a écrit :

[2016-12-24 21:14] #671 closed, assigned to nobody

[2016-12-24 21:14] #670 closed, assigned to nobody

[2016-12-24 21:14] #660 closed, assigned to nobody

[2016-12-24 21:15] #650 closed, assigned to nobody

[2016-12-24 21:18] #347 closed, assigned to matozoid

[2016-12-24 21:18] #668 closed, assigned to matozoid

[2016-12-26 05:30] huangwaylon opened #675 "Modify a VariableDeclarationExpr's righthand side to be null"
If I have a VariableDeclarationExpr such as:

where the expression is something like:

or

How can I modify aExpr such that the resulting expression is:

[2016-12-26 19:55] ftomassetti commented on #675
`null` is represented by a `NullLiteralExpr`. So you want to get the declaration and do `setInitialization(new NullLiteralExpr())`

[2016-12-26 22:55] huangwaylon commented on #675
Thanks for the solution! The way that I've implemented this is as follows:
[code]

Is this good style? I am wondering specifically about grabbing the VariableDeclarator from the expression with the statement vars.get(0). Can I be certain that it'll always be the first element within the list? And what is an example of a VariableDeclarationExpr with more than one VariableDeclarator when I call getV

[2016-12-30 16:30] ftomassetti opened #676 "It should not be possible to add a Field to an AnnotationDeclaration"
The methods `addField` should be overridden in `AnnotationDeclaration` to return `UnsupportedOperationException`

[2016-12-30 16:57] ftomassetti opened #677 "The range of the AnnotationMemberDeclaration is wrong"
It should be corrected like this:
[code]

[2016-12-30 17:15] ftomassetti opened #678 "The range of the ArrayType is wrong"
Example:
[code]

The range of `type` is line 1, col 41-42 while it should be col 35-42.

[2016-12-30 17:22] ftomassetti commented on #678
I suggest we fix it in ArrayType.wrapInArrayTypes:

[code]

If this works for you I will send a PR

[2016-12-30 18:04] ftomassetti commented on #678
I have created in a branch a test and a fix for this. It is branch issue678 on my fork, built on top of issue677

[2016-12-30 18:33] ftomassetti opened #680 "Comment and JavadocComment accept a null content"
I think they should complain if built with a null string

[2016-12-30 18:34] ftomassetti opened #681 "Consider Adding NodeWithJavadoc.removeJavaDocComment"
It would be the opposite of `setJavaDocComment`

[2016-12-30 18:56] ftomassetti opened #682 "Node.remove seems not to work with comments"
Probably because the comment could be a child of the parent of the commented node.

Note that it does not explode, it just returns false because it cannot remove the comment. So it is not 100% a bug, more a missing feature.

[2016-12-30 19:13] Gottox commented on #600
That's true, But keep in mind that javaparser can be used to alter java source code. This results in undesired source code mutations.

[2016-12-30 20:57] ftomassetti opened #683 "AnnotationMemberDeclaration.setName does not set the parent of the name"
We should change this:
[code]

into:

[code]

[2016-12-30 21:21] ftomassetti opened #685 "Node.remove seems not to work with the default value of an AnnotationMemberDeclaration"
Possibly related to #682

[2016-12-30 21:22] ftomassetti opened #686 "Consider Adding AnnotationMemberDeclaration.removeDefaultValue"
Similar to #681

[2016-12-30 21:43] ftomassetti commented on #685
This was because of an exception happening in the LexicalPreservingPrinter. Invalid bug report.

[2016-12-30 21:43] #685 closed, assigned to nobody

[2016-12-31 14:10] ftomassetti commented on #682
A partial solution could be to override remove in Comment:

[code]

So that at least the comments associated to a node can be removed.

[2016-12-31 15:15] digulla commented on #600
It's an unexpected side effect. The source code (as seen by the Java compiler) is exactly the same.

While I understand that you'd like to keep this information around, I don't know a good way to implement this in any parser/lexer framework.

In your example, you just want this for comments. But you need to be able to remember the information for every single character of the input (`cl\u0061ss` i

[2017-01-02 11:41] matozoid opened #687 "Add "copy()" that works like "clone()" but returns the correct type."

[2017-01-02 11:48] matozoid commented on #675
This is a variable declaration of more than one variable:
[code]
so to make rock solid code, you would want your algorithm to go through all the variables, which is not much more work.

With a few more tweaks, we get this:
[code]

(this is assuming the latest version of the library, by the way)

[2017-01-02 11:52] matozoid commented on #676
Alternatively we can add those methods to a new NodeWithFields, and put that on EnumDeclaration and ClassOrInterfaceDeclaration only. You would need to cast when you only have a TypeDeclaration then, and my question is "does that happen a lot?"

[2017-01-02 12:02] matozoid commented on #678
I just came back from holiday and can't think straight yet. What does it do? Include the type in the range?

[2017-01-02 12:03] matozoid commented on #680
Yes, they should.

[2017-01-02 12:03] matozoid commented on #680
What about BlockComment?

[2017-01-02 12:04] matozoid commented on #681
+1

[2017-01-02 12:04] matozoid commented on #683
Yes, that's the risk of writing all this code by hand.

+1

[2017-01-02 12:05] #683 closed, assigned to nobody

[2017-01-02 12:06] matozoid commented on #686
+1

[2017-01-02 12:09] matozoid commented on #598
@ftomassetti @DeepSnowNeeL can you write a sample remove() method for one type of node, non-trivial? So that it is clear what to generate?

[2017-01-02 12:10] matozoid commented on #682
Let's get #598 off the ground :) Before that, hacks are okay. PR?

[2017-01-02 14:44] ftomassetti commented on #598
The way remove works is basically call some setter in the parent with a null value. Note that the method to call depends on the parent: the same Node could be potentially used in different roles. This is what would make difficult this method I think

[2017-01-02 14:45] ftomassetti commented on #680
BlockComment delegates to Comment I think

[2017-01-02 14:47] ftomassetti commented on #678
Yes, basically it does that. I think that the range of the ArrayType should be either invalid or as long as the type, while for `int[]` I get a range of 2 characters

[2017-01-02 17:12] matozoid commented on #678
Okay, but what about `int a[]` ?

[2017-01-02 17:20] matozoid commented on #598
Would it help to call `parent.remove(this)` so that the logic can be moved to the node that knows what children it has?

[2017-01-02 17:35] #677 closed, assigned to nobody

[2017-01-02 20:22] ftomassetti commented on #676
I am not sure. As a user I tend to prefer getting an UnsupportedOperationException if I am doing something stupid instead of having to cast, but it is just a personal taste, I would be happy we any of those two alternatives

[2017-01-02 20:25] ftomassetti commented on #678
right, well, I think there are two cases: the case in which we return a type as it exists on the file and a case in which we calculate a type and return it.

`int[] a` -> type existing on file
`int a[]` -> type calculated

in the first case the range is obvious and it can be properly calculated, in the second case instead the range is not obvious because the type was calculated combining two diffe

[2017-01-02 20:42] ftomassetti commented on #681
Working on a PR, but first we need to fix the Node.remove for comments #682

[2017-01-02 21:14] ftomassetti opened #692 "Parent of previous value is not removed in all setters"
When we use setters we do not remove the parent for the existing value. Consider this test:

[code]

I would expect the `originalName` to have no parent after we replace it. Unfortunately this is not the case. It means we should fix all setters...

[2017-01-02 21:14] matozoid commented on #678
Hmmm, that's rather non-obvious behaviour. Can you tell me more about your use case, so we can figure out what's best?

[2017-01-02 21:16] matozoid commented on #676
I agree with not liking casting. Still, if we rarely use the "TypeDeclaration" type, then I prefer static type checking (not having the methods) over dynamic (throwing exceptions.)

[2017-01-02 21:20] matozoid commented on #692
I have seen the same thing, mainly because childNodes would have nodes that were overwritten by a setter previously (and should have been gone.)

[2017-01-02 21:21] matozoid commented on #692
Leaving this for past 3.0.0, since it is a lot of work, and is marginal enough not to get noticed until now.

[2017-01-02 21:26] #682 closed, assigned to nobody

[2017-01-02 21:26] #681 closed, assigned to nobody

[2017-01-02 21:36] ftomassetti commented on #678
my use case is about lexical preservation: I need the correct range to figure out which tokens belong to a certain node

[2017-01-03 02:45] huangwaylon commented on #675
Thank you for the clarification and explanation!

[2017-01-03 02:45] #675 closed, assigned to nobody

[2017-01-03 09:25] matozoid commented on #678
I've tought about it for a while and I can see your approach now. Please PR :)

[2017-01-03 17:07] #686 closed, assigned to nobody

[2017-01-03 17:17] ftomassetti opened #694 "We should assert not-nullness before notifying about a change"

[2017-01-03 17:21] #680 closed, assigned to nobody

[2017-01-04 07:16] ftomassetti commented on #598
Yes, using `parent.remove(this)` would help

[2017-01-07 07:47] ftomassetti commented on #433
I think this is something we should prioritize.
I wanted to write a brief post on JavaParser & JavaDoc: maybe this is a good excuse to start working on this one. I will steal the ticket.

For me the easiest way would be to use ANTLR, but that would mean adding dependencies so I will take a look at JavaCC instead. I am not sure the JavaCC mvn plugin can handle two grammars in the same project. Goin

[2017-01-07 12:53] matozoid commented on #433
Here is my branch where I was making a half-hearted attempt by converting an ANTLR grammar: https://github.com/matozoid/javaparser/tree/issue_433_javadoc_parser

My experience up to now:
- the parser has to be whitespace aware to deal with the *'s at the start of lines
- it's best to consider the first "* @..." combination to end the text part of the javadoc
- it's beyond my knowledge to get our c

[2017-01-07 13:30] ftomassetti commented on #433
Mmm, I tried building a second JavaCC parser but it seems overkilling. ANTLR is so much easier than JavaCC, but I agree it does not make sense to introduce a dependency.

I would try go for a manual parser

[2017-01-07 15:53] arturbosch opened #695 "getScope of MethodCallExpr should return Optional<Expression>"
Like FieldAccessExpr.getScope() returns an Optional, I think MethodCallExpr should also return one.

Is there a specific reason for this difference?

If not I can provide a PullRequest. Already tested in the source code and only four Visitors needed to be adjusted.

[2017-01-07 17:18] ftomassetti commented on #433
Ok, a manual parser seems feasible and simple enough. I started implementing it and then I will adjust after reading this definition:

Each line above is indented to align with the code below the comment.
The first line contains the begin-comment delimiter ( /**).
Starting with Javadoc 1.4, the leading asterisks are optional.
Write the first sentence as a short summary of the method, as Javadoc au

[2017-01-07 17:20] ftomassetti commented on #433
So we have a description, which can contain inline tags. It is followed by block tags.
Note that the param block tag is different from others because it has a name

[2017-01-07 20:19] matozoid commented on #433
Alright, remember to be gentle when parsing, since we have a validation framework planned that can report semantic problems nicely (tags without content, @param for non-existing parameter, @see that does not point to a class...)

I was going for a JavaCC parser because I figured it would be faster than anything I can write.

[2017-01-07 20:25] matozoid commented on #695
The reason is that we forgot. Please open a PR, tomorrow we'll release version 3.0.0 so this is just on time :)

[2017-01-07 20:26] matozoid opened #696 "Add NodeWithOptionalScope"
There are about four node types that would benefit from this.

[2017-01-07 21:00] matozoid commented on #433
Oh, one worry when you're writing a manual parser: remember the tables we have in the grammar for letters, whitespace, etc. Please don't be inconsistent with that, it will lead to annoying bug reports.

[2017-01-07 21:59] #695 closed, assigned to nobody

[2017-01-07 22:10] matozoid opened #698 "Explicitly set plugin versions in pom"
Set them all to the newest versions.

[2017-01-08 16:41] ftomassetti commented on #433
Which tables?

[2017-01-08 17:18] ftomassetti commented on #678
Related to this: also the range of the ArrayCreationLevel inside an ArrayCreationExpr seems wrong

[2017-01-08 18:40] ftomassetti opened #700 "Consider adding more remove methods"
* `ArrayCreationlevel.removeDimension`
* `CompilationUnit.removePackageDeclaration`

[2017-01-08 19:47] matozoid commented on #433
Check #LETTER for example. Not sure it's relevant though...

Here's someone else's attempt, btw: https://github.com/javaparser/javaparser/pull/475

[2017-01-08 19:57] matozoid commented on #700
How about we add remove methods for everything that's optional?

[2017-01-08 20:01] ftomassetti commented on #700
Yes, also because when there are overloaded setters passing null to remove the child is cumbersome (I have to cast the null)

[2017-01-09 12:13] matozoid opened #701 "Make naming consistent for visitors"
Currently we have a few visitors that end in `Adapter`. I've renamed `ModifierVisitorAdapter` to `ModifierVisitor` because I didn't feel it had anything to do with the adapter pattern, neither the official pattern nor the Java/AWT one where you make an empty implementation of an interface for ease of use.

I would have done the same for `GenericVisitorAdapter` and `VoidVisitorAdapter` for the same

[2017-01-10 09:41] martinlippert commented on #581
I am very interested in this whole "make javaparser recoverable from errors" story. Any news on this?

[2017-01-10 10:12] matozoid commented on #581
It's not currently being worked on, but the steps to take are more or less clear.
1. We need to play around with the information on this page: https://javacc.java.net/doc/errorrecovery.html to make sure the parser doesn't throw parse errors, but only inserts a "bad node" and adds a Problem.
2. We need to move the semantic checks (meaning: the check in Java code) in the grammar to a validation fram

[2017-01-10 22:58] nguyenthanhvuh opened #704 "Build issue with Maven"
Hi, I am trying to build javaparser (the latest version 3) from src on a Debian 8 system with Oracle jdk8 but keep getting some error about

`[ERROR] Failed to execute goal biz.aQute.bnd:bnd-maven-plugin:3.2.0:bnd-process (default) on project javaparser-core: Execution default of goal biz.aQute.bnd:bnd-maven-plugin:3.2.0:bnd-process failed: A required class was missing while executing biz.aQute.bn

[2017-01-10 23:11] nguyenthanhvuh commented on #704
Could it be because the Debian's slf4j library 1.7.7-1 is too old  ?

[2017-01-11 09:01] matozoid commented on #704
Try upgrading your maven.

[2017-01-11 13:29] ftomassetti opened #705 "Build a model of the concrete syntax"
While working on #654 I realized we need a model of the concrete syntax to be shared between the PrettyPrinter and the LexicalPreservingPrinter.

My original plan was to work more on Lexical Preservation and just at the end write the model, after having figured out all the features we need from it. Now I realize that to follow that plan I would need to write hundreds of tests more. I am thinking t

[2017-01-11 13:57] matozoid commented on #705
I'm just here to see what you're going to do modelwise :)

[2017-01-11 14:12] #433 closed, assigned to ftomassetti

[2017-01-11 15:09] nguyenthanhvuh commented on #704
Thanks.  Upgrading to latest version of Maven 3.3.9 works.   Note that the default maven version of Debian 8 works with JavaParser 2.5, but no longer works with JavaParser 3.0.

[2017-01-11 15:09] #704 closed, assigned to nobody

[2017-01-11 15:40] matozoid commented on #325
Javadoc parsing support will be in the next release, thanks to @ftomassetti .

[2017-01-11 19:31] matozoid commented on #678
Okay, I didn't respond to the last remark because it just seems so backwards to me to set the range of an array creation level to anything but the area marked by [ and ]... If you want to know which tokens belong to it: the first one is [ and the last one is ], right?

[2017-01-11 19:43] ftomassetti commented on #678
I agree, the ArrayCreationLevel should point to the area between '[' and ']' but it seems to not doing that at this moment. I added a few tests on that in #706

[2017-01-11 20:44] ftomassetti commented on #705
It would be very interesting to obtain an initial version of such model from the code of the PrettyPrinterVisitor...

[2017-01-11 21:48] matozoid commented on #678
Oh right, I thought you wanted it to cover the whole ArrayCreationExpr too :) Cool!

[2017-01-11 21:51] matozoid commented on #705
What would it contain? A `List<X>` where X can be one of `LiteralToken`, a `SubNode`, or a `List<SubNode>`?

[2017-01-12 09:27] martinlippert commented on #581
Thanks for the details. At the moment we don't have the cycles to work on this on our own. If that changes (and this isn't already done), I will let you know for sure.

[2017-01-12 09:39] ftomassetti commented on #581
_Here is the marketing department speaking_ I could not help but notice that your GitHub profile says "Pivotal". It would be could for us to brag about Pivotal being using JavaParser. We have to start creating our testimonials page. Do you think would be possible to bother some of you with a couple of questions on JavaParser? It would not take long, you should just say "it is great, it changed my

[2017-01-12 12:28] ftomassetti commented on #705
Yes, more or less. With special support for indentation and comments I guess

[2017-01-12 13:10] matozoid commented on #705
Nice. I'll work on better metamodel generation tonight, I want to push something to master asap.

[2017-01-13 22:53] matozoid commented on #535
@DeepSnowNeeL I guess this should have been closed?

[2017-01-13 23:21] DeepSnowNeeL commented on #535
Oh yeah that was done ages ago :P

[2017-01-14 13:39] #535 closed, assigned to nobody

[2017-01-14 13:39] matozoid commented on #535
Then it is probably in 3.0.0 :)

[2017-01-15 16:57] martinlippert commented on #581
Hey _marketing department_, I understand and support your request, but it is way too early for us to provide a quote. We need a gather a lot more experience using this before we can be part of a testimonials page and haven't even decided yet which exact way to go. I would prefer to use this project for parsing code, but since we are working on code editing capabilities, the error recovery is a ver

[2017-01-15 18:12] arturbosch commented on #701
When it comes to naming interfaces and their "default" implementations, I dislike an "I" prefix for interfaces (eg. IGenericVisitor and GenericVisitor for the implementation). Also the suffic "Impl" is hurting my eyes when I see it (GenericVisitor and GenericVisitorImpl).

My prefered way would be to call the interface GenericVisitor and the base implementation DefaultGenericVisitor, BaseGenericVi

[2017-01-15 19:50] #502 closed, assigned to nobody

[2017-01-15 19:59] #696 closed, assigned to nobody

[2017-01-16 16:28] #644 closed, assigned to nobody

[2017-01-16 16:29] matozoid commented on #354
Now that we have 3.0.0, I'm not worried about the things here anymore.

[2017-01-16 16:29] #354 closed, assigned to nobody

[2017-01-16 17:35] arturbosch opened #710 "Make an Ast Diff tool for javaparser?"
Do you know about a project or prototype which support diffs? My usecase is to track the evolution of some code fragments. Before I start a prototype in that direction I just wanted to be sure.

[2017-01-16 18:03] ftomassetti commented on #710
I am not aware of such a tool but this is **definitely** something I would interest into.

[2017-01-16 19:55] matozoid commented on #710
@ftomassetti - is your observer functionality not useful for this?

[2017-01-16 20:06] ftomassetti commented on #710
no, I would say no. I think this tool would be about getting two commits or two checkouts and compare the two versions of each file. You would get two ASTs and you would need to find the correspondances. So, you could use the name in many cases (classes, methods, etc) but sometimes you should use the content (for example to realize a method was renamed but it kept the same body). Finally you could

[2017-01-16 21:10] arturbosch commented on #710
yes, @ftomassetti nailed it. Another use case would be to detect clone fragments with slight changes. For example you have two methods but only the method and variable names are different.

[2017-01-17 10:15] matozoid commented on #710
Whew, that's quite an interesting thing to build.

[2017-01-17 10:19] ptitjes commented on #710
I think what you are looking for is a **semantic diff** tool.
Websearch https://duckduckgo.com/?q=java+semantic+diff

[2017-01-17 10:24] ftomassetti commented on #710
well, yes, ideally yes, but initially we could start with a simple syntactic comparison based on the AST, and then make it smarter and move to a more semantic diff

[2017-01-17 15:38] ftomassetti commented on #581
thanks @martinlippert and for anything feel free to reach us

[2017-01-18 03:17] danwyryunq opened #711 "Specific visitors for Expression and Statement classes"
This is more of a feature request than an issue.
Separate and specific visitors for Expressions, and Statements might be usefull, to create cleaner code for those Visitors that only need to work on these particular sets of classes.
Could be accomplished by just adding the necessary abstract  accept() methods to the Expression and Statement classes, (and it's implementations in the subclasses) with

[2017-01-18 08:15] ftomassetti commented on #711
I wonder if in this case you could just use the Visitor Adapter and override all the methods related to the type of elements you are interested into (statements, expressions, other). Would that be enough or would this solution have advantages over using the adapters?

[2017-01-18 14:46] ftomassetti commented on #705
This is the status of my current attempt to extract automatically the model of the syntax from the printer visitor (~2hrs of work on this):

[code]

[2017-01-18 18:20] danwyryunq commented on #711
I'm not sure I completely understand what the purpose of the Visitor Adapters are, but I guess that would be a decent solution to get shorter and cleaner Visitors as I mentioned.
On the other hand, the advantages I see in the specific visitors are just purpose clarity, and the nicity of the IDE integration suggesting missing method implementations when implementing the classes that extend them.
An

[2017-01-18 19:44] matozoid commented on #711
What we could make is a few visitors that implement everything empty (like the adapters) except for statement types for example. That would force extending visitors to implement all the statement visit methods. It's such a specific use case that I would like to keep this out of the core though.

[2017-01-18 21:58] matozoid commented on #705
Okay, I have a (non-compiling) prototype where I put the syntax of PackageDeclaration into the metamodel in initializeSyntax():
https://github.com/matozoid/javaparser/blob/issue_353_generate_visitors/javaparser-core/src/main/java/com/github/javaparser/metamodel/JavaParserMetaModel.java

Things you can do:
- get one specific class meta model
- get a specific field meta model for a class
- get, from

[2017-01-19 13:54] matozoid opened #713 "Fix AppVeyor trouble"
It hasn't been working for ages. What I remember from a discussion with @DeepSnowNeeL was that all the test files that are loaded use unix EOL's, and JavaParser uses the platform specific EOL. So the tests should make sure that, I guess, the files are loaded and then converted to platform specific.

Disadvantage: any tests that test what the EOL character should be will never fail anymore.

[2017-01-19 15:30] ftomassetti opened #714 "WildCardType should have the property SUPER_TYPES, not super"
This is wrong:
[code]

we should also add SUPER_TYPES in ObservableProperty

[2017-01-19 16:56] jeandersonbc commented on #698
Is this still open? I noticed that the root pom.xml file already has a `properties` node with the plugin versions from modules:

[code]

As far as I understood, these flags are shared across the `core` and `testing` modules although there is a duplicated property (`java.version` is redefined in core's pom.xml file).

[2017-01-19 18:11] matozoid commented on #698
Okay, I don't see any plugin warnings coming by when compiling or releasing anymore, so I guess this is done.

java.version is probably duplicated because we used to compile core with a different Java version than the rest. Better leave that until we decide to remove that completely.

[2017-01-19 18:11] #698 closed, assigned to nobody

[2017-01-19 19:40] ftomassetti opened #715 "Introduce the ObservableProperty MaximumCommonType as a derived property"
I would add a flag `derived` to the ObservableProperty. It would `false` for all the existing properties.
I would then add a property named `MAXIMUM_COMMON_TYPE` with this flag set to true.

Would that makes sense @matozoid ?

[2017-01-19 19:48] ftomassetti opened #716 "Observable.THROWN_TYPES should have been renamed to THROWN_EXCEPTIONS"
To match the getters used in corresponding classes

[2017-01-19 19:54] ftomassetti commented on #715
Potentially also `isUsingDiamondOperator` could be defined as a derived attribute

[2017-01-19 19:56] ftomassetti commented on #715
Also `isGeneric`

[2017-01-19 20:04] ftomassetti commented on #705
In principle yes but there is more stuff that is syntax specific I think.

I tried to extract automatically the Concrete Syntax Model from the PrintVisitor and so far I can "translate" to model concepts ~75% of the constructs. I think it makes sense to translate the remaining ones manually.

Some output:

[code]

[2017-01-20 13:09] matozoid commented on #716
You're assigned, so you're making the PR?

[2017-01-20 13:10] matozoid commented on #715
If this is of use to you, then go ahead. You're mr. Observable.

[2017-01-20 13:25] ftomassetti commented on #716
Yes, unless someone disagrees with this change

[2017-01-20 13:26] ftomassetti commented on #715
Eh eh, nice. I wanted just to let you know, because it is related to what we discussed about the metamodel (having the concept of "derived property")

[2017-01-20 13:58] matozoid commented on #715
Yep, it's on my nice-to-have list :)

[2017-01-20 16:50] danwyryunq commented on #711
I like matozoid's much better.
I'm closing the issue, as there's no need to further discussion I think.
Thanks for the ideas.

[2017-01-20 16:50] #711 closed, assigned to nobody

[2017-01-21 12:42] matozoid commented on #701
That Kotlin things is interesting - we could throw away our interfaces and put the adapters there instead. The only negative I can see is that you will not be warned when you miss overriding a visit method.

[2017-01-21 15:09] arturbosch commented on #701
Do you know any cases where someone wanted to implement the interface all by himself?

[2017-01-21 15:37] ftomassetti commented on #701
Interfaces are useful for example when you have to extend an another class _AND_ implements Visitor. Given you cannot have multiple inheritance you need an interface for that

[2017-01-21 15:41] matozoid commented on #701
@ftomassetti I considered that - I don't think sticking the visitor interface on anything is a good design, or maybe you know some cases?

@arturbosch we from JavaParser do :) It's pretty handy to be certain that all visitors implement everything. Then again, the plan is to implement them with code generation ASAP.

[2017-01-21 20:52] matozoid commented on #714
Why is this labeled metamodel, by the way?

[2017-01-21 20:53] matozoid opened #718 "Create a meta model"
Noticed that there wasn't a separate issue for this :)

[2017-01-21 23:17] matozoid opened #719 "NodeWithJavadoc.getJavadoc and getJavadocComment return null"
This should be Optional.empty()

[2017-01-21 23:18] matozoid opened #720 "Method hasJavaDocComment should not be on Node"
Most nodes cannot have Javadoc. This should be on NodeWithJavadoc.

[2017-01-22 08:03] ftomassetti opened #1986 "Consider returning a value instead of throwing UnsolvedSymbolException"
This is because people seem not to be happy with seeing this exception. Sometimes a symbol cannot be solved because some dependencies are not configured. In that case the user would probably prefer some value representing an error, but not an exception. We could have to "bubble up" those errors, specifying that a certain method cannot be solved because the class cannot be solved and so on.

[2017-01-22 08:07] ftomassetti commented on #720
I am not sure this is true: most nodes _should not_ have a Javadoc, but nothing prevents me to add it. For example what if the user write this:

[code]

Here the variable has an associated comment, which happens to be a Javadoc comment

[2017-01-22 08:09] ftomassetti commented on #714
Because it is about defining the structure of the data: things like ObservableProperty could be the representation of the metamodel at runtime. We could have a metamodel defined outside the core: we would use it to generate classes, including things like ObservableProperty, which permits to access some of the information of the metamodel when using JavaParser.

[2017-01-22 16:20] matozoid commented on #720
Everything has been set up so only the nodes that can have Javadoc according to specs get those methods. Only this method is lost in Node. So either we change the whole approach - and I don't see why we should make it easy to put Javadoc on nodes where it is meaningless - or we move this method.

[2017-01-22 16:21] matozoid commented on #714
Oh, true! Thanks :)

[2017-01-22 18:00] mohsen-khaxar opened #721 "How to use addStatement"
Hi,
I want to use the method BlockStmt.addStatement but I receive this error message : "The method addStatement(Statement) is ambiguous for the type BlockStmt".
I use javaparser 3.0.0.
How can I solve it?

Many Thanks,

[2017-01-22 18:34] matozoid commented on #721
Okay, what type are you passing to it? Do you have a few lines of code that demonstrate this?

[2017-01-22 20:37] ftomassetti commented on #705
Currently I have a CSM for half of the node types and I can obtain the same result as the PrettyPrintVisitor for a large Java file.

[2017-01-22 20:42] matozoid commented on #705
How do you mean "the same result"? And how do you do that with only half a model?

[2017-01-22 20:47] ftomassetti commented on #705
I generate exactly the same code (I parsed the `PrettyPrintVisitor.java` file: printed it with the Visitor and then using the CSM). I have added support only for the 46 kinds of nodes present in the example file that I have considered out of the 84 total types of nodes. For example there are no `switch` or `do-while` in the example file I have considered.

[2017-01-22 22:25] matozoid commented on #705
Oh alright, PrettyPrinterVisitor is of course not a very challenging file. You mean you printed it in its original formatting?

[2017-01-23 07:29] ftomassetti commented on #705
No, I am starting converting the PrettyPrinter into the ConcreteSyntaxModel and then use the CSM to print it exactly as the PrettyPrinter does. In this way I can validate the CSM is correct. Once this is done I can interpret the CSM differently and do Lexical Preservation (reusing most of the logic I have in the Lexical Preservation patch). So the CSM will be one definition used in two ways: for p

[2017-01-23 07:31] ftomassetti commented on #720
My goal would not be users add Javadoc where it is not supposed to go, but I think we should parse existing code also if it is stupid. Considering someone is so idiotic to write the example I added before, how would that be parsed?

[2017-01-23 09:32] mohsen-khaxar commented on #721
![untitled](https://cloud.githubusercontent.com/assets/5359609/22198475/e87a4964-e16b-11e6-99dd-44045642a71a.png)

I wanted to check JavaParser and for this, I passed null to the method.

[2017-01-24 15:39] arturbosch commented on #721
Well if you pass null to the addStatement methods, of course three methods could be right:
`default N addStatement(Statement statement)`, `default N addStatement(Expression expr)` and ` default N addStatement(String statement)`. Every object can be null in Java, so the compiler is confused and asks for help :)

Try passing something like `addStatement(new NameExpr());`

[2017-01-24 15:45] arturbosch commented on #720
But would it change anything in the parsing mechanism?

 If I look at the method `public boolean hasJavaDocComment() {
        return hasComment() && getComment() instanceof JavadocComment;
    }`
as an user I can still write javadoc over local variables for instance and get them with the `getComment()` method. I just have to do the `comment instanceOf JavadocComment` manually or do I miss the poi

[2017-01-24 15:53] arturbosch commented on #719
What about `Node.getComment()`? There will be many breaking changes, for which release are you planning this?

[2017-01-25 12:26] JaviRpo opened #722 "Version 3 requires Java 8 to compile because it uses the java.util.Optional class. Is it possible to change that to be used with Java 7?"
Version 3 requires Java 8 to compile because it uses the java.util.Optional class. Is it possible to change that to be used with Java 7?

[2017-01-25 13:21] sound2gd opened #2056 "Need a Maven resolver"
I think we need a resolver that reads pom.xml files and
automatedly set the src paths and locations for users.

[2017-01-25 13:26] ftomassetti commented on #2056
Yes, that would be a good idea

[2017-01-25 18:08] ftomassetti commented on #720
If we are just making less easy to play with Javadoc comments where they are not supposed to be, but we permit to people to handle this corner case that I am perfectly fine with it

[2017-01-25 18:11] ftomassetti commented on #722
Unfortunately I think this would not be possible. Removing all usages of Java 8 would be a major change and Java 7 has been in end of life for almost 2 years now

[2017-01-25 19:32] matozoid commented on #705
It is all kinds of awesome +1

[2017-01-25 19:34] matozoid commented on #721
@mohsen-khaxar - if this is answer enough, please close the issue.

[2017-01-25 19:36] matozoid commented on #719
3.1.0 I guess. Nothing big enough to warrant a 4 release, and these are not breaking features, they are breaking bugs. They need fixing.

[2017-01-25 19:38] matozoid commented on #720
@ftomassetti this is the case. Thanks for the discussion!

[2017-01-25 19:38] ftomassetti commented on #720
Thank you, and sorry for the misunderstanding!

[2017-01-25 19:40] matozoid commented on #722
It's a conscious decision to go with Java 8 for version 3. We'll probably move to Java 9 in a year or two.

*thinks* it should be a neat side project to write a program using JavaParser that transforms the JavaParser code, removing Optionals... But that would have to be contributed by a user.

[2017-01-25 19:41] matozoid commented on #722
Is this question answered?

[2017-01-25 19:52] mohsen-khaxar commented on #721
Thank you for your help.
You are right.

[2017-01-25 19:52] #721 closed, assigned to nobody

[2017-01-25 20:48] arturbosch commented on #719
Node.getComment returning null is OK? I would like to work on that issue

[2017-01-25 20:52] matozoid commented on #719
That's fixed in my PR, but as that one is huge, it would make sense if someone made a small focused PR of it.

[2017-01-25 21:03] matozoid opened #723 "Create a Java compiler or interpreter"
Not a very serious idea, but it would be fun to try and build a compiler with JavaParser and JavaSymbolSolver.

[2017-01-26 22:17] matozoid commented on #719
Okay, now this one is fixed too - better leave it to me :)

[2017-01-26 22:17] matozoid commented on #719
#658

[2017-01-27 02:12] tamtam22 opened #724 "com.github.javaparser.ast.imports classes missing from ver 3.0.0 onwards"
Hi,

There are missing classes from version **3.0.0** onwards in **com.github.javaparser.ast.imports**

In 3.0.0 RC3,
http://static.javadoc.io/com.github.javaparser/javaparser-core/3.0.0-RC.3/com/github/javaparser/ast/imports/package-use.html

SingleStaticImportDeclaration
SingleTypeImportDeclaration
StaticImportOnDemandDeclaration
TypeImportOnDemandDeclaration
BadImportDeclaration

The methods ab

[2017-01-27 10:18] matozoid commented on #724
Correct, they were removed after their introduction in one of the betas led to 100% negative response from several users. They cannot be reintroduced without thoroughly breaking the API.

If you tell us what functionality you are missing in ImportDeclaration, we can consider ways to introduce it.

[2017-01-28 12:10] #719 closed, assigned to nobody

[2017-01-28 12:13] matozoid opened #725 "Create an Intellij Idea plugin to show the AST"
Something like https://plugins.jetbrains.com/idea/plugin/9345-jdt-astview but with JavaParser. Maybe add some nice features to it.

[2017-01-28 12:39] matozoid opened #726 "Add derived properties to the metamodel"
Add an isDerived flag too.

[2017-01-28 12:43] matozoid commented on #353
I'll close this since most of the base visitors are generated now, and add issues for specific visitors.

[2017-01-28 12:43] #353 closed, assigned to matozoid, DeepSnowNeeL

[2017-01-28 12:47] matozoid opened #727 "Generate ModifierVisitor"
This one is tricky because it has some additional logic that says "if visiting this property returns null, then the current node becomes damaged, so better return null myself too." I think that can be generated by saying "if a property is required, but visiting it returns null, then I should return null too"

[2017-01-28 12:49] matozoid opened #728 "Generate extra deep equals & hashcode visitors"
These check ranges too. Not too important I think.

[2017-01-28 12:49] matozoid opened #729 "Generate equals & hashcode visitors that ignore comments"

[2017-01-28 12:53] matozoid opened #730 "Generate equals & hashcode visitors that ignore names"
This should make them compare structure only. Note that it is not very clear what this should do exactly: class names should not be ignored, but variable names should, but what if we compare `a+b` with `c+c`? That would be equal then...

[2017-01-28 12:54] matozoid opened #731 "Generate PrettyPrintVisitor"
@ftomassetti - this one is for you :)

[2017-01-28 12:56] matozoid commented on #365
#728 and #729 have taken over from #280

[2017-01-28 12:59] matozoid commented on #720
Confused this one with all the other comment issues. Not done yet!

[2017-01-28 13:11] matozoid commented on #220
This works now, so I assume this is fixed.
[code]

[2017-01-28 18:06] ftomassetti commented on #666
That is a very good news, also because we are missing some node lists here and there, as I noticed working on the Concrete Syntax Model

[2017-01-30 07:02] ftomassetti commented on #731
Right after #705

However I am not sure we will need to generate the PrettyPrintVisitor because we could instead interpret the concrete syntax model. The advantage of the PrettyPrintVisitor is that you can override a couple of methods if you want.

[2017-01-30 09:05] matozoid commented on #731
For me, the advantage of generating the visitors is that there is no human in there accidentally introducing bugs. Now, the PPV is pretty well-tested because everyone uses it, so maybe that's not necessary.

How do we use the CSM instead of generating the PPV? What does that mean?

[2017-01-30 09:11] tiaped commented on #524
Hi, sorry if I missed something.
As the issue is still open, I might have forgot to do something?

Pierre

[2017-01-30 09:12] ftomassetti commented on #731
On this machine it would take a bit to find the code but basically we have the CSM that for each node say something like:

`CSM(ImportDeclaration) = sequence(keyword("package"), space(), property("name"), semicolon())`

Then there a class that could be called CsmPrettyPrinter with a method `prettyPrint(Node)` which take the node, look at the type and find the corresponding CSM and then interpret i

[2017-01-30 09:45] matozoid commented on #524
I think I forgot to close it - can you check if it is mentioned in the changelog? https://github.com/javaparser/javaparser/pull/732

[2017-01-30 09:45] #524 closed, assigned to nobody

[2017-01-30 09:49] matozoid commented on #731
Am I right that we're talking about two different things? I'm on a quest to generate as much code as possible. You are on a quest for lexical preservation. For me it makes sense to generate the PPV, you are only using the PPV as a test case. Something like that?

[2017-01-30 09:54] tiaped commented on #524
I believe it is :
 matozoid referenced this pull request 8 minutes ago
Closed
Make shortcuts for list.get(i) #524

[2017-01-30 09:59] matozoid commented on #524
I mean https://github.com/matozoid/javaparser/blob/62f16963a46c3eaa3557589019e189395e191ae9/changelog.md

I see it is in RC.4, I'll label it.

[2017-01-30 10:09] matozoid commented on #694
Generating the setters that check this is a good target for code generation.

[2017-01-30 10:13] matozoid commented on #678
@ftomassetti didn't this go in 3.0.1?

[2017-01-30 10:15] matozoid commented on #586
@ftomassetti do you want to keep this issue open forever? I'd prefer splitting into concrete steps.

[2017-01-30 11:06] ftomassetti commented on #586
Yes, we can close this one now and open specific issues in the website project

[2017-01-30 11:06] #586 closed, assigned to nobody

[2017-01-30 15:37] matozoid opened #736 "Make metamodel static"
The use case for instantiating the metamodel was to be able to annotate it. Looks like there are much more uses for making it static.

[2017-01-30 18:56] matozoid commented on #538
I'm not sure it's what @ducmle wants, but there will be something like @DeepSnowNeeL 's code in 3.1.0

[2017-01-30 20:33] arturbosch opened #738 "MethodDeclaration and ConstructorDeclaration share many fields -> new SuperType?"
This two behave quite similar in java and also share a lot of fields in javaparser. I often want treat both the same in my smell detection code but then need to work with a BodyDeclaration and make casts. NodeWithDeclaration etc do not help that much here. That's quite a pain.

How about we introduce a super type for both of these. This is what both share:
[code]

Spoon (other java AST tool) has a

[2017-01-31 09:27] matozoid commented on #738
+1. Let's make sure we have a good name for it though, what do you suggest?

[2017-01-31 10:10] yanOnGithub opened #739 "How could I addStatement(0, "string") ?"
In the manual, under "Creating a CompilationUnit from scratch", the sample code shows that I could add a statement by constructing the parse tree node by node. I find that inefficient. The addStatement(String) method does not take an index either. I am working around it by creating a NameExpr.

[code]

[2017-01-31 11:28] matozoid commented on #739
What I do in the generators is constructing a bit of code as a string, like your "logger.debug(1);" then using the parseStatement method on JavaParser.

[here for example](https://github.com/javaparser/javaparser/blob/master/javaparser-core-generators/src/main/java/com/github/javaparser/generator/core/visitor/HashCodeVisitorGenerator.java)

(in other methods I use addStatement(String), but that us

[2017-01-31 11:33] yanOnGithub commented on #739
yes it worked thx
[code]

[2017-01-31 11:33] #739 closed, assigned to nobody

[2017-01-31 11:44] yanOnGithub opened #740 "How could I insert a statement before all return stmts in methods?"
[code]

What the return statement is a thenStatement w/o braces?

[code]

Should I write a method that goes thru the whole parse recursively?
[code]

[2017-01-31 11:53] matozoid commented on #740
Do you want
`if(1==1) { println(); return 1; }`
or
`println(); if(1==1) return 1;`
?

[2017-01-31 11:57] yanOnGithub commented on #740
[code]

Another thing I am gonna do is to force all if-then-else to have braces, and then log which branch is taken. So I will have to add the braces to if-then w/o braces anyway.

[2017-01-31 12:06] matozoid commented on #739
Tip: add `import static com.github.javaparser.JavaParser.*;` and you can leave the `JavaParser.` part off :)

[2017-01-31 12:16] matozoid commented on #740
If I run this code:
[code]

I get
[code]
and
[code]
... so it looks like you'll have to wrap that `ExpressionStmt` in a `BlockStmt` if you visit an `IfStmt` with a `then` or `else` that is an `ExpressionStmt`.

Of course, you can ask the same question for something like `while(true) return 5;` or anything that takes a block statement.

[2017-01-31 12:32] yanOnGithub opened #741 "How could I add braces to all thenStmt and elseStmt w/o braces?"
[code]

[code]

[code]

It worked in 1, 6, 7 and 8. It failed in 2, 3, 4 and 5. Does the driver call the visitor apply depth-first parse tree traversal? What happens if I modify the parse tree in the visitor?

[2017-01-31 12:43] yanOnGithub commented on #741
simple depth-first recursion worked.

[code]

[2017-01-31 13:03] matozoid commented on #741
Okay, for this case we have TreeVisitor. But with the traversal algorithm and the instanceof check, you have reinvented the visitor pattern that we already supply :-)

If you're happy you can close the issue.

[2017-01-31 13:08] yanOnGithub commented on #741
TreeVisitor worked thx

[2017-01-31 13:08] #741 closed, assigned to nobody

[2017-01-31 13:20] yanOnGithub commented on #740
Simple depth-first recursion worked but I haven't got TreeVisitor working.

[code]
[code]

[2017-01-31 13:27] yanOnGithub commented on #740
ModifierVisitor seems to hang in an infinite loop if I am inserting **before** the return stmt.

[code]

[2017-01-31 14:10] yanOnGithub opened #742 "Newline automatically inserted in "if (/*true ||*/ 1==1)" followed by JavaParser.parseStatement lexical error"
It worked when I remove all the \r and \n.

[code]

[code]

[2017-01-31 14:15] matozoid commented on #740
Too bad about TreeVisitor, I guess it gets a conflict when we're changing the tree it is visiting. Needs improvement.

[2017-01-31 14:15] matozoid opened #743 "TreeVisitor should not get ConcurrentModificationException"
See #740

[2017-01-31 14:16] matozoid commented on #740
Your ModifierVisitor code is cut short, I can't see what you're doing there.

[2017-01-31 14:17] yanOnGithub commented on #740
[code]

[2017-01-31 14:19] matozoid commented on #742
This is confusing, can you show the exact string you pass to parseStatement that gives an error?

[2017-01-31 14:20] yanOnGithub commented on #740
In addition to visitBreadthFirst and visitDepthFirst, do you think right-to-left sibling iteration, i.e. for n-1 downto 0, will avoid the infinite loop? How about pre-order and post-order?

[2017-01-31 14:23] yanOnGithub commented on #742
[code]

[2017-01-31 14:25] yanOnGithub commented on #742
I think pretty printing /* multi line comment */ followed by newline can be a good behavior to keep. Removing \r and \n can be a reasonable workaround.

[2017-01-31 14:30] matozoid commented on #740
I debugged your modifiervisitor code (you can do so too ;) ) Every time you say "addStatement" you are inserting a new value in the NodeList that the visitor is currently visiting. It will never get to the end if you keep adding things :) I'm not sure what the best fix would be. The idea is to say "have I already inserted logging here? Then don't do it again."

[2017-01-31 14:35] matozoid commented on #740
Yes, iterating backwards would help, but it is quite a hack.

Feel free to open issues for adding other ways of traversal.

[2017-01-31 14:36] yanOnGithub commented on #740
Did you use iterator or index? Insertion should change the indices after the insertion point but not the iterators.

[2017-01-31 14:39] matozoid commented on #742
The problem is with calling "toString()" - this is the prettyprinter which you do not want to use most of the time. You could look at PrettyPrinter and configuring it to take a PrettyPrintVisitor which uses a SourcePrinter which does not print end of lines.

Or you do what you are doing ;)

[2017-01-31 14:52] matozoid commented on #740
I'm thinking you could reverse the approach: instead of finding `ReturnStmt` and going up, you could find `Statement` and use `getNodesByType(ReturnStmt.class)` - that should prevent messing up the visitor state. I'll go think if I can find a decent way to fix visiting NodeList.

[2017-01-31 15:17] yanOnGithub opened #744 "How could I add a private static field to a class w/ an initializer?"
[code]

[2017-01-31 15:21] matozoid commented on #740
Up for the next release: #745

You can override the visit(NodeList n, A arg) in your modifiervisitor if you want it right now.

[2017-01-31 15:27] matozoid commented on #744
How about...

[code]

[2017-01-31 15:39] yanOnGithub commented on #744
How can I put it at the top instead of the bottom?

[2017-01-31 16:21] matozoid commented on #744
`new ClassOrInterfaceDeclaration().getMembers().add(0, decl);` ?

[2017-01-31 22:20] yanOnGithub commented on #744
It worked, thx.

[2017-01-31 22:20] #744 closed, assigned to nobody

[2017-01-31 22:25] yanOnGithub opened #747 "From the source code, how could I find the corresponding node in the parse tree?"
Just the grammar, please. In #744 , I was banging my head at FieldDeclaration instead of BodyDeclaration and members. I would like to learn the names of the nodes in the parse tree.

http://stackoverflow.com/questions/38811186/javaparser-where-is-the-java-grammar-definition/38812859

[2017-02-01 00:56] #742 closed, assigned to nobody

[2017-02-01 00:58] yanOnGithub commented on #740
Let's close this for now. Who knows which behavior is the best in future? Anyway there is always the good old DIY recursion.

[2017-02-01 00:58] #740 closed, assigned to nobody

[2017-02-01 08:18] arturbosch commented on #738
How about CallableDeclaration?

[2017-02-01 10:48] matozoid commented on #747
I'm afraid that the answer there is correct: the jj file is the grammar, and you'll have to learn to read it. It is not that hard when you finally get it :)

For example:
[code]

is

[code]

[2017-02-01 10:54] matozoid commented on #738
Okay, if that goes in before the weekend I can still regenerate the metamodel for it.

[2017-02-01 11:06] daksunt opened #748 "problem in addstatement"
I want to be able to add many statements into a new block statement, however I cannot add the statements that have the same value. For example, add x.y() to a block twice.
 `

     public static void main(String[] args) {

        BlockStmt blockStmt = new BlockStmt();
        Expression exp = new NameExpr("x");
        MethodCallExpr expression = new MethodCallExpr(exp, "y");

        blockStmt.a

[2017-02-01 11:46] yanOnGithub commented on #747
https://java.net/downloads/javacc/contrib/grammars/java-1.7.jj

The jdk1.7 one contains less embedded code.

[2017-02-01 12:22] matozoid commented on #748
This is indeed a bug in addStatement, something is wrong with setting parents. We'll fix it in the next release. Here is a workaround:

[code]

[2017-02-01 12:24] matozoid commented on #747
Yes, that is because we extended it a lot for JavaParser. If you want our Java 8 grammar without code, you will have to filter the jj file. Maybe simply removing everything between { and } will make it more readable.

[2017-02-01 12:35] yanOnGithub commented on #747
iirc there is a javacc grammar for javacc, that could be used to remove the embedded code in the jdk1.8 grammar.

[2017-02-01 13:41] matozoid commented on #747
Cool, good luck!

[2017-02-01 14:59] matozoid opened #751 "Add pre-in-post-order visiting to TreeVisitor"
As described here: https://en.wikipedia.org/wiki/Tree_traversal#Generic_tree
Currently we only seem to have in-order.

As suggested in #740

[2017-02-01 15:29] matozoid opened #752 "Make generators run during build"
... by creating a maven plugin.

[2017-02-01 15:30] matozoid commented on #751
The most interesting thing is figuring out what the nicest API is, and how to keep things backwards compatible.

[2017-02-01 18:35] #716 closed, assigned to ftomassetti

[2017-02-02 00:50] #747 closed, assigned to nobody

[2017-02-02 09:27] matozoid commented on #747
Yesterday I was thinking that the question behind this question seems to be: do you have documentation? If you say you want to learn the names of the nodes, do you want a document that describes the structure of each of them? Can the TreeStructureVisitor on master help? Does the Javadoc on the nodes help? Maybe @ftomassetti can generate pseudo-BNF from his concrete syntax model? Would you like to

[2017-02-02 09:47] yanOnGithub commented on #747
The TreeStructureVisitor that you have shown in #740 shows only identifiers. It would be nice to add the parens and braces. It should be enough for small parse trees.

I am looking for something that I can associate parts of the source code with the node names within the parse tree.

Imagine a parse tree visualization that looks like explorer folders, that I can click on "private static Logger log

[2017-02-02 09:52] DeepSnowNeeL commented on #747
I had a hard time too when I started using javaparser learning all the
nodes names.

Something like the antlr TestRig is definitely something which would be
nice to have !

I imagine a static utility method "Util.show(Node)" which would popup a
swing tree defining the structure and for each node, when I click it, there
is the associated ouput on a textfield on the right.

Le jeu. 2 févr. 2017 à 10

[2017-02-02 10:04] matozoid commented on #747
I use the Java debugger for that :D But that's not very professional, so let's see...

You want to input some code like `int a;`, you probably want to pick a rule like `VariableDeclarationExpr`, you want to see the hierarchy of AST nodes generated, their properties, and you want to have the syntax bits like `(` `)` `,` `[` intersected?

The syntax bits will require the CSM that @ftomassetti is mak

[2017-02-02 10:58] yanOnGithub commented on #747
http://stackoverflow.com/questions/23446263/parse-tree-representation-using-javacc

Xml parse tree output should help, too. Folding is readily available.

[2017-02-02 11:52] yanOnGithub commented on #751
btw i have yet to figure out a use case for this.

[2017-02-02 12:12] yanOnGithub commented on #747
![image](https://cloud.githubusercontent.com/assets/25423046/22548430/45ea4ba4-e981-11e6-96be-2668b5702c60.png)

Notepad++ can fold indented text already. Try pasting the output of TreeStructureVisitor and view the source code as python. We may not need another tree explorer swing GUI to get folding. You have already shown the non-terminals and identifiers. Add parens/braces/binary operators may o

[2017-02-02 12:48] yanOnGithub commented on #747
DIY recursion + Node.toString().matches(regex) would work, too.

[2017-02-02 13:48] ducmle commented on #538
Hi,

It's nice to be back to this issue and thanks for the updates.

I'm not sure what the current status of this issue is but it seems that you will be adding this feature to the next release?

I've taken the TreeStructVisitor that you wrote and changed it a bit to print also the node values for nodes that are not what I would call "composite" (composite nodes are nodes such as BlockStmt, IfStmt,

[2017-02-02 13:58] matozoid commented on #751
That's okay, it just seems to be a sensible thing to have :)

[2017-02-02 14:03] matozoid commented on #747
The TreeStructureVisitor:
- is easy to change by overriding the methods that do the output.
- is a first attempt at writing something like this, so this is good input.

I was considering output in [DOT](https://en.wikipedia.org/wiki/DOT_(graph_description_language)) format for example. Maybe XML or yaml or JSON. All of these could probably be implemented simply by overriding those methods. It woul

[2017-02-02 14:05] matozoid opened #753 "Add other output formats for TreeStructureVisitor"
Try...
- [DOT](https://en.wikipedia.org/wiki/DOT_(graph_description_language))
- XML
- HTML
- yaml
- JSON

[2017-02-02 14:09] matozoid opened #754 "Investigate code from @ducmle for TreeStructureVisitor"
Last post in #538 with the zip file.

[2017-02-02 14:16] yanOnGithub commented on #747
graphviz DOT format does not support folding.

[2017-02-02 14:23] matozoid commented on #754
Hey @ducmle - I'll take a look at this.

[2017-02-02 14:50] matozoid commented on #747
But it does generate awesome diagrams!

[2017-02-02 19:43] matozoid commented on #754
Well, I tried to define "compound" as "a node that has at least one field that is a node," and that didn't work, because every node can have a comment, which is a node, so every node is compound.

[2017-02-02 20:32] matozoid commented on #753
[code]

[2017-02-02 20:35] matozoid commented on #753
[code]

[2017-02-02 23:59] ducmle commented on #754
Hi @matozoid, Thanks for your interest.

How about excluding the comment because technically comment should be removed in the syntactic grammar (according to JLS 1.8)?

In the code, I also use toStringWithoutComments to print the node content.

[2017-02-03 11:30] matozoid commented on #754
Hmmmm, I think the whole TreeStructureVisitor needs a good rethinking... Keep an eye on #753 too, by the way.

Note that toStringWithoutComments in gone in 3.0.0, it has been replaced by toString(PrettyPrinterConfiguration) or PrettyPrinter.print(node), and setting the configuration to not print comments.

[2017-02-04 10:16] AljoschaMeyer opened #2057 "Label Resolver"
Feature suggestion (of admittedly very low priority): It would be nice if it was possible to navigate from a labeled `break` or `continue` to the label.

Stealing a short description from [stackoverflow](http://stackoverflow.com/a/14960484/4745878)

[2017-02-05 09:37] ghost opened #756 "Please omits empty parenthesis of no arg annotation when output AST source code texts"
@NotNull vs. @NotNull() :)

[2017-02-05 11:11] DeepSnowNeeL commented on #756
That's the difference between MarkerAnnotationExpr and the 2 other annotation
nodes. (You might be using SingleMemberAnnotationExpr)

But I'm ok with you, we should have only one type of annotation node

Le dim. 5 févr. 2017 à 10:37, Leiqiao <notifications@github.com> a écrit :

[2017-02-05 13:54] matozoid commented on #756
We can do two things:
- print `SingleMemberAnnotationExpr` with no content as `@NotNull` - but what would be the point of `MarkerAnnotationExpr` then?
- collapse all the annotation types into one. That will have to wait until 4.0.0 though, and we're not even thinking about starting work on 4.0.0 yet :)

[2017-02-05 15:08] #743 closed, assigned to nobody

[2017-02-05 15:43] #748 closed, assigned to nobody

[2017-02-05 15:44] #365 closed, assigned to nobody

[2017-02-05 15:44] #538 closed, assigned to nobody

[2017-02-05 15:44] #666 closed, assigned to matozoid

[2017-02-05 15:44] #736 closed, assigned to matozoid

[2017-02-05 15:44] #220 closed, assigned to nobody

[2017-02-05 15:44] #718 closed, assigned to nobody

[2017-02-05 18:26] ghost commented on #756
That's help, thank you.

[2017-02-05 21:51] #756 closed, assigned to nobody

[2017-02-05 21:51] matozoid commented on #756
I'll close this then, and open an issue for collapsing the annotation types.

[2017-02-05 21:52] matozoid opened #757 "Collapse all the annotation types into one"
We currently have three different annotation types that are really all variants of the same thing. These can be collapsed into their superclass. This is a major API change though, so should wait until 4.0.0.

See #756

[2017-02-05 22:06] matozoid opened #758 "Get rid of <?>"
Some node types are generic, only to indicate the return type of the setters. This is useless for the user who has to add `<?>` to all these types. `Type` avoids this with a trick: the setter for annotations returns `Type` and the inherting classes like `UnionType` override it casting the return type to the correct one.
[code]

This concerns `TypeDeclaration`, `BodyDeclaration`, and `ReferenceType

[2017-02-06 04:41] jeandersonbc commented on #758
I agree that there isn't much benefit of Generics in this circumstance. Not to mention that some classes using `ReferenceType` don't really need to know about the concrete type of `ReferenceType`. Adding `<?>` is just annoying for these cases.

The suggested approach is cleaner and also will reduce the raw type warnings from the compiler.

I would like to help with this one.
Could you assign it fo

[2017-02-06 08:57] matozoid commented on #758
Consider yourself assigned.

[2017-02-06 11:33] andycarlsonuk commented on #498
Just to add to this... the behaviour seems to depend on the content of the source. I'm also using JavaParser to parse and modify legacy code and have found it incredibly useful but noticed that some comments are being lost. This is an issue for me because the source often contains multiple comment lines explaining the business requirement.

In the test fragment below, the first two comment lines a

[2017-02-06 12:14] jeandersonbc opened #759 "Get rid of unused imports"
Although this is not harmful, it would be nice to do a cleanup in the code to remove unnecessary imports.
I spotted **43** imports that can be safely removed.

[2017-02-06 13:39] matozoid commented on #498
Correct, it's a weak spot in the comments implementation. Its purpose is to figure out which nodes comments belong to. Some don't have a sensible node that they belong to. All of this is heuristics, and maybe we shouldn't have used it for the pretty printer, because these heuristics are not reversable. They just happen to work for the common cases.

Say we have `void x() /*aaa*/ throws Y` - we can

[2017-02-06 14:07] sound2gd opened #2058 "need a solver dynamically updating AST according to java file change"
need a type-file-watcher-like TypeSolver whenever a java file is changed,the TypeSolver can get that change and
update the parsed AST.thus we can solve the correct Symbol over time

[2017-02-06 16:04] matozoid opened #761 "Integrate javaparser-metamodel in javaparser-core"
This would give us an opportunity to use the metamodel for...
- pseudo-reflection by adding getters to the nodes that return information from the metamodel.
- observers: these use an enum (`ObservableProperty`) for properties now, but could use PropertyMetaModel fields from `JavaParserMetaModel` instead

[2017-02-06 16:05] matozoid opened #762 "Reintegrate javaparser-generator-utils with javaparser-core"
These utilities are generally useful for anybody using JavaParser.

[2017-02-06 16:11] matozoid opened #763 "Add location to Problem"
`SourceRoot` keeps an overall list of `Problem`s for all files it has parsed, there is however no way to know which file a `Problem` belongs to. It would be simple to just add `path` to `Problem`, but not all `Problem`s come from code in a file. They can come from streams or strings. In `SourceRoot` this is no problem because all code definititely comees from a file, but for `javaparser-core` it i

[2017-02-06 21:16] matozoid commented on #714
This was done while generating all the observable code.

[2017-02-06 21:16] #714 closed, assigned to ftomassetti

[2017-02-06 21:16] matozoid commented on #692
This was done while generating the setters.

[2017-02-06 21:16] #692 closed, assigned to nobody

[2017-02-06 21:17] matozoid commented on #694
This was done while generating the setters.

[2017-02-06 21:17] #694 closed, assigned to matozoid

[2017-02-06 21:17] matozoid commented on #678
@ftomassetti ?

[2017-02-06 21:19] matozoid commented on #484
Won't be done this way.

[2017-02-06 21:19] #484 closed, assigned to nobody

[2017-02-06 21:20] matozoid commented on #308
No follow up, closing.

[2017-02-06 21:20] #308 closed, assigned to nobody

[2017-02-06 21:21] matozoid commented on #724
No follow up, closing.

[2017-02-06 21:21] #724 closed, assigned to nobody

[2017-02-07 06:20] shashanksingh28 opened #764 "Some Contained Comments missed in Node.toString()"
It seems that MethodDecleration.toString() method does not represent the raw text but some parsed text. This text misses some contained comments that it might not be able to associate with a certain child node. Example:

[code]
On visiting this MethodDeclaration, the node.toString() misses the second contained comment ("// now make two ..")

[2017-02-07 07:40] ftomassetti commented on #764
Yes, JavaParser for now build an in-memory model of the code and it pretty-print it back. In doing so associate the comments to elements and print them according to some heuristics, which are by their nature not perfect.

We are working on lexical preservation, which will permit to choose between pretty printing and printing it back the node as it was (with the additional changes performed, if you

[2017-02-07 13:44] matozoid commented on #722
No response

[2017-02-07 13:44] #722 closed, assigned to nobody

[2017-02-07 16:49] shashanksingh28 commented on #764
Thank you! Your work is helping me a lot in my Thesis :)

[2017-02-08 10:14] matozoid commented on #764
@shashanksingh28 - is that https://github.com/shashanksingh28/code-similarity ? If you create something that could advance #710, please consider donating it to the project :)

[2017-02-08 10:19] ftomassetti commented on #764
Good luck for your thesis and let us know when it is finished: I would be interested in taking a look!

[2017-02-08 13:33] matozoid commented on #763
Actually, maybe `SourceRoot` should store not just `CompilationUnit`s, but the whole ParserResult.

[2017-02-08 14:21] matozoid commented on #720
Sorry for the mess.

[2017-02-08 14:21] #720 closed, assigned to nobody

[2017-02-08 14:23] matozoid commented on #687
Should be easy to generate.

[2017-02-08 15:07] matozoid commented on #687
Use clone() instead of copy() because that's what people are used to.

[2017-02-08 15:10] matozoid commented on #583
This turned into the `SourceRoot` class.

[2017-02-08 15:10] #583 closed, assigned to nobody

[2017-02-08 18:25] shashanksingh28 commented on #710
something like [GumTree](https://github.com/GumTreeDiff/gumtree/)? I just found this out while I was searching for "graph edit distance for code AST's"

[2017-02-08 18:37] shashanksingh28 commented on #764
I use JavaParser to extract features from Java Methods, and find 'similar' methods as vectors in that feature space.

I had one small suggestion, I don't know if this makes sense, but I find there are a lot of common methods in a MethodDecleration and ConstructorDecleration which are not declared by an interface. ex: getParameters(), getThrows()..

There is also the method getAllContainedComments(

[2017-02-09 09:12] matozoid commented on #764
About the suggestion: look at #755 :)

I think `getAllContainedComments()` is part of `Node`, so you get it on all node types.

Thanks for the suggestions :)

[2017-02-09 12:32] ryan-beckett commented on #751
Hi @matozoid, my name is Ryan and I would like to contribute to this project. Nice to meet you! This is the first issue I'd like to try and implement, and I have some questions. Firstly, the JUnit test "TreeVisitorTest.depthFirt()" appears to test for pre-order visiting, not in-order. Can you confirm this? Second, you spoke of "figuring out what the nicest API is" and "keep things backwards compat

[2017-02-09 13:17] ryan-beckett commented on #751
So, how would you even define what the in-order traversal would be on a non-binary tree (See [ref](http://stackoverflow.com/questions/3429006/can-a-non-binary-tree-be-tranversed-in-order))? That further  backs my aforementioned confusion about @matozoid saying we have in-order. I don't see an issue with just having preOrder(), postOrder(), and breathFirst().

[2017-02-09 14:21] matozoid commented on #758
`CallableDeclaration` has been added to the list :( :(

[2017-02-09 14:23] matozoid commented on #751
Hi! Thanks for your offer :)

- for what it should do, I'd like to refer to @yanOnGithub . I can say that I hadn't considered any of this before, and put this issue here so we could think about it when we got to it. Which is now, I guess.
- from your ref I understand the in-order is defined as however we want to define it. So if you think there's a good way to define it, go ahead, otherwise don't.

[2017-02-09 16:55] ryan-beckett commented on #751
1.  I think giving API clients the choice of pre/post/breadth-first order is enough to satisfy the majority of their needs (i.e. Pretty Printing, Symbol tables). Unless you can think of a use case where visiting the first one... two... or however many children, processing the node, and then visiting the rest of the children is needed, I don't see the need to define and implement an in-order traver

[2017-02-09 18:56] matozoid commented on #751
1. I have no idea about use cases - although I was thinking of reworking the `TreeStructureVisitor` #753 to use the TreeVisitor since it treats all nodes the same. As I said: maybe @yanOnGithub has more ideas.
2. Do you think there's a chance that people will want to use several at the same time? If not, then please do as you prefer. If I sounded confused in my previous answer, that is because I w

[2017-02-09 21:12] arturbosch commented on #758
But actually MethodDeclaration and ConstructorDeclaration should be excluded from the list :). Were the getNodeList methods generated?

[2017-02-10 11:06] matozoid commented on #758
They weren't on the list :( And yes, those are generated, and I plan on deprecating them in favour of using the metamodel.

[2017-02-10 11:14] matozoid opened #770 "Add annotation to methods and classes that were generated"
... to indicate that they were.

Java has a `@Generated` annotation which requires the generator class as a parameter. This is messy, but I think it's the best option: no additional dependencies, no custom annotation, and it is a sensible thing to mention what generated the code.

[code]

It might be possible to automate this in the `VisitorGenerator` class, not sure about the `NodeGenerator`

[2017-02-10 11:14] matozoid commented on #758
#770 for @arturbosch !

[2017-02-10 12:38] matozoid opened #771 "Create more general generator"
After some experience with generating JavaParser code, I seem to fall into these patterns:
- generate new classes or modify existing ones
- generate new methods or modify existing ones

So a general generator should have some outer logic that specifies the java files we want to work on, and some inner logic that specifies the methods we want to work on, and have logic for creating new java files a

[2017-02-10 12:55] arturbosch commented on #770
+1, they would also indicate not to try to refactor generated code

[2017-02-11 18:34] Parth opened #774 "Documentation should specify that JavaParser.parse() closes the InputStream passed."
+ From the book:

+ [And from the source](https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/JavaParser.java#L112).

Parsing an InputStream might not be the only thing an InputStream will be used for. And this assumes it is. A user, for example, might call parse, then upon success, save the file somewhere else. We should either not close the In

[2017-02-11 19:07] kushal256 opened #2059 "Method descriptor"
Is there a way to get the method descriptor for a method (see http://docs.oracle.com/javase/specs/jvms/se8/html/jvms-4.html#jvms-4.3.3 ).  JavaSymbolSolver would be great to resolve the fully qualified objects wondering if anyone already has written something like this?

Thanks!

[2017-02-12 13:37] matozoid commented on #774
Thanks, please do open a PR :)

[2017-02-14 18:53] #761 closed, assigned to matozoid

[2017-02-14 18:53] #762 closed, assigned to matozoid

[2017-02-14 18:53] #759 closed, assigned to nobody

[2017-02-14 18:54] #687 closed, assigned to matozoid

[2017-02-15 07:11] ftomassetti commented on #2059
No, but we have some code to do the opposite thing because we work also with compiled code and from compiled code we want to derive readable descriptors.

That said it should not be too hard to implement. It is just not a top priority right now (but I would love to receive a Pull Request for this).

[2017-02-15 07:13] ftomassetti commented on #2058
That would be nice but it would also need to invalidate all the caches we use internally. Not trivial.

[2017-02-15 07:13] ftomassetti commented on #2057
Let's add it to the backlog and hope someone will help us on implementint this one

[2017-02-15 09:37] mlangkabel commented on #2056
I've been looking into this and it seems like using the [maven embedder](http://maven.apache.org/ref/3.3.1/maven-embedder/) would be one way to go. The problem here is that the maven embedder has quite some dependencies and until now I thought of the JavaSymbolSolver as a lightweight library.

Another option would be using the maven that is installed on the user's computer.

[2017-02-15 18:58] ftomassetti opened #776 "Create a tool that alert you if a PR is breaking a public API"
Ideally it should work with GitHub

[2017-02-15 20:46] ftomassetti commented on #705
This is now merged

[2017-02-15 20:46] #705 closed, assigned to nobody

[2017-02-16 21:17] #738 closed, assigned to nobody

[2017-02-17 10:55] matozoid commented on #751
Hi @ryan-beckett - how is it going?

[2017-02-17 16:41] ryan-beckett commented on #751
Hi @matozoid, sorry, I've been really busy this week. I'm going submit a pull request to be reviewed, and we'll take it from there.

[2017-02-19 16:22] kmdee6 opened #778 "Visit methods and apply visitors inside the methods"
Hi there,

Great work on the parser! Loving it!

I am designing a neural net that has something to do with Logging. For that, I need to identify methods and find out if the methods contain statements that comply with some rules.

For eg., I need to find if the methods contain any switch blocks, any for loops and so on, which the parser does with ease if I supply a file.

I need to know if there is

[2017-02-19 21:46] matozoid commented on #778
Hi, thanks for the compliment!

Here's a quick reply that which goes through all classes inside the compilation unit, then goes through all its methods, then runs your visitor to find a switch. Note that a visitor is used by calling `accept` on a node, not by calling `visit` on the visitor. You may want to give the [book](https://leanpub.com/javaparservisited) a quick read (there's not much in the

[2017-02-19 21:58] matozoid commented on #778
Oh, and it looks like you're using an outdated version of JavaParser!

[2017-02-20 07:06] ftomassetti commented on #2056
I would say that the constraint on being lightweight is not as strong as for JavaParser. Maybe we could develop a separate plugin for JavaSymbolSolver based on maven embedder.

[2017-02-20 09:04] matozoid commented on #2056
Well, if you're planning on eventually having symbol solver as a JP maven module, then the constraints go up :)

[2017-02-20 13:30] matozoid commented on #774
Hi @Parth-Mehrotra - are you still working on this issue?

[2017-02-21 05:32] tamtam22 commented on #589
When analyzing some java files (e.g. from an APK) which are decompiled wrongly, it throws ParseProblemException, which is expected as it didn't fit any known tokens/syntax. e.g.

[code]

To overcome this, I put a catch on ParseProblemException in try-catch block as I still want to parse my other java files. However, I believe this is definitely not the fix. Even though the problematic java files a

[2017-02-21 08:47] gunnarmorling commented on #554
Has work on this began already?

[2017-02-21 09:02] cal101 opened #780 "Concrete Syntax Model ready for bug reports?"
Moin!

First let me thank you for the great work you are doing with java parser!

Seeing the concrete syntax commit I gave it a short try using

                        final CompilationUnit cu = JavaParser.parse(content);
                        final String printed = ConcreteSyntaxModel.genericPrettyPrint(cu);
                        Files.write(out, printed.getBytes(StandardCharsets.UTF_8));

[2017-02-21 09:05] ftomassetti commented on #780
The Concrete Syntax Model is very, very new so and there are a few kinds of nodes which could not be covered yet. A few are going to be fixed as part of #654 but for others a PR would be greatly appreciated :D

Reporting issue is **ALWAYS** a good thing and extremely useful, so please feel free do it!

[2017-02-21 09:10] ftomassetti commented on #780
About changing the behavior of nodes which are handled by the CSM: you can just look into ConcreteSyntaxModel. For each Node class there is a CsmElement associated (typically a CsmSequence). You should be able to fix every possible issue changing the specific CsmElement used for the Node class. Documentation on how to do so will follow, for now I would just look at other CsmElement usages and to t

[2017-02-21 09:39] matozoid commented on #589
This is noted, and recovery is going up in importance as you are the second user to explicitly request it.

@jeandersonbc - will you find time for this soon? Otherwise I'll start on it.

For the stack overflow: can you send the source file that causes this? It should not happen (well, only in extreme cases.)

[2017-02-21 09:56] matozoid commented on #554
We're waiting for the specification to stabilize - has that happened?

[2017-02-21 09:59] gunnarmorling commented on #554
It's not finalized yet (in Early Draft state currently).

But I think module-info.java syntax is fairly stable by now. Smaller
adjustments may be done down the road, but I wouldn't expect any
fundamental changes at this point.

[2017-02-21 10:03] cal101 commented on #780
OK, cool.

SingleMemberAnnotationExpr and MemberValuePair were easy to add.
The missing AnnotationDeclaration is too big to digest for me.

How do I change IMPORTS into preserving newlines between single IMPORT?
How to "unparse" : ("\n" | "\SPACE) *

How to model optional leading or trailing whitespace?

[2017-02-21 10:14] ftomassetti commented on #780
Perfect because AnnotationDeclaration and AnnotationMemberDeclaration are implemented in #654

About preserving newlines about imports: this is not going to work as you expect.

The ConcreteSyntaxModel describe how each node should look like. This model is then used to pretty-print the AST (this code is present in master) and it will be used also to print considering lexical preservation (this cod

[2017-02-21 10:15] matozoid commented on #554
Let's see... This seems to contain the specs: http://openjdk.java.net/projects/jigsaw/spec/

So alright, work can be started here. It would be very nice to have Java 9 support finished before it's out.

[2017-02-21 10:16] gunnarmorling commented on #554
Cool. The grammar for module descriptors is here:
http://cr.openjdk.java.net/~mr/jigsaw/spec/lang-vm.html#jigsaw-1.1

[2017-02-21 10:32] cal101 commented on #780
OK, I think I understood.

Is your current open pull request accessible somehow for me to play with?
I know it's work in progress and it's RAW.
Guess I am lacking some github knowhow.

[2017-02-21 10:37] ftomassetti commented on #780
Yes, you can look into it and play with it, you can even send me a PR for me to include your changes on that branch, however this requires some GitHub expertise :)

[2017-02-21 10:50] cal101 commented on #780
Grrr... I forgot to look into the branches of your fork. Found it.

[2017-02-21 11:13] jeandersonbc commented on #589
Given the high priority of this particular issue, please, go for it @matozoid
I will be taking a look at the fixes for further help and assistance.

[2017-02-21 13:54] matozoid commented on #589
@tamtam22 - note that you'll need to use the full API for recovery, look for "the full API" on https://github.com/javaparser/javaparser/wiki/Migration-Guide . Of course, it currently doesn't recover from much yet since this issue is still open.

[2017-02-21 14:19] cal101 commented on #780
In case you didn't saw it, the test cases may be useful:
    https://github.com/ftomassetti/javaparser/issues/4

[2017-02-21 15:22] matozoid commented on #778
@kmdee6 - did this solve your problem? If so, can you close the issue?

[2017-02-21 15:32] kmdee6 commented on #778
Oops.. Doin now!
It did solve my problem, thanks a lot guys.. Cheers! :)

[2017-02-21 15:32] #778 closed, assigned to nobody

[2017-02-21 21:04] matozoid opened #787 "Allow more modifiers for methods in interfaces"
Check the JLS

[2017-02-21 21:06] matozoid opened #788 "Go through the changes in the JLS for Java 9 once it is released"
... and make issues for relevant changes.

[2017-02-21 21:19] ftomassetti opened #789 "Generators should sort properties (minor)"
In this way we would not have irrelevant changes in generated code

[2017-02-22 03:32] tamtam22 commented on #589
Hi matozoid, thanks for the fast response! I followed the Migration guide and tested again,

`ParseResult<Expression> parseResult = parser.parse(ParseStart.EXPRESSION, Providers.provider(file.toString()));`

parseResult.isSuccessful() is always **true** and getProblems() is empty :/

However, if I just use parser.parse(file) then it encounters error (e.g. Encountered unexpected token) during runti

[2017-02-22 10:03] matozoid commented on #589
Okay, for the code you posted, read the source code for `JavaParser.parse` and `JavaParser.simplifiedParse` - it's six lines in total and should help you understand and fix your problem.

[2017-02-22 10:49] matozoid commented on #554
Here's a little braindump:
- module info is a little language that has overlap with Java, but adds a lot of keywords. Therefore we cannot make it part of the main grammar - we don't want normal Java files to fail because of reserved words that are intended for module info. So we'll need a second grammar.
- the second grammar will reuse a lot of stuff from the main grammar (imports, type names, ann

[2017-02-22 14:59] matozoid commented on #780
@ftomassetti the CSM has a label now :)

[2017-02-22 15:06] ftomassetti commented on #780
It is a big day for the CSM :)

[2017-02-22 15:14] tamtam22 commented on #589
Thanks matozoid! To anyone else facing the same problem as me, do note that you should change the variables accordingly instead of following blindly with the migration guide's example.

So if you are checking CompilationUnit errors, do this:
[code]
Reading the JavaParser.parse implementation would really help you with this!

P.S. can't find JavaParser.simplifiedParse method in 3.0.1. Is that on a

[2017-02-22 15:15] matozoid commented on #589
Good work :)
`simplifiedParse` should be there - it's private though.

[2017-02-22 15:37] ftomassetti commented on #751
hi @ryan-beckett , while working on a long running PR I had to add a new method to traverse trees. You can find in #786. Do you have comments on that? Is that conflicting with what you are working on? Can we go ahead and merge it?

[2017-02-22 19:59] ftomassetti opened #794 "Remove ObservableProperty"
After merging lexical preservation we should remove every usage of ObservableProperty and make it deprecated.

We should use instead the PropertyMetaModel instances.

[2017-02-23 01:41] ryan-beckett commented on #753
@matozoid: Is there any rhyme or reason to the XML format you've created or just an example. Before I work on this I'd like to agree upon a syntax. I'll post a sample format that covers most of the node types that we can review before I implement it.

[2017-02-23 01:43] ryan-beckett commented on #753
@matozoid: Also, would it suffice to add these formatters as XMLStructureVisitor, DOTStructureVisitor, etc?

[2017-02-23 09:53] matozoid commented on #753
Okay, the full story: I was working on this before, trying to get a basic framework together that would make it easy to build these things. I generated `TreeStructureVisitor` for that. By now I think I should have used the `TreeVisitor` or a custom simple recursive one. I think the user wants to specify how to output a single node, so it should have a method that receives that node, and you can do

[2017-02-23 23:02] gunnarmorling commented on #554
I don't know JavaCC, but instead of having a separate grammar, couldn't you have two alternative definitions for `CompilationUnit`: `TypeDeclaration` | `ModuleDeclaration`? Like it's done for `TypeDeclaration` itself which can be a class/interface | enum | annotation type.

Then you can re-use definitions for imports, identifiers etc. Of course the productions for `requires`, `uses` etc. would onl

[2017-02-23 23:11] ftomassetti commented on #554
I think lexical rules would be different and there is no way to restrict them. I think first tokens are recognized using global rules and only then parsing begins, so that would not work because we would have different keywords

[2017-02-23 23:30] gunnarmorling commented on #554
Ah, yes, I see what you mean. It might be possible to not consider "requires" et al. as actual reserved keywords but handle them as "soft keywords" within the productions under `ModuleDeclaration` during parsing. I have no idea though whether and how that's doable with JavaCC.

[2017-02-24 02:02] ryan-beckett commented on #753
@matozoid: Thanks for the clarification. I'll start looking into applicable patterns and get back to you.

[2017-02-24 09:22] matozoid commented on #554
Well, I looked at that. It is possible to define a separate set of tokens that you can switch to. The examples always show Javadoc - token `/**` switches to the javadoc token set, and `*/` switches back to the normal set. Two problems: I can't switch to module info tokens until I match token `open` or `module` - so those still become reserved in normal Java. Switching back would be done on `}`. On

[2017-02-24 09:30] gunnarmorling commented on #554
Yes, that's what I had in mind. I think we do something similar in our parser for HQL (Antlr-based, though).

[2017-02-24 09:45] Gottox opened #797 "Problem instance without range"
I've got the problem, that when I trigger a syntax error with Javaparser it won't create a range object even if the error message states a line and a column:

Source:
[code]

input:
[code]

The resulting error does not contain a range, but in the error message it states a line and a column:
[code]

[2017-02-24 10:16] matozoid commented on #797
Thanks! This was definitely missed in the API refactoring.

[2017-02-24 13:37] #752 closed, assigned to matozoid

[2017-02-24 13:38] #727 closed, assigned to matozoid

[2017-02-24 13:38] #598 closed, assigned to matozoid

[2017-02-24 13:38] #700 closed, assigned to matozoid

[2017-02-24 13:39] matozoid commented on #797
@Gottox - please check the PR

[2017-02-24 14:24] matozoid commented on #554
Okay, that idea is turning into a giant hack. I'll do a naive implementation and people can improve later on if they want :)

[2017-02-24 16:11] cal101 commented on #780
Great work, please keep on going!
CSM and Lexical Preservation is a big step forward!

[2017-02-24 16:11] #780 closed, assigned to ftomassetti

[2017-02-24 16:51] ftomassetti commented on #780
thank you @cal101 , your feedback has been invaluable. Many of the issues you have reported and the solutions you suggested are already included in #654 while the remaining ones will be addresses later.

Thanks a million!

[2017-02-24 17:48] cal101 commented on #780
A pleasure to offer my EUR 0,02.
I saw the fixes already because I followed your changes and forked your repo to test "bleeding edge".
Your history rewriting made my life interesting but I learned some more git tricks to deal with that. ;-)
Do NOT change anything of how you are doing things because of me forking  YOUR repo.
I expected those problems and *I* deal with that.
I tested the preservatio

[2017-02-24 18:00] Parth commented on #774
Hi, I'll take a look this weekend, and update this issue.

[2017-02-24 20:18] matozoid opened #799 "Name.parse can forward to the grammar's Name() production"
It's a bit nonsense that it has its own hand written parser.

Actually, this should be a static method on `JavaParser` instead.

[2017-02-25 07:38] ftomassetti commented on #600
A related PR to consider it here https://github.com/ftomassetti/javaparser/pull/5/files, courtesy of @cal101

[2017-02-25 07:40] ftomassetti opened #801 "Remember the original unicode escape sequence"
Do we want to store the very original code, including the unicode escape sequences?
@cal101 provided a patch for that

https://github.com/ftomassetti/javaparser/pull/5/files

@matozoid is in a better position than me to comment on it

[2017-02-25 07:48] ftomassetti commented on #780
Yes, history rewriting is very confusing... it works fine for small patches but the patch on lexical preservation is way too big.

[2017-02-25 07:52] ftomassetti opened #2060 "Add possibility to remove a TypeSolver from CombinedTypeSolver"
As requested by email by sound2gd

[2017-02-25 11:06] matozoid commented on #801
Yes we do, and credits to @cal101 for figuring it out, but it does need some work to go from POC to PR. With patches and scripts it's going to be a pain to maintain.

[2017-02-25 16:20] ryan-beckett commented on #753
@matozoid, on further thought I feel like this feature can get messy quickly if trying to come up with a way to allow the user to specify how to output a node. I think it'll suffice to simply supply a few outputs out of the box following how you did in _TreeStructureVisitor_. Perhaps I could create a factory design atop the _TreeStructureVisitor_, so as not to break the API. Does this sound OK?

S

[2017-02-26 08:40] cal101 commented on #801
I thought it was obvious from my "PR" request comment that I don't expect the patch variant to be an acceptable solution.
I guess that it should be possible to let jvacc use our own version of javacharparser class because thats the way most other parser generators i used before allow it.
I don't know javacc and didn't looked into it because I thought someone from the core team would know that out-

[2017-02-26 08:43] cal101 commented on #801
Another point worth mentioning is the textelementxxx class. Does it need only the original code or also the preprocessed one?

[2017-02-26 12:49] matozoid commented on #753
Okay, I don't think the current `TreeStructureVisitor` is the way to go. We don't care which node we're printing, so we don't need a method for each node type, so we could use a much simpler tree walking algorithm. If you try adding nodelist support to the visitor you'll also notice that there's no nice way to do so. It's okay to break the API here, check the [changelog](https://github.com/javapar

[2017-02-26 14:37] ryan-beckett commented on #753
I'll take a look at the library and the model and get back to you. Thanks.

[2017-02-26 17:58] ftomassetti commented on #124
Closed through #654

[2017-02-26 17:58] #124 closed, assigned to ftomassetti

[2017-02-27 20:05] matozoid commented on #554
@gunnarmorling I'd like your feedback on #800 please

[2017-02-27 20:15] matozoid commented on #753
@ryan-beckett here's the branch that outputs the test stuff seen above: https://github.com/matozoid/javaparser/commits/issue_754_more_structure_output

[2017-02-28 02:16] ryan-beckett commented on #753
@matozoid, thanks. That's helpful. Your idea about the framework "hit" last night. I understand a bit better now. I haven't looked at the serious library yet, but I was already thinking that using reflection it should be as simple as writing an API that accepts a mapping of node type to string output, i.e.

[code]

All the client would need to do is define a mapping for the output language instead

[2017-02-28 09:12] matozoid commented on #753
Hmmm, what I was thinking is that for showing structure, it doesn't matter what node we're looking at. It matters what it is named, what its fields are, and what kind of fields they are (simple type, node, or nodelist.)

Anyway, I think I'm trying to steer you too much. Try implementing XML and simple text output, and put the reusable stuff in a generic class, then use that to implement some other

[2017-02-28 17:22] matozoid opened #803 "Make adding imports smarter"
Currently we have a check on adding imports that identical ones are ignored. However, we don't check if maybe we're in the same package of the type imported, or maybe we're importing that package with * already.

To make this fit for general use we could build an import optimizer that we call each time we add an import, and that is also accessible to users.

[2017-02-28 19:33] matozoid commented on #603
This is fixed in 3.1.0. Setting a required property to null is not allowed. Setting it to another node will reparent everything. If an attempt to reparent a required node is made: assert.

[2017-02-28 19:33] #603 closed, assigned to nobody

[2017-02-28 19:34] matozoid commented on #597
The introspecting emove was replaced by generated code.

[2017-02-28 19:36] ftomassetti commented on #597
Cool, I guess we can close this one then

[2017-02-28 19:36] #597 closed, assigned to ftomassetti

[2017-02-28 19:37] matozoid commented on #514
This was implemented, then someone ran into concurrency problems right away. I say it's easy enough to make an instance of JavaParser and reuse it.

[2017-02-28 19:37] #514 closed, assigned to nobody

[2017-02-28 19:40] matozoid opened #804 "Add a lambda visitor syntax"
Add a method with approximate syntax `apply(Class<T extends Node>, Function<T, ?> f)` to `Node` which visits the whole tree and calls the function for all nodes matching the class.

This could be implemented with a more generic  `apply(Function<T, ?> f)`.

Maybe find the correct name for this method, and if there is an existing approach in the functional programming world.

[2017-02-28 19:41] matozoid commented on #434
This would be more or less implemented by #804. If not, please reopen.

[2017-02-28 19:41] #434 closed, assigned to nobody

[2017-02-28 19:42] ftomassetti commented on #804
+1 for this feature

It should be easy but it would require some understanding of how generics work

[2017-02-28 19:44] matozoid commented on #597
Oh, yeah, I forgot to do so :)

[2017-02-28 21:02] matozoid commented on #804
I just ran into the `Files.list` `walk` and `find` methods - we could follow that pattern.

[2017-03-01 08:44] ftomassetti commented on #803
Could make sense to add an explicit import if an * one exist already?
Maybe I want to import a bunch of classes (*) and I want to be sure that one particular class is not shadowed by another class in the same package, so I import it explicitly.
Just I doubt, I am not sure what would take precedence in that case.

[2017-03-01 19:18] matozoid commented on #803
Okay, I made a test class, and next to it I put "List.java". When I import `java.util.*` `List` refers to my own list class. When I add `import java.util.List` it refers to `java.util.List` - so that means you are right, and optimizing like this might break code. We can't do this right without knowing all the classes in the current package, which is way more work than this is intended to be.

So h

[2017-03-01 19:39] ftomassetti commented on #803
I think it makes sense to support the usually useful strategy but 1) make it possible to disable (with a flag parameter?) 2) Write it in the Javadoc (people will not ready it but we will be morally right)

[2017-03-01 20:27] matozoid commented on #441
This one is seen when parsing the OpenJDK test code.

[2017-03-01 20:28] matozoid opened #806 "Support explicit receiver parameters"
[code]

Found while parsing the OpenJDK source.

Here's an article about this construct: http://blog.joda.org/2015/12/explicit-receiver-parameters.html

Here's a rather impressive piece of code I found in the OpenJDK:
[code]
This needs #807 to work.

[2017-03-01 20:52] matozoid commented on #806
Note that this cannot be a varargs parameter, but this should be checked semantically.

[2017-03-01 21:24] matozoid opened #807 "Support annotations in the middle of Names"
[code]

Found while parsing the OpenJDK.

[2017-03-01 21:33] matozoid opened #808 "Support Annotation on method return type after generics"
In exactly this location the annotation causes a parse error:
[code]
while this works:
[code]

Found while parsing the OpenJDK.

[2017-03-01 21:35] matozoid opened #809 "Support annotations after instanceof"
[code]
Can those things go everywhere?!?

Found while parsing the OpenJDK.

[2017-03-01 21:38] matozoid opened #810 "Support annotations in odd location in array syntax"
[code]
The second annotation seems to throw the parser off.

Found while parsing the OpenJDK.

[2017-03-01 22:05] ftomassetti commented on #809
Isn't the annotation on the type?

On Mar 1, 2017 10:35 PM, "Danny van Bruggen" <notifications@github.com>
wrote:

[2017-03-01 22:06] matozoid commented on #809
It would be if there wasn't a parse error.

[2017-03-02 17:40] matozoid opened #812 "Store begin and end token in every node"
This would simplify the lexical preservation code, and is also more useful to users than the long list of tokens we currently supply, and it can be used to examine or display the input when a parse error was recovered. This is intimately tied to begin and end position, so we have to see what a nice API would be.

This change would affect every node constructor (time to build a generator?) and just

[2017-03-02 19:43] matozoid commented on #801
I'm looking at this now. It's cool to finally have a fix for something we considered unfixable :)

If I understand correctly the main part of the solution is a custom stream wrapping the usual stream that picks up all the unicode characters and stores them in a new originalText field in JavaToken?

Also: I don't see the build-it script anymore, so some work was done on that? It looks fine to me. I

[2017-03-02 20:01] #797 closed, assigned to matozoid

[2017-03-02 20:36] matozoid opened #813 "Add token information back to parse error"
It has location information, but it was nice to see "I got X but was expecting one of Y, Z"

[2017-03-03 08:45] cal101 commented on #801
I replaced the patching stuff with direct javacc parser changes. The parser generation config was changed to not generate a JavaCharStream instance but use the simpler CharParser instead.
I modified the former generated JavaCharStream (?) and just renamed. There is no additional wrapper involved.
The changes are small. For review I suggest comparing with the master generated JavaCharStream for the

[2017-03-03 12:07] matozoid commented on #581
@jeandersonbc is now working on this.

[2017-03-03 14:16] matozoid opened #814 "TokenMgrException does not store its location"
Well, it is stored, but it is part of the message. Figure out how to keep the data around so we can transfer it into a `Problem`.

[2017-03-04 01:04] matozoid commented on #810
Okay, nothing about this in the JLS, a VariableDeclarator cannot have annotations. Assuming that this is test code in the OpenJDK to check that this syntax is NOT supported.

[2017-03-04 01:04] #810 closed, assigned to matozoid

[2017-03-04 14:08] matozoid commented on #441
Well, treating ellipsis as an `ArrayType` makes things very complex. I'll do the straightforward fix.

[2017-03-04 16:41] ftomassetti opened #820 "Increase code coverage"
We have currently a code coverage of ~60%. We could look into increasing it, perhaps focusing on low hanging fruits. I do not think it makes sense to aim at a very high value but I suppose that with a limited effort we could move the needle.

[2017-03-04 16:52] matozoid commented on #820
Shall I tag this "easy"?

[2017-03-04 16:54] ftomassetti commented on #820
Yes, I think many tests would be easy to write. Maybe we should just point to where to read the code coverage.

[2017-03-04 16:57] #554 closed, assigned to matozoid

[2017-03-04 17:11] #763 closed, assigned to nobody

[2017-03-04 17:32] #809 closed, assigned to matozoid

[2017-03-04 17:32] #808 closed, assigned to matozoid

[2017-03-04 17:32] #807 closed, assigned to matozoid

[2017-03-04 17:32] #799 closed, assigned to matozoid

[2017-03-04 17:32] #813 closed, assigned to matozoid

[2017-03-05 09:30] ftomassetti opened #822 "Add modifier does not notify about the change"
In NodeWithModifiers:

[code]

This does not cause a notification. We could refactor it to invoke setModifiers, which does. The problem is we cannot call notifyChange directly from here I think.

[2017-03-05 09:35] ftomassetti opened #823 "Lexpres: Exception when setting the package of a CU starting with a comment"
[code]

The exception I get:
[code]

[2017-03-05 12:32] #467 closed, assigned to nobody

[2017-03-05 12:33] matozoid commented on #467
Bad idea, array handling is already complex, this would make it even more complex.

[2017-03-05 12:33] #441 closed, assigned to matozoid

[2017-03-05 12:38] matozoid commented on #594
@ftomassetti - how would you put type checking in here? That seems JSS territory?

[2017-03-05 13:30] matozoid opened #826 "Fix exception handling in 3.1.1"
Just noticed that I introduced a bug: the static parse method will not throw an exception if there is a result, but also problems.

[2017-03-05 14:10] matozoid opened #827 "Make "default" a normal modifier"
It gets special treatment in the grammar now, but for the validation framework it's best if the grammar accepts a wide amount of input, after which the validators can flag mistakes in it.

Besides that, it's going to force a workaround to support other modifiers on default methods for Java 9.

[2017-03-05 14:56] matozoid commented on #357
Tool is there, errors have been put in the issue tracker. Done.

[2017-03-05 14:56] #357 closed, assigned to matozoid

[2017-03-05 15:01] matozoid commented on #136
You can track it under this label: https://github.com/javaparser/javaparser/labels/error%20recovery

[2017-03-05 15:08] #823 closed, assigned to ftomassetti

[2017-03-05 15:24] ftomassetti commented on #594
Yes, it should be based on JSS. We could implement another Validator to.

Some things we could verify:
* verify assignments involve compatible types
* all references are resolved
* a class do not extend itself
* in catch clauses Exceptions are used and not other types

So we are getting closer and closer to get our own compiler...

[2017-03-05 15:25] artur-shaik commented on #136
@matozoid , thank you very much for mention it. I'm quite busy now, so I can not track contributions related to this field.
I will try to check it later.

[2017-03-05 15:36] matozoid commented on #804
https://www.npmjs.com/package/1tree has some as well:
walk, walkUp, find, contains, and maybe findAll, closest, ancestors...

[2017-03-05 17:45] #822 closed, assigned to nobody

[2017-03-05 21:16] matozoid commented on #594
Okay, shall we open an issue on JSS for this?

[2017-03-05 21:18] matozoid commented on #822
The problem remains though - people can still do `getModifiers().add(...)`. We solved this for `List` by making `NodeList`... We can do the same here.

[2017-03-05 21:34] matozoid opened #830 "Let code generators generate whole methods instead of just bodies"
Only changing bodies was thought of as a nice way of keeping diffs small. Existing order of methods in a class does not change, existing javadoc does not change... But it turns out that especially for the Node generators it's nicer to create completely consistent methods. Keeping them in the same place is easy now, since we have NodeList.replace().

[2017-03-05 21:42] matozoid opened #831 "Verify that only the allowed modifiers are used"
Currently all modifiers are allowed in places where some modifiers are expected. Make a verifier that checks the allowed modifiers and include it in `BaseJavaVerifier`

[2017-03-06 07:20] martinlippert commented on #581
great news and let me know if there is something to try

[2017-03-06 14:06] matozoid opened #832 "Fix lexical preservation tests on Windows"
The build fails, and I don't know how to fix these things.

[2017-03-06 14:27] matozoid commented on #832
@ftomassetti what does it mean when it prints a brace like this? It probably has something to do with EOL characters...

[code]

[2017-03-06 14:27] matozoid commented on #832
Here the same, but from a different JP source location:

[code]

[2017-03-06 14:30] ftomassetti commented on #832
At line 467 there should be this instruction:

`throw new UnsupportedOperationException("kept " + kept.element + " vs " + nodeTextEl);`

So it is surprising to see just a brace

[2017-03-06 14:31] ftomassetti commented on #832
At line 523 you have similarly:

`throw new UnsupportedOperationException("removed " + removed.element + " vs " + nodeTextEl);`

Could it be that AppVeyor is not showing the error messages correctly?

[2017-03-06 14:39] matozoid commented on #832
These are on my Windows machine while building.

I'll run it with the debugger.

[2017-03-06 14:43] matozoid commented on #832
Hehehehe, there is a single "\r" which makes the console overwrite the current line! :-D

`java.lang.UnsupportedOperationException: removed child(FieldDeclaration) vs TokenTextElement(4) {\r}`

[2017-03-06 14:45] ftomassetti commented on #832
eh eh eh. Ok I think we should specify that token 4 is a whitespace token in a couple of places. I realized that \n is mapped as token 3 but I thought it was representing all newlines characters while it seems that \r is mapped to 4, not 3. I would start looking at TokenConstants and where NEWLINE_TOKEN is used

[2017-03-06 20:38] matozoid opened #834 "Make Modifier a Node"
`Modifier` misses `Range` information.

Since this means it cannot be an enum anymore, stop using `EnumSet`. Consider if it is worth the effort to make a `NodeSet` or that we can get away with using `NodeList`.

(Interesting: what if we can change the backing list for NodeList, and get other features like sorting, or forcing uniqueness?)

[2017-03-06 21:14] matozoid opened #835 "Create severity levels for problems"
Currently a `ParseResult` is successful when there are no `Problem`s. That means we can never add a `Problem` that is non-fatal. Therefore, make an enum with two levels: `ERROR` and `WARNING` and let `ParseResult` be successful when there are no `ERROR` `Problem`s.

[2017-03-06 21:14] matozoid commented on #835
This is currently not required, but may become important soon now that we have a validation framework.

[2017-03-06 22:00] matozoid opened #836 "Add validation: non-static inner class cannot have a static initializer"
It is a compile-time error if an inner class declares a static initializer (§8.7)

[2017-03-06 22:02] matozoid opened #837 "Go through JLS 8 and find possible validations"
A good source is lines starting with "It is a compile-time error"

[2017-03-06 22:03] ftomassetti commented on #837
...why I get the feeling that by accident we will end up having built a full Java compiler :D ?

[2017-03-06 22:14] matozoid commented on #837
We still haven't generated a single byte code! :D

Would look nice on my resume though.

[2017-03-06 22:15] matozoid opened #838 "Warn for static or abstract interface"
Well, looks like I just found a reason for implementing #835

[2017-03-06 22:17] ftomassetti commented on #837
That should be easy compared to the rest... I think we could considering creating it as a fun-project. It would not be very useful I guess (maybe for on-the-fly classes generation?) but for fun and resume...

[2017-03-06 22:17] matozoid commented on #837
See #723 :-D

[2017-03-06 22:18] matozoid commented on #837
Anyway, I think our friends from Drools would be interested if we did.

[2017-03-07 02:45] jeandersonbc commented on #581
glad to hear you are interested @martinlippert! we are thinking on make something based on the so-called "panic mode" recovery, which basically skips the input stream until it finds a "synchronization token" (like a semicolon or closing brackets) to continue the parsing:

[code]

The downside is that this approach depends on the presence of the synchronization token:

[code]

@matozoid just for cl

[2017-03-07 09:20] matozoid commented on #581
@jeandersonbc my plan was to do this step by step, so first only `Statement()`s. That way you don't have to work for weeks on a big blob. Also nicer for reviewers :) Feel free to use your own judgement.

[2017-03-07 11:55] jeandersonbc commented on #581
@matozoid baby steps then! I noticed that already exists an issue for statements surrounded by `{` and `}` (see #582) so I will skip any of the statements that fit on #852

[2017-03-07 12:37] jeandersonbc opened #841 "Choice conflict warning due to common prefix "@""
Recently, a new choice conflict warning appeared in the parser generation step:
[code]

[2017-03-07 12:59] shibumi opened #842 "Save filepath/filename in CompilationUnit"
It would be nice if JavaParser.parse(Filename) could return the filepath/filename in the returned Object.

[2017-03-07 13:11] matozoid commented on #581
Feel free to open extra issues or do them for this issue anyway :)

[2017-03-07 15:02] matozoid commented on #842
On one hand: this would mean refactoring `SourceRoot`, on the other hand: this would enable more validations (class matches filename, package declaration wrong, etc.)

[2017-03-07 15:36] shibumi commented on #842
At the moment we have an "information leak". When i for example iterate over a big java project and produce CompilationUnits for every file and sort these units into a bigger modell, I would like to have the filepath/filename for every CompilationUnit. I am sure that also other projects would profit from this changes.

[2017-03-07 16:24] matozoid commented on #842
Yes, it's probably a good thing and this will be built. In the end it is a design decision, but since our approach is "the Abstract Syntax Christmas Tree" full of decorations, this can go in too.

[2017-03-07 16:30] shibumi commented on #842
@matozoid cool awesome!

[2017-03-07 18:19] ftomassetti opened #843 "Create an AST generator from a file disassembler"
In this way we could be able to generate code from bytecode

[2017-03-07 20:11] matozoid opened #844 "Make module declaration's "open" keyword a modifier"
... because it is.

[2017-03-07 20:18] matozoid commented on #838
Also "A nested enum type is implicitly static. It is permitted for the declaration of a
nested enum type to redundantly specify the static modifier."

Also: "AnnotationTypeMemberDeclaration" should warn on all its modifiers.

[2017-03-07 20:33] ThLeu opened #845 "LexicalPreservingPrinter with ModifierVisitor throws IllegalArgumentException"
Hey thanks a lot for getting the lexical preservation going, the work you guys put into the JavaParser is greatly appreciated!

I am currently trying to play around with it and it seems to me that a lot of changes to the code are not yet supported (with Visitors but also with CompilationUnit directly).
Naturally I tried some changes with the ModifierVisitor but that seems to not work at all.
Here

[2017-03-07 20:35] matozoid commented on #845
I can answer about the state. I try to mention it in the release notes: https://github.com/javaparser/javaparser/blob/master/changelog.md

[2017-03-07 20:41] matozoid commented on #844
No, it is not. According to the JLS it is not.

[2017-03-07 20:41] #844 closed, assigned to nobody

[2017-03-07 20:57] ThLeu commented on #845
Ah yes thanks, I didnt even realise that it was mentioned as in beta but makes sense of course.
Still, from the unit tests I can see that some changes are supported already (via CompilationUnit directly) and I am not sure if I should report unsupported nodes which throw an exception or if it might be too early.

[2017-03-07 20:57] ftomassetti commented on #845
hi @ThLeu LexicalPreservation should reasonably work, but as with all new features problems are to be expected: we figured out that the JavaParser community finds always applications that we did not think of.

For examples while using LexicalPreservation I wrote a large number of tests but it never came to me to use the ModifierVisitor. The thing is also that LexicalPreservation use a lot of metap

[2017-03-07 21:03] ThLeu commented on #845
Ok, thanks for that statement @ftomassetti I will look further into using the CompilationUnit directly and will report if I find issues which I can safely say are not user errors :) (I am still getting the hang of some functionality)

[2017-03-08 14:27] matozoid opened #847 "Rename UnknownType to InferredType"
This is more aligned with the language used in the JLS, and it is immediately clear why this type exists.

Big break of the API that seems hard to do with deprecation, so postpone until 4.

[2017-03-09 09:59] ftomassetti opened #850 "Set the ObservableProperty represented in NodeList"
At the same time when the parent Node is set also this property could be set

[2017-03-09 10:12] mlangkabel commented on #2056
Yes and I think that most of the users like lightweight libraries that don't have too many dependencies.

However, as we are planning to integrate Maven support into Coati I'm trying to pursue another way and use the Maven command that is already installed on the user's computer. I've implemented this approach in C++ and we'll probably ship a first beta release that includes this feature next week

[2017-03-09 10:27] matozoid commented on #850
I hear this is useful for lexical preservation to know what is in the list we're looking at.

[2017-03-09 14:00] #832 closed, assigned to nobody

[2017-03-09 14:02] matozoid commented on #841
Relabeling since this is not a bug - it is an ambiguity that always resolves correctly.

[2017-03-09 14:02] #826 closed, assigned to matozoid

[2017-03-09 14:02] #831 closed, assigned to matozoid

[2017-03-09 15:30] matozoid opened #851 "Rename AccessSpecifier.DEFAULT to PACKAGE_PRIVATE"
Since `default` is now a keyword and a modifier, this is becoming confusing. Looking at https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html `package-private` seems to be a good term.

[2017-03-09 15:35] matozoid opened #852 "Make separate NodeWith... interfaces for specific modifier sets"
It's a bit overkill to have every kind of `is(some_modifier)` for, for example, `Parameter` which can only be `final`.

[2017-03-10 12:33] matozoid commented on #812
This is now top priority:
- it would (hopefully) simplify lexical preservation code
- it would help @jeandersonbc put something sensible inside bad nodes
- it would make a big but necessary change in the grammar, making it more stable for the future (for the people working on forks)

[2017-03-10 12:38] matozoid commented on #812
I'm thinking to put the information in a `Range`-like object with the same constraints: either the whole object isn't there, or it is there and all its fields are there.
[code]

We would start getting some inconsistencies:
- when someone makes a new nodes and set the position, there may not be a token.
- when someone parses some code and changes the position, the token will still contain the old p

[2017-03-10 17:07] #852 closed, assigned to matozoid

[2017-03-10 22:30] ThLeu opened #855 "LexicalPreservingPrinter: Bug or request for adding Annotations to MethodDeclaration"
Unfortunately I am having a hard time to get anything to work with annotations.

Using this simple File as input
[code]

and this code for the printing and changing of the CompilationUnit
[code]

Running this example I always get an UnsupportedOperationException.
Here is the important part of the stack trace
[code]

Is there a reason why this is not supported? Or is it maybe a bug?

Kind regards

[2017-03-11 13:30] matozoid commented on #855
@ftomassetti - can you give a hint here?

[2017-03-11 13:40] matozoid opened #856 "Remove "Empty..." nodes"
This may be a duplicate.

[2017-03-11 13:40] #594 closed, assigned to matozoid

[2017-03-11 16:22] ftomassetti commented on #855
Thank you for this bug report, I just submitted a PR. Not also that you should probably check if the Override annotation is already present to avoid adding it twice

[2017-03-11 16:56] ftomassetti commented on #845
I have looked a bit in this one. It is a tricky one, the more info and tests we can get the easier it will get to work on it.

[2017-03-11 20:23] fruffy opened #858 "Removing MethodCallExpr from the parent node"
Hello,
I have a question about the remove method.
I would like to remove method calls which are encapsulated in various types of parent nodes. ( ReturnStmt, ExpressionStmt, BinaryExpr...). However, the method always defaults to Node.remove() and returns false in all these cases.
What would be the best way to remove a method call here? Unfortunately, I could not get it to work with a ModifierVisito

[2017-03-11 22:23] #855 closed, assigned to ftomassetti

[2017-03-11 22:37] matozoid commented on #858
Ah, I tried it out and see your problem. `Node.remove()` turns "please remove X" into "parent of X, please remove X" - because the parent is the one that contains the node. The nasty thing is that `MethodCallExpr` for example is wrapped in an `ExpressionStatement` so that it can be used as a statement inside the method body. `ExpressionStatement` ignores the remove request, because the contained `

[2017-03-11 22:41] matozoid commented on #858
If you really want to, I think you can emulate this behaviour by calling `remove` on X, then parent of X, then parent of parent of X, etc. until one of them returns `true` - meaning it was removed.

[2017-03-12 00:19] fruffy commented on #858
Thank you, that worked! I used the while(!remove()) loop to remove the call in question.

I have another question mildly related to this one.
As far as I understand. Node.setAsParentNodeOf(Node) does not really register a node in the AST.
So if I added a node to my method block above, it would not be handled by the visitor, or at least the print visitor. Only if I use operations such as addStateme

[2017-03-12 12:51] matozoid commented on #858
Just use the correct setter or adder, they will do parent management for you. These methods will be made protected when we move to Java 9.

I'm not sure what you're doing in your last paragraph. A piece of code would help.

[2017-03-12 13:18] matozoid opened #859 "Add method removeForced()"
In #858 there is a little trick to make sure `remove()` really removes the node by walking up the hierarchy.

Add it to `Node`.

(Naming: if it starts with "remove" it will show up next to the normal `remove` method in tools. `forced` could be a parameter of remove instead of its own method, but that would mean that everyone has to think about this option every time the method is used. In theory i

[2017-03-12 13:19] matozoid commented on #859
@FRuffy if you're interested you can pick this up :)

[2017-03-12 18:14] fruffy commented on #858
Ah that is good to know, I was not sure if they were actually intended to be used.
So basically, what I have is this method declaration. I would like to statically resolve all method calls in it using the Java standard library which I have parsed using the Symbolsolver.

[code]

(For now) I would like to resolve it to:

[code]
which is the body of the print statement.
However, if I used
[code]
The

[2017-03-12 18:14] fruffy commented on #859
Yeah sure I can take a look!
Edit: I have not forgotten this feature, I just have not been able to work on the project recently. Will do a pull request soon.

[2017-03-12 20:20] matozoid commented on #858
Okay, let's see...
- working with directly setting parents will only affect the `childNodes` list, no other fields. This will do nothing but make the AST inconsistent.
- if you're saying "I want to replace every method call expression with X" then that sounds like you need the ModifierVisitor to me, with one overridden visit method for `MethodCallExpr` that finds the replacement for its parameter

[2017-03-12 20:51] raffishquartan opened #860 "VoltProcTools uses java-symbol-solver 0.3.1 and javaparser 2.3.0"
https://github.com/cfogelberg/vpt

[2017-03-12 21:01] fruffy commented on #858
Great, thank you! It was mostly confusion about the purpose of `setAsParentNodeOf()` but since it is intended to be protected I won't use it.
I am already using a `ModifierVisitor` but wasn't aware of the `NodeWith...` classifications.
The answer was mostly about what I am intending to use the Javaparser for and to see what the API could do. I will probably run into further issues down the road so

[2017-03-12 21:01] #858 closed, assigned to nobody

[2017-03-12 21:11] ftomassetti commented on #860
Thank you for sharing! It helps a lot to know about these projects to learn how we can help.

[2017-03-12 21:17] raffishquartan commented on #860
javaparser is a great tool. There was a bit of a learning curve with the API but I think that's pretty unavoidable with something like this. I haven't used java-symbol-solver much yet but will be using it more soon. Thanks for all your work and all the work of the other contributors too!

[2017-03-13 08:34] matozoid commented on #858
Cool, see you soon then :-)

[2017-03-13 10:16] matozoid commented on #860
I put it on this page :) https://github.com/javaparser/javaparser/wiki/Projects-using-JavaParser

If you have suggestions for making things easier, do share.

[2017-03-13 15:16] matozoid commented on #539
Okay, I'm looking very carefully at these and am not yet getting how `childNodes` are different from `topLevelChildNodes`. It seems you are describing the second level of children?

[2017-03-13 15:18] matozoid commented on #540
I think this has become really simple because we have `Name` and `SimpleName` now, and a `GenericListVisitorAdapter` which can collect results while visiting. Maybe this could be part of the documentation.

[2017-03-13 19:11] #109 closed, assigned to matozoid

[2017-03-13 19:12] matozoid commented on #109
Thanks for reporting this!

[2017-03-13 19:15] matozoid commented on #537
Since this was split up I'll close this one.

[2017-03-13 19:15] #537 closed, assigned to nobody

[2017-03-14 16:51] JKazma commented on #845
Hello,

I am also getting an issue with the CompilationUnit when using the LexicalPreservingPrinter. This is how I initialize my compilationUnit.

[code]
And this is what the visitor looks like:
[code]
This gives the following error:

java.lang.ClassCastException: java.util.Optional cannot be cast to com.github.javaparser.ast.NodeList

[2017-03-15 13:00] arturbosch commented on #663
I want to take care of this issue :)

[2017-03-15 13:03] ftomassetti commented on #663
Go for it!

[2017-03-15 13:16] matozoid commented on #663
Wheeee!

[2017-03-15 13:32] matozoid commented on #663
Some background:
- it's probably only the nodes extending `LiteralStringValueExpr`
- I think the most consistent would be to add a constructor that sets the value as the correct type by using:... a setter that does the same. And add a getter with a different return type. Since we can't overload on return type, we can use the `asString()` pattern we're using elsewhere, so that would be `asChar`
- p

[2017-03-15 14:03] arturbosch commented on #663
so basically adding a new Constructor for each LiteralExpr and an asXXX() method?
We also don't want any conversion checks, so the user needs to handle it by himself, am I right?

[2017-03-15 14:06] arturbosch commented on #663
For example there are two constructors one with a string, one with a string and a range like `public LongLiteralExpr(final Range range, final String value)`, should we create two new constructors, one with range, one without?

[2017-03-15 14:33] Meddan opened #2061 "Getting ConstructorDeclaration from ExplicitConstructorInvocationStmt"
Hello, I was wondering if it is possible to get a ConstructorDeclaration from ExplicitConstructorInvocationStmt using the SymbolSolver? I've managed to get a MethodDeclaration from a MethodCallExpr by getting the SymbolReference (sr) and doing the following: `MethodDeclaration md = ((JavaParserMethodDeclaration) sr.getCorrespondingDeclaration()).getWrappedNode();`

However when I do this on a Expl

[2017-03-15 15:12] matozoid commented on #663
Here are the patterns:
- there is always a default constructor that sets all values to something valid
- there is always a constructor that starts with `Range` - that's used by the parser and is seen as private.
- there is always a constructor with the same parameters as the one that starts with `Range`, but without `Range`. It's called the all parameters constructor. (Does not actually always hav

[2017-03-15 15:14] #552 closed, assigned to matozoid

[2017-03-15 16:00] matozoid commented on #860
I'll close this since it's no question or issue.

[2017-03-15 16:00] #860 closed, assigned to nobody

[2017-03-15 16:01] #827 closed, assigned to matozoid

[2017-03-15 16:03] matozoid opened #864 "Make an "architectural style guide""
Since the previous issue about this is completely off-topic (#478), we'll start over with a fresh new issue.

There are many patterns used throughout JavaParser, like how we use lists, how we do builder methods, how we see (im)mutability, etc.

[2017-03-15 16:04] #478 closed, assigned to nobody

[2017-03-15 16:06] matozoid commented on #751
Oops, forgot to close this one!

[2017-03-15 16:06] #751 closed, assigned to nobody

[2017-03-15 16:17] matozoid commented on #864
From #663:

Constructors
=====
- there is always a default constructor that sets all values to something valid
- there is always a constructor that starts with `Range` - that's used by the parser and is seen as private.
- there is always a constructor with the same parameters as the one that starts with `Range`, but without `Range`. It's called the all parameters constructor. (Does not actually al

[2017-03-15 17:40] matozoid commented on #864
Maybe it's better to show these rules as code samples.

[2017-03-15 22:07] ThLeu opened #865 "LexicalPreservingPrinter: Unsupported operation - addMarkerAnnotation(String)"
Hello there

If you run the LexicalPreservingPrinterTest.handleOverrideAnnotation Test with addMarkerAnnotation(String) instead of addAnnotation(String) it will not work, because apparently ObservableProperty.getTokenType(String) does not yet support the property == ObvervableProperty.NAME.

I added the following condition to the method and that seems to work for this specific case, but I think so

[2017-03-15 22:12] ThLeu opened #866 "LexicalPreservingPrinter: Unsupported operation - remove()"
Not sure about this one, if it even is supposed to work like that, but I just put together some quick test of a specific use case I would like to use the LexicalPreservingPrinter for.

Basically "moving" some Annotations around by first removing them and adding them again.
The test I put together (copy of LexicalPreservingPrinterTest.handleOverrideAnnotation) fails with...
[code]

The test case
[c

[2017-03-15 22:27] ThLeu commented on #845
Using the ModifierVisitor with Lexical Preservation would obviously be very helpful, not only for me it seems.
It makes many "refactoring" tasks way easier than with CompilationUnit.

Since it throws an exception immediately when trying to call CompilationUnit.accept I am not sure how I could provide you with any better information yet, but if there is something specific you need just say so.

@JK