[2017-09-24 19:29] #729 closed, assigned to nobody

[2017-09-26 14:51] adhesivee opened #1166 "Invoking super constructor"
Invoking the `super` constructor is not accepted, like so:
[code]
It will result in a `ParseProblemException`, because it expects that the `(` would be a `.` or `::`.

For now I can use a workaround, using `new ExplicitConstructorInvocationStmt()` and attach to the block statement

[2017-09-26 20:54] matozoid commented on #892
After some discussion I imported https://github.com/javaparser/javaparser-maven-sample into the organization.

[2017-09-27 11:29] matozoid opened #1170 "Validate that a UnionType must have more than one "sub"type"
A UnionType is `A | B`, not `A`.

[2017-09-27 12:43] #892 closed, assigned to matozoid

[2017-09-27 18:28] ftomassetti opened #1172 "Ensure compile with JDK 9"
We should check if Travis supports it already

[2017-09-27 21:17] #1166 closed, assigned to matozoid

[2017-09-27 22:06] #1170 closed, assigned to matozoid

[2017-09-28 21:08] #1172 closed, assigned to matozoid

[2017-09-29 18:41] ntkoopman commented on #638
The babylon parser has good comment support, as it is designed around code transformations. It would handle `int a(int b/*x*/)/*x*/{}` by adding the first comment as a trailingComment to the Parameter node, and the second one as a leadingComment to BlockStmt. Both trailingComments and leadingComments are arrays.

Wouldn't that work here as well?

[2017-10-01 04:36] ryan-beckett commented on #955
@matozoid: Just to clarify, in `java.jj`, when an exception is thrown the only node types ever returned are `UnparsableStmt`, `CompilationUnit`, and `BlockStmt`. Are these the nodes that you'd like `Problem` to point to (which doesn't add any value IMO), or are did you want to be a lot more specific than that. For instance, if the parser fails on trying to match the tokens for a `LabeledStatement`

[2017-10-01 18:40] matozoid commented on #638
@ntkoopman it could, and I even tried it a year ago :-) Two reasons that I gave up on it were...
- there are still situations where you can't say where a comment has to go: `int a/*hello*/(int a, int b)`
- it was seriously going to mess up the grammar: something has to be added for each and every element of every grammar rule. I couldn't see a way to do that reliably.

It's mostly the second point

[2017-10-01 18:53] matozoid commented on #955
@ryan-beckett - I appreciate you diving into error recovery, it's a difficult problem where work only just started. In case you haven't seen it, here's a blog I wrote with some background: https://matozoid.github.io/2017/06/11/parse-error-recovery.html

So, those three that are returned are only the start. I'm not yet sure how far we can go with recovery, but here's a quick list I made by going th

[2017-10-01 20:49] ryan-beckett commented on #955
@matozoid: Thanks for the clarification. At least I have a better idea of what's going on. Yeah, I'm going to work on something where I need as little knowledge on the inner workings as possible.

[2017-10-01 21:28] ryan-beckett commented on #955
@matozoid: Is there a way I can contact you for a discussion unrelated to JP? How about **hexagonaal@gmail.com**? I can't DM you on Twitter, since you don't follow me.

[2017-10-02 19:43] matozoid commented on #955
@ryan-beckett I'd say Gitter, a lot of JP discussion is there and you can also send private messages.

[2017-10-02 19:44] matozoid commented on #955
https://gitter.im/javaparser/javaparser

[2017-10-02 19:46] matozoid commented on #1072
Mistake in the issue name, I meant `VisitorList` not `VisitorMap`

[2017-10-03 09:02] ntkoopman commented on #638
Babylon would assign that comment to `SimpleName`.

This project seems to "simplify" the AST in some cases, like `EnumSet<Modifier>` on `MethodDeclaration`. This would make it impossible to assign the comment in `public /*foo*/ static void main` to a node.  In the "official" grammar there would be a `NormalClassDeclaration` with `ClassModifier` nodes. That would also maintain the order.

Changing

[2017-10-03 12:29] matozoid commented on #638
True, that was a bad example. I've been considering how to do this and I think I'll give it another try.

Second part also true, this is covered in #834. It's not a particularly hard change but will break the API, so we're saving that for the next major version. It was in the way of lexical preservation too.

[2017-10-03 12:55] matozoid commented on #638
Something like this:
[code]

[2017-10-07 12:21] ftomassetti commented on #943
I think we have been doing some progress on this with #1169 and #1178 . In some way #1154 was the first step for this one.

[2017-10-07 12:22] ftomassetti commented on #1154
Should we close this one?

[2017-10-07 12:52] matozoid commented on #943
How far along are we now?

[2017-10-07 12:53] #1154 closed, assigned to nobody

[2017-10-07 13:00] ftomassetti commented on #943
Well I think that with the new API it will be more intuitive to answer questions directly from AST nodes. We need to had more methods on the AST nodes but all of those will be simple calls to the SymbolResolver. Now that the infrastructure is in place I would say the hard stuff is done. I would refine, polish, document these parts and then see what people think.

[2017-10-07 13:49] matozoid opened #1179 "Examine https://github.com/tneyraut/JavaParser"
See if there's anything interesting we can use.

[2017-10-07 13:50] matozoid opened #1180 "Upgrade https://github.com/sakalauskas/Java-Static-Analyzer"
This project is using JP 2.5.1. Try upgrading it to the latest.

[2017-10-08 11:59] #1072 closed, assigned to nobody

[2017-10-09 10:07] matozoid opened #1182 "Build a language server"
--> https://github.com/Microsoft/language-server-protocol

[2017-10-09 10:08] ftomassetti commented on #1182
This one would be really interesting...

[2017-10-09 16:21] SmiddyPence commented on #990
I wouldn't call this a bug

The JavaDoc is effectively usurped by the block comment.  Currently a node and comment is a 1:1 relationship.  We could debate that it's proximity suggests it is more relevant...

We could discuss, the possibility of nodes having both a relationship that is a 'document' and 'comment' in the future.

[2017-10-09 20:50] matozoid commented on #990
Let's call it an improvement then.

[2017-10-10 21:32] ajcamilo opened #1183 "Add FieldDeclaration to top of ClassOrInterfaceDeclaration"
How can I add a FieldDeclaration that's the first member of the ClassOrInterfaceDeclaration?

I can't find any easy way of doing this.

[2017-10-11 08:53] matozoid commented on #1183
I have nothing available to make an example, but the idea is to add a new `FieldDeclaration` to position 0 of the list called `members` of the `ClassOrInterfaceDeclaration`.

[2017-10-11 14:54] matozoid commented on #943
@ftomassetti I thought of a thing: in core we have many places where we seem to offer some kind of functionality that work on types, but it really just works on strings. A bad one is `Signature` for example. It would be nice if we could say "for all these types in the signature I would like to get the fully qualified name. If we can't get it, just leave it as it is". I'm not sure how this would lo

[2017-10-11 16:40] ajcamilo commented on #1183
That replaces with the member that already exists at position 0.

If this is what was intended, fine by me. I'll just make a method that shifts all the `members`.

[2017-10-11 17:05] matozoid commented on #1183
I'll add a method for this because this question has been asked several times now :-)

[2017-10-11 17:11] matozoid commented on #1183
This is what you're looking for:

[code]

[2017-10-11 17:14] ajcamilo commented on #1183
That's it, thank you :)

[2017-10-12 17:03] matozoid opened #1185 "Make releasing work with JDK9"

[2017-10-12 19:09] matozoid commented on #1180
https://github.com/sakalauskas/Java-Static-Analyzer/pull/1 :-D

[2017-10-13 08:26] fanzhidongyzby opened #1186 "Typecast of lambda expression causes NullPointerException"
The following testing code will cause `NullPointerException` on javaparser, please fix this bug if possible.
[code]

The exception stack information is:
[code]

[2017-10-13 08:36] fanzhidongyzby commented on #1186
I switched to the latest version (3.4.3) of javaparser, and found this issue is fixed.

[2017-10-13 08:36] #1186 closed, assigned to nobody

[2017-10-13 10:07] sakalauskas commented on #1180
Ha! Nicely done! :-D

[2017-10-13 10:35] matozoid commented on #1180
Solved :-)

[2017-10-13 10:35] #1180 closed, assigned to nobody

[2017-10-13 11:46] #1183 closed, assigned to nobody

[2017-10-13 12:43] #542 closed, assigned to nobody

[2017-10-13 12:51] matozoid commented on #545
If I look at Intellij's formatter, the complete list is...
- =, +=, ...
- &&, ||
- ==, !=, <, >, <=, >=
- &, ^, |
- +, -, *, /, %
- <<, >>, >>>
- ->

[2017-10-13 13:23] matozoid commented on #545
@DeepSnowNeeL @ftomassetti I'm wondering how detailed I should make these settings. Just one "spaces around operators" boolean, or booleans for "space before" and "space after" for each kind of operator, or somewhere between?

I haven't seen any requests for this feature, so I'm thinking of the simplest setting...

[2017-10-14 09:54] AlexMackechnieOld opened #1188 "Adding the private field ArrayList<String> to a class."

[2017-10-14 09:54] #1188 closed, assigned to nobody

[2017-10-14 09:58] AlexMackechnieOld opened #1189 "Adding the private field ArrayList<String> to a class."
Can't find a way of adding a private field `ArrayList<String> array = new ArrayList<String>();` to a class. Tried using a class visitor and FieldDeclaration, but only luck with adding primitive types (which end up at the bottom of a class instead of the top).

[2017-10-15 16:29] matozoid commented on #1189
Here's the easy way out:
[code]

[2017-10-15 16:33] matozoid commented on #1189
This tells me how the field declaration is constructed:
[code]

[code]

[2017-10-15 16:35] matozoid commented on #1189
Here's how you add at the top:
[code]

The next version will have a special method for that: `addBefore`

[2017-10-15 16:37] matozoid commented on #1189
Here's how it works with a visitor. Depending on requirements you may want to call `super.visit` in the visit method.
[code]

[2017-10-15 16:51] matozoid commented on #1189
I think that was everything! Do get the book -> https://leanpub.com/javaparservisited - pay nothing if you need to :-)

[2017-10-15 19:00] matozoid commented on #541
Yeah, this is fine as it is.

[2017-10-15 19:01] #541 closed, assigned to nobody

[2017-10-15 19:14] AlexMackechnieOld commented on #1189
Great, that solved the problem. Thanks a lot for that, I'll have a look at the book as well.
Cheers!

[2017-10-15 20:03] huangwaylon opened #1190 "Associating multiple inline comments with a single statement"
Hi,

I am using JavaParser 2.4.0, which is quite old, but I need it to work with Java 7. I am wondering how I can attribute multiple single line comments with a single statement.

For example, in the following code block:
[code]

I would like to associate both the `// False, should ... ` and `// Another comment ...` with the statement `org.junit.Assert.assertTrue(list.size() ...`.

What I'm doing

[2017-10-16 10:12] matozoid opened #1191 "Use markdown in Javadoc"
It's currently very painful to write the Javadoc for the JavaParser code base. The main problem is that all markup is done with standard HTML tags. Nowadays new programming languages pick some kind of markdown clone instead of HTML.

Turns out there is a Javadoc plugin that allows markdown: https://github.com/Abnaxos/markdown-doclet

Try to enable it and rewrite the existing Javadoc.

[2017-10-16 10:14] matozoid commented on #1190
@SmiddyPence - can you answer this?

My part: 2.5.1 should be the last version you can use.

[2017-10-16 10:15] matozoid commented on #1189
No problem!

[2017-10-16 10:15] #1189 closed, assigned to nobody

[2017-10-16 14:40] SmiddyPence commented on #1190
So the relationship from Node to Comment is 1:1.

In your case the first comment gets "usurped", by the later comment.  The second comment is actually closer to the node by proximity so it gets assigned as it's comment.

Multi-line block comments although appear over one line are still a single comment, if you were to add two separate multi-line comments you would see the same behaviour; where the

[2017-10-16 17:02] matozoid commented on #1191
It's GPL'ed, but I think that because it's not a library that should be okay.

[2017-10-16 21:33] matozoid commented on #1129
I didn't realize that there is only one receiver parameter, and it is always the first parameter. Those are good reasons to treat a receiver parameter as different from a normal parameter, and not put it in the parameter list, but make it a separate field.

[2017-10-16 23:41] huangwaylon commented on #1190
I see. Thank you very much for your response!

So a possible solution to address this issue would be to iterate through all orphaned comments in a method's body and for each orphaned comment, I would combine it with any comment that immediately follows.

I found the comment attribution spec https://github.com/javaparser/javaparser/wiki/Comments-%28Attribution%29 and it has given me a better idea o

[2017-10-17 01:03] ftomassetti commented on #545
Mmm I should always go for spacing around operators, but no spaces could be potentially something used.

[2017-10-17 06:37] SmiddyPence commented on #1190
You're most welcome.  Thank you for sharing your use case as well, it helps us drive future behaviour.

[2017-10-17 06:37] #1190 closed, assigned to nobody

[2017-10-17 20:18] matozoid opened #1196 "Node.map"
It would be nice to have a `map` function on `Node` that works like a `ModifierVisitor`.

[code]

[code]

[2017-10-18 06:52] saxenadeepakkumar opened #1197 "how to parse java file to get method body and annotation on method"
Hi,

I am new for javaparser.  I actually parse java files to get method body and annotation on the method.
How can I get?

Please help.
Thanks in advance

[2017-10-18 09:00] matozoid commented on #1197
- You can examine the structure of the AST with `YamlPrinter`. If you need more help, just ask :-)
- We have a manual at https://leanpub.com/javaparservisited - you can pay $0,00 and get it for free.

[2017-10-18 19:52] leus opened #1198 "Prettier imports"
Can we add an option to order imports during pretty print?

Also, specifying order (like IntelliJ and Eclipse) would be a plus.

[2017-10-18 19:56] ftomassetti commented on #1198
Could changing the order of imports affect the program? Like if you have asterisks imports and specific imports and one override the other.

Like:
import c.d.*;
import a.b.MyClass;

If we have both a.b.MyClass and c.d.MyClass does the order of the imports matter?

[2017-10-19 12:27] leus commented on #1198
It may. But this looks like a good candidate for a `PrettyPrinterConfiguration` option.

[2017-10-19 15:30] leus opened #1200 "EOL inconsistences when parsing from file"
When reading a file with EOL different than the current system, block comments are preserved as-is and this may lead to generated files with different EOL.

This causes the test "Scenario: we can parse a package-info file" fail under Windows.

[2017-10-19 16:35] leus commented on #1200
By the way, this fixes AppVeyor :) #713

[2017-10-19 22:58] #1200 closed, assigned to nobody

[2017-10-19 22:58] stefan-reich commented on #113
The considercomments option does not exist anymore, does it?

[2017-10-19 23:07] ftomassetti commented on #113
Please open another ticket. I think we still have the possibility of enabling or disabling comments in the JavaParserConfiguration

[2017-10-19 23:08] stefan-reich opened #1202 "Performance of toString"
Hi, I'm using this parser as part of my [JavaX](http://javax.tinybrain.de) project, especially to post-process generated Java sources.

My question regards performance of JavaParser. I have a [20,000 lines](http://tinybrain.de:8080/tb-int/get-transpiled.php?id=1010745&raw=1) source being parsed.

I parse, visit and then call toString on the CompilationUnit. Here are the timings after warm-up (HotS

[2017-10-19 23:26] stefan-reich opened #1203 "Option to not parse comments"
I was told to open an issue for this :-)

[2017-10-20 09:53] matozoid opened #1204 "Fill childNodes list on demand"
Every node has fields, and all those fields are also in that node's childNodes list. JP is very careful to keep it up to date when fields change.

Why not...
- when a node is created, leave the child nodes list null
- when a field changes, set the child nodes list to null
- use the metamodel to generate code to assemble the child nodes
- when the user gets the child nodes, call that code and "cach

[2017-10-20 09:59] matozoid commented on #1202
I'll tag this as a question until someone has time to look into it :-)

[2017-10-20 10:01] matozoid commented on #1203
It's in ParserConfiguration :-)

[2017-10-20 13:47] ftomassetti commented on #1204
My doubt is: do we have some functionalities that use the child node lists and could cause all of a sudden to instantiate all child node lists? That operation would become really slow

[2017-10-20 15:02] stefan-reich commented on #1202
Thanks :-) Not a terrible problem anyway, maybe pretty-printing is just some effort...

[2017-10-20 15:14] stefan-reich commented on #1203
You mean "attributeComments", right? I set it to false and it doesn't seem to change the parsing speed...

What generally confuses me is that the Eclipse compiler compiles a source file faster than JavaParser parses it (almost twice as fast).

Please don't take this as a criticism at all though.

I have successfully used JavaParser already (I need to make all elements of a class public and it does

[2017-10-20 15:39] matozoid commented on #1204
That performance loss is currently spread over the whole parsing and modifying process. You will have to create that list of children at some time.

[2017-10-20 15:45] matozoid commented on #1202
Well, it shouldn't be. Are you using the latest version? A few versions ago we had a performance problem that got fixed.

[2017-10-20 15:47] matozoid commented on #1203
It's a good reminder that we should watch performance more! There is more stuff you can turn off in the configuration to get more out of it.

AttributeComments it is. You can't get away with not parsing comments since they are part of the source file, but we can skip attaching them to the AST.

[2017-10-20 16:23] #1129 closed, assigned to matozoid

[2017-10-20 19:44] leus commented on #1160
IntelliJ is playing some sort of whack-a-mole game with me at the moment. Is there a way to make it somewhat smarter regarding the whole `mvn javacc:javacc` operation?

[2017-10-20 20:33] matozoid commented on #1160
I don't run it at all - mvn clean install and project-rebuild are what I use

[2017-10-20 20:34] matozoid commented on #1160
Are you working on this? Please don't, it's for the next major version.

[2017-10-21 11:12] matozoid opened #1205 "Create specific types for each NodeList"
I've brought this up a few times before and it didn't get much enthusiasm. I don't really know why, so here's a discussion issue.

Currently we have `NodeList<SomeNodeType>`.
Things we are not able to do with this:
- Visit them cleanly (#1056)
- Ask what type is in them (#850)

If we added a field for the type that is in them, constructing nodelists would become a pain:
`new NodeList<>(ImportDecla

[2017-10-21 12:28] leus commented on #1205
Yes to specialized types, so we don't have to do ugly stuff like [this](https://github.com/javaparser/javaparser/commit/095128cebabf91e1676a952ab966944ef475e173#diff-4525adfd97dacd0f0f8cfa9468aa6f2eR1396).

[2017-10-21 12:30] leus commented on #1160
Oh, no, I'm just interested on how to keep working inside IntelliJ without it lying to me about the code being debugged.

[2017-10-21 12:34] matozoid commented on #1160
Okay :-) Come join Gitter to chat if you like so we don't mess up this issue: https://gitter.im/javaparser/javaparser

[2017-10-21 13:37] bigpotato920 opened #1207 "How to collect invoked methods within a method"
I am new to javaparser, I wanna collect the methods invoked by a specific method both explicitly and implicitly.For example:
[code]
From the code above I wanna collect the information that Class A's method **foo** invoke B's print() method with the argument "abc" and "def"

[2017-10-21 13:42] matozoid commented on #1207
@ftomassetti ?

[2017-10-21 13:51] ftomassetti commented on #1207
This one is tough, because you would need to simulate the data flow. In general you cannot do that statically. You can do that for very simple cases like the one given, in which you have a simple constant value passed around.

[2017-10-21 13:59] bigpotato920 commented on #1207
Is it posibble to generate a call graph like:
[code]

If this graph can be generated statically, then I can collect information I am interested in. Actually the argument in my case is indeed simple just a single string. @ftomassetti

[2017-10-21 14:03] ftomassetti commented on #1207
I am just saying that it would work for very simple cases like this one, but as soon as you have variability (for example, an if, or the value for the parameter comes from a variabile that is assigned by complex logic) the problem explodes

[2017-10-22 18:11] matozoid commented on #655
Oh, there's a Maven plugin for that! http://www.mojohaus.org/license-maven-plugin/

[2017-10-22 19:13] matozoid opened #1209 "Split off BDD tests into a separate module"
They are mostly independent, so this will clear up what files belongs to what.

[2017-10-22 19:27] matozoid opened #1210 "Implement Node.findFirst methods"
See #1195

[2017-10-22 19:28] matozoid opened #1211 "Implement node.findParent method"
See #1195

[2017-10-22 20:08] #1198 closed, assigned to nobody

[2017-10-22 20:12] #713 closed, assigned to nobody

[2017-10-22 20:12] #1047 closed, assigned to nobody

[2017-10-22 20:14] #804 closed, assigned to nobody

[2017-10-22 20:18] matozoid commented on #1197
Assuming this is answered

[2017-10-22 20:18] #1197 closed, assigned to nobody

[2017-10-22 20:19] matozoid commented on #1191
Let's not do it, too fragile because it breaks whenever someone reformats a file.

[2017-10-22 20:19] #1191 closed, assigned to matozoid

[2017-10-23 09:13] matozoid commented on #1210
There are a few, but the set is incomplete.

[2017-10-23 15:43] vlotarev opened #1212 "Generate hashcode/checksum of the class method"
Dear team,

I need the way to check whether some specific method in the class is changed or not. I am thinking about calculation of hashcode/checksum based on method signature and content. Could you please let me know whether is it possible to do with the JavaParser. If it is possible I would appreciate the simple code snippet that demonstrates how to do that.

Thanks in advance,
Vadim

[2017-10-23 19:51] matozoid commented on #1212
Here are some possibilities, which one would you like?
- compare the source code of two methods (call hashcode() on a MethodDeclaration)
- compare nice-but-not-perfect signatures of two methods (call hashcode() on CallableDeclaration.Signature)
- compare signatures perfectly of two methods (requires JavaSymbolSolver)
?

[2017-10-23 19:58] matozoid commented on #1202
Oh, by the way, printing comments is quite some effort, maybe you can turn that off.

[2017-10-24 00:59] stefan-reich commented on #1202
I'm using 3.4.4... yeah, and comments are off (setAttributeComments(false))

Here's the program in my fancy language (though it's easy to run): [tinybrain.de/1011245](http://tinybrain.de/1011245)

[2017-10-24 09:42] matozoid commented on #1202
Okay, I meant `printComments` in the `PrettyPrinterConfiguration`.

What the heck is that language? :-O

[2017-10-24 13:25] vlotarev commented on #1212
I think that the first solution would be the best one (hopefully white spaces and comments are ignored when java sources are parsed). Will try, thank you!

[2017-10-24 19:46] matozoid commented on #1212
Okay, let us know if you have more question! (Reading the book is also recommended: https://leanpub.com/javaparservisited )

[2017-10-24 19:46] #1212 closed, assigned to nobody

[2017-10-25 06:28] lvc opened #1214 "API changes review for Javaparser Core"
The review of API changes for the Javaparser Core library since 2.0.0 version: https://abi-laboratory.pro/java/tracker/timeline/javaparser-core/

The report is updated 3 times a week. Hope it will be helpful for users and maintainers of the library.

The report is generated by the https://github.com/lvc/japi-tracker tool for jars at http://central.maven.org/maven2/com/github/javaparser/javaparser-

[2017-10-27 20:59] matozoid opened #1217 "More receiver parameter trouble"
The current rule that constructors cannot have a receiver parameter is incorrect. Constructors of inner classes *can* have a receiver parameter of their outer class, it seems, so not only should the location of the receiver parameter field be moved up to CallableDeclaration, the validation should also be weakened or removed.

[2017-10-28 12:50] gunnarmorling commented on #1185
Do you have any details what's the problem exactly? I might be able to help you, as we've gathered some experiences with Java-9-enabling the Hibernate projects.

[2017-10-28 13:04] gunnarmorling opened #1218 "Provide a refactoring API"
Hi, I've played around a bit with the [Netflix Rewrite API](https://github.com/Netflix-Skunkworks/rewrite/) which allows you to perform code refactorings in an automated way (e.g. to rename members, alter method invocations etc.). One great use case is that library authors -- when releasing a new version with API changes -- can ship refactorings to their users, allowing them to adjust the code usi

[2017-10-28 18:03] matozoid commented on #1185
It was some plugin misbehaving, not sure which one anymore. I thought it better to stay at 8 for a year or so, until other people went through all the upgrade pain ;-) I can add it here if I try again.

[2017-10-28 18:54] matozoid commented on #591
I'm building a toy project that translates Java into Commodore 64 BASIC. I immediately missed a feature in JavaParser, and I'm building it now. It's a minimal implementation of what [http://www.rascal-mpl.org/](Rascal) does, mixed with the regular expression approach:

[code]

I'm not sure how to match something like "a method with any combination of modifiers" when I can also match "a public stat

[2017-10-28 19:03] matozoid commented on #1218
Funny, because I'm writing a little API for transforming the AST right now :-) (#591) But that seems much lower level than what you're suggesting.

I'm doubting if this is a thing for this project, or more for a project for someone else to write using JavaParser. There is a lot in place already: lexical preservation to regenerate the original source with formatting intact, SourceTree which will op

[2017-10-31 12:21] matozoid opened #1219 "Move @Generated generator up"
Instead of having a line to add it to every generated method in all of the generators, put it in the main "replaceBlahBlahMethod"

[2017-10-31 13:10] matozoid commented on #776
This is a funny variation on this: #1214

[2017-10-31 15:19] ftomassetti commented on #1218
I really like this topic and it is one of my goals. I think that one challenge would be the ability to express concisely the refactoring patterns. As @matozoid pointed out some features of JavaParser has been built with supporting refactoring in mind. For example comments attribution (i.e., you move a node and the associated comments move with it) and lexical preservation (i.e., we preserve the or

[2017-10-31 15:20] ftomassetti commented on #591
Nice! I was trying to build something like this when we were working on the patterns library. I should have some code somewhere...

[2017-10-31 15:58] matozoid commented on #1218
Looks like we have a volunteer :-D

[2017-10-31 16:00] matozoid commented on #591
Patterns library? The matcher library? I think it would complement this feature very well!

[2017-10-31 16:52] gunnarmorling commented on #1218
Cool, that's great to hear!

Yeah, so we'd need a way to select to element(s) to refactor (some expression of sort) and then an API describing the changes to perform.

Agreed, they are absolutely key. I was very impressed by Netflix Rewrite in this regard, as it kept formatting perfectly fine (at least in my admittedly rather simple experiments).

+1 That was my thinking as well, it should be a se

[2017-10-31 18:19] matozoid commented on #1218
If you guys think up a nice name, I can make a new project :-)

[2017-11-01 17:15] ftomassetti commented on #1218
And we need to figure out who does what. Is someone willing to take the lead on this one? @gunnarmorling ?

[2017-11-02 18:59] leus opened #1220 "Format multiline Javadoc and block comments on pretty printing"
When generating Javadoc (like this):
[code]

We get the following generated code:
[code]
I would like to get something like this, perhaps modifiable via pretty printer configuration:

[code]

[2017-11-02 21:23] matozoid commented on #1220
Yes, we all do :-) There is currently no support for this. Now that you mention the pretty printer, we might be able to force some correct indentation in there...

Prepending " *" to every line seems more of a "reformat" option. It is completely valid *not* to have a * preceding a line in a Javadoc - but I don't think it's too much trouble to do `setJavadocComment("line1\n * line2\n * line3\n");`

[2017-11-03 10:38] matozoid opened #1221 "Try out javacc 7 table driven code generation"
See the javacc wiki for the new secret option

[2017-11-03 21:06] matozoid opened #1225 "Move to JavaCC 7"
We need https://github.com/phax/ph-javacc-maven-plugin/issues/2 to be solved.

- we should be able to give the token manager a superclass
- we should be able to do #1221

[2017-11-03 21:33] matozoid commented on #820
Some thoughts:
- I'm not sure the code generated by JavaCC is included correctly. We never seem to get much above 60%
- a lot of code in src/main/java is generated by us. I don't feel a need to test all of it, so coverage will never be high

[2017-11-04 13:45] ftomassetti commented on #1203
Should this one by closed?

[2017-11-04 22:13] matozoid commented on #1203
I think so. Open another issue if I'm wrong, @stefan-reich .

[2017-11-04 22:13] #1203 closed, assigned to nobody

[2017-11-05 13:09] #1217 closed, assigned to matozoid

[2017-11-05 14:53] matozoid commented on #1220
Okay, that was really pretty easy, and I reconsidered the solution towards what you suggested:
- do a little reformatting (on empty lines, on leading stars) next to indenting. It's a pretty printer, it is reformatting all the time so my argument was silly.
- `BlockComment` is a completely different case and stays as it was. Block comments can be anywhere and in any shape for any purpose, so I can'

[2017-11-05 17:30] #1220 closed, assigned to nobody

[2017-11-07 09:04] ftomassetti commented on #591
Yes, I meant the matcher library. It could become part of this project

[2017-11-07 16:15] matozoid commented on #1225
https://github.com/phax/ph-javacc-maven-plugin/releases/tag/ph-javacc-maven-plugin-3.0.0

[2017-11-07 19:43] ftomassetti opened #1230 "Add method "isAnonymousClass" in ResolvedTypeDeclaration"

[2017-11-07 20:38] matozoid opened #1232 "Help Artemis-ODB update their dependency"
https://github.com/junkdog/artemis-odb is still on 2.5.1

[2017-11-07 20:39] matozoid opened #1233 "Help btrplace update their dependency"
https://github.com/btrplace/scheduler is still on 2.5.1

[2017-11-07 20:40] matozoid opened #1234 "Help JQL update their dependency"
https://github.com/benas/jql is on an ancient version

[2017-11-07 20:41] ftomassetti commented on #1233
Do we need a new label for these issues?

[2017-11-07 20:55] matozoid commented on #1233
I'm not sure what it would be? "Promotion"?

[2017-11-07 21:43] matozoid commented on #1221
Okay, this is currently completely broken.

[2017-11-08 10:08] ftomassetti commented on #1233
Maybe "Projects using JP" or "External"

[2017-11-08 18:05] matozoid commented on #1232
https://github.com/junkdog/artemis-odb/pull/506

[2017-11-08 18:44] matozoid commented on #1233
https://github.com/btrplace/scheduler/pull/165

[2017-11-08 19:30] matozoid commented on #1234
https://github.com/benas/jql/pull/9

[2017-11-08 23:55] stefan-reich commented on #1202
It is [JavaX](http://javax.tinybrain.de) :-) - the Java I use for making the future's AI.

[2017-11-08 23:57] stefan-reich opened #1236 "I think there is a bug with unicode string literals"
Hi fellas,

I have this code:

[code]
and it seems the JavaParser mangles it into, ultimately, "?".

Has this been tested? I encode all my Java sources as UTF-8 - but it shouldn't matter anyways as it is ecaped as \u, as you see.

I think there really is a bug in the parser/pretty printer.

Greetings,
Stefan

[2017-11-09 09:52] matozoid commented on #1236
Take a look at #801 and #600 - it looks like there is no pretty solution for this, but we can give some priority to this again.

[2017-11-10 03:56] stefan-reich commented on #1236
Ah, thanks. The comments say "not fixable"? Hmm...

[2017-11-10 05:36] DinethUWU opened #1237 "Not identified JavadocComment If there has space between method (or class)"
ex
This one doesn't identified.

/**
 * @scr.component name="identity.query.saml" immediate="true"
 * @scr.reference name="user.realmservice.default"
 * interface="org.wso2.carbon.user.core.service.RealmService" cardinality="1..1"
 * policy="dynamic" bind="setRealmService" unbind="unsetRealmService"
 */

public class SAMLQueryServiceComponent {

But below  one is ok.

/**
 * @scr.component name="i

[2017-11-10 06:19] #1237 closed, assigned to nobody

[2017-11-10 10:30] sdrgroup opened #1238 "an error happened, when I parse the code of log4j"
the version of javaparser is 3.5.2 in Ubuntu.
Error is attached.
It is because of a method in log4j that is named with assert in Category.java.

[code]

Could you solve this?

[code]

[2017-11-10 21:26] matozoid commented on #1236
What do you mean?

[2017-11-10 21:33] matozoid commented on #1238
Thanks for the report!

`assert` is a keyword and cannot be used like that since Java 1.4, so I guess you're parsing really old code (I can only find `assertLog` in Category.java). Sadly you've run into a rather obscure case that is hard to support (#1019) but if you can't upgrade that code I can take a look.

[2017-11-10 23:47] #1225 closed, assigned to matozoid

[2017-11-10 23:48] stefan-reich commented on #1236
Nevermind

[2017-11-11 00:36] loren138 commented on #1236
I'd love to have a solution as well.  Looks like I may need to do my work at the byte code level until there is a fix.  (I'm trying to reduce test classes down to one function so I can run just one that I'm interested in, but this issue mangles the input such that the test passes on the buggy and fixed code.)

`final String input = "\ud842\udfb7" + "A";`

[2017-11-11 00:49] mirajp1 opened #1239 "Parsing multiple files into single CompilationUnit object to generate a single AST."
As the title says, I want to parse multiple java files into a single CompilationUnit object so I can get a single combine AST from all the files. I have looked into javadoc of CompilationUnit which says that it represents singe java file. Currently, if I try to concatenate code of all java files and pass it into the JavaParser.parse() method, it throws an exception as shown below:

[code]

It look

[2017-11-11 01:03] matozoid commented on #1239
Hi @mirajp1, a compilation unit always has a 1:1 correspondence with a Java file. Trying to parse multiple Java files into one compilation unit will lead to questions like "which package is this in? There are so many package declarations!" or "what does `List` mean here? There are imports for java.awt.List, java.util.List...". I hope that explains why this approach won't work.

Java files are orga

[2017-11-11 01:06] matozoid commented on #1236
@loren138 take a look at the PR I just started :-)

[2017-11-11 03:40] mirajp1 commented on #1239
Hii @matozoid ,
Thank you for your prompt response.
I understand why it won't work with a single CompilationUnit. I will have a look at that SourceRoot utility and see how it works in my case.
I want a single AbstractSyntaxTree generated from JsonPrinter for whole source directory instead of multiple different AST for each file.

Thank you once again.

[2017-11-11 13:07] ftomassetti commented on #543
Not sure this one would be an easy one

[2017-11-11 13:09] ftomassetti commented on #794
There are currently 581 usages of ObservableProperty:
![screen shot 2017-11-11 at 14 09 06](https://user-images.githubusercontent.com/439078/32689746-f602e726-c6e9-11e7-8cd1-939c2d98c9ae.png)

[2017-11-11 14:17] matozoid commented on #794
Sounds like quite some work ;-)

[2017-11-12 06:45] IrfanKhanKakar commented on #747
Hi, i have a File which contain Java projects,
know i want parser this file and generate UML Class diagram.

but when i writ  : 	CompilationUnit compilationUnit = JavaParser.parse(file);

its give me an Error, due to CompilationUnit not import in java package,

i try a lot to load http://javaparser.org    library in my eclipse, but its not working.

kindly anyone help me........................

[2017-11-12 09:16] SmiddyPence commented on #747
Hi,

This is now a closed issue if you have questions I recommend using the public chat [channel](https://gitter.im/javaparser/javaparser?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

There is also usage documentation on the [Wiki](https://github.com/javaparser/javaparser/wiki) and in the [Book](https://leanpub.com/javaparservisited)

In the case you describe it sound

[2017-11-12 14:47] #600 closed, assigned to nobody

[2017-11-12 14:47] #801 closed, assigned to nobody

[2017-11-12 14:47] #1236 closed, assigned to nobody

[2017-11-12 15:06] matozoid opened #1242 "Obscure issue with unicode escapes"
`'\u005cn'` is a valid character. It works by preprocessing `\u005c` to `\`, so we have `\n` left.

I'm not sure what to think of this. It's in the JDK source: https://alvinalexander.com/java/jwarehouse/openjdk-8/jaxws/src/share/jaxws_classes/com/sun/xml/internal/rngom/parse/compact/CompactSyntax.java.shtml

Note: Intellij also thinks this is illegal.

[2017-11-12 16:25] #1230 closed, assigned to ftomassetti

[2017-11-12 16:49] matozoid commented on #801
I'm not sure if I'm correct in closing this one - it seems the fix I did is not as comprehensive as what is happening here.

[2017-11-12 19:07] matozoid commented on #1214
It's not really refreshing much, is it?

[2017-11-12 20:57] matozoid commented on #1238
@sdrgroup so let me know if you can work around this, okay?

[2017-11-13 09:06] sdrgroup commented on #1238
the code of log4j I got from github, https://github.com/apache/log4j. I observe that it updated many years ago. maybe you don't need to support it.

[2017-11-13 12:47] matozoid commented on #1238
Oh wow, yes, that's a very old version!

[2017-11-13 15:04] sebkur opened #1244 "Bug with `ClassOrInterfaceDeclaration.remove(MethodDeclaration)`"
I'm parsing some source code, transforming it (removing some methods) and then rewriting it using `LexicalPreservingPrinter` to preserve the original formatting as close as possible. Works fine in general, but I stumbled upon some code for which this does not work. Here's a minimal test case:

    package de.topobyte;

    import java.io.IOException;
    import java.util.List;

    import com.gith

[2017-11-13 15:07] sebkur commented on #1244
It has something to do with the whitespace between the comment and the method that's being removed. Like the comment in the source code states, when using no empty lines in between the comment and the methods itself, no exception gets thrown.

[2017-11-13 19:02] ftomassetti commented on #1244
Great bug report, thank you!

[2017-11-13 19:22] ftomassetti commented on #1244
The issue is that while we are looking for a certain node to be eliminated we find another node instead: the comment. I am adding the logic to look into the comment and see if it is associated to the node to be eliminated. If this is the case we eliminate also the comment, otherwise we keep it.

[2017-11-13 20:16] #1219 closed, assigned to matozoid

[2017-11-13 20:24] #1211 closed, assigned to matozoid

[2017-11-13 20:25] #1210 closed, assigned to matozoid

[2017-11-13 20:25] matozoid commented on #1218
I don't think @gunnarmorling is interested ;-)

[2017-11-13 20:41] gunnarmorling commented on #1218
Hey, I'd definitely be interested, it's only that I don't think I can make time for working on it in the next few weeks. So it may be the safer bet if someone else would take the lead, if someone would be willing to do so. I'd be happy to providef feedback on specific API proposals, though, and it may also look a bit better for me in December/January.

[2017-11-13 20:45] malteskoruppa opened #1247 "IfStmt.hasElseBlock() does not work correctly"
The `IfStmt.hasElseBlock()` method exhibits a somewhat surprising behavior. Consider:

[code]
The above prints `false`. Granted, the else-branch is not a block, but a single statement. And indeed,
[code]
...prints `true`. All of that would be fine. However, the following...
[code]
...prints `true` too. But why? In the latter case, the else-branch consists of a single statement (namely, another if-

[2017-11-13 21:09] matozoid commented on #1247
@ftomassetti - this method is your creation, so I'll leave it to you :-)

[2017-11-14 07:18] lvc commented on #1214
@matozoid,

The image in the message is not refreshed, but the page content at https://abi-laboratory.pro/java/tracker/timeline/javaparser-core/ is refreshed daily. Current version is `3.5.3`.

Is there snapshot jar for the library to add to the tracker?

Thank you.

![javaparser-core-3](https://user-images.githubusercontent.com/1517837/32767544-e28ac38e-c924-11e7-9736-930acbc07e43.png)

[2017-11-14 09:12] ftomassetti commented on #1247
I will try to take a look at this tomorrow

[2017-11-14 14:12] un0btanium opened #1248 "tabulator counts as 4 characters in editors, leading to wrong column values"
Hello there,

this is just a small problem i am having with the column values provided by the nodes. They are slightly off, when comparing to most IDEs and editors. They use 4 characters for a tabulator by default, compared to the 1 character JavaParser uses.
I tested this with Eclipse, Sublime Text, IntelliJ and Visual Studio Code, all of which count tabulator as 4 letters.
This obviously is just

[2017-11-14 14:35] matozoid commented on #1248
Hello @un0btanium - will `tabSize` in `ParserConfiguration` do the trick for you?

[2017-11-14 15:03] un0btanium commented on #1248
Yes, it did. How was i able to miss that?!
Your tool gets greater by the minutes 👍

[2017-11-14 15:03] #1248 closed, assigned to nobody

[2017-11-14 19:33] #1244 closed, assigned to ftomassetti

[2017-11-14 21:57] sebkur commented on #1244
Great, thanks for the quick fix!

[2017-11-15 09:04] malteskoruppa commented on #1247
Wow, that was fast! :smile: Thank you very much!

As far as I'm concerned, this can be closed. Unless there is a reason to keep it open for a little while longer?

[2017-11-15 09:09] ftomassetti commented on #1247
We need first to merge the PR :)

[2017-11-15 18:36] matozoid commented on #1242
@hydroper - does that thumbs up mean you really need this fixed? ;-)

[2017-11-15 18:57] matozoid commented on #1207
No response, closing.

[2017-11-15 18:57] #1207 closed, assigned to nobody

[2017-11-15 18:58] matozoid commented on #1233
Done!

[2017-11-15 18:58] #1233 closed, assigned to matozoid

[2017-11-15 21:04] matozoid commented on #655
If someone wants to work on this, check out my attempt at using that plugin: https://github.com/matozoid/javaparser/tree/issue_655_license_headers

It seems too limited, but maybe someone wants to open some issues there?

[2017-11-16 02:58] #1238 closed, assigned to nobody

[2017-11-16 10:22] ghost commented on #1242
@matozoid Personally I don't need, but it's always cool to follow standards, right? This might be an compiler extension. Though... Esprima (ECMAScript parser) had a little bug exceeding A-F and a-f.

The Java spec. shows `UnicodeInputCharacter :: UnicodeEscape` just uses 4 hexadecimal digits. So, this might be an extension.  Even ECMAScript doesn't support that, so I think it's true :smile:

[2017-11-16 14:05] matozoid commented on #1242
That's exactly the problem: since last release we do not follow the standard anymore :-D We used to convert all unicode escapes to actual characters before we even started parsing. Then the parser would simply see "\n" here and everything would be fine. So I'm wondering why I even reported this because I caused it on purpose ;-)

[2017-11-16 14:10] #1247 closed, assigned to ftomassetti

[2017-11-16 21:18] loren138 opened #1251 "Extra Generic Type Added"
I'm having an issue where exporting duplicates a generic where one should not be.
I had to change all the file extensions to `.txt` from `.java` so I could attach them.

In particular in the input file:

      public TypeUtilsTest<String>.Tester tester;

Becomes in the output file:

     public TypeUtilsTest<String>.Tester<String> tester;

The parser I'm using is v3.5.3 on JDK 1.8:

[code]

[TypeU

[2017-11-16 21:50] matozoid commented on #1251
Ouch, thanks!

[2017-11-17 22:15] #1251 closed, assigned to matozoid

[2017-11-18 11:52] Cale-92 opened #2073 "CombinedTypeSolver does not solve user defined method declaration"
Hi! My problems are related to the CombinedTypeSolver class. Although i've specificied the correct folders where to look for user files, some method calls are not solved at all otherwise some others are.

    public static CombinedTypeSolver typeSolver() {
	CombinedTypeSolver combinedTypeSolver = null;
	try {
		combinedTypeSolver = new CombinedTypeSolver();
		combinedTypeSolver.add(new JavaParserT

[2017-11-21 13:17] malteskoruppa opened #1253 "Parsing try-with-resources does not work correctly"
Java 9 introduced the possibility to specify already declared final or effectively final resources within a try-with-resources statement (instead of having to declare a resource).

This does not work with JavaParser. The following code:

[code]

throws an exception:

[code]

I verified that this happens with JavaParser 3.5.4, which was released yesterday.

Yet, the very example given above is take

[2017-11-21 13:39] malteskoruppa commented on #1253
Oops, my bad. :smiley:

The following works fine:

[code]

I was unaware that JavaParser still parses in Java 8 mode by default.

[2017-11-21 13:39] #1253 closed, assigned to nobody

[2017-11-21 18:08] matozoid commented on #1253
Hmmm, maybe we should set it to 9, you're the second one to fall for this :-) @ftomassetti @SmiddyPence what do you think?

[2017-11-21 18:26] ftomassetti commented on #1253
It could make sense to set it to 9.
In the future it could become complicate as new releases of Java are expected to arrive every 6 months.
My expectation is that it will be a huge mess with people stuck to Java 5 and people running Java 14. So at some point it could become hard to pick a default and we may want to make the choice explicit.
Or otherwise pick as a default the last version available

[2017-11-21 18:31] matozoid commented on #1253
As long as the releases stay backwards compatible it should be fine to set it to the latest version - another option is to simply disable the validations, but then we would accept a lot more invalid Java.

[2017-11-21 18:34] matozoid opened #1254 "Set default version to 9"
People are tripping on JP being set to validate Java 8 syntax :-) See #1253

[2017-11-21 19:57] ftomassetti commented on #1242
Yes, I just found this case while running the tests for JSS :)

[2017-11-22 13:17] DeepSnowNeeL commented on #1253
Why not asking for it instead of making it a default value ?

[2017-11-22 18:33] Cale-92 opened #1255 "Document ways to modify code on disk"
I would like to ask You a question about JavaParser. I'm writing a simple piece of code which modifies the original CompilationUnit by adding a method. My question refers to the possibility of saving these modifications permanently in a file, the same one or another. Is this possible with JavaParser?

P.S I don't know how to mark this post as a question

[2017-11-22 20:10] matozoid commented on #1242
Uhhh, so @ftomassetti - do you want this fixed then? :-D

[2017-11-22 20:11] matozoid commented on #1253
Because you would have to ask for it each and every time you want to parse something. Or am I missing something?

[2017-11-22 20:11] ftomassetti commented on #1242
Well, I just changed the source code used in the tests :D

[2017-11-22 20:14] matozoid commented on #1255
Hi! It's marked now :-)

Option 1: look at `CompilationUnit.getStorage()`, it has some methods for this.
Option 2: (more elaborate) look at `SourceTree` which will let you deal with a directory full of source files.

[2017-11-22 20:15] matozoid commented on #1242
Good, I think it's the kind of obscure stuff that no programmer will ever write :-)

[2017-11-23 15:07] ftomassetti commented on #2073
I would not add this:
[code]
I would only add the root:
[code]

[2017-11-25 08:24] ftomassetti commented on #1255
Probably we need an article or an item in the FAQ for this question as it seems a typical usage of JavaParser

[2017-11-25 09:35] ftomassetti opened #1256 "JavaParser parse method"
Sometimes I get confused by the parse method.

The static parse method of JavaParser is exacly what users are looking for I think. It takes a string and give me back the AST: how can things be simpler and nicer than that? Perfect!

The problem is that when I instantiate JavaParser because I want to pass a configuration then I would be tempted to use this method, which however is static so it would

[2017-11-25 11:17] ftomassetti opened #1257 "Revise UnionType and ResolvedUnionType"
* `UnionType.isReference()` should return true
* The costructor of ResolvedUnionType should take a list and not a collection because order is meaningful

[2017-11-25 16:44] ftomassetti opened #1259 "Consider using the maven-license-plugin"
It should help ensuring all the files have the right license message

[2017-11-25 17:53] matozoid commented on #1259
Check the previous issue on this and the comments :-)

[2017-11-25 17:57] ftomassetti commented on #1259
My bad :)
Closing as duplicate of #655

[2017-11-25 17:57] #1259 closed, assigned to nobody

[2017-11-27 14:23] Cale-92 opened #1260 "Get the object associated with the scope of a MethodCallExpr"
Is there the possiblity to get the object associated with scope of a MethodCallExpr?
For example:

    ClassExample b = new ClassExample();
    b.get(pattern[i]);

It is possible to take the object b of ClassExample? I've tried to use

    methodCallExpr.getScope().get();

but it returns an object of class NameExpr and not the object scope associated with method call.

[2017-11-27 14:31] ftomassetti commented on #1260
well, in that case the scope is defined as `b`, which is a NameExpr. Then you could ask JavaSymbolSolver to tell you the type of `b` and JSS should be able to tell you that `b` in that context has type `ClassExample`.

[2017-11-28 21:10] rahiminasab opened #2072 "Cannot resolve variable type which is defined in another java file"
I have two simple classes as follows defined in two separate java files in a same directory:
----------------------------------------- A.java
[code]
-----------------------------------------B.java
[code]
----------------------------------------

I instantiate my typesolver as follows:

`typeSolver = new CombinedTypeSolver(new ReflectionTypeSolver(), new JavaParserTypeSolver("...path...to.../sample

[2017-11-29 10:18] ftomassetti commented on #2072
Hi @rahiminasab I think you should not specify the directory "sample1" but its parent, which is the root of the Java source code. This is an issue happening again and again and we should provide better messages to figure out the issue

[2017-11-29 10:20] ftomassetti opened #2071 "Track where typesolvers looking while resolving symbols"
In this way problems like the one in #353 will be easier to recognize, because the message would say where the typesolver looked for the type.

[2017-11-29 12:11] matozoid commented on #2071
Maybe checking if the package statement matches the directory is useful?

[2017-11-29 12:41] rahiminasab commented on #2072
Thanks @ftomassetti .
That unfortunately didn't help. As you suggested, I gave "...path...to.../src" as the argument of the JavaParserTypeSolver.
src directory only contains "sample1" package and again I get the same error.

I think the problem is that (correct me if I'm wrong) 'JavaParserFacade.get(typeSolver).getType(var);' only examines one CompilationUnit which is the CompilationUnit in which

[2017-11-29 15:55] #1257 closed, assigned to ftomassetti

[2017-11-29 15:57] matozoid opened #1262 "Mark optional properties with an annotation"
Currently we look at their getter, to see if it has an Optional as return value, which makes the metamodel generator depend on an existing getter. This is not the case when you just added a new field. However, we need the metamodel to run the getter/setter generator. The only way out is to create a messy temporary getter which is just a bit naff.

[2017-11-30 16:32] ftomassetti opened #1263 "Add possiblity to silence logs in SourceRoot"

[2017-12-01 09:34] matozoid commented on #1263
It's pretty easy to do if you investigate the Log class. I can write a little article.

[2017-12-02 19:38] matozoid commented on #1263
I missed a few questions here:
- SourceRoot is the only thing currently creating output. Do you want to silence this component, or all of JP?
- would you prefer being able to switch it off, or it being off by default and being able to switch it on?

[2017-12-03 12:36] matozoid commented on #1260
Assuming this is answered.

[2017-12-03 12:36] #1260 closed, assigned to nobody

[2017-12-03 12:36] matozoid commented on #1239
No problem!

[2017-12-03 12:37] #1239 closed, assigned to nobody

[2017-12-03 12:37] #1232 closed, assigned to matozoid

[2017-12-03 12:46] matozoid commented on #1256
I get the problem, I've had it a few times myself (although the IDE quickly helped me out.)

Some reasons why I merged `JavaParser` and `JavaParserInstance` for 3.0.0:
- naming something "instance" sounds like bad design to me. "instance" is not part of a type.
- `JavaParser` is a nice and simple starting point. Where should I start to use JavaParser? Well, try class `JavaParser`.

Side note: I wr

[2017-12-03 14:41] ftomassetti commented on #1263
If SourceRoot is the only things creating output it is the only thing to silent, or am I missing something?
I would suggest that by default it should be off

[2017-12-03 14:45] ftomassetti commented on #1256
Yes, it is not trivial. Maybe we could have JavaParser to expose a static method named "defaultInstance" and do all the parsing through instance methods. It would be slightly more cumbersome for users getting started, which is a drawback.

Alternatively we could make the static methods starts with default like `defaultParsing`.

The symptom for me is that either I just use the very nice & simple `

[2017-12-03 16:23] matozoid commented on #1263
Oh, I mean: do you want logging filtered on component, like most logging libraries do, or do you just want to turn off everything? - but from your answer it seems you want everything ;-)

[2017-12-03 17:38] matozoid commented on #1256
It would make a lot of sense to turn all the static methods into normal methods, and to remove the static instance completely... People should be able to define their JP instance as a constant somewhere in their code, giving them the same situation as now.

[2017-12-03 17:39] #1263 closed, assigned to nobody

[2017-12-04 11:51] malteskoruppa opened #1265 "Do lambda expressions always have either an expression body or a BlockStmt body?"
Question:

Can I assume that, if `lambdaExpr.getExpressionBody().isPresent()` returns `false`, then in this case, `lambdaExpr.getBody()` will always return a `BlockStmt`?

Or can there be situations where `lambdaExpr.getExpressionBody().isPresent()` returns `false`, but `lambdaExpr.getBody()` still returns a `Statement` that is not a `BlockStmt`? If yes, could you give a simple example?

Thank you

[2017-12-04 15:06] matozoid commented on #1265
@ftomassetti - you've added `getExpressionBody` - can you explain?

[2017-12-04 16:28] malteskoruppa commented on #1265
Just to clarify: AFAIK, lambda expressions can be either declared using a simple expression, or using a block of code like a method.

**Scenario 1**: using a simple expression, for instance:
`Predicate<SomeType> checkSomething = someType -> someType.hasSomeProperty();`

**Scenario 2**: using a block of code like a method, for instance:
[code]

In scenario 1, `getExpressionBody()` would contain the

[2017-12-04 20:52] matozoid commented on #1265
Yes, the body of a lambda expression can be a block statement or an expression statement. The JLS says:
[code]
so that is correct.

In my opinion, `getExpressionBody()` isn't the right tool to figure out which one it is. I'm not sure why it is there at all, so that's why I'm calling @ftomassetti :-)

If I were to handle a lambda expression body, I would probably go for one of these:

[code]

I'm n

[2017-12-05 10:07] matozoid opened #1267 "Create mapXyz in addition to ifXyz"
We have nice new methods to deal with subclasses of nodes, like "ifSwitchStmt" "asSwitchStmt" and so on.

I'm missing one that works like `map`: it returns a result if the node is of some subtype, and empty if not.

Suggestions:
`T withSwitchStmt(Function<SwitchStmt, T> f)`
`T mapSwitchStmt(Function<SwitchStmt, T> f)`
or maybe one that simply returns an `Optional<SwitchStmt>` and you can do with i

[2017-12-05 15:01] jjbr opened #1268 "Calling getMembers() on a BodyDeclaration yields Unexpected Results"
Take the following example code:

[code]

Now replace the line beginning with "ClassOrInterfaceDeclaration td = " with "TypeDeclaration td = new ClassOrInterfaceDeclaration();" and the code will not compile any more, spitting out following error message:
[code]
 td.getMembers() is the same method in both cases, yet for some reason I cannot simply get the BodyDeclarations from the result, if we are

[2017-12-05 15:55] malteskoruppa commented on #1265
Thanks! Yes it does answer my question, and not only that, it even tells me two much more elegant ways than making a case distinction on `getExpressionBody().isPresent()` to deal with the two types of lambda expressions that exist. Thank you! :smiley:

I'll admit that the presence of `getExpressionBody()` somewhat added to my confusion in the first place. If there was only the method `getBody()` a

[2017-12-05 17:41] matozoid commented on #1268
`TypeDeclaration` has a generic parameter. An IDE should automatically add it. You can use `TypeDeclaration<?>` most of the time. Without it, Java sends you into the pre-generics world where nobody wants to be :-)

We're trying to get rid of the generics, but that's another story.

[2017-12-05 17:46] matozoid opened #1269 "Redo LambdaExpr.body"
LambdaExpr.body is currently a `BlockStmt` or an `ExpressionStmt`, referenced as a `Statement`. This is a little silly since the JLS says nothing about an expression *statement*, just an expression.

Refactor body to be a reference of type `Node` to a `BlockStmt` or an `Expression`.

This could use the casting methods like if.. as.. is...

(See also #1265 )

[2017-12-05 19:23] matozoid opened #1270 "Give LambdaExpr.getExpressionBody a better name"
See #1265

Needs input from @ftomassetti :-)

[2017-12-05 19:24] matozoid commented on #1265
Thanks for all the feedback - I think I managed to put it all into issues :-) If you like, check out PR #1266 to see if that looks okay to you

[2017-12-06 10:54] jjbr commented on #1268
Right, my bad - thanks for the help :).

[2017-12-06 11:09] ftomassetti commented on #2071
yes, but it would mean starting to parse the Java files. What if they are not consistent? Maybe some have a package declaration and others a different one

[2017-12-06 11:55] malteskoruppa commented on #1265
Thank you again for all your support! :smile:

I just had a look at PR #1266. Looks great. Perhaps, an additional Javadoc comment for `getBody()` would be nice, which (re-)states that the returned value is either a BlockStatement or an ExpressionStatement.

I agree with #1269 -- it would be better if `getBody()` returned a Node that is either a BlockStatement or an Expression. Once that is done, `

[2017-12-06 13:28] malteskoruppa opened #1271 "Introduce a wildcard type parameter for visit(NodeList n, A arg) in VoidVisitor and GenericVisitor"
I have a class that implements the VoidVisitor interface. Currently, I have something like this in my code:

[code]

This is a bit ugly, I would prefer to have this:
[code]

But, of course, I have to implement the method specified in the interface. Could the VoidVisitor and the GenericVisitor not prescribe the method `visit(NodeList<?> n, A arg)` (or maybe `visit(NodeList<? extends Node> n, A arg)

[2017-12-06 13:40] matozoid commented on #1271
The answer is disappointingly short: check out #1056 :-/ (Although a fix is scheduled for 4.0.0)

[2017-12-06 13:59] malteskoruppa commented on #1271
Ok. I'm happy to hear a fix is scheduled for 4.0.0. Implementing this change in 3.x would break backwards compatibility with earlier 3.x releases anyway, I suppose you don't want to do that (I know I wouldn't).

Ah, I wish I had the time to experiment with this and perhaps contribute a fix. :grinning: Alas! No land in sight for the next a few months, I have so much work elsewhere. :-/

[2017-12-06 13:59] #1271 closed, assigned to nobody

[2017-12-06 17:37] matozoid commented on #1268
No problem!

[2017-12-06 17:37] #1268 closed, assigned to nobody

[2017-12-06 17:38] matozoid commented on #1270
#1269 makes this one redundant.

[2017-12-06 17:38] #1270 closed, assigned to nobody

[2017-12-06 17:42] matozoid opened #1272 "Add specific type checks to setters & generate javadoc for them"
A property like LambdaExpr.body has a wide type like `Statement` where only `BlockStmt` or `ExpressionStmt` are allowed. We could make up an annotation on that field like `@AllowedTypes({BlockStmt.class, ExpressionStmt.class})` and use it for code generation:
- the setter could check the type being set
- the getter and setter could be automatically javadoc'ed with those types.

[2017-12-07 18:27] leus opened #1273 "Create static synchronized initializer?"
Using the code generation methods, how can I add a synchronized call to a method?

[code]

[2017-12-07 20:06] matozoid commented on #1273
A good option is to parse what you want, then inspect the AST with a debugger or something like the YamlPrinter :-)

[2017-12-08 11:14] malteskoruppa opened #1274 "Javadoc for LocalClassDeclarationStmt is incorrect"
This is a very low priority issue, just thought I'd mention it in passing.

The Javadoc for LocalClassDeclarationStmt states:

That may have been true at some point, but it isn't any more. I just tried it with JavaParser 3.5.4: When I parse a piece of code that tries to declare an interface within a method, JavaParser (rightfully) throws a ParseProblemException with the following message:

This is

[2017-12-08 11:17] ftomassetti commented on #1274
We are so good that we can keep up with all the improvements we make :D
Thank you, we will correct it!

[2017-12-08 13:31] matozoid commented on #1274
Interesting aside: that error is generated by the semantic validation "framework" that was built earlier this year :-) https://matozoid.github.io/2017/04/11/validations.html .

(If you turn them off, JP will happily parse local interface declarations again)

[2017-12-08 15:22] ghost commented on #2071
A lot of issues seem to come from people not being able to add the src directories correctly, besides bugs. Why not add a method that searches and adds them for you?

I've been using the following:

[code]

So what it does is basically just going through every file in the project and checking the package declaration.
The src directory obviously ends when the package declaration begins in file.getP

[2017-12-08 20:50] matozoid commented on #1267
Going to use `toXyz`, and maybe replace `asXyz` with it in 4.0.0.

[2017-12-09 01:52] malteskoruppa commented on #1274
Very interesting article! :+1:

[2017-12-09 10:41] attiand opened #1277 "ModifierVisitor and LexicalPreservingPrinter"
Thanks for providing LexicalPreservingPrinter. I try to add a chained method call for each found method call in a ModifierVisitor but I receive a UnsupportedOperationException when using LexicalPreservingPrinter.

[code]

Givs me:
`
java.lang.UnsupportedOperationException: kept child(ClassOrInterfaceType) vs "String"   <89>   (line 2,col 10)-(line 2,col 15)
`
If I remove the _message_ attribute it

[2017-12-09 12:31] ftomassetti opened #1278 "Add constructor to SourceRoot taking ParserConfiguration"
It would look like:

[code]

[2017-12-09 15:24] EndruK opened #1280 "JSON/XML/YAML back to AST"
Hi, is there a way to parse the text representation back to an AST?

[2017-12-09 18:01] matozoid commented on #1280
Nope, they are only meant for visual inspection. Try using a proper serialization library like jaxb or so.

[2017-12-10 05:10] davidsusu opened #1281 "Is initialization of a for loop really a list?"
For what reason does `ForStmt.getInitialization()` return with `NodeList<Expression>`? Souldn't it return with an `Optional<VariableDeclarationExpr>`? Is there any situation when the result contains more then one element?

**Update**
I just appended an additional `VariableDeclarationExpr`, and reprint the code. The result:

[code]

Of course, this is a syntax error.

[2017-12-10 08:57] ftomassetti commented on #1281
...but this is not :)

![screen shot 2017-12-10 at 09 56 45](https://user-images.githubusercontent.com/439078/33803438-7eab3094-dd90-11e7-96da-3a2d8a5cf54a.png)

[2017-12-10 08:58] ftomassetti commented on #1281
So we could have different variables some of which are initialized and some of which are not

[2017-12-10 09:53] davidsusu commented on #1281
@ftomassetti Thank you for the quick response! However, at least for me, this SSCCE:

[code]

prints this:

    Size: 1
    Expression: <<int a, b = 0>>

<strike>I have experimented a bit, and I have a (complex) code, where `for (int i, j = array2.length - 1;` parsed to a **single** item, wich contains **only** `j = array2.length - 1` (!).</strike>

[2017-12-10 10:51] ftomassetti commented on #1281
This sounds like a bug, I guess JP is unhappy when you have an element that is initialized and one that is not. Marking this issue as a bug report.

[2017-12-10 11:01] ftomassetti commented on #1281
I tried both cases and they seem to work:

[code]

It is true that probably `getInitialization` should return a single element and not a list but beside that the information seem to be present and correct. It is just that it could be in a form slightly different from what you expect, or am I missing something?

[2017-12-10 11:34] davidsusu commented on #1281
You are right.

You can remove the 'Bug report' tag, because `int i` was erased by *my* code.

[2017-12-10 11:53] matozoid commented on #1281
Behold the power of C in Java!

[code]

I'll add this to my upcoming article "features in Java that nobody wants." :-D

Link to the relevant JLS section: https://docs.oracle.com/javase/specs/jls/se9/html/jls-14.html#jls-14.14

[2017-12-10 12:02] matozoid commented on #1281
Oh wait, my mistake: the previous IS useful, because `for(int i=0...` is a variable declarator, but `for(i=0...` is an expression!

[2017-12-10 12:35] davidsusu commented on #1281
@matozoid This works, and JavaParser is in sync with my IDE's syntax analyzer.

So, initializer can be a single variable declaration, **or** a list of **limited** expressions (confusing!).

I will study the specs... Nevertheless, I got the answer to the original question.

[2017-12-10 12:49] matozoid commented on #1281
Thanks for the discussion, it has led to two PR's improving JavaParser :-)

[2017-12-10 12:50] #1267 closed, assigned to matozoid

[2017-12-10 12:59] #1278 closed, assigned to nobody

[2017-12-10 13:07] #1274 closed, assigned to matozoid

[2017-12-10 15:46] matozoid commented on #1265
Thanks!

[2017-12-10 15:46] #1265 closed, assigned to nobody

[2017-12-10 15:47] #1281 closed, assigned to nobody

[2017-12-10 20:43] matozoid commented on #1280
Okay, I tried with JAXB and YamlBeans, and they both have trouble. JAXB because everything needs annotations, and YamlBeans because it doesn't understand the code style very well. So your best chance to serialize/deserialize is the parser and the pretty printer (although that is not exact with comments) or using the lexical preserving printer (although that has some bugs) or you can print the toke

[2017-12-11 18:40] ftomassetti commented on #1277
The issue seems due to the fact it is trying to replace the message Variable declarator with itself. A fix for this is trivial, but still I should understand the root cause. Also, the produced code seems to have a couple of extra blank lines :(

[2017-12-11 19:45] #1277 closed, assigned to ftomassetti

[2017-12-12 10:10] matozoid commented on #1273
@leus - did you forget about this issue?

[2017-12-12 12:31] EndruK commented on #1280
Ok, nevertheless thank you for the fast answer :)

[2017-12-12 13:46] matozoid commented on #1280
If you want to see this improved, do open an issue :-)

[2017-12-12 16:19] gyfora opened #1286 "PhantomNodeLogic is not thread safe"
Hi all!

I ran into the following problem:

The IdentityHashmap based logic in https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/printer/lexicalpreservation/PhantomNodeLogic.java#L38
fails if multiple threads call JavaParser.parse(code) at the same time, as the IdentityHashmap (accessed statically) is not thread-safe. Leading to weird, hard to

[2017-12-12 17:17] #1280 closed, assigned to nobody

[2017-12-12 17:21] matozoid commented on #1286
Hmmm, I'm going to ask @ftomassetti if it's possible to have this cache per AST instead of globally... @ftomassetti ?

[2017-12-12 20:04] naddison opened #1287 "TypeParameters on MethodDeclaration not returning"
Hi, this is a question that I have not been able to find an answer for, even with incessant googling. I have a method with a signature:

`public Class<? extends String> P methodName(String arg)`

And I am unable to get the **Class<? extends String>** type argument from type field of MethodDeclaration. When printing the whole method with **toString()** (which prints through the Pretty Printer) I ca

[2017-12-12 20:31] matozoid commented on #1287
Hmmm, I assume that "P" got in there accidentally? Anyway, here is a good way to answer these kinds of questions:

[code]

[2017-12-12 20:35] naddison commented on #1287
Okay thank you for showing me how to print out the node, this helps greatly. The P is meant to be there.

I see that the Node is not picking up the TypeArguments

[code]

[2017-12-12 20:42] matozoid commented on #1287
Can you give the code that is producing this output so I can run it?

[2017-12-12 20:48] matozoid commented on #1242
There is no reason to implement this after having decided not to pre-parse unicode escapes, so closing.

[2017-12-12 20:48] #1242 closed, assigned to nobody

[2017-12-12 20:49] matozoid commented on #1209
I haven't done this yet since it seems to break coverage reporting.

[2017-12-12 20:49] naddison commented on #1287
I am running the following ->

[code]

Ah, I think I see my problem, I should be looking at typeParameters. Also my example was wrong up top, it was supposed to be `<P extends PageObject>`

[2017-12-12 20:51] matozoid commented on #1287
Cool, if you're happy please close the issue :-)

[2017-12-12 20:53] naddison commented on #1287
Cheers

[2017-12-12 20:53] #1287 closed, assigned to nobody

[2017-12-13 12:14] leus commented on #1273
@matozoid - kind of. I was trying to solve a problem with our generated code (static initializer was taking too long to finish, and other instances of the class were getting an uninitialized member) but it was solved elsewhere. I'll still like to know the answer, so I'm editing the original question.

[2017-12-13 12:23] matozoid commented on #1273
The answer above works, but the more direct answer is the SynchronizedStmt.

[2017-12-13 21:02] matozoid commented on #1273
Since you're not the only one asking these questions, I wrote an article :-)

https://matozoid.github.io/2017/12/13/inspecting-an-ast.html

[2017-12-14 14:40] jjbr opened #1290 ".replace() method sometimes doesn't properly replace AST nodes"
Take following call statement: `callSomeFun(r -> r instanceof SomeType);`.

Let's call the lambda expression argLambdaExpr and create a new MethodCallExpr to lambdaWrapper() called methodCallLambdaReplacement. When I call `argLambdaExpr.replace(methodCallLambdaReplacement)` the resulting callSomeFun-expression should be:

`callSomeFun(lambdaWrapper());`

In fact, in the `arguments` list the lambda

[2017-12-14 15:53] ftomassetti commented on #1286
Well, I remember we changed that cache at a certain point, I do not remember why but it could be that we made it static on purpose

[2017-12-14 18:15] matozoid commented on #1286
@ftomassetti do you have some guidance for an approach to fix this?

[2017-12-14 18:21] ftomassetti commented on #1286
Not really. My doubt is that the cache was made static because we could want to use it from different instances. So I guess we can just do what is suggested in documentation:

[code]

instead of

[code]

[2017-12-14 18:45] matozoid commented on #1290
Okay, found it and created a fix - it will be in coming weekend's release!

[2017-12-14 18:56] matozoid commented on #1286
Okay, I went for the easy and hopefully correct fix. @gyfora if you feel like testing it, please do. Otherwise it goes into the next release without testing :-O

Fix is in the master branch currently.

[2017-12-14 19:34] #1286 closed, assigned to ftomassetti

[2017-12-14 19:55] #1290 closed, assigned to matozoid

[2017-12-14 20:14] #1262 closed, assigned to matozoid

[2017-12-14 20:59] #1074 closed, assigned to nobody

[2017-12-14 21:00] matozoid commented on #985
How about we do this next February at... FOSDEM or so? @ftomassetti

[2017-12-14 21:04] #788 closed, assigned to nobody

[2017-12-14 21:06] matozoid commented on #655
I think the current direction should be a custom tool that simply pastes the license into files in the right place.

[2017-12-15 09:02] Sebsen opened #1293 "Lexical preserving printer introduces or removes line breaks"
Hello guys! Playing around with your (great) project, I recognized following "issue". After processing a file/ CompilationUnit with the Java-Parser (even LexicalPreservation enabled) and printing it, the parser introduces or removes some line breaks as the following diff (created via Eclipse) shows:

![java-parser-diff](https://user-images.githubusercontent.com/25261696/34033919-9a652584-e17c-11e7

[2017-12-15 18:58] ftomassetti commented on #1293
First of all thank you for reporting this. If you would have time for a PR that would be great and we would help you in the process, otherwise we will look into this as soon as we can

[2017-12-15 18:59] ftomassetti commented on #943
I would call this done, at least on the JP side. We could want to add some more tests on the JSS side but here everything looks good. Thanks to everyone!

[2017-12-15 18:59] #943 closed, assigned to ftomassetti

[2017-12-15 20:52] dhardtke opened #1294 "[API] Allow retrieving parsed Javadoc elements"
Hey there,

**Use case**:
I intend to replace / merge existing Javadoc from one `MethodDeclaration` with Javadoc from another `MethodDeclaration`, e.g. when using `* {@inheritDoc}` on inherited methods.

**Problem**:
Right now, it is not possible to retrieve the `JavadocDescriptionElement`s of a `JavadocDescription` instance.
Likewise, I guess it would be nice to also be able to retrieve `JavadocB

[2017-12-16 19:56] matozoid commented on #1294
Let's ask our friend @ftomassetti who created this :-)

[2017-12-17 18:36] #1273 closed, assigned to nobody

[2017-12-17 18:39] ftomassetti commented on #1294
I do not see why not, I would say it is ok to add those methods, however I would suggest to _NOT_ modify the list, for that I would suggest using the API. Ideally I would return an immutable list.

[2017-12-17 18:46] dhardtke commented on #1294
Then I would suggest to create an immutable List using `Collections.unmodifiableList(list)` and remove methods like `addElement`, etc. - or create a new immutable List every time `addElement` is called.

[2017-12-17 19:20] matozoid commented on #1294
Hmmm, this API is so different from the rest of JavaParser... I'll make another task to refactor it someday.

[2017-12-17 19:21] matozoid opened #1295 "Refactor Javadoc parser API"
... to match more with the rest of JP

[2017-12-18 12:49] matozoid opened #1296 "The Maven Central badge is broken :-("
Check out the badges on https://github.com/javaparser/javaparser/

[2017-12-18 12:52] ftomassetti commented on #1296
This is strange because the image loads in the browser: https://img.shields.io/maven-central/v/com.github.javaparser/javaparser-core.svg

Maybe it is taking to long to load?

[2017-12-18 14:57] matozoid commented on #1296
Other badges are becoming really slow. There's probably something down somewhere :-)

[2017-12-18 16:56] attiand opened #1297 "ModifierVisitor and LexicalPreservingPrinter"
Hi, I found another test case which throws java.lang.UnsupportedOperationException. It needs both calls to println and the comment to throw. I am using version `3.5.7`.

[code]

Throws
[code]

[2017-12-18 17:23] ftomassetti commented on #1297
Thanks for reporting it!

[2017-12-19 16:54] ftomassetti commented on #985
It would work for me. What did you have in mind? Who should we invite?

[2017-12-20 23:24] matozoid commented on #985
Pick a date and place and advertise on Twitter and the site a bit? Do a retrospective kind of event with whoever shows up?

[2017-12-21 12:29] ftomassetti commented on #985
We could write on twitter something like "@matozoid & @ftomasse will be both in Bruxelles for the FOSDEM. Someone wants to meet and talk about #javaparser?"

Aside from this we could put a banner on the website

[2017-12-21 16:46] matozoid commented on #985
For example, do you think we should offer something like some hacking or a presentation?

[2017-12-22 19:11] davidsusu opened #1299 "No unicode escape preprocessing?"
[Chapter 3.3 of the Java specification](https://docs.oracle.com/javase/specs/jls/se9/html/jls-3.html#jls-3.3) is about unicode escape sequences.

Unicode sequences are **part of the source code**, so JavaParser should process them.

What is the situation currently?

**1. Generally, JavaParser make no resolution.**

See this tricky code ([original source](https://stackoverflow.com/a/3866219/3948862

[2017-12-23 21:56] matozoid commented on #1299
Thanks for the report! Please take a look at the discussion in #1240 and let us know how you feel about it.

[2017-12-24 10:42] sormuras commented on #553
Providing a stable module name via an `Automatic-Module-Name` manifest property, like described [here](https://github.com/jodastephen/jpms-module-names) or implemented [here](https://github.com/square/javapoet/commit/b5cc9f4554e41cf2eb4b99ab4c197948d90eb9bb), would be a helpful step.

[2017-12-28 12:38] matozoid opened #1301 "LexicalPreservingPrinter does not play well with core-generators."
If we enable it by uncommenting this: https://github.com/javaparser/javaparser/blob/master/javaparser-core-generators/src/main/java/com/github/javaparser/generator/core/CoreGenerator.java#L23

then code generation fails with a unhelpful message.

@ftomassetti I think this is a good use case for a nice debugging session :-)

[2017-12-28 12:41] matozoid commented on #985
@ftomassetti I wouldn't know who to invite except mr. RedHat.

[2017-12-31 10:26] matozoid commented on #1296
It seems to have solved itself :-)

[2017-12-31 10:26] #1296 closed, assigned to nobody

[2018-01-02 10:24] ftomassetti commented on #985
Me neither, I think we can try to see on twitter if someone wants to join us

[2018-01-02 12:39] matozoid commented on #985
@ftomassetti you can write a Twitter message, you're the famous one ;-)

[2018-01-02 15:20] malteskoruppa opened #1303 "Parent node somehow gets lost when node is added to a NodeList"
I stumbled upon a very weird problem in my code. One of those which really make you sit staring at your screen for a long time, aghast, going "Huuuuuuh? Whaaat? Whyyy? That's totally weird!". :wink:

Upon a lot of debugging work, I found out that the reason seems to be that parent nodes of nodes are lost when they are added to a NodeList, and wrote a minimal example that demonstrates the problem.

[2018-01-02 16:45] malteskoruppa commented on #1303
One more thing that I forgot to mention (even though it may be clear): The problem is that the node itself is modified just by adding it to the NodeList. In other words, if we add the following code after the code snippet above:

`System.out.println("Parent of dec is present: " + dec.getParentNode().isPresent()); // false
`

...then we see that the node `dec` really has no parent anymore, simply b

[2018-01-02 17:50] matozoid commented on #1303
There's an explanation for that :-) Two things:
- when a node that is already in an AST is put into some other place in the same or another AST, JavaParser will try to keep the AST consistent by removing it from it's previous spot by removing it from the parent's children list and unsetting the parent node. If it is not an optional node it will fail. A node cannot be in two places at once because

[2018-01-02 18:04] malteskoruppa commented on #1303
I had a feeling something like this might be the case. That certainly helps, and it's really good to know!

Thanks a lot for your kind support, as usual. :smiley:

[2018-01-02 18:04] #1303 closed, assigned to nobody

[2018-01-02 21:44] matozoid commented on #1303
No problem!

[2018-01-05 17:20] ftomassetti opened #1304 "Make possible to get token kind name"
Currently a JavaToken has a kind, which is an ID. It is difficult to get the name of such kind. Names are available only as static fields of `GeneratedJavaParserConstants`.

[2018-01-05 17:46] malteskoruppa opened #1305 "Why doesn't AssignExpr.getTarget() return a SimpleName?"
Short question... why does `AssignExpr.getTarget()` return a general `Expression` instead of a `NameExpr` or even a `SimpleName`?

I can't think of any scenario where the target of an assignment expression is not a variable describable as  a `SimpleName`, although I am sure there are. ;) Maybe I am just tired... could you give an example? :wink:

[2018-01-05 17:50] ftomassetti commented on #1305
[code]

[2018-01-05 17:54] malteskoruppa commented on #1305
Of course! Thank you so much. :smile:

So... can we say that `AssignExpr.getTarget()` will always return either a `NameExpr` or a `FieldAccessExpr`?

[2018-01-05 17:56] ftomassetti commented on #1305
I would think so but I am not sure if I could miss anything

[2018-01-05 18:03] malteskoruppa commented on #1305
Thanks for all the awesome support. Btw, it might be a cool idea to add such an example to the Javadoc of `AssignExpr`. Currently two examples are given:

[code]
Another example such as `obj.prop *= 2` or whatever might help people who wonder the same thing in the future. :smiley:

[2018-01-05 19:59] matozoid commented on #1305
I was looking through the [JLS](https://docs.oracle.com/javase/specs/jls/se9/html/jls-15.html#jls-15.26.1) and also spotted array access and, let's not forget, braces...
(((time)))=100
peanut[a]=true

I'll go add all of these! Thanks for the feedback!

[2018-01-05 20:08] matozoid commented on #1304
So shall we parse GJPC and create a reverse mapping of token kind -> name ? Or open an issue on JavaCC or ParserGeneratorCC?

[2018-01-05 20:16] ftomassetti commented on #1304
For now I am using a reflection hack...

[2018-01-07 13:24] matozoid opened #1308 "Help out Scalagen project"
https://github.com/timowest/scalagen/issues/86

[2018-01-07 18:03] matozoid opened #1311 "Let pretty printer put EOL's between enum constants"
Even better: make a configuration option that says "when there are more than this amount of constants, align vertically."

[2018-01-07 18:05] matozoid opened #1312 "Make as much code as possible use JavaToken.Kind"
... instead of `int kind`.

And when you're at it: change the "valueOf" method to index an array instead of having a huge switch.

[2018-01-07 18:06] #1305 closed, assigned to nobody

[2018-01-07 18:07] #1304 closed, assigned to matozoid

[2018-01-08 17:14] bennewi opened #2070 "solveMethodAsUsage failing help?"
Hi, I'm getting a RuntimeException on line 331 of `MethodCallExprContext.java`

What I've got is a method invocation in one Java file, of a method that is defined in another Java file. This method takes two arrays as parameters, of types that are defined in an external JAR. So I'm using a `JavaResolver` and a `JARResolver`. But in my analyzer when I visit that with a `MethodCallExpr` as node type,

[2018-01-08 22:33] markjohndoyle opened #1313 "Static nested class not visited or returned as ClassOrInterfaceDeclaration"
I've only just started using JavaParser but I think I've followed the examples correctly.

That said, I have an interface that has a static nested class called `KeepAliveData` that doesn't seem to appear in the child types (of the compilation unit) after parsing the source file. It's also not visited by visit(ClassOrInterfaceDeclaration n, Void arg), presumably because it's not in the node tree.

[2018-01-09 12:28] bennewi commented on #2070
Could this be caused by `javassist.CtClass` and `CtClassType` not implementing an `equals()` method?

[2018-01-09 13:59] bennewi commented on #2070
ok as a temporary workaround I've locally changed line 98 in file `JavaassistClassDeclaration` (the meaty statement in the `equals()` method) to

`if (!ctClass.getName().equals(that.ctClass.getName())) return false;`

and it seems to work again in this instance.

There might be other extra criteria that would be useful to add as part of this comparison but we'd wind up writing the equals method fo

[2018-01-09 17:38] matozoid commented on #1313
Hi! Here's what is happening:
- `CompilationUnit#getTypes` gets only the top level types, so that's only `NativeSocket` here
- I'm not sure what happened to your visitor since you've not shown the code. Here is a working one:
[code]
Maybe forgot to call super?
- here's a simple way to get all the classes in the file: `cu.findAll(CompilationUnit.class)`.
- if you like to inspect how the AST is cons

[2018-01-09 19:05] auzatsepin opened #1314 "How can I add a method call to the builder pattern"
Hi!

I can't understand how i can add method to method chains.
I override ModifierVisitor method visit(n: MethodCallExpr, arg: ClassModel) and can create new MethodCallExpr, but all I can do is call setParentNode method, but it just add new MethodCallExpr to the end of child nodes.

What is right way do it ?

For example i have a class
[code]
and an abstract class that uses it
[code]
i want to gen

[2018-01-09 19:36] matozoid commented on #1314
When I run...
[code]
the output is
[code]
... which tells me that you build chains of `MethodCallExpr` by using its `scope` field.

[2018-01-09 19:49] ftomassetti opened #1316 "Make JavaSymbolSolver a module in the JavaParser project"
The reasons are:
1. We can have coordinated releases
2. It is easier to fix issues which requires changes in both projects
3. It could marginally make easier for user to see that JavaSymbolSolver exist in the first place

This issue is intended to
* argue in favor or against it
* discuss a strategy to do it

Things we would have to do:
* move from gradle to maven
* merge the readme

Initial strate

[2018-01-09 19:52] ftomassetti commented on #2070
Maybe CtClass could consider the classpool. I will mark this as bug and apply your strategy. Ideally a failing test would be perfect...

[2018-01-09 19:55] matozoid commented on #1316
I'm in favour. I'm also in favour of making a list of the state of all the components. I'm not too happy with the lexical preserving printer causing so many issues that it seems unusable, for example. The symbol solver already has a warning in the README, so that's cool.

[2018-01-09 19:58] ftomassetti commented on #1316
Yes, the lexical preserving printer need refinements. It seems people are using it given they produce bug reports :)
After we get this list we could devise a strategic plan and see on what to focus and how to verify we have reached the quality we want for each problematic component.
Should we do this in this issue or in a separate one?

[2018-01-09 20:01] matozoid commented on #1316
I saw that your FOSDEM presentation will be about "where next?" - so that would be good input :-)

And right, that should be another issue, or on Gitter.

[2018-01-09 20:26] auzatsepin commented on #1314
Thanks, it works.
It would be nice to describe in the FAQ that there are printers that print the hierarchy of objects (maybe I just missed it).

[2018-01-09 20:26] #1314 closed, assigned to nobody

[2018-01-10 07:14] ftomassetti commented on #1316
Apparently you can merge two unrelated git projects, so I started creating the `mergingjss` branch in my fork of JP

[2018-01-10 07:18] ftomassetti commented on #1316
In JSS there are 5 modules:

1. java-symbol-solver-model
2. java-symbol-solver-logic
3. java-symbol-solver-core
4. java-symbol-solver-testing
5. java-symbol-solver-examples

We could move the examples to a separate project and rename the other four.
How?

into javaparser-symbol-solver-[model/logic/core/testing]?

[2018-01-10 09:08] matozoid commented on #1314
You're right, I've got a blog with little pieces of manual: https://matozoid.github.io/2017/12/13/inspecting-an-ast.html
but they should be linked better.

[2018-01-10 09:14] matozoid commented on #1316
(The simplest way would be to simply move JP and JSS one directory lower and make a new parent-parent-pom that has the old parent poms as modules. Also very lazy ;-) )

I don't mind the examples too much, although the starter projects and everything are of course also separate projects (but mostly so people can check them out and get started.)

Naming sounds fine, yes.

[2018-01-10 09:47] matozoid opened #1317 "Remove animal-sniffer and other JDK related stuff"
This was built to keep jp-core backwards compatible with JDK 6 while we could write tests etc. in Java 8.

Since Oracle is going to release new JDK's quicker, I say we trail behind the latest JDK for half a year or a year or so for the whole code base.

[2018-01-10 13:09] ftomassetti commented on #1316
I removed the examples, renamed the modules and done a few corrections.
It seems to work (at least the tests pass locally). However I do not know how to be sure all tests are run. At the end I read:

Tests run: 547, Failures: 0, Errors: 0, Skipped: 0

But I guess that refers only to the last module, not to the whole project

See #1318

[2018-01-10 14:23] matozoid commented on #1316
There's something hacky being done to get coverage right in JP, it seems to be copying the result from jp-testing to jp-core, or so. I gave up splitting off jp-jbehave from jp-testing because of this.

[2018-01-10 18:34] nguyentruongtho opened #1319 "LexicalPreservingPrinter MethodDeclaration addSingleMemberAnnotation is not added on a new line"
Similar to this https://github.com/javaparser/javaparser/issues/926, I wonder if `addSingleMemberAnnotation` is able to adding a newline.

It doesn't have one in my case, for example:

[code]
becomes

[code]

[2018-01-10 18:41] DeepSnowNeeL commented on #1319
You need to use addAnnotation or addAndGetAnnotation ,
addSingleMemberAnnotation adds only a single member > a single annotation

Le mer. 10 janv. 2018 à 19:35, Tho Nguyen <notifications@github.com> a
écrit :

[2018-01-10 18:48] nguyentruongtho commented on #1319
`addAnnotation` or `addAndGetAnnotation` have the same issue. I don't think you understand the question here 😿

[2018-01-10 19:05] DeepSnowNeeL commented on #1319
Oh my bad, probably a problem with the pretty printer then

[2018-01-10 23:09] markjohndoyle commented on #1313
Hi!

It was a missing super call. I was sure it was something stupid I was doing, especially since there was a suspicious absence of this type of question on this page.

Thanks again, much appreciated!

[2018-01-10 23:09] #1313 closed, assigned to matozoid

[2018-01-11 10:31] malteskoruppa opened #1320 "What about a FloatLiteralExpr?"
JavaParser seems to parse floats as doubles... just for clarification, is this intended?

`System.out.println(JavaParser.parseExpression("1f").getClass());`

The above outputs `class com.github.javaparser.ast.expr.DoubleLiteralExpr` which makes sense since there is no `FloatLiteralExpr`.

This is fine for my purposes, I can work with it. However, Java Symbol Solver correctly reports the type of th

[2018-01-11 12:00] matozoid commented on #1320
Check #664 :-)

[2018-01-11 12:59] malteskoruppa commented on #1320
Thanks! :)

[2018-01-11 12:59] #1320 closed, assigned to nobody

[2018-01-11 13:34] Sebsen opened #1321 "UnsupportedOperationException: CsmIndent"
Parser-Version: 3.5.5 (Shipped by Java-Symbol-Solver 0.6.3)

In my application I am processing a piece of legacy Code and would like to modify it. Therefore I parse the Code using the Java-Parser (and Symbol-Solver) and trying to replace the (NodeList) content of an BlockStatement. The Code looks as follows:

[code]

When executing the Code I get following stacktrace:

[code]
I set up my Compilati

[2018-01-11 19:12] matozoid commented on #1319
Hey @DeepSnowNeeL - check out the `LexicalPreservingPrinter` some time, it's pretty cool!

@nguyentruongtho - thanks for the report, a PR has been made with a fix. It will be in the next release (coming weekend.)

[2018-01-11 19:15] nguyentruongtho commented on #1319
Thanks Danny,

By the way, I’m trying to find a clean way to block commenting out a method
body. Do you know how can I do that?

Thanks

On Thu, 11 Jan 2018 at 8:12 PM, Danny van Bruggen <notifications@github.com>
wrote:

--
- Tho

[2018-01-11 19:20] matozoid commented on #1319
Hm, the one way I can think of is...
- prettyprint or lexicalpreservingprint the method into a string.
- new BlockComment with the string as content.
- set this as the comment of the following member.

Nasty problem: what if there is no next member?

So I guess we're running into this then: #638

[2018-01-11 19:31] nguyentruongtho commented on #1319
This is one of the approach I tried, i even tried to add the BlockComment
as a child of the parent node and remove the body node, used to be possible
with the old version but now the api makes the child node list immutable :(

thanks, I will follow up on the related task.

On Thu, 11 Jan 2018 at 8:20 PM, Danny van Bruggen <notifications@github.com>
wrote:

--
- Tho

[2018-01-11 21:19] matozoid commented on #1319
It was possible with the old version, but since the child list is simply a list containing all the properties of the object, changing it would cause an inconsistency: the property wouldn't have changed. So you could for example remove the name of a class from a child list. getName() would however still return the name. What?!

JP 3.0.0+ allows a lot less, but it's hard to impossible to make the AS

[2018-01-11 23:14] fvanham opened #2069 "Unable to get types for NameExpr which refer to ClassNames."
I'm unable to get the types for java's common built-in classes, but I cannot figure out where my code is off. Using Symbolsolver 0.6.3 via maven, which pulls in javaparser 3.5.5
[code]
which parses this file content
[code]
The result is two failed type resolutions on `Math`, one on `System` and one on `Integer`. I'm a bit surprised the typesolver is null in the stacktrace.
[code]

Running this in

[2018-01-12 12:11] cunhazera opened #1324 "Get annotation value"
Is there anyway to get the value of each annotation attribute?

[2018-01-12 13:02] matozoid commented on #1324
Yes, have you read the book? It's more or less required basic training. You can get it for free if you like: http://javaparser.org/

[2018-01-12 13:06] cunhazera commented on #1324
Oh, I haven't. I'm going to do this!
Thank you!

[2018-01-12 13:06] #1324 closed, assigned to nobody

[2018-01-12 14:47] nguyentruongtho commented on #1319
I agree on making child list immutable, however, above is a real case when you want to remove a node from AST.

Anyway, this is out of the context of the issue, thanks for fixing it.

[2018-01-12 16:36] bennewi commented on #2069
I think the problem is that Math System and Integer aren't symbols, they are classes. If you try your test again but as input use non-static references to objects you'll get some results.

[2018-01-12 17:37] matozoid commented on #1324
Feel free to open another question if you can't figure it out :-)

[2018-01-12 17:38] matozoid commented on #1319
Just one thing more: next to directly manipulating the properties, there are also the remove methods which work nicely. The effect will be visible in the child list.

[2018-01-12 20:14] matozoid opened #1325 "unignore files"
These files are ignored but shouldn't be:

git rm --cached --force "javaparser-symbol-solver-testing/src/test/resources/javasymbolsolver_0_6_0/lib/javaslang-2.0.3.jar"
git rm --cached --force "javaparser-symbol-solver-testing/src/test/resources/javasymbolsolver_0_6_0/lib/javassist-3.19.0-GA.jar"
git rm --cached --force "javaparser-symbol-solver-testing/src/test/resources/javasymbolsolver_0_6_0/lib

[2018-01-12 20:34] matozoid opened #1326 "Make AnalyseJavaParserTest optional"
It's taking a huge amount of time in each build.

[2018-01-12 20:47] fvanham commented on #2069
`Math`, `System` and `Integer` are static classes by design. There is only ever a singleton instance of these, referenced by `Math`. I don't think I can create non-static instances of these. I was expecting ReferenceTypes `java.lang.Math`, `java.lang.System` and `java.lang.Integer` as results. Named references to (non-java native) classNames resolve fine.

[2018-01-12 20:49] #1316 closed, assigned to nobody

[2018-01-13 00:08] fvanham commented on #2069
Here's an even simpler example which fails
[code]
I would expect the type of `Test` in `Test.method()` to be `Test`, since it's a direct reference to a type. Seems like a problem with statics?

[2018-01-13 12:20] ftomassetti commented on #1326
Yes, those should be sort of "acceptance tests" or somet other kind of tests, but not unit tests.

One way could be creating a separate module and run from travis/appveryor `mvn test` only on the modules of interest I guess.

[2018-01-13 12:24] ftomassetti opened #1328 "Update README after JSS inclusion"
The Readme should describe the different modules and what they are for. Sure, they could send to the website for details but an overview should be given.

[2018-01-13 12:39] matozoid commented on #1326
For JS I went the simple way: turn the test method into a main method and run it from the IDE every now and then :-)

[2018-01-13 13:19] ftomassetti commented on #1325
That is strange because there is no gitignore file that should affect those.
How do you see that they are ignored?

[2018-01-13 13:25] ftomassetti commented on #1326
We could do what is specified here:
https://stackoverflow.com/questions/18164579/how-do-i-specify-a-separate-maven-goal-for-running-cucumber-acceptance-tests

We could have these more deepened tests run specifying a different goal.
We could or could not run them as part of CI. Perhaps we could just run them manually before doing a release.

[2018-01-13 13:30] matozoid commented on #1325
The ".ignore" plugin warns me when I open the project.

[2018-01-13 13:35] matozoid commented on #1326
Looks messy with all the included/excluded paths. Can we mix having a separate module(s) and having a goal (or a profile like the generators) maybe? We can also supply a script like the current run_bla.sh that is an easy access point.

[2018-01-13 13:37] ftomassetti commented on #1325
Ok, this is due to the fact we ignore "lib"

On 13 January 2018 at 14:30, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2018-01-13 13:38] matozoid commented on #1325
Let's ignore only "/lib" then.

[2018-01-13 13:47] #1297 closed, assigned to ftomassetti

[2018-01-13 13:48] ftomassetti commented on #1297
Thanks @attiand , it should be now fixed (available in next release)

[2018-01-13 15:17] ftomassetti commented on #1301
I uncommented those three lines and run `sh run_core_generators.sh`. The build succedeed, however I can see this error:
[code]

Should I look into this or were you getting a different error?

[2018-01-13 15:26] ftomassetti commented on #1321
Can you help us reproducing it?

I assume the code you shared is the code performing the transformation, right? Can you share the code on which you perform the transformation?

Also, I think TypeSolverFactory and CompilationUnitFactory are your classes so I am not sure what they do.

It would be ideal if you could provide a failing test. If this is not possible we need your help to write the faili

[2018-01-13 18:40] #1325 closed, assigned to ftomassetti

[2018-01-13 18:47] matozoid commented on #1301
I'm getting a different error - this is my environment:
[code]
[code]

[2018-01-13 19:32] ftomassetti commented on #1301
I have to figure out how to get this error...

After uncommenting those three lines do you just run `run_core_generator.sh` or do you do something else?

[2018-01-13 19:54] matozoid commented on #1301
There are five comment lines, only uncomment the ones with "Lexical" in them. Does that work?

[2018-01-13 19:54] matozoid commented on #1301
I'm not sure why your build doesn't know the `@Generated` annotation. JDK 9 maybe?

[2018-01-14 08:21] ftomassetti commented on #1293
Could you provide the code on which you noted this issue?

[2018-01-14 08:25] ftomassetti commented on #1301
I have tried:
* uncommenting exactly those three lines referred to Lexical preservation (branch issue1301)
* switching to java 8 (still get the error about the Generated annotation)

Still same behavior when running run_core_generator.sh

[2018-01-14 08:26] ftomassetti commented on #1301
After running mvn clean and relaunch the script I notice this warning:

[code]

[2018-01-14 08:28] ftomassetti commented on #1301
Ok, while `java -version` now indicates Java 8 Maven is still using Java 9:

[code]

And I also realize I have a weird locale...

[2018-01-14 08:30] ftomassetti commented on #1301
Ok, when I managed to convince Maven to use Java8 I get the error

[2018-01-14 13:23] matozoid commented on #1301
I recognize this train of thought all too well ;-)

[2018-01-14 13:45] matozoid opened #1333 "Parallelize javaparser-testing for a faster build"
It should mostly work by default, I think.

[2018-01-14 14:10] matozoid opened #1334 "Remove duplicate classes for testing"
I keep accidentally editing test code, please remove all this duplicate code!

![image](https://user-images.githubusercontent.com/55701/34916720-e8852f3e-f93c-11e7-8125-a0b54c9bccf0.png)

[2018-01-14 21:48] Sebsen commented on #1321
As I anways wanted to publish sources in some time I did now - hope this is fine with you, otherwise contact me. I have sent you an invitation for the project there you have access to the full sources and can look it up (sorry it's a little bit messy up to this time - have to clean it up somewhen and somehow). The test which is failing is code.cafebabe.MethodCallChangeTest.extendingActionGivesExpe

[2018-01-15 08:47] ftomassetti commented on #1321
Hi @Sebsen , should we look into the https://github.com/Sebsen/java_refactoring_tool project?

[2018-01-15 08:56] ftomassetti commented on #1334
We have tests agains that source code. IntelliJ should not consider it. The way I found to convince IntelliJ to ignore those files is to mark their directories as "excluded"

[2018-01-15 09:12] ftomassetti commented on #1333
+1

[2018-01-15 09:22] ftomassetti commented on #2069
I think the static method or the static field should be resolved, regarding the name of the class, this is slightly more complicated.

Is the call `Test.method()` resolved?
Is the field access `System.err` resolved?

I would consider wrong to say that `Test` has type `Test`, because that would be the type of an _instance_ of Test. Note that you can instantiate Test:

[code]

Now, I would consider

[2018-01-15 10:21] Sebsen commented on #1321
Yes @ftomassetti that's right. If you have some other questions or need some additional help feel free write.

[2018-01-15 10:59] fvanham commented on #2069
Yes JSS gets the types for fields and methods correctly
[code]
I think the issue comes from `System` in `System.out.println()` being designated as `NameExpr` by the parser (not that I could see how it could infer anything else), but when asked for the type of that NameExpr by the solver it throws an exception. If `System` is not of type `java.lang.System`, should it be of type `java.lang.Class<jav

[2018-01-15 12:21] cunhazera opened #1336 "Get annotation properties and value"
Hey! I've openned this issue: https://github.com/javaparser/javaparser/issues/1324#issuecomment-357304733 but could not solve the problem...

I've tried it:

[code]

How can I do it?

[2018-01-15 12:38] ftomassetti commented on #1336
You are probably not looking for the declaration of a new type of Annotation.

AnnotationDeclaration javadoc: http://static.javadoc.io/com.github.javaparser/javaparser-core/3.5.7/com/github/javaparser/ast/body/AnnotationDeclaration.html

You probably want an AnnotationExpr http://static.javadoc.io/com.github.javaparser/javaparser-core/3.5.7/com/github/javaparser/ast/expr/AnnotationExpr.html

[2018-01-15 12:38] matozoid commented on #1333
I tried with how you did it, but in the end it failed on a forked JDK that didn't want to terminate?!

[2018-01-15 13:29] cunhazera commented on #1336
This is exactly what I was looking for.

[code]

I don't know if it's the best way, but It's working.

Thanks for the support @ftomassetti @matozoid

[2018-01-15 14:06] matozoid commented on #1336
Hmmm...
[code]
should either be
[code]
or
[code]

[2018-01-15 14:07] matozoid commented on #1336
For ` n.getName().toString()` we have a shortcut: ` n.getNameAsString()`. It avoids probably unwanted side effects like printing annotations and comments inside the name.

[2018-01-15 15:56] cunhazera commented on #1336
Ok @matozoid

One more question: can I filter annotations? Something equivalent to clazz.isAnnotationPresent(xx) ?

[2018-01-15 16:20] matozoid commented on #1336
Anything that implements https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/nodeTypes/NodeWithAnnotations.java can have annotations - you can find the API there.

If you would like additional methods, open an issue :-)

[2018-01-15 21:01] bennewi commented on #2069
I agree with Federico here; You can write

[code]

and this should fail compilation, not succeed, because the peep() method is not in type `Test` (it won't fail on the first line of main, or the second, but the third). So in the case of statics we need to disambiguate between classes and symbols.

[2018-01-16 01:04] fvarrebola opened #1338 "JsonPrinter throws MissingFormatArgumentException"
If you set ```JsonPrinter``` to output code that contains format strings, you will get a ```MissingFormatArgumentException```.

To reproduce the problem, use the following test case:
[code]

You should see a stack trace like the following:
[code]

BTW I ran the test case against JavaParser 3.5.10 and JDK 1.8.0_112.

[2018-01-16 08:12] matozoid commented on #1338
Thanks for the report! Looks like we need to do some escaping there.

[2018-01-16 09:34] nguyentruongtho commented on #1319
Reopening this as the issue is fixed for `methodDeclaration.addSingleMemberAnnotation` api, but not fixed for: `methodDeclaration.getAnnotations().add(0, singleMemberAnnotation)`, I wanted this as there is a need to add the annotation as the first annotation of the method

[2018-01-16 17:32] cunhazera commented on #1336
Can I create a new instance of `ClassOrInterfaceDeclaration` from a `CompilationUnit` ?
I'm doing this, actually:
[code]

[2018-01-16 20:36] matozoid commented on #1336
Can you open a new issue for your next question? This issue is getting messy.

I'm not sure what you mean, so here is some code:

[code]

[code]

[2018-01-17 02:50] jchensc opened #1340 "Add If statement to a method call expression"
Does the current API support adding if statement to a method call?

e.g
[code]

Thanks ahead!

[2018-01-17 10:55] cunhazera opened #1341 "Get the primary class of a compilation unit"
Is there anyway to create an instance of ClassOrInterfaceDeclaration from a CompilationUnit?
Today, I'm doing this: `ClassOrInterfaceDeclaration clazz = JavaParser.parse(file).getClassByName(name)`
But to do this, I'm having to get the file name and remove the extension.

What do you guys think about including something like this:
[code]
or
[code]

[2018-01-17 10:56] cunhazera commented on #1336
@matozoid done here https://github.com/javaparser/javaparser/issues/1341

[2018-01-17 11:07] #1336 closed, assigned to nobody

[2018-01-17 11:55] matozoid commented on #1341
So, the question is... "How can I let JP create a public class with the name of the file minus `.java`"?

I was thinking of creating a method to "get" this class, not create, but I guess we can add that one as well.

This of course depends on the availability of the file name, so the "create" method could throw an exception (since it's your fault for not having parsed from a file.) The "get" metho

[2018-01-17 11:57] matozoid commented on #1340
Yes, it does! In pseudo code:
- clone `foo1()`
- create if statement.
- add cloned `foo1()` to the new if statement body.
- replace old `foo1()` by the new if statement.

[2018-01-17 12:21] cunhazera commented on #1341
I think I didn't express myself in the best way.
I just want to have a ClassOrInterfaceDeclaration with the value I got from the parse without having to use the `getClassByName`, because when I load my java files dynamically I don't know the class name, only the file name.

Let me show you what I'm doing:
[code]

So I was thinking about this option to remove the necessity to substring the name of

[2018-01-17 12:40] matozoid commented on #1341
So you're saying you are interested in "get", not "create"? I can't see another difference. If there is, please say so :-)

Anyway, I'll build both, they both seem useful.

[2018-01-17 12:43] cunhazera commented on #1341
I think "get" is the right word.

Thank you @matozoid

[2018-01-17 14:03] malteskoruppa opened #1342 "Suggestion: make enums AssignExpr.Operator and BinaryExpr.Operator consistent"
So I was trying to convert some compound assignment expressions (i.e., `+=`, `*=`, etc.) into simple assignment expressions with a binary expression on the right side. For instance, `a += 3` would become `a = a + 3` and so on.

For this, I need to infer, from the compound assignment expression's operator, the equivalent binary expression operator that I want to use on the right side.

I came up wi

[2018-01-17 14:25] matozoid commented on #1342
Thanks for the report! They are very, very clear.

There's an alternative: making `AssignExpr.Operator.toBinaryOperator` and `BinaryExpr.Operator.toAssignOperator`. That could be done right now. It's a bit obscure, but simple to understand. Will that help?

[2018-01-17 14:27] malteskoruppa commented on #1342
Sure, that would be great! :smile: Of course, it would still be nice to rename the operators eventually, but the above would provide a good solution for JP 3.x at least.

[2018-01-17 15:19] cunhazera opened #1343 "Better aproach to handle a list of annotations"
I'm having to parse a list of annotations like this:

[code]

But I'm facing some problems to parse the @ApiResponse, that is inside the @ApiResponses. I can not get the properties and etc.

Is there already some way to do this?

[2018-01-17 15:22] matozoid commented on #1343
Try using the techniques found here: https://matozoid.github.io/2017/12/13/inspecting-an-ast.html

[2018-01-17 16:07] bennewi commented on #2070
@ftomassetti sorry I may have to throw in the towel on this one, I tried to create a test taking some of the existing tests as model but I'm getting different behavior from the resolver from the test targets and I'm not sure which JavaParser versions I should be working with. While debugging the test, my IDE is showing javaparser-core version 3.5.5 but while debugging the examples it's taking 3.5.

[2018-01-17 17:06] bennewi commented on #2070
Also in the test directories there seems to be a complete copy of an older version of the symbol solver sources (0.6.0) ... Should I overwrite that locally? Should I be looking at the java-symbol-solver-testing directory at all for making a test? It doesn't seem up to date..

[2018-01-17 17:39] matozoid commented on #1342
I didn't notice that we're actually talking about a bug here. Bugs need to be fixed ASAP!

[2018-01-17 18:46] matozoid commented on #1341
Wonderful how they can talk about a very specific type of class without giving it a name :-/

[2018-01-17 18:52] matozoid commented on #1341
Oh, @cunhazera , if you're doing things with source files in a source directory, you can take a look at the `SourceRoot` class.

[2018-01-17 19:33] matozoid commented on #1341
I want to call it "main class" but that would imply that it has a `main` method. Maybe "public class" but it doesn't have to be public, and inner classes can also be public, so it's not specific enough. I'll go for "primary class" - but it can also be another type like an enum. So getting it will be "getPrimaryType" then. I'll add `createPrimaryClass` because that seems to be the common case, and

[2018-01-17 19:51] matozoid commented on #1341
I just realised there is not much point to the create methods since when you know the filename, there is probably a class in that file already.

[2018-01-17 20:46] matozoid commented on #1319
This works for me - can you show me what you're doing differently?
[code]

(There is also `addFirst` on `NodeList`, by the way)

[2018-01-18 08:24] virtanAnton commented on #2072
I faced the same issue 😟

[2018-01-18 09:06] matozoid commented on #2072
Maybe it's time to add a lot of debug logging to let people find out what's happening? You can use JP's Log class for that.

[2018-01-18 09:27] matozoid commented on #1334
Something else that can be done is to download these sources on demand, so they don't clutter the resources directory: https://maven.apache.org/plugins/maven-dependency-plugin/examples/using-dependencies-sources.html

[2018-01-18 10:35] #1342 closed, assigned to matozoid

[2018-01-18 12:29] #1338 closed, assigned to nobody

[2018-01-18 13:39] nguyentruongtho commented on #1319
I did the same, the only different was I am using `SingleMemberAnnotation` instead of `MarkerAnnotationExpr`. And there is already an existing annotation, for example:

[code]

[2018-01-18 13:47] nguyentruongtho commented on #1319
It also has a small issue with preserving format such as this case:

[code]
adding `@Ignore` annotation would result to:
[code]
which I believe with `LexicalPreservingPrinter`, it should give me:
[code]

[2018-01-18 18:58] matozoid commented on #1343
@cunhazera did you figure it out?

[2018-01-18 18:59] matozoid commented on #1340
@jchensc - did it work?

[2018-01-18 19:00] cunhazera commented on #1343
@matozoid No :(

Can you help me?

[2018-01-18 19:12] matozoid commented on #1319
[code]
on
[code]
gives me
[code]
which, when I consider the implementation of the printer, is expected. All added code is formatted according to the rules in the `ConcreteSyntaxModel`. Original code stays as it was. @ftomassetti ?

It looks kind of funny in your samples, but it's funny by design :-) If you like you can open an issue like "Consider existing formatting when formatting new nodes in t

[2018-01-18 19:13] matozoid commented on #1343
Show me the Yaml AST you got and I'll tell you how to use it to answer this question.

[2018-01-18 19:18] #1326 closed, assigned to ftomassetti

[2018-01-18 19:18] cunhazera commented on #1343
I have no Yaml, I only have the java code, as the one I wrote above.

[2018-01-18 19:20] cunhazera commented on #1343
I'm doing this actually: `List<String> responses = method.getAnnotationByName("ApiResponses").get();`

But I can not access the annotations inside of `ApiResponses`

[2018-01-18 19:38] matozoid commented on #1343
Did you read the article? It shows how to get the Yaml.

[2018-01-18 19:54] #1311 closed, assigned to matozoid

[2018-01-18 22:06] jchensc commented on #1340
@matozoid Thanks it works!

[2018-01-18 22:49] jchensc commented on #1340
One follow up question, is it possible to customize the format of the if block?

for example, I want the above case to be

[code]
so that it will not mess up the line number

[2018-01-19 12:08] matozoid commented on #1340
If you're using `toString()` or the `PrettyPrinter` (which is the same thing) to print it out, the choices you have are:
- copy the `PrettyPrintVisitor` to your own project, modify it to your wishes and use it directly (or configure `PrettyPrinter` to use it)
- open an issue for a new configuration option for the pretty printer
- open a PR with the new configuration option.

[2018-01-19 15:32] cunhazera commented on #1343
Parse the Yaml is not useful for me, I guess.

[2018-01-19 16:29] matozoid commented on #1343
No it isn't, but the Yaml is useful to study, to see how you can get the information you need. If you put the Yaml here, I can tell you how to read it.

[2018-01-19 16:38] cunhazera commented on #1343
The final YAML from my java file has 2755 lines. May I put it here?

[2018-01-19 16:38] #1234 closed, assigned to matozoid

[2018-01-19 16:40] matozoid commented on #1294
Hey @dhardtke - are you still interested in creating that PR? Otherwise I'll do it.

[2018-01-19 16:41] matozoid commented on #1343
Sure!

[2018-01-19 16:43] cunhazera commented on #1343
Imma put it as a file.

[2018-01-19 16:44] cunhazera commented on #1343
[final.txt](https://github.com/javaparser/javaparser/files/1647263/final.txt)

[2018-01-19 16:51] dhardtke commented on #1294
I can do it, sure. So, what's the plan? Should I add methods like "removeElement()", etc.?

[2018-01-19 17:06] matozoid commented on #1343
I searched for `TaskCollectionResponse` to find this part:
[code]

It tells me we have a list of annotations (`annotations:`). In it is this construction:

[code]
that you can read as...
"In the list of annotations, there is an annotation of type `SingleMemberAnnotationExpr` (you need instanceof and casting to find the right type) which I can as for its property `memberValue`. In this case it is a

[2018-01-19 17:31] matozoid commented on #1294
Sure, go wild!

[2018-01-19 19:12] #1341 closed, assigned to matozoid

[2018-01-19 19:15] jchensc commented on #1340
Interesting. Will try it out, thanks!

[2018-01-20 17:43] Sigurthorb commented on #1029
@matozoid I am also interested in this.

I have created a list of nodes that I want to insert code before.
This code could be comments or code statements.
The current version that I have is 3.5.10.

I tried your code example on 3.3.1 but Position did not include the `insert` nor `insertAfter`

[code]

This list I have only includes statements within method for example
[code]

My list includes the

[2018-01-20 19:42] matozoid commented on #1029
@Sigurthorb - yes it is. If you look at [MethodDeclaration](https://static.javadoc.io/com.github.javaparser/javaparser-core/3.5.10/com/github/javaparser/ast/body/MethodDeclaration.html) has a body which is a `BlockStmt`, and that contains a list of statement that you can modify as you desire.

Note that comment support is currently imperfect. The best way to have a comment is to set it on a statem

[2018-01-20 23:02] Sigurthorb commented on #1029
Thank you, I was able to use this

[2018-01-20 23:09] Sigurthorb opened #1349 "[Question] - Variables defined before node (in scope at node)"
Hello

I am using java parser to inject code into a java class
At each injection, I need a list of variables that have been defined before the statement in question and are within scope of the statement.

For class variables, I just query the ClassOrInterfaceDeclaration for FieldVariables and from that, VariableDeclarator.

For a given statement, can I query the CompilationUnit or something else f

[2018-01-21 11:08] matozoid commented on #1349
Hi, check out [VariableDeclarationExpr](https://static.javadoc.io/com.github.javaparser/javaparser-core/3.5.10/com/github/javaparser/ast/expr/VariableDeclarationExpr.html). Also check out [this article](https://matozoid.github.io/2017/12/13/inspecting-an-ast.html) on how to see what's in an AST for any piece of code.

Let us know how far you get.

[2018-01-21 12:06] matozoid opened #1350 "Let slow tests run in Travis build"
Because I'm too lazy to do it manually...

[2018-01-22 11:20] cunhazera commented on #1343
Would it be hard to have an option inside the JP to get an array of annotations?

[2018-01-22 12:53] matozoid commented on #1343
(All of this is planned to be refactored in 4.0.0)

Say we have a `Node n` that implements `NodeWithAnnotations`. What would you like to do next?

[2018-01-22 12:57] cunhazera commented on #1343
I think that's all.

[2018-01-22 13:01] matozoid commented on #1343
Huh? So you don't need anything?

[2018-01-22 13:03] cunhazera commented on #1343
Sorry, I understood it wrong.
I meant that an option to get an array of annotations inside one annotation is all.

[2018-01-22 13:23] cunhazera commented on #1343
@matozoid I think I found a way to handle this.

[code]

[2018-01-22 13:28] #1343 closed, assigned to nobody

[2018-01-22 14:00] wwt17 opened #1352 "JSON output distorted when character " is contained in the comment"
Javaparser output character " in the comment string honestly but JSON regard it as end of string.
Hope you'll fix this escaping problem :)

[2018-01-22 14:01] matozoid commented on #1343
Cool! Good luck!

[2018-01-22 15:30] matozoid commented on #1352
Hmmm, the second escaping problem already... Well, will fix this quickly.

(You can make a copy of the JsonPrinter class and fix it for yourself in the meantime)

[2018-01-22 15:31] matozoid opened #1353 "Extract XmlPrinter, JsonPrinter, and YamlPrinter to separate modules"
... so that we can use a real library and avoid silly escaping problems.

Maybe make a deserializer too.

[2018-01-22 19:16] matozoid commented on #1353
@ftomassetti - what do you think - should they all be separate mini modules so that they all have only the dependency they need (XmlPrinter - some XML lib, JsonPrinter - some JSON lib...) or shall we put all of them in the same module?

[2018-01-22 19:54] ftomassetti commented on #1353
I would go for one single module

[2018-01-22 21:23] un0btanium opened #1355 "method improvement concerning visibility"
Hey!

In the past weeks i used the _MethodDeclaration_ class a lot and recently came across the visibility methods.
`
.isPrivate();
.isPublic();
.isProtected();
`

I then wrongly assumed, that `.isDefault()` would be the private-package visiblity, because i couldnt find a `.isPackagePrivate()` method and i learned that no visibility modifier is called the default visibility. This caused some wrong

[2018-01-22 21:37] matozoid opened #1356 "Integrate AccessLevel and AccessSpecifier"
Three ways to represent modifiers is at least one too many :-)

[2018-01-22 22:00] matozoid commented on #1355
Thanks for the post!

Let's see...
- `isDefault` (`Modifier.DEFAULT`) is indeed for the new default methods in interfaces. Quite unfortunate naming if you ask me.
- There's something like AccessLevel hanging around in JavaParser too (@ftomassetti is littering these classes it seems ;-) ) It will give you AccessSpecifier.DEFAULT and `Modifier.getAccessSpecifier` creates one of these. I've added an

[2018-01-22 22:56] un0btanium commented on #1355
- Indeed. Now i know about default methods in interfaces. I feel like using such a generic term like `default` in your programming language or using no modifier/keyword for your access level seems like a flawed concept to begin with. But i guess they have to roll with it now. (Offtopic: In general i always find it difficult to differentiate when having a discussion using language terminology and c

[2018-01-23 01:46] #1352 closed, assigned to matozoid

[2018-01-23 11:42] un0btanium opened #1357 "Variable/Parameter/FieldDeclaration with optional generic types"
Hey!

I might have missed something, but i am unable to extract information about the generic  #types of VariableDeclarationExpr, Parameter and FieldDeclaration.

In the following example, I would like to extract `Integer` (and maybe use and send it to the JavaSymbolSolver for further information):
[code]

I kind of expected a `hasGenericTypes()` or a `getGenericTypes()` with an `Optional<List<Cla

[2018-01-23 11:52] matozoid commented on #1357
Hi! Give this page a read: https://matozoid.github.io/2017/12/13/inspecting-an-ast.html and report back if it helps :-)

[2018-01-23 13:14] un0btanium commented on #1357
That was a good hint in the right direction (would like to see this article be put into the JavaParser: Visited book). The information I require seems to be there. But it is confusing and i am not 100% sure, how I am supposed to extract it.

`private List<Integer> numbers;`
[code]

I am able to retrieve the `VariableDeclarator`s via `FieldDeclaration.getVariables()`. Furthermore, I am able to retr

[2018-01-23 14:27] ftomassetti commented on #2070
Now, you should not touch it: we just use it to test the current version of JSS. It could be any Java project really

[2018-01-23 17:13] ftomassetti opened #1358 "Make clear in the readme how to add javasymbolsolver"
We should specify that if they need also JSS they could include just that (JP would be automatically included). We could create a page on the website to explain why to use just JP and why to use JSS. Then we could link that page in the Readme.

Does it make sense @matozoid ? See discussion in https://github.com/javaparser/javasymbolsolver/issues/368

[2018-01-23 21:12] matozoid commented on #1355
* Uhh, for point one: yes, mostly agree on those things :-)
* Funny how we might go the other way: Modifier will definitely become a `Node`, and it won't be in a `Set` anymore, and we might throw them in a bucket mixed with annotations. It's a good point though, but I think it's better to put it in a separate utility-enum like it is now. Modifiers may be special to us, but they are not to the pars

[2018-01-23 21:15] matozoid commented on #1358
We could even put the JSS dependency first and say "if you only need the AST or do some code generation, you can use the core dependency."

[2018-01-23 21:29] matozoid commented on #1357
Here's code for the first one:
[code]
The issue with `scope` being a `ClassOrInterfaceType` is one of ambiguity. The parser doesn't know if it is a qualified name or a field access. (`A.B` versus `a.B`.) If you can't make assumptions on what the user will put there, you will have to use the symbol solver to find out what it really is.

[2018-01-23 23:13] un0btanium commented on #1355
I wasn't too serious about the "has" examples anyways. Having all the boolean return values under "is" method names would streamline the whole thing and devs wouldnt have to check both "is" and "has". I think the contras overweight the nice spelling you would get out of it.

Do as you see fit, I think I am not as deep into the whole parser like you all are. I am just someone who enjoys using your

[2018-01-24 17:52] matozoid commented on #1355
You're very welcome to start discussions - one of the most difficult things of running a project like this is figuring out what users want. Thanks to you we now know a little more :-)

[2018-01-24 21:02] httpdigest opened #1359 "Replacing type of a FieldDeclaration with multiple variables"
I want to use JavaParser to parse a "template Java" source file and generate multiple source files from it mostly with simply changed field types.

The following self-contained code snippet fails for me with the exception:
`Exception in thread "main" java.lang.AssertionError: The variables do not have a common type.`

Somehow, JavaParser thinks that the PrimitiveType has array levels and the asser

[2018-01-24 21:44] matozoid commented on #1359
Hm. @ftomassetti - the triggered property notifications throws an exception for this valid case. How can we fix this?

[2018-01-24 22:02] httpdigest commented on #1359
Besides that exception, I found it rather strange that in a FieldDeclaration the type is actually _not_ owned by this FieldDeclaration but instead contained and repeated in the VariableDeclarator's.
From what _seems_ logical, the type should only be on the FieldDeclaration, as it is done [in this production](https://github.com/antlr/grammars-v4/blob/master/java8/Java8.g4#L336). So, one could actua

[2018-01-24 22:07] matozoid commented on #1359
@ftomassetti I'm starting to think that this:
[code]
should be an `Optional<Type>` because you can set the types of the variables to incompatible types - which is a consequence of keeping the type on the variables themselves. Lexical preservation should be able to handle this by, I don't know - ignoring it or so?

[2018-01-24 22:09] matozoid commented on #1359
@httpdigest check out the paragraph on "Array support changes" in the [migration guide](https://github.com/javaparser/javaparser/wiki/Migration-Guide) for the explanation. If you like I can find the issues and PR's with the rather lenghty discussion on why exactly this way was chosen.

[2018-01-24 22:10] httpdigest commented on #1359
@matozoid Thanks for the clarification!

[2018-01-24 22:13] matozoid commented on #1359
Thank you for reporting this, even though I'm a bit peeved that you found a bug like this in the core ;-)

[2018-01-24 22:18] httpdigest commented on #1359
You're welcome. I was surprised about this, too :-) and a bit disappointed that, once I saw JavaParser as a great candidate to cover my requirements, tried the first and simplest case I needed to support, hit run, and... boom! :-(
But there is of course a workaround for me right now. Just declare the fields individually.

[2018-01-25 10:01] matozoid commented on #1218
It seems a project like this has been started here: https://github.com/Sebsen/java_refactoring_tool - why not join in? :-)

[2018-01-25 12:28] ftomassetti commented on #1359
This seems a good idea and one of my goals would be to create a "template java language", with placeholders for the mutable parts. Not there yet.

I am also not a big fan of having the type for field declarations work in this way, but there were many different things we had to consider and finally we ended up with this design as a compromise. What I would say is that if you try to build illegal co

[2018-01-25 13:28] matozoid commented on #1359
@ftomassetti - I've got a branch with placholder syntax that I'm working on. Remaining work is massaging the grammar to remove conflicts and creating a matching algorithm.

And indeed nobody loves this design. A side effect is sadly that it takes several setter calls before the type has been changed. So, it takes several set-calls to go from one valid state to the next. A setter throwing an except

[2018-01-26 02:03] dhardtke opened #1361 "Parsing java.io.FileDescriptor: Try with resources only supports variable declarations"
I was just trying to parse "java.io.FileDescriptor" from the JDK included src.zip and this is what I get:

I believe it is related to `synchronized void closeAll(Closeable releaser) throws IOException {` and
`try (releaser) {`

Apart from that all files from the JRE (java.base) are parsable 👍

[2018-01-26 08:32] ftomassetti commented on #1361
Nice, thank you for reporting this.

I wonder if it is just a problem of language level set in ParserConfiguration. Can you try setting the validator to Java9?

@matozoid will know better about this stuff :)

[2018-01-26 08:34] ftomassetti commented on #1359
@matozoid I am looking forward to see the placeholder stuff!

I guess we can redesign the API in JavaParser 4, but in the meantime we can add some methods that do the changes all at once, without moving through inconsistent states?

[2018-01-26 08:53] matozoid commented on #1361
What @ftomassetti says, with this background:
https://matozoid.github.io/2017/04/11/enable-java-9-support.html
https://matozoid.github.io/2017/04/11/validations.html
:-)

[2018-01-26 09:04] matozoid opened #1362 "Create utility methods to change variable declaration type in one go"
Since we can have `int a, b, c;` and the type `int` is stored three times: in a, b, and c, the only way to change the type to something else is to set the new type on a, b, and c separately. That takes three method calls, and the AST state is inconsistent until they are all done.

Create a utility method that takes a type and sets it on all the variables, keeping the array brackets consistent, so

[2018-01-26 09:04] matozoid commented on #1359
#591 for the pattern matching :-) It's pretty nice for complex matching! Buuuuut most of the time a simple textual template engine (or String.format) will do fine.

If we seriously want to redo the API, we'll need to restart the discussion on how to deal with arrays. If this is what you want, open an issue ;-)

Opened --> #1362

[2018-01-26 09:05] matozoid commented on #1319
No response, closing again.

[2018-01-26 09:05] #1319 closed, assigned to matozoid

[2018-01-26 09:55] matozoid opened #1363 "Update sample projects"
Especially because of the JSS move

[2018-01-26 13:23] dhardtke commented on #1361
That seems to work perfectly, awesome!

Also thanks for the quick response.

[2018-01-26 13:23] #1361 closed, assigned to nobody

[2018-01-27 01:20] dhardtke opened #1364 "StackoverflowError when using a custom TypeSolver reading JRE sources"
I wrote a custom TypeSolver that reads .java source files directly from the "src.zip" distributed with the JDK.
In production, that particular TypeSolver provokes a StackoverflowError inside JavaParser / JavaParserSymbolSolver:

	at com.github.javaparser.symbolsolver.javaparsermodel.declarations.JavaParserClassDeclaration.lambda$getAllFields$1(JavaParserClassDeclaration.java:105)
	at java.base/jav

[2018-01-28 12:11] mashalahmad opened #1366 "Is it Possible to crawl all the .java files with parser as we can do with web pages?"
I am trying to extract e.g all the methods signatures from any open source java project e.g. JHotDraw is it possible with parser? I have extracted methods signature from a single java file though

[2018-01-28 12:55] matozoid commented on #1366
The question in the title: take a look at `SourceRoot`.

Please take a moment to read the manual: https://leanpub.com/javaparservisited (it's fine if you pay $0)

[2018-01-28 13:03] matozoid commented on #1363
@ftomassetti I can't figure out how to fix the JSS sample:

[code]

I can't set the symbolsolver because it wants a symbolREsolver?!

[2018-01-28 13:12] matozoid commented on #1358
@un0btanium  and @MysterAitch - why not create a PR instead of thumbing this up? ;-)

[2018-01-28 13:21] matozoid opened #1367 "Exceptions from listeners should not destabilize setters"

[2018-01-28 13:35] ftomassetti commented on #1363
I would expect this line:
[code]
to be:
[code]
Because there is an interface known to JP (SymbolSolver) and an implementation known only to JSS (JavaSymbolSolver)

[2018-01-28 13:40] matozoid commented on #1363
Thanks, that works!

[2018-01-28 14:20] #1363 closed, assigned to nobody

[2018-01-28 14:31] matozoid opened #1368 "Investigate NodeWithVariables around line 148"
See #1360

[2018-01-28 15:01] #1359 closed, assigned to nobody

[2018-01-28 19:58] #1358 closed, assigned to nobody

[2018-01-28 19:59] #1334 closed, assigned to nobody

[2018-01-29 01:42] dhardtke commented on #1364
Maybe this PR is related? I'm not sure:
https://github.com/javaparser/javasymbolsolver/pull/164

[2018-01-29 02:12] dhardtke opened #1370 "Solving generic types that are of type java.lang.Object"
Sorry for the non-descriptive title, but I didn't come up with anything better...

Look at this code:

[code]

How can I solve the chained `equals()` call? Doing this works:
[code]

But what about more complex cases, like this:

[code]

Thanks!

[2018-01-29 17:51] noties opened #1371 "Javadoc output bug (3.5.12)"
Given the original javadoc:

[code]

After processing it by adding a tag (`javadoc.addBlockTag(String,String)`):

[code]

<em><sup>*</sup> Scroll to the right</em>

I think #907 might be a culprit here. New lines are definitely removed, but indent is kept.

 Is there an option to _keep_ original javadoc?

[2018-01-29 18:03] matozoid commented on #1371
@ftomassetti ?

[2018-01-29 18:04] ftomassetti commented on #1371
In #907 I wrote _I would say we can throw away all the EOLs that we can reconstruct later_. Maybe we have been over enthusiastic :D

[2018-01-29 18:09] matozoid commented on #1371
I'll take a look

[2018-01-29 18:26] matozoid commented on #1371
Yeah, I'm going to make it consistent again and keep the EOL's in the blocktags.

[2018-01-29 19:55] matozoid commented on #1371
@noties could you take a look at the changes in the unit tests in the PR and say if it's better this way?

[2018-01-30 05:35] vidyat11 opened #1373 "How to get the line number from ClassTree"
I have migrated JavaParser  2.3 into latest version 3.5.11  . In 2.3 version we can get  **int n=n.getBeginLine()**.How to get line number in latest version ..

[2018-01-30 06:04] johnsonlee opened #1374 "Change parameter name doesn't work properly"
`Parameter.setName()` should make all of the references of the target parameter changed, but the fact is just change the parameter name in method declaration, the parameter usages in method body not changed

[2018-01-30 08:40] matozoid commented on #1373
Hi! Take a look at `n.getRange()` or `n.getTokenRange()`.

[2018-01-30 08:42] matozoid commented on #1374
Hi! This seems to be a misunderstanding of what JavaParser does. You can read the manual here: https://leanpub.com/javaparservisited (if you want, you can get it for free)

[2018-01-30 08:43] vidyat11 commented on #1373
Thanks for your Reply..

[2018-01-30 08:44] noties commented on #1371
@matozoid Hey! I have just checked it out. Looks great and works as expected 👍

BTW, I wanted to say thanks for this amazing library. So great 🙌 !

[2018-01-30 11:24] johnsonlee commented on #1374
Thanks! I resolved it! Here is the code:

[code]

[2018-01-30 11:38] matozoid commented on #1374
Wow! I'll take a look at this tonight :-)

[2018-01-30 11:39] matozoid commented on #1373
Did it help?

[2018-01-30 11:40] matozoid commented on #1371
Cool! It'll be in the next release, next weekend :-) Thanks for the compliments!

[2018-01-30 11:55] johnsonlee commented on #1374
There's an another problem, when save the `CompilationUnit` into file, the code style has been changed because of the `PrettyPrinter`, is there any simple way to keep the code style?

[2018-01-30 12:20] matozoid commented on #1374
Yes, that's what the `LexicalPreservingPrinter` (did I type that right?) is for. But beware: it is still rough around the edges.

[2018-01-30 12:40] vidyat11 commented on #1373
Yah its helped .. i can get line number n.getBegin().get().line....i have changed int n=  n.getBegin().get().line

[2018-01-30 12:58] cunhazera opened #1375 "Consider serialVersionUID as field"
When I call `clazz.getFields()` it includes serialVersionUID.

Is it useful?

[2018-01-30 13:28] matozoid commented on #1373
Good!

[2018-01-30 13:28] #1373 closed, assigned to nobody

[2018-01-30 13:30] matozoid commented on #1375
Hi! Do you mean: the symbol solver should be able to use this field?

[2018-01-30 13:33] cunhazera commented on #1375
I mean stopping returning it as a field. I don't think it's useful to have it in my list of fields from my class.

[2018-01-30 13:37] matozoid commented on #1375
What is clazz here?

[2018-01-30 15:13] cunhazera commented on #1375
An instance of ClassOrInterfaceDeclaration

[2018-01-30 15:16] matozoid commented on #1375
Okay, so consider that the task of JavaParser is to take source code and give it to the user as a tree. If the source code contains a `serialVersionUID`, that should be in the tree because, well, it is in the source. Imagine if someone wanted to write a tool to remove all `serialVersionUID`s from the source code. If JP ignored `serialVersionUID`, that tool could not be built.

What are you buildin

[2018-01-30 15:22] cunhazera commented on #1375
I'm scanning all my fields em checking which have some specific annotation. But it's ok, I can remove it with no problems. Assuming the main purpose of JP it makes sense to parse the serialVersionUID

[2018-01-30 15:22] #1375 closed, assigned to nobody

[2018-01-30 15:35] matozoid commented on #1375
Alright, I guess serialVersionUID never has that annotation so it should be easy :-) Good luck!

[2018-01-30 15:39] johnsonlee commented on #1374
When I use `LexicalPreservingPrinter`, the source code above doesn't work, I try to debug the code and finally I found the problem is:
 [Difference.matching(CsmElement, CsmElement):L233](javaparser-core/src/main/java/com/github/javaparser/printer/lexicalpreservation/Difference.java#L233), why compare the token type but not content?

[2018-01-30 16:12] matozoid commented on #1374
@ftomassetti ?

[2018-01-30 16:14] matozoid commented on #1374
@johnsonlee do you have a piece of code plus the operation that triggers this?

[2018-01-30 16:27] johnsonlee commented on #1374
Here is the `CheckMessage.java` that I was trying to rename the parameter names:

[code]

And here is the test code:

[code]

The test result:

- The parameter `_package` in the constructor of `CheckMessage` could not be renamed.

[2018-01-30 17:02] johnsonlee commented on #1374
One more problem, I was trying to rename the parameters, there wasn't any API I could found to rename the parameter in `JavadocComment`, Would you consider to provide refactor features like renaming in IDE?

[2018-01-30 19:43] malteskoruppa opened #1376 "Converting from AssignExpr.Operator to BinaryExpr.Operator sometimes fails"
@matozoid I tried to bump up the JavaParser version that I'm using so as to be able to use the operator conversion that you recently added (see https://github.com/javaparser/javaparser/issues/1342).

I stumbled upon the _weirdest_ bug. I have no clue what's causing it, and it took me ages to narrow it down to the following minimal example. This is happening with JavaParser 3.5.12.

Consider this p

[2018-01-30 21:09] ftomassetti commented on #1376
Wild guess while away from computer: inizialization of classes happen in a
different order and that causes a problem because one of the two enum refer
the other at a time in which the other has not been initialized

On Tue, 30 Jan 2018 at 20:43, Malte Skoruppa <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2018-01-30 21:30] matozoid commented on #1374
@johnsonlee that last question is quick to answer: refactoring is out of scope for the project. I did notice this project popping up: https://github.com/Sebsen/java_refactoring_tool and we have this issue: https://github.com/javaparser/javaparser/issues/1218

[2018-01-30 21:31] #1371 closed, assigned to matozoid

[2018-01-30 21:48] matozoid commented on #1374
I tried the test case, and for me the result is that one name is changed, the "aPackage" here:
[code]
so we need a better test case :-)

[2018-01-30 21:53] matozoid commented on #1376
Wow, I think @ftomassetti is right... What a nasty hole in Java this is :-O

I'll replace this with a switch statement instead of using constructors.

[2018-01-30 22:18] malteskoruppa commented on #1376
Yes, that makes sense. Yikes, what a nasty hole indeed! :grin:

[2018-01-31 13:08] matozoid opened #1377 "Deprecate JavaParserFacade"
That stuff can be done through ParserConfiguration now.

[2018-01-31 13:35] malteskoruppa commented on #1377
In this case I would suggest to also add some documentation giving an example on how to resolve types now.

The JavaSymbolSolver README still suggests to proceed as follows (https://github.com/javaparser/javasymbolsolver#how-can-i-use-it-show-me-some-code):

[code]
That's exactly what I've been doing up to now. If JavaParserFacade gets deprecated, it's fine by me, but then how should I proceed to

[2018-01-31 13:54] matozoid commented on #1377
Yes, even I didn't know - the integration went quickly, but the documentation hasn't been updated anywhere yet. All I have is https://github.com/javaparser/javasymbolsolver-maven-sample

[2018-01-31 14:12] malteskoruppa commented on #1377
Ah, I see... thanks for the link. So now we can just call `calculateResolvedType()` on a node after setting up the symbol solver in the JavaParser configuration, and we don't have to pass around the typeSolver all the time. Very nice! I'll give it a try as soon as I get around to it. :smile:

[2018-01-31 16:11] matozoid commented on #1377
I'm assuming the new integrated way has the same functionality as the previous way - @ftomassetti ?

[2018-01-31 16:17] dhardtke commented on #1377
Suppose I have a `TypeSolver` that is depending on some external state (e.g., I pass the type solver some source code of classes as Strings instead of reading them from a file): Am I right assuming that I can no longer pass around a `JavaParserFacade`, but instead need to pass around a `JavaParser` instance that is configured with the appropriate `TypeSolver` / `JavaSymbolSolver`?

I think it migh

[2018-02-01 08:33] wwt17 opened #1379 "JSON ouput has multiple keys ("type") under the same dict"
I found this part of JSON when I was trying to parse a method.
[code]
You can see there are two identical keys called "type". While this is not allowed according to JSON standard. If I parse this JSON, it will get only the last one.

[2018-02-01 08:50] ftomassetti commented on #1379
Right! Thank you for reporting this

[2018-02-01 10:22] vidyat11 commented on #1183
Hi

In this same example i am try to add new field **String arg=null;**

how can i add primitive type ...

public static void main(String[] args) {
        CompilationUnit cu = JavaParser.parse("class X{ int a; int b; int c;} ");

        	cu.getClassByName("X").ifPresent(coid -> {

            VariableDeclarator variables = new VariableDeclarator();
            variables.setName("arg");

[2018-02-01 12:05] matozoid commented on #1183
Hi @vidyat11 - could you open a new issue instead of reusing a closed one?

[2018-02-01 12:22] vidyat11 opened #1380 "How i can add primitive type in FieldDeclaration"
Hi

In this same example i am try to add new field String arg=null;

how can i add primitive type ...
[code]

[2018-02-01 13:47] matozoid commented on #1380
Hi! Thanks for opening a new issue :-)

Hints: `VariableDeclarator` has a `type` field, and there is a `PrimitiveType` node type.

Here's an interesting article: https://matozoid.github.io/2017/12/13/inspecting-an-ast.html

[2018-02-01 16:53] ftomassetti commented on #1377
The new integration does one thing: hide the typesolver in the AST. Then there are additional methods on the nodes (like `calculateResolvedType`) that use that typeSolver and call JavaParserFacade behind the scene. In this sense it is discourages to use JavaParserFacade directly, because the new API (basically new methods in the AST nodes) should be always nicer and more intuitive to use.

[2018-02-01 19:43] #1376 closed, assigned to matozoid

[2018-02-01 19:44] matozoid commented on #1379
Any ideas on what the output should be then?

[2018-02-01 19:46] matozoid opened #1381 "Create a unicode filter"
When we get a report that someone can't parse some code because it uses unicode escapes in odd places, we can write a Unicode preprocessor and add it to the `ParserConfiguration` to fix that problem.

See #1240

[2018-02-01 19:56] matozoid commented on #1377
Lots of questions there... The only one I can say something about is that you could pass a `ParserConfiguraiton` around instead of `JavaParser` itself.

[2018-02-01 20:15] matozoid commented on #1340
I assume this is answered.

[2018-02-01 20:15] #1340 closed, assigned to nobody

[2018-02-01 20:16] matozoid commented on #1202
I think the performance is much better after some recent fixes, so I'm closing this.

[2018-02-01 20:16] #1202 closed, assigned to nobody

[2018-02-01 20:17] matozoid commented on #1349
Assuming this is no longer relevant.

[2018-02-01 20:17] #1349 closed, assigned to nobody

[2018-02-01 20:18] matozoid commented on #1357
Assuming this is no longer relevant.

[2018-02-01 20:18] #1357 closed, assigned to nobody

[2018-02-02 01:48] dhardtke commented on #1370
I noticed something interesting:
After replacing `class Vertex<Data> {` with `class Vertex<Data extends Object> {` the solving works...
I guess it is safe to assume `java.lang.Object` is always the supertype of a generic type, but I don't really know how the SymbolSolver works

[2018-02-02 03:13] dhardtke commented on #1364
Okay, so essentially `com.github.javaparser.symbolsolver.javaparsermodel.declarations.JavaParserClassDeclaration#getAllFields` does this:
`getAncestors().forEach(ancestor -> ancestor.getTypeDeclaration().getAllFields().forEach(f -> {`, i.e., it calls `getAllFields()` on each ancestor, which means: for some reason when using the custom TypeSolver, the code runs into this circular execution because

[2018-02-02 08:54] vidyat11 commented on #1380
Great,  Solved the problem. Thanks a lot :)

[2018-02-02 09:01] vidyat11 commented on #1380
Have one more doubt ..how can we add **Static variable**

[2018-02-02 09:25] ftomassetti commented on #1364
This happen because you are trying to parse the source code of java.lang.Object, right? I was not expecting people to try that

[2018-02-02 09:40] shikida opened #1383 "first example in the site is wrong?????"
CompilationUnit compilationUnit = JavaParser.parse("class A { }");
ClassOrInterfaceDeclaration classA = compilationUnit.getClassByName("A");

shouldn't be

CompilationUnit compilationUnit = JavaParser.parse("class A { }");
Optional<ClassOrInterfaceDeclaration> classA = compilationUnit.getClassByName("A");

?

This scares the newbie to the death

[2018-02-02 09:42] shikida opened #1384 "second example from the site is wrong????"
compilationUnit.getNodesByType(FieldDeclaration.class);

is a deprecated method?????

no javadoc????

c'mon

[2018-02-02 09:45] ftomassetti commented on #1383
Extra question marks scare maintainers to the death :)

Yes, the API changed so `getClassByName` is returning an Optional of ClassOrInterfaceDeclaration. We should update that. Thanks for reporting this.

[2018-02-02 09:47] ftomassetti commented on #1384
Hi Leo.
We are sorry if we did not manage to provide all necessary javadoc for the thousands of methods we wrote and share with the community in our free time. We are also users of other projects and we understand it can be disappointing. We really could use some help, so feel free to submit a pull request to help us improve the state of the project. In the meantime we consider this piece of feedb

[2018-02-02 10:50] matozoid commented on #1380
`static` is just a modifier, you should be able to set that on the `FieldDeclaration`.

[2018-02-02 10:52] matozoid commented on #1364
Good test case though! :-D

[2018-02-02 12:43] matozoid commented on #1384
The samples were checked and updated.

[2018-02-02 12:43] #1384 closed, assigned to matozoid

[2018-02-02 12:44] matozoid commented on #1383
Thanks for your feedback! Sorry for scaring you to the death.

The samples were checked and updated.

[2018-02-02 12:44] #1383 closed, assigned to matozoid

[2018-02-02 13:24] vidyat11 commented on #1380
Thanks alot:)

[2018-02-02 13:33] vidyat11 opened #1385 "while parsing its not restore whole orphan comments in Class structure."
Hi

While parsing its not restore whole orphan comments

Eg;Before
[code]

After::
[code]

[2018-02-02 14:10] matozoid commented on #1367
Current implementation is that an exception from a listener will block the setter. It does not get destabilized. I think it is fine as it is.

[2018-02-02 14:10] #1367 closed, assigned to nobody

[2018-02-02 14:31] matozoid opened #1386 "Rename EnumDeclaration.entries to EnumDeclaration.constants"
It's the JLS terminology.

[2018-02-02 14:46] #1364 closed, assigned to nobody

[2018-02-02 14:49] matozoid commented on #352
Looks like that was done already.

[2018-02-02 14:49] #352 closed, assigned to nobody

[2018-02-02 14:56] matozoid commented on #395
Seems fine.

[2018-02-02 14:56] #395 closed, assigned to nobody

[2018-02-02 15:17] matozoid opened #1389 "Add removeFirst and removeLast to NodeList"

[2018-02-02 16:23] #200 closed, assigned to matozoid

[2018-02-02 16:51] AwesomeLemon opened #1391 "Ways to free memory?"
Hello.
I'm using JavaParser and JavaSymbolSolver when creating a dataset by processing thousands of git repos.
My problem is that the RAM consumption increases the longer my dataset-creating-program runs until there's no more RAM left.
I found that calling `JavaParserFacade.clearInstances();` helps by clearing the cache, about which I don't really care since I have already moved on to processing o

[2018-02-02 17:38] matozoid commented on #1391
@ftomassetti can comment on the caches.

There's another option: you can look at `ParserConfiguration` and check to see which features you don't need, then turn those off.

[2018-02-02 19:11] AwesomeLemon commented on #1391
Thanks for the pointer, I've set only lexical preservation to false, since all other options seem to impact comments, which I need.

[2018-02-02 20:25] matozoid commented on #307
Hey @ftomassetti, I'm looking at that last one, and I'm wondering what should be the output. This?

[code]

[2018-02-02 21:53] ftomassetti commented on #307
Yes, I guess

[2018-02-02 22:09] ftomassetti commented on #1391
I could find these caches:
* in PhantomNodeLogic
* in JavaParserTypeSolver (3 caches)
* in SourceRoot
* TypeInferenceCache
* in JavaParserFacade (2 caches)

[2018-02-02 22:10] ftomassetti commented on #1391
I would say: let's see which ones are causing an issue and add methods to reset them

[2018-02-02 22:30] dhardtke commented on #1391
What I find problematic is that there is no way not to use `JavaParserFacade.instances` since `JSS`s internal classes use `JavaParserFacade.get()` internally :(

[2018-02-03 10:28] matozoid commented on #307
Where would "what a weird bug" be stored?

[2018-02-03 10:33] matozoid opened #1392 "Turn "consider annotations" flag into a "logical attribution" flag"
Instead of saying "never attribute comments to annotations," let's make it do what its real intention is: "put comments on the main thing that is following the comment, like a method, a class, ..."

[2018-02-03 10:36] matozoid commented on #1391
For `SourceRoot`: read the Javadoc carefully and you'll be able to avoid the cache. Also: the cache is scoped to the lifecycle of `SourceRoot`, so once it gets garbage collected the cache is gone. Meaning: regularly instantiate a new one if the cache is bothering you.

[2018-02-03 14:32] matozoid opened #1393 "LambdaArgumentTypePlaceholder does nothing?"
Figure out why it exists and what to do about it.

[2018-02-03 14:33] matozoid opened #1394 "TypeExtractor has an empty catch block"
Figure out why and what to do with it.

[2018-02-03 14:37] matozoid opened #1395 "Document why JavaParserClassDeclaration.solveType is deprecated"
... and what to use now?

[2018-02-03 14:38] matozoid opened #1396 "Document why JavaParserClassDeclaration.getContext is deprecated"
... and what to use now?

[2018-02-03 14:40] matozoid commented on #1395
Same for this method on other classes.

[2018-02-03 14:43] matozoid commented on #1395
Also: why are some deprecated, and some are not?

[2018-02-03 14:43] matozoid commented on #1396
Also: why are some deprecated, and some are not?

[2018-02-03 14:44] matozoid opened #1397 "Document why SymbolSolver.solveTypeInType is deprecated"
... and what to use now?

[2018-02-03 14:50] matozoid commented on #1395
Same for `solveMethodAsUsage`

[2018-02-03 15:18] matozoid opened #1398 "Document Navigator.findType"

[2018-02-03 15:23] matozoid opened #1399 "Explain why Navigator has "demand" and "require" methods"
Isn't this the same thing?

[2018-02-03 15:47] matozoid opened #1400 "Finish JavaParserSymbolDeclaration.getType"
There's some code in comments there?!

[2018-02-03 16:10] matozoid opened #1401 "Add more require methods"
Next to all the getters returning Optional, add "requirerers" that do the same, but throw and exception when the value is missing. That should reduce the amount of `.get()` required, since we can often be 100% certain that a value is available.

[2018-02-03 19:12] matozoid commented on #1366
Assuming this is answered.

[2018-02-03 19:12] #1366 closed, assigned to nobody

[2018-02-03 19:12] #1380 closed, assigned to nobody

[2018-02-03 21:52] matozoid commented on #883
https://bugs.openjdk.java.net/browse/JDK-8151454

[2018-02-04 19:12] #1294 closed, assigned to nobody

[2018-02-06 09:42] #1389 closed, assigned to nobody

[2018-02-06 16:15] malteskoruppa opened #1406 "Feature request: implement ClassOrInterfaceType.getFullyQualifiedName() or similar"
Consider this piece of code:

`Foo foo = new com.something.Foo();
`

Here `com.something.Foo` on the right side is a `ClassOrInterfaceType`. Its `getName()` method will return a `SimpleName` representing `Foo`, while its `getScope()` method will return another `ClassOrInterfaceType` representing `com.something`. This latter `ClassOrInterfaceType` object will return `something` when `getName()` is

[2018-02-06 16:31] malteskoruppa commented on #1406
Ah, well, I guess the best option would be to simply call `asString()` on the `ClassOrInterfaceType`. :grimacing: I didn't see the wood for the trees.

I guess this would be the way to go? :smiley:

[2018-02-06 17:29] matozoid commented on #1406
I wanted to give a lecture on how we don't know whether the scope is a class or a name, but I guess it doesn't matter and yes, `asString()` will help you because it is implemented to do the thing that people would like `toString()` to do, but doesn't :-)

[2018-02-06 18:47] matozoid opened #1407 "Add validation for where "var" is allowed to go"
- local variable declarations
- for-each
- old for

[2018-02-06 18:47] matozoid opened #1408 "Infer "var" type"

[2018-02-06 18:48] matozoid commented on #1401
"demand" is a better name, since "requires" does not imply receiving something.

[2018-02-06 19:41] EndruK opened #1409 "Deserialization of JSON/YAML/XML to AST"
Hello there again,
I am working on a Project to generate AST nodes via machine leaning.
For that I use serialized AST nodes im YAML format.
It would be really nice to have a way to deserialize AST nodes in text format back to AST Objects without writing my own deserialization utility.

Best regards :)

[2018-02-06 20:29] matozoid commented on #1409
Hey there, check #1353

In short: we'll need to write serialization/deserialization anyway because no existing library works with our funny getters and setters.

In the meantime, consider using Java as your serialization format.

[2018-02-06 20:31] matozoid commented on #1407
Note that in Java 11 it will also be allowed in lambda parameters.

[2018-02-08 02:28] dhardtke opened #1411 "ObjectCreationExpr#resolveInvokedConstructor always throws"
Hey there,

I am slowly migrating from JavaParserFacade but I stumbled upon a problem where type solving the invoked Constructor does not work:

[code]

`JavaSymbolSolver`s resolveDeclaration() method, however, does not contain an if checking for Nodes which are of type `ObjectCreationExpr` and, hence, I am stuck to the following:
[code]

which is essentially what the JavaParserFacade is doing as

[2018-02-08 10:17] malteskoruppa commented on #1406
I'll admit that the difference between `toString()` and `asString()` is not very clear to me: The Javadoc of `toString()` states _"Return the String representation of this node."_ and there is unfortunately no Javadoc for `asString()`. However, I just had a look at the source code: while `asString()` seems to be an implementation of the recursive algorithm that I had mentioned in the second bullet

[2018-02-08 12:50] treeno opened #1412 "ResolvedMethodDeclaration should have a getter for MethodParameter"
Just a design-improvement:

The list of prameters of a method is currently accessible by ResolvedMethodLikeDeclaration#getParam(index) only... as far as I can see. It would be much nicer if there were a getter that returns a List<> of all Parameters. This would also enable the use Streams instead of Loops and since you use Streams a lot already this would fit better into your design.

[2018-02-08 14:13] matozoid commented on #1406
- it hasn't been documented yet, I am planning to write a blog on it. Your assumption is correct though.
- yep, what it does is more or less arbitrary.
- It's easily explained by `a.b.C` and `a.B.C`. The parser doesn't know the difference between "class C in package a.b" and "class C in class B in package a"...

[2018-02-08 14:15] matozoid commented on #1412
Thanks for the report! If you submit a PR, it will be in the next release :-)

[2018-02-08 14:43] malteskoruppa commented on #1406
- Oh, cool, I look forward to your blog post! :smiley:

- Sure, but the parser doesn't have to know. I simply would like the parser to give me the fully qualified name. Basically, just give me `a.b.c` and let me worry about what `a`, `b`, and `c` are. :) Currently there is no method that just gives me `a.b.c`. `asString()` comes close, though, and I can work with it. I potentially need to cut off

[2018-02-08 15:49] matozoid commented on #1406
We don't have to know for asString(), that's why I decided not to give the lecture ;-)

[2018-02-08 15:49] matozoid opened #1413 "Write an explanation for toString()/asString/..."
See #1406
--> https://github.com/matozoid/matozoid.github.io/blob/master/_drafts/asstring-tostring-gdas-ppv-csm.md

[2018-02-09 13:36] treeno commented on #1412
I should find the time for that in a few days... I believe.

[2018-02-12 07:39] deepsidhu1313 opened #1414 "VariableDeclarator unable to parse multiple declaration separated with ',' (comma) like "int nra, nca;""
I guess there is bug in the code, my visitor class is unable to parse beyond nra in given below in last line of code.

        import java.util.Random;  /* for random number */

        import java.lang.*;		/* for Math.abs funciton  */

        import in.co.s13.sips.lib.*;

        class MatMul {

            public static void main(String args[]) {
                 SIPS sim = new SIPS("MatMul");

[2018-02-12 07:47] deepsidhu1313 commented on #1414
After further investigation, `get()` doesn't work on `n.getInitializer()` like `n.getInitializer().get()` where `n` is `VariableDeclarator` . is there a way to just return null or empty string value if initializer doesn't exist.

[2018-02-12 07:51] deepsidhu1313 commented on #1414
Fixed it using `((n.getInitializer().isPresent() ) ? n.getInitializer().get() : "")`. Sorry for trouble. :) Hope this will help any other user.

[2018-02-12 07:51] #1414 closed, assigned to nobody

[2018-02-12 19:06] matozoid commented on #1414
Here's a nice article on `Optional`: http://www.oracle.com/technetwork/articles/java/java8-optional-2175753.html - or maybe this: http://www.baeldung.com/java-optional

[2018-02-13 13:38] EFregnan opened #1417 "Problem finding file with JavaParserTypeResolver"
Good afternoon. I am sorry to bother you with this issue.
I have the following problem. I wrote an application that uses JavaParser and Java Symbol Solver to extract information from the classes of an external project, cloned from github.

I have the following code:
[code]

The problem is that the typeSolver does not solve references to other classes in the project. I think the issue is in how I s

[2018-02-13 13:40] ftomassetti commented on #1417
You should add entries for all the JARs of all the dependencies in your typesolver

[2018-02-13 13:54] EFregnan commented on #1417
Thank you.
Is this the only way? Apparently the JARs are not included in the project repo and I'd have prefered not to generate them.
Is not possible to make JavaParserTypeSolver find the right class just by setting the file given as parameter in a proper manner?

[2018-02-13 13:58] ftomassetti commented on #1417
I am talking about the dependencies: the library this project is using. You need them to be able to resolve symbols, otherwise there is no way to know how the classes used by this project are

[2018-02-13 14:41] EFregnan commented on #1417
Sorry, I am still confused about this. The projects does not use external libraries: a class only references other classes defined in the project. Is the Jar still needed? I can't understand which jar should be included in this case (since there are no Jars referring to external libraries).

[2018-02-13 14:48] ftomassetti commented on #1417
Which project are using examining? Lucene-solr? Can you give me a link to the project?

[2018-02-13 14:56] EFregnan commented on #1417
Yes, this is the link to the GitHub repository: https://github.com/apache/lucene-solr

An example of the problem that I have encoured is:
 UnsolvedSymbolException{context='unknown', name='PlanetModel', typeSolver=null}Message: Unsolved symbol : PlanetModel

When in class GeoPolygonFactory I find the following: GeoCompositePolygon rval = new GeoCompositePolygon(planetModel);
It happens for other cl

[2018-02-13 15:07] ftomassetti commented on #1417
You are specifying just one directory ("/User/Documents/GitHub/Auto-ordering-code-changes/lucene-solr/lucene/spatial3d/src/") where that module has obviously depends at least on the other modules of the same project. I do not know Lucene and unfortunately they are using ANT instead of anything sensible for dependency management but I would be surprised if they were not using dependencies at all...

[2018-02-13 15:48] EFregnan commented on #1417
I added also the directories of the other modules and it worked (I still have to check exactly which dependecies are needed).

Thank you very much for your time.

[2018-02-13 21:15] #1417 closed, assigned to nobody

[2018-02-15 21:03] clintgibler opened #1421 "JsonPrinter sometimes outputs malformed JSON (multi-line comments)"
Hey there,

First off, thank you all for creating `javaparser`, it's awesome! Also, I'm a big fan of @ftomassetti's detailed blog posts on parsing languages (e.g. [Java](https://tomassetti.me/parsing-in-java/) or [Python](https://tomassetti.me/parsing-in-python/)).

I'm working on a tool that uses `javaparser` that I hope to open source in a few months.

## The Issue

I've been playing with `javap

[2018-02-16 10:42] ftomassetti commented on #1421
Wow @clintgibler thank you for the report and for the compliments, you made my day!

The problem with not using libraries is that so far JavaParser core has zero dependencies. So we are really careful on breaking that rule. @matozoid was thinking of moving the printers to a separate module where we would use dependencies more freely. In that case gson would be a strong candidate to be included

[2018-02-16 10:46] malteskoruppa opened #1422 "Best practice: How to find the precise type of a ResolvedPrimitiveType?"
Assume I have a variable `resolvedPrimitiveType` of which I know it is an instance of `ResolvedPrimitiveType`.

Now I want to find out what primitive type it is. Is it an int? Is it a boolean? etc. For each possible primitive type I want to do something different. Ideally I would like to use a switch statement. I could do this:

[code]

This works, however, I have to _hardcode_ the strings "byte",

[2018-02-19 13:00] matozoid commented on #1421
#1353 is indeed the central issue for this. We're swamped in work, so if someone feels like picking that up, that would be great.

[2018-02-19 13:01] #234 closed, assigned to matozoid

[2018-02-19 13:23] #1408 closed, assigned to matozoid

[2018-02-19 15:07] matozoid commented on #1413
https://matozoid.github.io/2018/02/19/asstring-tostring-gdas-ppv-csm.html

[2018-02-19 15:07] #1413 closed, assigned to nobody

[2018-02-19 15:07] matozoid commented on #1406
Post is up: https://matozoid.github.io/2018/02/19/asstring-tostring-gdas-ppv-csm.html :-)

[2018-02-19 15:38] daanschipper commented on #1422
I had the same issue and I settled on using
[code]

[2018-02-19 19:01] matozoid commented on #1422
@ftomassetti should be able to answer this. In the meantime: how would you expect it to work?

[2018-02-19 22:13] ftomassetti opened #1425 "Running also slow tests on Travis"
Should we?

[2018-02-19 22:14] ftomassetti commented on #1422
We could make ResolvedPrimitiveType an enum. Sending a PR

[2018-02-20 09:38] daanschipper opened #1427 "SourceRoot.tryToParse() doesn't ignore hidden directories"
In my project some template java files in the `/.idea` are present that get picked up by the SourceRoot's FileVisitor. For some reason the relative path is changed from `/.idea/fileTemplates/code/Catch Statement Body.java` to `/idea/fileTemplates/code/Catch Statement Body.java`, which throws a `NoSuchFileException`.

[code]

A solution would be to skip hidden directories upon visiting the files, a

[2018-02-20 10:49] matozoid commented on #1427
Okay, that might be a good idea, considering people still use .svn directories.

[2018-02-20 10:49] matozoid commented on #1427
It's interesting to investigate why that "." disappears too. Maybe a bug in the JDK?

[2018-02-20 10:51] matozoid commented on #1425
#1350 - yes please!

[2018-02-20 10:51] matozoid commented on #1425
And please explain somewhere how to run them

[2018-02-20 13:17] malteskoruppa commented on #1422
PR #1426 looks like a good solution, I look forward to trying it out and of course I will report back! :smiley:

[2018-02-20 17:13] matozoid opened #1428 "Make a PackageOrTypeName node and use it for scopes."
https://docs.oracle.com/javase/specs/jls/se9/html/jls-6.html#jls-6.5.4

[2018-02-20 20:15] matozoid commented on #1427
Okay, it's SourceRoot, it just assumes that every directory inside of the root is a valid package "part" so it doesn't like dots. Anyway, I've generalized it a bit and now it skips every directory name that is not allowed in a package.

[2018-02-20 20:21] matozoid opened #1430 "getAllInterfaces should be clear on duplicate interfaces"
Interfaces can be implemented multiples times by using `implements Bla` in multiple classes in the inheritance hierarchy. `getAllInterfaces()` currently reports all of these, so it reports duplicates. It should be documented well if this is the desired behaviour, or it should be changed.

[2018-02-20 20:30] matozoid commented on #307
I get it now, after digging through the visitor.

[2018-02-20 20:57] #883 closed, assigned to matozoid

[2018-02-20 21:01] matozoid opened #1432 "Validate what is allowed to be inferred for var"
The restrictions are in https://bugs.openjdk.java.net/browse/JDK-8151454

* Forms of local variable declarations that lack initializers, declare multiple variables, have extra array dimension brackets, or reference the variable being initialized are not allowed

* The initializer has no target type (because we haven't inferred it yet). Poly expressions that require such a type, like lambdas, metho

[2018-02-20 23:52] ctubbsii opened #1433 "Parse only imports (or... parse as much as possible, keep rest as "garbage")"
I maintain the https://github.com/revelc/impsort-maven-plugin which uses javaparser-core to format the imports of Java files. There is a known issue in the plugin where it fails on invalid Java, even if that invalid Java is much later in the file, where my plugin does not care about it.

I think it would be nice if the parser could parse the import section... or maybe as much of the file as it can

[2018-02-21 05:32] clintgibler commented on #1421
Heh, I'm glad @ftomassetti :) Sorry for the response delay, I was traveling.

I think it's great that JavaParser core has no dependencies, that makes sense why you'd want to move the printers to a separate module.

I understand that there are many tasks in progress, so rather than an ideal fix that involves creating a separate module, do you think it'd be possible to do a quick fix that mostly wor

[2018-02-21 16:10] matozoid commented on #1433
Well, finally someone wants to use error recovery for something :-)

[2018-02-21 16:22] matozoid opened #1434 "Add methods that determine if something is a poly expression."
These are mentioned in the JLS: https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html and it seems possible to analyse this without too much complexity. I needed it when trying to implement #1432.

[2018-02-21 16:28] ftomassetti commented on #1434
We should have some (unused) code to do so in JSS...

[2018-02-21 16:28] matozoid opened #1435 "var inference should remove wildcard types"
Looks like there is an additional complexity in var inference:

See https://bugs.openjdk.java.net/browse/JDK-8151454

"Capture variables, and types with nested capture variables, are projected to supertypes that do not mention capture variables. This mapping replaces capture variables with their upper bounds and replaces type arguments mentioning capture variables with bounded wildcards (and then

[2018-02-21 16:29] matozoid commented on #1434
Very nice!

[2018-02-21 16:38] ftomassetti commented on #1434
Look for `ExpressionHelper.isPolyExpression(Expression)`. Note that in some cases it could throw `UnsupportedOperationException`. Basically I copied entire portions of the JLS and tried to implement it piece by piece. However in that chapter there are parts that are not very clear to me

[2018-02-21 16:40] ftomassetti commented on #1434
I rectify: expect it to throw _UnsupportedOperationException_ most of the time. It is quite complex to implement...

[2018-02-22 11:09] Eransho opened #1436 "Problem with solving anonymous class"
Hi,
First of all - great project!
I've encountered the following issue: When trying to solve a code containing an anonymous class usage, you get the following exception:
[code]
The relevant part of the code I tried to solved:
[code]
Where `TypeIfc` is a local interface in the local project I'm trying to solve.

I wasn't sure if this is a known issue or not, didn't find it on the list.
Cheers

[2018-02-22 12:33] matozoid commented on #1436
Thanks for the report!

[2018-02-22 16:33] ftomassetti commented on #1421
Maybe `value = value.replace("\n", "\\\n");` should be `value = value.replace("\n", "\\n");`. Also, I am not sure how this interact with the following line

[2018-02-22 18:21] matozoid commented on #1421
Okay, PR coming up.

[2018-02-22 18:23] #1407 closed, assigned to matozoid

[2018-02-22 18:23] #1432 closed, assigned to matozoid

[2018-02-22 19:39] #1427 closed, assigned to matozoid

[2018-02-22 20:01] matozoid commented on #1436
I tried to prepare a test case, but it doesn't fail. Can you help out? https://github.com/matozoid/javaparser/blob/issue_1436_solve_anon_class/javaparser-symbol-solver-testing/src/test/java/com/github/javaparser/symbolsolver/Issue1436.java

[2018-02-23 04:41] clintgibler commented on #1421
Good call @ftomassetti, and thanks for the quick turnaround time @matozoid! Nice catch, I forgot to add the `\r` replace as well. I've tested your changes locally and it seems to work for me.

[2018-02-23 09:02] matozoid commented on #1421
@clintgibler you become an expert in EOL's when you work on a multiplatform parser :-)

[2018-02-23 19:19] #1421 closed, assigned to nobody

[2018-02-24 01:08] clintgibler commented on #1421
@matozoid Haha fair, I could see that :)

By the way, how hard would it be to modify JsonPrinter to output some additional contextual information, like the start and end LOC for a MethodDeclaration or the LOC and column for some symbol?

I've written some hacky snippets to extract contextual info like that from a couple of different node types, but it would be much cleaner and better if I could ju

[2018-02-24 01:08] clintgibler commented on #1421
Also, thanks again for the quick response / help, much appreciated!

[2018-02-24 10:57] matozoid commented on #1421
@clintgibler it's not really written for extension - I say copy it to your own project and fiddle with it :-) Real improvements will come when we redesign them for real serialization.

[2018-02-24 11:09] matozoid commented on #985
So did we have a mini conference? :-D

[2018-02-24 11:11] matozoid commented on #710
Relabeling as "fun project idea" because we don't have the manpower to support more features.

[2018-02-24 11:12] ftomassetti commented on #985
Yes, a short one :D

[2018-02-24 11:15] matozoid commented on #985
So we can open a new issue if we want another :-)

[2018-02-24 11:15] #985 closed, assigned to nobody

[2018-02-25 14:05] Eransho commented on #1436
Instead of calling `oce.calculateResolvedType()` I used `JavaParserFacade.get(typeSolver).solve(oce)`.
My motivation is to get the resolved type of both return type and params of methods/ctors calls

[2018-02-25 16:21] matozoid commented on #1436
Alright, which version are you using?

[2018-02-25 17:58] matozoid commented on #1422
Prematurely closing this, reopen if necessary ;-)

[2018-02-25 17:58] #1422 closed, assigned to ftomassetti

[2018-02-25 21:25] clintgibler commented on #1421
@matozoid Heh, sounds good, will do :) I know you guys have a bunch of things you're working on, but do you have a rough idea of when you'll be redesigning things for real serialization? No pressure, I'm just trying to get an approximate feel for the timeframe.

[2018-02-26 10:34] jjbr opened #1439 "Resolving scope type of static method call"
Say I have class A with static method foo(). In class B in call foo with: A.foo();.
When I now try to resolve the type of the expression's scope (i.e. A), the SymbolSolver throws an error along the lines of:

Now resolving the type of A is odd, of course, as A is a type itself and not a variable. Does JavaParser / the SymbolSolver provide a means to easily differentiate between an instance and a s

[2018-02-26 11:17] Eransho commented on #1436
3.5.15

[2018-02-26 12:44] matozoid commented on #1421
The timeframe would be at least a few months away, probably longer, unless someone new walks in and starts working on it. Everyone is just really, really busy :-/

[2018-02-26 16:26] BriandUlysse opened #1440 "Problem using addFieldWithInitializer"
Hello there,
(Sorry if my english is not perfect)

I've tried to create a new Field in a class, so at first I tried with the method addField as :
`myClass.addField(String.class, nameVar)`
I also tried to use the parameter modifier using it like this :
`myClass.addField(String.class, nameVar,Modifier.PUBLIC)`
But It didn't work, I had to create a table Modifier[] with my Modifier.PUBLIC in it, not

[2018-02-26 17:28] matozoid commented on #1440
Hi!

Here are some samples:

[code]

[code]

I agree that we can have more consistency in these convenience methods! I'll make an issue about it.

[2018-02-26 17:33] matozoid opened #1441 "Complete NodeWithMembers"
As noted in #1440, the methods in `NodeWithMembers` are not completely consistent.

We could use...
[code]

[2018-02-26 20:51] esplemea opened #1442 "LazyType::isWildcard is wrong"
I noticed by going through the code that the method looked wrong
`public boolean isWildcard() {
        return getType().isArray();
    }`
should call getType().isWildcard() instead.
I am new to this project but it seemed like a small mistake of copy/pasting so I thought I should report it.

[2018-02-27 03:09] clintgibler commented on #1421
No worries, I appreciate the heads up. Good luck on everything!

[2018-02-27 08:25] dong-li-awx opened #1443 "How can I get MethodDeclaration from MethodCallExpr"
I get all `MethodCallExpr` in a file via following code:
[code]
Now, I want to get the begin line and end line of the method corresponding to the `MethodCallExpr`.
I found that if I can get an instance of `MethodDeclaration`, I can get the begin line and end line via `getRange()`.
So how can I get `MethodDeclaration` from `MethodCallExpr`?

[2018-02-27 08:40] ftomassetti commented on #1443
You should call resolveInvokedMethod and then cast it to JavaParserMethodDeclaration and from there get the wrapped MethodDeclaration

[2018-02-27 09:07] dong-li-awx commented on #1443
@ftomassetti Thanks a lot!

[2018-02-27 09:11] ftomassetti commented on #1443
You are welcome. I am going to close this issue, if you have more questions feel free to open new issues

[2018-02-27 09:11] #1443 closed, assigned to nobody

[2018-02-27 09:12] BriandUlysse commented on #1440
Thank you for your quick answer.

For the Modifier, look like my IDE was confused with
`java.lang.reflect.Modifier`
and
`com.github.javaparser.ast.Modifier`

The only remaining problem, is with the parseExpression, I try to put a String, like this :
`parseExpression("\""+varContainingMyString+"\"")`
But my String contain some carriage return and it seem to be a problem since the new error say :

E

[2018-02-27 09:50] ftomassetti commented on #1442
Thank you for reporting this. In which class did you find it?

[2018-02-27 09:57] esplemea commented on #1442
LazyType, I wrote it in the title only.
The path is javaparser.symbolsolver.model.typesystem

[2018-02-27 10:22] dong-li-awx commented on #1443
For some method, when casting to `JavaParserMethodDeclaration`, it raises the following exception:
[code]

[2018-02-27 10:28] ftomassetti commented on #1443
Yes, that is because they are resolved not to methods declared in source code but in JARs or through reflection, so you cannot cast them

[2018-02-27 11:04] dong-li-awx commented on #1443
I found if the call expression and declaration of a method is not in the same source file (i.e. file A calls a method declared in file B, file A and B are both source code), it will raise the `ClassCastException`.
I build `JavaParser` as follow:
[code]
Did I miss something?

[2018-02-27 16:44] ftomassetti commented on #1443
That would be really surprising...

Can you provide more details? For example, the stack trace, the examples considered, etc

[2018-02-27 19:49] matozoid commented on #1440
Okay, here's some additional things to try:
[code]

parseExpression wouldn't parse your string because you asked it to parse something like the following:
[code]

Parsing source code is full of these escaping pitfalls :-)

[2018-02-28 03:02] dong-li-awx commented on #1443
Here is the stack trace:
[code]
----------------------------------
Here is an example:
main/src/main/java/collaboration/todo/TodoItemTest.java
[code]
main/src/main/java/collaboration/LoginPage.java
[code]
The concerned method is `setLanguage`

-------------------------------------
Here is how I parse the source code, resolve the method call and cast it to `JavaParserMethodDeclaration`:
[code]

[2018-02-28 07:57] ftomassetti commented on #1443
Well, you are causing the class cast exception...
When you get a `ResolvedMethodDeclaration` it *COULD* be a `JavaParserMethodDeclaration` or another subclass `ResolvedMethodDeclaration`, depending on where the method was found. If it was found in a piece of Java code it will be a `JavaParserMethodDeclaration`, if it comes from a jar it will be a `JavassistMethodDeclaration`, if it is comming from

[2018-02-28 07:57] #1442 closed, assigned to matozoid

[2018-02-28 15:59] BriandUlysse commented on #1440
In fact my string was a sql request, so it was better to keep it on several lines.

In the end I've come up with this :
`field.getVariable(0).setInitializer("\""+sql.toString().replaceAll("\n", " \" \n + \"")+"\"");`

Then after parsing it would give me:

[code]

Thank you for your help! :)

[2018-02-28 16:53] daanschipper opened #1445 "Parsing SourceRoot without startPackage doesn't parse"
I'm experiencing some strange behaviour with the parsing functions of `SourceRoot`. When defining a `startPackage` is behaves as expected, but when not defining a `startPackage` I get no result at all.

[code]

I unfortunately can't debug properly because the `ParrelParse` is an anonymous class and I don't have access to maven on this computer. I however suspect it because of
[code]
which should b

[2018-02-28 17:21] matozoid commented on #1440
Cool! If that's everything, please close the issue :-)

[2018-02-28 17:27] matozoid commented on #1445
This is going to be hard to debug without some hints about your directory structure :-)

But at least I noticed that `BulkParseTest.parseOwnSourceCode` stopped working because it starts at a too high directory!

[2018-02-28 18:30] CharlesZ-Chen opened #1446 "JavaParser does not correctly parse annotations on method return type"
~~I think this issue might related to https://github.com/javaparser/javaparser/issues/912~~

Given below code:

[code]

The JavaParser would parsed above code into below `MethodDeclaration`:

[code]

And always parsed `@A` as a declared annotation on the whole method.

This somehow modifies the meaning of the annotation, if `@A` is defined as a annotation designated applied to type also (e.g. `@Ta

[2018-02-28 18:44] matozoid commented on #1446
Hi!

This is known, it is documented in the Javadoc: http://www.javadoc.io/doc/com.github.javaparser/javaparser-core/3.5.15
, so the decision was made to put all annotations on `MethodDeclaration`, not on the type. This is because the parser itself has no way to look for other classes, to solve symbols, or anything, all it can do is construct the tree. Therefore deciding what the annotation belong

[2018-02-28 18:46] CharlesZ-Chen commented on #1446
@matozoid  Ok, good to know this. Thanks for the quick reply!

[2018-02-28 19:31] matozoid commented on #1446
No problem! Let us know if you have more issues :-)

[2018-02-28 19:31] #1446 closed, assigned to nobody

[2018-03-01 03:18] wwt17 commented on #1379
I think just change the string "type" to some other name (for example, "node") in the method output of class JSONPrinter will solve this issue.

[2018-03-01 08:17] #1440 closed, assigned to matozoid

[2018-03-01 09:38] daanschipper commented on #1445
I wrote a test that shows my problem, when adding this to `SourceRootTest` the size is of the list of cu's is 0. Here root is `javaparser/javaparser-testing/target/test-classes`. However, when I set `root = CodeGenerationUtils.classLoaderRoot(SourceRootTest.class).resolve("com");` to `javaparser/javaparser-testing/target/test-classes/com` it behaves correctly.
[code]

[2018-03-01 09:59] daanschipper commented on #1445
After some more investigation, `JAVA_IDENTIFIER.matcher(dirToEnter).matches()` is false, thus `isSensibleDirectoryToEnter()` returns false and the whole sub tree is skipped.

Again with the same paths `javaparser/javaparser-testing/target/test-classes` and `javaparser/javaparser-testing/target/test-classes/com`, the dirToEnter is `test-classes` and `com` respectively and the result of the match is

[2018-03-01 12:34] matozoid commented on #1445
Yes, I made it that way. SourceRoot must be pointed at the root of a source directory and will skip any directory that cannot be part of a package name (meaning: not a valid identifier.)

[2018-03-01 12:35] matozoid commented on #1379
Ah, I see now, I thought it was a different problem.

[2018-03-01 12:38] daanschipper commented on #1445
So what would you recommended for a multi-module project? Having multiple SourceRoots per module?

[2018-03-01 12:42] daanschipper commented on #1445
I'm preparing a pr where I'm additionally checking if the directory given to `isSensibleDirectoryToEnter()` is equal to the root of the SourceRoot, if so return true otherwise false. What do you think of that solution?

[2018-03-01 12:44] ErkoKnoll opened #1448 "Symbol Solver is unable to solve references in an enum"
Hi,

I wrote a parser that is going over JDK sources and I'm resolving method signatures for which I'm using JavaParserFacade.convertToUsage(Type, Node) to find the references for the types associated. I have set the whole JDK (1.8.0_162) source directory for symbol solver to resolve types from and for most of the types it works flawlessly but for certain enums it is failing to resolve any type ot

[2018-03-01 14:45] matozoid commented on #1445
In theory I'd say: read the project configuration file, but I can imagine that's way too much work right now (although someone was working on doing that for maven a while ago.)

Wasn't that class you made recently scanning for good source root directories? That would map to multiple SourceRoots then. Here's what I did to a test in JP to fix its source code scanning: https://github.com/javaparser/j

[2018-03-01 15:09] daanschipper commented on #1445
While you're solution is correct, creating new SourceRoots for each root, is does require some manual work. I hoped that providing one Path to SourceRoot would be sufficient enough that it would gather all java files within that directory and you could mess with the CompilationUnits within the folder. However this is apparently not the use of that class

I could extract the `JavaSymbolSolverWalker

[2018-03-02 02:49] dong-li-awx commented on #1443
Well, but why do I get a `ReflectionMethodDeclaration` when resolve above example method (`setLanguage`)?

[2018-03-02 07:36] ftomassetti commented on #1448
This is an interesting application!

[2018-03-02 12:15] ErkoKnoll opened #1449 "Symbol Solver is unable to resolve extended generic type"
Hi,

I have the following simple class:
`public class Class5<T, S extends Class6<T>> {
}`

I'm trying to resolve Class6 that is in resolvable path. As Class6 node is a type of SimpleName then I'm using JavaParserFacade.solve(SimpleType) but when asked if it is solved by using isSolved it returns false.

[2018-03-02 18:53] AwesomeLemon opened #1450 "Incorrect behaviour with dirs with dots in names"
In some projects there're subfolders with dots in names. (example: https://github.com/eclipse/eclipse.platform.team).

Compiling such projects using SourceRoot leads to NoSuchFileException. I've tracked the code and found out the culprit: it turns out that in method ``CodeGenerationUtils.packageToPath`` the dots in the path are replaced with slashes. Obviously, if there were indeed dots in the fol

[2018-03-02 20:24] matozoid commented on #1450
Hi! Is this on the very latest version? We just had a change near this functionality.

[2018-03-02 21:06] SjurWarEagle commented on #1450
Hi matozoid,
it's still in 3.5.15 latest version on maven from Feb28 and in the version from git, at least in the CodeGenerationUtils.
I was about to file the same problem.

Another idea to fix this would be to add a new parameter to ParserConfiguration.

[2018-03-03 02:10] pengzhendong opened #1451 "How can I get the type of a statement?"
I want to get the type of a statement in the source code, such as line 1 is an 'ArrayCreationExpr' and line 2 is an 'AssignExpr'

1 new int[5]
2 a=5

[2018-03-03 10:29] matozoid commented on #1450
Okay, after looking over this for a bit, I think it is a misconception about what a source root is.

SourceRoot's root directory should correspond to the location of the default package of a set of source files. It isn't a simple directory walker. If "eclipse.platform.team" is inside your source root, it is not a valid source directory, because it cannot correspond to a part of a package. So, `/bl

[2018-03-03 10:37] matozoid commented on #1445
Okay, I had to think about this long and hard, but #1450 convinced me that we need something like this in core :-)

Here's some other things I was thinking about:

What are we doing here? Are we scanning a project directory? So should we call it `ProjectRoot`? Would people be confused with the symbol solver setup? `ProjectRoot` wouldn't include dependencies like jars, or would it? Should we call i

[2018-03-03 10:38] matozoid commented on #1450
I see it's not well documented in `SourceRoot` too, let me fix that. (Pretty odd, seeing that this is the most well documented class in the whole project ;-) )

[2018-03-03 11:00] matozoid commented on #1451
Hi! Normally that would be done with `instanceof` and casting. If you need help with that, please post some code :-)

[2018-03-03 11:10] pengzhendong commented on #1451
![image](https://user-images.githubusercontent.com/10704539/36933556-04288af2-1f16-11e8-8a3a-f907d7cd0d24.png)
Such as I have a Java file called Test.java, I want to get the type of each line.
The result I expected may be:
[code]
Each line of a multiline statement should output the same type.

Thanks very much!

[2018-03-03 11:50] matozoid commented on #1451
Okay, if you have written no code yet, I will point you to some resources to get started:
- https://leanpub.com/javaparservisited
- https://github.com/javaparser/javaparser-maven-sample
- https://matozoid.github.io/2017/12/13/inspecting-an-ast.html

Please tell me if that clears up things.

[2018-03-03 11:52] matozoid opened #1453 "Move articles from https://matozoid.github.io/ to javaparser.org"

[2018-03-03 11:55] pengzhendong commented on #1451
Thanks, the sample helps a lot.

[2018-03-03 12:16] ftomassetti commented on #1453
Do you need anything? You should have your user account and I can help with wordpress plugins

[2018-03-03 12:41] matozoid commented on #1453
I need time :-)

But seriously, if I can import [these files](https://github.com/matozoid/matozoid.github.io/blob/master/_posts/2017-04-14-validations.md) one on one, I'll be done in no time.

[2018-03-03 12:56] matozoid commented on #1453
@ftomassetti - you could help by doing the first one, so I can see where it has to go.

[2018-03-03 18:06] AwesomeLemon commented on #1445
I don't feel that I understand current project architecture good enough, so I won't comment on many questions about that.

Instead I thought I should write what I was trying to achieve in #1450 in the first place. And that was to find and to compile all files in some project folder. So @matozoid, in your terminology what I would like to have is ``SourceRoots``.

[2018-03-03 18:07] AwesomeLemon commented on #1450
Ok, I understand the problem; let's move to that another issue.

[2018-03-03 18:07] #1450 closed, assigned to nobody

[2018-03-03 18:30] AwesomeLemon opened #1454 "SymbolSolver fails with StackOverflow in FieldAccessExpression"
Imagine having local variable with the same name as a field of the class of this variable. So, for example, I encountered the problem in code for linked list. Simplified version is as follows: There's a class Node:
[code]
Then in some method there's local variable ``nextSibling`` of type ``Node``.
So the following code should work fine:
[code]
However, if type of the first ``nextSibling`` is to be

[2018-03-03 19:58] matozoid commented on #1445
That adds something to think about: if it's `SourceRoots`, it can just as well be a single `static Set<SourceRoot> scanForSourceRoots(Path dir)` on `SourceRoot` itself.

[2018-03-04 17:59] AwesomeLemon opened #1455 "SymbolSolver fails with StackOverflow when handling generic types"
So in the file (https://github.com/treejames/SmartAndroid/blob/master/Smart_Client/app/libs/guava-master/guava/src/com/google/common/reflect/TypeToken.java) there's such code:
[code]
Failure occurs when ``solveMethodAsUsage`` is called on the "type.getRawType()".
Inside at some point return type of the method is being resolved. This leads to call to ``ResolvedTypeParameterValueProvider.useThisType

[2018-03-05 08:30] daanschipper commented on #1445
I agree with AwesomeLemon that I needed to find and compile all files in a project folder. However, I also need to resolve the symbols in that project folder, the function `scanForSourceRoots(Path dir)` would not be sufficient enough for that since this should also scan all the jar files.

I'm thinking about a class `ProjectRoot` that handles all the functionality for javaparser-core, scanning the

[2018-03-05 08:38] ftomassetti commented on #1454
Thanks for your help debugging this one.

I am not sure how to get this solved.

[2018-03-05 08:44] ftomassetti commented on #1449
SimpleType does not exist. If you are using SimpleName the solver is probably looking for a value and not a type, therefore it cannot solve it.

You could just call `resolve` on the `ClassOrInterfaceType` (Class6 should be a ClassOrInterfaceType)

[2018-03-05 08:44] ftomassetti commented on #1449
(It does not seem a bug to me, removing the label)

[2018-03-05 08:45] ftomassetti commented on #1448
Do you have more details? We could add this as a long running test, maybe to be run just before releases

[2018-03-05 08:47] ftomassetti commented on #1439
No, it does not provide a way to differentiate. If you try to resolve the whole method call JavaParser will try to solve both as an instance or static method and figure out the answer for you. Short answer: do not try to solve the scope, solve the method call and let JavaParser figure things out for you

[2018-03-05 08:48] ftomassetti commented on #1430
I guess it could be implemented twice, maybe with a more specific type parameter the second time. We could want to report both but definitely we should comment this

[2018-03-05 08:49] ftomassetti commented on #1411
Right, we should fix that. Thank you for reporting this!

[2018-03-05 10:48] matozoid commented on #1445
Alright, just give it a shot then, and we'll see what comes out :-)

[2018-03-05 19:19] malteskoruppa commented on #1439
Thanks for the clarification @ftomassetti.

Would it be possible to provide a method MethodCallExpr.isStaticCall() or similar that would use the same logic behind the scenes to determine whether the call expression is an instance or a static method call as JavaParser already does when resolving the type of the method call expression?

I think it would be a great feature. :smiley: It would enable u

[2018-03-06 07:45] ftomassetti commented on #1439
Currently it would not be *directly* possible, but you could simple call `resolve` and then on the `ResolvedMethodDeclaration` you could check if the declaration is static or not.

[2018-03-06 07:45] ftomassetti commented on #1439
It could be a useful feature and it sounds perfect for a Pull Request.... Just saying...

[2018-03-06 09:33] malteskoruppa commented on #1439
I thought the same thing, however, it is not perfect: What about instance calls of static methods? (I mean static methods accessed via instance variables.) Such calls would be classified as static calls by this approach, which would be arguably incorrect (or wouldn't it?).

I realize that accessing static methods via instance variables is bad practice, of course. In fact, I think that it is a desi