[2016-01-29 00:59] JinyongPark commented on #54
without Maven, how i use your source? i use eclipse with Dynamic Web Project

[2016-01-30 09:00] ftomassetti commented on #54
please @JinyongPark do not ask questions unrelated this issue here. If you have questions open a new issue. Thank you!

[2016-01-31 12:58] SmiddyPence commented on #260
Hi.  Sorry it took so long to respond.

Can you provide the source that produces your problem?  t makes much easier to investigate.

Thanks

[2016-02-01 08:24] JinyongPark opened #267 "Parsing error: Encountered: "\ufeff" (65279), after : """
This is error logs)

XdbHelperForLotte.java

Exception in thread "main" com.github.javaparser.TokenMgrError: Lexical error at line 1, column 1.  Encountered: "\ufeff" (65279), after : ""
    at com.github.javaparser.ASTParserTokenManager.getNextToken(ASTParserTokenManager.java:2483)
    at com.github.javaparser.ASTParser.jj_scan_token(ASTParser.java:8931)
    at com.github.javaparser.ASTParser.jj_

[2016-02-01 10:50] JanosSarkoezi commented on #266
I found the solution for the NullPointerException. It was my error, sorry for that. I modified the class

https://github.com/JanosSarkoezi/manipulator/blob/master/src/main/java/com/mycompany/manipulator/deleter/MethodCallExprDeleter.java

Now it works. :) Sorry for disturbing.

[2016-02-01 10:50] #266 closed, assigned to nobody

[2016-02-01 13:46] matozoid commented on #162
Can you explain why this is not a bug?

[2016-02-01 13:54] ptitjes commented on #162
I'm curious too! :p

[2016-02-01 15:12] SmiddyPence commented on #162
not sure maybe hot keyed it somehow.

[2016-02-09 13:11] sebastiankirsch opened #269 "TypeParameter misses out on setting itself as parent of its annotations"
As noticed by @ptitjes, TypeParameter has some minor issues due to not setting itself as parent at these spots:

Missing setAnnotations() call here: https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/TypeParameter.java#L73

Missing setAsParentNodeOf() call here: https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/j

[2016-02-10 14:54] sebastiankirsch opened #270 "Don't let TokenMgrError extend Error anymore"
It seems rather awkward that TokenMgrError extends `java.lang.Error`, as it is not indicating "serious problems that a reasonable application should not try to catch" to state the javadoc. Instead, it should probably extend `RuntimeException` (to be backward-compatible).

[2016-02-12 23:51] LunNova opened #271 "TypedNode Interface with getType/setType"
Could we get a TypedNode interface?

It would be implemented by all nodes which have getType/setType methods.

[code]

I'm trying to remap types in some code, currently this requires either a large number of instanceof checks, casts and code duplication or costly/slow reflection as there is no interface implemented by everything which has a Type.

If this feature request makes sense/is approved I

[2016-02-13 08:05] ftomassetti commented on #271
I am in favor of this kind of interfaces: we introduced a few liked the NamedNode and we had a shot at the NodeWithModifiers interface. I agree they helped a lot in processing code.

[2016-02-13 11:54] matozoid commented on #271
Sounds like something that should have been there already :) If more methods-that-should-have-been-part-of-a-type are known, please open issues for those too.

Go ahead and submit a PR.

[2016-02-13 12:59] LunNova commented on #271
Changed the name to TypedNode as that seemed more consistent with NamedNode which @ftomassetti mentioned.

[2016-02-18 22:56] kedarmhaswade opened #273 "Getting a (Javadoc) Comment for a particular Method in a CompilationUnit?"
Is it possible to get the (Javadoc) Comments associated with a Method definition/declaration in a CompilationUnit? I see that I can get all the Comments, but it is not clear how to associate a Comment with a Method. Perhaps the AST does not allow it?

[2016-02-19 03:43] kedarmhaswade commented on #273
Sorry, I figured it out using `CompilationUnit` and `MethodVisitor` that extends `VoidVisitorAdapter`. Thanks! But there is an issue. I think while parsing the line 215 in java/util/Comparator.java, javaparser throws an exception at column 31. The line in question:

[code]

and the error shown by javaparser is:

[code]

[2016-02-19 07:11] ftomassetti commented on #273
About the comment: Yes, visitor is the way to go in this case.

About the parse exception: Which version of JavaParser are you using? If you are not using version 2.3.0 try to update, I think we worked on that part of the grammar recently.

[2016-02-19 22:21] kedarmhaswade commented on #273
@ftomassetti thanks for the tip. I upgraded to use 2.3.0, but it does not seem to help. I get the same exception.

I have created a little project for you. It's ready to go and should easily help demo the test case. All you need is Java 8 installed and access to the src.zip from there.
1. Clone [https://github.com/kedarmhaswade/since-when](https://github.com/kedarmhaswade/since-when).
2. Run: `jav

[2016-02-22 01:44] samczsun opened #274 "Rename FieldAccessExpr (was: Incorrect type)"
The following code:

`this.value = java.util.Arrays.copyOfRange(a, i, i + i0);`

Will give AST which states that

`java.util.Arrays`

is a FieldAccessExpr

[2016-02-22 20:40] ftomassetti commented on #274
Well, at the parser level there is no way to know that Arrays is a class and java.util is a package. So I guess this is the best you can do while parsing.

[2016-02-22 20:57] samczsun commented on #274
Fair enough. Do you think there's a good way of letting users know that FieldAccessExpr might also be used for FQN? It threw me off for a bit because I was wondering why some of the parsed code wasn't being handled

[2016-02-25 07:19] ftomassetti commented on #274
Perhaps we should come up with a better name. Do you have suggestions on this?

[2016-02-25 08:15] waqas19921 commented on #273
Please help can not get javaDoc comments through getJavaDoc() method for classorinterface declaration and method declaration.
i tested value
/**
 *
- @author waqas
  */
  before class declaration and method declaration and returns null

[2016-02-25 08:17] waqas19921 commented on #273
@ftomassetti you have written that this issue is passed here
https://travis-ci.org/javaparser/javaparser/builds/111681156
but it is not

[2016-02-25 09:27] waqas19921 opened #276 "Not Getting a (Javadoc) Comment for a particular Class, Interface or Method ?"
Please help can not get javaDoc comment through getJavaDoc() method for class or interface declaration and method declaration.

[2016-02-25 16:20] waqas19921 opened #277 "only Getting a single comment if two comments are same and declared at same column but different lines"
[code]

Java Parser upon parsing above code only considers a single block of comment and outputs following code

[code]

[2016-02-26 17:11] #277 closed, assigned to nobody

[2016-02-28 16:56] danielbobbert opened #281 "Character encoding in Comments Parser is broken"
Fix #41 sought to handle the case where source files are not encoded in UTF-8. Unfortunately the author of the fix chose to use the default Charset for encoding/decoding. Now, if you run the parser on UTF-8 encoded source code that contains special characters, and the platform you are running the parser on happens to have a default characterset that cannot display those special characters, then th

[2016-02-28 17:29] ftomassetti commented on #281
I think you can use the method of CommentsParser which let you specify the encoding. Would that help in your case?

[2016-02-28 20:17] danielbobbert commented on #281
I tried to. That helps for parsing, but then there is no easy way of inserting the parsed comments into the CompilationUnit because JavaParser.insertCommentsInCu() is private.

[2016-02-28 20:26] danielbobbert commented on #281
BTW: I was wondering why you keep encoding strings to streams back and forth anyways. CommentsParser.parse(String) builds an InputStream (with an arbitrary encoding) just for CommentsParser.parse(InputStream, String) to turn that into a Reader again (using the same encoding).

An easier (and more efficient) way would be to offer a method that takes a Reader right way:

[code]

[2016-02-28 20:44] samczsun commented on #274
Unfortunately, I can't think of any good names to call it. I'll keep thinking about it though.

[2016-02-29 01:20] charltonaustin opened #282 "Simple class and method throws a parse exception when it should not"
This barfs for me:

[code]

[2016-02-29 01:22] #282 closed, assigned to nobody

[2016-03-01 17:54] SmiddyPence commented on #276
Hi @waqas19921, can you include some sample code so we can try and reproduce the issue.

[2016-03-01 18:16] SmiddyPence commented on #222
This looks agreed too close

[2016-03-01 18:16] #222 closed, assigned to nobody

[2016-03-01 20:28] asheiduk commented on #267
The message about `\ufeff` indicates, that your file has a byte order mark.

[2016-03-01 20:32] matozoid commented on #238
Tried it. It works. :+1:  Sorry for the delay.
For the current non-community version on Linux it's ~/.IntelliJIdea15/config/codestyles but I guess the examples are clear enough.

[2016-03-01 20:32] #238 closed, assigned to nobody

[2016-03-01 20:56] asheiduk commented on #270
Get caught on this too!

[2016-03-05 09:57] LajosCseppento opened #286 "Wrong result for EnumDeclaration.toString()"
JavaParser 2.3.0 outputs a non-compilable string for enums.

Original code:

[code]

JavaParser 2.3.0 output:

[code]

It was working with 2.2.2 and it is due to the new _ensureNotNull()_ calls. Reference: DumpVisitor.java:1233:

[code]

Althought _ensureNotNull()_ was introduced, in DumpVisitor there are still a lot of null checks.

[2016-03-05 10:00] LajosCseppento commented on #286
Sorry for reporting it, it is a duplicate: https://github.com/javaparser/javaparser/issues/231
When will be the fix released to mavencentral?

[2016-03-05 12:43] ftomassetti commented on #286
Do you see the issue with 2.3.0? If so we should re-open this ticket

[2016-03-05 13:00] LajosCseppento commented on #286
The issue is present in 2.3.0, but it seems that it is already fixed in the committed code.

[2016-03-10 22:40] frankpunx opened #287 "Hi, in witch file i have to add the dependencies ??"

[2016-03-11 12:46] ftomassetti commented on #287
Can you give us more details?
JavaParser itself uses Maven, so if you would add dependency to JavaParser you should modify the pom.xml. However you probably not want to do that.
I suppose you want to _use_ JavaParser and it as a dependency to your project. How to do that depends on the build system you are using: Gradle, Maven, etc.
There are many tutorials to explain how to use those build system

[2016-03-14 08:39] frankpunx commented on #287
Hi,
The reason im going to use javaparser is for a compiler project. Im not
sure how to view the project in a IDE.
On the Dependency Management it says to add the following to my maven
configuration.
I currently have maven installed but i don't know where to exactly put it.

It would be grate if you could help.
Thanks
Francisco

On Fri, Mar 11, 2016 at 12:47 PM, Federico Tomassetti <
notifications

[2016-03-15 18:25] ftomassetti commented on #287
I suggest to take a look to a Maven tutorial:
https://maven.apache.org/guides/getting-started/maven-in-five-minutes.html

Basically you have to add JavaParser among the dependency of your project,
in the pom.xml file.

Something like this should work:

[code]

However you should familiarize with Maven first.

Cheers,
Federico

On 14 March 2016 at 09:39, frankpunx notifications@github.com wrote:

#

[2016-03-23 03:30] waqas19921 commented on #276
[code]

[2016-03-23 03:31] waqas19921 commented on #276
if i run this than null pointer exceptions occur on function getJavaDoc()

[2016-03-23 08:29] ftomassetti commented on #276
Does it occur on the invocation or inside the invocation? In other words, does it happen because _n_ is null or does it occur inside _getJavaDoc_? Could you please report the stacktrace?

In the meantime I mark this one as a bug for precaution, so we will keep an eye on it.

[2016-03-23 17:41] jhrldev commented on #276
Probably inside of getJavaDoc.
Obs: He calls n.getName, but NPE occurs only when he calls getJavaDoc

[2016-03-26 11:59] waqas19921 commented on #276
Obs : n is null that means no javadoc is stored when parsing occurs

[2016-03-29 10:42] Balawalbutt opened #288 "Using JavaParser in .Net"
Can we use   javaparser-core-2.3.0.jar through IKVM  In .net ?
I Have converted the jar file successfully in .dll and  have added references correctly , but
When i do this

[code]

Call to *_visit() *_Just don't happen (because it do not print anything through messegeBox ), Any idea why  ?
or its not possible to use it in .net    ?

[2016-03-31 14:13] DeepSnowNeeL opened #289 "EnumConstantDeclaration always prints the body {}"
Hello guys, I would love that the enums constants doesn't have a body {} if nothing is in the ClassBody list.

Using setClassBody(null); doesn't work because of the ensureNotNull in the getter.

Therefore in DumpVisitor line 1278 `if (n.getClassBody() != null)` never works... I would love to see a `&& n.getClassBody().size != 0` in that condition.

[2016-04-01 09:28] ndimitry commented on #276
I was also not able to get javadoc to method. Comment to method like /*\* text */ is parsed as a comment, not a javadoc.
Also if method is annotated comments are not parsed at all (I will add more info further)

[2016-04-01 12:42] ndimitry commented on #276
Found issue, creating a new one (because it is a separate thing)

[2016-04-01 12:45] ndimitry opened #290 "When there is a String constant "\\" compilationUnit ignores all further comments"
Here is code that reproduces this issue. This line ruins comments processing:  String str = "\";

[code]

[2016-04-06 15:22] flouthoc opened #292 "I dont know if i'm doing it right or not but ConditionalExpr is not giving correct output."
When i do this

[code]

it works but when i try to do the same thing via **ConditionalExpr it does not prints anything**

[code]

[2016-04-07 16:15] JaviRpo opened #293 "The method "getArgs" in "ObjectCreationExpr" class doesn't ensure null list"
The method "getArgs" in "ObjectCreationExpr" class doesn't ensure null list

[2016-04-08 10:01] mmuesly commented on #293
I had the same problem. It could be solved by adding a line, but I don't know what the desired behavior is. Please have a look at #295 or add a comment to the source code, if the null value is desired.

[2016-04-08 10:12] ftomassetti commented on #293
There are just a few cases in which null is a valid value (it tells us something). Probably this is not one of those cases (in which we should use our own Optional anyway: we cannot use the standard Optional because it was introduced after Java 6 and for now we are Java 6 compatible).

[2016-04-08 10:22] ftomassetti commented on #289
~~We have already solved a few of such issues but this is yet open.~~
This has been corrected already:

[code]

It will be in the new release (@matozoid is working on it)

[2016-04-08 10:26] #289 closed, assigned to nobody

[2016-04-08 21:44] ftomassetti commented on #287
I think we can close this one. Please contact us on gitter or open a new issue if you have further questions

[2016-04-08 21:44] #287 closed, assigned to nobody

[2016-04-08 21:46] ftomassetti commented on #292
Can you give us more details? We need to first verify if the method is invoked. If it is, why it prints an empty string.

[2016-04-08 21:47] ftomassetti commented on #290
We should first of all verify if this is still happening with the current master version or 2.4.0 (which is going to be released soon)

[2016-04-08 21:48] ftomassetti commented on #288
I am really not familiar with IKVM. We could try to help if you show us the code of MyMethodVisitor

[2016-04-08 21:49] ftomassetti commented on #286
Should we close this one then?

[2016-04-08 22:45] LajosCseppento commented on #286
Unfortunately I could not fetch 2.4.0 neither from mavencentral nor from jcenter, so I built your tagged 2.4.0 release and I verified that it is working now for my enums.

[2016-04-08 22:45] #286 closed, assigned to nobody

[2016-04-09 04:48] Balawalbutt commented on #288
@ftomassetti  Thanku so much... i have resolved the issue , its working perfectly now, problem was in overriding ,

[2016-04-09 06:46] ftomassetti commented on #288
Happy to hear that!
I think we can close this issue now.

[2016-04-09 06:46] #288 closed, assigned to nobody

[2016-04-09 07:34] ftomassetti commented on #286
Hi @cseppento thanks for verifying this! We are releasing 2.4.0 on Maven central in these days, for now it is on bintray https://bintray.com/javaparser/JavaParser/javaparser/view

[2016-04-09 07:47] ftomassetti commented on #276
You gave us the code you used to parse but I think that also an example of the code being parsed would be useful

[2016-04-09 07:53] ftomassetti commented on #273
This error seems related to the Intersection Type. I tried parsing it with JavaParser 2.3.0 and it caused an exception. I then parsed it with JavaParser 2.4.0 and the exception is gone.

JavaParser 2.4.0 will be available soon and should solve this issue. Closing. Please reopen it if you find the issue is still present in version 2.4.0

[2016-04-09 07:53] #273 closed, assigned to nobody

[2016-04-09 17:48] flouthoc commented on #292
I dont know what should conditional expression parse , if i'm interpreting (understanding) it correctly then in this following java code

[code]

[code]

It should print  `System.out.println("hello");` but it prints nothing however
IfStmt works correctly

[code]

also i guess if **Conditional Expression** here means  **Ternary Expression**  then this issue must be closed cause i think i'm misinter

[2016-04-10 07:32] ftomassetti commented on #292
Hi @flouthoc I think you are right, ConditionalExpr is `a ? b : c`

Sorry for the late answer!

Closing.

[2016-04-10 07:32] #292 closed, assigned to nobody

[2016-04-18 08:42] bernardnongpoh opened #298 "GetType of a Node."
Given a Node
public Node visit(AssignExpr n, Object arg) {
//do something
}

how to find type of n?

[2016-04-18 08:50] ftomassetti commented on #298
Do you mean the Java type? Like string, int, List<Boolean> ?
In that case you need a symbol solver, this is not something present in the AST. Depending on the situation it could be very easy or very complicate to find the corresponding declaration and then look at the type of that declaration.

[2016-04-18 09:21] bernardnongpoh commented on #298
Hello Federico,
Thanks for the reply, Yes I came across the same post at stackoverflow .
Yes maybe I need to look into symbol solver.
Thanks alot

On Mon, Apr 18, 2016 at 2:20 PM, Federico Tomassetti <
notifications@github.com> wrote:

[2016-04-19 15:41] florianlieb opened #299 "JavaParser.parseBodyDeclaration does not parse void-method"
`JavaParser.parseBodyDeclaration("public void test() { }");`
fails with a
   `com.github.javaparser.ParseException: Encountered " "void" "void "" at line 1, column 8.`

[2016-04-19 16:09] ftomassetti commented on #299
Thanks for reporting this

[2016-04-26 18:43] thejohnfreeman opened #300 "ModifierVisitorAdapter does not provide default overrides for UnionType and IntersectionType"
I'll try to volunteer a patch later this week.

[2016-04-26 18:55] ftomassetti commented on #300
it sounds great, let us know if you need help

[2016-05-04 15:13] #300 closed, assigned to nobody

[2016-05-05 16:04] sebasj14 opened #302 "getThrows() method returns List<NameExpr> for ConstructorDeclaration, but List<ReferenceType> for MethodDeclaration"
I updated recently to 2.4.0, and noticed that getThrows() for MethodDeclaration was changed to return List of ReferenceType, but for ConstructorDeclaration the return type is still List of NameExpr.

[2016-05-10 13:13] flashpixx opened #303 "Cannot parse Stream::<IVariable<?>>empty"
On a Java 1.8 file I'm using streams and I use the following struct:

[code]

On the <IVariable<?>> the parser breaks with: Encountered " "<" "< ""
I'm using the version 2.4.0

Thx

[2016-05-11 09:45] digulla opened #304 "Russian comments in manual"
There are Cyrillic letters in comments in the last example on the manual page https://github.com/javaparser/javaparser/wiki/Manual

[2016-05-11 20:28] ftomassetti commented on #304
Interesting... this proves the spread of this project and our support for cultural diversity I guess. Let's look into how it happened...

[2016-05-11 20:33] ftomassetti commented on #304
Ok, the wiki can be edited by everyone and we do not get notification so things can be easily get unnoticed: I am afraid contributors tend not to look at the manual. We should work more on documentation and pay more attention to it because the example with cyrillic letters have also code commented out which is not nice in an example. So thank you very much for taking the time to report this: it is

[2016-05-11 20:34] #304 closed, assigned to nobody

[2016-05-15 14:06] ArrayListList opened #305 "Catch with multiple exceptions is displayed incorrectly"
I parse a file with something like this:
`
        try{
            // dostuff
        }
        catch (IndexOutOfBoundException|IOException e){
            // handle
        }
`
then CompilationUnit.toString looks like this:
`try {
            // dostuff
        } catch (IndexOutOfBoundExceptionIOException |  e) {
            // handle
        }`

Can you fix this?

[2016-05-15 14:20] ftomassetti commented on #305
Thank you for reporting this

[2016-05-15 21:12] msayagh opened #306 "JavaConcepts.java"
Hi,

I used your parser to parse the code of your parser :-)

There is a bug in the parsing of the file "JavaConcepts.java"

Best regards

[2016-05-17 16:14] ghost opened #307 "if condition contains leading comments"
Use DumpVisitor against  DumpVisitor.java itself

Comment will appear inside If condition in public void visit(final IfStmt n, final Object arg)

Method in error is DumpVisitor public void visit(final IfStmt n, final Object arg) or IfStmt.java itself

[2016-05-19 11:33] ftomassetti commented on #307
Thanks for reporting this one

[2016-05-25 11:40] Balawalbutt opened #308 "Multiple visitors: Order of Vistors"
Hi , I have Three Visitor Methods Defined in my Class Which inherits Void Visitor

[code]

Calling this.visit(cu, null); from another member of the same class will automatically start  recursive calls to all these three visitors , now  , to the best of my understanding , MethodDeclaration visitor should be called first on a compilation unit before  Method methodCallExpr Visitor  is called. but thi

[2016-05-26 16:00] thejohnfreeman commented on #271
Can this be closed?

[2016-05-26 16:13] ftomassetti commented on #271
Yes, it makes sense to close this one. Thanks @thejohnfreeman

[2016-05-26 16:13] #271 closed, assigned to nobody

[2016-05-26 16:40] thejohnfreeman opened #309 "More NamedNodes"
Should `Parameter` or `BaseParameter` be a `NamedNode`? I would find it helpful for a symbol table of `NamedNode`.

`BaseParameter` would need to add a `getName` method that defers to its `VariableDeclaratorId` child, but there is precedent for that pattern in `MethodCallExpr` which defers to its `NameExpr` child (though I'm ambivalent whether `MethodCallExpr` should be made a `NamedNode`).

[2016-06-01 12:27] svlassiev opened #314 "ModifierVisitorAdapter tries to modify unmodifiable collection typeArgs"
ModifierVisitorAdapter.visit(final ClassOrInterfaceType n, final A arg) method gets typeArgs from node n and tries to modify it, but ClassOrInterfaceType.getTypeArgs() returns unmodifiable collection.
That causes UnsupportedOperationException.

ModifierVisitorAdapter.java

[code]

[2016-06-06 13:44] hheg opened #316 "Programmatically constructed CompilationUnit doesn't set the parent chain "properly""
I'm not entirely sure if this is a bug or not, but it feels like if the API is having a glitch or unexpected behaviour or perhaps just me not using it correctly. I wrote below tests to show, what I think, is the problem. I ran into it while writing a visitor which is supposed to "walk back up" the AST tree to find a common entrypoint and found out there's a difference between parsed CU's and creat

[2016-06-12 22:57] sergiofigueras opened #317 "How to get a full qualified reference of method?"
Hello guys,

I need to parse each statement and see if that statement calls another class, for example:

[code]

I should run this block and see if it references a **when** method present in PowerMockito (org.powermock.api.mockito.PowerMockito.when).

The problem is that each MethodCallExpr doesn't references a class that's being called. I mean that the value that's inside this MethodCallExpr is "

[2016-06-14 06:19] ftomassetti commented on #317
It depends how much reliable you need it to be.

JavaParser is... a parser: it analyzes the source code and build an Abstract Syntax Tree so we know that `when(InetAddress.getLocalHost()).then(new ThrowsExceptionClass(UnknownHostException.class))` is method call to a method named when. What we do not know is which method is actually called:
- is it a method declared in the current class?
- is it a

[2016-06-14 21:32] theokyr opened #318 "Code formatting changes after I add an annotation"
After adding a few annotations to a method and re-saving the file, the formatting (braces, newlines, comments) changes.

Here's an example.

before adding the annotation:

[code]

after adding the annotation and saving the file

[code]

[2016-06-14 23:25] kevincklau opened #319 "ParseException missing"
I can't seem to find the declaration for ParseException anywhere in this repo. Is it missing or am I just blind?

[2016-06-15 07:31] mohanr opened #320 "Use it without Maven"
Can I just pull the code and use it directly ? Are there too many dependencies ?

[2016-06-15 16:35] ftomassetti commented on #319
I do not recall by heart but it could be one of the classes generated by JavaCC

[2016-06-15 16:36] ftomassetti commented on #318
Well, this is intended. The AST does not preserve space and formatting.

[2016-06-15 19:37] svlassiev opened #321 "When visit ArrayCreationExpression initializer is missed in some cases."
In ModifierVisitorAdapter, GenericVisitorAdapter, VoidVisitorAdapter and DumpVisitor in case of non-null dimensions of ArrayCreationExpression node an initializer of the node is not visited.
This means in this valid code
String[] array = new String[]{"one", "two" , "three"};
visitors miss to visit nodes that represent literals "one", "two" and "three".

[2016-06-16 20:49] theokyr commented on #318
Is there any way to preserve it?

If not, is there a planned feature in the future to make formatting preservation happen?

[2016-06-16 20:54] ftomassetti commented on #318
we add several discussions on this. Preserve spaces when printing back the very same AST is easy but it is not trivial to understand what happens when you refactor the AST. This is probably something that is not going to be changed soon _UNLESS_ someone is willing to contributes patches :)

[2016-06-17 20:57] #318 closed, assigned to nobody

[2016-06-17 20:58] theokyr commented on #318
I see, thanks

[2016-06-21 22:28] rmd6502 opened #323 "final variable declarations not being visited in VariableDeclarationExpression visitor"
[code]

The visitor gets invoked for bar but not baz

[2016-06-22 19:26] matozoid commented on #320
javaparser-core has zero dependencies. Just run Maven once to hava javacc generate some required code.

Why do you want to do this, by the way?

[2016-06-24 18:40] jimfb opened #324 "CloneVisitor fails to visit trailing comment"
Consider the class:

[code]

The `CloneVisitor` should reproduce the class (including the comment), but it doesn't.

[2016-06-25 07:02] mohanr commented on #320
I generate some code to transform Struts to Spring. So I wanted to make my
tool extensible. Didn't think Maven was needed to a standalone code
generator.

On 23 June 2016 at 00:56, Danny van Bruggen notifications@github.com
wrote:

[2016-06-28 08:23] matozoid commented on #320
Alright, good luck!

[2016-06-28 08:23] #320 closed, assigned to nobody

[2016-06-29 05:25] ipolevoy opened #325 "Can it parse JavaDoc?"
I wonder if it is possible to get a representation of JavaDoc from classes and methods, i.e.:

[code]

Specifically, is there a way to parse the Java sources and get JavaDoc in object form, including method names, parameters and return values.

The goal of this is to write a generator of documentation for web services.

[2016-06-29 07:24] ftomassetti commented on #325
Currently JavaParser:
- recognize comments
- associate comments to elements
- distinguish between normal comments and JavaDoc comments

However it does not parse the content of JavaDoc comments. You could use JavaParser to get the AST + the JavaDoc comments associated to the different elements and then parse yourself the content.
If you would also send a PR with that contribution it would be absol

[2016-06-29 08:54] rpau commented on #325
Hi Igor,

This is a feature I implemented in a very old fork of javaparser (https://github.com/rpau/javalang) for the walkmod project. It is a project with LGPL license, and probably your transformation can be shared as a walkmod plugin. However, our version you do not know the comments (excluding Javadoc) associated to an specific element.

If you are interested in collaborate with Javaparser to

[2016-06-29 08:56] matozoid opened #326 "EOL problem on Windows"
Scenario "Dumping orphan comments in empty method" fails when compiling on Windows because of a \n \r\n mismatch.

[2016-06-29 09:30] ftomassetti commented on #326
In the long run we want to configure AppVeyor to prevent Windows specific errors in the future

[2016-06-29 11:22] matozoid commented on #326
Want to open an issue for that?

I've found the bug and will commit the patch tonight.

[2016-06-29 19:30] #270 closed, assigned to nobody

[2016-06-29 21:52] ipolevoy commented on #325
thanks, guys. I will explore.

[2016-06-29 21:52] #325 closed, assigned to nobody

[2016-06-29 22:00] ipolevoy commented on #325
Just to give you more context. I was thinking of adding web services support for self-documenting, where JavaDoc can be dynamically converted to a simple webapp for developers to see service end points documentation, and potentially directly invoke methods. I'm a main contributor to http://javalite.io. If you have better ideas for implementation than parsing JavaDoc, that would also be great.
Exam

[2016-06-30 06:12] ftomassetti commented on #325
I think this is a very interesting topic and I would be very interested in hearing more about this project.

For self-documentation I guess there are different strategies possible, but the simplest one is extracting JavaDoc. It should be reasonably easy to do.

[2016-06-30 06:13] ftomassetti commented on #325
And of course if @rpau can contribute her code adapting the license it would be great!

[2016-07-01 02:26] ipolevoy commented on #325
@ftomassetti do you think you can provide a Hello World to pull the JavaDoc? This would save me some time:)

[2016-07-01 05:48] ftomassetti commented on #325
That would not save time to me :)
Extracting the JavaDoc text is as easy as traversing the tree, calling getComment() and verifying the comment is a JavaDoc comment and not a common comment.
Then you can parse the content either using a grammar or regular expressions, given JavaDoc is so limited

[2016-07-01 05:59] ftomassetti opened #329 "Configure AppVeyor"
So that we can prevent Windows-only bugs to go unnoticed

[2016-07-01 06:00] ftomassetti commented on #326
Issue opened as #329

[2016-07-01 10:08] mlangkabel opened #330 "Wrong line numbers when parsed file starts with empty lines"
I'm running the Javaparser on Windows. When visiting a `PackageDeclaration` with the following code it seems like empty lines at the top of the parsed file are ignored.

[code]

[2016-07-01 13:06] matozoid commented on #325
It would make a neat example for our documentation...

[2016-07-01 13:07] #326 closed, assigned to matozoid

[2016-07-01 13:08] matozoid commented on #329
Clicky linky: https://www.appveyor.com/

[2016-07-01 14:58] ftomassetti commented on #325
Good point! Let me see if I can write something in the form of an example for a post and our documentation

[2016-07-01 15:24] ftomassetti commented on #325
@ipolevoy you may want to take a look at https://github.com/ftomassetti/javadoc-extractor

[code]

Given a directory this produce something like:

[code]

I am just printing the Javadoc comments associated to classes, I am not parsing the Javadoc comments yet

[2016-07-01 15:27] ipolevoy commented on #325
@ftomassetti this is interesting, thanks for the tip - I will explore further!

[2016-07-02 03:52] thejohnfreeman opened #331 "A more intelligent `ModifierVisitorAdapter`?"
The manual includes [a lengthy example on how to remove "dead" context nodes surrounding a removed node](https://github.com/javaparser/javaparser/wiki/Manual#remove--delete-node-from-ast). This isn't an isolated case. There are many nodes that have required children: if the child is removed, the parent should be removed as well. Should we have that behavior by default?
- [ ] `ExpressionStmt`: shou

[2016-07-05 15:23] matozoid commented on #141
@ftomassetti after looking at the JavaDoc related code, it seems that it was part of a large comments related change in 2013 (3f2c603c). Looks like it was going to be implemented, but then half rolled back. None of the JavaDoc fields are ever set. Since your name is on it I'd like to ask if it is okay to remove everything related to JavaDoc for now. (I wouldn't know how to implement it. Could be m

[2016-07-05 15:29] ftomassetti commented on #141
It is amazing how things emerging from ancient history can confuse us all :)
Probably we could implement `getJavaDoc` to take the result of `getComment` and check if it is an istance of `JavaDocComment`. If that it the case that value could be casted returned, otherwise null should be returned instead (we are stuck to Java 6 so no Optional for us). This would be fairly easy to do and probably simp

[2016-07-05 15:38] matozoid commented on #141
It seems like a nice idea - how would this work with visitors? Won't anything be visited twice?

[2016-07-05 15:39] ftomassetti commented on #141
Probably you should visit only Comment and not JavaDoc, because it would be a derived field

[2016-07-05 15:55] ftomassetti opened #333 "Run Travis on JDK 6, 7, 8"
Currently JavaParser is compiled on Travis with JDK 8. If we want to keep compatibility with Java 6 we should verify that on Travis. We should have Travis run the same script on JDK 6, 7 and 8.

[2016-07-06 08:33] matozoid commented on #145
I wouldn't say that surprise is enough to stop this request :-)

I'm curious if this is in scope because it concerns naming _inside_ a class file. JavaParser parses source code, gives you a tree, and stops. Nowhere do we talk about class files. If we add getBinaryName, should we also make a way to create a class? Should we generate byte code? Should we build a compiler?

[2016-07-06 08:37] matozoid commented on #160
Can this be closed now?

[2016-07-06 09:17] ftomassetti commented on #160
I think it was fixed in #224 so I would close this one

[2016-07-06 09:17] #160 closed, assigned to nobody

[2016-07-06 12:26] matozoid commented on #165
Is this still open because we should document it?

[2016-07-06 12:29] matozoid commented on #184
So, maybe we can close this, run it again, and open specific issues? It's not clear what is still to be done here.

[2016-07-06 12:30] matozoid commented on #189
Is there anything specific we can do after this discussion?

[2016-07-06 12:35] matozoid commented on #331
Interesting! At what moment would you do the removing?

[2016-07-06 12:38] #317 closed, assigned to nobody

[2016-07-06 12:39] #319 closed, assigned to nobody

[2016-07-06 12:40] #314 closed, assigned to nobody

[2016-07-06 12:41] #298 closed, assigned to nobody

[2016-07-06 13:05] thejohnfreeman commented on #331
For example, [here](https://github.com/javaparser/javaparser/blob/713bd688de2456219a20ccb0ce649f11c387080b/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/ModifierVisitorAdapter.java#L509), where `ExpressionStmt` sets its child expression. Change it to this:

[code]

Similar for all the others. I'll try to work on a patch this evening or tomorrow.

[2016-07-06 13:49] matozoid commented on #281
Hmm, in the JDK the usual behaviour when not specifying an encoding is to take the platform specific one, so I would say that this is not the problem here. I'm thinking we could have a parser-wide override for this?

[2016-07-06 14:30] matozoid commented on #293
It seems we merged this already with #295

[2016-07-06 14:30] #293 closed, assigned to nobody

[2016-07-06 14:44] matozoid commented on #267
Did you use a parse method without an "encoding" parameter, and are you running on Windows?

If that is true, use a parse method with encoding set to UTF-8.

[2016-07-06 14:45] matozoid commented on #274
What are our thoughts now?

[2016-07-06 15:46] matozoid commented on #263
Made a potential fix here: https://github.com/javaparser/javaparser/pull/338

[2016-07-06 18:49] matozoid commented on #316
I put your code in here: https://github.com/matozoid/javaparser-issue-316

[2016-07-06 18:52] matozoid commented on #316
One thing I found is a nasty little problem: when you call node.setXyz(List xyzs), then all xyzs will get "node" as their parent. However, if you do list=node.getXyz(), then add an xyz to the list, nothing special happens because it is just a simple Java list. Which is what happens in ASTHelper.

[2016-07-06 18:52] matozoid commented on #316
The first two tests are green, by the way. Was that your intention?

[2016-07-07 13:13] matozoid commented on #306
Hi! What is the bug exactly?

[2016-07-07 13:15] matozoid commented on #321
Can you open a pull request?

[2016-07-07 13:15] ftomassetti commented on #306
We have a file name `javaparser-testing/src/test/resources/com/github/javaparser/bdd/samples/JavaConcepts.java` but I have no idea how it could be related to this bug report

[2016-07-07 13:18] matozoid commented on #260
There's a PR waiting here that will fix how JavaDoc functions: https://github.com/javaparser/javaparser/pull/336

Since there was no reply to the question, I'm closing this.

[2016-07-07 13:18] #260 closed, assigned to nobody

[2016-07-07 14:18] svlassiev commented on #321
Actually, bug is still open due to lack of new tests.
And I don't understand how I can reopen pull request if it's already merged.

[2016-07-07 15:14] hheg commented on #316
[code]

The assert in both tests should be not be commentated really but to prove the point I commented them out.

[2016-07-07 18:01] matozoid commented on #321
Oh, I get it now, this is the one I accidentally merged. Let's just close it then.

[2016-07-07 18:01] #321 closed, assigned to nobody

[2016-07-07 21:42] matozoid opened #341 "Do something with com.github.javaparser.Position"
It is not in use. @ftomassetti - did you have plans for it?

[2016-07-08 20:47] #269 closed, assigned to matozoid

[2016-07-08 22:10] #331 closed, assigned to nobody

[2016-07-08 22:19] matozoid commented on #309
Wouldn't this visit the name of every BaseParameter Node twice, since its id is also a NamedNode?

[2016-07-08 23:25] thejohnfreeman commented on #309
Would what visit? AFAIK, `NamedNode` is just an interface with `getName()`.

[2016-07-09 08:45] ftomassetti commented on #341
I think it could be useful to start using it but we can readd it if needed. Nothing against dropping it.

[2016-07-09 10:58] matozoid commented on #309
You're right, let's get this merged.

[2016-07-09 10:58] #309 closed, assigned to nobody

[2016-07-09 11:46] matozoid commented on #329
I see AppVeyor is already running. However, it is extremely slow. There seems to be a big queue for build jobs :(

[2016-07-09 12:00] ftomassetti commented on #329
Unfortunately AppVeyor is very slow. Sometimes things just go stuck and you have to restart it.
It is not ideal. I would suggest normally look just to Travis and wait for AppVeyor when there is the suspicion that some change could be OS specific

[2016-07-09 12:18] matozoid commented on #329
Let's leave it at that for now, then.

[2016-07-09 12:18] #329 closed, assigned to nobody

[2016-07-09 12:19] matozoid commented on #341
Where would you use it?

[2016-07-09 13:06] matozoid opened #344 "DumpVisitor upgrade"
- rename to something like "OutputVisitor"
- make formatting configurable, at least the indent ("\t", or "    ", or "  ", ...)
- deprecate DumpVisitor, remove in 3.0

[2016-07-09 13:13] ftomassetti commented on #344
What about "PrettyPrintVisitor"?
So not keeping formatting because a feature, instead of a bug

[2016-07-09 16:34] matozoid commented on #344
You should be in sales!

[2016-07-09 18:55] matozoid opened #346 "Rewrite release page"
https://github.com/javaparser/javaparser/wiki/Releases

Since it releases to bintray now.

[2016-07-09 19:03] ftomassetti commented on #344
Well, in the last year I had to sell my services so I learn a few things :D

[2016-07-09 22:46] matozoid commented on #330
I tried to reproduce it here: https://github.com/matozoid/javaparser-issue-330

When I put empty lines on top of "Bla.java", nameBeginLine gets incremented, so either I can't reproduce it, or I don't understand the problem.

[2016-07-09 23:03] matozoid commented on #323
I've set up a test here: https://github.com/matozoid/javaparser-issue-323 It prints both declarations, so that seems fine.

Please submit a PR for https://github.com/matozoid/javaparser-issue-323 that does reproduce the problem.

[2016-07-09 23:09] matozoid commented on #308
Could you please create a minimal project that shows the issue? Something like https://github.com/matozoid/javaparser-issue-323 ? That would clear things up immensely.

[2016-07-09 23:12] matozoid opened #347 "Write some JavaDoc for each Node type"
Just a simple one-liner that says what syntax maps to this node type and a link to the [JLS](https://docs.oracle.com/javase/specs/jls/se8/html/index.html)

[2016-07-09 23:39] matozoid commented on #302
Alright, this seems to be associated with this PR: https://github.com/javaparser/javaparser/pull/187
@ftomassetti - please advise on how to continue.

[2016-07-10 07:08] mlangkabel commented on #330
Thank you for looking into this. I just checked out the repo and tested your code on my machine. It seems to be working as expected. I'm sorry for having bothered you with that.

[2016-07-10 07:33] ftomassetti commented on #302
I think that NameExpr represents expressions, while ReferenceType is what we need in this context. We should probably update MethodDeclaration too.

[2016-07-10 07:36] ftomassetti commented on #341
In all places where we use a combination of line and column. It could also hold the source name (either a file name or a constant value like `<string>`).

[2016-07-10 10:32] matozoid commented on #330
No problem, thanks for reporting!

[2016-07-10 10:32] #330 closed, assigned to nobody

[2016-07-10 11:12] #305 closed, assigned to matozoid

[2016-07-10 11:13] matozoid commented on #341
Hm, that would be major API breakage, right?

[2016-07-10 11:27] matozoid commented on #341
I'll see what happens if I start using it.

[2016-07-11 13:10] matozoid opened #349 "Support Java 9"
Any changes to the syntax? I've spotted one:
- [ ] _ is now a keyword.

[2016-07-11 13:18] ftomassetti commented on #349
Was that a reserved word before? If not we could have to support different dialects

[2016-07-11 14:24] matozoid opened #350 "Fix the date in all the headers"
- Copyright (C) 2011, 2013-2015 The JavaParser Team.

It's 2016 already :)

[2016-07-11 14:29] matozoid commented on #349
It was just an identifier before. I can't think of a pretty way to support different dialects that would not cause a huge amount of work, you?

[2016-07-12 09:30] matozoid commented on #252
I started working on this, but quickly found that
- String getName belongs to NamedNode
- NameExpr getNameExpr exists in some places

So we could...
- make everything consistent by putting both methods in NamedNode, or
- add another interface "NameExpressionNode" or so, or
- following another discussion: getting rid of NameExpr completely.

I need some input on this.

[2016-07-12 09:32] matozoid commented on #252
(Note: the fix to VoidVisitorAdapter has already been merged.)

[2016-07-12 10:51] matozoid opened #352 "CommentsInserter: attributedComments overwritten"
In CommentsInserter there are two initializations of attributedComments:
`List<Comment> attributedComments = new LinkedList<Comment>();`
It looks like the second one overwrites the first one before the contents of the first are used.

I suspect the second initialization should be removed, but am not sure.

[2016-07-12 13:27] matozoid opened #353 "Generate visitors from the AST classes"
Instead of manually patching the visitors every time we make some changes (and regularly forgetting to...) we should generate the visitors from code.

Work in progress over here, where I use @ftomassetti 's symbol solver to build the AST model, then use my own code generator to generate the visitors: https://github.com/matozoid/javaparser/tree/generate-visitors

[2016-07-12 13:30] matozoid commented on #341
@ftomassetti as I'm going along, it seems that we need a "Range" class more than a "Position" class, since Positions always come in a begin-end pair. What do you think?

[2016-07-12 13:33] ftomassetti commented on #341
I would think that a range could be composed by two positions :)
There is just to consider where to put the source (e.g., the filename) in
case we need it

On 12 July 2016 at 15:30, Danny van Bruggen notifications@github.com
wrote:

##

Website at http://tomassetti.me
GitHub https://github.com/ftomassetti

[2016-07-12 13:36] matozoid commented on #220
Will eventually be fixed by https://github.com/javaparser/javaparser/issues/353

[2016-07-12 13:36] matozoid commented on #353
Will fix #220

[2016-07-12 13:36] matozoid commented on #353
Might fix #236

[2016-07-12 13:37] matozoid commented on #353
Will prevent #252 from happening again

[2016-07-12 13:38] matozoid commented on #276
This is fixed on master.

[2016-07-12 13:44] matozoid commented on #209
I'll create a new issue to replace JavaCC, since this one seems to "work as designed."

[2016-07-12 13:44] #209 closed, assigned to nobody

[2016-07-12 13:46] matozoid opened #354 "Rewrite (was: Replace JavaCC)"
After several complaints about JavaCC being an obscure tool, and about an unfixable problem with unicode escapes, it may be a good idea to replace it.

But with what? Please comment.

[2016-07-12 13:50] ftomassetti commented on #354
I would recommend ANTLR 4.
There are several benefits imho:
- it is widely known
- it has decent performance
- it permits to write left recursive rules and to handle precedence
- it can generate for several platforms

The third point means that you can try things like:

`expr = literal | expr '*' expr | expr '+' expr ;`

without having to write all those stupid intermediate rules that you have typ

[2016-07-12 13:53] matozoid commented on #341
Of course, but do you think it would be a good idea to give Node a Range instead of two Positions?

Source could still go in Position. It would add a bit more memory usage, but I'm sure nobody will mind.

[2016-07-12 14:00] matozoid opened #355 "Add breadth first travel to the TreeVisitor"
And add bdd tests for the class.

[2016-07-12 14:11] matozoid commented on #184
I'll close this and open a clean, new issue.

[2016-07-12 14:11] #184 closed, assigned to nobody

[2016-07-12 14:12] matozoid opened #357 "Ensure JavaParser can parse all the OpenJDK sources"
Create a simple stand alone tool to download and parse the OpenJDK sources.

If incompatabilities are found, open new issues.

[2016-07-12 14:15] matozoid opened #358 "Node naming"
After #189 and #252 , it seems we should refactor the naming of nodes.

Please discuss.

[2016-07-12 14:16] #189 closed, assigned to nobody

[2016-07-12 14:17] matozoid commented on #252
Opened #358 to discuss node naming.

[2016-07-12 14:17] #252 closed, assigned to nobody

[2016-07-12 14:18] matozoid commented on #165
... if so, open an issue for it.

[2016-07-12 14:18] #165 closed, assigned to nobody

[2016-07-12 14:21] matozoid commented on #157
Since @ptitjes has left the project, I would like to know if anything was done here? Should work continue?

[2016-07-12 14:22] matozoid commented on #149
What is the status of this?

[2016-07-12 14:25] matozoid commented on #145
I guess this issue is outdated. Please open a follow up issue if necessary.

[2016-07-12 14:25] #145 closed, assigned to nobody

[2016-07-12 14:25] #141 closed, assigned to matozoid

[2016-07-12 14:26] matozoid commented on #122
Continued in #344

[2016-07-12 14:26] #122 closed, assigned to nobody

[2016-07-12 14:27] matozoid commented on #344
Refer to #122 for inspiration.

[2016-07-12 14:29] matozoid commented on #120
Put the guidelines here: https://github.com/javaparser/javaparser/wiki/Coding-Guidelines

[2016-07-12 14:29] #120 closed, assigned to nobody

[2016-07-12 14:37] #276 closed, assigned to nobody

[2016-07-12 14:50] matozoid opened #359 "Interface WithDeclaration does not belong in the AST"
It seems to have behaviour for outputting a piece of the AST as a String, which seems to be the job of a pretty printer or some other tool to me. Its only usage seems to be in tests, so we might move it there.

[2016-07-12 21:05] ftomassetti commented on #357
I think we did something similar in the past. I am not 100% it was the OpenJDK project that we used.

[2016-07-12 21:17] matozoid commented on #357
Yes, I closed the other one since I didn't think anybody was going to pick it up anymore. If we had a little tool, we could just run it every now and then.

[2016-07-12 21:19] matozoid commented on #302
Fixed on master.

[2016-07-12 21:19] #302 closed, assigned to matozoid

[2016-07-12 21:22] #246 closed, assigned to nobody

[2016-07-12 22:32] Chatz92 opened #362 "How to get a list of arraylists declared in a java class?"

[2016-07-13 09:20] matozoid opened #363 "Move to a builder style for the AST"
- have more methods return this
- have more "with..." methods
- use more (...) as a parameter
- have more factory methods

[2016-07-13 09:41] matozoid commented on #362
[code]

[2016-07-13 09:46] ptitjes commented on #363
This is indeed a really practical style to create ASTs as examplified there:
https://github.com/ptitjes/jlato-bootstrap/blob/master/src/main/java/org/jlato/bootstrap/ast/PropertyAndTraversalClasses.java#L101

[2016-07-13 09:47] ptitjes commented on #157
Well, I've seen you already introduced a state-full parser object. That's a start.

[2016-07-13 10:13] ftomassetti commented on #149
I think it was solved through #185

[2016-07-13 10:48] matozoid commented on #363
Hey, long time no see! I was surprised that our API has to be used through cumbersome constructors and adds, really.

[2016-07-13 10:50] matozoid commented on #149
Yes, I spotted some tests for it in that PR.

[2016-07-13 10:50] #149 closed, assigned to nobody

[2016-07-13 10:52] matozoid commented on #109
@ptitjes - can we grab your fix, or would you like us to redo it?

[2016-07-13 10:55] #245 closed, assigned to nobody

[2016-07-13 12:44] DeepSnowNeeL opened #364 "Error while parsing class with utf-8 or 16 special literals"
Here is the error :

And the line in error (with the following lines because I guess it would crash too) :

[code]

Thanks

(Btw, why TokenMgrError extends Throwable and not RuntimeException or Exception ? It made me a hard time to catch() it due to this)

[2016-07-13 12:47] DeepSnowNeeL commented on #363
Yes please :+1:

[2016-07-13 13:08] matozoid commented on #364
About TokenMgrError: that's been fixed on trunk with a JavaCC upgrade.

[2016-07-13 13:10] matozoid opened #365 "EqualsVisitor arbitrarily checks position"
Like this:
        if (!objEquals(n1.getBeginLine(), n2.getBeginLine())) {

It should not do so.

[2016-07-13 15:25] matozoid commented on #365
Changing it breaks comment support :(

[2016-07-13 17:07] ptitjes commented on #109
@matozoid hmm... what fix ? :)

[2016-07-13 19:19] matozoid commented on #109
Oh... Well, can we grab your test? ;)

[2016-07-13 19:43] ptitjes commented on #109
Sure :)

[2016-07-13 19:55] matozoid commented on #163
It actually happens when we have a super constructor call inside a normal method. Seems illegal to me.

[2016-07-13 20:58] matozoid opened #367 "Clean grammar"
- [x] delete unused code
- [x] add generics
- [x] fix returning a range in a list (see below)
- [x] use Range or Pos everywhere

[2016-07-13 20:59] matozoid commented on #303
This seems connected to #162

[2016-07-13 21:12] matozoid commented on #367
Note how line-column pairs are inserted in return lists, defeating generics. But, at least for TypeArguments, these pairs are never used.

[2016-07-14 10:53] matozoid commented on #363
I see we have a volunteer, @DeepSnowNeeL ! :)

[2016-07-14 10:57] matozoid commented on #111
So, considering #185 and #149, what is still to be done here?

[2016-07-14 11:28] matozoid opened #369 "Remove "download as zip/tar.gz" from http://javaparser.org/"
I would say that using Maven or Gradle should be advertised.

[2016-07-14 11:30] DeepSnowNeeL commented on #363
This 3k lines javacc file afraid me a bit tbh :stuck_out_tongue_winking_eye:
Would you like to include the builder pattern inside the AST classes ? Or do it in an external class & call the existing methods of the AST classes ? I might fork & give it a try

[2016-07-14 11:36] ftomassetti commented on #363
I guess this is also related to #354 : either way if we generate classes for each type of node using some parser generator we are typically restricted to what the parser generator can produce. We could then write (or generate) adapters or other classes to work with the node classes but I do not think we can instruct JavaCC or ANTLR to generate node classes with builders.
Am I wrong? Am I missing a

[2016-07-14 11:38] ftomassetti commented on #369
It is true that we should encourage people to use Maven or Gradle. However some users seem to want to do without such tools. I find that puzzling but from the questions we all receive it seems that someone just want to download jars manually

[2016-07-14 11:42] ftomassetti commented on #365
I think we had a discussion on this, probably years ago. The point is "Equality" means different things in different context.
Two classes that look like this:
`class A {}`
are equal?
Does it depend on the package where they are? Does it depend on the number of spaces inside the brackets? A local or an inner classes with the same definition would be equal to the class A defined as a top level class

[2016-07-14 13:27] matozoid commented on #363
Before we inflate this so far that it becomes to big to finish, I think it's fine just to look for easy additions to the current code base for this issue. Add a few methods, make a PR, see what the response is. Maybe try to improve the code in #362 ?

[2016-07-14 13:33] matozoid commented on #365
True, and I'm trying to generate visitors like these :) But I don't think a visitor should ignore 99% of node positions, and only check those for comments. This seems to have been hacked in for comment support, since that breaks when I remove the position checks. So now I'm going to see where it uses the EqualsVisitor, and if I can insert a custom visitor there.

[2016-07-14 13:36] matozoid commented on #369
I wouldn't be surprised if it is because there are two big buttons with download options right inside the page header at http://javaparser.org/ :-)

[2016-07-14 14:00] DeepSnowNeeL commented on #363
I will give it a try and PR when ready.

To be on the same page, Is it ok to have something like :
CompilationUnit compilationUnit = new CompilationUnit();
ClassOrInterfaceDeclaration c = compilationUnit.addClassDeclaration("className");
c.addField(type,"name").setPrivate().createGetter().createSetter(); //<amazing
c.addMethod("name").withModifiers(Modifier.PUBLIC).withReturnType(type).addParam("n

[2016-07-14 14:34] matozoid commented on #363
Sure, although I think you will get really tired of adding methods with the granularity of "setPrivate()" ;)

createGetter is nice. We're supposed to have an easy to use package, so that seems to be in scope.

Don't forget to steal @ptitjes 's  ideas ;)

[2016-07-14 15:08] matozoid commented on #57
Let's see if #363 moves us in a nice direction for replacing bitfields.

[2016-07-14 15:08] #57 closed, assigned to nobody

[2016-07-14 15:09] matozoid commented on #306
Closing because there is no response. Please re-open if there is news.

[2016-07-14 15:09] #306 closed, assigned to nobody

[2016-07-14 15:32] matozoid opened #370 "Use Java 8 in javaparser-core"
We've been keeping core at Java 6 for a while now, to keep backwards compatability with user projects that cannot upgrade to Java 7 or 8.

It seems there is no public support for Java 7 for a year now: http://www.oracle.com/technetwork/java/eol-135779.html

How about upgrading core to 8?

[2016-07-14 15:44] ftomassetti commented on #370
I remember concerns about keeping Java 6 compatibility from @sebastiankirsch . I would like to hear from him if he still needs Java 6 compatibility

[2016-07-14 16:30] sebastiankirsch commented on #370
If one can still parse Java6 code, I'm all for going to 8.
If not... well. I'm using JavaParser for finding dead code, mostly in legacy apps which may not yet be migrated to Java 7 or 8. That's all I can say really...

[2016-07-14 18:39] DeepSnowNeeL commented on #370
I started to make builder methods like this one :

[code]

Which benefits from java 1.8 & lambda, so if everybody agrees I would love to remove my actual 7-too-much-lines

[code]

[2016-07-14 18:53] ftomassetti commented on #370
I am definitely in favor to move to Java 8

[2016-07-14 19:01] matozoid commented on #370
Well, let's do it then.

[2016-07-14 21:09] matozoid commented on #364
Can you add a PR to https://github.com/matozoid/javaparser-issue-364 that will make it break with this exception?

[2016-07-14 22:14] ptitjes commented on #363
@DeepSnowNeeL @matozoid
Don't steal too much ! And please make suggestions, they are welcome !

[2016-07-14 23:04] DeepSnowNeeL commented on #364
it looks like it's due to the environement, I ran it from a maven build (external, not in IDE) invoked by maven-exec-plugin exec:java, I can't reproduce it from anywhere else but the external console...

[2016-07-14 23:11] DeepSnowNeeL opened #372 "TypedNode implies a get/set when NodeWithModifiers(and others) only implies a get"
TypedNode implies a get/set when NodeWithModifiers only implies a get, shouldn't it implies a set too ? It's the same for NamedNode.

DocumentableNode is a bit different, should we put in here getComment and setComment ? or should we have set every type of comment and get every type of comment > will conflict with the final modifier of Node#setComment

[2016-07-15 08:20] matozoid commented on #364
Encoding problems are always troublesome. Are you running on Windows?

[2016-07-15 08:31] DeepSnowNeeL commented on #364
Yes

Le ven. 15 juil. 2016 10:20, Danny van Bruggen notifications@github.com a
écrit :

[2016-07-15 08:33] matozoid commented on #372
Hmmmmm... My opinion:
- since the setModifiers() methods are already there, they should be in NodeWithModifiers too. True,
- if it is the same for NamedNode, then this too,
- what I think: every node has comments, but only few have JavaDoc. DocumentableNode is especially for JavaDoc. There is no JavaDoc setter right now because it would just call setComment, which I thought might be confusing. I m

[2016-07-15 08:40] DeepSnowNeeL commented on #372
If only some nodes can contain javadoc comment we should split it in DocumentableNode and JavaDocumentableNode ?
DocumentableNode would contain setLineComment + setBlockComment with getters.
JavaDocumentableNode would contain setJavaDoc and get.. ?

[2016-07-15 08:45] DeepSnowNeeL commented on #372
Same for AnnotableNode by the way.
I intend to refactor a bit those interfaces to expose some builder methods in them (related to #363 )

[2016-07-15 09:04] matozoid commented on #372
- DocumentableNode is just JavaDoc. Every Node can have comments, so that doesn't need an interface. Putting normal comments in DocumentableNode would mean making _every_ node a DocumentableNode, which would make it meaningless.

[2016-07-15 09:05] matozoid commented on #372
AnnotableNode seems like a good target for an extra setter.

[2016-07-15 09:06] matozoid commented on #372
Be careful to remain backwards compatible. We can break stuff when we go to 3.0 :)

[2016-07-15 09:07] matozoid commented on #364
And what exactly do you do? What is the external console? cmd.exe? Is your system set to French?

[2016-07-15 09:08] DeepSnowNeeL commented on #372
I think that changing interfaces wouldn't interefere with the parsing nor
the usage of the lib, it should be only internal stuff and addditions. I'll
take care :)

Le ven. 15 juil. 2016 11:06, Danny van Bruggen notifications@github.com a
écrit :

[2016-07-15 09:11] DeepSnowNeeL commented on #364
My system is in french, I use the git-bash (mingw) console to run the mvn
executable which invoke maven-exec-plugin.

If I run the eclipse embedded maven (Run as> maven build in eclipse IDE) it
builds just fine without any error.

I'll try to run it with cmd.exe as soon as I can (tonight)

Le ven. 15 juil. 2016 11:07, Danny van Bruggen notifications@github.com a
écrit :

[2016-07-15 09:40] matozoid commented on #364
Okay, reproduced it, it happened because of Windows' default encoding. I was using a parse method without specifying encoding, and on Windows it uses something that is not UTF-8. Pushed a fix to my sample project: https://github.com/matozoid/javaparser-issue-364

We may consider removing the "default encoding" methods since we've had more reports like this.

[2016-07-15 09:42] DeepSnowNeeL commented on #364
Great !
Maybe force it utf-8 and provide another method which accept a charset ?

Le ven. 15 juil. 2016 11:40, Danny van Bruggen notifications@github.com a
écrit :

[2016-07-15 09:46] matozoid commented on #267
No response, closing. Please reopen if required.

[2016-07-15 09:46] #267 closed, assigned to nobody

[2016-07-15 09:47] matozoid commented on #364
See #281

[2016-07-15 11:23] matozoid commented on #216
We're now actually upgrading to 8, see #371 , so this is relevant again.

[2016-07-15 12:46] matozoid opened #375 "Replace Hamcrest matching with AssertJ"
It's really cool when you turn on its code generator, and has a lot less (())()()braces))(()() than Hamcrest.

http://joel-costigliola.github.io/assertj/

[2016-07-15 13:13] matozoid commented on #242
We can check this one again.

[2016-07-15 14:53] matozoid opened #377 "Split JavaConcepts test into smaller pieces"
JavaConcepts is probably an artifact from the old test setup, which was a few large classes that were parsed, and stuff was added to those classes when something had to be tested.

It should be easy, although tedious, to split it into a lot of small pieces in the dump tests.

[2016-07-15 14:54] matozoid opened #378 "Release 2.5.0"
- [x] pick a good time for a release.
- [x] do #350
- [x] update the release notes
- [x] make release
- [x] push to central and wait...
- [x] update maven dependency example
- [ ] spam the world

[2016-07-15 15:19] matozoid commented on #236
Actually, "super(foo)" is considered a statement, not an expression. This will work:
        `Statement s = JavaParser.parseStatement("super.a(foo);");`

[2016-07-15 15:28] matozoid commented on #236
Parsing this as an expression will be invalid starting from #163

[2016-07-15 15:28] #236 closed, assigned to matozoid

[2016-07-16 12:18] DeepSnowNeeL commented on #363
I'm facing a problem:
Let's take DocumentableNode, I want to add a builder-like method addJavaDocComment(String) to every class that implements DocumentableNode.
The problem is that my builder methods need to return "this", the actual class on which I call them.

#### I can do it a few different ways :

1) Create the method setJavaDocComment(String) in every of the 11 classes that implements it di

[2016-07-16 20:26] fmbenhassine opened #379 "Issue with interface modifiers"
Hi,

First, thank you for this wonderful project!

Looks like JavaParser is not correctly parsing interface modifiers. Here is the test:

[code]

Getting modifiers through the Java reflection API is fine, I'm expecting `Foo` to be an interface. With JavaParser this is not the case. Is this a bug or Am I missing something?

I'm using java version 1.8.0_73 and java-parser version 2.4.0

Thank you fo

[2016-07-16 22:11] matozoid commented on #363
I think I misunderstand the problem because I have a headache, but isn't added the return node type as a generic type parameter to the interface enough?

Will default methods help anything? Probably not, since they access state?

[2016-07-17 11:36] DeepSnowNeeL commented on #363
Default methods doesn't help you are right. (Well actually they do knowing that we only have Node types, I let you check the code after)
If we add the generic  to the interface we need to add it to each "hierarchy step" like :

[code]

And then
`public final class ClassOrInterfaceDeclaration extends TypeDeclaration<ClassOrInterfaceDeclaration> {`

[2016-07-17 13:36] DeepSnowNeeL commented on #363
Allright, almost finished the first part of builder methods ! :)
You can now do things like :

[code]

And much more!

Next phase is builder-like methods for all kind of statements, dunno yet how I will do It.

I renamed all the interfaces of node types to keep a standard naming convention so it's not really backward compatible, we might go for a version 3.0 introducing the new way of creating jav

[2016-07-17 16:41] DeepSnowNeeL commented on #242
With my modifications for #363 and related to  #372 , those 2 interfaces have more than 1 method now

[2016-07-17 18:51] #163 closed, assigned to matozoid

[2016-07-17 20:07] matozoid commented on #242
Here it goes again!

[2016-07-17 20:07] #242 closed, assigned to nobody

[2016-07-17 21:29] matozoid commented on #211
Added on master

[2016-07-17 21:29] #211 closed, assigned to matozoid

[2016-07-17 21:31] matozoid commented on #303
Fixed on master.

[2016-07-17 21:31] #303 closed, assigned to nobody

[2016-07-17 21:31] matozoid commented on #162
Fixed on master.

[2016-07-17 21:31] #162 closed, assigned to matozoid

[2016-07-17 21:32] matozoid commented on #163
Fixed on master.

[2016-07-17 21:35] matozoid commented on #341
In use on master.

[2016-07-17 21:35] #341 closed, assigned to matozoid

[2016-07-17 21:36] #191 closed, assigned to matozoid

[2016-07-18 09:44] matozoid opened #380 "Inspect this warning while running javacc:javacc"

[2016-07-18 10:00] matozoid opened #381 "Change bitfields into EnumSets"
Modifiers are giving some bugreports thanks to their lack of typing. An EnumSet would force a contract that avoids these problems.

[2016-07-18 10:01] matozoid commented on #379
Thanks for the compliments from the whole team :)

The problem here is a mixing of API's and lacking documentation. JavaParser has no overlap with the Java reflection API. Therefore, java.lang.reflect.Modifier will not work right. (Actually, it will in all cases except interface, but that's an implementation detail.)

This is the JavaParser way to check if a type is an interface:
`((ClassOrInterfa

[2016-07-18 10:38] DeepSnowNeeL commented on #381
It could be integrated to my work if you want & released with 3.0 since
it's breaking changes.

Le lun. 18 juil. 2016 12:00, Danny van Bruggen notifications@github.com a
écrit :

[2016-07-18 10:46] matozoid commented on #381
I prefer keeping increments as small and focused as possible.

[2016-07-18 11:11] fmbenhassine commented on #379
Great. Thank you for your help!

[2016-07-18 11:11] #379 closed, assigned to nobody

[2016-07-18 12:01] #350 closed, assigned to nobody

[2016-07-18 15:33] matozoid commented on #380
[code]

It seems that if we find a semicolon after parsing a package declaration, it can match two rules: empty import or empty type, both ";". It always matches empty import, and never empty type since it is the second one.

I wonder if that means that we can never produce an empty type with this grammar?

[2016-07-18 15:37] #370 closed, assigned to matozoid

[2016-07-18 15:43] matozoid opened #387 "Specify encoding with Charset instead of a String"
... and declare "UTF-8" as a charset somewhere.
... and remove methods that depend on the system default charset.

[2016-07-18 16:05] DeepSnowNeeL commented on #387
I already did this on my builder branch :p

[2016-07-18 17:13] matozoid commented on #362
I assume this was sufficient.

[2016-07-18 17:13] #362 closed, assigned to matozoid

[2016-07-18 20:04] matozoid commented on #354
Renamed this issue to "rewrite" to make it a little broader. I'm suggesting to make 4.0 a full rewrite where we can do some things right that I just don't see getting fixed in the current code base:
- comment support implementation is currently "interesting"
- continuous parsing
- refactoring while keeping the old formatting

[2016-07-19 10:52] peacepassion opened #389 "CompileUnit.toString() outputs"
First, this library provides great ability for parsing Java source code. Thanks for your work.

I am using JavaParser to improve the quality of my library [ButterCookie](https://github.com/peacepassion/ButterCookie/tree/encoding_err) for extending Butterknife.  And strange things about character encoding happened.

I leverage JavaParser to extract annotation out Java source file and output to the

[2016-07-19 11:00] matozoid commented on #389
Okay, before we try to solve old bugs: JavaParser 2.5.0 is out since yesterday, could you see if that fixes it?

[2016-07-19 11:18] matozoid commented on #354
- and symbol solving in a separate module

[2016-07-19 12:57] matozoid commented on #389
I installed Android Studio on Windows 7, checked out that branch, ran the command line thing, opened the file, and I see some code and a few Chinese characters. I'm not sure what I'm supposed to see?

[2016-07-19 21:21] rombert opened #390 "Add OSGi metadata to javaparser-core"
It would be great if you could add OSGi metadata to javaparser-core to make it simpler to reuse the code in OSGi environments.

A good start would be exporting everything except `com.github.javaparser.ast.internal` with version 0.0.0 - assuming you don't want to do fine-grained OSGi versioning for now.

[2016-07-19 21:40] matozoid commented on #390
Would you be willing to submit a PR for this? I don't think any of the committers can do this without reading up on OSGi.

[2016-07-20 00:13] peacepassion commented on #389
The output file is ./library/build/source/release/me/ele/buttercookie/LibraryActivity.java. And the right content should be like following, especially the green Chinese string.
![image](https://cloud.githubusercontent.com/assets/5254121/16970864/ab8d6d5e-4e51-11e6-9834-37c0b5e729cc.png)
The above output is content output on Mac.

And the result on Win 7 looks as following.
![image](https://cloud.g

[2016-07-20 00:14] peacepassion commented on #389
I will try JavaParser2.5.0 asap.

[2016-07-20 00:57] ide opened #391 "Empty ModifierVisitorAdapter causing CompilationUnit to throw NPE in toString()"
I upgraded to javaparser 2.5.0 and am getting a NullPointerException with my ModifierVisitorAdapter. I deleted a bunch of code down to a simple repro case:

Transformer code:

[code]

String to parse and modify:

[code]

This throws:

[code]

Either a more descriptive error message or more leniency in the visitor would make this easier to debug.

[2016-07-20 06:58] peacepassion commented on #391
I encounter the same NPE.

[2016-07-20 07:55] peacepassion commented on #389
I tried JP2.5.0, and I failed to build because of #391 . So I tried 2.3.0, and the result is the same.

[2016-07-20 08:28] DeepSnowNeeL commented on #391
Allright fixed it, Check #392

[2016-07-20 08:34] matozoid opened #393 "Release 2.5.1"
Alas, a bugfix release :(

[2016-07-20 08:36] ftomassetti commented on #393
This was quick! Thanks for the new release!

On Jul 20, 2016 10:34 AM, "Danny van Bruggen" notifications@github.com
wrote:

[2016-07-20 08:37] matozoid commented on #393
Have to do the release tonight, or do you happen to have access to a well configured machine?

And shouldn't you be on holiday???

[2016-07-20 08:39] ftomassetti commented on #393
I am on holidays, so I do not write code, I just live through the people
writing it :)

On Jul 20, 2016 10:37 AM, "Danny van Bruggen" notifications@github.com
wrote:

[2016-07-20 09:26] rombert commented on #390
Let's see :-)

Submitted #394

[2016-07-20 11:12] matozoid commented on #349
- [ ] Make javaparser-core a Jigsaw module.

[2016-07-20 12:40] #390 closed, assigned to nobody

[2016-07-20 12:59] #391 closed, assigned to DeepSnowNeeL

[2016-07-20 14:42] matozoid opened #395 "Inspect TODO verify it does not print comments connected to the type"
This TODO is found in MethodDeclaration.java

[2016-07-20 14:42] matozoid opened #396 "Inspect FIXME if there is no package it could be also a comment"
This fixme is found in CommentsInserter.java

[2016-07-20 14:44] matozoid opened #397 "Inspect FIXME this file does not seem to be generated by javacc."
As found in JavaParser.java.

The first line of the JavaDoc is wrong and should be removed.

[2016-07-20 14:45] matozoid opened #398 "Inspect TODO < or <= ?"
Found in PositionUtils.java

[2016-07-20 15:34] matozoid opened #399 "Update node removal example for 2.5.0"
DSNL, could you change the manual? I think you made stuff in "Remove / Delete Node from AST" superfluous.
https://github.com/javaparser/javaparser/wiki/Manual

[2016-07-20 18:09] #378 closed, assigned to matozoid

[2016-07-20 18:09] matozoid commented on #393
Released, on jcenter now. Maven central is still processing.

[2016-07-20 21:50] ide commented on #391
😮  thank you!

[2016-07-21 09:11] matozoid commented on #391
Alright, it's released as 2.5.1

[2016-07-21 09:43] matozoid commented on #389
I tried building again and again, and keep getting the correct Chinese text. There has to be a piece of code that forgets to explicitly set the encoding and falls back to system encoding, which is not utf-8 on Windows. Since I can't reproduce, I can't help looking for it :(

[2016-07-21 22:33] DeepSnowNeeL commented on #399
So I change the visitor way of doing it to something like cu..getClassByName("D").getMethodByName("foo").setBody(null) ?

We could use a bit more exemples to create classes from scratch using the new methods

[2016-07-22 16:45] matozoid commented on #399
No, because 3.0 won't be out for a while. Right now this sample is wrong and needs fixing. The source code is in package "com.github.javaparser.junit.removenode"

[2016-07-23 13:46] matozoid commented on #399
My mistake, this is a non-issue.

[2016-07-23 13:46] #399 closed, assigned to DeepSnowNeeL

[2016-07-25 02:13] #389 closed, assigned to nobody

[2016-07-27 11:18] mlangkabel commented on #358
Maybe we should use `NameExpr` when a node is ment that from the perspective of the parser can be substituted by some other Expr. Like for example when parsing the source of an assignment expr.
For other cases (like when parsing the name of a ClassOrInterfaceDecl) we could use a new type called `Name`.

A `Name` could extend the `Node` class so we can ask for its location. And a `NameExpr` could h

[2016-07-27 11:26] mlangkabel opened #403 "NameExpr for ClassOrInterfaceType"
I'd like to request storing the name of a `ClassOrInterfaceType` as `NameExpr` instead of using a simple String. This would allow us to query the name's location (which is not always consistent with the type node's location -> e.g. when the type has type arguments).

[2016-07-28 19:05] ptitjes commented on #354
@ftomassetti Note however that ANTLR requires a runtime jar. That would make a dependency to javaparser-core. I think it is worth to not forget about that...

[2016-07-29 04:30] ptitjes commented on #269
thumbs-up

[2016-07-29 06:36] javeleon opened #404 "Parsing fails with comment cannot be commented for valid source file"
Turns out that the following lines will throw the parser off:

[code]

Source file from:
https://raw.githubusercontent.com/requery/sqlite-android/master/sqlite-android/src/main/java/io/requery/android/database/sqlite/SQLiteConnectionPool.java

[2016-07-29 09:41] DeepSnowNeeL commented on #404
Here is the test to add to parsing_scenarios.story

[code]

The actual error is :

[code]

[2016-07-29 11:30] ftomassetti commented on #354
I agree that this has to be considered: all think equal not having runtime dependencies is a benefit and keeping JavaParser "lightweight" is vital, in my opinion.

Which alternatives do we have? Aside ANTLR do we have other options to consider?
[JParsec](https://github.com/jparsec/jparsec)? [SableCC](http://www.sablecc.org/)?
Writing a parser manually?

Of all the options I have listed I would per

[2016-07-29 14:05] #381 closed, assigned to nobody

[2016-07-29 14:30] matozoid opened #409 "Remove ASTHelper"
All code in ASTHelper should be available on the applicable classes instead, like "addArgument" should be on MethodCallExpr.

[2016-07-29 14:46] ftomassetti commented on #409
If we were using Kotlin they would be perfect extension methods :)

[2016-07-29 15:14] matozoid commented on #409
Where is the roll-eyes smiley? :)

[2016-07-29 17:45] #393 closed, assigned to nobody

[2016-07-29 17:53] matozoid commented on #404
There's an odd unicode character just before "mAvailable..."
http://www.fileformat.info/info/unicode/char/200B/index.htm

[2016-07-29 18:27] matozoid commented on #404
Okay, I've added support for  all unicode whitespace characters. Now there's another error:

[code]

[2016-07-29 18:42] ftomassetti commented on #404
I think this can be fixed adding on line 199 of CommentsInserter a check to verify that the target node is not a comment. I can prepare a PR for this and try to parse the given example. Is there any patch you are working on that I should include? the one one in #411?

[2016-07-29 18:44] matozoid commented on #404
Woohoo, three people fixed this problem at once :) But I was first in #411 ;)

[2016-07-29 18:47] ftomassetti commented on #404
Good, better too many and one too few :)

[2016-08-02 14:24] Miglecz opened #412 "Following comments are not always stored (missing/overwrite previous)"
The following code outputs wrong results:

[code]

Actual output:

[code]

[2016-08-03 08:16] mlangkabel opened #413 "Misleading parse exception when using default access for member of class"
When using the default access specifier for a member of a class the javaparser generates `An interface cannot have default members` as error message. But itsn't it the other way round? My Eclipse tells me `Default methods are allowed only in interfaces`.

[2016-08-03 08:43] DeepSnowNeeL commented on #413
Can you provide an exemple class it fails to parse ?
Thanks

[2016-08-03 11:22] mlangkabel commented on #413
Sure:

[code]

[2016-08-04 09:23] matozoid commented on #413
I fixed that error message while working on something else. It should be okay on master.

[2016-08-04 09:23] #413 closed, assigned to nobody

[2016-08-04 09:37] matozoid opened #414 "Make InstanceJavaParser an instance of a JavaParser"
from @ptitjes :

Actually, the whole front end of the parser could use a good cleaning.

[2016-08-04 13:19] matozoid commented on #414
So, maybe we can pull InstanceJavaParser back into JavaParser, make it able to handle multiple parses, and make a static version of each method that delegates to a throw-away instance of JavaParser?

[2016-08-04 16:00] tburmann opened #415 "Leaving out comments"
When i have a parsed methode that contains a for- loop with a comment, then i get the comment within the for- loop when i print it. Is
there a way to get the for loop (or controll structures in general) without any comments even if comments are in the source code?

[2016-08-08 11:15] Miglecz opened #416 "Array declaration is parsed wrong"
Compiler gives an error on the following (stating the the method is already defined):

[code]

But the parser creates different objects out of it.

`boolean boolArray[]` is not recognised the same way as the other one. It is treated as a simple `PrimitiveType`.

[2016-08-10 23:40] nerzid opened #417 "Javadoc doesn't change properly"
Before

[code]

After

[code]

Code that does that

[code]

Problem is , as you can see, it adds javadoc twice. Moreover, there is a gap between javadoc and the method decleration.

Also, Is there any options to javadoc properly ? I mean In Javadoc there are attributes like `@param , @author` and so on ?

[2016-08-11 18:52] JanBessai commented on #417
The problem is not caused by the visitor.

Parsing and pretty printing this code:

[code]

using this program:

[code]

yields:

[code]

Version used is 2.5.1.

[2016-08-13 21:58] chmuche commented on #417
Hello I have the same issue.
I think the duplicate comment issue come from the DumpVisitor or the class TypeDeclaration

I think the bug come from one the two file below :
DumpVisitor.java @353-354

[code]

or from the TypeDeclaration.java @129-134

[code]

[2016-08-15 09:59] javeleon opened #418 "Parsing of lambda expression fails for simple example"
The following source file causes a failure to parse lambda expression fatal exception!

[code]

[2016-08-17 10:40] matozoid commented on #417
Yes, Javadoc uses the same field as comment, so we shouldn't print it twice. Thanks for figuring this out :)

[2016-08-17 10:55] matozoid commented on #417
Here's the explanation: before 2.5.0, the javadoc getter/setter was only half implemented, meaning that the getter would always return null. The code in DumpVisitor is much older and enthusiastically assumes it needs to print JavaDoc if it is there. But in 2.5.0 we finished JavaDoc support by making it an alias for the already existing comment field, and of course DumpVisitor starts to output that

[2016-08-17 14:50] matozoid commented on #416
Okay, detecting duplicate methods is indeed the task of the compiler. Syntactically it is correct, so JavaParser parses it.

The same can be said about those two not being the same.

[code]

As you can see there was no information lost, it is just stored in another place, attached to either the type or the id (name) of the field.

Is that a good design? I'm not sure.

[2016-08-17 15:13] #397 closed, assigned to nobody

[2016-08-17 15:14] matozoid commented on #404
Available on master.

[2016-08-17 15:14] #404 closed, assigned to matozoid

[2016-08-17 15:16] matozoid commented on #316
Alright, the ASTParser methods should now work on master. The problem with returned lists being mutable, making it possible to add nodes with a bad parent, is hard to solve and still there.

[2016-08-17 15:16] #387 closed, assigned to matozoid

[2016-08-18 08:25] matozoid opened #421 "Make returned collections unmodifiable"
See #420 and #316. Make sure that internal collections of nodes cannot be modified by getting that collection, then adding to it. The main issue here is that JavaParser doesn't notice the addition, and cannot set the parent of the added nodes correctly.

To still support adding nodes, we will have to add an "addXxx(Node node)" method next to the getter of the collection.

[2016-08-18 08:29] DeepSnowNeeL commented on #421
It might be convenient to provide removeXXX() too ?

[2016-08-18 08:39] matozoid commented on #421
Two other options:
- subclass ArrayList and override mutator method to set the parent correctly. This doesn't prevent users from creating a completely new plain ArrayList and passing that to "setXxxs(List)" We would have to intercept lists there and turn them into our own subclassed list. That seems like a lot of work for something that should be simple.
- use a library like javaslang or Guava to

[2016-08-18 15:04] matozoid commented on #418
It seems that (ITF) is seen as a cast of () where it should cast the whole lambda.

[2016-08-18 15:49] matozoid commented on #418
Please check the fix above.

[2016-08-18 20:45] avansaun opened #423 "Changing A Comment Into An Annotation?"
The project I'm currently working on requires me to find comments in a file which contain annotation tags and change them so that they are no longer commented. For example, changing something like `//AnAnnotation` to `@AnAnnotation`. I am trying to use a method that extends ModifierVisitorAdapter, but am having trouble finding a way to switch from Comment to Annotation. Is there any way to accompl

[2016-08-18 21:01] nerzid commented on #423
I think you miss a point about how to comment out annotations. If a annotation is commented it would look like this `//@Annotation...` so basically it is just a comment. The solution to your answer is you can get that comment's content that contains annotation, than use that content to create an annotation just like the content. Also don't forget to delete comment with annotation as well.

[2016-08-18 21:29] avansaun commented on #423
Thanks for the fast reply! To be more specific, I'm trying to take a commented out Jira test case number and change it from `//ABC-1234` into an `@Jira ABC-1234` tag. So If I was to use the MethodChangerVisitor class from the "Changing methods from a class with a visitor" example in the manual page, how could I take a comment that is passed into the visitor method and then pass it back to the Comp

[2016-08-19 13:42] nerzid commented on #423
## Test.java

[code]

## Test.txt Before

[code]

## Test.txt After

[code]

Note that, this code is not clean and very like to be buggy, but I think you can handle that :bowtie:
I've used javaparser-core-3.0.0.-SNAPSHOT.jar for this test.

[2016-08-19 14:59] matozoid opened #424 "Reformat all source code according to the formatting rules."
MAKE SURE nobody is working on anything, or merging will be hell!

[2016-08-19 16:36] DeepSnowNeeL commented on #423
You might want to use addMarkerAnnotation to avoid the () after the annotation name

[2016-08-19 20:07] matozoid opened #427 "Reduce constructor count"
Check all classes, see if they have convenience constructors and turn them into static create methods.

[2016-08-20 21:22] chmuche opened #430 "The Annotation inner TypeReference are not visited in Adapter"
Java8 introduce a new ElementType in the Annotation Target (`ElementType.TYPE_PARAMETER`)
[JSL 9.6.4.1. @Target  ](https://docs.oracle.com/javase/specs/jls/se8/html/jls-9.html#jls-9.6.4.1)

In VoidAdapter<A> the method :

[code]

Don't visit the annotations

A little workaround is to override this method like this :

[code]

this Issue is in tree Adapter Void, Generic, Modifier but not in DumpVisi

[2016-08-20 21:39] chmuche commented on #430
After more research I think ReferenceType#getArraysAnnotations() is not used in the same Adapter.

[2016-08-21 10:50] chmuche opened #431 "Some method not implemented in ModifierVisitorAdapter"
I think this 5 methods do not implement the correct behaviour :

[code]

I replace this methods by this in my CustomModifierVisitorAdapter

[code]

BTW I think the method `private void visitComment(final Comment n, final A arg)`
should be called in each method. (In Void & Generic VisitorAdapter  the comment are always visited)

[2016-08-21 16:57] #418 closed, assigned to matozoid

[2016-08-21 16:57] chmuche opened #432 "The Resources inner TryStmt are not visited in ModifierVisitorAdapter"
In the method **@Override public Node visit(final TryStmt n, final A arg)** the code is :

[code]

Or the ressource are not visited.
I think the method below solve this issue :smile:

[code]

[2016-08-21 16:57] #367 closed, assigned to matozoid

[2016-08-21 17:08] #409 closed, assigned to matozoid

[2016-08-21 17:23] #417 closed, assigned to matozoid

[2016-08-21 17:59] matozoid commented on #416
No more comments?

[2016-08-21 18:08] #414 closed, assigned to matozoid

[2016-08-21 18:09] matozoid commented on #363
@DeepSnowNeeL - shall we close this one? Do you think there's more work to do?

[2016-08-22 07:49] DeepSnowNeeL commented on #363
Well, I think we covered 90% of the uses cases. If we find new helper/builder methods for code generation from scratch to be handy, well we will just PR :)

+1 to close

[2016-08-22 09:06] #363 closed, assigned to DeepSnowNeeL

[2016-08-22 15:18] matozoid commented on #432
Phew, thanks for all the reports!

[2016-08-22 16:12] avansaun commented on #423
Thank you both so much, I think this is right along the lines of what I'm looking for. Does the  javaparser-core-3.0.0.-SNAPSHOT include the addAnnotation() (or addMarkerAnnotation()) method? I'm currently using javaparser-core-2.5.1 and it doesn't recognize that method. If so, where can I download the 3.0.0-SNAPSHOT jar file? I can't seem to locate it one the site here.

[2016-08-22 17:11] chmuche commented on #432
Your welcome, I will try to create a merge request next time, but I haven't forked JavaParser yet.

[2016-08-22 17:37] chmuche opened #433 "Parsing JavaDoc"
If possible to improve the parsing of a javaDoc comment Block, by adding javaDoc annotation like @return, @param ... .
I think is the last missing things to javaparser.
In the same idea, add some methode to the Generic comment like  isTodoComment() and method like that.
I will try to create a little POC if you think this feature is interesting

[2016-08-22 17:42] chmuche opened #434 "Split GenericVisitor and VoidVisitor to multiple J8 @FunctionalInterface"
I think that will be great if the two big interfaces will be split in a lot of little Functional interface, is that way we can use lambda expression and not always use Generic or Void Visitor.

it's just an idea like that

[2016-08-22 18:08] nerzid commented on #423
Yeup, it does. I think you can't download it directly. You need to build it via maven.

[2016-08-22 18:28] avansaun commented on #423
Hmm okay, I tried that but couldn't find 3.0.0 in the Maven repository. Any idea why that wouldn't show up?

https://mvnrepository.com/artifact/com.github.javaparser/javaparser-core

[2016-08-22 18:54] nerzid commented on #423
I think you haven't used maven before :smile:
Firstly, download and install apache maven from [HERE](https://maven.apache.org/download.cgi)
Make sure that you have a environment variable called JAVA_HOME with value of your jdk's path, like this
![Java_Home](https://cloud.githubusercontent.com/assets/11797282/17867241/55a7acbc-68b2-11e6-9d0f-77287a671805.png)

than open up CMD, and write this codes

[2016-08-22 22:40] avansaun commented on #423
Thank you! Yeah I haven't used Maven much before. So I now have the 3.0.0 version in my Maven dependency, and everything looks normal except the n.addAnnotation(<String>) method is still not recognized. Do I need to refresh something to get everything to update? Thanks again for all the help.

[2016-08-23 19:37] matozoid commented on #433
Go ahead, create a PR and we'll take a look!

[2016-08-23 19:39] matozoid commented on #434
Doesn't it get clumsy to override a lot of visit methods then?

[2016-08-23 19:39] matozoid commented on #416
I guess it's fine then.

[2016-08-23 19:39] #416 closed, assigned to matozoid

[2016-08-23 21:30] chmuche commented on #434
I don't know yet,  but I agree the visitor design pattern of the GOF is define with one big interface.  But I think ,  maybe with functionnal interface we can do this differently.
 Like I said is just an idea.

Because a VoidVisitor's method is just a BiConsumer with a particular type. So I think is maybe possible.

[2016-08-23 22:30] avansaun commented on #423
I ended up just using Java's Scanner to do the parsing of the comments for my project, so I'll close this issue. I'm sure that nerzid's solution would work correctly though, and assuming that it was simply a problem with my local setup. Thank you both for the help, and hopefully this will help others if they have a similar problem.

[2016-08-23 22:32] #423 closed, assigned to nobody

[2016-08-24 13:44] matozoid commented on #434
You can always try it out and show it in a PR :)

[2016-08-24 14:30] matozoid opened #436 "Cannot annotate the types in a catch: try{...}catch(@C Exception e) {...}"
Obscure, but wrong.

[2016-08-24 15:05] matozoid opened #437 "CloneVisitor has many unused variables"
... meaning that things aren't getting cloned.

It is also largely untested, it needs a decent test suite.

[2016-08-24 17:59] #364 closed, assigned to nobody

[2016-08-25 08:25] matozoid commented on #430
I'm still working on this, annotations turn out to be a more complex topic than I thought.

[2016-08-25 13:15] sbhat-hortonworks opened #438 "How to add statements to java methods"
I want to write a custom profiler for a huge codebase and want to know if I can use JavaParser to add startProfiler() endProfiler() between lines of code. I have seen many examples to read code, change method name etc. If it is possible to add code in methods, can someone provide me an example?

Like eg : if my code is :
public void startMethod () {
      hello();
}

It should now be :
public void

[2016-08-25 13:27] chmuche commented on #438
You want to add `startProfiler();` and `endProfiler();` before and after each method's call ?
Or only before and after a specific method _hello_ in your sample.

[2016-08-25 13:29] sbhat-hortonworks commented on #438
Before and after each line of code in the method. Except if it is loop/conditional statement (and the line is not a comment/empty line)

From: chmuche <notifications@github.com<mailto:notifications@github.com>>
Reply-To: javaparser/javaparser <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, August 25, 2016 at 6:57 PM
To: javaparser/javaparser <javaparser@noreply.github.com<m

[2016-08-25 13:44] DeepSnowNeeL commented on #438
Here is an example :

[code]

Input:

[code]

Ouputs:

[code]

[2016-08-25 13:50] sbhat-hortonworks commented on #438
Are there missing methods in the example? I see createBlockStatementAsBody() and setParentNode() is not part of the API

From: Cruz Maximilien <notifications@github.com<mailto:notifications@github.com>>
Reply-To: javaparser/javaparser <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, August 25, 2016 at 7:14 PM
To: javaparser/javaparser <javaparser@noreply.github.com<mailto:ja

[2016-08-25 13:52] DeepSnowNeeL commented on #438
I'm using the 3.0 alpha with probably my pending PR in it, but it does what it says :p

[2016-08-25 14:02] sbhat-hortonworks commented on #438
Okk.. :D I am too new and embarrassed that I don’t know what these methods should do.

From: Cruz Maximilien <notifications@github.com<mailto:notifications@github.com>>
Reply-To: javaparser/javaparser <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, August 25, 2016 at 7:22 PM
To: javaparser/javaparser <javaparser@noreply.github.com<mailto:javaparser@noreply.github.com>>
Cc:

[2016-08-25 14:04] sbhat-hortonworks commented on #438
I did generate a simple code by checking examples :

import java.io.File;

import java.io.IOException;

import japa.parser.ASTHelper;

import japa.parser.JavaParser;

import japa.parser.ParseException;

import japa.parser.ast.CompilationUnit;

import japa.parser.ast.Node;

import japa.parser.ast.expr.MethodCallExpr;

import japa.parser.ast.expr.NameExpr;

import japa.parser.ast.stmt.BlockStmt;

im

[2016-08-25 17:19] #438 closed, assigned to nobody

[2016-08-26 05:49] sbhat-hortonworks opened #439 "Is there a way to parse a condition using Java parser?"
If I have a condition like :
if ( hello() == "abc" && foo() == "def") {

}

Is there a way to extract hello() and foo() from the condition and replace the condition as :
String hello = hello();
String foo = foo();
if ( hello == "abc" && foo == "def") {

}

Is there an example that I can follow?

[2016-08-26 06:01] chmuche commented on #439
I don't have JavaParser under my eyes, but I think to do that you need to overide two visit methode from the genericVisitorAdapter

the IfStmt where you can find th condition (probably a  BinaryExpr)
And the MethodDeclaration

But the best way to do that is to create a compilation unit with your code

[code]

And see what you got in the IfStmt.condition. when you debug

[2016-08-26 06:25] DeepSnowNeeL commented on #439
Never use == on strings, use .equals() or you will have surprises :p

Le ven. 26 août 2016 08:01, chmuche notifications@github.com a écrit :

[2016-08-26 06:34] sbhat-hortonworks commented on #439
Had seen that. I did get the condition and then could cast it to BinaryExpr to get left and right.

My major problem is with the object creation from the return statement. Doing the
Int hello = hello();

I couldn’t make out how to do it using ObjectCreationExpr

From: chmuche <notifications@github.com<mailto:notifications@github.com>>
Reply-To: javaparser/javaparser <reply@reply.github.com<mailto:

[2016-08-26 08:24] DeepSnowNeeL commented on #439
Here is an exemple, note that it avoid a lot of complicated cases, it only looks for if statements inside blockstatements but you need to check if you have IfStmt elsewhere. And it only handle String methods types, if you want to extract the method return type you will need to parse the compilationUnit containing it..
It extracts the method name as the variable name, so be careful if a variable al

[2016-08-29 17:14] matozoid opened #441 "Support annotations on ellipsis"
See @ptitjes sample: https://github.com/ptitjes/jlato/blob/d82d1/src/test/resources/org/jlato/integration/TypeDecls/method-with-annotated-ellipsis/formatted.txt

[2016-08-29 17:21] matozoid opened #442 "Do what the remark says in java_1_8.jj"
[code]

[2016-08-29 18:34] matozoid commented on #436
Actually, things only went wrong when annotating a union type like this: catch(A a | @X B b)

[2016-08-30 10:28] matozoid commented on #439
@sbhat-hortonworks - are you happy with the answers? Can we close this?

[2016-08-30 17:15] matozoid commented on #431
Go take a look at the PR, I found a lot of missing things everywhere and also fixed your code a bit :-)

[2016-08-30 17:32] matozoid commented on #432
Please check the PR and comment if it's okay or not.

[2016-08-30 17:53] matozoid commented on #442
TODO outdated, it also needs to check try-with-resources.

[2016-08-30 21:09] matozoid commented on #323
Sadly no PR :(

[2016-08-30 21:09] #323 closed, assigned to nobody

[2016-08-30 21:14] matozoid commented on #237
@ftomassetti - how would you suggest to refactor this? Is this what's in the patch @ptitjes did somewhere else that we cannot see without breaking the law? ;)

[2016-08-30 21:44] matozoid commented on #157
Alright, I took some time to study the proposal and I agree it's very nice! And it's exactly the right time to implement it.
Note 1: it seems like path/source should be in ParseResult.
Note 2: This proposal can be split in four:
1. create separate configuration object (how would you configure the static helpers?)
2. all of the problem collection code
3. make ParseContext to reduce the amount of pa

[2016-08-30 22:14] ptitjes commented on #237
@matozoid Well, I think having respect for someone's beliefs (and work) should not be felt by anyone sane as adhering to the law...

[2016-08-31 07:55] matozoid commented on #237
It's about licenses - that's the law. Also, smiley :)

[2016-08-31 19:20] rosrossito commented on #424
Matozoid, hello,
may I join this project?
Can you assign this task to me? I would like to try to make it.

[2016-08-31 20:57] matozoid commented on #424
Sure, this weekend I'll pull all the pull requests, so then would be a good time to do this.

[2016-08-31 21:51] matozoid commented on #424
@DeepSnowNeeL can you finalize #435 before Sunday?

[2016-09-01 08:09] DeepSnowNeeL commented on #424
Well you can include it like this, I'll continue to propose PR every time I use javaparser and find a way to do better with code building :)
Could you check that the eclipse formatting is updated and does the right thing ? I think I always break formatting... :(

Thanks !

[2016-09-01 10:49] matozoid commented on #424
@DeepSnowNeeL - good point. I personally only format the lines I touch, which is a pain.
@rosrossito - could you first investigate the current formatters and see if you can get them to format stuff identically?

[2016-09-01 11:24] matozoid commented on #136
A start has been made on this.

[2016-09-01 12:24] matozoid commented on #216
I used one in #447 ;-)

[2016-09-01 12:24] rosrossito commented on #424
Ok. I will try.

2016-09-01 13:49 GMT+03:00 Danny van Bruggen notifications@github.com:

[2016-09-01 22:22] matozoid opened #448 "Add support for java.nio.file.Path"
Use it in Providers and JavaParser.

[2016-09-01 22:53] matozoid commented on #357
Hmmm, I'm doing this now and some errors are popping up. Will create issues.

[2016-09-02 01:56] wsdjeg commented on #136
Nice! And thanks for your work.

[2016-09-02 12:32] ftomassetti commented on #357
I think at a certain point I tried to parse some source files from the OpenJDK which actually contained errors (they were used in tests, I guess to check the compiler recognized the errors) so I had a moment of desperation before realizing that

[2016-09-02 18:50] matozoid commented on #111
Looks like all that was left to do was a clean up of unused nodes.

[2016-09-03 00:25] matozoid commented on #109
I wonder if this is best fixed by introducing a "PrimaryExpression" node that has the allowed node types as children.

[2016-09-03 16:10] matozoid opened #451 "Null part 2"
Currently there is no real null handling in JavaParser. Nothing tells the user if something is nullable. As far as I am concerned, this is a major weakness of the Java language, but we have some ways around it.
- we can check contracts by asserting the value of parameters, @chmuche suggested Object.requireNotNull which is nice, because it is part of the JDK. We can also easily write one of these t

[2016-09-04 10:38] rosrossito commented on #424
Danny,

could you clarify the task more precisely?

I mean in what modules current formatters are located?

Do you have already this formatting rules?

2016-09-01 15:24 GMT+03:00 Ruslan Omelchenko <
ruslan.omelchenko.irtcits@gmail.com>:

[2016-09-04 11:53] matozoid commented on #424
Check https://github.com/javaparser/javaparser/wiki/Coding-Guidelines

[2016-09-04 18:17] #430 closed, assigned to matozoid

[2016-09-04 18:28] #436 closed, assigned to matozoid

[2016-09-04 18:45] #431 closed, assigned to matozoid

[2016-09-04 18:55] #432 closed, assigned to matozoid

[2016-09-04 19:01] #442 closed, assigned to matozoid

[2016-09-04 19:23] matozoid commented on #157
This has been implemented with some modifications on master.

[2016-09-04 19:23] #157 closed, assigned to matozoid

[2016-09-04 19:36] #111 closed, assigned to matozoid

[2016-09-04 19:42] matozoid opened #452 "Turn every exception while parsing or opening files or whatever into a Problem"
This includes ParseException, TokenMgrException, IOException, etc...

[2016-09-04 19:42] #448 closed, assigned to matozoid

[2016-09-04 19:43] #439 closed, assigned to nobody

[2016-09-04 19:44] matozoid opened #453 "Inspect JavaCC warning"
[code]

[2016-09-04 19:45] matozoid opened #454 "Inspect current Windows compile problem"
It compiles fine on Windows, but not on our appveyor build tool.

[2016-09-04 20:18] #107 closed, assigned to matozoid

[2016-09-05 13:59] chmuche commented on #451
I use`Objects.requireNonNull` because just one line is enought, with a good message
But before I was using A simple classe like that :

[code]

but Objects is in the JDK like you said :smile:
And I'm ok with the optional.

[2016-09-06 22:05] matozoid commented on #237
Calling mr. @ftomassetti! Mr. @ftomassetti are you there?

[2016-09-07 07:24] ftomassetti commented on #237
Yes, but it is less than a year that I am thinking about this subject. It is better to not rush this thing too much :)

I think that we should move _arrayCount_ out of _ReferenceType_ to _ArrayType_

Now, if I am correct, _ReferenceType_ specifies:
- the name of a reference type
- the annotations to that reference type
- the number of dimensions of the array (if any)
- the annotations associated t

[2016-09-07 07:38] matozoid commented on #237
Now _that_'s a description :) It looks a lot like the suggestion in #112 - is that correct?

[2016-09-07 07:41] matozoid commented on #354
To me, everything that is not ANTLR or lex&yacc seems obscure :)

[2016-09-07 07:49] ftomassetti commented on #237
Yes, it is definitely similar. I just do not know if ArrayType should extend ReferenceType and if ArrayType should wrap a Type or just a ReferenceType (probably yes, I just do not have enough coffee in me to confirm this).

[2016-09-07 09:03] ptitjes commented on #237
Also you should take care about the order of the array dimensions w.r.t. to their annotations. It seems to me that the wrapping you describe in your example is incorrect. See JLS8 section 9.7.4.

[2016-09-07 17:52] chmuche commented on #354
Intellij use BNF grammar. but it's maybe too old :smile:

[2016-09-08 21:53] matozoid commented on #372
@DeepSnowNeeL is this done?

[2016-09-08 22:08] DeepSnowNeeL commented on #372
Yep it was included in my first builder PR :)

[2016-09-08 22:08] #372 closed, assigned to nobody

[2016-09-09 14:26] matozoid commented on #359
@ftomassetti - what was the idea behind this?

[2016-09-10 08:30] ftomassetti commented on #359
It was a loooong time ago :)
Well, I think the idea was to mark the elements which represent declarations. It could be useful to have them to implement things like the outline panel, or diagrams. Or also to provide qualified identifiers because given a node I can collect all the NodeWithDeclaration between the given node and root and build an identifier in this way.
I think you cannot move it in t

[2016-09-10 16:47] matozoid commented on #359
Well, we have quite a bunch of "marker interfaces" by now, like NodeWithAnnotations, so in that way it can stay. But it contains only print methods, and I don't think that's a task of the nodes (well, no other nodes support any printing anyway.)

[2016-09-10 17:19] matozoid opened #456 "Remove "data" field from Node"
This field is meant as a place where the user can put additional stuff in a node for own use.

I have never heard of anybody using it, and I would suggest keeping track of data like this in a separate Map<Node, UserObject> so it becomes well typed.

If you feel that this field must remain, say so below.

[2016-09-10 17:29] ftomassetti commented on #456
+1 for removing it

[2016-09-10 20:30] matozoid commented on #237
I looked up all places where the grammar has the [ character and reverse engineered what's being produced there:

[code]
- Bug: ArrayCreationExpr.arrayCount always stays 0, no matter what. (#457)
- Bug: support for illegal syntax: array brackets after a method parameter list. (Or am I missing something here?) (#458)
- ArrayAccessExpr seems to support the wanted way of dealing with arrays already:

[2016-09-10 20:52] matozoid opened #457 "ArrayCreationExpr.arrayCount always stays 0"
Since we already have a list with all initializers, we can just as well delete this field.

See #237

[2016-09-10 20:53] matozoid opened #458 "Remove support for illegal syntax: array brackets after a method parameter list."
See #237

[2016-09-10 21:02] ftomassetti commented on #458
I think to remember I saw this and I thought it was an error but later I found it was some weird syntax that is actually legal but not used since Java 1.0...

I am not sure if this was the relevant bit but in JLS 8.4 it shows _Dims_ as part of the method declarator: https://docs.oracle.com/javase/specs/jls/se8/html/jls-8.html#jls-MethodDeclaration

And if you write this class in IntelliJ it is hap

[2016-09-10 21:03] ftomassetti commented on #458
So I think it is absurd and never used by anyone with a sound mind but it is technically legal...

[2016-09-10 21:05] ftomassetti commented on #458
And related to do: you can also write the brackets after the name of a parameter:

[code]

[2016-09-10 21:39] matozoid commented on #237
Or should that be...
ArrayCreationExpr(ArrayDimension(2, ArrayDimension(1, PrimitiveType(int))) ...?

[2016-09-10 22:10] matozoid commented on #424
I think Intellij should have the option to "import *" turned off.

[2016-09-10 22:22] matozoid commented on #458
Related to do? You mean that's not supported by JavaParser?

As for the current issue: I guess this can be closed again then.

[2016-09-10 22:28] ftomassetti commented on #458
I meant that it is another weird piece of syntax involving brackets in unexpected positions. I am not sure it is support by JavaParser, I guess we should check that.

[2016-09-10 22:35] matozoid commented on #458
`int[]bar(int[]x[])[]{return new int[][]{};` AAARGH

[2016-09-10 22:39] matozoid commented on #458
Okay, JavaParser parses the following, so I'm closing this.

`class I{int[]bar(int[]x[])[]{return new int[][]{};}}`

[2016-09-10 22:39] #458 closed, assigned to nobody

[2016-09-10 22:49] matozoid commented on #237
Okay, that is step one.

[2016-09-10 22:50] matozoid opened #460 "Variable declaration annotation ends up on wrong node"
In the case of a VariableDeclarationExpr, the first annotation ends up on the expr, not on the inner type:
`VariableDeclarationExpr(@C, type=ArrayType(@B, ArrayType(@A, PrimitiveType(no annotations, int))))`
should be
`VariableDeclarationExpr(no annotations, type=ArrayType(@B, ArrayType(@A, PrimitiveType(@C, int))))`

[2016-09-10 23:31] matozoid opened #461 "Fail on generic array creation"
JavaParser parses this:

new ArrayList<String>[2];

but it is not valid Java. [See here](http://stackoverflow.com/questions/7131652/generic-array-creation-error)

[2016-09-10 23:34] matozoid commented on #461
Another one:

Object x=new <Object> @A ArrayList[2];

is also not valid Java, but JavaParser says it's okay.

Not sure why `[ typeArgs = TypeArguments() annotations = Annotations() ]` is in AllocationExpression

[2016-09-11 09:59] matozoid commented on #454
It's something with M2_HOME, @ftomassetti - do you feel like looking at it?

[2016-09-11 10:17] ftomassetti commented on #454
There are 2 ways to fix this:
- fix the M2_HOME path
- stop installing our own Maven version

I went for option 1. There is one test failing but it seems legit

[2016-09-11 10:21] ptitjes commented on #460
Well, this behaviour conforms to the standard. See in JLS8 section 14.4, the production `LocalVariableDeclaration` uses an `UnannType`.

[2016-09-11 10:32] ptitjes commented on #461
The JLS section 15.10.1 defines the grammar this way and says in the second paragraph after the grammar:

Thus `new @A List<?> @B []{}` is a valid expression.

[2016-09-11 10:39] ptitjes commented on #457
You can have both dimension-expressions and dimensions in a ArrayCreationExpr (see JLS8 section 15.10.1).
For instance, `new int[10][10][][]` is a valid array creation expression.

[2016-09-11 10:45] ptitjes commented on #456
It is often useful (and it is common practice) to attach data directly to the AST while type-checking it, etc...
If you want to attach typed information instead of just an object, there are other means like:

[code]

Have your data field like:

[code]

Document that users should use constants to implement the TypedDataKey and use an IdentityHashMap, and also enforce typing and casting in the acces

[2016-09-11 11:16] matozoid commented on #460
Thanks!

[2016-09-11 11:16] #460 closed, assigned to nobody

[2016-09-11 11:16] matozoid commented on #454
Thanks!

[2016-09-11 11:16] #454 closed, assigned to nobody

[2016-09-11 11:19] matozoid commented on #461
I love problems that are not problems after all.

[2016-09-11 11:19] #461 closed, assigned to nobody

[2016-09-11 20:05] ftomassetti opened #463 "Removing nodes"
This issue derives from a comment to a [post introducing Javaparser](http://tomassetti.me/getting-started-with-javaparser-analyzing-java-code-programmatically).

It is not trivial to remove nodes from the AST, right? You need to know their parents and the collections they are part of to remove them, there is not a generic way to do so. Should we fix that?

[2016-09-11 20:49] matozoid commented on #463
Well, I guess at least one user wants it :)

About collections: our use of plain Lists is quite a pain, as you can see in #421. I'm open to discuss creating our own collection type.

[2016-09-11 21:21] ptitjes commented on #463
I remember there was a lengthy discussion for the specific collection when null-management was discussed and I was disappointed it resolved to a no-go !

[2016-09-12 15:34] matozoid opened #464 "Add getEffectiveType"
In cases where we use bracket pairs creatively, it might be user friendly to supply a method that does all the counting for us.

int[] a, b[];

a.getEffectiveType() would be ArrayType(int)
b.getType is  ArrayType(int)
b.getEffectiveType() would be ArrayType(ArrayType(int))

[2016-09-12 15:35] matozoid opened #465 "Add getElementType to ArrayType"
This should find the type that is wrapped inside the ArrayType(s).

a= ArrayType(ArrayType(int))
a.getElementType() => int

[2016-09-12 15:37] matozoid opened #466 "Add getArrayDepth to ArrayType"
This should count the depth of ArrayType nesting.

a= ArrayType(ArrayType(int))
a.getArrayDepth() => 2
a.getType().getArrayDepth() => 1

[2016-09-12 15:41] matozoid commented on #466
If anybody knows a better term than "depth"...?

[2016-09-12 15:44] matozoid opened #467 "Integrate ellipsis handling with ArrayType"
Since "..." is only an alias for "[]", typewise.

[2016-09-12 15:48] ptitjes commented on #466
Well, it seems to me that the exact term is "dimensions". Or you could also say "dimension count" if "dimensions" retrieves the dimension object.

However, I am not sure having such a method is useful ! You have to think about the bigger picture where you have type-checking, etc... and thus utilities to manipulate types, build default initializers...

[2016-09-12 16:48] ptitjes commented on #465
The term used in the JLS is "component". So maybe "getComponentType()" ?
Or use "getComponentType()" to retrieve the immediate component type ?

[2016-09-12 18:50] matozoid commented on #465
I was following the naming in 10.1. To be honest, I don't really see the difference with "component" so I may be confused.

[2016-09-12 19:29] matozoid opened #468 "Make TypeArguments a Node"
I see no reason why it isn't?

[2016-09-14 18:18] rosrossito commented on #424
I followed the instruction given in guiedlines, but I am not shure that I
made it properly.
Also cloned project was built with error.
May be you can give me some hint concerning that.
Nevertheless I pulled request.

2016-09-11 1:10 GMT+03:00 Danny van Bruggen notifications@github.com:

[2016-09-17 12:50] matozoid commented on #237
I think this should be solved in a fundamentally different way. The main issue is that in `int[] a[]`, `int[]` is not a type of interest to anyone, it's just a bit of syntax describing part of a type. The syntax is of use if we want to output this code. But when we want to use the type of a, we need to infer it from its parts: int[] + [].

Therefore I propose to...
- use a simple list of brackets

[2016-09-17 12:53] matozoid commented on #457
Yes, new int[10][10][][] would have arrayCount=2. I misunderstood this functionality.

[2016-09-17 12:53] #457 closed, assigned to nobody

[2016-09-17 13:02] matozoid commented on #466
Well, it depends on what that bigger picture is. There are some big products like [Coati](https://www.coati.io/) using JavaParser, and I would expect they have a bunch of tools built around it, but I also see people building quick & dirty things. I don't see why we wouldn't spend an hour building this to save one or two users some frustration?

[2016-09-17 13:21] matozoid commented on #465
I've read it again: https://docs.oracle.com/javase/specs/jls/se7/html/jls-10.html

int[][] a;

The element type is int.
The component type depends: for a[] it is int[]. For a[][] it is int.

The component type is already available as getType()
The element type getter is what we want to add here.

[2016-09-17 13:33] matozoid commented on #237
This would affect...
- `List<ArrayBracketPair>`: some construct has to be added to store array braces. This would be the simplest one.
- `VariableDeclarationExpr`: no longer has `type`, but it gets `getElementType()`. Also stores a `List<ArrayBracketPair>`
- `VariableDeclaratorId`: replace `arrayCount` with `List<ArrayBracketPair>`. Add a `getType()` that take type information from its parents and

[2016-09-17 15:43] matozoid commented on #463
Hey @ftomassetti - maybe you want to steer this discussion a bit more. I feel it may die otherwise.

[2016-09-17 16:58] DeepSnowNeeL commented on #463
Can we provide a generic .remove() method on Node which will be overriden
when specific actions are required ? We will need to check the type of the
parent and correctly remove it from the collection.

If you guys have a specific idea about how to do it, tell me. I'll give it
a try and do a PR soon

Le sam. 17 sept. 2016 à 17:43, Danny van Bruggen notifications@github.com
a écrit :

[2016-09-17 20:52] matozoid commented on #463
Well, what would you have it do when it is contained in a collection? The parent points to the node that has the collection. So in which collection is it?

[2016-09-20 11:34] matozoid commented on #416
This is actually being addressed in #237 now.

[2016-09-20 20:34] ftomassetti commented on #463
We can do a generic remove implementation being using dirty tricks based on reflections and possibly overriding this behavior where necessary: ugly but doable quickly.

We could use our own collections but:
1. what about single children not contained in collections?
2. it seems a rather significant change and I would like to understand first where we are on #354 because it could make more sense to

[2016-09-20 20:37] DeepSnowNeeL commented on #463
I'll make you a poc soon,
I intend to provide a remove() method and on it call
parent.tryToRemove(child)
The parent will be responsible to try to remove it from all its possible
fields / containers and both methods will return true if they succeed (in
the spirit of List.remove(x))

Le mar. 20 sept. 2016 à 22:34, Federico Tomassetti notifications@github.com
a écrit :

[2016-09-20 20:41] ftomassetti commented on #354
I love the tools produced by IntelliJ but their internal APIs scare me a lot...

ANTLR seems to me a conservative, solid choice. It has the drawback of needing a runtime. To me is not a big deal but it is true that one selling point of JavaParser is the fact it is light. I am not sure we would be allowed by licenses to produce one "megajar" with the ANTLR Runtime + JavaParser to simplify the life

[2016-09-20 20:42] ftomassetti commented on #463
Ok, but how do you want to implement it? Using a generic, reflection-based approach or implementing remove specifically for each single type of node?

[2016-09-20 20:44] DeepSnowNeeL commented on #463
I think i'll go with a specific remove for each node type, it won't be that
complicated. But you are right if we just loop over fields and inherited
fields checking their types (lists/other nodes) and checking
references/contains to do the remove it might be better, i'm ok to do both,
what you guys think about this ?

Le mar. 20 sept. 2016 à 22:42, Federico Tomassetti notifications@github.com
a éc

[2016-09-20 20:46] ftomassetti commented on #463
I am just worried about having to mantain the remove node for each type of node. But it would be more efficient and robust that having the reflection trick, so I would be ok with that if you are willing to do the work :)

[2016-09-20 20:49] DeepSnowNeeL commented on #463
Sure, assign me this i'll do it :)

Le mar. 20 sept. 2016 à 22:46, Federico Tomassetti notifications@github.com
a écrit :

[2016-09-20 21:13] matozoid commented on #354
A side comment, I have to say I've become more positive about the state of JavaParser.
- comment support is probably fixable in a not too complicated way
- continuous parsing is on the agenda again
- refactoring & formatting should be doable

But my comment at the very top remains.

[2016-09-20 21:14] matozoid commented on #463
Okay, let's see what you come up with :)

[2016-09-23 19:03] zero33542 commented on #355
Hello, I am now adding breadth first travel and I want to ask how do I add bdd tests?

[2016-09-25 11:51] matozoid commented on #355
Thank you for helping!

The bdd tests are in the javaparser-testing module, they use http://jbehave.org/ . They are quite useful for testing parsing+dumping. If you don't think it is a good match, make a junit test.

[2016-09-25 12:21] matozoid commented on #237
"int arrayCount" is no longer the way to store information about arrays. It has been replaced by two things:
1. in most cases the type will be wrapped in an ArrayType for each level of array brackets, or: int[][] is stored as ArrayType(ArrayType(PrimitiveType()))
2. in other cases we can put these brackets in two positions, as seen below. Here we have chosen to store the brackets in the AST in the

[2016-09-25 18:16] matozoid commented on #451
I'm reconsidering the use of Optional since it will impact the nodes quite a bit. Maybe go with @NonNull annotations for 3, and do Optional in 4 when everybody is used to the functional stuff?

[2016-09-25 18:35] matozoid commented on #403
This is actually already stored as a NameExpr, it just has strings in the API for ease of use. getNameExpr and setNameExpr will get it.

Is that helpful?

[2016-09-25 18:38] matozoid commented on #358
Would you say that we should move away from having simple strings for naming?

[2016-09-25 18:42] matozoid commented on #216
Closing in favour of #451

[2016-09-25 18:42] #216 closed, assigned to nobody

[2016-09-25 21:13] mlangkabel commented on #403
Thanks for getting back to me. I just re-checked the implementation and I really cannot find where those methods are implemented. The constructor of the `ClassOrInterfaceType` only requires a String and no NameExpr as argument. Maybe I missed something. I hope I don't make a fool of my here ;)

[2016-09-25 21:19] mlangkabel commented on #358
That would be great! In my opinion the strongest argument for moving away from simple strings is that we could use a more specific data type to store location info in addition to the raw name string. This info is already available during the parsing step but hard to reconstruct afterwards (which would require another lexing step).

[2016-09-26 08:59] matozoid commented on #403
No, I'm the fool. I have no idea where I was looking but today I see the same as you :-) Will fix.

[2016-09-26 09:15] matozoid commented on #424
There was a comment that maybe the files in dev-files shouldn't be in git, but in the wiki, next to the instructions for formatter settings. What do you think?

[2016-09-26 12:42] DeepSnowNeeL commented on #424
I think this is handy and does not impact the final jar so I would keep it
like this

Le lun. 26 sept. 2016 à 11:15, Danny van Bruggen notifications@github.com
a écrit :

[2016-09-26 13:51] matozoid commented on #424
In that case we could also add scripts to put those files in the correct place.

[2016-09-26 20:21] matozoid opened #476 "Make all setters return this."
Since we have our nice "mutable builder" pattern where setters return this, we should apply this to every setter in every node.

@DeepSnowNeeL - interested? :)

[2016-09-26 21:54] matozoid commented on #358
Also see #101 and its associated gitter chat

[2016-09-27 08:41] matozoid opened #478 "Make an "architectural style guide""
There are many patterns use throughout JavaParser, like how we use lists, how we do builder methods, how we see (im)mutability, etc.

[2016-09-27 11:30] matozoid commented on #451
@ftomassetti - I noticed java-symbol-solver uses Optional - would you say JavaParser should use it?

[2016-09-27 12:14] DeepSnowNeeL commented on #451
Why so much trouble about nulls, just init a 0sized arraylist everywhere
and that will be it ? Optional is such a pain in the ass to work with, you
end up doing orElse(null) followed by a nullcheck.. or isPresent and get,
any way, a list with 0 prealloc size would be really cool to use

Le mar. 27 sept. 2016 à 13:30, Danny van Bruggen notifications@github.com
a écrit :

[2016-09-27 13:20] matozoid commented on #358
Also see #403
More reading: https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html

[2016-09-27 13:30] matozoid commented on #451
For usage of optional, check the link at the top of this issue. It is much more usable than you think, but I'm afraid Java people are not ready for it.

In some cases null is a valid value for a field. Yesterday I was working on type arguments where null means "List" instead of "List<X>". Another one I saw was instantiating an object with a body. If it is null, it is not there. Currently we have t

[2016-09-27 13:41] matozoid commented on #427
Here's the approach I have in my mind:
- make one constructor that has parameters for every field (more or less like Scala.) Throw away the other constructors.
- make that constructor very tight in what it accepts: throw exceptions for arguments being null where it is not allowed. (Note: double check that setters don't allow you to sneak in nulls.)
- make static methods to create new instances. (T

[2016-09-27 15:37] matozoid commented on #358
This is how I understand it now:
- A lot of the "String name" fields are identifiers. We can make those "Identifier identifier" with Identifier being a Node holding a String.
- A simple name is an identifier.
- A qualified name combines simple names separated by a ".". In JavaParser, a QualifiedNameExpr wraps a QualifiedNameExpr or a NameExpr for every "." in the name.
- A qualified name can often

[2016-09-27 16:09] mlangkabel commented on #358
For my work on Coati I have compiled a list of classes containing a `NameExpr` that should rather be `Identifiers`:
- PackageDeclaration
- ImportDeclaration
- ClassOrInterfaceDeclaration
- EnumDeclaration
- EmptyTypeDeclaration
- AnnotationDeclaration
- ConstructorDeclaration
- MethodDeclaration

Do you think this list is complete? And what do we do about expressions that contain a `NameExpr` (e.g

[2016-09-27 16:20] matozoid commented on #358
I'll comb through the JLS :...(

[2016-09-27 16:26] matozoid commented on #358
PackageDeclaration, 7.4.1: this needs a qualified name, so it is currently correct.
ImportDeclaration, 7.5: this needs a canonical name, which can contain a qualified name, so it's correct.

Before I go on, what is your criterium for saying that these should be identifiers?

[2016-09-27 16:35] mlangkabel commented on #358
Ah, that's a good thing to ask! My criterium is the following: Only nodes that can be replaced by other `XyzExpr` classes should be stored as `NameExpr` (otherwise the name `NameExpr` can be quite misleading).

[2016-09-27 17:00] DeepSnowNeeL commented on #451
Oh yeah I was totally talking about lists, i'm ok about a body being
optional :)
I thought you wanted to include the lists in the optional refactor !

Le mar. 27 sept. 2016 à 15:30, Danny van Bruggen notifications@github.com
a écrit :

[2016-09-27 17:08] ftomassetti commented on #451
For me working with Optional is ok, if we use it in the few places where a
value is effectively Optional. There is a performance hit but nothing major
I would say.

On 27 September 2016 at 19:00, Cruz Maximilien notifications@github.com
wrote:

##

Website at http://tomassetti.me
GitHub https://github.com/ftomassetti

[2016-09-27 17:24] matozoid commented on #358
Ah, but a NameExpr without the expression part is, if I read the JLS, not an Identifier. Check the first few paragraphs of this: https://docs.oracle.com/javase/specs/jls/se8/html/jls-6.html

[2016-09-27 17:28] matozoid commented on #451
@DeepSnowNeeL nah, the list thing is yet another issue :)

[2016-09-27 17:38] mlangkabel commented on #358
So calling it `Identifier` would be misleading, too. What do you think about calling the nodes that represent a name `Name` and `QualifiedName`?

[2016-09-27 17:45] matozoid commented on #358
That's an improvement. But what do we do with the names that can be expressions? Wrap them in a (newly designed) NameExpr?

[2016-09-27 17:47] mlangkabel commented on #358
That was my thought, too. So the NameExpr would wrap a Name/QualifiedName that stores the name string and a position value.

[2016-09-27 17:56] matozoid commented on #358
So...

[code]

?

[2016-09-27 18:05] mlangkabel commented on #358
That seems to match the JLS well. Classes like `MethodDeclaration` could just keep an `Identifier` member. This would prevent anyone from using some qualified name there :)

[2016-09-27 18:31] ptitjes commented on #358
@matozoid @mlangkabel FYI, I reversed the `Name`/`QualifiedName` relationship in JLaTo:

[code]

Thus a Name can be used as an expression or as a normal node (like the name of a method):

[code]

In this way, a qualified-name can never be substituted for a name, and a qualified-name can never be substituted for an expression too... (I had hard time to figure this out in order to avoid having a `Na

[2016-09-27 18:35] DeepSnowNeeL commented on #427
Really not a big fan of static methods to construct objects.
I would prefer having everything constructed from parent methods and keep a
big ctor for the parser

I need to dig deeper on statement/expr builder methods to make something
handy

Le mar. 27 sept. 2016 à 15:41, Danny van Bruggen notifications@github.com
a écrit :

[2016-09-27 18:35] ptitjes commented on #358
@mlangkabel When you speak about Coati, is that [this](https://www.coati.io/) ?

[2016-09-27 19:33] mlangkabel commented on #358
@ptitjes yes, that is what I have been referring to :)
The implementation reversed for JLaTo is indeed quite compact, but in my opinion the one proposed by @matozoid is very straight forward and therefore easy to understand (and write visitor patterns for).
I think of JavaParser as a project made for other projects to build upon so understandability should be an important trait.

[2016-09-27 19:35] ftomassetti commented on #358
Agreed on understability vs cleverness

On Sep 27, 2016 9:33 PM, "Malte Langkabel" notifications@github.com wrote:

[2016-09-27 20:56] matozoid commented on #358
@ptitjes yeah, I'm not too happy with NameExpr, but it seems to fit the pattern of something like ExpressionStmt. With the difference that the JLS never mentions a NameExpr of course.

[2016-09-27 21:02] matozoid commented on #427
I see what you mean - build the AST from the root, not from the leaves. Let's keep the amount small then. Not sure how we would deal with nodes that can be in many other nodes then (NameExpr for example.)

We agree on the big constructor. There is also a default, no-parameters constructor in every node. Would you like to leave that there?

[2016-09-27 21:10] matozoid commented on #441
See also #467

[2016-09-27 21:15] matozoid commented on #433
@chmuche are you making any progress on this? I'm curious :-)

[2016-09-27 21:16] DeepSnowNeeL commented on #427
Yeah the no-arg constructor is really usefull to build nodes with just the
params I have

Le mar. 27 sept. 2016 à 23:02, Danny van Bruggen notifications@github.com
a écrit :

[2016-09-29 07:14] UlhasDeshmukh commented on #369
Kindly review https://github.com/javaparser/javaparser/pull/480

[2016-09-30 09:11] ftomassetti commented on #478
In general it would be nice to have a _contributing.md_ also

[2016-09-30 11:50] matozoid commented on #478
Would it make sense to quickly take a contributing.md from another project?

[2016-09-30 11:57] ftomassetti commented on #478
imho yes, that would make sense. Then we could do some simplifications

[2016-09-30 11:57] #237 closed, assigned to matozoid

[2016-09-30 12:10] #112 closed, assigned to matozoid

[2016-09-30 12:11] #465 closed, assigned to nobody

[2016-09-30 12:12] matozoid commented on #466
This is very indirectly implemented by ArrayType.unwrapArrayTypes, since that returns a list of ArrayBracketPairs that you can as for its size.

[2016-09-30 12:12] #466 closed, assigned to nobody

[2016-09-30 12:14] #456 closed, assigned to nobody

[2016-09-30 15:09] #476 closed, assigned to nobody

[2016-09-30 20:18] matozoid commented on #358
Now that I'm working on it, it seems from the grammar that `Identifier` should be `SimpleName`. So if we get rid of `Identifier` (which was causing a lot of get.get.get which @ptitjes was trying to avoid) we get...

[code]

Which also matches the text "There are two forms of names: simple names and qualified names."

I'm considering merging `Name` and `QualifiedName` into `Name`, with an `Optional

[2016-09-30 21:58] matozoid commented on #358
Okay, I'm confused by the current implementation which turns a.b.c into QN(c, QN(b, N(a))). This seems reversed to me, especially after all the ArrayType adventures.

[2016-09-30 22:13] matozoid commented on #358
Okay, I think I'm going to work on comment support first, because our "interesting" comment attribution algorithm is taking advantage of all the new nodes by stuffing comments in the middle of qualified names...

[2016-10-01 03:34] gs0510 commented on #347
Hi! I'd be able to do this. Can you please assign me to this issue. Thanks!

[2016-10-01 10:30] matozoid commented on #347
@gs0510 that would be great! You've got an invite.

[2016-10-01 11:25] matozoid commented on #478
I've looked at [an example](https://github.com/atom/atom/blob/master/CONTRIBUTING.md) and it's HUGE. It made me wonder: what _are_ our guidelines? We don't have the amount of contributions that I'm annoyed with what people do here.)

Maybe...
- mention that we're volunteers and sometimes nobody is around to respond for weeks or months.
- that a PR is a more efficient way of getting things in JP th

[2016-10-01 11:26] matozoid commented on #478
- a link that lists all the issues labeled "easy"

[2016-10-01 11:27] matozoid commented on #478
- if people could please mention in the issue that they started work on it.

[2016-10-01 11:49] gs0510 commented on #347
@matozoid  I can see the javadoc for Node types [here](http://static.javadoc.io/com.github.javaparser/javaparser-core/3.0.0-alpha.2/com/github/javaparser/ast/nodeTypes/package-summary.html). How do I get edit access to this doc. Also, I see a class JavaDocComment and NodeWithJavaDoc, am I supposed to use this class for setting the comment for the JavaDoc? Thanks!

[2016-10-01 17:58] matozoid commented on #347
@gs0510 - the task is to take all sub-classes of "Node" and document them. This is done by writing javadoc, which is Java's way of documenting source code. So we want to describe what syntax each node represents and where that is described in the [Java Language Specification](https://docs.oracle.com/javase/specs/jls/se8/html/index.html). This requires detailed knowledge of the Java programming lan

[2016-10-01 18:02] matozoid commented on #347
Hmmm, you seem to have some compiler writing experience. Have a go at it then:
https://docs.oracle.com/javase/specs/jls/se8/html/index.html
http://www.oracle.com/technetwork/articles/java/index-137868.html

[2016-10-02 11:30] matozoid opened #484 "Rewrite comment support"
Rewrite comment support to store comments in a logical way.
- make sure the new way can be explained in a few lines.
- make sure that it is clear where a comment is located in the source, so it can reliably be reproduced.

The suggested approach is to store for each node the comments that come directly before it.

Since some comments will now be lost (they appear inside what is logically the node,

[2016-10-02 11:40] ftomassetti commented on #484
I think sometimes node refer to what precedes them:

[code]

[2016-10-02 12:58] matozoid commented on #484
In my opinion this turns the algorithm from parsing into attribution - which seems more complex and subjective to me. I was thinking this logic could be in a second pass.

[2016-10-02 13:00] ftomassetti commented on #484
Agreed that would make sense to have it in a second step, but then the
comments should probably be part of this list, not assigned to elements
following them because it is attribution

On Oct 2, 2016 2:58 PM, "Danny van Bruggen" notifications@github.com
wrote:

[2016-10-02 14:22] DeepSnowNeeL commented on #484
Can't we store all comments in the Class body as a list of objects
containing : Comment,NodeBefore,NodeAfter
and providing some methods on nodes to get the comment before or after it
like field.getCommentAfter() field.getCommentBefore()

Le dim. 2 oct. 2016 à 15:00, Federico Tomassetti notifications@github.com
a écrit :

[2016-10-02 18:13] matozoid commented on #484
@ftomassetti what do you mean by "this list"?

@DeepSnowNeeL do you mean store all comments in the CompilationUnit? So instead of having the lists on the nodes themselves, store them in a single long list? We can do that, but what does it improve?

[2016-10-02 18:15] matozoid commented on #484
Note that I've got the proposed system working in a small POC by simply reading the "special tokens" that javacc reads. Because obviously, if javacc is parsing the java code, it also needs to parse the comments in and around it. So at least it improves that we don't need a secondary parsing pass anymore.

[2016-10-02 18:34] DeepSnowNeeL commented on #484
No I mean store the comments on the enclosing node, a comment for a field
would be stored on the classorinterfacetype, a comment in a method would be
stored on the method node. This way we could localize in which node they
were and before and after which node.
I didn't thought about faisability with javacc tho.

Le dim. 2 oct. 2016 à 20:15, Danny van Bruggen notifications@github.com a
écrit :

[2016-10-02 20:03] ftomassetti commented on #484
I was referring to "these will be stored in the node in a separate list." I would put all comments in such list, if possible. Or we could even have a single list for the whole file.

[2016-10-03 09:36] matozoid commented on #484
Let's talk use cases so we know what are requirements are. Looking at the issue tracker, the thing most people are complaining about is comments moving around or disappearing when dumping the AST. So one case is:
- output the input file while respecting the position of all comments.

Another probable one:
- find the javadoc associated with a field, method, or class/interface.

... and I guess peop

[2016-10-03 13:46] matozoid commented on #349
- [ ] support module-info.java files. These contain a new mini-language.

[2016-10-03 17:08] matozoid commented on #424
So the tasks are:
- inspect the files in dev-files to see if we can get the formatters for intellij and eclipse to match
- maybe create a little script that copies those files to the IDE's config directory
- review https://github.com/javaparser/javaparser/wiki/Coding-Guidelines
- format all source code

[2016-10-03 21:25] rosrossito commented on #424
I started to inspect if we can get the same fomatters.

I can say that:

1) "indent with 4 spaces" is the same,

2) "Copyright" for new files is also Ok. I added some description for Idea
on wiki. You can look on
https://github.com/rosrossito/javaparser/wiki/Coding-Guidelines

3) "wrap lines at 120 characters":

There was a problem in Idea. To avoid it is necessary to put "yes" on "Wrap
when typin

[2016-10-04 14:45] matozoid commented on #424
2) That's cool, can you apply it to https://github.com/javaparser/javaparser/wiki/Coding-Guidelines too?

4) what is the problem exactly?

The main thing we want to avoid is that we get ping-pong formatting: someone with Idea reformats something from an Eclipse user which causes unnecessary changes and merge problems, and then another Eclipse user comes by and reformats the same thing again, and a

[2016-10-04 14:57] #468 closed, assigned to matozoid

[2016-10-04 14:58] matozoid commented on #434
@chmuche have you tried to see if this is feasible?

[2016-10-04 15:01] matozoid commented on #316
This should be fixed when #421 is done, so no need to keep this issue open.

[2016-10-04 15:01] #316 closed, assigned to nobody

[2016-10-04 16:13] jojochuang opened #487 "dangling semicolon after import causes UnsupportedOperationException"
A "UnsupportedOperationException: Empty import declarations have no name" was thrown when it parsed the code that contains a dangling semicolon at the following line:

https://github.com/apache/hadoop/blob/2ca73445f5c2929d9c2ff4232dca58a63a0570a0/hadoop-hdfs-project/hadoop-hdfs/src/main/java/org/apache/hadoop/hdfs/server/blockmanagement/CacheReplicationMonitor.java#L59

Stacktrace:
Exception in th

[2016-10-04 17:04] matozoid commented on #487
If I run the following code on the current master branch, there is no error. Can you make it fail?

[code]

[2016-10-04 17:13] ptitjes commented on #487
Git blame says: https://github.com/javaparser/javaparser/commit/2751db301c03238088b5f2cec5e3c2f8aea6edc5#diff-7be095a97eb671ac3a092800247a7b35R105

[2016-10-04 17:24] matozoid commented on #487
I vaguely remember the discussion back then. It seems fine to me to throw those exceptions there.

[2016-10-04 17:33] matozoid opened #488 "Visitors visit ImportDeclaration.name even when it is empty"
ImportDeclaration.getName may throw an exception when the import declaration is empty. At least the Void and GenericVisitorAdapter don't take this into account and always visit it. This may lead to unexpected exceptions.

Some solutions I can think of:
1. fix the visitors
2. let an empty import declaration return null (or Optional.empty()) as the name
3. let an empty import declaration return "" a

[2016-10-04 17:35] matozoid commented on #487
Actually, it seems that some visitors don't take this into account, but that's another issue than is being reported here. Opened #488

[2016-10-04 17:38] jojochuang commented on #487
@matozoid that was a really quick response. Thanks!
FYI the code I wrote is here https://github.com/jojochuang/codebetter/blob/master/src/main/java/LogMissingStackTrace.java and it uses VoidVisitorAdapter.

[2016-10-04 17:45] matozoid commented on #487
Alright, so then it _is_ issue #488 - you can make a quick fix by overriding a method in your visitor:

[code]

Thanks to @ptitjes for making me think about this ;)

I'd like to give the issue itself a little thought before fixing it.

[2016-10-04 19:35] rosrossito commented on #424
1. Shure. Done.
2. The  problem is that Idea do not delete spaces after left parenthesis
   before methods’ arguments.

   I just followed instructions in guidelines. But may be it is not so
   critical and we can skip this requirement.
3. And the last: "type and method annotations go on a separate line"

I didn't understand, it means annotations @ or body of method (line after
method name).

2016

[2016-10-04 21:56] matozoid commented on #488
Actually, it feels like something is fundamentally strange here. ImportDeclaration really behaves like two classes: EmptyImportDeclaration with no state, and a normal ImportDeclaration. Keeping it as it is now means you can switch from empty to non-empty, which is nice. Giving it a pretty class hierarchy (BaseImportDeclaration, ImportDeclaration, EmptyImportDeclaration, or so) seems like a lot of

[2016-10-05 06:42] ftomassetti commented on #488
I think the EmptyImportDeclaration is something unfortunate that we probably need to have. However introducing it would require introducing the BaseImportDeclaration. I guess my thinking at the time was making the simplest thing. Right now going for the class hierarchy seems to me the best option.

[2016-10-05 06:47] ftomassetti commented on #488
BTW the idea was to call `isEmptyImportDeclaration` before using `getName`, like when using an `Optional` you call `isPresent` before calling `get`.

[2016-10-05 06:52] ftomassetti commented on #478
I would keep much shorter than the one from Atom: because we are too lazy to write such a long document and because everyone is too lazy to read it :)

[2016-10-05 11:50] matozoid commented on #488
Alright, let's do the base class suggestion then.

[2016-10-05 15:05] matozoid commented on #488
After reading through the JLS (7.5) I see no mention of allowing stray semicolons here, so it seems that parsers allow it for convenience.

I also saw this:

[code]

... so if we're going full out with the class hierarchy, why not create a class for each of these, and of course EmptyImportDeclaration?

Will do this unless someone stops me :)

[2016-10-05 15:23] moar82 opened #490 "Is there is a way to obtain method calls inside a method?"
Let's suppose I have the following method, and I want to detect all callings to method ToString().
Here inside assertEquals method called, there is one call to ToString.  Is there is a way to obtain all method calls to ToString() method?

`
public void testTagDefinitions() {
    Facade facade = Model.getFacade();//
    Object td = Model.getExtensionMechanismsFactory().buildTagDefinition("testTD",

[2016-10-05 21:40] matozoid commented on #490
Yes there is. What version of JavaParser are you using?

[2016-10-05 22:21] moar82 commented on #490
Hi,
the version is javaparser-core-3.0.1-alpha.3-SNAPSHOT

and according to git, the tag is:
javaparser-parent-3.0.0-alpha.3-4-g5894380

On 5 October 2016 at 17:40, Danny van Bruggen notifications@github.com
wrote:

[2016-10-06 08:12] matozoid commented on #490
I took out the "//" because it made the sample invalid.

[code]

[2016-10-06 12:46] #464 closed, assigned to nobody

[2016-10-06 14:02] matozoid opened #492 "Replace CommentsParser"
JavaCC is already parsing all comments, making CommentsParser redundant. CommentsParser causes two-pass parsing which creates complexity in JavaParser.java.

It would be a good preparation for #484

[2016-10-06 15:07] matozoid commented on #487
A definitive fix has been proposed in #491 and could use some feedback.

[2016-10-06 15:08] #437 closed, assigned to nobody

[2016-10-06 18:04] moar82 commented on #490
Hi Danny,
I run the code, but I noticed that it does not give me the the type of the
arguments (e.g., n.getTypeArguments()=null)
In my case I would like to know which type of parameters is called
assertEquals?

Do you have any idea.

Thank you,

Kind regards,

Rodrigo.

On 6 October 2016 at 04:12, Danny van Bruggen notifications@github.com
wrote:

[2016-10-06 21:48] matozoid commented on #490
The arguments to the methods are in getArgs(). Note that JavaParser is only a parser. It takes the source code and makes a nice tree. It does not in which package "Facade" is, or that "facade" is of type "Facade", or that toString is a method on class Object. It sees only strings. If you're looking for that information, you need an additional library like java-symbol-solver.

[2016-10-07 13:15] matozoid commented on #347
@gs0510 - how is it going?

[2016-10-07 17:41] matozoid commented on #424
Thanks!

4: so we're talking about this situation?

[code]

5: means we have

[code]

instead of

[code]

I just stumbled upon this stuff: http://editorconfig.org/ - that seems much easier to maintain than those configuration files we have now. What do you think about it?

[2016-10-07 17:46] ftomassetti commented on #424
Does it support IntelliJ IDEA?

On Oct 7, 2016 7:41 PM, "Danny van Bruggen" notifications@github.com
wrote:

[2016-10-07 17:48] #492 closed, assigned to nobody

[2016-10-07 17:49] matozoid commented on #424
The other way around: IDEA support editorconfig.

Eclipse needs a plugin.

[2016-10-08 17:45] #488 closed, assigned to nobody

[2016-10-08 18:26] #355 closed, assigned to nobody

[2016-10-08 19:25] matozoid commented on #490
If any more help is needed you can reopen this issue or start a new one.

[2016-10-08 19:25] #490 closed, assigned to nobody

[2016-10-08 19:26] matozoid commented on #487
Fix is now on master and will be in the next release.

[2016-10-08 19:28] matozoid commented on #452
This is implemented by catching Exception at a high level.

[2016-10-08 19:28] #452 closed, assigned to nobody

[2016-10-08 19:31] matozoid commented on #451
1. Optional for things that can currently be null
2. assertNotNull in the setters
3. all constructors calling the all-fields-constructor, which calls setters, so no nulls can slip past

[2016-10-08 23:13] matozoid opened #495 "Use token ID's instead of string comparisons to recognize comment type"
java_1_8.jj contains a block of code with lines like this: `if (commentText.startsWith("/**")) {`. This is to detect the type of comment in the token. The nice thing is: the token has a field that identifies the kind of token already. Use that instead.

[2016-10-09 09:36] rosrossito commented on #424
1. I talk about this situation:
   abcabcab (  int x,  <-- spaces after  left paranthesis
   int y)

Eclipse fix this:
abcabcab (int x,
int y)

2016-10-07 20:49 GMT+03:00 Danny van Bruggen notifications@github.com:

[2016-10-09 10:31] rosrossito commented on #424
1. Strange, but neither Idea nor Eclipse can not fix this problem, despite
   options are set correctly:
   a) for Eclipse Java->CodeStyle->Formatter->Edit->Annotations->Insert new
   line after annotations on methods and Insert new line after annotations on
   type (yes)
   b) for Idea File->Settings->Java->Wrapping and Braces->Method
   annotations->Wrap always

2016-10-09 12:36 GMT+03:00 Ruslan

[2016-10-09 14:58] matozoid commented on #424
4) don't worry about it, it's not like eclipse formats it this way, the idea formats it another way, and they keep correcting each other.

5) don't forget it's also about types (classes & interfaces.) How do you mean "can't fix?" They won't do the formatting right?

[2016-10-09 19:54] #463 closed, assigned to DeepSnowNeeL

[2016-10-10 13:42] matozoid commented on #274
No response, this stays as it is.

[2016-10-10 13:42] #274 closed, assigned to nobody

[2016-10-10 13:44] matozoid commented on #359
I don't really know what to do here. @ftomassetti ?

[2016-10-10 14:43] matozoid opened #496 "Node.contains"
Node.contains uses a very specific position-based algorithm. There are other ways to do this (like visiting all children) which seem more obvious to me. I don't think the generic name "contains" should be used for something this specific.

Maybe

[code]

[2016-10-10 17:58] rosrossito commented on #424
1. Yes.
   If you have
   @abc public void aaa ()
   {
   }

They do not do
@abc
public void aaa()
{
}

2016-10-09 17:58 GMT+03:00 Danny van Bruggen notifications@github.com:

[2016-10-10 21:23] matozoid commented on #424
I just formatted something like that in Intellij Idea, and it does move the annotation to a separate line when formatting.

[2016-10-11 18:00] rosrossito commented on #424
I don't know why my Idea do not do that.
May be I do something wrong...
So, nevertheless it works.

2016-10-11 0:23 GMT+03:00 Danny van Bruggen notifications@github.com:

[2016-10-11 22:47] magicwerk opened #498 "Bug in parsing multiple line comments"
If I parse Java code containing mulitple line comments, only the last line comment is parsed.
If you run the attached snippet, the parsed source contains only "line 3", but "line 1" and "line 2" are missing.
This bug seems to be present in all versions up to 3.0.0-alpha.4.

[code]

`

[2016-10-13 10:37] matozoid commented on #498
A rewrite of the comment functionality is on the agenda for one of the following releases, we'll check this one too, then.

[2016-10-13 14:44] matozoid commented on #424
Have you checked that editorconfig site? Does that work better than what we have now?

[2016-10-14 13:07] matozoid opened #499 "Make naming consistent"
- Make fieldnames the same as getter/setter names
- Use "...List" for nodes that are a list
- Only use abbreviations like "Expr" when it's not the only word in a name, so no more "getArgs()"

[2016-10-14 14:16] matozoid commented on #499
- ArrayCreationExpr calls the element type just "type" where it should be "elementType" (add a getType here that adds ArrayType around it.)

[2016-10-14 14:35] matozoid opened #500 "Get rid of RangedList"
This exists in the grammar to add range information to a List. Since we now have NodeList, which already has range information, it is no longer necessary. TypeArguments makes things difficult here by using null in a significant way.

[2016-10-15 00:11] matozoid commented on #421
Lists are now a first class citizen of the AST. It stopped using Java collections for lists of nodes. There is now a NodeList type that is primarily a Node, but also support some of Java List's methods. The advantage is that lists now have a parent, and the children of the list have the list as the parent. Before, the children had their parent set to the owner of the list.

The most important adva

[2016-10-15 14:50] matozoid opened #502 "Check that users don't put empty strings in places where they make no sense."
Like, a VariableDeclaratorId should never be "". Any empty string that causes nonsense output should be caught.

[2016-10-16 18:51] rosrossito commented on #424
Yes, I read it.
I suppose that EditorConfig does not support "annotations on separate line"
and "arguments are aligned to opening parenthesis".
At least I did not see anything about annotations in properties and
"spaces_around_brackets" is not intended to be implemented by EditorConfig (
https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties).

2016-10-13 17:44 GMT+03:00 Danny v

[2016-10-16 19:49] matozoid commented on #424
So it's not so great? Let's forget about that then.

[2016-10-16 19:57] #487 closed, assigned to nobody

[2016-10-16 19:58] #421 closed, assigned to nobody

[2016-10-16 20:04] #451 closed, assigned to matozoid

[2016-10-16 20:48] matozoid commented on #433
Taking this out of 3.0 since it doesn't need to break the API.

[2016-10-16 20:58] matozoid commented on #216
Can be tested in alpha 5 :)

[2016-10-17 18:18] ftomassetti opened #503 "Get back the isStatic and isAsterisk on ImportDeclaration"
They were removed because they make no sense for EmptyImportDeclaration however we could put them back and:
1. return `Optional<Boolean>` or
2. throw an `UnsupportedOperationException` if called on `EmptyImportDeclaration`. In this case the user should call first `isEmpty` on the import to verify if it makes sense to call `isStatic` or `isAsterisk`

[2016-10-17 18:19] ftomassetti opened #504 "Redo NodeList"
Something like `getParentNode`.

If the parent is a Node it would return the result of getParent, otherwise it would return getParent.getParentNode().

[2016-10-17 21:01] matozoid commented on #504
Hmmm... I can see the use, but we need another name since a NodeList is... a Node :)

[2016-10-17 21:04] matozoid commented on #503
Well, I did the whole ImportDeclaration refactoring because someone ran into those exceptions in the first place, so I prefer 1 :)

1 was actually a bit of a joke from my side, to show how complicated the EmptyImportDeclaration is making everything!

Here's an option 3: create "NonEmptyImportDeclaration" as a subclass to the four importdeclarations that are not EmptyImportDeclaration, and put the

[2016-10-17 21:07] DeepSnowNeeL commented on #504
getEnclosingNode ?

Le lun. 17 oct. 2016 à 23:01, Danny van Bruggen notifications@github.com
a écrit :

[2016-10-17 21:54] matozoid commented on #504
Well, "Node" is the problem word.

`getNonListParentNode` is ugly :)

[2016-10-17 22:03] matozoid commented on #504
If you think the introduction of NodeList was a mistake, that would be good feedback too 😊

[2016-10-17 22:15] DeepSnowNeeL commented on #504
Well if it interefere with getParent it will be annoying, i'll migrate soon
my code to the last alpha and let you know if it's really a pain to upgrade
and what feel annoying :)

Le mar. 18 oct. 2016 à 00:03, Danny van Bruggen notifications@github.com
a écrit :

[2016-10-18 06:41] ftomassetti commented on #504
I think that NodeList is useful but maybe it could not be a node.

Unfortunately I did not follow all the discussions (shame on me) but for me NodeList is not a Node, it is a container of nodes.

We could take EMF as an example (EMF: the meta-modelling framework used in several products including [Xtext](http://xtext.org)): a node is always contained in a containment reference (which could be a Li

[2016-10-18 09:38] matozoid commented on #504
_crunch_ _crunch_ that seems to make sense. So NodeList is no longer a parent to its children. NodeList will simply set the parent to its own parent. Uhuh, this could work. Also: I don't have to undo a few days of work, so that makes me happy ;)

[2016-10-18 09:39] matozoid commented on #504
And: it immediately solves the problem of having two lists with more or less the same content in NodeList.

[2016-10-18 10:31] ftomassetti commented on #504
Do you want me to send a PR for this or do you prefer to do it yourself?

[2016-10-18 10:54] DeepSnowNeeL commented on #504
Take a look at w3c dom elements & nodes on the standard java libs to see
how they did it, it uses a NodeList when you do getChildNodes() (btw, it
doesn't implements iterable and is awful to use :p)

Le mar. 18 oct. 2016 à 12:31, Federico Tomassetti notifications@github.com
a écrit :

[2016-10-18 11:55] matozoid commented on #504
A PR would be nice!

[2016-10-18 15:39] ftomassetti commented on #504
Also, when asking the children, I do not want to get as children the NodeLists, I want the real nodes

[2016-10-18 16:35] matozoid commented on #504
Okay, but this is not because "that's how it used to be" but for some reason?

There's a method for this that I kept for backwards compatability. Check it out.

[2016-10-18 17:27] rosrossito commented on #424
So, what is the next step?

2016-10-16 22:49 GMT+03:00 Danny van Bruggen notifications@github.com:

[2016-10-18 17:44] ftomassetti opened #506 "Line number equal to zero"
I have one test in JavaSymbolSolver failing because the line number of one expression seems to be zero.

The file I parse is an old version of a class from JavaParser (everybody loves recursion, right?)

[code]

The expression with line 0 is: `byte[] rawData = encoding != null ? s.getBytes(encoding) : s.getBytes()`

[2016-10-18 18:13] matozoid commented on #506
I'm not really surprised, the position logic in the grammar seems incomplete and inconsistent to me. Cleaning that up is a post 3.0 task, but I'm assuming this is a problem introduced by the alphas.

[2016-10-18 18:34] ftomassetti commented on #506
I am finding a lot of nodes with line zero:

[code]

Now, I can ignore all the empty NodeLists, however there are the array brackets which do not have a position and I think they are derived/virtual elements so I am not sure how to give them one.

[2016-10-18 18:35] ftomassetti commented on #506
Excluding Nodelist:

[code]

[2016-10-19 05:31] ftomassetti opened #508 "ArrayBracketPair can have unknown position"
This is a follow up of #506

Sometimes ArrayBracketPair have no position set. See the example provided in #506.

[2016-10-19 07:01] ftomassetti commented on #503
Damn EmptyImportDeclaration! :D

Well, your 3rd option would make sense. After all in 99% of cases we will just throw away the EmptyImportDeclaration.

[2016-10-19 11:34] matozoid commented on #424
Wait for a moment when nobody is working on anything.

[2016-10-19 12:08] matozoid opened #510 "Synchronization to javaparser.org"
Figure out how we (should) synchronize to javaparser.org. If we already do, it isn't working. If we don't, we should build it.

[2016-10-19 13:58] DeepSnowNeeL commented on #510
There is a few way I can think of :
- Travis (but can we hide the ftp password from the config file in any way ?)
- A personnal jenkins who watch the git repo & auto upload when it detects changes.
- A simple git hook to do the job ?
- Use github pages and redirect javaparser.org to github pages ?

Suggest other solutions so we can choose one :)

[2016-10-19 15:15] ftomassetti opened #511 "Change package names"
Given we own javaparser.org would it make sense to move the packages from com.github.javaparser to org.javaparser?

[2016-10-19 16:18] matozoid commented on #511
Umm, I'd rather not change the group ID, especially not to one that might disappear! Unless you don't want to be tied to github?

[2016-10-19 16:25] ftomassetti commented on #511
ok, then I will rename the packages under java-symbol-solver for consistency

[2016-10-19 16:25] #511 closed, assigned to nobody

[2016-10-19 18:29] ftomassetti opened #512 "List JavaSymbolSolver in the Readme as a related project"
We have other projects listed. Now that JavaSymbolSolver is part of the same organization it could make sense to list it also.

[2016-10-19 21:54] matozoid opened #513 "Double-check nulls and constructors"
There are a few left over issues, like fields set to null.

[2016-10-19 21:55] DeepSnowNeeL opened #514 "Use a static lazy-init instance of JavaParser class when using static methods"
When using `JavaParser.parse(File)` for exemple, it could be great if it uses a static instance which would avoid the re-creation of the ASTParser

[2016-10-19 22:03] DeepSnowNeeL opened #515 "Create handy setters for optionals"
instead of using `ObjectCreationExpr setAnonymousClassBody(final Optional<NodeList<BodyDeclaration<?>>> anonymousClassBody)`

I would rather use a setter which uses : Optional.ofNullable(arg) because most of the case I use set to set an actual value, and null would be handled and produce an empty optional.

This is to do for every Optional field with a setter method

[2016-10-19 22:12] matozoid commented on #512
Oh, I thought this was a PR! :)

[2016-10-19 22:41] ptitjes commented on #515
Just a note to point out that `Optional` is supposed to be used for method return value only.

From the Javadoc of Optional:
« This is a value-based class; use of identity-sensitive operations (including reference equality (==), identity hash code, or synchronization) on instances of Optional may have unpredictable results and should be avoided. »

Indeed, there was lengthy discussions about the r

[2016-10-19 22:51] ptitjes commented on #512
Ohh! JavaSymbolSolver is now part of the JavaParser organization !!??

[2016-10-19 23:59] DeepSnowNeeL commented on #515
To my understanding that means that we shouldn't have fields with Optional
but just use it in the getter to wrap the null value..
Argh can you feel the refactor coming... :P

Le jeu. 20 oct. 2016 à 00:41, ptitjes notifications@github.com a écrit :

[2016-10-20 00:07] ptitjes commented on #515
Yep, you read that well... `Optional` is supposed to be used in return statements to do some `Optional.whateverOrNull(xxx)`...

As for the refactoring, you can use [JLaTo](http://jlato.org/)! That would be a couple of `cu.forAll(...)` :)
Feedback welcome!

[2016-10-20 09:21] matozoid commented on #512
Yes, there is a lot of activity on symbol solver lately, and I'd say it is quickly going from @ftomassetti's toy project to a high quality project!

[2016-10-20 09:24] ftomassetti commented on #512
to do that I am going to need a _LOT_ of help. The people from Coati started using and it motivated me to do some improvements (basically hacking support for Java 8 type inference).
The code quality is poor in some places and I hope to improve it over time with all the help I can get

[2016-10-20 09:28] matozoid commented on #515
If we go that way, we need to answer these questions:
- what will a setter look like? No Optional?
- if so, do we want a getter to return an optional when a setter doesn't set an optional? This is not consistent.
- how will we indicate which values can be set to null if there is no optional there?

[2016-10-20 09:55] DeepSnowNeeL commented on #515
- what will a setter look like? No Optional?

To me, yes and we handle internal nulls but expose optionals on getters
- if so, do we want a getter to return an optional when a setter doesn't set an optional? This is not consistent.

Looks like it's Optional intended use
- how will we indicate which values can be set to null if there is no optional there?

We protect them with Objects.requireNonNul

[2016-10-20 13:09] matozoid commented on #515
After reading around a little...
http://stackoverflow.com/questions/26327957/should-java-8-getters-return-optional-type/26328555#26328555
It looks to me like the creators think of Optional as a funny little plaything that could help in some situations. For JavaParser that would mean unbalancing getters and setters, which I find ugly and confusing. That would make me want to abandon them and use @N

[2016-10-20 13:27] matozoid commented on #515
Additionally this: http://blog.joda.org/2014/11/optional-in-java-se-8.html which says "Please focus on using it as a return type (from methods that perform some useful piece of functionality) Please don't use it as the field of a Java-Bean."

Maybe in the future Optional will be suitable for this, but not now. I'll make an issue to roll back the Optional change.

[2016-10-20 13:27] #515 closed, assigned to nobody

[2016-10-20 13:31] matozoid opened #516 "Null part 3"
First, roll back #451.

This leaves us with extensive runtime null checks, so not everything is lost, but it would be nice to have compile time feedback. I only know about @Nullable annotations for this. There are two problems: they require a library dependency, and they aren't standardized (there are many different sets.)

If nobody has a better idea, I can see if I can make a `javax.annotation.N

[2016-10-20 13:45] matozoid commented on #515
This looks like the discussion to end all discussions, for those interested: http://blog.codefx.org/java/dev/design-optional/

[2016-10-20 21:35] #512 closed, assigned to nobody

[2016-10-21 23:05] #506 closed, assigned to nobody

[2016-10-21 23:06] #503 closed, assigned to nobody

[2016-10-22 10:24] rosrossito commented on #478
What is useful there for me as for newcomer for the first glance is that "contribution" is divided by parts and "Your First Code Contribution" even has levels. I think it significantly simplifies search appropriate task, you do not need to surf through all issues.

[2016-10-22 12:16] rosrossito commented on #499
Hi, I would like to try to fix this issue.

[2016-10-23 18:31] matozoid commented on #478
Do you mean that there should be more sections in contributing.md? Or do you want a more extensive tagging of issues?

[2016-10-23 18:33] matozoid commented on #499
Cool, the ArrayCreationExpr thing is already done.

[2016-10-23 18:35] matozoid commented on #516
@DeepSnowNeeL please discuss here. I'm not going to start working on JavaParser again before we have a few people agreeing on what we want here.

[2016-10-24 17:41] rosrossito commented on #478
Ideally both: as description these sections in contributing.md as appropriate labels of issues.

[2016-10-24 18:01] DeepSnowNeeL commented on #516
I suggest :
For example taking the class : `AnnotationMemberDeclaration` with its actual field : `Optional<Expression> defaultValue`
- Going back to `Expression defaultValue`
- On the setter, take an Expression that can be null, with the javadoc clearly saying that it can be null
- On the getter return an `Optional<Expression>` using `Optional.ofNullable(defaultValue)`

This way the API clearly su

[2016-10-25 10:53] matozoid commented on #478
We now have issues tagged as "easy" that are meant to be picked up by people who want to try making a contribution, it is the first line in contributing.md. How would you like to see this improved?

[2016-10-26 06:51] ducmle opened #518 "Update wiki documentation for 3.0"
Hi,

I've just downloaded the latest version from the site, compiled it using mavern (as instructed) and successfully run the first 2 examples on the manual page (i.e. CuPrinter andMethodPrinter).

However, the third example (MethodChanger) failed to compile because no ASTHelper is found.
I checked in the source code tree and also could not find it.

What do i get this file?

Thanks very much

[2016-10-26 07:38] ftomassetti commented on #518
The changelog for version 3.0.0-alpha.1 says:

I guess we should update the manual.

[2016-10-26 07:54] ducmle commented on #518
Hi,

After some trial-and-error, I've just managed to fix the two method-changer examples in your manual. See the attached files (the old codes are commented out).

Hope this helps other beginners!
[method-changer-examples.zip](https://github.com/javaparser/javaparser/files/552639/method-changer-examples.zip)

[2016-10-26 08:09] ducmle commented on #518
...And here is the updated ClassCreator example.
(I'm not sure if the last part that adds the method call "System.out.println" is written using the correct style, although the output looks correct - please confirm!)

[ClassCreator.java.txt](https://github.com/javaparser/javaparser/files/552660/ClassCreator.java.txt)

Output:

package java.parser.test;

public class GeneratedClass {

[code]

}

[2016-10-26 09:27] matozoid commented on #518
Thanks for the report! The documentation is for 2.5.1, which is the official release. The alpha's are just snapshots for those interested. When we're done with 3.0, we will update the documentation (but thanks for the reminder, we need an issue for that.)

The wiki samples are part of the test suite, you can find them here: https://github.com/javaparser/javaparser/tree/master/javaparser-testing/sr

[2016-10-26 09:49] matozoid commented on #516
For fields and setters I agree with @DeepSnowNeeL, but...
- I find it odd to have setters use nulls, and their getters use Optional. I'd rather pick one way of dealing with optionality, and since the internet seems to agree that you should only use Optional only as a return value, I'd prefer to not use it at all.
- JavaDoc should be well written, but is not "in your face" and often ignored.
- The

[2016-10-26 17:12] matozoid commented on #516
(reverted the optional stuff on master in preparation of the outcome of this)

[2016-10-26 17:15] matozoid commented on #504
@ftomassetti - would you like to pick this up? You seem to have a clear image of what to do.

[2016-10-26 17:19] ftomassetti commented on #504
I gave it a try but this is more complicated than I thought

[2016-10-26 17:29] matozoid commented on #504
Here's what's in my mind:
- NodeList should not be a Node (it will never end up in in a list of childrenNodes)
- NodeList should have a parent (this is a common interface with Node, maybe that NodeContainer you mentioned)
- NodeList will set the parent of all of its children to its own parent (so it is never the parent of the children it contains)

So basically, make a specialized List that sets t

[2016-10-26 18:08] matozoid commented on #484
I'm starting work on this again.
Plan:
- do what's in the opening message to enable correct comment output. This gives us Node#getPrecedingComments and Node#getTrailingComments
- pass JavaDoc to the first node that can be Javadocced. Interaction between precedingComments and this JavaDoc may be complex.
- make a class that does what CommentsInserter does, and returns a Map<Node, List<Comment>>. Al

[2016-10-27 23:05] danwyryunq opened #519 "AssignExpr target could be any expr?"
More or less, the subject is the question, but shouldn't the target property in AssignExpr be of type NameExpr instead of just Expression? As far as I know, it couldn't be anything else.

[2016-10-27 23:31] matozoid commented on #519
That's a duplicate of our oldest open issue :) #109

[2016-10-28 00:07] matozoid commented on #504
Working on this...

[2016-10-28 11:42] matozoid commented on #519
@danwyryunq if you think this answer is sufficient, can you close this issue?

[2016-10-28 12:32] kvaster opened #520 "Error parsing comment: /**/"
Add comment in any position:
/**/

You'll get parse error:
com.github.javaparser.ParseProblemException: String index out of range: -1

[2016-10-28 15:18] matozoid commented on #520
Hmm, which version is this?

[2016-10-28 16:36] kvaster commented on #520
I'm using latest master right now.

[2016-10-28 17:15] danwyryunq commented on #519
yes, sorry, and thanks

[2016-10-28 17:15] #519 closed, assigned to nobody

[2016-10-29 02:59] #518 closed, assigned to nobody

[2016-10-29 15:42] matozoid commented on #520
This will probably be solved by #495.

[2016-10-29 15:51] matozoid opened #523 "Update wiki documentation for 3.0"
The code can be found in testing project.

[2016-10-29 19:11] matozoid opened #524 "Make shortcuts for list.get(i)"
So many `getTypes().get(0)` in the tests. Why not have helper methods for every list: `getType(int i) { return getTypes().get(i); }`

(this needs the equivalent setType(i, ...) too)

[2016-10-30 10:24] rosrossito commented on #478
Sure, "easy" tag helps. But I think it would be better to have here 2 sections: code contribution and other tasks, which not require contribution new code (like "reformat source code according to formatting rules"). But it's only my opinion, may be it is not so necessary.
Also may be it would be useful to add link for contriduting.md on home page https://github.com/javaparser/javaparser/wiki.

[2016-10-30 18:09] matozoid commented on #478
Yeah, I think that could be the tags "easy" and "general request" together. Maybe there should be an explanation of the issue labels somewhere?

Contributing.md itself could be organized a little better, but it's a start. Open issues if you think of more improvements.

Would you like to do that last one?

[2016-10-30 18:24] matozoid opened #526 "Rename getChildrenNodes to getChildNodes"
That's the usual name of this method.

[2016-10-30 18:37] christiansafka commented on #526
ok

[2016-10-30 18:51] christiansafka commented on #526
#527 Done

[2016-10-30 18:53] prayashm commented on #369
We can remove one download button, and change the other one to "Install using Maven"
and point it to either of these:
- [http://javaparser.org/#dependency-management](http://javaparser.org/#dependency-management)
- [https://github.com/javaparser/javaparser/wiki/Manual#maven](https://github.com/javaparser/javaparser/wiki/Manual#maven)

Should I do that?

[2016-10-30 19:03] matozoid commented on #369
Please check the comments on #480 first.

[2016-10-30 19:20] prayashm commented on #369
@matozoid Went over them.
The buttons at the top come with the automatic page generator, and can be edited by directly changing the `index.html` in `gh-pages` or using jekyll to generate the `index.html` from a local machine.

[2016-10-30 19:41] matozoid commented on #369
Sounds like too much trouble right now - we'll look into redesigning the site some other time. Thanks everyone for helping!

[2016-10-30 19:41] #369 closed, assigned to nobody

[2016-10-30 19:44] prayashm commented on #369
If we use jekyll ourselves, we can customize the theme to have buttons as we wish.
[Using a theme for Jekyll Site](https://help.github.com/articles/adding-a-jekyll-theme-to-your-github-pages-site/)

[2016-10-30 20:01] matozoid commented on #369
If we do that, we probably want to redesign the whole thing, and that means a new discussion and a lot of effort. Now is not a good time for that - we're trying to get 3.0 released.

[2016-10-30 20:07] #526 closed, assigned to nobody

[2016-10-30 20:08] #520 closed, assigned to nobody

[2016-10-30 20:16] #495 closed, assigned to nobody

[2016-10-31 17:41] #504 closed, assigned to matozoid

[2016-10-31 17:43] matozoid commented on #434
Moving this out of 3.0.0 since @chmuche is not availble for a few months.

[2016-10-31 17:46] matozoid commented on #427
I went through all the constructors recently and forwarded them all to a "main" constructor. It's probably fine like this. Actually, I'll investigate the static methods that came from ASTHelper to see if they fit in nicely with what we have now, and after that I'll close this.

[2016-11-01 19:31] #513 closed, assigned to nobody

[2016-11-01 19:35] matozoid commented on #359
Leaving this in as it is doing no harm. Would still like to move it out of the nodes someday.

[2016-11-01 19:35] #359 closed, assigned to nobody

[2016-11-01 19:39] matozoid commented on #299
This was accidentally fixed in one of the alpha releases.

[2016-11-01 19:39] #299 closed, assigned to nobody

[2016-11-01 21:45] matozoid commented on #484
Sadly this is much, much larger than I expected. It's best to think about how to make a grammar that throws everything it sees into the AST. Moving to the future.

[2016-11-02 23:02] #427 closed, assigned to nobody

[2016-11-02 23:03] #508 closed, assigned to nobody

[2016-11-02 23:03] #344 closed, assigned to matozoid

[2016-11-04 15:37] matozoid opened #533 "Limited comment system refactoring"
My previous attempt at redoing comment support (#484) failed because it required keeping track of comment position relative to tokens. Since the AST is at a higher level than tokens, concretely: since a lot of tokens are thrown away, this needed a major rethinking of JavaParser, which I consider too big for 3.0.

Since we still have somewhat unpredictable comment support that I would really like t

[2016-11-05 08:04] ducmle opened #534 "A couple of issues about manual statement insertion into method body"
Hi,

When manually setting a method's body using this API method BlockStmt.addStatement(String) then the generated code of the method has two issues:
(1) an extra semi-colon (;) is added as the last character of the last statement in the input, which causes compilation error in some cases
(2) if the input contains multiple code statements separated by the next-line char ('\n'), then only the first

[2016-11-05 09:53] rosrossito commented on #478
You mean to add label "general request" for some issues?
I can try.

2016-10-30 20:09 GMT+02:00 Danny van Bruggen notifications@github.com:

[2016-11-05 12:46] matozoid commented on #478
No, the labels are okay, I'm saying that that combination seems to be what you want.

[2016-11-05 13:17] matozoid commented on #516
@DeepSnowNeeL looks like nobody is all that interested in this subject. If you submit a PR it will go in.

[2016-11-05 14:03] matozoid commented on #534
Thanks for the clear report!

addStatement is supposed to add only a single statement, and as you found out it does not want a semicolon. Here's a an approach that will avoid that: we parse the statements before adding them.

[code]

I'll add a new issue that makes adding all statements from a BlockStmt easier.

If this answer is sufficient, could you close this issue?

[2016-11-05 14:08] matozoid opened #535 "Make adding all statements from a BlockStmt to a NodeWithStatements easier."
Put a method on NodeWithStatements that takes all statements from a NodeWithStatements or a NodeList<Statement> and adds them to another NodeWithStatements. This can call addStatement internally.

Use case: #534

[2016-11-05 14:17] DeepSnowNeeL commented on #534
Now that I see that, I think addStatement(String) should probably use parseStatement inside instead of NameExpr

[2016-11-05 14:38] rosrossito commented on #499
Could you clarify the task?  I looked folder "body" and it seems that everything is fine there. Could you give me some example?

[2016-11-05 14:46] rosrossito commented on #478
Yeah, that is what I said.

2016-11-05 14:46 GMT+02:00 Danny van Bruggen notifications@github.com:

[2016-11-05 14:49] matozoid commented on #499
How about ClassOrInterfaceDeclaration.extendsList and ConstructorDeclaration.throws_? EnumConstantDeclaration.args or arguments? InitializerDeclaration.isStatic and ClassOrInterfaceDeclaration.interface_? MethodDeclaration.typeParameters or typeParams?

[2016-11-05 18:20] rosrossito commented on #499
I see.
Thank you.

2016-11-05 16:49 GMT+02:00 Danny van Bruggen notifications@github.com:

[2016-11-06 01:34] DeepSnowNeeL commented on #535
Will do it in my PR

[2016-11-06 03:29] ducmle commented on #534
Yes it worked. Thank you very much.

And i agree that if you could add this as a method in BlockStmt class then it would be great.
If you do then in my opinion you should still keep the method addStatement(String) as it is and instead introduce a new method like addStatement(BlockStmt).

Thanks.

[2016-11-06 03:29] #534 closed, assigned to nobody

[2016-11-07 07:22] ducmle opened #537 "Request for features"
Hi,

In the process of using JavaParser for a couple of recent projects, i've encountered a number of recurring code patterns that i thought would be nice to have incorporated into the existing API.

I briefly describe these patterns below. A code example is given for one of the patterns.

1/ Node.toStrucString(): String
to print out the tree structure of the AST's subtree rooted at a given node
-

[2016-11-07 09:23] matozoid commented on #537
Thank you for the suggestions!

[2016-11-07 09:24] ftomassetti commented on #537
It could make sense to split this in 3 issues

[2016-11-07 09:24] ftomassetti commented on #537
Thank you @ducmle it is always nice to get feedback!

[2016-11-07 10:36] matozoid opened #538 "Feature to print out AST tree structure"
(taken from #537)

`Node.toStrucString(): String`
to print out the tree structure of the AST's subtree rooted at a given node
- this method is useful to learn the tree structure of a node to see what it has and determine how to best process it

[2016-11-07 10:37] matozoid opened #539 "Feature to return the top level children of a type"
(Taken from #537)

`Node.getTopLevelChildrenNodes(Class<N> type): List<N extends Node>`

(a variant of getChildrenNodes) to return the immediate (top-level) children nodes of a given node that are of a particular type
- this method is useful to carry out a recursive processing of a node in stages (first perform on the top-level children, then on those of these children, and so on)
- idea: one can

[2016-11-07 10:40] matozoid opened #540 "Feature to return nodes that represent identifiers..."
(Taken from #537)

`MethodDeclaration.getIdentifierNodesInBody(IdentifierType type): List<Node>`
to return the Nodes that represent identifiers in the body statements of a method that are of a certain type; where identifier type (enum) = {Variable, MethodCall, [...]}.
e.g.
given method declaration md =
  void test() {
    int x=0;
    int y = ++x;
    Toolkit.test2(x,y);
     System.out.println("d

[2016-11-07 10:41] matozoid commented on #537
I split this up into separate issues. Please check.

[2016-11-07 10:55] DeepSnowNeeL commented on #540
To me this is easy to do with a visitor and don't really need its own
feature

Le lun. 7 nov. 2016 à 11:40, Danny van Bruggen notifications@github.com a
écrit :

[2016-11-07 11:11] DeepSnowNeeL commented on #538
Can be done with a visitor, but this would mean another visitor to maintain,

here is an example :

Usage :

[code]

Visitor :

[code]

Exemple output for :

[code]

[code]

[2016-11-07 11:48] matozoid commented on #538
I made myself a little project that introspects a tree of objects, that could be used, or do like @ptitjes and simply dump things with yaml, or indeed with a visitor, but we should generate that thing, not hand write it (#353)

Personally I make a quick main() method with a parse() call and check the output structure in the debugger :)

[2016-11-07 12:57] ducmle commented on #538
Hi,

I have not yet read your code thoroughly. May be it already does this better.
But here is some code that i wrote for myself in a Toolkit class. The basic idea is to use a recursive function.

[code]

[2016-11-07 13:05] ducmle commented on #538
And here is an example:

Source code:

[code]

Output:

[code]

[2016-11-07 13:07] ducmle commented on #538
May be we could also add the node type to go with each node value in the print out (similar to the output that you gave in an earlier comment).

[2016-11-07 13:10] ducmle commented on #537
Thank you for a prompt response. I have just checked and contributed a comment to #538.

[2016-11-07 16:04] matozoid opened #541 "PrettyPrinter: support different indent characters"
I'm going through the options in https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties to make a minimal set of features that a pretty printer needs.

I actually think this one is already implemented. We can specify the indentation string, which can be a tab or a certain amount of spaces. Maybe specifying the tab size in spaces is necessary for other formatting options, like "h

[2016-11-07 16:05] matozoid opened #542 "PrettyPrinter: select EOL character"
LF, CR/LF or CR.

[2016-11-07 16:06] matozoid opened #543 "PrettyPrinter: specify an optional max line length"
The printer should wrap everything before reaching this length, if possible. The wrapped line will be continued at an indentation that is also configurable.

[2016-11-07 16:08] matozoid opened #544 "PrettyPrinter: specify if an opening brace { should go on a new line"
And maybe make a distinction between braces for methods and other blocks.

[2016-11-07 16:08] matozoid opened #545 "PrettyPrinter: optional spaces around operators"
1 + 1
vs
1+1

[2016-11-07 16:11] matozoid opened #546 "PrettyPrinter: specify the indentation style for switch/case"
[code]
or
[code]

[2016-11-07 16:13] matozoid commented on #510
I was informed that there is a button in our github settings that we can hit to update javaparser.org.

[2016-11-07 16:16] matozoid commented on #498
@magicwerk can you tell me what your use case is? I'm planning to support only a single comment per node, so if there is a good reason to support multiple comments in a row, I should stop this plan :)

[2016-11-07 17:03] matozoid commented on #353
After some request for specific visitors, it seems like a good idea to make this a public tool.

A user might specify:
- the visitor's class name
- the visitor's argument that is passed into every method
- if it's a void visitor
- if it's not a void visitor, what the return type is
- what happens to the visitor before generating the methods (adding custom methods)
- what happens to the visitor aft

[2016-11-07 23:19] ducmle commented on #540
i was thinking may be it would improve productivity if this was defined as a single method, instead of having to write the same visitor each time.

May be if it is not suitable to go into MethodDeclaration, you could put it in some TookKit class?

[2016-11-07 23:20] ducmle commented on #540
sorry i meant Toolkit class.

[2016-11-07 23:50] magicwerk commented on #498
I use Javaparser for parsing existing source code and then create modified versions according to templates. Clearly it is a requirement that the creates sources change only if needed and no other content gets lost (even if just comments).

Irrespective of my use case I think it should be a requirement that roundtripping should be possible, i.e. you can parse and dump source without loss of informa

[2016-11-08 10:02] matozoid commented on #540
I was thinking it might be interesting to have a contrib module separate from the core module...

[2016-11-08 19:29] matozoid opened #547 "Use Optional<Range> instead of Range.UNKNOWN"
The notion that a node has no location information is currently hidden by using "Range.UNKNOWN" which is a range from 0,0 to 0,0. It would be much more in-your-face if it was null (or Optional.empty())

[2016-11-08 20:42] matozoid commented on #498
Yes, it is something that would be really great, but is currently not working perfectly. We're not storing whitespace at all, and comments don't always work well. Fixing that would be a major change. For version 3.0 I'm looking for a dependable way of handling comments, but it seems there is no way that will please everyone, so now I'm thinking about not changing comment handling at all, but just

[2016-11-08 20:45] matozoid opened #548 "Move import parsing back to grammar"
`ImportDeclaration.create` is currently interpreting some data that comes from the parser and turning it into the correct nodes. That is a task for the grammar itself.

This will impact `CompilationUnit.addImport` too.

[2016-11-08 23:00] ThLeu commented on #498
Since this is my first comment here, I want to, first of all, thank you very much for working on the JavaParser. We came across it in our company and we currently use it for some automated refactoring and analysis and want to use it even more.

In our current state that we are using it, the biggest weak points for us are really the "lexical preservation" that is just not possible and that comments

[2016-11-09 19:54] matozoid commented on #533
#533 convinced me this is a bad idea.

[2016-11-09 19:54] #533 closed, assigned to nobody

[2016-11-09 23:56] qnnguyen commented on #524
Is this something I can work on?

Was thinking I'd add a shortcut to all the interfaces with a NodeList-returning getter.

[2016-11-10 08:38] DeepSnowNeeL commented on #524
Please implement the list interface, I hated so much working with w3c.nodelist because it isn't standard (https://docs.oracle.com/javase/7/docs/api/org/w3c/dom/NodeList.html)
I would rather use getTypes().get(0) cause I know how it works so don't forget to say it in the javadoc that this is only a helper to getTypes().get(0) and that it can throws IOOB exceptions

[2016-11-10 09:06] matozoid opened #550 "Make NodeList implement java.util.List"
NodeList is our collection for nodes. Its main task is making sure every node in the collection has a parent. Currently it is a stand alone object, but we would like it to behave just like a native collection, so we want it to implement java.util.List.

When doing this task, every method can be delegated to the internal list, EXCEPT for the ones that add a node to the collection. This should take

[2016-11-10 09:07] matozoid commented on #524
@DeepSnowNeeL agreed, but that's another issue. I'll create it: #550
@qnnguyen that's great, but you'll probably miss a few lists that are not in interfaces, so be careful.

[2016-11-10 09:33] #358 closed, assigned to nobody

[2016-11-10 09:44] matozoid commented on #358
I ended up with almost the same thing as @ptitjes, and was doubting to go all the way but didn't :)

[code]

In words:
- SimpleName is just an identifier. It represents a name without dots.
- Name is an identifier with an optional qualifier, which is a Name again. It represents a name with dots.
- NameExpr is an adapter with which you can put a SimpleName in an expression.

There is still time to

[2016-11-10 20:28] matozoid opened #551 "Rename UserData back to Data"
Since we have plans to use this field from within the project, it's no longer "user only."

[2016-11-10 20:51] matozoid commented on #349
I'll split this into separate issues with their own tag.

[2016-11-10 20:54] matozoid opened #552 "Add a Problem when _ is used as an identifier"
_ is reserved in Java 9.

[2016-11-10 20:55] matozoid opened #553 "Make javaparser-core a Jigsaw module"
Add a module-info.java file to javaparser-core.

[2016-11-10 20:56] matozoid opened #554 "Support module-info.java files."
These files contain a new mini-language.

[2016-11-10 20:56] #349 closed, assigned to nobody

[2016-11-10 21:00] DeepSnowNeeL commented on #516
We can close this now with #536 merged

[2016-11-11 06:57] ftomassetti opened #559 "Observing nodes"
If we want to promote JavaParser as a tool to change code I think it would be useful to have the possibility to react to changes. To do that we could use the observer pattern. In this way I could register to get notifications for all changes and possibly react by doing something (update some caches, try to compile the new code, dump code on the disk, verify some property is respected, etc.)

Thoug

[2016-11-11 08:44] ftomassetti commented on #124
Maybe we can look into this article for ideas:

http://swerl.tudelft.nl/twiki/pub/Main/TechnicalReports/TUD-SERG-2011-027.pdf

[2016-11-11 10:41] matozoid commented on #559
I've been thinking how to generate Problems from the grammar, from the code while parsing, and on demand after a user made changes. Would this help with that?

[2016-11-11 10:45] ftomassetti commented on #559
I am not familiar with the Problems thing but the "after a user made changes" sounds something we could use: we could add observers to nodes and on any change we could mark nodes as "dirty" and then regenerate problems when needed (for example the first time someone ask them)

[2016-11-11 11:28] matozoid commented on #559
--> https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/Problem.java
A problem is essentially a single piece of feedback to the user of JavaParser. From "could not open file" to "annotations are not supported at this source level" to "opening bracket at position 10,10 was not closed"

A TryStmt can be invalid, you can set every optional part to

[2016-11-11 11:29] matozoid commented on #559
Callbacks are all the hype nowadays. Is there some library we should look at for inspiration?

[2016-11-11 12:16] DeepSnowNeeL commented on #559
Just make sure it's functional interfaces so it can be converted to lambdas
:)

Le ven. 11 nov. 2016 à 12:29, Danny van Bruggen notifications@github.com
a écrit :

[2016-11-11 14:38] matozoid commented on #559
I played with it a little, and here is my feedback:

[code]

[2016-11-11 14:55] ftomassetti commented on #559
About propagating to the parent I have 3 issues with that:
- the first one is that observer do not consume the events, otherwise I could not have more than one observer per node, so it is not clear when I should propagate to the parent
- (weak) the second issue is performances: I am afraid that propagating for many levels could be an issue
- setters are called in the constructor: this does not cau

[2016-11-11 15:05] matozoid commented on #559
I see a problem with not doing event propagation and registering for all nodes as a solution: when you start adding new nodes, you will have to register your stuff there too. That's easy to forget. How would you deal with this? Maybe have a list of "global" (ThreadLocal?) observers somewhere that always get called? That would also trigger the setters-in-the-constructor thing, although I don't see

[2016-11-11 15:15] matozoid commented on #424
I suggest doing this right after RC1 releases. Can you join https://gitter.im/javaparser/javaparser ?

[2016-11-11 15:20] DeepSnowNeeL commented on #559
I tend to prefer custom observer interfaces to the java poorly designed
default.
I can't get the real use case where you would use such observers tho.

Le ven. 11 nov. 2016 à 16:05, Danny van Bruggen notifications@github.com
a écrit :

[2016-11-11 15:24] ftomassetti commented on #559
I would define one observer that initially I put on all nodes, than this observer would attach itself to other nodes when it is notified of new nodes being added to the tree.

Yes, we could have some global list of observers. Maybe we could put those observers on the root of the AST and enable some flag somewhere to consider these global observers.

[2016-11-11 15:36] matozoid commented on #547
Looks like we missed Node.comment too,

[2016-11-11 15:38] matozoid commented on #559
That first point makes a lot of sense and solves the problem. It's up to you if you want to add global observers or not :)

[2016-11-11 19:03] ftomassetti commented on #559
The only issue I have now is that I can find all the nodes in a trees but I cannot get all NodeLists, so I cannot add an observer to them :( Maybe I should use a visitor

[2016-11-11 20:11] ftomassetti commented on #559
Ok, I added a method that give the list of NodeLists owned by a method and completed the PR

[2016-11-11 20:24] matozoid commented on #559
I was gone for a few hours - I kind of reversed my opinion, in that I don't think this solution is very obvious. I still think we should have event bubbling, but maybe another time, with a configuration option like "no events / local events / bubbly events"

[2016-11-11 21:24] ftomassetti commented on #559
Consider one of the test:

[code]

I think this is reasonably easy to use **IF** the user is aware of the existence of these classes and methods

[2016-11-11 21:31] matozoid commented on #124
Very interesting document, let's get going on that for version 4.0 :)

[2016-11-11 21:36] matozoid commented on #559
Alright, I'm convinced and I think I'll stay convinced this time :)

[2016-11-11 22:21] ftomassetti commented on #559
Well, we can always improve this one later, also considering feedback from users and the kind of unexpected stuff they try to do with this feature :)

[2016-11-12 08:58] ftomassetti commented on #333
Given we moved to Java 8 this can be closed

[2016-11-12 08:58] #333 closed, assigned to nobody

[2016-11-12 09:09] DeepSnowNeeL commented on #559
Why not using an enum to define the behavior ? (Instead of PropagatingAstObserver type) It might expose better which
options are available :)

Le ven. 11 nov. 2016 à 23:21, Federico Tomassetti notifications@github.com
a écrit :

[2016-11-12 12:03] rosrossito commented on #499
Is this necessary to make these changes in folder javaparser-testing also?

2016-11-05 20:20 GMT+02:00 Ruslan Omelchenko <
ruslan.omelchenko.irtcits@gmail.com>:

[2016-11-12 12:46] matozoid commented on #499
That would be consistent. Do you have something we can look at already?

[2016-11-12 13:21] rosrossito commented on #499
I changed all code except that folder.

2016-11-12 14:46 GMT+02:00 Danny van Bruggen notifications@github.com:

[2016-11-12 16:08] matozoid commented on #499
Yes, that is not the question. This task is one of the last things to finish before the big 3.0 release and I have exactly in my mind how to do it and would like to get it done and I'm really eager to do it. Please show what you have been doing in the last three weeks or I'll take over and do it in a few hours.

[2016-11-13 03:25] sdrgroup opened #561 "I do not know how to visit import declarations"
I think parsing the package that imported in a class is very important. But when I extend my own class from VoidVisitorAdapter, I find that there is a error that if I use @Override. I think  javaparser can not support parsing import. Is it possible that add the function that can get the list of import?

[2016-11-13 12:28] ftomassetti commented on #559
Now node has an additional register method which take an observer and a mode, where mode is one of these:

[code]

In NodeTest I added three tests to show how the same changes are notified differently using the different values. This method is intended to make life easier for the user and it is a facade on the existing facilities. In practice:
- with `JUST_THIS_NODE` we call _node.register(observe

[2016-11-13 14:46] rosrossito commented on #499
Sorry I am not so fast.
I pulled two request.
I still have problems with building project because of "maven-resources-plugin.version" in pom.xml of javaparser-testing.

[2016-11-13 15:02] ftomassetti commented on #499
Hi @rosrossito , I do not think you created any pull request. You created your own fork and committed your changes in your fork.

You should have done those changes in a new branch (you did them on master instead) and after that you should have created a Pull Request. To do that you should visit [https://github.com/javaparser/javaparser/pulls](https://github.com/javaparser/javaparser/pulls) and us

[2016-11-13 15:49] matozoid commented on #561
Thanks for the report! Can you...
- show a few lines of code about what you are trying to do?
- tell us the version of JavaParser that you are using?