[2013-09-16 10:57] matozoid opened #22 "Change the AST nodes or create new ones to modify source code like refactoring."
This was Júlio's plan with the project.

[2013-10-31 16:32] matozoid opened #27 "Add Java 8 support"

[2014-01-20 03:38] talios commented on #27
+1 on this - I just started updating my codebase to using JDK8 and I have a maven-enforcer-plugin extension that's using the javaparser ( +1 works AWESOME ) and would love to see JDK8 support soon.

[2014-02-03 18:20] matozoid opened #33 "Make CuPrinter implement java.io.Closeable"
This allows Java 7 to auto close the resource. This would mean moving to java 7.

(imported from google code comments)

[2014-02-04 08:29] SmiddyPence commented on #33
Probably looking at putting that in a major release version.

i.e. v 2.0.0
With minimum Java 7 and support for Java 8 syntax.

P.S. Good work on the tidy up, was this the only relevant issue from google code? Pretty nice if that's all you're left with.

[2014-02-04 11:01] matozoid commented on #33
A new milestone was added :)

As far as I can see, there were about three issues that were solved (double check if you like,) the rest were complaints about lacking documentation and many samples that, in my opinion, didn't add much.

[2014-03-30 12:09] shoito commented on #27
+1

[2014-04-22 21:04] ghost commented on #27
+1

[2014-04-23 07:55] matozoid commented on #27
Nobody is working on this, so pick it up if you like.

[2014-05-03 19:15] rpau commented on #27
Hi,

I have recently added Java 8 support to walkmod (check https://github.com/rpau/javalang). This open source project started from the Javaparser 1.6 grammar, so you feel free to add my grammar changes to Javaparser.

I have tested my Java 8 parser with expressions extracted from the JSR 335. So, it would be nice to test the parser with your Java 8 code before adding my changes to this project a

[2014-05-05 03:37] talios commented on #27
+1 will give it a shot on my JDK8 code and report back what I find...

[2014-05-07 18:02] rpau commented on #27
Hi,
Today I have read Java 8 allows to annotate create expressions, cast, implements and exceptions.
Check (http://docs.oracle.com/javase/tutorial/java/annotations/basics.html). I need to add the syntax into my Java8 grammar. I will notify you when the annotations are added (probably this weekend).

[2014-05-07 21:19] ptitjes commented on #27
@rpau In fact, this is any TypeReference that have to hold the annotations. (And not the expressions that contain TypeReferences.)

I'm quite sure the Checker Framework team (washington university) have already done that work on their fork of JavaParser for their initial experiments (almost one year and a half ago). Maybe you could get some stuff from them.

[2014-05-13 22:20] rpau commented on #27
Thanks @ptitjes for your help. Java 8 Annotations for any TypeReference added in my repo ( https://github.com/rpau/javalang). So, any comment is always welcome :)

[2014-05-14 07:14] ptitjes commented on #27
Well done! Hope this will go nicely into JavaParser!

[2014-07-02 01:22] soulcarta opened #41 "CommentsParser encoding problem"
I was trying to parse java sources that was written by other encoding(Not UTF-8)
but unexpected error occured.

Because CommentsParser.parse() using fixed encoding value(UTF-8) like below.
and JavaParser is using this method.

<pre>
public CommentsCollection parse(final String source) throws IOException, UnsupportedEncodingException {
        InputStream in = new ByteArrayInputStream(source.getByt

[2014-07-08 15:03] SmiddyPence commented on #41
This shouldn't be too hard correct providing the encoding can be the same as the optional parameter in the JavaParser.parse method.

Can you provide and example class, so I can verify?

[2014-07-19 13:49] ftomassetti commented on #27
Any news? We are looking forward to have Java 8 support :D

[2014-07-19 16:32] ftomassetti commented on #41
I changed the CommentsParser in this way:

[code]

Hopefully it should fix this issue (as part of the merge request #50 ). It would be nice to have someone trying.

[2014-07-20 10:50] ftomassetti opened #54 "Lazy initialized lists should be used everywhere"
We did that for comments in issue #3 but it applies everywhere.

I could do that in this way, if you agree:

[code]

Thoughts?

[2014-07-21 20:18] ftomassetti commented on #22
Well, I think we could do that by dumping back the source code. It is already possible but original formatting is lost (we do not store whitespaces) while comments are not lost but they are re-arranged. I think we spenti energy on comments attribution also for this reason, to support refactoring.

Maybe we should think about additional methods that could help with refactoring and provide some exam

[2014-07-22 22:06] ftomassetti opened #57 "Provide a common interface for all classes with modifiers"
Different classes (TypeDeclaration, MethodDeclaration, FieldDeclaration, others?) have a method getModifers, we could declare a common interface, so that certain operation could be performed on all of this classes.

[2014-07-23 17:50] ftomassetti opened #58 "Provide a common interface for all classes with names"
Similarly to #57 I think it could be useful to have a common interface for all things that have the method getName (there are a few).

[2014-07-29 14:47] cciollaro commented on #22
Hi, I think preserving whitespace would be a great feature to have. Júlio stated back on the google page that the DumpVisitor needs to be updated to respect token positions. As I can see, ASTNodes already store row and column information.

[2014-07-29 17:21] ftomassetti commented on #22
Yes but if you do refactoring how that affects the whitespaces? I think it becomes quite tricky...

[2014-07-29 17:22] ftomassetti opened #61 "Document the build process"
We should write a few lines on how to build the project and how to include it as a dependency.

We should either doing that in the README.md or add a reference there.

[2014-07-29 17:29] cciollaro commented on #22
That's a good point. If you change a node's length then you'll likely have to adjust the position of every node after it by that amount. e.g. if you add a line to a method, you need to update the position of every node after that node by adding 1 to the line positions.

I think another possibility is to give whitespace its own token.

Do either of those sound feasible?

[2014-07-29 18:38] ftomassetti commented on #22
yes but if you add one line it should have the indentation of the line above or below (what if they are different?).

Now, suppose you refactor this code:

'''
int c = foo(bla bla bla,
                                     a+b);
'''

You extract the second parameter of foo with something else, while moving the second parameter outside, like that:

'''
int c = foo(bla bla bla, 10);
int d = a+b;
'''

[2014-07-29 18:39] ftomassetti commented on #22
To be clear: I think it would be VERY nice to have refactoring preserving indentation, I just think that in practice it is not as easy as it seems.

We can give it a try however.

[2014-07-30 21:18] ftomassetti opened #64 "In getDeclarationAsString parameter names should be optional"
We should give the possibility to include or exclude them (as with do for modifiers and throws declarations).

So the user could choose if get something like:

[code]

or

[code]

[2014-08-11 19:15] ftomassetti opened #66 "Calculating code coverage"
Given we are getting better tests, it could be nice to calculate also code coverage.
I am not familiar with anything for Java.
Do you know something we could use?

[2014-08-11 19:17] matozoid commented on #66
EMMA and Cobertura are common options - which does not mean they are the best, of course.

[2014-08-11 20:33] ftomassetti commented on #66
Ok, I will take a look at both and start playing with the easiest one :)

[2014-08-11 20:39] ftomassetti commented on #66
Note to myself: take a look at https://github.com/trautonen/coveralls-maven-plugin

[2014-09-24 12:42] SmiddyPence opened #71 "Maven Modules"
I propose splitting the project into three modules:

**core** - Main module with all the libraries code
**grammar** - Contains grammar and generated sources
**acceptance-tests** - All the JBehave bases testing

Rational - Not plainly obvious what code is generated and that you have to run javacc:javacc initially from the command line.  The IDE can get pissy while referencing src files from the tar

[2014-09-24 13:01] SmiddyPence commented on #22
I think it will have to be template based.  So if you commit to having a class refactored, you are committing to the white-space conforming a determined standard - (and probably applied to the rest of the class as well not just the refactored section).

[2014-09-24 14:31] SmiddyPence commented on #71
Ok so should have realised, that there would be a cyclic dependency between core and grammar.  So grammar is generating the src files directly to core atm.

Thoughts?

https://github.com/SmiddyPence/javaparser/tree/Milestone2

[2014-09-24 17:47] arouel commented on #71
It should basically work in same way as an ANTLR grammar generates sources before the compilation starts. So it should require only the right phase in the lifecycle to ensure everything works well.

The separation into **grammar** and **core** sounds not like a good idea to me. The grammar could be hidden for users and therefore I do not see any value in a separate module for it. It should be comp

[2014-09-24 18:38] SmiddyPence commented on #71
The problem is not really a lifecycle issue.  It is that the generated code references non generated code and vice versa.  So ultimately you have to end up with the compilation happening in one module, where all the src resides.  Rather than having one module depend on the other.

I'm not clear on your second concern, you seem to imply hiding is bad; but then claim it should be encapsulated?

From

[2014-09-26 19:42] arouel commented on #71
If they depend on each other it does not make sense to separate it into two JARs. In case we want to provide also OSGi meta data you get trouble because of that circular reference. I do not see any maintenance improvements by separating it. That an end user understand how it works together is questionable and can easily be solved with documentation on class-level. And that it brings easier working

[2014-09-29 07:49] SmiddyPence commented on #71
To a certain extent I agree while there are circular dependencies, it doesn't make sense to have only a grammar file in a module. However it does not always have to be this way, hopefully we can refactor this, as it is somewhat of a smells.  That is exactly my point to have a *-sources.jar", but it would be built from a separate module using vanilla maven rather than the assembly plugin or some su

[2014-09-29 08:53] matozoid commented on #71
I was worried, so I tried A, but the maven build seems to work perfectly. The build server hasn't failed either, so that's probably a local issue.

For B I tried Intellij IDEA. Import the project by opening the pom, open the Maven Projects tab, find and run the javacc:javacc goal, and everything is fine. I guess you might want javacc:javacc to run automatically, but that probably requires a plugin

[2014-09-29 09:13] SmiddyPence commented on #71
My mistake then I though A).  Guess I should have read #60 more carefully.

[2014-09-29 09:23] matozoid commented on #61
Building from scratch works fine for me without the javacc step, even with an empty local repo. Not sure what's wrong here?

[2014-10-01 10:43] SmiddyPence commented on #71
Ok so I have reverted more to the status quo as people seem to be happier with that.  Although I have kept the separate testing module.
**javaparser** - Parent
**japa** - All Library Code
**japa-test** - Acceptance Test Code

Just on the names @matozoid have you considered a domain other than the verbose and fairly ugly.  com.google.code.javaparser?  We could perhaps tweak the artifact & groups to

[2014-10-01 11:29] arouel commented on #71
I suggest the artifact names:
**javaparser-parent** - Parent
**javaparser** (or **javaparser-core**) - All Library Code
**javaparser-testing** - Acceptance Test Code

In case we want to change the artifact and group name we should keep in mind that each one who is doing releases at Maven Central (as I did in the past) needs to request permission for the new coordinates at https://issues.sonatype.o

[2014-10-01 11:57] matozoid commented on #71
There was some discussion when we were doing the first release after moving the code from google code. I think the logic was: I don't want my nick (matozoid) on it, and I don't want people to spend time figuring out which group ID is the newest, so let's keep it at what it is.

About splitting into modules: can't really judge, since I haven't done much developing on it. Feels like overkill though.

[2014-10-01 12:07] SmiddyPence commented on #71
Well that is one benefit of creating the org.  You can then transfer the ownership there and your name isn't directly associated to it.

People knowing the correct co-ordinates is problem - true, but there are two sides to that coin.  Some people might be looking for newer versions or documentation on a now dead project on google code.

[2014-10-05 02:20] prior commented on #22
I'm trying to use javaparser to auto generate pull requests, so I'm trying to keep my diff's as tight as possible and not obliterate different peoples' projects' java styles -- unfortunately, as is-- I can't use.

To this discussion - shouldn't it be possible to just worry about the formatting of the things you're adjusting while leaving everything else alone?  And for those things you're adjustin

[2014-10-26 17:58] deepsidhu1313 commented on #66
Julio Gessar also suggested me to use Cobertura with my project. However the version i checked was not properly built or had outdated scripts. So i reverted back to stable working version. But i didn't get much time to implement it in my project.

[2014-11-03 13:25] martoeng commented on #27
I've seen many Java 8 constructs in the code. Any information on when there will be a release that supports the Java 8 changes?

[2014-11-03 20:52] ftomassetti commented on #27
I suggest we start a separate branch, in that branch I would insert as many examples as possible of code written in Java 8. Do you think it is a good plan?
Does someone knows where to find good examples of code written in Java 8? Perhaps a common set of files used for testing some compiler or tool...

[2014-11-09 10:25] ftomassetti commented on #27
I wanted to take the source code from OpenJDK8 to test our Java8 compiler but it was released under GPL2. Maybe I should find something else

[2014-11-11 13:24] sebastiankirsch commented on #27
I don't know javacc at all, but for what it's worth: I found a (presumably fully working) grammar file over at PMD: http://sourceforge.net/p/pmd/code/ci/master/tree/pmd-java/etc/grammar/Java.jjt

[2014-11-11 13:29] ftomassetti commented on #27
Interesting, it could help. Our grammar is a bit different and it could require some effort to insert the lambda expressions into it. The problem is that they are rather ambiguos from a parser point of view. It si definitely going to be not trivial to implement... for now I started creating a class for this new AST node and adapt a bunch of visitors to consider it. Now we have to do the difficult

[2014-11-11 13:32] rpau commented on #27
As I have commented before, in the javalang project we have an updated version of the javacc grammar of javaparser in the project. It can help. We can also have tests that include examples of the Java 8 specification (lambda amb type expressions) to validate the parsing.

[2014-11-11 13:34] ftomassetti commented on #27
I started writing one test using JBehave (in my fork, branch java8). Probably it is easier to steal it from walkmod (given it is basically a fork of JavaParser)

[2014-11-11 13:50] SmiddyPence commented on #27
There is a fair bit of divergence from memory.

I had already had a go at it here: https://github.com/SmiddyPence/javaparser/tree/Milestone2

Feel free to lift the grammar and try the examples.

[2014-11-11 13:56] ftomassetti commented on #27
oh, sorry Smiddy, I missed that. Anyway I did not go far at all so not very much duplicate effort :D
Have you already updated the grammar? Can you update on the status? Anything I could help with or is it everything already brilliantly solved :D ?

[2014-11-11 13:57] ftomassetti commented on #27
P.S. one thing I started to do was updating references to "Java 1.5 parser" into "Java 1.8 parser", promoting the brand first of all!

[2014-11-11 14:29] SmiddyPence commented on #27
Brilliantly solved or maybe just discretely broken.  I have just had a look at the differences again to refresh my memory. The javalang version handles comments differently and doesn't have the `NameExpr` concept so I had to try and retain those from the original and merge in lambda and type expression changes.

I still need to put together some more tests, to it will take a while to put a pull re

[2014-11-12 10:05] sebastiankirsch opened #73 "Cleaning up"
When running [deadode4j version 2.0.0](https://github.com/ImmobilienScout24/deadcode4j), I stumbled over these classes that probably should be removed:
- `japa.parser.Position`
- `japa.parser.ast.TreeVisitor`

They were both introduced in late 2013, but are no longer used.

Also, I'd suggest moving class `japa.parser.ASTHelper` to the test source, as it is only used in that context. Then one could

[2014-11-12 10:09] ftomassetti commented on #73
Imho, ASTHelper could be useful not just internally but also for our users and probably the same could be true about the TreeVisitor. If Position is no longer used we can probably drop it, I do not know who could use it and for what reason...

As I said, just my opinion

[2014-11-12 10:28] sebastiankirsch commented on #73
I thought javaparser's main purpose lies in parsing java files - therefore I don't see why anyone merely using the library would want to create AST nodes.

When looking at the TreeVisitor, I would assume that the other visitors in place are much more powerful and thus preferable from a library user's perspective. Also, this class was introduced in order to perform tests, thus my assumption it coul

[2014-11-12 10:33] ftomassetti commented on #73
I agree that the main goal is to parse files but I think that in the long run we want also JavaParser to be useful for refactoring code (see for example #22), that is why it is useful to have methods to create nodes, move nodes, edit nodes.

I agree that TreeVisitor is trivial and probably no one is using it, I wanted just to say that I perceive JavaParser as a tool to parse and to manipulate ASTs

[2014-11-12 10:38] sebastiankirsch commented on #73
Ah, I wasn't aware of the direction JavaParser is headed, so I understand better now ;)

[2014-11-12 11:15] SmiddyPence commented on #73
I think the direction it is heading is an interesting question.

Personally the value proposition this library had for me was that the was a "**Lightweight** Parser".  There is an eclipse.org library that offers an ASTParser, but that was massively bloated with things I didn't need.

I think if the product is aiming for "Lightweight" as it's proposition; additional functionality should be additive

[2014-11-12 17:00] sebastiankirsch commented on #73
As for me, I value the lightweight parsing aspect over anything else, too.

I'd embrace splitting up into modules based on "end-user functionality", e.g. a core for pure parsing and an additional module for manipulating the source code.

[2014-11-12 17:11] ftomassetti commented on #73
I also agree that simplicity is a big plus (as @SmiddyPence said, JavaParser is way easier to use than ASTParser). I just thing that right now the other functionality (Something else or just ASTHelper?) are so limited that it does not yet make sense to split the project in different modules but I totally agree that if/when more functionalities are developed we should do that.

[2014-11-13 12:37] ptitjes commented on #73
My 2 cents... (even if I did not contribute for a long long time)

I always used JavaParser for massive (pattern-matching based) refactoring and indeed ASTHelper is essential. Else you have to know all the details of the AST api. You have visitors then you must have a factory.

Please let ASTHelper in the API !

[2014-11-27 11:11] SmiddyPence commented on #71
I'm planning on creating a Milestone2 branch here and pushing my changes over for Java 8.  I plan on up versioning the pom to 2.0.0-SNAPSHOT.  I'm thinking that major versions numbers could be tied to Java versions. Or would people prefer 1.1.0...

Objections, suggestions?

[2014-11-27 21:15] sebastiankirsch commented on #71
I'm sorry for commenting so late, but: what it is the reason for this "modularization"? I don't see why seperating the tests from the code is a good thing... shouldn't `mvn verify` on the "core module" tell me if everything is just fine? So why put the tests someplace else?
As mentioned in #73, I'd appreciate different modules for different functionality; like parsing and manipulating the AST for

[2014-11-27 21:19] sebastiankirsch commented on #71
And concerning the version number: If you "break" the API, I'd prefer 2.0.0. If I can simply replace 1.0.11 with the new version without modifying the code, I'd go with 1.1.0.
See http://semver.org

[2014-11-28 08:35] SmiddyPence commented on #71
Thanks for the versioning metaphor it sounds entirely sensible.

The reason for the split is that we are now running JBehave based testing.  These are considered by all extent to be integration tests. It my experience these are usually best separated into their own module. [Maven Docs](http://docs.codehaus.org/display/MAVENUSER/Maven+and+Integration+Testing),

It is also the default assumption by

[2014-11-28 09:33] sebastiankirsch commented on #71
Well, that article is from 2008 or something. Integration tests should by run using failsafe nowadays (as listed in the article itself), eliminating much of the hassle that motivated the article. I'd agree that having an own "integration test module" for many modules that need to be tested in an integrated way makes sense, though. I also agree to put them in `src` if there's a specific test-module

[2014-11-28 10:28] SmiddyPence commented on #71
Admittedly I have not used failsafe, but my understanding of is it really facilitates the running of integration tests along side unit tests; and managing the life cycle separately?   Admittedly not "best practice" but we are using integration tests in place of unit tests, so really they should run by default in the way unit test would.

A few of us made the decision to favor one style of testing.

[2014-11-28 10:58] sebastiankirsch commented on #71
Agreed. I was just giving my opinion, and this thread at least helped me understand your intentions better. It was not my intention to object on what you commiters agreed upon. After all, this seems to be more about personal flavors of doing things...

So I'm happily awaiting your changes ;)

[2014-11-28 11:28] SmiddyPence commented on #71
The opinions are needed and appreciated.

How would you feel about @before suggestion of

I think the `import japa.parser` is a bit poor and also the fact co-ordinates are still `com.google.code` is confusing.  Although this would be a breaking `2.0.0` change ;-) I think the version 8 support is as big a carrot as we can get for that.  Although I know @matozoid is less keen.

[2014-11-28 11:33] matozoid opened #74 "Change package and maven group id"
These two are left over from the project's life on Google Code.

Suggestions for improvements below:

[2014-11-28 11:34] matozoid commented on #71
Here you go -> https://github.com/matozoid/javaparser/issues/74

[2014-11-28 11:38] matozoid commented on #74
Created a "javaparser" organization, maybe we should make it the official location of the project.

[2014-11-28 11:54] SmiddyPence commented on #74
Personally I think it is a good idea for an org in the long run.

Changing co-ordinates is not ideal, but I think makes more sense than maintaining the old ones now the project has moved hosting.

We can perhaps have a fuller gh-pages site with not just the JavaDoc, but information about the project past a present. As well as how to use etc.

[2014-11-28 19:36] sebastiankirsch commented on #74
+1

[2014-11-29 11:59] arouel commented on #74
+1

[2014-12-10 14:44] SmiddyPence commented on #74
So this branch: https://github.com/SmiddyPence/javaparser/tree/Milestone2

Has **Java 8**, **Maven Modules** and **Updated package name & Maven Co-ordinates**.

Do people want to review it there first or shall I create a Milestone2 branch here and push it over?

[2014-12-12 12:59] matozoid opened #76 "Improve sorting algorithms"
A rather horrible sort was found here: https://github.com/matozoid/javaparser/pull/75

Fix it by using built in JDK sorting algorithms, and search around for more of these bubble sorts.

[2015-01-05 11:52] sebastiankirsch commented on #33
Hm, `java.io.Closeable` is around since 5, so we could implement it right away.

I'd assume that this enables auto-closing as well (even if javaparser is compiled with JDK < 7), but I don't know for sure. Any "Oracle Certified Associate, Java SE 7 Programmer" around to confirm this?

[2015-01-05 13:21] SmiddyPence commented on #33
That sounds correct, having swatted up. Only SCJP for 1.4 here :wink:

Personally I was getting Closable and AutoClosable confused, had assumed there was only 1 for using the try-with-resource; which was only available >= 7.

Incidentally this CuPrinter has been removed anyway, (likely me)! Looks like it was just a cheeky little main method to dump a class out as a String.

[2015-01-05 13:21] #33 closed, assigned to nobody

[2015-01-09 14:07] SmiddyPence commented on #74
Hi @matozoid

Can you transfer the repo to the organization?

I can then update the `issueManagement` etc sections of the pom with the correct urls. Before the SonaType release.

[2015-01-10 00:46] matozoid commented on #74
Repository has been transfered!

[2015-01-10 11:14] SmiddyPence commented on #74
Cool I have raised the ticket.

Do you own the existing drone.io build?  Will need to move the repo url there as well... If you don't I can just add it to my drone account; no worries.

[2015-01-10 11:47] matozoid commented on #74
Better get that drone.io build off my account, so I can leave things to active users and committers like you! I'll delete mine. A good time to see if there's a nicer build site out there too.

[2015-01-10 13:35] sebastiankirsch commented on #74
I'd recommend [Travis CI](https://travis-ci.org).

[2015-01-10 16:47] ftomassetti commented on #74
+1 for Travis: I am using  it for different projects and I am happy with it (I have nothing against drone.io anyway)

[2015-01-13 08:58] SmiddyPence opened #80 "Errors in JavaDocs"
Nothing like documentation, especially when it is wrong!

Need to tidy up several items that come out of the javadoc:jar goal.  Documenting exceptions that aren't thrown etc.

Could execute with `<maven.javadoc.failOnError>false</maven.javadoc.failOnError>`, but wrong is wrong at the end of the day.

I'll sort today,

[2015-01-13 10:11] SmiddyPence opened #81 "Warnings in JavaDocs"
There are 100+ warning during the JavaDoc generation.  javadoc:jar goal

Things like a @param is documented, but no description is provided.

We can come back to that after the 2.0.0 release.  I will just fix the errors #80 before that.

[2015-01-13 10:39] SmiddyPence commented on #80
Done

[2015-01-13 10:39] #80 closed, assigned to SmiddyPence

[2015-01-14 10:15] SmiddyPence commented on #74
I left it as drone.io for the time being, just because it took about ~30 seconds.  If someone wants to set up Travis feel free, I didn't feel the need just to execute "mvn clean install".  Perhaps when #66 comes about the extra control will be useful.

In any case closing this now as the modules are in place.

[2015-01-14 10:15] #74 closed, assigned to SmiddyPence

[2015-01-14 10:16] SmiddyPence commented on #71
Done

[2015-01-14 10:16] #71 closed, assigned to SmiddyPence

[2015-01-14 10:18] SmiddyPence commented on #27
Fire at will:

[code]

Lets have new issues for specific problems.  Thanks

[2015-01-14 10:18] #27 closed, assigned to SmiddyPence

[2015-01-15 09:33] sebastiankirsch opened #82 "com.github.javaparser.ast.expr.LambdaExpr does not set itself as parent of its child nodes"
I will come up with a pull request for that shortly...

[2015-01-15 09:41] sebastiankirsch commented on #82
I didn't come up with a test for this, as I'm not sure if this warrants a jbehave test and I'm not sure what the situation is with unit tests... Any input on this?

[2015-01-15 10:08] SmiddyPence commented on #82
I would just add another `then` to the existing Lambda tests.  Then have a `assertThat(lambdaExpr, is(blockStmt.getParentNode()))`

I have just free-handed this, so it might not be perfect...

https://gist.github.com/SmiddyPence/f8922ab21c233e686c1b

Or I can add it afterwards if you prefer.

[2015-01-15 10:09] sebastiankirsch opened #84 "com.github.javaparser.ast.body.Parameter.getType() can be null since 2.0.0"
I assume a parameter's type being `null` only occurs for lambda expressions, thus why it didn't pop up until now.

This causes `NullPointerException`s at least for
- `com.github.javaparser.ast.visitor.GenericVisitorAdapter`
- `com.github.javaparser.ast.visitor.ModifierVisitorAdapter`
- `com.github.javaparser.ast.visitor.VoidVisitorAdapter`

The other adapters seem to be unaffected, one of them was

[2015-01-15 10:54] sebastiankirsch commented on #82
Thanks for the hint, I added the assertions.

[2015-01-15 16:30] sebastiankirsch opened #85 "Casting a lambda expression causes a parsing failure"
I failed to parse some Java 8 files with lambda expressions; my stack trace was something like this

[code]

Obviously, the provided arguments was a list containing a `null` value. I boiled it down to a simple statement that cannot be parsed:

[code]

Removing the cast makes the problem go away.

As this is certainly to be fixed within the `java_1_8.jj` file, I won't come up with a fix (this stuff

[2015-01-16 08:59] SmiddyPence commented on #85
Ouch, I hadn't even considered that.  Not sure I'm entirely comfortable with it either!

[2015-01-16 08:59] #82 closed, assigned to nobody

[2015-01-16 10:28] sebastiankirsch commented on #54
Why not adapt all the setters/constructors and set either the specified non-null value or `Collections.emptyList()`? This simplifies the getter code and is probably faster & more memory-efficient then anything else.

The only downside is that the lists cannot be modified, but, alas, one needs to set your own list in such cases.

[2015-01-16 10:31] ftomassetti commented on #54
It makes sense: after all you are not supposed to edit the list (as you said).

I can do this change over the week-end if everyone agrees.

[2015-01-16 11:03] ftomassetti commented on #84
imho would be better to avoid using null. Solutions that come to mind:
1) As Sebastian suggested we could create a class that represent a Lambda parameter
2) use an Optional (but it could require add Guava, which is probably overkill, or create our own Optional class, which is probably a bad idea).
3) maybe we can create a class to represent the lack of type something like:

[code]

[2015-01-16 11:11] ftomassetti opened #87 "Dummy implementation of setJavaDoc and getJavaDoc: should we change it?"
There are a lot of comments like:
 "//To change body of implemented methods use File | Settings | File Templates."

(see for example AnnotationDeclaration)

[2015-01-16 11:16] sebastiankirsch opened #88 "com.github.javaparser.ast.expr.MethodReferenceExpr and com.github.javaparser.ast.expr.TypeExpr do not set themselves as parent of their child nodes"
No surprise after #82, but I didn't catch it immediately. Will provide a fix.

[2015-01-16 11:16] ftomassetti commented on #87
Looking better at it the problem seems that we have a lot of classes with these methods:

[code]

Maybe we should implement it correctly in Node, so we do not have to repeat it over and over. Probably the implementation in Node should throw an exception (I think we can add a Javadoc to a limited number of nodes, while most cannot be documented) and a few nodes should just save the value and return

[2015-01-16 11:26] ftomassetti opened #89 "CommentsParser.State contains unused fields"
This should be pretty straightforward

[2015-01-16 11:31] ftomassetti commented on #76
Maybe PositionUtils.sortByBeginPosition could be a good candidate (also, the name of the variable arrayNodos is misspelled)

[2015-01-16 14:28] sebastiankirsch commented on #88
Hm, while writing a test (every node has to have a parent set), I noticed that there's a some more nodes that don't set themselves as parent:
- comments have an additional `commentedNode` field which practically serves the same purpose as the `parent` field, but they don't have a parent set
  - an `ImportDeclaration` does not set itself as parent of its `NameExpr`
  - one of the two constructors o

[2015-01-16 14:49] #89 closed, assigned to nobody

[2015-01-16 15:41] martoeng commented on #27
Thanks!
I just integrated it and adjusted the package names. Will have a go at some Java 8 code next week.

[2015-01-17 14:31] sebastiankirsch commented on #85
So, I added the branch [issue-85](https://github.com/javaparser/javaparser/tree/issue-85) and there, adapted the old java_1_7.jj file such that it is easier to spot which changes have been made.

[2015-01-17 14:37] sebastiankirsch commented on #85
Based on that, look at [line 1966](https://github.com/javaparser/javaparser/blob/7a693327ae45239d14107bed68ec4498edea87ad/javaparser-core/src/main/javacc/java_1_8.jj#L1966): there, the existing expression `ret` is set to `null`.
Removing this else-branch makes the parser succeed. However, the `EnclosedExpr` has no inner expression set; thus the parsed compilation unit looks like this

[code]

Bett

[2015-01-17 14:50] sebastiankirsch commented on #85
In [line 2812](https://github.com/javaparser/javaparser/blob/7a693327ae45239d14107bed68ec4498edea87ad/javaparser-core/src/main/javacc/java_1_8.jj#L2812), the expression is set to `null` as well... changing this has no effect on my test case, however.

[2015-01-17 16:48] sebastiankirsch commented on #85
Well, if I change the `CastExpression()` definition in [line 2267](https://github.com/javaparser/javaparser/blob/7a693327ae45239d14107bed68ec4498edea87ad/javaparser-core/src/main/javacc/java_1_8.jj#L2267) such that it allows an `Expression()` instead of an `UnaryExpressionNotPlusMinus()` (I assume line 2265 is not correct as well), the test case works just fine. However, javacc issues a bunch of w

[2015-01-19 09:13] SmiddyPence commented on #85
I think it takes someone to go down the rabbit hole.  I follow what your saying, but I'm not sure what the correct course is.  It may even be another option not stated.

On the background I merged the grammar from @rpau 's repository.  It wasn't a complete copy as there were some deviations already between the two projects.

https://github.com/rpau/javalang/blob/master/src/main/javacc/java_1_8.jj

[2015-01-19 09:52] SmiddyPence commented on #87
Interesting question.

I would suggest that Node is too loose, I'd guess that the majority of subtypes are not actually DocumentableNodes.

What about a "delegate" although I have always liked the term "mixin" it's just not Java!

http://stackoverflow.com/questions/263121/java-traits-or-mixins-pattern

[2015-01-19 20:49] sebastiankirsch commented on #85
So I had a look at the [PMD grammar file](http://sourceforge.net/p/pmd/code/ci/master/tree/pmd-java/etc/grammar/Java.jjt) - and they have a very familiar AST defined there (which may or may not be surprising; I can't tell). The biggest difference there is that they defined the Lambda stuff in the `PrimaryPrefix` section, which I was pondering about after my last comment as well.
I'm starting to co

[2015-01-19 21:01] rpau commented on #85
@sebastiankirsch I can take a look with my tests and I will tell if I can help you as soon as possible ;)

[2015-01-20 09:33] ftomassetti commented on #87
Yes, it makes sense: the implementation in Node would throw an exception and all the classes implementing DocumentableNode would use the delegate to just save the value. If you agree I can go on and implement it in the week-end (or earlier maybe)

[2015-01-20 11:03] SmiddyPence commented on #87
Sounds good to me, unless there are other suggestions.

[2015-01-20 11:26] sebastiankirsch commented on #87
I didn't get the exception throwing in Node... why is that necessary?

Also, not sure about introducing a delegate for one plain field without any logic attached to it. Is it worth the effort? Wouldn't object, however.

[2015-01-20 11:37] SmiddyPence commented on #87
I think the premise is that it is cleaner than all the null checking in all ~10 document-able types.

[2015-01-20 11:40] sebastiankirsch commented on #87
Alright then, at least a bit of logic ;)

[2015-01-20 11:43] SmiddyPence commented on #87
Agree as a pattern it tends to be for more elaborate logic.

[2015-01-20 11:50] SmiddyPence commented on #81
Only remaining warnings come from classes generated from javacc.

[2015-01-20 11:50] #81 closed, assigned to nobody

[2015-01-20 12:17] ftomassetti commented on #87
Well, I would argue that is good to report some error to the user trying to assign a Javadoc to a node that cannot be documented. I think it is very bad to have silent failures

[2015-01-20 18:29] sebastiankirsch commented on #87
In general, I agree.
But I thought that only those classes that really support it do implement the DocumentableNode interface and thus should integrate the delegate? So, there would be no need for an exception to be thrown...

I feel like I'm missing something... :O

[2015-01-20 19:12] ftomassetti commented on #87
Oh, you are probably right, I saw some implementations returning null and I thought it was a method declared in Node but it seems not the case, sorry for the confusion. Then no need for exceptions :)

[2015-01-23 09:29] chundongwang commented on #64
Just found a deep-inside bug of my project caused by this and I prefer to at least have a parameter of showing variable name or not. :)

[2015-01-24 11:19] ftomassetti commented on #88
As I remember things to be (and I could definitely be wrong):
- I think that the commentedNode and the parent are tipically two different nodes: a comment tend to be applied to an element at its own level, not to its container.
- Comments are added after parsing and behave differently because they could be put everywhere, so they do not fit as nicely as other nodes in the AST.

I think it is somet

[2015-01-24 11:32] ftomassetti commented on #87
pull request #93 prepared

[2015-01-24 12:20] ftomassetti commented on #76
Created a pull request for this one (pull request #94 ). Do we have more of those?

[2015-01-28 22:26] talios commented on #27
Working well in my project here so far. Tho I've not stressed much JDK8 code yet..

[2015-02-02 17:37] rpau commented on #85
@sebastiankirsch I have solved this bug on my grammar. Check the last commit (e622a591a247c9c32d457dffbe11c99bc22e373e)

[2015-02-02 19:08] sebastiankirsch commented on #85
Thanks, I will have a look at it!

Note to self: [this is the relevant commit](https://github.com/rpau/javalang/commit/e622a591a247c9c32d457dffbe11c99bc22e373e)

[2015-02-11 10:54] quarkie opened #95 "CommentParser: invalid comment within String found"
The commentParser does recognize the following as a comment and  fails  which is not correct:
String failStr= ("/*/data");

[2015-02-11 11:14] ftomassetti commented on #95
Are you suggesting that "/*/" should be recognized as a valid comment?

According to http://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.7

I think it is not: the asterisk part of the start of the comment cannot be "reused" as part of the end of the comment. Am I wrong in interpreting your problem? Am I wrong in my interpretation of the language specs?

[2015-02-11 11:17] SmiddyPence commented on #95
Opposite way round.  (unverified yet)

It is not a valid comment; but the parser recognizes it as one.

[2015-02-11 11:25] ftomassetti commented on #95
My bad, I did not read correctly, ok, that is bad :)
Probably we should start by writing a failing test and then look in the comment parser.

[2015-02-11 11:44] SmiddyPence commented on #95
I'll write the test, you can fix it. Call it virtual pairing :wink:

[2015-02-11 11:50] ftomassetti commented on #95
Love that!

[2015-02-11 12:36] quarkie commented on #95
Yes it should not be recognized as a comment ^^
very fast reaction time  here  ;-)

[2015-02-11 12:55] ftomassetti commented on #95
We try to be fast, I think we always had the experience of reporting an issue and get an answer a long after it stopped to be useful :)
It is bad because users stop reporting problems, while we really need that: I would have never ran in this issue myself

[2015-02-11 14:10] quarkie commented on #95
i just saw that the version I am using is the old one from googlecode .-(. in the current trunk(github) the error might be fixed, as stringsare recognized.  sorry  for making you work on things that might be fixed :-(

[2015-02-11 14:11] ftomassetti commented on #95
No problem, it could be worthy to add that test anyway, please keep reporting issues, in the worst case we will just realize how awesome the project already is :D

[2015-02-11 23:11] ftomassetti opened #97 "Linthub: do we think is it useful"
Hi, I recently installed Linthub and I just realized I activated also for this project by mistake. First of all I am sorry about that.

This service install an hook on pull request which run a linter on the code and suggest style improvements or possible issues. I realized I had probably enabled it fo this project when looking at a current pull request (https://linthub.io/javaparser/javaparser/04a

[2015-02-12 08:19] SmiddyPence commented on #97
I think a linter it is a good example (certainly starting point) for using the parser to refactor code i.e. #22

It would be nice to "eat our own dog food" in that respect rather than using another tool.  Although good for a compare and contrast.  Create similar tests from what that tools spits out then use them here.

[2015-02-12 10:05] matozoid commented on #97
It mostly seems to suggest that someone should run a source code formatter :D

[2015-02-12 10:24] sebastiankirsch commented on #97
In theory, I like the idea. However, before turning this on we should either "fix" the whole code base or make sure it only reports issues for touched lines. I don't see this helping if it reports a bunch of errors for code a patch didn't touch...

[2015-02-15 15:24] ftomassetti commented on #97
I should have disabled it now (sorry again).
However it could be a good point to have some common style guidelines (and a tool to check them: we do not want to do that manually). However it is not a priority probably.
I would close this issue for now but feel free to reopen it if necessary.

[2015-02-15 15:24] #97 closed, assigned to nobody

[2015-02-15 15:27] ftomassetti opened #98 "Do we need a mailing-list for users and developers?"
Hi,
do you think would help to have a mailing list where users could ask for help or let us know about their usages of javaparser?
It could be also useful to discuss about the project (think about discussions about using a style checker, or maybe planning for future directions of the project).
What do you think?
I would suggest to open a google group and refer it in the README.
Opinions?

[2015-02-16 15:38] SmiddyPence commented on #98
I think we need something like that for the more conversational type discussions, rather than raising issue.

Don't have a recommendation however.  Although having something at google again, might confuse the co-ordinates somewhat.

[2015-02-16 16:46] sebastiankirsch commented on #98
Sounds good to me.

[2015-02-16 21:58] ftomassetti commented on #98
Ok, let's see if we can find alternatives. Looking for google groups alternatives I found gitter (https://gitter.im/) which integrates with GitHub and it is used by different projects. However it feels more like a chat and it requires a GitHub account. We could also create a mailing-list or use something like discourse (https://github.com/discourse/discourse/blob/master/docs/INSTALL.md) but we wou

[2015-02-17 08:09] sebastiankirsch commented on #98
Hm, there are surprisingly few (useful) alternatives out there; never tried
them out tbh. yahoo groups maybe? Although it seems that even for public
groups, messages cannot be seen without logging in - which is quite a
bummer for users...

Federico Tomassetti notifications@github.com schrieb am Mon Feb 16 2015
at 10:58:57 PM:

[2015-02-17 10:00] ftomassetti commented on #98
Yes, it was very surprising also for me that there are few alternatives! I would suggest to avoid yahoo groups, users have to create a Yahoo account (I do not know how popular it is where you are, but in the countries where I lived was very rarely used in the last years). Also to read the messages on the web interface you have to login, it could make the content non indexable I think (I could be w

[2015-02-17 10:27] matozoid commented on #98
Consider Google+ or... Facebook... - mailing lists are so last century :)

[2015-02-17 10:27] matozoid commented on #98
... maybe IRC or another chat tool (Slack seems to come up all the time)

[2015-02-17 10:31] SmiddyPence commented on #98
Feel similarly about avoiding additional signups.  Can try gitter in the first instance seems low effort.

[2015-02-17 10:35] ftomassetti commented on #98
slack seems cool, I am just now sure how people can join the channel: I tried creating the team "javaparser" but I had two possibilities: 1) specify a domain (so users with a mail from that domain could login) 2) invite manually people. I could not find an option for leaving the channel open

[2015-02-17 13:08] sebastiankirsch commented on #85
So I applied the changes and it works. However, I really think someone that is more into this javacc grammar should take the [PMD](http://sourceforge.net/p/pmd/code/ci/master/tree/pmd-java/etc/grammar/Java.jjt) stuff as a basis and adapt it; our lambda handling just feels awkward in comparison.

However, in order to fix this, I'll open up a pull request with the "working" adaptation.

[2015-02-17 13:52] sebastiankirsch commented on #98
Gitter seems fine, but the free version only keeps a history of 2 weeks. I
guess that's a no-go...

Federico Tomassetti notifications@github.com schrieb am Tue Feb 17 2015
at 11:35:35 AM:

[2015-02-17 16:35] #87 closed, assigned to nobody

[2015-02-17 16:49] sebastiankirsch commented on #57
The hardest part is probably the name of the interface. Although we already have a `DocumentableNode`, I find `ModifiableNode` a bit misleading, as it suggests the node can be modified (which is the case with any node). How about `NodeWithModifier`?

[2015-02-17 16:51] sebastiankirsch commented on #58
Is `NameableNode` fine for everyone?

[2015-02-18 10:30] ftomassetti commented on #57
I would suggest `NodeWithModifiers` (we can have more than one)

[2015-02-18 10:32] ftomassetti commented on #58
Mmm, those names typically have to have a name, _Nameable_ to me sounds like something that could have a name. I do not have strong suggestions on this one, maybe `NamedNode` or `NodeWithName` (similarly to the current suggestion for #57 )?

[2015-02-18 14:25] sebastiankirsch commented on #58
`ǸamedNode` sounds good to me.

[2015-02-18 14:46] ftomassetti commented on #57
If we are going to support Java 8, we could do something like this:

[code]

[2015-02-18 14:48] ftomassetti opened #100 "Set language level to Java 8"
Hi, what are the thoughts about that?
I would love to get started on Java 8 :)
Do we have any reason to stick with Java 6 (I think it is not supported anymore).
Java 8 has been released almost 1 year ago (March 2014).

[2015-02-18 14:53] matozoid commented on #100
Just one request from someone forced to use Java 1.5 at work (aaargh!!!): carefully document which version is compiled for which Java version!

[2015-02-18 15:05] sebastiankirsch commented on #100
I would immediately fork a java6-compatible version :/

Danny van Bruggen notifications@github.com schrieb am Wed Feb 18 2015 at
3:53:48 PM:

[2015-02-18 15:06] ftomassetti commented on #100
mmm ok, I see, probably times are not mature :)

[2015-02-18 15:07] sebastiankirsch commented on #100
Don't get me wrong, I really like java8. But for a library, I'd say this
cripples adoption...

Federico Tomassetti notifications@github.com schrieb am Wed Feb 18 2015
at 4:06:10 PM:

[2015-02-18 15:22] matozoid commented on #100
Suggestion: limit the src/main code to Java 6, but let the src/test code compile with 8. Besides that: investigate if there is anything that can be done with the Java 6 code that Java 8 users can take advantage of (making it easy to use functional stuff with it, for example)

Tip: use maven-enforcer-plugin and animal-sniffer-maven-plugin to enforce Java versions.

[2015-02-18 15:26] ftomassetti commented on #22
This issue is over 1 year old, let's celebrate :D

Personally I am interested in this topic and I would love to work in that direction, I am just not sure if refactoring should be part of Javaparser or should be part of a derived project. What do you think?
In which scenarios it could be useful?
How important do we think is it?
Who is interested?

[2015-02-18 15:27] ftomassetti commented on #41
Is this one solved? Any reason to keep this one open?

[2015-02-18 15:39] SmiddyPence commented on #98
Let's just try it, will spare the watchers some emails.

Quite a lot of fixes are done under two weeks once someone puts their mind it it.

[2015-02-18 15:40] ftomassetti commented on #54
Just to be sure, before doing the same change on a ton of classes, would that work for you?

[code]

[2015-02-18 15:58] matozoid commented on #22
I just checked when my first commit was: Oct 30, 2011 8-O

Wasn't somebody using javaparser exactly for this purpose?

[2015-02-18 19:44] sebastiankirsch commented on #54
Looking at the ASTParser line 3353 I'd assume that you cannot throw a NPE,
but should fall back to the empty list as well. Which is much more
user-friendly as well. Apart from that, looks great!

Federico Tomassetti notifications@github.com schrieb am Wed Feb 18 2015
at 4:40:21 PM:

[2015-02-18 21:16] ftomassetti commented on #54
Ok, let's do that for the sake of compatibility, maybe I would add a note to specify that in the future that could be changed

[2015-02-20 10:00] sebastiankirsch commented on #41
Seems like you fixed it. Maybe you can add a test case, but the code looks good to me.

[2015-02-21 11:33] matozoid commented on #98
Gitter seems to work fine, shall we close this issue?

[2015-02-21 11:40] ftomassetti commented on #98
I agree we could close it (given I opened it I will close it now).
We can still reopen it if we change our minds or someone does not agree with Gitter :)

We should just consider (as Sebastian says) that this is great for discussion but it is not storing history for longs, so maybe we should recap decisions taken in Gitter back in the issues.

[2015-02-21 11:40] #98 closed, assigned to nobody

[2015-02-23 22:00] ptitjes opened #107 "Annotations on types are not parsed and dumped correctly"
See failing test case:
https://github.com/ptitjes/javaparser/commit/beffe836060823820eed0c4e2fcdac99545a0486

[code]

is valid Java 8 code.

It parses as :

[code]

and if you instanciate the ast manually, when dumped it produces

[code]

[2015-02-24 10:01] ptitjes commented on #107
https://github.com/ptitjes/javaparser/tree/zz-issue-107

[2015-02-24 13:54] ptitjes commented on #57
And why not replace the integer with an EnumSet ? Those are really lightweight.

We could easily implement a `int getModifiers();` for backward compatibility.

[2015-02-24 15:07] ftomassetti commented on #57
done as suggested by @ptitjes

Note that we should refactor also a bunch of constructors: for now I have left all the old methods (deprecating some of them)

[2015-02-24 20:29] #100 closed, assigned to nobody

[2015-02-26 10:36] #85 closed, assigned to nobody

[2015-02-26 13:54] ptitjes commented on #73
BTW, I now use Position in my grammar-work pull request (https://github.com/javaparser/javaparser/pull/108)

[2015-02-26 16:55] ptitjes opened #109 "Conditional expression should not be accepted as left-hand side of assignment"
Per JLS8 §15.26:

[code]

Indeed, the grammar has been copied originally from the PMD one which does not build a full parse tree. Hence the comment in the grammar:

[code]

[2015-02-26 16:59] ptitjes commented on #109
A test case on that branch
https://github.com/ptitjes/javaparser/commits/zz-issue-109

Commit:
https://github.com/ptitjes/javaparser/commit/744a4a30f81e8612878e86f1cfebb7d3a35ae322

[2015-02-26 18:35] ptitjes opened #110 "Wiki 'Users' page to present how and by which project JavaParser is used"
I think that would be a good to add a such page on the wiki and a section on the homepage.

Adding the traditional note

What do you think ?

[2015-02-26 18:59] ptitjes commented on #22
@matozoid I was.

During 2012-2013, I developed a tool for my work to do what I call "massive refactorings".
That is pattern-based (patterns with both syntactic and semantic filtering) selection and rewriting of nodes. We used it for a lot of tasks because we had a gigantic source code base. Each I had identified a refactoring that could be made multiple times, I programmed a script to apply it. W

[2015-02-26 19:15] sebastiankirsch commented on #73
That leaves the `TreeVisitor`, a construct similar to the one @ptitjes suggested in #91 - however, this isn't eligible for testing if every node has parent set, as nodes set themselves as children if the parent is set (the `TreeVisitor` traverses the children).
It would fit the needs of the PositionTestVisitor though, so I think this one can be closed.

[2015-02-27 21:45] #88 closed, assigned to nobody

[2015-03-02 10:40] ptitjes commented on #84
As suggested by @ftomassetti, I think we need to introduce a Type object which denotes the fact that a type is not explicitly specified.

I would rather call it NonSpecifiedType or UnknownType than UndefinedType or Untyped which would not have the same meaning.

From a technical point of view it is just a null object.

[2015-03-02 12:00] ptitjes opened #111 "Kill MultiTypeParameter and BaseParameter and introduce UnionType"
The idea is to make BaseParameter be Parameter again and introduce UnionType that wraps a list of Types.

The rational behind that is that it is more close to the semantic model. Also, having an object for the union type enables to consistently attribute (meaning put in the data of the AST node) a semantic type object to each syntactic type object. There is no way to associate a semantic type obje

[2015-03-02 12:10] ptitjes opened #112 "Remove ReferenceType.arrayCount in favor of ArrayType"
I don't think this can be done in a forward-compatible way.

ArrayType would denote only one level of array and hold the annotations for the (single-level) array type.

[code]

instead of

[code]

[2015-03-02 15:58] sebastiankirsch commented on #110
Like it. If we don't want to be our only customers and get in touch, this is a start ;)

[2015-03-02 16:13] sebastiankirsch commented on #64
Fixed by #92?

[2015-03-02 19:02] andreamattavelli opened #113 "Performance degradation"
I experience an increased parsing time in the latest git version of JavaParser compared with version 1.0.10.
My test is the following:

[code]

where RandoopTest0.java is a quite huge Java file ~1.2MB and 26+k LOC.
It is a simple and not-well-written piece of code, but it is enough to expose the performance degradation that affects JavaParser (since version 1.0.11).

I have obtained the following

[2015-03-03 06:08] ptitjes commented on #113
Hello! Thanks for your report.

Could you try passing the option considerComments to false (the default is true) in order to confirm the problems comes from comments, please ? That would do:

[code]

Also would you mind sharing that huge Java file ? It would help us a lot to make measurements for the next version.

[2015-03-03 08:12] andreamattavelli commented on #113
I did not look through the new API, so I missed the new constructor signature.
The new timings with the option considerComments to false are the following:
- JavaParser 1.0.10: 0.29 s
- JavaParser 1.0.11: 0.32 s
- JavaParser latest:  0.36 s

Now it is confirmed that parsing comments causes a performance drawback.

You can download and reuse with no limitation my huge Java file: http://www.inf.usi.

[2015-03-03 09:04] ptitjes commented on #113
OK! Thanks for your quick feedback!

We will try to enhance the comment parsing in the next releases.
Can you workaround with not parsing comments for now ?

Thank you very much for the Java file.

[2015-03-03 15:06] andreamattavelli commented on #113
Yes, now that I am aware of that option, I can proceed with no problems.
Thanks!

[2015-03-04 06:10] jpgtama opened #114 "more than 1 single line comment are missing"
Hi all,

When I am using JavaParser, I found an issue as below:

Code under test:

[code]

After I run `CompilationUnit.toString()`, I got below code:

[code]

There is one line comment missing.

[2015-03-04 09:23] ftomassetti commented on #114
At a first glance I think that was happening is that the two lines are considered as two separate comments. One of them is attributed to the call, while the other one is classified as "orphan comment", i.e., a comment floating around not associated to any particular element.
When we spit out the code we forget some orphan comments somewhere.

[2015-03-04 14:06] ptitjes opened #115 "Plan a 3.0 release"
I propose that we plan a 3.0 release after the 2.1. This ticket is to discuss what we would like in a 3.0 release.

[2015-03-04 14:30] ptitjes commented on #115
Here is what I propose:
- Add problem reporting mechanism
  - Introduce a Location object (source path + Position, comparable)
  - Introduce a Problem object (comparable based on Location)
  - Introduce a Reporter interface and an implementation that creates and stores problems
  - Make ParserException have a list of problems
- Make JavaParser a state-full object
  - Give access to the (exception-

[2015-03-05 02:19] jpgtama commented on #114
Yes, I checked the source code and thought the missing comments maybe went to the orphan comments. Then how to get them back? I found that comments are treated as node attributes, maybe somewhere when we are doing the “attribute" we can attribute more than one line comment.

[2015-03-05 09:54] ftomassetti commented on #114
I have just wrote a test to verify that the comments in this class are parsed and dumped correctly:

[code]

It seems to work for me. Can you share your source code so that I can test it and see what is different from my small example?

[2015-03-05 19:20] ptitjes commented on #84
Pull request: https://github.com/javaparser/javaparser/pull/116

[2015-03-07 01:13] cciollaro opened #117 "MethodCallExpr scope is null"
### What I did

I was running the following code which is supposed to print out the `MethodCallExpr` in its own source:

[code]

The output was:

[code]

Note that `getName` was excluded.
### What I found

I looked into `VoidVisitorAdapter.visit(final MethodCallExpr n, final A arg)`. It seems that the relevant bit is:

[code]

I confirmed that the `Node` corresponding to getName is a `MethodCallEx

[2015-03-07 01:32] cciollaro commented on #117
If it's my original code that has the bug let me know that too, I was going out on a limb with the scope thing.

[2015-03-07 12:41] ptitjes commented on #117
Hi @cciollaro!

The problem comes from the fact that the call `n.getName()` is an argument of the call to `println`. Thus in order to catch it in your visitor, you have to let the visitor process the `println` call recursively.

For this to happen, just add

[code]

at the end of your `void visit(MethodCallExpr n, Object arg)` implementation.

Do not hesitate to ask more questions!! Also you can q

[2015-03-07 12:41] #117 closed, assigned to nobody

[2015-03-08 07:40] ptitjes commented on #110
So @SmiddyPence showed me that mvnrepository.com is cross-referencing artifact use. So I note that here because gitter log is hiding quickly.

Users of >= 2.0.0: http://mvnrepository.com/artifact/com.github.javaparser
Users of <= 1.1.11: http://mvnrepository.com/artifact/com.google.code.javaparser/javaparser

So I dug the pointer and googled a little. Here are the results:

## Users of 2.0.0
- Cod

[2015-03-08 10:03] ptitjes commented on #115
I would add:
- Support source JDK version with reporting of non-conformant constructs

[2015-03-09 09:54] ptitjes commented on #61
@matozoid I believe that since https://github.com/javaparser/javaparser/commit/cd1296db6541d76624a38675c54c163fd3e46bed, the build process is correctly documented.

Can we close this issue ?

[2015-03-09 10:27] ptitjes commented on #61
From gitter discussion:
  @matozoid: I think we had a discussion a long time ago with the same conclusion: close it

[2015-03-09 10:27] #61 closed, assigned to nobody

[2015-03-09 12:14] ptitjes commented on #111
If everyone is OK with that, I add this to 3.0 milestone.

[2015-03-09 12:14] ptitjes commented on #109
If everyone is OK with that, I add this to 3.0 milestone.

[2015-03-09 12:15] ptitjes commented on #107
If everyone is OK with that, I add this to 3.0 milestone.

[2015-03-09 12:16] ptitjes commented on #95
@SmiddyPence @ftomassetti Did one of you finally write a test ?

[2015-03-09 12:20] ptitjes commented on #73
@sebastiankirsch So we do keep TreeVisitor for now and close the ticket ?

[2015-03-09 14:00] ptitjes opened #118 "Update the Copyright and Licence in all source files"
The copyright notice has not been updated since the first releases of Julio, whereas, as I understand it, there should be a year specified for each release year.

Also, the homepage specifies GPL whereas the project contains the LESSER addendum for LGPL and the source files specify LGPL. So I suppose the homepage is wrong.

So I went over release dates and that would make the following header:

[c

[2015-03-09 14:20] ptitjes commented on #118
Got a pull request ready there: https://github.com/ptitjes/javaparser/tree/copyright-update

[2015-03-09 18:00] ptitjes commented on #118
Ok (https://github.com/javaparser/javaparser/pull/119) as quickly opened as quickly closed...

I added https://github.com/javaparser/javaparser/wiki/Coding-Guidelines for memory and for other contributors with the header content and how I configured IDEA. (I let Eclipse users complete the informations)

[2015-03-09 18:00] #118 closed, assigned to nobody

[2015-03-09 18:15] ptitjes opened #120 "Tabs/spaces and indentation guidelines"
Yeah I know that this is a sensitive issue...
But there are still files with tabs, others with spaces, and even some that have mixed tabs and spaces!

It is hard to do correct every time and can lead to surprising things with diffs. I'm sure we all agree on that. Personally, I don't really have a preference as this is just a preference in the IDE...

However, I noticed that IDEA by default adds sp

[2015-03-09 18:25] matozoid commented on #115
Do we have issues for all of this?

[2015-03-09 18:56] ptitjes commented on #115
Not yet. I was waiting for big objections (or approvals, additions...) before opening individual tickets.

[2015-03-10 08:47] jpgtama commented on #114
Hi sorry for late. Can you move the comments into the method and try again? I am using ipad now and it's not easy to share my source code. I will share it when I got back home. :)

[2015-03-10 09:03] jpgtama commented on #114
Hi, finally I figure out a way to share source code.

[code]

Put this code in your method and try again. Thanks.

[2015-03-10 09:16] ftomassetti commented on #114
Yes, I can now reproduce it, let's see if I can also fix it :)

[2015-03-10 09:31] ftomassetti commented on #114
Ok, I should have a patch for this one, I am going to submit a pull request

[2015-03-10 09:34] ftomassetti opened #122 "While dumping semicolons are out of place"
For example, dumping this:

[code]

Result in this:

[code]

[2015-03-10 10:05] ptitjes commented on #122
Well, that semi-colon is an EmptyMemberDeclaration, right ? I guess that behavior is the expected one as we do not yet have whitespace preservation.

[2015-03-10 10:13] jpgtama commented on #114
By the way, is it worth keeping the blank lines? For example, there are two consecutive blank lines, and I want to keep them as it was after I regenerated my code.

[2015-03-10 10:17] ptitjes commented on #114
Well we do not support whitespace preservation yet. The fact that you get blank lines at all while dumping is a side-effect of the code formatting done by DumpVisitor.

[2015-03-10 10:26] ftomassetti commented on #122
well, technically it is true that it is an EmptyMemberDeclaration but our DumpVisitor should print a canonical representation of the code (so, reformatting it, I think it is unrelated from whitespace preservation) and I suppose that several codebases contains semicolons after methods. Probably users expect them to be printed after the closing bracket of the method, not on a new line.

Any thoughts

[2015-03-10 12:04] ptitjes commented on #122
@ftomassetti FYI, I just tried with IDEA (I don't however know Eclipse's behaviour), and code-formatting

[code]

produces

[code]

[2015-03-10 15:16] ptitjes commented on #114
@jpgtama Evan, do not hesitate to open a ticket for the specific issue of blank lines preservation.

[2015-03-10 15:59] #114 closed, assigned to nobody

[2015-03-13 02:15] jpgtama commented on #114
Hi @ptitjes , thanks, I got it. :)  I will open another ticket while I get the requirement. Currently I think this is  enough. Thanks to @ftomassetti !

[2015-03-13 10:14] ptitjes commented on #114
@jpgtama Well thank @ftomassetti :)

[2015-03-13 11:25] raducoravu opened #123 "NPE on MethodDeclaration.getDeclarationAsString [v2.0.0]"
I have a Java interface with a method like:

[code]

When calling MethodDeclaration.getDeclarationAsString I get a NPE:

[code]

[2015-03-13 15:59] ptitjes commented on #123
Hi @raducoravu

First of all, thanks for the report and sorry for the inconvenience!

I'm quite sure this has been fixed in master (here https://github.com/javaparser/javaparser/commit/a4f1d6ad90bd0ad68d630ebde2dfe695b60c0685).

Would you mind trying to clone and build JavaParser and report us if it indeed solves your problem ?

We plan to do a release in the near weeks but in the mean time you mi

[2015-03-13 18:22] ptitjes opened #124 "Lexical Preservation (including whitespace)"
A long requested feature...

[2015-03-13 18:23] ptitjes commented on #124
As part of #115.

[2015-03-14 08:33] jpgtama commented on #114
yes, thank @ftomassetti .

[2015-03-15 13:24] ptitjes commented on #54
It seems to me this deals with the same problems that PR #106 tries to fix. Do you @javaparser/owners think that we must take a definitive decision about this for 2.1 ?

[2015-03-16 09:45] raducoravu commented on #123
Hi,

I tried downloading the latest sources and running "mvn clean install" on my computer.
At some point it breaks with:

[code]

[2015-03-16 09:51] ptitjes commented on #123
Hi Radu,
We require Java 1.8 to build the project, even if the parser itself is compiled to target execution on Java 1.6.

[2015-03-16 13:26] raducoravu commented on #123
I tested and indeed the NPE seems to be fixed on the trunk.

[2015-03-16 13:26] #123 closed, assigned to nobody

[2015-04-04 08:09] ftomassetti opened #127 "Adding tag for release 1.0.11"
Hi, I am using JavaParser version 1.0.11 in one project and I wanted to look at the code of that version but I cannot find the corresponding tag. Maybe we should create it.

[2015-04-04 13:13] ftomassetti commented on #115
+1 for the Location object (source path + Position, comparable)

[2015-04-04 13:30] ftomassetti commented on #54
Given this is swamped for the moment I will prepare another pull requests with the bug fixes present in this pull request. They should be less controversial

[2015-04-05 12:25] ptitjes commented on #127
+1

[2015-04-05 12:51] ftomassetti commented on #120
+1 with the reformatting, I was thinking myself to do it. Maybe we could do one package at the time and consider the pull requests in the pipeline

[2015-04-05 13:04] ptitjes commented on #120
Yep, that's why I proposed to do it just before 2.1 release in order to have the less pull requests to rework. If everything goes well, every null-handling, new interfaces, fixes would have gone to master for the release. Hence, there would only be the work I started for 3.0 and I don't mind reworking them.

[2015-04-05 13:06] ptitjes commented on #41
Who wants to volunteer for the test case ?? I don't :P

[2015-04-05 13:08] ptitjes commented on #76
Can we close this ?

[2015-04-05 13:11] ftomassetti commented on #41
I can do that and we should add more tests in general. Working on it.

[2015-04-05 13:37] ptitjes commented on #41
Nice!

[2015-04-06 09:49] ftomassetti commented on #41
The test is now submitted in #129. Should we close this issue?

[2015-04-06 10:02] ftomassetti commented on #95
Just sent a pull request with the test (see #130). Should we close this issue?

[2015-04-06 12:16] #58 closed, assigned to nobody

[2015-04-06 16:18] matozoid commented on #76
Sí

[2015-04-06 16:18] #76 closed, assigned to nobody

[2015-04-06 16:19] #95 closed, assigned to nobody

[2015-04-06 16:19] #41 closed, assigned to nobody

[2015-04-06 16:26] matozoid commented on #127
Added tags called javaparser-(version) for each version in the repository

[2015-04-06 16:26] #127 closed, assigned to nobody

[2015-04-06 17:03] ftomassetti commented on #127
That is great, thank you. How did you found out which commit to tag?

[2015-04-06 17:04] ftomassetti commented on #76
@matozoid ar you learning Italian?

[2015-04-06 17:06] matozoid commented on #127
Started gitk, searched for "release" and tagged every commit where them pom was changed to a non-snapshot version.

[2015-04-06 17:08] matozoid commented on #76
No, aprendo español. ¡Tengo amigos en España!

[2015-04-06 17:18] ftomassetti commented on #76
oh well, close enough :D

[2015-04-06 18:45] ptitjes commented on #120
So how do we proceed to get consensus ? Then I volunteer to make the reformatting, and there should be a second person that independently configures its IDE and do the reformatting again to check nothing has been missed.

[2015-04-06 18:49] ptitjes commented on #120
Also I noticed that we should agree on annotations on newline or not (and maybe about method order in visitors)

For instance, see difference in
https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/ModifierVisitorAdapter.java#L135
and in
https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/java

[2015-04-06 20:47] matozoid commented on #120
What I know: Eclipse loves messing around with line breaks, intellij respects them. As long as these two are used simultaneously, automatic formatting will lead to nonsense diffs.

What I do: I stopped caring, I only format the pieces of code I work on, leaving line breaks alone as much as possible, introducing as few "line too long: wrap" line breaks. I tweak default formatter settings as little

[2015-04-06 20:48] #84 closed, assigned to nobody

[2015-04-06 21:27] ptitjes commented on #120
There is also a setting in eclipse's formatter settings (that is turned off by default) to let line breaks as is. (Line Wrapping > Never join already wrapped lines') It works less well than idea's however.

Apart from line wrapping, we have to decide between spaces and tabs because some files use tabs and others spaces.

Ok. Let me propose some basic guidelines and let's see if we can agree on tho

[2015-04-12 06:51] ptitjes commented on #122
@ftomassetti Do you really think this is a bug or could we close this issue ?

[2015-04-12 07:03] ptitjes commented on #64
I guess we can close this one as well...

[2015-04-12 07:04] ptitjes commented on #73
@javaparser/owners What's the status for this ?

[2015-04-12 07:49] ftomassetti commented on #122
Well, it depends how we intend the dumping visitor: if we think it should produce a canonical form the current output is ok. However I think it is not what most users could want and it is not "user friendly". What about adding an option to control which of the two behaviors to use?

[2015-04-12 07:56] ftomassetti commented on #73
Maybe we can add a separate module with these utilities class. The test module should have access to that module to use ASTHelper.

[2015-04-12 07:58] ftomassetti commented on #64
I think #92 fixed this and we can close it. Let's reopen it if we are all wrong about that :)

[2015-04-12 07:58] #64 closed, assigned to nobody

[2015-04-12 11:43] ptitjes commented on #122
Well, DumpVisitor does produce a canonical representation for everything else.

And also please read the JLS page 206. ";" is admitted in the content of a class (or interface) body as itself. It is not attached to the previous method body.

If we introduce special cases for this, how do you render:

[code]

or

[code]

[2015-04-12 11:54] ftomassetti commented on #122
Yes, I understand that the current solution adheres "to the law" but I think it could make sense to support also a "practical" approach. In practice people do not put two semicolons in a row, even if it is legal. People could instead put semicolons after brackets. I think it is typical from developers coming from C++.  In such cases I think users could prefer to keep the semicolon after the bracke

[2015-04-12 13:56] ptitjes commented on #122
I'm quite sure you won't find any code source with semi-colons after methods. Please point me to projects that use that awkward style. I've never seen such a thing in my Java coder's life (that is since 1995).

Also why add complexity for one particular use case when lexical preservation can handle this in a more global and clean way. (Note also that if my lexical preservation's work gets accepted

[2015-04-12 14:01] ptitjes commented on #73
Let's not make a new module for one class. I think we can close that ticket. We will make a new run of deadcode4j before releasing 3.0.

[2015-04-20 08:36] SmiddyPence commented on #122
I think you both have valid points.

Perhaps the conclusion is that we should offer different printing implementations?

JLSPrinter, PragmatciPrinter, or similar id be keen to avoind the use of the word "Dump" in future.

[2015-04-20 08:46] ptitjes commented on #122
@SmiddyPence: «Id be keen to avoid the use of the word "Dump" in future»
Oh yeah!! +1

Maybe, also making the printer implementation more customizable by overriding.

[2015-04-20 09:00] SmiddyPence commented on #122
Sure, that would allow extension as required.

I'll move this to 3.0 as I think in any case this class should change name, so be a breaking change.

Even if we only provide one implementation as a version strict JLS or pragmatic printer, the name should reflect that and help avoid confusion.

[2015-04-20 09:08] ptitjes commented on #122
@SmiddyPence Note that in my lex-preserving (#125) PR for 3.0, I introduce a Printer class, that uses a FormatterSetting object (to handle newline counts and indentation settings for now).

I did not thought how much work it would be to handle Federico's use case (not really simple I guess as the dangling semi-colon is an EmptyDeclaration on its own...)

[2015-04-20 18:48] ftomassetti commented on #122
I think that JavaParser is pretty mature and stable now and it would make sense in the future to work on these extra features like an highly customizable Printer/PrettyPrinter/PragmaticPrinter. Definitely not something that should prevent us from release the next version

[2015-05-05 18:22] xkommando opened #134 "Tailing semicolon cause ParseException"
While parsing Android 19 source, I encountered ParseException caused by double semicolons in "import" statements.
The class is `com.android.mediadump.VideoDumpActivity` , and it can be found here https://android.googlesource.com/platform/frameworks/base/+/cd92588/media/tests/MediaDump/src/com/android/mediadump/VideoDumpActivity.java
the problem is caused by the double semicolons at line 22:

[code

[2015-05-06 10:57] ftomassetti commented on #134
Thank you for reporting this. I think we should:
1. find out if the language specifications consider valid to use an orphan semicolon outside methods. After all it is an empty statement which probably does not make sense there
2. probably, whatever it is legit code or not  we should support it anyway

[2015-05-10 07:24] artur-shaik opened #136 "Continuous parsing."
Does we have continious parsing or is it in the plan, that will give ability to parse files, even with errors?

[2015-05-10 08:53] ftomassetti commented on #136
I think that writing an error-tolerant grammar is in general quite difficult, especially for a grammar quite ambiguous as the Java one. However we could introduce some functionality in this sense. We use JavaCC for the parser and here there is some information on error recovery: https://javacc.java.net/doc/errorrecovery.html

[2015-05-10 10:05] talios commented on #136
I've not actually played with it too much, but I wonder how some form of RxJava integration could work here - maybe not in exactly the way @artur-shaik maybe thinking - either as a direct part of javaparser or a separate artifact/project ( so as to not tie an RxJava dependency to the core library ).

One could have say an `Obversable<CompilationUnit> observeCompilation(File file)` , which whenever

[2015-05-10 10:10] ftomassetti commented on #136
Well, if you are interested in that I wrote an incremental Java parser (https://github.com/ftomassetti/JavaIncrementalParser). I have not played with it much but it should be able to parse a reasonable amount of Java 7 code. It is written in Scala using the papa-carlo library for incremental parsing.

[2015-05-10 15:57] artur-shaik commented on #136
Ok, thanks for link to javacc docs. I played with those error skip codes, and I see that there is ability to catch ParseException and skip some tokens until semicolon or close braces. This method allow skip erroneous lines or may be blocks. Withal we could collect all catched exceptions to report it later.

What about @talios said. Sounds powerful and complex :smile: . For now I wish to just have

[2015-05-12 13:35] ftomassetti opened #137 "Generate Javadoc for version 2.0.0"
I think it would be useful to have Javadoc for each version available on the website. Currently we have just an old version marked as "current". I think we should always have the current one (corresponding to master) and a version for each release (maybe each minor release but not each bugfix release)

[2015-05-13 09:31] t-benze opened #138 "Is it possible to extract anonymous class?"
Hi,
I want to parse a project in which there are inner anonymous class. Currently I traverse the CompilationUnit as follow:

[code]

However, it can not get the anonymous class I defined. Is this feature is supported by javaparser? If it is, how can I do that? Thanks in advance.

[2015-05-13 09:43] ftomassetti commented on #138
Well, inner anonymous classes can be hidden anywhere in the code so you may want to recursively find all the nodes contained in a certain CompilationUnit (1) and then look for nodes representing the anonymous classes (2).
1. To find all the nodes recursively I would use the method `getChildrenNodes` of Node (CompilationUnit and all other classes extend Node)
2. I am sure we have nodes for that (we

[2015-05-13 11:48] sebastiankirsch commented on #138
You are looking for ObjectCreationExpr instances that have an anonymous
class body - accessible via getAnonymousClassBody().

Federico Tomassetti notifications@github.com schrieb am Mi., 13. Mai 2015
um 11:43 Uhr:

[2015-05-14 20:28] ftomassetti opened #139 "Document the meaning of arraysAnnotations in ReferenceType"
[ReferenceType](https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/type/ReferenceType.java) has one field named `arrayAnnotations`. I think we should document it, because I cannot remember what it does without looking at the grammar. Is that the weird thing deprecated since Java 1.1?

[2015-05-14 21:25] jgesser commented on #139
​​
It is really weird. I didn't knew it was possible, I had to look at the JLS
to be sure. Actually it is new, since Java 1.8 it is possible to declare
Annotations between the dimensions of an array declaration, as can be seen
below.

public class Test {

[code]

}

Maybe a new type of node could be created to carry the real positions of
these Annotations.
Instead of ReferenceType have a list of A

[2015-05-15 06:23] beihaifeiwu opened #140 "The new expression print with one more white space"
When I create a new expression for source print, I expected:

[code]

But in the result I got:

[code]

there are two white space between 'new' and 'Des();', Is this normal or a bug ?

[2015-05-15 08:18] ftomassetti commented on #140
From a first look it seems a bug:

[code]

You see that there is a space after new and then another space is printed after `printTypeArgs`. I guess we could remove that second space because anyway we do not want a space after the type args.

[2015-05-15 08:20] ftomassetti commented on #140
and thank you for reporting this!

I think we should provide also some tests for this bug fix, I can do that over the week-end, but if everyone else want to jump in and do it please feel free: first coming, first merged :D

[2015-05-15 08:25] beihaifeiwu commented on #140
Thanks for your answer, I am working on a project that user your parse to do some source merge work for Java, I think as long as this project going on, more bugs will be report, and I am glad to see your project growing!

[2015-05-15 08:28] ftomassetti commented on #139
First of all it is an honour to get an answer directly from Julio :)

Then yes, I agree that we should probably create a new Node representing the array modifier (`[]`) and the associated annotation, if any.

In the meantime we should document the meaning of the existing field.

What do you think?

[2015-05-15 09:23] kronar opened #141 "methodDeclaration.getJavaDoc() returns null"
CompilationUnit cu = JavaParser.parse(f);
List<TypeDeclaration> types = cu.getTypes();
List<ImportDeclaration> imports = cu.getImports();
Assert.assertNotNull(imports);

[2015-05-15 09:31] ftomassetti commented on #141
Yes, this is known: lists are initialized with null and nothing prevent to call setters for lists with null.
I wanted to correct this behavior (see #54 and #106) but the PR has been stuck for a while.

Until it gets fixed (if we agree on fix it) you should expect every getters returning a list to treat null or empty lists as equivalent.

[2015-05-15 09:39] jgesser commented on #139
Sure. Document the entire AST was an open issue from the original project
that I could never solve alone.

Atenciosamente,

Júlio Vilmar Gesser

2015-05-15 9:28 GMT+01:00 Federico Tomassetti notifications@github.com:

[2015-05-15 10:26] kronar commented on #141
@ftomassetti I've mean that after parsing class with imports  this list is still empty

[2015-05-15 10:28] ftomassetti commented on #141
I think it is the expected behavior, if the class has no imports because instead of assigning empty lists we leave them uninitialized (so with value null)

[2015-05-15 10:28] ftomassetti commented on #141
if instead the file contains imports than it is a new bug, in that case please post the source code

[2015-05-15 10:39] kronar commented on #141
I've created project that reproduces this issue
https://github.com/kronar/javaparser-issue-141

mvn clean test

[2015-05-15 14:06] ptitjes commented on #139
Guys, I have that as a proposition already: https://github.com/javaparser/javaparser/issues/112
:p

[2015-05-15 14:23] ftomassetti commented on #139
While I agree that your suggestion makes sense, what I am proposing is a smaller change: just create a new node representing the array modifier (`[]`) and the corresponding annotations.

For now I will send a patch for document the existing behavior.

[2015-05-15 15:01] ptitjes commented on #139
@ftomassetti Well this is exactly what I proposed: "ArrayType would denote only one level of array and hold the annotations for the (single-level) array type."

[2015-05-15 15:10] ftomassetti commented on #139
I do not think so: you are proposing to make ArrayType extends ReferenceType, which could make sense imho but it is a major change. I am instead proposing of creating a class, let's call it ArrayModifier:

[code]

What I would like to understand is if currently we are guaranteeing that arrayAnnotations.size() == arrayCount. We need that because otherwise we do not know which annotations are associ

[2015-05-15 15:18] ftomassetti commented on #139
Ok, at least `arraysAnnotations.size() == arrayCount`

[2015-05-15 15:35] ptitjes commented on #139
As of now "arraysAnnotations.size() == arrayCount" is enforced (only :p) by the grammar.

As for ArrayType, I did not choose that at random. This follows the specification. Adding a "ArrayModifier" is kinda a hack and does indeed modify the API. So if we modify the API, we should do it in the right way, that is IMO, following the spec. Please consult the JLS.

[2015-05-15 15:39] ptitjes commented on #139
Also, @ftomassetti, using a ArrayType naturaly encodes the direction of the arrays.

`A[][]` is an array type of `A[]`s, which is itself an array type of `A`s. Hence the type `ArrayType(ArrayType(ClassOrInterfaceType("A")))`.

In contrast, see how confusing it can be to figure out what direction should a `List<ArrayModifier>` should be read... (the order is important when there are annotations)

[2015-05-15 15:52] ftomassetti commented on #139
@ptitjes I specified twice that I agree with your solution (no need to tell me "Please consult the JLS."). I am just specifying that my proposed solution was different because you misunderstood it.
So said, I think that your solution, while, again, being nice, is a major change. I proposed to consider doing a smaller step toward something more understandable, just for the sake of reducing the impa

[2015-05-15 16:07] ftomassetti commented on #141
Thank you for creating the example: best bug report ever!

About the issue: for me the test pass, and the test verifies that the imports are not null and not empty. I tried parsing the given class (https://github.com/kronar/javaparser-issue-141/blob/master/src/main/java/ClassToParse.java) and I can see that the `getImports` return a list of one element, as expected.

Modifying your test to print t

[2015-05-15 16:40] kronar commented on #141
Seems it's my fault.
I've fixed test case.
Javadoc is null. See latest commits

[2015-05-15 19:06] jgesser commented on #139
According to the JLS (https://docs.oracle.com/javase/specs/jls/se8/html/jls-4.html#jls-ArrayType)  the @ptitjes' proposal is almost right in my opinion.

[code]

It will be really necessary to define an `ArrayType` node, but it should not be linked to another of the same type to define an array of array of something.
It should have a componentType and a list of brackets, called Dim in the specific

[2015-05-16 09:28] t-benze commented on #138
Thank you very much for the direction. I think this can solve my problem.
I also have a suggestion. Maybe you can lift up the anonymous class as a member of the type within which it's created, and name it like $1, $2 as the compiler does. So users can access it via the getMembers() API. I think this is intuitive as anonymous class can really be treated as a member of its owner, and it's easier to

[2015-05-16 09:58] ftomassetti commented on #138
Well, I think the anonymous classes are not members of the class so, we should not expose them though `getMembers`. However we could create a new method called `getAnonymousClasses` or something like that. I think that in general we should provide some helper functions to navigate the tree. For example a function to retrieve all the nodes of a certain type in a CompilationUnit. I am not sure if it

[2015-05-16 10:38] #138 closed, assigned to nobody

[2015-05-16 14:08] ftomassetti commented on #141
I updated the title of the issue. Yes, I can reproduce the issue. You can get the comment using the method getComment() instead of getJavaDoc().

I will look more into this to understand why this happens.

[2015-05-19 09:00] matozoid commented on #73
Please open a new ticket if anything specific needs to be done.

[2015-05-19 09:00] #73 closed, assigned to nobody

[2015-05-19 15:02] glaforge opened #144 "License under an Apache license"
GPL and LGPL licensed libraries is often problematic when integrating in other projects.
Could it be possible to also license the project under the Apache license, or even MIT / BSD?

[2015-05-19 15:05] ftomassetti commented on #144
Personally I am in favor of using the most liberal license but I think this would be a major decision and it would require every contributor to agree, but I will confess that I am completely ignorant on the possible legal requirements for changing license.
@matozoid @SmiddyPence @sebastiankirsch what do you think?

[2015-05-19 15:06] glaforge commented on #144
IANAL, but you just need the major contributors to agree, so just a handful of persons being okay with that.

[2015-05-19 18:13] ftomassetti commented on #144
@glaforge could you help us understand in which cases would help to have a different license? Do you have in mind anything specific?

[2015-05-19 18:17] melix commented on #144
See http://www.apache.org/legal/resolved.html (LGPL section) : LGPL cannot be included in any Apache licensed product.

[2015-05-19 18:19] glaforge commented on #144
As an example, if the Groovy project wanted to use this parser, it couldn't, because it's not allowed :-(

[2015-05-19 18:21] ftomassetti commented on #144
Thank you guys, it helps, let's see what the other guys involved in the project think.

[2015-05-19 18:25] glaforge commented on #144
Okie dokie.
The point is that if you want the project to be used widely, the current licenses are too restrictive :-(
The Groovy project might have a use for that parser, but unfortunately, with the license, we're not allowed to use it.

[2015-05-19 20:08] matozoid commented on #144
I <3 BSD. I'm not making any money off this, and even if someone copies everything, erases my name and sells it, well, it's better than this stuff being used less because of the license.

[2015-05-19 20:10] glaforge commented on #144
So that's a +1 vote :-)

[2015-05-19 20:14] matozoid commented on #144
Aye, and there's a discussion on gitter going on about licenses. Not sure if you can see it, but we're wondering if you could explain what the problem with the license is.

[2015-05-19 20:17] ftomassetti commented on #144
I agree 100% with @matozoid

[2015-05-19 20:44] glaforge commented on #144
I went on gitter but didn't see any discussion about licenses.
Basically, the link given by @melix gives the point of view of the lawyers from the Apache Software Foundation, which explains that Apache licensed projects can't use GPL-ed / LGPL-ed code:
http://www.apache.org/legal/resolved.html#category-x
I'm definitely not a lawyer though, but if you want the project to be as open as possible, let

[2015-05-19 21:36] SmiddyPence commented on #144
+1

I'm pro freely available without limitations, i.e. whatever promotes widest use.  Also that there is no warranty offered.

From a migration to a new licence it would be nice to be blessed by @jgesser as the previous owner at code.google.  Maybe not not essential, we're in a major grey area given the long life of the project.

[2015-05-19 21:41] ftomassetti commented on #144
+1 on getting @jgesser blessing

[2015-05-19 21:59] ptitjes commented on #144
Hi all!

I'm not a big contributor yet, but you may have noticed I've got many stuff that I intend to push to JavaParser.

I'm glad that the Groovy project wants to use JavaParser, even if I don't really see the use case. (I think that would be cool if maybe you could describe that.)

I believe dual-licensing with ASL or BSD is not a move we can make without any thinking and understanding of the i

[2015-05-19 22:07] ptitjes commented on #144
@glaforge The (start of) discussion on gitter was in the private room. We keep the public room to welcome people and do tech support.

[2015-05-19 22:11] jgesser commented on #144
Hi folks.

Thanks for remembering me.

When I chose LGPL I didn't know much about licenses. And I still don't. I just wanted to keep this code free and used only by free software. So LGPL seemed to be a good choice at that time.

But as you have mentioned, GPL or the lesser version have some restrictions, and changing the license can make possible this project to be more widely used.

So if my vot

[2015-05-19 22:21] glaforge commented on #144
Regarding the Groovy use cases, there are actually two places where we need Java parsing:
- We have a "joint compiler" which is able to compile both Groovy and Java sources together. The Groovy compiler needs to be aware of the Java sources (that haven't yet been compiled and which may depend on other Groovy source files) and has to parse those Java classes to be able to resolve references (method

[2015-05-19 22:24] glaforge commented on #144
I forgot the question about what's compatible with Apache licensed software, and again, the Apache's legal FAQ gives the answer: http://www.apache.org/legal/resolved.html#category-b
If JavaParser were ASL too, of course, there wouldn't be any issue.

[2015-05-19 22:32] ptitjes commented on #144
@glaforge Thanks for your answer. My concern was more about keeping the ability to use JavaParser inside free-software (meaning packaged and run as part of a free-software app). Also, I wonder if there are any legal holes to dual-licence (whatever the licences are, and also in the specific case of LGPL and ASL).

[2015-05-19 22:38] glaforge commented on #144
If it's dual licensed, I don't see a reason why you would not still be able to make it used by other free-software apps.

I'm not aware of any legal holes regarding dual-licensing.

And as usual: IANAL ;-) — I'm not a lawyer, and I wouldn't want to become one :-D

[2015-05-19 22:40] ptitjes commented on #144
@matozoid Just for the record, I personally don't agree with the "sells it" in

On the contrary, I do think this project gives a free alternative to people. I don't want businesses to make money using our work without telling where it comes from, where users can contribute to it, ...

[2015-05-19 22:43] ptitjes commented on #144
@glaforge Ok. Thank you for your informations.

@all IMO, I think the thing to do is finding some projects that do dual-licence LGPL and ASL for some time, and get their feedback.

[2015-05-20 07:57] rpau commented on #144
Hi everyone,

Javaparser has copied the Java 8 support from javalang (https://github.com/rpau/javalang). You could verify it at https://github.com/javaparser/javaparser/issues/27. Morover, the project starts from the original Java 5 grammar (https://code.google.com/p/javaparser/wiki/UsingThisParser). Both projects have also LGPL license. Is still valid to have dual license?

[2015-05-20 08:12] ftomassetti commented on #144
@rpau the maintainer of the original project (@jgesser) voted in favor of adopting different licenses. About the code originating from javalang, is it your project, correct? In that case you could grant us the permissions to move to a dual license (if the final outcome of this discussions is the decision to move to a dual license). Otherwise we would have to remove those changes to be able to move

[2015-05-20 08:30] rpau commented on #144
@ftomassetti Yes, you are right in both questions. However, even I give my grants, we also need to establish how to proceed after the license has changed.

[2015-05-20 08:31] ptitjes commented on #144
@ftomassetti Well, I am not against the use of JavaParser in commercial projects if this use is not hidden (mention of use, pointers to source code) and if those commercial projects invest in JavaParser. What I don't want is non-free copying/rebranding of our code.

[2015-05-20 08:33] SmiddyPence commented on #144
Just to clarify, I would argue that it wasn't "copied" from javalang, the two grammars were merged.  There were (and still are) pre 1.8 concepts implemented differently between both projects grammars.  Arguably I copied they Java 8 concepts from javalang on your offer though @rpau, which was most appreciated ;-) The commit history will bare out:

A) Copy the javalang grammar `java_1_8.jj`
B) Creat

[2015-05-20 08:36] ptitjes commented on #144
@rpau When you say "we also need to establish how to proceed after the license has changed", do you mean to continue to exchange code between the projects ? I was wondering how much our code-base diverged, if it is technically possible that you directly use JavaParser now that it is more supported, how much work it would be for you ? Also, if technically possible, maybe you have reasons to keep yo

[2015-05-20 08:43] rpau commented on #144
@ptitjes  I have enriched the AST with features I need for walkmod (interfaces to apply a semantic merge and also "symbol" related interfaces for semantic analysis, javadoc parsing, etc..). In fact, I am continuously, changing parts and deploying versions and I need this freedom. That's the reason why I have a separated project and some of my users have a strong coupling with my lib (which has a d

[2015-05-20 08:47] ptitjes commented on #144
@rpau This is what I assumed. But wanted to here it from you. :)

[2015-05-20 09:56] SmiddyPence commented on #144
Fine @rpau ownership seems important to you.  I'm not going to argue with someone who claims IP over grammar.

[code]

Once again thank you for the use of your code.

[2015-05-20 10:10] rpau commented on #144
@SmiddyPence For me the important think is that my project is LGPL and javaparser has common parts that had an important effort for me. Moreover, I have been helping with the bugs/problems regarding with the grammar I solved. So, I think that it is lawful that I manifest my opinion about that question.

[2015-05-20 10:17] ftomassetti commented on #144
@rpau we are thankful for your help and I think it helped improving the quality of the project. I also understand the importance of having JavaParser available _also_ under a LGPL license. My question is: would you be contrary to grant us the permissions to release JavaParser _also_ under another license, making possible to use JavaParser in both Apache and GPL licensed projects? I think it would

[2015-05-20 10:28] rpau commented on #144
@ftomassetti I am not contrary to grant you permissions, because I understand the benefits that the project will receive. However, I would appreciate that walkmod appears in some place of acknowledgements in the webpage of this project. On the other hand, any new features, if these come from javalang, must be previously approved, because for me it is very important that my work is LGPL.

[2015-05-20 10:33] SmiddyPence commented on #144
My understanding again with the IANAL predicate.  You can only have dual licencing if the licences are compatible... Apache and LGPL are not.  Apache also sound as though they do not dual licence in any case.

The second hand lawyer advise [here](https://github.com/pyca/cryptography/issues/1209) is that all contributors need to agree.  Therefor we would likely not be able to proceed if objections

[2015-05-20 10:35] ftomassetti commented on #144
thank you @rpau ! I think it is fair to list the contributors. Your name is listed among the contributors in the pom file (https://github.com/javaparser/javaparser/blob/master/pom.xml) but I understand it is not very visible. I would suggest to add a reference to walkmod in the license section, something among the lines of: "This project is available under multiple license, users are allowed to ch

[2015-05-20 10:36] ftomassetti commented on #144
And MIT should be compatible with Apache

[2015-05-20 10:39] rpau commented on #144
@ftomassetti Right, but my desire is walkmod gains visibility, thats why I suggest to have a link to walkmod in some visible place :)

[2015-05-20 10:44] glaforge commented on #144
You can dual license with LGPL and Apache.
My company (which I believe has double checked that with a lawyer in the past) is doing that with its Open Source project: http://restlet.com/downloads/legal-terms/

[2015-05-20 10:49] ptitjes commented on #144
@SmiddyPence The fact that Apache does not authorize dual-licences _for the projects hosted under the Apache umbrella_ is an orthogonal matter to the ASL and LGPL being incompatible (well, as I understand it, their are incompatible in some points and maybe not in both ways... and that is to be verified).

Also I still hope we can find an additional licence that is compatible with LGPL and makes it

[2015-05-20 12:34] sebastiankirsch commented on #144
+1 to that!

Also, as I have a ton on my plate, sorry for being off the channel the last
months (and some more to come)... :/

​​
2015-05-20 10:31 GMT+02:00 ptitjes notifications@github.com:

[2015-05-20 13:30] ftomassetti commented on #144
It is really cool to we have a lot of people stating their opinions. I think it could be helpful to summarize the different opinions. The following is my understanding of the situation and please correct me when I am wrong.
- we can use a dual license scheme: this has been done by other projects and Apache License 2.0 and LGPL.
  This means that both Apache licensed and GPL licensed projects will

[2015-05-20 14:26] matozoid commented on #144
I have no issues with dual licensing. I'm all for giving credit to whoever wants it. I'm all for sending a message to the github accounts of all contributors, asking them to respond here.

[2015-05-22 13:31] matozoid commented on #144
This discussion seems to have halted - @ftomassetti , would you like to drag it to a conclusion?

[2015-05-22 14:00] ftomassetti commented on #144
I wrote my personal understanding of the current situation on Gitter, I will report also here.

Ideally we should build consensus finding a compromise through discussion.
However unfortunately this is not always possible. I understand this topic has moral implications and everyone should be free to do his choice.

For me now it is crucial to understand the position of @sebastiankirsch : I think he

[2015-05-22 14:15] rpau commented on #144
Yes @ftomassetti , you are right.

[2015-05-22 14:15] ftomassetti commented on #144
thanks for confirming @rpau !

[2015-05-25 08:03] ptitjes commented on #144
Sorry, was doing stuff! My points have been addressed by some reading:

First, about the _possibility to legally combine the licenses_, the weaker license is the one to consider in case of dual-licensing.

As for my concerns about the _non-free copying/rebranding of our code_, the weakest points of the ALv2 are from my point of view :
- When someone modifies an Apache licensed software and redistr

[2015-05-26 12:46] lamvak opened #145 "Add binary name support as described in JLS 8"
Add method getBinaryName returning a binary name of node to NamedNode interface.
Binary names are described in language specification: https://docs.oracle.com/javase/specs/jls/se8/html/jls-13.html#jls-13.1

[2015-06-08 12:48] ftomassetti opened #147 "Add a clone method"
Reading this question (http://stackoverflow.com/questions/30633535/copy-nodes-in-ast) it seems that it is not obvious how to clone methods. I think we could easily add a clone method wrapping the CloneVisitor.
What do you think?

[2015-06-08 13:20] ptitjes commented on #147
It makes sense. In addition to implement Object.clone(), Node could even implement the Cloneable interface. +1 for me.

[2015-06-09 19:43] helenocampos opened #148 "Problem with comments"
Hi guys, I'm building a tool using JavaParser. Recently I encountered a problem while trying to solve a bug on my tool that I think that might be a bug of JavaParser.
I have this method to evaluate:

 public static List<Avaliacao> calcularResultadoFinal(List<Avaliacao> avaliacoes) throws SQLException, ClassNotFoundException{
        for(Avaliacao avaliacao: avaliacoes){
//            if(avaliacao.

[2015-06-09 20:06] ftomassetti commented on #148
Yes, they are "orphanComments". Probably the DumpVisitor do not consider them.

Basically we associate comments to the thing we suppose they are referring to and we classify as "orphanComments" the comments which are not associated to a node. The problem is that they could be anywhere (they do not have a precise position) so we have to use their position in the original code to place them when pro

[2015-06-09 20:21] helenocampos commented on #148
Thanks for the reply @ftomassetti !

[2015-06-09 20:27] ftomassetti commented on #148
Thanks for reporting this and for using JavaParser!

Btw, is your tool open-source? Can I take a look to it? From the screenshot it seems interesting!

[2015-06-09 22:01] helenocampos commented on #148
Yes it will be open-source, it's for a research paper (and my graduation thesis) I'm working on. It's about generating a cyclomatic complexity graph from any java code to help on building unit test cases.
The code is pretty ugly right now because I'm testing and learning a lot of new things, like how to use javaparser and another library that I'm using to render graphs  (Jung) . I plan on refactor

[2015-06-10 16:14] ftomassetti commented on #148
Good luck with that! I wrote a few papers myself and I missed the experience :)

About this issue I would work on some additional tests, just to be sure. I think we need also to make more people aware of the new release (in this respect I had a post republished on DZone about JavaParser 2.1 http://java.dzone.com/articles/releasing-javaparser-21, and we have now 3.6K people informed about the new r

[2015-06-10 16:44] helenocampos commented on #148
Nice! I'm referencing the project as well on the papers, so more people get to know it!

[2015-06-11 01:14] beihaifeiwu commented on #140
Hi ftomassetti, I have checked the new release 2.1.0, but this issue is still exist. Could you give it a shedule ?

[2015-06-11 08:17] ftomassetti commented on #140
Hi @beihaifeiwu sorry for the delay. The patch is now being merged in the master branch but there is not a version released after the fix. I think you can specify in your project a dependency on our git repository (see here http://stackoverflow.com/questions/20161602/loading-maven-dependencies-from-github) or you should wait for us to release the new version. I asked to the other contributors what

[2015-06-11 08:19] beihaifeiwu commented on #140
Thanks for your reply, I'm not very thirsty for the new release, but I'll keep my eye on the progress

[2015-06-11 08:19] #140 closed, assigned to nobody

[2015-06-12 19:21] glaforge commented on #144
So, what's the final decision, no Apache license?

2015-05-25 10:03 GMT+02:00 ptitjes notifications@github.com:

##

Guillaume Laforge
Groovy Project Manager
Product Ninja & Advocate at Restlet http://restlet.com

Blog: http://glaforge.appspot.com/
Social: @glaforge http://twitter.com/glaforge / Google+
https://plus.google.com/u/0/114130972232398734985/posts

[2015-06-14 07:12] akkinenirajesh opened #149 "Parsing Failed"
Failed to parse any java file with typed lambda params. (code copied from java.time.chrono.AbstractChronology.java)

[code]

[2015-06-14 07:44] ftomassetti commented on #149
The problem is with the "combined cast": if you remove & Serializable it can be parsed. I started writing a test case and looking into the grammar for a solution.

[2015-06-14 07:49] akkinenirajesh commented on #149
Yes, I noticed. I am new to JavaCC so taking time for me to understand where to change. It seems to a new kind of Casting
    static final Consumer<String> x=(Consumer<String> & Serializable)null;
this seems to be valid in Java 8. Just tested in Eclipse. So changes should be in Casting Expression I believe.

[2015-06-14 07:54] ftomassetti commented on #149
Yes, I also think so. In my opinion the relevant piece of the grammar is:

[code]

The problem is how to find a sensible representation of this new cast without changing the metamodel of the currently existing CastExpression.

[2015-06-14 08:03] akkinenirajesh commented on #149
How does "create a new CombinedCastExpr that will contain one or more CastExpr " sound ?
In this way we don't have to break any existing code.

[2015-06-14 08:05] akkinenirajesh commented on #149
Sorry, I think my idea is stupid. I did not think through...

[2015-06-14 08:07] ftomassetti commented on #149
With this change it parses the example given:

[code]

but it introduces a new field called "secondaryTypes" in the cast expression. The problem is that the cast expression is quite subtle because it is very ambigous and so it has to be parsed using lookahead:

For example `(foo)` could be a cast or a reference to a field between parenthesis.

I think it would make difficult to introduce a new Com

[2015-06-14 08:10] akkinenirajesh commented on #149
How about adding a MultiType extends Type? is it too much? this will limit the changes.
We can make MultiType behave as the first type(not sure if that is a problem) in it.

[2015-06-14 08:13] ftomassetti commented on #149
This is also an interesting idea (in the meantime the PR is available at #150). Do you mind suggest this also there?

[2015-06-14 10:20] ftomassetti commented on #148
Thanks @helenocampos ! Looking forward to read those papers, if you have a draft to share!

[2015-06-14 10:30] ftomassetti commented on #148
So, this problem is already being solved in recent releases and PR #151 add a new test case to prove this is ok and prevent possible regressions.

I would close this issue now, feel free to reopen if you think is wrong.

[2015-06-14 10:30] #148 closed, assigned to nobody

[2015-06-15 03:17] akkinenirajesh opened #152 "Parse Failed due to ConditionalExpr in lambda"
Example code (java.util.function.Pridicate)

[code]

Above code fails to parse as generateLambda method does not consider the case where ret is ConditionalExpr

[2015-06-15 07:17] rpau commented on #152
Solved in https://github.com/javaparser/javaparser/pull/153

[2015-06-15 14:14] matozoid commented on #144
We're doing a final round now, it takes ages with people not being available and everything.

[2015-06-15 14:25] glaforge commented on #144
Okiedokie, looking forward to a positive outcome!

[2015-06-23 07:02] esegev opened #155 "question regarding parsing and java versions"
Id like to ask if there is a dependency between the java version of the program running the java parser and the parsed file,
My Question:
Can my java parser application running over java 1.6 can parse  parsed java files that relies on java 1.8?
Thanks in advanced

[2015-06-24 08:14] ftomassetti commented on #155
JavaParser should work on JDK 6 BUT it can parse all Java code up to Java 8.

[2015-06-24 08:39] esegev commented on #155
Thank you

[2015-06-24 08:39] #155 closed, assigned to nobody

[2015-06-27 17:11] ptitjes opened #157 "Enhance parser frontend"
This bug is to discuss enhancements to the parser front-end as highlighted in #115, that is:
- Make JavaParser a state-full object
  - Give access to the (exception-free) parsing mechanism
  - Keep static helpers that throw ParseException
- Add problem reporting mechanism
  - Introduce a Location object (source path + Position, comparable)
  - Introduce a Problem object (comparable based on Locati

[2015-06-27 17:31] ptitjes commented on #139
I close this as this as been merged.

[2015-06-27 17:31] #139 closed, assigned to nobody

[2015-06-27 19:27] matozoid commented on #144
Okay, everybody was contacted. If there is no veto in this issue before the fifth of july, we'll add the license.

[2015-07-02 08:22] ptitjes commented on #112
OK, there are some more thoughts to put into this!

I just spotted a problem with my previous understanding of the specification and thus the implementation I did in #156.

So at the top of page 314 in section 9.7.4 ("Where annotations may appear") of the JLS, they give an example:

Thus the parsing I do for the array type encapsulation is wrong. What I implemented parses for the above expression:

[2015-07-03 13:38] marcosca2 opened #159 "Failed to parse files with /*/ inside strings"
It seems the JavaParser throws an StringIndexOutOfBoundsException every time it tries to parse a file containing a String like this:

public class Example {
    private String a = "/*/";
}

Below you can find the stack trace for the exception:

java.lang.StringIndexOutOfBoundsException: String index out of range: -1
    at java.lang.AbstractStringBuilder.deleteCharAt(AbstractStringBuilder.java:762

[2015-07-05 15:49] ftomassetti commented on #159
Hi, I thought we solved something similar in the past. I will check as soon as I can, but just to be sure: are you using the last version of JavaParser?

[2015-07-06 07:44] marcosca2 commented on #159
We are using the parser for Java 1.7.
I tried to update the parser to the last version and the file is correctly parsed. I think we can move to the last version of the Java Parser to solve the issue.

[2015-07-06 07:55] ftomassetti commented on #159
Great to hear that! I will close the issue but please reopen it if necessary

[2015-07-06 07:55] #159 closed, assigned to nobody

[2015-07-07 08:58] Irioth opened #160 "Double backslash in strings and lost comments"
Can't retrive comments after double backslash in strings.

[code]

Parser will losing comment in this example. If I change value of string `s` to something without backslash everything works fine.

version: 2.1.0

[2015-07-07 09:04] matozoid commented on #144
Nobody vetoed, we will add an Apache license. Who wants to pick it up?

[2015-07-07 10:30] ftomassetti commented on #160
that is interesting, thanks for catching this. It seems an issue with the CommentsParser

[2015-07-07 10:33] ftomassetti commented on #160
Maybe is this:
"https://github.com/javaparser/javaparser/blob/109e43888bc1b771780ce155d732e870f63bfb7a/javaparser-core/src/main/java/com/github/javaparser/ast/comments/CommentsParser.java"

[code]

We did not consider the double backslash. I think it was me introducing this bug while fixing #37

[2015-07-08 12:58] SmiddyPence commented on #144
Just to clarify what is required:
- Delete old COPYING
- Delete COPYING.LESSER
- Add LICENSE stating that the library is licensed under both
- Add LICENSE.LGPL verbatim
- Add LICENSE.APACHE verbatim
- Update all file sources
- Update README.md

Anything else?

[2015-07-08 14:31] ftomassetti commented on #144
Why remove COPYING?

About the source files, how should we change the current text? Would this be ok?

[code]

[2015-07-08 14:50] SmiddyPence commented on #144
I would say it is the modern way to use `LICENSE` rather than `COPYING`

[2015-07-13 19:11] ooxi commented on #157
While I agree with the general idea, I have a couple of questions / additons:
- How about replacing `Location.path` with a generic `Source`? That way we could easily implement `PathSource`, `StringSource` etc. without using null as magical value
- Shouldn't we export `Problems` as `Iterable` instead of `List`? `List` implies some kind of natural order whereas problems can be ordered by various cri

[2015-07-13 22:54] ptitjes commented on #157
Indeed, those are good points. I do agree with both of them! :)

[2015-07-14 14:32] matozoid opened #162 "TypeParameters/TypeArguments"
For method references, the grammar currently reads some TypeParameters() instead of some TypeArguments(). This is wrong and untested and may throw a ClassCastException at some point. Note that there are two places to fix for method references in the grammar.

[2015-07-14 14:33] matozoid opened #163 "Super call loses arguments (was "Redundant choice")"
There is choice that does nothing here: https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/javacc/java_1_8.jj#L2335
Either it is some code to remove (which is probable) or there is an assignment to 'ret' missing.

[2015-07-17 12:56] ooxi opened #164 "javaparser.org?"
Is there any interest in using a top level domain like javaparser.org? If cost is an issue I'm sure funding could be raised in no time.

[2015-07-18 10:51] ftomassetti commented on #164
I think it could be a great idea: we could just pay the domain and host it on GitHub pages

[2015-07-18 12:44] ooxi commented on #164
I thought so, too. Who to register the domain to?

[2015-07-18 12:49] ftomassetti commented on #164
I am glad to pay for it (it is a few euros :D) but I would register it under the name of @matozoid

[2015-07-18 16:19] ooxi commented on #164
That's great! What's your opinion on this @matozoid ?

[2015-07-18 16:56] matozoid commented on #164
Seems a bit superfluous to me, but register whatever you like :)

[2015-07-23 09:31] marcosscriven opened #165 "How to find fully qualified name of method invocation target?"
Here's a simple example:

[code]

Looking at this trivial and convoluted example in isolation, it's easy to see that:
- There's two invocations of `com.mycompany.myproject.FooInterface.bar()`.
- That the invocation in `aMethod()` is definitely on a `FooImpl` object.
- We don't know what the impl is passed to `anotherMethod`.

(Of course, in a more complex example `memberFoo` (if it weren't final o

[2015-07-25 13:08] ftomassetti commented on #144
I created an initial pull request to get us started: please check my wording... I am not a lawyer and not even a native speaker... in the PR I will share a script to update the test of all source files.

[2015-07-26 06:52] ftomassetti commented on #165
I think that what you are trying to do require a symbol solver. A symbol solver can be built using javaparser in combination to some libraries to examine JAR files because of course you can reference libraries in your source code.

I have been working on building a symbol solver on top of JavaParser as part of [effectivejava](http://github.com/ftomassetti/effectivejava). That piece of code is writ

[2015-07-27 08:58] marcosscriven commented on #165
Thanks @ftomassetti.

I wasn't really looking for anything quite so comprehensive; it's possible to determine the fully qualified name of a class of the method invocation without analysing anything else in the code base or in dependent JARs. I'm not looking to establish _where_ that target class is for my use case, just its name.

Of course the actual object at runtime could be any number of possi

[2015-07-27 13:28] ftomassetti commented on #165
If I understand correctly, given an invocation:

[code]

You want to find the fully qualified named of foo, right?

To do so you need to find the declaration of _foo_. If the _foo_ is a reference to a local variable or a parameter you should not have issues, right? However if it is inherited field you need to find the parent class, which could be a class in a JAR file or anyway a class for which y

[2015-07-28 08:19] maxstreichert opened #167 "Dump tests don't work because of false delimiter support on Windows"
I run junit Tests on eclipse on Windows and some tests fail because of false delimiter support.
The failing tests are all with the dump scenarios and assertions seem always like this:

Expected: is "public class A {\r\n\r\n    Object foo = new Object();\r\n}"
     but: was "public class A {\n\n    Object foo = new Object();\n}"

The reason is that jBehave provides with @Given a string with OS-spec

[2015-07-31 08:39] ftomassetti commented on #167
I suspect most contributors run test under Linux so does also our CI so we did not notice such errors so thank you for reporting them.

Can you tell us which tests exactly are failing? Can you report the error messages?

Thanks!

[2015-08-01 14:23] markzyu opened #168 "Wrong indentation for lambdas with BlockStmt as the body"
I utilize this library to generate source files according to other java files.

Here is part of my generator related to the generation of lambda expressions:

[code]

Here is part of the generated java file (variables' and functions' names are obfuscated):

[code]

[2015-08-01 21:45] ptitjes commented on #168
The problem comes from the `body.toString()` call here: http://git.io/vOG3T

You can easily fix this by replacing lines 1568 to 1573 by:

[code]

And voilà!

[2015-08-02 05:59] markzyu commented on #168
Thanks! I will fix this issue locally, but it would be much appreciated if the issue can be fixed in a later release.

[2015-08-05 08:00] SmiddyPence commented on #164
I'm not against the idea.  I would just be aware that the dependency co-ordinates could get quite confusing for people.

It has already changed from code.google.com to github.com.

If people would like to do it, I would suggest a redirect to the http://javaparser.github.io/javaparser  initially and tie in any co-ordinates to a major change version change.

[2015-08-05 08:07] SmiddyPence commented on #167
Investigating.

Ok I have reproduced on Windows.

Thanks for reporting.

[2015-08-05 08:52] matozoid commented on #164
My neutral reaction is caused by past experiences, where projects were more interested in setting up a fancy website than actually working on the project. So I've learned to keep overhead small to focus on actual useful work.

[2015-08-05 09:20] SmiddyPence commented on #167
Will double check fix on linux later and file pull request.

[2015-08-05 12:49] maxstreichert opened #171 "Spaces in the file path cause a failure in the VisitorTest"
The scenarion "Scenario: A class with many different Java concepts is visited by a VoidVisitorAdaptor" in the VisitorTest throws FileNotFoundException because of the spaces in MY file path.
In SharedSteps.java the command url.getPath() provides a string with %20 instead of spaces. That leads to a failure In the JavaParser.java the FileInputStream constructer, which does not support %20

Possible s

[2015-08-05 13:22] maxstreichert commented on #171
Fixed in the Pull Request #172

[2015-08-07 14:53] ftomassetti commented on #164
I agree that we would not have much time to dedicate to the website. However I am a little concerned that someone could register the name and cause confusion.

[2015-08-07 14:58] ftomassetti commented on #171
The PR has been accepted, thanks!

Closing.

[2015-08-07 14:58] #171 closed, assigned to nobody

[2015-08-07 16:40] ooxi commented on #164
Since no one is opposed to the idea of registering the javaparser.org domain (that does not necessary mean we have to change the Maven artefact coordinates) I would suggest doing so @ftomassetti

[2015-08-07 17:30] SmiddyPence commented on #164
Sure fair point.

[2015-08-08 04:45] kushal256 opened #174 "Error when parsing java/util/Map.java"
This is looking at jdk1.8.0_51\src.zip, at the file java.util.Map.java:

[code]

Here's the exception:
com.github.javaparser.ParseException: Encountered " ">" ">> "" at line 471, column 46.
Was expecting one of:
    ")" ...    "[" ...    "," ...    "[" ...    "," ...    "[" ...    "," ...    "[" ...    "," ...    "[" ...    "," ...    "[" ...    "," ...    "[" ...    "," ...
at com.github.javapars

[2015-08-08 08:21] ptitjes commented on #174
Hi!
I can't find some sources for build 51. I only found sources for build 60 and I had a similar problem while parsing java/util/Comparator.java (see stack trace below). This one for sure is because of #149 (with a fix here: https://github.com/javaparser/javaparser/pull/150) as JLaTo parses it fine.

So looking at your problem, its location and the stack-trace I can only guess that it is the same

[2015-08-08 16:51] kushal256 commented on #174
Yes, you are correct.

I used https://github.com/ptitjes/javaparser/tree/3.0-type-hierarchy-and-annotations and that fixed the problem ;)

Thx very much!  I'll close this issue.

[2015-08-08 16:51] #174 closed, assigned to nobody

[2015-08-08 20:15] ptitjes commented on #174
You're welcome!

Duplicate of #149.

[2015-08-08 21:11] ptitjes commented on #174
@krushal256 Please note that I won't maintain the fixes in https://github.com/ptitjes/javaparser/tree/3.0-type-hierarchy-and-annotations nor will they make their way to javaparser master due to the license change of javaparser.

So I advise you to either use the fix in #150 made by a contributor that agrees with the new license scheme, or to use https://github.com/ptitjes/jlato which correctly par

[2015-08-11 12:14] #167 closed, assigned to SmiddyPence

[2015-08-11 19:30] ftomassetti opened #175 "Update the license section in the POM"
As discussed on gitter

[2015-08-11 19:31] ftomassetti opened #176 "Update the current version in the README"
It would be great to have some sort of macro for that.

[2015-08-11 19:33] ftomassetti commented on #147
This has been done in #161

[2015-08-11 19:33] #147 closed, assigned to ftomassetti

[2015-08-11 19:34] ftomassetti commented on #144
This should be done now. Should we close this one?

[2015-08-11 20:47] matozoid opened #177 "Pom not updated with license change"
We accidentally forgot to change the pom in the licensing change.

[2015-08-11 20:52] matozoid commented on #177
Duplicate of #175

[2015-08-11 20:52] #177 closed, assigned to nobody

[2015-08-12 12:21] SmiddyPence commented on #175
resloved

[2015-08-12 12:21] #175 closed, assigned to nobody

[2015-08-12 12:22] SmiddyPence commented on #144
Dual licensing now available in 2.2.1

[2015-08-12 12:22] #144 closed, assigned to nobody

[2015-08-12 12:23] SmiddyPence commented on #137
Now using this provider:

http://www.javadoc.io/doc/com.github.javaparser/javaparser-core

[2015-08-12 12:23] #137 closed, assigned to nobody

[2015-08-12 12:29] ftomassetti commented on #137
Great stuff!

[2015-08-12 15:41] Legioth opened #180 "Wrong endLine/endColumn for primitive ArrayCreationExpr"
ArrayCreationExpr created for primitive types has its endLine and endColumn set according to the primitive type token instead of the terminating ] token. There's a different projection for non-primitive arrays that seems to get the expected terminating token.

[2015-08-12 19:20] ftomassetti commented on #149
We closed the previous PR because it is probably better to go for a clean solution breaking compatibility

[2015-08-13 07:08] SmiddyPence commented on #180
Thanks for reporting.

I agree the way it works for object types sounds correct.

[2015-08-13 13:41] matozoid commented on #115
That's an incredible amount of work!

[2015-08-14 05:43] ftomassetti commented on #107
Hi @ptitjes . Do you have a patch for this? Do you want to still contribute one or do you prefer not to because of the license change?

[2015-08-14 05:45] ftomassetti commented on #110
This is a pretty amazing list, can I copy it in the wiki?

[2015-08-14 05:47] ftomassetti commented on #111
If we created the TypeBound, could we just remove the `MultiTypeParameter`?

[2015-08-14 05:48] ftomassetti commented on #113
Do we still have performance degradation? I remember we had some pretty awful bubble sort causing troubles but we removed them

[2015-08-14 05:51] ftomassetti commented on #152
A PR has been merged for this, I would close the issue. Feel free to reopen it if you still experience this problem.

[2015-08-14 05:51] #152 closed, assigned to nobody

[2015-08-14 05:51] kashishm opened #181 "Parsing doesn't retain comments if the method has only comments"
#### Original method :

[code]
#### After parsing :

[code]

[2015-08-14 05:53] ftomassetti commented on #181
Thanks for reporting this, I will look into that in the next days (everyone else feel free to jump in if you can look into it sooner)

[2015-08-14 05:56] kashishm commented on #181
In the following example, parsing removes half comments.

#### Original method :

[code]

#### After parsing :

[code]

[2015-08-14 06:13] ftomassetti commented on #181
I think that when dumping we do not print the orphan methods following the last statement of a body declaration.

[2015-08-14 07:06] ftomassetti commented on #168
@C4Phone let us know if we can help with your new PR

[2015-08-14 07:39] ftomassetti commented on #180
PR #182 prepared

[2015-08-14 07:46] SmiddyPence commented on #66
I'll take a look and either way look to close this out.

[2015-08-14 07:48] ftomassetti commented on #66
Thanks! I tried to use coveralls but I did not manage to get a report

[2015-08-14 08:03] ftomassetti commented on #181
PR proposed #183

[2015-08-14 08:33] kashishm commented on #181
Thanks for the quick response and fix.

[2015-08-14 14:23] ptitjes commented on #107
Well, I don't mind helping users and give some advises from time to time when I can, but I won't contribute code because of the license change and because I prefer to use my spare time for JLaTo...

The stuff in the '3.0 type hierarchy...' contains nothing spectacular and you can easily do something similar by yourself. And BTW it has a big performance problem because of the way the lookahead is d

[2015-08-14 14:25] ptitjes commented on #110
Go on. This may need some updates by looking at: http://mvnrepository.com/artifact/com.github.javaparser.

[2015-08-14 14:27] ptitjes commented on #111
You mean UnionType right ? (search the jls for "UnionType") If yes, then indeed you can remove MultiTypeParameter.

[2015-08-14 14:28] ptitjes commented on #113
This performance problem is due to the way the comment parsing and attribution is done.

[2015-08-14 14:31] ftomassetti commented on #113
Sure, it was definitely that but I wonder if the comment parsing is still that slow, after some improvements we have done. If it is not we should close this.

[2015-08-14 14:31] ptitjes commented on #168
@ftomassetti It was #170, and @matozoid already merged it.

[2015-08-14 14:38] ftomassetti commented on #110
Thanks, the initial list is here: https://github.com/javaparser/javaparser/wiki/Projects-using-JavaParser

[2015-08-14 14:40] ptitjes commented on #66
I used JaCoCo for the code coverage of JLaTo (Cobertura does not support Java 1.8) and the coveralls-maven-plugin to extract data from the collected data.

I always build JLaTo for OpenJDK 6, OpenJDK 7, Oracle JDK 7 and Oracle JDK 8 on Travis and the coveralls plugin aggregates the data, some seconds after Coveralls gets notified and generate a report.

You can take a look at JLaTo's [POM](https:/

[2015-08-14 14:41] matozoid commented on #168
Close this then?

[2015-08-14 14:46] ptitjes commented on #113
Well, @andreamattavelli's measurements were in March and I can't remember of improvements made to the comments handling since then.

His results were with latest JavaParser at that time:
- With comments: 1.41s
- Without comments: 0.36s

I suppose that would need to be measured again before closing. Just my say...

[2015-08-14 14:47] ptitjes commented on #168
Closing you can :p

[2015-08-14 14:47] markzyu commented on #168
I am okay with closing this issue.

[2015-08-14 14:49] #168 closed, assigned to nobody

[2015-08-14 15:42] andreamattavelli commented on #113
Hi,
I've just checked the latest version (release 2.2.1) and the timings that I reported in March are in line with what I measured today:
- With comments: 1.446s
- Without comments: 0.343s

Answering @ftomassetti: yes, the parsing of comments it is still slow, compared to March 2015.
Nevertheless, 1.4 seconds are acceptable in my opinion, considering that I am parsing a 2 MB file. Moreover, the ad

[2015-08-14 16:35] ptitjes commented on #113
@andreamattavelli BTW, I took the liberty to include `RandoopTest0.java` in the test suite of JLaTo (https://github.com/ptitjes/jlato/tree/master/src/test/resources/org/jlato/samples). I hope you won't mind.

[2015-08-14 16:38] andreamattavelli commented on #113
@ptitjes No problems at all, that's actually a very good idea.

[2015-08-17 13:29] ftomassetti opened #184 "Ensure JavaParser can parse all the OpenJDK sources"
One of the issues opened refer to a source file from the OpenJDK. I think it can be an interesting test gabench for veryfing JavaParser can parse all files.

It is still running but so far it has parsed over 21.5K files correctly and threw an Exception on 7 of them:
- hotspot/test/runtime/8007320/ConstMethodTest.java
- jdk/src/macosx/classes/sun/font/CFont.java
- jdk/test/java/lang/annotation/Type

[2015-08-17 13:42] ftomassetti commented on #149
A new PR has been presented

[2015-08-17 14:18] SmiddyPence commented on #66
Ta.  Yea you'll need some shenanigans to handle it being multi module.

Coming out at 60%, kind of understandable I think

https://coveralls.io/github/SmiddyPence/javaparser

[2015-08-17 14:20] ftomassetti commented on #184
jdk/src/macosx/classes/sun/font/CFont.java and jdk/test/java/lang/management/MemoryMXBean/CollectionUsageThreshold.java are addressed in #135

[2015-08-17 14:34] ftomassetti commented on #184
jdk/test/java/lang/annotation/typeAnnotations/ConstructorReceiverTest.java seems interesting. It fails on:

[code]

[2015-08-17 14:41] ftomassetti commented on #66
stupid question: is there a way to store a report online, so that it can be used to find out which areas need more testing?
For example I used to run JaCoCo on Jenkind (private instance) and there we could save files so we saved the HTML reports and serve them. I am not sure if we can do something similar using Travis or some specific service.

[2015-08-17 14:46] SmiddyPence commented on #66
Well that is the Coveralls part.  JaCoCo creates and tradition ugly html.  Following the link you should see the stats per class.

[2015-08-17 14:50] ftomassetti commented on #184
To me jdk/test/java/util/WeakHashMap/GCDuringIteration.java seems broken:

[code]

[2015-08-17 16:07] ftomassetti commented on #184
PR #185 should permit to parse hotspot/test/runtime/8007320/ConstMethodTest.java and
jdk/test/java/lang/annotation/TypeAnnotationReflection.java

[2015-08-18 10:52] SmiddyPence commented on #110
Lets close this out, I think people can add to it when then have a few moments and struck by the curiosity of usage.

Personally I would probably just go for groupings of people using 1.x, 2.x etc.  Just to reduce the overhead of maintenance.

Objections to closing?

[2015-08-18 21:07] ftomassetti commented on #110
+1 for closing and I agree with reducing the overhead of the list

[2015-08-19 00:36] octylFractal opened #188 "JavaParser fails on no-modifier methods with annotations"
[code]

Parsing that code throws an exception with `2.2.1`.

[code]

[2015-08-19 01:04] ptitjes commented on #188
I did not yet run your test case against JavaParser, but at a first glance this error seems very strange to me:

The parser sees `<EOF>` at line 2 column 35 but your sample is three lines long and line 2 is 30 columns wide... Didn't you mismatch the error with another test case, or rewrote the test case ?

(JLaTo parses it fine as shown by your test case https://github.com/ptitjes/jlato/commit/7a7

[2015-08-19 01:16] octylFractal commented on #188
Looks like JavaParser might have taken the `\t` as 8 characters, instead of 4? Not sure, that's exactly what I pasted.

[2015-08-19 01:16] ptitjes commented on #188
Well I just tested it on JavaParser/master (which is currently 2.2.1) and it also parses it fine.

@kenzierocks Would you mind doing a test case please so that we can spot what brings this error ?

[2015-08-19 01:18] ptitjes commented on #188
@kenzierocks Our messages colided :p
Then maybe you were missing the ending `}` ?
I mean EOF means end-of-file...

[2015-08-19 01:25] octylFractal commented on #188
Stick this where you want, it should produce it:

[code]

[2015-08-19 01:26] octylFractal commented on #188
Ah, it appears that Eclipse's EOF handling was eating the last bracket. Strange.

[2015-08-19 01:26] #188 closed, assigned to nobody

[2015-08-19 01:28] ptitjes commented on #188
Ah? ok... Glad you solved it! Have a nice day!

[2015-08-19 09:34] SmiddyPence commented on #110
Done

[2015-08-19 09:34] #110 closed, assigned to nobody

[2015-08-20 08:58] SmiddyPence commented on #66
Closing, currently 60% - badged in ReadMe.md

[2015-08-20 08:58] #66 closed, assigned to SmiddyPence

[2015-08-21 20:12] ftomassetti opened #189 "NameExpr should not appear in unrelated node types"
NameExpr is a kind of node representing an Expression but it is useful in different places just a synonim of a Name/QualifiedName. I think this cause confusion. For example when visiting nodes once I find a NameExpr I need to examine the parent to understand if it is a proper NameExpr or just a name in some other context.

[2015-08-21 22:36] ptitjes commented on #189
I had a similar thoughts when I started to work on JLaTo and this made me name them "Name" and "QualifiedName". What are the 'other context's you speak about ? Are you thinking about using <IDENTIFIER> directly for the name of methods in MethodInvocationExpr for instance ?

I'm curious to see what ideas you have to resolve this as I took the reverse approach, in a fit of pique, to remove the 'Expr

[2015-08-22 07:26] ftomassetti commented on #189
NameExpr is used:
- to represent the names of ClassOrInterfaceDeclaration EnumDeclaration
- in ImportDeclaration
- in AnnotationTypeDeclaration
- in PackageDeclaration

and in some other places. I would also just rename NameExpr and QualifiedNameExpr to Name and QualifiedName and introduce a proper NameExpr (probably having as only child a Name) when the name is used as an expression (i.e., when r

[2015-08-24 14:24] SmiddyPence commented on #176
This is the option I can find for this:

https://img.shields.io/maven-central/v/com.github.javaparser/javaparser-core.svg

Any other offers?

Users would have to work out the dependency for their own framework, although we only show maven anyway.

[2015-08-24 15:46] ptitjes commented on #176
Nice badge!

[2015-08-25 07:57] SmiddyPence commented on #180
merged

[2015-08-25 07:57] #180 closed, assigned to nobody

[2015-08-25 08:00] ftomassetti commented on #181
#183 should have fixed this, please re-open or create a new issue if you experience other problems

[2015-08-25 08:00] #181 closed, assigned to ftomassetti

[2015-08-25 08:26] SmiddyPence commented on #189
I don't know the correct answer, but it is something that was not as prevalent in the 1.5 version of the grammar, in most cases name was just a String.

From memory javalang (Walkmod) elected to keep it as a String, or perhaps forked before the change and hasn't found the need to change.  It was probably one of the most distinct divergences between the two grammars.

[2015-08-25 12:48] SmiddyPence commented on #176
Unfortunately it doesn't appear that shields.io is entirely stable.

[2015-08-25 20:53] ftomassetti commented on #189
I think there are benefits in having a node because it has a position. It can be useful if we want to perform space preserving changes or to identify exactly the name in the source code (useful for syntax highlighting I guess). I would just say that we should use NameExpr to indicate an Expression, not a synonim of string.

[2015-08-25 21:50] ptitjes commented on #189
Just a note to say that in JLaTo I did remove all direct `<IDENTIFIER>` references in favor of Names. Even for labels in break and continue. I consider labels to be names.

[2015-08-26 09:59] ftomassetti opened #191 "The TreeVisitor should be moved to the visitor package"

[2015-08-30 10:06] mahendrakariya opened #192 "Comments within methods not getting parsed"
The java class that we want to parse looks like this.

[code]

When we parse this class using `JavaParser.parse`, the comments are ignored.
`CompilationUnit.toString()` prints the following output. Notice that the comments within the method `contextStep()` is not there.

[code]

[2015-08-30 10:17] ftomassetti commented on #192
It seems a duplicate of #181 . Which version are you using?

[2015-08-30 10:24] mahendrakariya commented on #192
Thanks for the quick reply. It is indeed a duplicate of #181. We are using version 2.2.1. Looks like you guys have fixed it in the master, but are yet to release it.

[2015-08-31 07:16] ftomassetti opened #193 "Travis: update configuration to use docker based containers"
The build would start sooner and run faster

[2015-09-01 07:58] emmanueldufour opened #194 "CompilationUnit.tostring() ignores comments"
using javaparser-core 2.2.2
 if I parse a file like

[code]

Then calling `CompilationUnit.toString()` will not output the comment (same as `CompilationUnit.toStringWithoutComments()`

[2015-09-01 08:37] SmiddyPence commented on #193
I'll just push this direct.

[2015-09-02 12:17] SmiddyPence commented on #192
2.2.2 available.

should be resolved.

[2015-09-02 12:19] SmiddyPence commented on #193
Implemented, but duration is slower... although not intolerable.

[2015-09-02 12:19] #193 closed, assigned to SmiddyPence

[2015-09-02 12:40] ftomassetti commented on #193
if duration is slower but the build starts sooner (as claimed in the documentation) that could be positive anyway, I think

[2015-09-02 14:08] mahendrakariya commented on #192
Thanks for making the release. But even in v2.2.2, the issue is not resolved.
Below are the test cases that I tried.

**Case # 0:**
_Comments_ **_are not**_ _getting parsed_

[code]

**Case # 1:**
_Comments_ **_are not**_ _getting parsed_

[code]

**Case # 2:**
_Comments_ **_are not**_ _getting parsed_

[code]

**Case # 3:**
_Comments_ **_are**_ _getting parsed_

[code]

**Case # 4:**
**_Only some

[2015-09-02 14:56] SmiddyPence commented on #192
I suspect they're recorded as orphan comments.

Here is a further explanation:

https://github.com/javaparser/javaparser/wiki/Comments-%28Attribution%29

[2015-09-02 15:05] ptitjes commented on #192
@mahendrakariya DumpVisitor lakes correct printing of so-called 'orphan comments' in many types of AST nodes. It can be fixed by adding calls to printOrphanComments() here and there in DumpVisitor. Note however that this technique is not intended to print out comments, statements and expressions in the order that they were read. Nor is it designed to print out code and comments in the way they wer

[2015-09-03 04:43] mahendrakariya commented on #192
Thanks for the prompt response.

We are trying to get the orphan comments from `MethodDeclaration`, but are somehow unable to. `method.getOrphanComments().size()` is always returning 0. Below is the code. Are we doing something wrong?

[code]

**StepImplementation.java**

[code]

[2015-09-03 05:43] ftomassetti commented on #192
Given this seems not to be solved I will reopen it

[2015-09-03 05:53] ftomassetti commented on #192
@mahendrakariya
The orphan comment in Case #0 is in the body of the comment:

[code]

print:

[code]

Our idea for comments attribution is to make easy to perform refectoring: we associate comments to the thing they are commenting and we move them together. However comments can be everywhere and the ones which are not associated to a particular element have to be treated specifically. I am sorry a

[2015-09-03 05:56] ftomassetti commented on #192
case 1: GOTCHA in com.github.javaparser.ast.stmt.BlockStmt (the body of the method)
case 2: GOTCHA in com.github.javaparser.ast.stmt.BlockStmt (the body of the for loop)
case 3: nothing to check :)
case 4: GOTCHA in com.github.javaparser.ast.stmt.BlockStmt (the body of the for loop)

[2015-09-03 06:19] ftomassetti commented on #192
Ok, I wrote a few additional tests and they are all parsing on master. I think the commit fixing the issue was not part of this release, doing a diff with `git diff master javaparser-parent-2.2.2`

I get:

[code]

~~@SmiddyPence did you do the release from1 master or from branch developing-2.1?
When I sent the PR for #183 I sent it against master instead of the version 2 branch. This probably caus

[2015-09-03 15:03] mahendrakariya commented on #192
Thanks @ftomassetti for trying out all the cases and fixing it. It would be great if a snapshot release is made available until a stable version is released.

[2015-09-14 14:16] wsdjeg commented on #136
mark
EDIT:https://github.com/artur-shaik/vim-javacomplete2/issues/185

[2015-09-17 19:50] cdietrich opened #198 "Add a toString(organizeImports) method"
I'd like to see a toString(boolean organizeImports) method.

[2015-09-17 20:00] ftomassetti commented on #198
Can you give more details? What this method should do? What organizeImports are?

[2015-09-17 20:04] cdietrich commented on #198
it should basically do what organize imports in eclipse does

input

[code]

output

[code]

[2015-09-17 20:16] ftomassetti commented on #198
I see, however I do not think this is something can be done in JavaParser because it would require to solve symbols I think, while JavaParser simply build an AST

[2015-09-17 20:17] cdietrich commented on #198
so the parser still uses heuristics at some places where one can only know at bind time what is a type and what not?

[2015-09-17 20:41] cdietrich commented on #198
i just gave it a try with a bit more complex example and saw it will not work indeed

[2015-09-17 20:44] ftomassetti commented on #198
We could to that in [java-symbol-solver](https://github.com/ftomassetti/java-symbol-solver) which is a symbol solver built on top of JavaParser

[2015-09-17 20:51] cdietrich commented on #198
i will have a look at that.

[2015-09-17 21:02] cdietrich commented on #198
our current jdt based solution uses naming conventions instead of bind to distinct typenames and fieldnames etc

[2015-09-18 14:39] SmiddyPence commented on #176
This may be better:

https://maven-badges.herokuapp.com/maven-central/com.github.javaparser/javaparser-core/badge.svg

[2015-09-21 06:14] ftomassetti commented on #198
I am not sure I get it, could you please add more details?

[2015-09-21 06:15] ftomassetti commented on #176
Looks good to me

[2015-09-21 06:21] cdietrich commented on #198
if you have a method like

[code]

we use a heuristic to find out that a.b.C is a type and not a chain of field calls with the name C breaking java naming conventions

[2015-09-25 05:02] JLLeitschuh opened #199 "comment after method param but before parentheses incorrectly associated."
Originally declared:

[code]

Given the preceding example the comment `/*=3*/` is being associated with `int borderType`.
Meanwhile `/*=cv::BORDER_DEFAULT*/` isn't associated with anything.
Unsure how to resolve this problem as the entire library that I'm parsing is written this way.

After parsing it becomes (new lines have been retained):

[code]

I can't even get the `/*=cv::BORDER_DEFAULT*/` a

[2015-09-25 06:26] ftomassetti commented on #199
This is not trivial to solve I think. Associating comments to node is based on a few heuristics.

Now, the comment `/*=3*/` is not inside the formal parameter definition `int ksize` because that definition ends at the identifier. It is instead inside the `FormalParameters` node, representing the whole list of parameters. It precedes the node of the following `FormalParameter` (borderType) so it is

[2015-09-25 11:50] ftomassetti commented on #199
We could verify if a comment is followed by a comma or an open parenthesis and in that case associate it with the node preceeding it

[2015-09-25 16:22] JLLeitschuh commented on #199
Alternatively, I could preprocess the input text and rearrange it as necessary so the parser will read it correctly. I'm not sure if I can figure out a regex that will do this well though.

[2015-09-25 20:53] JLLeitschuh commented on #199
I found a solution that works for my particular case.
I basically hijack the input stream, rewrite it as it comes in and provide the parser with what it expects.

[code]

[2015-09-29 16:31] JLLeitschuh opened #200 "Comments/javadocs comments being added inline with previous node"
When I add a comment to a node (for example to a `EnumConstantDeclaration`) the comment gets added to the line above without a newline being added.
This causes the comments to come out in a very confusing format.
Is there any good way to add newlines?

[code]

Additionally, if you add comments inside of method calls it ends up coming out looking very unusual:

[code]

Perhaps a good way to fix thi

[2015-09-30 09:35] cdietrich opened #201 "Make DumpVisitor subclassable"
it would be nice if DumpVisitor would not be final and SourcePrinter Subclassable (see #202) as well

[2015-09-30 09:36] cdietrich opened #202 "DumpVisitor: Tabs vs. Spaces"
It would be nice if i could configure if the dumpvisitor uses tabs or spaces for indentation

[2015-10-02 10:05] andreasschrade opened #204 "Exception when parsing a String literal which contains /*"
Hello all,

I really honor your great work and would just leave a small issue.
I get an exception when I try to parse the following snippet inside a method:

[code]

The snippet results in:

It looks like that the (duplicated) occurence of "/*" breaks the javaparser.

Any feedback about that issue would be really really great.

Many thanks in advance.

Regards,
Andreas

[2015-10-02 10:40] ftomassetti commented on #204
Thank you for the nice words and for reporting the issue: it is really important for improving JavaParser.

I could not reproduce this issue with the current version from master and your stack trace report line _CommentsParser.java:23_ which currently is a blank line:

https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/comments/CommentsPars

[2015-10-02 12:46] #201 closed, assigned to nobody

[2015-10-03 16:28] sebkur opened #205 "Low level Token usage"
I would like to perform some rather low level operations on Java source code for which I need access to the tokens that the parser encounters when building the syntax tree.

I need this, because I am creating views of source files with highlighting and links, but need to keep the original formatting of the code intact. I know, there is the `DumpVisitor` for pretty printing, but I think it is not p

[2015-10-03 16:47] ptitjes commented on #205
Hi sebkur,
I implemented full lex-preservation with techniques similar to what your are talking about some months ago on JavaParser. You can find it here :
https://github.com/ptitjes/javaparser/tree/lex-preserving
Note that this code is still **LGPL only**!

Tokens (I call them `Lexeme`s) are organized as a doubly-linked list with `Node`s' having pointers to `begin` and `end` tokens (by extending

[2015-10-04 16:20] ftomassetti commented on #205
@sebkur I personally think it would be a nice addition to have access to the list of tokens and in my opinion it would be in scope with the mission of JavaParser. Would you consider submitting a PR? I think it would be greatly appreciated!

[2015-10-05 13:47] andreasschrade commented on #204
Thanks for your fast reply.
You are right! I updated to the latest release version and everything works fine now.

Sorry for the false alarm.

Regards,
Andreas

[2015-10-05 15:28] ftomassetti commented on #204
No problem, I am happy you could solve this one!
I guess we can close this issue.

[2015-10-05 15:28] #204 closed, assigned to nobody

[2015-10-06 07:39] ftomassetti commented on #54
I think we have done this in the end, closing

[2015-10-06 07:39] #54 closed, assigned to nobody

[2015-10-06 07:41] ftomassetti commented on #113
I think we can close it for now, and when we have time optimize the comments attribution. We went already from 111.8 seconds to 1.4 and comments parsing can be disabled anyway.

[2015-10-06 07:41] #113 closed, assigned to nobody

[2015-10-06 07:43] ftomassetti commented on #115
Should we update this one and open the corresponding issues for each feature? I think there are several interesting ideas, I am just not sure we can put together all the hours needed for implementing all of this so we should probably select some ideas and establish priorities.

[2015-10-06 07:44] ftomassetti commented on #165
I think we should have questions like this inserted in the documentation/F.A.Q.

[2015-10-06 10:54] sebkur commented on #205
Just created a PR: https://github.com/javaparser/javaparser/pull/207

[2015-10-06 11:32] sebkur commented on #205
@ptitjes thanks for your information, sounds interesting

[2015-10-07 10:25] penguinized opened #208 "No access to attributes?"
I fail to access attributes and their JavaDoc. Can you tell me what I do wrong?

[code]

shows the class and the contained methods.. but no attributes or their JavaDoc!

[2015-10-07 11:29] ftomassetti commented on #208
This seems strange. Which attributes are you looking for? Can you share the code you were parsing? Which version of JavaParser are you using?

[2015-10-07 15:51] penguinized commented on #208
I am very sorry, I was plain stupid. I tried to access the wrong file (in my old project folder which did not use Maven.). The correct path to the file works. (Version 2.2.2)

[2015-10-07 15:51] #208 closed, assigned to nobody

[2015-10-07 15:56] ftomassetti commented on #208
No problem, thank you for reporting this anyway and if you have other issues let us know: we are here to help

[2015-10-08 08:34] cdietrich opened #209 "JavaParser and Unicode Escaping"
Hi

is it intended that parsing and serializing turns

[code]

into

[code]

[2015-10-09 06:33] ftomassetti commented on #209
This one is interesting. Right now the DumpVisitor aims to produce a sort of canonical form of the source code, so I guess it could make sense to transform the first one in the later or viceversa.
However javac would read the code using the default encoding for the platform unless it is told to do otherwise:

[code]

(See: http://docs.oracle.com/javase/8/docs/technotes/tools/windows/javac.html)

W

[2015-10-09 06:34] ftomassetti commented on #209
And thank you for reporting this one!

[2015-10-09 09:53] versusvoid opened #210 "ClassCastException on equals() of two ClassOrInterfaceDeclaration"
[code]

when calling `equals()` on two different parses (but both were parsed as ClassOrInterfaceDeclaration) of:

[code]

Parses were obtained directly from `ASTParser.AnnotationBodyDeclaration()` and `ASTParser.ClassOrInterfaceBodyDeclaration(false)` through reflection.

version 2.2.2

[2015-10-09 10:37] ptitjes commented on #209
Note that the problem comes from javacc which tries to comply to the Java Language Specification (see javacc docs here: https://javacc.java.net/doc/javaccgrm.html#prod6). As `JAVA_UNICODE_ESCAPE` is set to true in the grammar, unicode `\u` escaping is done before lexical analysis as specified by the JLS (beginning of the spec 'Lexical structure' or something like this - can't reference it with my

[2015-10-14 03:25] JLLeitschuh opened #211 "StringLiteralExpr with newlines prints literal newlines in generated file"
When generating a `StringLiteralExpr` with newlines in the string instead of having the `\n` character the string actually generates on a newline which is not valid java syntax.
Example output:

[code]

[2015-10-14 03:32] JLLeitschuh opened #212 "TryStmt throws null pointer if setResources is not called"
If you create a `TryStmt` without calling `setResources(Collections.emptyList())` the to string dump visitor throws a null pointer exception.
This line:
https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/DumpVisitor.java#L1420
Should check for null as well as if empty.

[2015-10-14 11:20] ftomassetti commented on #212
As discussed in the PR this behavior should be fixed in master, bacause we now use lazy initialized lists everywhere. I would then close this one if this is ok for everyone.

[2015-10-14 11:20] ftomassetti commented on #211
this one sounds really bad... thanks for reporting it!

[2015-10-14 11:21] ftomassetti commented on #210
Thanks for reporting this one, we will look into this

[2015-10-14 19:00] JLLeitschuh commented on #212
It may be better if you were to start using the java util `Optional` for variables that are optional.
https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html

[2015-10-14 20:35] ftomassetti commented on #212
Unfortunately we cannot use Optional because we have decided to be Java 6 compatible for now. However many lists are conceptually empty but just not instantiated to save memory: in an AST we tend to generate tons of objects and for performance reasons lists are instantiated only when required.

The project has a few years and some decisions could be revised but this is the historical overview :)

[2015-10-14 20:58] JLLeitschuh commented on #212
Good to know. Thanks!

[2015-10-14 21:07] ftomassetti commented on #212
Thank you for your help and your interest in JavaParser. It is really appreciated: we need fresh blood :)

[2015-10-15 03:08] JLLeitschuh commented on #212
I'm using your library heavily in my Major Qualifying Project for Worcester Polytechnic Institute as a code parser and generator for OpenCV. After initially figuring out how to use the library I'm finding it quite intuitive.

I like how easy it is to use constructors within constructor calls to get the desired code.
When combined with the new Java 8 List streams the code becomes really easy to wri

[2015-10-15 06:41] ftomassetti commented on #212
Yes, I love the Java 8 features (I am using them everywhere but in JavaParser). Hope it helps you. I also used a lot of code generation in my thesis but at that time I did not know JavaParser. I wish I did :)

[2015-10-15 09:00] JanBessai opened #214 "2.2.3 Release Request"
I'm currently implementing a wrapper of your AST from and to Scala (using case-classes there, so I can later work with the tree in [Kiama](https://bitbucket.org/inkytonik/kiama)). The [commit](https://github.com/javaparser/javaparser/commit/0429bcc9e404386bd6dfb6480a6ff2a7fb4882d0) to ensure that unused arguments are not `null` is extremely helpful for what I'm doing.
Could you please release a ve

[2015-10-15 09:13] ftomassetti commented on #214
I also think that it is time for a new release: we had quite a few changes lately. I will ping the other contributors on the gitter channel.

[2015-10-16 07:02] ftomassetti commented on #214
PR for preparing release in #215

[2015-10-16 07:10] JanBessai commented on #214
This is great, thanks :+1:

[2015-10-16 16:17] JanBessai opened #216 "Use of Java 8 Optional"
I think the API might get much cleaner, if you used Java 8 [Optionals](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html) instead of `null`. The rational is explained [here](http://www.oracle.com/technetwork/articles/java/java8-optional-2175753.html). A good showcase is [MethodCallExpr](https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/ja

[2015-10-16 16:34] ftomassetti commented on #216
This is currently not possible because JavaParser is compatible with JDK6+
While it could make sense in the future move to Java 8 at the moment we decided to support those older versions of the JDK

[2015-10-17 00:56] alechenninger commented on #216
A good compromise is to use JSR-305 annotations such as `@Nullable`

[2015-10-17 06:45] ftomassetti commented on #216
thanks @alechenninger we will look into that

[2015-10-19 16:20] ftomassetti commented on #214
This has been released as JavaParser 2.3.0. Available in the best repositories since... now.

[2015-10-19 16:21] #214 closed, assigned to nobody

[2015-10-20 10:05] mahendrakariya commented on #192
Are there any updates on this issue?

[2015-10-21 12:03] olivergondza opened #217 "TypeDeclaration is not a DocumentableNode"
What I am trying to do is following:

[code]

[2015-10-21 20:55] ftomassetti commented on #217
TypeDeclaration is not documentable but all of its subclasses are DocumentableNode. It could make sense to make it implement DocumentableNode directly for this specific usage scenario.

Thanks for reporting this!

[2015-10-21 21:07] ftomassetti commented on #192
Hi, I think all these issues should be solved with the current release. I have also created additional tests to verify these scenarios (#195) and it seems to me that they are passing. Could you please show me which code is not working as expected?

[2015-10-24 19:48] vporoxnenko opened #220 "equals and hash code required to work with collections"
let's say we have lines of code

final ClassOrInterfaceType c = new ClassOrInterfaceType("com.blabla.MyClass");
ClassOrInterfaceDeclaration type = ....
calling "type.getExtends().contains(c)" we'll never get "true" cos equals and hashCode methods are not declared for ClassOrInterfaceType

the same problem for other entities like BodyDeclaration, EnumDeclaration, etc

[2015-10-24 20:45] vporoxnenko opened #221 "find by name functionality"
I can't check does method have annotation I want or class extends interface I want in easy way. I should scan whole collection manually. I t would be nice to have method which will do that

[2015-10-26 10:55] ftomassetti commented on #221
I agree but please consider that you would be able just to find classes which _directly_ implements a certain interface. To find classes which indirectly implement it you would need to resolve types, which is not the goal of JavaParser (it just produces an AST).

I think some utillity class with methods to find nodes on an AST would be useful but I am not sure it should be done in JavaParser or as

[2015-10-26 12:04] olivergondza opened #222 "Get fully qualified symbol name for classes/methods/fields"
I am looking for a way to generate fully-qualified symbol name. Perhaps there is a way to do so and I just missed that. Something like:

[code]

[2015-10-26 12:13] ftomassetti commented on #222
If you mean that given a method or a field definition you want to find the fully qualified name then yes, you can do that using JavaParser (read below). If you instead want to find the fully qualified name for a method call or a field reference than no, you cannot do that because you would need a symbol resolver to do so.

To find the fully qualified name from a definition I do not think there is

[2015-10-26 12:28] olivergondza commented on #222
I was hoping there ware a convenience method for that already. Let me see if I can come up with something reusable.

[2015-10-26 14:51] vporoxnenko commented on #221
sure, parser shouldn't search sub-interfaces, but currently I have manual search only. I can't even use collection.contains(nameexpressioniwant), because of #220

[2015-10-26 15:24] lukasonokoleg opened #223 "ASTParser and ParserException is missing"
Hello guys in last revisions you forgot to commit ASTParser and ParserException classes.

Thank  you!

[2015-10-26 15:28] ftomassetti commented on #223
hi @lukasonokoleg thanks for reporting this! Those files are generated by Javacc. If you use maven run `maven compile` and they will appear under target/generated-sources/javacc

[2015-10-26 15:30] lukasonokoleg commented on #223
Than I do not know what is wrong. I run maven compile through eclipse, and int does not generate.

[2015-10-26 15:33] ftomassetti commented on #223
perhaps Eclipse is not doing what is supposed to do... have you tried running mvn compile and mvn test from the command line, outside Eclipse?

[2015-10-26 15:33] lukasonokoleg commented on #223
Nope, I thought that it should run through eclipse.

[2015-10-26 16:15] lukasonokoleg commented on #223
Just tried to do the same outside the eclipse with mvn VIA command line ---> Compilation failed as ASTParser and other classes did not generated.

[2015-10-26 16:19] ftomassetti commented on #223
This is very strange because Travis is compiling fine the current master version. Looking at its script it runs:
- mvn install -DskipTests=true
- mvn test

Stupid question: are you sure are you up-to-date with the repository and origin is pointing to the right place?

[2015-10-26 16:20] lukasonokoleg commented on #223
I've downloaded the master.

[2015-10-26 16:25] lukasonokoleg commented on #223
Well, as I see you are generating java_1_8.jj file ---> But eclipse does not read it.

[2015-10-26 16:34] lukasonokoleg commented on #223
Well I managed to build a jar, but there is another question:

Which IDE you would suggest for developing this project? Like what are you using?

As with eclipse, I can only write additional code, but I will still have to run compile and install via command line :) It is not comfortable :)

[2015-10-26 16:44] ftomassetti commented on #223
I am currently using IntelliJ. If you want to just use JavaParser you can download the Jar using Maven (or just manually from Maven central). Otherwise I suggest you use IntelliJ. Note that once you have generated ASTParser and the other classes you could need to tell to your IDE to consider target/generated-sources/javacc as a directory containing source files. After that you can probably just us

[2015-10-26 17:02] lukasonokoleg commented on #223
Maybe you know how to specifie in jav1_8.jj specifik package name, where new classes should be generated?  --- no need got it.

[2015-10-26 17:18] lukasonokoleg commented on #223
So full solution for developing in eclipse is

---> Adding JavaCC plugin
---> Generating missing missing classes
---> Putting them into required folders.

Then you can flexibly develop in eclipse.

Thx for help.

[2015-10-26 17:18] #223 closed, assigned to nobody

[2015-10-26 17:34] ftomassetti commented on #223
No problem, I am glad you have it working. Let me know if you need more help. We have also a gitter channel where you can ask for help. You find the link in the README.
Cheers!

[2015-10-27 11:18] olivergondza commented on #222
After some digging in this I found out it is not really possible. Consider `void foo(List a){}` method. It is not possible to resolve `List` to fully qualified name without inspecting imports. Not even that in case of star imports are used.

@ftomassetti, thanks for the hint. Feel free to close this if you think it is worth to implement something similar.

[2015-10-27 15:41] ftomassetti commented on #222
For such things you need to use a symbol solver for Java. I wrote one on top of Java parser (https://github.com/ftomassetti/java-symbol-solver) but it still need some polishing

[2015-10-28 17:33] ftomassetti commented on #145
We could not generate the same binary name the compiler generates for anonymous classes because that is arbitrary:
`The binary name of an anonymous class (§15.9.5) consists of the binary name of its immediately enclosing type, followed by $, followed by a non-empty sequence of digits.`

However it would make sense to generate it for the other cases

[2015-10-28 18:34] ftomassetti commented on #160
I am sorry it took so long but we have now a PR to fix this

[2015-10-28 18:36] ftomassetti commented on #176
This has been solved by @SmiddyPence , closing

[2015-10-28 18:36] #176 closed, assigned to nobody

[2015-10-28 18:38] ftomassetti commented on #198
I missed the answer. Yes it works... until people respect naming conventions and it is definitely much easier to do :)

[2015-10-28 19:57] lamvak commented on #145
It's rather an important part of the language.
The binary name for anonymous class - of course you can (and should) generate it. What Java specification gives you is flexibility, not constraint. So it should be easier, not harder. The only constraint is that within one parsing activity you should return the same name for the same anonymous class - as the definition is anonymous it matters_only_ins

[2015-10-28 20:02] ftomassetti commented on #145
yes, you know that, but my concern is that many users could be surprised that the name we generate is not necessarily the same name generated by the Java compiler. Of course we could document that but... not many users read the documentation :)

[2015-10-28 21:07] ftomassetti commented on #212
I think this one can be closed now. Let's reopen it if I was wrong.

[2015-10-28 21:07] #212 closed, assigned to nobody

[2015-10-28 21:55] JLLeitschuh opened #225 "BREAKING: Lazy loading list breaks DumpVisitor 2.3.0"
Many of your checks in the dump visitor check that the list isn't null but don't check that the list or element contained isn't subsequently empty.

Particular offenders:
### Bug 1

https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/DumpVisitor.java#L1233
Code:

[code]

Result:

[code]
### Bug 2

https://github.com/javaparser/javapa

[2015-10-29 07:14] ftomassetti commented on #225
Thank you. I would say that the code was already broken before lazy loading: empty lists should have been considered and they did not. It is true that lazy loading lists make this issue very relevant. In some parts of the code we used to do checks with the method `isNullOrEmpty`, now that lists are lazy loaded checking justs for empty lists should be enough.

I think the best course of action is f

[2015-10-29 19:57] ftomassetti commented on #211
Ok, but it is not a StringLiteralExpr that you obtained from parsing, right? It is something you instantiate explicitly? Perhaps we should add a check to prevent literals with newlines to be created

[2015-10-29 20:02] JLLeitschuh commented on #211
No. This is a string like

[code]

How would someone create a literal string with newline characters in it?
I think the input string needs to be escaped.

[2015-10-29 20:02] ftomassetti commented on #211
Yes, inded in #227 we add a check to throw an exception if you try to create a StringLiteralExpr with an unescaped newline

[2015-10-29 20:03] ftomassetti commented on #211
We could perhaps also add a method to escape the String for you

[2015-10-30 03:57] JLLeitschuh commented on #211
That would be helpful.

[2015-11-02 05:21] mahendrakariya commented on #192
Very sorry for a delayed response. Was stuck with something else.
This issue is resolved in v2.3.0.

Thanks a lot!

[2015-11-02 07:19] ftomassetti commented on #192
No problem, I am just happy it works now. I am sorry it took a while,next time we will react faster.

[2015-11-02 20:33] SmiddyPence commented on #115
I have moved this to the wiki for posterity.  [Roadmap](https://github.com/javaparser/javaparser/wiki/Roadmap)

Some of the items will come out in the wash with existing issues, there are also a lot of additional bugs that have come to light from users since the explicit mention on the googlecode site.

[2015-11-02 20:33] #115 closed, assigned to nobody

[2015-11-02 23:59] dorkbox opened #228 "new project that uses javaparser"
JavaBuilder : https://github.com/dorkbox/JavaBuilder uses javaparser to find the dependencies for compiling source files.

[2015-11-03 08:21] #217 closed, assigned to nobody

[2015-11-03 15:34] ftomassetti commented on #228
Thank you for reporting this! I will add it in the wiki

[2015-11-03 15:37] ftomassetti commented on #228
And it is now listed here: https://github.com/javaparser/javaparser/wiki/Projects-using-JavaParser

Thank you again and keep up the good work!

[2015-11-03 15:37] #228 closed, assigned to nobody

[2015-11-09 12:29] cdietrich opened #231 "DumpVisitor wrong for Enums"
public enum ABC {} is serialized as public enum ABC implements {}

[2015-11-09 13:39] ftomassetti commented on #231
This is probably due to our recent adoptiion of lazily initialized lists: it was a massive refactoring which affected the whole codebase and we missed a few points, including this one.

Thank you for reporting this, we will fix this and add more tests.

[2015-11-09 13:45] #225 closed, assigned to nobody

[2015-11-09 13:46] ftomassetti commented on #231
This could have been fixed by #226 (which we just merged). Ideally we should still add the tests to prove that before closing this issue.

[2015-11-09 19:16] cdietrich commented on #231
yes and now. the import one is fixed. but there is a new one

[code]

gets

[code]

the empty statement should not be serialized

[2015-11-10 08:20] ftomassetti commented on #231
Thank you for reporting this. A PR has been proposed to address it (with a specific test to prevent regressions)

[2015-11-10 12:01] trew opened #233 "Extra whitespace in DumpVisitor for ConstructorDeclaration"
https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/visitor/DumpVisitor.java#L969

`n.getTypeParameters()` will never return null. It should be `if (!n.getTypeParameters().isEmpty())`.

[2015-11-10 12:12] ftomassetti commented on #233
Thank you for reporting this: we recently stopped using null lists and started using lazy initialized lists, so there are a few issues of this kind to solve.
We will fix this as soon as possible.

[2015-11-11 08:47] cdietrich opened #234 "DumpVisitor loses comments"
[code]

gets

[code]

[2015-11-11 16:05] vasidzius opened #235 "Remove Nodes"
Hello,

I totally cant find information how to correct delete node from Compilation Unit

visitor method:
public void visit(VariableDeclarationExpr vd, Object arg) {
}
How to remove actually visited node (vd)?

Thx for help :)

[2015-11-11 17:21] ftomassetti commented on #235
I think you may want do that from the parent. Unfortunately it means it depends which parents contain this node and under this relation.

The first thing is to find the parent of the node (see [getParentNode](http://static.javadoc.io/com.github.javaparser/javaparser-core/2.3.0/com/github/javaparser/ast/Node.html#getParentNode--)). The parent of an expression could be for example an [ExpressionStmt

[2015-11-12 16:27] vasidzius commented on #235
I tried do as you had written but failed.

Maybe you could suggest why?

I have a simple file.txt which I parse:

public class DeadCode {
    public void foo(int e) {
        int a = 20,
                b = (e > 0 ? e : 43) % 10,
                c = a + b,
                d = e > 0 ? c : c + a;
    }
}

And I want to make optimization  - find all Declarators like "a=20" and substitution to other c

[2015-11-13 12:22] vasidzius commented on #235
@ftomassetti

I figured out. Finally I encoded the post  here https://code.google.com/p/javaparser/wiki/UsingThisParser   . As  I understand the author is creator of JavaParser

"Hi Mariusz, you could write a visitor who returns null in that method, and the other methods changes the nodes with the returned value, like this:"

It means that one have to use ModifierVisitorAdapter instead of VoidVisi

[2015-11-13 12:35] ftomassetti commented on #235
Right, I did not think about this solution. I agree that it should be inserted in our manual. If you had the time to insert it here https://github.com/javaparser/javaparser/wiki/Manual it would be great, otherwise we will try do that ourselves as soon as we can. Thank you!

[2015-11-13 12:58] vasidzius commented on #235
Done.

[2015-11-13 12:58] #235 closed, assigned to nobody

[2015-11-13 12:59] ftomassetti commented on #235
Thank you!

[2015-11-20 08:38] cdietrich commented on #234
i did some debugging. the comments are in orphan comments.
i used that as a workaround in a patched dumpvisitor.

[2015-11-23 09:45] ftomassetti commented on #234
Yes, orphan comments can be in the weirdest places and we do not consider all of them. I am not sure if we should cover this case.

[2015-11-24 15:33] larsac07 commented on #124
How can I help? Using javaparser in my master's thesis, and need lexical preservation for marking findings correctly in an editor.

[2015-11-24 15:40] ptitjes commented on #124
@larsac07 I do not contribute to JavaParser anymore as it moved to dual-license with Apache License. As you are doing research, I see no problem that you use my LGPL-only clone in its lex-preserving branch (https://github.com/ptitjes/javaparser/tree/lex-preserving). As an alternative, you can use another of my projects (https://github.com/ptitjes/jlato) that also is LGPL-only, has lexical preserva

[2015-11-24 15:44] rpau commented on #124
@larsac07 I have also lexical preservation for the walkmod project at https://github.com/rpau/javalang
It has LGPL v3.

[2015-11-24 15:46] ptitjes commented on #124
@rpau Wrong URL! I guess you meant https://github.com/rpau/javalang, right ?

[2015-11-24 15:46] ftomassetti commented on #124
Hi @larsac07, if you intend to contribute to JavaParser I would be glad to discuss with you and help. For the sake of clarity, jlato is unrelated to JavaParser (it is a different project, a "competitor" if you want).

Consider that while we do not store whitespace we store the position of elements in the original source code.

JavaParser is currently a mature project, with an extended userbase and

[2015-11-24 15:55] rpau commented on #124
@ptitjes yes, sorry :) I have upgraded the comment

[2015-11-24 16:02] ptitjes commented on #124
@rpau :p BTW, how much lexical preservation do you have ? Can you parse a file, modify the ast and write it back as it was (modulo the changes) ?

[2015-11-24 16:05] ftomassetti commented on #124
Perhaps you can discuss the differences between your own projects on a different venue :)
I think it is fair to point to their existence but this a page of the JavaParser project.

[2015-11-24 16:13] rpau commented on #124
No problem @ftomassetti :-)

[2015-11-25 09:05] larsac07 commented on #124
Thank you, guys! This really helps. @ptitjes and @rpau, I will have a look at your suggested repos. @ftomassetti, thank you for clarifying this. I must have missed that while experimenting.

Still, LP would be very helpful, so any suggestion as to where the problem lies would be much appreciated. If I find a solution, I can contribute my findings and make a PR if desirable.

[2015-11-26 18:04] ftomassetti commented on #124
I think JavaParser can be used for many different goals and not in all fo them PR makes sense. For example, if I have this statement:

[code]

and I remove `2*3`, what happens?
Should I get:

[code]

or:

[code]

I do not know and I think there are many cases which are not obvious. Another example:

[code]

If I add a statement in the function `foo`, how much should I indent it? Should I use some

[2015-11-26 20:17] ptitjes commented on #124
@ftomassetti
The white-space you give in your first example can either be attached to the `+` expression itself as a separator between the operator symbol and the right operand, be attached to the previous `+` symbol directly, be attached to the following `2 * 3` expression, or be split in two with one part being attached to the `+` symbol and the other to the right operand.

As for the AST modifi

[2015-11-27 10:01] ftomassetti commented on #124
My point was simply to present some examples to make clear that whitespace preservation is not trivial when the code is modified. Decisions have to be made and there are not clear cut rules.

If your comments help @larsac07 then I am thankful for them.

[2015-11-28 11:55] Echogene opened #236 "Parameters passed into super constructor call go missing"
Am I correct in my expectation that `JavaParser.parseExpression("super(foo)").toString()` should be `"super(foo)"`?  It comes out as `"super"` instead.  Is there a way around this?

[2015-11-29 12:26] matozoid commented on #124
For me the usual thing goes: what is lost cannot be regained. Once information about the original look of the code is thrown out, it cannot be put back in place. So if we want to have lexical preservation as something optional, then it should be built into the core with a pretty printing step after it by default. When you turn pretty printing off, you will have your original formatting again.

The

[2015-11-30 08:01] ftomassetti commented on #236
Thank you for reporting this. It seems something is wrong.

[2015-11-30 08:47] ftomassetti opened #237 "Refactor ReferenceType"
Refactor ReferenceType to do one thing (contains annotations) instead of two (containg annotations and array modifiers).

This is a follow-up of #187

[2015-11-30 08:51] #231 closed, assigned to nobody

[2015-11-30 18:54] SmiddyPence commented on #198
Re-closing, beyond the scope of the project.

[2015-11-30 18:54] #198 closed, assigned to nobody

[2015-11-30 18:58] SmiddyPence commented on #22
I think we have discussed this at length now and it is generally agreed that this would be part of a separate library with similar language tools.

[2015-11-30 18:58] #22 closed, assigned to nobody

[2015-12-02 15:17] matozoid commented on #164
Did anything happen since August?

[2015-12-02 15:23] matozoid commented on #202
This one was done together with #201

[2015-12-02 15:23] #202 closed, assigned to nobody

[2015-12-02 15:33] ooxi commented on #164
@ftomassetti would you register javaparser.org?

[2015-12-02 15:44] ftomassetti commented on #164
I have done it now

[2015-12-02 15:48] ooxi commented on #164
Thats great news :)

[2015-12-02 15:50] matozoid opened #238 "Recreate Intellij formatting settings file"
The one that is in dev-files right now is either unusable in newer intellij's, or I just don't know how to import it.

[2015-12-02 15:51] ftomassetti commented on #134
It took a while but it should have been fixed by #135 so I am going to close this one, please do not hesitate to reopen if the problem is still present

[2015-12-02 15:51] #134 closed, assigned to ftomassetti

[2015-12-02 18:47] SmiddyPence commented on #238
Think you need to move it on the file system:

[code]

Something like that, then restart IntelliJ and `Settings -> Editor ->Code Style -> Java` then in the Scheme drop down.

[2015-12-09 14:26] larsac07 commented on #124
Thanks for more info. @ftomassetti, I'm not sure you actually store the original position of elements correctly. The line number is always correct, but columns seem to consider a tab character as 8 spaces. Take a look at this example:

[code]

Is this intended behavior?

[2015-12-10 07:44] ftomassetti commented on #124
Well, the same tab can be represented as any number of spaces so we have been using the arbitrary value 8. I am not sure what other options there are

[2015-12-10 23:27] larsac07 commented on #124
I see, of course. This is different for each IDE, right?

It could be solved with an option for how many columns a tab character is, I guess, but at the same time, that could clutter the API for such a small detail.

[2015-12-12 22:22] JamesXNelson commented on #221
It is often preferable to take the generated "raw" ast of a parser, and use that to construct a rich API where everything is mapped nicely to do type / annotation searches.

The parser should concern itself with just one thing: Correctly translating text into objects representing the structure you are describing.  Assembling type maps of all interfaces (and subinterfaces) is beyond the scope of wh

[2015-12-13 09:45] vporoxnenko commented on #221
got yours point
but #220 is still mandatory feature ))

[2015-12-13 09:45] #221 closed, assigned to nobody

[2015-12-14 09:20] ftomassetti commented on #124
Not just every IDE, every user can typically configure that value and set it to 1, 3, 4, 8, one billion. I think it would make sense to make the value configurable also in JavaParser (if it is not already configurable)

[2015-12-14 09:30] #210 closed, assigned to ftomassetti

[2015-12-14 09:43] ftomassetti commented on #221
@JamesXNelson I agree with your vision and I encourage to release early your project. I have built myself something similar and perhaps we can collaborate in some way. In any case I think JavaParser could benefit from your project so I think we should help you promoting it. I hope to see it soon!

[2015-12-14 12:14] matozoid opened #242 "@FunctionalInterface annotation should be used to flag Single Abstract Method interfaces"
A Single Abstract Method (SAM) interface is a Java interface containing only one method. The Java API is full of SAM interfaces, such as java.lang.Runnable, java.awt.event.ActionListener, java.util.Comparator and java.util.concurrent.Callable. SAM interfaces have a special place in Java 8 because they can be implemented using Lambda expressions or Method references.

Using @FunctionalInterface for

[2015-12-14 12:15] matozoid opened #243 "@Override annotation should be used on any method overriding"
Using the @Override annotation is useful for two reasons :

It elicits a warning from the compiler if the annotated method doesn't actually override anything, as in the case of a misspelling.

It improves the readability of the source code by making it obvious that methods are overridden.

[2015-12-14 12:15] matozoid opened #244 "Collection.isEmpty() should be used to test for emptiness"
Using Collection.size() to test for emptiness works, but using Collection.isEmpty() makes the code more readable and can be more performant. The time complexity of any isEmpty() method implementation should be O(1) whereas some implementations of size() can be O(n).

[2015-12-14 12:15] matozoid opened #245 "Redundant Field Initializers"
Java will initialize fields with known default values so any explicit initialization of those same defaults is redundant and         results in a larger class file (approximately three additional bytecode instructions per field).

[2015-12-14 12:16] matozoid opened #246 "Objects should be compared with "equals()""
Using the equality (==) and inequality (!=) operators to compare two objects does not check to see if they have the same values. Rather it checks to see if both object references point to exactly the same object in memory. The vast majority of the time, this is not what you want to do. Use the .equals() method to compare the values of two objects or to compare a string object to a string literal.

[2015-12-14 13:40] ftomassetti commented on #242
Currently JavaParser supports Java 6 so we cannot use [FunctionalInterface](https://docs.oracle.com/javase/8/docs/api/java/lang/FunctionalInterface.html) because it was introduced in Java 8.

We should consider that for the future, I would mark this issue with the Label "Java8" for future references.

[2015-12-14 13:41] ftomassetti commented on #243
Agreed. How can we easily find all the places where @Override should be used?

[2015-12-14 15:17] ptitjes commented on #243
With JavaParser :p

[2015-12-14 18:51] matozoid commented on #243
+1 for @ptitjes :D

[2015-12-14 18:52] matozoid commented on #243
But: the last five issues were suggested through private email, and I registered them here. They'll be picked up.

[2015-12-14 19:02] ftomassetti commented on #243
It will be very nice to do so with JavaParser, however it would mean to find ancestors of classes and that would not be trivial. I would be in awe of whoever would do that and extremely thankful :)

[2015-12-14 19:44] SmiddyPence commented on #243
According to IntelliJ that is all of them.  Any further offers?

[2015-12-14 20:51] JamesXNelson commented on #221
I will pick it back up over the holiday season, and I will be sure to tag you when it goes public.

Thanks!

[2015-12-15 15:19] msayagh opened #247 "A block comment containing '/*' is not parsed correctly"
Hi,
Parsing this file is not working. The parser duplicates some methods:
[BeanConfig.txt](https://github.com/javaparser/javaparser/files/62645/BeanConfig.txt)

[2015-12-15 16:30] ftomassetti commented on #247
At a first look it seems fine to me. Can you give more details please? Which methods appear to be duplicated?

I tried parsing & dumping the given file and I cannot see any wrong. Perhaps I am missing something, can you help us?

[2015-12-15 16:43] msayagh commented on #247
Yes, sure.

The duplicate methods are : getComponent, getClassType. And there is something looking like this:

[code]
- Sets the component implementation class.
  _/
  public void setClass(Class<?> cl) {
      _cl = cl;
      // env/1072
      Class<?> type = getBeanConfigClass();
      if (type != null && !type.isAssignableFrom(cl))
          throw new  ConfigException(L.l("'{0}' is not a valid i

[2015-12-15 17:23] ptitjes commented on #242
As I explained in https://github.com/javaparser/javaparser/pull/248#issuecomment-164832149, IMHO, this should be resolved for the two mentioned interfaces by configuring Sonar to ignore the two warnings.

[2015-12-15 19:03] matozoid commented on #244
https://github.com/javaparser/javaparser/pull/249

[2015-12-15 19:03] #244 closed, assigned to nobody

[2015-12-15 19:24] #243 closed, assigned to nobody

[2015-12-16 10:38] ilsid opened #251 "The question about the parsing of the method invocation chain"
Hi Folks,

Thank you for your parser :)

I have the question regarding the parsing of the method invocation chain. Not sure whether it is a bug or an improper usage from my side.
If I have the following statement within some method
<code>a().b().c();</code>
how I can intercept the call of methods a() and b() ?
I'm overriding
<code>VoidVisitorAdapter.visit(MethodCallExpr, A)</code>
But in this case

[2015-12-16 11:05] ptitjes commented on #251
Hi,

A method invocation expression has four components:
- its target
- the passed type arguments
- the called method name
- the passed arguments

So the expression `a().b().c()` is a method invocation expression with target the expression `a().b()`, method name `c`, no type arguments and no arguments.

Thus you must always recursively visit the sub-expressions (here the important one is the targe

[2015-12-16 11:46] ilsid commented on #251
Yes, both super.visit() and subExpr.accept() fix the issue.
Thanks a lot!

[2015-12-16 11:46] #251 closed, assigned to nobody

[2015-12-17 16:11] ptitjes commented on #251
Welcome!

[2015-12-18 18:09] clause opened #252 "VoidVisitorAdapter skips some NameExprs"
The VoidVisitorAdapter does not visit all children of certain nodes types.  For example, the current implementation for visiting a FieldAccessExpr does not dispatch to the field expr itself.

Current:

[code]

Proposed:

[code]

Similarly, the visit method for MethodDeclaration does not dispatch to the declaration's name.  Unfortunately, I'm not sure in how many cases nodes are skipped.

[2015-12-18 18:15] clause commented on #252
Along this issue, is there a reason why, in some cases, names are stored as NameExprs while in others they are stored as Strings?  For example, in ClassOrInterfaceDeclaration the name is stored as a  NameExpr (from the parent class) while in ClassOrInterfaceType the name is stored as a String.

It would simplify processing if names were always part of a parse tree as NameExprs.

[2015-12-18 20:51] ptitjes commented on #252
Indeed!

[2015-12-22 17:58] msayagh commented on #247
Hi,
Any updates on this issue ?

[2015-12-22 18:41] ftomassetti commented on #247
not yet sorry

[2015-12-23 15:01] TCke83 opened #254 "Problem matching ConstructorDeclaration with ExplicitConstructorInvocationStmt"
Hi,

i'm working on a project to analyse certain files.

[code]

Now this is a simple case, a lot of files that extend class A have more than two constructors. I want to be able to get the value 'var' that is send to the super-constructor (of class A).

If I get the constructors of B I get 2 ConstructorDeclaration instances. If I check the one with 2 parameters, is see the call to the super-constr

[2015-12-25 09:41] #233 closed, assigned to ftomassetti

[2015-12-25 09:45] ftomassetti commented on #254
Hi Tom,
what you are trying to do is to solve symbols: in this case you want to associate a constructor invokation to a constructor declaration. This can be done on top of JavaParser but JavaParser itself does not provide this functionality. JavaParser produces an Abstract Syntax Tree (AST) and this is it.
To distinguish between different possible constructors in some cases you can just look at th

[2015-12-28 05:16] tanob opened #255 "Diamond operator information is lost"
Looks like there's no way to know if an object allocation was done using Java 7's Diamond Operator, this information is simply lost in the parsing.

Would be useful to get this information exposed.

[2015-12-28 08:15] ftomassetti commented on #255
Thanks for reporting this. We will look into this as soon as we can but if you had the time to send a pull-request it would be greatly appreciated.

[2015-12-29 08:33] ftomassetti commented on #247
The problem is present also stripping down the file to:

[code]

It seems to be a problem in the DumpVisitor and it seems related somehow to comments (deleting them it disappears.

[2015-12-29 08:34] ftomassetti commented on #247
Changing:

[code]

To:

[code]

The problem disappears

[2015-12-29 08:50] ftomassetti commented on #247
PR sent (#257)

The issue is that this is invalid:

[code]

But this is valid:

[code]

A slash followed by an asterisk can be part of a block comment but a slash, an asterisk and a slash are not a valid block comment.

[2015-12-30 13:43] #255 closed, assigned to nobody

[2016-01-01 14:45] ftomassetti commented on #242
I think we could close his one

[2016-01-03 01:52] JamesXNelson commented on #254
Federico,

Your project looks amazing.  My work is more directed towards translating the javacc ast into a malleable, queryable, composable AST suitable for generating new code.  I have all sorts of bits and pieces: codegen libs, a javassist fork for querying annotations and types, javax.model, javassist and Gwt wrappers for an AST abstraction (that works on the member level, but not on the statem

[2016-01-08 08:41] ftomassetti commented on #254
Just to be sure there are no misunderstanding:
- JavaParser produces an AST from source code. The project has many contributors, I am just one of them and @matozoid is the mantainer
- java-symbol-solver has be written by me: it processes the AST produced by JavaParser to find out types and link references to corresponding declarations

If we could combine your project with mine that would be great

[2016-01-12 05:09] Parth commented on #141
Hi,
I just wanted to get a status on this issue. I see that some pull requests were merged. I'm currently using `<version>2.2.2</version>` from maven, and I'm still experiencing this issue. For me the only way to access the javadoc comments is by going through `MethodDeclaration.getComments()`. And `MethodDeclaration.getJavaDoc()` still returns null.

Is there a version that has this fix available

[2016-01-12 07:49] ftomassetti commented on #141
Hi @Parth-Mehrotra unfortunately we did not yet fix this. A pull-request would be very welcome and we are always happy to get new contributors. Let me know if you need any help with the PR.

[2016-01-12 23:30] SmiddyPence commented on #238
@matozoid did you solve this with the above suggestion?

[2016-01-13 14:52] #247 closed, assigned to nobody

[2016-01-13 15:12] ZSShen opened #259 "About the class inheritance relation"
Hi there, I am new to this amazing project!

Well, my question is, is it possible to blueprint the `class inheritance relation` via some
javaparser APIs?

For example,

[code]

It seems that TypeDeclaration does not offer the similar functionality.

[2016-01-13 15:42] ftomassetti commented on #259
No, it is not possible to print the inherited ancestors. JavaParser is a parser and built the AST: it basically organizes in a tree the information which is present in the source file. However to find the inherited ancestor you should be able to find the declarations corresponding to the names. For example:

[code]

In this case the AST tells me that A extends "Foo" but it does not have the logic

[2016-01-13 16:14] ZSShen commented on #259
Got it! Thanks for the tip. :)

[2016-01-14 11:43] Alexeggers opened #260 "MethodDeclaration.getComment() returns the JavaDoc, but only if there are no comments present as well"
Disclaimer: I am only a lowly trainee, so please forgive me if I made elementary mistakes :(

I am writing an automatic API generator, and the classes need JavaDoc as well as comments because some of the values the API contains shouldn't be written down in the JavaDoc (exampleResponse for example).

However, it seems that the comments above the individual Methods replace the Javadoc, so when I wan

[2016-01-15 13:13] matozoid commented on #238
I'll try asap.

[2016-01-15 13:16] matozoid commented on #242
Won't fix until JavaParser's core is Java 8.

[2016-01-16 15:55] ghost opened #261 "[Question] Any source code obfuscator written using javaparser?"
Are there any source code obfuscators written using this library?

thanks

[2016-01-18 15:59] ftomassetti commented on #261
Not that I know

[2016-01-21 08:43] matozoid commented on #164
It doesn't look very impressive yet :-) -> http://javaparser.org/

[2016-01-21 08:46] ftomassetti commented on #164
Right, but at least they cannot take the domain.
But yes, we should do something with it :)

[2016-01-21 08:47] matozoid commented on #124
Let's pick this up step by step. What would be the first steps to make? Can we make issues for those steps? Make sure that no step leaves the code unusable, so we can always release.

Hopefully this will break down this ball of unknowns.

[2016-01-21 09:00] matozoid commented on #261
Click "gitter - join chat" on our github page and come and discuss this on gitter :)

[2016-01-21 09:00] #261 closed, assigned to nobody

[2016-01-21 09:02] #259 closed, assigned to nobody

[2016-01-21 09:06] matozoid commented on #254
Feel free to continue chatting over here: https://gitter.im/javaparser ;-)

[2016-01-21 09:06] #254 closed, assigned to nobody

[2016-01-21 09:53] ooxi commented on #164
@ftomassetti could you [create an A record](https://help.github.com/articles/tips-for-configuring-an-a-record-with-your-dns-provider/#configuring-an-a-record-with-your-dns-provider) to point to GitHub? Than a pull request can take care of creating a website :)

[2016-01-21 11:19] ptitjes commented on #124
BTW, you can toy with JavaCharStream.get/setTabSize() to change that value of 8 used by JavaCC.

[2016-01-21 12:54] cdietrich opened #263 "DumpVisitor loses comments II"
[code]

the comments get lost wenn dumping the parsed file

[2016-01-22 07:43] ftomassetti commented on #164
Done, let's run `dig javaparser.org +nostats +nocomments +nocmd` in 1h or so and check

[2016-01-22 08:01] ooxi commented on #164
Works for me

[code]

[2016-01-22 11:39] matozoid commented on #164
Looks fancy already! I guess we can follow up with issues for improving the documentation.

[2016-01-22 11:39] #164 closed, assigned to nobody

[2016-01-22 11:42] ftomassetti commented on #164
Yes: I think we need tutorials and FAQ

[2016-01-26 18:45] matozoid opened #264 "Create some tutorials"
We have a few examples right now, but we could use a step by step explanation of what you can do.

[2016-01-26 18:46] matozoid opened #265 "Add more helpful information for contributors"

[2016-01-28 12:25] matozoid commented on #191
Are there reasons not to do this?

[2016-01-28 12:28] matozoid commented on #120
I guess that since I merged #131 already, this discussion is finished :-) Right?

[2016-01-28 12:30] matozoid commented on #57
Is this connected to a pull request or so?

[2016-01-28 13:45] JanosSarkoezi opened #266 "DumpVisitor NullPointerException"
I work for a little project and use your javaparser for deleting some lines in java source code. It works very well, but on case of delete method with MethodCallExpr I get a NullPointerException. For easy reproduce please take a look at

https://github.com/JanosSarkoezi/manipulator