[2019-05-31 05:59] chenzhegodspeed commented on #2191
Thanks for your reply. I will modify **JDT** source code to check if it is possible to run outside **Eclipse Platform**. Or I will try **JavaParser** later.

[2019-05-31 19:23] maartenc commented on #2254
Just to be sure: the `sourceJarPath` points to a jar file containing class files, right?
The `JarTypeSolver` reads class files, not java source files...

[2019-05-31 19:32] maartenc commented on #2255
Just add some JarTypeResolvers with your EE jars?

[2019-05-31 22:21] jwertherf commented on #2254
Well, I thought JavaParser - in general - worked only with java files and not bytecodes. And I even understood this way in the examples I found on the internet. Now I changed to bytecode jar and worked fine. Thanks for make myself clear.

[2019-05-31 22:22] #2254 closed, assigned to nobody

[2019-05-31 22:33] jwertherf commented on #2255
I already did this and it worked fine. But I am wondering if there is a simple solution like ReflectionTypeSolver for JRE. JavaEE can have many jar files and many different server implementations.

[2019-06-01 18:31] matozoid commented on #2255
I'm not aware of any. If you'd like to build and maintain one, feel free :-)

[2019-06-01 18:35] matozoid commented on #2252
Hi!

Which annotations are that? I don't use Kotlin.

@ftomassetti - do you have some suggestions?

[2019-06-01 18:41] matozoid commented on #2172
Hey @taxio - can you make a new issue if you have a new issue? I need to keep things organized.

The dots are a YAML thing, it's on the YAML Wikipedia page: https://en.wikipedia.org/wiki/YAML

[2019-06-01 18:58] matozoid commented on #2253
I love problems that solve themselves :-)

[2019-06-01 18:59] matozoid commented on #2191
I believe the Spoon project has a parser that uses the Eclipse JDT as the symbol solver.

[2019-06-01 19:38] taxio commented on #2172
@matozoid

Oh, I'm sorry, I did not understand the YAML specification correctly.
Thank you!

[2019-06-03 14:28] ftomassetti commented on #2252
No, I am not familiar with them

[2019-06-03 15:06] matozoid commented on #2252
Google gave me this: https://kotlinlang.org/docs/reference/java-interop.html

I guess we can start adding nullability annotations, it would help Java users too. The code generators are a good first target.

[2019-06-03 15:08] matozoid commented on #2252
We can copy the javax.annotation annotations into JP, although I fear trouble with modularization :-O That would mean having to add a dependency. That's a no go.

[2019-06-03 19:05] #2245 closed, assigned to nobody

[2019-06-04 01:35] edefazio commented on #2252
Yea, I'm no expert, but I have previously had some experience with javax.annotation and it was a headache (someone elses code)...
there are some strikes against it (apparently  its from a dead JSR)
[stack overflow (read the comments against the in the first accepted answer)](https://stackoverflow.com/questions/4963300/which-notnull-java-annotation-should-i-use)

So I hope this gets the axe (but th

[2019-06-04 14:07] qingdujun commented on #2193
I have encountered the same problem.

 Is this problem solved?

[2019-06-04 14:11] qingdujun commented on #2192
I have this same problem.

Version 3.14.3

[code]
error logs.
[code]

[code]

[2019-06-04 14:45] matozoid commented on #2193
Hi @qingdujun, it is not. Can you help?

[2019-06-06 08:02] jlerbsc opened #2257 "Getting usages of a variable or a method."
Is there a way to find usages of a variable or a method as it seems to be done in walkmod project? This question was already asked but i don't find any response.

An exemple could be find at

    https://github.com/walkmod/walkmod-sonar-plugin/blob/master/src/main/java/org/walkmod/sonar/visitors/RemoveUselessVariables.java

see var.getUsages()

[2019-06-06 08:59] matozoid commented on #2257
@ftomassetti ?

[2019-06-06 15:45] Shoreray opened #2258 "Type resolution issue of static methods call expressions"
Hi,

I ran into a problem when calling calculateResolvedType() on a MethodCallExpr.
It seems that the call would throw an UnsupportedOperationException when:
1. The called method is static
2. The expression calls the method in the format of "{class name}.{method name}" (the {class name} part is not omitted)
3. A parameter of the method has an array type
4. The actual parameter passed to that array

[2019-06-06 19:55] matozoid commented on #2258
Thanks for the report!

[2019-06-06 20:15] Shoreray opened #2259 "Type resolution issue when type of formal parameter is Object"
Hi,

The method Expression.calculateResolvedType() throws an exception when 1) the expression is a method call, 2) the method has a formal parameter of type Object, and 3) the actual argument is an array.

This piece of code reproduces the error:
[code]
The stack trace looks like:
[code]

[2019-06-06 20:19] matozoid commented on #2259
Thanks for the report!

[2019-06-06 20:30] masud-technope opened #2260 "Build failed due to uncaught exception X"
[code]
The target code is
[code]
Please take care of this. The build is failing.

[2019-06-06 20:32] matozoid commented on #2260
Hi! The build is alright as you can see: https://travis-ci.org/javaparser/javaparser

How are you building the source? (And why?)

[2019-06-06 21:18] masud-technope commented on #2260
Yup, I am trying to build the source for one of my projects.
JDK: 1.8.0_25
Maven: 3.6.1
Please see the screenshot attached.
![error-javaparser](https://user-images.githubusercontent.com/1852836/59067154-1d3fa080-886e-11e9-8351-3e4e65a84fef.png)

[2019-06-06 21:26] matozoid commented on #2260
Okay, I'm using this to release the project:
[code]
I'm suspecting your Java version here - looks like some bug in lambda type inference.

[2019-06-06 22:31] Shoreray opened #2261 "Type resolution issue in expression that involves object creations"
Hi,

The method calculateResolvedType() throws an exception on the code below when its' call on the expression `new TestClass3<Object>().foo().length`.
[code]
The stack trace is:
[code]
(In the exception message, I removed some parts of the local paths on my machine.)

The bug seems to have something to do with generic type parameters, as the failure disappears if I remove that part from TestClass

[2019-06-06 23:28] masud-technope commented on #2260
Thanks for the tip, successfully built with JDK 10  👍

[2019-06-08 12:49] matozoid commented on #2260
Nice, good luck!

[2019-06-08 12:49] #2260 closed, assigned to nobody

[2019-06-08 12:50] matozoid commented on #2261
Some bugs like this one were solved a few months ago. Are you on the latest version?

[2019-06-08 16:51] matozoid opened #2262 "JEP 355: Text Blocks (Preview)"
https://openjdk.java.net/jeps/355

[2019-06-08 18:02] Shoreray commented on #2261
I was on 3.13.10 when I found the issue, and have just reproduced it on 3.14.4.

[2019-06-08 22:25] samuelgrigolato opened #2263 "Is there a way to use this tool together with Lombok?"
I'm sorry if this is already answered somewhere (this sounds like a common problem people would face using the parsing feature with existing codebases), but I couldn't find anything out there.

I have a codebase that uses Lombok features like `@Data`. If I give this codebase to JavaParser as a source root, it obviously isn't going to find elements yet to be generated by Lombok (e.g. getters). My q

[2019-06-09 12:23] edefazio commented on #2263
I've looked into Lombok a while ago, and the problem with the approach you mention above is that Lombok is using and modifying an AST Object "owned" by the Javac parser/IDE whilst intercepting annotation processors.
[How Lombok works](https://stackoverflow.com/questions/6107197/how-does-lombok-work)

to understand the distinction

- With JavaParser, we start with txt code and return an AST is crea

[2019-06-09 12:44] edefazio commented on #2263
Might want to look into this (in depth discussion of building into Lombok)
[Writing your own Lumbok Annotation](https://binkley.blogspot.com/2014/12/writing-your-own-lombok-annotation.html)

[2019-06-09 18:54] matozoid commented on #2261
Ah crap. Thanks.

[2019-06-10 21:43] au-hao opened #2264 "Lambda expression as variable not able to be printed out by using LexicalPreservingPrinter"
Source code
[code]
It works well without using LexicalPreservingPrinter.

The bug will see after turning on LexicalPreservingPrinter:
[code]

I would like to ask for the help to solve the issue above and the goal is to make it happen.  Thanks.

[2019-06-11 06:06] jlerbsc commented on #2257
No response? So i think there isn't a way to find usages of a variable or a method for the moment.

[2019-06-11 07:14] haumacher opened #2265 "Parser fails on code with unicode escapes"
I have a funny issue in a JavaCC-generated source file that cannot be parsed with JavaParser:

Among other unreadable stuff there is a line containing the statement
[code]
At first glance this looks like a syntax error in the source file - but Eclipse accepts this code without any error. The problem is that `\u005c` is the unicode escape for `\` which must be processed before handing the character

[2019-06-11 07:18] haumacher commented on #1381
Maybe #2265 is such an issue?

[2019-06-11 07:20] ftomassetti commented on #2257
There is not a method already available for this one.  I think we discussed it several times in the past. The way you could achieve this is by solving all usages using methods like `resolve` and see where they point to. So we can go from usages to declarations but we have no utility at the moment to do the opposite.

[2019-06-11 08:37] jlerbsc commented on #2257
I will look it.

[2019-06-11 09:49] matozoid commented on #2257
@ftomassetti @SmiddyPence - maybe it really is time for a FAQ, because some questions seem to be repeating regularly?

[2019-06-11 09:55] matozoid commented on #2265
Good news! The latest state is here: #1928

[2019-06-11 09:55] matozoid commented on #1381
See #1928 :-)

[2019-06-11 09:56] #1381 closed, assigned to nobody

[2019-06-11 09:58] matozoid commented on #2264
Thanks! We're looking for someone to maintain this component.

[2019-06-11 10:16] haumacher commented on #2265
Ok, sorry, I did not see this configuration option. One must say e.g.:
[code]
With the drawback that the source code positions are no longer exact - which in my case is quite a pitty but I can live with it.

Don't you think, that this problem (the wrong source code positions) couldn't be fixed by simply building a mapping from unescaped source position back to original source position while unesca

[2019-06-11 10:16] #2265 closed, assigned to nobody

[2019-06-11 11:40] matozoid commented on #2265
Hmmm, that would mean... building a list of sourcerange->amount_of_chars_shifted... then going through the AST nodes, looking at both positions separately: look in which sourcerange it is, then shift the position with minus that amount of characters. That's not even that immensely difficult. It should be done in or after this one: #1930.

Do you have some time to implement it?

[2019-06-11 11:41] matozoid commented on #1930
While solving this we should prepare for #1930.

[2019-06-11 12:41] haumacher commented on #2265
I think, I could make a proposal...

[2019-06-11 12:54] matozoid commented on #2265
Why can't I put a thumbs up icon here?

[2019-06-11 14:44] haumacher commented on #2265
Seems I get stuck quite at the beginning. Trying to build JavaParser in Eclipse using Run-as Maven-compile with goal "package" fails with errors like:
[code]
The file at the mentioned location contains the String `J�lio Vilmar Gesser` in a comment - which looks like wrong encoding of the JavaCC-generated file. Can you given a hint how to fix the JavaCC output encoding for the generated files?

[2019-06-11 15:47] haumacher commented on #2265
Ok on the command line, the same errors occur, but the build does not fail - Unfortunately, Eclipse does not find the generated parser files - had to add the folder target/generated-sources/javacc manually as source path...

[2019-06-11 17:41] haumacher commented on #2265
One more question: Wouldn't the proposed hack "Building a mapping from unescaped source position back to original source position while unescaping the source code and mapping back the token positions back to the original positions." result in exactly the same result as enabling unicode escapes in the JavaCC compiler? Wouldn't it be much simpler to generate two different parsers (one with unicode e

[2019-06-11 18:06] matozoid commented on #2265
Sadly no, it's been a while, but I think that just generates the file that I put in `UnicodeEscapeProcessingProvider` (so I could make it optional.) That is used as the inputstream, so the parser never sees the escape codes, therefore the result is the same: the locations are wrong.

You could try opening an issue with the JavaCC people, but those are some of the most mysterious developers ever. T

[2019-06-11 18:17] matozoid opened #2266 "Revert `break` changes and implement JEP 354"
https://openjdk.java.net/jeps/354

[2019-06-12 09:08] haumacher commented on #1930
@matozoid can you have a look at 5ef8d93 with my proposal of unicode escape processing. I did a clean room re-implementation of the stuff. Refactoring / reverse engineering the JavaCC variant was too hard for me.

[2019-06-12 09:35] matozoid commented on #1930
Looks much more readable and well tested to me. Good work! Do open a PR if you want.

[2019-06-12 12:31] #1930 closed, assigned to nobody

[2019-06-12 15:31] ftomassetti commented on #2257
agreed

On Tue, 11 Jun 2019 at 11:49, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2019-06-12 17:01] jlerbsc commented on #2257
Hi, After solving all usages using methods like resolve, is it suffisant to see all children node of the relevant ClassOrInterfaceDeclaration or MethodDeclaration where there is a NameExpr that match the SimpleName obtained from the previous step

[2019-06-13 16:43] jlerbsc commented on #2258
I have pushed a pull request to resolve this case but I'm not sure this is a valid fix.

[2019-06-13 17:32] jlerbsc commented on #2261
Could you give the test case please because i cannot reproduce this stacktrace with

    String code = String.join(System.lineSeparator(),
                "public class Issue2261<T> {\n" +
                "	public int[] foo() {\n" +
                "		System.out.println(\"Verify execution.\");\n" +
                "		return new int[3];\n" +
                "	}\n" +
                "	public static

[2019-06-13 20:11] tronicek opened #2269 "Lexical error"
When parsing file jaxws\src\share\jaxws_classes\com\sun\xml\internal\rngom\parse\compact\CompactSyntax.java from OpenJDK, it throws the following exception:

Exception in thread "main" com.github.javaparser.ParseProblemException: Lexical error at line 244, column 38.  Encountered: "n" (110), after : "\'\\u005c"

Line 244 is as follows:
s = s.replace('\u0000', '\u005cn');

[2019-06-14 08:12] matozoid commented on #2269
That currently requires the unicode preprocessor to be turned on. --> https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ParserConfiguration.java#L291

The grammar could be changed to support this by default, so let's leave this open.

[2019-06-15 02:07] Shoreray commented on #2261
The error occurs when you resolve the FieldAccessExpr in the main method.
Here's the code to reproduce it:
[code]

[2019-06-15 07:33] haumacher opened #2270 "Incorrect source code positions in standards-complient unicode escaping mode"
With standards-complient unicode escaping (`com.github.javaparser.ParserConfiguration.setPreprocessUnicodeEscapes(true)`), the source code positions reported in the AST are incorrect: Unicode escape sequences are processed before parsing so that the scanner consumes the decoded stream counting only positions in the decoded version of the source file. Thes positions are reported in the AST.

In the

[2019-06-15 08:23] jlerbsc commented on #2261
In 3.14.4 all seems to be ok.

    CompilationUnit compilationUnit = parseResult.getResult().get();
    FieldAccessExpr targetExpr = compilationUnit.findFirst(FieldAccessExpr.class, fieldAccess -> fieldAccess.getNameAsString().equals("length")).get();
    ResolvedType r = targetExpr.calculateResolvedType();
    assertEquals("int", r.describe());

[2019-06-15 08:35] haumacher commented on #2270
@matozoid Danny, in https://github.com/haumacher/javaparser/tree/correct-positions-with-unicode-escape-processing the `UnicodeEscapeProcessingProvider` builds a position mapping while decoding the unicode escape sequences. This mapping is then applied in a post-processing phase to the source ranges of the created AST.

Using the same instance as pre- and post-processor looks somewhat strange in th

[2019-06-15 12:31] matozoid commented on #2270
Opening a PR gives a better view of what has been changed (you can call it [DRAFT] so it doesn't get merged.)

Here are some ideas:
- use Node.walk to go through the whole tree,
- that getResult().get() should be a getResult().ifPresent(...)
- same with node.getRange().ifPresent(...)
- you can rename the `process` methods to `preProcess` and `postProcess` - I can't find a better way either :-)
- i

[2019-06-15 14:01] haumacher commented on #2270
Implemented your suggestions in #2271. Still feeling somewhat uncomfortable when writing something like
[code]
Since at least in the last line `range -> node.setRange(mapping.transform(range))` there must be an object allocation for each and every node visited, since the inner lambda accesses a local of an outer one... :-)

[2019-06-15 14:03] haumacher commented on #2270
I did not rename the processor methods or introduce an enum, since I did not want to change the API.

[2019-06-15 14:27] matozoid commented on #2270
Oh, I doubt anybody is using this particular API :-) Just make it like you want it to be.

[2019-06-15 14:29] matozoid commented on #2270
The only inconsistency left within the unicode preprocessor is that the escapes can never be retrieved in the AST. They are forever decoded. But that's for another day :-)

[2019-06-15 14:42] haumacher commented on #2270
In the AST build from the decoded source, one could retrieve the original version of e.g. a string constant from the original source code using the source code positions in the AST.

[2019-06-15 14:53] haumacher commented on #2270
If we would store the character index in the original source file with a `Position` instance, looking up the original variant of a construct would be even very efficient.

[2019-06-16 10:30] matozoid opened #2272 "Store character (or byte) offset next to line and column in Position"
Having the offset in a Position would allow us to locate a node in the source file. This would be helpful for the case described in #2270.

[2019-06-16 10:30] matozoid commented on #2270
Let's make that another issue. Nobody is asking for it right now, so low priority.

[2019-06-16 17:01] fadiqassem opened #2273 "Problem with code from other site"
why i got this problem ?
![err](https://user-images.githubusercontent.com/43154332/59567079-28ae7b00-9069-11e9-9bd6-dcfe48f02cab.PNG)

[2019-06-16 18:56] matozoid commented on #2273
Hi! You can see it in the error message: you are trying to pass a `ParseResult` where the visitor expects a `CompilationUnit`.

This is probably cause by the recent move of all the static methods on the class `JavaParser` to a new class `StaticJavaParser`.

Where does this code come from? It should be updated to use `StaticJavaParser`.

[2019-06-16 19:50] fadiqassem commented on #2273
Hi, Thank you so much for your answer,
this is from here:
https://github.com/ftomassetti/analyze-java-code-examples
https://tomassetti.me/getting-started-with-javaparser-analyzing-java-code-programmatically/

[2019-06-16 20:02] fadiqassem commented on #2273
**but i expected to print all the classes which i called in SecondClass.java
he does not print "ThirdClass" in my case**
![Class list](https://user-images.githubusercontent.com/43154332/59568920-7388bc80-9082-11e9-9fc5-f1da0f8264b9.PNG)

[2019-06-17 10:12] matozoid commented on #2273
@ftomassetti - you need to update your code samples.

@fadiqassem - that's a misunderstanding of what a `ClassOrInterfaceDeclaration` is:
- https://javaparser.org/inspecting-an-ast/ is very useful in this case
- don't forget to read the book if you haven't already, and read the Javadoc: https://javaparser.org/getting-started/

[2019-06-17 10:22] fadiqassem commented on #2273
@matozoid - Thank you so much for your answer, I will take a look at that.

[2019-06-17 13:52] #2258 closed, assigned to nobody

[2019-06-17 16:07] jlerbsc commented on #2259
Do you consider an array of objects as an object?
This modified code works perfectly in javaparser 3.14.4

    public class TestClass2 {
	public static void foo(### Object[] o) {
		System.out.println("Verify execution."); // This line not necessary for reproducing the failure
	}
	public static void main(String[] args) {
		foo(new Object[5]);
	}
}

[2019-06-17 18:21] Shoreray commented on #2259
Right.
It seems that the failure occurs only when the type of the formal parameter is Object.

(It might look horrible to use arrays that way in the small example code, but the intent here is just to reproduce the failure with minimal amount of code.
The real code, with which I found the fault, is a commons-lang library function that manipulates arrays with reflection.)

[2019-06-17 18:56] Shoreray commented on #2261
Oops, I somehow didn't realize that a JavaParserTypeSolver has to be involved to trigger it, though this looks obvious in hindsight. My bad.

To reproduce it, initialize the JavaParser with:
[code]
Adding the code above should reproduce a stack trace similar to mine.

From the stack trace, some Windows-specific code in the JRE is also involved. The error might be different on another platform but

[2019-06-18 06:17] jlerbsc commented on #2261
You must add ReflectionTypeSolver to JavaSymbolSolver.

[2019-06-18 06:36] jlerbsc commented on #2259
Does anyone know what the InferenceContext.registerCorrespondance(...) method should do in this case?

[2019-06-18 08:31] matozoid commented on #2259
Let's see if the oracle knows: @ftomassetti :-)

[2019-06-18 12:10] jlerbsc opened #2274 "Question: Why an assignExpr cannot be resolved?"
We can resolve MethoCallExpr but not AssignExpr! Could you explain why it is not possible or implemented? If we try to resolve the target, is it correct to not consider "c" as a variable?

    public class A {
	  public void methodA() {
              int c;
              c = c + 1;
	  }
    }

[2019-06-18 12:19] matozoid commented on #2274
Isn't it just a question of resolving `getTarget()`?

[2019-06-18 13:24] jlerbsc commented on #2274
It's possible but the method resolveDeclaration in JavaSymbolSolver seems to sometimes look for a context. For exemple

    if (node instanceof VariableDeclarator) {
            ResolvedValueDeclaration resolved;
            if (node.getParentNode().isPresent() && node.getParentNode().get() instanceof FieldDeclaration) {
                resolved = new JavaParserFieldDeclaration((VariableDeclarator

[2019-06-18 16:48] jlerbsc commented on #2264
For the moment a workaround is to use
[code]
Output is
[code]

[2019-06-18 18:22] jlerbsc commented on #2264
I think it's because StaticJavaParser.parseExpression(..) creates a LambdaExpr with an ExpressionStmt child that contains MethodCallExpr child but node data (from LambdaExpr) contains a child of type MethodCallExpr. So LexicalPreservingPrinter.tokensPreceeding(Node node) cannot find the matching field in

    int index = parentNodeText.tryToFindChild(node);

and throw an exception

    throw new I

[2019-06-18 18:33] matozoid commented on #2264
That I can answer: A `LambdaExpr`'s content is a statement. A `MethodCallExpr` is an expression. `ExpressionStmt` is used to wrap an expression when it is used as a statement.

[2019-06-18 19:25] jlerbsc commented on #2264
So probably LambdaExpr data (provided by method getData(..) ) must contain an element which is an ExpressionStmt that wrap MethodCallExpr but it seems it's not the case.

[2019-06-18 21:06] csmym opened #2275 "No method visit(AnnotationExpr, A arg)"
Hi,

Why there is no method visit(AnnotationExpr, A arg) in public class ModifierVisitor<A> ?

Thanks

[2019-06-18 21:32] csmym commented on #2275
Sorry, I found myself
There is a NormalAnnotationExpr visit(NormalAnnotationExpr fd, Void arg)

[2019-06-19 01:53] Shoreray commented on #2261
I see. Thanks for the information.

In my actual code that triggers the failure, ReflectionTypeSolver was added.
Having it or not doesn't seem to have an effect here.

I've edited the test code above.

[2019-06-19 07:11] jlerbsc commented on #2261
Ok you are right. JavaParserTypeSolver.tryToSolveType(...) doesn't filter the String name parameter and in your case the scope of the expression to resolve is "new TestClass3<Object>().foo()". So JavaParserTypeSolver throws the exception "java.nio.file.InvalidPathException: Illegal char <<> at index 75: <path to sources>\./new Issue2261<Object>()/foo().java".
Unfortunatly TypeSolver interface does

[2019-06-19 08:00] matozoid commented on #2275
Hi! A little addition: there are several node types for annotations.

`MarkerAnnotationExpr`, `NormalAnnotationExpr`, `SingleMemberAnnotationExpr`

The Javadoc can tell you what exactly they are for.

[2019-06-19 08:07] matozoid commented on #2264
I don't think data has any part in this? (Except for storing the resolution result for caching)

[2019-06-19 08:11] matozoid commented on #2261
If we can pinpoint where the type parameters are accidentally added to a file name, we can fix the problem.

[2019-06-19 08:37] jlerbsc commented on #2160
It seems to be corrected in version 3.14.4. Test output is

    b = numbers.pop() is a: PrimitiveTypeUsage{name='double'}
    a = numbers.pop() is a: PrimitiveTypeUsage{name='double'}
    b = numbers.pop() is a: PrimitiveTypeUsage{name='double'}
    a = numbers.pop() is a: PrimitiveTypeUsage{name='double'}
    b = numbers.pop() is a: PrimitiveTypeUsage{name='double'}
    a = numbers.pop() is a: Pr

[2019-06-19 08:50] jlerbsc commented on #2261
TypeExtractor.visit(FieldAccessExpr, Boolean) is invoked with a node value

    new Issue2261<Object>().foo().length

the scope of this node is a MethodCallExpr which is not a scope actually taken into account

    new Issue2261<Object>().foo()

[2019-06-19 09:01] jlerbsc commented on #2264
Data contains an entry for the LexicalPreservingPrinter with a value which contains NodeText which is used by LexicalPreservingPrinter.tokensPreceeding method to find the index of the sub expression in the parent NodeText . If the index is not found and the parent node is not an VariableDeclarator then a IllegalArgumentException exception is thrown. In this case the parent node type is a ReturnStm

[2019-06-19 09:10] matozoid commented on #2160
@laonawuli are you available for a retest?

[2019-06-19 09:11] matozoid commented on #2264
Ah, I was confused with the symbol solver :-( I've got nothing then.

[2019-06-19 12:03] csmym commented on #2275
Hello

Yes, thanks a lot.

I am not sure if my question does make sense, but here it is. Why there is not a visit(AnnotationExpr, A arg) method in order to handle at the same time MarkerAnnotationExpr, NormalAnnotationExpr, SingleMemberAnnotationExpr ?

[2019-06-19 17:37] edefazio commented on #2275
(not to interject, but)
I think because if you have an interface with BOTH
`visit( AnnotationExpr ae)`
and
`visit(MarkerAnnotationExpr ae)` ...

then it would be ambiguous what happens when I encounter a single MarkerAnnotationExpr
(do i call visit on BOTH?... in which case, you might "double visit")

...I think it makes sense as it is, if you want ALL annotations, you can always adapt the visitor

[2019-06-19 19:06] matozoid commented on #2275
Yes :-)

The rule is: all the concrete (non-abstract) classes inherited from `Node` have a visit method.

[2019-06-19 19:08] matozoid commented on #2275
(Related to #757)

[2019-06-20 19:53] csmym commented on #2275
Thank you very much for all this information. It was very useful to me.
Friendly.

[2019-06-20 19:53] #2275 closed, assigned to nobody

[2019-06-22 11:58] mearvk opened #2276 "Windows 10 Support (No Generated Code Ahead Please, Yet)"
The file run_core_generators.sh will not run in Windows 10.  We need the GeneratedJavaParserConstants.class for the simple compile of your software.  Can we get included a Window batch file also?

Thanks.

[2019-06-22 14:22] edefazio commented on #2276
Have you tried to run the maven build "mvn clean install" ?

I am using Windows 10 just fine
(I believe GeneratedJavaParserConstants.class is  "generated" by the build)

/* Generated By:JavaCC: Do not edit this line. GeneratedJavaParserConstants.java */

Are you asking for a simple batch file to generate the build (i.e. not Maven?)

[2019-06-22 14:25] matozoid commented on #2276
The `.sh` files are only necessary if you're modifying JavaParser itself.

[2019-06-22 18:04] mearvk commented on #2276
We didn't want Maven.  What else can be changed?

[2019-06-22 21:21] matozoid commented on #2276
The Maven plugin generates the source files. The whole project has been configured by Maven and I can't believe you would be stubborn enough to start by changing the build system. This is really your problem that you are getting yourself into.

[2019-06-23 18:02] anelam opened #2277 "Missing orphan comments on clone."
Cloning a node, the orphan comments are missing.

[2019-06-23 19:25] #2277 closed, assigned to nobody

[2019-06-23 19:25] #2270 closed, assigned to nobody

[2019-06-26 07:11] anelam opened #2280 "Storage information are not cloned."
Cloning a compilation unit the new object has no storage information any more.

[2019-06-26 08:27] matozoid opened #2282 "Copy user data on clone"
This has not been added because we cannot assume that the objects stored in `data` are usable in multiple AST's, and/or clonable. That's because we don't know what people will store in there.

Possibilities:

1. leave it to the user (current implementation)
2. add some marker to user objects that can be used from multiple AST's (stateless user objects) and add a marker to user objects that can be

[2019-06-26 08:30] matozoid commented on #2280
That seems like a good idea.

[2019-06-26 08:31] #2280 closed, assigned to nobody

[2019-06-26 11:49] fadiqassem commented on #2273
hi, till now i could not get a solution for that :(

[2019-06-26 15:11] matozoid commented on #2273
That's not a very specific question.

[2019-06-26 20:25] edefazio commented on #2282
(1) seems like the smart move

[2019-06-27 09:04] ArnauBigas opened #2283 "Fails to calculate the type of a generic return type constructed from a Primitive type"
Given the following code:
[code]
It crashes on the specified line with the following stacktrace:
[code]
This is the code segment which throws the original exception:
[code]
Where, during a debugging session with the code above, actualType is a `PrimitiveTypeUsage{int}` (makes sense) and the expectedType is `TypeVariable`.

We are not sure about how this function is supposed to work, but upon furth

[2019-06-27 10:18] ArnauBigas opened #2284 "Can't get qualified signature of a resolved method inside a Constant Enum declaration"
Given the following code:
[code]
When trying to get the qualified signature of the resolved overriding method with the following stacktrace:
[code]
This is the code segment which throws the original exception:
[code]
After a quick investigation we determined that `node` is an instance of `EnumConstantDeclaration`, which is not checked and therefore the execution reaches the else statement.

There

[2019-06-29 19:01] cowwoc opened #2285 "Ability to combine PrettyPrinterConfiguration and an indentation level for JavadocComment"
Invoking `ClassOrInterfaceDeclaration.toString()` indents the Javadoc of any nested methods, but if we invoke `JavadocMethod.toString(PrettyPrinterConfiguration)` the javadoc is never indented.

I can use `MethodDeclaration.getJavadoc().get().toComment(String indentation)` to control the indentation level but then I lose the ability to control which kind of newlines get used.

Please provide a mec

[2019-06-30 00:23] edefazio commented on #2285
can you put an example or snippet of what you are doing in this report and what you expect?

I wrote a little example and I cannot reproduce this behavior.

as an alternative to making a framework change to support a one-off case, you might consider
just extending the PrettyPrintVisitor implementation, then change the code here:
[code]

where, instead of calling printComment on methodVisit, build

[2019-06-30 01:59] cowwoc commented on #2285
@edefazio Could you please share your example? I will evolve it to reproduce the problem.

[2019-06-30 02:17] edefazio commented on #2285
[code]

[2019-06-30 02:39] cowwoc commented on #2285
Hi @edefazio

Thank you for the testcase. Here is the updated code:

[code]

Notice that `JavadocDeclaration.toString(ppc2)` does not indent the Javadoc. Meaning, I want to extract and indent Javadoc from the AST, excluding the method declaration and body.

I believe the fix will need to go in `PrettyPrintVisitor.visit(final JavadocComment n, final Void arg)` .

[2019-06-30 02:55] edefazio commented on #2285
So your expectation is that, when you extract the Javadoc comment instance `jdc`,
then manually print it out...
[code]
it should be indented... like so:
[code]
assuming the indentSize is set to (12 spaces)

...I think your expectations are incorrect.  The `PrettyPrinterVisitor` doesn't work that way...

If you want to do this, I'd recommend doing it as a post-process step (i.e. use the pretty prin

[2019-06-30 03:19] edefazio commented on #2285
Ohh... I forgot to mention... Comments are a little bit "tacked on" because of how attribution works in the Javaparser AST model...

however if you want to go this route heres some code to get you started...
[code]

[code]

[2019-06-30 03:24] cowwoc commented on #2285
Very cool. Thank you! :)

[2019-06-30 03:24] #2285 closed, assigned to nobody

[2019-07-01 10:24] jlerbsc opened #2286 "Cannot resolve expression which refer to javax"
Cannot resolve expression which refer to javax because it seems that javassists doesn't weave by default this package. How to configure that with javaparser?

    [FactoryURLClassLoader@44faa4f2] warning javax.* types are not being woven because the weaver option '-Xset:weaveJavaxPackages=true' has not been specified

[2019-07-01 14:49] vaastav opened #2287 "Cannot resolve method 'getFileName()' on compilationunit"
This was added as part of the PR :  https://github.com/javaparser/javaparser/pull/893
I think it might be a versioning issue. I am using the version 3.14.5. I can't seem to use any of the latest versions using maven dependencies.....

[2019-07-01 15:00] vaastav commented on #2287
Nvm I didn't realise it was added to the Storage and not the Compilation Unit itself

[2019-07-01 15:00] #2287 closed, assigned to nobody

[2019-07-01 15:35] fuhrmanator commented on #1872
Updating the [blog entry](http://javaparser.org/setting-up-for-analysing-a-whole-project/) to show multiple `collect` calls would help a lot, since I also had to do it for similar reasons (external Jars). Indeed I was happy to find the facade, but ultimately had to spend time to finally find the final answer here.

[2019-07-04 18:33] matevzk opened #2289 "Constructor resolution error for overloaded variadic constructor"
Symbol Solver is not able to resolve constructor if another variadic  constructor is declared in class.

Java Parser Version: 3.14.2

If we try to resolveObjectCreationExpr  for the following code
[code]

with the following code (source is String with the above code)
[code]
constructor is resolved to InnerClass(int...) instead of InnerClass(int).

[2019-07-05 08:36] SimonBaars opened #2290 "When lexical preservation is enabled, removing the second instance of a cloned statement within a block fails with IllegalArgumentException"
I parse the following code:

[code]

I call `Node.remove(Node)` on the `BlockStmt` inside the method, passing the final Statement (`System.out.println("I'm a clone10");`) of the block statement as an argument. I then get the following exception:

[code]

I think that this is caused by the fact that another equal statement exists in the block and I remove the second one.

I use the latest version o

[2019-07-05 08:45] SimonBaars opened #2291 "When removing a Node from a BlockStmt, all equal nodes in this block lose their parents."
JavaParser version: `3.14.5`

I have the follow code that I parse using JavaParser:
[code]

I remove the first statement in the method (`System.out.println("I'm a clone1");` using `Node.remove(Node)` on the `BlockStmt` (which is the parent of the statement I remove). This goes fine. However, if I now call `getParentNode()` on the **other** equal statement (`System.out.println("I'm a clone1");`), I

[2019-07-05 14:26] edefazio commented on #2291
Am I correct in saying that you are parsing using the LexicalPreservingPrinter??
I was able to write a simple test (using a little tool I wrote on top of JavaParser) & it works fine... (which is to say the tool I have doesnt use either  the SymbolSolver or LexicalPreservingPrinter.
[code]

[2019-07-05 14:48] edefazio commented on #2290
This seems definitely related to the integration of the LexicalPreservingPrinter & Symbol Solver (parsing without these (2) things works fine):
[code]

[2019-07-05 18:52] SimonBaars commented on #2291
Hmm, it seems like the first one suddenly becomes a different object instance. Because if I do this (in pseudocode), it returns false for me. I do not know your language, but please assume that I collect all nodes from the AST in advance (instead of after the transformation, like you do in your program):
[code]
By the way, your varcode language looks amazing, I'll invest some time into learning it

[2019-07-05 19:20] edefazio commented on #2291
actually it isnt varcode(thats old stuff), but rather the draft project under my name... (thanks BTW)

...but let me do it in pure JavaParser to figure out whats going on.

[2019-07-07 13:24] matozoid commented on #2290
I'd guess the lex pres printer, because the symbol solver doesn't modify the AST.

[2019-07-07 13:30] matozoid commented on #2286
Hmmm, that's a new one. Here's a guess: can you supply the javax classes a a stand alone jar with classes or java files instead of using the reflection type solver?

[2019-07-07 18:01] edefazio commented on #2291
Seems like another problem with the LexPreservingPrinter from the analysis

[2019-07-07 19:33] jlerbsc commented on #2286
That's what I did.

[2019-07-08 08:45] SimonBaars commented on #2291
I will reopen this if I can actually create a reproducible testcase

[2019-07-08 08:45] #2291 closed, assigned to nobody

[2019-07-08 09:38] matozoid commented on #2286
Did it work? Is it a solution you're happy with?

[2019-07-08 09:41] jlerbsc commented on #2286
No it's why i submit this issue. Perhaps the solution is to set weaveJavaxPackages=true... but i don't how to do this when javassist is used with JavaParser. With aop.xml file?

[2019-07-08 09:56] matozoid commented on #2286
When I google I see a lot of references to application servers. Is this application running on an application server?

[2019-07-08 12:00] jlerbsc commented on #2286
Yes the application is running on application servers.

[2019-07-08 12:54] matozoid commented on #2286
Let's see if the Gitter channel has some ideas. Did you try the aop.xml file yet?

[2019-07-08 14:59] malteskoruppa commented on #2152
Hi!

Thanks for the info. Somehow I missed your later answers and only read them now. Sorry about that. :-)

That's really good to know (that I can get back to the AST via `getCommentedNode()`). So if I understand correctly, "normal" comments that can be associated to a node are _not_ really made part of the AST hierarchy in the sense that they are neither children of other nodes, nor have parent

[2019-07-08 15:07] matozoid commented on #2152
Interestingly odd situation eh? I'm playing with the idea of taking the comments out of the AST completely, and having a utility class which can answer "which comment refers to this node?" and "which node(s) does this comment refer to?"

We can fix findCompilationUnit.

[2019-07-08 15:16] matozoid commented on #2286
@edefazio is giving some ideas on https://gitter.im/javaparser/javaparser

[2019-07-08 15:35] jlerbsc commented on #2286
It's interesting. Thanks. I use JavaParser & Symbol solver to solve SonarQube issues on java application which can be deployed on app server. Sometimes i need to resolve variable type which refer to javax package. For the moment i cannot use JSS to do this staff because of javassist limitation but i can try this setting:

    System.setProperty("-Xset:weaveJavaxPackages", "true");

[2019-07-08 16:56] matozoid commented on #2286
I guess it's that or not using the reflection type solver for javax files. Note that it is not Javassist, but the application server that is restricting here.

[2019-07-08 23:34] rohitsureka commented on #2005
I'm running into an issue where I'm trying to use the LexicalPreservingPrinter after altering the AST and it throws an exception
[code]
It works fine when I try to not use the LexicalPreservingPrinter and simply do
[code]
ofcourse in that case, it doesn't preserve my formatting. Has anyone run into an exception with a similar stack trace / use case. I can help provide a minimalistic test case for

[2019-07-09 06:50] jlerbsc commented on #2286
I see but the solution that i develop is not running on app server (for the moment it's a standalone app) but the source code that the solution analyze is an entreprise app that run on app server.

[2019-07-09 07:39] matozoid commented on #2286
Then I retract my note :-)

[2019-07-09 07:55] jlerbsc opened #2292 "MethodCallExpr.clone() loses the parent reference"
Not sure it's a bug but when we clone MethodCallExpr JavaParser loses the parent reference.

    String sample = " { System.out.println(\"\"); }";
    Statement stmt = parseStatement(sample);
    Optional<MethodCallExpr> expr = stmt.findFirst(MethodCallExpr.class);
    assertTrue(expr.isPresent());
    assertTrue(expr.get().getParentNode().isPresent());
    assertTrue(expr.get().clone().getParentN

[2019-07-09 08:40] malteskoruppa commented on #2152
I think that's a really good idea. :-)

The current way is somewhat confusing to users, I think, a more consistent solution would be more intuitive and easier to use. Only yesterday I was looking at the question: "How do I get all line comments above a statement?". It's not so easy. I knew the PrettyPrintVisitor does it, so I looked at the implementation, and it's rather complex: It basically fetc

[2019-07-09 08:50] malteskoruppa commented on #2152
PS. I just realized that _orphaned_ comment nodes are the ones which have parents, while comment nodes that are not orphans do not have parents. Now that's an interesting twist indeed. ;-)

[2019-07-09 09:05] matozoid commented on #2152
Oh, the class I'm suggesting would be *instead of* having comments in the AST.

Now that I'm saying this, maybe it would be better to keep it integrated with the AST, but instead of pretending that a comment is a node in the hierarchy, we can supply methods like the above: "what's the most applicable comment" "what comments refer to me" "I want a comment at the end of the line here". People can st

[2019-07-09 09:12] matozoid commented on #2292
That's correct! JavaParser goes through a lot of trouble to make sure the parent/child relationship stays correct. When you clone a node, they could both have the same parent, but they can't both be a child of the parent. Like: if I clone the expression `1+1` in `return 1+1;` it cannot be stored in the parent. What should it be? `return 1+1;1+1;`?

So the idea is: when you clone, you get a deep co

[2019-07-09 09:15] matozoid commented on #2005
@Symbolk and @rohitsureka - please don't report new issues as comments on an old issue. They will get lost.

[2019-07-09 09:23] jlerbsc commented on #2292
OK thanks. It's a good explanation ;-)

[2019-07-09 10:08] malteskoruppa commented on #2152
Well I guess we do agree that such a helper class for comments would be tremendously helpful. :-)

The other question is: Where are the comments really stored? As part of the AST or not? The nice thing about having a helper class like the above is that it would abstract away from that design decision, i.e., users don't have to worry where the comments are stored. All they need to worry about is us

[2019-07-09 11:16] matozoid commented on #2152
So that would result in:
1. make orphan comments behave like comments
2. split off the association logic from `CommentsInserter`
3. possible later redesign where comments are not get/set on nodes, but are queried and associated with nodes.

[2019-07-09 11:25] malteskoruppa commented on #2152
Sounds good to me!

By "split off the association logic from `CommentsInserter`", you mean modularize that class (perhaps split it into several classes) in such a way that it can be queried for things like "What comments does this node have?" and "What node is associated with this comment?", if I understand correctly?

[2019-07-09 19:03] rohitsureka opened #2293 "LexicalPreservingPrinter fails with Could not parse error"
Version: 3.14.5
I'm running into an issue where I'm trying to use the LexicalPreservingPrinter after altering the AST and it throws an exception
[code]
It works fine when I try to not use the LexicalPreservingPrinter and simply do
[code]
ofcourse in that case, it doesn't preserve my formatting. Has anyone run into an exception with a similar stack trace / use case. I can help provide a minimalisti

[2019-07-09 19:04] rohitsureka commented on #2005
@matozoid Created https://github.com/javaparser/javaparser/issues/2293

[2019-07-09 19:23] edefazio commented on #2293
Yes, I've had that happen to me, and it seemed to happen consistently when i made "batch changes"
(i.e. not a simple change like adding a modifier, etc., but adding multiple lines of code in different sections of the code)

I eventually had to give up on using the LPP... but (on the plus side)
Have you looked at the output and seen the regular formatting?
(w/o the LexicalPreservingPrinter) and see

[2019-07-09 20:48] rohitsureka commented on #2293
@edefazio thanks for your input, I might consider doing that. I am actually using the LPP for basically just "preserving the empty lines" within my code. For everything else, I'm can use the PrettyPrinterConfiguration.
Can you point me to an example of writing your own JavaParser code formatter if you have it handy ?

[2019-07-09 21:12] edefazio commented on #2293
Here's what I did... this is sorta easy, but it's best if you play around with the
input to the `PrettyPrintVisitor`

[code]

[2019-07-09 21:15] edefazio commented on #2293
If you look at the source of `PrettyPrintVisitor` it's really not complicated... I tweaked it to do some different things and it's "shallow" and easily testable

probably want to override it and just extend/change what you want to change will be the easiest route

[2019-07-10 00:22] rohitsureka commented on #2293
@edefazio thanks, I just checked out your example. I pretty much ended up doing the same thing. I ended up calculating the the difference in between the Range of the two nodes and adding those empty lines! Thanks for your prompt response and help! Appreciate it.

[2019-07-10 07:25] matozoid commented on #2293
Cool solution!
Can this be closed? The original problem is the same as #2290.

[2019-07-10 21:35] rohitsureka commented on #2293
yes @matozoid, we can close this! Seems like changing the node type in the orignal AST causes the LexicalPreservingPrinter to barf is covered by #2290

[2019-07-11 07:26] #2293 closed, assigned to nobody

[2019-07-14 18:01] SimonBaars commented on #1514
This has the symbol solver tag, but I don't believe this has anything to do with the symbol solver. We are talking about types here, not resolved types.

[2019-07-14 19:06] matozoid commented on #1514
Well, he is getting ResolvedReferenceTypeDeclaration.

@Lokendra-Sharma - are you still looking for an answer?

[2019-07-15 08:12] SimonBaars commented on #1514
@matozoid He got a `ResolvedReferenceTypeDeclaration` after following a "solution" that was not actually a solution to this question. The original question did not involve anything resolved. The question is how to find a declaration corresponding with a type. This is a problem that I'm also dealing with. Currently, I store the fully qualified identifier of each ClassOrInterfaceDeclaration in a Map

[2019-07-15 08:48] jjyAmongCookie opened #2295 "The method 'resolvedMethodDeclaration' in MethodCallExpr cause stackoverflow"
When I try to invoke the method 'resolvedMethodDeclaration' in MethodCallExpr, stackoverflow occured.
The following is the error message.

`
Exception in thread "main" java.lang.StackOverflowError
	at sun.net.www.protocol.file.Handler.parseURL(Unknown Source)
	at java.net.URL.<init>(Unknown Source)
	at java.net.URL.<init>(Unknown Source)
	at sun.misc.URLClassPath$FileLoader.getResource(Unknown Sou

[2019-07-15 09:45] matozoid commented on #1514
@danilomo - @ftomassetti ?

[2019-07-15 09:49] matozoid commented on #2295
A few of these have been fixed lately. Are you on the latest version?

@danilomo - do you want to handle this one?

[2019-07-15 10:22] danilomo commented on #2295
@matozoid

Sure, let me investigate this.

[2019-07-15 11:05] jjyAmongCookie commented on #2295
Thank you for your answer. I donwload 3.14.7 and this problem has already fixed.

In my problem, I used the version 3.5.X....

[2019-07-15 11:22] danilomo commented on #2295
Do you have a sample source file to reproduce the error?

[2019-07-15 12:03] matozoid commented on #2295
@danilomo it's fixed already :-)

@jjyAmongCookie - if you need any help moving to the latest version, just ask.

[2019-07-15 12:35] tretail opened #2296 "tokens ,; should be accepted at the end of Enum"
While declaring values of Enum, it should be valid to end with the tokens `,;`

For example, this kind of test should work:
[code]

But actually, this trigger the exception:
[code]

I can prepare a PR if you can point out where to touch.
Thank you

[2019-07-15 12:49] matozoid commented on #2296
Thanks! I can't help you with where to look, it will need some more work. (Well, maybe poking around in ConcreteSyntaxModel will help?)

[2019-07-15 14:07] jjyAmongCookie commented on #2295
@danilomo Thank you, I have already downloaded the latest version!

[2019-07-15 15:11] hugofmelo opened #2297 "Node equality"
Hi JP team,

suppose my visitor is collecting CatchClause nodes into a HashSet. Two CatchClause with the same source code are considered equal, thus the second one are not being added up to the Set. That is the intended behaviour?

Example:

[code]

[2019-07-15 15:53] hugofmelo opened #2298 "Type resolution when method call has unsolved arguments"
Hi JP team,

I'm using `MethodCallExpr.resolve().declaringType()` to resolve the ReferenceType of a method call, but I got `UnsolvedSymbolException `if one of the arguments of the `MethodCallExpr `are unsolved, even when the declaring type is known to be solved.

Considering I can't give the `TypeSolver `all the dependencies, that is any way to resolving the type of a method call when the argument

[2019-07-15 15:55] matozoid commented on #2297
Hi! That is the intended behaviour. To override that behaviour, we have `VisitorList`, `VisitorSet`, and `VisitorMap`.

[2019-07-15 15:56] matozoid commented on #2298
@danilomo?

[2019-07-16 05:49] tretail commented on #2296
Thanks for your answer. I took a look in the ConcreteSyntaxModel, but finally I tried to change the Difference#applyKeptDiffElement method.

Problem is while calculating the difference, the comma is not match in the original elements.
I ended up with the following modification:

[code]
This test is now green:
[code]
Nevertheless, this test is still broken because of comparison failure:
[code]
[cod

[2019-07-16 09:05] matozoid commented on #2296
Hmmm, yes that is kind of unsatisfactory because a comma is definitely not whitespace, so it should not be checked in whitespace logic. I guess this is something that the list change logic should keep track of, but I guess it only deals with commas between elements.

[2019-07-16 14:31] hugofmelo commented on #2297
How can I instantiate VisitorList?

[2019-07-16 14:58] matozoid commented on #2297
With the constructor.

[2019-07-16 15:24] hugofmelo commented on #2297
And the `GenericVisitor<Integer, Void> hashcodeVisitor, GenericVisitor<Boolean, Visitable> equalsVisitor` of the constructor.. can you give a example?

[2019-07-16 16:38] matozoid commented on #2297
Put in `ObjectIdentityHashCodeVisitor` and `ObjectIdentityEqualsVisitor`.

[2019-07-16 20:38] tkoft commented on #2296
+1, I'm experiencing a similar issue string lists in annotations.  I have a feeling this is generalized to any array literal actually?

From the [Java specs](https://docs.oracle.com/javase/specs/jls/se7/html/jls-10.html#jls-10.6): "A trailing comma may appear after the last expression in an array initializer and is ignored."

[2019-07-17 11:02] danilomo commented on #2298
@matozoid

I'll investigate this one.

[2019-07-17 11:03] danilomo commented on #2056
Anyone working on this one? I have ongoing work, if no one manifests I'll polish my code and make a PR.

[2019-07-17 11:30] matozoid commented on #2056
I haven't heard of any activity for at least half a year now.

[2019-07-17 12:06] zamahajevdusan commented on #2056
Sorry, I thought that I told you about this. Because of company policy, I cannot publish code for Maven Resolver.
But, what we basicly did was: we made a system call for maven dependencies, it gives all jar dependencies and paths to them, then parsed output of this.

Sorry I haven’t responded.

From: Danilo Oliveira
Sent: Wednesday, July 17, 2019 1:03 PM
To: javaparser/javaparser
Cc: duconja; Ment

[2019-07-17 14:51] danilomo commented on #2056
My solution just parse the POMs using a Java API from Maven itself (maven-model), and recursively looks for poms in the .m2 directory.

Then I'll proceed with this, let me polish my code a bit more and then I make a PR.

[2019-07-17 18:13] tkoft opened #2301 "Removing statement from block with lexical preservation kills other children"
When lexical preservation is on, removing a statement from a block will cause it to lose its edges to other children too.

[code]
Yields:
[code]

Removing the `LexicalPreservingPrinter.setup()` line produces expected behavior where only the removed child node disappears.

`compilationUnit.toString()` still produces the expected output, but further changes to the tree are impossible once the edges

[2019-07-17 23:20] tkoft commented on #2301
Ah I see this was fixed in #2187!

[2019-07-17 23:20] #2301 closed, assigned to nobody

[2019-07-18 03:31] tkoft commented on #2290
I came across another case of this, in case it helps with debugging.  I was trying to extract the contents of a then block into the parent block of the if statement.  Here's a simplified example, splicing the contents of an inner block into its parent block:

[code]

I found that the extraneous `int anything = 0;` line was required for the error to reproduce.

[2019-07-18 07:51] matozoid commented on #2290
See  #2290

[2019-07-18 13:13] hugofmelo commented on #2297
Ty @matozoid!

[2019-07-18 13:45] matozoid commented on #2297
Np @hugofmelo :-)

[2019-07-18 13:45] #2297 closed, assigned to nobody

[2019-07-19 22:24] csmym opened #2303 "Remove a CompilationUnit form a SourceRoot"
Hi,
Is it possible to remove a CompilationUnit from a SourceRoot ?

Regards

[2019-07-20 01:09] edefazio commented on #2303
You write a custom CallBack, you can return DONT_SAVE value and it wont be added to begin with
[code]

you can pass the CallBack instance in to any of the `parse(...)` methods

[code]

...this can be done in short form with a lambda, and you can do things with the absolutePath... i.e. if you want to skip over all "package-info.java" files... you can check
[code]

[2019-07-20 07:29] csmym commented on #2303
Thanks a lot.

[2019-07-20 07:29] #2303 closed, assigned to nobody

[2019-07-21 12:42] ahartvign opened #2305 "SymbolResolver is lost when iterating child method nodes"
Hi,

First of all, thank you for this great library. I am aware that this might be a stupid question. But here goes anyway.
I am trying to generate a list of lines of all methods called 'recursively'. My test files looks like this:

[code]

[code]

My code looks as such:

[code]

This works fine for the first method (JavaClassTwo.test()). But the second time the method is called (for JavaClassTwo.

[2019-07-21 18:47] matozoid commented on #2305
@danilomo - do you want to take a look at this? My guess would be that something is wrong in the setup.

[2019-07-22 03:44] lyzq commented on #2167
@matozoid Is there any other way besides resize xss?

[2019-07-22 08:04] matozoid commented on #2167
@lyzq - if you get this during parsing, you could turn validations off. Check https://javaparser.org/setting-java-8-9-10-etc/

If you get this in your own visitors, consider rewriting that algorithm to use `find` and friends, those don't use recursion. This is the PR that added them: https://github.com/javaparser/javaparser/pull/1195

[2019-07-22 09:20] lyzq commented on #2167
@matozoid Thanks,this is very useful!

[2019-07-22 13:17] matozoid commented on #2152
Oh, forgot to respond here :-)

Yes, `CommentsInserter` has logic to associate comments to nodes, and logic to add to comments to the nodes (the `Inserter` part.)

[2019-07-22 13:20] matozoid opened #2308 "Split off the association logic from CommentsInserter"
(From #2152)

Take the code that does comment association out of the `CommentsInserter`, so that it can be used to reason more flexibly about comments.

Reasoning could be: "what's the most applicable comment," "what comments refer to me"...

[2019-07-22 19:07] andrewinston opened #2309 "Get list of all classes declared in a CompilationUnit"
I have a file (or `CompilationUnit`) that contains some classes declared. What I need is a method to obtain all `ClassOrInterfaceDelcaration` inside a certain `CompilationUnit`

Is it already possible? If there isn't a way to do it, how do I proceed to contribute?

This is probably my first issue ever, sorry for anything.

Thanks in advance.

[2019-07-22 20:04] matozoid commented on #2309
Hi! This is in the book (it's free if you want to.) https://javaparser.org/getting-started/

The advantage is that this question can be answered in several ways, and the book discusses all of them.

[2019-07-23 11:54] jianguda opened #2310 "range values of Node and JavaToken for same element are not always same"
Hey, for same element, I found `range` values of __`Node`__ and __`JavaToken`__ are not always same.

Here is one case, parsing array declaration of Java-style and C-style:
[code]
[code]

I feel this should be one issue of __`Node`__ Object.

[2019-07-23 11:59] danilomo commented on #2305
I'm blocked the next two weeks and I didn't even start the previous ticket. When I come back into activity I can take I look at this, but if someone can investigate this before please feel free to.

[2019-07-23 14:06] matozoid commented on #2310
Yes, that is an issue, thanks!

[2019-07-25 01:25] coder-chenzhi opened #2311 "How is java-symbol-solver implemented? Is it based on pointer analysis?"
Is java-symbol-solver based on pointer analysis? If it is, which pointer analysis methods are used? If not, how is java-symbol-solver implemented?
Thanks!

[2019-07-25 08:23] matozoid commented on #2311
@ftomassetti is the one to answer this.

[2019-07-25 13:51] imeszaros commented on #2257
@jlerbsc Do you have a snippet for the above? I'm new to JavaParser. My goal would be to check whether public fields in a class have any references to any other classes.

[2019-07-25 15:29] jlerbsc commented on #2257
No, for the moment i use the resolve symbol method implemented by javaparser but i can't go from declaration to usages. it seems to be a complex development to integrate it in javaparser..

[2019-07-26 07:54] matozoid commented on #2257
@jlerbsc the symbol solver is currently unmaintained, so if nobody volunteers, it doesn't happen.

[2019-07-26 14:35] ErtelJessica opened #2312 "CloneVisitor doesn't copy orphan commets"
Assume we have following code to parse:

	public boolean isCreatedInCurrentBusinessTransaction() {
		// comment1
		// comment2
		if (vertrag != null && vertrag.isAntrag()) {
			setCreatedInCurrentBusinessTransaction();
		}
		return false;
		// comment3
	}

Now I want to get a copy of the BlockStatement by `stmt.clone();` .But then I will loose the comments 1 and 3. My suggestion is to extend the c

[2019-07-26 15:02] matozoid commented on #2312
Here you go: #2304 - check the fix version :-)

[2019-07-29 08:56] jianguda opened #2313 "NameExpr can not recognize label which used after `continue`"
If one label is used after __`continue`__, then NameExpr can not recognize it.

Here is the code
[code]
Then we have the output
[code]

[2019-07-29 14:56] edefazio commented on #2313
I think the problem here is that you are looking for a `NameExpr` instance and the continue label is a `SimpleName`...

[code]
because `SimpleName` is not a `NameExpr`

[code]

[code]

I whipped up your example in my little tool to verify

[code]

[2019-07-29 15:02] edefazio commented on #2313
FWIW, if you change it up to scan for `SimpleName`, you get:
SimpleName: Demo
SimpleName: testLabel
SimpleName: outer
SimpleName: i
SimpleName: i
SimpleName: i
SimpleName: inner
SimpleName: j
SimpleName: j
SimpleName: j
SimpleName: i
SimpleName: j
SimpleName: outer
SimpleName: inner

[2019-07-29 16:47] SimonBaars commented on #2311
There are several methods. You can configure, in your `ParserConfiguration`, what symbol solver to use. The ones I have found most success with are:

`ReflectionTypeSolver`: As the name indicates, it uses reflection to resolve types. Classes on the classpath used to run your application will be found. No source code is available for the resolved types.
`JavaParserTypeSolver`: Defines a directory c

[2019-07-29 18:09] matozoid commented on #2311
No, no pointer analysis is used. It's all quite ad hoc.

[2019-07-29 18:12] matozoid commented on #2313
For completeness:
- `SimpleName` is just one name, like `dog`.
- `Name` is a name that can be qualified by another `Name`, like `a.cute.dog`
- `NameExpr` wraps a `Name` so that it can be used as an `Expression` (so it's generally not what you are looking for.)

[2019-07-29 18:26] ftomassetti commented on #2311
I have no idea what pointers analysis is, so I guess not

On Mon, Jul 29, 2019, 8:09 PM Danny van Bruggen <notifications@github.com>
wrote:

[2019-07-29 20:11] matozoid commented on #2311
It's surprisingly easy to google: https://en.wikipedia.org/wiki/Pointer_analysis - so I guess it comes down to storing a little set in each node which contains references to all the nodes that it refers to. But the only thing we store in nodes is the result of the solver.

[2019-07-30 08:47] jianguda commented on #2313
Thanks.

[2019-07-30 08:47] #2313 closed, assigned to nobody

[2019-07-30 12:57] husseinmarah opened #2314 "Change the grammar file "java.jj""
I have made some changes in the grammar file "java.jj", after that I used maven to create the library, and import it in my project in Eclipse, but still, the new changes don't work.

My aim is to do changes that could make the javaparser reads some different sentences like:
[code]

[2019-07-30 13:04] coder-chenzhi commented on #2311
Thanks to all of you! Point analysis is the foundation for many advanced program analysis tasks. And it also can be used for type resolving. So I wonder if java-symbol-solver is implemented on point analysis.

[2019-07-30 13:04] #2311 closed, assigned to nobody

[2019-07-30 14:23] matozoid commented on #2314
Changing the syntax takes a lot more effort:
- java.jj needs to be changed, then regenerated (the maven build should do that)
- AST nodes need to be created and registered in the MetaModel
- run_metamodel_generator should be run so the MetaModel gets updated
- run_core_generators should be run so the new nodes get all the correct methods, visitors get updated, etc, etc
- the PrettyPrintVisitor sho

[2019-07-30 17:15] husseinmarah commented on #2314
Thank you for the answer
I have a project and need to use a parser for semi-java language, I was wondering is it possible to do that with javaparser, but it seems a little complex.

[2019-07-30 19:21] matozoid commented on #2314
Extensibility is not one of the strong points of this library, I'm afraid.

[2019-07-31 01:38] #2215 closed, assigned to nobody

[2019-07-31 02:00] chenzhegodspeed commented on #2167
I have read _javaparservisited_ book. I can't find an example to show how to use it to analyze a project (many java files and cross-file information).

[2019-07-31 08:06] matozoid commented on #2167
@SmiddyPence - we're lacking some documentation here.

[2019-08-03 00:37] spilehchiha opened #2315 "Can't parse a specific piece of code"
I was intending to parse this very short Java snippet:
[code]

and Javaparser gives me this error:
[code]
Any idea why might that be?
Thanks in advance!

[2019-08-03 01:57] edefazio commented on #2315
think you gotta put the field inside a class/interface/something b/c the code above aint valid java
try
[code]

JavaParser doesn't do snippets.

[2019-08-03 02:15] spilehchiha commented on #2315
I am trying to parse source code regardless of the possible syntax / semantic errors inside it (in order to have a dataset of source codes with TRUE / FALSE binary labels), since I need its AST.

I guess there is no way to work around this, since if it's wrong code, Javaparser is not going to do it.

Thanks a lot.

[2019-08-03 02:17] spilehchiha commented on #2315
@edefazio Do you know of anything in the order and power of Javaparser to do snippets and give out ASTs?

[2019-08-03 13:46] edefazio commented on #2315
This is a tall order:
"parse source code regardless of the possible syntax / semantic errors"

 Not sure how to get there... its not like there is a tool that can easily discern "code" from text.

Good luck

[2019-08-03 18:29] matozoid commented on #1030
Closed by #2170

[2019-08-03 18:29] #1030 closed, assigned to nobody

[2019-08-03 18:32] matozoid commented on #2315
- JavaParser can parser snippets as in "parse a statement, an expression, and a bunch more."
- There is some error recovery for files with syntax errors, but it's pretty minimal and not of much use to most people. You always get an AST, but for syntax errors it often is empty.

[2019-08-03 18:56] spilehchiha commented on #2315
Thanks a lot, @matozoid. Is there anyway where I can silence these syntax errors or change the mode of parsing?

[2019-08-03 19:00] matozoid commented on #2315
You can give the error recovery a try by using the `JavaParser` class instead of the `StaticJavaParser` which I assume you're using. That returns a `ParseResult` instead of an exception that you can take a look at.

[2019-08-05 17:08] #2216 closed, assigned to nobody

[2019-08-06 08:32] matozoid commented on #2262
- [x] The `TextBlockLiteralExpr` should have the literal content of the block, just like `StringLiteralExpr`.
- [x] There should be a helper method that does all the de-indentation trickery and delivers a `String`.
- [x] There should be an `asString` that uses the previous method and also de-escapes the string (just like in `StringLiteralExpr`)
- [x] The pretty printer should nicely indent the lin

[2019-08-06 11:28] matozoid opened #2318 "Analyze why tests fail when PR 2302 is built"
See #2302

[2019-08-06 14:26] matozoid commented on #2315
Renamed the issue because it was cluttering the issue list :-)

[2019-08-06 17:23] matozoid opened #2319 "Lexical preservation for text blocks."
Follow-up to #2316.

The lexical preserving printer is currently not being maintained, so the code for the new text blocks feature is probably wrong.

[2019-08-06 17:24] #2266 closed, assigned to matozoid

[2019-08-07 08:24] matozoid opened #2321 "Remove parser dependency on exact unicode chars"
There's a big table of unicode characters in the grammar that contains the characters that may appear in an identifier. Not only does this make the parser a bit more brittle, it is also not very well maintained (a separate generator that has to be run manually.) It would fit the "parse as much as possible" approach of JP not to say "only these chars are allowed" but "these specific chars are not a

[2019-08-07 08:42] matozoid opened #2322 "Create less unwieldy text block tokens"
JavaCC is giving trouble when parsing text blocks: the whole block is turned into a single token. That means there is new code to strip off the """ and the EOL after the opening """ manually. This means also that every piece of code that deals with tokens has to inspect the characters after the opening """ to see if it is \n or \r\n or \r...

A solution could be: for every text block token, insert

[2019-08-07 15:27] matozoid opened #2323 "Move checking of literal content to validation phase"
Currently having a bad escape code is a parse error. When we simplify the grammar for STRING_LITERAL and CHARACTER_LITERAL to match something like `quote not-quote* quote`, the content can be checked in a validator, making the parser more robust.

The same can be considered for OCTAL_LITERAL and BINARY_LITERAL, which can accept 0-9 for example.

[2019-08-08 07:02] JosemariaEzeani opened #2324 "UnsolvedSymbolException when searching for class ancestors"
Any help will be very much appreciated. I feel like I've done what is necessary for the code to work, especially when compared to the many examples around.

**Configuration**

[code]

**Problem arises here**

[code]

My intention is to save all superclasses for code review.
Also noticed that ResolvedClassDeclarations cannot be saved as ClassOrInterfaceDeclarations.

**Same problem even when using

[2019-08-08 10:53] admindomaindomain opened #2325 "Unsolved method call expression reference in case of enum statements"
Hi,

I'm facing a problem when trying to solve a method call expression which reference a declaration in a enum statement. Following, I leave a detail of my code.

      public enum EscapeMode {
          ... some code ...

          EscapeMode(String file, int size) {
              load(this, file, size);
          }

          ... some code ...
       }

My VoidVisitorAdapter class I've implemen

[2019-08-08 13:56] ehud-eshet commented on #2325
Hi,

I face a similar problem.
Whenever an enum contains parameters, any method call which pass that enum as argument will fail to be resolved.

See following example:

[code]
The following method call expression is failed to be resolved:
[code]

[2019-08-08 14:04] matozoid commented on #2325
Hello! There is currently no maintainer for the symbol solver. That means the best way to get a problem solved is to fix it yourself and submit a PR.

[2019-08-08 17:01] JosemariaEzeani commented on #2324
@matozoid works when parsed class and superclass are a part of the same compilation unit.

[2019-08-08 17:17] matozoid commented on #2324
Hello! There is currently no maintainer for the symbol solver. That means the best way to get a problem solved is to fix it yourself and submit a PR.

[2019-08-09 07:24] abextm opened #2326 "Comment attribution crashes with lexical preservation and copyright headers"
With javaparser-core 3.14.9 the following code fails with a `Unknown error`
[code]

[code]

Disabling comment attribution with `config.setAttributeComments(false);` or removing the line `			"// Big copyright comment\n" +` both make the parse succeed.

[2019-08-09 10:21] matozoid commented on #2326
Hello! There is currently no maintainer for the lexical preserving printer. That means the best way to get a problem solved is to fix it yourself and submit a PR.

[2019-08-09 10:30] abextm commented on #2326
[code]

I tried this and it seems to work for my particular use-case, but I don't understand how this works well enough to say if this is the correct way to fix this or not. If it looks right I can submit it as a PR.

[2019-08-09 11:01] matozoid commented on #2326
Maybe @ftomassetti can say something?

[2019-08-09 16:17] davidburstromspotify opened #2327 "Errors resolving inner types in annotation types"
Resolving inner annotation type Blorf from the following snippet

[code]

throws

[code]

This applies to JavaParser 3.14.9 and earlier.

[2019-08-10 02:26] dtomassi opened #2328 "Issue with adding annotation to FieldDeclaration"
I am trying to add annotations to fields of classes. I am encountering an error, which is shown in the "Error" snippet. Below is the code for adding the annotation to field, the file("Input") which I am trying to modify, and the error.

Let me know if y'all have any thoughts on the error. Thanks!

Code:
[code]
Input:
[code]
Error:
[code]

[2019-08-10 12:06] edefazio commented on #2328
I think this is an issue purely with the LexicalPreservingPrinter (sometimes the bookkeeping seems to get messed up when you parse and then make changes).

If you can parse the input without using the LexicalPreservingPrinter (i.e. just using the StaticJavaParser) you should be fine

I just ran this:
[code]
and got this back:
[code]

[2019-08-11 15:29] matozoid commented on #2308
It might be an improvement to move it into `CommentsCollection` and give that a better name.

[2019-08-11 18:50] #2262 closed, assigned to matozoid

[2019-08-11 18:53] matozoid opened #2329 "Add Java 13 language level and validator"
Yield and TextBlock should only be available from JDK 13 on.

[2019-08-14 12:28] xieziming opened #2330 "StackOverflowError when resolving method with duplicate segment in package name"
code segment:
[code]
It throws a StackOverflowError when running mce.resolve(). This issue happened when the node likes "
[code]
When it trying to resolve type "com.ali.com.google.common.collect.Lists.newArrayList", it fall in to the dead loop of geting type of "com" and "com.ali" (the package name include 2 com)
[code]

[2019-08-15 13:56] lhou-pcx commented on #2315
@matozoid I was using JavaParser/StaticJavaParser to parse a java file. The file contains a line which could not be parsed by the parser.

`Thread.yield();`

The error is
`Exception in thread "main" com.github.javaparser.ParseProblemException: (line 6,col 9) Parse error. Found ".", expected one of  "%=" "&=" "(" "*=" "++" "+=" "--" "-=" "/=" ";" "<<=" "=" ">>=" ">>>=" "^=" "|="`

Any idea? Thanks

[2019-08-15 14:03] matozoid commented on #2315
Hi @lhou-pcx - I think you're looking for the parseStatement method.

If that's not the problem, please open a new issue :-)

[2019-08-15 14:09] lhou-pcx commented on #2315
@matozoid Thanks for the quick reply!

I was using JavaParser to parse all the java files in a repository and make changes to some of them. I guess I will need to open an issue.

[2019-08-15 14:18] lhou-pcx opened #2331 "JDK13 yield keyword is interfering with normal code."
I was using StaticJavaParser to parse all the java files in a repository and make some code changes to some files. The program stopped and threw a ParseProblemException when parsing a file which contains the following line:

`        Thread.yield();`

`com.github.javaparser.ParseProblemException: (line 6,col 9) Parse error. Found ".", expected one of  "%=" "&=" "(" "*=" "++" "+=" "--" "-=" "/=" ";

[2019-08-15 14:21] matozoid commented on #2331
Yes I do unfortunately: Java 13 added the yield keyword, and that seems to be interfering with this code. That will require some work.

In the meantime you can downgrade to 3.14.9 (see https://github.com/javaparser/javaparser/blob/master/changelog.md )

Thanks for reporting!

[2019-08-15 14:44] lhou-pcx commented on #2331
@matozoid It seems 3.14.9 is working. Thanks!

[2019-08-15 17:23] matozoid opened #2332 "Change new keyword handling"
New keywords are now supported by adding them, then adding them to the Identifier rule as "also identifiers" to prevent older code from breaking.

Maybe we can instruct JavaCC to take the language level into account while parsing, and produce either "identifier" or "specific keyword" for the tokens instead of always "specific keyword", so that the identifier hack can be removed.

[2019-08-15 19:47] jlerbsc commented on #2324
Which version are you using?

[2019-08-16 07:50] JosemariaEzeani commented on #2324
@jlerbsc  does the feature work for you?
[code]

[2019-08-16 09:53] xieziming commented on #2330
i believe a bug here

[code]

[2019-08-16 12:16] matozoid commented on #2330
Can you make a fix and open a PR?

[2019-08-16 13:29] spilehchiha opened #2335 "Can Javaparser parse at the repository level?"
I am not sure if this is a legitimate question, but since @matozoid answers at an incredibly quick pace, I thought I might post it here.
Is Javaparser capable of parsing soyrce files in a repo im the way that it can also capture iter-file dependencies?

I have written a program which parser each Java file in a filesystem directory and gives out their AST. But I can't seem to be able to get the dep

[2019-08-16 13:34] matozoid commented on #2335
I happen to be in front of the computer right now, so I'm answering embarrassingly fast again :-)

- To parse all files in a directory and its subdirectories we have `SourceRoot`
- To analyse references between thing in the source code, we have the symbol solver. A how-to is in the book.

[2019-08-16 13:36] spilehchiha commented on #2335
God, you saved me! I'll get back to you very soon.
You are awesome.

[2019-08-16 19:07] jlerbsc commented on #2324
I can try to help you to resolve this issue.
Have you a simple test case?

[2019-08-16 21:24] JosemariaEzeani commented on #2324
@jlerbsc Yeah sure.

For each class parsed I was keen to store all superclasses in a list.
I was using the following repository for my test.
`https://github.com/abbybader/java-study-group-refactoring/tree/master/src/main/java`
LastUpdateTimeReloader would have DataReloader as a parent.
I also extended DataReloader with a DummySuperClass to check that the functionality works.

[2019-08-17 09:01] spilehchiha commented on #2335
Okay, so, I guess I did not clearly explain my intention. What I'm saying is that I want Javaparser to give me also the dependencies in between the source files in a directory. (besides what I'm getting for each file in a repo) Is that possible? Something in the like is available in the SciTools Understand software, where it shows you a dependency graph of all the source files in one directory, na

[2019-08-17 09:08] spilehchiha commented on #2335
Because I am modelling Java repositories as graphs; so right now, I have been able to accomplish the task of modelling each .java file as one graph (their AST), but the whole repository / directory becomes a bunch of unconnected graphs. My purpose is to also find a way to connected these graphs based on the file dependencies in order to accomplish my aim, which is modeeling source code in order to

[2019-08-17 11:29] matozoid commented on #2335
Here is why that is not a simple problem and needs the symbol solver:
[code]
We need to figure out where `List` comes from to know which file we depend on. Is it `java.util.List`, or is it `a.b.List`? There is no answer without looking through the whole classpath for `a.b.List`, which is what the symbol solver does.

Maybe I misunderstood the question. I do that all the time :-/

[2019-08-17 16:12] spilehchiha commented on #2335
Okay, no, this is perfectly correct and makes total sense.
But it's at the syntactic level. What I have done is that as I have parsed each `.java` file in a specific directory, these dependencies are parsed, but they are just at the lexical level. Is there any way to, kind of **expand / collapse**, say, the code from the file containing `a.b.List` in the current file being parsed, as to have _synt

[2019-08-17 19:59] edefazio commented on #2335
Not to direct you to a different tool... but

I think I understand what you are driving at... TBH years ago I used the Eclipse Metrics Plugin to create a DAG (Directed Acyclic Graph) of package and class level dependencies from a whole project
[http://metrics.sourceforge.net/](http://metrics.sourceforge.net/)
(look at "Dependency Analysis" part)... what is produced isn't just a "graph" but an inte

[2019-08-17 20:02] edefazio commented on #2335
Might also want to have a look at this:
https://github.com/classgraph/classgraph
Won a dukes choice award last year I think
but it works off of .class files

[2019-08-18 15:51] matozoid commented on #2335
Honestly, if you can make this: https://youtu.be/XIuIk4jSUN4 with the symbol solver, I think it is quite capable of finding class dependencies :-) You will have to write the software to locate the information you want.

[2019-08-18 15:59] #2331 closed, assigned to matozoid

[2019-08-18 16:31] #2327 closed, assigned to nobody

[2019-08-19 22:00] dtomassi commented on #2328
@edefazio That solution works for me. Thank you for your help!

[2019-08-20 08:10] jlerbsc commented on #2328
@dtomassi , i cannot reproduce your issue with javaparser 3.14.6. Could you share your version?

[2019-08-20 08:20] matozoid commented on #2332
I've experimented with `yield` and it's nice to have it show up as an identifier or keyword depending on language level, but it doesn't fix the problem that it seems to be yet another Magic Keyword that only applies in certain situations.

It would work very well for older Java's that added normal keywords.

[2019-08-20 14:37] matozoid opened #2340 "Handle all modifiers in lexical preserving printer"
#2339 - check that all modifiers are handled.

[2019-08-20 16:15] dtomassi commented on #2328
@jlerbsc I am using `javaparser-core` version `3.14.9` from via maven.

[2019-08-21 10:24] hecaidi opened #2344 "AbstractSymbolResolutionTest.isJavaVersion9OrAbove() fails for jdkVersion=11"
[code]
As there is no point when jdkVersion is 11, a StringIndexOutOfBoundsException is thrown

[2019-08-21 10:46] hecaidi commented on #2344
I am not able to add a label to the issue, so I have added [Bug report] in the title

[2019-08-21 13:35] malteskoruppa commented on #2344
Thanks! Should be an easy fix.

[2019-08-21 15:37] lhou-pcx opened #2346 "Multiple LineComment above a field"
I am trying to remove comments for certain fields and methods in a class. I would like to remove all the 3 lines above field1 and method1().

[code]

I found only `// field comment line3` is considered the comment for field1, and `// method comment line3` is considered the comment for method1(). The rest 4 comments are considered orphan comments for type MyClass.

In my code, I first get the comme

[2019-08-21 18:38] jlerbsc commented on #2346
It's exactly what is described here https://tomassetti.me/java-comments-parsing/

[2019-08-21 18:59] gilyerm opened #2347 "Some unexpected UnsolvedSymbol errors intermittently"
Probably a wrong usage on our part, but we're having a really weird issue.
we're running over a large project with many java files and are trying to solve any AST elements that we deem "interesting".

now we're already ok with the notion of not being able to solve for things that are not directly in the project were analyzing. how ever, we seem to sometimes have some things that do resolve on some

[2019-08-22 12:24] matozoid commented on #2344
The story behind it is that a big chunk of the symbol solver test cases run with the compiling JDK on the classpath - which is a big stink of course since the JDK changes from version to version. This way you are required to compile JP with a certain JDK version. That is the underlying problem that needs to be solved, but I bet nobody wants to spend the effort required :-)

[2019-08-22 12:30] #2312 closed, assigned to nobody

[2019-08-22 12:32] matozoid commented on #2347
As far as I know the symbol solver is not thread safe. There was some discussion on the Gitter channel recently.

[2019-08-22 13:45] edefazio commented on #2346
OK, so I thought this was a worthwhile problem to look into... and I went ahead and worked on it a bit

...(Please don't just trust me on this, do your own research/ testing)
the BIG CAVEAT here is that we assume the positions within the AST /CompilationUnit are correct (i.e. I just did a fresh read of the AST from some source file and havent added things)... if thats not the case, this wont work.

[2019-08-22 13:49] edefazio commented on #2346
FWIW here's my (compare nodes by start location implementation
(again this requires that the positions internally are correct)

[code]

[2019-08-22 15:29] lhou-pcx commented on #2346
@edefazio Thanks for the code and your time!

I am trying to remove the fields, methods, nested classes that are annotated with specific annotation. For methods and nested classes, I could just do `member.setComment(null)`. But for a FieldDeclaration, the program throws an UnsupportedOperationException when I set the comment to null. So I decided to save the comment for fields in memory, remove th

[2019-08-22 16:03] edefazio commented on #2346
So If I get you correctly to remove the fields/methods based on @ annotations? you'd ALSO have to remove the "orphaned comments" first ... then remove the member( field, )... You might want to call something like this:

[code]

[2019-08-22 16:11] lhou-pcx commented on #2346
@edefazio Thanks, I will make it a try!

[2019-08-23 11:44] malteskoruppa commented on #2344
Ah yes... it's true that the symbol solver sometimes uses the classloader of the current JDK to do the resolving (that's the `ReflectionTypeSolver`), and thus of course the outcome of a symbol resolution process may depend on the executing JDK.

So for example, if we try to resolve a call `o.isEmpty()` where `o` is an `Optional`, then this will only succeed if we're using a JDK 11 to run JP, becau

[2019-08-24 18:55] matozoid commented on #2344
Let's see...
- the thing to fix is to stop the symbol solver tests from using the compiling JDK. We could let Maven download a bunch of JDK jars and use them instead. Still a boring task, but only doing the fun stuff doesn't lead to a good product :-)
- Travis compiles JP with JDK 11. I use 11 too, but have 8 as default and forget to switch all the time.
- Most of the world is on JDK 8. JP must be

[2019-08-25 08:23] liiri opened #2349 "Stackoverflow at JavaParserTypeDeclarationAdapter.checkAncestorsForType"
I'm running some java parsing on arbitrary github repositories and came across the following. I had this reproduced for a few repos.

Version: 3.14.11
Steps to reproduce:

Clone https://github.com/NCATS-Tangerine/beacon-aggregator
I've cloned it at `Developer` today, for reference, that is head on `d3071da621181d2bdaa5d15f9fd467b080e4c530`.

Set up type solver for repo:

[code]

Then attempt to pa

[2019-08-26 10:22] matozoid commented on #2349
Thanks!

[2019-08-26 19:06] matozoid commented on #2344
It was automatically closed, but the issue isn't really really fixed.

[2019-08-27 08:57] malteskoruppa commented on #2344
Interesting! Here's a few thoughts...

Pro:
What I really like about the idea is that it would be possible to selectively adapt the symbol resolving process (for calls into the standard library) to the configured language level for parsing. So when parsing in Java 8 mode, the JDK 8 jar could be used for the resolving process, while in Java 11 mode, the JDK 11 jar could be used, etc. That would be

[2019-08-27 09:40] matozoid commented on #2344
Answers!
- In my opinion the `ReflectionTypeSolver` is a quick & dirty thing because you're analysing a piece of code, and also the running JDK?! To me it is already recommended behaviour not to use the `ReflectionTypeSolver` when you're serious about your analysis.
- what I'm suggesting is only that we do this for the test suite, here we have the ability to download JDK jars.
- there is an issue

[2019-08-27 11:30] malteskoruppa commented on #2344
I guess you're right about that. :-)

When you're serious about your analysis, it is probably best to use a `JarTypeSolver` with a JDK jar of your choice rather than the `ReflectionTypeSolver`.

Ok, but would that not in effect mean: In all tests that currently use the `ReflectionTypeSolver`, use a `JarTypeSolver` instead (with some JDK jar downloaded by Maven)?
And if so, would that not effective

[2019-08-27 11:58] matozoid commented on #2344
Now you are right about the `ReflectionTypeSolver` getting a lot less coverage - it sounds like a good time to give it a set of quality unit tests instead of the current "let's see what happens when we chuck 10000 lines of code into the symbol solver" tests. Which were fine to get a good start, but are getting rather unwieldy now :-)

We could write that unit test for a class that has been around

[2019-08-27 15:30] malteskoruppa commented on #2344
So that would involve two sub-issues then:

1. Change the current `ReflectionTypeSolver` tests to `JarTypeSolver` tests, where the `JarTypeSolver` uses a JDK jar that is downloaded by Maven (may involve adding a build-time dependency for the [maven-download-plugin](https://github.com/maven-download-plugin/maven-download-plugin) or similar).
2. Add some new specific and well-defined `ReflectionType

[2019-08-27 16:05] matozoid commented on #2344
Agreed! Create new issues if you want.

I tried having maven download all those test codebases that you see in the symbol solver test project once. That wasn't too hard with the "source plugin". This would need another plugin (since we want jars) but I thought I'd mention it :-)

[2019-08-27 18:51] malteskoruppa commented on #2344
Ok. For me, just this one issue is fine.

I will attempt to have a look, let's see how it works out. I may not get around to this for another 2 or 3 weeks, though, as I have yet a few other things in the pipeline. :-)

[2019-08-27 19:13] matozoid commented on #2344
Consider yourself assigned!

[2019-08-28 10:42] glllions opened #2351 "Can add an enum constant with lexical preserving printer"
When I run the JavaParser it removes all empty lines within a method even if I do nothing to the CompilationUnit (some of them are there for a better overview and when I just add an EnumConstant I don't want half of the lines of the file to be changed...)
Is there any possibility to just modify what was added/removed to the CompilationUnit?

btw. Thanks for this tool its really useful!

[2019-08-28 10:54] matozoid commented on #2351
Hi! I assume you're using the pretty printer? The pretty printer considers empty lines to be ugly so it does not print them. You may have more luck with the lexical preserving printer - check out the Javadoc or the book for more information.

[2019-08-28 11:19] vin-car opened #2352 "UnsolvedSymbolException with custom class and JarTypeSolver"
I'm trying to setup Symbol Solver for my project, but I get `UnsolvedSymbolException`. I've read [this sample](https://github.com/javaparser/javasymbolsolver-maven-sample) and I've tried to customize it to my needs.

My code is the following:

[code]

In the `modules` array are listed all required jars used by the class (`X` in the previous sample) I want to parse and symbol solve. So `MyContext`

[2019-08-28 15:12] glllions commented on #2351
Hi @matozoid  thx for your fast response!!

I tried the lexical preserving printer and it worked like you said, thank you! :)
... but it brought 2 little new problems:
When using the lexical preserving printer...

1. ...the JavaParser fails at adding EnumConstants when the enum ends with ';' (and no following code) [see Exception] - this isn't a problem without the lexical preserving printer
2. ..

[2019-08-28 16:09] matozoid commented on #2351
Well, I'm afraid I can't help you now :-/ The lexical preserving printer is looking for a new maintainer, and the enum thing is a known issue: #2296.

If you feel like it, you could make an attempt at fixing it.

[2019-08-28 19:16] jlerbsc commented on #2352
I think you have to define in your test case the import statement for the class MyContext

[2019-08-29 05:31] HiFromAjay opened #2353 "Does not visit nested annotations"
I am trying to retrieve annotations from source code but I cannot retrieve nested annotations. For example, the source file at the link given below has annotations at line 42, 43, 54 and 55. I can get the annotations at lines 42 and 54, but cannot get annotations at lines 43 and 55. I am using all the three MarkerAnnotationExpr, NormalAnnotationExpr, and SingleMemberAnnotationExpr to visit annotat

[2019-08-29 06:38] matozoid commented on #2353
Hi! Don't forget to call super in your visit methods.

[2019-08-29 07:01] glllions commented on #2351
@matozoid No problem, thx for trying
Unfortunately I don't have capacity to try to fix it so I will have to live with some restrictions...

[2019-08-29 07:07] HiFromAjay commented on #2353
got it :). thanks

[2019-08-29 08:10] vin-car commented on #2352
Thanks @jlerbsc , adding the import for `MyContext` class make the code work without exceptions, sorry for opening an issue for a trivial mistake.

[2019-08-29 08:10] #2352 closed, assigned to nobody

[2019-08-29 09:24] matozoid commented on #2351
- the pretty printer is actually a reasonably simple thing, a visitor that has some print-like statements for each node. If your requirements aren't too complex, a rule like "add an empty line before each variable declaration" is easy to do by overriding or copying and changing the visitor.
- if everything else fails, maybe the Spoon project is a better fit.

[2019-08-29 09:25] matozoid commented on #2353
Cool!

[2019-08-29 09:25] #2353 closed, assigned to nobody

[2019-08-29 11:34] jlerbsc commented on #2351
@glllions Could you give some code to illustrate this case "the JavaParser fails at adding EnumConstants when the enum ends with ';' (and no following code) [see Exception] - this isn't a problem without the lexical preserving printer" ?

[2019-08-29 13:04] glllions commented on #2351
@jlerbsc sure, here it comes:
I tried the following cases:

`public enum RandomEnum {`
`    TYPE_1,`
`    TYPE_2`
`}`
**-> this works**

`public enum RandomEnum {`
`    TYPE_1,`
`    TYPE_2;`
`}`
**-> this does not work**

`public enum RandomEnum {`
`    TYPE_1,`
`    TYPE_2;`
`    private void doSomething() {`
`    }`
`}`
**-> this works**

If you need more information just ask

[2019-08-29 13:26] glllions commented on #2351
that may be true but my requirements are to just add some lines into some existing classes add the occurrences of new lines are not predictable (it only would help if there was a way to keep the existing new lines but thats not how the PrettyPrinter works) ...so I think since I am am pretty happy with the JavaParser it will be the easiest way to follow the formatting rules of the PrettyPrinter for

[2019-08-29 14:36] jlerbsc commented on #2351
What's is the version your are using because with javaparser 3.14.6-SNAPSHOT I get the following result. So i'm not sure to understand your issue.

    class PrettyPrinterIssue2351Test extends AbstractLexicalPreservingTest  {
    @Test
    void printingEnum2() {
        String def2 =
                "public enum RandomEnum {\n" +
                "TYPE_1,\n" +
                "TYPE_2;\n" +

[2019-08-29 15:06] glllions commented on #2351
@jlerbsc I am using javaparser-symbol-solver-core:3.14.12
The error appears at adding an enum constant like this `enumDeclaration.addEnumConstant("SOMETHING");`

[2019-09-01 13:03] liiri commented on #1391
In the meantime it would be great to add some piece of documentation about the `JavaParserFacade` cache. I've gone through the same process as @daanschipper
![mat](https://i.imgur.com/zXu2LB7.png)

[2019-09-02 09:20] matozoid commented on #2351
@glllions - can you modify @jlerbsc's code so that it triggers the problem?

[2019-09-02 09:29] matozoid commented on #1391
@liiri - that's a great idea, but what documentation and where?

[2019-09-02 09:48] glllions commented on #2351
I made some workarounds for both problems...

For the semicolon-problem I removed the ';' before adding the EnumConstant (see workaroundForSemicolon) and for the new line story I used the lexical preserving printer and 'beatufied' the added lines (see beautifyCode):
[code]

[2019-09-02 10:01] glllions commented on #2351
@matozoid Should trigger the problem with this:
[code]

[2019-09-02 12:42] matozoid commented on #2351
Wait wait, this is a bug report so let's fix it before closing ;-) Thanks for the code!

[2019-09-02 12:58] glllions commented on #2351
ok sure, you're welcome :)

[2019-09-03 18:33] pgrefviau opened #2354 "Shouldn't calling getMembers() on a EnumDeclaration instance return the nodes for the entries of that enum?"
The `EnumDeclaration` class extends `TypeDeclaration`, which means that it has a list of members. Those members are of type `BodyDeclaration`, which is in turn described as:

Based on this, I would expect that calling `getMembers()` on an `EnumDeclaration` instance with one or more enum fields/entries declared in it would return nodes for these fields/entries. The fact that the `EnumConstantDeclar

[2019-09-03 19:41] edefazio commented on #2354
I can confirm this behavior... (I too would have expected an `EnumDeclaration` to return all of the `EnumConstantDeclaration`s when getting the members:
[code]
in the interum To get the EnumConstants there is a method `getEntries()` that might suit your needs (although I agree it is confusing that these members are not also returned in `getMembers()` but maybe @matozoid could elaborate further (bt

[2019-09-03 19:47] matozoid commented on #2354
You are all absolutely right. `EnumDeclaration` should *not* have an `entries` field but should store everything in `members`. `getEntries` could be changed to return all members that are `EnumConstantDeclaration`s.

[2019-09-05 12:39] jlerbsc commented on #2351
I found the root of the problem, leave me the time to postpone the change in the latest version

[2019-09-05 18:18] #2351 closed, assigned to nobody

[2019-09-07 19:53] matozoid commented on #2354
Now that I'm working on fixing it, I can see why the separate "entries" property was created. It's all about the enum constant declarations being in their own separate list inside the enum declaration, always before the other members, with their own special separator (a comma.) Keeping them apart makes it easy to treat them separately.

So, it's turning out to be pretty hard to fix!

[2019-09-09 17:23] gsmet opened #2356 "Leading stars are incorrectly removed"
Hi,

We are trying to use your parser in Quarkus to parse our Javadoc and generate some Asciidoc content. The fact is that for some of our Javadoc, we use Asciidoclet and thus have Asciidoc content inside our Javadoc.

This leads for instance to the following Javadoc:
[code]

The issue is that the parser totally ignores the `* ` that are in the Javadoc content and returns something like:
[code]
Wh

[2019-09-09 17:48] gsmet commented on #2356
Ah, I just figured out from the javadoc that you were expecting the leading `* ` for all the lines except the first one and they were already removed elsewhere.

I added them back and it seems to work OK.

Closing, sorry for the noise.

[2019-09-09 17:48] #2356 closed, assigned to nobody

[2019-09-10 07:18] jlerbsc commented on #2340
I think this test class could be related to this issue

    class PrettyPrinterIssue2340Test extends AbstractLexicalPreservingTest {
    @Test
    void printingVariableDeclarationWithAddedModifier() {
        String def2 = "List i";
        considerVariableDeclaration(def2);
        // adding a modifier to the variable declaration
        expression.asVariableDeclarationExpr().getModifiers().addFi

[2019-09-10 16:03] matozoid commented on #2340
Is it an existing test or something new?

[2019-09-10 16:05] matozoid commented on #2356
Uh okay :-) A personal thing: I used asciidoc in Javadoc once, but stopped very quickly when tools  continuously ruined the formatting.

[2019-09-10 17:13] jlerbsc commented on #2340
It's a new one. I am working on this case because i  encountered the problem by adding a transient modifier to a field declaration. Difference class is a little complex so it can take a time to correct this issue with generic in mind.

[2019-09-10 18:24] pgrefviau commented on #2354
I actually didn't know a Java enum could have other types of members (ex: methods). I come from a C# background, which has barebones enums.

I still feel as if the inheritance relation between `EnumConstantDeclaration` and `BodyDeclaration` is a good enough indicator that `getMembers()` should return the enum constants, but I also now better understand why they were stored in a separate field init

[2019-09-11 08:40] matozoid commented on #2354
It's time to pull out the Java Language Specification :-)

https://docs.oracle.com/javase/specs/jls/se12/html/jls-8.html#jls-8.9.1

Well, that doesn't make things a lot clearer. The constants do not have "BodyDeclaration" in their name, so I would claim that JP is wrong to inherit constants from BodyDeclaration. On the other hand I would say that everything declared in a body is a body declaration

[2019-09-11 10:09] vilmosnagy opened #2357 "CodeGenerationUtils should generate getter with `is` prefix for `boolean`s, not for `java.lang.Boolean`"
According to [this](https://stackoverflow.com/a/28450498/2891426) StackOverflow answer, and the JavaBeans specification referenced from that answer, the `
CodeGenerationUtils.getterName(Class<?> type, String name)` should work as the following:

 - return `name` if `name.startsWith("is") && class.equals(Boolean.TYPE)`
 - return `"is" + capitalize(name)` if `class.equals(Boolean.TYPE)`
 - return `"

[2019-09-12 08:11] matozoid commented on #2357
Makes sense.

[2019-09-12 16:55] jlerbsc commented on #2349
I don't know if it could resolve your issue but i JavaParserTypeSolver must be instanciated with source folder only.

[2019-09-12 17:03] liiri commented on #2349
@jlerbsc what do you mean? Only root folder? Or only folders that contain .java files? What's the harm in irrelevant folders?

[2019-09-12 17:46] jlerbsc commented on #2324
Could you test with the last version because it seems that there is no problem with this version

[2019-09-12 18:56] jlerbsc commented on #2349
Only root folders that contain .java files for example <rootdir>/src/main/java for every sub module.

[2019-09-13 07:56] matozoid commented on #2324
There have been fixes for cases like this in this year. Always use the latest version. (Ask for help on Gitter with upgrading if you need to)

[2019-09-13 09:27] #2340 closed, assigned to nobody

[2019-09-13 09:27] #2357 closed, assigned to nobody

[2019-09-13 13:14] jlerbsc commented on #2189
@Marvin, I don't know the response to your question but the difference class is hard to understand and difficult to change because of neested if statement. The goal is to generate the node data value (NodeText) from two lists :
- diffElements (a list of DifferenceElement) which define the meaning of the operation (add, remove, keep...). This list is managed by the diffIndex.
- orginalElements (a l

[2019-09-13 13:21] MarvinWyrich commented on #2189
@jlerbsc Thank you for taking the time to explain the algorithm to me. Will surely be relevant and helpful again in the future if this code location causes problems again :D
And I am glad that the problem could be solved by your implementation. Thanks for that!

[2019-09-15 09:53] matevzk opened #2360 "Symbol Solver is missing promotion of byte, char, and short in unary expressions."
byte, char and short must be promoted to int in unary expressions (see Sect 5.6.1. of Java SE 8). Symbol Solver does not perform promotion.

Java Parser Version: 3.14.13

If we try to resolveObjectCreationExpr for the following code

[code]
with the following code (codeSource is String with the above code)

[code]

constructor is resolved to InnerClass(char) instead of InnerClass(int).

The same p

[2019-09-15 10:22] matevzk opened #2361 "Symbol Solver is missing type promotion in conditional expressions"
The determination of the the result of conditional expression
[code]
is defined in Sect 15.25 of Java SE 8). Symbol Solver fails to determine the resulting type correctly in case when expressions type in branches are not of the same type.

For instance, the resulting type of:
[code]
is double, as ```1f``` must be promoted to double.

Java Parser Version: 3.14.13

If we try to resolveObjectCreation

[2019-09-15 12:31] #2189 closed, assigned to nobody

[2019-09-15 16:19] matozoid commented on #2360
Thanks for the reports!

[2019-09-15 16:53] matevzk opened #2362 "Unary bitwise complement in constructor causes JavaParserFacade exception"
Unary bitwise complement (```~```) in constructor argument causes JavaParserFacade exception.

Java Parser Version: 3.14.13

If we try to resolveObjectCreationExpr for the following code

[code]
with the following code (codeSource is String with the above code)

[code]

causes exception in line 25 of com.github.javaparser.symbolsolver.javaparsermodel.JavaParserFacade class.

[2019-09-15 21:08] matozoid opened #2363 "Release not working with JDK 12"
It complains about Javadoc problems.

[2019-09-16 12:09] matozoid commented on #2340
#2364 indicates that this isn't solved.

[2019-09-16 13:21] matozoid commented on #2340
Now it is :-)

[2019-09-16 19:31] #2329 closed, assigned to nobody

[2019-09-16 20:06] matevzk opened #2366 "Symbol Solver unable to resolve nested classes"
Symbol Solver unable to resolve nested classes in object creation expressions.

Java Parser Version: 3.14.13

If we try to resolveObjectCreationExpr for the following code

[code]
with the following code (codeSource is String with the above code)

[code]

causes exception in line 156 of com.github.javaparser.ast.CompilationUnit.JavaSymbolSolver class.

Interestingly, if inner class constructor is

[2019-09-17 11:47] hecaidi opened #2367 "Problems resolving a NameExpr when it represents a private field name"
Hello,

I am having problems with
`((NameExpr) node).resolve().getType().describe()`
when the node represents the name of a private field.

An exception is thrown at the `resolve()` call. I think the problem comes from class **com.github.javaparser.symbolsolver.javaparsermodel.contexts.ClassOrInterfaceDeclarationContext**, at the method:
[code]
I don't understand why it is only searching for visib

[2019-09-17 18:15] gpr-indevelopment opened #2368 "Unable to calculate the type of a varargs parameter."
I have received an exception when trying to symbol solve the following method:

[code]

[code]

The class referenced by `_this` is `ComponentBase.class`, that extends `ObjectContext.class`. Both classes can be found inside a jar file that I added to my `CombinedTypeSolver` via `JarTypeSolver`. I have also added a `new ReflectionTypeSolver()` to the configuration. The method `executeMethod` can be

[2019-09-17 18:26] jlerbsc commented on #2368
Could you give us the stack trace generated?

[2019-09-17 18:42] gpr-indevelopment commented on #2368
@jlerbsc sure thing! Here it is:

[code]

[2019-09-18 08:01] jlerbsc commented on #2368
It's not related to varargs (in version 3.14.14) because this test case runs

    void methodWithVarargsResolution() {
        // configure symbol solver before parsing
        StaticJavaParser.getConfiguration().setSymbolResolver(new JavaSymbolSolver(new ReflectionTypeSolver()));
        CompilationUnit cu = StaticJavaParser.parse("class A {" +
                "public void execute() { executeMeth

[2019-09-18 11:51] gpr-indevelopment commented on #2368
I have built a test case on one of many big classes inside the project I am running the analysis on. The `config` object is a class of mine that contains a whole bunch of .jar files, and returns a JavaSymbolSolver made out of a CombinedTypeSolver that contains some JarTypeSolvers. All JarTypeSolvers are built with `JarTypeSolver.getJarTypeSolver(path)`.

Unfortunately I cannot include the .jar fil

[2019-09-18 13:18] jlerbsc commented on #2368
Could you simplify your test case VarArgsBug.java and provide and simple version of the class ComponentBase and others classes .

[2019-09-18 16:40] jlerbsc commented on #2368
@gpr-indevelopment I'm not sure but i think your issue is caused by a wrong configuration.
In your case, you have to add a JarTypeSolver for each library (absolute path), a ReflectionTypeSolver, and a JavaParserTypeSolver for each source dir (absolute path). All that is needed to resolve dependency from libraries, others sources, and jdk classes. Could you confirm this configuration?

[2019-09-18 18:21] SimonBaars commented on #2367
Hey Hecaidi,

Thanks for submitting this issue! Could you please submit a reproducible case in which this error occurs? `hasVisibleField` is correct in the method you point out because the symbol solver traces to parent classes and this method should only be in effect in such cases.

I created the following class:
[code]

Resolving the `privateField` `NameExpr` in `privateField = localField;` succ

[2019-09-18 18:54] SimonBaars commented on #2367
Okay, hereby some further insight into solving this issue.

The method you pointed out breaks a test when `hasVisibleField` and `getVisibleField` are changed to `hasField` and `getField` respectively. However, the following (similar) method in the same file does not break tests when the same transformation is applied:
[code]
Inspecting the incoming calls of both, it seems that `solveSymbol` is use

[2019-09-18 19:09] SimonBaars commented on #2366
I don't think this has anything to do with the nesting of the classes here. Your code is incorrect. You call `new Test().new InnerTest();` while there is no constructor without arguments in the class. `new Test().new InnerTest(1);` should work.

[2019-09-18 19:20] matevzk commented on #2366
True, typo on my behalf.

After correction Symbol Solver handles object expression for InnerTest class but still misses object creation expression for Test class.

[2019-09-18 19:27] SimonBaars commented on #2362
It's an exception on line 225 of `com.github.javaparser.symbolsolver.javaparsermodel.JavaParserFacade`. This is indeed a bug in the symbol resolver. I will check if I can resolve it :)

[2019-09-18 19:29] matevzk commented on #2362
yeah, I should work on my typing skills 25 -> 225

[2019-09-18 19:36] SimonBaars commented on #2362
This should solve the issue :)

[2019-09-18 19:38] SimonBaars commented on #2366
Are there even two `ObjectCreationExpressions`? When I run your test Javaparser only finds a single `ObjectCreationExpression`. This would imply a bug on Javaparsers side, not the symbol solver.

[2019-09-19 05:48] matevzk commented on #2366
Indeed, this seems to be a Javaparser bug.

[2019-09-19 06:10] SimonBaars commented on #2366
I will create a new issue for it then. Thanks for the report!

[2019-09-19 06:31] SimonBaars opened #2370 "Mismatch between VoidVisitor and node.findAll"
Elaborating to issue #2366, we found a mismatch in number of objects found between `VoidVisitorAdapter` and  `node.findAll`. Consider the following code:

[code]

and the following test:

[code]

I expect the size of `oce` (using `findAll`) to be equal to `foundObjs.get()` (using `VoidVisitorAdapter`), but it is not.

[2019-09-19 08:08] matozoid commented on #2368
(remark: it's quite an unhelpful error message if that is the problem)

[2019-09-19 08:10] #2362 closed, assigned to nobody

[2019-09-19 08:40] jlerbsc commented on #2368
You are right! But without a simple and clear test class which can reproduce this issue it's difficult to help to resove it. First test class show that SymbolSolver understand varargs as a parameter and resolve it.

[2019-09-19 10:35] SimonBaars commented on #2366
@matozoid  solved the problem, it was not a JavaParser bug.

[code]

You forgot the `super.visit(exp, arg);` call.

[2019-09-19 11:26] gpr-indevelopment commented on #2368
The classes referenced by `_this` and `_this.getRoot()` are inside a relatively big hierarchy tree, and hence it will demand me some time to simplify like you mentioned, with all dependencies fullfilled.

The java class I originally posted on this thread (first post) is actually a simplified version of VarArgsBug.java.

MaestroSolverConfig.zip contains the class I am using to inject my `JavaSymbol

[2019-09-19 12:41] jlerbsc commented on #2368
I think buildCombinedTypeSolver(..) should contain a JavaParserTypeSolver("<sourceDir>") declaration to resolve dependencies in the project sources.
with sourceDir point to the source directory (without package)
Could you verify that properties (for example maestroPath ) point really to a jar file not a folder.
Where do you set SymbolResolver in ParserConfiguration (to create an instance of parser

[2019-09-19 16:51] gpr-indevelopment commented on #2368
- I think buildCombinedTypeSolver(..) should contain a JavaParserTypeSolver("") declaration to resolve dependencies in the project sources, with sourceDir point to the source directory (without package).

R: You mean create a `JavaParserTypeSolver` pointed to my own project's path? I am only analyzing classes that are outside of the project (inside a database). If I use `JavaParserTypeSolver`, poi

[2019-09-19 17:26] jlerbsc commented on #2368
You only need JavaParserTypeSolver if you have to analyse source files too.
The config seems to be ok. I have to write a test case.

[2019-09-19 17:31] jlerbsc commented on #2368
Is it right?

    public class ObjectContext {
        public Object executeMethod(String methodName, Object... values) {
            return null;
        }
    }

    public class ComponentBase extends ObjectContext {
        ObjectContext root;
        public ObjectContext getRoot() {
            return root;
        }
    }

    public class A {
        public void execute(final ComponentBase _

[2019-09-19 17:49] jlerbsc commented on #2368
@Test
    void methodWithVarargsResolution2() throws FileNotFoundException {
     // configure symbol solver before parsing
        String sourceDir = "C:\\Users\\xxx\\Downloads\\MaestroSolverConfig";
        CombinedTypeSolver combined = new CombinedTypeSolver();
        combined.add(new JavaParserTypeSolver(sourceDir));
        combined.add(new ReflectionTypeSolver());
        StaticJavaParser.g

[2019-09-19 19:33] gpr-indevelopment opened #2373 "What is the intended way of substituting returning objects on method calls?"
I have been struggling to figure out how to properly substitute some methods in a project I am currently running. What is the proper way of doing this, making the best use of this amazing lib?

I have the following test case:
[code]

The intended conversion for the execute method would be:

[code]
I have been doing it this way: First I change the method declaration (ComponentBase -> ObjectA), then

[2019-09-19 21:34] matozoid commented on #2373
Am I correct that this is a question about the symbol solver? I see you're doing a lot of AST manipulations, but there seems to be nothing going wrong with that?

[2019-09-20 00:40] gpr-indevelopment commented on #2373
I am using AST manipulations to reach/change some nodes, like the method declaration and method call expression.

But, I am also using symbol solver to resolve some method calls, so that I know from which object this call is coming from. With this information, I am able to alter the method call (via AST manipulation). My problem is related to the type of the return (String to MaestroString in my e

[2019-09-20 06:14] jlerbsc commented on #2373
You can modify the return type statically with MethodDeclaration.setType() but i'm not sure that answers your question.

    "but the return types are determined at runtime"

[2019-09-20 07:02] jlerbsc commented on #2368
I reproduce the issue when i package all source files in a jar. So it's more simpler to see whta's happen.

[2019-09-20 09:04] jlerbsc commented on #2368
Could you tell us if jar files contain java files or class files?

[2019-09-20 10:19] matozoid commented on #2373
I suspect some kind of caching going on here. What exactly happens here: " I cannot resolve the new getTest_char_1() method"? An exception?

@jlerbsc it would not be too hard to make a test case for this I think?

[2019-09-20 10:24] #2366 closed, assigned to nobody

[2019-09-20 10:47] gpr-indevelopment commented on #2373
When I try to resolve the `getTest_char_1()` my class is in the following state (notice the return type is still String, as I am about to change it):

[code]
Then I use a visitor to retrieve variable declarations in this code. I am able to retrieve the `testString` variable declaration this way. With the following code I am able to reach the `getTest_char_1()` method call expression, that defines

[2019-09-20 11:02] gpr-indevelopment commented on #2368
@jlerbsc I tried to build the classes here to test it, and could not replicate the error... there might be something going on with the original .jar. You example looks correct, but there is an intermediate class, called ObjectContextDecorator:

[code]

[2019-09-20 11:47] Implex1v opened #2374 "Comments of added Nodes are ignored in LexicalPreservingPrinter"
Given this example code
[code]
If I parse it with javaparser and setup the AST with the LPP and adding a new node as
[code]
the result of `LexicalPreservingPrinter#print` will look like this:
[code]
I have taken a look into the code and found out, that the CSM does not fully support comments as `CsmComment`. Is there any plan to support these comments or is it even a bug? I found a work around for

[2019-09-20 12:06] jlerbsc commented on #2368
i can only reproduce your issue if the jar file contains only java sources that is not what is expected.

[2019-09-20 12:19] matozoid commented on #2373
I'm passing the case to @jlerbsc :-)

[2019-09-20 12:21] matozoid commented on #2374
Yes, that's very likely a bug.

[2019-09-20 12:23] jlerbsc commented on #2373
you are too generous ;-)

[2019-09-20 12:37] gpr-indevelopment commented on #2368
I see... if there is something missing in the jar file, should'nt the exception's message show something that leads us to it? Something it could not resolve?

[2019-09-20 12:59] jlerbsc commented on #2368
Something like this

    Unable to calculate the type of a parameter of a method call. Method call: _this.getParent().set("NWT_RESULTADO_IEC_ETA_100", _this.getRoot().executeMethod(functionName, regexText, outpuText, 5))

[2019-09-20 13:37] jlerbsc commented on #2373
Is this approximately what you want? If not, please give us a complete test case, thanks.

    @Test
    void methodWithVarargsResolution() throws IOException {
        CombinedTypeSolver combined = new CombinedTypeSolver();
        combined.add(new JarTypeSolver("C:\\Users\\xxxx\\Downloads\\MaestroSolverConfig\\lib\\maestro.jar"));
        combined.add(new ReflectionTypeSolver());
        StaticJ

[2019-09-20 14:00] gpr-indevelopment commented on #2373
@jlerbsc almost correct. The problem I see is with this line: `vd.get().setType("MaestroString");`. There, you hard-code that the new return type is MaestroString. My situation is a little more complicated.

Since you changed the execute method's argument to be A, instead of ComponentBase, and the method to be TEST_CHAR_1 (called from A, instead of ComponentBase), I am not able to determine the Ma

[2019-09-20 14:09] gpr-indevelopment commented on #2368
Ya but, all I know from this message is that there is a parameter of this method call, that the solver could not calculate. Sometimes there is a nested method call (like in this case)... This was informed:

[code]
But, I am not able to tell which part of the nested method call is throwing the exception: It could be getRoot(), executeMethod, or something inside it. It's just a suggestion.

Since I

[2019-09-20 14:27] matozoid opened #2375 "Create better error messages for the symbol solver"
Instead of "can't resolve X" we can make an effort to say why.

Inspired by #2368

[2019-09-20 14:28] matozoid commented on #2368
@gpr-indevelopment - we have a you-open-it-you-close-it policy ;-)

[2019-09-20 15:10] jlerbsc commented on #2373
Is it correct now?

    @Test
    void test() throws IOException {
        CombinedTypeSolver combined = new CombinedTypeSolver();
        combined.add(new JarTypeSolver("C:\\Users\\xxxx\\Downloads\\MaestroSolverConfig\\lib\\maestro.jar"));
        combined.add(new ReflectionTypeSolver());
        StaticJavaParser.getConfiguration().setSymbolResolver(new JavaSymbolSolver(combined));
        Compil

[2019-09-20 19:05] #2368 closed, assigned to nobody

[2019-09-20 19:09] gpr-indevelopment commented on #2373
@jlerbsc perfect! That is exactly the case... I get the exception when I try to execute something similar to this in my code:

[code]

[2019-09-21 06:17] HaoboGu opened #2376 "Cannot parse constructor body using parseBlock"
I am trying to parse an arbitrary part of java code, including class, method or a block. I encountered an error when I tried to parse the body of constructor:
[code]

This test fails with
[code]
Is this a JavaParser bug? At least for me, the intended behavior is that JavaParser should treat the constructor body as a block and parse it into a BlockStmt

[2019-09-21 18:53] edefazio commented on #2376
I can confirm this behavior...
in the interum (as a hack to get you passed what you want to do)

may I recommend:
[code]

[2019-09-21 19:33] matozoid commented on #2376
Ah, yes, the difference in parsing a body and a constructor body is back to bite again :-)

I'll go check if I can make them the same in the grammar so this will go away forever.

[2019-09-21 21:39] matozoid commented on #2376
Here's some random documentation that is not really relevant to the issue, but maybe someone will find it on google someday:

`ExplicitConstructorInvocationStmt` is the node type of https://docs.oracle.com/javase/specs/jls/se13/html/jls-8.html#jls-8.8.7.1
Note that the JLS calls it "ExplicitConstructorInvocation" without saying if it is an expression or a statement. It is just something that can g

[2019-09-22 02:44] HaoboGu commented on #2376
I got the problem: when we parse a single block which has `ExplicitConstructorInvocationStmt` in it, we never know whether this block is a constructor's body.

I am not an expert of JavaParser, but I'm wondering that can we make the constructor body as a special case of `BlockStmt`? Then we only need to check `ExplicitConstructorInvocationStmt` in that special block.

[2019-09-22 10:03] matozoid commented on #2376
Oh yes, yes that is the problem. A constructor body is a separate case in the grammar currently. So I'm contemplating getting rid of the special case :-)

[2019-09-22 18:02] #2370 closed, assigned to nobody

[2019-09-22 18:02] matozoid commented on #2370
Luckily not a bug :-)

[2019-09-23 07:47] chenzhegodspeed opened #2377 "Who can tell me what is the advantage of comparison with Eclipse-JDT"
As I known, JDT can also parse java source code or analyze it in project level(depends on Eclipse-Platform).  So I am not sure this project is more powerful than JDT or it is convenient for developers without Eclipse-platform dependency.

[2019-09-23 12:24] matozoid commented on #2377
Hi! I maintain this project because five or six years ago I wanted to parse some code and couldn't easily get started with the JDT. This looked like a much simpler project, so I patched it up (it was abandoned) and now it's a nice alternative - especially the parser and AST are quite streamlined. We have a little book/tutorial too. The nice thing is that everything is meant to be used by you, the

[2019-09-23 19:20] edefazio commented on #2377
Speaking as a user, I'd say just looking at the amount of code you have to write to do (IMHO) trivial things in JDT was a turn off... I read this:
[https://www.vogella.com/tutorials/EclipseJDT/article.html#adding-a-hello-world-statement-using-the-ast](https://www.vogella.com/tutorials/EclipseJDT/article.html#adding-a-hello-world-statement-using-the-ast)

...and to do something like build some code

[2019-09-24 01:12] chenzhegodspeed commented on #2377
@matozoid  Well. I have same reason that I can't get started with the JDT easily,A lot extra work need to do to replace all Eclipse Platform Dependency. I hope there is a specific document but I only find a **javavisit** PDF book.

[2019-09-24 01:18] chenzhegodspeed commented on #2377
@edefazio Redundant code for me using JDT is fine. The most important is that I can't migrate my program out of Eclipse Plug-in environment easily.

[2019-09-24 02:34] edefazio commented on #2377
sounds like you've made up your mind... :)
use the right tool for the job

[2019-09-24 03:24] chenzhegodspeed commented on #2377
@edefazio Yes. I am using Javaparser now and I will estimate my cases for some time.

[2019-09-24 07:23] sischnei opened #2379 "How to parse references to static fields"
Hi guys,

I hope this is the right place to asks questions, if not please advise where a better place would be!

I have the following java source to parse:

    private final static String BASE = "base";
    private final static String EXTENSION = "some text and it's " + BASE;

    @MyAnnotation(value = EXTENSION)
    public void someMethod() { ... }

Specifically I'm interested in how to resolve

[2019-09-24 10:01] matozoid commented on #2377
@chenzhegodspeed - the web site has all the sources of information: https://javaparser.org/getting-started/

[2019-09-24 10:05] jlerbsc commented on #2379
I think you have to get the variable declaration from the MemberValuePair attribute defined in the list of children of the AnnotationExpr class. It's not very intuitive!

    MemberValuePair n = (MemberValuePair) myAnnotation.get().getChildNodes().get(1);
    Expression value = n.getValue();
    Optional<VariableDeclarator> fd = cu.findFirst(VariableDeclarator.class, expr -> ((VariableDeclarator)e

[2019-09-24 10:13] matozoid commented on #2379
This is out of scope of the project because of the string concatenation: that happens either runtime by the JRE or in an optimization step of the compiler. So, maybe you can get to it by inspecting the compiled class file, or maybe you will have to run the application. JP does not compile or run source code.

[2019-09-24 10:14] #2367 closed, assigned to nobody

[2019-09-25 05:45] HaoboGu opened #2382 "Cannot set value of StringLiteralExpr when LexicalPreservingPrinter is used"
I want to replace all literal values and keep original format of the file.
According to JavaParserVisited book, I used the `LexicalPreservingPrinter`.
However, I found that `LexicalPreservingPrinter` keeps all literals, here is the test case:
[code]

The output is
[code]
But the intended output is
[code]

[2019-09-25 17:15] jy95 opened #2383 "How to retrieve all compilation errors of all classes in the given folder"
Hello,

My question is the one in the title. I read these resources but couldn't find my answer :

- [Semantic validations](https://javaparser.org/semantic-validations-in-javaparser/)
- [Java8Validator](https://static.javadoc.io/com.github.javaparser/javaparser-core/3.3.1/com/github/javaparser/ast/validator/Java8Validator.html)
- [ProblemReporter](https://static.javadoc.io/com.github.javaparser/ja

[2019-09-25 17:31] edefazio commented on #2383
I'm not sure you are going to get what you you think you are going to (all errors)
if there is more than one Syntactical error...
(And I believe the Validators operate on syntactically valid Java code but "know" the differences
between "valid" code for Java 1.7 and Valid code for Java 1.8
(i.e. the code
"Predicate<String> STARTSWITH = (s)->s.startsWith("a");"
...is syntactically valid Java code fo

[2019-09-25 17:58] matozoid commented on #2383
There are no compilation errors in JavaParser since it is not a compiler. There is a large amount of errors that JavaParser does not report.

That said, @edefazio's example is nice. For "in the given folder" you can use `SourceRoot`, make it parse a directory of files, the take all the resulting `ParseResult`s and use the `Problem`s that occurred as you like.

[2019-09-25 18:08] jy95 commented on #2383
Oups I used the wrong word ... ( parsing instead of compilation )
A static analysis is just what I needed :)

[2019-09-25 18:08] #2383 closed, assigned to nobody

[2019-09-26 05:43] sischnei commented on #2379
Ok - thanks both for your answer!

[2019-09-26 09:19] #2379 closed, assigned to nobody

[2019-09-26 09:19] matozoid commented on #2379
No problem, good luck!

[2019-09-27 16:23] samuelgrigolato commented on #2263
[Delombok](https://projectlombok.org/features/delombok) worked for me. Not the cleaniest solution (there's no API so a little bit of reflection was necessary here and there) but it gets the job done, i.e. I was able to delombok a very complex and large code base with multiple modules and send it to Java Parser immediately after, without the issues I was facing before. Posting here so it might help

[2019-09-27 16:23] #2263 closed, assigned to nobody

[2019-09-30 14:58] matozoid commented on #2374
I hear the PR didn't fix the issue.

[2019-09-30 17:02] jlerbsc commented on #2374
In fact i think there is probably no issue. The code below doesn't reproduce the issue because the comment is associated to a statement which is not  printed by lexical preserving printer.

    Statement stmt = StaticJavaParser.parseStatement("System.out.println(\"World!\");");
    stmt.setLineComment("Example comment");

While this one shows the comment with lexical preserving printer

    Expres

[2019-09-30 20:21] matozoid commented on #2374
It's not very intuitive though?

[2019-10-01 04:57] jlerbsc commented on #2374
Lexical preserving printer doesn't take into account ExpressionStmt node. May be it is related to the fact that ExpressionStmt is a wrapper on Expression and not really a node!

[2019-10-01 05:11] Caellian opened #2385 "Simple assignment can't be parsed"
I keep getting same errors on multiple files generated by fernflower decompiler. Sorry for obfuscated code, I can't publish mapped code. If mappings are needed, I can provide them in a link.

I was parsing code using `StaticJavaParser.parse(...)` function.

Source context:
[code]
Stacktrace:
[code]

Ask for additional info.

[2019-10-01 08:12] matozoid commented on #2385
Hi! FernFlower used the keyword `do` as an identifier. That's not valid Java.

[2019-10-01 08:15] matozoid commented on #2374
Comments, they are always trouble... So the idea that ExpressionStmt does not have its own data is actually wrong: it can have a comment and we should consider it! ... but it looks like it does: https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/printer/ConcreteSyntaxModel.java#L604

[2019-10-01 09:49] rgoldberg opened #2386 "Maven thinks the newest version is 3.14.159265359"
Maven thinks the newest version is 3.14.159265359, but 3.14.16 is newer.

This causes problems when checking if code is using the latest version of java parser.

Can you release 3.15 to fix this?

[2019-10-01 11:53] matozoid commented on #2386
Hehe, yes of course!

[2019-10-01 22:28] Caellian commented on #2385
You are right. Didn't notice that.

In case anyone else with the same problem comes across this:
Obfuscators don't care whether member (field/variable, method/function) names are valid as they don't matter to JVM.

Fernflower also decompiles varargs and root package class paths wrong, there might be other issues but those are the ones I came across so far.

[2019-10-02 08:23] matozoid commented on #2385
It would be good to report those to the Fernflower project, they might add some code to rename problematic identifiers etc.

[2019-10-02 09:21] PeterCsubak opened #2387 "JavaParserClassDeclaration canBeAssignedTo gives wrong result when reaches Object as super type"
If I configure a `ReflectionTypeSolver` and try to determine wether a parsed class extends an other class with the `JavaParserClassDeclaration.canBeAssignedTo()` method, and the parsed java class doesn't extend any other class this method will still report as a match.

I've done some debugging and found this part of the code, which I think causes the wrong results:
[code]

It checks if the supercl

[2019-10-03 09:23] matozoid opened #2388 "Upgrade JP in Moditect"
It's running behind, so let's be proactive and upgrade it for @gunnarmorling

[2019-10-03 21:09] matozoid commented on #2388
https://github.com/moditect/moditect/pull/106

[2019-10-05 10:23] gitmotte opened #2391 "CompilationUnit#addImport produces duplicate imports"
<artifactId>javaparser-core</artifactId>
<groupId>com.github.javaparser</groupId>
<version>3.14.159265359</version>

[code]
should be
[code]
otherwise comments and other nodes affect the result.
i.e.
[code]

Maybe we should improve this method to ignore implicit imported packages like "java.lang" ?
[code]

[2019-10-05 11:22] matozoid commented on #2391
Sounds good. There are various addImport methods though, and they all seem to work differently. Also the Javadoc is way outdated.

Would you like to do a little clean up and submit a PR?

[2019-10-05 13:28] edefazio commented on #2391
While we are at it...
can we also check if the package is already wildcard imported?

i.e.
[code]

...just a thought.

[2019-10-05 19:26] gitmotte commented on #2391
Just saying this does not fix the bug, if an import has been parsed with a comment, and the second was added at runtime, because they are not equal any more.
[code]
Well, i'm reorganizing imports before writing the java - file now in my project code, because i have only one comment between package- and import-declarations (the license-header) . Never heard about anyone commenting imports ...

[2019-10-05 19:36] matozoid commented on #2391
They are not equal anymore? Not sure I understand?

[2019-10-05 19:44] gitmotte commented on #2391
The importdeclarations are not equal, because the first import has a comment, the second not, nevertheless the names of the imports are equal.

[2019-10-05 19:50] edefazio commented on #2391
Ohh... one issue with this logic...
`!importDeclaration.getNameAsString().startsWith("java.lang")`

I had logic similar to this, but there are subpackages under "java.lang" that are NOT auto imported
i.e.
"java.lang.annotation.Documented.class"

alternatively maybe:
`!importDeclaration.getNameAsString().equals("java.lang")`

[2019-10-05 20:06] gitmotte commented on #2391
@edefazio Please have a look at the fix, not the first proposal. https://github.com/javaparser/javaparser/issues/2392

[2019-10-05 21:06] edefazio commented on #2391
sorry I was half paying attention and watching football... my mistake... thanks for the fix

[2019-10-06 13:35] #2391 closed, assigned to nobody

[2019-10-06 18:20] #2386 closed, assigned to nobody

[2019-10-07 20:11] alessiostalla commented on #2227
@matozoid I would like to lend a hand on this. I've already looked at generators. Were you thinking about a generator that writes the actual bnd.bnd file? Or would printing to stdout suffice, like the GrammarLetterGenerator does?

[2019-10-07 20:49] matozoid commented on #2227
Hi! Thanks for the offer. I think it would be best to do it automatically because it gets forgotten all the time. It shouldn't be too hard to put another one in here: https://github.com/javaparser/javaparser/blob/master/javaparser-core-generators/src/main/java/com/github/javaparser/generator/core/CoreGenerator.java

GrammarLetterGenerator would have been nice to automate too, but it has to output

[2019-10-08 08:01] alessiostalla commented on #2227
@matozoid thanks for the info. I will sketch an implementation and open a PR.

[2019-10-08 09:46] Implex1v opened #2393 "LexicalPreservingPrinter and replace doesn't seem to work properly"
When using JavaParser 3.15.0 and running this example code
[code]
the following exception is thrown

If I remove the LPP call the exception will not occur.

[2019-10-08 19:33] edefazio commented on #2391
I apologize... I didn't do my due diligence here and I'm sorry, but the changes that are made in this are causing some tests I did (outside of JavaParser) to fail... the problem is that the change made in `CompilationUnit.addImport(...)` will fail if we add an import with any name containing a '$' in it:

(as explained on the Gitter)
It revolves around importing Classes and Interfaces which begin

[2019-10-08 19:48] edefazio commented on #2391
Here's two test cases to illustrate the failures:
[code]

[2019-10-09 12:35] gitmotte commented on #2391
@edefazio thanks for the hint with ```Class#getCanonicalName()```

In my last PR i moved the replacement ```name.replace("$", ".")``` from ```addImport (Class)``` to ```addImport (String)``` not considering that this is not a universal rule.

[2019-10-11 19:30] gpr-indevelopment commented on #2373
@jlerbsc did you happen to take a look at it?

[2019-10-12 07:58] jlerbsc commented on #2373
If the test case is correct i cannot reproduce the issue! Could you modify this test class to generate your exception please.

[2019-10-14 12:32] Implex1v commented on #2374
Here are my two cents:
As far as I understand the LPP a syntax model is created for every node, which is related to a CST (Concrete Syntax Tree). These model nodes are the Csm* classes. Actually there is one for comments (`CsmComment`) and for my example a node of this type is generated. Unfortunately these are ignored by the [LexicalDifferenceCalculator](https://github.com/javaparser/javaparser/b

[2019-10-15 19:15] gpr-indevelopment commented on #2373
So, was this test case able to infer the new return type of the changed method? Was it able to be resolved after the changes to the MethodCallExpression?

[2019-10-15 19:46] gpr-indevelopment commented on #2373
My intention with the question was to know what is the intended way of changing return types dynamically. Does this test reproduce how return type solving should be implemented?

[2019-10-16 05:41] matozoid commented on #2373
You're doing things right. @jlerbsc is trying to find out why it doesn't work, so he can fix the problem for you.

Alternatively, since this project runs on user contributions, you can consider diving in and suggesting a fix.

[2019-10-16 10:16] gpr-indevelopment commented on #2373
@matozoid sure! I am currently running an experimental project using JavaParser at work. If this project runs for longer, I will certainly dive into the code so I can make contributions.

@jlerbsc I will take a look at your test case, to see if I can reproduce the error here. If not, I will try to write a test case for you.

Thank you guys.

[2019-10-16 10:34] matozoid commented on #2373
No problem. A workaround might be to use `clone()`: if you start with a simple AST without the symbol solver connected and do your transformations on that, you can clone it and use that clone for solving.

[2019-10-20 18:47] #2374 closed, assigned to nobody

[2019-10-22 18:46] JonJam commented on #2305
@ahartvign I hit this issue with 3.15.0.

After some playing around I found that I resolved it by specifying the same ParserConfiguration I was using for the StaticJavaParser to JavaParserTypeSolver.

(As JavaParserTypeSolver creates it's own ParserConfiguration)

It would look something like this:
[code]

[2019-10-23 14:39] andrewhabib opened #2397 "Solving generic type of method paramters or return type fails"
Hi,

For ```MethodDeclaration```s in each ```ClassOrInterfaceDeclaration```, I am trying to obtain resolved return type as well as resolved type of each method parameter.
I get ```java.lang.UnsupportedOperationException: Unable to get the resolved type of class ResolvedReferenceType from ...``` when calling ```solve()``` on the corresponding return or method parameter type if the type is parametri

[2019-10-28 10:11] heshuguo opened #2399 "How to get the source code of variable definition"
Here is the code example:

[code]

I want to get all the code related to cmds, that is to say, I want to get the code below:

[code]
How to get the code above?

[2019-10-28 11:41] matozoid commented on #2399
Ah, I see you found your way to Gitter already :-)

[2019-10-28 13:02] matevzk opened #2400 "SymbolSolver resolves ambiguous object creation expressions"
In case of ambiguous object creation expressions Symbol Solver still resolves the expression instead of throwing Exception.

Java Parser Version: 3.15.3

If we try to resolveObjectCreationExpr for the following code

[code]
with the following code (codeSource is String with the above code)

[code]

constructor is resolved to Test(java.lang.Integer...) instead of throwing an Exception.

[2019-10-29 00:27] heshuguo commented on #2399
I have not got the answer yet. could you please provide some help?

[2019-10-29 02:56] heshuguo opened #2401 "How to get the type of references"
The example from the javaparser guide,

[code]

[code]

The expected output would be: Type of `a = a + 1` is `PrimitiveTypeUsage{name='int')`
But I can not get the expected result. I got an error:

`Exception in thread "main" java.lang.IllegalStateException: No data of this type found. Use containsData to check for this first.`

What is the right way to do this?

[2019-10-29 03:00] heshuguo commented on #2401
the version is 3.15.0

[2019-10-29 06:45] matozoid commented on #2400
Thanks! It's not really a bug, because analysing code that would not compile was never a design goal, but this would be good to have anyway.

[2019-10-29 06:52] matozoid commented on #2399
The answer was not to look at the archived project, but at the current documentation. Did you do that?

[2019-10-29 06:55] matozoid commented on #2401
The error means that the symbol solver was not found inside the AST Nodes. The code sets it correctly, so have you ran *exactly* this example?

(I can't try it right now)

[2019-10-29 07:09] heshuguo commented on #2401
No, not the same. I changed it again, just a little.
[code]
Got the error: `Exception in thread "main" UnsolvedSymbolException{context='null', name='String', cause='null'}.`

[2019-10-29 08:04] MysterAitch opened #2402 "Inconsistencies between resolved/non-resolved types"
I'm taking a closer look at the JSS code and have noticed that the model in the JSS doesn't always have the same functionality as the non-JSS model.

As a specific example, consider the `ReferenceTypeDeclaration` vs `ResolvedReferenceTypeDeclaration` - note the existence (or not) of `default boolean hasField(String name)` method.

There are also some issues with the javadoc (e.g. where one has see

[2019-10-29 08:15] MysterAitch commented on #2402
Just as a thought for later (which may end up being a naive/silly thought after pondering it for more than a few minutes) -- Are two separate models actually required?

Perhaps one could delegate to the other in some way?

Or perhaps could one be generated based on the other (with some modification to either add/remove the "resolved" parts of type names)?

[2019-10-29 10:38] matozoid commented on #2401
Alright, that's a completely different error.

Here's a guaranteed working sample: https://github.com/javaparser/javasymbolsolver-maven-sample

[2019-10-29 10:42] matozoid commented on #2402
There are plans for a reimplementation that would works on the AST and a live Java classpath, that would simplify things a lot and completely avoid these problems (if I see things correctly.) It is not really getting off the ground though, and I'm looking for someone who wants to dedicate some time to getting it done. @rpau has the plan of approach.

So in short: try to fix immediate problems, but

[2019-10-29 10:53] heshuguo commented on #2401
Thank you. but It still can not help to resolve the error. Would you please provide a solution to resolve the error?

[2019-10-29 11:33] MysterAitch commented on #2402
Cheers - if it's in a position to be shared, is the plan available to view? It didn't turn up in any of the preliminary searches I did before submitting but that might be due to the terms used or something.

I've been a bit out of the loop recently so haven't followed recent developments - sorry!

[2019-10-29 15:13] matozoid commented on #2401
I did not create that part of the application, nor do I use it, and neither is anyone maintaining it, so I'm afraid that unless someone else comes in, you'll have to use the manual and the sample to figure it out.

[2019-10-29 15:17] matozoid commented on #2402
I'll ask @rpau

[2019-10-30 01:33] heshuguo commented on #2401
Ok. you can close it now. I will try to figure out. Thank you.

[2019-10-30 07:03] matozoid commented on #2401
Okay, sorry for not being very useful.

[2019-10-30 07:03] #2401 closed, assigned to nobody

[2019-11-02 19:27] bedlaj opened #2404 "Empty javadoc results in IndexOutOfBoundsException in JavadocParser"
See https://github.com/revelc/impsort-maven-plugin/issues/16

Parsing of empty javadoc, eg:

    /**
    */
    public class SomeClass {
        List something = new ArrayList();
    }

Fails with IndexOutOfBoundsException

    Caused by: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
    at java.util.ArrayList.rangeCheck (ArrayList.java:653)
    at java.util.ArrayList.get (ArrayList.java:

[2019-11-02 23:58] edefazio commented on #2404
sorry I just approved your PR
(my mistake, you are correct)

[2019-11-03 10:36] #2404 closed, assigned to nobody

[2019-11-06 03:10] iTakeshi opened #2406 "Symbol solver fails to solve generic array type"
I tried to solve the signatures of MethodCallExpr, and got `java.lang.UnsupportedOperationException`.
OS is Linux, run on java 11.0.5, JavaParser version is 3.15.3.

Target code snippet is:
[code]
And this worked properly.
[code]

JavaParser implementation is:
[code]
And it failed to resolve the callee of the `copyOf` method called in the `Main.main`:
[code]

Using jdb, I investigated the local va

[2019-11-08 01:51] ctubbsii opened #2408 "@throws used to parse as JavadocSnippet, but now doesn't"
There seems to be some bug in the Javadoc description parsing between 3.14.5 and 3.15.4 that broken parsing `@throws` tags as instances of JavadocSnippet.

See https://github.com/revelc/impsort-maven-plugin/issues/19

[2019-11-08 02:18] edefazio commented on #2408
I'm not extremely versed in this... but in this case, wouldn't you be looking for a `JavadocBlockTag` and not a `JavaDocSnippet`?

I ran this code and was able to find the @throws tag:
[code]

returned:
[JavadocBlockTag{type=THROWS, content='JavadocDescription{elements=[]}', name=Optional[IOException]}]

FWIW, heres the javadoc of JavaDocSnippet (FWIW ive never used this class)
looks like the @ ta

[2019-11-08 03:56] ctubbsii commented on #2408
If I understand things correctly, when you call `JavadocBlockTag.getContent()`, it parses that content and returns a `JavadocDescription` object, which is where the `JavadocSnippet` comes in, as an element of the `JavadocDescription` object.

As a workaround, instead of calling `JavadocBlockTag.getContent()`, I called `JavadocDescription.parseText(javadocBlockTag.toText())`. It doesn't quite work

[2019-11-08 08:51] matozoid commented on #2408
Could this one be the cause? https://github.com/javaparser/javaparser/pull/2396

[2019-11-08 14:17] matozoid commented on #2408
If I run this:
[code]

... name is "A" and content is "a a a a\n/".

So, there is a bug with a slash somehow ending up in the content. Also,

[code]
doesn't even recognize the block tag. Another bug. That's what we get for using a custom parser instead of simply using JavaCC for the grammar.

But I don't see the problem described here?

[2019-11-08 14:18] matozoid opened #2409 "A slash ends up in blocktag.content"
See #2408

[2019-11-08 14:19] matozoid opened #2410 "JavadocParser fails when missing \n's"
See #2408

[2019-11-09 14:11] EFregnan commented on #1701
I would like to start working on this issue if nobody else is doing so.

[2019-11-10 18:17] matozoid commented on #1701
Cool, consider yourself assigned! Ideas for a solution are: find a class that never changes in the JDK, maybe create a custom class to test, or whatever idea you come up with.

[2019-11-11 07:08] matozoid commented on #2406
Thanks for the report!

[2019-11-14 11:19] vin-car opened #2411 "addStatement(int index, Statement statement) puts statements at the beginning of the BlockStmt"
I'm trying to refactor automatically some code in order to create local variables for boolean parts of if that have binary conditions. I would like that my class:

[code]
Becomes like this
[code]

I'm using the following code:
[code]

But I get this result:
[code]

The issue is that all variables' declarations are at the the beginning of the method even if I used [`addStatement(int index, Statemen

[2019-11-14 12:59] matozoid commented on #2411
Here are some things to try, let me know if it works:
- `parentBlock.getChildNodes();` is not an ordered list. Try `getStatements()`.
- when you get a `NodeList`, you have a bunch of helpful methods like `addBefore`

[2019-11-14 14:20] PeterCsubak opened #2412 "AstResolutionUtils hasDirectlyAnnotation throws UnsolvedSymbolException when an annotation used on a class with qualified name"
If I have a class that looks like this:
[code]

And I resolve this class and call the `ResolvedReferenceTypeDeclaration.hasAnnotation(String)` on the resolved type with any annotation, it will throw an `UnsolvedSymbolException` even if the `com.foo.bar.SomeAnnotation` can be solved by the configured type solver.

The exception is thrown by the `AstResolutionUtils`, and if I'm not mistaken this is

[2019-11-14 15:12] vin-car commented on #2411
Thanks a lot matozoid! Using `getStatements()` instead of `getChildNodes()` made it work.
Javaparser is a great, but sometimes some sample/documentation would help a lot.

[2019-11-14 15:12] #2411 closed, assigned to nobody

[2019-11-14 15:33] matozoid commented on #2411
Great!

You'll find ample documentation on https://javaparser.org/getting-started/

[2019-11-14 15:34] matozoid opened #2413 "Add Javadoc telling to avoid Node.getChildNodes"
The list is more or less internal, but people keep expecting it to be a nice, ordered list.

[2019-11-14 17:52] matozoid commented on #2412
Thanks! Please do create a PR.

I'm not that familiar with the solver, but I am with the AST, so if the idea is to get the name of the expression as a simple or qualified name (whatever was specified in the source file,) then `annotationExpr.getNameAsString()` should suffice.

[2019-11-14 19:29] ctubbsii commented on #2408
I created an example project to demonstrate the issue at https://github.com/ctubbsii/javaparser-example-project.

When running with version 3.14.5, the output is:
[code]

When running with version 3.15.4, the output is:

[code]

When I originally tested this, I did not have the "when situation occurs" text description in the `@throws`, so the elements array in `JavadocDescription` was simply empty

[2019-11-16 18:52] MysterAitch commented on #1768
Reading through the linked issues and more, it looks like this was fixed in #1812 so can be closed.

[2019-11-16 21:08] MysterAitch opened #2416 "Implementation of `Range` presumes an order of start/end"
The current implementation of `Range` blindly accepts the given parameters as being in order.

While this is not necessarily problematic, this assumption is inconsistent with the implementation in the rest of the class. Examples include the implementations `isBefore` which presume the end of the current range is the "later" position in the document.

Additionally, the line count assumes a specific

[2019-11-16 21:26] MysterAitch opened #2417 "Range - should they have private/protected constructors?"
I note that the `Range` class has multiple static factory methods which exactly duplicate the constructors. Given this, shall we make the constructors private? Or protected?

If not, perhaps mark one (or the other) as deprecated? I've not a strong view either way and would be content with leaving it as-is.

_Note: Usages in the javaparser codebase seems favour neither approach, with a handful of e

[2019-11-16 21:29] MysterAitch commented on #2416
Just a few thoughts:

- An example of a range allowing the start/end to be reversed would be e.g. a selection of text starting at the end of a word towards the start of the word.
	- In this case the selection `start` is later in in the document than the `end` because the selection was done "backwards".
	- Perhaps this suggests having `Range` be a specialisation/extension of `Selection` class, wher

[2019-11-16 23:37] MysterAitch opened #2418 "Range overlap should use contains, not strictContains"
Range overlap should use `contains`, not `strictContains`. A PR shall be coming shortly.

Rationale: Given that `Position` represents a specific character as opposed to the boundary between characters, both range 1 and range 2 in the example below contain the letter `C`, thus should be flagged as overlapping each other.

[code]

https://github.com/javaparser/javaparser/blob/9374f39045f55e1bdb706bb

[2019-11-16 23:47] MysterAitch commented on #2416
PR has just submitted which silently swaps the positions if the end is earlier than the start.

Given that some people might be relying on the old behaviour (not sure who?), this might be a ***silently*** breaking change for them, which is concerning.

This also means I'm now instead leaning slightly more strongly in favour of a more aggressive change and have it throw an `IllegalArgumentException

[2019-11-17 04:07] MysterAitch commented on #2227
#2394 seems to fix this -- can close this issue?

[2019-11-17 14:11] edefazio commented on #2416
(been looking over your recent PRs concerning the Range stuff and ... having just been knee deep in using it, I am happy it is being streamlined (I never understood "contains" vs "strictlyContains"  and also noted the API was not as intuitive as it perhaps could be so thanks for looking into it)

since I wrote a layer "on top" of JavaParser I specifically instituted some of those checks like you m

[2019-11-17 18:33] MysterAitch commented on #2416
Cheers Eric - thank you for the kind words and it's good to hear I'm (probably!) not being too pedantic here!

I've recently been knee-deep in line geometry and point-in-polygon type code so "char-in-char-range" type code so, like yourself, my head is somewhat in that area at the moment!

Having thought about it some more I'm inclined to agree with you and to take the stance that if anyone is actu

[2019-11-18 07:00] iTakeshi opened #2427 "ResolvedReferenceTypeDeclaration.containerType() should return Optional<> rather than throwing an IllegalArgumentException"
I encountered the error below on running code like:
[code]
[code]

This occurs when the `decl` is the top-level declaration in the enclosing `CompilationUnit`.
According to [the implementation in the `JavaParserFactory`](https://github.com/javaparser/javaparser/blob/master/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/JavaParserFactory.java#L130-L14

[2019-11-18 11:36] MysterAitch commented on #2427
Fixing `Optional<ResolvedReferenceTypeDeclaration> containerType()` to always return an optional _(and avoiding an `IllegalArgumentException` bubbling out of a method that doesn`t take any parameters!)_ sounds like a good idea to me! :)

I keep flip-flopping on whether it would be better to edit the factory method _(versus editing the code that calls it by catching the error)_ -- seeing the code c

[2019-11-18 15:22] iTakeshi commented on #2427
Thanks for your quick response @MysterAitch

Yes, this is what I also considered about, and I couldn't decide on my own --- that's why I created this issue rather than a PR.
I'll try those ways to examine what happens with those changes.

[2019-11-22 14:50] Madhusudhan08 opened #2430 "Unable to parse the Java File"
HI Team

First of all thanks a lot for the Parser Code, it works perfectly fine

Recently I ran into an issue while trying to parse some of the java files(Previously it worked well for one File)

I had developed a web UI where a user can upload multiple java Files that needs to be parsed, I get them and parse them but while loading files from UI and parsing the file I ran into problem and the code

[2019-11-22 15:33] matozoid commented on #2430
Hi! There seems to be a problem on line 266, column 40 of FileToTest.java. Can you post what is there? (Please give some lines around it too, or the whole file)

[2019-11-25 08:26] Madhusudhan08 commented on #2430
Thanks a lot Danny

There was a compilation error in the "TestFile" thanks for pointing it out. Now I had used the updated file and it works well

Previous Value
mBEHClaim.setMultiSystemIndicator(claim

Updated Value
mBEHClaim.setMultiSystemIndicator(claim.getValue().trim())

Thanks,
Madhusudhan

[2019-11-25 08:26] #2430 closed, assigned to nobody

[2019-11-25 23:33] #2412 closed, assigned to nobody

[2019-11-26 15:02] Implex1v opened #2432 "LexicalPreservingPrinter always indent four spaces"
Given this code
[code]
when adding an if statement into it, the indent of the if block is four spaces instead of two.
[code]
Code for reproducing the output:
[code]

[2019-11-27 02:27] MysterAitch commented on #2162
I've spent some time on this and my conclusion is that the issue described has presumably been solved since being posted (or I have misunderstood the problem) as I have not been able to replicate it.

Extending @matozoid 's code above, I have been using the following example code sample to run tests against (evaluating the output of the method calls in the class `Run`).

I'll submit a testcase PR

[2019-11-27 03:08] MysterAitch commented on #2361
Interesting spot, and thank you for the very clear description!

For anyone else reading, here are links to the relevant sections of documentation.

- Section 15.25: https://docs.oracle.com/javase/specs/jls/se8/html/jls-15.html#jls-15.25
- Section 5.6.2: https://docs.oracle.com/javase/specs/jls/se8/html/jls-5.html#jls-5.6.2

The part I learned about just now by following up on this is that the mer

[2019-11-27 03:21] MysterAitch commented on #2361
Just noticed the related issue #2360 about unary numeric promotion (where this issue describes binary numeric promotion) -- commenting here with the issue number to make GitHub create a link between the two related issues.

[2019-11-27 10:00] Zou-Fei opened #2436 "Problem trying to resolve a methodcall in a class with @Data annotation"
Class A:
[code]

`ClassB` with a method `getA` call the `getAge()` of `ClassA`:
[code]
when I try to run the main class :
[code]

this is the error info:

MethodUnit.java:
[code]

So there is an error with `@Data` annotation when run the resolve method, or did i make some mistakes?

[2019-11-27 10:28] jlerbsc commented on #2436
Could we assume that "file/my" is your root source directory (not a package directory)?

[2019-11-27 10:50] Zou-Fei commented on #2436
It's also the package directory, actually, when I removed the `@Data` annotation and add the `getAge()` method in `ClassA`, it can be successful, and when I debug the source code, I didn't find special handling of `@Data` when no find of getter or setter, did I miss something?

[2019-11-27 11:43] sakitA opened #2437 "No value present"
Hello I used `LexicalPreservingPrinte` class to pretty print. But I got the below exception
[code]

and this is the my code example
[code]

[2019-11-27 12:54] Mosarator opened #2438 "Using ClassOrInterFaceDecalartion.AddField without setting a Modifier (aka Package-Private))"
**Question:**
How do i add a FieldDeclaration to an instance of ClassOrInterFaceDecalartion, without setting any visibility modifier?
**Context:** I am coding an UML to code parser

I tried the following Code:
[code]
But ``Modifier mod = new Modifier();`` sets the PUBLIC modifier.

I know that there exists the ``AccessSpecifier.PACKAGE_PRIVATE``, but i didn't find a way to use it when adding a fie

[2019-11-27 13:58] penelope24 opened #2439 "Does symbol solver need the source code to be correctly compiled?"
I made two simple toy classes that one implements another, and tried to use symvol solver to solve them.
In a compiled project, symbol solver performs perfect. But when I put the classes in a compiled-failed project, it throws an UnsolvedSymbolException.
Is this true that symbol solver need source to be compiled?

[2019-11-27 16:16] jlerbsc commented on #2438
have you try to create a FieldDeclaration  with no arg constructor then set variables?

[2019-11-27 16:20] jlerbsc commented on #2436
Assuming that "file" is you root source files directory, you have to set JavaParserTypeSolver like that.

    combinedTypeSolver.add(new JavaParserTypeSolver("file"));

[2019-11-27 21:21] MysterAitch commented on #2437
Hi, what code are you attempting to pretty print? Cheers

[2019-11-27 21:43] MysterAitch commented on #2438
Try not passing in only two parameters

I've not tested it, but I imagine something like this would work (n.b. the third parameter is a spread operator, in theory enabling you to pass in zero or more modifiers)

[code]

[2019-11-27 22:29] MysterAitch commented on #2397
Just documenting some thoughts so far:

- At parse time `T` is treated as a `ClassOrInterfaceType`, thus when it is resolved it resolves to `ResolvedReferenceType` (per the snippet quoted below), but when we attempt to resolve a type variable it tries to return a `ResolvedTypeVariable`

[code]

- Note that while `ResolvedReferenceType` and `ResolvedTypeVariable` both implement `ResolvedType`, they

[2019-11-27 23:52] MysterAitch commented on #2397
Here is the relevant parts of the grammar that deal with the return types of method declarations.

---

It seems that the grammar file doesn't necessarily match the language spec (i.e. `ReferenceType` includes a mention of a primitive type but no mention of a type parameter?)

I'm not yet sure what this means or if it's relevant/important, but again I'm leaving this to document current thoughts/pr

[2019-11-28 02:10] Zou-Fei commented on #2436
You can know that the "file/my" is the root source files directory, I can be sure that there is no question about the file directory, just maybe about "@Data"... when I tried to get all the method call in all class of my project, I find it will be failed to get the ResolvedMethodDeclaration of the getter method where the JavaBean with "@Data" annotation， **because there is no getter method in the

[2019-11-28 05:37] sakitA commented on #2437
I could not share my code because of confidential data. But I will try to write a simple example and share with you

[2019-11-28 08:00] matozoid commented on #2438
(Some background: the nodes in the AST have a lot of utility methods. It is a very educational to look at the source code to find out what they actually do. Here is `addField` for example: https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/nodeTypes/NodeWithMembers.java#L108-L115 - you can see that it adds a `member` of type `FieldDeclarati

[2019-11-28 09:04] Mosarator commented on #2438
Thanks @matozoid , i searched at the wrong spot.

For anyone who is interested, how i did it:

[code]

[2019-11-28 09:07] matozoid commented on #2439
Hi! The symbol solver was not designed to work with source code that is not valid Java. If it works in some cases, it is by accident :-)

Is that the answer you are looking for?

[2019-11-28 10:15] matozoid commented on #2438
Cool, it's solved then :-)

[2019-11-28 10:15] #2438 closed, assigned to nobody

[2019-11-28 10:18] matozoid commented on #2430
Cool, good luck!

[2019-11-28 11:37] matozoid commented on #2417
`Range` and `Position` are from a time when I was just doing random fun stuff in the codebase. Later we made some rules:
- constructors are preferred over static factory methods
- embrace mutability

So these classes deviate because they are immutable and have a lot of static factory methods. Works quite well on these small objects I think (although `Range` sometimes takes a bit of wrestling), alt

[2019-11-28 11:42] #2227 closed, assigned to nobody

[2019-11-28 12:29] penelope24 commented on #2439
ok, does "valid java" means "compiled correct"? what if the source code is grammaly correct but hasn't been compiled yet?
let's say we want to use symbol solver to analyze the relationship between two java files, namely A.java and B.java in an open-source project,  the java file is grammaly-correct, however the project is not compiled yet.
I found that if I analyze A.java and B.java alone, symbol

[2019-11-28 12:49] matozoid commented on #2439
How do you
- analyze before compilation
- analyze after compilation
?

With a different TypeSolver?

[2019-11-28 13:02] matozoid commented on #2408
Alright, thanks! I've learned that...
- this should have been in the changelog. Sorry for that.
- the name `name` is a misnomer here. What would be a better API for this? All I can think of now is calling it `key` which is a bit generic.

[2019-11-28 13:03] #1768 closed, assigned to ftomassetti

[2019-11-28 13:04] matozoid commented on #1768
Thanks @MysterAitch, this is very helpful!

[2019-11-28 13:28] #2416 closed, assigned to MysterAitch

[2019-11-28 13:35] matozoid opened #2440 "Add ancient history to the copyright notices"
As mentioned in #2425, we might want to mention the people (person?) who went before Julio.

[2019-11-28 13:37] penelope24 commented on #2439
Hi, thx for your patience :-)
firstly I put the two classes alone in a empty project:
[code]
the typesolver I choose is:
[code]
since A.java and B.java are grammarly-correct, the project is esay to build, and symbol solver works fine.

secondly I tried to put A.java and B.java into a open source project - spring-session, the project is not built yet (so the IDE will show errors in source due to mi

[2019-11-28 13:47] matozoid commented on #2427
This is probably part of the larger idea to stop the solver from throwing exceptions when something is not found, and return a "ResolutionResult" object or so. But feel free to use the Optional :-)

[2019-11-28 13:53] iTakeshi commented on #2427
Thanks for your comment @matozoid,

Unfortunately, I got occupied with another task since last week and couldn't implement my idea yet. I'll try it as soon as I become available.

[2019-11-28 14:04] matozoid commented on #2439
Okay, I'm not the expert, but I think that in case two, the typesolver should be pointed to the root of the module, not the root of the project. Can you give that a try?

(If you think this is a lot of work, you can look into https://github.com/javaparser/javaparser/blob/master/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/utils/SymbolSolverCollectionStrategy.java

[2019-11-28 16:31] penelope24 commented on #2439
Hi, I followed your advice and change the typesolver pointed to root module, and it works!
thanks a lot for you advice!

[2019-11-28 16:40] #2439 closed, assigned to nobody

[2019-11-28 17:35] gpr-indevelopment commented on #2373
@matozoid I ended up figuring it out: My program is generating classes dinamically, with getter methods. Then, I go over those classes to map all getter methods and their return types.

After that, whenever I need to change some method into one of those getter methods, I just looked for the mapped return type and substitute it on the VariableDeclarator parent object.

Can you think of a better way

[2019-11-28 19:54] matozoid commented on #2162
According to @MysterAitch this is solved. If it is not, please reopen :-)

[2019-11-28 19:54] #2162 closed, assigned to nobody

[2019-11-28 19:57] matozoid commented on #2148
I'm assuming this is resolved now, but to be sure I'll leave the closing to @MysterAitch

[2019-11-28 20:12] matozoid commented on #2373
Better ask @jlerbsc :-)

[2019-11-28 20:20] jlerbsc commented on #2373
No, ideally @gpr-indevelopment should provide a test case that reproduces the anomaly. Without that I will not spend more time trying to solve something that is not perfectly defined.

[2019-11-28 20:25] #1801 closed, assigned to nobody

[2019-11-28 20:27] matozoid commented on #2373
Well, I guess that's as far as it goes then :-)

[2019-11-29 02:55] JiyangZhang commented on #1914
Is this bug of JavaParser.getComment() fixed for those strange Javadoc?

[2019-11-29 06:40] matozoid commented on #1914
Not yet. There is a plan to make a stand-alone object that can give information about comments, but work has not started yet.

[2019-11-30 02:54] #2148 closed, assigned to nobody

[2019-12-01 09:32] Caellian commented on #2385
Fernflower allows renaming identifiers, I was working on Minecraft deobfuscation so renaming wasn't an option as mappings wouldn't work. Later figured out javaparser is probably not the right fit as the code can be deobfuscated during decompilation which would make the whole process a lot easier.

Is there a way of using javaparser with multiple sources in such a way that renaming class variable w

[2019-12-01 09:32] #2385 closed, assigned to nobody

[2019-12-01 17:06] edefazio commented on #2436
Just for clarity, can you explain where `@Data` comes from (what is it's fully qualified class name)

...If you are talking about the Project Lombok `@Data` annotation:
[https://projectlombok.org/features/Data](https://projectlombok.org/features/Data)

then I think I know what the problem is...

Lombok runs as a part of the annotation processing in the Compiler, so in order for that getter method

[2019-12-01 17:50] edefazio commented on #2408
Not to be a complainer, but TBH I'm not too fond of the name `JavadocBlockTag`
because that seems more like a code block (i.e. when (within a Javadoc) we add some html/code, i,.e.
[code]

it'd be better IMHO to be `JavadocAtTag`, since what we are talking about must syntactically ALL start with @ or "at"
[code]

In lieu of changing the name of the class/API maybe use `atName` instead of `type` or

[2019-12-01 17:57] edefazio commented on #2417
I agree with both of y'all
it is a bit of a change that these particular classes are immutable AND have constructors

however I would have thought that (them being mutable) would have allowed me to change the values to change the code formatting... and that is simply NOT the case... so although I wrestled with them at first, I realized that they are immutable "for your own protection" in a sense,

[2019-12-01 19:14] matozoid commented on #2385
Sounds like you want to take the symbol solver and look for all the names that resolve to the name of the field you're renaming. It would be smart to build an index, because the solver is not known for being very speedy.

[2019-12-01 19:18] matozoid commented on #2408
It's called block tag because that's what it is called :-) Check the manual for Javadoc: https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javadoc.html

Not that I disagree with it being a lousy name. We can still document the class as well as possible.

[2019-12-01 19:22] matozoid commented on #2417
Ways to improve their usability are very welcome! Remember that I made some of this stuff, but I haven't used it much as a user, so I don't know where the pain points are.

[2019-12-01 19:27] #1436 closed, assigned to nobody

[2019-12-01 19:29] matozoid commented on #1757
@kgeilmann - if you are still around, can you retry with version 3.15.6? (It is being released while I'm writing this)

[2019-12-01 19:53] edefazio commented on #2408
You are correct... (sorry that naming stinks IMHO)
seems like they also use the terminology "Standalone Tag"

...and my favorite the **"Bock"** tag

https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javadoc.html

[2019-12-01 19:55] matozoid commented on #2408
Open an issue if you'd like to see it renamed to JavadocStandaloneTag, because that sounds better to me too!

[2019-12-01 20:06] edefazio commented on #2408
I personally don't use it, so I'm fine...(Im not trying to do API breakage)...

(I just was brainstorming about  your question):

(so how about `tagName`... since that'd be "consistent" with how its talked about and used

[2019-12-02 02:15] Zou-Fei commented on #2436
Yes, it's Lombok @Data, so I totally understand what you mean，why I open this issue is to ask if there any solution to solve this problem, there are so many Lombok @Data in the project of my team, so when I trying to get all the method calling relationship of the whole project using SymbolSolver, I get so many errors because the Lombok @Data annotation, when solving  the getter method, or solving

[2019-12-02 06:32] matozoid commented on #2436
Random idea: it might be possible to extend a TypeSolver to fake the availability of the get and set methods? Or you can post-process the sources that the typesolver reads and add the getters and setters to the CU?

[2019-12-02 14:23] edefazio commented on #2436
To me the solution would be to include Lomboks ClassGeneration Path (i.e. the path it uses for where to write the Class files during annotation processing)

or Lomboks source generation path as a TypeSolver (AND REMOVE THE "ORIGINAL" SOURCE PATH)
i.e.

This seems certainly like a Lombok issue and not a JavaParser/SymbolSolver issue as it deals with Lomboks lifecycle (of which I am not too familiar

[2019-12-02 14:48] edefazio commented on #2436
...it would be nice to know the answer to this, so please report back on how you fixed it... (with details from the Lombok side)
(I'm not trying to be dismissive, but my Lombok understanding is minimal...)

I'd argue that the route above might be the best way of doing things...( but dont personally use Lombok...it'd be nice if someone who uses it can confirm or discredit what I put above)

I'd hat

[2019-12-02 21:51] ctubbsii commented on #2408
Avoiding API breakage is a good idea. For that reason, I wouldn't change "name" or "JavadocBlockTag". But, I would ensure its different roles (parameter name for `@param`, and class name for `@exception` and `@throws`) is clear in the documentation.

[2019-12-02 21:52] ctubbsii commented on #2408
You could also sub-class the `JavadocBlockTag` into specific types, based on the tag type, and provide methods named appropriately for that tag type. Then, you wouldn't break `JavadocBlockTag` API, but you would provide more meaningful sub-class types with better named APIs.

[2019-12-03 08:06] matozoid commented on #2408
Definitely agree on better documentation.
A bit cautious about making users cast to subclasses because of lower discoverability.

Thanks for the feedback.

[2019-12-03 10:59] ctubbsii commented on #2408
I think that ship has sailed, so to speak... this is already the normal situation when iterating over `compilationUnit.getComments()` in order to separate out `JavadocComment` instances from others, or when inspecting the results of `javadocDescription.getElements()` to separate out `JavadocInlineTag` from `JavadocSnippet`, or just when inspecting the `List<Node>` result from a call to `node.getCh

[2019-12-03 12:36] matozoid commented on #2408
Oh, I'm not saying it isn't. It's just caused several issues and complaints up until now. So I'm trying to not over-specialize the nodes. For example:
- `AnnotationExpr` got a complaint that it doesn't really need the four subclasses. Fair.
- `SwitchEntry` on the other hand may be a little over-collapsed. That may be refactored into separate subclasses in the future.
- several issues were cause by

[2019-12-03 14:26] ctubbsii commented on #2408
Understood. Thanks. Since the originally reported issue isn't actually a bug, but merely a misunderstood (on my part) behavior change, I'm going to go ahead and close this. While there's room for improvements, as discussed in these comments, they can be split into their own issues/PRs, as needed, by those motivated to do so. :smiley_cat:

[2019-12-03 14:26] #2408 closed, assigned to nobody

[2019-12-05 20:40] andrewhabib opened #2442 "Any fully qualified access name is detected as FieldAccessExpr"
Hi,

When I search an AST for FieldAccessExpression through find or findAll,
all qualified accesses to method/constructor/field are returned.
E.g.,
a.b.foo()
a, a.b are returned.

Another e.g.:
a.b.FIELD
a, a.b, are returned too.

Only a.b.FIELD should be returned.

This is related to #1985

[2019-12-05 22:23] matozoid commented on #2442
This is a known issue. The parser doesn't know if it sees a name qualification or a field access, so it assumes field access. The only way to fix this is to make a third kind of node: `NameOrFieldAccessNode` or so.

[2019-12-05 22:24] matozoid commented on #2442
I'm sure this was Javadocced somewhere, but I can't find it anymore. Better write some more then.

[2019-12-07 14:16] matozoid opened #2443 "JEP 368: Text Blocks (Second Preview)"
Two new escape sequences need to be added. (`\` and `\s`)

https://bugs.openjdk.java.net/browse/JDK-8231623#New-escape-sequences

[2019-12-07 14:17] matozoid opened #2444 "Add Java 14 language level"
Add the enum, the validators, the postprocessor.

[2019-12-07 14:19] matozoid opened #2445 "JEP 305 / JEP 375: Pattern Matching for instanceof (Preview, and 2nd Preview)"
https://bugs.openjdk.java.net/browse/JDK-8181287

- grammar change (in addition to the current `x instance Y` we should be able to say `x instance Y y`)
- validation that the second form cannot be used before Java 14.

[2019-12-07 14:21] matozoid opened #2446 "JEP 359: Records (Preview)"
Add preview for records: https://bugs.openjdk.java.net/browse/JDK-8222777

... or let's not. I have a feeling this will change a lot in Java 15 because the syntax deviates from normal classes so much.

[2019-12-07 15:12] matozoid commented on #2444
It already exists :-)

[2019-12-07 18:28] #2444 closed, assigned to nobody

[2019-12-09 12:34] matozoid opened #2447 "removeData should not have a type param"
`public void removeData(DataKey<ResolvedType> key) {`

`ResolvedType` has probably gotten in there by accident. It should be `?`

[2019-12-09 15:57] #2447 closed, assigned to matozoid

[2019-12-13 06:41] sakitA commented on #2437
I could not prepare an example. Because when I generate the code with auto I got this error. Then I just copy the generated code with standard print and store in a file. Then I read the file and print the LexicalPreservingPrinter method everything works normally. But from the code, I can say that the problem is there is no check that values present or not so the code gives to us a `java.util.NoSuc

[2019-12-13 11:48] matozoid commented on #2437
Hi @sakitA, it might be good to know that nobody working on JavaParser is getting paid. It is all done by people who think it is fun to work on it. There are over 400 issues open and quite a few fundamental problems to solve, and I can say that there are way, way too few volunteers to ever get things perfect.

Now, we can solve your problem. The input we have is "this exception is thrown for an un

[2019-12-13 11:58] sakitA commented on #2437
Hi @matozoid. I think you misunderstood. I did not ask anyone to analyze and find what is the problem. I used this library and got this error. So that opened an issue. If I found the problem why occurred then I will fix and share the solution.

[2019-12-13 15:03] edefazio commented on #2437
Just out of curiosity...

when you say

do you mean:
[https://github.com/google/auto](https://github.com/google/auto) ?

thanks
Eric

[2019-12-13 15:10] sakitA commented on #2437
Hi @edefazio. No. I mean when I use this library and generate java code and at the end print the `CompilationUnit` with using the `LexicalPreservingPrinter.setup(cu)` method I got the issue. Then I just create the same code manually and use this file and parse with `StaticJavaParser.parse()` method. This time everything is ok and no problem. So that I could not reproduce the error.

[2019-12-13 15:55] edefazio commented on #2437
Here is how you can reproduce:
(I don't know if this is intentionally un-supported by LPP, but I think it represents what @sakitA is talking about...

basically IF you setup the LPP after you manually create a `CompilationUnit` then you get the "No Value Present" `NoSuchElementException`

[code]
Note this happens on setUp(...)

internally it's happening in `PhantomNodeLogic` specifically at this:

[2019-12-13 16:03] sakitA commented on #2437
@edefazio thank you very much. yes, you are right error happens when I call the `setup` method. I edit my previous comment.

[2019-12-14 00:05] vignesh0710 opened #2449 "Get method invocation with Javaparser"
Hi,

First of all thank you for the great library. I am wondering if there is way to get the method invocations. For example:

  `public static int PxtoDp(context context, int px){
    DisplayMetrics displayMetrics = context.getResources().getDisplayMetrics();
   return (int) (px/density);
}`

I am looking to get the 2 invocations in this method.

   `1. getResources()
     2. getDisplayMetrics()

[2019-12-14 00:18] edefazio commented on #2449
Heres a decent example of "inspecting" whats in an AST
[code]
Here's the output:

com.github.javaparser.ast.Modifier "static "
com.github.javaparser.ast.expr.SimpleName "PxtoDp"
com.github.javaparser.ast.body.Parameter "context context"
com.github.javaparser.ast.type.ClassOrInterfaceType "context"
com.github.javaparser.ast.expr.SimpleName "context"
com.github.javaparser.ast.expr.SimpleName "contex

[2019-12-14 10:36] matozoid commented on #2449
Here are various ways of inspecting the AST: https://javaparser.org/inspecting-an-ast/

[2019-12-14 18:40] scootafew commented on #2210
I'm also facing the same problem and trying to investigate, @MassimilianoPoggi did you ever get anywhere with what you were trying to implement for this?

[2019-12-14 18:47] MassimilianoPoggi commented on #2210
@scootafew Being on a deadline at the time and noticing a few other problems within the tool I ended up using what seemed like a more mature alternative in [Spoon](https://github.com/INRIA/spoon). I'm sorry I can't be of further help with your problem.

[2019-12-14 19:08] scootafew commented on #2210
@MassimilianoPoggi no worries at all, thanks for the quick reply! :)

[2019-12-14 20:45] matozoid commented on #2210
Spoon uses the compiler libraries from Eclipse behind the scenes, so their symbol resolution is definitely more mature. JavaParser has other good things (like not secretly being Eclipse ;-) )

[2019-12-14 21:35] jlerbsc commented on #2210
@MassimilianoPoggi could you give us a test case to explore this issue?

[2019-12-14 22:05] vignesh0710 commented on #2449
The example was great and its working fine! I modified the snippet and used the book from the authors to extract - Method Names and Comments also.

[code]

But if I try the same code snippet above with a following input string, it fails in 2 cases:

1. code snippets within the function
2. Comments starting with "//" within the function

[code]

I get the following error:

[code]

Should I use a di

[2019-12-14 22:32] edefazio commented on #2449
Yeah you are using
`StaticJavaParser.parseMethodDeclaration(...)`
which parses **methods**  _not_ snippets

also... if you pass in a String with a leading "//" with no carriage returns
it's basically thinking you are parsing a comment (not code)...it doenst know where the comment ends and the code begins.

its easier to just "make" the snippet a Block (adding a prefix "{" and suffix "}")
then call

[2019-12-14 22:57] vignesh0710 commented on #2449
Thank you! It worked! I just have one final question, is there any inbuilt methods like `.getName()` to extract the following inside a method or a block:

[code]
or Should I write my own custom logic after parsing the code?

[2019-12-14 23:32] edefazio commented on #2449
I think all you need is on the API, you should be good with a little experience using JavaParser
:)

[2019-12-14 23:53] vignesh0710 commented on #2449
Thank you!

[2019-12-14 23:53] #2449 closed, assigned to nobody

[2019-12-15 09:41] MassimilianoPoggi commented on #2210
While I don't have time to write a fully-fledged test case, here's a snippet quickly reproducing the "parsing" issue (I'm not sure whether to label it as a parsing issue exclusively as I'm fairly certain you can't differentitate between field accesses and fully qualified type references without a resolution step in-between, e.g. `java.lang.Object::toString`, so maybe just not calling it `TypeExpr`

[2019-12-15 16:42] matozoid commented on #2210
I'll give "adding a resolve" method a try.

[2019-12-15 17:15] #2160 closed, assigned to nobody

[2019-12-15 17:17] matozoid commented on #2210
Thanks for taking the time to reply @MassimilianoPoggi , by the way!

[2019-12-15 19:03] #2044 closed, assigned to nobody

[2019-12-15 19:18] #2418 closed, assigned to MysterAitch

[2019-12-16 13:52] linkai0001 opened #2454 "parseBodyDeclaration annotation use"
[code]
**The error message is as follows：**
Encountered unexpected token:<EOF>
    at line 1, column 15.

Was expecting one of:

    "<"
    "@"
    "boolean"
    "byte"
    "char"
    "class"
    "double"
    "enum"
    "exports"
    "float"
    "int"
    "interface"
    "long"
    "module"
    "open"
    "opens"
    "provides"
    "requires"
    "short"
    "strictfp"
    "to"
    "transitive"

[2019-12-16 14:23] matozoid commented on #2454
Hi! You're mixing up annotation declarations and annotation expressions. You are supplying an annotation expression to `parseBodyDeclaration` - I bet you want to use `parseAnnotation` instead.

[2019-12-16 14:32] linkai0001 commented on #2454
Thanks for the guidance, using parseAnnotation has solved my scenario problem

[2019-12-16 17:50] matozoid commented on #2454
Good luck!

[2019-12-16 17:50] #2454 closed, assigned to nobody

[2019-12-16 18:58] scootafew opened #2455 "Method References on object instances or field accesses parsed to TypeExpr instead of expected NameExpr or FieldAccessExpr"
Since the addition of a `resolve` method to `MethodReferenceExpr` I've been trying to resolve some different types of method references. If we take the example of a call to `System.out::println`, when it is expressed as a method reference it cannot be resolved (instead throws `UnsupportedOperationException`), whilst the equivalent regular method call is resolved with no problems.

So this test pas

[2019-12-16 19:35] matozoid commented on #2455
The AST seems reasonable to me (correct me if I'm wrong - I often am :-) )
System is a type
out is a name

In JavaParserFacade line 385, the solver is rather dumb. It grabs `id`, which is `out`, and looks for the its declaration, completely ignoring `System`. What it should have done is solve the whole name expression!

[2019-12-16 21:50] jlerbsc commented on #2455
I made the same observation and i found that TypeExtractor was doing something else when it tried to resolve fieldAccessExpr.

    public ResolvedType visit(FieldAccessExpr node, Boolean solveLambdas) {
        // We should understand if this is a static access
        if (node.getScope() instanceof NameExpr ||
                node.getScope() instanceof FieldAccessExpr) {
            Expression st

[2019-12-16 23:17] scootafew commented on #2455
Yeah so I had also seen the same and decided to try just changing where `JavaParserFacade` uses `out` to instead use `System.out` or even just `System` in case that resulted in different behaviour but it did not. As @jlerbsc rightly pointed out the symbol solver needs to use logic as in `TypeExtractor`, which incidentally is what it does when solving a `MethodCallExpr` to `System.out` (which in th

[2019-12-17 16:18] scootafew commented on #2455
Found another example test case that fails:

[code]
![image](https://user-images.githubusercontent.com/20837812/71013466-a4f14c00-20e8-11ea-8a7e-52d2bfb84441.png)

You can see above how `a` is once again a `ClassOrInterfaceType` wrapped in a `TypeExpr` in the AST, whereas I would have expected it to be a `NameExpr`?

[2019-12-17 17:09] matozoid commented on #2455
I bet that's coming from here: https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/javacc/java.jj#L1849-L1855

Not saying that it is wrong, I'm too tired to figure it out right now :-#

[2019-12-18 22:03] JiyangZhang commented on #1827
Does anyone have any resolution to this problem?

[2019-12-19 09:21] matozoid commented on #1827
@JiyangZhang I've set the test case to build: https://github.com/javaparser/javaparser/pull/1828
If it fails, the problem is still there. In that case someone will have to volunteer to analyze and fix it. Are you interested?

[2019-12-19 09:27] ccxzyhm opened #2457 "How to insert a statement to output the return value of each method calls using JavaParser?"
I hope to record all the return value of method calls whose return value is assigned to a variable.
For example:
before:
int x=Integer.parseInt(args[0]);

after:
int x=Integer.parseInt(args[0]);
System.out.println(x);

For those whose return value is not assigned to a variable, there is no need to record.
Is it possible with JavaParser?

[2019-12-19 09:36] ccxzyhm commented on #2457
If there isn't a direct solution, this problem may be disintegrated as:
1. Is it possible to detect a StatementExpr which contains a MethodCallStat and a variable to hold the return value and identify the variable?
2. Is it possible to add a statement after a StatementExpr?

[2019-12-19 10:04] linkai0001 opened #2458 "Is there a layout api?"
Hello, by default, the new field is written to the end of the class, the code writing specifications are not friendly. Is there a similar layout API? For example, the class is divided into two parts, the upper part is the field area, and the lower part is the function area. All fields are added to the end of the field area, and the function is the same

[2019-12-19 11:28] matozoid commented on #2457
1. in the parser it is possible to find the assignment construct. Here are some ways to find out what too look for in the AST: https://javaparser.org/inspecting-an-ast/ . This way you can also find the method-call-that-is-not-assigned construct.
BUT the parser doesn't tell you if that method is void or not. For that you will need to use the symbol solver.
2. Yes it is. Statements are mostly contai

[2019-12-19 11:32] matozoid commented on #2458
Hi!

No, there isn't. As said in the other question, NodeLists have various useful methods for inserting things before and after other things.

That said, it would be no problem to add a few methods to JavaParser like `addFieldAfterLastField`, `addConstructorAfterLastConstructor` or so.

[2019-12-19 12:03] linkai0001 commented on #2458
Okay thank you

[2019-12-19 14:09] ccxzyhm commented on #2457
Thanks a lot for your recommendation but my schedule is too tight for me to carefully go over the book or the javadoc. Also, as I’m not a native English speaker, so I am not competent enough to manage it.
So could you please show me the exact way, or the method to be called, to insert a line statement after a specific statement (ExpressionStmt), instead of at the ending of  a BlockStmt?

[2019-12-19 15:55] Milkaselnuss opened #2459 "Problem resolving MethodDeclaration from MethodCallExpr"
Hey there,

I would like to be able to count all called methods for a class. Currently all methods of the class and one layer of external calls is working. So if a method calls a method of another class this method is correctly counted. However, if that method of another class also calls methods, I want to count these aswell and that does not work because an Exception is thrown: `java.lang.Illegal

[2019-12-19 15:59] attenton opened #2460 "StackOverflowError in some places"
Thanks for your works. I get a lot of help from the project. And I meet some problems.
When I want to get the method qualifiedSignature and run the code below:
[code]
or get extendName from class and run this code(ps: I ran this code successfully yesterday, but it failed today and it cannot parse any classes. I don't konw why ^-^):
[code]
both of the situation come the same exception:
[code]
It po

[2019-12-19 16:00] attenton commented on #2460
In addition，I used it to parse the jdk source code.

[2019-12-19 16:17] matozoid commented on #2460
Hi! It looks like one of your typesolver is nested in itself or so? Can you post the configuration?

[2019-12-19 16:20] matozoid commented on #2459
Hi! This is a problem with your symbol solver setup. The node you are trying to resolve does not know which typesolver to use. That probably means you parsed the tree without configuring the symbol solver on it.

[2019-12-19 16:20] matozoid commented on #2459
Here is a sample setup: https://github.com/javaparser/javasymbolsolver-maven-sample

[2019-12-19 16:23] matozoid commented on #2457
No, I do not like people who ask me to spend my holiday time on their project because they do not want to read the documentation.

[2019-12-19 16:33] attenton commented on #2460
[code]
this is the configuration code.
Did I make some mistakes?

[2019-12-19 18:32] Milkaselnuss commented on #2459
Thanks for the fast reply. I thought I would already do that using the SymbolSolverCollectionStrategy on the whole project.

So basically what I am doing is the following which I thought would be sufficient:

[code]

[2019-12-19 19:00] matozoid commented on #2460
There it is: `reflectionTypeSolver.setParent(reflectionTypeSolver)`

It is now the parent of itself, and will loop forever if asked for its parent :-)

[2019-12-19 20:14] matozoid commented on #2459
I put the snippets together (please supply working code so people don't have to do this) into this:

[code]

But that runs fine. Can you break it for me?

[2019-12-19 20:59] Milkaselnuss commented on #2459
The following code should be ready to run and throws the exception. You might want to set the path to the other project directly. Currently it would open a JFileChooser for you to select the project directory. What is important is that the TestClasses have to be in another project.

[code]

And another project with the classes to be tested:
[code]

[code]

This gives me the following Exception:
[c

[2019-12-20 01:07] attenton commented on #2460
It works. Thanks a lot.

[2019-12-20 01:10] #2460 closed, assigned to nobody

[2019-12-20 09:19] wsqandgy commented on #1943
I also meet this error。I resolved this problem finally。

because code has a complie error， when i fix this error， is work well。

if anyone meet this problem，review that

[2019-12-20 10:44] matozoid commented on #2460
I'll build in some checks to give future users a better message.

[2019-12-20 11:13] matozoid commented on #2459
This is a quality report, thanks! I've reproduced it.

[2019-12-20 11:48] matozoid commented on #2459
The bug is that the parser configuration does not get set on the JavaParserTypeSolvers that the `SymbolSolverCollectionStrategy` finds. Odd that nobody ran into this before :-/ It's a simple fix, see #2463

[2019-12-20 12:25] #2459 closed, assigned to nobody

[2019-12-20 17:17] JonJam commented on #2118
@gilyerm I was having the same issue where I had both Source and compiled added to the CombinedTypeSolver, but when calling toAst it results in Optional.empty.

The solution I came up with was when creating my CombinedTypeSolver, I add all the JavaParserTypeSolvers first and then the JarTypeSolvers. That way it will resolve things using Source first and then Compiled.

[2019-12-20 17:18] scootafew commented on #2455
I know the feeling! Thanks for the pointer, I've been having a look at the grammar & the language spec but I'm not really confident that it's right or wrong either. I have noticed that when a method reference is of the format `this::doSomething` the scope is a `ThisExpr` so I might try and fix the symbol solving for that case as a starting point

[2019-12-20 19:18] matozoid commented on #2118
Note that having the same code in source and compiled form in the solvers is not something the symbol solver expects. The results are undefined.

[2019-12-21 08:18] tijanssen opened #2464 "Generate COde based on Annotations"
Sorry for eht title but i could not come up with a better one at the moment.

I want to something similar like lombok does. For example the @Getter Annotation generates a getter method if it does not exist.
My first idea was to use ModifierVisitor.visit(FieldDeclaration ...). But the returned FieldDeclartion is the one that should be changed. But I don't want just change the Field (remove the anno

[2019-12-21 08:45] jlerbsc commented on #2464
Once you get a fieldDeclaration you can find ClassAndInterfaceDeclaration or all MethodDeclaration from it or add a new MethodDeclaration if you want. What is your question?

[2019-12-21 09:33] tijanssen commented on #2464
Sorry my misunderstanding was that the return type should be the same as the first parameter type. THe examples I have seen did this always.
If this is correct then this issue can be closed.

[2019-12-21 16:22] edefazio commented on #2464
I actually implemented this with a tool I wrote on top of JavaParser...
FWIW understand that Lombok is a little crazy how it plugs into the Compiler infrastructure / Annotation Processing
(Here are the creators of Lombok talking about how complex it is to integrate Lombok
https://www.youtube.com/watch?v=MmLnJVlZAvk)

What I did (instead) is:
start a Java program
pass in a Runtime Class
find and re

[2019-12-21 17:09] tijanssen commented on #2464
I didn't want to do anything with lombok. But I wanted to make a maven plugin that does something similar like delombok. This is more of an experiment nad practice project. We do have very good buildsystem in the java world like maven and gradle. We can add plugins that the community has written and thereby enrichen the bild process. I don't see any reason to use the ehe in my eyes complicated Ann

[2019-12-21 20:41] edefazio commented on #2464
I agree,
actually that's a big part of what my project (building on JavaParser) is "about"...
bringing Java metaprogramming to the mainstream...
(i.e. write simple Java programs to generate or modify Java code)

anyways good luck... here's a link to my main project...
https://github.com/org-jdraft/jdraft
maybe it'll give you ideas or an alternative way of doing things... (Still working on the docu

[2019-12-21 21:09] matozoid commented on #2464
Side note: most of the internal code generators for JavaParser do inline code modifications: they modify the source directory, adding and modifying methods and classes. A rather unconventional approach, but it works well.

Edit: they do this using JavaParser. The compiled code is modifying its source files :-D

[2019-12-21 21:53] tijanssen commented on #2464
Thansk for the informations. I will look at the provided links.

[2019-12-23 02:28] nough1 opened #2465 "get method that dependency object member field"
how can i use java parser to get the information that which method has dependency on self object member field , and which member fields .