[2018-12-04 21:50] l0rinc commented on #1953
Pushed https://github.com/javaparser/javaparser/pull/1954/commits
I've added the test separately so that you can make sure it fails before the fix.
Let's wait for the build :)

[2018-12-05 08:39] #1953 closed, assigned to nobody

[2018-12-06 14:46] zelinzhao opened #1955 "Does Javaparser assumes the scope of FieldAccessExpr and MethodCallExpr is an object?"
I am not a pro in Javaparser, so I read the API doc a lot.
- In `FieldAccessExpr` doc: *Access of a field of an **object**. In person.name "name" is the name and "person" is the scope.*
- In `MethodCallExpr` doc: *A method call on an **object**. circle.circumference() In a.<String>bb(15); a is the scope...*
So, I think the scope in `FieldAccessExpr` or `MethodCallExpr` is an object.<p>
However, if

[2018-12-07 13:29] widya10969 opened #1957 "How to parse a specified class?"
Hi.
I want to parse the list of files entered from the folder to my project.
How to parse files in the class that use the concept of inheritance, namely superclass and subclass. But it ignores ordinary classes, interfaces and abstract classes.
I am new to JavaParser.
So, what would be the best approach?
If someone has a better/prettier solution, I would gladly appreciate it.

[2018-12-08 12:58] HoldYourWaffle commented on #1957
###### Disclaimer: I'm very new to JavaParser as well, so this might not be efficient at all

In my project I use code like this to parse all classes in a directory:
[code]
I'm not sure what exactly you want to filter, but you can use `compilationUnit.findAll(ClassOrInterfaceDeclaration.class)` to find all class/interface declarations (who'd have thought....). You can then use the `resolve` method

[2018-12-08 23:14] matozoid commented on #1957
@widya10969 - do read the book, it was written to get you started well. https://leanpub.com/javaparservisited

[2018-12-08 23:19] matozoid commented on #1955
Thanks! The main issue seems to be that the Javadoc for these nodes misses a case? (Thanks for reading the Javadoc, by the way.) In that case: it's not supposed to be misleading, so we can mention "object or class" instead. Would you like to make the PR?

Did I miss anything from your issue?

[2018-12-09 11:38] widya10969 commented on #1957
@HoldYourWaffle @matozoid thanks for the solution, I'll try it.

[2018-12-09 15:59] wozuo opened #1959 "Different behavior: fieldType.resolve vs. JavaParserFacade.get(combinedTypeSolver).convertToUsage(fieldType);"
Hi everyone,

I'm trying to resolve the type of a FieldDeclaration like so:
[code]
which throws the error: `java.lang.IllegalStateException: No data of this type found. Use containsData to check for this first.`

When I resolve it with JavaParserFacade it works very well on the other hand:
[code]

My question now is, is this difference in behavior between the two ways intended? And if it is intend

[2018-12-09 18:10] matozoid commented on #1959
Let's ask @ftomassetti

[2018-12-10 06:52] zelinzhao commented on #1955
Thanks for your response. Mentioning "object or class" in the Javadoc is nice. <br>
Should we add an interface method, maybe `boolean isScopeObject()`, in `NodeWithScope` and implement this method in `FieldAccessExpr` and `MethodCallExpr`?

[2018-12-10 11:25] matozoid commented on #1955
Let's see what @ftomassetti thinks.

[2018-12-10 16:33] maartenc opened #1962 "UnsolvedSymbolException thrown on super.<method> declaration inside inner class"
Hi,

consider the following source:

[code]

When trying to resolve the `MethodCallExpr`, I get an UnsolvedSymbolException:

[code]

My code looks like this:

[code]

Is this a bug, or did I something wrong?

Maarten

[2018-12-10 16:35] HoldYourWaffle commented on #1962
This could be related to #1949.

[2018-12-11 10:28] matozoid commented on #1949
@maartenc @HoldYourWaffle - anybody wants to give this a go?

[2018-12-11 11:47] ftomassetti commented on #1955
Obviously the AST cannot possibly now what the scope is, if it is an object or a class because they are not syntactically distinguishable. Therefore we cannot have special AST nodes. The ambiguity have to be resolved during symbol resolution and doing so it is a complicate process which requires figuring out which symbols are visible and what is their natures (are they classes? Are they variables?

[2018-12-11 11:48] ftomassetti commented on #1955
Of course symbol resolution is handling static fields and methods access right now. It could have bugs but it is something it does

[2018-12-11 12:44] ftomassetti commented on #1959
I think that what is happening is that the typesolver was not injected in the node. We should correct that error message to be clearer about that

[2018-12-11 12:52] wozuo commented on #1959
Thanks for answering @ftomassetti & @matozoid

Ah so how does this work exactly, is there a way for me to inject the typesolver into the node?

[2018-12-11 13:09] matozoid commented on #1955
Okay, so we answer "is the scope an object or a class" on a resolved type, not on the AST node itself.

[2018-12-11 13:11] matozoid commented on #1959
Oh, you want to read the book for that: https://leanpub.com/javaparservisited - it's okay to pay $0 for it.

[2018-12-11 13:44] ftomassetti commented on #1955
Yes, good point

[2018-12-11 14:01] zelinzhao commented on #1955
Thank you for your response.

[2018-12-11 15:15] HoldYourWaffle commented on #1949
I would, but I have absolutely no idea how to.

[2018-12-11 15:45] matozoid commented on #1949
Probably copy/paste some similar code into the place where the exception is thrown (if there is an exception?)

[2018-12-12 14:20] maartenc opened #1963 "UnsolvedSymbolException when using static final field from inherited interface"
Hi,

consider the following example:

[code]

when trying to resolve the `JDialog.DISPOSE_ON_CLOSE` expression, an UnresolvedSymbolException is thrown. This happens because the DISPOSE_ON_CLOSE is not a direct field of the JDialog class, but is a field of the WindowConstants interface which is implemented by JDialog.

I have it fixed on a local checkout of the project, I'll try to create a PR for

[2018-12-12 15:38] matozoid commented on #1963
Great!

[2018-12-13 11:13] HoldYourWaffle opened #1964 "JSS can't resolve complicated generic method"
I found another generics choke, could be related to #1945.
Because the issues are probably related I have updated the old [sample project](https://github.com/HoldYourWaffle/JavaParserGenericsChoke) instead of creating a new one.

The scenario is as follows: we have a `Message` and a `MessageHandler<REQ, RES>` interface. The `REQ` parameter means the type of request the handler can handle, `RES` is

[2018-12-13 12:20] matozoid commented on #1964
Choke? :-)

[2018-12-13 12:39] HoldYourWaffle commented on #1964
That api code is worth choking on

[2018-12-14 17:50] wozuo commented on #1959
Hi sorry for the late response, I read the "solving symbols" chapter from the book already but I still can't quite pin down the source of the trouble I'm having. I'm using the SymbolSolverCollectionStrategy to add all the source roots of a project. The SymbolSolverCollectionStrategy should then add a JavaParserTypeSolver for all the root folders to its internal CombinedTypeSolver. The `fieldType`

[2018-12-15 16:00] matozoid commented on #1959
@ftomassetti to the rescue again.

Actually, if the problem is still the same, then your setup is still broken. Maybe the sample is of use to you? https://github.com/javaparser/javasymbolsolver-maven-sample

Otherwise, please show us your setup code.

[2018-12-15 19:26] signed opened #1967 "missing space between modifier and method return type"
[MethodDeclarationTransformationsTest](https://github.com/javaparser/javaparser/blob/master/javaparser-core-testing/src/test/java/com/github/javaparser/printer/lexicalpreservation/transformations/ast/body/MethodDeclarationTransformationsTest.java)

[code]

The actual result is ` staticvoid a(){}`
I tested this with latest master. Maybe related to #1568 .

[2018-12-16 13:44] #1967 closed, assigned to nobody

[2018-12-16 21:12] #1955 closed, assigned to nobody

[2018-12-17 10:48] maartenc commented on #1963
Thanks for merging the PR :-)

[2018-12-17 10:48] #1963 closed, assigned to nobody

[2018-12-17 13:27] #912 closed, assigned to nobody

[2018-12-17 19:28] matozoid opened #1976 "Move all tests to JUnit 5"

[2018-12-17 19:30] matozoid commented on #1964
Looks reasonable to me. And it's a good challenge for the symbol solver. But can you change the description to something more useful?

[2018-12-18 13:57] MarvinWyrich commented on #1667
@matozoid @ThLeu any news on this? For our software we need the LexicalPreservingPrinter, so that a small change does not change the whole file. The javaparser otherwise makes a great impression, so we would like to use it and not have to resort to less elegant solutions because of this bug. Is there a chance to prioritize the issue a bit higher? :)

[2018-12-18 14:07] ftomassetti commented on #1667
@MarvinWyrich it has to compete with other 300+ issues: from bugs, to ideas for improvements, to corner cases to consider. It is a ton of work so it become very, very difficult to offer any reassurance regarding when this will be fixed.

If this has an impact on you perhaps you could help speeding this up by providing a PR for a failing test. Or even better a PR for the solution :) We can work wit

[2018-12-18 17:50] HoldYourWaffle commented on #1964
Yeah I was pretty tired when I made this...

[2018-12-19 11:25] jjbr opened #1980 "Parsing of doubles fails in certain cases"
An interesting edge case this one. According to the JLS you can define numeric values with underscores at any position (for code readability). In other words, `100000.0 == 100_000.0 == 1_0_0_0_0_0.0`. https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html#jls-3.10.2

However, according to the documentation of e.g. `java.lang.Double#valueOf(java.lang.String)` (which is referenced from `Double

[2018-12-19 14:16] HoldYourWaffle commented on #1980
This project never stops amazing me with weird syntaxes.

[2018-12-19 14:56] matozoid commented on #1980
@jjbr thanks, I'm just so confused, why didn't they implement this correctly? :-/ Anyway, great issue!

@HoldYourWaffle - my favourites are array brackets just before the opening { of a method, and hexadecimal floating point literals.

[2018-12-19 15:17] #1980 closed, assigned to nobody

[2018-12-21 01:34] Symbolk commented on #1986
Same error here, is this done or not after one year?

[2018-12-21 05:34] zelinzhao opened #1983 "Comparing the type parameters when there are LazyType objects"
I use Javaparser to analyze the following code.
[code]
The code is actually from Tomcat8 and I change and remove some code for simplification.

The problem is that, I use Javaparser to parse MethodCallExpr `method((Son)father);` and call `resolve()` method on this MethodCallExpr. Javaparser then tries to figure out which `method` is called in this MethodCallExpr, `void method` or `boolean method`.

[2018-12-21 10:56] zelinzhao opened #1985 "Javaparser treats full class name in FieldAccessExpr as FieldAccessExpr instead of a class?"
Hi, I have another problem when using Javaparser to parse a FieldAccessExpr.

If I have a class:
[code]
If I access the enum constant via the full class name in another class, like `this.is.a.package.example.one`, (the `this.is.a.package.example` is full class name and `one` is a field), and use Javaparser to parse this field access expr, Javaparser can't solve symbol `this.is.a.package.example`.

[2018-12-21 11:52] matozoid commented on #1986
I guess not then. Do send a PR. I'll move this issue to the active project.

[2018-12-21 17:32] matozoid commented on #1924
I assume this is sufficiently fixed now.

[2018-12-21 17:32] #1924 closed, assigned to nobody

[2018-12-21 18:26] matozoid commented on #1907
@baumato - I made a test case PR that is not failing - can you help me make it fail?

[2018-12-21 18:28] #1941 closed, assigned to nobody

[2018-12-21 18:28] matozoid commented on #1941
@ftomassetti - do you have an answer for the last question?

[2018-12-21 18:31] #1897 closed, assigned to nobody

[2018-12-21 18:33] #1896 closed, assigned to nobody

[2018-12-21 18:34] matozoid opened #1988 "Check if JsonDeserializer works with orphan comments"

[2018-12-21 18:34] #1895 closed, assigned to nobody

[2018-12-21 18:46] matozoid commented on #1894
Hi! I missed this issue, sorry!

I'm reading the following things:
- to add a field at the beginning, use `add(int,N)`. Good news here: `NodeList` has convenience methods like `addFirst` and `addBefore` for this purpose.
- the methods that are available on `NodeList` should also be available on every class for every property that is a `NodeList`. No, you're not actually writing that, but if we add

[2018-12-21 18:59] #1893 closed, assigned to nobody

[2018-12-21 19:01] matozoid commented on #1888
Hello @MysterAitch ?

[2018-12-21 19:02] #1872 closed, assigned to nobody

[2018-12-21 19:02] #1856 closed, assigned to nobody

[2018-12-21 19:02] #1850 closed, assigned to nobody

[2018-12-21 19:04] matozoid commented on #1846
The JEP has been retracted, and I'm happy about that.

[2018-12-21 19:04] #1846 closed, assigned to nobody

[2018-12-21 19:06] matozoid commented on #1794
It's the accent in `Júlio Vilmar Gesser` - but why is it complaining? It's a UTF-8 file.

[2018-12-21 19:07] matozoid commented on #1799
@ftomassetti any progress here?

[2018-12-21 19:09] #1748 closed, assigned to matozoid

[2018-12-21 19:18] matozoid commented on #1945
@HoldYourWaffle was this solved in the PR?

[2018-12-21 19:18] matozoid commented on #1948
@HoldYourWaffle was this solved in the PR?

[2018-12-21 19:20] #1759 closed, assigned to nobody

[2018-12-21 19:20] #1670 closed, assigned to nobody

[2018-12-21 19:23] matozoid commented on #1703
@Yonka - thanks for reporting this one :-)

[2018-12-21 19:23] #1703 closed, assigned to nobody

[2018-12-21 19:27] #1627 closed, assigned to matozoid

[2018-12-21 21:57] HoldYourWaffle commented on #1945
Which one? #1952 just added a workaround.

[2018-12-21 21:58] HoldYourWaffle commented on #1948
#1952 is just a workaround

[2018-12-21 23:58] matozoid commented on #1945
Okay, it's still open then.

[2018-12-21 23:58] matozoid commented on #1948
Okay

[2018-12-22 00:07] abego commented on #1894
Hi,

thanks for your detailed response.

Now that I know I can directly modify the NodeList returned by getMembers()  without being afraid this may no longer work in future versions of JavaParser I don't think there is need for the feature I requested. You may close the issue.

Udo

P.S.: Just in case you like to know a little bit more about my initial motivation for the request...:

When I posted

[2018-12-22 11:25] ftomassetti commented on #1799
I approve the suggested answer present. I think we can close this one

[2018-12-22 11:25] #1799 closed, assigned to ftomassetti

[2018-12-22 11:29] ftomassetti commented on #1941
I am not sure I get the question.
Do you want to print a sort of qualified name of the parameter? Or of its type?
In the first case I would look for the method in which the parameter is defined and get its qualified name then concatenate it with the name of the parameter.
If you instead want to print the type of the parameter I would do `param.getType().resolve().describe()`

[2018-12-22 15:44] matozoid opened #1990 "Document convenience methods and list mutability"
@abego makes some good points about the documentation here: #1894. See if we can find some way to improve it.

[2018-12-22 15:45] matozoid commented on #1894
Thanks for explaining your thought pattern - next time a question like this comes up I'll know how to answer it better. I've also made an issue to improve the documentation.

[2018-12-22 15:45] #1894 closed, assigned to nobody

[2018-12-23 13:23] #1586 closed, assigned to matozoid

[2018-12-23 13:55] matozoid commented on #1976
@signed is doing this one

[2018-12-23 21:06] matozoid commented on #912
Modifiers are now real nodes, so they have ranges too :-) They are not mixed with annotations, so the original problem is only half solved, but there is nothing keeping you from putting all annotations and modifiers in a nodelist and sorting them on position.

Mixing them together won't happen anytime soon. @mattsnider, if you're still around, is this enough to fix the problem?

[2018-12-24 04:33] Symbolk opened #1992 "Return if a solving is successful or not, instead of throwing UnsolvedSymbolException"
In gradle/maven projects, depending jars are usually downloaded in building, so we do not have the jarFolder to set up the JarTypeSolver:

[code]
Right now I am using JavaSymbolSolver to resolve all MethodCallExpr and FieldAccessExpr in one class. I want to resolve ONLY the "internal" method call or field access. By saying "internal", I mean those methods or fields that are defined in the java fil

[2018-12-24 22:16] ros3cin commented on #1948
Hi, I'm also waiting for this fix.

[2018-12-26 08:32] l0rinc opened #1997 "Why is it valid to create a `LambdaExpr` with `isEnclosingParameters=false` with non-single parameter list?"
Hey,

[code]
would result in illegal Java code, i.e. (`-> ...`, without params).
Is there maybe a way to ignore the `isEnclosingParameters` param in case it doesn't make sense?
Also, for multiple parameters it should also be ignored, i.e. the `isEnclosingParameters` parameter only makes sense for parameter lists with single values.

Would it make sense to only include this option for a constructor

[2018-12-26 08:50] ftomassetti commented on #1948
One way to speed up the solution of this would be sending a PR with a failing test-case. The issues which have a testcase are prioritized w.r.t. the others.

[2018-12-26 20:36] signed opened #1999 "anonymous class broken when statement is set as new method body"
The following test fails when I run it as part of [MethodDeclarationTransformationsTest](https://github.com/javaparser/javaparser/blob/master/javaparser-core-testing/src/test/java/com/github/javaparser/printer/lexicalpreservation/transformations/ast/body/MethodDeclarationTransformationsTest.java) on current head.
[code]

[2018-12-27 12:51] ftomassetti commented on #1992
Well, the fact is that often resolving somethign is a prerequisite to resolving something else. For example, if you have a method chain:

[code]

You need to know what `a()` returns to figure out what `b` corresponds to. So "eating" unsolved symbols and ignoring them is dangerous.

What we can know if something can be resolved with the internal resources we know about (basically the code we have +

[2018-12-27 12:53] ftomassetti commented on #1997
In my opinion something like this could be catched by successive checks. We have a mechanism for checks that I am not very familiar with but @matozoid could help us figuring out, when he is back grom holidays.

In general I think that the APIs should allow for building partially incorrect ASTs for several reasons. One of them being the fact that "illegal code" can still be parsed. We do not expect

[2018-12-27 12:58] ftomassetti commented on #1999
Ok, this represents a new test that should be added, right? I will prepare a PR with this test. Thank you for submitting it.

[2018-12-27 13:07] ftomassetti commented on #1999
To me the issue seems that we do not have a way to represent an empty body for the anonymous class

[2018-12-27 13:18] ftomassetti commented on #1999
Proposing a PR in #2000

[2018-12-27 13:35] signed commented on #1999
Thank you for looking into it.

[2018-12-28 12:50] ftomassetti commented on #1999
My pleasure

[2018-12-29 15:46] forenbuddy opened #2001 "Emptying method bodys via MethodCallExpr triggers UnsupportedOperationException"
If I remove the last MethodCallExpr via the ModifierVisitor by returning null in this visitor so that the method body in the modified source code would be empty afterwards "{}", the following exception is thrown instead:

``
Exception in thread "JavaFX Application Thread" java.lang.UnsupportedOperationException: removed com.github.javaparser.printer.concretesyntaxmodel.CsmIndent@1 vs ChildTextElem

[2018-12-30 13:16] ftomassetti commented on #2001
Hi @forenbuddy thank you for reporting this.

Could you please share as much detail as possible about this? Ideally we would like to get a simple example we can run to verify this issue and fix it.

The perfect solution would be to get a PR with a failing test, but any piece of code posted in this issue would also help.

Thank you!

[2019-01-02 16:32] #1356 closed, assigned to matozoid

[2019-01-02 16:49] matozoid commented on #1948
@ftomassetti there's a test project for this one.

[2019-01-02 17:23] matozoid commented on #1997
Currently there is no check for this because the checks are all written for post-parse validation. This would be a post-ast-modification check. I'm hesitant to start writing those checks, because I don't think they'll get used much (unless we call these check from JP itself, before pretty printing and such. But that will cost performance for what are probably easily caught problems (resulting code

[2019-01-04 06:19] Symbolk commented on #1992
Exactly, what I did is to wrap the solving process in try block, and in case of catching UnsolvedSymbolException, just continue to try solving the next one.

[2019-01-04 08:24] l0rinc commented on #1997
Thanks @matozoid, added comments to the PR

[2019-01-04 12:21] #1997 closed, assigned to nobody

[2019-01-04 12:21] matozoid commented on #1997
Fixed those, and this will be released next Sunday.

[2019-01-04 12:22] l0rinc commented on #1997
Thanks @matozoid :)

[2019-01-04 15:09] l0rinc opened #2005 "Keep formatting of parsed file"
Given the following Kotlin snippet (to avoid String concats in example)
[code]

will result in:
[code]
i.e.
* empty lines were trimmed between imports and method lines
* new line was added after class declaration
* indentation of 2 spaces was changed to 4
* comments were unindented (adding any non-comment line to the method will re-indent the comments, too)

[2019-01-04 15:14] ftomassetti commented on #2005
Are you using the pretty printer? I think it is the default. You can keep the original formatting using the LexicalPreservingPrinter

[2019-01-04 15:18] l0rinc commented on #2005
Hey @ftomassetti, thanks for the hint.
Unfortunately that seems even worse than plain `toString`:
[code]
->
[code]

In addition to the previous problems this one has:
* unindented method
* removed all comments

[2019-01-04 15:29] ftomassetti commented on #2005
I suspect that the problem is that the LexicalPreservingPrinter should be setup up _before_ parsing. The fact is that while parsing we need to preserve the lexical information that are typically useless in an AST.

You can read more about the LexicalPreservingPrinter and how it works in this [article I wrote about its implementation](https://tomassetti.me/lexical-preservation-javaparser/).

I also

[2019-01-04 15:49] l0rinc commented on #2005
Thank you for your quick replies @ftomassetti :)

Unfortunately the examples in https://tomassetti.me/lexical-preservation-javaparser seem a bit outdated and don't compile anymore.

Following the doc for `LexicalPreservingPrinter#setup` however seems to solves the issue, thanks!

i.e.

[code]

So the only question that remains is how do I add newlines via the API?

[2019-01-04 17:52] forenbuddy commented on #2001
I know and I would have done exactly that in my initial report if it were relatively easy.

Unfortunately the related functions are scattered around my code and now I work around the problem by exchanging the unwanted functions with another one that gets removed by the compilers optimizer instead of removing them directly in the source code. This works for me.

I thought you still would like to kn

[2019-01-04 18:10] #1568 closed, assigned to nobody

[2019-01-04 18:17] matozoid commented on #2005
That's a feature request, not a question :-)

Theoretically you have access to all the tokens produces when you parsed the file (in tokenRange) but the lexical preserving printer has its own copy of those.

If all you want to do is mess with new lines, you could insert them in the token ranges of the nodes where you want them, then print out the complete list of tokens.

[2019-01-04 18:19] matozoid commented on #2001
I'll see if I can make a test PR.

[2019-01-04 18:20] ftomassetti commented on #2001
thank you @forenbuddy , we appreciate the time you took to provide more details

[2019-01-04 18:40] l0rinc commented on #2005
Thank you, I'll try that.

[2019-01-04 18:40] #2005 closed, assigned to nobody

[2019-01-04 19:01] matozoid commented on #2001
Okay, that's reproduced. Thanks @forenbuddy!

[2019-01-04 21:54] #1667 closed, assigned to nobody

[2019-01-04 22:10] matozoid opened #2007 "Update bulk test cases for JDK12"

[2019-01-06 13:33] #1999 closed, assigned to nobody

[2019-01-06 13:34] #1976 closed, assigned to nobody

[2019-01-08 19:10] wozuo commented on #1959
Hi @matozoid

Sorry to bother you with this again so late, but I have now created a very simple sample project where I can demonstrate this problem. [This](https://github.com/wozuo/jptest) is the JavaParser project which is designed to scan [this](https://github.com/wozuo/JPTestProject) Android sample project. The only thing you need to change is the path tho the Android sample project (depending

[2019-01-08 19:16] matozoid commented on #1959
@ftomassetti ?

[2019-01-10 22:33] lingbozhang opened #2014 "VariableDeclarator"
Hi

   I wonder if it is possible to get the Modifier enum from **VariableDeclarator** ?  I get Modifier enum from class **ClassOrInterfaceDeclaration** by invoking following command:
[code]
  Unfortunately, I did not find the method in **VariableDeclarator** class. I will appreciate your help.

-- JavaParser version 3.2.3

Best,
Lingbo

[2019-01-11 09:39] matozoid commented on #2014
Hi! You're a bit too deep in the AST, the modifiers are on one of the parent nodes. To figure out which one, try this: http://javaparser.org/inspecting-an-ast/

[2019-01-11 09:40] matozoid commented on #2014
If you need help upgrading to the latest version of JavaParser, just ask.

[2019-01-11 12:14] matozoid opened #2015 "Check symbol solver for toString() usages"
It seems that the symbol solver sometimes uses toString in comparisons, as mentioned in #2013. That's bad practice as noted in http://javaparser.org/making-strings-in-javaparser/

Analyse the whole code base and replace these occurrences with asString() or whatever is applicable there.

[2019-01-11 13:02] cdtpinto commented on #1505
Apparently no one touched this issue. I'm adding `getLineCount()` to the Range class right now.

[2019-01-11 13:16] matozoid commented on #1505
Cool, if you can think of other generally useful methods, go ahead and add those too.

[2019-01-11 13:22] cdtpinto commented on #1505
Ok, if I think of any I will add it no problem.

[2019-01-11 13:59] wozuo commented on #1959
@ftomassetti I observed that I only encounter this exception when I try to solve symbols in a declaration returned by the SymbolSolver and then casted to JavaParser declaration type (e.g. in [my sample project](https://github.com/wozuo/jptest/blob/master/src/main/java/Main.java) I can resolve `resolvedValueDeclaration = ((NameExpr) node).resolve();` when I just loop through the nodes of the Method

[2019-01-11 15:30] lingbozhang commented on #2014
Thank you matozoid, this is exactly what I want !

[2019-01-11 15:30] #2014 closed, assigned to nobody

[2019-01-11 15:47] matozoid commented on #2014
Good luck!

[2019-01-11 15:48] #1505 closed, assigned to nobody

[2019-01-11 16:23] matozoid opened #2018 "Rename PrimaryPrefix to PrimaryExpression"
As seen in https://github.com/kiegroup/drlx-parser/commit/3183e2e5d533a071241b3bb7b99b5f6e84115b86

(Check the terminology in the JLS first!)

[2019-01-11 16:26] matozoid commented on #2018
Yes, the JLS seems to talk about primary expressions only: https://docs.oracle.com/javase/specs/jls/se11/html/jls-15.html#jls-15.8

[2019-01-12 17:57] andreeasgit opened #2020 "check if class is abstract"
Hello,

How can I check if a class is abstract using javaparser/javasymbolsolver?
If this question was already asked, please redirect me to it.

Thanks!

[2019-01-12 19:33] matozoid commented on #2020
Hi! I'm trying to think of a case where a class is abstract, but does not have the `abstract` modifier... If there is no such case, just parse a file look at the `ClassOrInterfaceDeclaration`s and check `isAbstract`.

[2019-01-12 19:55] andreeasgit commented on #2020
This is exactly the answer I was expecting! Checked it and it works.

Yes, indeed. An abstract class always has the abstract modifier. I didn't knew how to find this using javaparser, but I was pretty sure it can give me this information.

Thank you!

[2019-01-12 19:58] #2020 closed, assigned to nobody

[2019-01-12 20:57] matozoid commented on #2020
Glad to help!

[2019-01-13 06:10] MarioIshac opened #2021 "How to get Compilation Unit given `Class` object and package name?"
I have a `Class` object and the package name of said class. However, I do not have the source itself. Is there anyway to get a `CompilationUnit` given these? I can assume that the class represented by the `Class` object is guaranteed to be the only class in the source file.

[2019-01-13 12:40] matozoid commented on #2021
Hi! Wrong tool, I'm afraid. Javaparser-core is just a parser for Java source code, no other inputs possible. Javaparser-symbol-solver can deal with class files and jars etc, but only as a way to solve symbols.

Either access the class with some byte code library to get the information you need, or reverse engineer the source code and run it into JavaParser.

[2019-01-13 13:08] #2018 closed, assigned to matozoid

[2019-01-13 13:08] matozoid commented on #2018
Nope, I misread this thing.

[2019-01-14 14:27] matozoid opened #2023 "Update libgdx dependency"
https://github.com/libgdx/libgdx is damn popular, and is using 2.something...

[2019-01-14 14:56] JustinKissling opened #2024 "LexicalPreservingPrinter throws UnsupportedOperationException when removing comments"
Hi,
Whenever I try to delete a line or block comment while using the LexicalPreservingPrinter, I get an UnsupportedOperationException. Javadoc comments seem to work fine.

Example:
[code]

[2019-01-14 19:59] matozoid commented on #2023
https://github.com/libgdx/libgdx/pull/5512

[2019-01-15 18:55] wozuo commented on #1959
Ok I added a workaround to the sample project which works fine but requires to search all compilation units of the projects to get the MethodDeclaration (works for other declarations as well of course). The method `analyzeMethodCallExpr` now shows the error and the method `analyzeMethodCallExprFix ` uses the workaround to resolve the expression successfully. The code can be found [here](https://gi

[2019-01-16 03:20] MarioIshac opened #2026 "How to replace every generic type use with a Visitable?"
Let's say I have this method:
`
<T> T doSomething(T parameter) {
     T localVariable = null;
}
`

I can visit two types of nodes: `TypeParameter` and `VariableDeclaration`. Visiting `TypeParameter` will allow me to change the type of `T parameter` but not `T localVariable`, Visiting `VariableDeclaration` will allow me to change the type of both `T Parameter` and `T localVariable` but not the retu

[2019-01-16 10:48] matozoid commented on #2026
Hi! There are a lot of interfaces implemented by the various nodes. Try using:
- https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/ast/nodeTypes/NodeWithTypeParameters.java
- Node.findAll

Let me know if that helps.

[2019-01-16 13:53] un0btanium commented on #1943
I know this is a complex issue (and I probably could have made a better job at preseting it), but did you have the time to read into it yet? @ftomassetti

[2019-01-16 14:26] matozoid commented on #1943
Sorry, I'm busy trying to get JDK12 support in, and @ftomassetti is drowning in work.

Can it be that SourceZip gets a configuration where you don't set the symbol solver?

[2019-01-16 16:51] un0btanium commented on #1943
No problem.

Ah, indeed. SourceZip has its own ParserConfiguration and requires the TypeSolver to be set. I thought it would always just take the statically set TypeSolver, but I guess SourceZip is older than the newest `.resolve()` functionality.

```new SourceZip(Paths.get(path), new ParserConfiguration().setSymbolResolver(symbolSolver));```

[2019-01-16 18:10] matozoid commented on #1943
Nah, the static configuration is for the static methods. Every instance gets its own configuration.

It's kind of confusing, so the plan is to remove all the static methods soon.

[2019-01-17 01:57] MarioIshac commented on #2026
Visiting all nodes that extend `NodeWithTypeParameters` would not visit the types of local and instance variables that have a type `T`. It would visit the types of local and instance variables of type `A<T>`, where `A` is any class, but I need to extend this visiting to `T` as well.

[2019-01-17 09:28] matozoid commented on #2026
Ah, I think I get it now.

To the parser, the T in `T varname;` just looks like a normal type, so you will need to have some additional logic. Either you write it yourself: something like "what are the type parameters of this class/method, and do they match with this type name?" or maybe the symbol solver is of use here. @ftomassetti ?

[2019-01-18 02:08] immerser commented on #1938
I meet the same problem

[2019-01-18 10:17] SurmaSb opened #2028 "How to use JavaParserr to get all class? My code takes a String content, where the contents of the file are stored, I need to, after analyzing the data, it returns the name of the classes to me and what they inherit public class A extends B {       c b; }"
[code]

[2019-01-18 10:27] matozoid commented on #2028
Try `findAll`.

Is this a question?

[2019-01-18 12:06] #2028 closed, assigned to nobody

[2019-01-18 15:38] ftomassetti commented on #1938
Will look into that. A test case would be great.

[2019-01-18 15:42] ftomassetti commented on #2026
Yes, ideally the symbol solver should be able to figure out that it is pointing to a type variable. Without symbol solving `List` and `T` are both names used as types. There is no way the parser alone could distinguish them

[2019-01-18 15:45] ftomassetti commented on #1959
Ok, I am puzzled by this one

[2019-01-18 16:21] matozoid commented on #2026
Ideally? There is no way to see this right now?

[2019-01-18 16:24] ftomassetti commented on #2026
Bad choice of words. I expect this to work right now, I just did not double check it with the current version

[2019-01-19 00:43] MysterAitch commented on #1888
Apologies, not checked in for a while.

I can confirm that `Files.isSameFile` appears to work, as described below:

[code]

Additionally, `Files.isSameFile` works with `../` and similar - to do the same otherwise would need to canonicalise the path (after `Path.toFile()`) rather than just convert to an absolute path.

Overall, it seems significantly more robust and handles many more cases than my

[2019-01-19 10:40] wozuo commented on #1959
Haha yea it's a weird one for sure ;) but do you see the same issue as I do?

[2019-01-19 13:04] signed commented on #1689
For formatting Java code there is [spotless](https://github.com/diffplug/spotless).
[prettier](https://github.com/prettier/prettier) puts its focus on web languages.
Maybe you can borrow ideas from there.

Going through the prettier documentation I found a link to the [A pretty printer](http://homepages.inf.ed.ac.uk/wadler/papers/prettier/prettier.pdf) paper.

[2019-01-19 13:46] matozoid commented on #1689
I got involved with some this thread yesterday: https://twitter.com/java_hipster/status/1086314640823472130
about formatting Java from Javascript.

[2019-01-19 21:56] jessrix opened #2029 "Any examples for JsonSerializer/Deserializer ?"
Hi . I want to serialize and deserialize some AST Nodes to save them for later access . I currently use JsonPrinter which is deprecated and not complete and i can't get jsonserializer to work , any examples on how to use these? thanks

[2019-01-20 12:03] matozoid commented on #2029
Hi! Right now only the test cases:
https://github.com/javaparser/javaparser/blob/master/javaparser-core-serialization/src/test/java/com/github/javaparser/serialization/JavaParserJsonSerializerTest.java
https://github.com/javaparser/javaparser/blob/master/javaparser-core-serialization/src/test/java/com/github/javaparser/serialization/JavaParserJsonDeserializerTest.java

What's the problem exactly?

[2019-01-20 12:24] LHommeDeBat opened #2030 "FieldAccessExpr without 'this'?"
Hello,

I have a question about the 'FieldAccessExpr'-Objects. My issue is the following:

I want to remove unused, private class variables. For that I need to find a way to check my class where my class variable is used. I figured out that I should use the "FieldDeclaration" and "FieldAccessExpr" for that. However, it seems that the "FieldAccessExpr" are only those expressions that contain a "thi

[2019-01-20 13:00] matozoid commented on #2030
It's a different object. Here, read http://javaparser.org/inspecting-an-ast/ so you can always figure out what AST is being produced for a piece of code.

[2019-01-20 13:19] LHommeDeBat commented on #2030
Thank you for the fast answer! I will close the issue.

[2019-01-20 13:19] #2030 closed, assigned to nobody

[2019-01-20 14:24] jessrix commented on #2029
Oh i see , thanks

[2019-01-20 14:24] #2029 closed, assigned to nobody

[2019-01-21 10:13] #1948 closed, assigned to nobody

[2019-01-21 10:13] #1876 closed, assigned to ftomassetti

[2019-01-21 10:34] marc-schweig opened #2031 "Parsing Methods of Anonymous Classes"
I am using a JavaParserTypeSolver and a ReflectionTypeSolver iterating over all MethodDeclarations in a CompilationUnit.

What do I have to do in order to resolve methods (e.g. to get their signature) contained in anonymous classes correctly?

This seems to be releated to #1599. However I was not able to find a solution, yet. Has this been resolved?

[2019-01-21 19:56] MysterAitch opened #2032 "Add `asString` to class `Node`"
I'm currently investigating the best way to print the content of an arbitrary node, and there doesn't seem to be a reliable means of (programmatically) determining whether `toString` or `asString` should be called.

A single interface that can be checked against using `instanceof` or similar would make this significantly more straightforward, as would implementing `asString` within the class `Node

[2019-01-21 21:17] matozoid commented on #2032
Good thing you've made this an issue first. `asString` is the opposite of a print function: it gives you something you can use programmatically, as a key in a hashmap, or to compare to something in a configuration file. Now that I'm writing this I'm thinking the name might be all wrong.

The best way to print the content of an arbitrary node is to use the pretty printer, or the lexical preserving

[2019-01-22 07:22] villadora opened #2033 "UnsupportedOperationException thrown after setting acceptIncompleteList=true"
https://github.com/javaparser/javaparser/blob/cb194db28ea321862242bd2472cd5d25011633a5/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/declarations/JavaParserEnumDeclaration.java#L230

Here `UnsupportedOperationException` is thrown out even when `acceptIncompleteList=true`.
as `getCorrespondingDeclaration` called on unsolved `implementedDeclRef` later

[2019-01-22 08:58] matozoid commented on #2033
Thanks! Do you think you can make the change yourself?

[2019-01-22 15:16] MysterAitch commented on #2032
I'm not sure I quite follow what you're saying and I'm getting a little muddled. It's likely I'm not familiar enough to understand the use case for it (and my motivation for using `asString` is a rather vague feeling based on "`asString` is probably better" rather than anything more concrete) so shall ponder on a little longer :)

Fair point re: use of printers - pretty sure you're spot on there a

[2019-01-22 15:40] matozoid commented on #2032
Do keep asking, it educational to see what happens when people use JP!

- Lexical Preserving Printer: tries to print with indentation and whitespace as much as the parsed original.
- Pretty Printer: happily forces its formatting rules on everything.
- asString: concrete case: Name.asString returns something like "a.b.c", which is usable in comparisons with other strings. toString might give "/* hi

[2019-01-23 10:18] malteskoruppa opened #2034 "Should ForEachStmt#getVariable() return a VariableDeclarator instead of a VariableDeclarationExpr?"
Hey guys, sorry, haven't been around for some time, due to lots of work and deadlines... :-)

Here's a simple question. I noticed that the method `ForEachStmt#getVariable()` returns a `VariableDeclarationExpr`. Wouldn't it be better if it returned a `VariableDeclarator` instead?

The reason is this: In any foreach statement, *exactly one* variable is declared (not zero, not two or more). Therefore

[2019-01-23 11:44] MysterAitch opened #2035 "Resolver boxing/unboxing"
After digging a little deeper into the questions I raised via chat, the problems appear to be with the boxing/unboxing of types.

It seems that when the declared type (`formalType`) is primitive and non-primitive type is given (`actualType`), the equivalence/correspondence is registered. This is the boxing and happens as expected. _(sidenote: typo in the code - the ending should be "ence")._

The

[2019-01-23 11:48] matozoid commented on #2034
I had to look it up, but yes, there are good reasons :-)
Check the grammar here: https://docs.oracle.com/javase/specs/jls/se7/html/jls-14.html#jls-14.14.2
`VariableModifiers` is the hard part here: it supports "final" which `VariableDeclarator` does not.
The first feeling might be to tighten this up to a `VariableDeclarator` and maybe a final flag or so, but the rule is to have the grammar accept

[2019-01-23 11:50] matozoid commented on #2035
Well, why not make a PR when you go through all this trouble to make an issue? :-)

@ftomassetti - what do you say?

[2019-01-23 11:51] malteskoruppa commented on #2034
Ah, that makes sense. :-) I'll have a look!

[2019-01-23 12:01] MysterAitch commented on #2035
Where would the fun in that be? ;)

Mostly shyness/inexperience with the process. Shall give it a go and see what happens!

[2019-01-23 15:39] #2035 closed, assigned to ftomassetti

[2019-01-23 15:42] matozoid commented on #2035
@MysterAitch - well, that was easy :-)

(But it is a good idea to open an issue first. I really dislike having to turn down someone's hard work because, well, most of the time it fixes a non-problem)

[2019-01-23 16:33] MysterAitch commented on #1907
@matozoid The issue is that if *any* of the lines of the comment do not contain a leading space, then *every* line of the multi-line comment gets indented by a single space.

In @baumato 's case, his whitespace is what is exposing this (he has leading tab characters in the code snippet above).

Also note that the existence of the leading space is "looked for" on the left-hand side of the asterisk,

[2019-01-23 17:58] matozoid commented on #1907
Cool! I've updated the testcase PR.

[2019-01-23 18:30] matozoid commented on #1907
@baumato @MysterAitch - all these tests are running now in the PR, thanks to @MysterAitch discovery that I was looking at the wrong side of the *... I completely missed that :-( Can you okay it?

[2019-01-24 01:17] MarioIshac commented on #1943
I have the same problem, except I am not using `SourceZip`. Below is the method that sets the symbol resolver:

[code]

and here is the calling code:

[code]

I get the following exception:
[code]

[2019-01-24 09:23] matozoid commented on #1943
@TheeNinja the crucial part is how you do the parsing, which is not in your report.
All `JavaParser.parse...` methods use the static configuration.
`new Javaparser(config).parse(..,..,..)` uses the configuration from config.

The error simply means that the solver is not set in the configuration the parser is using.

[2019-01-24 13:56] villadora commented on #2033
sure, just wonder how to add unit tests for this

[2019-01-25 02:12] MysterAitch commented on #1907
Oops, didn't intend that tinkering from yesterday's commit message to become publicly linked! It's what was work-in-progress from yesterday when I was looking into it and I suppose it got pushed when I revisited it this evening. _(my fault for not being disciplined with my "local"/forked branches!)._

Since it did get linked, if anyone does end up looking at it, I should add that that branch norma

[2019-01-25 05:08] MarioIshac commented on #1943
I am getting my "generic" compilation unit through `final CompilationUnit genericClassCompilationUnit = JavaParser.parse(annotatedClassSourceCode);`. I then get my "specialized" compilation unit through cloning the generic compilation unit (this will happen multiple times). `final CompilationUnit specializedClassCompilationUnit = genericClassCompilationUnit.clone();` I then perform all the visitin

[2019-01-25 05:57] MysterAitch opened #2039 "Coveralls reports not updating"
Hi,

I was taking a cursory look at #820 and noticed that the coveralls test coverage reports haven't been run/updated since Nov 2018.

https://coveralls.io/github/javaparser/javaparser

[2019-01-25 06:54] MysterAitch commented on #415
Presumably this old issue can be closed given that the pretty printer has a configuration option `setPrintComments(false)`?

[2019-01-25 10:07] matozoid commented on #1907
@MysterAitch whatever you do, remember that the pretty printer can do whatever it likes to Javadoc, because there is no standard. It's just what we think is "pretty" :-)

Do open a new issue!

Can I get you to work on symbol solver of the Java 12 switch expression instead?

[2019-01-25 10:10] matozoid commented on #1943
I do think it does not clone all `data` (the CloneVisitor has the answer.) This will need some thinking...

[2019-01-25 10:11] matozoid commented on #2039
Thanks, that might explain the constant low coverage.

[2019-01-25 10:15] #1396 closed, assigned to nobody

[2019-01-25 10:15] #1397 closed, assigned to nobody

[2019-01-25 10:19] matozoid commented on #415
A more specific answer would be: use a visitor to find the nodes you don't want comments for, then use a walk or find method to go through all of its methods and remove their comments. And if you don't really want to remove comments, clone the whole AST first and work on the clone.

But yes, then it can be closed :-) (Lots of comment support issues are long open because it's hard to do it right, a

[2019-01-25 10:19] #415 closed, assigned to nobody

[2019-01-25 15:30] MysterAitch commented on #1888
PR sent but I'm not sure if/how this should be tested, given that the drive lettering is Windows-specific and isSameFile requires the files to actually exist.

The new JUnit5 [@EnabledOnOs](https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution-os-demo) can help with the OS differentiation.

Not all systems will have the same drive lettering or directory/file structu

[2019-01-25 16:05] matozoid commented on #1888
Not sure what you mean with the last bit? We're only comparing files here?

We've got Travis, which is Linux, and AppVeyor, which is Windows. So platform mistakes will be noticed :-)

[2019-01-25 16:26] MysterAitch commented on #1888
Known equivalent paths (but textually different) are needed or they need to be generated (e.g. to compare windows-style `C:/` against unix-style `/`).

The line of thought in the last bit was re: creating a directory structure e.g. `C:/test` but I see now that is unnecessary and just the roots could be compared.

Inferring paths related to inferring/finding the drive letter that Java on Windows wo

[2019-01-25 19:50] MysterAitch opened #2042 "Javadoc pretty printing"
As a follow up to #1907, here's an issue to suggest the pretty printer de-indents javadoc so that the left-most edge of the comment content always has exactly one single space between the asterisk and the comment content. It would also fix that issue if implemented.

[This branch](https://github.com/MysterAitch/javaparser/tree/issue_2042) contains an implementation which normalises javadoc indenta

[2019-01-25 20:19] matozoid commented on #2042
Check out `PrettyPrinterConfiguration` - lots of inspiration to be found there.

[2019-01-25 20:19] matozoid commented on #2042
I have no problem with this, but I'm not sure if anybody ever indents their Javadoc more than one space.

[2019-01-25 21:32] #1907 closed, assigned to nobody

[2019-01-25 22:52] #1888 closed, assigned to nobody

[2019-01-25 23:25] MysterAitch commented on #2042
My usage of javaparser is with student code and there are all sorts of weird and wonderful things produced/submitted! :D

Cheers. I don't plan to actively take this much further. This came about from tinkering together a solution to #1907 and realising what I put together has different functionality rather than any particular strong need/desire for it.

Even just slightly scratching the surface I

[2019-01-26 11:10] matozoid commented on #2042
Oh, students :-D They mostly clutter the issue tracker at set times of the year with very recognizable questions ;-)

Do what you like - I can see why someone would want this now.

[2019-01-26 17:36] matozoid opened #2043 "getAccessSpecifier should return public for interface methods."
It currently returns package_private. Not so easy to do, maybe all `NodeWithModifier`'s will need an extra method, and `MethodDeclaration` will need to look at its parent to see if it is a class or an interface.

[2019-01-27 01:15] MarioIshac opened #2044 "T#<method declared in java.lang.Object>, where T is a Type Parameter, cannot be resolved."
Let's look at this sample method I have:

[code]

Based on what I've seen so far, the symbol solver cannot find a `ResolvedMethodDeclaration` from the `MethodCallExpr` `key.hashCode()` because `key` is of type `K` a type parameter. However, `key.hashCode()` is a valid `MethodCallExpr`, because K implicitly extends `Object`.

I may be way off here, and I may have not set up my resolver correctly (t

[2019-01-27 11:25] matozoid commented on #2044
@ftomassetti and friends?

[2019-01-27 13:15] MysterAitch commented on #2044
How are you doing getting the resolved type?

Something similar came up as a problem for me recently where `.resolve().getResolvedType()` (or similar - I don't have the code in front of me) would seemingly return the declared generic type, while `.calculateResolvedType()` would return the instantiated type. This came up when trying to resolve entrysets and entries in a set or list for example.

NB

[2019-01-27 19:18] yogeshjoshi opened #2046 "How Could I access separately the Body of Each If and else if and else block?"
How could i access body of each "if" and "else if" and "else" block including condition also.
I have tried taking help from issue #946 but couldn't get any help.

GIVEN Code ... Which needs to be parsed
[code]

What I want ..
Body of each if (and else if and else) including condition also. How could i get it?

Output expected ...
--------------------------------------------------------------------

[2019-01-27 19:25] yogeshjoshi commented on #2046
The above ..
"if" condition i'm trying to parse from the JAVA File, there might other if condition could be in file also.

Output from what i did ... Not giving me expected what i want.

the output i'm getting on execution of code ... is in format of ..
[code]
---------------------------------------------------------------------------------------------------------
[code]
--------------------------

[2019-01-27 20:17] MarioIshac commented on #2044
I'm still using the old API, so I get the `ResolvedMethodDeclaration` through `JavaParserFascade#solveMethodAsUsage(methodCallExpr).getDeclaration();` I haven't discovered a problem with resolving the type yet, `getJavaParserFacade().getType(methodCallExpr.getScope().get());` works completely fine (assuming that the `Optional` contains a value.

Additional Info: This is the stacktrace:
[code]

[2019-01-28 00:34] MysterAitch commented on #2046
Your posts are extremely difficult to read - try wrapping each codeblock in back-ticks like this. More information can be found at https://guides.github.com/features/mastering-markdown/ .

[code]

That said, this might get you some of the way there to exploring the if statements/blocks:

[code]

[2019-01-28 02:31] MysterAitch commented on #2044
Been doing some digging and the issue above is easy to demonstrate using these test cases. Resolving `key.hashCode()` works fine when the type variable explicitly extends `Object`, and fails when it doesn't.

The stack trace and the exception thrown varies depending on how the resolution happens.

The "solution" seems simple in that where there are no bounds then the equivalent of `extends Object`

[2019-01-28 02:38] MysterAitch commented on #2044
Note that this is sufficient to make the tests above pass, but has wider implications re: generating code etc.

[code]

https://github.com/javaparser/javaparser/blob/770059bab0baaf305089aa6afc391ff5c9821cbd/javaparser-core/src/main/java/com/github/javaparser/ast/type/TypeParameter.java#L92-L98

[2019-01-28 06:20] yogeshjoshi commented on #2046
Hi , I have updated the my comments.
The Code provided by you still not works as expected.
still not able to get each block(IF, else if, else ) statement as different block.

The Java File may contains other IF and Else IF and ELSE condition in any manner.(all permutations can be there , i.e nested or any permutations of IF and Else And Else IF condition).
I want each "IF" and "Else IF" and "Else"

[2019-01-28 08:54] matozoid commented on #2046
Hi! Quick ideas (no time for more)

- you're not going to get JavaParser to output "else ..." because that is not valid Java.
- if you want to get rid of the else-part, clone the if statement and remove the else from it before printing.

[2019-01-28 12:08] ftomassetti commented on #2044
I agree that the symbol solver should figure out that K is at least an Object. I am surprised this is not the case already

[2019-01-29 07:36] Symbolk commented on #1704
Same error here, but for chained method call as arguments.

[code]
#1945

[2019-01-30 17:34] matozoid commented on #1704
Thanks! Can either of you make a failing test case?

[2019-01-31 22:57] xiphirx opened #2050 "Stackoverflow / infinite loop with interface and member class name clash"
Given:
[code]

Where:

CoolName.java
[code]

Derived.java
[code]

Base.java
[code]

and the following test case:

[code]

Then you end up with a stack overflow:

[code]

It seems like there is a bug in the loop https://github.com/javaparser/javaparser/blob/master/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/declarations/JavaParserClassDeclaration.j

[2019-02-01 15:42] rojoyin opened #2051 "Class renaming propagation"
Hello,

This project has been really useful. This is a great tool.
I was wondering if is there any way to rename a class and propagate this change through the whole project where this class is being used, my approach would be to inspect every class and verify if the class is used to perform the change, however I would like to be sure if it is not a way using some feature of JSS.

Thank you in adva

[2019-02-01 16:32] matozoid commented on #2051
Hi! There is no such feature. It has been suggested to add some refactorings to JP a few times, but the project is too big to maintain with the current people already. It would be nice if someone started a project with refactorings though!

[2019-02-01 16:36] rojoyin commented on #2051
Thank you for the answer. Sure it could be great to start this, I will do some changes in my code and after that contribute to this project.

[2019-02-01 16:36] #2051 closed, assigned to nobody

[2019-02-01 17:57] matozoid commented on #2051
@rojoyin cool, but make it an external project - we don't have time for maintaining it.

[2019-02-01 19:35] rojoyin commented on #2051
Sure, @matozoid.

[2019-02-02 10:43] davideuler commented on #2053
For JavaParserMethodDeclaration, call  this line to get begin line number:
javaParserMethodDeclaration.getWrappedNode().getRange().get().begin

[2019-02-02 12:47] #2053 closed, assigned to nobody

[2019-02-02 20:15] matozoid commented on #2039
Aha
`[ERROR] Failed to execute goal org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report (default-cli) on project javaparser-parent: Execution default-cli of goal org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report failed: A required class was missing while executing org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report: javax/xml/bind/DatatypeConverter`

[2019-02-02 20:34] matozoid commented on #2039
Aha
https://github.com/trautonen/coveralls-maven-plugin/issues/112
A blocking issue for Java 9 with two open PR's with fixes, but still not pulled and released for two years and running :-/ @trautonen must be VERY busy.

I'll try the ugly workaround.

[2019-02-02 22:11] #2039 closed, assigned to matozoid

[2019-02-02 22:12] matozoid commented on #2039
Thanks, we're back at over 60% coverage like it used to be :-)

[2019-02-05 06:47] jjyyxx opened #2055 "How to get annotations from ResolvedReferenceTypeDeclaration?"
When using `ResolvedReferenceTypeDeclaration`, I could use `hasDirectlyAnnotation` or `hasAnnotation` to check whether an annotation exists on a type. But when I can't find any methods to get the parameters for those annotations. Am I missing something?

What I am doing is resolving a symbol as a type using javasymbolsolver and deal with annotations on that type.

[2019-02-05 17:31] matozoid commented on #2056
@duconja - here's an issue for you :-)

[2019-02-05 17:38] matozoid commented on #2060
@ftomassetti - this sounds like a really bad idea, since the type solver hierarchy is static during solving. Suddenly removing one is unpredictable. Why would anyone want to do that?

[2019-02-05 17:40] matozoid commented on #2061
This getter exists now, so it seems to have been added somewhere in the past two years.

[2019-02-05 17:40] #2061 closed, assigned to nobody

[2019-02-05 17:47] matozoid commented on #2068
@lodart - this is probably way too late, but if you need more help with this, please open a new issue.

[2019-02-05 17:47] #2068 closed, assigned to nobody

[2019-02-05 18:29] matozoid commented on #2074
@ftomassetti has this been done already? I can't really relate this to the current codebase.

[2019-02-05 19:03] matozoid opened #2076 "Remove ResolvedAnnotationMemberDeclaration.getDefaultValue"
I don't think there's anything consistent we can return here for different solvers.

[2019-02-06 19:21] ftomassetti commented on #2074
I do not think so

[2019-02-06 19:22] ftomassetti commented on #2075
I do not think we should do this. It seems very rare that someone would need this

[2019-02-06 19:43] jimshowalter commented on #2075
The more you don't support stuff like this, the more clients have to roll their own. What is the objection to making the framework tweakable? There's practically no part of, for example, Hibernate that doesn't support delegating in an override.

[2019-02-06 20:41] matozoid commented on #2074
Okay, I find it impossible to pick up without more description. Can you add some?

[2019-02-06 20:43] matozoid commented on #2075
The main objection is maintenance. Secondary is complexity. The core team has about 1-2 hours a week to spend on JavaParser, and there are 317 bugs to be fixed.

[2019-02-06 20:49] jimshowalter commented on #2075
That's fair. But in that case, instead of rejecting it, why not put it in a low-priority bucket?

[2019-02-06 21:20] matozoid commented on #2075
If I look at the type solver, it seems to look only at files ending in ".java" - does that not take care of the problem already?

[2019-02-06 21:22] jimshowalter commented on #2075
Unfortunately, no. By "cruft", I meant legacy code. Javaparser is great for static analysis of large legacy codebases, but large legacy codebases aren't clean, so acknowledging that and providing a way to filter out unwanted parts of the codebase would be helpful. Otherwise we wind up having to copy the code to a different location and delete unwanted parts of it manually.

You might ask why not j

[2019-02-07 17:47] #1560 closed, assigned to matozoid

[2019-02-07 19:14] matozoid commented on #2075
We could see if we can replace the custom directory walking logic with standard stuff: https://docs.oracle.com/javase/tutorial/essential/io/walk.html
... and make the FileVisitor class public, and add a parameter to the JavaParserTypeSolver constructor so the visitor can be subclassed and passed in.

If this API is a good fit, that is. But it should give a decent amount of configurability, and imp

[2019-02-08 13:28] ftomassetti commented on #2074
First of all that `FieldDeclaration` is now `ResolvedFieldDeclaration` and [this is the method](https://static.javadoc.io/com.github.javaparser/javaparser-core/3.11.0/com/github/javaparser/resolution/declarations/ResolvedFieldDeclaration.html#declaringType--). However I am not sure it makes sense to return a ReferenceTypeDeclaration... this seems wrong to me and I would close it

[2019-02-08 15:11] jjbr opened #2079 "Log.trace(...) causing UnsolvedSymbolException leading to inconsistent method resolution"
Here is a fun bug :). When trying to resolve a method call in the IntelliJ Community project, resolution failed... but only the first couple of times. The resolution worked from the 3rd resolution attempt onward. (See pull request #2080 for code).

The underlying issue is that when the method arguments are resolved, an unexpected `UnsolvedSymbolException` is thrown when `JavaParserFacade#solveArgu

[2019-02-08 16:33] ftomassetti commented on #2079
Thanks for the report! Mmm, interesting case indeed...

[2019-02-08 17:02] matozoid commented on #2074
Alright, thanks!

[2019-02-08 17:02] #2074 closed, assigned to ftomassetti

[2019-02-09 04:06] tanin47 opened #2081 "JavaParserTypeSolver doesn't resolve class if the path doesn't correspond to the package"
I wonder if making JavaParserTypeSolver solely depends on the `package` of the top part of a java file would be a good improvement.

For example, `new JavaParserTypeSolver(new File("somerepo/src/main/java"))` resolves files correctly, but `new JavaParserTypeSolve(new File("somerepo"))` doesn't.

This would be great to use in a project with multiple modules as well.

Thank you.

[2019-02-10 03:48] tanin47 commented on #2081
From https://github.com/javaparser/javaparser/blob/master/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/resolution/typesolvers/JavaParserTypeSolver.java#L201

We only try to read the file whose path corresponds to the package name. If fail, we try all the files within the same folder.

There are two ways, but I'm not sure if either is good:
1. Try all files. This m

[2019-02-10 11:24] matozoid commented on #2081
I'll have to take @ftomassetti's advice here.

[2019-02-10 18:46] tanin47 commented on #2081
Thank you, @matozoid. I want to mention that the cleanest way seems to be making a TypeSolver that performs the option 2.

[2019-02-10 18:55] ftomassetti commented on #2081
Well, I am not sure all users will be happy to support an increase start time to performe the indexing

[2019-02-10 19:12] matozoid commented on #2081
@ftomassetti, what about:
- building a second TypeSolver that has this behaviour.
- we usually tell people to point the JavaParserTypeSolver to the correct root directory. Do you think it's a good idea to look only at the packages?

[2019-02-10 19:13] ftomassetti commented on #2081
By looking only at packages mean indicating a subdirectory representing a single package?

The issue with building the second TypeSolver is maintaining it, beside the confusion would lead to. I would expect users to end up being surprised

[2019-02-10 19:32] matozoid commented on #2081
If I understand @tanin47 correctly, to look only at the package-statement in the java file.

[2019-02-11 01:21] tanin47 opened #2083 "Resolve an enum that is imported statically causes a stackoverflow error"
Here's a sample code:

[code]

A part of the stacktrace looks like this:

[code]

The interesting stacktrace line is `ClassOrInterfaceDeclarationContext.solveSymbol(ClassOrInterfaceDeclarationContext.java:64)`, which corresponds to the code below:

[code]

If I understand it correctly, `hasVisibleField(..)` won't return an Enum declaration. So, it invokes `getParent().solveSymbol(..)`, which, in t

[2019-02-11 08:58] matozoid commented on #2083
@ftomassetti - can you give a push in the right direction?

[2019-02-11 09:03] ftomassetti commented on #2083
Probably the declaration should return the list of constants of contained enums. That is at least the first idea I would try

[2019-02-11 18:49] tanin47 commented on #2083
I've noticed that we can use `.getMembers()` and filter the members with `isTypeDeclaration()`. Is this what you meant? Thank you.

[2019-02-12 17:35] #1256 closed, assigned to matozoid

[2019-02-13 09:21] #2024 closed, assigned to ftomassetti

[2019-02-15 04:08] rafid009 opened #2086 "Can we specify an order to visit the children with VoidVisitorAdapter"
I am trying to find the type (java class type/primitive) of a single node which I am passing as an argument to my getType() function. Since I don't know which kind of entity (expression or declaration) it is, I am using VoidVisitorAdaptor. But what it's doing is that it iterates over the whole subtree the given node is root of. So I am getting the types of all entities in that node.
Like, If the g

[2019-02-15 07:15] rafid009 commented on #2086
Never mind. I got what I was looking for.

[2019-02-15 07:15] #2086 closed, assigned to nobody

[2019-02-15 08:17] Sherlock323 opened #2087 "java.lang.OutOfMemoryError: GC overhead limit exceeded when looking for type in large project"
I'm working on hadoop source code. I build a **CombinedTypeSolver** with 7000+ **JavaParserTypeSolver** and 500+**JarTypeSolver** in my code to resolve method calls. However, When the program runs to following code: `mce.resolve().getQualifiedSignature()` , throws such exception:`java.lang.OutOfMemoryError: GC overhead limit exceeded` .
My project is running on eclipse, how javaparser deal with la

[2019-02-15 15:20] matozoid commented on #2087
Here's the main memory usage issue: #1391

[2019-02-15 15:22] matozoid commented on #2086
If you can write one or two lines about what your solution was, then future users can benefit from it.

[2019-02-16 17:56] un0btanium opened #2088 "Exporting source code as HTML with custom highlighting"
Hello :)

I would like to export the source code with custom highlighting. I plan to export it in HTML, therefore I would like to wrap individual elements in `<span>`s with the style color tags of my choosing to highlight them. But I also would like to keep the original format of the source code.

Is there an easy way to accomplish this? I probably could do it via a Visitor, but I feel like that m

[2019-02-16 19:37] bertbeck commented on #1912
Are you the linh-le that wrote this article?
https://niteco.com/blogs/from-expo-to-react-native/

I'm looking for an expert in Expo/React Native to help me understand how to use React Native only (without Expo) but separate Native and Javascript development similar to Expo (except that we'd be able to add/update native code). If you are this person - I think you might have some insights. If you or

[2019-02-17 14:30] linh-le commented on #1912
No I’m not. Good luck finding the person!

[2019-02-17 18:04] matozoid commented on #2088
If the highlighting stays simple, you can take the token list and color things depending on token type. Get the token range from the compilation unit, figure out how to print it (it should give you the exact same output as the input,) then start looking at the token types.

If you want to do more complex highlighting on AST level, well, I guess you have to start hacking the lexical preserving prin

[2019-02-17 18:05] matozoid commented on #1912
@bertbeck is now blocked from this repo because he's obviously abusing it.

[2019-02-17 19:14] matozoid opened #2090 "Find all documentation that uses static JavaParser methods and fix them to use the new API"

[2019-02-17 19:23] un0btanium commented on #2088
Alright, thank you. I will see what I can do :+1:

[2019-02-17 19:23] #2088 closed, assigned to nobody

[2019-02-17 19:29] matozoid commented on #2088
(third option is of course to take the pretty printer and create your own copy of it, but that would mean that all source code gets pretty printed)

[2019-02-18 12:16] matozoid opened #2091 "Symbol resolution of switch expressions"
Continued from #1845

The new Java 12 constructs need symbol resolution logic.

* [ ] do symbol resolution on the switch expressions
* [ ] do symbol resolution on value breaks

[2019-02-18 12:16] #1845 closed, assigned to matozoid

[2019-02-19 17:26] matozoid opened #2092 "Javadoc inline tags have a stray space before the content"

[2019-02-19 17:52] #1933 closed, assigned to nobody

[2019-02-21 13:53] matozoid commented on #1498
It's been fixed a few versions ago.

[2019-02-21 13:53] #1498 closed, assigned to matozoid

[2019-02-21 13:55] matozoid commented on #1386
This is very little gain for an API break. Let's not do this.

[2019-02-21 13:55] #1386 closed, assigned to matozoid

[2019-02-21 14:00] #851 closed, assigned to matozoid

[2019-02-21 14:00] #834 closed, assigned to matozoid

[2019-02-21 14:26] matozoid commented on #2087
@Sherlock323 - did you find a way to reduce the overhead?

[2019-02-21 14:40] matozoid commented on #2079
I'll start with giving the Log class only Consumers, no direct parameters.

[2019-02-21 19:12] matozoid commented on #2079
@ftomassetti - it looks like `ResolvedTypeVariable.toString` needs to do symbol resolution to create the string. The point is of course that it shouldn't, and I'm wondering what I can do to give it a nice toString that does not.

Here's how it fails:
[code]

[2019-02-22 00:46] moraispgsi opened #2099 "Comment shift to new statement when adding statement"
Hi, I'm trying to add a statement using addStatement on a BlockStmt (the method 'test' below) and the line comment seems to shift from one statement to the new (from the query.getLong(0); to the if statement), is this a bug in JavaParser? If it is, how can I work around that?

[code]

[code]

Thanks in advance

[2019-02-22 10:48] matozoid commented on #2099
Hi!
Comments work in a special way, it's probably best to send you here: https://github.com/javaparser/javaparser/issues/638

The (not very wonderful) suggestion is not to have comments in funny places, but in this case we should really look into fixing it.

[2019-02-22 14:20] moraispgsi commented on #2099
Removing the comment is not a possibility in this case. I only need it to stick to the same statement when it is printed back to the file. Do you have any other sugestions?

Thanks.

[2019-02-22 15:36] matozoid commented on #2099
The remaining suggestion is to fix the problem and open a PR.

[2019-02-22 15:45] ftomassetti commented on #2079
Agreed that is a bad thing to do resolution in toString. We should probably use the typeParameter field and call toString over it

[2019-02-22 20:48] matozoid commented on #412
I've made this into a test case - https://github.com/javaparser/javaparser/pull/2102

The current version is working better than when this issue was reported, but there are still a few missing.

[2019-02-22 21:30] matozoid commented on #307
This is identical to #263.

[2019-02-22 21:32] matozoid commented on #498
This is identical to #263

[2019-02-23 06:13] rafid009 commented on #2086
I was actually doing something wrong. I was calling the super() method of the visit() methods. So it was not just visiting the node I was providing but also visiting its children. Now I removed the super() call and it's working as I want.

[2019-02-23 12:58] matozoid commented on #2086
Ah okay, thanks!

[2019-02-23 19:31] #2079 closed, assigned to matozoid

[2019-02-23 19:32] matozoid commented on #2079
Thanks @ftomassetti, that did the trick :-)

[2019-02-23 22:09] rajatnarang94 opened #2105 "BinaryExpr, AssignExpr & UnaryExpr child nodes"
When I try to get children of say a BinaryExpr like "1&&2", I only get [1, 2]. I understand that I can use getOperator to get 'AND' but I'm trying to parse the whole tree and get children of each node. To incorporate the fact that 'AND' is not a child, as per javaparser, I might need to hard-code some conditions, because essentially I'm using recursion to parse the tree. I found same thing for Ass

[2019-02-24 10:06] ftomassetti commented on #2079
Thank you @matozoid !

[2019-02-24 12:12] matozoid commented on #2105
Hi! I'll assume you are talking about `Node.getChildren()` here. Yes, I can understand the need for this - for example: we just changed modifiers like "public" from enums to real `Node`s so that we can keep more information on them, and make them visitable.

I guess that right now, using `JavaParserMetaModel` is the easiest approach. It is a tree of information about all of the nodes, including wh

[2019-02-24 16:03] rajatnarang94 commented on #2105
Okay, thanks, I was currently trying to use Java's Reflection API to handle this but it was definitely not easy. I'll look into JavaParserMetaModel. Thanks again!

[2019-02-24 16:03] #2105 closed, assigned to nobody

[2019-02-24 17:38] matozoid commented on #2105
Cool, the meta model is more or less nice reflection for the nodes, so sounds good :-)

[2019-02-24 17:52] rajatnarang94 commented on #2105
Okay, thanks! I've got an exam tomorrow so unfortunately I can't spend much time on exploring this option right now, but I'll get back to you if in case I face any trouble! Thanks!

[2019-02-25 07:43] jjbr commented on #2079
Awesome, thanks! :)

[2019-02-25 10:44] maartenc opened #2106 "Switch validation is too strict"
Hi,

After upgrading to javaparser 3.13.1 (from 3.10.1), we get following exception when parsing some of our source files: `com.github.javaparser.ParseProblemException: (line 605,col 17) Only 'int's, enums, and strings in switch statements are supported.`

It seems to occur on switch statements on constants from other classes:

[code]

Maarten

[2019-02-25 16:00] socketopp opened #2107 "NoClassDefFoundError"
I added the following jar to my Eclipse Plugin Projects  classpath.

- javaparser-core-3.10.0.jar

From [central maven](http://central.maven.org/maven2/com/github/javaparser/javaparser-core/3.10.0/).

I tried to run the first [basic example:](https://github.com/javaparser/javaparser/wiki/Manual)
Printing the CompilationUnit to System output.
However I recieve:

java.lang.NoClassDefFoundError: com/

[2019-02-26 17:48] matozoid commented on #2107
Hi!
We have two sample project setups:
- https://github.com/javaparser/javaparser-maven-sample
- https://github.com/javaparser/javasymbolsolver-maven-sample

and this was written a while ago: https://github.com/javaparser/javaparser/wiki/Eclipse-Project-Setup-Guide.

[2019-02-26 17:51] matozoid commented on #2106
You're correct, I'll make it less strict again for the next release. You can go back to 3.12.0 in the mean time.

[2019-02-27 02:07] v95 opened #2108 "Find root in call hierarchy"
Hello,

I am using javaparser to find methods in my project that contain a specific statement. For each such method that I find, I need to get its call hierarchy to find the root caller.

For example, let’s say the call goes like this:
`A.jsp` internally invokes `B.getData()`, which itself calls `C.doSomething()`. Let’s assume that the last method (`doSomething`) has the statement I am looking for

[2019-02-27 09:36] socketopp commented on #2107
Thanks for the reply.
I created a Maven project and converted it to an plugin project. I have added my plugin dependencies in the project and added the javaparser dependency in my POM file.

`
<dependencies>

        <dependency>
            <groupId>com.github.javaparser</groupId>
            <artifactId>javaparser-core</artifactId>
            <version>3.8.0</version>
        </dependency>
    <

[2019-02-27 10:15] matozoid commented on #2107
Are you making a Maven plugin? Here's a sample project: https://github.com/matozoid/javaparser-maven-plugin-dependencies

We're here to help with JavaParser issues - Eclipse issues are not.

[2019-02-27 10:31] matozoid commented on #2108
@ftomassetti might know better than me, but...

as far as I can see: you want to know about all the method call expressions that, when scope and parameters and everything are resolved, match with `doSomething`. For every one you find, you look up in the AST hierarchy what its method declaration is. Now you end up with a list of callers of `doSomething`. If you repeat this for the callers, you get

[2019-02-27 11:20] ftomassetti commented on #2108
I agree with what @matozoid suggest

Basically you first figure out that you are interested in C.doSomething, then you need to explore _the whole codebase_ to examine all method calls and check which ones are calls do `doSomething`. Then you have to iterate over this

[2019-02-27 12:55] AlbertoMonteiro opened #2109 "UnsolvedSymbolException on a simple scenario"
I am trying to resolve method calls from a CompilationUnit of a project

So I am using this code below
[code]

The compilation unit is this:

[code]

When I call resolve from **MethodCallExpr** I receive **UnsolvedSymbolException** when trying to resolve the **DoItInInfra** method.

So I created a repro repository that contains the project to be analyzed https://github.com/AlbertoMonteiro/JavaPars

[2019-02-27 15:31] socketopp commented on #2107
Thanks for the help. I managed to find a winning solution [here](https://stackoverflow.com/questions/5744520/adding-jars-to-a-eclipse-plugin). ethnix solution did the trick. I manage to run JavaParser now.

[2019-02-27 15:42] matozoid commented on #2107
Cool! Good luck :-)

[2019-02-27 17:48] #2107 closed, assigned to nobody

[2019-03-01 02:12] dhardtke opened #2113 "StaticJavaParser might not be thread safe"
I think `StaticJavaParser` is not thread safe:

The "old" JavaParser class called `com.github.javaparser.JavaParser#simplifiedParse` internally which in turn created a new `JavaParser` for each parse call.

`StaticJavaParser` just re-uses the same `JavaParser` instance (which is fine I guess) but that is quite a different behavior.

It would be nice if at least this was documented somewhere so peo

[2019-03-01 13:05] xinhuagu opened #2114 "parser fails by 'switch case -1 '"
Hi,

Parser process fails by 'case -1' :

`		switch (some.intValue()) {
			case -1:
				some.statement;
				break;
			case 0:`

I got a parser exception:  Only 'int's, enums, and strings in switch statements are supported.]

[2019-03-01 13:21] matozoid commented on #2114
Hi! Here's the answer: #2106

[2019-03-01 13:23] matozoid commented on #2113
Thankfully we have people with concurrency tests who find bugs like these! I'll go fix it.

[2019-03-01 15:06] #2106 closed, assigned to matozoid

[2019-03-01 16:40] #2113 closed, assigned to matozoid

[2019-03-02 09:43] #2114 closed, assigned to nobody

[2019-03-04 18:03] yogeshjoshi commented on #2046
It has been solved by using ModifierVisitorAdapter. But still couldn't be able to get 'else part'. Thanks for your contribution. Closing this issue.

[2019-03-04 18:03] #2046 closed, assigned to nobody

[2019-03-04 18:35] matozoid commented on #2046
Okay!

I just noticed that this sample works with `if` and `else` a lot, by the way: https://github.com/javaparser/javaparser-maven-sample/blob/master/src/main/java/com/yourorganization/maven_sample/LogicPositivizer.java

[2019-03-07 20:56] gilyerm opened #2118 "Unable to get MethodDecleration from JavassistMethodDeclaration.toAST()"
for some reason when turning `JavassistMethodDeclaration` to it's `Optional<MethodDecleration>`, the code seems to only return "Optional.empty", which is also what is in the code:
`    public Optional<MethodDeclaration> toAst() {
        return Optional.empty();
    }
`

is this a bug / missing feature? any 'dirty' quick fixes maybe? :)

[2019-03-07 21:07] matozoid commented on #2118
Hi! `MethodDeclaration`s are created by parsing source code. Javassist works on compiled code, not source code. A `JavassistMethodDeclaration` simply does not have source code available so there is no `MethodDeclaration`. That's where it ends really :-)

If you give an idea of what you're trying to do we might be able to help.

[2019-03-07 21:13] gilyerm commented on #2118
I have both the source code and the class ("compiled") objects.
i'm trying to make connections between calls/accesses to interesting data (i.e a method invocation of another class in my project) - and mapping out the connections.
for some reason running:
`SymbolReference<ResolvedValueDeclaration> solve = JavaParserFacade.get(typeSolver).solve(n);`
gives me the javassist output, rather then the Met

[2019-03-08 11:58] matozoid commented on #2118
@ftomassetti @maartenc ?

[2019-03-08 12:38] #2023 closed, assigned to matozoid

[2019-03-08 12:39] matozoid commented on #2108
Assuming this is answered

[2019-03-08 12:39] #2108 closed, assigned to nobody

[2019-03-08 12:59] ftomassetti commented on #2118
Well, you can avoid using reflection for anything but the JDK stuff by setting a flag in the ReflectionTypeSolver

[2019-03-08 13:00] ftomassetti commented on #2118
See [ReflectionTypeSolver](https://static.javadoc.io/com.github.javaparser/javaparser-symbol-solver-core/3.13.2/com/github/javaparser/symbolsolver/resolution/typesolvers/ReflectionTypeSolver.html) and its constructors

[2019-03-11 07:51] anmilky opened #2120 "how can i get the vision before the manual written?"
"https://github.com/javaparser/javaparser/wiki/Manual"
i see this website still not updated, i don't know how to use this tool without the manual
how can i get the version which is released before the manual written?
i set the version to 3.3.3 in maven . but it shows not found.
is there another manual?

[2019-03-11 08:42] anmilky commented on #2120
i solved this by setting  the version to 3.6.10  : )

[2019-03-11 08:42] #2120 closed, assigned to nobody

[2019-03-11 08:50] matozoid commented on #2120
Hi! You're right, the wiki is pretty outdated. Check out http://javaparser.org/getting-started/ for more.

You can check the issue tracker to see how many bugs you introduced by downgrading :-(

[2019-03-11 11:39] matozoid commented on #2120
https://github.com/javaparser/javaparser-visited/issues/17

[2019-03-12 20:14] PELock opened #2121 "Put statments inside another statement"
Hi, I'm having a great fun with javaparser, but I'm trying to put a method statements within another higher level block (if) and I have a question. I want to turn something like this:

[code]
into:

[code]

I was trying to use method visitor but I'm failing every time, is there a proper way of doing something like this in javaparser, or should I build a new statements list and replace it within th

[2019-03-13 08:18] matozoid commented on #2121
Hi! Definitely read this, which will give you a feeling for what you're working with: http://javaparser.org/inspecting-an-ast/

If the question is "how do I wrap everything in a method body in an if statement?" then I would do it like this: visit all method declarations. "new" an IfStmt, give it a BlockStmt, then add all the statements from the method declaration body to the new BlockStmt.

Can yo

[2019-03-13 10:35] PELock commented on #2121
But the problem is to replace BlockStmt with other statement type in a visitor itself, replace() method expects the same type, meh, will try everything, I just thought there might be some easier way to do it ;)

[2019-03-13 10:43] matozoid commented on #2121
Can you show me the code so I can see what you have, and what you're trying to do to it?

[2019-03-13 11:21] PELock commented on #2121
Will try the suggested approach and if fail I will come back :)

[2019-03-13 15:50] #2099 closed, assigned to nobody

[2019-03-13 16:50] gilyerm opened #2123 "Resolving lambda fails - lambdas that use their input parameter"
trying to resolve `MethodCallExpression`s over this input block:
[code]

yields this error:
`java.lang.RuntimeException: Unable to calculate the type of a parameter of a method call. Method call: typeB.isAssignableFrom(parent.get().getClass()), Parameter: parent.get().getClass() ...`

and this is true of both calls, while being an ok java syntax, being that java knows the return type is reffering

[2019-03-13 17:41] myronmeier opened #2124 "List with extra comma AND equal elements makes ModifierVisitor throw UnsupportedOperationException"
First off, thanks for the awesome project! Great work.

There is an unusual situation that causes `ModifierVisitor` to throw the following `UnsupportedOperationException` exception when doing lexical preservation:

[code]

Here is some simple code that causes the exception:

[code]

The key ingredients seem to be the following:
1. Using `ModifierVisitor` with lexical preservation
2. Having a list

[2019-03-13 18:21] matozoid commented on #2123
@ftomassetti ?

[2019-03-13 18:32] matozoid commented on #2124
Thanks for the great bug report! I'll what fixing the visit method does.

[2019-03-14 08:17] liuqu11 opened #2126 "How to get the full path of the method"
Hello, there is a question to ask, currently I use the jdk8 javaparser-core version using 3.6.27, I can get the full path of the method when calling public void visit(MethodDeclaration n, Void ag), such as public Static void com.javaparser.main(java.lang.String) This format, thanks

[2019-03-14 09:20] matozoid commented on #2126
Hello! The best approach to finding the full path (qualified name) of something is using the symbol solver. The book has a chapter about using it.

(If it is only about the method itself, you can get away with using getParent() to find classes, and eventually prepend the compilation unit's package declaration)

[2019-03-14 09:45] ftomassetti commented on #2123
I am not sure, what I know is that solving the type of lambdas is complicated as there is a sort of cycle in the resolution process

[2019-03-14 10:40] matozoid commented on #2123
Okay, then we need someone who wants to dive into this.

[2019-03-14 19:04] maartenc commented on #2123
I saw a similar issue in my code some time ago, I've tried to create a PR for it, but I gave up because it was too complicated for me. But maybe with this simple testcase and with some help from @ftomassetti or @matozoid it could be fixed.

[2019-03-15 10:23] matozoid opened #2128 "Lex pres: line comments end up in different node types"
As seen in #2127: "It looks like some comments are in a ChildTextElement instead of a TokenTextElement"

Why?

[2019-03-15 12:36] songyunseok opened #2129 "How can I change the encoding when I use sourceRoot.tryToParseParallelized()?"
SourceRoot sourceRoot = new SourceRoot(projectRoot.resolve(root));
List<ParseResult<CompilationUnit>> parseResults = sourceRoot.tryToParseParallelized();

How to change encoding?

[2019-03-15 14:03] matozoid commented on #2129
Ha, good question! You can't right now. If you want to do this anyway, make a copy of the source of the class and modify it for yourself.

[2019-03-15 14:07] matozoid commented on #2129
I think the best way to implement this is to add a character set setting to `ParserConfiguration`...

[2019-03-15 14:17] songyunseok commented on #2129
Thank you for your cooperation

[2019-03-15 21:14] #2124 closed, assigned to nobody

[2019-03-16 23:04] #2129 closed, assigned to nobody

[2019-03-20 08:08] Symbolk opened #2131 "Missing type parameters in MethodDeclaration.getDeclarationAsString()"
Sometimes we need to get exactly the original signature of method declaraion, but I found calling
getDeclarationAsString() misses type parameters (e.g. <R, A>).

Just like modifiers/throws/parameter names, whether to include type parameters should be optional too, considering that it is between modifiers and the return type.

https://github.com/javaparser/javaparser/blob/master/javaparser-core/src

[2019-03-20 08:38] matozoid commented on #2131
I'll mark this as "bug" until I get time to figure out if they are supposed to be there or not.

[2019-03-22 13:10] jjbr opened #2132 "Variables declared outside of a nested BlockStmt are not resolved"
`BlockStmtContext`'s `solveSymbol(String)` only calls the parent's `solveSymbol(String)` method when called. The contexts outside of a `BlockStmt` seem to handle everything from there, which works fine in most cases. However, nested block statements are an issue:
[code]

The `MethodCallExpression` `s.length()` cannot be resolved here, as `s` is not found, I believe because the `BlockStmtContext` d

[2019-03-22 20:35] matozoid commented on #2131
I don't have a clue. @ftomassetti?

[2019-03-22 20:37] matozoid commented on #2132
Thanks! @ftomassetti ?

[2019-03-24 21:49] MarioIshac opened #2135 "Is there any way to get the implicit type arguments for a method?"
In this following, assume there is a class `Creator` with a static method `create` that receives one type argument and one argument of that type (the value).

`String myString = Creator.create("ABC");`

Is there anyway for JavaParser to resolve the type arguments given to the method `create` solely from `Creator.create("ABC")`? It should return `String`. Note that these type arguments won't necess

[2019-03-24 22:05] matozoid commented on #2135
@ftomassetti ?

[2019-03-25 08:13] ftomassetti commented on #2135
I cannot think of one on the top of my head. The resolution process has to figure out the values for the type arguments, the problem is remembering how to get those values. There is one class called [`MethodUsage`](https://static.javadoc.io/com.github.javaparser/javaparser-core/3.13.4/com/github/javaparser/resolution/MethodUsage.html) that is basically a combination of a `MethodDeclaration` and th

[2019-03-25 08:14] ftomassetti opened #2136 "Add convenient method to get MethodUsage from MethodCallExpr"
See #2135 for details

[2019-03-25 09:21] ftomassetti commented on #2132
The block is a bit of a mess to solve because it should only look at statements _above_ the current statements. To such statements it should ask which elements do they expose. This is one of the tricky parts of the symbol resolution process

[2019-03-25 11:00] matozoid commented on #2132
@ftomassetti can you point to where things should be improved?

[2019-03-25 17:27] moraispgsi opened #2137 "ClassOrInterfaceDeclaration addMember using index"
Hi, currently I am not able to place a class  inside another class in a particular index. When I try getMembers() and add the class to the collection the indentation breaks. I think the library needs a method overload e.g. addMember(int index, ...).

[2019-03-25 17:53] moraispgsi opened #2138 "Problem adding a statement to block previously added ifstmt"
Added new test to my fork where this problem can be shown https://github.com/TQRG/javaparser/commit/1548b57218350b41cce462ec73ca0b12ee36088d

[code]

[2019-03-25 19:51] matozoid commented on #2137
Hi! "The indentation breaks" is not a very useful bug report, do you have some (runnable) code that demonstrates the problem?

[2019-03-25 21:15] moraispgsi commented on #2137
I agree. Basically I add the class to another class and the first line of the class that I am trying to add has no indentation. No, I don't have runnable code yet.

[2019-03-26 01:01] MarioIshac commented on #2135
@ftomassetti I have an instance of `MethodUsage` (forgot to say that in the original question, sorry about that). When looking through the possible methods, it only allows me to get the method declaration (which would in turn allow me to get the type parameters) and the types of the arguments. It doesn't provide a method to get the type arguments. Am I missing something?

[2019-03-26 08:03] matozoid commented on #2137
Who is doing the indenting? The LexicalPreservingPrinter or the toString pretty printer?

[2019-03-26 08:22] ftomassetti commented on #2135
You should have a method named typeParametersMap

On Tue, 26 Mar 2019 at 02:01, Mario Ishac <notifications@github.com> wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2019-03-26 16:50] moraispgsi commented on #2137
The LexicalPreservingPrinter, sorry for the delayed response.

[2019-03-26 17:11] matozoid commented on #2137
Ahhh, so we have a bug report on the lexical preserving printer. That's not totally unexpected: https://github.com/javaparser/javaparser/labels/Lexical%20Preservation

[2019-03-26 21:01] ftomassetti commented on #2132
probably SolveSymbol in BlockStmtContext should be overriden to consider also preceeding siblings perhaps calling `localVariablesExposedToChild`

[2019-03-26 21:04] ftomassetti commented on #2131
I do not remember how this one was intended to work

[2019-03-27 00:28] dhardtke opened #2140 "StackOverflowError in getAllMethods() and getAllFieldsVisibleToInheritors()"
... this is due to `getDirectAncestors()` always including `Object` and the aforementioned methods calling themselves on each ancestor returned by `getDirectAncestors()`.

I really don't know why `getDirectAncestors()` includes `Object` because it requires us to always make exceptions when processing the returned List.

This issue is probably related to https://github.com/javaparser/javaparser/pul

[2019-03-27 02:16] Symbolk commented on #2131
Yeah, I just mean the type parameters should be optional, just like the other elements composing method declaration.

[2019-03-27 08:52] matozoid commented on #2131
That seems like a decent feature request.

[2019-03-27 08:53] matozoid commented on #2131
I guess we can refactor these methods to use a visitor too, instead of patching a string together.

[2019-03-27 11:19] socketopp opened #2142 "Using JSS and JP to compare shared resources"
I am trying to find out what variables and objects (resources) that are shared among functions in a class using the javaparser but it is a bit tedious because I have to iterate through all the functions and look if the resources used are first declared, if not look if any other functions use the same resources etc.

Is this possible or even easier with the help of the symbol-solver? How would I us

[2019-03-27 11:24] matozoid commented on #2142
@ftomassetti ?

(I'm getting the feeling that we should not just return a resolved type or an exception, but a wrapper around it that tells you how it was solved. A bit like how the parser can return a `ParseResult`.)

[2019-03-28 08:33] matf commented on #2001
I'm hitting this as well when removing assignment statements from a method via BlockStmt#remove(Node), the exception is triggered when trying to remove the last statement from the block. Happy to help if there is anything I can do. Submitting a PR is probably a bit beyond my current understanding of lexical preservation in JavaParser, but if additional tests are needed I could help with that.

[2019-03-28 09:25] matozoid commented on #2001
The best way to get things fixed with lexical preservation and symbol resolution is to submit a fix. I wish it was different, but there is nobody with thorough knowledge of these components and enough time right now.

[2019-03-28 15:29] ftomassetti commented on #2142
First of all notice that JSS is now integrated in JP. You basically call `resolve` on a bunch of nodes and find their corresponding declaration.

The rest of the question is not super clear to me.

@matozoid the problem is that resolving a certain symbol would depend on resolving another symbol, so we should propagate the error in case we do not just throw an exception. What do you mean by explain

[2019-03-28 15:55] matozoid commented on #2142
@ftomassetti uhuh, not a small task. "How" means like "I couldn't find the type in the compilation unit, so I used this import and found the type through this solver in this jar."

[2019-03-28 16:15] ftomassetti commented on #2142
Yes, that would be interesting to provide. Not trivial but quite interesting.

[2019-03-28 17:51] socketopp commented on #2142
@ftomassetti @matozoid When I try to print node.resolve(). I get the following error:
`Exception in thread "main" java.lang.IllegalStateException: No data of this type found. Use containsData to check for this first.`
What does this exactly mean and what key should be used as parameter to containsData?

[2019-03-29 07:33] matf commented on #2001
Ok, good to know, will prepare a PR

[2019-03-29 08:38] ftomassetti commented on #2142
We should improve the error message there. I guess it is due to the fact that you did not configured symbol solving

[2019-03-29 11:15] socketopp commented on #2142
@ftomassetti Ah, cheers, it must a very common beginner error. Thanks for the help. I managed to configure it with reflectionTypeSolver but not with javaParserTypeSolver which is important if I want the JSS to look for classes defined in source files.

I try to configure the JavaParserTypeSolver with the path to the src directory of my project.
`TypeSolver javaParserTypeSolver = new JavaParserType

[2019-03-29 11:31] eumji025 opened #2144 "parse TypeParameters as Pair why ResolvedTypeParameterDeclaration always is TypeParameter.get(0)"
When I use javaparser to solve typeArguments,I find where parse typeParamters to pair code like this :

[code]

why  always use `typeDeclaration.getTypeParameters().get(0)`  , it case  in my code, I can't get ResolvedType by ResolvedTypeParameterDeclaration.

[2019-03-29 13:46] ftomassetti commented on #2142
NoClassDefFoundError seems due to a missing dependency. Right @matozoid ?

[2019-03-29 14:13] socketopp commented on #2142
@ftomassetti @matozoid
I got these jars files. Might be missing something? (I am aware that the prefered way is to use Gradle or Maven)
javaparser-core-3.10.0.jar
javaparser-symbol-solver-core-3.10.0.jar
javaparser-symbol-solver-model-3.10.0.jar
javaparser-symbol-solver-logic-3.10.0.jar

[2019-03-29 14:21] ftomassetti commented on #2142
Yes, you are missing something. I think the issue here is that you are not familiar with Java. I suggest you look into that before working with an advanced framework as JP. Here you should know that these libraries have dependencies and those dependencies could have other dependencies. So you should really use gradle or maven instead of downloading JARs manually as there could be tens/hundreds of

[2019-03-31 15:46] matozoid commented on #2144
@ftomassetti - do you know? It seems to make no sense.

[2019-03-31 15:50] matozoid commented on #2142
Just for this case we have this sample setup: https://github.com/javaparser/javasymbolsolver-maven-sample

[2019-03-31 18:31] matozoid opened #2145 "ResolvedUnionType.getCommonAncestor redo"
- this method is in the wrong maven module.
- this method doesn't work right, because the order of `getAllAncestors` is undefined and pretty strange (all `implements` are returned after all `extends`?)

It was introduced in #1482, I'm not sure if there is an actual specification for the algorithm anywhere?

[2019-03-31 18:33] matozoid commented on #2091
Neither of these is needed, since neither is a type.

[2019-03-31 18:33] #2091 closed, assigned to nobody

[2019-04-01 08:14] #2140 closed, assigned to nobody

[2019-04-01 12:53] #2001 closed, assigned to nobody

[2019-04-01 15:17] ftomassetti commented on #2144
It clearly seems a bug, 0 should be replaced by `i`

[2019-04-01 15:28] matozoid commented on #2144
@eumji025 - would you like to create a PR?

[2019-04-01 23:55] eumji025 commented on #2144
ok,i will do it later

[2019-04-02 08:17] #2144 closed, assigned to nobody

[2019-04-02 12:48] MysterAitch opened #2148 "Zenodo / DOIs"
I'm trying to figure out how to reference/cite JavaParser in a research paper and I've just come across [Zenodo](https://github.com/zenodo/zenodo). It appears to enable releases of software to be assigned a "Digital Object Identifier" (DOI). Zenodo is run by CERN and is referenced from the [GitHub docs](https://guides.github.com/activities/citable-code/) in its article about citable code.

Linking

[2019-04-02 13:14] matozoid commented on #2148
Hi! We've had this question before (how to reference JP) so it's nice to see that it can be resolved easily. I've made an account and switched on preservation for the main project: https://github.com/javaparser/javaparser . Let's see what happens next Sunday when I release :-)

[2019-04-02 14:06] is742 opened #2149 "How can I access the contents of my code?"
Hi, I am new to Java Parser and I'm trying to understand how to use some of its features - if what I am thinking can be achieved.

I have this piece of code, mainly for experimenting with Java Parser:

[code]

What I would like to achieve is to call JP, and based on the order of the constructs to perform some operations. So far I have tried to do this for the if statements with the `public void vi

[2019-04-02 15:04] matozoid commented on #2149
Hi! Have you read the book?

[2019-04-02 15:12] is742 commented on #2149
Yes - I am using the book and the JavaDocs as a tutorial/guide. Would you recommend to look into a specific chapter? I have not found what I am looking for so far.

[2019-04-02 15:46] matozoid commented on #2149
Okay. The order of visiting is set in the visitor you are inheriting from. I guess your inherited visit method calls `super.visit` first? That's when it travels deeper into the tree. Try putting the `super.visit` last. Don't be afraid to look into the visitor's source code either :-)

If I'm mistaken, it would be helpful to see the code you are writing.

[2019-04-02 15:58] is742 commented on #2149
[code]

I'm using the code above to count how many if-statements and loops appear in the code. I tried to use `Statement` instead of `IfStmt` to capture all the possible statements (e.g. loops) at once, but with no success.

[2019-04-02 16:31] matozoid commented on #2149
Okay, you asked help with if statements being visited inside out. Is that problem solved? You are counting `if`s and `for`s now. How is that not working?

[2019-04-02 16:41] is742 commented on #2149
The first part of the problem is solved. The second, which I added a piece of my code, works but I was wondering if there is a more optimal way to count all the statements rather than having to create a case for each one of them. I read in the JavaDocs that instead of using e.g. `IfStmt` or `ForStmt`, we can use `Statement` which refers to all of them.

[code]

The above which was my approach to t

[2019-04-03 07:50] matozoid commented on #2149
Ah, like that! The visitor only has methods for the "leaves" of the AST, so no abstract classes like Statement. What you can try is one of the `find` methods on `Node` (try your compilation unit.)

[2019-04-03 08:36] jjbr opened #2150 "Endless recursion when typesolving within type extending similarily-named type"
Say we have an interface (or class, don't think it matters) that extends a type of the same unqualified name but in a different package:
[code]

We may not know bar.MyInterface (could be in a library we don't have available, for instance). So resolving `bar.MyInterface` as ancestor of foo.MyInterface fails (see `JavaParserInterfaceDeclaration#toReferenceType`). The symbol solver then falls back on

[2019-04-04 11:47] malteskoruppa opened #2152 "Parent node is not set for comment nodes"
It appears that `Comment` nodes have no parent node set, at least not always.

For instance, parse this file using `JavaParser.parse(File)`:

[code]

Find the comment node representing `// blah` (it's under the `ExpressionStatement` representing `int i = 42;`). This comment node does not have the `ExpressionStatement` as its parent; instead, its parent is set to `null`.

This is a problem, because

[2019-04-04 12:16] matozoid commented on #2152
it seems the code generator doesn't want to generate `Node.setComment` for us... That's odd.

[2019-04-04 12:18] matozoid commented on #2152
Oh look: https://github.com/javaparser/javaparser/blob/master/javaparser-core-generators/src/main/java/com/github/javaparser/generator/core/node/PropertyGenerator.java#L52

So I guess we kind of forgot to keep that up to date manually.

[2019-04-04 12:30] malteskoruppa commented on #2152
So if I understand correctly, a `this.comment.setParentNode(this);` after `this.comment.setCommentedNode(this);` in the method `Node#setComment(Comment)` should fix this? :-)

[2019-04-04 12:42] matozoid commented on #2152
Just compare it to another normal setter.

A question to ask before this would be: why are we ignoring the setter, and can we stop ignoring it? I'm curious what breaks when we remove the exception and run the generators.

[2019-04-04 17:14] matozoid commented on #2152
Okay, I got it again! A comment is made to point to the node it is associated with through its "commentedNode" field. So everything is as it should be right now, and you can get back into the AST proper by calling `getCommentedNode()` :-)

Odd design, but remember that comment support is a bit of an oddity anyway.

[2019-04-04 17:56] matozoid commented on #2121
Well, I guess it worked :-)

[2019-04-04 17:56] #2121 closed, assigned to nobody

[2019-04-05 07:55] mufid commented on #2126
[According to Javadoc standard](https://docs.oracle.com/en/java/javase/11/docs/specs/doc-comment-spec.html#link), you can mention a method by using this format:

    package.class#member

If that name is the target you want to achieve, you can use following example code

    String getFullMethodName(CompilationUnit cu, MethodDeclaration method) {
        String packageClassPrefixWithDot = cu.getPa

[2019-04-05 09:28] #676 closed, assigned to matozoid

[2019-04-05 20:06] matozoid commented on #1943
Oh yeah! Let's fix this one.

[2019-04-06 18:28] un0btanium opened #2157 "Change encoding question"
Hello,

I am using JavaParser in one of my projects and the project gets used on a server that (needs to) starts the program with encoding "utf-32". I am currently using JavaParser version 3.8.3 (since I didnt want to deal with all the breaking changes) and it uses the default "utf-8" encoding. It basically breaks the whole thing. I saw that the newer version allows the encoding to be set via the

[2019-04-06 20:53] matozoid commented on #2157
The option has always been there in the various "parse" methods. It's only SourceRoot where it couldn't be changed. Then again, next to the breaking changes there are also bug fixes - if you want some help upgrading just ask on Gitter.

[2019-04-06 21:22] un0btanium commented on #2157
I am using the `SourceZip` class to read .jar files. And from what I have seen I cant set the encoding there, can I?
Its not really an issue not to upgrade. I just would have to sit down for an hour or two and make all the changes required. Just wanted to know if there is an option already, then I would have had a quick fix and wouldnt have to do that now ;)

[2019-04-06 22:14] un0btanium commented on #2157
Since I need the project in "production" next week and dont want to have something break, because of this, I just copied the methods out of `SourceZip` and `Provider` to set the encoding to UTF-8 myself. For now, this seems to does the trick. I will upgrade on a later date.

[code]

[2019-04-06 22:14] #2157 closed, assigned to nobody

[2019-04-06 22:16] un0btanium commented on #2157
And I just realized I didnt had to do that because it already uses utf-8 because my bug was on an entire different portion in my code... thats just unfortunate xD

[2019-04-07 06:51] jlerbsc opened #2158 "[Question] difference between Statement and expression?"
Hi,
Could you explain the difference between Statement and expression in JavaParser context. Thanks

[2019-04-07 12:16] matozoid commented on #2157
Oooookay! :-D Glad to help :-)

[2019-04-07 12:18] matozoid commented on #2158
They model the Java concepts of statement and expression, statement more or less being an expression with no result. Do you have a more precise question?

[2019-04-07 12:22] un0btanium commented on #2157
Thanks. By the way, I appreciate your fast responses even on weekends! :+1:

[2019-04-07 12:55] PELock opened #2159 "NodeWithStatements without visitors?"
Is it possible to visit all nodes of NodeWithStatements types?

Accessing only BlockStmt leaves other blocks with statements like SwitchStmt, I would like to visit all of those in one visitor.

PS. I read the book, but I wish the documentation was more complete.

[2019-04-07 13:24] ftomassetti commented on #2159
I would simply traverse the tree using getchildren and then filter them
with isInstanceOf

On Sun, Apr 7, 2019, 2:55 PM Bartosz Wójcik <notifications@github.com wrote:

[2019-04-07 15:15] matozoid commented on #2159
We have the find methods for that now.

[2019-04-07 18:02] #1943 closed, assigned to ftomassetti

[2019-04-07 19:39] jlerbsc commented on #2158
No more precise question, i try to understand more precisely these concepts. Thanks

[2019-04-08 05:02] JBrVJxsc opened #2160 "Cannot type solve lambdas in Stream's forEach"
Version: 5.3.1

Hey guys, here's the testing code from JavaParser's example repo: https://github.com/javaparser/javaparser-visited/blob/master/src/main/java/org/javaparser/samples/ReversePolishNotation.java

And I'm trying to use the following code from the book to test symbol resolver:
[code]

And i'm getting the following exceptions:
[code]

Thanks.

[2019-04-08 09:43] matozoid commented on #2158
It's a very general question, so https://stackoverflow.com/questions/19132/expression-versus-statement is better than my answer :-)

[2019-04-08 09:43] #2158 closed, assigned to nobody

[2019-04-08 09:49] matozoid commented on #2160
Thanks! The best way to get a bug on the symbol solver fixed, is by finding the problem in the symbol solver code. Otherwise it might take a long time.

[2019-04-08 14:15] jlerbsc commented on #2158
Are you agreed with these terminology (in JavaParser project)?

expressions are evaluated to some value, while statements have no
evaluated value.

or

*Expression:*Something which evaluates to a value. Example:/1+2/x/
*Statement:*A line of code which does something. Example:/GOTO 100/

*Jean-Pierre Lerbscher*
Fondateur JavaPerf Consulting
jean-pierre.lerbscher@jperf.com
06.62.29.30.35
http://www.

[2019-04-08 14:23] jlerbsc opened #2161 "Improvment: empty node detection"
Hi,
It could be interesting to have a method to test if a body is empty on all nodes which can have body (for exemple NodeWithBody, NodeWithBlockStmt... I'm not sure it's the only ones).
isEmpty() exists for NodeWithBlockStmt but but does not exist on NodeWithBody so we have to define a method like it:

    default boolean hasEmptyBody(NodeWithBody n) {
		Statement body = ((NodeWithBody) n).getBod

[2019-04-08 14:27] matozoid commented on #2158
JavaParser follows the Java Language Specification, so the best definition for JavaParser would be in there:

Statement: https://docs.oracle.com/javase/specs/jls/se12/html/jls-14.html
Expressions: https://docs.oracle.com/javase/specs/jls/se12/html/jls-15.html

[2019-04-08 14:31] matozoid commented on #2161
Good idea, thanks!

[2019-04-08 14:34] matozoid commented on #2161
(`NodeWithBody, NodeWithBlockStmt` - these are not nodes, by the way. They are interfaces that are put on nodes so that they get some default behaviour. Also, if you find you need an isEmpty, there is probably a NodeList on the node that you can check for isEmpty instead.)

[2019-04-08 15:29] jlerbsc commented on #2161
You're probably right, but what about EmptyStmt. Sometimes it could be a child. Do you think the following statement is empty or not?

    if (myVar == 4)
    {
        // Do nothing because of X and Y
    };

[2019-04-08 15:33] matozoid commented on #2161
The answer to that is in the Javadoc for EmptyStmt. Here, it is among the documentation links: https://javaparser.org/getting-started/, or use your IDE.

[2019-04-09 10:39] pgrepds opened #2162 "JavaSymbolSolver is unable to solve generic method return types"
I'm trying to solve the generic return type of a `MethodCallExpr`.

e.g.: `getView().getTest()`, where `getView()` returns `V` with the superclass `AWT.Component`.

 I'm using `JavaParserFacade.solve(methodCallExpr).getCorrespondingDeclaration().getReturnType()`, where `methodCallExpr` is the expression above (`getView().getTest()`).

`getView()` is resolved in the type `AWT.Component`, which does

[2019-04-09 11:50] matozoid commented on #2162
So this is your base class?

[code]

[2019-04-09 12:32] pgrepds commented on #2162
Yes, exactly. And V has a method, which is not available in Component.

[2019-04-09 13:37] matozoid commented on #2162
This?
[code]

[2019-04-09 13:41] matozoid commented on #2162
Or maybe this?

[code]

[2019-04-09 13:54] is742 commented on #2149
Thanks for your replies they really helped me a lot. I'm following your proposal to use the `find` method and I came up with a small example that records the transitions throughout a small program:

The small Java program:

[code]

My JP code:

[code]

And this is my output:

[code]

The code is correct and working but I cannot overcome the following issue: E.g. when we are inside the first `if` (

[2019-04-09 14:10] matozoid commented on #2149
Okay, I'm guessing at exactly what it is you're trying to achieve, so let's ask that question: what exactly is the statistic you're trying to calculate from your latest example?

[2019-04-09 15:15] is742 commented on #2149
I want to classify all the possible states of the program and how they connect to each other, where a state can be any `Statement`, in this specific case `IfStmt` and `ExpressionStmt`.

E.g. from the code:

-first line-
`x=5` is state 0 (s=0)  which leads to  `if (x>4)` state 1 (s=1)

-second line-
`if (x>4)` is state 1 (s=1) which can lead to either `x=4` which is state 2 (s=2) or to the `else br

[2019-04-09 16:42] matozoid commented on #2149
If I understand correctly, then you need more control. For if-statements, it looks like you first want to find the top level ones. Then, for each of those, you want to find any second-level `if`s, and so on. The important thing is to know the relationship of the `if`s - is it a sequence or a containtment?

In this case I personally would create a visitor for if statements that does not call super,

[2019-04-09 16:57] pgrepds commented on #2162
It's the second one.

[2019-04-09 17:17] pgrepds opened #2164 "ModifierVisitor removes child nodes with identical ExpressionStmts of BlockStmt"
I'm not quite sure if I'm doing something wrong here, but the ModifierVisitor behaves strange in my test case.

Having a test case:

[code]

leading to the BlockStmt:

[code]
The ModifierVisitor behaves strange at its visit(final BlockStmt n, final A arg)-Method (l. 167).

After the "modifyList(n.getStatements(), arg)" call, the first child of the BlockStmt is deleted. Only one "foo(100)" "survive

[2019-04-09 17:29] pgrepds commented on #2164
Nevermind. This seems to be fixed in 3.13.5.

[2019-04-09 17:29] #2164 closed, assigned to nobody

[2019-04-09 20:23] matozoid opened #2166 "Line comment includes the EOL character"
This was never seen as a problem, but when dealing with source code at the token level it's quite nasty.

[2019-04-10 11:45] SimonBaars opened #2167 "StackOverflowError when parsing a large project"
I try to parse the project [Stanford CoreNLP](https://github.com/stanfordnlp/CoreNLP/tree/master/src/edu/stanford/nlp) using JavaParser. I use version `3.13.6` of JavaParser. I get the following error. Why do these functions keep calling each other?

[code]

[2019-04-10 12:13] matozoid commented on #2167
Hi! What's the input code? Some strange `1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1+1` or so?

[2019-04-10 12:15] matozoid commented on #2167
Anyway: it's probably not a JavaParser bug. Just run the JVM with a bigger stack size.

[2019-04-10 19:43] matozoid opened #2169 "Range of EOF incorrect"
The `Range` of the EOF token sit right on top of the last character of the previous token. I would say it sits one position to the right of it. JavaCC bug?

[2019-04-11 10:06] villmow opened #2172 "Order of nodes in AST"
Hi, first of all very nice project! I'm currently analyzing ASTs with your tool and stumbled about the order of nodes in the AST when traversing it.

See the following java code snippet:
[code]
The parsed AST looks the following:
[code]
**Question:** Why is the methods body appearing before all other sibling nodes? When I traverse the tree depth first and preorder, I'd expect to see first the modi

[2019-04-11 10:30] matozoid commented on #2172
Hi!
There is no explicit ordering in the output formats. To walk the AST, you can use `walk` where you can specify the algorithm.

I would say that it is in the order as things are encountered in the source file, but I'm not sure that holds in all cases.

[2019-04-11 11:46] villmow commented on #2172
Thanks for your quick reply. I just saw this issue: #538 which is the functionality I want (DeepSnowNeeL's code). You mentioned that there will be a similar functionality in 3.1.0 https://github.com/javaparser/javaparser/issues/538#issuecomment-276155353 . Has there been any progress on this?

[2019-04-11 12:08] matozoid commented on #2172
You are using it, it just doesn't do what you want it to do :-)

[2019-04-11 20:56] jinho10 commented on #1239
@matozoid did you achieve this after all? I have the same goal.. but with the sourceroot, it still has list of files separately.

[2019-04-11 23:31] MarioIshac commented on #2135
Sorry that I haven't responded in a while, but upon testing with this method it seems that it returns type parameter-argument mappings for type arguments explicitly used, not implicitly. A `MethodUsage` corresponding to `this.methodWithTypeParameters("B")` would have an empty type parameters-arguments map, even if there was an inferred type argument of `String`.

Is there any way to get the implic

[2019-04-12 13:06] villadora commented on #2160
I just found some place would lead to this problem.

https://github.com/javaparser/javaparser/blob/a0a883c87b50caf3a3913f8122a3dfe0037d0292/javaparser-symbol-solver-core/src/main/java/com/github/javaparser/symbolsolver/javaparsermodel/JavaParserFacade.java#L319

here should get the lambda expression type itself rather than get its' return type after evaluated.

Take for example:

[code]

when gett

[2019-04-12 14:32] is742 commented on #2149
I've been trying to implement the first approach the past few days but unsuccessfully. This is the closest I got but it prints nothing as output:

[code]

I was hoping this would print the contents of the `then` statement so I can have something to start working on but it does not print anything. Also, I'm not sure how it is going to find the `ifs` that are in sequence which is my main problem: My

[2019-04-13 07:13] ftomassetti commented on #2135
mmm, I think so because internally we need that stuff. I do not remember how to access it and if those are exposed externally.

[2019-04-13 07:14] #2166 closed, assigned to matozoid

[2019-04-14 19:56] matozoid commented on #2167
@SimonBaars how was it resolved? Larger stack size?

[2019-04-14 20:00] matozoid commented on #1239
Hello @jinho10 - what is your end goal exactly?

[2019-04-14 20:01] matozoid commented on #2135
This is the point where we ask for help from our users, like user @TheeNinja :-)

[2019-04-14 20:03] matozoid commented on #2149
If I find some free time I can write some code.

[2019-04-15 01:40] jinho10 commented on #1239
@matozoid I am working on building an AST for the java application to find bugs from the graphs. The source root give a good enough information from each file, but I would like to construct the entire tree to see all the relations in one tree.

[2019-04-15 06:15] SimonBaars commented on #2167
This is the project on which I encountered this issue:
[stanford-corenlp.zip](https://github.com/javaparser/javaparser/files/3078643/stanford-corenlp.zip)

I'm running the script on a corpus of around 3000 projects. For now, I just decided to exclude this project. I thought, by your comment, that I had to close it.

[2019-04-15 06:28] MarioIshac commented on #2135
@ftomassetti @matozoid  In the process of building a unit test for the expected behavior, I discovered that the implicit type arguments are actually discovered in a `MethodUsage` where the implicit type arguments serve as the type of a method argument, such as in the example I provided (method `create`). I had overgeneralized the issue, the issue appears when doing things like `Stream.Builder<Stri

[2019-04-15 07:00] sazonovm opened #2173 "Special characters in annotation"
Hello!
How can i use a special characters ('{', '}', '@' etc) in addSingleMemberAnnotation() method?

`classDeclaration.addSingleMemberAnnotation("annotation", "{ @Test() }");`

Help, please.

[2019-04-15 10:10] matozoid commented on #1239
Say that you put all the `CompilationUnits` you need in a `Map<String, CompilationUnit>` where the key is the filename, what would you still miss?

[2019-04-15 10:13] matozoid commented on #2173
Hi!

Here is the answer to the general question "what does the AST for this piece of code look like": https://javaparser.org/inspecting-an-ast/

If you know this, you can construct the same thing with the constructors and setters of the nodes you need. If you feel it is too verbose, you can see if there are utility methods that can help (like `addSingleMemberAnnotation`.)

[2019-04-15 10:15] matozoid commented on #2167
Oh, it's fine. I'll reopen it because I'm curious what kind of code caused this huge stack :-)

[2019-04-15 10:48] matozoid commented on #728
I think we have enough visitors, there is no demand for new ones.

[2019-04-15 10:48] #728 closed, assigned to nobody

[2019-04-15 10:48] matozoid commented on #730
I think we have enough visitors, there is no demand for new ones.

[2019-04-15 10:48] #730 closed, assigned to nobody

[2019-04-15 10:49] matozoid commented on #2152
@malteskoruppa - is this answer okay?

[2019-04-15 11:21] rafid009 commented on #1362
is a method which changes the type of multiple variable declarations exist?

[2019-04-15 12:00] matozoid commented on #1362
Not yet, this issue is still open. It would probably become... `NodeWithVariables.setCommonType(Type type)`. It would replace the element types of all the variables with the new type - this way the array depth will be retained.

[2019-04-15 12:47] matozoid commented on #1362
... It would be good if it checked if the type needs to be replaced at all, so do an equals first.

[2019-04-15 17:03] matozoid commented on #1362
I think the expected action for setCommonType would be to erase the common array brackets. Let's call it setElementType instead so that expectation is hopefully not there.

[2019-04-15 17:22] matozoid commented on #1362
The reason that there is no "setType" is because a variable declaration does not have a type. The variables declared in the declaration have a type, and thanks to array brackets, they can all have a different type.

Aw whatever, I'll just make a simple "setAllTypes" that sets a specific type to all variables.

[2019-04-16 07:43] sazonovm commented on #2173
Hi, ty for answer!

I can't find StaticJavaParser, is it available in 3.12.0 version? JavaParser contains certain words for parsing and is not suitable for my case, cuz i cant use other words in annotation value.

I resolved my issue with next code:
`classDeclaration.addSingleMemberAnnotation("Test", "test");
   classDeclaration.getChildNodesByType(SingleMemberAnnotationExpr.class).get(typeClass.g

[2019-04-16 10:00] matozoid commented on #2173
Check https://github.com/javaparser/javaparser/blob/master/changelog.md - it was added in 3.13.0.

That's a really awful solution, but I'm happy it works for you :-) Do try to read the article I linked, it will give you a much better idea of what you're doing.

[2019-04-16 10:10] matozoid opened #2176 "Make JsonSerializer close the generator"
There are currently flushing issues.

[2019-04-16 12:08] sazonovm commented on #2173
i'm agree, that's awful, but it's working)
will try to fix it.
Thanks for help

[2019-04-16 12:37] #2173 closed, assigned to nobody

[2019-04-16 16:14] johan-sun opened #2177 "Add new semantic enhanceXxx methods for modify node more safety"
for example：

[code]
the BoxUnboxUtil  is my util class to  wrap a method call (eg: `.intValue()`) expression for exists expression .

when construct the MethodCallExpression using `left`, it  will first `setParentNode` to the MethodCallExpression.

But the `expr.setLeft(...)` will  first run `this.left.setParentNode(null)` , then update the MethodCallExpression parent node to `this` . Finally, th

[2019-04-16 16:49] matozoid commented on #2177
Hi! I'm not sure what's going on here. Parent node management is automatic when using the setters, so I don't know why you're using `setParentNode` all the time?

[2019-04-16 17:55] rdurelli opened #2178 "Generating a java file with more lines of code."
Hello, I'm parsing a Java file and creating the same Java file with same changes. However, the LOC (line of code) is changing.

For instance the following statement:
`/** length of the initial token (content-)buffer */
    private static final int INITIAL_TOKEN_LENGTH = 50;`
Will be parsed and changed to:

/**
     * length of the initial token (content-)buffer
     */
    private static final int

[2019-04-16 18:54] matozoid commented on #2178
Hi! What you're seeing is the pretty printer. If you want to keep the same formatting, try the lexical preserving printer. There's Javadoc for it, and you can check out the book.

[2019-04-16 19:02] matozoid commented on #2161
Ah, I get your point with the if statement now.

[2019-04-16 19:13] matozoid commented on #2161
Sorry for my dumb remarks in this issue, I see I've missed several more points now :-)

[2019-04-16 19:16] rdurelli commented on #2178
Many thanks for your response. However, I need to change some nodes .. that is why I have used JavaParser. Do you think lexical preserving printer can still be used in this case? Thanks in advance.

[2019-04-16 19:25] matozoid commented on #2178
Yes, that is its task :-) Give the book a read - it's short and you can get it for free if you want.

[2019-04-16 20:17] matozoid commented on #2135
If @ftomassetti can't remember, then you are the new expert, @TheeNinja :-)

[2019-04-16 21:20] matozoid commented on #2149
[code]

After `findStatesInBlock` has executed, you can find the state graph in `root`. This implementation is of course far from finished, but I think the main algorithm works.

[2019-04-17 02:30] johan-sun commented on #2177
[code]
`setParentNode(null);`is inside the setter， expression like `expr.setLeft(new MethocCallExpr(expr.getLeft(), methodName));` will cause the  `scope`  expression has null parent.

Next parse, I will `calcultiResolvedType()`, it will cause `java.lang.IllegalStateException: The node is not inserted in a CompilationUnit`

The problem is the construct of `MethocCallExpr` will automatic manage the

[2019-04-17 05:52] askary94 opened #2181 "Cannot make a static reference to the non-static method parse(File) from the type"
Hello.
I make jar file of JavaParser and I want to run example How to extract the name of all classes in a normal String from java class? in [https://tomassetti.me/getting-started-with-javaparser-analyzing-java-code-programmatically/](url)
but I conflict with error Cannot make a static reference to the non-static method parse(File) from the type? why JavaParser Class don't know Parse method `(Java

[2019-04-17 06:53] jlerbsc commented on #2161
it does not matter. Thanks for your response

[2019-04-17 06:54] askary94 commented on #2181
now I understand that problem of The method visit(ClassOrInterfaceDeclaration, Object) but why you as first argument pass JavaParser?
Please help me to change code as work correctly.

[2019-04-17 08:38] matozoid commented on #2181
Hi! The article you're looking at is three years old and very outdated. The JavaParser book has a chapter that should help you a lot better: https://leanpub.com/javaparservisited

@ftomassetti can you put some time into updating your article?

[2019-04-17 09:17] matozoid commented on #2148
Nothing happened :-( I've googled for issues but haven't found anything I could act on directly. Would you like admin access to the project?

[2019-04-17 09:54] matozoid commented on #2160
Let's start with asking @ftomassetti why the code currently works as it does. Why does the lambda resolve to `ResolvedVoidType`, not `Consumer<T>`? And will changing this break the whole world?

[2019-04-17 10:19] matozoid commented on #2177
Oh! I think I get it. In general: if you want to use a "detached" piece of the AST without affecting the original AST, `clone()` the nodes.

`expr.setLeft(new MethocCallExpr(expr.getLeft().clone(), methodName));`

In my opinion that is very straightforward.

[2019-04-17 12:19] askary94 commented on #2181
Thank you so much for your response.
Oh, Yes I will read the book.

[2019-04-17 13:25] matozoid commented on #2181
No problem, good luck! If there are more problems, feel free to ask more.

[2019-04-17 13:25] #2181 closed, assigned to nobody

[2019-04-17 14:02] EndruK opened #2182 "Deserializer Cast Problem"
Hi there,
I got a problem on deserializing JSON ASTs.

[code]
on this AST:
[code]

This is the exception which is thrown
[code]

Here are also the dependencies I am using:
[code]

The error output is not really helpful.
Am I doing something wrong? I followed the code of the tests [here](https://github.com/javaparser/javaparser/blob/master/javaparser-core-serialization/src/test/java/com/github/java

[2019-04-17 14:26] matozoid commented on #2182
Hi! Looks like a class loading problem to me - there is a mention of modules, maybe check that?

[2019-04-17 14:32] gilyerm opened #2183 "inconsistency with on getPackageDeclaration (Thread safety issue?)"
We've ran into an odd issue while using `cu.getPackageDeclaration()`  over a `CompilationUnit` we parsed a line before hand.
Our code runs over a lib (`JPCore` as well, queue INCEPTION sound) and parse every single '.java' file, after which we run through the `AST` and fish for interesting nodes according to a policy in out project.

Here's is whats weird. when running our code in a _synchronized_

[2019-04-17 15:08] matozoid commented on #2183
Oh, that's easy: a single instance of JavaParser is *absolutely not* thread safe. Don't use the same instance from two threads at once.

You can take a look at https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/utils/SourceRoot.java which has some concurrent parsing methods.

[2019-04-17 15:45] is742 commented on #2149
Thanks for putting the effort to make this example, I appreciate it. With "you can find the state graph in `root`" you mean for visualisation purposes? I was thinking to create a `printMethod` to generate something similar with my output in the previous comments.

[2019-04-17 16:03] gilyerm commented on #2183
ok cool, that help
just wondering why sourceRoot and sourceZip don't have the same palatalization features?
that is, any proper reason that sourceZip doesn't have this functionality, or just something to be implemented in the future?

[2019-04-17 16:19] quanturium commented on #2137
I'm running into the same issue. When adding a field through classOrInterface.addField() the indentation works properly. However if I add a field through classOrInterfaceDeclartion.addMembers.add(position, field) the indentation does not work. It's even worse if the field is added between other fields (breaks indentation from the following field)

This reproduces everytime on LexicalPreservingPrin

[2019-04-17 17:50] matozoid commented on #2149
You are making a graph of states. The numbers you use are the `State`s in this program. Every `State` has a list of `State`s that can follow it. If you start it in a debugger and stop it right before the end, you can inspect `root` and see what the next nodes are, and their next nodes, and their next nodes. It corresponds to the relations you describe.

If you want to print it, you start at root,

[2019-04-17 17:52] matozoid commented on #2183
I'm not aware of any reason why it can't be done. Probably nobody built it yet. Interested? :-)

[2019-04-17 17:54] matozoid commented on #2137
As a workaround you can try adding all the members you want to a new `NodeList`, then setting that on the classOrInterface. Can you say if that works?

If you or @moraispgsi can make a PR with a testcase, that would be appreciated.

[2019-04-17 18:22] moraispgsi commented on #2137
I will happily provide the test case on the weekend @matozoid.

[2019-04-17 18:58] #1362 closed, assigned to matozoid

[2019-04-17 18:58] #2176 closed, assigned to matozoid

[2019-04-17 19:45] gilyerm commented on #2183
yes please

[2019-04-18 06:24] EndruK commented on #2182
Hi,
Thank you Danny.
I figured out what was going wrong.
I used an older serialization of a Method there.

It seems that you changed a few things for some Nodes since then.

If you are curious: here the parts of diff from a new serialization compared to the AST I was using before:

- modifiers were just Attributes back then and are now Nodes:
[code]
became:
[code]

- Name annotations were removed

[2019-04-18 08:08] SimonBaars commented on #2167
So, I got some time to do some more testing on this case. It is definitely reproducible. It is caused by the file `stanford-corenlp/src/main/java/edu/stanford/nlp/process/Morpha.java` in the folder I sent you. This is a **crazy** file with super long string concatenations.

Shouldn't JavaParser try not to use recursion for string concatenation to not cause the stack to overflow?

[2019-04-18 08:23] matozoid commented on #2167
Right, problem found then :-) Increasing the JVM's stack size is the fix for this.

JavaParser could try to avoid stack overflows. They are caused by the implementation of the visitor pattern. I'm not sure I want to make the visitors more complex when a straightforward solution exists already. Is there any change you have in mind?

[2019-04-18 08:26] matozoid commented on #2182
Ah, I should have seen that :-( When using the serializer for long time storage, be sure to have a process where you deserialize and serialize everything when you upgrade JP. AST changes happen more than you'd like.

For this issue the remaining work is then to create a better error message.

[2019-04-18 08:27] matozoid commented on #2183
Go ahead :-)

[2019-04-18 08:54] matozoid commented on #2167
I just thought of an alternative: you can use the walk and find methods, those keep internal stacks.

[2019-04-18 14:32] #1299 closed, assigned to nobody

[2019-04-18 14:36] matozoid commented on #1636
#664 is the main issue.

[2019-04-18 14:36] #1636 closed, assigned to nobody

[2019-04-18 14:37] matozoid commented on #1713
@ftomassetti has this been implemented by now? :-)

[2019-04-18 14:39] matozoid commented on #1851
#1771 is the main issue now.

[2019-04-18 14:39] #1851 closed, assigned to ftomassetti

[2019-04-18 16:13] quanturium commented on #2137
@matozoid "then setting that on the classOrInterface" => How do I do that? setMembers(...) ?

I tried the following code:

[code]

The added field was not aligned properly (no indentation) unfortunately

[2019-04-18 17:00] matozoid commented on #2137
Okay, then we wait for someone to step up and fix the problem.

[2019-04-19 15:14] jlerbsc opened #2184 "IllegalStateException on Parameter.removeModifier"
Hi,
I try to remove the final modifier in this code below

    catch (final CreateException e) {
        throw new Exception(e);
    }

    Parameter param = clause.getParameter();
    param.removeModifier(Modifier.Keyword.FINAL);

But it fails with the exception

    java.lang.IllegalStateException: Cannot keep element because we reached the end of nodetext: NodeText{[ChildTextElement{e}]}. Diffe

[2019-04-19 17:46] matozoid commented on #2184
Thanks!

[2019-04-20 19:51] rdurelli commented on #2178
Hello guys,

I've tried this code:

`Pair<ParseResult<CompilationUnit>, LexicalPreservingPrinter> result =
                        LexicalPreservingPrinter.setup(ParseStart.COMPILATION_UNIT,
                                new StringProvider(compilationUnit.toString()));`
                `CompilationUnit cuNew = result.a.getResult().get();
                LexicalPreservingPrinter lpp = result.b;

[2019-04-21 16:15] matozoid commented on #2178
Hey @rdurelli - open a new issue with details on what you got and what you expected.

[2019-04-21 19:25] is742 commented on #2149
Indeed this prints exactly what I had in mind with the only addition of a `map` to count and assign a number in each state. Thus, by calling the method a second time, the `map` will help with the printing of the correct number of `nextState`s.

What I'm trying now is to add support for loops, e.g. for `WhileStmt`. For this purpose I made the following additions to the code:

Code to be parsed (cha

[2019-04-21 19:33] matozoid commented on #2149
Okay, I have to draw a line here: my support is to maintain and explain JavaParser. Developing solutions for clients is what I do at work, and that's not for free ;-)

That said, I think you want to have the following things:
(the statement before the while) -> (the statement after the while) // when the while condition is false right away
(the statement before the while) -> (the first statement i

[2019-04-21 19:47] is742 commented on #2149
Apologies for asking too many questions. You helped me understand some of the core functionalities of JavaParser. Thanks again!

[2019-04-21 19:47] #2149 closed, assigned to nobody

[2019-04-21 19:53] #2161 closed, assigned to nobody

[2019-04-21 19:54] matozoid commented on #2149
No problem, feel free to ask more :-)

[2019-04-22 16:19] jlerbsc opened #2187 "Removing 2 nodes with the same parent fail"
In this block, if we try to remove 2 methodCallExpr (log), the second fail (nothing is happening) because it seems that the parent node of the ExpressionStmt is setted to null after the first remove. NodeList.remove invokes notifyElementRemoved() and after this method is called all statements of the BlockStmt have the parent set to null.

    catch (final Exception e) {
        log.error("context"

[2019-04-22 18:08] askary94 opened #2188 "Set Annotation on specific line"
Hello
How can I set an Annotation on a particular line?

[code]
For example, I want to set up a Annotation after line 4.

[2019-04-22 18:37] is742 commented on #2149
This time I have a more concrete example of a problem rather than a question.

I added `else-if` statements to the parsing code and I get the following error (if I change from `else-if` to `if` it works fine):

[code]

I'm not sure why this occurs when the `ifs` works fine, but I tried to solve it in the following way by checking whether an `else-if` appears:

[code]

The commended out line recrea

[2019-04-22 19:43] matozoid commented on #2187
Are you on the latest version? What is the setup you are using? Please give more information!

[2019-04-22 19:45] matozoid commented on #2188
Hi! You can add an annotation to a node that you want it on. Then, depending on your setup:

- the pretty printer will print it where it thinks it is "pretty".
- the lexical preserving printer will position it according to its formatting rules.

Or maybe something else, because you did not say how you are outputting the code.

[2019-04-22 19:54] matozoid commented on #2149
Some hints:
- `.asBlockStmt()` is really a cast pretending to be an innocent method. Looks like it was called on something of the wrong type.
- to find out what types are in the AST, read this article: https://javaparser.org/inspecting-an-ast/

[2019-04-22 20:25] is742 commented on #2149
I believe I found what has caused this by inspecting the AST as you suggested, but still I'm not sure why this happens.

The `else if` statement is assigned to this type `elseStmt(Type=IfStmt)` while in later cases the `then` and `else` statements are of type `BlockStmt`.

I do not think there is an error in the parsing code. In general, the `else if` statements are assigned to `(Type=IfStmt)` eve

[2019-04-22 20:28] matozoid commented on #2149
By design the else is part of the `IfStmt` node (if that's what you're asking.) Check out the Javadoc: https://static.javadoc.io/com.github.javaparser/javaparser-core/3.13.6/com/github/javaparser/ast/stmt/IfStmt.html

[2019-04-22 20:40] jlerbsc commented on #2187
I'm using javaparser-symbol-solver-core 3.13.6 and no custom setup except i setup LexicalPreservingPrinter with compilation unit. I will try to provide you a test case.

[2019-04-22 20:56] is742 commented on #2149
Sorry, I will try to make it more understandable.

This is the AST generated by my code:

[code]
And these are the lines of code that correspond to this AST:

                "   if (x>4) {  " +
                "      x=21;  " +
                "    }  " +
                "    else if (x<4) {  " +
                "      if (x>1) {  " +
                "        x=211;  " +
                "      }

[2019-04-22 21:09] askary94 commented on #2188
Thank you very much for your answer.
 No matter how to print.
my problem was that:
 I was not concerned that annotation could not be added to the `methodExper`, but it should be added to the `methodDeclaration`.
From your comments, I noticed my mistake.
Thankyou.....

[2019-04-23 09:13] matozoid commented on #2188
Ah, I see! Good to see it works now.

[2019-04-23 09:13] #2188 closed, assigned to nobody

[2019-04-23 09:14] matozoid commented on #2187
Thanks for the test case!

[2019-04-23 09:27] matozoid commented on #2149
Try outputting the AST's for these code fragments:
`if(true)a=1;`
`if(true){a=1;}`
`if(true)a=1; else a=2;`
`if(true)a=1; else {a=2;}`
and just for fun:
`if(true);else;`

[2019-04-23 11:14] MarvinWyrich opened #2189 "Setting modifiers of a non-primitive FieldDeclaration throws UnsupportedOperationException"
When setting the modifiers of a `FieldDeclaration` and the field is of a non-primitive type, an `UnsupportedOperationException` is thrown.

[code]

- works if field is of type int, e.g. `public final static int a = 1;`
- does not work if field is of type String, e.g. `public final static String b = "2";`

In the latter case, the following error message is thrown:

[code]

`Difference.applyKeptDiff

[2019-04-23 11:26] MarvinWyrich commented on #2189
Additional info: setting modifiers in the same way as described above works for a `MethodDeclaration`, for both primitive and non-primitive return types (e.g. `public final static String a() { return "3";  }`).

[2019-04-23 18:19] v95 opened #2190 "Multiple catches and same names"
Hello,

I'm parsing a Java file using JavaParser (version 3.13.9) and encountering the following issue:

A.java contains the following code:
[code]
I get the MethodCallExpr for "logger.log" and call ".resolve()" on it to get a reference to the "log" method. When I do so, I get the following error:
UnsolvedSymbolException{context='null', name='We are unable to find the method declaration correspond

[2019-04-24 01:27] chenzhegodspeed opened #2191 "Can I use this project to analyze a whole project or directory?"
Sometimes I need to figure out call relationships or references for a target method declaration. I know I can search the target method declaration in each compilation unit, but how to get more semantic info?

[2019-04-24 08:17] matozoid opened #2192 "Resolution error when variable name equals type name"
(from @v95)

I'm parsing a Java file using JavaParser (version 3.13.9) and encountering the following issue:

B.java contains the following code:
[code]
When I get the MethodCallExpr for "ItemList.getLength()" and call ".resolve()" on it to get a reference, the following error is thrown:
UnsolvedSymbolException{context='null', name='We are unable to find the method declaration corresponding to Ite

[2019-04-24 08:19] matozoid commented on #2190
Thanks! This is an interesting case. What does @ftomassetti think?

I've split off the second issue to #2192

[2019-04-24 08:26] matozoid commented on #2191
Hi! Are you asking if the symbol solver produces more information about how it is solving things? The answer would be: no, but it is a good enhancement. But it would be a lot of work.

[2019-04-24 09:14] chenzhegodspeed commented on #2191
Yes. CompilationUnit is only AST level. I want to know something in semantic level such as call graph or definition and references of a symbol(cross file). I think these information will be more useful.

[2019-04-24 09:57] matozoid commented on #2191
@ftomassetti ?

[2019-04-24 23:13] v95 opened #2193 "Unable to resolve enum"
I came across this when I was parsing two files (A.java and AppConstant.java):

App.java:

[code]
AppConstant.java:

[code]

The code to resolve it is pretty straight forward:

[code]

I'm getting all Method Calls in `App.doStuff` and resolving them. I'm also getting the qualified signature of `App.doStuff` (which makes it `resolve` as well). The problem is, I get an `UnsolvedSymbolException` on `

[2019-04-25 00:28] MysterAitch commented on #2148
It would be rude to say not to a generous offer like that! ;)

I'm not sure how much farther I'll get with it but I'm happy to have a poke around and see if I can narrow things down at least?

[2019-04-25 01:28] chenzhegodspeed commented on #2191
For example Eclipse-JDT can provide **java mode**l and **AST**.  Eclipse use the **Java Model** to implement some features like Goto Definition, Call hierarchy and so on.  I am not sure is there a similar structure like **Java Model**.

[2019-04-25 06:06] MarioIshac commented on #2135
@matozoid @ftomassetti I'm trying to become the new expert, but based on my unit tests it seems there's many more problems than just not accounting for the return type. I'll continue trying to fix them, but I've reached a little dilemma I've been stuck at for a few hours: From `MethodCallExprContext`:

[code]

Why is there different behaviors regarding inference of type arguments based on whether

[2019-04-25 07:58] matozoid commented on #2193
Thanks! Yes, probably.

[2019-04-25 08:01] matozoid commented on #2148
Okay, I've added you as an admin. Let me know if that worked :-)

Sure, go ahead. Just don't break what's working :-)

[2019-04-25 10:55] WaterWan opened #2194 "Question about access all subclasses"
Hi! I am new to javaparser, and I am using this to help fill up the parameters in an incomplete API call.

For example:
[code]

[code]
[code]

In this example, it is obvious that the `b.methodInB()` in class A lacks parameters, when the parameter is not a primitive, the third parameter can be a B, or a BSon1, or a Bson2. Now, I can find out the incomplete call of methodInB(), I can also find out t

[2019-04-25 12:02] matozoid commented on #2194
Hi! The subclasses can be found by going through all your classes and seeing if they extend your B class.

@ftomassetti correct me if I'm wrong.

[2019-04-25 12:17] WaterWan commented on #2194
I think you are right! Thank you very much!

I was thinking that: I can find out all subclasses and then find out all objects of these subclasses and use them to fill the parameters.

However, I think out a new way:
I now know that `b.methodInB()` in class A lacks parameters, now if I can get all **accessible** arguments, such as b, x and y in main method, I can compare the type of the arguments w

[2019-04-25 12:26] jlerbsc commented on #2187
I'm not sure but it seems that in LexicalDifferenceCalculator.calculatedSyntaxModelAfterListRemoval(), JavaParser try to return a new ListNode from the current list of nodes. The add method calls own() which try to set the parent of the node (setAsParentNodeOf()) and getParentNodeForChildren() return null. So the parent of each nodes is setted to null. The method getParentNodeForChildren() returns

[2019-04-25 12:39] matozoid commented on #2187
If you manage to define what the correct approach would be, you can make a PR :-)

[2019-04-25 12:42] jlerbsc commented on #2187
it's only a suggestion... I don't know what is the correct approach.

[2019-04-25 13:03] jlerbsc commented on #2187
In class com.github.javaparser.printer.lexicalpreservation.changes.ListRemovalChange

previous

    @Override
    public Object getValue(ObservableProperty property, Node node) {
        if (property == observableProperty) {
            NodeList<Node> nodeList = new NodeList<>();
            Object currentRawValue = new NoChange().getValue(property, node);
            if (!(currentRawValue instanc

[2019-04-25 13:05] matozoid commented on #2187
Thanks! I'll give it a try tonight. Maybe you can check if it fixes your test case?

[2019-04-25 13:19] jjbr opened #2195 "Resolution of implmented/extended types falsely resolves to nested types"
Say we have three types:
- interface `pckg.A`
- class `pckg.B implements A`
- class `pckg.B.A extends B`

and we now try to resolve the type that is implemented by `B` then we would expect to get `pckg.A`. Instead we get `pckg.B.A` as the scope chosen for the resolution is the class `pckg.B` and the resolution first searches through the members of `B`, where we find the nested `pckg.B.A` with the

[2019-04-25 14:06] matozoid commented on #2195
Thanks!

[2019-04-25 14:25] jlerbsc commented on #2187
I made a PR, the issue is resolved for the test case.

[2019-04-25 15:21] jjbr commented on #2150
I've removed the fallback that was causing this issue. The fallback did not seem to be very sensible to me - why would we want to resolve an unqualified name of something if we weren't able to resolve it with its scope? On the contrary, we get incorrect resolutions, as it was the case here. The test also all pass.

Perhaps I am missing something here, though - do you have an explanation as to why

[2019-04-25 16:20] ftomassetti commented on #2190
The union type is not used much but we should find the common ancestor. The
second case seems a bug: we do not mak the local variable shadow the
typename

On Wed, 24 Apr 2019 at 10:19, Danny van Bruggen <notifications@github.com>
wrote:

--
Website at https://tomassetti.me
GitHub https://github.com/ftomassetti

[2019-04-25 19:32] #2187 closed, assigned to nobody

[2019-04-25 19:33] matozoid commented on #2187
Thanks so much!

[2019-04-25 19:34] matozoid commented on #2135
Oof, we need @ftomassetti for this.

[2019-04-25 19:36] matozoid commented on #2150
Only @ftomassetti knows!

[2019-04-26 00:56] MatejBanas opened #2198 "how can I replace comment with code"
Hello, I would like to ask if there is any functionality that would allow me to replace comment with a code, for example, after finding a specific **LineComment** it gets replaced with **MethodCallExpr**. I have tried using **.replace()** but it fails and I cant figure it out. Thank you

[code]

[2019-04-26 02:10] chenzhegodspeed commented on #2167
How can u parse a large project? @SimonBaars. I also want to parse a project  without collecting each java file and parse them manually.

[2019-04-26 04:26] SimonBaars commented on #2167
@chenzhegodspeed I'm actually working open source, so you can check out my code: [CloneRefactor](https://github.com/SimonBaars/CloneRefactor). It's for my master thesis, where I'm going to try to automatically refactor duplicated code in Java source.

It seems from your comment that you assume this is a lot of work. I simply use the following method to scan for all Java files in a project folder (

[2019-04-26 06:02] chenzhegodspeed commented on #2167
@SimonBaars Thanks for your reply. I am not sure is it enough for cross-file analysis. As I know, your code is just parse each java file separately. If I going to refactor a method name or class name.  I need also change it's references in this java file or in other java file. Is it possible for your approach?

[2019-04-26 10:55] WaterWan opened #2199 "Maybe a bug about LexicalPreservingPrinter.print"
The output of System.out.println(LexicalPreservingPrinter.print(xx)) is different from that by using
System.out.println(xx)
I write some code, to simplify the question, I use a demo.

[code]
[code]
When I use this code, the output is correct, but when I use this one, something wrong:
[code]
`b.methodInB();`will be different

[2019-04-26 11:54] SimonBaars commented on #2167
No, I don't think that is possible. That would require (a lot of) manual work I think. I am working towards that with my tool, probably if you contact me in about a month or two I'll have some code for that.

[2019-04-28 01:05] chenzhegodspeed commented on #2167
@SimonBaars Ok. I will see your CloneRefactor project. Actually, I have some experience about code static analysis. That's why I foucs on code relationship among different files.

[2019-04-28 13:16] matozoid commented on #2198
Hi! Comments are not really part of the AST, so you have to ask a comment what its associated node is, then remove it, then add something near the associated node.

[2019-04-28 13:25] matozoid commented on #2167
@SimonBaars @chenzhegodspeed - the `SourceRoot` class will take the trouble of parsing source trees off your hands.

[2019-04-28 15:12] moraispgsi opened #2203 "LexicalPreservingPrinter Difference Algorithm breaks indentation after adding identical statements."
When using the LexicalPreservingPrinter, adding a statement identical to the previous statement breaks the Difference Algorithm because it confuses it, it makes it believe that the first statement was the one that was added, as a consequence the indentation breaks.

**Will be submitting a PR for this with a test case.**

[2019-04-28 15:17] #2138 closed, assigned to nobody

[2019-04-29 10:09] matozoid commented on #2199
Hi! I'll have to take a close look at this one. They are not always identical, but yes, this might indicate a bug.

[2019-04-30 14:02] #2150 closed, assigned to nobody

[2019-04-30 19:43] mr-rajeshrathod opened #2205 "JavaSymbol Solver is not able to resolve args of simple method callexpression"
JavaParser is not able to resolve simple method call expression for me. I am trying to resolve the expression.

This is happening for some of the specific types of method call only and rest are working fine.  I have confirmed that concerned classes and jars are loaded in TypeResolver.

I am attaching sample java program that can help the team to reproduce this issue. Please look into MyTest.Java (

[2019-05-01 08:15] matozoid commented on #2205
Thanks for the report!

[2019-05-01 12:25] mr-rajeshrathod commented on #2205
Thanks @matozoid. Any idea when you have the plan to fix this?

[2019-05-01 12:45] matozoid commented on #2205
Hi @mr-rajeshrathod - I won't fix this. This part of the library is looking for a new maintainer.

[2019-05-01 18:21] matozoid opened #2206 "Move NameLogic.classifyRole to core"

[2019-05-01 21:00] MatejBanas commented on #2198
Hi, thank you for the help I will try that, if I can ask another question, how could I do the exact opposite? Meaning, how can I replace a piece of code with a comment, if I add it as a comment to a node and then remove the node, the comment gets also removed, if I add it as an orphan comment, how can I ensure that it will be placed in the correct place? Thank you.

[2019-05-02 08:06] matozoid commented on #2198
In theory you could use an orphan comment and put its (line/column) position to the place where you want it. In practice there are bugs here and sometimes these comments disappear - especially in weird locations. But it's worth a try.

If it's a very specific thing you're trying to do, you can always extend or copy the PrettyPrintVisitor and add what you want to add.

[2019-05-02 11:29] matozoid commented on #2160
@ftomassetti ?

[2019-05-02 13:53] ftomassetti commented on #2160
The comment from @villadora makes sense. Hopefully fixing it should not break the whole world. Lambdas & inferred types are imho the most difficult bit of the symbol solver to get right

[2019-05-02 18:38] matozoid commented on #2206
Hmmm, that class looks buggy and seems out of place in core.

[2019-05-02 18:38] #2206 closed, assigned to nobody

[2019-05-02 18:40] matozoid commented on #2177
No more replies, assuming this is solved.

[2019-05-02 18:40] #2177 closed, assigned to nobody

[2019-05-04 14:28] MassimilianoPoggi opened #2210 "Resolution of Method References"
Hi,
  I can't find a way to resolve method references (such as System.out::println) anywhere. Is this not supported by the current version of JSS?
In the process of trying to implement something of the sort myself I've also noticed that JavaParser parses the left side of the method reference as a TypeExpr: isn't this incorrect behaviour, given that instances can be the scope of a method reference

[2019-05-04 14:49] matozoid commented on #2210
Hi! It might be related to #2160.

[2019-05-04 15:53] MysterAitch commented on #2148
Apologies for the delay. I've had a look around but I don't seem to have any additional access to the project (e.g. to look at the commit hooks) and the project doesn't appear when I login to Zenodo.

Assuming that you gave organisation access etc, I'm wondering whether the first upload needs to be done manually and then subsequent ones will be automatic, but that's just a hunch. Alternatively it

[2019-05-04 15:57] matozoid commented on #2148
Ah, github says "Awaiting MysterAitch’s response" - so I assume there's an email or so for you.

I did google this, and there are some reports that automatic releases just don't get counted. I don't give a damn about JavaParser's github release list (this one: https://github.com/javaparser/javaparser/releases ) so feel free to mess with it.

[2019-05-04 17:27] MassimilianoPoggi commented on #2210
While eventual problems in the resolution might be related to the mentioned issue, the problems I'm outlining in this issue are unrelated:

1. the MethodReferenceExpr class does not implement Resolvable at all
2. JavaParser is incorrectly parsing method references by automatically assuming the left side of the expression to be a TypeExpr, while it should be possible to also parse it as a NameExpr/

[2019-05-04 17:28] matozoid commented on #2210
Sorry, I didn't mean to close it!

[2019-05-04 17:32] MysterAitch commented on #2195
Just submitted a PR that fixes this issue as described, with an additional case where `class B extends A` (rather than implements).

I've not dug deeper into this but I'm also seeing oddities with resolving the declared types of fields and I'm unsure if this is a separate issue or an extension of this one.

For example, in the code below the field `field` resolves to `implements_duplicate.A`. This

[2019-05-04 17:54] MysterAitch commented on #2148
Ah, apologies - I should keep a closer eye on my emails!

Looking at the hooks page, at the bottom is the "Recent Deliveries" section - currently is says:

The rest of the settings seem reasonable. Might this mean that the hook wasn't triggered, despite releases being created?

I'm not sure what is meant by automatic releases though? A brief search returns a result about [using the GitHub API to t

[2019-05-04 18:04] matozoid commented on #2148
Right now Github adds a release there every time I make a release with Maven. Quite unhelpful since it confuses people, but that's besides the point. That is probably an automatic release. You can also fiddle around in the releases page to make a release. I'm guessing that's manual.

[2019-05-04 20:33] MysterAitch commented on #2148
The manual release seems to have triggered the webhook, and JavaParser is now listed on Zenodo

Project (links resolve to the latest version):
- https://zenodo.org/record/2667378
- DOI: https://doi.org/10.5281/zenodo.2667378

v3.13.10 release:
- https://zenodo.org/record/2667379
- DOI: https://doi.org/10.5281/zenodo.2667379

They took a few minutes for the DOIs to become "live", but seems to resol

[2019-05-04 21:08] matozoid commented on #2148
Hey, cool that it works!

Since you seem to be overestimating the amount of time I spend on JavaParser ( ;-) ) I have a counter-suggestion: every time someone wants a DOI, I'll do a manual release. Can you document the exact process in this issue? (I assume it's "click here, type this, click there")

[2019-05-04 22:03] PELock opened #2212 "Rename local variables"
I have stumbled upon this problem. I have 2 loops

[code]
I want to rename 'item' in one loop to item_1 and item_2 in the other loop and all their references, right now I was doing it like this:

1. enumerate all methods
2. enumerate all blocks within those methods
3. enumerate all VariableDeclarator within those blocks
4. gather all declarations and variables names with each block hash
5. rename

[2019-05-05 04:08] MysterAitch commented on #2148
Possibly, though in reality I suspect I'm showing my naivety as to how things actually get packaged, released, and then uploaded to Maven Central ;)

In terms of creating a release, you're right that it's click a link fill in a form and click submit. It can literally be a 10-30 second thing to do if just doing a tag name and I think an optional title!

_For clarity, creating a new record on Zenodo

[2019-05-05 18:16] #2195 closed, assigned to nobody

[2019-05-05 18:32] #1520 closed, assigned to matozoid

[2019-05-06 10:36] aditi9292 opened #2213 "Unable to Compiler JavaParser"
While compiling Javaparser using the command

I get the following error:
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M1:test (default-test) on project javaparser-core-testing: There are test failures.
[ERROR]
[ERROR] Please refer to G:\Aditi New\Software Setups\javaparser-master\javaparser-master\javaparser-core-testing\target\surefire-reports for the indivi

[2019-05-06 11:39] MysterAitch commented on #2213
How did you download the project, and what are you hoping to do with it?

It looks like master builds fine according to the badge on the front page and the CI results of the latest few commits?

Perhaps you could share the test results and/or details of which tests are failing?

Edit: I tried cloning and building the project - the first time around I had the same issue as above, but oddly haven't

[2019-05-06 13:03] matozoid commented on #2212
Spoon is a good library that you can use. They may have this kind of stuff built in.

The question seems to be... "when a variable is declared in the `for` itself, like `for(int i: array)`, how can I detect this so I can create a new scope for it?" Is that correct? Scopes would be the areas where a variable name is valid and means the same thing, so in your example we would have two scopes.

[2019-05-06 14:08] jlerbsc commented on #2184
Here a test case

    AnnotationExpr suppressWarning = new SingleMemberAnnotationExpr(new Name("SuppressWarnings"),
    			new StringLiteralExpr("squid:S1166"));

    	String sample =
    			"try { /* nothing */ } \n" +
    			"catch (final Exception e) { \n" +
    			"   System.out.println(\"This is an exception\"); \n" +
    			"}";

    	TryStmt stmt = TestParser.parseStatement(sample).asTryStm

[2019-05-06 14:20] matozoid commented on #2184
Do you have an idea how this should be solved?

[2019-05-06 14:58] jlerbsc commented on #2184
Sorry, I have no idea otherwise I would have tried something. The issue seems to be in the generated code (this isn't LexicalPreservingPrinter issue) because after the parsing (TryStmt stmt = TestParser.parseStatement(sample).asTryStmt();), the parameter node of the CatchClause has a range (line 2,col 14)-(line 2,col 24) and tokenRange (Exception e) and the modifier node has a range (line 2,col 8)

[2019-05-06 17:59] matozoid commented on #2184
[code]

[code]

[2019-05-06 18:01] matozoid commented on #2184
Hmmm, you're right.

[2019-05-06 18:10] matozoid commented on #2184
Can you check if the code in #2214 works for you? It changes the ranges as follows:
[code]

[2019-05-06 19:55] jlerbsc commented on #2184
Excellent. it works. Thanks.

[2019-05-06 20:23] matozoid commented on #2184
Nice! Thanks for finding the cause :-) This will be in Sunday's release.

[2019-05-06 20:52] #2184 closed, assigned to nobody

[2019-05-07 05:29] jlerbsc commented on #2184
I'm working with javaparser. It's a great app. it's my small contribution to your project ;-)

[2019-05-08 01:23] chenzhegodspeed opened #2215 "How to parse jsp file for getting a whole document object?"

[2019-05-08 09:38] matozoid commented on #2215
Hi! You need a JSP parser. Try googling. When the JSP parser gives you Java fragments, you can try parsing those with JavaParser.

(JSP is translated to Java source on the server. That could be parsed by JavaParser.)

[2019-05-08 13:46] edefazio commented on #1809
Is this related to why annotations are "lost" if they are applied to ObjectCreationExprs?

i.e. if we have a TYPE_USE annotation:

[code]
...and we parse:
[code]

the output is:
`"N n = new N();"` //missing Test annotation

Note: I've tested the other "weird" uses of TYPE_USE & TYPE_PARAMETER annotations with JP and these work fine:

[code]

Other examples of weird Type Use / Type Parameter annota

[2019-05-08 13:48] matozoid commented on #1809
Thanks! That seems to be more of a printer issue though. Can you move it to a separate issue?

[2019-05-08 13:51] matozoid opened #2216 "Check if these annotation locations are supported"
https://dzone.com/articles/java-8-type-annotations (as suggested by @edefazio)

[2019-05-08 13:51] edefazio commented on #1809
sure, hey thanks for being so prompt! (btw this tool is great)

[2019-05-08 14:12] edefazio opened #2217 "ObjectCreationExpr doesn't capture TYPE_USE annotations"
i.e. if we have a TYPE_USE annotation:
[code]

can be applied to on the creation of an Object, i.e.:
[code]

In JavaParser (as of version 3.13.10)
if we parse:
[code]

the output is:
"N n = new N();" //missing @Test annotation

here's a quick test to verify what I found... it doesn't appear to JUST be a print problem:

[code]

[2019-05-08 14:19] matozoid commented on #2217
Thanks! This will be fixed ASAP.

(Note that Java*Parser* doesn't know what kind of annotation it is, so it has some standard rules for which node they end up on. See here for example: https://static.javadoc.io/com.github.javaparser/javaparser-core/3.14.0/com/github/javaparser/ast/body/MethodDeclaration.html )

[2019-05-08 14:20] matozoid commented on #1809
And thank you too from me and the other 108 contributors :-)

[2019-05-08 18:31] matozoid commented on #1809
Well, it's surprising to find a bug in the grammar nowadays, but that's what it was. And of course you were right and the issues were connected :-)

[2019-05-08 18:32] matozoid commented on #2217
"matozoid added Bug report Grammar labels 3 hours from now"

I think github is having a time issue.....

[2019-05-09 03:13] Symbolk commented on #2005
I restore the original indentation with the begin column of Range, which is available for most nodes.

[2019-05-09 07:17] kartikpatodi opened #2219 "getting meta information on chainned calls?"
Hi, I want to parse through a chained expression like

someObj
 .getSomeOtherObjList()
 .get(idx)
 .setSomeProperty("string")

is there a way to get the detailed information regarding this expression (possibly with types) ?

[2019-05-09 07:18] kartikpatodi commented on #2219
@matozoid
@ftomassetti ?

[2019-05-09 07:54] matozoid commented on #2219
Hi!

The parser will give you the structure of the chain. The symbol solver will give you types.

Go read through https://javaparser.org/ and the book if you haven't done so.

[2019-05-09 08:22] kartikpatodi commented on #2219
I tried the example from the book and wrote this vistor adapter

 private static class ExpressionPrinter extends VoidVisitorAdapter<List<String>> {
        @Override
        public void visit(ExpressionStmt expr, List<String> collector) {
            super.visit(expr, collector);
            System.out.println(expr)
        }
    }

This provides me with a list od strings so I will get the express

[2019-05-09 08:29] Symbolk commented on #1203
JavaParser.getStaticConfiguration().setAttributeComments(false);

[2019-05-09 09:29] matozoid commented on #2219
Please read https://javaparser.org/inspecting-an-ast/ - it will give you the knowledge to analyse how the AST you have is constructed. You can use it on `ExpressionStmt` for example. Once you know how a method call chain is represented in an AST, you can read some of the Javadoc of the specific nodes. Here is the Javadoc for https://static.javadoc.io/com.github.javaparser/javaparser-core/3.14.0/co

[2019-05-09 19:53] edefazio commented on #1809
hey thanks again... I follow the talk on Gitter and you guys don't get enough love, but you deserve it

TBH I found the "bug" whilst trying to break my code which heavily uses JP, _(so I'm trying every odd corner case and crazy thing Java devs can do)..._ I've sometimes found (what I thought were bugs) in JP and they **turned out to be a bug my code**, so I try to be careful and not waste everyone

[2019-05-10 08:00] ghost opened #2220 "How to insert a new line code using javaparser"
Hi all, I'm new to javaparser and have a few questions want to ask.
Here is my sample code:

[code]

My question is how can I insert some code in a special line?
For example I want to insert

```System.out.println("Hello World")```

into each switch case statement like below

[code]

Which API should I call or what should I do. Thanks anyone who could help me.

[2019-05-10 08:05] ghost commented on #2198
@matozoid  @MatejBanas  Hi, I'd like to know  why when I call JavaParser. parseStatement, the Ideal always say ```non static method cannot be referenced from a static context```

[2019-05-10 08:38] ghost commented on #2220
Hi , now I could insert some code lines using addStatement() function. But the addStatement function need a String or Statement arguments.  For now, if I pass a string into addStatement, it works, but how could I generate a statement ?
[code]
The above function return a ParseResult type, how could I extract to statement type?

[2019-05-10 11:18] MatejBanas commented on #2198
Hey, I think it is because the code example that I used is using an old version of JavaParser, if you use the newest version the syntax will be different

[2019-05-11 12:09] cdelg opened #2221 "Unable to use com.github.javaparser.printer.lexicalpreservation from OSGi"
The `com.github.javaparser.printer.lexicalpreservation` and `com.github.javaparser.printer.lexicalpreservation.changes` packages are not exported, it prevents the use of `LexicalPreservingPrinter` in an OSGi context.

Is there another way to use this class?

[2019-05-12 01:59] Protryon opened #2222 "`PrettyPrinter` hangs on large statement lists"
Massive statement lists fail to generate code within a reasonable amount of time. PR incoming.

[2019-05-12 15:13] edefazio commented on #2220
This aught to do it:

[code]

[2019-05-12 15:18] edefazio commented on #2220
one caveat.... I think you might want to be on the safe side and add a clone of each statement when you add, (i.e.)

[code]
just  so (later if you perhaps change the staticStatement (add a comment, etc.) you arent adding it
to all instances

[2019-05-12 15:34] matozoid commented on #2198
@Kisen-Chin - where did you find the suggestion to write code like that? It might be an example we need to update.

(Please open a new issue next time, by the way :-) )

[2019-05-12 15:35] matozoid commented on #2221
@cdelg, please wait for today's release where I add these :-)

[2019-05-12 15:40] #2222 closed, assigned to nobody

[2019-05-12 15:42] matozoid commented on #2220
More general tips:
- read the book: https://leanpub.com/javaparservisited
- learn to inspect the AST: https://javaparser.org/inspecting-an-ast/

[2019-05-12 15:45] #2217 closed, assigned to matozoid

[2019-05-12 16:16] #2221 closed, assigned to nobody

[2019-05-12 18:08] matozoid commented on #1809
Thanks again :-) Drop all your ideas in the Gitter channel, because I have to close this issue now - it's release time!

[2019-05-12 18:09] #1809 closed, assigned to nobody

[2019-05-13 10:33] ghost opened #2225 "Why the switch is not a blockstatement"
Hi guys, now I could use the JavaParser do some basic things. But when I visit all the block statement, it seems that the switch block is not a kind of BlockStmt.

Here is my code:

[code]
When I run my code like this
[code]

The output is

[code]

It seems the switch block is not a BlockStmt?

[2019-05-13 14:43] matozoid commented on #2225
That's correct!
Here's the Javadoc for a normal switch: https://static.javadoc.io/com.github.javaparser/javaparser-core/3.14.1/com/github/javaparser/ast/stmt/SwitchStmt.html
Here it is for the new switch expression: https://static.javadoc.io/com.github.javaparser/javaparser-core/3.14.1/com/github/javaparser/ast/expr/SwitchExpr.html
... and here is how you can always find out what you are working w

[2019-05-13 14:46] edefazio commented on #2213
I just cloned and `mvn clean install` ed everything and it worked the first time for  me used:
_Apache Maven 3.6.1 (d66c9c0b3152b2e69ee9bac180bb8fcc8e6af555; 2019-04-04T15:00:29-04:00)
Maven home: C:\Program Files\Java\maven\apache-maven-3.6.1\bin\..
Java version: 11.0.3, vendor: Azul Systems, Inc., runtime: C:\Program Files\Java\zulu11.31.11-ca-jdk11.0.3-win_x64\zulu11.31.11-ca-jdk11.0.3-win_x64

[2019-05-13 20:02] matozoid commented on #2213
Okay, this is on hold until someone manages to supply more information.

[2019-05-14 08:52] matozoid opened #2227 "Make a generator for the packages in bnd.bnd"
These are often out of date for a long time, making JP only partially usable from OSGi.

[2019-05-14 10:56] sischnei commented on #990
I was about to create a new issue for exactly the same problem. In my case it's not a block comment, but a single line comment, see e.g.

[code]

I would argue that it is a bug, since it is parsed correctly by the javadoc tool, e.g. when looking a the javadoc for this particula method, you will see the correct message "A javadoc is followed by a single line comment before the method".

I'm probabl

[2019-05-14 14:12] vincentzalc opened #2228 "Difference between code and Javadoc, FieldDeclaration"
Hi,
It seems the 3.14.0 `FieldDeclaration` class does not implement `NodeWithAnnotations<FieldDeclaration>` which should allow to use `addAnnotation` according to the Javadoc.

Is it just me and it means my Maven is downloading another version and not the 3.14.0?
[code]

I am working on unit tests and trying to generate at least a part of them automatically. To be more precise I am trying to add t

[2019-05-14 14:53] matozoid commented on #990
Hey @SmiddyPence - the book is out of date :-(

[2019-05-14 14:56] matozoid commented on #990
Anyway, to come up with a solution would mean a redesign of the comment support, I think. Let us know what your approach would be and we can chat about it a bit.

[2019-05-14 15:32] matozoid commented on #2228
Hi!
- NodeWithAnnotations is there, but it's on the superclass (BodyDeclaration). addAnnotation should be there?
- Maven does not download 3.14.0 when you specify 3.14.0? How do you mean? What's happening?

[2019-05-14 15:39] vincentzalc commented on #2228
Thanks for you answer.

To be more clear:

When I am writing is

//Creating spy field for the class under test
 FieldDeclaration mainSpy = myClass.addField(cu.getPrimaryTypeName().get(), cu.getPrimaryTypeName().get() + "Spy");

mainSpy.addAnnotation => this does not autocomplete, it seems addAnnotation does not exists even though the javadoc says it should.

[2019-05-14 15:55] vincentzalc commented on #2228
Never mind,
Maybe it is my Eclipse: the autocompletion does not function but if i write it by hand itworks fine:
mainSpy.addAnnotation(new MarkerAnnotationExpr("Spy")); => ok
mainSpy.add => does not give addAnnotation as potential autocomplete, even though it gives other possibilities.
Should I close that issue, since it seems more related to my environment than to Javaparser?

Thanks

[2019-05-14 18:30] matozoid commented on #2228
Intellij has no problem with the autocomplete, so it is indeed an IDE issue :-) Maybe there's something useful in here for you: https://github.com/javaparser/javaparser/wiki/Eclipse-Project-Setup-Guide

[2019-05-15 09:57] MysterAitch commented on #990
@matozoid how about allowing nodes to have a collection of comments? Could it be this "simple", or there are gotchas with this approach?

[2019-05-15 14:48] matozoid commented on #990
It hasn't been designed that way, so you'd have to rewrite the attribution algorithm, the book, and you'd need to rewrite some printers.

A lighter impact would be to add (yet) another field that is specifically for Javadoc.

Another approach would be to detach comments from the AST completely, and have the attribution algorithm produce a `Map<Comment, Node>`. That would be a lot of work.

Maybe s

[2019-05-16 01:24] edefazio opened #2230 "get the fully qualified type/class name for a TypeDeclaration"
on the JP gitter we discussed the possibility of having a convenience method to resolve the fully qualified type name from a `TypeDeclaration`.  this will involve either manually walking the parent nodes until there are none or we reach a TopLevelClass, and then extracting the package name from the TopLevelClass's CompilationUnit.

I wrote a "quick and dirty" variant that works (for the most simpl

[2019-05-17 06:48] SimonBaars opened #2231 "Javadoc of Range.strictlyContains doesn't match its implementation"
The Javadoc for `Range.strictlyContains` is as follows:
[code]
However, the implementation does not account for the `start as other` part. the implementation is currently as follows:
[code]

However, according to the Javadoc I'd expect it to be like this:
[code]

Which one is correct: the Javadoc (which has my preference) or the implementation? I can change it via a PR, but first wanted to verify

[2019-05-17 08:36] matozoid commented on #2231
Thanks for the report! Can you check if the implementation has been changed in the past? It should behave like the very first implementation did :-)

(And this method obviously needs tests)

[2019-05-17 13:38] SimonBaars commented on #2231
I just checked; it has not been changed in the past. When you created the file 3 years ago, this was the implementation. The Javadoc was added later.

[2019-05-17 13:39] SimonBaars commented on #2231
Shall I modify the Javadoc accordingly?

[2019-05-17 16:55] matozoid commented on #2231
Hmmm. Yes please - I see there is already a `contains` which does contains and equal.

[2019-05-17 17:59] matozoid commented on #2230
Thanks!
https://docs.oracle.com/javase/specs/jls/se12/html/jls-6.html#jls-6.7 is a good chapter about fully qualified names. I see "A local class or anonymous class does not have a fully qualified name" - so that simplifies the logic a lot :-)

[2019-05-18 10:26] #2230 closed, assigned to matozoid

[2019-05-18 14:29] edefazio commented on #2198
As an alternative to using comments alone to signify some optional code change (i.e. to optionally add some logging, etc. at certain points in the code) You might use empty Java labeled statement blocks (i.e. label:{}) containing comments like so:
[code]

...then you can write a scanner to find and replace the labeled statements containing comments

[code]

I use a specific prefix for the labels,

[2019-05-18 18:28] #2231 closed, assigned to nobody

[2019-05-18 20:54] gitlui opened #2234 "How can I find all reference types within a lambda"
So I am currently trying to build a tool to check if specific dependency rules are violated. Therefore iam gathering all dependencies of a class to other classes.
This worked so far but now I am stuck with how to get all the referenced Types in a lambda.

For Example the following:
`Consumer<String> consumer = (name) -> new DDDModelClass(name).doSomething();`
or like a static method call whose ret

[2019-05-18 21:01] gitlui commented on #2234
Ok I just found out, that I can already find the Type of the
`Consumer<String> consumer1 = (name) -> staticDependencyMethod(name).doSomething();`
but the constructor call is still a problem

[2019-05-19 12:05] matozoid commented on #2234
Hi!
Here's how you find out which part of the source code ends up where in the AST: https://javaparser.org/inspecting-an-ast/
It's always recommended to read the book too, it will explain the symbol solver, which I think you will want to use after a while.

[2019-05-19 19:26] gitlui commented on #2234
Thank you very much. The printing of the AST as yml helped a lot :) I just needed to override the visitor for ClassOrInterfaceType and I got the information I needed.
I already used the symbol solver for some of the other dependencies and it works great so far and both the java parser and the symbol solver are really easy to use.
Keep up the good work and thank you for open sourcing!
I might even

[2019-05-19 19:26] #2234 closed, assigned to nobody

[2019-05-19 20:50] matozoid commented on #2234
No problem, and do contribute because this project can use some help!

[2019-05-19 21:04] max-prokofjev opened #2235 "Lexical preservation sets incorrect indent when moving method body to lambda expression"
When moving method body to lambda expression as a parameter of another method, lexical preservation assumes that curly brackets belong to that method and calculates wrong indent.

Input:
![image](https://user-images.githubusercontent.com/23365083/57988002-7b5c3d80-7a91-11e9-88c3-e85920d33d75.png)

Result:
![image](https://user-images.githubusercontent.com/23365083/57988009-a21a7400-7a91-11e9-8f83-

[2019-05-20 07:51] matozoid commented on #2235
Hi! I don't think I've seen this particular one yet.

[2019-05-21 13:01] matevzk opened #2236 "Resolution error for non-generic constructor if generic constructor declared"
Symbol Solver is not able to resolve constructor if another generic constructor is declared in class.

**Java Parser Version**: 3.14.2

If we try to resolve constructor for generic class:

[code]

with the following code

[code]
constructor is resolved to GenericClass(boolean) instead of GenericClass(java.lang.Boolean).

If constructor with generic parameter is removed then Symbol Solver resolves

[2019-05-21 13:13] matozoid commented on #2236
Is this comparable to #1827 ?

[2019-05-21 14:20] Funkschy opened #2237 "The save() Method of CompilationUnit should not hardcode its encoding"
Hey guys, I noticed something while working on a codebase which has to be encoded using ISO-8859-1. The save Function of CompilationUnit currently has no way of specifying the Charset.
[code]
Shouldn't it be possible to pass an optional Charset to this Method? Like this:

[code]
Or is there any reason for this behaviour? If you want me to, I could create a PR for this

[2019-05-21 15:26] matozoid commented on #2237
Hi! Thanks for reporting this.
Yes, there should be an option to specify it.
I'm thinking if it would be nice if Compilation.Storage would also store the charset that was used when loading the source file, because then we could do:

- if explicitly specified charset: use that charset.
- use the one that was used for loading.

No more default UTF-8!

[2019-05-21 15:27] matozoid commented on #2237
Please do make a PR, by the way!

[2019-05-21 19:44] #2237 closed, assigned to nobody

[2019-05-22 07:12] daanvdh opened #2239 "Add JavaForger to list of projects"
Hi JavaParser devs!

Thnx a lot for all the effort to create JavaParser. I started a project coupling JavaParser to a template engine to use data from parsed classes as input for templates. These templates can then be used to generate source code, tests or something else. Can you add this to the list of projects using JavaParser 3.0.0 and upwards?

[JavaForger](https://github.com/daanvdh/JavaForge

[2019-05-22 13:25] matozoid commented on #2239
Cool! There it is: https://javaparser.org/about/ (the wiki page is gone)

https://github.com/javaparser/javaparser/tree/master/javaparser-core-generators does something similar :-) It generates a lot of code in JavaParser, based on the metamodel.

There are no projects like this that I know of that are completely generic.

[2019-05-22 13:44] daanvdh commented on #2239
Thnx! Good to know someone else did not yet do the work before me ;-)

[2019-05-22 13:44] #2239 closed, assigned to nobody

[2019-05-22 20:28] malteskoruppa opened #2242 "PACKAGE_PRIVATE should be renamed to DEFAULT or NONE"
Recently, the access specifier DEFAULT was renamed to PACKAGE_PRIVATE (#851).

I would like to make the case that this is rather confusing and PACKAGE_PRIVATE should be renamed back to either DEFAULT or NONE.

The reason is that simply because an access specifier is not given does not necessarily mean that the corresponding field or method is package private. This is only the case in classes and e

[2019-05-23 08:15] matozoid commented on #2242
That's a lot of text, but all of it is useful, thank you :-)
The history:
- this method was written for the symbol solver. I can't figure out right now where it is being used because I'm at work, but maybe @ftomassetti still knows. Of course it is now part of the public API, so this is more a historic note.
- `DEFAULT` became a problem when Java 8 (?) introduced the `default` modifier. So it's not

[2019-05-23 16:08] malteskoruppa commented on #2242
Ah, yes of course, I see, so I do agree it would be really confusing to call the access specifier `DEFAULT`. :-)

Well, this is a toughie. :-)

I think I can live with all of these possibilities, but I guess my personal preference goes B > A > C, because:
C. if `getAccessSpecifier()` returns an optional of `Modifier`, I as the user have to take care of what happens when JavaParser returns somethin

[2019-05-23 17:46] matozoid commented on #2242
Okay, let's go for B, I prefer it too :-)

And maybe add an issue for `getVisibility()` (although I think that is already on the tracker somewhere)

[2019-05-24 12:29] edefazio commented on #2216
I'm working on a Test Class that contains all different kinds of Type & TypeParameter usages presented in the article.  (So far everything works!) I'll put it in here and we can decide whether we want to add it as a test.

[2019-05-24 13:46] edefazio commented on #2216
Here is the test code I created, and everything works accept for the last case (a generic constructor with a type annotations) meaning the code below IS valid Java, but JavaParser cannot parse it.

[code]

here is where it fails:

[code]

exception summary:
(line 93,col 32) Parse error. Found "@", expected one of  "enum" "exports" "module" "open" "opens" "provides" "requires" "strictfp" "to" "tran

[2019-05-24 13:58] edefazio commented on #2216
FWIW I hated writing the above code... it makes my eyes hurt, it's ugly, and I dont use the checker framework, but I guess categorize this as a "you COULD break parsing if you try really hard to do something you shouldn't do", but its certainly not a pressing issue with the grammar.

[2019-05-24 15:44] edefazio opened #2245 "Parser fails for ObjectCreationExpr when Both Generic<> & @annotation are on constructor"
Related to testing #2216 (Type and Type Parameter annotation usage): This is the only "failure" that could be found trying to exhaust all possible options.

When we try to parse the following `ObjectCreationExpr`:

[code]

it will fail with:
[code]

NOTE: with either the generic<> OR the @ type annotation the parse will pass, it seems the only situation that causes this is the presence of both typ

[2019-05-24 16:39] malteskoruppa commented on #2242
Cool, let's go for B then! :-)

As far as the `getVisibility()` method is concerned... how about calling the method `calculateVisibility()` instead? This would make it more clear that JavaParser attempts to _calculate_ something rather than just returning a field... and that it may potentially be unsuccessful.

For instance, consider this code (untested, just from the top of my head):
[code]

The

[2019-05-24 17:51] au-hao opened #2246 "Class which extends CompilationUnit loses license header"
I'd like to extend `CompilationUnit` by adding a boolean field named `isModified`.

[code]

[code]

But when I try to invoke `CustomCompliationUnit.toString`, the final method in `Node` class, the `String` result doesn't include the license header in the file but `TokenRange` is correct.

I suspect that my way of initializing constructor here is wrong, but after debugging, still have no clue.

===

[2019-05-26 18:27] matozoid commented on #2216
Funny, Intellij says this one is not allowed: `Sayable sayable = @TypeAnno @TA2 Nested::saySomething;`. "Static member qualifying type not allowed"

I'll check the other. This still needs a test suite though.

[2019-05-26 18:51] matozoid commented on #2216
See #2247

[2019-05-27 03:15] ZukGit opened #2248 "javaparser can not recongnise if else statement"
jarfile : javaparser-core-3.2.8.jar
when I try run JavaParser.parse(new File(Test.java))   , it show exception like that
[code]
Maybe  javaparser can not recongnise
[code]
=================Test.java==========
[code]

[2019-05-27 08:20] matozoid commented on #2248
Hi! That seems unlikely.

Can you upgrade your version? It's about a year old.

[2019-05-27 10:41] matozoid commented on #2242
Ahhh, yes, I didn't think the whole thing through. That method can go to the symbol solver - that thing knows the whole truth :-)

[2019-05-27 10:44] matozoid commented on #2246
It's a general issue with how comment support has been created. It is a bug though, but one of many. The current situation is impossible to maintain.

So, this is waiting for someone to refactor comment support.

[2019-05-27 14:10] matozoid opened #2249 "Change package names part 2"
Move to org.javaparser.

[2019-05-27 14:11] matozoid commented on #2249
@edefazio is picking this one up.

[2019-05-27 14:12] matozoid commented on #2249
@ftomassetti - we'll need new release rights on Sontaype then! Can you organize that?

[2019-05-27 14:22] ftomassetti commented on #2249
Ok, I will look into that

[2019-05-27 20:40] matozoid commented on #2248
Works fine here.

[2019-05-28 11:34] ghost opened #2250 "How could I know which method the block statement belongs to."
Hi guys, I'd like to know how or which API should I call to get the method/function name of a block statement.
For example:
[code]

my expect output should be like
[code]

[code]

[code]

Does anyone could help me how to get the method name of a block?

[2019-05-28 12:12] ghost opened #2251 "How could I figure out the kind of the blockstmt, a ifstmt? a switchstmt? a forstmt etc."
Hi guys, do you have any idea about how to figure out what kind of block statement ?
for example
[code]

for now, I could get all the blockstmt, but when I got the blockstmt, how could I figure out what kind of stmt it is.
Could any one help me about this? thanks a lot.

[2019-05-28 12:40] matozoid commented on #2251
Hi! Is this the same as #2250?

[2019-05-28 12:48] ghost commented on #2251
@matozoid  Hi , I'm sorry for my poor English. But I think these two questions are not the same.
I think #2250 focuses on which function calls the blockstmt. And #2251 focuses on what kind of stmt is the blockstmt.

For example:
[code]

[2019-05-28 13:30] matozoid commented on #2250
Hi!

You want to find the ancestor of the node you have which is a method declaration. You can ask it for the name. Try looking through the methods on the node you have.

This is required reading: https://javaparser.org/inspecting-an-ast/

[2019-05-28 13:32] matozoid commented on #2251
Hi! This is more or less the same as your previous question, but it looks like you just want to ask for the parent, and then ask it what type it is. You can use `instanceof`.

More required reading: https://leanpub.com/javaparservisited

[2019-05-29 19:34] edefazio commented on #2216
`Sayable sayable = @TypeAnno @TA2 Nested::saySomething;`
Truth be told, I've been using NetBeans and TBH i've been having lots of issues lately _(its constantly scanning the background)_

Anyways, I was able to successfully load the code above in a new Netbeans project, and it seemed to compile... as long as I commented out the last line:

[code]

the test passes.(i.e. Javaparser works for everyth

[2019-05-29 19:38] matozoid commented on #2216
Hey, intellij might be wrong - I've seen it mess up before :-) But your particular issue was solved in the PR I mentioned.

[2019-05-29 19:49] edefazio commented on #2216
Cool... I was able to reproduce the same issue you had in IntelliJ on the same line:

[code]

I'm using the most current Community edition of IntelliJ (it's  using a Java 8 JRE)

[2019-05-30 03:26] edefazio commented on #2191
I think I understand what you mean when you say call graphs, (we are talking Afferent and Efferent Dependencies... right?)
[Afferent and Efferent Dependencies](https://stackoverflow.com/questions/15272195/what-is-the-difference-between-afferent-couplings-and-efferent-couplings-of-a-cl)
but I'd probably need to know more information about what you mean by "semantic information",

The information yo

[2019-05-30 08:28] chenzhegodspeed commented on #2191
Yes. I need to get the information of "who calls who".  Every IDE will provide **open declaration**,  **find all references** or **call hierarchy** to user.   I know all information come from AST, but JDT provide some useful interface to obtain it easily(in Eclipse-plugin platform). That's what I need.

[2019-05-30 10:49] taxio opened #2252 "I want to use this library comfortably with Kotlin"
I want to use this library comfortably with Kotlin.
So, please add annotations.
(e.g. `@Nullable`, `@NotNull`)

[2019-05-30 12:45] jwertherf commented on #1943
Hi everybody,

I am having the same problem to solve symbols with sources that are in jar file. I am using the javaparser/symbolsolver v.3.13.3 and the problem still continues. When the program executes the ".resolve()", it yelds a UnsolvedSymbolException, even loading the sources previously using JarTypeSolver.

Does anybody already have a solution?

[2019-05-30 13:01] un0btanium commented on #1943
Well, the solution for me was to set the SymbolSolver on the ParserConfiguration and pass it on to SourceZip (or another instance that consumes ParserConfiguration). Did you set it?
`new SourceZip(Paths.get(path), new ParserConfiguration().setSymbolResolver(symbolSolver));`

[2019-05-30 13:53] jwertherf commented on #1943
Sorry, but I think that I did not understand exactly how the SourceZip works.
Well, below there is a source code snippet:

    	CombinedTypeSolver typeSolver = new CombinedTypeSolver();
    	typeSolver.add(new ReflectionTypeSolver(false));
    	typeSolver.add(new JavaParserTypeSolver(new File(SOURCE_PATH)));
	typeSolver.add(new JarTypeSolver(jarSourceFile));

    	JavaSymbolSolver symbolSolver = n

[2019-05-30 14:10] un0btanium commented on #1943
SourceZip is a class that allows you to read in all the source files from a JAR or ZIP file. I used it in my program to read in the source code. You probably use another class to help you parse the source code. So you have to provide the Configuration to that instead, not `StaticJavaParser`.

As far as I understood: The ParserConfiguration object gets passed into each Node, which then gets used by

[2019-05-30 16:20] edefazio commented on #2191
OK, got it...
if you want to do this type of functionality in eclipse,  you might want to go ahead and write this in the eclipse JDT
[Building a program with the eclipse JDT](https://www.vogella.com/tutorials/Eclipse/article.html)

So in brief... the AST created by the JavaParser is not the AST created by Eclipse JDT... (they are not common/shared codebases).  They might represent the same thing,(

[2019-05-30 17:26] vincentzalc opened #2253 "Solving class in rt.jar (JRE/JDK libraries)"
Hi,
I have a problem when I am trying to solve the type of the fields in a java file (I want the **fully** qualified name hence I need symbol solving):
apparently:
[code]

Is not enough to avoid the following problem when I have a java.util.List field: `UnsolvedSymbolException{context='null', name='List', cause='null'}` even though some other types like String are getting solved correctly.

I have

[2019-05-30 20:40] jwertherf commented on #1943
I have use the JarTypeSolver class to read source codes inside jar files. If I am not mistaken, I have worked with this class and it has worked fine - using also a static parser - but it is not working now. The code below shows the part that I need use the ".resolve()" to solve the method called to get information about its package, class, etc.

		new VoidVisitorAdapter<Object>() {
		    @Override

[2019-05-30 20:44] un0btanium commented on #1943
Are you using `JavaParser.parse(...)` on the source code you are parsing? How do you parse your code is important, because you have to provide that class the Configuration. Doesnt matter which TypeSolver you use if you put it on the wrong class/instance.

[2019-05-30 20:51] jwertherf commented on #1943
Sorry, I forgot to tell you how I call the parser in the code. See it now.

		new VoidVisitorAdapter<Object>() {
		    @Override
		    public void visit(MethodCallExpr methodCall, Object obj) {
				super.visit(methodCall, obj);
				// Identify the host class (source)
				Node node = (Node) methodCall.getParentNode().get();
				while(!(node instanceof ClassOrInterfaceDeclaration) &&
					  !(node i

[2019-05-30 20:56] un0btanium commented on #1943
Did you try `StaticJavaParser.setConfiguration(ParserConfiguration parserConfiguration)` yet? Instead of doing `getConfiguration() = `

[2019-05-30 21:06] jwertherf commented on #1943
Yes. Unfortunately it did not work.

[2019-05-30 21:26] un0btanium commented on #1943
Hm, then I have no idea. Maybe the developers can help you with this one. Maybe create a new issue since this seems to be a bit different from mine. And mine got already solved. Since then they changed some stuff, so maybe something broke along the way.

[2019-05-30 21:33] jwertherf commented on #1943
Ok, thank you very much.

[2019-05-30 21:36] un0btanium commented on #1943
No Problem :)

[2019-05-30 21:40] vincentzalc commented on #2253
It seems having a wrong src directory for the javaParserTypeSolver was making the solver life difficult.

[2019-05-30 21:40] #2253 closed, assigned to nobody

[2019-05-30 21:54] jwertherf opened #2254 "JarTypeSolver does not work"
Hello, everybody

I am having problems with the use of jarTypeSolver. Here is the code snippets:

a) To define the SymbolSolver and the ParseConfiguration:

    CombinedTypeSolver typeSolver = new CombinedTypeSolver();
    typeSolver.add(new ReflectionTypeSolver(false));
    typeSolver.add(new JavaParserTypeSolver(new File(SOURCE_PATH)));
    typeSolver.add(new JarTypeSolver(new File(sourceJarPath

[2019-05-30 22:01] jwertherf opened #2255 "Symbol solver to Java EE?"
Hello everybody,

Is there a solver for Java EE classes? Similarly that  the ReflectionTypeSolver class works for JRE

[2019-05-31 05:48] taxio commented on #2172
Hi!
Thanks for implementing this great feature!

I have a question.
What does this triple dot means?
https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/printer/YamlPrinter.java#L50

XmlPrinter does not have it.
https://github.com/javaparser/javaparser/blob/master/javaparser-core/src/main/java/com/github/javaparser/printer/XmlPrinter.java#L23-L2